<div data-sly-test="${wcmmode.edit}" class="cq-placeholder"
     data-emptytext="Configure Contact Us Form Component"></div>

<script type="text/javascript">
    $(document).ready(function () {
        initBMRCPValidation();
    });
</script>
<form id="contact-us-form" method="post" action="/bin/BMRCPcontactusemail.html"
      enctype="multipart/form-data" role="form" class="BSOContactUsForm magicForm ProForm">

    <input type="hidden" name="MID" value="7296545"/>
    <input type="hidden" name="EXTERNAL_KEY" value="Web_Form_Contact_Us_PRO" />
    <input type="hidden" name="brandName" value="procuts" />
    <input type="hidden" name="successpath" value="${properties.successpath}" />
    <input type="hidden" name="failurepath" value="${properties.failurepath}" />

    <div data-sly-resource="${@ path='contactusdropdown', resourceType='/apps/regis/common/components/content/contentSection/contactusdropdown'}"
         data-sly-unwrap></div>


    <div class="controls">
        <div class="row">

            <div data-sly-resource="${@ path='salonselector', resourceType='/apps/regis/common/components/content/contentSection/salonselectoradvanced'}"
                 data-sly-unwrap></div>

        </div>

<!--/*        <div class="row">*/-->
<!--/*            <div class="col-md-6 col-12">*/-->
<!--/*                <div class="form-group">*/-->
<!--/*                    <label for="form_need">My enquiry is related to*</label>*/-->
<!--/*                    <select id="subject" name="subject" class="form-control" required="required"*/-->
<!--/*                            data-error="Please specify a subject">*/-->
<!--/*                        <option value="compliment">Compliment</option>*/-->
<!--/*                        <option value="feedback">Guest Feedback</option>*/-->
<!--/*                        <option value="application">An existing career application</option>*/-->
<!--/*                        <option value="other">Other</option>*/-->
<!--/*                    </select>*/-->
<!--/*                    <div class="help-block with-errors"></div>*/-->
<!--/*                </div>*/-->
<!--/*            </div>*/-->
<!--/*        </div>*/-->

        <div class="row">
            <div class="col-md-6 flex-grow-1">
                <div class="form-group">
                    <label for="form_name">First name *</label>
                    <input id="firstname" type="text" name="firstname" class="form-control" placeholder=""
                           required="required" data-error="Firstname is required.">
                    <div class="help-block with-errors"></div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="lastname">Last name *</label>
                    <input id="lastname" type="text" name="lastname" class="form-control"
                           placeholder=""
                           required="required" data-error="Lastname is required.">
                    <div class="help-block with-errors"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="phonenumber">Mobile *</label>
                    <input id="phonenumber" type="tel" name="phonenumber" class="form-control" placeholder=""
                           required="required" data-error="Valid phone is required.">
                    <div class="help-block with-errors"></div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="email">Email *</label>
                    <input id="CUemail" type="email" name="email" class="form-control" placeholder=""
                           required="required" data-error="Valid email is required.">
                    <div class="help-block with-errors"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="address">Address</label>
                    <input id="address" type="text" name="address" class="form-control" placeholder=""
                           required="required" data-error="Valid address is required.">
                    <div class="help-block with-errors"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="city">City*</label>
                    <input id="city" type="text" name="city" class="form-control" placeholder=""
                           required="required" data-error="Valid email is required.">
                    <div class="help-block with-errors"></div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="state">State *</label>

                    <sly data-sly-use.util="com.regis.common.impl.salondetails.SalonDetailsPageUtil">
                        <select data-sly-list.stateName="${util.stateFullName}"
                                id="state" name="state" class="form-control"
                                required="required" data-error="Please specify your state">
                            <sly data-sly-test="${stateNameList.first}">
                                <option value="">SELECT STATE</option>
                                <option value="${stateName}">${util.stateFullName[stateName]}</option>
                            </sly>
                            <sly data-sly-test="${stateNameList.index > 0}">
                                <option value="${stateName}">${util.stateFullName[stateName]}</option>
                            </sly>
                        </select>
                    </sly>

                    <div class="help-block with-errors"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="postalcode">Zip Code*</label>
                    <input id="postalcode" type="text" name="postalcode" class="form-control" placeholder=""
                           required="required" data-error="Valid email is required.">
                    <div class="help-block with-errors"></div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="country">Country *</label>
                    <select id="country" name="country" class="form-control" required="required"
                            data-error="Please specify your need.">
                        <option value="">SELECT COUNTRY</option>
                        <option value="Canada">Canada</option>
                        <option value="US">United States</option>
                    </select>
                    <div class="help-block with-errors"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="feedback">Notes</label>
                    <textarea id="feedback" name="feedback" class="form-control"
                              placeholder="Message *" rows="3" required="required"
                              data-error="Please, leave us a message." maxlength="1000"></textarea>
                    <div class="help-block with-errors"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <button class="btn btn-sm BsoForm-But ProForm-But">Submit</button>
            </div>
        </div>
    </div>
</form>

<br/>

<script type>

</script>
