// Custom Variables override
@import "../core/custom-variables";
@import "../components/mixins";
// Accordion/Collapse
// --------------------------------------------------

#locations-accordion {
	// margin-bottom: 8ex;
	&.accordion-header-widget {
		margin-bottom: 17px;
		max-height: 100ex;
		.transition(all, 3s linear);

		&.fold-in {
			max-height: 0;
			overflow: hidden;
			.transition(all, 0s);
		}
	}
}

.accordion {
	.panel {
		background: @gray-light;
		.box-shadow(none);
		border: none;
	}
	.panel-heading {
		padding-top: 0;
		padding-bottom: 0;
		.circle-backdrop {
			&:before {
				position: relative;
				left: 4px;
				top: -8px;
				color: #424475;
			}
			padding: 9px;
			border-radius: 50%;
			background: #00ADBB;
			font-size: 2.5em;
			line-height: 0;
			position: relative;
			top: 25px;
		}

		.panel-title {
			font-family: @font-family-sans-serif;
			font-size: 1em;
			text-transform: none;
			font-weight: normal;
			font-style: italic;
			padding-top: 18px;
			padding-bottom: 18px;
			color:#fff;
		}
		a {
			color: @gray-dark;
			text-decoration: none;
			&:hover {
				.accordion-trigger {
					top: 3px;
					&.active {
						top: -6px;
					}
				}
			}
		}
		.accordion-trigger {
			.transition(all, .2s);
			position: relative;
			top: 0;
			font-size: 1.5em;
			margin-right: .5em;
			&.active {
				.rotate(180deg);
				top: -3px;
			}
		}
	}
	.panel-body {
		padding-top: 4ex;
		padding-bottom: 2ex;
		.accordion-header-widget& {
			padding-top: 3ex;
			border-top: 1px solid @gray;
		}
	}
	&.gray-acc {
		> .panel {
			background-color: transparent;
			border-bottom: 2px solid @gray;
			margin-bottom: 0;
			&.selected {
				background-color: @gray-light;
			}
		}
		.panel-heading {
			background-color: transparent;
			border-color: none;
			.panel-title {
				font-style: italic;
				padding-top: 3ex;
				padding-bottom: 3ex;
			}
			a {
				display: inline-block;
				position: relative;
				color: @gray-dark;
				text-decoration: none;
				font-style: normal;
				padding-right: 10%;
				&:hover {
					.plus-trigger {
						top: 3px;
						&.active {
							top: -6px;
						}
					}
				}
				.plus-trigger {
					.transition(all, .2s);
					position: absolute;
					top: 0;
					right: 0;
					font-size: 2em;
					margin-right: .5em;
					&.active {
						.rotate(135deg);
						font-size: 2.25em;
					}
				}
			}

		}
		.panel-body {
			padding-top: 0;
			padding-bottom: 2ex;
			p {
				padding-right: 10%;
				color: @gray;
			}
		}
	}
}


