// Custom Variables override
@import "../core/custom-variables";
@import "../components/mixins";
//
// Footer
// --------------------------------------------------

#footer {
	padding: 3em 0 4em;
	border:0 !important;
    margin-top:3em;
    @media (max-width: 767px){
		padding-bottom: 7em;
    }
	&.panel-footer {
		background-color: #231F20;
	}
}

// spacing for footer rows
.footer-block {
	margin-bottom: 0;
	p {
		color: #fff;
		//color: #231F20;
        a{
           color: #fff;
            &:hover, &:focus {
            color: #00ADBB;
            }
        }
	}
	.footer-description{
		color:#231F20;
        clear: both;
    }
	.has-error{
		.input-group {
			#email-signup{
			border-color: #a94442;
			}
        }
        p.error-msg {

            color: #a94442;
        }
    }
    .form-group{
		width: 100%;
        float: left;
    }
	.input-group {
		/*margin-top: 2ex;
		margin-bottom: 2ex;
		padding-left: 10px;*/
		padding-right: 10px;
        .input-group-btn{
            .btn{
              background-color: #424475;
              border-color: #424475;
            }
        }
		#email-signup{
			border-color: #424475;
		} 

	}

	.logo {
		@media (min-width: @screen-md-min) {
			margin-left: 15px;
			margin-top: 1ex;
		}
        &.logo-footer{
			height: auto;
        }
	}
	small {
		display: block;
		margin-top: 1ex;
		font-size: 0.95em;
		@media (max-width: @screen-sm) {
			margin-top: 12px;
		}
	}
	.small {
		display: block;
		margin-top: 1ex;
		font-size: 0.95em;
		@media (max-width: @screen-sm) {
			margin-top: 12px;
		}
	}
    .col-block{
		margin-bottom: 10px;
    }

}

.footer-nav {
	float: left;
	padding-left: .5em;
    margin-bottom: 10px;
	dd {
		font-size: .95em;
		a{
			width: 100%;
			display: inline-block;
			padding: 5px 0;
			color: #fff;
           &:hover {			
			color:#00ADBB;
		}
		}
	}
}

.footer-heading { 
	font-size: 18px;
	font-family: commuters-sans, sans-serif;
	font-weight: 600 !important;
	color: #fff !important;
	margin-bottom: .125em !important;
	margin-top: 0 !important;
	display: inline-block !important;
}

.footer-social-nav {
	margin-bottom: 10px; 
	padding: 0;
	a {
		font-size: @font-size-h3;
		color: #fff;
		margin-right: .5em;

		&:hover {
			text-decoration: none;
			color:#fff;
		}
		&:first-child {
			margin-left: -10px;
		}
        &:focus{
            text-decoration: none;
            color: #fff;
        }
        @media (max-width: @screen-xs) {
			font-size: 24px;
            margin:0.2 !important;
		}

	}
    dd{
		display:inline-block;
        margin-right: .5em;
        @media (max-width: @screen-xs) {
			margin-right:0;
            &:last-child {
				a{
					margin: 0 !important;
					margin-right: .3em !important;
                }
			}
  		 }
	}
	li{
		display:inline-block;
        margin-right: .5em;
        @media (max-width: @screen-xs) {
			margin-right:0;
            &:last-child {
				a{
					margin: 0 !important;
					margin-right: .3em !important;
                }
			}
  		 }
    }

}

.app-store-icons {
	li {
		margin-bottom: 10px;
	}
}

.copyright {
	margin-right: 5em;
}

.terms-nav {
	// color: #fff;
	color: #231F20;
    @media (max-width: 767px){
		margin-bottom: 0;
    }
	a {
		color: #fff;
		//color: #231F20;
	&:hover {
			color: #00ADBB;
		}
    &:focus {
			color: #fff;
		}

	}
	li.footer-divider{
		padding: 0;
		color: #fff;
	}
}
.socialsharingcomp, .salondetailssocialshareing{
	.footer-social-nav{
		float: right!important;
    }
}