// Custom Variables override
@import "../core/custom-variables";
@import "../components/mixins";
//
// Header
// --------------------------------------------------

#header {
	border-bottom: 1px solid #00ADBB;
	border-top: 0;
	width: 100%;
	background: #fff;
	padding-bottom: 0;
	@media (min-width: @screen-md-min) {
			position: absolute;
			top: 0;
			z-index: 8999;
		&.fixed {
			position: absolute;
			top: 0;
			z-index: 8999;
			.transition(all, 0s);
		}

         .navbar-collapse.collapse{
			text-align:center;
    	}
	}
    @media (max-width: @screen-xs-max) {
		.navbar-collapse{
			padding:0;
    	}
    }


	.header-wrapper {

		.navbar-header {

			.logo {
				min-height: 5ex;
				margin: .5ex 0;
                text-align:center;
                margin-left: 18px;
                @media (min-width: @screen-md) {
                	margin-left: 22px;
                }
				@media (max-width: @screen-sm) {
					margin: 0 0 1ex;

                    img{
						width:75%;
					}
				}

			}
			h1{
				margin-top: 0;
				margin-bottom: 5px;
                font-size: 0px;
				@media(max-width:767px) {

				}
            }
            a.sst_en_logo{
                    background: url(../../clientlibs/ss-publish-clientlibs/resources/images/SMARTSTYLE-HAIR-SALONS-BY-REGIS-LOGO-RGB-LRG-dk-gray.png) no-repeat;
                    height: 75px;
                    background-size: 100%;
                    font-size: 0;
                    display: block;
            		margin-top: 15px;
            		margin-bottom:15px;
                    font-size: 0px;
										@media(min-width: 768px){
											background-size: 95%;
										}
					//centering smarrtstyle logo
					@media (max-width: 767px) {
                        height: 25px;
                        width: 150px;
					}
					@media(min-width : 375px) and (max-width : 736px) {
						margin-left: 13%;
                        height: 25px;
					}
	            	&.franchise{
						@media (max-width: 767px) {
	                        height: 45px;
	                        width: 100%;
							background-size: 100% 100%;
						}
	                    @media(min-width : 375px) and (max-width : 736px) {
							margin-left: 0;
	                        height: 45px;
						}
	                }
            }
            a.sst_fr_logo{
                    background: url(../../clientlibs/ss-publish-clientlibs/resources/images/smartstyle-french-logo-dk-gray.png) no-repeat;
                    height: 85px;
                    background-size: 100%;
                    font-size: 0;
                    display: block;
            		margin-top: 15px;
            		margin-bottom:15px;
                    font-size: 0px;
					//centering smarrtstyle logo
					@media (max-width: 767px) {
                        height: 29px;
                        width: 150px;
					}
					@media(min-width : 375px) and (max-width : 736px) {
						margin-left: 19%;
                        height: 29px;
					}
					&.franchise{
                        @media (max-width: 767px) {
                            height: 49px;
                            width: 100%;
                            background-size: 100% 100%;
                        }
                        @media(min-width : 375px) and (max-width : 736px) {
                            margin-left: 0;
                            height: 49px;
                        }
                    }

            }
		}

	}

	.navbar-nav {
		width: 100%;
		margin-bottom: 0;
		> li {
			&:last-child {
				margin: 0;
			}
		> a {
			font-family: commuters-sans, sans-serif;
			font-size: 15px;
			font-weight: 900;
			text-transform: uppercase;
			color: #231f20;
			text-align: center;
            margin:0;
            margin-right:8px;
			padding: 0px;
			margin: 0px 21px;
			border-bottom: 2px solid transparent;
				&:hover {
					border-bottom: 2px solid #00ADBB;
					background-color: transparent;
				}
				@media (max-width: @screen-md-min) {
					padding: 10px 0.45em;
					border-bottom: none !important;
				}
				@media (min-width: 768px) and (max-width: 991px){
					margin-right: 7px;
                }
			}
		}


            li.li-navbar-4{
                margin-right:1.5em;
                &:last-child {
                    margin-right:0;
                    }
                & > a{
                    padding:6px 18px;
            		    padding-right:24px;
                }

            }
             li.li-navbar-5{
                margin:0;

                & > a{
                    padding:6px 15px;
        			    padding-right:0;
									padding-left: 0;
                }

            }
              li.li-navbar-6{
                margin:0;

               & >  a{
                    padding:6px 15px;
    				padding-right:24px;
                }

            }

            & > li:last-child {
                //margin: 0;
            }

		@media (min-width: @screen-md-min) {

			width: auto;
			margin: 0 auto;
			float: none;
    		display:inline-block;
			> li {

				&:last-child {
					margin: 0;
				}
			}
		}
	}
	.show-fav-feature{
     @media (min-width: 1023px){
            background: url(../../clientlibs/ss-publish-clientlibs/resources/images/Regis-Icons/Regis_heart.svg) no-repeat center left !important;
        padding-left: 30px !important;
        margin: 0 !important;
        //margin-left: 12px !important;
        padding-top: 5px !important;
        }
        &:hover{
            border:none !important;
            padding-bottom: 0 !important;
        }
    }
    //TAH component Css
	.provisionTNP{
    	margin-bottom:10px;
    	padding: 5px 0;
    	@media (max-width: 767px){
    		text-align: center;
        }
    	.tah-left{
			.provisionTNP-subhead{
            	@media (min-width: 768px){
	                display: table;
	                width: 100%;
	                table-layout: fixed;
            	}
            	.provisionTNP-sub{
	                @media (min-width: 768px){
	                    display: table-cell;
	                    vertical-align: middle;
	                    float: none;
	                }
            	}
        	}
    	}
        .provisionTNP-subhead{
            .provisionTNP-sub{
                a.btn-primary{
                    @media (max-width: 767px){
                        margin-top: 5px;
                    }
                    &:hover,&:focus,&:active,&.active{
		                -moz-box-shadow: none;
		                -webkit-box-shadow: none;
		                -ms-box-shadow: none;
		                -o-box-shadow: none;
		                box-shadow: none;
		            }
                }
            }
        }
	    .tah-white{
			background: #fff;
	        color: #424475;
	    }
	    .tah-arrowlink,.tah-link{
			text-decoration: underline;
	    }
        span.right-arrow{
			width: 0;
            height: 0;
            border-top:7px solid transparent;
            border-bottom: 7px solid transparent;
            border-left: 7px solid #fff;
            display: inline-block;
            position: relative;
            top: 1px;
        }
	    .tah-center{
			text-align: center;
	        p{
				margin: 0;
	            @media (min-width: 768px){
					display: inline;
	            }
	        }
	    }
	}
}


// Utility Nav = sign-in and search
.utility-wrapper {
	@media (min-width: @screen-sm-min) {
		margin-top: 1.5ex;
	}
	@media (min-width: @screen-md-min) {
		margin-top: .5ex;
	}
	.search-navbar-collapse{
		padding:0 10px;
	}
}

// Search
.search-navbar-collapse {
	.input-group {
		input {
			border-color: @brand-primary;
		}

		@media (max-width: @screen-xs-max) {
			margin-top: 1ex;
		}
	}
	.input-group-btn {
		.btn-default {
			border-color: @brand-primary;
		}
	}
}

// Account Sign-in
.account-signin {
	color: #424475;
    font-size: 13px;
	font-style: italic;
	a {
		color: #424475;
		font-size: 13px;
		font-style: italic;
		&:focus{
						outline: 5px auto -webkit-focus-ring-color;
outline-offset: -2px;
		}
        @media (max-width: @screen-sm-min) {
            padding:0 0;

        }
	}
    @media (max-width: @screen-xs-max) {
		margin-top: 1ex;

    }
	@media (min-width: @screen-sm-min) {
		margin: 1ex 0 2ex;
		float: right;
		margin-right: -15px;
        position:relative;
	}

}

//Styles for header new additions to add salons icon and texts

#header{
	@media (max-width: 767px) {
		.header-icons-text{
			font-size: 10px;
			font-family: proxima-nova, sans-serif;
			display: block;
			font-weight: 600;
		}
		button{
            .header-icons-text{
				position: relative;
                top: -6px;
            }
        }
	    .widget-locations-text.header-icons-text{
			color: #333 !important;
	    }
		.btn.navbar-toggle{
			padding-right: 0px;
			margin-right: 0px;
		}
		.widget-salon-locations
		{
			img{
				height: 17px;
			    margin-top: 13px !important;
			    margin-left: 10px;
					margin-bottom: 0px !important;
			}
		}
	}
}
