
<template data-sly-template.display="${@ model}">


<div class="row">
		<div class="product-page col-md-12 col-xs-12 hidden-xs">
			<aside class="accordion-prod-land">
				<div class="filter-txt displayNone">
					<img src="/etc/designs/regis/supercuts/images/filter.svg"
						alt="filter" />${model.filtertext}</div>
				<div class="product-container">
					<div class="product-wrap">
                    <sly data-sly-call="${display @ items=model.sectionOneItems, title=model.sectiononetitle,link=model.sectiononelink}"/>
					<sly data-sly-call="${display @ items=model.sectionTwoItems, title=model.sectiontwotitle,link=model.sectiontwotitlelink}"/>
                    <sly data-sly-call="${display @ items=model.sectionThreeItems, title=model.sectionthreetitle,link=model.sectionthreelink}"/>
                    <sly data-sly-call="${display @ items=model.sectionFourItems, title=model.sectionfourtitle,link=model.sectionfourlink}"/>
                    <sly data-sly-call="${display @ items=model.sectionFiveItems, title=model.sectionfivetitle,link=model.sectionfivelink}"/>
					</div>
				</div>
			</aside>
		</div>
		</div>


</template>


<template data-sly-template.display="${@ items,title,link}">
	<h2 class="h4"><a href="${link}.html">${title}</a></h2>
   <ul class="list-unstyled" data-sly-list.key="${items}">
      <li><a href="${key.linkurl}">${key.linktext}</a></li>
   </ul>
</template>
