<div data-sly-use.model="com.regis.common.sling.ProductSideNavModel"></div>
<sly data-sly-test="${wcmmode.edit && !properties.sectiononetitle && !properties.sectiontwotitle && !properties.sectionthreetitle && !properties.sectionthreetitle && !properties.sectionfourtitle}">
    <img src="/libs/cq/ui/resources/0.gif" class="cq-carousel-placeholder" alt="Side Navigation Component" title="Side Navigation Component" />Configure Side Navigation Component
</sly>
<sly data-sly-test.currentPath="${currentPage.path}.html"></sly>
<div class="row">
    <div class="product-page col-md-12 col-xs-12 hidden-xs">
        <aside class="accordion-prod-land">
            <div class="filter-txt displayNone"><img src="/etc/designs/regis/supercuts/images/filter.svg" alt="filter" />${model.filtertext}</div>
            <div class="product-container">
                <div class="product-wrap">
                    <sly data-sly-call="${display @ items=model.sectionOneItems, title=model.sectiononetitle,link=model.sectiononelink,currentPath=currentPath}" />
                    <sly data-sly-call="${display @ items=model.sectionTwoItems, title=model.sectiontwotitle,link=model.sectiontwotitlelink,currentPath=currentPath}" />
                    <sly data-sly-call="${display @ items=model.sectionThreeItems, title=model.sectionthreetitle,link=model.sectionthreelink,currentPath=currentPath}" />
                    <sly data-sly-call="${display @ items=model.sectionFourItems, title=model.sectionfourtitle,link=model.sectionfourlink,currentPath=currentPath}" />
                    <sly data-sly-call="${display @ items=model.sectionFiveItems, title=model.sectionfivetitle,link=model.sectionfivelink,currentPath=currentPath}" />
                </div>
            </div>
        </aside>
    </div>
    <!-- Mobile view product side nav -->
    <div class="product-page col-xs-12 visible-xs">
        <div class="dropdown product-dropdown">
            <button class="btn btn-default dropdown-toggle form-control" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><span id="dropdown-selected-value"></span></button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <sly data-sly-call="${displayMobile @ items=model.sectionOneItems, title=model.sectiononetitle,link=model.sectiononelink,currentPath=currentPath}" />
                <sly data-sly-call="${displayMobile @ items=model.sectionTwoItems, title=model.sectiontwotitle,link=model.sectiontwotitlelink,currentPath=currentPath}" />
                <sly data-sly-call="${displayMobile @ items=model.sectionThreeItems, title=model.sectionthreetitle,link=model.sectionthreelink,currentPath=currentPath}" />
                <sly data-sly-call="${displayMobile @ items=model.sectionFourItems, title=model.sectionfourtitle,link=model.sectionfourlink,currentPath=currentPath}" />
                <sly data-sly-call="${displayMobile @ items=model.sectionFiveItems, title=model.sectionfivetitle,link=model.sectionfivelink,currentPath=currentPath}" />
            </ul>
        </div>
    </div>
    <!-- Mobile view product side nav -->
</div>
<template data-sly-template.display="${@ items,title,link,currentPath}">
    <div data-sly-test="${title}" data-sly-unwrap>
        <sly data-sly-test="${currentPath == link}">
            <h2 class="h4 selected"><a href="${link}">${title}</a></h2>
        </sly>
        <sly data-sly-test="${!(currentPath == link)}">
            <h2 class="h4"><a href="${link}">${title}</a></h2>
        </sly>
        <ul class="list-unstyled" role="tablist" data-sly-list.key="${items}">
            <sly data-sly-test="${currentPath == key.linkurl}">
                <li class="selected" role="tab" tabindex="0" aria-selected="true">${key.linktext}</li>
                <input type="hidden" id="list-selected-value" value="${key.linktext}" />
            </sly>
            <sly data-sly-test="${!(currentPath == key.linkurl)}">
                <li role="presentation"><a href="${key.linkurl}" role="tab" aria-selected="false">${key.linktext}</a></li>
            </sly>
        </ul>
    </div>
</template>
<template data-sly-template.displayMobile="${@ items,title,link,currentPath}">
    <div data-sly-test="${title}" data-sly-unwrap>
        <li>
            <sly data-sly-test="${currentPath == link}">
                <span>${title}</span>
                <input type="hidden" id="list-selected-value" value="${title}" />
            </sly>
            <sly data-sly-test="${!(currentPath == link)}"> <a href="${link}">${title}</a> </sly>
            <ul class="list-unstyled" data-sly-list.key="${items}">
                <sly data-sly-test="${currentPath == key.linkurl}">
                    <li><span>${key.linktext}</span></li>
                    <input type="hidden" id="list-selected-value" value="${key.linktext}" />
                </sly>
                <sly data-sly-test="${!(currentPath == key.linkurl)}">
                    <li><a href="${key.linkurl}">${key.linktext}</a></li>
                </sly>
            </ul>
        </li>
    </div>
</template>

<script type="text/javascript">
    $(document).ready(function () {
        var urls = window.location.href;
        var indx = urls.indexOf("#");
        var anchorValue;
        if (indx > -1) {
            anchorValue = urls.substring(indx, urls.length);
            $(".product-container > .product-wrap > ul > li a").each(function () {
                var linkurl = $(this).attr("href");
                var hashsymbolindex = linkurl.indexOf("#");

                if (hashsymbolindex > -1) {
                    var paramValue = linkurl.substring(hashsymbolindex, linkurl.length);

                    if (paramValue == anchorValue) {
                        $(this).parent().addClass("selected");
                    } else {
                        $(this).parent().removeClass("selected");
                    }
                }
            });
        }

        $("select#product-browser-sidenav").change(function () {
            window.location = $(this).find("option:selected").attr("data-url");
        });

        $(".product-page .product-dropdown button #dropdown-selected-value").text($("#list-selected-value").val());
    });

    $(".product-container > .product-wrap > ul > li a").click(function () {
        $(".product-container > .product-wrap > ul > li a").each(function () {
            $(this).parent().removeClass("selected");
        });

        $(this).parent().addClass("selected");
    });
</script>
