.banner-container {
  position: relative;
  padding: 0;
}
.banner-container .banner-image img {
  width: 100%;
}
.banner-container .banner-text-section {
  position: absolute;
  top: 0;
  padding-left: 80px;
  padding-top: 100px;
}
.banner-container .banner-text-section .banner-text .banner-heading {
  width: 297px;
  height: 42px;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.2px;
  color: #ffffff;
  overflow: hidden;
}
.banner-container .banner-text-section .banner-text h3 {
  margin-top: 0;
}
.banner-container .banner-text-section .banner-text .bannerdescription {
  width: 550px;
  height: 58px;
  font-family: Roboto;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.45;
  letter-spacing: normal;
  color: #ffffff;
  overflow: hidden;
}
.banner-container .banner-text-section .banner-text .bannerdescription a {
  font-family: Roboto;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.45;
  letter-spacing: normal;
  color: #ffffff;
  text-decoration: underline;
  text-decoration-color: #9df1ff;
}
.banner-container .banner-text-section .right {
  text-align: right;
}
.banner-container .banner-text-section .banner-cta-section {
  padding-top: 30px;
}
.banner-container .banner-text-section .banner-cta-section .btn {
  color: #fff;
  background: none;
  border: 2px solid #9df1ff;
  border-radius: 0;
  padding: 12px 16px 12px 16px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.2px;
  color: #ffffff;
  width: 134px;
}
.banner-container .banner-text-section.right {
  text-align: right;
  padding-right: 80px;
  right: 0;
  padding-left: 0;
}
.banner-container .banner-text p {
  margin-bottom: 0;
}
.banner-container:hover .banner-text-section .banner-cta-section .banner-button  {
  background-color: #9df1ff;
  color: #000;
}
@media (max-width: 767px) {
  .banner-container .banner-text-section {
    padding: 33px 40px 10px 20px;
    position: initial;
    background-color: #28323a;

  }
  .banner-container .banner-text-section .banner-text .banner-heading {
    overflow: hidden;
    width: inherit;
    height: 35px;
    font-family: Roboto;
    font-size: 30px;
    letter-spacing: 0.2px;
    color: #ffffff;
  }
  .banner-container .banner-text-section .banner-text .bannerdescription {
    width: inherit;
    height: 102px;
    font-family: Roboto;
    font-size: 20px;
    line-height: 1.7;
    letter-spacing: -0.3px;
    color: #fafafa;
    overflow: hidden;
  }
  .banner-container .banner-text-section .banner-text h3 {
    margin-bottom: 10px;
  }
  .banner-container .banner-text-section .banner-cta-section {
    padding-top: 10px;
  }
  .banner-container .banner-text-section .banner-cta-section .banner-button {
    padding: 10px;
    font-size: 20px;
    background-color: rgba(40,50,58,0.6);
    width: 150px;
  }
  .banner-container .banner-text-section.right {
    padding-right: 30px;
    right: 0;
    padding-left: 20px;
  }
}
