/* .main-container {
    width: 100%;
} */

.card-container {
    /* border: 1px solid green; */
    overflow: hidden;
    background-color: white;
    padding: 30px;
}

.component-logo {
    margin-top: 10px;
    /* margin-top: 40.8px; */
    /* margin-left: 30px; */
    width: 18%;
    height: 36.5px;
    margin-bottom: 40px;
}

.description-text {
    font-family: Roboto-Regular;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.3px;
    color: #1d1d1d;
}

.link {
    text-align: left;
    display: block;
}

.franchize-link {
    margin-top: 30px;
    margin-left: 1px;
    width: 311px;
    height: 29px;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.61;
    letter-spacing: normal;
    color: #28323a;
    clear: right;
    text-decoration: underline;
    text-decoration-color: #9df1ff;
}

.bottom-section {
    display: block;
    /* margin-left: 29px; */
    margin-right: 29px;
    /* text-align: center; */
    margin-top: 20px;
}

.btn {
    /* float: left; */
    padding: 0px;
    display: inline-block;
    width: 135px;
    /* position: relative; */
}

.visit-button {
    padding: 8px 16px 8px 16px;
    border: solid 2px #9df1ff;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    background-color: white;
    margin-right: 31.5%;
    width: 135px;
    /* margin-left: 31px; */
}

.logo-section {
    float: right;
    /* position: relative; */
    /* display: block; */
    /* padding: 0px; */
}

.applestore-logo {
    display: inline;
    margin-right: 20px;
}

@media (max-width: 768px) {
    .component-logo {
        position: relative;
        margin-top: 10px;
        margin-left: 0px;
        /* width: 18%;
        height: 36.5px;
        margin-bottom: 40px; */
    }
    .description {
        margin-left: 0px;
        margin-right: 0px;
    }
    /* STYLES GO HERE */
    .description-text {
        text-align: justify;
    }
    .link {
        text-align: start;
    }
    .bottom-section {
        margin-left: auto;
        margin-right: auto;
        /* text-align: center; */
        margin-top: 20px;
        text-align: left;
    }
    .btn {
        /* float: left; */
        /* padding: 0px; */
        display: block;
        /* position: none; */
        /* margin: 0 auto; */
        text-align: left;
    }
    .visit-button {
        margin: 0px;
    }
    .logo-section {
        float: none;
        position: relative;
        display: block;
        /* padding: 0px; */
    }
    .applestore-logo {
        /* margin-left: 31.5%; */
        display: block;
        margin: 0 auto;
    }
    .applelogo {
        margin-bottom: 10px;
        margin-top: 15px;
        /* display: inline-block; */
    }
    .google-store-logo {
        /* margin-left: 2.8%; */
        margin: 0 auto;
        /* margin-top: 10px; */
        display: block;
    }
}