.Committee-container  .committe-details .chair-person-details {
  margin-bottom: 10px;
  max-height: 50px;
  overflow: hidden;
}
.Committee-container .committe-details .chair-person-details .designation {
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  color: #545454;
}
.Committee-container .committe-details .member-details .designation {
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  color: #545454;
}

.Committee-container .committe-details {
  padding: 20px 20px;
  border: solid 1px #ededed;
  background: #fff;
}
.Committee-container .committe-details h4 {
  font-family: Roboto;
  font-size: 24px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  color: #1d1d1d;
  margin: 0 0 15px 0;
}

.Committee-container .committe-details .member-details {
  margin-bottom: 10px;
  max-height: 200px;
  overflow: hidden;
}
.Committee-container .committe-details .member-details .person-details-container .person-details {

  margin-bottom: 10px;
}

.Committee-container .committe-details .person-details span {
  display: block;
}
.Committee-container .committe-details .person-details .name {
  font-family: Roboto;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  color: #1d1d1d;
}
.Committee-container .committe-details .person-details .details {
  font-family: Roboto;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  color: #545454;
}

.Committee-container .member-details-container .committe-details .cta-link {
  color: #1d1d1d;
  margin-top: 10px;
}
