.corporate-govenance-container {
  margin: 50px 20px 0;
  background-color: #9e9e9e30;
  @media (max-width: 767px) {
    margin: 0;
    padding: 0;
  }
}

.corporate-govenance-container .heading {
  padding: 20px 20px 10px;
}

.corporate-govenance-container .title-cards .container {
  padding-left: 20px;
  border: 1px solid #9e9e9ead;
  background-color: #fff;
  border-left: none;
}



.corporate-govenance-container .title-cards .container .member-details {
  width: 70%;
  float: left;
}

.corporate-govenance-container .title-cards .container .member-details h4 {
  margin-bottom: 25px;
}

.corporate-govenance-container .title-cards .container .member-details p {
  margin-bottom: 35px;
}

.corporate-govenance-container .title-cards .container .member-details a {
  color: #428bca;
  display: block;
  margin-bottom: 10px;
}

.corporate-govenance-container .title-cards .container .icon {
  width: 30%;
  float: right;
  padding: 35px 0 0 60px;
}

.corporate-govenance-container .committe-details {
  padding-left: 20px;
  border: 1px solid #9e9e9ead;
  background: #fff;
}

.corporate-govenance-container .committe-details .member-details {
  margin-bottom: 10px;
}

.corporate-govenance-container .committe-details .name span {
  display: block;
}

.corporate-govenance-container .committe-details .member-details a {
  color: #428bca;
  display: block;
}

.corporate-govenance-container .committe-details a {
  color: #428bca;
  display: block;
  margin-bottom: 10px;
}

@media (max-width:767px) {
  .corporate-govenance-container {
    margin: 0;
    padding: 0;
  }
}