.bio {
    margin: 20px 20px 90px;
    display: flex;
}
 
.bio .profile {
	background-color: #fcfcfc;   
    text-align: center;
    padding: 50px 40px 120px;
    color: black;
}
.bio .profile p {
	margin:0;
}
.bio .profile .pic {
    display: block;
	text-align: right;

}

.bio .profile .pic img {
	height: 200px;
    width: 200px;
    border-radius: 50%;
}

.bio .profile .name {
	display: block;
    font-family: Roboto;
	font-size: 28px;
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.04;
	letter-spacing: normal;
	text-align: right;
	color: #1d1d1d;	 
}

.bio .profile .designation {
	display: block;
	font-family: Roboto;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.44;
    letter-spacing: normal;
    color: #545454;
	text-align: right;
}
.bio .description {
	background-color: #fff;
	font-family: Roboto;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.75;
    letter-spacing: 0.3px;
    color: #1d1d1d;
    padding: 40px 40px;

}
.bio .description p {
	margin: 0 0 20px;
}
.bio .description p:nth-last-child(1) {
    margin-bottom: 0;
}

@media (max-width: 767px) {
	.bio {
		margin: 0;
		display: block;
	}
	.bio .profile {
        padding: 0;
	}
	.bio .profile-section {
        padding: 30px 35px;
        background-color: #fcfcfc;
	}
	.bio .profile .pic img {
		height: auto;
		width: 100%;
		border-radius: 0;
	}
	.bio .profile .name { 
		margin: 0;
		font-family: Roboto;
		font-size: 30px;
		font-weight: 500;
		font-style: normal;
		font-stretch: normal;
		line-height: normal;
		letter-spacing: 0.2px;
		color: #1d1d1d;
		text-align: left;
		padding: 30px 35px 6px;
	}
	.bio .profile .designation {
	    font-family: Roboto;
		font-size: 20px;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		line-height: 1.7;
		letter-spacing: -0.3px;
		color: #545454;
		margin: 0;
		text-align: left;
		padding: 0 44px 30px 35px;

	}
	.bio .description {
	  font-family: Roboto;
	  font-size: 18px;
	  font-weight: normal;
	  font-style: normal;
	  font-stretch: normal;
	  line-height: 1.78;
	  letter-spacing: 0.3px;
	  color: #1d1d1d;
	  padding: 30px 35px 10px;
    }

}