* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.navbar {
    background-color:white;

}
@media(max-width:767px){
    .searchmegamenu {
    background: url(../images/search.svg) no-repeat;
    box-shadow: none;
    border: 0;
    padding: 20px !important;
 margin-left: 0px !important;
    float: right !important;
    margin-right: 12px !important;
    margin-top: 1% !important;
}
    .navbar-collapse.in {
    overflow-y: visible !important;
}
    nav ul li {
    color: #fff;
    list-style: none;
    transition: 0.5s;
    padding-left: 10px;
}
    #homePage_logo a{
     background: url(../images/regis-corp-logo-color-light.svg) no-repeat;
    width: 220px !important;
    background-size: 100%;
        height:30px !important;
        margin: 0px !important;
        margin-left:15px !important;
          
}
  .navbar {
    color: #fff ;
}
.navbar-toggler.toggler-example {
  cursor: pointer;
  margin-left: 10px;
}
div#homePage_logo {
  display: inline-block;
    margin-bottom: -7px;
    margin-left: 2%;
}
.navbar-nav > li:first-child > a {
    background:none !important;

}
    .navbar-nav > li > a.nav-link {
  padding-top: 15px;
  padding-bottom: 15px;
    background: url(../images/Regiscorp_down_arrow_teal.svg)  no-repeat 97% 50%;

}
      .navbar-nav > li > a.nav-linkOn  {
  padding-top: 15px;
  padding-bottom: 15px;
    background: url(../images/Regiscorp_up_arrow_teal.svg)  no-repeat 97% 50%;

}
.navbar-nav {
  margin: 7.5px -10px;
  background: #231f20;
}
.navbar a {
  float: none !important ;
  font-size: 16px;
  color: #fff !important ;
  text-align: left !important ;
  text-decoration: none;
  padding-left: 10px;
  padding: 15px 0px;
}
.navbar div#homePage_logo  img{
  width:250px;
  height:30px;
  margin: 0px;
  margin-left: 6%;
    margin-bottom: 6%;
}
.navbar a img{
  width:230px;
  margin:10px;
}
}
.navbar a img{
  width:350px;
  margin:10px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
        height: auto;
    }
}

body {
  }
  
  * {
    margin: 0;
    padding: 0;
   font-family: AvantGarde;
    box-sizing: border-box;
  }
  
  nav {
    position: absolute;
    width: 100%;
    font-size: 16px;
   /* box-shadow: 0 0 10px rgba(0,0,0,1);*/
  }
  
  /* first stage */
  
  nav > ul {
    position: relative;
    display: flex;
    justify-content: flex-end;
    margin: 0 auto;
    padding: 0;
  }
  
  nav a {
    display: block;
    color: #fff;
    text-decoration: none;
  }
  
  nav ul li {
    color: #fff;
    list-style: none;
    transition: 0.5s;
  }
  
  nav > ul > li > a {
    padding: 15px 25px;
      margin-right: 30px;
  }
  
  nav ul > li.submenu > a:after {
  /*   position: relative;
    float: right;
    content: '';
    margin-left: 10px;
    margin-top: 8px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #fff;
    border-bottom: 5px solid transparent; */
  }
  
  nav ul > li.submenu:hover > a:after {
  /*   margin-top: 2px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid #fff; */
  }
  
  nav > ul > li:hover {
  /*   background: #4096ee; */
  }
  
  /* second stage (the mega-menu) */
  
  nav ul.megamenu {
    position: absolute;
    display: flex;
    flex-wrap: wrap; 
    width: 100%;
    top: -9999px;
    left: 0;
    padding: 40px 40px 0 40px;
    background: #231f20;
    text-align: left;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    z-index: 1;
    margin: 0 auto;
  }
  
  nav ul li:hover ul.megamenu {
    top: 100%;
  }
  
  /* third stage (child-menus in the mega-menu) */
  
  nav ul.megamenu ul {
      width:33.3%;
    margin-bottom: 40px;
    color: #fff;
    box-shadow: none;
  }
  
  nav ul.megamenu h4 {
    margin-bottom: 15px;
    text-transform: uppercase;
  }
  
  nav ul.megamenu ul li {
    display: block;
    padding:30px;
  }
  
  nav ul.megamenu ul li a {
    margin-top: 10px;
    transition: 0.5s;
    color: #fff;
  }
  
  nav ul.megamenu ul li a:hover {
    color: #4096ee;
  }
  .fa-navicon:before, .fa-reorder:before, .fa-bars:before {
    content: "\f0c9";
    font-size: 35px;
    color: #231f20;
}
.navbar a {
  float: left;
  text-align: center;
font-family: AvantGarde;
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.6px;
  color: #1d1d1d;
 
}
.navbar a:active{
    text-decoration: underline;
}
.navbar a:hover{
    text-decoration: underline;
}
.navbar a:visited{
    text-decoration: underline;
}
#homePage_logo a{
     background: url(../images/regis-corp-logo-color-light.svg) no-repeat;
    width: 350px;
    background-size: 100%;
    margin: 10px;
    height: 40px;
}
.searchmegamenu{
    background: url(../images/search.svg) no-repeat;
  box-shadow: none;
    border: 0;
    padding: 20px 25px;
        margin-top: 10px;
    margin-left: 100px;
}
@media(min-width:1024px) and (max-width:1300px){
      nav > ul > li > a {
    padding: 15px !important;
      margin-right: 0px !important;
  }
}
@media(min-width:768px) and (max-width:1024px){
    #homePage_logo a{
     background: url(../images/regis-corp-logo-color-light.svg) no-repeat;
    width: 350px;
    background-size: 63%;
    margin: 10px;
    height: 40px;
}
    nav > ul > li > a {
    padding: 10px;
    margin-right: 0px;
}
    .searchmegamenu {
    background: url(../images/search.svg) no-repeat;
    box-shadow: none;
    border: 0;
    padding: 20px 25px;
    margin-top: 10px;
    margin-left: 10px;
}
    .navbar a{
        text-align:left !important;
    }
}
input[type=search]{
    background: transparent;
    border: 1px solid #fff;
    width: 250px !important;
}
.input-group-addon{
    border: none !important;
    background: transparent;
    border-radius:0 !important;
   
}
ul.navbar-collapse.collapse.in{
  overflow-y: scroll !important;
  max-height: 300px !important;
}
nav li a.searchmegamenu ul.megamenu ul li{
  position: relative;
  left:5%;
}