.container{
	width: 100%;
	font-family: Roboto;
}
.specialOffers-container {
	margin-bottom: 20px;
  }
  .specialOffers-container .hero-image {
	position: relative;
	margin: 0px;
  }
  .specialOffers-container .hero-image img {
  }
  @media (max-width: 768px) {
	.specialOffers-container .hero-image .offers-container {
	  padding-top: 12px;
	}
	.specialOffers-container .hero-image .offers-container .details {
	  padding-top: 24px;
	  padding-bottom: 30px;
	}
  }
  @media (min-width: 768px) {
	.specialOffers-container .hero-image .offers-container {
	  position: absolute;
	  left: 60px;
	  top: 60px;
	  width: 400px;
	}
  }
  .specialOffers-container .hero-image .offers-container .title1 {
	font-size: 48px;
	color: #fff;
	font-weight: normal;
	margin-bottom: -20px;
  }
  @media (max-width: 768px) {
	.specialOffers-container .hero-image .offers-container .title1 {
	  margin: 0px;
	  padding: 0px;
	  font-size: 20px;
	  display: inline;
	  font-weight: lighter;
	}
  }
  .specialOffers-container .hero-image .offers-container .title2 {
	font-size: 48px;
	
	margin-bottom: -20px;
	color:#fff;
  }
  @media (max-width: 768px) {
	.specialOffers-container .hero-image .offers-container .title2 {
	  font-size: 20px;
	  display: inline;
	}
  }
  .specialOffers-container .hero-image .offers-container .description {
	padding: 24px 0;
  }
  .specialOffers-container .product-container {
	margin: 0px 0;
  }
  .specialOffers-container .product-container .divider {
	border-right: 3px solid #f3f3f3;
  }
  .specialOffers-container .product-container .image-container .title {
	margin: 20px 0 0;
  }
  .specialOffers-container .product-container .image-container .title .title1 {
	color: #9b6764;
	font-size: 36px;
  }
  .specialOffers-container .product-container .image-container .title .title2 {
	color: #000;
	font-size: 30px;
  }
  .specialOffers-container .product-container .image-container .description {
	margin: 36px 0;
  }
  .specialOffers-container .offers {
	padding: 25px 0;
	border: 4px solid #727173;
	border-width: 4px 0;
	text-align: center;
  }
  @media (min-width: 768px) {
	.specialOffers-container .offers {
	  width: 65%;
	  margin: auto;
	}
  }
  .specialOffers-container .offers .title {
	margin: 0;
  }
  .specialOffers-container .offers .title .title1 {
	line-height: 50px;
  }
  .specialOffers-container .offers .description {
	margin: 20px 0;
  }
  .specialOffers-container .offers-btn {
	border: 2px solid #727173;
  }
  @media (max-width: 767px) {
	.specialOffers-container .offers-btn {
	  margin-top: 12px;
	  margin-bottom: 30px;
	  width: 100%;
	}
  }
  .specialOffers-container .offers-btn:hover,
  .specialOffers-container .offers-btn:focus {
	background: none;
	box-shadow: none;
	outline: none;
  }
  @media (min-width: 768px) {
	.specialOffers-container .display-table {
	  display: table;
	  width: 100%;
	  table-layout: fixed;
	}
  }
  @media (min-width: 768px) {
	.specialOffers-container .display-table .table-cell {
	  display: table-cell;
	  vertical-align: middle;
	  float: none;
	}
  }
  .divider .offers-container.text-center {
    position:absolute;
    right:10%;
    font-size:40px;
    color:#fff;
    top:20%;
}
.title1{
	font-weight: 100;
}
.title2{
	font-weight: bold;
}
.media{
	margin-top:0px;
	position: relative;

}
.media img{
	width:100%;
}
.media .img-desc{
	background: #28323a !important;
    text-align: center;
    font-weight: 600;
    font-size: 19px;
    opacity: .9;
    letter-spacing: 2px;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: .5ex .5em;
	margin-bottom: 0;
	height:100px;
}
.media .img-desc h3{
	color: #fff;
	padding-right:50px;
}
  