.brand-try-container {
	margin-top: 200px;
	background-color: #9e9e9e30;
}

.brand-try-container .brand-links {
	padding: 30px 0 0 0;
}

.brand-try-container .brand-links .logo {
	text-align: center;
}
.brand-try-container .brand-links .logo img{
	height: 25px;
}

.brand-try-container .all-brands-link {
	text-align: center;
	padding: 15px 0;
}

.brand-try-container .all-brands-link a {
	color: #428bca;
}

@media (max-width:767px) {
	.brand-try-container .brand-links .logo {
		margin: 10px 0;
	}
}