.tori-container {
	margin-top: 100px;
	position: relative;
	padding: 0;
}
.tori-container .tori-image img{
	width: 100%;
}

.tori-container .tori-text-section .tori-text .tori-heading {
    font-family: Roboto;
    font-size: 32px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.31;
    letter-spacing: 0.7px;
    color: #ffffff;
    height: 42px;
    overflow: hidden;
}
.tori-container .tori-text-section {
	position: absolute;
	top: 0;
    padding-left: 80px;
    padding-top: 60px;
}
.tori-container .tori-text-section.right {
    text-align: right;
    padding-right: 80px;
    right: 0;
    padding-left: 0;
}
.tori-container .tori-text-section .tori-text h3 {
	margin-top: 0;
}
.tori-container .tori-text p {
   margin-bottom: 0;
}
.tori-container .tori-text-section .tori-text .tori-description {
  font-family: Roboto;
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.1px;
  color: #ffffff;
  height: 56px;
  overflow: hidden;
}
.tori-container .tori-text-section .right{ 
	text-align: right;
}
.tori-container .tori-text-section .tori-cta-section {
    padding-top: 50px;   
}
.tori-container .tori-text-section .tori-cta-section .btn {

  color: #fff;
  background: none;
  border: 2px solid #9df1ff;
  border-radius: 0;
  padding: 12px 16px 12px 16px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.2px;
  color: #ffffff;
  width: 134px;
}
.tori-container:hover .tori-text-section .tori-cta-section .tori-button{
	background-color: #9df1ff;
	color: #000;
}

@media (max-width:767px) {
.tori-container .tori-text-section {
	padding-left: 30px;
    padding-top: 30px;
    padding-right: 20px;
}
.tori-container .tori-text-section .tori-text .tori-heading  { 
	height: 89px;
    overflow: hidden;
}
.tori-container .tori-text-section .tori-text .tori-description {
	height: 88px;
    overflow: hidden;
}
.tori-container .tori-text-section .tori-text h3 {
	margin-bottom: 6px;
}
.tori-container .tori-text-section .tori-cta-section {
    padding-top: 40px;   
}
.tori-container .tori-text-section .tori-cta-section .tori-button {
    padding: 15px 17px 15px 17px;
    font-size: 20px;
    background-color: rgba(40, 50, 58, 0.6);
    width: 185px;
}
.tori-container .tori-text-section.right{ 
	padding-right: 30px;
	right: 0;
	padding-left: 20px;
}

}