.productbrowsersidenav{
	float:left;
	width:100%;
} 

.product-page{
	width:100%;
	.filter-txt{
		cursor:pointer;
		padding:10px 5px;
		color:#1e3e6e;
		font-weight:bold;
		img{
			padding-right:10px;
			margin-left:5px;
			height:25px;
			width:25px;
		}
		a{
			color:#1e3e6e;
		}
	}
	.product-wrap{
		width:100%;
		.h4, h4{
			color:#1e3e6e;
			text-transform:uppercase;
            padding-left:10px;
			a{
				color:#1e3e6e;
                padding:5px 10px 5px 10px;
				display:inline-block;
				width:100%;
				text-decoration:none;
                margin-left:-10px;
                &:hover{ 
					background-color:#F5F6F7;
				}
			}
			&.selected{
				background-color:#F5F6F8;
				border-left:5px solid #48ABE1;
			}
		}
		ul{
		  @media(max-width:767px){
				display:block !important;
            }
			li{
				width:100%;
				cursor:pointer;
				font-family:"open-sans", Helvetica, Arial, sans-serif;
				font-size:16px;
				a{
					color:#1e3e6e;
					display:inline-block;
					padding:5px 10px 5px 10px;
					width:100%;	
					text-decoration:none;
					&:hover{
						background-color:#F5F6F7;
					}
					&.selected{
						background-color:#F5F6F8;
						border-left:5px solid #48ABE1;
						padding:5px 10px 5px 5px;
						color: #1e3e6e;
					}
				}&.selected{
						background-color:#F5F6F8;
						border-left:5px solid #48ABE1;
						padding:5px 10px 5px 5px;
						color: #1e3e6e;
					}
			}
		}
	}
	/*.media-banner{
		position:relative;
		img{
			position:absolute;
			width:100%;
			
		}
		.banner-cont{
			position:relative;
			padding:10px;
			text-align:center;
			h1{
				color:#fff;
				font-size:35px;
				margin-top:0;
				.h3{
					color:#fff;
					font-weight:normal;
					display:block;
					margin:0;
					letter-spacing:2px;
				}
			}
			p{
				display:none;
			}
			.btn{
				background-color:transparent;
				border-color:#fff;
				margin-top:0;
				font-size:16px;
			}
		}
	}*/
	.media-gallery{
		margin-top:5ex;
		float:left;
		span.prod-info{
			width:100%;
			padding:0;
			float:left;
			img{
				width:100%;
			}
			p.h3{
				text-align:center;
				margin-top:5px;
			}
		}
	}
}




@media(min-width:992px){
	.product-page{
		width:100%;
		.product-wrap{
			ul{
				margin-bottom:35px;
			}
		}
		/*.media-banner{
			img{
				position:absolute;
				width:99%;
			}
			.banner-cont{
				padding:30px 120px;
				h1{
					font-size:56px;
				}
				p{
					display:block;
				}
				.btn{
					font-size:20px;
					margin-top:5ex;
				}
			}
		}*/
		.media-gallery{
			span.prod-info{
				width:48%;
				&:nth-child(2n+1){
					margin-right:1.4em;
				}
			}
		}
	}
}

@media(max-width:767px){
    .productbrowsersidenav{
		width:100%;
    }
}