// Custom Variables override
@import "../core/custom-variables";
//
.my-account-info {
    input::-webkit-input-placeholder {
        font-style: italic;
    }

    input::-moz-placeholder {
        font-style: italic;
    }

    input:-ms-input-placeholder {
        font-style: italic;
    }

    .login-informtion-title{
        font-weight:bold;
        color: #424475;
    }
    .account-summary {
        h2.divider {
            margin-bottom: 15px;
            padding-left: 0;
        }

        input[disabled] {
            background-color: #eee;
        }

        .aboutyoucomponent.section {
            margin-top: -2ex;
        }
    }
}

.my-account-info {
    .welcome-img {
        float: left;
        font-size: 72px;
        margin-right: 20px;
        margin-top: 38px;
        display: none;
        color: #424475;
        &.margin-loyalty{
            margin-top: -7px;
        }
    }

    .welcome-name {
        margin-bottom: 40px;

        p {
            margin-left: 10px;
            width: 100%;
            clear: both;
            margin-bottom: 0;
        }

        & > p:after {
            content: '';
            display: block;
            clear: both;
        }
    }

    .welcome-name:after {
        content: "";
        display: block;
        clear: both;
    }

    .welcome-msg {
        display: inline-block;
        margin-left: 15px;
        font-family: commuters-sans, sans-serif;
        font-size: 40px;
        font-weight: bold;
        float: left;
        margin-top: 8px;
        text-transform: uppercase;
    }

    .progressbar {
        overflow: hidden;
    }

    .account-summary {
        border-left: 1px solid #f1f1f1;
        padding-left: 30px;
        .flowwrapper{
        	h2{
        		color: #424475;
        	}
        }

        a {
            color: #424475;
        }

        .section-header {
            border-bottom: 2px solid #5f6167;
            width: 100%;
            margin-top: -25px;

            .update-btn-container {
                .btn {
                    margin-top: 18px;
                }
            }
        }

        .section-header:after {
            clear: both;
            content: '';
        }
    }

    .account-description {
        ul {
            padding-left: 0;

            li {
                list-style: none;
                color: @gray-dark;
                padding: 8px 8px 8px 12px;
                margin-bottom: 6px;
            }
        }
    }

    .left-hand-nav {
        padding-left: 0;
        padding-right: 30px;
    }

    li.active-nav {
        background-color: #f1f1f1;
        border-left: 3px solid #424475;
    }

    .progress-bar-component {
        margin-bottom: 30px;

        .panel-heading {
            background-color: #424475;
            padding-right: 0;
        }

        .accordion {
            .panel-heading {
                .panel-title {
                    span.title {
                        font-style: normal;
                        font-weight: 600;
                        font-family: commuters-sans, sans-serif;
                        font-size: 22px;
                        text-transform: uppercase;
                        color:  #fff;
						 @media (min-width:768px) and (max-width:992px) {
                            padding-left: 0;
                            width: 92%;
							display: inline-block;
                        }
                    }

                    span.icon-arrow-down {
                        margin-right: 0;
                        font-weight: bold;
                        color: #fff;
                    }

                    span.arrow-background {
                        background-color: #424475;
                        padding: 12px 16px;
                        margin-right: 0;
						 @media (min-width:768px) and (max-width:992px) {
                            padding: 24px 16px;
                        }
                        position: absolute;
                        right: 10px;
                        top: 0;
                        color: #fff;
                    }
                }
            }
        }
    }

    .progress-bar-content {
        background-color: #00ADBB;
        overflow: hidden;
        padding-top: 12px;
        ul {
          list-style-type: none;
          margin: 0;
          padding: 0;

        }
    }

    .progress-state {
        width: 18%;
        float: left;
        margin: 0 1%;
        text-align: center;

        span {
            border: 2px solid #424475;
            border-radius: 100%;
            background-color: #424475;
            color: #fff;
            padding: 6px 1px 9px;
            display: inline-block;
            font-size: 16px;
            margin-bottom: 6px;
        }

        p {
            font-size: 14px;
            color: #231f20;
        }
       #bday{
            p {

            }
        }

        span.icon-tick {
            padding: 8px;
            & + p{
				color:#231f20;
            }
        }

        span.icon-tick:before {
            margin-left: 0px;
            font-size: 28px;
        }

        span.icon-star {
            padding: 8px;
            color: #424475;
            background-color: #fff;
            border-radius: 100%;
            border: 2px solid #fff;
        }

        span.icon-star:before {
            margin-left: 0px;
            font-size: 28px;
        }

        span.icon-scissor-locations-1 {
            padding: 8px;
            color: #424475;
            background-color: #fff;
            border-radius: 100%;
            border: 2px solid #fff;
        }

        span.icon-scissor-locations-1:before {
            margin-left: 0px;
            font-size: 28px;
        }

        span.icon-mail {
            padding: 8px;
            color: #424475;
            background-color: #fff;
            border-radius: 100%;
            border: 2px solid #fff;
        }

        span.icon-mail:before {
            margin-left: 0px;
            font-size: 28px;
        }

        span:before {
            margin-left: 15px;
            font-size: 35px;
        }
        span.icon-user-birthday {
            padding: 8px;
            border-radius: 100%;
            border: 2px solid #fff;
            background: #fff url("../../clientlibs/ss-publish-clientlibs/resources/images/birthdayicon-blue.svg") no-repeat;
            background-position: 50% 50%;
            background-size: 28px 28px;
            height: 42px;
            width: 42px;
        }
    }

    .progress-state.progress-state-custom-width {
        width: 23%;
    }

    .account-summary-added-salons {
        .locations {
            width: 100%;
        }

        .preferrd-salon-btns-container {
            padding: 0;

            .btn {
                min-width: 143px;
                margin-right: 15px;
            }
        }

        .map-directions {
            .check-in {
                .location-details {
                    .vcard {
                        span.telephone {
                            margin: 0;
                        }
                    }
                }

                span.location-index {
                    display: none;
                }

                span {
                    padding: 0;
                }
            }
        }

        h4:before {
            content: "\e627";
        }
    }

    .show-more-container {
        .gm-style-iw {
            margin: 0 -24px;
        }

        .map-directions {
            .check-in {
                width: 300px;
            }
        }
    }

    .modal {
        z-index: 9000;

        .show-more-container {
            .map-directions {
                .check-in {
                    width: 252px;
                    margin-right:20px;
                    &:nth-child(4n+1){
						clear:none;
                    }
                }
            }
        }

        .modal-body {
            background-color: #F2F2F2;
            padding-top: 0;
            padding-bottom: 0;
            .salonselectoradvanced{
                .vcard{
					width:88% !important;
                }
            }
        }
    }

    .account-component {
        border-bottom: 2px solid #5f6167;
        padding: 20px 0 15px 0;
        .h4{
			color: #424475;
        }
        & > div {
            padding: 10px 0;
            padding-left: 40px;
        }

        & > div.btn {
            padding: 5px .5em;
            margin-left: 40px;
            float: left;
        }
        &.account-summary-added-salons{
            .locations{
                .check-in{
                    label{
                        display:none;
                    }
                }
            }
            .modal{
				.locations{
                    .check-in{
                        label{
                            display:block;
                        }
                    }
                }
            }
        }
    }

    .h2 {
        padding-left: 20px;
        color: #424475;
        @media(max-width:767px){
          font-size:20px;
      }
    }

    h4:before {
        font-family: icomoon;
        margin-right: 10px;
        padding: 5px;
    }

    .email-and-newsletter-container {
        h4:before {
            content: "\e605";
        }

        h4 {
            + div {
                padding-top: 20px;
                padding-bottom: 10px;
            }
        }

        .subscription-message {
            padding-bottom: 20px;
        }

        .right-col {
            width: 85%;
        }
    }

    .my-prefered-services {
        h4:before {
            content: "\e61e";
        }

        .prefered-services-checkbox-container {
            padding-bottom: 20px;
            .left-col.prefered-service-checkbox{
                /* Css exclusively for checkboxes in positionandexperience component*/
                input[type=checkbox].css-checkbox + span.css-label,input[type=radio].css-checkbox + span.css-label {
                  padding-left: 26px;
                  padding-bottom: 26px;
                  vertical-align: middle;
                  height: 26px;
                  border: 1px solid #ccc;
                  display: inline-block;
                  line-height: 32px;
                  background-repeat: no-repeat;
                  background-position: 0 0;
                  font-size: 16px;
                  width: auto;
                  cursor: pointer;
                  background-size: 100%;
                    margin-bottom: 5px;
                }
                input[type=checkbox].css-checkbox:checked + span.css-label,input[type=radio].css-checkbox:checked + span.css-label {
                  background-image: url('../../clientlibs/ss-publish-clientlibs/resources/images/checkbox-aqua.png');
                }
                input[type=checkbox].css-checkbox:disabled + span.css-label,input[type=radio][disabled].css-checkbox:disabled + span.css-label {
                  background-image: url('../../clientlibs/ss-publish-clientlibs/resources/images/checkbox-disabled-aqua.png');
                  border: none;
                }
                span.css-label {
                  background-image: url('../../clientlibs/ss-publish-clientlibs/resources/images/checkbox-unchecked.png');
                  -webkit-touch-callout: none;
                  -webkit-user-select: none;
                  -khtml-user-select: none;
                  -moz-user-select: none;
                  -ms-user-select: none;
                  user-select: none;
                }

                span.css-label+label{
                    width: 86%;
                }
                input[type=radio].css-checkbox+span.css-label+label, input[type=radio].css-checkbox+span.css-label+span{
                    width: auto;
                    padding-left:10px
                }
                .prefered-service-label{
                    margin-right: 30px;
                    padding-left: 10px;
                }
            }
			@media(max-width:768px){
				.left-col{
					width:100%;
				}
			}
        }
    }

    .prefered-services-checkbox-container:after {
        clear: both;
        content: '';
        display: block;
    }

    .my-guests {
        .guest-details {
            border-bottom: 1px solid #5f6167;
            padding-bottom: 10px;
            margin-bottom: 15px;
        }

        .prefered-services-checkbox-container {
            padding-bottom: 10px;
        }

        h4:before {
            content: "\e621";
        }

        .guest-form {
            .form-group {
                padding-left: 0;
            }
        }
        p.guest-error.success-msg{
			float:left;
            margin:10px 0 10px 7px;
        }
    }

    .prefered-services-checkbox-container {
        label {
            + label, + span {
                margin-right: 30px;
            }
        }
    }

    .loyalty-program {
        h4:before {
            content: "\e629";
        }

        .show-more-container-loyalty {
            .right-col {
                width: 85%;
            }
        }

        .learn-more-loyalty {
            padding-bottom: 20px;
        }

        .right-col img{
            max-width: 245px;
        }

    }

    .right-col {
        padding-left: 16px;

        .title {
            padding: 0;
            font-weight: bold;
            font-size: 16px;
            margin-bottom: 0;
            text-align: left;
        }

        .description {
            font-size: 14px;
        }

        .reminder-details {
            overflow: hidden;
            margin-top: 16px;

            select {
                width: 150px;
            }

            .occurs {
                margin-right: 22px;
            }
        }
    }

    label.css-label + label, label.css-label + span {
        width: auto;
        padding-left: 10px;
    }

    .show-more-container.account-component {
        .map-directions {
            .check-in {
                margin-left: 0;
                margin-bottom: 0;
            }
        }

        .modal {
            .map-directions {
                .check-in {
                    margin-bottom: inherit;
                       @media(max-width:768px){
                        margin-bottom: 10px;
                    }
                }
            }
        }
    }

    .mypreferredsalon {
        .salon-type-condition-container {
            display: none !important;
        }

        .container {
            width: 100%;
        }
    }
}

.modal-backdrop {
    z-index: 8999 !important;
}

.my-account-info .checkbox-container:after, .my-account-info .checkbox-container:before, .my-account-info .account-summary-added-salons:after, .my-account-info .account-component:after {
    clear: both;
    content: '';
    display: table;
}

.email-and-newsletter-container:before, email-and-newsletter-container:after {
    clear: both;
}


@media (min-width:768px) and (max-width:992px) {
    .my-account-info {
        .show-more-container.account-component {
            .map-directions {
                .check-in {
                    width: 50%;
                    min-width: 300px;
                    width: 48%;
                    min-width: 254px;
                }
            }
        }

        .account-summary {
            padding: 0;
            border: none;
        }
    }
}

@media (max-width:768px) {
    .my-account-info {
       .account-description{
            padding:0;
        }
        .account-summary {
            padding: 0;
            border: none;

            .section-header {
                margin-top: 0;
            }
             a{
				padding-left:10px;
			    display: block;
                padding-top: 5px;
            }
        }

        .progress-bar-component {
            display: none;
        }

        .show-more-container.account-component {
            .map-directions {
                .check-in {
                    width: 100%;
                }
            }
        }

        .account-component {
            & > div {
                padding: 10px 10px;
                margin-left: 0px;
            }

            & > div.btn {
                margin-left: 10px;
                float: left;
            }

            .checkbox-container{
				padding:0;
            }
        }

        .account-summary-added-salons {
            .preferrd-salon-btns-container {
                .btn {
                    min-width: 100px;
                }
            }

            .preferrd-salon-btns-container.pull-right {
                float: none !important;
                text-align: left;
                padding-bottom: 10px;
                margin-left: -10px;
            }
        }

        .left-hand-nav {
            padding-left: 0;
            padding-right: 0;
        }
    }
}



@media (max-width:400px) {
    .my-account-info {
        .account-summary {
            .modal-dialog{
                margin:0;
                .modal-body{
                    padding:0;
                }
            }
        }
    }
}
/*Added CSS for Silhoutte component*/
.my-account-info {
    .silhouette {
        overflow: hidden;
        clear: both;

        .welcome-col {
            float: left;
			  @media (max-width:480px){
                &:nth-child(1){
                    .welcome-img {
                    	margin-right:0;
                    }
                }
                	&:nth-child(2){
						width:70% ;
                	}
            	}
            .welcome-msg {
                line-height: 34px;
                margin-bottom: 10px;
                margin-top:20px;
                color: #424475;
                margin-left:0px;
            }

        }
    }
}

/*Error and success msg style*/
.account-summary {
    .btn + .success-msg {
        margin-left: 10px;
        margin-top: 7px;
        float: left;
    }

    .btn + .error-msg {
        margin-top: 5px;
        margin-left: 40px;
    }

    .personal-error {
        margin-top: 5px;
    }
}
