
.basictextoverimage{
    margin:15px 0;
    float:left;
    width:100%;
    h2,h3{
        margin:0;
        color:#231f20;
    }
    .text-container{
        background-color:rgb(255, 255, 255);
        float:left;
       	margin:15px;
        padding:15px;
        @media(max-width:767px){
            float: left !important;
            margin-left:0 !important;
        }
        a{
            span.right-arrow{
				width: 0px;
                height: 0px;
                border-top: 7px solid transparent;
                border-bottom: 7px solid transparent;
                border-left: 7px solid #428bca;
                display: inline-block;
                position: relative;
                top: 2px;
                margin-left:5px;
            }
        }
    }
    position: relative;
    img{
       @media(min-width:768px){
            position:absolute;
            height:300px;
        }
       	width:100%;
        &.cq-dd-image{
			position:static;
            height:74px;
        }
    }
}
