// Custom Variables override
@import "../core/custom-variables";
//
section.check-in-info:only-of-type{
    .wait-time{
          position: relative;
          float: left;
          margin: 0 7% 0 0;
          //border: 1px solid #5f6167;
          border-radius: 6px;
          width: 80px;
        .vcard{
           margin-top:15px;
            .minutes{
              font-family: commuters-sans, sans-serif;
              font-weight: 600;
              font-size: 20px;
              color: white;
              text-align: center;
              margin: 5px auto;
              padding: 2px;
              position: relative;
              width: 52px;
              height: 52px;
              z-index: 1;
                &:before{
					  display: block;
                      content: '';
                      width: 50px;
                      height: 50px;
                      margin: 0 auto;
                      border-radius: 50%;
                      background-color: #424475;
                }
                span{
                    position: relative;
                    top: -38px;
                    left: 1px;
                    display: block;
                    background: #424475;
                    border-radius: 40%;
                }
            }
        }
        h6{
              color: #92ae61;
              font-size: 13px;
              font-weight: 300;
              font-style: italic;
              text-align: center;
              margin-top: 0;
              margin-bottom: 0;
              position: absolute;
              top: 0;
              text-transform: lowercase;
              width: 100%;
        }
        h4{
           font-size: 13px;
            text-align: center;
            margin-bottom: 8px;
            margin-top: 0;
            //position: absolute;
            color: #92ae61;
            top: 34px;
            left: 10px;
            width: 100%;
            z-index: 1;
            text-transform:lowercase;
            .time-unit-mins{
				display:none;
            }
        }
    }
    .location-details {
        padding-bottom: 2ex;
        float: left;
        vertical-align: top;
        width: 68%;
        max-width: 245px;
        margin: 0;
        .vcard{
            width: 85%;
            float: left;
             span{
                    display: inline-block;
                    width: 100%;
                	font-size:13px;
                }
            address{
                margin-bottom: 2ex;
                span.store-title{
                    width: 100%;
                    margin-bottom: .25ex;
                    color: #231f20;
                    font-family: commuters-sans, sans-serif;
                    font-weight: 700;
                    font-size: 16px;
                }
                span.street-address{
                    color: #5f6167;
                    font-size: 14px;
                    margin-top: 0ex;
                }
            }
            span.telephone{
                font-size: 14px;
            }
            span.closing-time{
                font-style: italic;
                font-size: 14px;
            }
        }

        .btn-group{
            width: 15%;
            .favorite {
                border: 0;
                background: url('../../clientlibs/ss-publish-clientlibs/resources/images/Regis-Icons/Regis_heart.svg') no-repeat;
                padding:10px 25px 0px !important;
                &:before{
                    font-size: 26px;
                }
            }
        }
    }
    #map-canvas{
        height:220px;
        width:100%;
		border:2px solid #C7C8C9;
        margin-bottom: 11px;
		float:left;
         .gmnoprint,.scissorlabels{
            cursor:default!important;
        }
    }
	.markerDiv{
		.vcard{
            height: 65px;
			width:78px;
            background: url('../../clientlibs/ss-publish-clientlibs/resources/images/scissor-icon-1b.svg') no-repeat center 0px;
            .minutes{
                width: 28px;
                height: 28px;
                margin: 10px auto;
                padding: 2px;
                border-radius: 50%;
                border: 2px solid white;
                box-shadow: 0 0 6px #5f6167;
                background-color: #43aae0;
                span{
                    display: block;
                    font-family: "futura-pt-condensed", Helvetica, Arial, sans-serif;
                    font-weight: 700;
                    font-size: 16px;
                    color: white;
                    text-align: center;
                    margin: 0;
                }
            }
        }
	 }
    .action-buttons{
        a{padding: 0 0.5em;}
    }
}

.cancel-reservation{
	display:inline-block;
}

.serviceinfotitle{
    display:none;
}

.add-another-guest{
	display:inline-block;
}

.checkinconfirmation{
	overflow:hidden;
    #myModal{
        .modal-footer{
            .action-buttons{
                button{
                    @media (max-width: 768px){
                        margin-bottom: 10px;
                    }
                }
            }
        }
    }
}

.saloninfo{
	overflow:hidden;
    .h6 {
    font-family: proxima-nova, sans-serif;
    font-size: 13px;
    font-weight: 300;
    font-style: italic;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    position: absolute;
    top: 0;
    width: 100%;
    text-transform: lowercase
    }
    .h4 {
    font-family: proxima-nova, sans-serif;
    font-size: 13px !important;
    text-align: center;
    margin-bottom: 8px;
    margin-top: 0;
    text-transform: lowercase

    }
}

.check-in-info{
     legend{
        border: 0;
        font-size: .85em;
    }
    .divider {
        border-bottom: 2px solid #5f6167;
        margin-bottom: 2ex;
        padding-bottom: .5ex;
    }
    .h3{
       font-size: 28px;
    }
}
p.error-msg{
    font-size: 14px;
    color: #a94442;
}


#checkinConfDiv{
	ul{
		padding:0;
		list-style-type:none;
        li{
            span.service-label{
                display: block;
                clear: both;
                padding-left: 38px;
            }
        }
	}
}

.checkin-user-details{
    input.form-control{
        font-size:14px;
    }
    .phone-info-text{
        font-size: 13px;
        font-style: italic;
        font-weight: normal;
    }
    .servicesCBs{
        label.checkbox-inline, label.radio-inline{
			margin-right: 10px !important;
        }
        .radio-inline + .radio-inline, .checkbox-inline + .checkbox-inline{
			margin-left: 0 !important;
        }
        label.checkbox {
            font-weight: normal;
            margin-top: 0px;
            margin-bottom: 5px;
            input[type="checkbox"]{
                    position: relative;
                    margin-left: 20px;
                    margin-right: 5px;
                }
        }
    }
}
a.add-guest-information{
    display: inline-block;
}

.checkin-component{
    .title-component{
        .main-title{
            margin-top:0px;
            margin-bottom:0px;
        }
    }
    .col-block{
        margin-bottom: 12px;
    }
}
@media(max-width:768px){
    .checkin-component .col-md-6, .checkin-component .col-md-12, .checkin-component .col-sm-12, .checkin-component .title, .checkin-component .titlecontent, .checkin-component .col-md-4 {
    padding: 0;
    }

    .checkin-component{
        .col-block{
            margin: 0 !important;
        }
        .col-xs-12{
            label.phone{
                display:none;
            }
        }

        .col-xs-6{
            margin:0 !important;
            label{
                display:none;
            }
        }
        .title{
            .divider{
				margin:0 0 10px 0;
                padding:0;
                font-size:33px;
            }
        }

        label > [class^="icon-"], label > [class*="icon-"]{
			font-size:20px;
        }

        label{
			font-size:14px;
        }
        .form-group{
			margin:10px 0;
        }
       	label.checkbox-inline, label.radio-inline{
			font-size:20px;
        }
    }
   .checkin-user-details {
        legend{
            margin-bottom: 0 !important;
        }
    }

    legend{
		padding-bottom:10px !important;
        &.contact-info-title{
			display:none;
        }
        &.serviceinfotitle{
			font-weight:bold;
            //color:#092F57;
            font-size:16px;
            width:100%;
            margin:0;
        }
    }



    section.check-in-info{
		margin-top:20px;
    }

    section.check-in-info:only-of-type #map-canvas{
        width:100%;
    }

    .checkbox-inline{
        margin-left:10px;
    }

}
