.contact-us-form{
    .title2 {
        font-size: 25px;
        text-transform: capitalize;
    }
    textarea{
        resize: none;
    }
    select{
        line-height: 1;
    }

    .salonselectoradvanced{
        .added-salons-container{
            background:none;
        }
    }

    .contactusdropdown,.salonselector,
    .textandimage,.servicedetails,.stylistfeedback,.mycontactinformation,
    .myaddresscomponent{
        margin-bottom: 20px;
        overflow: hidden;
        height: auto;
    }
    .mycontactinformation,.myaddresscomponent{
        background-color: none;

    }

    .img-text-comp{
        .img-container{
            padding-left: 10px;
            text-align: left;
        }
        .txtalign-left{
            padding-left:10px;
        }
        img{
            width:auto;
        }
    }
    .added-salons-container{
		background-color:transparent;
    }
    .show-more-container .salon-type-condition-container{
		display:none !important;
    }
    .show-more-container .salon-type-condition-container .corporate-salon-conditions-container, .show-more-container .salon-type-condition-container .franchise-salon-conditions-container{
		display:none;
    }
    form > row > .col-md-12{
        padding:0;
    }
    .mycontactinformation .contact-info > .col-md-6{
			padding-right: 20px;
			@media (max-width:992px) {
				padding-right: 10px;
			}
        h3{
            padding-left: 0;
        }
        &>.col-md-12{
            padding: 0;
        }
    }
    .contactusdropdown{
        h3{
            color: #424475;
        }
    }
}
    .servicedetails{
		img{
			width:100%;
        }
     .ui-datepicker-trigger {
            display: none;
        }
    }


@media (max-width:992px) {
    .contact-us-form {
        .mycontactinformation, .myaddresscomponent {

            .form-group.col-md-6 {
                padding: 0;
            }
        }
    }
}


@media (min-width:320px) and (max-width:768px) {
	.contact-us-form {
        .salonselector{
            padding:0;
        }
    }
}
