.dynamicsidenavigation{
	.dynamic-side-nav{
        .side-nav-header{
    		color:#231f20;
    		text-transform:uppercase;
            padding: 5px 10px 5px 10px;
            @media (max-width: 767px){
    			padding-left: 0;
            }
    		@media(max-width:992px){
                word-wrap: break-word;
            }
            a{
				color:#231f20;
                padding:5px 10px 5px 0px;
				display:inline-block;
				width:100%;
				text-decoration:none;
                font-family: commuters-sans, sans-serif;
                font-weight: 600;
                font-size: 18px;
                &:hover{
					background-color:transparent;
                    color: #231f20;
				}
			}
        }
        @media (min-width: 768px){
            ul{
        		margin-bottom: 20px;
    			li{
    				width:100%;
    				cursor:pointer;
    				font-family: proxima-nova, sans-serif;
    				font-size:16px;
    				color:#231f20;
    				a{
    					display:inline-block;
    					padding:5px 10px 5px 0px;
    					width:100%;
    					text-decoration:none;
    					color:#231f20;
    					&:hover{
    						background-color:transparent;
    						color: #231f20;
    					}
    					&.selected{
    						background-color:#f1f1f1;
    						border-left:5px solid #424475;
    						padding:5px 10px 5px 5px;
    						color: #231f20;
    					}
    				}
                    &.selected{
						background-color:#f1f1f1;
						border-left:3px solid #424475;
						padding:5px 10px 5px 7px;
						color: #231f20;
					}
    			}
        	}
        }
        @media (max-width: 767px){
            .product-dropdown{
                &.dropdown{
                    button{
                        text-align: left;
                        background: url('../../clientlibs/ss-publish-clientlibs/resources/images/select-arrow@2x.png') no-repeat 97% 50% #ffffff;
                        background-size: 8%;
                        padding: 6px 12px;
                        padding-right: 13%;
                        &:focus,&:hover,&:active{
        					border: 1px solid #424475;
                            outline: none;
                            box-shadow: none;
                        }
                        #dropdown-selected-value{
        					color: #231f20;
            				font-weight: bold;
                            display: block;
                            overflow: hidden;
                        }
                    }
                    &.open{
                        button{
        					background: url('../../clientlibs/ss-publish-clientlibs/resources/images/select-arrow@2x-UP.png') no-repeat 97% 50% #ffffff;
                            background-size: 8%;
                        }
                    }
                    ul.dropdown-menu{
                        width: 100%;
                        position: relative;
                        top: 0px;
                        border-radius: 0;
                        padding: 10px 0;
                        margin: 0;
                        border-color: #424475;
                        border-top: 0;
                        -webkit-box-shadow: none;
                        -moz-box-shadow: none;
                        -o-box-shadow: none;
                        -ms-box-shadow: none;
                        box-shadow: none;
                        &.list-unstyled{
        					padding-left: 20px;
                            &>li{
                                &.selected{
                                    a{
        								color: #231f20;
                                        border-left: 3px solid #424475;
                                        background: #f1f1f1;
                                        display: inline-block;
                                        width: 100%;
                                        padding: 5px 0 5px 3px;
                                    }
                                }
                                &>a{
        							padding: 5px 0;
                                    display: inline-block;
                                }
                            }
                        }
                    }
                }
            }
        }
	}
}
