.email-toast-component{
	width: 100%;
	color: #fff;
	padding: 24px 20px 20px;
	position:fixed;
	bottom:0;
	z-index: 100;
	left: 0;
	display: none;
	@media screen and (max-width: 767px){
		padding: 10px 15px;
	}
	.row{
        @media (max-width: 965px){
			margin-left: -10px;
            margin-right: -10px;
        }
    }
	.tips-tricks{
		font-size: 22px;
		font-weight: 600;
		margin: 9px 0 0;
		color: #231F20;
		@media screen and (max-width: 767px){
			text-align: center;
			margin: 0;
			font-size: 15px;
			margin-bottom: 6px;
		}
	}
	.offers-text{
		text-align: center;
		margin: 12px 0 24px;
		font-family: proxima-nova, sans-serif;
		@media screen and (max-width: 767px){
			margin: 10px 0;
        }
	}
	.form-group {
		margin: 0;
	   .form-control {
			background: transparent;
			border-width: 0 0 1px 0;
			border-style: solid;
			border-color: #231F20;
			border-radius: 0;
			box-shadow: none;
			padding-left: 0;
			color: #231F20;
			font-family: proxima-nova, sans-serif;
			&:-moz-placeholder,
			&:-ms-placeholder,   
			&:-o-placeholder{
				color: #231F20 !important;
				opacity: 0.5;
		}

			&::-webkit-input-placeholder {
				color: inherit;
                opacity: 0.5;
			}
	}
        &.has-error{
            #emailid-toast{
				border: 1px solid #fff !important;
            }
        }
	}
	.register-email{
		position: relative;
		top: 6px;
      	border: 2px solid #231F20;
      	padding: 6px 8px;
		border-radius: 14%;
        text-transform: uppercase;
        font-size:13px;
        color: #231F20;
		@media(max-width: 767px){
			top: 8px;
			padding: 6px 8px;
			font-size: 13px;
		}
        .right-arrow{
			width: 0;
            height: 0;
            border-top: 10px solid transparent;
            border-bottom: 10px solid transparent;
            border-left: 10px solid #fff;
            display: inline-block;
        }
	}
	.dismiss-toast{
		position: absolute;
		top: 37px;
		right: 7%;
        background: url('../../clientlibs/ss-publish-clientlibs/resources/images/Close_Icon_White.svg') no-repeat;
        background-size: cover !important;
		width: 16px;
		height: 16px;
		@media screen and (max-width: 767px){
			right: 10px;
			top: 11px;
		}
		@media (min-width: 768px) and (max-width: 991px){
			right: 5%;
		}
	}
    .error-msg{
		color: #fff !important;
    }
	a{
		color: #fff;
		&:hover,&:focus{
			color: #231F30;
			text-decoration: none;
            outline: none;
		}
	}

	&.default-bg{
		background: #424475;
       .dismiss-toast {
        background: url('../../clientlibs/ss-publish-clientlibs/resources/images/Close_icon_white2.svg') no-repeat;
	   }

         .tips-tricks {
         color: #fff !important;
        }
       .form-group {

		 .form-control {
          color: #fff;
          border-color: #fff;
	     }
       }
        .register-email {
          color: #fff;
          border: 2px solid #fff;
         }
	  }

	&.dark-bg{
		background: #231f20;
      .dismiss-toast {
        background: url('../../clientlibs/ss-publish-clientlibs/resources/images/Close_icon_white2.svg') no-repeat;
	   }
        .tips-tricks {
         color: #fff !important;
        }
       .form-group {

		 .form-control {
          color: #fff;
          border-color: #fff;
	     }
       }
        .register-email {
          color: #fff;
          border: 2px solid #fff;
         }
	  }
	&.brand-bg{
		background: #00ADBB;
	}
}
