// Custom Variables override
@import "../core/custom-variables";
@import "../components/mixins";
//
/*Generic Styles*/
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
html {
	font-size: 10px;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
	font-family: proxima-nova, sans-serif;
	font-size: 16px;
	line-height: 1.42857143;
	color: #231f20;
	background-color: #ffffff;
}
input,
button,
select,
textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}
a {
	color: #424475;
	text-decoration: none;
}
a:hover,
a:focus {
	color: #424475;
	text-decoration: underline;
}
a:focus {
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
	position: relative;
	min-height: 1px;
	padding-left: 10px;
	padding-right: 10px;
}
figure {
	margin: 0;
}
img {
	vertical-align: middle;
}
.img-responsive,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
	display: block;
	width: 100% \9;
	max-width: 100%;
	height: auto;
}
.img-rounded {
	border-radius: 6px;
}
.img-thumbnail {
	padding: 4px;
	line-height: 1.42857143;
	background-color: #ffffff;
	border: 1px solid #dddddd;
	border-radius: 4px;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	-webkit-transition: all, 0.2s, ease-in-out;
	-moz-transition: all, 0.2s, ease-in-out;
	-o-transition: all, 0.2s, ease-in-out;
	transition: all, 0.2s, ease-in-out;
	display: inline-block;
	width: 100% \9;
	max-width: 100%;
	height: auto;
}
.img-circle {
	border-radius: 50%;
}
hr {
	 border: 0;
			margin: 10px 0 0;
}
.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}
.sr-only-focusable:active,
.sr-only-focusable:focus {
	position: static;
	width: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	clip: auto;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	font-family: commuters-sans, sans-serif;
	font-weight: 600;
	line-height: 1.1;
	color: inherit;
	text-transform: uppercase;
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small,
.h1 small,
.h2 small,
.h3 small,
.h4 small,
.h5 small,
.h6 small,
h1 .small,
h2 .small,
h3 .small,
h4 .small,
h5 .small,
h6 .small,
.h1 .small,
.h2 .small,
.h3 .small,
.h4 .small,
.h5 .small,
.h6 .small {
	font-weight: normal;
	line-height: 1;
	color: #2d6e93;
}
h1,
.h1,
h2,
.h2,
h3,
.h3 {
	margin-top: 22px;
	margin-bottom: 11px;
}
h1 small,
.h1 small,
h2 small,
.h2 small,
h3 small,
.h3 small,
h1 .small,
.h1 .small,
h2 .small,
.h2 .small,
h3 .small,
.h3 .small {
	font-size: 65%;
}
h4,
.h4,
h5,
.h5,
h6,
.h6 {
	margin-top: 11px;
	margin-bottom: 11px;
}
h4 small,
.h4 small,
h5 small,
.h5 small,
h6 small,
.h6 small,
h4 .small,
.h4 .small,
h5 .small,
.h5 .small,
h6 .small,
.h6 .small {
	font-size: 75%;
}
h1,
.h1 {
	font-size: 30px;
	color: #231f20 !important;
}
h2,
.h2 {
	font-size: 28px;
	color: #231f20 !important;
}
h3,
.h3 {
	font-size: 20px;
	color: #231f20 !important;
}
h4,
.h4 {
	font-size: 18px;
	color: #231f20 !important;
}
h5,
.h5 {
	font-size: 16px;
	color: #231f20 !important;
}
h6,
.h6 {
	font-size: 13px;
	color: #231f20 !important;
}
p {
	margin: 0 0 11px;
}
.lead {
	margin-bottom: 22px;
	font-size: 18px;
	font-weight: 300;
	line-height: 1.4;
}
@media (min-width: 768px) {
	.lead {
	font-size: 24px;
	}
}
small,
.small {
	font-size: 75%;
}
cite {
	font-style: normal;
}
mark,
.mark {
	background-color: #fcf8e3;
	padding: .2em;
}
.text-left {
	text-align: left;
}
.text-right {
	text-align: right;
}
.text-center {
	text-align: center;
}
.text-justify {
	text-align: justify;
}
.text-nowrap {
	white-space: nowrap;
}
.text-lowercase {
	text-transform: lowercase;
}
.text-uppercase {
	text-transform: uppercase;
}
.text-capitalize {
	text-transform: capitalize;
}
.text-muted {
	color: #f2f2f2;
}
.text-primary {
	color: #e1eef4;
}
a.text-primary:hover {
	color: #bcd9e6;
}
.text-success {
	color: #231f20;
}
a.text-success:hover {
	color: #333435;
}
.text-info {
	color: #231f20;
}
a.text-info:hover {
	color: #333435;
}
.text-warning {
	color: #8a6d3b;
}
a.text-warning:hover {
	color: #66512c;
}
.text-danger {
	color: #a94442;
}
a.text-danger:hover {
	color: #843534;
}
.bg-primary {
	color: #fff;
	background-color: #e1eef4;
}
a.bg-primary:hover {
	background-color: #bcd9e6;
}
.bg-success {
	background-color: #f2f2f2;
}
a.bg-success:hover {
	background-color: #d9d9d9;
}
.bg-info {
	background-color: #ffffff;
}
a.bg-info:hover {
	background-color: #e6e6e6;
}
.bg-warning {
	background-color: #fcf8e3;
}
a.bg-warning:hover {
	background-color: #f7ecb5;
}
.bg-danger {
	background-color: #f2dede;
}
a.bg-danger:hover {
	background-color: #e4b9b9;
}
.page-header {
	padding-bottom: 10px;
	margin: 44px 0 22px;
	border-bottom: 1px solid #ffffff;
}
ul,
ol {
	margin-top: 0;
	margin-bottom: 11px;
}
ul ul,
ol ul,
ul ol,
ol ol {
	margin-bottom: 0;
}
.list-unstyled {
	padding-left: 0;
	list-style: none;
}
.list-inline {
	padding-left: 0;
	list-style: none;
	margin-left: -5px;
}
.list-inline > li {
	display: inline-block;
	padding-left: 5px;
	padding-right: 5px;
}
dl {
	margin-top: 0;
	margin-bottom: 22px;
}
dt,
dd {
	line-height: 1.42857143;
}
dt {
	font-weight: bold;
}
dd {
	margin-left: 0;
}
@media (min-width: 768px) {
	.dl-horizontal dt {
	float: left;
	width: 160px;
	clear: left;
	text-align: right;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	}
	.dl-horizontal dd {
	margin-left: 180px;
	}
}
abbr[title],
abbr[data-original-title] {
	cursor: help;
	border-bottom: 1px dotted #f2f2f2;
}
.initialism {
	font-size: 90%;
	text-transform: uppercase;
}
blockquote {
	padding: 11px 22px;
	margin: 0 0 22px;
	font-size: 20px;
	border-left: 5px solid #ffffff;
}
blockquote p:last-child,
blockquote ul:last-child,
blockquote ol:last-child {
	margin-bottom: 0;
}
blockquote footer,
blockquote small,
blockquote .small {
	display: block;
	font-size: 80%;
	line-height: 1.42857143;
	color: #f2f2f2;
}
blockquote footer:before,
blockquote small:before,
blockquote .small:before {
	content: '\2014 \00A0';
}
.blockquote-reverse,
blockquote.pull-right {
	padding-right: 15px;
	padding-left: 0;
	border-right: 5px solid #ffffff;
	border-left: 0;
	text-align: right;
}
.blockquote-reverse footer:before,
blockquote.pull-right footer:before,
.blockquote-reverse small:before,
blockquote.pull-right small:before,
.blockquote-reverse .small:before,
blockquote.pull-right .small:before {
	content: '';
}
.blockquote-reverse footer:after,
blockquote.pull-right footer:after,
.blockquote-reverse small:after,
blockquote.pull-right small:after,
.blockquote-reverse .small:after,
blockquote.pull-right .small:after {
	content: '\00A0 \2014';
}
blockquote:before,
blockquote:after {
	content: "";
}
address {
	margin-bottom: 22px;
	font-style: normal;
	line-height: 1.42857143;
}
code,
kbd,
pre,
samp {
	font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}
code {
	padding: 2px 4px;
	font-size: 90%;
	color: #c7254e;
	background-color: #f9f2f4;
	border-radius: 4px;
}
kbd {
	padding: 2px 4px;
	font-size: 90%;
	color: #ffffff;
	background-color: #333333;
	border-radius: 3px;
	box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.25);
}
kbd kbd {
	padding: 0;
	font-size: 100%;
	box-shadow: none;
}
pre {
	display: block;
	padding: 10.5px;
	margin: 0 0 11px;
	font-size: 15px;
	line-height: 1.42857143;
	word-break: break-all;
	word-wrap: break-word;
	color: #231f20;
	background-color: #f5f5f5;
	border: 1px solid #cccccc;
	border-radius: 4px;
}
pre code {
	padding: 0;
	font-size: inherit;
	color: inherit;
	white-space: pre-wrap;
	background-color: transparent;
	border-radius: 0;
}
.pre-scrollable {
	max-height: 340px;
	overflow-y: scroll;
}
/*Smart Style Custom Styles*/
.displayNone{
	display:none;
}

.content .section{
	padding:15px 0;
}
.btn:focus, .btn:active:focus, .btn.active:focus {
	outline: none;
}
@media(min-width: 992px){
	main[role="main"].main-home{
		margin-top: 206px;
	}
			main[role="main"].main-home.franchise{
				margin-top: 170px;
			}
}
@media(max-width: 991px){
	main[role="main"].main-home.franchise{
		margin-top: 3ex;
	}
}

@media(min-width: 1200px){
	.container{
		width:1000px;
	}
}


@media (min-width: 1200px) {
.container{
		width:1000px;
	}
}
@media (max-width: 992px) {
	.row{
		margin-right: 0px;
		margin-left: 0px
		}

}

/*Map popup windows*/
.map-window .check-in .action-buttons .btn {
			width: auto!important;
			margin:0 5px;
			margin-bottom:10px!important;
			min-width: 44%;
		}

	.map-window-checkin{
			background-color:#92ae61;
	}

.map-window .check-in .location-details{
	width:69%;
}

		.map-window .check-in .action-buttons {
			 width: 100%!important;
display: inline-block;
text-align: center;
margin-top:10px;

		}
		 .map-window .check-in {
			 border:none!important;
			 padding:0!important;
			 margin-bottom:0!important;
							 cursor:default!important;
		}
.map-window  {
	min-height:110px!important;
	padding:0!important;
	border:none!important;
	margin-top:10px;
	margin-left:10px;
	width:auto!important;
	 font-family: proxima-nova, sans-serif;
	overflow:hidden;

}
.map-window .check-in .wait-time {
			text-align:center;
			max-width:80px;
			min-width: 80px;
			margin-bottom:10px;
		}

.map-window.check-in .location-details .vcard span.closing-time,.map-window .miles{
	margin-top:1.5ex;
}

.map-window .check-in .location-details .vcard span.closing-time{
 /*  font-size: 12.5px!important;*/
}

.map-window .miles .distance{
	color:#231f20;
}


.map-window h3,.map-window h4{
	margin-top:5px;
	margin-bottom:5px;
}
@media(max-width:992px) {
	.map-window .check-in .location-details {
		width: 66%;
	}
}
@media(max-width:400px){
	.map-window .check-in .location-details {
		width: 62%;
	}
}
@media(max-width:350px){
	.map-window .check-in .location-details {
		width: 60%;
	}
}
@media(max-width:320px){
	.map-window .check-in .location-details {
		width: 58%;
	}
}


.localpromotiondatacomponent.section {
margin-bottom: 50px;
}

.saloncheckindetails{
	overflow:hidden;
	height:auto;
}

	.saloncheckindetails fieldset{
		 margin-bottom:0.5em;
	 }

.saloncheckindetails h1{
	margin-top:0;
}


.title{
	overflow:hidden;
	height:auto;
	width:100%;
	 padding: 0 10px;
}
	.title .title1{
color: #424475;
	}

.section{
	overflow:hidden;
	clear:both;
}
@media (min-width: 768px) and (max-width: 1024px){
	.section {
	    overflow: visible;
	}
}
.content .title.section{
		padding: 0;
	text-align:center;
}
.new.section{
	padding:0;
}
.salontitle{
	color: #424475;
	margin-bottom:25px;
}

.salonsmalltxt{
	color: #424475;
	font-size: 19px;
	line-height: 80%;
	font-weight:bold;
	display:block;
}
/*rte styles*/

.component-primary-heading{
font-size: 28px;
font-family: commuters-sans, sans-serif;
font-weight: 600;
line-height: 1.1;
}
.gray{
color: #5f6167;
font-size: 28px;
font-family: commuters-sans, sans-serif;
font-weight: 600;
line-height: 1.1;
}
.component-sub-heading{
font-family: commuters-sans, sans-serif;
font-weight: 600;
line-height: 0.9;
margin-top: 10px;
color: #5f6167;
	font-size: 40px;
}
.component-description{
font-size: 16px;
font-family: proxima-nova, sans-serif;
color: #707070;
}
.style-advice-style{
	font-family: proxima-nova, sans-serif;
font-weight: normal;
font-style: italic;
line-height: 1.2;
color: #231f20;
font-size: 20px;
padding: 30px 30px 0;
display: block;
	}
.bluePrimaryCTA{
display: inline-block;
width: 100%;
color: #428bca;
font-size: 16px;
font-family: commuters-sans, sans-serif;
text-transform: none;
text-align: center;
margin-top: -1.7em;
font-style: italic;
line-height: 1.1;
	}
	.bluePrimaryCTA:hover{
	color: #2d6e93;
text-decoration: underline;
}


/* rte styles end*/
/* For FRC pages*/

.googleauthentication {
padding:10px 20px;
}
.googleauthentication h1,
.googleauthentication h2,
.googleauthentication h3,
.googleauthentication h4,
.googleauthentication h5,
.googleauthentication h6{
color: #424475;
}

/*styles end for FRC pages*/

/*for BC player in video and text component

.img-container .video-wrapper {
width:500px !important;
}

.img-container .video-wrapper .BrightcoveExperience{
width:500px !important;
}
styles end for BC player in video and text component*/

input[type=checkbox].css-checkbox ,input[type=radio].css-checkbox{
position: absolute;
z-index: -1000;
left: -1000px;
overflow: hidden;
clip: rect(0 0 0 0);
height: 1px;
width: 1px;
margin: -1px;
padding: 0;
border: 0;
}
input[type=checkbox].css-checkbox + label.css-label,input[type=radio].css-checkbox + label.css-label {
padding-left: 26px;
vertical-align: middle;
height: 26px;
border: 1px solid #ccc;
display: inline-block;
line-height: 32px;
background-repeat: no-repeat;
background-position: 0 0;
font-size: 16px;
width: auto;
cursor: pointer;
background-size: 100%;
}
input[type=checkbox].css-checkbox:checked + label.css-label,input[type=radio].css-checkbox:checked + label.css-label {
background-image: url('../../clientlibs/ss-publish-clientlibs/resources/images/checkbox-aqua.png');
}
input[type=checkbox].css-checkbox:disabled + label.css-label,input[type=radio][disabled].css-checkbox:disabled + label.css-label {
background-image: url('../../clientlibs/ss-publish-clientlibs/resources/images/checkbox-disabled-aqua.png');
border: none;
}
label {
/*width: 86%*/;
}
label.css-label {
background-image: url('../../clientlibs/ss-publish-clientlibs/resources/images/checkbox-unchecked.png');
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

label.css-label+label{
	width: 86%;
}
input[type=radio].css-checkbox+label.css-label+label, input[type=radio].css-checkbox+label.css-label+span{
	width: auto;
	padding-left:10px
}

.btn-page-submit{
	width: 200px;
margin: 0 auto;
}

.additional-info{
padding:15px 0;
}
.outer-link .btn-link {
	display: inline-block;
	color: #231f20;
	width: 100%;
	font-size: 28px;
	font-family: "futura-pt-condensed",Helvetica,Arial,sans-serif;
	font-weight: 200;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-align: center;
}
/*Styles for Stylist application p tag */
.aboutyou-title-desc {
	padding-left: 10px;
}
.posexp-title-desc {
	padding-left: 10px;
}
/*Remove auto-fill user-agent CSS for chrome*/
input:-webkit-autofill {
	-webkit-box-shadow: inset 0 0px 0px 1000px white inset !important;
}

@media (max-width: 992px) {
	.row{
	margin-right: 0px;
			margin-left: 0px
			}

}
/*change the z-index for google maps auto complete dropdown*/

.pac-container{
z-index:10000;
}

/*for warning msg in maximum salons selected*/

p.warning-msg{
font-size: 14px;
color: #a94442;
}

/*styles and advices for column control*/

@media(max-width:767px){
.acs-commons-resp-colctrl-row .new-row .acs-commons-resp-colctrl-row {
	padding-bottom:0;
}
}

/*changes made for dropdowns to work in IE9*/


.divider {
	border-bottom: 2px solid #5f6167;
	margin-bottom: 1ex;
	padding-bottom: .5ex;
	text-align:center;
}
h2.divider{
	margin-bottom: 0;
}
/*Css tweeks for style and advice
*/

@media (max-width: 992px) and (min-width: 767px) {

.acs-commons-resp-colctrl-row .new-container {
	margin: 0 -10px;
}
.acs-commons-resp-colctrl-row .acs-commons-resp-colctrl-col-33 {
	width: 50%;
	padding: 0 10px !important;
}
	.acs-commons-resp-colctrl-row .acs-commons-resp-colctrl-col-25{
	width:50%;
	padding:0 10px
}
.acs-commons-resp-colctrl-row .acs-commons-resp-colctrl-col-25:last-child{
	width:50%;
}
}

@media (min-width: 992px) {
.acs-commons-resp-colctrl-row .acs-commons-resp-colctrl-col-25{
	padding:0 10px
}
}

.contactusdropdown,.salonselector,
	.textandimage,.servicedetails,.stylistfeedback,.mycontactinformation,
	.myaddresscomponent{
			overflow: hidden;
			height: auto;
	}

/*moved from supercuts*/

.scissorlabels {
 color: white;

 font-size: 28px;
 text-align: center;
 font-weight:bold;
 white-space: nowrap;
margin-top: -85px!important;
margin-left: -20px!important;
}
.other-marker-labels {
 color: white;

 font-size: 28px;
 text-align: center;
 white-space: nowrap;
 margin-top: -51px!important;
 margin-left: -10px!important;
}

.labelContent,.other-marker-labels div,.scissorlabels div{
	width:45px;
	text-align:center;
font-family: commuters-sans, sans-serif;
}
.labelContent{
	position: relative;
	top:6px;
}
.Added-labelContent{
background-color: #231f20;
color: white;
padding: 12px;
border: 1px solid #fff;
}
.select-labelContent{
background: #424475;
min-width: 100px;
position: relative;
color: #fff;
padding: 11px 10px;
text-align: center;
width:119px;
}
.Added-marker-labels{
font-size:14px;
margin-top: -68px!important;
margin-left: -50px!important;
height:60px;
}
.select-marker-labels{
font-size:14px;
margin-top: -67px!important;
margin-left: -60px!important;
height:60px;
}
.Added-marker-labels:after{
border-left: 11px solid transparent;
border-right: 11px solid transparent;
position: absolute;
border-top: 14px solid #231f20;
top: 43px;
left: 40%;
content: '';
}

.Added-labelContent:after{
border:solid 2px #fff;
border-radius:10px;
position:relative;
margin-left:10px;
font-size:9px;
content: "\e60f";
font-family: 'icomoon';
padding: 3px;
}

/* for displaying markers End */

@media(max-width:992px) {
	.map-window .check-in .location-details {
			width: 66%;
	}

	.show-more-container .map-directions.map-window .check-in{
			width:100%
	}
}
@media(max-width:400px){
	.map-window .check-in .location-details {
			width: 62%;
	}
}
@media(max-width:350px){
	.map-window .check-in .location-details {
			width: 60%;
	}
}
@media(max-width:320px){
	.map-window .check-in .location-details {
			width: 58%;
	}
}

/*Column control*/
@media (max-width: 992px) and (min-width: 767px) {
	.acs-commons-resp-colctrl-row .acs-commons-resp-colctrl-col-25{
	width:50%;
	padding:0 10px
}
.acs-commons-resp-colctrl-row .acs-commons-resp-colctrl-col-25:last-child{
	width:50%;

}
}

@media (min-width: 992px) {
.acs-commons-resp-colctrl-row .acs-commons-resp-colctrl-col-25{
	padding:0 10px
}
}

.saloncheckindetails{
overflow:hidden;
height:auto;
}

.saloncheckindetails h1{
margin-top:0;
}

/*Bug fix for styled drop down in firefox*/
@supports (pointer-events: none) and
				((-webkit-appearance: none) or
				(-moz-appearance: none) or
				(appearance: none)) {
@-moz-document url-prefix() {
select.custom-dropdown-select option{
	padding-left: 12px;
font-weight:normal;
}
.has-error .custom-dropdown {
	border-color: #a94442;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}
.has-success .custom-dropdown {
	border-color: #5f6167;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}
.custom-dropdown:before{
	background-color: white;
	bottom: 0;
	top: 0;
	right: 0;
	width: 1.1em;
}
.custom-dropdown:before, .custom-dropdown:after{
	content: "";
	pointer-events: none;
	position: absolute;
}
.custom-dropdown{
	display: block;
	position: relative;
	vertical-align: middle;
	border: 1px solid #cccccc;
	background: url('../../clientlibs/ss-publish-clientlibs/resources/images/select-arrow@2x.png') no-repeat 91% 50% #ffffff;
	background-size: 23px 12px;
}
.storehours .custom-dropdown{
	background: url('../../clientlibs/ss-publish-clientlibs/resources/images/select-arrow@2x.png') no-repeat 85% 50% #ffffff;
	background-size: 23px 12px;
}
.checkbox-container.haircutreminder .custom-dropdown{
	background: url('../../clientlibs/ss-publish-clientlibs/resources/images/select-arrow@2x.png') no-repeat 86% 50% #ffffff;
	background-size: 23px 12px;
}
.reminder-subscription .custom-dropdown{
	background: url('../../clientlibs/ss-publish-clientlibs/resources/images/select-arrow@2x.png') no-repeat 86% 50% #ffffff;
	background-size: 23px 12px;
}
.custom-dropdown-select{
 -moz-appearance: none;
	border: 0 !important;
	background: none !important;
}
}
}
/*Bug fix for styled drop down in IE*/
select::-ms-expand {
display: none; /* to ie 10 */
}
/*styles added for customizing bootstrap dropdown*/

.form-group .btn-group{
width:100%;
}

.form-group button.form-control{
color: #231f20;
font-family: "futura-pt-condensed", Helvetica, Arial, sans-serif;
font-weight: 700;
text-transform: uppercase;
font-size: 22px;
text-align:left;
padding:6px 17px;
}

.form-group button.form-control span.caret{
background: url('../../clientlibs/ss-publish-clientlibs/resources/images/select-arrow@2x.png') no-repeat 96% 50%;
	background-size: 23px 12px;
float:right;
border:none;
width:23px;
height:18px;
}
li.ddOptions{
font-family: "futura-pt-condensed", Helvetica, Arial, sans-serif;
text-transform: uppercase;
font-size: 22px;
text-align: left;
padding: 6px 17px;
}
#dup-dwn{
width:100%;
}
/*Alert success changes*/
.alert.alert-success {
border-radius: 0;
border: none;
border-bottom: 1px solid #231f20;
padding: 10px 0;
text-transform: uppercase;
color: #231f20;
font-size: 20px;
font-family: commuters-sans, sans-serif;
font-weight: 700;
}

.titlecontent{
padding:0 10px;
}
@media (min-width: 992px) {
.border-right-md {
	border-right: 1px solid #231f20;
}
.profile-creation-prompt .alert.alert-success.arrow-box .col-md-5 .btn{
	float:right;
	}

}
/*Profile prompt*/

.profile-creation-prompt {
max-height: 0;
overflow: hidden;
-webkit-transition: all, 0.75s linear;
-moz-transition: all, 0.75s linear;
-o-transition: all, 0.75s linear;
transition: all, 0.75s linear;
}
.profile-creation-prompt.grow {
max-height: 15.6ex;
}
.profile-creation-prompt.grow.overflow-prop{
	overflow: visible;
	max-height:none;
	height:auto;
}
.profile-creation-prompt .alert.alert-success{
	/*background-color: #f2f2f2;
	border-color: #e5e5e5;*/
	color: #231F20;
	font-style: normal;
	text-transform: none;
	font-weight: normal;
	padding: 20px;
	font-family: proxima-nova, sans-serif;
	font-size: 16px;
	border: 0;
}
.profile-creation-prompt .alert.alert-success.arrow-box {
	position: relative;
	background: #fff;
	border: 1px solid #231F20;
	border-radius: 6px;
}
@media (max-width: 480px) {
.profile-creation-prompt .alert.alert-success.arrow-box .col-md-5{
	width:100%;
}
	.profile-creation-prompt .alert.alert-success.arrow-box .col-md-7{
	width:100%;
}
}
.profile-creation-prompt .alert.alert-success.arrow-box:after, .profile-creation-prompt .alert.alert-success.arrow-box:before {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.profile-creation-prompt .alert.alert-success.arrow-box:after {
	border-color: rgba(255, 255, 255, 0);
	border-top-color: #fff;
	border-width: 20px;
	margin-left: -20px;
}
.profile-creation-prompt .alert.alert-success.arrow-box:before {
	border-color: rgba(0, 35, 63, 0);
	border-top-color: #231F20;
	border-width: 21px;
	margin-left: -21px;
}

.profile-creation-prompt btn{
margin-top:3ex;
}
.profile-creation-prompt h3{
margin-top: 0;
}
.profile-creation-prompt .col-md-7{
width: 67%;
padding-right: 0;
}
@media(max-width:768px){
.profile-creation-prompt .col-md-7{
	width: 100%;
	padding-right: 0;
}
}
.profile-creation-prompt .col-md-5{
width: 33%;
float: right;
padding:0;
}
.profile-prompt-wrapper{
min-height: 200px;
}

.panel-group .panel-heading + .panel-collapse > .panel-body {
border-top: none;
}

/*Nexus 7 Fix */
@media only screen and (-webkit-min-device-pixel-ratio: 3) and (min-width: 568px) {
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
	float: left;
}
.col-md-12 {
	width: 100%;
}
.col-md-11 {
	width: 91.66666667%;
}
.col-md-10 {
	width: 83.33333333%;
}
.col-md-9 {
	width: 75%;
}
.col-md-8 {
	width: 66.66666667%;
}
.col-md-7 {
	width: 58.33333333%;
}
.col-md-6 {
	width: 50%;
}
.col-md-5 {
	width: 41.66666667%;
}
.col-md-4 {
	width: 33.33333333%;
}
.col-md-3 {
	width: 25%;
}
.col-md-2 {
	width: 16.66666667%;
}
.col-md-1 {
	width: 8.33333333%;
}
.col-md-pull-12 {
	right: 100%;
}
.col-md-pull-11 {
	right: 91.66666667%;
}
.col-md-pull-10 {
	right: 83.33333333%;
}
.col-md-pull-9 {
	right: 75%;
}
.col-md-pull-8 {
	right: 66.66666667%;
}
.col-md-pull-7 {
	right: 58.33333333%;
}
.col-md-pull-6 {
	right: 50%;
}
.col-md-pull-5 {
	right: 41.66666667%;
}
.col-md-pull-4 {
	right: 33.33333333%;
}
.col-md-pull-3 {
	right: 25%;
}
.col-md-pull-2 {
	right: 16.66666667%;
}
.col-md-pull-1 {
	right: 8.33333333%;
}
.col-md-pull-0 {
	right: auto;
}
.col-md-push-12 {
	left: 100%;
}
.col-md-push-11 {
	left: 91.66666667%;
}
.col-md-push-10 {
	left: 83.33333333%;
}
.col-md-push-9 {
	left: 75%;
}
.col-md-push-8 {
	left: 66.66666667%;
}
.col-md-push-7 {
	left: 58.33333333%;
}
.col-md-push-6 {
	left: 50%;
}
.col-md-push-5 {
	left: 41.66666667%;
}
.col-md-push-4 {
	left: 33.33333333%;
}
.col-md-push-3 {
	left: 25%;
}
.col-md-push-2 {
	left: 16.66666667%;
}
.col-md-push-1 {
	left: 8.33333333%;
}
.col-md-push-0 {
	left: auto;
}
.col-md-offset-12 {
	margin-left: 100%;
}
.col-md-offset-11 {
	margin-left: 91.66666667%;
}
.col-md-offset-10 {
	margin-left: 83.33333333%;
}
.col-md-offset-9 {
	margin-left: 75%;
}
.col-md-offset-8 {
	margin-left: 66.66666667%;
}
.col-md-offset-7 {
	margin-left: 58.33333333%;
}
.col-md-offset-6 {
	margin-left: 50%;
}
.col-md-offset-5 {
	margin-left: 41.66666667%;
}
.col-md-offset-4 {
	margin-left: 33.33333333%;
}
.col-md-offset-3 {
	margin-left: 25%;
}
.col-md-offset-2 {
	margin-left: 16.66666667%;
}
.col-md-offset-1 {
	margin-left: 8.33333333%;
}
.col-md-offset-0 {
	margin-left: 0;
}
}

::-ms-clear { display: none; }

.pac-container
{
	min-width:200px!important;
}
.hero-lny-wrap{
overflow:hidden;
}
.iph-fix.in.navbar-collapse, .iph-fix.navbar-collapse{
overflow:visible;
	-webkit-overflow-scrolling : auto;
}

/*for only text component with out padding*/
.textwithoutpadding.section{
padding:0;
	color: #231f20;
}

.textwithoutpadding .style-advice-style{
padding:0;
}

.textwithoutpadding.section p{
margin:0;
}

.textwithoutpadding.section h1,
.textwithoutpadding.section h2,
.textwithoutpadding.section h3,
.textwithoutpadding.section h4,
.textwithoutpadding.section h5,
.textwithoutpadding.section h6,
.textwithoutpadding.section b,
.textwithoutpadding.section strong{
color: #424475;
}

.textwithoutpadding.section p a, .textwithoutpadding.section a{
text-decoration: underline;
	color: #424475;
}

.textwithoutpadding.section p a:hover{
color: #424475;
}

.textwithoutpadding.section a.btn,
.textwithoutpadding.section p a.btn,
.textwithoutpadding.section p a.btn-primary:hover{
color:#FFF;
}

.textwithoutpadding .top-border{
border-top:1px solid #00ADBB;
}

.textwithoutpadding .bottom-border{
border-bottom:1px solid #00ADBB;
}

.textwithoutpadding .left-border{
border-left:1px solid #00ADBB;
padding-right: 15px;
}

.textwithoutpadding .right-border{
border-right:1px solid #00ADBB;
padding-left: 15px;
}
.textwithoutpadding .bluePrimaryCTA{
color: #424475;
}
.textwithoutpadding .style-advice-style,
.textwithoutpadding .gray,
.textwithoutpadding .component-sub-heading,
.textwithoutpadding .component-description{
color: #231F20;
}
.overlay{
position:fixed;
	background-color:#000;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:9999;
	opacity: 0.5;
}

.session-alert {
	padding: 20px;
	background-color: #424475;
	color: white;
}

.closebtn {
	margin-left: 15px;
	color: white;
	font-weight: bold;
	float: right;
	font-size: 22px;
	line-height: 20px;
	cursor: pointer;
	transition: 0.3s;
}

.closebtn:hover {
	color: black;
}

.overlay .loader-img{
background: url('../../clientlibs/ss-publish-clientlibs/resources/images/loader.GIF');
 padding: 27px 38px;
	position: relative;
	top: 50%;
	left: 50%;
}

.sdp-salon-offers .offer-container{
	border : none !important;
}

/*for ajax loaders*/

#ajaxloader2{
position: absolute;
width: 60px;
height: 60px;
left: 50%;
top: 50%;
margin: -30px 0 0 -30px;
border: 8px solid #fff;
border-right-color: transparent;
border-radius: 50%;
box-shadow: 0 0 25px 2px #eee;
-webkit-animation: spin 1s linear infinite;
-moz-animation: spin 1s linear infinite;
-ms-animation: spin 1s linear infinite;
-o-animation: spin 1s linear infinite;
animation: spin 1s linear infinite;
}

@-webkit-keyframes spin
{
from { -webkit-transform: rotate(0deg); opacity: 0.4; }
50%  { -webkit-transform: rotate(180deg); opacity: 1; }
to   { -webkit-transform: rotate(360deg); opacity: 0.4; }
}

@-moz-keyframes spin
{
from { -moz-transform: rotate(0deg); opacity: 0.4; }
50%  { -moz-transform: rotate(180deg); opacity: 1; }
to   { -moz-transform: rotate(360deg); opacity: 0.4; }
}

@-ms-keyframes spin
{
from { -ms-transform: rotate(0deg); opacity: 0.4; }
50%  { -ms-transform: rotate(180deg); opacity: 1; }
to   { -ms-transform: rotate(360deg); opacity: 0.4; }
}

@-o-keyframes spin
{
from { -o-transform: rotate(0deg); opacity: 0.4; }
50%  { -o-transform: rotate(180deg); opacity: 1; }
to   { -o-transform: rotate(360deg); opacity: 0.4; }
}

@keyframes spin
{
from { transform: rotate(0deg); opacity: 0.2; }
50%  { transform: rotate(180deg); opacity: 1; }
to   { transform: rotate(360deg); opacity: 0.2; }
}

div.visible-md a{
color:#424475;
}

/*changes made for offer detail component related css */

.relatedofferstitlecomp h3 {
padding-top: 20px;
text-align: left !important;
clear: both;
	color: #424475;
}

/*breadcrumb styles*/

.breadcrumb{
padding:0 !important;
	margin-bottom:10px;
float:left;
	width: 100%;
}

@media(max-width:768px){
.breadcrumb{
	margin-top:10px;
}
}

.breadcrumb div{
float:left;
color:#424475;
}

.breadcrumb div span{
color:#231F20;
}

.breadcrumb div a span{
color:#424475;
}

/*iframe for coupon related pages
.kouponmediaoffercomp  iframe{
	margin-top:-138px;
}*/

@media(min-width:1024px){
	.kouponmediaoffercomp {
			border-top:0;
			margin:0 auto;
	}
	.kouponmediaoffercomp  iframe{
			min-height:1000px !important;
			/*margin-top:-138px;*/
	}
}

.input-group-btn .coupon-search-btn{
text-align: center !important;
display: block;
width: 33%;
margin: 10px auto !important;
border-radius: 5px !important;
}

@media(max-width:768px){
	.input-group-btn .coupon-search-btn{
	width:100%;
	}
}

/*JUMP LINKS IN STYLES LANDING PAGES */
.jumpLinks{
	position:relative;
	top:-4px;
}

/*HOME PAGE LNY COMPONENT MOBILE VIEW RELATED CHANGES */

@media(max-width:768px){
.hero-lny-wrap  .col-md-7,.hero-lny-wrap .col-md-5{
		 padding:0;
	}
}
/*for scrolltop functionality*/

#back-to-top {
	position: fixed;
	bottom: 50%;
	right: 0;
	z-index: 9999;
	width: 40px;
	height: 40px;
	text-align: center;
	line-height: 30px;
	background:  url('../../clientlibs/ss-publish-clientlibs/resources/images/back-to-top-graySS-dk.png') no-repeat center center;
	cursor: pointer;
	border: 0;
	border-radius: 2px;
	text-decoration: none;
	transition: opacity 0.2s ease-out;
	opacity: 0;
	visibility:hidden;
	color: transparent;
}
#back-to-top.show {
	opacity: 1;
	visibility:visible;
}

.bt-mob{
			text-align:center;
			display:none;
}

@media(max-width:768px){
	#back-to-top{
			display: none !important;
	 }
	 .bt-mob{
			display:block;
			padding-top: 5px;
	}
}

/*iframe for coupon related pages*/
.regisiframe  iframe{
	margin-top:-138px;
}

@media(min-width:1024px){
	.regisiframe  {
			width:924px;
			border-top:1px solid #e6e6e6;
			margin:0 auto;
	}
	.regisiframe   iframe{
			min-height:1000px !important;
			margin-top:-138px;
	}
}
.pagetagsdisplaycomp .h4{
	color: #424475;
}
.pagetagsdisplaycomp h2.h3{
	color: #424475;
	font-family: commuters-sans, sans-serif;
font-weight: 600;
line-height: 1.1;
	font-size: 28px;
	margin-top: 0px;
}
.product-features .pagetagsdisplaycomp h2.h3{
	color: #3F3373 !important;
	font-family: commuters-sans, sans-serif;
    font-weight: 600;
    line-height: 1.1;
	font-size: 20px;
	margin-top: 0px;
	text-transform: none;
}
.pagetagsdisplaycomp ul li{
	color: #231F20;
}
.gm-style-pbt{
background: #424475 !important;
}
.btn-primary.disabled:hover,
.btn-primary.disabled:focus,
.btn-primary.disabled:active{
background: #424475 !important;
	border-color: #424475 !important;
}

/* styles for modal popup  */
.onload-page-modal .modal-dialog .modal-content{
	border-radius: 0px;
}
.onload-page-modal .modal-dialog .modal-content .modal-body{
padding: 0;
}
.onload-page-modal .modal-dialog .modal-content .modal-body .row{
margin-right: -10px;
margin-left: -10px;
}
.onload-page-modal .modal-dialog .modal-content .modal-body .modalDescDiv{
position: relative;
}
@media (max-width: 767px){
.onload-page-modal .modal-dialog .modal-content .modal-body{
			padding: 25px 10px 10px;
	}
}
.onload-page-modal .modal-dialog .modal-content .modal-body .emailtoast-modalfield{
	margin-right: 10px;
}
.onload-page-modal .modal-dialog .modal-content .modal-body button{
background: url('../../clientlibs/ss-publish-clientlibs/resources/images/Close_Icon_Teal.svg') no-repeat;
background-size: cover;
width: 16px;
height: 16px;
	opacity: 1 !important;
	margin-right: 0 !important;
	position: absolute;
	top: 15px;
	right: 25px;

}
@media (max-width: 767px){
.onload-page-modal .modal-dialog .modal-content .modal-body button{
			top: 3px;
			right: 5px;
	}
}
.onload-page-modal .modal-dialog .modal-content .modal-body button:focus{
outline: none !important;
}
.onload-page-modal .modal-dialog .modal-content .modal-body a.cta-arrow{
font-weight: bold;
}
.onload-page-modal .modal-dialog .modal-content .modal-body a.cta-arrow span.right-arrow{
	width: 0;
	height: 0;
	border-top:7px solid transparent;
	border-bottom: 7px solid transparent;
	border-left: 7px solid #424475;
	display: inline-block;
	position: relative;
	top: 1px;
}
.onload-page-modal .modal-dialog .modal-content .modal-body a.cta-arrow:hover{
text-decoration: none;
}
@media (min-width: 768px){
	.onload-page-modal .modal-dialog .modal-content .modal-body .display-modal-table{
			display: table;
			width: 100%;
			table-layout: fixed;
	}
	.onload-page-modal .modal-dialog .modal-content .modal-body .display-modal-tablecell{
			display: table-cell;
			vertical-align: middle;
			float: none;
	}
}
.onload-page-modal .modal-dialog .modal-content .modal-body .modal-title{
	color: #424475;
}
.onload-page-modal .modal-dialog .modal-content .modal-body .modal-title,
.onload-page-modal .modal-dialog .modal-content .modal-body .description{
margin-bottom: 10px;
	margin-right: 5px;
}

/*Products page custom dropdown css*/
.product-page .product-dropdown.dropdown button{
text-align: left;
	background: url('../../clientlibs/ss-publish-clientlibs/resources/images/select-arrow@2x.png') no-repeat 97% 50% #ffffff;
	background-size: 8%;
	padding: 6px 12px;
	width: 100%;
}
.product-page .product-dropdown.dropdown.open button{
background: url('../../clientlibs/ss-publish-clientlibs/resources/images/select-arrow@2x-UP.png') no-repeat 97% 50% #ffffff;
background-size: 8%;
}
.product-page .product-dropdown.dropdown button:focus,
.product-page .product-dropdown.dropdown button:hover,
.product-page .product-dropdown.dropdown button:active{
border: 1px solid #424475;
outline: none;
box-shadow: none;
}
.product-page .product-dropdown.dropdown button #dropdown-selected-value{
color: #231f20;
	font-weight: bold;
}
.product-page .product-dropdown.dropdown ul.dropdown-menu{
width: 100%;
	position: relative;
	top: 0px;
border-radius: 0;
padding: 10px 0;
margin: 0;
	border-color: #424475;
	border-top: 0;
	-webkit-box-shadow: none;
-moz-box-shadow: none;
-o-box-shadow: none;
-ms-box-shadow: none;
box-shadow: none;
}
.product-page .product-dropdown.dropdown ul.dropdown-menu ul.list-unstyled{
padding-left: 40px;
}
.product-page .product-dropdown.dropdown ul.dropdown-menu > li > span{
	color: #231f20;
padding: 5px 20px 5px 17px;
	display: inline-block;
	font-weight: bold;
	border-left: 3px solid #424475;
	background: #f1f1f1;
	width: 100%;
}
.product-page .product-dropdown.dropdown ul.dropdown-menu > li > a{
color: #231f20;
	padding: 5px 20px;
	font-weight: bold;
}
.product-page .product-dropdown.dropdown ul.dropdown-menu ul.list-unstyled > li > a{
padding: 5px 0;
display: inline-block;
}
.product-page .product-dropdown.dropdown ul.dropdown-menu ul.list-unstyled > li > span{
	color: #231f20;
border-left: 3px solid #424475;
	background: #f1f1f1;
	display: inline-block;
	width: 100%;
	padding: 5px 0 5px 3px;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
color: #fff;
background-color: #424475;
border-color: #424475;
}
.salontitle_salonsmalltxt{
			color: #424475;
	font-size: 18px;
	line-height: 80%;
	font-weight: bold;
	display: block;
	margin: 0px;
	margin-top: 22px;
}
.salontitle_salonlrgtxt{
			color: #424475;
	font-size: 32px;
	margin: 0px;
	margin-bottom: 25px;
}
button.btn.btn-block.btn-secondary {
	background: #fff;
	color: #424475 !important;
	border: 1px solid #424475 !important;
}
.row.provisionTNP-subhead{
margin-right:0px;
margin-left:0px;
}
.provisionTNP.row{
margin-left:0px;
margin-right:0px;
}
button#email-signup-btn {
	font-size: 15.5px;
}
.registration .flowwrapper .h2 {
	color: #424475;
}
.imageslidercomponent a {
color: #fff;
text-decoration: none;
outline:none;
}
.imageslidercomponent a:hover,
.imageslidercomponent a:focus {
color: #fff;
text-decoration: underline;
}
@media (max-width: 320px){
	.brightcoveplayer .vjs-menu ul.vjs-menu-content{
			height: 110px !important;
			width: 9em !important;
			left: -2em !important;
			padding: 0.2em !important;
	}
	.brightcoveplayer .vjs-menu ul.vjs-menu-content .vjs-menu-item{
			padding: 0.2em !important;
	}
}
@media (min-width: 321px) and (max-width: 767px){
	.brightcoveplayer .vjs-menu ul.vjs-menu-content{
			height: 140px !important;
			width: 9em !important;
			left: 1em !important;
	}
}

/*hairlinecomponent styles*/
.hairlinecomponent.section{
padding: 0;
}
.hairlinecomponent hr{
border-top: 1px solid #DADBDC;
}
.hairlinecomponent hr.margin5{
margin:5px 0;
}
.hairlinecomponent hr.margin10{
margin:10px 0;
}
.hairlinecomponent hr.margin15{
margin:15px 0;
}

/* Promotion Skeleton */
.promotionskeleton{
padding: 0 !important;
}
.promotionskeleton .sdp-salon-offers{
height: 100%;
padding: 0 !important;
}
.promotionskeleton .sdp-salon-offers .img-text-comp{
	height: 100%;
	border: none;
	text-align: center;
}
.promotionskeleton .sdp-salon-offers .img-text-comp.theme-default{
background: #f3f3f3;
color: #626264;
position: relative;
}
.promotionskeleton .sdp-salon-offers .img-text-comp.theme-default p{
margin-bottom: 0 !important;
	min-height: 0;
}

/* Top Image */
.promotionskeleton .sdp-salon-offers .img-text-comp.theme-default.topimage img{
width: 145px !important;
margin: 0 auto 10px !important;
padding-top: 14px;
display: block;
}
.promotionskeleton .sdp-salon-offers .img-text-comp.theme-default .imgtxt-box{
padding: 0 !important;
text-align: center;
}
.promotionskeleton .sdp-salon-offers .img-text-comp.theme-default.topimage .imgtxt-box .title{
font-weight: normal !important;
font-size: 30px;
	line-height: 32px;
	min-height: 64px;
	padding: 0;
margin-bottom: 10px;
}
.promotionskeleton .sdp-salon-offers .img-text-comp.theme-default .imgtxt-box .description{
color: #231f20;
	min-height: 66px !important;
}
.promotionskeleton .sdp-salon-offers .img-text-comp.theme-default.topimage .next-btn{
display: inline-block;
	background: none;
	border: none;
	font-size: 16px;
	font-weight: bold;
	color: #424475 !important;
	padding: 0;
	position: relative;
	top:35px;
}
.promotionskeleton .sdp-salon-offers .img-text-comp.theme-default .next-btn .icon-arrow:before{
font-size: 16px;
	font-weight: bold;
}

/* Bigger Image */
.promotionskeleton .sdp-salon-offers .img-text-comp.theme-default.biggertopimage img{
width: 100% !important;
}
.promotionskeleton .sdp-salon-offers .img-text-comp.theme-default.biggertopimage .imgtxt-box .title{
font-weight: normal !important;
font-size: 30px;
	line-height: 31px;
	padding: 0;
	min-height: 62px;
}
.promotionskeleton .sdp-salon-offers .img-text-comp.theme-default.biggertopimage .next-btn{
display: inline-block;
	background: none;
	border: none;
	font-size: 16px;
	font-weight: bold;
	color: #424475 !important;
	padding: 0;
}

/* Noimage */
.promotionskeleton .sdp-salon-offers .img-text-comp.theme-default.noimage .imgtxt-box{
padding-top: 100px !important;
margin-bottom: 40px;
}
.promotionskeleton .sdp-salon-offers .img-text-comp.theme-default.noimage .imgtxt-box .title{
font-size: 30px;
font-weight: normal !important;
line-height: 32px;
min-height: 64px;
padding: 0;
	margin-bottom: 20px;
}
.promotionskeleton .sdp-salon-offers .img-text-comp.theme-default.noimage .next-btn{
display: inline-block;
	background: none;
	border: none;
	font-size: 16px;
	font-weight: bold;
	color: #424475 !important;
	padding: 0;
position: relative;
top: 30px;
}
.promotionskeleton .sdp-salon-offers .img-text-comp.theme-default .next-btn,
.promotionskeleton .sdp-salon-offers .img-text-comp.theme-default .next-btn:focus,
.promotionskeleton .sdp-salon-offers .img-text-comp.theme-default .next-btn:active{
	outline: none !important;
	box-shadow: none !important;
}
.promotionskeleton .sdp-salon-offers .img-text-comp.theme-default.topimage .next-btn .right-arrow{
left: 3px;
}
@media (max-width: 375px){
	.promotionskeleton .sdp-salon-offers .img-text-comp.theme-default.topimage .next-btn{
			top: 10px;
	}
}
p.showOpen {
	display: inline;
	color: #a94442;
}
.check-in .store-hours span.closedNow{
	display: inline;
}
.map-directions .check-in .location-details .vcard p.showOpen:hover{
	text-decoration: none;
	color: #a94442;
}
.modal-body a{

	}

.modal-body a.cta-arrow {

	}
.overlay-component-modal .modal-body{
	text-align: center;
}
span.right-arrow{
		width: 0;
	height: 0;
	border-top: 7px solid rgba(0, 0, 0, 0);
	border-bottom: 7px solid rgba(0, 0, 0, 0);
	display: inline-block;
	position: relative;
	top: 2px;
}
.modal-body span.right-arrow{
	border-left: 7px solid #424475;
	font-weight:bold;
}
@media (max-width: 475px){
	select#accountsideNav {
	margin-top: 30px;
}
}
.button-container{
	text-align: center;
	width: fit-content !important;
	width:-moz-fit-content;
	width:-webkit-fit-content;
	width:-ms-fit-content;
	float:left;
 clear:left;
}
.ff-container{
	display: table !important;
	background: none !important;

}
button.start{
	width: 20px;
	height: 20px;
	padding: 0px;
	margin-right: 10px;
	border: 1px solid #000;
	margin-top:2px;
	background-color: #fff;
}
button.start img{
 width: 15px;
	height: 15px;
	margin-top: -6px;
}
button.stop img{
		width: 10px;
	height: 10px;
			margin-top: -6px;
}
button.stop{
	width: 20px;
	height: 20px;
	padding: 0px;
	border: 1px solid #000;
	margin-top:2px;
	 background-color: #fff;
}
.aboutyoucomponent fieldset legend{
padding-bottom: 0px !important;
padding-left: 0px !important;
padding-right: 0px !important;
font-size: inherit;
margin-bottom: 0px !important;
}
.aboutyoucomponent fieldset{
margin-bottom: 0px !important;
padding-left: 0px !important;
padding-right: 0px !important;
font-size: inherit;

}
.experience fieldset legend{
padding-bottom: 0px !important;
padding-left: 0px !important;
padding-right: 0px !important;
font-size: inherit;
margin-bottom: 0px !important;
}
.experience fieldset{
margin-bottom: 0px !important;
padding-left: 0px !important;
padding-right: 0px !important;
font-size: inherit;

}
.salondetailcomponent #sdcName:hover{
text-decoration:none;
}
@media(max-width:768px){
	.registration label.gender {
			display: block;
			float: none;
	}
.registration .phone-section .col-md-12 {
			margin-bottom: 5px;
			padding: 0 10px !important;
	}
.registration .phone-section .col-md-6 {
			padding: 0 10px !important;
	}
}
.show-more-container .map-directions .check-in .location-details .vcard button.close-btn {
	display: none;
}
.added-salons-container .show-more-container .map-directions .check-in .location-details .vcard button.close-btn {
	width: 48px;
	height: 46px;
	background-color: #fff;
	display: inline-block;
	position: absolute;
	bottom: -10px;
	right: -12px;
	z-index: 1180;
	border-radius: 50%;
	border: 1px solid #231f20 !important;
	box-shadow: 0px 0px 3px #888888;
	font-size: 31px;
	text-align: center;
	font-weight: bold;
	text-decoration: none;
	color: #424475;
	margin: 0;
	padding: 0;
}
legend.h4{
	padding-bottom: 0px;
  }
  .login-main .login-wrapper h1.h4{
	margin-top: 0px !important;
	margin-bottom: 15px !important;
   font-size: 1.45em !important;
  }
  legend.guestLegend {
	  font-size: 16px;
	  line-height: 1.42857143;
	  color: #5f6167;
	  font-weight: bold;
  }
.style-detail-wrap .img-text-comp .theme-default{
	background: #fff;
	color:#231f20;
}
.style-detail-wrap .img-text-comp .theme-dark{
	background: #fff;
	color:#231f20;
}
.style-detail-wrap .img-text-comp .theme-brand{
	background: #fff;
	color:#231f20;
}
.style-detail-wrap .img-text-comp .theme-blue{
	background: #fff;
	color:#231f20;
}
.offerdetailcomponentpar .offerdetailcomponent .img-text-comp .theme-blue{
	background: #fff;
	color:#231f20;
}
.offerdetailcomponentpar .offerdetailcomponent .img-text-comp .theme-rand{
	background: #fff;
	color:#231f20;
}
.offerdetailcomponentpar .offerdetailcomponent .img-text-comp .theme-default{
	background: #fff;
	color:#231f20;
}
.offerdetailcomponentpar .offerdetailcomponent .img-text-comp .theme-dark{
	background: #fff;
	color:#231f20;
}
.skinny-text-component .grey-bg. skinny-title h3 {
	margin: 0;
	font-size: 28px;
	font-weight: bold;
	color: #fff !important;
  }
.skinny-text-component .brand-bg. skinny-title h3 {
	margin: 0;
	font-size: 28px;
	font-weight: bold;
	color: #231f20 !important;
  }
	a#sdcCheckInButtonID {
		font-family: commuters-sans,sans-serif !important;
		font-weight: 600;
		font-size: 14px;
	}
	a#sdcGetDirectionsButton{
		font-family: commuters-sans,sans-serif !important;
		font-weight: 600;
		font-size: 14px;
	}
	.checkin-user-details legend{
		margin-bottom: 0px !important;
			}
/* Fix for breadcrumb edit issue */
.breadcrumb-align {
    padding-right: 0px;
    padding-left: 0px;
}
/* Fix for LNY component edit*/
.lnyedit {
    position: inherit !important;
}