#231f20.globalofferscomponent{
    overflow:hidden;
    height:auto;
    clear:both;
    .global-offers-promotion {
        margin: 0;
        padding: 0 10px 20px 10px;
        text-align: center;
        .offer-container {
            width: 99%;
            margin-left: 1px;
            padding:0;
            border: 1px solid #c8c8c8;
            text-align:left;
            .offer-product-img {
                padding:10px;
                display:table;
                a{
                    display:table-cell;
                    vertical-align:middle;
					 img {
                	 	width: 100%;
                	}
                }
            }

            .offer-description {
                padding:2ex 1em;
                text-align:left;
                h4 {
                    font-weight: 700;
                    color: #231f20;

                    a{
                        color: #231f20;
						font-weight:normal;
                    }
                }

                .cta-to-offer-details  {
                   margin-top:11px;
                }
            }
        }
    }
}
