// Custom Variables override
@import "../core/custom-variables";

.accordion {
    .panel {
        background: #f2f2f2;
        -webkit-box-shadow: none;
        box-shadow: none;
        border: none;

        .check-in .location-details .action-buttons{
            margin-top: 0;
        }
        &>.panel-heading{
            color: #231f20;
            background-color: @brand-primary;
            border-color: #231f20;
        }
    }
        .panel-body {
        padding-top: 2ex;
        padding-bottom: 2ex;
    }
    .panel-heading {
        padding-top: 0;
        padding-bottom: 0;
        border-radius: 0;
        .circle-backdrop {
			/* -webkit-transform: rotate(60deg);
            -ms-transform: rotate(0deg);
            -o-transform: rotate(60deg);
            transform: rotate(0deg);*/
            padding: 9px;
            border-radius: 50%;
            background: #00ADBB;
            font-size: 2.5em;
            line-height: 0;
            position: relative;
			top: 12px;
			font-size:29px;
        }
        .circle-backdrop:before {
            position: relative;
            left: 1px;
            top: -2px;
            color: #424475;
        }
        .panel-title {
            font-family: proxima-nova, sans-serif;
            font-size: 1em;
            text-transform: none;
            font-weight: normal;
            font-style: italic;
            padding-top: 12px;
            padding-bottom: 12px;
			color: #474747;
			@media (max-width: 320px) {
				font-size:14px !important;
            }
        }
        a {
            color: #231f20;
            text-decoration: none;
            outline:none;
			&:hover{
				background: #132746;
				.accordion-trigger{
					top:3px;
                    &.active{
                        top: -6px;
                    }
				}
			}
			.accordion-trigger {
				-webkit-transition: all, 0.2s;
				-moz-transition: all, 0.2s;
				-o-transition: all, 0.2s;
				transition: all, 0.2s;
				position: relative;
				top: 0;
				font-size: 1.5em;
				margin-right: .5em;

                &.active{
                    -webkit-transform: rotate(180deg);
                    -ms-transform: rotate(180deg);
                    -o-transform: rotate(180deg);
                    transform: rotate(180deg);
                    top: -3px;
                }
			}
        }
    }

    .panel-heading {
        color: #474747;
        background-color: #00ADBB;
        border-color: #00ADBB;
    }
    &.accordion-header-widget{
        .panel-heading {
            color: #474747;
            background-color: #8ec8be;
            border-color: #474747;
        }
    }
    &.accordion-header-widget {
        .panel-body {
            padding-top: 3ex;
            border-top: 1px solid #474747;
        }
    }
}
#locations-accordion {
    /* margin-bottom: 8ex; WR5 Update */
      #nearbyLocations{
        padding:0;

		h2 {
            margin-top:10px;
			text-transform: none;

		}
		@media(max-width:470px) {
			.panel-body{
				padding-left:0;
				padding-right:0;
				.locations-col{
					padding:0
				}
				.location-details{
					width: 74%;
					.action-buttons{
						width: 100%;
						.btn{
							padding-left: 5px!important;
							text-align: center;
							padding-right: 5px !important;
						}
					}

				}
			}
		}
	}
    .lny-header {
        border:none;
        min-height:150px;
		 @media(max-width:992px) {
            min-height:0px;
			margin-top: 10px;
        }
        .check-in {
			padding-bottom:0;
            border:none;
			.wait-time{
               width:60px;
                &.call-now .h4{
					left: 9px;
					width: 100%;
                    font-size: 14px;
        	    }
        	}
        }
        .vcard {
            width:78%;
            @media(max-width:768px){
				width:70%;
            }
        }
        .location-details {
            .vcard {
                min-height: 77px;
            }
        }
    }
    .check-in {
        .wait-time.call-now .vcard .minutes{
			margin:10px 3px;
        }
        .location-details {
            .btn-group {
                width: 16%;
                text-align:right;
            }
            .btn {
                font-size:16px;
				width:auto;
                border-radius:4px;
            }
            .action-buttons {
                overflow: hidden;
                display: inline-block;
                width: 100%;
            }
             .miles{
                @media(max-width:768px){
                    float:right;
                }
                font-size:14px;
                float:left;
            }
        }
    }
	&.locations-accordion{
		.container{
			width:100%;
			@media (max-width: 992px) {
				padding:0;
			}
			.locations{
				.check-in{
					.location-details{
						width:72%;
					}
				}
			}
		}
	}
	.locations {
		background: none;
	}
}
#locations-accordion.accordion-header-widget {
    margin-bottom: 2ex;
@media(min-width:992px) {
          margin-bottom: 1ex;
    }
    max-height: 100ex;
    -webkit-transition: all, 2s;
    -moz-transition: all, 2s;
    -o-transition: all, 2s;
    transition: all, 2s;
}
#locations-accordion.accordion-header-widget.fold-in {
    max-height: 0;
    overflow: hidden;
    -webkit-transition: all, 0s;
    -moz-transition: all, 0s;
    -o-transition: all, 0s;
    transition: all, 0s;
}
.search-wrapper {
    position: relative;
    input[type="search"] {
        padding-left: 2.25em;
    }
}
//for smartstyle
#header{
    .navbar-collapse.main-navbar-collapse{
        .search-wrapper {
            position: relative;
            input[type="search"] {
                @media (max-width: 767px) {
                    width: 85%;
                }
            }
        }
    }
}
.search-wrapper:before {
    position: absolute;
    z-index: 9;
    top: 5px;
    left: 10px;
    content: "\e60c";
    font-family: icomoon;
}
@media(min-width:992px) {
    #locations-accordion .lny-header .check-in;
}
@keyframes scissor-cut {
  from {
    left: 10px;
  }
  to {
    left: 100px;
  }
}
/*Styles added for post-integration issue*/
.headerwidget{
    clear: both;
}

@media(max-width:767px) {
    .header-widget-title{
    	display: block;
		margin-right: 16px;
		padding-left: 49px;
		position: relative;
		top: -19px;
		width: 255px;
    }
    .accordion{
    	.panel-heading{
    		a{
    			.accordion-trigger{
    				position: absolute;
					right: -17px;
					top: 15px  !important;

					&.active{
						top: 15px !important;
					}
    			}

    		}
    	}
		.panel-title{
			position:relative;
		}
    }
	#locations-accordion .lny-header{
		float:left;
		min-height:0;
	}
	#nearbyLocations .col-sm-12.col-md-4{
		float:left;
	}
	#nearbyLocations .locations-col{
		border:none !important;
	}
	#locations-accordion .lny-header .check-in{
		padding: 0;
		padding-bottom: 5px;
	}

    /* WR5 Update */

    .sdp-template-bottom-wrap{

        .panel-body{

            padding-left:5px;
            padding-right:5px;
        }

        #locations-accordion{

        .lny-header{

            .location-details {

                .vcard{

                    width:80%;
                }
            }
        }
    	}
    }


}
@media(max-width:470px) {

	.accordion.locations-accordion .panel-heading .panel-title{
			display: table;
			margin-left: 0;
    }
    .accordion.locations-accordion .panel-heading .panel-title span{

        display: table-cell;
        border-radius: 0;
        background: none;
        vertical-align: top;
        width:71%;
        top:3px;
    }
    .accordion.locations-accordion .panel-heading .panel-title span.circle-backdrop {
        width:10%;
        left: -10px;
    }
    .accordion.locations-accordion .panel-heading .panel-title span.accordion-trigger{
			width: 8%;
            right: 0;
            text-align: right;
            margin-right: 0;
    }
}
