select.form-control{
	background:#fff;
}
.custom-dropdown-select{
	padding:2px 12px;
}
.search-wrapper #search,.search-wrapper #locSearchAutocomplete, .search-wrapper #autocompleteHeaderWidget{
		padding-left: 2.25em;
    }