.listicles-container{
    .listicle-item{
    	margin: 10px 0 40px 0;
        .essential-image{
            img{
            	position: relative;
                width: 100%;
            }
            .image-index{
            	position: absolute;
                font-size: 45px;
                line-height: 45px;
            	&.topRight{
            		top: 0;
                    right: 10px;
            	}
                &.topLeft{
                    top: 0;
                    left: 11px;
                }
                &.bottomRight{
                    bottom: 0;
                    right: 10px;
                }
                &.bottomLeft{
                    bottom: 0;
                    left: 11px;
                }
            }

        }
        .description-section{     
            .title{
                margin-top: 0;
                padding: 0;
				color:#2e6ca2;
                font-size: 22px;
            }       
            a{
                color:#2e6ca2;
                text-transform: uppercase;
                font-weight: bold;
                .right-arrow{
                    width: 0;
                    height: 0;
                    border-top:7px solid transparent;
                    border-bottom: 7px solid transparent;
                    border-left: 7px solid #2e6ca2;
                    display: inline-block;
                    position: relative;
                    top: 1px;
                }
            }    
        }
    }
}

    
