
/*changes for salonlistonpage*/
.listsalonsonpage,.openingsoonsalonslistcomponent{
    @media(max-width:768px){
		padding:0 !important;
    }
    .salon-list-head{
        .jump-links-wrap{
			padding-left:0;

        }
        margin-bottom:30px;
        @media(max-width:768px){
            margin-bottom: 15px;
        }
        padding:0;
        h1{
            text-transform:capitalize;
            color:#231f20;
            font-size:40px;
            @media(max-width:768px){
                margin:0;
                font-size:20px;
            }
        }
        h2 {
            font-size:16px;
        }
        .search-section{
			background-color: #e1eef4;
  			padding: 1.5ex;
            h4{
				text-transform:none;
            }
        }
        .jump-link-head{
			padding-left:0;
            font-size: 13px;
        }
        .jump-link-alpha{
            span{
				margin-right:20px;
                @media(max-width:768px){
					margin-right:10px;
                }
                font-weight:bold;
                a{
					color:#424475;
                }
            }
        }
    }
    .state-wrap{
        padding:0;
        .each-state{
            .jump-links{
                padding:0;
                .h2{
					margin:0;
                    line-height:40px;
                    text-transform: uppercase;
                }
                a{
					position:absolute;
                    bottom:0;
                    left:50px;
                    @media(max-width:768px){
                        left:30px;
                    }
                    color:#424475;
                    font-size: 13px;
                }
            }
            padding:0;
            .state-name{
                padding:0;
                h3{
                    text-transform:uppercase;
                    font-weight:bold;
                    margin:0;
                    padding:10px 0;
                    font-size:15px;
                    @media(max-width:768px){
						padding-bottom:0;
                    }
                    a{
						color:#231f20;
                        text-transform: capitalize;
                    }
                }
            }
            .salon-group{
                table{
                     width:100%;
                    tr{
                        border-bottom:1px solid #5f6167;
						td{
                            width:100%;
                            padding:10px;
                            @media(max-width:768px){
								padding:10px 0;
                            }
                            font-size:16px;
                            a{
                                color: #424475;
                                font-style:italic;
                            }
                        }
                        &:last-child{
							//border-bottom:none;
                        }
                        &:first-child{
							border-bottom:1px solid #5f6167;
                        }
                    }
                }
                @media(max-width:768px){
					padding:0;
                }
            }
            .state-link-for-city{
                h4{
                    a{
						font-size:16px;
                        color:#231f20;
                        text-transform: uppercase;
                    }
                }
            }
        }
    }
}

.openingsoonsalonslistcomponent{
    .each-state{
        .pull-left{
			width:100%;
        }
    }
}
@media(max-width:768px) {
  .listsalonsonpage{
    .errorMessage{
      display: inline-block;
    }
  }
}
