// Custom Variables override
@import "../core/custom-variables";
//

// LOCATIONS
// --------------------------------------------------


.sdp-left-template {
    .locations {
        &.map-directions {
		.check-in {
			padding-top: 0.5ex;
			@media (max-width: 767px){
				padding-bottom: 0;
			}
                .store-hours{
                    > span{
						width:100%;
                    }
                }
		}
    }
}
}
.locations {
	background: rgba(255, 255, 255, 0.85);
	border: 1px solid #00ADBB;
    @media screen and (max-width: 767px){
       margin-top: 10px;
    }
	@media (min-width: @screen-md-min) {
		overflow: hidden;
		border: 1px solid #00ADBB;
	}
     @media (min-width:992px){
	 min-height: 330px;
    }
    @media (min-width:1199px){
	 min-height: 330px;
    }
	> header {
        a{
			color:inherit;
            text-decoration:none;
            > h2.titleLNYLU {
        		font-size:26px !important;
              margin-top: 11px !important;
               font-family: commuters-sans, sans-serif;
               font-style: normal;
               font-weight: 600;
               text-transform: uppercase;

               	@media screen and (max-width: 767px){
		         font-size:21px !important;
                // border-bottom: 2px solid #231F20;
	           }

        		}
            &:hover{
				text-decoration:none;
            }
        }
		padding-top: .5ex;
		padding-left: 5%;
		padding-right: 5%;
    width: 100%;
   overflow: hidden;
   background-color: #00ADBB;
   text-align:  center;
		> h1 {
			margin-bottom: .25ex;
		}
		> h2, .h2 {
			font-size:30px;
		}
		#ipSubtitle{
			margin-bottom:0;
		}
	}
	.errorMessage{
		padding-top: .5ex;
		padding-left: 5%;
		padding-right: 5%;
        height:170px;
            p{
            display: table-cell;
            vertical-align: middle;
        }
	}
	.check-in{
		padding:12px 0;
        /*border-bottom:1px solid #8ce8be;*/
        @media (min-width:1199px){
	 		padding:17px 0;
    	}
		 .wait-time {
            width:60px;
        }
        .location-details{
            .action-buttons{
                .btn.btn-default{
					color: #424475 !important;
                    background: #fff !important;
                    border-color: #424475 !important;
                    &:active,&:focus{
                        -webkit-box-shadow: none;
						box-shadow: none;
                    }
                }
            }
        }
	}
	footer {
		width: 100%;
		padding-bottom: 2.5ex;
		overflow: hidden;
		background-color: #00ADBB;
		padding-left: 5%;
		padding-right: 5%;
        @media(min-width:992px){
            bottom:0;
        }
        a{
			color:inherit;
            text-decoration:none;
            &:hover{
				text-decoration:none;
            }
           #searchBtnLabel {
              font-size: 18px;
            }
        }
		> h1 {
			// color: #fff;
			color: @gray-dark;
			&.h3{
				font-size:@font-size-large;
			}
		}
		.search-wrapper {
			&:before {
				display: none;
			}
			input {
				border-color: #424475;
				padding-left: 1em;
			}
		}

		.input-group{
		        .input-group-btn {
		                .btn{
			                font-family: commuters-sans, sans-serif;
			                font-style: normal;
			                font-weight: 600;
		                }
		        }
		}
	}

	&.map-directions {
		overflow: hidden;
		.check-in {
			position: relative;
			border: 0;
			padding-top: 3ex;
			padding-bottom: 3ex;
		}
		@media (min-width: @screen-md-min) {
	    border: 1px solid @brand-primary;
		height:465px;
	    > section {
    		border: 1px solid @brand-primary;
    	}
			.check-in {
				border: 0;
			}
			.action-buttons {
				margin-top: 1.25ex;
				clear: both;
				overflow: hidden;

				.btn {
					display: block;
					float: left;
					width: 100%;
					clear: both;
					margin-bottom: 0;
					&.btn:first-child {
						margin-bottom: 2ex;
					}
				}
			}
	  }
	}
}
.check-in {
	float: left;
	//width: 94%;
	//border-top: 1px solid @gray;
	padding: 3ex 0 3.1ex;
/*	margin-left: 3%;
	margin-right: 3%;*/

	&:first-of-type {
		border-top: 0;
	}
	&:only-of-type {
		border: none;
		padding-top: 0;
	}
	.wait-time {
		float: left;
		width: 80px;
		margin: 0 3% 0 0;
		position:relative;
		.vcard {
			margin-top:20px;
			.minutes {
				font-family: @headings-font-family;
				font-weight: @headings-font-weight;
				font-size: @font-size-h4;
				color: #fff;
				background: #424475;
				text-align: center;
				margin: 5px auto;
				padding: 2px;
				position: relative;
				width: 50px;
				height: 50px;
				border-radius: 50%;
				z-index: 1;
				&:before {
                    background-color: #231F20;
				}
				span {
					position: relative;
					top: 10px;
					text-align: center;
                    display:block;
				}
                 div#waitTimeSalonDetail{
                  position: relative;
                  top:9px;
                }
			}
		}
		&.cmng-soon{
			margin-bottom:10px;
			.vcard{
				background:none;
				.minutes{
					  width: 60px;
					  height: 60px;
					  background: url('../../clientlibs/ss-publish-clientlibs/resources/images/list-icon-opening-soon-aqua.png');
					  margin: 10px auto;
					  -webkit-background-size: 100%;
					  -moz-background-size:100%;
					  background-size:100%;
					  box-shadow: none;
					  &:before{
						background:none;
					  }
				}
			}
		}
		&.call-now {
			.vcard {
				.minutes {
					font-size: 12px;
					text-transform: uppercase;
					background: none;
					&:before {
						display: block;
						content: '';
						width: 50px;
						height: 50px;
						margin: 0 auto;
						border-radius: 50%;
						background: url('../../clientlibs/ss-publish-clientlibs/resources/images/closed_scissor.svg') #231F20 center center;
	                    border: 2px solid #fff;
	                    box-shadow: 0 0 6px #5f6167;
	                    background-size: 58px;
	                    background-position: -6px -5px;
					}
					span {
						line-height: 40%;
					}
				}
			}
			.h4, h4{
                    color: #231F20 !important;
                    left: 10px;
					width: 100%;
                    z-index: 1;
                    font-style: italic;
                }
			.h6, h6 {
				color: #231F20;
			}
		}
		.h4 {
		    font-family: proxima-nova, sans-serif;
            font-style: normal;
            font-weight: 600;
			font-size: @font-size-h6 !important;
			text-align: center;
			margin-bottom: 8px;
			margin-top: 0;
            //position: absolute;
          	color: #231F20 !important;
          	//top: 34px;
          	//left: 10px;
		  	width: 100%;
		  	font-style: italic;
          	//z-index: 1;
            text-transform:lowercase;
            span{
				display:none;
            }
		}
		.h6 {
			color: #231F20;
			font-family: proxima-nova, sans-serif;
			font-size: 12px;
			font-weight: 600;
			font-style: italic;
			text-align: center;
			margin-top: 0;
			margin-bottom: 0;
			position: absolute;
			top: 0;
			text-transform: lowercase;
			width: 100%;
		}
	}
	.location-details {
		float: left;
		width: 80%;
        @media(max-width:768px){
			width:74%;
        }
		margin: 0;
		.vcard {
			width: 90%; // This will need to be changed back to 90% if "favoriting" is re-enabled
			 @media(max-width:768px){
				width: 82%;
            }
			float: left;
			// margin-bottom: 10px;
			min-height: 70px;
			span {
				float: left;
				display: inline-block;
				width: 100%;
				line-height: 1;
				margin-bottom:1ex;
				&.icon-tick{
					margin-bottom:0;
                }
				a {
					float: left;
				}
			}

			.store-title {
                font-family: proxima-nova, sans-serif;
                font-style: normal;
                font-weight: 600;
				font-size: 15px;
				@media screen and (max-width: 767px){
		         font-size:12px;
	           }

				a {
					color: #231F20;
				}

				&#accordion {
					font-size: @font-size-h6;
				}
			}
			.closing-time {
				font-family: proxima-nova, sans-serif;
                font-style: normal;
                font-weight: 400;
			    font-size: @font-size-h6;
			}
			.street-address {
				font-size: 12px;
				line-height: 1.4;
				font-family: proxima-nova, sans-serif;
                font-style: normal;
                font-weight: 600;
			}
			.telephone {
				//color: @gray;
                font-family: proxima-nova, sans-serif;
                font-style: normal;
                font-weight: 400;
			    font-size: @font-size-h6;
			}
		}
		.btn-group {
			width: 10%;
			margin-top: -10px;
			display:inline-block;
			.btn {
				float: left;
			}
			.favorite {
				border: 0;
				background: url('../../clientlibs/ss-publish-clientlibs/resources/images/Regis-Icons/Regis_heart.svg') no-repeat top left;
                padding:13px !important;
				//margin-top: -5px;
				&:before {
					//color: @gray;
					font-size: 26px;
				}
				&:hover, &:focus, &.active {
					outline: none;
					border: none;
					&:before {
						color: @brand-red;
					}
				}
			}
		}
	}
	.store-hours {
		float: left;
		margin-bottom: 4ex;
		margin-top: 2ex;
		min-width: 290px;
		max-width: 340px;
		span {
			display: inline-block;
			width: 49%;
		}
		.days {
			float: left;
		}
		.hours {
			float: right;
			text-align: right;
		}
	}
	.action-buttons {
		margin-top: 1.25ex;
		clear: both;
		overflow: hidden;

		.btn {
			display: block;
			float: left;
			min-width: 49%;
			margin-bottom: 0;
			font-size: @font-size-h6;
			font-family: proxima-nova, sans-serif;
            font-style: normal;
            font-weight: 400;
			&:first-of-type {
				margin-right: 2%;
			}
            &.chck{
				background-color:#424475;
                border-color:#424475;
            }
		}
	}
}

.col-md-4 {
	.check-in {
		width: 100%;
		margin-left: 0;
		margin-right: 0;
	}
}

#map {
	float: left;
	width: 100%;
	min-height: 290px;
	border: 1px solid @gray;
	@media (min-width: @screen-sm-min) {
		min-height: 271px;
	}
	@media (min-width: @screen-md-min) {
		min-height: 389px;
	}
}

.location-detail-photo {
	margin: 0 0 5ex;
}

.location-detail-social-nav {
	margin-bottom: 1ex;
}

#nearbyLocations {
    .location-details{
		width:70%;
	}
	padding-bottom: 2ex;
    overflow:hidden;
	.divider {
		border-bottom: 1px solid @gray-dark;
		margin-bottom: 1ex;
	}
	.search-wrapper{
		#autocompleteHeaderWidget{
			border-color:#424475;
		}
	}

}
.salondetailspagelocationcomp, #nearbyLocations{
	.action-buttons{
		.btn{
			font-size: 12px !important;
			padding: 7px;
		}
		.btn-default{
			color: #424475;
			border-color:#424475;
		}
		.btn-primary{
			color: #ffffff;
			background-color: #424475;
			border-color: #424475;
		}
	}
}
.locationsNearYou{
  section.locations{
    @media(min-width:992px){
             position: absolute;
             width:405px;
    }
  }
	.check-in {
		//margin-left: 3%;
		//margin-right: 3%;
	}
}
@media (min-width: @screen-md-min) {
.salondetailspagelocationcomp{
	.store-hours{
		min-height: 210px !important;
	}
	.locations{
		height: 440px !important;
	}
}
}
