
@import "../core/custom-variables";

 /* WR5 Update */
.sdp-template-wrap{
    padding:20px 15px 0px 0;
    margin: auto 10px;
    //border:1px solid #8ec8be;
    font-size:13px;
    background:#fefefe;
}

.sdp-template-bottom-wrap .nearbysalons{
    overflow:hidden;
    height:auto;
}

.sdp-template-wrap:after{
    clear:both;
    content:" ";
    display:table;
}
.sdp-template-wrap {
    .col-block{
        margin-bottom:0;
        font-size:13px;
        padding: 0;
    }
}
.sdp-template-bottom-wrap {
    .ellipseslink{
                color:#428bca;
            }
    .morecontent {
            .morelink{
                color:#428bca;
            }
        }
}
.sdp-template-wrap {

        .map-directions{

        border:none;
        padding:0;
        width:56%;
        .check-in {

            .location-details {

                .vcard {

                    width:100%;
                   a {
                        span.street-address{
                        font-size:13px;
                        color: #424475;
                        text-transform:uppercase;

                        }

                    }
                    span.telephone{
                        font-size:13px;
                        color: #424475;
                    }
                    a:hover {

                        span.street-address{
                            text-decoration:underline;
                            span{

                                text-decoration:underline;
                            }
                        }
                    }
                }
            }
            .sdp-store-hours{
                font-size:15px;
                clear:both;
                min-height:55px;
                width: 100%;
                max-width: 420px;
            }
            span.days {
                float: left;
                width: 35%;
            }
            span.hours {
                float: left;
                text-align: left;
                width: 65%;
            }
             span.closedNow{
                display: inline !important;
                margin-left:2px !important ;
                @media(min-width: 1024px) and (max-width: 1366px) {
                display: block !important;
                }

                @media (max-width:767px) {
                 display: block !important;
                }
            }

        }
    }
}
.map-directions {
    .check-in {
        padding: 0 15px;
        border: none !important;
        display: block !important;
        width: 97%;

        .store-hours {
            float: left;
            margin-top: 2ex;
            margin-bottom: 2ex;
            width: 92%;
            max-width: 340px;
            min-height: 120px;

            .hours {
                float: right;
                text-align: left;
                width: 52%;
            }

            .days {
                float: left;
                width: 48%;
            }
        }

        .location-details {
            float: left;
            vertical-align: top;
           
            max-width: 270px;
            margin: 0;

            .vcard {
                width: 89%;
                float: left;

                span.store-title {
                    width: auto;
                    margin-bottom: 0.25em;
                    color: @gray-dark;
                    font-family: commuters-sans, sans-serif;
                    font-weight: 600;
                    font-size: 15px;
                    text-transform: uppercase;
                }

                span {
                    display: inline-block;
                    width: 100%;
                    margin-top: 0;

                    span {
                        width: auto;
                    }
                }
                p{
                    span.street-address {
                        font-size: 13px;
                        margin-bottom: 0.25em;
                        line-height: 1.4;
                        width:auto;
                        clear:both;
                        float:none;
                        display:block;
                        span {
                            width: auto;
                            float: none;
                        }
                    }
                    a{
                        float:left;
                        color: #424475;
                        &:hover{
                        color:#424475;
                        text-decoration:underline;
                    }
                    }
                    &:hover{
                        text-decoration:underline;
                        color:#f00;
                        span.street-address {
                         text-decoration:underline;
                        }
                    }
                }
                span.telephone {
                    color: #231f20;
                    font-size: 13px;
                    margin-bottom: 0.25em;
                    line-height: 1.4;
                }
                span.closing-time{
                    color: #231f20 !important;
                    margin-top:0;
                    width:120%;
                    font-style:italic;
                }
                a:hover {

                    span.street-address {
                     text-decoration: underline;
                    }
                }

            }

            .btn-group {
                width: 11%;
                margin-top: 0;
                .favorite {
                    border: 0;
                    padding:0;
                    //background: transparent;
                }
            }
        }
        /* WR5 Update */
        .sdp-left {
             @media(max-width:768px){
                width:69% !important;
                .store-title{
                    width:87% !important;
                }
            }
            max-width:100000px;
            position:relative;

            .btn-group {

                position:absolute;
                right:0;
                top:0;
                width:auto;
            }

        }
        .wait-time {
            position: relative;
            float: left;
            margin: 0 3% 0 0;
            //border: 1px solid #5f6167;
            border-radius: 6px;
            width:80px;
            @media(max-width:768px){
                width : 78px;
            }
            .h4, h4{
                width: 100%;
                left: 20px;
            }
            &.call-now{
                .h4, h4{
                    width:100%;
                }
            }
        }
        .wait-time.no-bg{
            border:none;
            background:none;

        }

        .action-buttons {
            .btn {
                width: 100%;
                display: block;
                float: left;
                margin-bottom: 10px;
            }
        }
    }

    &.map-window{
        .wait-time{
            display:none;
        }
        .check-in{
            .location-details{
                width: 100%;
                .store-title{
                    color:@gray-dark !important;
                    font-weight: normal;

                }
                .store-address, .telephone{
                    display:none;
                }
                .closing-time{
                    font-weight: normal;
                    font-size: 13px !important;
                }
                br{
                    display:none;
                }
                .vcard{
                    min-height:1px;
                }
            }

            .action-buttons{
                .btn.btn-default{
                    color:@brand-secondary;
                    border:1px solid #424475;
                }
            }
        }
    }
}



@media (min-width:767px) and (max-width:992px) {
    .map-directions {
        .check-in {
            .action-buttons {
                width: 100%;
                clear: both;

                .btn {
                     /* width: 48%;  WR5 Update*/
                    float: left;
                    margin-right: 10px;
                    margin-bottom: 0;
                }
            }
        }
    }
}

.salondetailmap {
    #map-canvas {
        width: 100% !important;
        height: 225px !important;
        .gmnoprint,.scissorlabels{
            cursor:default!important;
        }
    }
}


 /* WR5 Update */
.salondetailsocialsharing {
    width: 100%;
    float: left;

    dl {
        margin-bottom: 10px;
    }
}
 /* WR5 Update */
.salondetailsocialsharing {

    .social-links {

        dl{
            margin:0;

            dd
            {
                display: inline-block;
                font-size: 1.5em;
                margin-left: 20px;
                top: 6px;
                position: relative;
                a{
                     color: #424475;
                }
                a:hover{

                    text-decoration:none;
                }
            }
        }
    }
}
@media (min-width: 992px) {
    .map-directions {
        border: 1px solid #5f6167;
        padding-top: 20px;
        padding-bottom: 20px;
        min-height: 440px;
        display: inline-block;
    }
    .sdp-left-template{

        .salondetailspagelocationcomp{

            .locations{

                height: auto !important;
                }

        }
        .locations{
                 min-height:200px;
        }
        .locations.map-directions{

                height: auto !important;
                min-height:200px;
            }
        .check-in {
             .store-hours{

                 span {

                    width:100%;
                    font-size: 16px;
                    color: #231F20;
                }
            }
        }
    }

    .col-xs-12.col-sm-7.hidden-xs {
        padding-left: 0px;
        }

    .salondetailspagelocationcomp{

          .sdp-left-template{

                    .store-hours{

                    min-height:55px !important;
                }
         }

    }

}

@media (max-width:767px) {
    .map-directions {
        width:100% !important;
        margin-bottom: 2ex;
        .check-in {
            padding: 0;

            .location-details {
                width: 60%;
            }

            .store-hours {
                clear: both;
                @media (max-width: 767px){
                    margin-bottom: 0;
                }
            }

            .action-buttons {
                width: 100%;
                clear: both;

                .btn {
                    width: 100%;
                    float: left;
                    /* WR5 Update
                    margin: 0 5px;*/
                }
            }
        }
    }


    /* WR5 Update */
   .sdp-left-template{
        .check-in {
             .store-hours{

                 span {

                    width:100%;
                }
            }
        }
    }
    .sdp-template-wrap{
        border:none;
        padding:0;
        margin: 10px;
    }

    #map-canvas {

        margin-top:1.5em;
        margin-bottom:1.5em;
    }
    .sdp-template-bottom-wrap{

        .salondetailsocialsharing{

                display:none;
        }

        .salon_textimage_wrap{
            .salon_text_image.textimage{
                @media (max-width: 768px){
                    display: none;
                }
            }
        }

    }
}
/* WR5 Update */
.connect-social{
    @media (max-width: 767px){
        display:none;
    }
    position:relative;
    margin-bottom:2ex;

    .h3, h3{
        font-size:28px;
        color:#565656;
        text-align:left;
        border-bottom:2px solid #00ADBB;
        padding-bottom:.5ex;
        margin:auto 10px;
        color :#424475;
    }

    .social-links{
        position:absolute;
        right:20px;
        top:-10px;
        /*width:20%; */
        height:30px;

    }
}

 /* WR5 Update */
.sdp-template-bottom-wrap {

    .panel-heading {

        h4, .h4{
               color:#474747;
               margin-top: 0;
            span{
                color:#474747;
                }
        }
    }
    .panel-body{

        h4, .h4{
            font-size:20px;
            color: #565656;
        }
    }

}
@media (max-width:480px){

    .salontitle{

        font-size:32px;
    }
    .salonsmalltxt{
        line-height:125%;
    }
}

.salondetailcomponent{
    .sdp-left-template{
        section{
            width:100%;
            border: 1px solid #231f20;
            .check-in{
                padding:10px 0;
                .sdp-left{
                    width:70%;
                    @media(max-width:768px){
                        width:68% !important;
                    }
                }
                .store-hours{
                    clear: both;
                    margin-left: 10px;
                    .store-time{
                        .dayname{
                            width:45%;
                            display:inline-block;
                        }
                    }
                }
            }
        }
    }
}
.store-hours {
    float: left;
    width: 92%;
    max-width: 320px;
    @media(min-width:992px){
        min-height: 155px;
    }

    .hours {
        float: right;
        text-align: right;
        width: 52%;
        @media(max-width:768px){
            font-size:14px;
        }
    }

    .days {
        float: left;
        width: 48%;
        @media(max-width:768px){
            font-size:14px;
        }
    }
}
.sdp-store-hours {
    @media(min-width:992px){
        min-height: 55px;
        width: 100%;
          max-width: 420px;
    }
    .days {
        float: left;
        width: 35%;
    }
    .hours {
        float: left;
        text-align: left;
        width: 65%;
             line-height: 22px;
    }
    .closedNow{
         @media (min-width:767px) and (max-width:992px) {
         display:block;
         margin-left:2px !important;
         }
         @media (max-width:767px) {
         display: block;
         margin-left:2px !important;
         }

     }


}

