// Custom Variables override
@import "../core/custom-variables";
//
#map-container-list{
    @media(min-width:1024px){
        display:none;
    }
}
.locationsearch.section {
    padding: 0px;
}

.locationsearch {
   // margin-top: -41px;
   .col-xs-12 {
        @media(max-width:768px){
         padding: 0;
        }
   }
}
.title-component{
    .main-title{
        margin-top:0px;
        margin-bottom:0px;
    }
}
.location-search {
    .errorMessage{
        padding:10px;
        a{
            color: #424475;
            &:hover,&:focus,&:active{
                color: #424475;
            }
        }
    }
    .search-nav {
        width: 100%;
        text-align: right;

        & > div {
            display: inline-block;
            margin-bottom: 0;
            vertical-align: middle;
            padding: 10px 0 0 0;
        }

        .input-group {
            display: inline-table;
            vertical-align: middle;
            .location-search-btn{
                font-weight:bold;
            }
        }

        select {
            min-width: 100px;
        }
    }

    .check-in {
        cursor: pointer;
        overflow: hidden;

        .wait-time {
            //background: #fff;
        }
        .miles{
            position:static;
            float:right;
            @media(max-width:767px){
				position:static;
                margin-top:5px;
            }
            .distance {
                color:#231f20;
                font-size:11px;
                font-style:italic;
                font-weight:700;
                font-family:@font-family-futura;
                text-transform:uppercase;
                background:url('../../clientlibs/ss-publish-clientlibs/resources/images/distance-pin-dk.png') no-repeat top left;
                	background-size: 15px 15px;
                    @media(max-width:1024px){
                        font-size: 10px;
                    }
                @media(max-width:768px){
					padding-top:5px;
                }
                /* WR5 update */
                display:inline-block;
                 margin:20px 0 0;
                 @media(max-width:767px){
                 margin:0 0 0;
                 }
                padding-left: 17px;
             }
        }
    }

    .check-in.active {
        background-color: #F5F6F7;
    }

    .maps-container {
        margin: 20px 0 0 0;
        width: 100%;
    }

    .sort-nav {
        text-align: center;
        margin: 10px 0;
        display: inline-block;
        width: 100%;

        ul {
            margin: 0 auto;
            border: solid #424475 1px;
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            display: inline-table;
            vertical-align: middle;
            width:84.7%;
            li{
                a{
                    padding: 7px 8px;
                    font-size:14px;
                }
                &.sortfullwidth{
                    width:100%;

                    a{
                        cursor:default;
                    }
                }
            }
        }

        p {
            width: 100%;
            text-align: right;
        }

        h4 {
            display: block;
        }
    }

    .map-directions {
        border: none;
        padding: 0;
        display: inline-block;
		width:100%;
        .check-in {
            .vcard {
                .message {
                    color: #5f6167;
                    font-size: 15px;
                    margin-top: 2ex;
                    margin-bottom: 0;
                }

                .closing-time {
                    color: #5f6167 !important;
                    font-size: 13.5px !important;
                    margin-top: 2ex;
                    margin-bottom: 0;
                }

                span.telephone {
                    margin-top: 0;
                    margin-bottom: 0;
                }

                span.location-index {
                    display: none !important;
                }
            }

            .action-buttons {
                /*  width: 49%; WR5 update */
                display: inline-block;
                margin:10px 0;
                width:100%;
                margin-bottom:0px;
                .btn {
                    background-color:#424475;
                    border-color:#424475;
                    width: 100%;
                    margin:0px !important;
                }
            }
        }
    }

    .tab-content {
        .map-directions {
            .check-in {
                border-bottom: 1px solid #5f6167 !important;
                padding: 15px 0;
                @media (max-width: 768px) {
                    margin-left:0;
                }
            }
        }
    }

    .miles {
        a {
            margin-top: 10px;
        }
    }
}

.location-search-title {
    border-bottom: 1px solid #424475;
    clear: both;
    display: inline-block;
    width: 100%;
    h2,.h2{
        color: #424475;
    }
    .btn{
        display:none!important;
        }
}

.location-search .sort-nav li.active, .location-search .sort-nav li.active a, .location-search .sort-nav li.active a:focus, .location-search .sort-nav li.active a:focus {
    background: #424475 !important;
    color: #ffffff;
}

.location-search .sort-nav li a:focus, .location-search .sort-nav li a:hover {
    background: none;
}

@media (max-width: 768px) {
    .location-search-header{
        .title,.textwithoutpadding{
			display:none;
        }
    }
    .location-search {
        .search-nav {
            width: 100%;
            text-align: left;
        }

        .maps-container {
            height: 500px;

        }

        .map-directions {
            .check-in {
                .location-details{
					width:60% !important;
					@media(max-width:767px){
                     width:70% !important;
                        .vcard{
                           .closing-time{
                              p.showOpen{
                                display:block;
                                }
                            }
                        }

                        }
                }
                .action-buttons {
                    width: 100%;

                    .btn {
                        width: 100%;
                    }
                }
            }
        }

        .miles {
            text-align: right;

            a {
                width: 100%;
            }
        }

        .search-right-column {
            .location-search-results {
                .check-in {
                    .col-xs-12 {
                        padding: 0 !important;
                    }
                }
            }
        }
    }
}

@media (min-width: 767px) and (max-width: 992px) {
    .location-search {
        .search-nav {
            width: 100%;
            text-align: left;
        }

        .maps-container {
            height: 500px;
        }

        .sort-nav {
            h4 {
                display: inline-block;
                float: left;
            }
        }

        .collapse {
            display: none !important;
        }

        .collapse.in {
            display: block !important;
        }
    }
}

@media (min-width: 992px) {
    .location-search {
        .maps-container {
            height: 580px;
        }

        .map-directions {
            width: 100%;
            height:auto;

            .check-in {
                .location-details {
                    max-width: 320px;
                    width: 77%;
                }

                .vcard {
                    width: 100%;
                }
            }
        }

        .search-nav {
            margin-top: 10px;
        }

        .sort-nav {
            h4 {
                float: left;
                display: inline-block;
            }

            ul {
                text-align: center;
            }

            li {
                min-width: 201px;
            }
        }

        .search-right-column {
            .location-search-results {
                height: 475px;
                overflow: auto;
            }
        }

        .collapse {
            display: block !important;
        }
    }
}


@media(max-width:992px) {
    .location-search-title {
        padding: 0;
        margin: 0;
		border-left: 1px solid #5f6167;
        border-right: 1px solid #5f6167;
        .navbar-toggle.collapse.in {
            display: block !important;
        }

        .navbar-toggle.collapse {
            display: none !important;
        }

        .btn:focus {
            outline: none;
            box-shadow: none;
            outline: none;
        }

        .btn {
            background-color: #f5f6f7 !important;
            color: #231F20;
            width: 100%;
            border-left: 1px solid #5f6167;
            padding: 0;
            margin: 0;
            min-height: 70px;
            -webkit-border-radius: 0;
            border-radius: 0;
            text-transform:none;
            [class^=icon-] {
                font-size: 2em;
            }

            .sr-only {
                & + span {
                    vertical-align: middle;
                    display: inline-table;
                    margin-top: -8px;
                    font-style: italic;
                    margin-right: 5px;
                    text-transform: capitalize;
                    font-weight: normal;
                }
            }
        }

        h2 {
            padding: 21px 0;
            margin: 0;
            font-size: 20px;
            @media(max-width:767px){
                font-size: 20px;
            }
        }

        div[class^=col] {
            padding-right: 0;
        }

        div[class^=col]:last-child {
            overflow: hidden;
            height: 64px;
        }
    }

    .location-search {
        .map-directions {
            .check-in {
                .location-details {
                    max-width: 600px;
                    width:84%;
                }
            }
        }

        .miles {
            float: right;
             color:#6C6A6B;
             .distance {
                  color:#231f20;
                   font-size:14px;

             }
        }
    }
}

@media (max-width:400px) {

    .location-search {
        .result-container {
            ul{
                width:95%;
            li {
                width: 50%;

                a {
                    width: 99%;
                }
            }
            }
        }

        .nav-pills {
            & > li {
                & + li {
                    margin-left: 0;
                }
            }
        }
    }
}



@media (max-width: 400px) {
    .location-search {
        .search-nav {
            width: 100%;
            text-align: left;
        }

        .maps-container {
            height: 500px;
            width: 120%;
            margin: 20px -20px;
        }
        }
    }
@media (max-width:768px) {
    .location-search{
        .result-container {
            ul{
                width:100%;
            li {
                width: 50%;
                margin-left:0;
                a {
                     width: 100%;
                        padding:7px 0;
                        font-size:13px;
                }
            }
            }
        }
    }
}

@media (min-width: 992px) and (max-width:1024px) {
    #map-container-list{
        display:none;
    }
    .location-search{
        .sort-nav {
            ul {
                text-align: center;
                width:87.5%;
            }
        }
    }
}

#chkcancelconfrimMsg{
    .modal-body{
        text-align:center;
        padding:25px 0;
    }
    .modal-footer{
        text-align:center;
    }
}

@media (min-width: 992px) and (max-width: 1023px){
        .sort-nav {
            ul {
                text-align: center;
                width:87.5%;
            }
        }
}
