// Custom Variables override
@import "../core/custom-variables";

/*Temporary*/
.headerlogin.section{
	height: 1000px;
}
.cq-element-data .headerlogin.section{
    height: auto;
}
/*Temporary ends*/

.sign-in-dropdown-wrapper{
    &.dropdown-menu {
        padding: 0;
        left: -145px;
        margin-top: 20px;
        font-size: inherit;
        border: none;
				z-index:8999;
				width: 289px;
		@media screen and (max-width: 320px){
				left:-91%;
		}
		@media (min-width: 321px) and (max-width: 360px) {
    left: -70%;
		}
		@media (min-width: 375px) and (max-width: 400px) {
		    left: -58%;
		}
		@media (min-width: 400px) and (max-width: 413px) {
		    left: -50%;
		}
		@media (min-width: 414px) and (max-width: 767px) {
		    left: -50%;
		}
    }
    .login{
        &.section{
			overflow: visible;
			clear: none;
        }
    }
}

.login-main{

	.login-wrapper, .reset-wrapper{
		width: 350px;
        border: 1px solid;
        border-radius: 4px;
        padding: 30px;
        margin: 0 auto;
        @media (max-width: @screen-xs) {
			width:100%;
		}

		a.btn-primary{
            &:focus,&:active,&.active{
				background: #424475 !important;
                border-color: #424475 !important;
            }
        }

        &.arrow-up{
        	position: relative;
		    background: #fff;
		    border: 1px solid #5f6167;

		    &:before{
		    	bottom: 100%;
			    left: 50%;
			    border: solid transparent;
			    content: " ";
			    height: 0;
			    width: 0;
			    position: absolute;
			    pointer-events: none;
			    border-color: rgba(136, 140, 142, 0);
			    border-bottom-color: #5f6167;
			    border-width: 21px;
			    margin-left: -21px;
		    }
		    &:after{
		    	bottom: 100%;
			    left: 50%;
			    border: solid transparent;
			    content: " ";
			    height: 0;
			    width: 0;
			    position: absolute;
			    pointer-events: none;
			    border-color: rgba(255, 255, 255, 0);
			    border-bottom-color: #fff;
			    border-width: 20px;
			    margin-left: -20px;
		    }
        }
		h4{
			margin-top: 0;
            margin-bottom: 30px;
            color: #424475;
			font-size:1.45em;
		}
		.h4{
			margin-top: 0;
            margin-bottom: 30px;
            color: #424475;
			font-size:1.45em;
		}
		.form-group{
			margin-bottom: 20px;
			label{
				margin-bottom: 10px;
            	font-weight: normal;
			}
			input{
                &::-webkit-input-placeholder{
                    font-style: italic;
                }
                &:-moz-placeholder{
                    font-style: italic;
                }
                &::-moz-placeholder {
                    font-style: italic;
                }
                :-ms-input-placeholder {
                    font-style: italic;
                }
            }
		}
		.checkbox-links{
			margin-bottom: 20px;
            overflow: hidden;
			label{
				font-weight: normal;
				span{
					padding-left: 8px;
				}
                span.rem-me-txt{
                    font-size: 13px;
                    position: relative;
                    top: -3px;
                }
			}
            a.forgot-pwd{
                font-size: 13px !important;
				color: #424475;
            }
		}
		a#sign-in-btn{
			font-size: 1.45em;
			color: #ffffff;
		}
		.register-link{
			margin: 20px 0 0;
            text-align: center;
            font-size: 13px;
            a{
                font-size: 13px !important;
            }
		}
	}
	.reset-wrapper{


		.reset_getEmail{
			display:block;
			p{
				a{
					color: #43aae0;
    				text-decoration: underline;
				}
			}

			&>a{
				font-size: 1.45em;
			}

		}
		.reset_emailConfirm, .reset_password{
			display:none;
		}
		.reset_emailConfirmation_password_changed{
			p{
				a{
					color: #43aae0;
    				text-decoration: underline;
				}
			}
		}


	}
}
/*For Title-desc inside about you and login component*/
.title-desc{
	margin-bottom: 20px;
	margin-top: 0;
	text-transform: none;
}
/*Login popup for Iphone 4 & 5*/
@media (max-width: 320px) {
    .login-main{
		.login-wrapper, .reset-wrapper{
			&.arrow-up{
				&:before{
					left: 66%;
				}
				&:after{
					left: 66%;
				}
			}
		}
	}
}

@media (max-width: 320px) {
    .login-main{
		.login-wrapper, .reset-wrapper{
			&.arrow-up{
				&:before{
					left: 66%;
				}
				&:after{
					left: 66%;
				}
			}
		}
	}
}

//Birthday Update Css

.birthdayupdatecomp{
    margin: 20px 0;
    .login-main{
        .reset-wrapper{
            h4{
                margin-bottom: 10px !important;
            }
        }
    }
    #birthdaydateupdate-personal{
		display: none;
	}
	label[for="birthdaydateupdate-personal"]{
		display: block;
    }
    label[for="bd_months"],label[for="bd_days"]{
		display: inline;
    }
    #bd_months,#bd_days{
		width: 49%;
        display: inline-block;
    }
}

.year-hidden .ui-datepicker-year{
	display: none !important;
}

#birthdayModal{
    .modal-content{
        -webkit-border-radius: 0;
        -ms-border-radius: 0;
        -moz-border-radius: 0;
        -o-border-radius: 0;
		border-radius: 0;
        text-align: center;
    }
    .modal-footer{
		border-top: 0;
        text-align: center;
    }
}
