#header {
    nav {
        ul {
            & > li {
                position: static;

                a.navbar-toggle.active:after {
                    border-left: 6px solid transparent;
                    border-right: 6px solid transparent;
                    position: absolute;
                    border-top: 6px solid #428bca;
                    top: 13px;
                    right: 10px;
                }

                a.navbar-toggle:after {
                    content: "";
                }
            }
        }
    }
}

#header nav ul & > li a.navbar-toggle.active, #header nav ul & > li a.navbar-toggle.active:hover {
    color: #428bca !important;
    background-color: #F5F6F8;
    border-radius: initial;
    padding-right: 24px;
}

.sub-menu {
    position: fixed;
    top: 220px;
    width: 100%;
    left: 0;
    padding: 30px;
    background-color: #F5F6F8;
    display: none;
    z-index: 8998;

    .mega-menu-cols {
        overflow: hidden;

        & :after {
            clear: both;
        }

        .left-col {
            width: 33.33%;
            float: left;
            padding: 0 5%;

            ul {
                li {
                    list-style: none;
                    border-bottom: 1px solid #cccccc;

                    a {
                        text-align: left;
                        display: block;
                        padding: 0.5em 0 0.5em 20px;
                        color: #428bca;
                    }
                }

                li:last-child {
                    // border-bottom: none;
                }
            }

            &.right-border {
                border-right: 1px solid #ccc;
            }
        }

        .right-col {
            width: 66.66%;
            float: left;
            padding-left: 5%;
            color: #565658;

            p.heading {
                font-style: italic;
                padding-left: 20px;
            }

            .details {
                overflow: hidden;

                .col-block {
                   // min-height: 350px;
                }

                .image {
                    width: 44%;
                    float: left;

                }

                .description {
                    width: 49%;
                    float: left;

                    h4 {
                        margin: 0px;
                        height:44px;
                    }

                    p {
                        min-height:66px;
                        font-style: italic;
                    }

                    a {
                        font-style: italic;
                        color: #428bca;

                        &.btn {
                            color: #fff;
                            font-style: normal;
                        }
                    }
                }
            }

            .details.three-col {
                .description {
                    display: block;
                    width: 100%;
                    float: none;
                    margin-top: 12px;
                }

                .image {
                    width: 180px;
                    float: none;
					//position: absolute;
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
					display: flex;
					display: -webkit-flex;
                    display:-webkit-box;
					justify-content: center;
					align-items: center;
                    height:135px;
                    img {
                        height: 100%;
						margin:0 auto;
                    }
                }
            }

            .details.two-col {
                .description {
                    display: block;
                    width: 100%;
                    float: none;
                    margin-top: 12px;
                }

                .image {
                    width: 180px;
                    float: none;
					//position: absolute;
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
					display: flex;
					justify-content: center;
					align-items: center;
                    height:180px;
					margin:0 auto;
                    img {
                        width: 100%;
                    }
                }
            }

            &.left-border {
                border-left: 1px solid #ccc;
            }
        }
    }
}

@media(min-width:768px) and (max-width:992px) {
    .sub-menu {
        width: 100%;
        left: 0;
        top: 272px;

        .mega-menu-cols {
            overflow: hidden;
            width: 740px;
            margin: 0 auto;

            .right-col {
                .details {                    
                    .image {
                        width: 56%;                        
                    }

                    .description {
                        width: 43%;
                    }
                }

                .details.three-col {
                    .description {
                        width: 100%;
                    }

                    .image img{
                        width: 100%;
                    }
                }

                .details.two-col {
                    .description {
                        width: 100%;
                    }

                    .image {
                        width: 100%;
                    }
                }
            }
			.left-col{
				padding-left:0;
            }
        }
    }
}

@media(min-width:992px) {
    .sub-menu {

        .mega-menu-cols {
            width: 1000px;
            margin: 0 auto;
        }
    }
}

@media (max-width: 767px) {
    #header {
        .container {
            .navbar-nav {
                & > li {
                    & > a {
                        width: 98%;
                        float: left;
						text-align:left;
						margin-left:15px;
                    }
                }
            }
        }

        nav {
            ul {
                & > li {
                    a.navbar-toggle.active:after {
                        top: 18px;
                    }
                }
            }
        }

        .main-navbar-collapse {
            overflow: visible;
            height: auto !important;
        }
    }

    #header nav ul & > li a.navbar-toggle.active, #header nav ul & > li a.navbar-toggle.active:hover {
        width: auto;
    }

    .sub-menu {
        position: relative;
        width: 100%;
        top: 0;
        left: 0;
        padding: 0;

        .mega-menu-cols {
            overflow: visible;

            .left-col {
                width: 100%;
                padding: 0;
                margin: 0;
                border: none;

                ul {
                    padding: 0;
                    text-align: left;
                    background-color: #F5F6F7;

                    li {
                        margin: 0 10px;

                        a {
                            text-align: left;
                            padding-left: 5px;
                        }
                    }
                }
            }

            .right-col {
                display: none;
            }
        }
    }
}
