.account-summary{
	.custom-width{
		@media(min-width:768px){
			width: 65%;
		}
        @media(max-width:992px){
            margin-left:-10px;
            .col-md-12{
				padding:0;
            }
        }
		.col-md-12:first-child{
			>p{
				font-family: proxima-nova, sans-serif;
				font-weight: 700;
				font-size: 20px;
				line-height: 1.1;
				&.error-msg{
					font-weight: normal;
    				font-family: proxima-nova, sans-serif;
                    font-size: 14px;
				}
			}
		}
	}
	.logininfo{
		input{
			&:focus{
				border: 1px solid #43aae0;
        		box-shadow: none;
			}
		}
		label{
			font-weight: normal;
		}
	}
	.aboutyoucomponent{
		input{
			&:focus{
				border: 1px solid #43aae0;
        		box-shadow: none;
			}
		}
		label{
			font-weight: normal;
			padding-right: 0px;
			&.phone-label{
				display: block;
        padding-left: 10px;
				&+input{
					display: inline-block;
        			width: 50%;
					@media (max-width: 768px) {
						width: 100%;
						margin-bottom:15px;
					}
				}
			}
			&.gender{
				display: block;
                float: none;
			}
		}
		input{
			&.phone-option{
				margin-left: 16px;
				&+label{
					margin-left: 10px;
				}
			}
			&#gender-female{
				margin-left: 16px;
			}
			&.gender-option{
				display: inline-block;

				&+label{
					margin-left: 10px;
				}
			}
		}
	}
	.personalinformation{
		.my-address{
			.head-style{
				color: #424475;
			}
			.bday{
                #birthdaydateupdate-personal{
					display: none;
                }
                label[for="birthdaydateupdate-personal"]{
					display: block;
                }
                label[for="bd_months"],label[for="bd_days"]{
					display: inline;
                }
                #bd_months,#bd_days{
					width: 49%;
                    display: inline-block;
                }
            }
		}
	}
}
