.stylist-experience{
    background-color:#e8e8e8;
	form{
		padding:0;
		label{
			font-weight:normal;
		}
	}
	.experience{

		border-bottom:1px solid #C9C6C7;
		.interest,.available,.current-status{
			padding:10px;
			border-right:1px solid #c9c6c7;
		}
		.available,.current-status{
			.radio, .checkbox{
				padding-left:0;
			}
		}
		.current-status{
			border-right:none;
		}
		.radio, .checkbox{
			margin-bottom:20px;
			label{
				padding-left: 0;
				label.css-label{
					margin-right: 20px;
				}
			}
		}
	}
	.my-exp{
		padding:10px 30px;
		@media(max-width:768px){
			padding:10px 0;
            h3{
				padding-left:10px;
            }
		}
		.my-exp-add{
			padding-left:0;
			margin-left:0;
			@media(max-width: 992px){
				padding-right: 0;
            }
		}
	}
    .error-msg{
        padding-left:10px;
    }

/* Css exclusively for checkboxes in positionandexperience component*/
input[type=checkbox].css-checkbox + span.css-label,input[type=radio].css-checkbox + span.css-label {
  padding-left: 26px;
  padding-bottom: 26px;
  vertical-align: middle;
  height: 26px;
  border: 1px solid #ccc;
  display: inline-block;
  line-height: 32px;
  background-repeat: no-repeat;
  background-position: 0 0;
  font-size: 16px;
  width: auto;
  cursor: pointer;
  background-size: 100%;
  margin-right: 20px;
}
input[type=checkbox].css-checkbox:checked + span.css-label,input[type=radio].css-checkbox:checked + span.css-label {
  background-image: url('../../clientlibs/ss-publish-clientlibs/resources/images/checkbox-aqua.png');
}
input[type=checkbox].css-checkbox:disabled + span.css-label,input[type=radio][disabled].css-checkbox:disabled + span.css-label {
  background-image: url('../../clientlibs/ss-publish-clientlibs/resources/images/checkbox-disabled-aqua.png');
  border: none;
}
span.css-label {
  background-image: url('../../clientlibs/ss-publish-clientlibs/resources/images/checkbox-unchecked.png');
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

span.css-label+label{
    width: 86%;
}
input[type=radio].css-checkbox+span.css-label+label, input[type=radio].css-checkbox+span.css-label+span{
    width: auto;
    padding-left:10px
}

}

@media(min-width:992px){
	.stylist-experience{
		.experience{
			.interest,.available,.current-status{
				padding:30px;
			}
            &>div{
				min-height: 350px;
		      }
		}
	}
}

@media(max-width:992px){
	.stylist-experience{
		.experience{
			.interest,.available,.current-status{

                border-right:none;
			}
		}
	}
}
