.product-detail-wrap{
	.popover-content {
	        width: 240px;
	        font-size: 14px;
	        p,a{
	            font-size: 14px;
	        }
	    }
	margin-bottom:0;
	float:left;
	.product-img {
		 position: relative;
        img{
            width:100%;
        }
		.fav-hrt{
            background:url(../../clientlibs/ss-publish-clientlibs/resources/images/Regis-Icons/Regis_heart.svg) no-repeat top left;
            padding:13px;
            top:10px;
            right:10px;
            position:absolute;
            box-shadow: none;
            &:focus,&:active{
                box-shadow: none;
            }
        }
        .fav-hrt-empty{
            background:url(../../clientlibs/ss-publish-clientlibs/resources/images/Regis-Icons/Regis_heart_empty.svg) no-repeat top left;
            padding:13px;
            top:10px;
            right:10px;
            position:absolute;
            box-shadow: none;
            &:focus,&:active{
                box-shadow: none;
            }
        }
	}
	.product-info{
		padding:10px;
		h1{
			font-size:30px;
			color:#424475;
			.salonsmalltxt{
				font-size:22px;
				font-weight:500;
				letter-spacing:1px;
				color:#424475;
				padding-bottom:10px;
			}
		}
		p{
			color: #231f20;
        }
		.product-features{
			padding:10px 0;
			border-top:1px solid #00adbb;
			border-bottom:1px solid #00adbb;
			.features{
				padding:0;
				h4{
					margin:0;
					font-size: 22px;
					font-weight: 500;
					color:#2d6e93;
				}
				ul{
					margin-bottom:2ex;
					font-style:italic;
					list-style-type:none;
					padding-left: 0;
				}
			}
			.usage{
				padding:0;
				.txtalign-left{
					padding-left:0;
                    padding-top:0;
                }
				h4{
					margin:0;
				}
				p{
					font-style:italic;
				}
				.imgtxt-box{
						h1,h2,h3,h4,h5,h6,div.imgtxt-heading{
							color:#5f6167;
						}

				.imgtxt-subheading{
					color: inherit;
					font-size: 20px;
					font-weight:500;
					margin:0;
				}
			}
		}
	}
		.product-share{
			margin-top:4ex;
            padding-left: 0;
            .social-share{
                padding-left: 0;
            }
		}
		.socialsharingcomp{
			overflow: hidden;
			.footer-social-nav{
                a{
					margin-right:0;
                    margin-left:0;
                }
				float: left!important;
                dd:first-child{
					margin-left:0;
                }
			}
		}
	}
}
.socialsharingcomp{
			overflow: hidden;
			color: #424475;
			.footer-social-nav{
                a{
					margin-right:0;
                    margin-left:0;
                    color: #424475;
                }
				float: left!important;
                dd:first-child{
					margin-left:0;
                }
			}
		}

@media(min-width:992px){
	.product-detail-wrap{
		border:1px solid #00adbb;
		.product-img{
            width:33%;
			img{
                width:100%;
                padding:30px 10px 10px 10px;
            }
        }
		.product-info{
			padding:30px;
            width:67%;
			h1{
				font-size:26px;
				line-height:39px;
                margin:0 0 10px 0;
			}
			.product-features{
				padding:3ex 0;
			}
			.product-share{
				margin-top:1ex;
                 padding-right:0;
                .cta-lo-salon{
                    padding-right:0;
                    a{
						float:right;
                    }
                }
			}
		}
	}
}

@media(max-width:767px){
	.product-info{
		padding:0;
		.usage{
			.img-text-comp{
				margin:0 !important;
			}
		}
	}
}
