// Custom Variables override
@import "../core/custom-variables";
//
.product-page{
	width:100%;
    padding:0;
	.filter-txt{
		cursor:pointer;
		padding:10px 5px;
		color:@gray-dark;
		font-weight:bold;
		img{
			padding-right:10px;
			margin-left:5px;
			height:25px;
			width:25px;
		}
		a{
			color:@gray-dark;
		}
	}
	.product-wrap{
		width:100%;
		@media (min-width: 992px){
			width: 97%
        }
		.h4, h4{
			color:#231f20;
			text-transform:uppercase;
            padding: 5px 10px;
			a{
				color:#231f20;
                padding:5px 10px 5px 10px;
				display:inline-block;
				width:100%;
				text-decoration:none;
                margin-left:0;
                &:hover{ 
					background-color:transparent;
                    color: #231f20;
				}
			}
			&.selected{
				background-color:#f1f1f1;
				border-left:3px solid #424475;
                color: #231f20;
                padding-left: 7px;
                margin-left: 10px;
			}
		}
		ul{
			li{
				width:100%;
				cursor:pointer;
				font-family: proxima-nova, sans-serif;
				font-size:16px;
				color:#231f20;
				a{
					display:inline-block;
					padding:5px 10px 5px 10px;
					width:100%;	
					text-decoration:none;
					color:#231f20;
					&:hover{
						background-color:transparent;
						color: #231f20;
					}
					&.selected{
						background-color:#f1f1f1;
						border-left:5px solid #424475;
						padding:5px 10px 5px 5px;
						color: #231f20;
					}
				}&.selected{
						background-color:#f1f1f1;
						border-left:3px solid #424475;
						padding:5px 10px 5px 7px;
						color: #231f20;
                    	margin-left: 10px;
					}
			}
		}
	}
	/*.media-banner{
		position:relative;
		img{
			position:absolute;
			width:100%;
			
		}
		.banner-cont{
			position:relative;
			padding:10px;
			text-align:center;
			h1{
				color:#fff;
				font-size:35px;
				margin-top:0;
				.h3{
					color:#fff;
					font-weight:normal;
					display:block;
					margin:0;
					letter-spacing:2px;
				}
			}
			p{
				display:none;
			}
			.btn{
				background-color:transparent;
				border-color:#fff;
				margin-top:0;
				font-size:16px;
			}
		}
	}*/
	.media-gallery{
		margin-top:5ex;
		float:left;
		span.prod-info{
			width:100%;
			padding:0;
			float:left;
			img{
				width:100%;
			}
			p.h3{
				text-align:center;
				margin-top:5px;
			}
		}
	}
}




@media(min-width:992px){
	.product-page{
		width:100%;
		.product-wrap{
			ul{
				margin-bottom:35px;
			}
		}
		/*.media-banner{
			img{
				position:absolute;
				width:99%;
			}
			.banner-cont{
				padding:30px 120px;
				h1{
					font-size:56px;
				}
				p{
					display:block;
				}
				.btn{
					font-size:20px;
					margin-top:5ex;
				}
			}
		}*/
		.media-gallery{
			span.prod-info{
				width:48%;
				&:nth-child(2n+1){
					margin-right:1.4em;
				}
			}
		}
	}
}

@media(max-width:767px){
    .productbrowsersidenav{
		width:100%;		
    }
}
@media(max-width:992px){
    .product-wrap{
		.h4, h4{
			word-wrap: break-word;
		}
	}
}