// Custom Variables override
@import "../core/custom-variables";
//

/* styles for special offers */
.specialoffers {
    margin: 0 -10px;
    overflow:hidden;
    height:auto;
    .special-offers {

        .main {
            padding-top: 0;
            

            .special-offers-container {
                margin: 0;
                padding: 0 10px 20px 10px;
                text-align: left;

                .offer-container {
                    width: 99%;
                    margin-left: 1px;
                    padding:0;
                    text-align: left;

                    .offer-product-img {
                        display: flex;
                        display: inline-block;
                        display:-ms-flex;
                        display:-o-flex;
                        display:-moz-flex;
                        height: auto;
                        align-items: center;
                        justify-content: center;
                        text-align:center;
                        padding:10px 10px 0 10px;
                        img {
                            height: 200px;
                        }
                    }
                    .offer-description {
                        padding:2ex 10px;
                        text-align: center;
                        h4 {
                            margin: 0;
                            padding: 0;
                            font-family: commuters-sans, sans-serif;
                            font-size: 28px;
                            font-weight: 600;
                            text-align: center;
                            height:63px;
                            a{
                                color: @gray-dark;
                                font-style:normal;
                            }
                        }
                        .cta-to-offer-details  {
                           margin-top:11px;
                        }
                    }
                }
                &.col-xs-12{
                    .offer-description{
                        //margin-top:5%;
                    }
                }
                &.col-xs-12.col-md-4{
                    .offer-description{
                        margin-top:0%;
                    }
                }

            }
        }       
    }
        .error-msg{
            margin-left:10px;
        }
}

@media (max-width: 768px) {
    .special-offers-container {
        margin-top: 30px;
    }
}

.specialoffers {
    a.more-offers {
        display: inline-block;
        width: 100%;
        color: @blue-light;
        font-size: 16px;
        font-family: commuters-sans, sans-serif;
        text-transform: none;
        text-align: center;
        margin-top: 0.4em;
        font-style: italic;
        line-height: 1.1;

        &:hover {
            color:@blue-dark;
            text-decoration: underline;
        }

        span {
            display:none;
            font-size: 0.8em;
            margin-left: 0.5em;
        }
    }
}

.two-offers, .three-offers {
    margin: 0;
    padding: 0;
}
.two-offers{
    .offer-container{
        height:270px;
        .offer-product-img{
            min-height: 229px;
            img{
                margin:0;
                width:auto;
            }
        }
        .offer-description{
            top: 50%;
            transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            p{
                overflow: hidden;
            }
        }
    }
}

.one-offer{
    .offer-container{
        height:242px;
        .offer-description{
            margin-top:0 !important;
            top: 50%;
            transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
        }
    }
}

.three-offers{
   .offer-container{
     display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    /* optional*/
        .offer-product-img{
            img{
                width:auto;
            }
            &.pull-bottom{
                 -webkit-box-ordinal-group: 2;
                -moz-box-ordinal-group: 2;
                -ms-flex-order: 2;
                -webkit-order: 2;
                order:2;
            }
        }
        .offer-description{
            p{
                min-height:88px;
            }
        }
    } 

}

@media(min-width:330px) and (max-width:700px) and (orientation:landscape){
    .specialoffers .special-offers .main .special-offers-container .offer-container .offer-product-img{
        img{
            width:50%;
        }
    }
}


@media(max-width:767px){
    .one-offer,.two-offers{
        .offer-container{
            height:auto;
            .offer-product-img{
                width:100%;
            }
            .offer-description{
                float:left;
                transform: translateY(-50%);
                -webkit-transform: initial;
                -moz-transform:initial;
                -ms-transform: initial;
            }
        }
    }
}

.global-offers-promotion-wrapper,.special-offers{
    .sp-title{
      margin-top:0;
      margin-left: 10px;  
        color: #231F20;
    }
    .text-link {
        margin-right: 10px;
        text-decoration: underline;
         //font-style: italic;
         color: #424475;
    }
    .global-offers-promotion{
        .offer-container{
            padding:0;
            height:300px;
            &.theme-blue,&.theme-default{
                border:1px solid #00ADBB;
            }
            &.theme-brand{
                border:1px solid #424475;
            }
            &.theme-dark{
                border:1px solid #231f20;
            }
            .offer-product-img{
                padding:0;
                text-align:center;
                img{
                    height:150px;
                    width:150px;
                    position: relative;
                    top: -5px;
                }
                &.padding-top0{
                    padding-top:0;
                }
                &.padding-top5{
                    padding-top:5px;
                }
                &.padding-top10{
                    padding-top:10px;
                }
                &.padding-top15{
                    padding-top:15px;
                }
                &.padding-top20{
                    padding-bottom:20px;
                }
                &.padding-bottom0{
                    padding-bottom:0;
                }
                &.padding-bottom5{
                    padding-bottom:5px;
                }
                &.padding-bottom10{
                    padding-bottom:10px;
                }
                &.padding-bottom15{
                    padding-bottom:15px;
                }
                &.padding-bottom20{
                    padding-bottom:20px;
                }

            }
            .offer-description{
                 height:150px;
                .desc-wrap{
                    padding:0;
                    text-align:center;
                    position: relative;
                    top: 40%;
                    transform:translateY(-50%);
                    -webkit-transform:translateY(-50%);
                    -moz-transform:translateY(-50%);
                    -ms-transform: translateY(-50%);
                    h2{
                        margin:0;
                        &.smallTxt{
                            font-size:20px;
                        }
                        &.mediumTxt{
                            font-size:30px;
                        }
                        &.largeTxt{
                            font-size:40px;
                        }
                        a{
                            font-style:normal;
                        }
                    }
                    span.cta-to-offer-details{
                        color:#231f20;
                        text-decoration:none;
                        font-style:italic;
                        span.right-arrow{
                            width: 0px;
                            height: 0px;
                            border-top: 7px solid transparent;
                            border-bottom: 7px solid transparent;
                            border-left: 7px solid #424475 ;
                            display:inline-block;
                            position:relative;
                            top:2px;
                        }
                    }
                }
            }
            &.theme-default{
                .offer-description{
                    .desc-wrap{
                        h2,span.cta-to-offer-details{
                            color: #424475 !important;
                        }
                    }
                }
            }
            &.theme-dark,&.theme-brand{
                .offer-description{
                    .desc-wrap{
                        h2,span.cta-to-offer-details{
                            color:#fff !important;
                        }
                        span.right-arrow{
                            border-left: 7px solid #fff !important;
                        }
                    }
                }
            }
            &.theme-blue{
                .offer-description{
                    .desc-wrap{
                        h2,span.cta-to-offer-details{
                            color:#231f20 !important;
                        }
                        span.right-arrow{
                            border-left: 7px solid #231f20 !important;
                        }
                    }
                }
            }
        }
        &.addFlex{
            .offer-container{
                display: -webkit-box;
                display: -moz-box;
                display: -ms-flexbox;
                display: -webkit-flex;
                display: flex;
                -webkit-box-orient: vertical;
                -moz-box-orient: vertical;
                -webkit-flex-direction: column;
                -ms-flex-direction: column;
                flex-direction: column;
                    .offer-product-img{
                    -webkit-box-ordinal-group: 2;
                    -moz-box-ordinal-group: 2;
                    -ms-flex-order: 2;
                    -webkit-order: 2;
                    order: 2;
                    padding-bottom:2px;
                }
                .offer-description{
                    -webkit-box-ordinal-group: 1;
                    -moz-box-ordinal-group: 1;
                    -ms-flex-order: 1;
                    -webkit-order: 1;
                    order: 1;
                }
            }
        }
        &.no-image{

                .offer-container{
                    background-color:#A3C7E1;
                }
            .offer-description{
                .desc-wrap{
                     h2{
                        color:#fff !important;
                    }
                }
                span{
                    .right-arrow{
                         border-left: 7px solid #2d6e93 !important;
                    }
                }
            }
            .offer-product-img{
                img{
                    display:none;
                }
            }
        }
        &:nth-child(n+5){
            margin-top:10px;
        }
        @media(max-width:768px){
            &:nth-child(n+1){
                margin-top:10px;
            }
        }
    }
}

.global-offers-promotion-wrapper{
    .global-offers-promotion{
        .offer-container{
            &.theme-blue{
                .offer-description{
                    .desc-wrap{
                        .mediumTxt,.cta-to-offer-details{
                            color: #231f20 !important;
                        }
                        .cta-to-offer-details span.right-arrow{
                            border-left: 7px solid #231f20;
                        }
                    }
                }
            }
            &.theme-dark{
                border: 1px solid #231f20;
                .offer-description{
                    .desc-wrap{
                        .mediumTxt,.cta-to-offer-details{
                            color: #fff !important;
                        }
                        .cta-to-offer-details span.right-arrow{
                            border-left: 7px solid #fff;
                        }
                    }
                }
            }
            &.theme-brand{
                border: 1px solid #424475;
                .offer-description{
                    .desc-wrap{
                        .mediumTxt,.cta-to-offer-details{
                            color: #fff !important;
                        }
                        .cta-to-offer-details span.right-arrow{
                            border-left: 7px solid #fff;
                        }
                    }
                }
            }
        }
    }
}