// Custom Variables override
@import "../core/custom-variables";
//
.salondetailspagelocationcomp,.salondetailtitlecomp {
    overflow: hidden;
	clear:both;
	h1{
		@media(max-width:768px){
			display:none;
		}
	}
}

//changes made as part of WR5 for SDP salon offers component.
@media(max-width:767px){
    a.cta-sdp-offers {
        text-transform: uppercase;
        text-decoration: none;
        font-weight: bold;
        &:hover{
            text-decoration: underline;
        }
    }
    .right-arrow {
        border-left: 7px solid #2e6ca2;
        width: 0;
        height: 0;
        border-top: 7px solid transparent;
        border-bottom: 7px solid transparent;
        display: inline-block;
        position: relative;
        top: 1px;
        left: 3px;
    }
}
.sdp-salon-offers{

    .salonoffersparsys1>div{
		width:49%;
        margin-right: 1%;
         @media(max-width:767px){
			width:100%;
            margin-bottom:15px;
            margin-right: 0;
        }
        float:left;
        clear:none;
        &.cq-editbar-placeholder{
			clear:both !important;
        }
    }
    .salon-offers{

		padding:0;
        >div{
			padding:0;
        }
        .media-left{
            > .media{
                img{
					margin:0;
                }
            }
        }
    }
    padding-top:10px;
    .localpromotionmessage,.promotionmessage {
        width:50%;
        float:left;
		margin-bottom:0;
        .salon-offers{
			margin-bottom:0;
            .media-left{
                margin-bottom:0;
                .media{
					//width:30%;
                }
                .details{
					//width:70%;
                    header{
						margin-top:0;
                        p{
							text-align:left;
                            font-size:20px;
                            text-transform:uppercase;
                            @media (min-width: 768px){
                                min-height: 44px;
                            }
                        }
                    }
                    section{
                        p{
							text-align:left;
                            margin-bottom: 10px;
                            @media (min-width: 768px){
                                min-height: 44px;
                            }
                        }
                        .btn{
							margin:0 0 10px 0;
                            color: #fff !important;
                        }
                    }
                }
            }
            .theme-dark{
                .media-left{
                    .details{
                        section{
                        .btn{
                            color: #424475 !important;
                        }
                        }
                    }
                }
            }
            .theme-brand{
            .media-left{
                .details{
                    section{
                    .btn{
                        color: #424475 !important;
                    }
                }
                }
            }
            }
        }
    }
    h2,h3,h4{
		  font-size: 20px;
          margin-top: 0;
          margin-bottom: 0;
          color: #424475;
          text-transform: uppercase;
    }
    .theme-dark{
        h2,h3,h4{
            color: #fff !important;
        }
    }
    .theme-blue{
        h2,h3,h4{
            color: #231f20 !important;
        }
    }
    .theme-brand{
        h2,h3,h4{
            color: #fff !important;
        }
    }

    .h4{
		margin:0;
    }
    .special-offers-container{
		padding-bottom:0 !important;
        .offer-product-img{
			padding:0 !important;
        }
        .offer-description {
            top:53% !important;
            h4 {
                @media(min-width:1024px){
                  height: 30px !important;
                }
                text-align: left !important;
				@media(max-width:768px){
					margin-left:10 !important;
				}
                a{
                text-decoration:none;
                font-size:20px;
                }
            }
        }
    }

    @media(min-width:1024px){
        .offer-product-img{
			padding-top: 0px !important;
        }

        img{

            width:127px !important;
            height:auto !important;
            margin:0 !important;
        }
        .offer-container {
    	    height: 127px !important;
        }
        .offer-description{
            text-align: left !important;
            padding-left: 2.5em !important;
            padding-top: 0px !important;
        }
        .special-offers-container{
            h4{
				position:relative;
                top:12px;
            }
            p{
				min-height:36px;
                margin-top:20px;
            }
        }
	}
    .img-text-comp,.salon-offers>div{
		border:none !important;
    }
	.img-text-comp{
		.imgtxt-box{
			padding:0!important;
            @media(min-width:768px) and (max-width:992px){
				padding:0 0 0 10px!important;
            }
            p.imgtxt-para{
                @media (min-width: 768px){
                    min-height:49px;
                }
            }
		}
	}
    .col-md-6{
		padding-bottom:10px;
        &:last-child{
			padding-bottom:0;
        }
        &:nth-child(2n+1){
			clear:both;
        }

    }&.col-block{
		margin-bottom:0;
    }

    &.ss_offers{
        .img-text-comp{
            .img-container{
                @media (max-width: 767px){
                    width: 41.66666667% !important;
                    float: left !important;
                }
            }
            .imgtxt-box{
                @media (max-width: 767px){
                    width: 58.33333333% !important;
                    float: left !important;
                    padding-left: 10px !important;
                }
            }
        }
    }

}

.salondetails {
	.h4{
		font-size:18px;
	}
    display: inline-block;
    float:left;

    &:before, &:after {
        content: "";
        display: table;
    }

    &:after {
        clear: both;
    }
}

.salon-details {
    &:before, &:after {
        content: "";
        display: table;
    }

    &:after {
        clear: both;
    }

	.h4 a{
		color: #424475;
	}

    a {
        color: #424475;
		&:hover{
			color:#424475;
            text-decoration: none;
		}
    }
    a.btn{
        color:#fff !important;
    }

	ul li,p{
		font-size:13px;
        color: #231f20;
    }
}

@media (min-width: 992px) {
    .salon-details > .col-block > section {
        border-right: 1px solid #231f20;
        min-height: 270px;
        padding-right:20px;
    }


}
@media (max-width: @screen-xs) {
	.salondetailspagelocationcomp{
		.map-directions{
            .check-in {
				.store-hours{
                    font-size:15px;
					.days{
						width:37%;
                	}
                    .hours{
						width:56%;
                    }
            	}
            }
        }
    }
}

//custom text promo related changes

.salondetailspagelocationcomp,.salondetailtitlecomp {
    overflow: hidden;
	clear:both;
    h1{
		@media(max-width:768px){
			display:none;
		}
	}
}

//custom promo text component

.customtextpromo{
    overflow: hidden;
    height: auto;
    clear: both;
    @media (min-width: 992px){
        padding-top: 20px;
    }
    .custom-promo{
        min-height:195px;
        padding:1px 10px;
        position:relative;
        text-align:center;
        @media (min-width: 992px){
            padding: 10px;
        }
        .cta-to-customPromo{
            position:absolute;
            width:100%;
            bottom:5px;
        }
        .h3{
            margin-top:10px;
        }
        i{
            font-size:12px;
        }
        .custom-promo-msg{
            min-height:44px;
        }
    }
    .teal-bg{
        background: #fff;
        color: #231f20;
        border-top: 1px solid #424475;
        border-bottom: 1px solid #424475;
        .h3{
            color: #424475;
        }
        .btn{
            background-color:#424475 !important;
            color:#fff !important;
            font-weight: bold;
        }
        .cta-to-customPromo a.cta-arrow{
            color: #424475;
            font-weight: bold;
            &:hover{
                text-decoration: none;
            }
            span.right-arrow{
                width: 0;
                height: 0;
                border-top:7px solid transparent;
                border-bottom: 7px solid transparent;
                border-left: 7px solid #424475;
                display: inline-block;
                position: relative;
                top: 1px;
            }
        }
    }
    .red-bg{
        background: #00adbb;
        color: #231f20;
        .h3{
            color: #231f20;
        }
        .btn{
            background-color:#424475 !important;
            color:#fff !important;
            font-weight: bold;
        }
        .cta-to-customPromo a.cta-arrow{
            color: #231f20;
            font-weight: bold;
            span.right-arrow{
                width: 0;
                height: 0;
                border-top:7px solid transparent;
                border-bottom: 7px solid transparent;
                border-left: 7px solid #231f20;
                display: inline-block;
                position: relative;
                top: 1px;
            }
        }
    }
    .white-bg{
        background: #fff;
        color: #231f20;
        .h3{
            color: #424475;
        }
        .btn{
            background-color:#424475 !important;
            color:#fff !important;
            font-weight: bold;
        }
        .cta-to-customPromo a.cta-arrow{
            color: #424475;
            font-weight: bold;
            span.right-arrow{
                width: 0;
                height: 0;
                border-top:7px solid transparent;
                border-bottom: 7px solid transparent;
                border-left: 7px solid #424475;
                display: inline-block;
                position: relative;
                top: 1px;
            }
        }
    }
    .border-white-bg{
        background: #fff;
        border-top: 1px solid #424475;
        border-bottom: 1px solid #424475;
        color: #231f20;
        .h3{
            color: ;
        }
        .btn{
            background-color:#424475 !important;
            color:#fff !important;
            font-weight: bold;
        }
        .cta-to-customPromo a.cta-arrow{
            color: #424475;
            font-weight: bold;
            span.right-arrow{
                width: 0;
                height: 0;
                border-top:7px solid transparent;
                border-bottom: 7px solid transparent;
                border-left: 7px solid #424475;
                display: inline-block;
                position: relative;
                top: 1px;
            }
        }
    }
    .lightgrey-bg{
        background: #231f20;
        color: #fff;
        .h3{
            color: #fff;
        }
        .btn{
            background-color:#fff !important;
            color: !important;
            font-weight: bold;
        }
        .cta-to-customPromo a.cta-arrow{
            color: #fff;
            font-weight: bold;
            span.right-arrow{
                width: 0;
                height: 0;
                border-top:7px solid transparent;
                border-bottom: 7px solid transparent;
                border-left: 7px solid #fff;
                display: inline-block;
                position: relative;
                top: 1px;
            }
        }
    }
}

#sdpPage{
	display: none;
}

@media screen
{
  #printSdpSection {
      display: none;
  }
}

#contentTemplatePrintDiv{
    display: none;
}

@media screen
{
  #textandimage_print {
      display: none;
  }
}

@media print {
  body * {
      display: none;
        -webkit-print-color-adjust: exact;
    //visibility:hidden;
  }

a.btn-primary,a.cta-arrow{
    display: none !important;
}

 span[itemtype]{
		display: none;
  }
    a[href]:after{
		content : none !important;
    }

   #printSdpSection, #printSdpSection *, #textandimage_print, #textandimage_print * {
      display: block;
    //visibility:visible;
  }
  .header_logo{
    float: left !important;
    margin-bottom: 20px !important;
    width: 50% !important;
  }
  .title-component{
        clear: both !important;
        float: none !important;
        .main-title{
            color: #424475;
        }
        &.borderTop{
            border-top: 1px solid #00ADBB !important;
        }
        &.borderBottom{
            border-bottom: 1px solid #00ADBB !important;
        }
        &.border{
            border: 1px solid #00ADBB !important;
            border-width: 1px 0 !important;
        }
    }
    .textandimage{
        margin-bottom: 10px !important;
        page-break-inside: avoid !important;
        .img-container{
            width: 33.333% !important;
            float: left !important;
            padding-top: 5px !important;
            padding-left: 5px !important;
            &.pull-right{
                float: right !important;
                padding-left: 0 !important;
                padding-right: 5px !important;
            }
        }
        .imgtxt-box{
            width: 66.666% !important;
            float: left !important;
            padding: 10px !important;
            .imgtxt-heading,.imgtxt-subheading{
                color: #424475;
            }
        }
        .imgtxt-url{
            a{
                display: none !important;
            }
        }
        .img-text-comp{
            b,strong,i,em{
                display: inline !important;
            }
            &.theme-blue{
                background: #00ADBB !important;
                color: #231f20 !important;
                .imgtxt-heading,.imgtxt-subheading,b,strong{
                    color: #231f20 !important;
                }
            }
            &.theme-dark{
                background: #231f20 !important;
                color: #fff !important;
                .imgtxt-heading,.imgtxt-subheading,b,strong{
                    color: #fff !important;
                }
            }
            &.theme-brand{
                background: #424475 !important;
                color: #fff !important;
                .imgtxt-heading,.imgtxt-subheading,b,strong{
                    color: #fff !important;
                }
            }
        }
    }

  #printSdpSection {
    position:absolute;
    left:0;
    top:0;
  }

    .row {
  margin-left: -10px;
  margin-right: -11px;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 11px;
  padding-right: 10px;
}

    [class*="col-sm-"], [class*="col-xs-"],  [class*="col-md-"], [class*="col-lg-"]{
        float: left;
    }

.col-md-12, .col-lg-12, .col-sm-12, .col-xs-12 {
	width:100% !important;
}

.col-md-11, .col-lg-11,.col-sm-11, .col-xs-11 {
	width:91.66666667% !important;
}

.col-md-10, .col-lg-10,.col-sm-10, .col-xs-10 {
	width:83.33333333% !important;
}

.col-md-9, .col-lg-9,.col-sm-9, .col-xs-9 {
	width:75% !important;
}

.col-md-8, .col-lg-8,.col-sm-8, .col-xs-8 {
	width:66.66666667% !important;
}

.col-md-7, .col-lg-7, .col-sm-7, .col-xs-7 {
	width:58.33333333% !important;
}

.col-md-6, .col-lg-6, .col-sm-6, .col-xs-6 {
	width:50% !important;
}

.col-md-5, .col-lg-5, .col-sm-5, .col-xs-5 {
	width:41.66666667% !important;
}

.col-md-4, .col-lg-4, .col-sm-4, .col-xs-4 {
	width:33.33333333% !important;
}

.col-lg-3,.col-md-3,.col-sm-3, .col-xs-3 {
	width:25% !important;
}

.col-md-2,.col-lg-2,.col-sm-2, .col-xs-2 {
	width:16.66666667% !important;
}

.col-md-1,.col-lg-1,.col-sm-1, .col-xs-1 {
	width:8.33333333% !important;
}

    .salondetailtitlecomp{
        .salontitle{
            .salonsmalltxt{
				color: #6a6a6a !important;
            }
            .salonlrgtxt{
				color: #231f20 !important;
                font-size: 20px !important;
            }
        }
    }

    .salondetailspagelocationcomp{
        .wait-time{
			display: none !important;
        }
        .street-address{
            span{
                display: inline !important;
            }
        }
    }

    .salondetails{
        p{
            a{
				display: inline !important;
            }
        }
    }

    .sdp-salon-offers {
        .textandimage{
            img{
				width: 127px !important;
            }
            .img-text-comp{
                .img-container{
					width: 45% !important;
                    float: left !important;
                }
                .imgtxt-box{
					width: 45% !important;
                    float: left !important;
                }
            }
        }
        .salonoffersparsys1 > div{
			width: 50% !important;
            float: left !important;
            clear: none !important;
        }

	& > div{
		border: 1px solid #5f6167;
	}
    .media-left {
        & > .details {
           padding:0 1em;
		   header{
			color:@gray-dark;
		   }
        }

        & > .media {
			padding:0;
            img {
                width: 100%;
                margin: 12px 0;
            }
        }
    }

    .media:first-child {
        margin-top: 0;
    }
}
    .custom-promo{
		page-break-inside: avoid !important;
    }

    .skinny-text-component{
        page-break-inside: avoid !important;
	a{
		&:hover,&:focus{
			text-decoration: none;
		}
	}
	.skinny-msg{
		font-style: italic;
		text-align: center;
        p{
            margin-bottom: 0;
        }
	}
	.skinny-details{
		font-weight: bold;
	}
	.skinny-with-img{
        @media screen and (max-width: 991px){
			text-align: center !important;
		}
		.skinny-img{
			@media screen and (max-width: 991px){
				width: 100%;
			}
			@media (min-width: 992px){
				    height: 84px !important;
    				float: right !important;
			}
		}
		.skinny-title{
			@media screen and (max-width: 991px){
				padding-top: 24px;
				padding-bottom: 12px;
			}
            .h3, h3{
                @media screen and (max-width: 991px){
                    font-weight: bold;
                }
            }
		}
		.skinny-details{
			@media screen and (max-width: 991px){
				padding-top: 12px;
				padding-bottom: 24px;
			}
		}
		.skinny-title,.skinny-msg{
			.h3, h3{
				margin: 0;
                font-size: 22px;
				@media screen and (max-width: 991px){
					font-size: 1.2em;
				}
			}
		}
		.skinny-msg{
			.h3, h3{
				@media (max-width: 767px){
					font-size: 16px;
				}
				@media (min-width: 992px){
					padding-left: 45px;
				}
			}
		}
		.skinny-details{
			@media (min-width: 992px){
                text-align: right;
            }
		}
		.display-table{
            @media(max-width: 991px){
				display: table !important;
                table-layout: fixed !important;
                width: 100% !important;
            }
        }
        .table-cell{
			@media(max-width: 991px){
				display: table-cell !important;
                vertical-align: middle !important;
                float: none !important;
            }
            &:first-child{
				@media(max-width: 767px){
					padding: 0;
                }
            }
        }
	}
	.skinny-without-img{
		padding-top: 20px;
		padding-bottom: 20px;
		@media screen and (max-width: 991px){
			text-align: center !important;
		}
		.skinny-title{
			.h3, h3{
				margin: 0;
				font-size: 28px;
				font-weight: bold;

				@media screen and (max-width: 767px){
					font-size: 24px;
				}
				@media (min-width: 992px){
					text-align: center !important;
	            }
			}
		}
		.skinny-msg{
			font-size: 16px;
			@media screen and (max-width: 991px){
				padding-top: 12px;
				padding-bottom: 12px;
			}
			.h3, h3{
				margin: 0;

                font-size: 20px;
			}
		}
	}

	&.grey-bg{
		background: #231f20 !important;
		color: #fff !important;
        .skinny-title{
            .h3, h3{
                color: #fff !important;
            }
        }
        .skinny-msg{
            p{
                color: #fff !important;
            }
        }
        .skinny-details{
            a{
                color: #fff !important;
                text-transform: uppercase;
                display: inline-block !important;
                .right-arrow{
                    display: none !important;
                }
            }
        }

	}
	&.white-bg{
		background: #fff !important;
		color: #231f20 !important;
        .skinny-title{
            .h3, h3{
                color: #424475;
            }
        }
        .skinny-msg{
            p{
                color: #231f20 !important;
            }
        }
        .skinny-details{
            a{
                color: #424475 !important;
                text-transform: uppercase;
                display: inline-block !important;
                .right-arrow{
                    display: none !important;
                }
            }
        }

	}
	&.border-white-bg{
		background: #fff !important;
		border-top: 1px solid #424475 !important;
		border-bottom: 1px solid #424475 !important;
		color: #231f20 !important;
        .skinny-title{
            .h3, h3{
                color: #424475;
            }
        }
        .skinny-msg{
            p{
                color: #231f20 !important;
            }
        }
        .skinny-details{
            a{
                 color: #424475 !important;
                 text-transform: uppercase;
                 display: inline-block !important;
                .right-arrow{
                    display: none !important;
                }
             }
        }
	}
    &.brand-bg{
		background: #424475 !important;
		color: #fff !important;
        .skinny-title{
            .h3, h3{
                color: #fff !important;
            }
        }
        .skinny-msg{
            p{
                color: #fff !important;
            }
        }
        .skinny-details{
            a{
                 color: #fff !important;
                 text-transform: uppercase;
                 display: inline-block !important;
                .right-arrow{
                    display: none !important;
                }
            }
        }
	}
	&.blue-bg{
		background: #00ADBB !important;
		color: #231f20 !important;
        .skinny-title{
            .h3, h3{
                color: #231f20 !important;
            }
        }
        .skinny-msg{
            p{
                color: #231f20 !important;
            }
        }
        .skinny-details{
            a{
                color: #231f20 !important;
                text-transform: uppercase;
                display: inline-block !important;
                .right-arrow{
                    display: none !important;
                }
            }
        }
	}

    .displayTable{
        @media(min-width: 992px){
            display: table !important;
            table-layout: fixed !important;
            width: 100% !important;
        }
    }
    .tableCell{
        @media(min-width: 992px){
            display: table-cell !important;
            vertical-align: middle !important;
            float: none !important;
        }
    }
    &.medium-width{
        .skinny-with-img{
            .skinny-img{
                @media (min-width: 992px){
					height: 104px !important;
                        float: right !important;
                }
            }
            .skinny-title{
                .h3, h3{
					font-size: 28px;
                }
            }
            .skinny-title,.skinny-details{
				text-align: center !important;
            }
        }
        .skinny-without-img{
			padding-top: 10px;
            padding-bottom: 10px;
        }
    }

    &.full-width{
        width: 100% !important;
    }
}

.acs-commons-resp-colctrl-col-50{
    .skinnycomponent{
        .skinny-text-component{
            &.medium-width{
				width: 100%;
            }
        }
    }
}
}
