// Custom Variables override
@import "../core/custom-variables";
//
.promotionmessage{
	overflow:hidden;
	height:auto;
	.special-offers{
		.main{
			.special-offers-container{
				.offer-container{
					width:100% !important;
					margin:0;
				}
			}
		}
	}
}
/*WR5 Changes - Sudheer*/
.localpromotionmessage{
    clear:both;
    margin-bottom:2em;
    padding:0 0px;
}
.salon-offers {
	
	& > div{
		border: 1px solid #5f6167;
	}
    .media-left {
        & > .details {
           padding:0 10px;
		   header{
			color:@gray-dark;
		   }
        }

        & > .media {
			padding:0;
            @media (min-width: 992px){
                padding: 0 10px;
            }
            img {
                width: 100%;
                margin: 12px 0;
            }
        }
    }

    .media:first-child {
        margin-top: 0;
    }
}

.salon-offers small, .salon-offers .small {
    font-size: 75%;
}

.salon-offers .media, .salon-offers .media .media {
    margin-top: 15px;
}

.salon-offers .media, .media-body {
    overflow: hidden;
    zoom: 1;
}
@media (max-width: 768px) {
    .salon-offers {
        padding:0 10px
    }
    .promotionmessage.globalpromotionmessage{
        padding:0 10px
    }
}

/*@media (min-width: 550px) {
    .salon-offers {
        .media-left {
            & > .details {
                float: left;
                width: 70%;

                section {
                    p {
                        display: inline-block;
                    }
                }

                header {
                    margin-top: 4ex;
					color:@gray-dark;
                }
            }

            & > .media {
                float: left;
                width: 30%;

                img {
                    width: 100%;
                }
            }
        }
    }

    .salon-offers media-left & > .details header, .media-left & > .details section, .salon-offers .media-left & > .details footer {
        width: 100%;
    }

    .salon-offers .media-left & > .details header, .salon-offers .media-left & > .details section, .salon-offers .media-left & > .details footer {
        width: 100%;
    }
}
*/