.skinny-text-component{
	a{
		&:hover,&:focus{
			text-decoration: none;
		}
	}
	.skinny-msg{
		font-style: italic;
		text-align: center;
        p{
            margin-bottom: 0;
        }
	}
	.skinny-details{
		font-weight: bold;
	}
	.skinny-with-img{
        @media screen and (max-width: 991px){
			text-align: center;
		}
		.skinny-img{
			@media screen and (max-width: 991px){
				width: 100%;
			}
			@media (min-width: 992px){
				    height: 84px;
    				float: right;
			}
		}
		.skinny-title{
			//font-family: "open-sans";
			@media screen and (max-width: 991px){
				padding-top: 24px;
				padding-bottom: 12px;
			}
            .h3, h3{
                @media screen and (max-width: 991px){
                    font-weight: bold;
                }
            }
		}
		.skinny-details{
			@media screen and (max-width: 991px){
				padding-top: 12px;
				padding-bottom: 24px;
			}
		}
		.skinny-title,.skinny-msg{
			.h3, h3{
				margin: 0;
                font-size: 22px;
				@media screen and (max-width: 991px){
					font-size: 1.2em;
				}
			}
		}
		.skinny-msg{
			.h3, h3{
				//font-family: "merriweather";
				@media (max-width: 767px){
					font-size: 16px;
				}
				@media (min-width: 992px){
					padding-left: 45px;
				}
			}
		}
		.skinny-details{
			@media (min-width: 992px){
                text-align: right;
            }
		}
		.display-table{
            @media(max-width: 991px){
				display: table;
                table-layout: fixed;
                width: 100%;
            }
        }
        .table-cell{
			@media(max-width: 991px){
				display: table-cell;
                vertical-align: middle;
                float: none;
            }
            &:first-child{
				@media(max-width: 767px){
					padding: 0;
                }
            }
        }
	}
	.skinny-without-img{
		padding-top: 20px;
		padding-bottom: 20px;
		@media screen and (max-width: 991px){
			text-align: center;
		}
		.skinny-title{
			.h3, h3{
				margin: 0;
				//font-family: "merriweather";
				font-size: 28px;
				font-weight: bold;

				@media screen and (max-width: 767px){
					font-size: 24px;
				}
				@media (min-width: 992px){
					text-align: center;
	            }
			}
		}
		.skinny-msg{
			//font-family: "merriweather";
			font-size: 16px;
			@media screen and (max-width: 767px){
				//font-family: "open-sans";
			}
			@media screen and (max-width: 991px){
				padding-top: 12px;
				padding-bottom: 12px;
			}
			.h3, h3{
				margin: 0;

                font-size: 20px;
			}
		}
	}

    span.right-arrow{
		width: 0;
        height: 0;
        border-top:7px solid transparent;
        border-bottom: 7px solid transparent;
        border-left: 7px solid #fff;
        display: inline-block;
        position: relative;
        top: 1px;
    }

	&.grey-bg{
		background: #231F20;
		color: #fff !important;
		a{
			color: #fff !important;
			text-transform: uppercase;
		}
		h3{
			color: #fff !important;
		}
	}
	&.white-bg{
		background: #fff;
		color: #231F20 !important;
        .skinny-title{
			color: #231f20 !important;
        }
				h3{
					color: #231f20 !important;
				}
		a{
			color: #231f20 !important;
			text-transform: uppercase;
			.right-arrow{
				border-left: 7px solid #231f20;
			}
		}
	}
	&.border-white-bg{
		background: #fff;
		border-top: 1px solid #424475;
		border-bottom: 1px solid #424475;
		color: #231F20 !important;
        .skinny-title{
			color: #231f20 !important;
        }
				h3{
					color: #231f20 !important;
				}
		a{
			color: #231f20 !important;
			text-transform: uppercase;
			.right-arrow{
				border-left: 7px solid #231f20;
			}
		}
	}
    &.brand-bg{
		background:#00ADBB;
		color: #231f20 !important;
		a{
			color: #231f20 !important;
			text-transform: uppercase;
			.right-arrow{
				border-left: 7px solid #231f20;
			}
		}
		h3{
			color: #231f20 !important;
		}
	}
	&.blue-bg{
		background:  #424475;
		color: #fff;
		a{
			color: #fff;
			text-transform: uppercase;
			.right-arrow{
				border-left: 7px solid #fff;
			}
		}
		h3,.h3{
			color: #fff !important;
		}

	}

    .displayTable{
        @media(min-width: 992px){
            display: table;
            table-layout: fixed;
            width: 100%;
        }
    }
    .tableCell{
        @media(min-width: 992px){
            display: table-cell;
            vertical-align: middle;
            float: none;
        }
    }
    &.medium-width{
        @media (min-width: 992px){
			width: 50%;
        }
        .skinny-with-img{
            .skinny-img{
                @media (min-width: 992px){
					height: 104px;
                }
            }
            .skinny-title{
                .h3, h3{
					font-size: 28px;
                }
            }
            .skinny-title,.skinny-details{
				text-align: center;
            }
        }
        .skinny-without-img{
			padding-top: 10px;
            padding-bottom: 10px;
        }
    }

}

.acs-commons-resp-colctrl-col-50{
    .skinnycomponent{
        .skinny-text-component{
            &.medium-width{
				width: 100%;
            }
        }
    }
}

.skinnycomponent{
    &.section{
		padding: 15px 0;
    }
}
