/*CSS specific to Styles and Advice component for CQ*/

.styles-advice {
    .style-box {

        .style-box-content {
            border: 1px solid #00ADBB;
            margin-bottom: 20px;

            &.theme-blue{
                background: #fff;
                a{
                    color: #231F20 !important;
                }
            }
            &.theme-dark{
                background: #fff;
                a{
                    color: #231F20 !important;
                }
            }
            &.theme-brand{
                background: #fff;
                a{
                    color: #231F20 !important;
                }
            }
            &.theme-default{
                a{
                    color: #231F20 !important;
                    text-decoration: none;
                    &:hover{
                        text-decoration: underline;
                    }
                }
            }

            & > a + a:hover {
                text-decoration: none;
            }
			.media{
				position:relative;
				width:100%;
				min-height:68px;
			}
            img {
                width: 100%;
            }

            .img-desc {
                padding: 0.18em;
                color: #231f20 !important;
                font-family: commuters-sans, sans-serif;
                background: #00ADBB !important;
                text-align: center;
                font-weight: 600;
                font-size: 19px;
                opacity: 0.9;
                letter-spacing: 2px;
				position:absolute;
				bottom:0;
				width:100%;
				padding:.5ex .5em;
				margin-bottom:0;
                span {
                    margin-left: 0;
                    font-size: 0.8em;
					top:0;
                }
            }

			.img-desc-big-translucent{
                padding: 10px;
                font-size: 35px;
                font-weight: 700;
                letter-spacing: 0;
			}

            .style-desc {
                overflow: hidden;
                margin: 35px 4%;


                img {
                    width: 28%;
                    margin-left: 2%;
                    float: left;
                }

                .style-text {
                    float: left;
                    width: 65%;
                    margin-left: 5%;
                    ;

                    .style-desc-heading {
                        text-align: left;
                        color: #231f20 !important;
                        font-weight: 700;
                        font-size: 20px;
                        line-height: 1.1;
                        margin-top: 0;
                        margin-bottom: 4px;
                        text-transform: none;
                    }

                    p {
                        color: #231f20 !important;
                        font-size: 16px;
                    }
                }
            }
        }

        a.cta-more-styles {
            display: block;
            text-align: center;
            text-decoration: none;
            color: #003f72;
            font-size: 28px;
            letter-spacing: 1px;
            font-family: commuters-sans, sans-serif;

            span {
                margin-left: 0.4em;
                font-size: 0.8em;
            }
        }
    }

}

/*Css tweeks for style and advice
*/

.acs-commons-resp-colctrl-row {
    .new-container {
        margin: 0 -10px;
    }
}

/*Media Query for mobile version of Styles and Advice component*/
@media (min-width: 992px) {
    .acs-commons-resp-colctrl-row {
        .acs-commons-resp-colctrl-col-33 {
            width: 33.33%;
        }
    }
}


@media screen and (max-width: 767px) {
    .styles-advice {
        .style-box {
            text-align: center;
            /*margin-bottom: 25px;*/

            .style-text p {
                text-align: left;
            }
			.style-box-content{
				 .img-desc{
					position: relative;
					background: rgba(146, 174, 97, 1);
				}
				a:hover{
					text-decoration:none;
				}
			}
        }
    }
}
@media screen and (max-width: 400px) {
.styles-advice {
	.style-box {
			.style-box-content {
				.img-desc{
					&.img-desc-big-translucent{
						font-size:25px;
					}
				}
			}
		}
	}
	.style-detail-wrap {
		.style-info {
			h1{
				&.salontitle{
					font-size:32px;

					span{
						&.salonsmalltxt{
							font-size:20px
						}
					}
				}
			}
		}
	}
}
/*CSS specific to Styles and Advice component ends*/
