#style-wrap{
	margin-top:20px;
    margin-bottom:20px;
    figure{
        img{
			margin-bottom:20px;
			width:100%;
        }
        margin-bottom:20px;
        figcaption{
            text-align:center;
        }
    }
}

.comb1{
    @media (min-width: 768px){
        display: table;
        margin: 0 auto;
    }
    img{
        @media (max-width: 767px){
            width: 100%;
        }
    }
    .img-holder1,.img-holder2{
        @media (min-width: 768px){
            display: table-cell;
            width:300px;
        }
        figure{
            @media (min-width: 768px){
                margin-right: 30px;
            }
            figcaption{
                text-align: center;
                button{
                    padding: 10px;
                    margin: 10px 0;
                }
            }
        }
    }
}

.comb-2 {
	&.content-wrap {
        img{
            @media (max-width: 767px){
                width: 100%;
            }
        }
        @media (min-width: 768px){
            display: table;
        }
        .img-holder1{
            @media (min-width: 768px){
                width:300px;
                display: table-cell;
                vertical-align: middle;
            }
        }
        .imgholder2 {
            @media (min-width: 768px){
                display: table;
                width:300px;
            }
           img{
                @media (min-width: 768px){
                    display: table-cell;
                }
               margin-bottom: 20px;
           }
        }
    }
}

.content-wrap {
	&.comb-3{
        img{
            @media (max-width: 767px){
                width: 100%;
            }
        }
        @media(min-width: 768px){
            display: table;
        }
        .img-holder1{
            @media(min-width: 768px){
                width:300px;
                display: table-cell;
                vertical-align: middle;
            }
        }
        .imgholder2 {
            @media(min-width: 768px){
                width:300px;
                display: table;
                vertical-align: middle;
                padding-top: 20%;
            }
        }
        .small-desc {
            text-align: center;
        }
    }
}

.skinny{
    padding: 20px;
    color: #231F20;
    &.large-desc{
		border:1px solid #00ADBB;
		 h3{
			display: inline-block;
             a{
				font-weight: normal;
				font-size: 19px;
                color: #424475;
                &:hover{
						color: #424475;
						text-decoration: underline;
                    }
                }
			.title1{
                font-weight: normal;
				display: block;
                color: #424475;
                &:hover{
                    color: #424475;
                }
			}
			.title2{
				font-weight: normal;
				display: block;
                color: #231F20;
                &:hover{
                    color: #231F20;
                }
			}

		}
	 }
    h3{
		font-weight: normal;
        margin-top: 0;
		 a{
			font-weight: normal;
            color: #424475;
            &:hover{
					color: #424475;
					text-decoration: underline;

                }

           }
    }
    &.small-desc{
		width:70%;
        margin:0 auto;
        margin-bottom:20px;
        border:none;
        border-top: 2px solid #00ADBB;
    	border-bottom: 2px solid #00ADBB;
    }

    &.small-desc-withoutBorder {
    	width: 70%;
    	margin: 0 auto 20px;
    	border: none;
	}
}

.premiumStylesAndAdvice{
    .cta-arrow{
        span.right-arrow{
            width: 0;
            height: 0;
            border-top:7px solid transparent;
            border-bottom: 7px solid transparent;
            border-left: 7px solid #424475;
            display: inline-block;
            position: relative;
            top: 1px;
        }
        &:hover{
            text-decoration: none;
        }
    }
}

.style-advice-component{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0;
    .sa-title{
        margin: 0 0 36px;
        color: #424475;
        font-size: 28px;
				text-align: left !important;
        @media(max-width: 767px){
            margin: 0 0 25px;
            text-align: center;
        }
    }
    .sa-item{
        border: 1px solid #00adbb;
        padding: 24px;
        @media(max-width: 767px){
            padding: 24px 24px 6px;
            margin-bottom: 10px;
        }
        .imageSA{
            width: 100%;
        }

        .title{
            margin: 12px 0;
            line-height: 25px;
            font-size: 22px;
            padding: 0;
            color: #231F20;
            @media(max-width: 767px){
                margin: 6px 0;
                font-size: 17px;
            }
        }
        .subtitle{
            margin: 0;
            //font-family:'open-sans';
            min-height: 80px;
            color: #231F20;
            @media(max-width: 767px){
                font-size: 15px;
            }
        }
    }
    .next-link{
        text-transform: uppercase;
        color: #424475;
        font-weight: bold;
    }
    span.right-arrow{
        width: 0;
        height: 0;
        border-top:7px solid transparent;
        border-bottom: 7px solid transparent;
        border-left: 7px solid #424475;
        display: inline-block;
        position: relative;
        top: 1px;
        left: 3px;
    }
    .skinny-text{
        padding: 36px 0;
        margin: 0 36px;
        border-width: 4px 0;
        border-style: solid;
        border-color: #00adbb;
        &.noBorders{
            border: none;
        }
        @media (max-width: 991px){
            margin: 24px 20px;
            padding: 18px 0;
        }

        .title{
            margin: 0;
            padding: 0 17px;
            font-family: commuters-sans, sans-serif;
            a{
								font-size: 22px;
								font-weight: 600;
								line-height: 25px;
                color: #231F20;
								@media screen and (max-width: 767px){
					 				font-size:17px !important;
					 			}
                &:hover{
                    text-decoration: underline;
                }
            }

            @media (max-width: 991px){
                padding: 0;
            }
            @media (min-width: 768px) and (max-width: 991px){
                font-size: 25px;
                line-height: 31px;
            }
        }
        .description{
            margin: 60px 0 48px;
            //font-family:'open-sans';
            font-size: 16px;
            color: #231F20;
            @media (max-width: 767px){
                margin: 30px 0 24px;
            }
        }
    }
    .display-table{
        @media (min-width: 768px){
            display: table;
            table-layout: fixed;
            width: 100%;
        }
        .tableCell{
            @media (min-width: 768px){
                display: table-cell;
                vertical-align: middle;
                float: none;
                padding-left: 0;
                padding-right: 20px;     
            }
            @media (min-width: 1024px){
                display: table-cell;
                vertical-align: middle;
                float: none;
                padding-left: 10px;
                padding-right: 10px;
            }
            &:last-child{
                .sa-item{
                    @media (max-width: 767px){
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
    .styleadv-more{
        margin-top:20px;
    }
}
