.stylist-spotlight-container{
    @media(max-width:768px){
        width:100%;;
    }
    .h3{
		color: #231f20;
    }
    h4{
        margin-bottom: 48px;
        font-size: 28px;
        color: #231f20;
        @media(max-width:768px){
            margin-bottom: 24px;
        }
    }
    .img1{
        width: 100%;
        height: 100%;
        margin-bottom: 20px;
        @media (max-width: 767px){
            margin-top:24px;
            margin-bottom:24px;
        }
    }

    .cwidth-container{
        margin-bottom:12px;
        @media(min-width:992px){
            padding-left:21px;
            width:238px;
        }
        h1{
            font-family:Merriweather;
            font-size:34px;
             @media(max-width:768px){
                 margin-top:-12px;

            }
        }
        @media(min-width:992px){
                border-right: 2px solid #dcdcdc;
                border-left:2px solid #dcdcdc
        }

         &:first-child{
            border:none;
        }
         &:last-child{
            border:none;
        }
        &:nth-child(2){
            &>.row{
                @media (max-width: 992px){
					margin-right: -10px !important;
                    margin-left: -10px !important;
                }
            }
        }

        p{
            font-weight:lighter;
        }
        .mall-name{
            color:#568391;
            font-size:12px;
            font-weight:700;
        }
        .salon-addr{
            font-weight:lighter;
            width:238px;
            font-family: proxima-nova, sans-serif;
        }
        .ph-no{
            margin-top: -2px;
            font-family: proxima-nova, sans-serif;
        }
        .link{
            font-size: 16px;
            font-weight: normal;
            position: absolute;
            top: 45px;
            right: 0px;
            margin-right:10px;
            text-align: right;
            color:#568391;
            &:hover,&:focus,&:active{
                color:#4C6F7A;
                text-decoration: none;
            }
        }

        .img2{
            width:60px;
            height:60px;
        }
        .des{
            font-family: proxima-nova, sans-serif;
            @media(max-width:767px){
                margin-top:10px;
            }
        }
        .det1{
             font-size:16px;
            color: #2e6ca2;
            &:hover,&:focus,&:active{
                color:#2e6ca2;
                text-decoration: none;
            }
        }
        .det{
              font-size:16px;
            font-weight:normal;
            color: #2e6ca2;
            &:hover{
                text-decoration: none;
                color:#2e6ca2;
            }
            margin-top:10px;
            position:absolute;
            right:0px;
            margin-right:5px;
        }
        a{
            color: #2e6ca2 !important;
            font-weight: bold !important;
			span.right-arrow{
                width: 0;
                height: 0;
                border-top:7px solid transparent;
                border-bottom: 7px solid transparent;
                border-left: 7px solid #2e6ca2;
                display: inline-block;
                position: relative;
                top: 1px;
            }
        }
    }
  .details{
       margin-bottom: 12px;
       font-family: proxima-nova, sans-serif;
      .p1{
            font-weight:bolder;
          @media(max-width:768px){
              display:inherit;
          }
      }

  }
}
