
.text-over-image,.textoverresponsiveimage{
    margin:15px 0;
    float:left;
    width:100%;
    .h3,h2,h3{
        margin:0;
        color:#231f20;
    }
    .text-container{
        background-color: transparent !important;
        float:left;
        margin:15px;
        padding:15px;
        @media(max-width:767px){
            float: left !important;
            margin-left:0 !important;
        }
        a{
            color: #424475;
            span.right-arrow{
                width: 0px;
                height: 0px;
                border-top: 7px solid transparent;
                border-bottom: 7px solid transparent;
                border-left: 7px solid #424475;
                display: inline-block;
                position: relative;
                top: 1px;
                margin-left:5px;
            }
        }
    }
    position: relative;
    img{
       @media(min-width:768px){
            position:absolute;
        }
        width:100%;
        &.cq-dd-image{
            position:static;
            height:74px;
        }
    }
    &.top-left{
        .text-container{
            float:left;
        }
    }
    &.top-right{
        .text-container{
            float:right;
        }
    }
    &.middle-right{
        .text-container{
            float:right;
        }
    }
    &.bottom-right{
        .text-container{
            float:right;
        }
    }
}

.textoverresponsiveimage > img{
    position: relative;
    width:auto;
}

.text-over-image, .textoverresponsiveimage{
    @media (max-width: 767px){
        float: none;
    }
}
