.textandvideo {
	.img-text-comp{
		.imgtxt-box{
			.imgtxt-heading{
				color: #5f6167;
			}
			.imgtxt-subheading{
				color: #5f6167;
			}
			.imgtxt-para{
				font-style: italic;
			}
			.imgtxt-url{
				a{
					background: none;
					color: #003F72;
					border: none;
					font-weight: bold;
				}
			}
		}
		.img-container{
			.player-container{
				.outer-wrapper{
                    width:100%;
				}
			}
			a.playicon{
                background: url("../../clientlibs/ss-publish-clientlibs/resources/images/play_button.png");
                position: absolute;
                padding: 60px;
                top: 32%;
                left: 36%;
            }
            .main-outer{
				position: relative;
                height: 0;
                padding-bottom: 56.25%;
            }
            .BrightcoveExperience{
				position: relative;
                top: 0;
                left: 0;
                width: 100%;
            }
		}
	}
}

.textandvideonew {
	.img-text-comp{
        border: 1px solid #00ADBB;
        overflow: hidden;
        &.no-border{
			border: none;
        }
		.imgtxt-box{
            @media(max-width:767px){
				padding:10px;
            }
			.imgtxt-heading{
				color: #231f20;
			}
			.imgtxt-subheading{
				color: #231f20;
			}
			.imgtxt-para{
				font-style: italic;
                a{
					color: #424475;
                }
			}
			.imgtxt-url{
				a{
					background: none;
					color: #424475;
					border: none;
					font-weight: bold;
                    text-decoration: none;
                    &.btn{
						background: #424475;
                        color: #fff;
                    }
				}
                span.right-arrow{
					border-left: 7px solid #424475;
                    top: 1px;
                }	
			}
		}
		.img-container{
			.player-container{
				.outer-wrapper{
                    width:100%;
				}
			}
			a.playicon{
                background: url("../../clientlibs/ss-publish-clientlibs/resources/images/play_button.png");
                position: absolute;
                padding: 60px;
                top: 32%;
                left: 36%;
            }
            .main-outer{
				position: relative;
                height: 0;
                padding-bottom: 56.25%;
            }
            .BrightcoveExperience{
				position: relative;
                top: 0;
                left: 0;
                width: 100%;
            }
		}
	}
}