    // Custom Variables override
    @import "../core/custom-variables";
    @import "../components/mixins";
    //
/*Themes*/
/*----------------*/

@white: #ffffff;
/*Default Theme - blue*/

/*Dark Theme - Grey*/
.theme-dark {
    background: #231f20;
    border:1px solid #231f20;
    float:left;
    width:100%;
    color: @white !important;

    h2, h3 {
        color: @white !important;
    }
    h4,.h4,.h5,h5,h6,.h6{
      color: @white !important;
    }
    a {
        color: @white !important;
        text-dexoration:underline;
        @media (max-width: 767px){
         font-size: 20px;
        }

        &.btn{
            border: 1px solid @white;
            background:@white!important;
            color:#424475 !important;
            text-transform:uppercase;
            text-decoration:none;
            font-weight:700;
             font-size: 18px;
        }
        
    }
    p{
        color:@white !important;
    }
    .imgtxt-para{
        color: #fff !important;
    }
    .style-advice-style{
        color: #fff;
    }
    /*img & text with theme*/
    .img-desc{
        background: #231f20 !important;
        color:@white !important;
    }
    .content-overlay{
         //.gradient-dark;
      /*  background: #231f20;*/
          h3, .h3{
            color:#fff  !important;;
        }
    }
    .style-advice-style{
        color: #fff !important;
    }
    .component-description{
        color: #fff;
    }
    &.img-text-comp{
        .imgtxt-box{
            p{
                b,strong,i,em{
                    color: #fff;
                }
            }
        }
    }
}

/*Blue Theme*/
.theme-blue {
    background: #424475;
    border:1px solid #424475;
    color: #fff !important;
    float: left;
    width: 100%;
    h2,.h2,.h3, h3{
        color: #fff !important;
    }
    h4,.h4,.h5,h5,h6,.h6{
      color: @white !important;
    }
     a {
        color: #fff !important;
        @media (max-width: 767px){
         font-size: 20px;
        }

        //text-dexoration:underline;
        &.btn{
            border: 1px solid #fff;
            background: #fff !important;
            color:#424475  !important;
            text-transform:uppercase;
            text-decoration:none;
            font-weight:700;
            font-size: 18px;
        }
    }
    p{
        color: #fff !imfportant;

        b{
            color:#fff !important;
        }
    }
    .imgtxt-para{
        color: #fff !important;
    }
    /*img & text with theme*/
    .img-desc{
        background: #00ADBB !important;
        color:#231f20 !important;
    }
    .content-overlay{
        /* background: #00ADBB;
        color: #231f20 !important;*/
        h2, h3,.h2,.h3{
        color: #fff !important;
        }
    }
    .style-advice-style{
        color: #231f20 !important;
    }
    .component-description{
        color: #fff;
    }
    &.img-text-comp{
        .imgtxt-box{
            p{
                b,strong,i,em{
                    color: #231f20;
                }
            }
        }
    }
}

/*Brand Theme*/
.theme-brand {
    //.gradient-brand;
    background: #00ADBB;
    border:1px solid #00ADBB;
    color: #231f20;
    float:left;
    width:100%;
    h2{
        color: #231f20 !important;
    }
     a {
        color: #231f20 !important;
        @media (max-width: 767px){
         font-size: 20px;
        }

        text-dexoration:underline;
        &.btn{
            background: #424475;
            color:#fff !important;
            text-transform:uppercase;
            text-decoration:none;
            font-weight:700;
            border-color:  #424475;
            font-size: 18px;
        }
    }
    p{
        color:#231f20 !important;
    }
    .imgtxt-para{
        color: #231f20 !important;
    }

    /*img & text with theme*/
    .img-desc{
        background: #424475 !important;
        color:#231f20 !important;
    }
    .content-overlay{
        //.gradient-brand;
      /*  background: #424475;
        color: #231f20;*/
        h3, .h3{
            color:#231f20;
        }
        span.img-desc-sub{
            color: #231f20;
        }
    }
    .style-advice-style{
        color: #231f20 !important;
    }
    .component-description{
        color: #231f20;
    }
    &.img-text-comp{
        .imgtxt-box{
            p{
                b,strong,i,em{
                    color: #231f2;
                }
            }
        }
    }
}
/*default Theme*/
.theme-default {
    background:none;
    border:1px solid #00ADBB;
    color: #424475;
    float:left;
    width:100%;
    h2, h3{
        color: #424475 !important;
    }
     a {
        color: #424475 !important;
        @media (max-width: 767px){
         font-size: 20px;
        }

        &:hover{
            text-decoration:underline;
        }
        &.btn{
            border: 1px solid #424475;
            background:#424475;
            color:@white;
            text-transform:uppercase;
            text-decoration:none;
            font-weight:700;
            font-size: 18px;
        }
    }
    p{
        color: #231f20 !important;
    }
    .imgtxt-para{
        color: #231f20;
    }
    .imgtxt-subheading{
        h3{
            color:#9DA2A4 !important;
        }
    }
    /*img & text with theme*/
    .img-desc{
        background: #424475;
        color:@white !important;
    }
    .content-overlay{
      /*  background:none;
        color: #424475;*/
        h3, .h3{
            color:#424475 !important;
        }
        span.img-desc-sub{
            color: #424475;
        }
    }
    .style-advice-style{
        color: #231f20 !important;
    }
    .component-description{
        color: #424475;
    }
    &.img-text-comp{
        .imgtxt-box{
            p{
                b,strong,i,em{
                    color: #231f20;
                }
            }
        }
    }
}
