.title-component{
	margin: 10px 0;
	&.borderBottom{
		border-bottom: 1px solid #00ADBB;
	}
	&.borderTop{
		border-top: 1px solid #00ADBB;
	}
	&.border{
		border: 1px solid #00ADBB;;
		border-width: 1px  0;
	}
	&.borderNone{
		border: none;
	}
    &.text-left{
        .category-subtitle,.main-title{
			text-align: left !important;
        }
    }
		&.text-right{
				.category-subtitle,.main-title{
			text-align: left !important;
				}
		}
		&.text-center{
				.category-subtitle,.main-title{
			text-align: left !important;
				}
		}
	a{
        text-decoration: none;
        &:hover{
        	text-decoration: none;
        }
    }
	.title{
        .h1,.h2,.h3,.h4,.h5,.h6{
            font-weight: lighter;
        }
	}
    .main-title,.category-subtitle{
		color: #231F20;
		text-align: left !important;
    }
	.description{
		font-weight: lighter;
		margin: 36px 0;
        color: #231f20;
        a{
            font-size: inherit;
            color: #231f20;
            font-weight: bold;
            text-decoration: underline;
        }
	}
	.gender-links{
		a{
			font-size: 16px;
			font-weight: lighter;
			padding: 0 12px;
			height: 25px;
			display: inline-block;
			@media (max-width: 767px){
				padding: 0 10px;
			}
			color: #424475;
			text-decoration: none;
			&:hover,&:focus,&:active{
				border-bottom: 2px solid #424475;
				padding-bottom: 10px;
				margin: 0;
			}
		}
		span{
			&.selected{
				font-size: 16px;
				font-weight: lighter;
				border-bottom: 2px solid #424475;
				padding: 0 12px 10px;
				margin: 0;
				display: inline-block;
				height: 35px;
			}
		}
	}
	.category-title{
		font-style: normal;
		margin-top: 24px;
		margin-bottom: 36px;
		.title1,.title2{
			display: block;
		}
	}
}
