.trends-article-container{
    margin: 10px 0;
    .row{
		margin-left: -10px !important;
        margin-right: -10px !important;
    }
    .trends-hero-img{
        width: 100%;
    }
    .trends-title{
        margin-bottom: 10px;
        @media (max-width: 767px){
            margin-top: 15px;
        }
    }
    .article-content{
        &.content-section{
			margin-bottom: 15px;
        }
        .trends-img{
            width: 100%;
        }
        .description{
            margin: 5px 0;
            font-size: 14px;
        }
        a{
            color:#2e6ca2;
            text-transform: uppercase;
            font-weight: bold;
            .right-arrow{
                width: 0;
                height: 0;
                border-top:7px solid transparent;
                border-bottom: 7px solid transparent;
                border-left: 7px solid #2e6ca2;
                display: inline-block;
                position: relative;
                top: 1px;
            }
        }
    }
}