<div data-sly-use.cardcomponent="com.regis.common.use.CardComponentPojo">
	<sly data-sly-test.imagealignment="${properties.imagealignment}"></sly>
	<sly data-sly-test.cardsize="${properties.cardsize}"></sly>
	<div class="${properties.cardsize}">
		<div data-sly-element="${properties.type}" data-sly-test="${properties.title}" class="card-title">${properties.title}</div>
		<div data-sly-test="${properties.subtitle}"
			class="subtitleCarddescription">${properties.subtitle @context='html'}</div>
		<div data-sly-test="${properties.description}"
			class="card-description">${properties.description
			@context='html'}</div>
		<div data-sly-test="${properties.htmlcode}" class="card-htmlcode">${properties.htmlcode
			@context='scriptComment'}</div>
		<div
			data-sly-test="${cardcomponent.cardComponentImagePath || properties.imagetitle || properties.imagesubtitle}"
			class="col-sm-12 textImagecomp">
			<div data-sly-test="${cardcomponent.cardComponentImagePath}"
				class="imgHolder col-xs-4 ${properties.imagealignment}">
				<img class="card-img" role="link"
					src="${cardcomponent.cardComponentImagePath}"
					alt="${properties.alttext}" tabindex="0" />
			</div>
			<div
				data-sly-test="${properties.imagetitle || properties.imagesubtitle}"
				class="textHolder col-xs-8">
				<div data-sly-test="${properties.imagetitle}"
					class="card-imagetitle">${properties.imagetitle}</div>
				<div data-sly-test="${properties.imagesubtitle}"
					class="card-imagesubtitle">${properties.imagesubtitle}</div>
			</div>
		</div>
		<div
			data-sly-test="${properties.primaryctatext && properties.primaryctalink}" data-sly-test.myVar="${properties.primaryctatext && properties.primaryctalink && !properties.secondaryctalink ? 'buttonContainer1' : 'buttonContainerNew1'}"
			class="buttonContainer1 ${myVar}">
			<a
				data-sly-test="${properties.primaryctatext && properties.primaryctalink}"
				class="card-primaryctatext" target="${properties.ctalinktarget}"
				href="${cardcomponent.primaryCtaLink @ context='uri'}" aria-label ="${properties.primaryctatext}" role="button">${properties.primaryctatext}
			</a>
		</div>
		
		<div
			data-sly-test="${properties.secondaryctatext && properties.secondaryctalink}"
			class="buttonContainerNew2">
			<a
				data-sly-test="${properties.secondaryctatext && properties.secondaryctalink}"
				class="card-primaryctatext" target="${properties.ctalinktarget}"
				href="${cardcomponent.secondaryCtaLink @ context='uri'}" aria-label ="${properties.secondaryctatext}" role="button">${properties.secondaryctatext}
			</a>
		</div>
	</div>
</div>
<div data-sly-test="${wcmmode.edit}">Card Component</div>
