<div data-sly-use.brandName="${'../getBrandName.js'}"></div>
<div data-sly-test="${brandName == 'supercuts' || brandName == 'smartstyle' || brandName == 'roosters'}" data-sly-unwrap>
	<div data-sly-include="supercuts_title.jsp" data-sly-unwrap></div>
</div>

<div data-sly-test="${brandName == 'signaturestyle' || brandName == 'regiscorp' || brandName =='thebso' || brandName =='costcutters' || brandName =='firstchoice'}" data-sly-unwrap>
	<div data-sly-include="regissalons_title.jsp" data-sly-unwrap></div>
</div>
