@media(min-width:1024px) {
    .player-container {
        margin: 0 auto;
        width: 100%;
    }
    .outer-wrapper {
        position: relative;
        height: 0;
        padding-bottom: 60.25%;

    }
}

@media(max-width:1024px) {
    .player-container {
        .outer-wrapper {
            .BrightcoveExperience {
                width:100%;
                height:100%;
            }
             &>div  {
                width: 100%!important;
   
                    /* height: 100%; */ 
            }
        }

    }
}
