mainbody,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li,
html,
nav-itemnav-itembody {
	font-family: "Gill Sans", "Gill Sans MT";
}

@font-face {
	font-family: "Rockwell BQ";
	src: url("../fonts/c1cc44e8f2c4db62ed54e7ad724b7d93.eot");
	/* IE9*/
	src: url("../fonts/c1cc44e8f2c4db62ed54e7ad724b7d93.eot?#iefix") format("embedded-opentype"),
	url("../fonts/c1cc44e8f2c4db62ed54e7ad724b7d93.woff2") format("woff2"),
	url("../fonts/c1cc44e8f2c4db62ed54e7ad724b7d93.woff") format("woff"),
	url("../fonts/c1cc44e8f2c4db62ed54e7ad724b7d93.ttf") format("truetype")
}

body {
	background-image: url("/content/dam/roosters/www/club/bg.jpg");
	background-size: 100%;
	background-attachment: fixed;
}
.displayNone{
	display:none !important;
}
.container {
	max-width: 1350px;
}

h1, .h1{
	font-family: "Rockwell";
	font-size: 40px !important;
	color: #ebbd4a;
}

h2, .h2{
	font-family: "Rockwell";
	font-size: 24px !important;
	color: #ebbd4a;
}

h3, .h3{
	font-family: "Rockwell";
	font-size: 18px !important;
	color: #ebbd4a;
}

h4, .h4{
	font-family: "Rockwell";
	font-size: 15px !important;
	color: #ebbd4a;
}

h5, .h5{
	font-family: "Rockwell";
	font-size: 14px !important;
	color: #ebbd4a;
}

h6, .h6{
	font-family: "Rockwell";
	font-size: 12px !important;
	color: #ebbd4a;
}

/*------------------NAVIGATION STYLES-----------*/

.navbar {
	padding: 0px;
	background-color: rgba(0, 0, 0, 0.9) !important;
}

.navbar-brand {
	width: 15%;
}

.navbar-brand img {
	width: 100%;
}

.navbar-light .navbar-nav .nav-link {
	color: rgba(255, 255, 255, 1.0) !important;
}

.navbar-dark .navbar-nav .nav-link {
	color: rgba(255, 255, 255, 1.0) !important;
}

.nav-link {
	padding: 8px !important;
	font-size: 16px;
	font-family: "Rockwell";
	font-weight: 100 !important;
}

.nav-item {
	margin-left: 1.0rem;
	line-height: 4.2rem;
}

.navbar-light .navbar-nav .nav-link {
	border-bottom: 3px solid #000000;

}

.navbar-light .navbar-nav .nav-link:hover {
	border-bottom: 3px solid #71888d;
}

.navbar-dark .navbar-nav .nav-link {
	border-bottom: 3px solid #000000;

}

.navbar-dark .navbar-nav .nav-link:hover {
	border-bottom: 3px solid #71888d;
}

.DivbelowNav {
	margin-top: 46px;
	overflow: auto;
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 20px;
}

.DivbelowNavHome {
	margin-top: 70px;
}


/*-------**********************-----------------*/


/*----------------FOOTER STYLES-----------*/

.CopyRightText {
	clear: both;
	font-size: 12px;
	color: #ffffff;
	width: 25%;
	margin-top: 40px;
	padding-bottom: 10px;
	font-family: "Gill Sans", "Gill Sans MT";
	color: rgba(255, 255, 255, 0.5);
}

.CopyRightText a {
	color: #71888D;
	font-size: 12px;
	font-family: "Gill Sans", "Gill Sans MT";
}

.footer_cont {
	padding: 0;
	margin: 0px auto;
	width: 100%;
	margin-top: 0rem;
	background-color: #000000 !important;
	overflow: auto;
}

.footer_cont>.container {
	background-color: #000000;
	overflow: auto
}

.footer_cont .ft_nav {
	text-align: left;
	padding: 20px 10px 20px 10px;
	font-size: 12px;
	color: #666;
	float: left;
	width: 50%;
}

.footer_cont .ft_nav a {
	font-family: "Rockwell";
	text-decoration: none;
	font-size: 13px;
	color: #848484;
	;
	display: inline-block;
	padding: 0 15px 0 15px;
	border-left: 1px solid rgba(255, 255, 255, 0.2);
	font-weight: 100 !important;
	;
}

.footer_cont .ft_nav a:hover {
	text-decoration: underline;
}

.footer_cont small {
	font-size: 12px !important;
	clear: both;
	float: left
}

.footer_cont small a {
	color: #71888d !important;
}

.footer_cont .ft_nav a:nth-of-type(1) {
	border: none;
	padding-left: 0px;
}

.footer_cont .botFoot {
	border-top: 1px solid #d7d9d8;
	padding: 1.2rem;
	text-align: center;
	font-size: 0.75rem;
	color: #7a7d87;
	border: none;
}

.SocialIcon {
	border-radius: 100px;
	width: 2.2rem;
	height: 2.2rem;
	border: 1px solid #6a6e79;
	color: #6a6e79;
	text-align: center;
	line-height: 2.2rem;
	font-size: 1.0rem;
	margin: 0.5rem;
	margin-top: 15px;
}

.SocialIcon:hover {
	background-color: #6a6e79;
	color: #ffffff;
}


/*-------**********************-----------------*/

p {
	clear: both;
}

.Content {
	font-family: "Gill Sans", "Gill Sans MT";
	font-size: 24px;
	color: #ffffff;
	font-weight: 100;
	padding: 0px 10px;
}
.textandimage .imgtxt-para {
    font-family: "Gill Sans", "Gill Sans MT";
    font-size: 24px;
    color: #ffffff;
    font-weight: 100;
    padding: 0px;
}
.textandimage .btn-primary{
	margin-left: 0px;
	margin-top: 10px;
}

.BigHead,
.main-title {
	font-family: "Rockwell";
	font-size: 38px;
	color: #ebbd4a;
	margin: 30px 0px;
	font-weight: 700;
}

.YellowPil,
.imgtxt-subheading.h3 {
	font-family: "Gill Sans", "Gill Sans MT";
	font-size: 20px;
	color: #333333;
	font-weight: 100 !important;
	background-color: #EBBD4A;
	padding: 3px 20px;
	width: auto;
	float: left;
	margin-bottom: 20px;
}

.Content-sm strong {
	font-weight: 600 !important;
}

b,
strong {
	font-weight: 600 !important;
}

.Content-sm,
.component-description,.text {
	font-family: "Gill Sans", "Gill Sans MT";
	font-size: 18px;
	color: #ffffff;
	font-weight: 100 !important;
}

.pl-5,
.px-5 {
	padding-left: 3rem!important;
}

.roosters-main-heading {
	font-family: "Rockwell";
	font-size: 38px;
	color: #ebbd4a;
	margin: 30px 0px;
	font-weight: 700;
}

.roosters-sub-heading-label,
.roosters-sub-head {
	font-family: "Gill Sans", "Gill Sans MT";
	font-size: 20px;
	color: #ffffff;
	font-weight: 100 !important;
	background-color: #EBBD4A;
	padding: 3px 20px;
	width: auto;
	float: left;
	margin-bottom: 20px;
}

.roosters-sub-head {
	background-color: transparent !important;
	font-weight: 600 !important;
}

.roosters-content {
	font-family: "Gill Sans", "Gill Sans MT";
	font-size: 16px;
	color: #ffffff;
	font-weight: 100 !important;
	font-weight: bold;
}

.Mainheader {
	margin-top: 4rem !important;
}

.Roostercard {
	background-color: #fafafa;
	border: none;
	text-align: center;
	display: flex;
}

.Roostercard h3.card-title {
	font-size: 1.25rem
}

.Roostercard h3.card-title a {
	font-size: 20px;
	color: #000000;
	font-family: "calluna";
	text-decoration: none;
	margin-bottom: 5px !important;
	line-height: 20px;
}

.Roostercard h3.card-title a:hover {
	color: #ce0f2e;
}

.Roostercard h4 {
	font-size: 18px;
	color: rgba(0, 0, 0, 0.4);
	margin: 0px;
}

.Roostercard .strike {
	color: rgba(0, 0, 0, 0.4);
	text-decoration: line-through;
	padding-left: 5px;
}

.Roostercard h3 {
	font-size: 0.8rem
}

.vcard .card-text .h6 {
	font-size: 14px !important;
    margin-left: 5px !important;
    color: #4E6952;
}

.Rooster

.login.active {
	background-color: #ce0f2e;
	color: #ffffff !important;
}

#hoverroosters {
	position: relative;
}

#hoverroosters a.login {
	border-radius: 0px;
	line-height: normal;
	margin-top: 1.2rem;
	background-color: #71888d;
	color: #ffffff;
	border: none;
	font-family: "Gill Sans", "Gill Sans MT";
	font-size: 18px;
	padding: 10px 20px !important;
}


/*#hover a.login:hover {
    border: 2px solid #ce0f2e;
    border-radius: 3px;
    line-height: normal;
    margin-top: 1.0rem;
    background-color: #ce0f2e;
    color: #ffffff !important;
}*/

.SearchShop {
	width: 275px;
	background-color: #ffffff;
	padding: 15px;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
	margin-top: 12px;
	right: 0px;
}

.SearchShop h5 {
	font-size: 14px;
	font-family: "rockwell";
	padding: 0px;
	line-height: 10px;
}

.SearchShop .smalltext {
	font-family: "rockwell";
	font-size: 12px;
	padding: 0px;
	line-height: 10px;
	color: rgba(0, 0, 0, 0.5);
}

.SearchShop input[type="text"] {
	font-family: "rockwell";
	width: 100%;
	padding: 7px 8px;
	border: 1px solid #E1E8EE;
	line-height: normal;
}

.redBut {
	background-color: #71888d;
	color: #ffffff;
	width: 100%;
	border-radius: 0px !important;
    border:none !important;
    margin-left:20px;
    padding: 3px 10px;
    height: 34px;
    font-family: "Gill Sans", "Gill Sans MT";
}
.btn-primary {
	background-color: #71888d;
	color: #ffffff;
	width: 95%;
	border-radius: 0px !important;
    border:none !important;
    margin-left:20px;
    padding:7px 10px;
}
.searchBut {
	background-color: #71888d;
	color: #ffffff;
	border-radius: 0px !important;
    border:none !important;
    margin-left:20px;
    padding:6px 10px;
    width: 10% !important;
    font-size: 18px;
    font-family: "Gill Sans", "Gill Sans MT";
}
.searchBut:hover,.btn-primary:hover {
    background-color: #71888d;
 }

.ThemeBut {
	background-color: #71888d;
	color: #ffffff;
	width: 100%;
	border-radius: 0px !important;
}

.card-type {
	position: absolute;
	top: 10px;
	right: 10px;
	padding: 3px 10px;
	color: #fff;
	z-index: 1;
	font-size: 0.9rem;
}

.card-type img {
	max-width: 100%;
}

.new {
	background-color: #f2ae1b;
}

.disc {
	background-color: #bf2c34;
}

.sale {
	background-color: #e74c38;
}

.dropdown-menu {
	background-color: #ffffff;
	padding: 5px;
	/*border-top: 2px solid #ce0f2e;*/
	border-radius: 0px;
}

.dropdown-menu .dropdown-item {
	font-size: 12px;
	padding: 5px;
	line-height: normal;
}


/*-----------HOME CARAOUSEL-----------*/

.HeaderBox {
	display: -webkit-flex;
	/* Safari */
	display: flex;
	-webkit-flex-grow: 1;
	/* Safari 6.1+ */
	-webkit-flex-shrink: 1;
	/* Safari 6.1+ */
	-webkit-flex-basis: 100px;
	/* Safari 6.1+ */
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 100px;
	margin-top: 70px;
}

.HeaderBox div.HeadItem {
	width: 25%;
}

.HeaderBox h3 {
	font-family: "calluna";
	color: rgba(255, 255, 255);
	font-size: 24px;
	margin: 0px;
}

.HeaderBox small {
	font-family: "Kobenhavn";
	color: rgba(255, 255, 255, 0.5);
	font-size: 1.0rem;
}

.HeaderBox h4 {
	font-family: "Kobenhavn";
	color: rgba(255, 255, 255, 1.0);
	font-size: 1.4rem;
}

.HeaderBox a {
	font-family: "Kobenhavn";
	color: rgba(255, 255, 255, 0.7) !important;
	font-size: 1.0rem;
	text-decoration: underline !important
}

.HeaderBox a:hover {
	text-decoration: none !important
}

.HeaderBox .imgBox {
	max-width: 100%;
	padding: 0px 2rem;
}

.HeaderBox .TxtBox {
	padding: 0.5rem;
}

.CoverImage {
	background-size: cover;
}

.HeadBox-Orange {
	background-color: #e1652c;
}

.HeadBox-Red {
	background-color: #bf2c34;
}

.HeadBox-Pink {
	background-color: #fe729c;
}

.HeadBox-Yellow {
	background-color: #d9960b;
}


/*-----------------END--------*/

.FootBot {
	text-align: right;
	width: 50%;
	float: left;
	text-align: right;
	border: none;
	margin-top: 15px;
}

.MainHead {
	font-family: "Rockwell";
	font-size: 38px;
	color: #ebbd4a;
	margin: 30px 0px;
	font-weight: 600;
}

.ThemeColor {
	color: #ebbd4a !important;
}

.PageHead {
	font-family: "Rockwell";
	font-size: 30px;
	color: #ebbd4a;
	margin: 30px 0px;
	font-weight: 300;
}

.SmallHead {
	font-family: "Rockwell";
	font-size: 22px;
	color: #ebbd4a;
	margin: 30px 0px;
	font-weight: 300;
}

.font-weight-normal.MainTitle.text-center.py-4 {
	font-family: "Gill Sans", "Gill Sans MT";
	font-size: 24px;
	color: #ffffff;
	font-weight: 100;
	text-align: left;
}

.font-weight-normal.MainTitle.text-center.py-4 p {
	font-family: "Gill Sans", "Gill Sans MT";
	font-size: 24px;
	color: #ffffff;
	font-weight: 100;
	text-align: left;
	line-height: 1.5;
}

.Content-sm {
	font-family: "Gill Sans", "Gill Sans MT";
	font-size: 18px;
	color: #ffffff;
	font-weight: 100 !important;
}

.Content-sm strong {
	font-weight: 600 !important
}

.MainHead .icon {
	width: 86px;
	margin-right: 20px;
}

.MainHead .icon img {
	max-width: 100px;
}

.SiteLink {
	color: #EBBD4A;
	text-decoration: none
}

.SiteLink:hover {
	color: #ffffff;
	text-decoration: underline;
}

.RedLink-big {
	color: #ce0f2e;
	text-decoration: none;
	font-size: 24px;
}

.RedLink-big:hover {
	color: #747C83;
	text-decoration: underline;
}

.ProductsListText {
	font-family: "Kobenhavn";
	font-size: 22px;
	color: #747C83;
	font-weight: 100 !important;
	line-height: 34px;
}

.low-alpha {
	list-style-type: lower-alpha;
	font-family: "Kobenhavn";
	font-size: 22px;
	color: #747C83;
	font-weight: 100 !important;
}

.low-alpha li,
.low-roman li {
	font-family: "Gill Sans", "Gill Sans MT";
	font-size: 18px;
	font-weight: inherit;
	color: white;
}

.low-roman {
	list-style-type: lower-roman;
	font-family: "Kobenhavn";
	font-size: 22px;
	color: #747C83;
	font-weight: 100 !important;
}

.disc-style {
	list-style-type: disc;
	font-family: "Gill Sans", "Gill Sans MT";
	font-size: 18px;
	font-weight: inherit;
	color: white;
}

.disc-style li {
	font-family: "Gill Sans", "Gill Sans MT";
	font-size: 18px;
	font-weight: inherit;
	color: white;
}

.clear {
	clear: both !important;
}

.RoosterForm {
	font-family: "Rockwell"
}

.RoosterForm label {
	font-size: 18px;
	color: #ffffff;
	font-weight: 200;
}

/*label {
	font-size: 18px;
	color: #ffffff;
	font-weight: 200;
	display: inline-block;
	margin-bottom: 0.5rem
}

select {
	border: 2px solid #e1e8ee !important;
	border-radius: 0px !important;
	font-family: "Rockwell" !important;
	font-size: 18px !important;
	color: #5E6977 !important;
	background-color: #D1D1D1 !important;
}*/

.Rooster-Form-But {
	background-color: #71888d;
	color: #ffffff;
	width: 100%;
	border-radius: 0px !important;
	padding: 10px;
	font-family: "Rockwell";
	font-size: 24px;
	font-weight: 200 !important;
}

.RoosterForm input[type="text"],
.RoosterForm input[type="email"],
.RoosterForm input[type="tel"],
.RoosterForm textarea,
.RoosterForm input[type="file"] {
	border: 2px solid #e1e8ee;
	border-radius: 0px;
	font-family: "Rockwell";
	font-size: 16px;
	color: #5E6977
}

.RoosterForm select {
	border: 2px solid #e1e8ee;
	border-radius: 0px;
	font-family: "Rockwell";
	font-size: 18px;
	color: #5E6977;
	background-color: #D1D1D1;
}

.RoosterForm-But {
	background-color: #71888d;
	color: #ffffff;
	width: 100%;
	border-radius: 0px !important;
	padding: 10px;
	font-family: "Rockwell";
	font-size: 24px;
	font-weight: 200 !important;
}

.TipsBut {
	border: 2px solid #ce0f2e;
	color: #ce0f2e;
	width: 100%;
	border-radius: 0px !important;
	padding: 6px 10px;
	font-family: "Kobenhavn";
	font-size: 24px;
}

.TipsBut:hover {
	border: 2px solid #ce0f2e;
	background-color: #ce0f2e;
	color: #ffffff;
	width: 100%;
	border-radius: 0px !important;
	padding: 6px 10px;
	font-family: "Rockwell";
	font-size: 24px;
}

.hidDiv {
	display: none;
}

.checkbox-inline {
	min-width: 25% !important;
	position: relative;
	padding-left: 30px;
}

.checkbox-inline input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
	margin-right: 30px;
}

.checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 25px;
	width: 25px;
	background-color: #eff3f6;
	border: 2px solid #e1e8ee
}


/* On mouse-over, add a grey background color */

.checkbox-inline:hover input~.checkmark {
	background-color: #e1e8ee;
}

.checkbox-inline input:checked~.checkmark {
	background-color: #71888d;
	border: 2px solid #71888d;
}

.checkmark:after {
	content: "";
	position: absolute;
	display: none;
	font-family: "Kobenhavn";
}

.checkbox-inline input:checked~.checkmark:after {
	display: block;
}

.checkbox-inline .checkmark:after {
	left: 9px;
	top: 3px;
	width: 5px;
	height: 15px;
	border: solid white;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.ContactBg {
	background-image: url("../images/contactus.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: bottom right;
	background-size: 40%;
}

.RedText {
	color: #f9ff00;
}

.Find-outlet {
	background-color: #000000;
	background-image: url("../images/map.jpg");
}

.HeaderImageBox {
	margin-top: 70px;
	width: 100%;
	overflow: auto;
}

.HeaderImageBox .HeadColumn {
	width: 25%;
	float: left;
	clear: none;
	overflow: auto;
}

.ThreeTips {
	border-top: 1px solid #f1f1f1;
	margin-top: 10px;
}


/*----------Carausel----------------*/

.carousel {
	position: relative !important;
}

.item.active {
	display: block !important;
}

.item {
	display: none !important;
}

.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
	display: block;
}

.carousel-item {
	position: relative;
	display: none;
	float: left;
	width: 100%;
	margin-right: -100%;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	transition: -webkit-transform .6s ease-in-out;
	transition: transform .6s ease-in-out;
	transition: transform .6s ease-in-out, -webkit-transform .6s ease-in-out;
}

.carousel-inner {
	height: 520px;
}

.carousel-inner .carousel-caption {
	position: absolute !important;
	top: 35%;
	bottom: auto;
}

.carousel-inner h5 {
	color: #EBBD4A !important;
	font-size: 60px !important;
	font-family: "Rockwell";
	background-color: rgba(0, 0, 0, 0.5);
	padding: 10px 30px;
	font-weight: 900;
	width: auto;
	display: inline-block;
}

.DarkPanel {
	background-color: rgba(0, 0, 0, 0.9);
	padding: 20px 50px 50px 50px;
	overflow: auto
}

.YellowPil {
	font-family: "Gill Sans", "Gill Sans MT";
	font-size: 20px;
	color: #ffffff;
	font-weight: 100 !important;
	background-color: #EBBD4A;
	padding: 3px 20px;
	width: auto;
	float: left;
	margin-bottom: 20px;
}

.card-body h4 {
	font-size: 20px;
	font-family: "Rockwell";
	color: #1A174A;
}

.card-text {
	font-family: "Gill Sans", "Gill Sans MT";
	font-size: 16px;
	color: #444B5C;
}

.zeroRadius {
	border-radius: 0px !important;
}

.card a {
	font-family: "Gill Sans", "Gill Sans MT";
	font-size: 16px;
	color: #1F4B61;
}

.LocationHeader {
	top: 50%;
	left: 5%;
}

.LocationHeader h1 {
	font-size: 2.5rem;
}

.MobileMar {
	margin-top: 0px;
}

.showhide {
	display: block;
}

.roosters-img,
.textandimage img {
	max-width: 100% !important;
}

/*.img-container {
	max-width: 100% !important;
	margin: 20px 0px !important;
	padding: 0px !important;
}*/

.pull-right {
	float: right !important;
}

.pull-left {
	float: left !important;
}
.imgtxt-box {

     padding-left: 0px !important;
}

.textandvideonew .h2{
	font-family: "Rockwell";
    font-size: 38px !important;
    color: #ebbd4a;
    margin: 30px 0px;
    font-weight: 600;
}

.title-component.borderTop {
    border-top: 1px solid #c8c8c8;
    margin-bottom: 10px;
}

.title-component.border {
    border: 1px solid #c8c8c8;
    border-width: 1px 0;
    margin-bottom: 10px;
}

.title-component.borderBottom {
    border-bottom: 1px solid #c8c8c8;
    margin-bottom: 10px;
}

.pull-right {
  float: right !important;
}

.pull-left {
  float: left !important;
}

.imgtxt-box, .textandimage{
        overflow:auto;
}

.textwithoutpadding.section {
    padding: 0;
}

.textwithoutpadding.section p {
    margin: 0;
}
.img-container {
    padding: 0px !important;
}


.vcard { min-height:20rem; }

.maps-container {
    height: 500px;
    width: 100%;
    margin: 220px 20px;
    margin-bottom: 10px;
}


.locSearchNoSalonsFound p {
    color: #ce0f2e;
    text-decoration: none;
}

.bsoasl {
    width: 90% !important;
}

.show-more-container .check-in .icon-tick {
    width: 48px;
    height: 46px;
    background-color: #fff;
    display: inline-block;
    position: absolute;
    bottom: -6px;
    right: -15px;
    z-index: 1180;
    border-radius: 50%;
    border: 1px solid #5f6167 !important;
    box-shadow: 0px 0px 3px #888888;
    font-size: 31px;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    color: #71888d;
}
.show-more-container .map-directions .check-in:hover .icon-tick {
    color: #fff;
    background-color: #71888d;
    -webkit-box-shadow: 3px 3px 4px rgba(30, 62, 110, 0.5);
    -moz-box-shadow: 3px 3px 4px rgba(30, 62, 110, 0.5);
    box-shadow: 3px 3px 4px rgba(30, 62, 110, 0.5);
}

.show-more-container .check-in .icon-tick:hover {
    color: #fff;
    background-color: #71888d !important;
    -webkit-box-shadow: 3px 3px 4px rgba(30, 62, 110, 0.5);
    -moz-box-shadow: 3px 3px 4px rgba(30, 62, 110, 0.5);
    box-shadow: 3px 3px 4px rgba(30, 62, 110, 0.5);
}
.show-more-container .check-in.selected {
    cursor: default;
    position: relative;
}


.jobsformspacer {
    margin-top: 2rem;
}

.show-more-container .location-search-title .search-nav {
    margin-top: 12px;
    padding-left: 10px;
    padding-right: 10px;
    float:left;
}

.imgtxt-box{
	padding-left: 0px !important;
}
.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg%20viewBox='0%200%2030%2030'%20xmlns='http://www.w3.org/2000/svg'%3e%3cpath%20stroke='rgba(0,%200,%200,%200.5)'%20stroke-width='2'%20stroke-linecap='round'%20stroke-miterlimit='10'%20d='M4%207h22M4%2015h22M4%2023h22'/%3e%3c/svg%3e") !important;
}
.show-more-container .map-directions .check-in {
    border: 1px solid rgba(0,0,0,0.125) !important;
    padding: 15px 0 30px 0;
    background: #fff;
    float: left;
    margin: 0 14px 30px 5px;
    box-shadow: none !important;
    overflow: visible;
    position: relative;
    width: 30% !important;
    height: 230px;
}

.location-search .search-right-column .result-container{max-height:auto !important; overflow:hidden !important;}

.location-search {
    width:100%;
    display: block;
    border: none !important;
}
.icon-tick{z-index:0 !important;}

.added-salons-container{background: transparent !important;}
.show-more-container .map-directions .check-in{border: 1px solid rgba(0,0,0,0.125) !important;  padding:20px;}
.imgtxt-para a {
    color: #EBBD4A;
    text-decoration: none;
    font-weight: 700!important;
    font-family: "Rockwell";
}

.imgtxt-para a:hover {
    color: #ffffff;
    text-decoration: underline;
}

.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}
.search-inp{
    background-image: url("/etc/designs/regis/roosters/images/location-pin.png");
    background-repeat: no-repeat;
    background-position: left center;
    border: 2px solid #e1e8ee;
    border-radius: 0px;
    font-family: "Rockwell";
    font-size: 16px;
    color: #5E6977;
    padding-left:35px;
}

.result-container{
	margin-top: 25px;
}
.store-title{
	font-size: 1.5rem !important;
	color: #4E6952;
}
.heroImageCarousel{
	margin-bottom: 5rem;
}
.locations.map-directions>div{
	color: white;
}
.street-address{
	color: #1f4b61;
}
.salon-timings, .salon-timings span h4, .salon-timings h1, .salon-timings h2, .salon-timings .h4, .Monday-Friday, .salon-address{
    color:#ffffff !important;
    font-family: "Gill Sans", "Gill Sans MT" !important;
    font-size: 24px !important;
    padding: 0px !important;
}
hr{
	margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.3)

}
.sdplcHR{
	width:204%;
}
.navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg%20viewBox='0%200%2030%2030'%20xmlns='http://www.w3.org/2000/svg'%3e%3cpath%20stroke='rgba(255,%20255,%20255,%200.5)'%20stroke-width='2'%20stroke-linecap='round'%20stroke-miterlimit='10'%20d='M4%207h22M4%2015h22M4%2023h22'/%3e%3c/svg%3e") !important;
}

.img-text-comp .txtalign-center{
  text-align: center;
}

.img-text-comp .txtalign-left{
  text-align: left;
  padding-left: 0;
}
.img-text-comp .txtalign-center{
  text-align: center;
}
.acs-commons-resp-colctrl-col:first-child{padding-right:0px; display:block; }
.acs-commons-resp-colctrl-col:only-child{padding-right:0px; display:block; }
.map-directions .store-address{
	color: #000000;
}
.map-directions a{
	color: #4E6952;
}
.mobilecarousel{
	display:none;
}
.desktopcarousel{
	display:block;
}
.salondetails .h3 a,
.salondetails .desc li,
.salondetails .action-buttons a {
	font-family: "Gill Sans", "Gill Sans MT" !important;
	font-size: 24px !important;
	padding: 0px !important;
	line-height: 30px;
}

.salondetails .h3 a:hover,
.salondetails .h3:hover {
	color: white !important;
}

.salondetails .desc li {
	color: #ffffff !important;
}

.each-state {
	padding: 0px;
}

.state-name {
	max-width: 100%;
	/*margin-top: 25px;*/
	text-transform: uppercase;
	padding-left: 0px !important;
}

.return-to-top {
	color: #fff;
}

.salon-group {
	padding: 10px;
	max-width: 100%;
}

.salon-group a {
	font-size: 14px;
	line-height: 25px;
    color: white;
}

.breadcrumb {
	background-color: transparent;
}

.breadcrumb-arrowicon, .salon-list-head{
	color: #fff;
}

.jump-links-wrap h1,.jump-links-wrap h2, .jump-links{
	text-transform: capitalize;
}

.state-name a{
	color: #ffffff !important
}

.listsalonsonpage .h4{
    white-space: nowrap;
}

.jump-link-alpha a{
	color: white;
}

.jump-links-wrap .h4{
	font-size: 18px !important;
	 padding:0px;
}

.jump-links-wrap{padding:0px;}

.each-state{ overflow:auto;}

.state-city-alphaSet{
	padding-right: 20px;
}

.jump-links{
	margin-top: 30px;
    padding-left: 0px !important;

}

#stateUrlForCity {
	text-transform: capitalize;
}
.salon-list-head{
	padding-left:0px !important;
}
/*-------------End-----------------*/

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    body {
    	background-image: url("/content/dam/roosters/www/club/bg.jpg");
    	background-size: cover;
    	background-attachment: fixed;
    }
	.showhide {
		display: block;
	}
	.navbar-brand img {
		width: 60%;
	}
	#hover a.login {
		margin-top: 0px;
	}
	.SearchShop {
		width: 100%;
		background-color: transparent;
		padding: 0px;
		box-shadow: none;
		margin-top: 0px;
		right: 0px;
		margin-bottom: 20px;
	}
	.SearchShop h5 {
		font-size: 14px;
		font-family: "rockwell";
		padding: 0px;
		line-height: 10px;
		color: #ffffff;
	}
	.MobileMar {
		margin-top: 180px;
	}
	.carousel-inner {
		height: auto !important;
	}
	.LocationHeader {
		top: 20%;
		left: 0%;
	}
	.LocationHeader h1 {
		font-size: 2.0rem;
	}
	.carousel-indicators {
		margin-bottom: 0rem !important;
	}
	.carousel-inner .carousel-caption {
		position: absolute !important;
		top: 5% !important;
		bottom: auto;
	}
	.carousel-inner h5 {
		font-size: 20px;
		color: #EBBD4A;
		font-size: 60px;
		font-family: "Rockwell";
		background-color: rgba(0, 0, 0, 0.8);
		padding: 10px 30px;
		font-weight: 900;
		width: auto;
		display: inline-block;
	}
	.HeaderBox div.HeadItem {
		width: 50% !important;
	}
	.footer_cont .ft_nav {
		width: 70% !important;
	}
	.FootBot {
		text-align: right;
		border-bottom: 1px solid rgba(255, 255, 255, 0.3);
		width: 100%;
		margin-bottom: 10px;
		padding: 10px 0px;
		width: 30%;
	}
	.CopyRightText {
		clear: both;
		font-size: 18px;
		color: #ffffff;
		width: 100%;
		margin-top: 40px;
		padding-bottom: 10px;
		font-family: "Gill Sans", "Gill Sans MT";
		color: rgba(255, 255, 255, 0.5);
	}
	.CopyRightText a {
		font-size: 18px;
	}
	.navbar {
		padding: 10px;
	}
	.navbar-brand {
		width: 30%;
	}
	.checkbox-inline {
		min-width: 50% !important;
	}
	.navbar-light .navbar-nav .nav-link {
		font-size: 18px;
		border: none;
		text-align: center;
		line-height: 25px;
	}
	.navbar-dark .navbar-nav .nav-link {
		font-size: 14px;
		border: none;
		text-align: center;
		line-height: 25px;
	}
	.searchBut{
        width: 25% !important;
        font-size: 0.9rem;
    }
    .show-more-container .map-directions .check-in {
        width: 90% !important;
        height: 230px !important;
    }
    .navbar-expand-lg>.container, .navbar-expand-lg>.container-fluid {
        padding-right: 15px;
        padding-left: 15px;
    }
    body {
        background-image: url("/content/dam/roosters/www/club/bg-mobile.jpg");
        background-size: 100% 100%;
        background-attachment:scroll;
    }
	.mobilecarousel{
		display:none;
	}
	.desktopcarousel{
		display:block;
	}
	.sdplcHR{
    	width:100%;
    }
}
@media screen and (max-width: 767px){

    .navbar-expand-lg>.container, .navbar-expand-lg>.container-fluid {
         padding-right: 30px;
         padding-left: 30px;
    }
    .carousel-inner {
        height: 270px;
    }
    body {
        background-image: url("/content/dam/roosters/www/club/bg-mobile.jpg");
        background-size: 100% 100%;
        background-attachment:scroll;
    }
    .desktopcarousel{
		display:none;
	}
	.mobilecarousel{
		display:block;
	}
	.sdplcHR{
        width:100%;
    }

}
/*Mobile Landscape*/
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 825px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
	.heroImageCarousel{
    	margin-bottom: 0px;
    }
    .navbar-dark .navbar-nav .nav-link {
        font-size: 18px;
        border: 0;
        text-align: center;
        line-height: 25px;

    }
    .dropdown-menu .dropdown-item, .navbar-dark .navbar-nav .nav-link {
        border: none !important;
    }
    #hoverroosters a.login{
    	margin-bottom: 30px;
    }
    .show-more-container .map-directions .check-in{
    		width: 45% !important;
        	height: 260px;
        }
    .store-title {
        font-size: 1.2rem !important;
    }
    .searchBut {
    	width: 15% !important;
    }
    .acs-commons-resp-colctrl-col:first-child{padding-right:0px; display:block; }
    .acs-commons-resp-colctrl-col:only-child{padding-right:0px; display:block; }
    .CopyRightText, .CopyRightText div, .footer_cont .ft_nav, .FootBot{
        width: auto;
    }
    .FootBot {
        text-align: center;
        float:none;
        clear:both;
        margin-top:0px;

    	}
    .footer_cont .ft_nav{
    	float:none;
        text-align:center;
    }
    .footer_cont .ft_nav a{
    	padding: 0 8px 0 8px;
    }
    .CopyRightText{
            margin-top:5px;
    }
	.desktopcarousel{
		display:none;
	}
	.mobilecarousel{
		display:block;
	}
	.sdplcHR{
        width:100%;
    }
}
@media (min-width: 320px) and (max-width: 480px) {
    body {
    	background-image: url("/content/dam/roosters/www/club/bg-mobile.jpg");
        background-size: 100% 100%;
        background-attachment:scroll;
    }
	.showhide {
		display: none;
	}
	.SearchShop {
		width: 100%;
		background-color: transparent;
		padding: 0px;
		box-shadow: none;
		margin-top: 0px;
		right: 0px;
		margin-bottom: 20px;
	}
	.SearchShop h5 {
		font-size: 14px;
		font-family: "rockwell";
		padding: 0px;
		line-height: 10px;
		color: #ffffff;
	}
	.MobileMar {
		margin-top: 40px;
	}
	.carousel-inner {
		height: auto !important;
	}
	.LocationHeader {
		top: 20%;
		left: 0%;
	}
	.LocationHeader h1 {
		font-size: 2.0rem;
	}
	.carousel-indicators {
		margin-bottom: 0rem !important;
	}
	.carousel-inner .carousel-caption {
		position: absolute !important;
		top: 5% !important;
		bottom: auto;
	}
	.carousel-inner h5 {
		font-size: 20px;
		color: #EBBD4A;
		font-size: 60px;
		font-family: "Rockwell";
		background-color: rgba(0, 0, 0, 0.8);
		padding: 10px 30px;
		font-weight: 900;
		width: auto;
		display: inline-block;
	}
	.HeaderBox div.HeadItem {
		width: 50% !important;
	}
	.footer_cont .ft_nav {
		width: 100%;
	}
	.footer_cont .ft_nav a {
		font-family: "Rockwell";
		text-decoration: none;
		font-size: 22px;
		color: #696E79;
		display: flex;
		padding: 5px 0px;
		border-left: none;
		font-weight: 100;
	}
	.FootBot {
		text-align: left;
		border-top: 1px solid rgba(255, 255, 255, 0.3);
		border-bottom: 1px solid rgba(255, 255, 255, 0.3);
		width: 100%;
		margin-bottom: 10px;
		padding: 10px 0px;
	}
	.CopyRightText {
		clear: both;
		font-size: 18px;
		color: #ffffff;
		width: 100%;
		margin-top: 40px;
		padding-bottom: 10px;
		font-family: "Gill Sans", "Gill Sans MT";
		color: rgba(255, 255, 255, 0.5);
	}
	.CopyRightText a {
		font-size: 18px;
	}
	.navbar {
		padding: 10px;
	}
	.navbar-brand {
		width: 30%;
	}
	.checkbox-inline {
		min-width: 50% !important;
	}
	.navbar-light .navbar-nav .nav-link {
		font-size: 18px;
		border: none;
		text-align: center;
		line-height: 25px;
	}
	.navbar-dark .navbar-nav .nav-link {
		font-size: 18px;
		border: none;
		text-align: center;
		line-height: 25px;
	}
	.searchBut,.redBut{
    	width: 100% !important;
        font-size: 0.9rem;
        margin-left: 0px !important;
        margin-top: 10px;
    }
    .show-more-container .map-directions .check-in {
        width: 90% !important;
        height: 280px !important;
    }
    .navbar-expand-lg>.container, .navbar-expand-lg>.container-fluid {
      padding-right: 15px;
      padding-left: 15px;
    }
    .store-title{
        font-size: 1.2rem !important;
    }
    .acs-commons-resp-colctrl-col:first-child{padding-right:0px; display:block; }
    .acs-commons-resp-colctrl-col:only-child{padding-right:0px; display:block; }
    .redButSpan {
        width: 100%;
    }
	.desktopcarousel{
		display:none;
	}
	.mobilecarousel{
		display:block;
	}
	.sdplcHR{
        width:100%;
    }
}


/*-------------------HeaderBox-------------------*/