/*rte styles*/

.component-primary-heading{
font-size: 40px;
font-family: "calluna";
color: #323A45;
margin: 30px 0px;
}
.gray{
max-width: 100%;
height: auto;
}
.component-sub-heading{
font-family: "Kobenhavn";
font-size: 24px;
color: #343a40!important;
}
.component-description{
font-size: 16px;
font-family: "open-sans", Helvetica, Arial, sans-serif;
color: #707070;
}
.style-advice-style{
  font-family: "open-sans", Helvetica, Arial, sans-serif;
font-weight: normal;
font-style: italic;
line-height: 1.2;
color: #5f6167;
font-size: 24px;
padding: 30px 30px 0;
display: block;
  }

.content{
font-family: "Kobenhavn";
font-size: 24px;
color: #747C83;
font-weight: 100 !important;
 }


/* rte styles end*/