/*CSS specific to Styles and Advice component*/
.styles-advice .style-box {
  margin-right: 3%;
}
.styles-advice .style-box .style-box-content {
  border: 1px solid #c8c8c8;
  margin-bottom: 20px;
}
.styles-advice .style-box .style-box-content img {
  width: 100%;
}
.styles-advice .style-box .style-box-content .img-desc {
  padding: 0.25em;
  color: #ffffff;
  font-family: "futura-pt-condensed", Helvetica, Arial, sans-serif;
  background: #003f72;
  text-align: center;
  font-weight: bold;
  font-size: 26px;
  margin-top: -50px;
  opacity: 0.6;
}
.styles-advice .style-box .style-box-content .style-desc {
  overflow: hidden;
  margin: 10px 2%;
}
.styles-advice .style-box .style-box-content .style-desc img {
  width: 25%;
  margin-left: 2%;
  float: left;
}
.styles-advice .style-box .style-box-content .style-desc .style-text {
  float: left;
  width: 70%;
  margin-left: 3%;
}
.styles-advice .style-box .style-box-content .style-desc .style-text .style-desc-heading {
  text-align: left;
  color: #888;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 4px;
}
.styles-advice .style-box .style-box-content .style-desc .style-text .style-desc-heading p{
  font-size: 16px;
  color: #1e3e6e;
  text-decoration: none;

}
.styles-advice .style-box .style-box-content .style-desc .style-text .style-desc-heading p:hover{

  text-decoration: underline;
}
.styles-advice .style-box .style-box-content .style-desc .style-text p {
  color: #43aae0;
  font-size: 14px;
}
.styles-advice .style-box a.cta-more-styles {
  display: block;
  text-align: center;
  text-decoration: none;
  color: #003f72;
  font-size: 1.5em;
  font-weight: bold;
  font-family: "futura-pt-condensed", Helvetica, Arial, sans-serif;
}
/*Media Query for mobile version of Styles and Advice component*/
@media screen and (max-width: 767px) {
  .styles-advice .style-box {
  float: none;
  width: 100%;
  text-align: center;
  margin-bottom: 25px;
}
.styles-advice .style-box .style-text p {
  text-align: left;
}

}
/*CSS specific to Styles and Advice component ends*/
