.show-more-container {

    .errorMessage{
        font-size:1.3em;
        color:#00008A;
        font-family:"futura-pt-condensed";
        text-align:center;
        margin-top:10px;
    }

    .salon-type-condition-container {
        width: 66.33%;
        margin-top: -10px;
        margin-bottom: -20px;
        padding: 20px 0px;
        background: #DEE3E9;
        @media (min-width: 992px){
            min-height: 250px;
            padding: 30px 0px;
            margin-bottom: -4px;
        }


        .corporate-salon-conditions-container, .franchise-salon-conditions-container {
            //margin-top: -20px;
            margin-right: -10px;
            margin-bottom: -5px;
            @media(max-width:768px){
                margin-right:0;
            }
            .salontype-checkbox-title,.salontype-checkbox-description{
                     width:100%;
                     display:inline-block;
                     padding-left:10px;
                 }
                 .salontype-checkbox-description{
                     font-weight:normal;
                 }
            input[type=checkbox]{
                &.css-checkbox{
                    position:absolute;
                    z-index:-1000;
                    left:-1000px;
                    overflow: hidden;
                    clip: rect(0 0 0 0);
                    height:1px;
                    width:1px;
                    margin:-1px;
                    padding:0;
                    border:0;

                    +label{
                        &.css-label{
                            padding-left: 26px;
                            vertical-align:top;
                            height: 26px;
                            border: 1px solid #ccc;
                            display: inline-block;
                            line-height: 32px;
                            background-repeat: no-repeat;
                            background-position: 0 0;
                            font-size: 16px;
                            width:auto;
                            cursor: pointer;
                            background-size: 100%;
                        }
                    }
                    &:checked{
                        +label{
                            &.css-label{
                                background: url('../../resources/images/checkbox.png')  #B3C0F7;
                                background-size:100%;
                            }
                        }
                    }
                }
            }
            label{
                 width:90%;
                &.css-label{
                    background-image: url('../../resources/images/checkbox-unchecked.png');
                    -webkit-touch-callout: none;
                    -webkit-user-select: none;
                    -khtml-user-select: none;
                    -moz-user-select: none;
                    -ms-user-select: none;
                    user-select: none;
                }
            }
        }
    }

    .map-directions {
        border: none;
        min-height: 0;

        .check-in {
            border: 1px solid #5f6167 !important;
            padding: 15px 0 30px 0;
            background: #fff;
            float: left;
            width: 30%;
            margin: 0 14px 30px 5px;
            box-shadow: 2px 2px 3px #888888;
            overflow:visible;
            position:relative;
            min-height:232px;
            .location-details {
                width: 100% !important;
                max-width: 100%;

                .vcard {
                    padding:0 10px;
                    width:100%;
                    span.store-title {
                        //border-bottom: 1px solid #5f6167;
                        //margin-bottom: 20px;
                        //padding-bottom: 20px;
                        padding-bottom: 10px;
                        font-size: 18px;
                        line-height: 20px;
                    }
					h3.store-title {
                        //border-bottom: 1px solid #5f6167;
                        //margin-bottom: 20px;
                        //padding-bottom: 20px;
                        padding-bottom: 10px;
                        font-size: 18px;
                        line-height: 20px;
                    }
                    .miles {
                        float: left;
                        width:100%;
                        .distance {
                            float: none;
                            text-align: left;
                            color: #5f6167;
                            font-size: 14px;
                            background:none;
                            padding-left:0;
                        }
                    }

                    span.close-btn {
                        display: none;
                    }
                    .openingsoonTxt{
                        font-weight:bold;
                        text-align:center;
                    }
                }
            }
            &:hover{
                -webkit-box-shadow: 3px 3px 4px rgba(30, 62, 110, 0.5);
                -moz-box-shadow: 3px 3px 4px rgba(30, 62, 110, 0.5);
                box-shadow: 3px 3px 4px rgba(30, 62, 110, 0.5);
                .icon-tick{
                    color:#fff;
                    background-color:#1e3e6e;
                    -webkit-box-shadow: 3px 3px 4px rgba(30, 62, 110, 0.5);
                    -moz-box-shadow: 3px 3px 4px rgba(30, 62, 110, 0.5);
                    box-shadow: 3px 3px 4px rgba(30, 62, 110, 0.5);
                }
            }
        }

        .check-in.displayNone {
            display: none !important;
        }
    }
    .gm-style-iw{
        margin:0 -24px;
        overflow:hidden;
        &>div{
            width: 261px!important;
        }
    }

    .map-window {
        .check-in {
            border: none !important;
            width: 100%;

            .action-buttons {
                margin-top: 10px;
                margin-left: 20px;
            }

            .location-details {
                .vcard {
                    .miles {
                        margin-top: 0;
                    }
                }
            }
        }
    }

    .check-in {
        .back {
            display: none;
            position: relative;
            width: 100%;
            height: 198px;
            float: left;
            margin: -15px 0 -30px 0;

            .btn {
                width: 100%;
                height: 100%;
                font-weight: bold;
                font-size: 32px;
                border: none;
                border-radius: 0;
                -webkit-border-radius: 0;
                -moz-border-radius: 0;

                span {
                    position: relative;
                    top: 33%;
                }
            }
        }

        .icon-tick {
            width: 48px;
            height: 46px;
            background-color: #fff;
            display: inline-block;
            position: absolute;
            bottom: -6px;
            right: -15px;
            z-index: 1180;
            border-radius: 50%;
            border: 1px solid #5f6167 !important;
            box-shadow: 0px 0px 3px #888888;
            font-size: 31px;
            text-align: center;
            font-weight: bold;
            text-decoration: none;
            color:#0e1c32;
            &:hover{
                color:#fff;
                background-color:#1e3e6e;
                -webkit-box-shadow: 3px 3px 4px rgba(30, 62, 110, 0.5);
                -moz-box-shadow: 3px 3px 4px rgba(30, 62, 110, 0.5);
                box-shadow: 3px 3px 4px rgba(30, 62, 110, 0.5);
            }
        }
    }

    .check-in.selected {
        cursor: default;
        position:relative;
        .icon-tick {
            color: #fff;
            background-color: #1e3e6e;
            -webkit-box-shadow: 3px 3px 4px rgba(30, 62, 110, 0.5);
            -moz-box-shadow: 3px 3px 4px rgba(30, 62, 110, 0.5);
            box-shadow: 3px 3px 4px rgba(30, 62, 110, 0.5);
        }
    }

    .search-right-column {
        padding:0 15px;
        .location-search-results {
            height: auto;
            padding-top: 10px;
            overflow:hidden;
            .check-in {
                .col-xs-12 {
                    padding: 0 10px !important;
                }
            }
        }

        .show-less-search-results {
            display: none;
        }
    }

    .location-search-title {
        input#salonSearchAutocomplete {
            padding: 3px 12px;
            height: 34px;
            @media(min-width:992px){
                width: 200px;}
        }
        border-left: none;
        border-right: none;

        .navbar-toggle.collapse.in {
            display: block !important;
        }

        .navbar-toggle.collapse {
            display: none !important;
        }

        .btn {
            border-left: 1px solid #5f6167;
            background: none !important;
            color: #173E70;
            padding: 0 10px;
            margin: 0;
            min-height: 70px;
            -webkit-border-radius: 0;
            border-radius: 0;
            width: auto;
            display:block!important;

                span {
                    vertical-align: middle;
                    display: inline-table;
                    margin-top: -8px;
                    font-style: italic;
                    margin-right: 5px;
                    text-transform: none !important;
                }


            [class^=icon-] {
                font-size: 1.2em;
            }
        }

        h3 {
            padding-left: 10px;
        }
        h4 {
            padding-left: 10px;
            padding-top: 10px;
            text-transform: none;
        }
         .search-title{
             padding-top: 20px;
             font-weight:bold;
         }

        .search-nav {
            margin-top: 14px;
            float: right;

            .input-group {
                max-width: 330px;

                .btn {
                    background: #003f72 !important;
                    min-height: 34px;
                }
                .btn-primary{
                    background:#003f72!important;
                    min-height:34px;
                    color:#fff;
                }
                .location-search-btn{
                   color: #fff;
                }
                span.input-group-btn {
                  width: 0% !important;
                }
            }
        }

        div[class^=col]:last-child {
            overflow: hidden;
            height: 64px;
            float: right;
    		padding-right: 10px;
        }

        div[class^=col] {
            padding: 0;
        }
    }

    .maps-collapsible-container {
        padding: 0 10px;
    }

    .panel-body {
        padding: 0 10px;
    }


        .panel-heading {
            .panel-title {

                font-weight: bold !important;
                font-size: 18px;
                font-style:normal;
                text-transform:uppercase;
                .collapse.in{
                    display:inline-block!important;
                }
                .title-text-hide.collapsing{
                    display:none;
                }
            }
             a {
                 .accordion-trigger
                {
                    top:-5px;
                }
                 .accordion-trigger.active
                {
                    top:-5px;
                }
             }
             a
              {
                 &:hover{
                 .accordion-trigger{
                    top:-5px;
                    }
                 }
             }

        }
    .location-search{
        .collapse.in {
            display: block !important;
            #map-canvas{
                .icon-tick{
                    display:none;
                }
            }
        }
    }
}

.show-more-container .check-in .icon-tick:before, .show-more-container .check-in .icon-close:before {
    content: '';
}

.added-salons-container {
    background: #F2F2F2;
    display: inline-block;
    width: 100%;
    min-height: 0;

    & > h3 {
        padding-left: 20px;
        margin-bottom: 0;
    }

    .show-more-container {
        .locations {
            width: 100%;
            overflow: inherit;
            padding-top: 20px;
            padding-bottom: 20px;
            display: inline-block;
        }

        .check-in {
            .icon-tick {
                display: none !important;
            }
        }

        .map-directions {
            .check-in {
                .location-details {
                    .vcard {
                        span.location-index {
                            display: none;
                        }

                        span.close-btn {
                            width: 48px;
                            height: 46px;
                            background-color: #fff;
                            display: inline-block;
                            position: absolute;
                            bottom: -10px;
                            right: -12px;
                            z-index: 1180;
                            border-radius: 50%;
                            border: 1px solid #5f6167 !important;
                            box-shadow: 0px 0px 3px #888888;
                            font-size: 31px;
                            text-align: center;
                            font-weight: bold;
                            text-decoration: none;
                            color:#0e1c32;
                            margin:0;
                            padding:0;
                            &:hover{
                                background-color:#0e1c32;
                                color:#fff;
                            }
                        }
                    }
                }
            }
        }
    }

    .map-directions {
        .check-in {
            .location-details {
                .vcard {
                    span.telephone {
                        margin: 0;
                    }
                }
            }
        }
    }
}

.thankyou-page {
    .added-salons-container {
        background: none;

        .show-more-container {
            .map-directions {
                .check-in {
                    &:nth-child(2n+1),&:nth-child(3n+1){
                       clear:none;
                    }
                    position:relative;

                    .btn-primary{
                        position: absolute;
                        bottom: -60px;
                        left: 0;
                    }
                    .location-details {
                        .vcard {
                            .close-btn {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }
    .btn{
        margin-left: 10px;
    }
}

.show-more-container:before {
    clear: both;
}

.added-salons-container:after {
    clear: both;
}

.show-more-container.accordion {
    .panel {
        & > .panel-heading {
            height: 50px;
            overflow: hidden;
            text-align: center;
        }
    }
}

.show-more-container .search-right-column .show-container{
    text-align:center;
}

.show-more-container .search-right-column .show-more-search-results, .show-more-container .search-right-column .show-less-search-results {
    text-align: center;
    margin-top: -23px;
    color: #284B7A;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    background: url(../../resources/images/select-arrow@2x.png) right center no-repeat, url(../../resources/images/select-arrow@2x.png) left center no-repeat;
    padding:0 24px;
    background-size:10%;
}

.show-more-container .search-right-column .show-less-search-results{
    background: url(../../resources/images/select-arrow@2x-UP.png) right center no-repeat, url(../../resources/images/select-arrow@2x-UP.png) left center no-repeat;
    background-size:10%;
}

@media (min-width: 992px) {
    .show-more-container {
        .location-search{
        .collapse {
            display: none !important;
        }

        .collapse.in {
            display: block !important;
            #map-canvas{
                .icon-tick{
                    display:none;
                }
            }
        }
        }
        .map-directions {
            .check-in:nth-child(4n+1) {
                //clear: both;
                position:relative;
            }

        }
    }
    .added-salons-container {
        .added-salons {
            .map-directions {
                margin: 0 10px;
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .show-more-container {
        .salon-type-condition-container {
            width: 50%;
            .corporate-salon-conditions-container, .franchise-salon-conditions-container {
                //min-height:273px;
                //padding: 20px 0;
                margin-right: 0px;
                }
        }

        .map-directions {
            .check-in {
                width: 47%;
            }
            .map-window{
            .check-in{
                width:100%;
            }
        }
            .check-in:nth-child(2n+1) {
                clear: both;
            }
        }
    }
}

@media (max-width: 768px) {

    .show-more-container {
        .salon-type-condition-container {
            width: 100%;
            margin-top: 10px;
            margin-bottom: 25px;
        }

        .map-directions {
            margin-right: 20px;


            .check-in {
                width: 90%;
                margin:0 0 40px 11px;
            }
        }

        .location-search-title {
            .btn {
                width: 100%;
            }

            .search-nav {
                padding-left: 20px;
                padding-right: 20px;
            }

            .location-search-text {
                border-bottom: 1px solid #5f6167;
                padding-bottom: 10px;
            }
        }
    }
    .added-salons-container {
        .added-salons {
            margin-right:10px;
            .map-directions {
                margin: 0 5px;
            }
        }
    }
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
   .show-more-container{
        .location-search-title {
            .location-search-text {
                border-bottom: none;
            }
        }
    }
}

@media (max-width:400){

     .custom-salon.franchise-salon ,.custom-salon.corporate-salon{
    .reminder-subscription {
        .left-col {
            width: 20px;
        }
    }
}
}

.salonselectoradvanced{
    padding-top:0 !important;
    .show-more-container{
        .map-directions{
            padding-top:0;
            @media(min-width: 992px){
                padding-bottom: 0;
            }
            .check-in{
                box-shadow:none;
                background:none;
                width:48%;
                @media(max-width:768px){
                    width:100%;
                }
                border:none !important;
                padding:0;
                margin-bottom:15px;
                .location-details{
                    .vcard{
                        min-height:auto;
                        width:88%;
                        span.store-title{
                            padding-bottom:0;
                            @media (min-width: 992px){
                                min-height: 35px;
                            }
                        }
                        .openingsoonTxt {
                            text-align: left;
                            float: none;
                            color: #5f6167;
                            font-family: "open-sans";
                            font-size: 16px;
                        }
                    }
                }
                @media (max-width: 992px) and (min-width: 768px){
                    &:nth-child(2n){
                        margin-left:0;
                    }
                }
            }
            &.map-window{
                .check-in{
                    width:100%;
                }
            }
        }
        .panel-heading{
            display:none;
        }
    }
    .added-salons-container{
        background-color:#fff;
        h3{
            padding-left:10;
        }
        span{
            display:block;
        }
        .added-salons{
            .check-in{
                    width: 100%;
                    margin-left:0;
                .store-title{
                    width: 100%;
                    margin-bottom: .25ex;
                    color: #1e3e6e;
                    font-family: "futura-pt-condensed", Helvetica, Arial, sans-serif;
                    font-weight: 700;
                    font-size: 20px;
                    text-transform: uppercase;
                }
                .css-label{
                    display:none !important;
                }
                &.kouponPreselect{
                    border: 1px solid #5f6167!important;
                    padding: 15px 0 30px 0;
                    background: #fff;
                    float: left;
                    width: 23%;
                    @media(max-width:768px){
                        width:90%;
                    }
                    margin: 30px 14px 30px 5px;
                    box-shadow: 2px 2px 3px #888;
                    overflow: visible;
                    position: relative;
                     @media (max-width: 992px) and (min-width: 768px){
                        &:nth-child(2n){
                            margin-left:0;
                        }
                    }
                }
            }
        }
    }
    &.kouponServed{
        .added-salons-container{
            background-color:#f2f2f2;
            .added-salons{
                 .check-in{
                   border: 1px solid #5f6167!important;
                    padding: 15px 0 30px 0;
                    background: #fff;
                    float: left;
                    width: 23%;
                    @media(max-width:768px){
                        width:90%;
                    }
                    margin: 30px 14px 30px 5px;
                    box-shadow: 2px 2px 3px #888;
                    overflow: visible;
                    position: relative;
                     @media (max-width: 992px) and (min-width: 768px){
                        &:nth-child(2n){
                            margin-left:0;
                        }
                    }
                }
            }
        }
    }
}

.registration,.contact-us-form{
    .salonselectoradvanced{
        .added-salons-container{
            background-color:#f2f2f2;
            .added-salons{
                 .check-in{
                   border: 1px solid #5f6167!important;
                    padding: 15px 0 26px 0;
                    background: #fff;
                    float: left;
                    width: 23%;
                    @media(max-width:768px){
                        width:90%;
                    }
                    margin: 30px 14px 30px 5px;
                    box-shadow: 2px 2px 3px #888;
                    overflow: visible;
                    position: relative;
                     @media (max-width: 992px) and (min-width: 768px){
                        &:nth-child(2n){
                            margin-left:0;
                        }
                    }
                }
            }
        }
    }
    }
.registration{
    .salonselectoradvanced{
        .added-salons-container{
            .added-salons{
                .check-in{
                    @media (max-width: 768px){
                        margin-left: 10px !important;
                    }
                }
            }
        }
    }
}

.my-prefered-salon-modal{
    .salonselectoradvanced{
        .added-salons-container{
            background-color:#f2f2f2;
            .show-more-container{
                .map-directions{
                    padding-top:20px;
                    .check-in{
                        border: 1px solid #5f6167!important;
                        padding: 15px 0 30px 0;
                        background: #fff;
                        float: left;
                        @media(max-width:768px){
                            width:90%;
                        }
                        margin: 10px 14px 30px 5px;
                        box-shadow: 2px 2px 3px #888;
                        overflow: visible;
                        position: relative;
                         @media (max-width: 992px) and (min-width: 768px){
                            &:nth-child(2n){
                                margin-left:0;
                            }
                        }
                    }
                }
            }
        }
        .show-more-container{
            .map-directions{
                .check-in{
                    .location-details{
                            .vcard {
                            span.street-address{
                                @media (min-width: 992px){
                                    min-height: 42px;
                                }
                            }
                        }
                     }
                }
            }
        }
    }
}
