.salondetailcomponent{
	overflow: hidden;
    @media (max-width: 991px){
		padding: 15px 0;
    }
    @media (min-width: 992px){
        margin-top: 20px;
        margin-bottom: 10px;
    }
	.sdp-left-template{
		.map-directions{
            @media (min-width: 992px){
                width: 100%;
                border: 1px solid #5f6167;
                padding: 20px 10px;
                min-height: 430px;
                display: inline-block;
            }
			.check-in{
                width: 100%;
                display: inline-block; 
				.wait-time{
					position: relative;
					float: left;
					min-width: 78px;
					max-width: 100px;
					margin: 0 1em 0 0;
					padding: 0 1%;
					border: 1px solid #5f6167;
					border-radius: 6px;
                      .vcard{

                    .minutes{
                    width: 33px;
    				height: 40px;
    				background: url(../../resources/images/SDP/Map_Locator.svg) center center;
    				margin: 10px auto;
                              .waitTimeSalonDetail1 {
  				                    position: relative;
                                    text-align: center;
                                    top: 19%;
                                font-size: 12px;
                                }
                    }
                }
                    .h6{
                        color: #5f6167;
                        font-family: "open-sans", Helvetica, Arial, sans-serif;
                        font-size: 10px;
                        font-weight: 300;
                        text-align: center;
                        text-transform: uppercase;
                        margin-top: 0;
                        margin-bottom: 0;
                    }
                    .h4{
                        color: #5f6167;
                        font-size: 12px;
                        text-align: center;
                        text-transform: uppercase;
                        margin-bottom: 8px;
                        margin-top: 0;
                    }
                    .minutesholderSDC{
						  text-align: center;
                         .h4{
                        color: #5f6167;
                        font-size: 12px;

                        text-transform: uppercase;
                        margin-bottom: 8px;
                        margin-top: 0;
                        display: inline-block;

                        }
                         .waitTimeSalonDetailclass {
                        display: inline;
                        font-size: 12px;

                    }
                    }


                    @media (max-width: 991px){
						width: 23%;
                    }

				}
				.location-details{
					width: 70%;
                    @media (max-width: 991px){
						width: 67% !important;
                    }
					float: left;
					.vcard{
                        @media (min-width: 992px){
                            width: 85%;
                        }
						span{
							display: inline-block;
							&.store-title{
								width: 100%;
								margin-bottom: 0.25ex;
								color: #727173;
								font-size: 18px;
								text-transform: uppercase;
							}
							&.street-address{
								font-size: 12px;
								margin-top: 0;
							}
							&.telephone{
								color: #455f6c;
								font-size: 12px;
								margin-top: 0;
								margin-bottom: 2ex;
							}
						}
					}
				}
				.store-hours{
					float: left;
					margin: 2ex 0;
					min-height: 55px;
					width: 100%;
					max-width: 320px;
					.store-time{
						.dayname{
							width: 49%;
							display: inline-block;
							@media (max-width: 320px){
								width: 46%;
                            }
						}
					}
				}
			}
		}
	}
}