.ext-strict #CQ .x-form-text{
	height:22px !important; 
}

#CQ .x-form-label-left label.x-form-item-label{
	font-weight:normal;
}

/* Added to override the fieldSet width in multifield widget */
#CQ .x-form-field-wrap
{
	width: 95% !important;
}

/* Starts- Added to override the dialogfieldset width and border issue */

#CQ .x-fieldset{
	width: 98% !important;
}

legend
{
	border: none !important;
	width: auto !important;
}

.textoverresponsiveimage > img{
	position: relative !important;
    width: auto !important;
}

/* Ends-Added to override the dialogfieldset width and border issue */

/* Added to display Calendar icon in date fields */
 .ux-datetime-date{
        padding-right: 15px !important;
}