.search-result-container{
    float: left;
	width: 100%;
	padding-bottom: 20px;
    .col-md-4{
        padding: 0;
        width: 20%;
    }
    .search-result-img{
       img{
          max-width: 100%;
		   @media (max-width:767px){
            	display:none;
            }
       }
    }
    .search-result-content{
		@media (max-width:767px){
        	width:100%;
        	}
        h3{
            margin-top: 0;
            margin-bottom: 0;
        }
        a{
            margin-bottom:0;
            display: inline-block;
        }
        .categories{
            margin-bottom: 10px;
        }
    }
}

.search{
	h3.search-results-head{
		text-transform:capitalize;
        width: 100%;
        float: left;
	}
}