.show-more-container .errorMessage {
  font-size: 1.3em;
  color: #00008A;
  font-family: "futura-pt-condensed";
  text-align: center;
  margin-top: 10px;
}
.show-more-container .salon-type-condition-container {
  width: 66.33%;
  margin-top: -40px;
  margin-bottom: -20px;
  padding-left: 10px;
  padding: 60px 0px;
  background: #DEE3E9;
  min-height: 310px;
}
.show-more-container .salon-type-condition-container .corporate-salon-conditions-container,
.show-more-container .salon-type-condition-container .franchise-salon-conditions-container {
  margin-right: -10px;
  margin-bottom: -5px;
}
@media (max-width: 768px) {
  .show-more-container .salon-type-condition-container .corporate-salon-conditions-container,
  .show-more-container .salon-type-condition-container .franchise-salon-conditions-container {
    margin-right: 0;
  }
}
.show-more-container .salon-type-condition-container .corporate-salon-conditions-container .salontype-checkbox-title,
.show-more-container .salon-type-condition-container .franchise-salon-conditions-container .salontype-checkbox-title,
.show-more-container .salon-type-condition-container .corporate-salon-conditions-container .salontype-checkbox-description,
.show-more-container .salon-type-condition-container .franchise-salon-conditions-container .salontype-checkbox-description {
  width: 100%;
  display: inline-block;
  padding-left: 10px;
}
.show-more-container .salon-type-condition-container .corporate-salon-conditions-container .salontype-checkbox-description,
.show-more-container .salon-type-condition-container .franchise-salon-conditions-container .salontype-checkbox-description {
  font-weight: normal;
}
.show-more-container .salon-type-condition-container .corporate-salon-conditions-container input[type=checkbox].css-checkbox,
.show-more-container .salon-type-condition-container .franchise-salon-conditions-container input[type=checkbox].css-checkbox {
  position: absolute;
  z-index: -1000;
  left: -1000px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
.show-more-container .salon-type-condition-container .corporate-salon-conditions-container input[type=checkbox].css-checkbox + label.css-label,
.show-more-container .salon-type-condition-container .franchise-salon-conditions-container input[type=checkbox].css-checkbox + label.css-label {
  padding-left: 26px;
  vertical-align: top;
  height: 26px;
  border: 1px solid #ccc;
  display: inline-block;
  line-height: 32px;
  background-repeat: no-repeat;
  background-position: 0 0;
  font-size: 16px;
  width: auto;
  cursor: pointer;
  background-size: 100%;
}
.show-more-container .salon-type-condition-container .corporate-salon-conditions-container input[type=checkbox].css-checkbox:checked + label.css-label,
.show-more-container .salon-type-condition-container .franchise-salon-conditions-container input[type=checkbox].css-checkbox:checked + label.css-label {
  background: url('../../clientlibs/sc-publish-clientlibs/resources/images/checkbox.png') #b3c0f7;
  background-size: 100%;
}
.show-more-container .salon-type-condition-container .corporate-salon-conditions-container label,
.show-more-container .salon-type-condition-container .franchise-salon-conditions-container label {
  width: 90%;
}
.show-more-container .salon-type-condition-container .corporate-salon-conditions-container label.css-label,
.show-more-container .salon-type-condition-container .franchise-salon-conditions-container label.css-label {
  background-image: url('../../clientlibs/sc-publish-clientlibs/resources/images/checkbox-unchecked.png');
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.show-more-container .map-directions {
  border: none;
  min-height: 0;
}
.show-more-container .map-directions .check-in {
  border: 1px solid #5f6167 !important;
  padding: 15px 0 30px 0;
  background: #fff;
  float: left;
  width: 23%;
  margin: 0 14px 30px 5px;
  box-shadow: 2px 2px 3px #888888;
  overflow: visible;
  position: relative;
}
.show-more-container .map-directions .check-in .location-details {
  width: 100% !important;
  max-width: 100%;
}
.show-more-container .map-directions .check-in .location-details .vcard {
  padding: 0 10px;
  width: 100%;
}
.show-more-container .map-directions .check-in .location-details .vcard span.store-title {
  padding-bottom: 10px;
  font-size: 18px;
  line-height: 20px;
}
.show-more-container .map-directions .check-in .location-details .vcard .miles {
  float: left;
  width: 100%;
}
.show-more-container .map-directions .check-in .location-details .vcard .miles .distance {
  float: none;
  text-align: left;
  color: #5f6167;
  font-size: 14px;
  background: none;
  padding-left: 0;
}
.show-more-container .map-directions .check-in .location-details .vcard span.close-btn {
  display: none;
}
.show-more-container .map-directions .check-in .location-details .vcard .openingsoonTxt {
  font-weight: bold;
  text-align: center;
}
.show-more-container .map-directions .check-in:hover {
  -webkit-box-shadow: 3px 3px 4px rgba(30, 62, 110, 0.5);
  -moz-box-shadow: 3px 3px 4px rgba(30, 62, 110, 0.5);
  box-shadow: 3px 3px 4px rgba(30, 62, 110, 0.5);
}
.show-more-container .map-directions .check-in:hover .icon-tick {
  color: #fff;
  background-color: #1e3e6e;
  -webkit-box-shadow: 3px 3px 4px rgba(30, 62, 110, 0.5);
  -moz-box-shadow: 3px 3px 4px rgba(30, 62, 110, 0.5);
  box-shadow: 3px 3px 4px rgba(30, 62, 110, 0.5);
}
.show-more-container .map-directions .check-in.displayNone {
  display: none !important;
}
.show-more-container .gm-style-iw {
  margin: 0 -24px;
  overflow: hidden;
}
.show-more-container .gm-style-iw > div {
  width: 261px!important;
}
.show-more-container .map-window .check-in {
  border: none !important;
  width: 100%;
}
.show-more-container .map-window .check-in .action-buttons {
  margin-top: 10px;
  margin-left: 20px;
}
.show-more-container .map-window .check-in .location-details .vcard .miles {
  margin-top: 0;
}
.show-more-container .check-in .back {
  display: none;
  position: relative;
  width: 100%;
  height: 198px;
  float: left;
  margin: -15px 0 -30px 0;
}
.show-more-container .check-in .back .btn {
  width: 100%;
  height: 100%;
  font-weight: bold;
  font-size: 32px;
  border: none;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
}
.show-more-container .check-in .back .btn span {
  position: relative;
  top: 33%;
}
.show-more-container .check-in .icon-tick {
  width: 48px;
  height: 46px;
  background-color: #fff;
  display: inline-block;
  position: absolute;
  bottom: -6px;
  right: -15px;
  z-index: 1180;
  border-radius: 50%;
  border: 1px solid #5f6167 !important;
  box-shadow: 0px 0px 3px #888888;
  font-size: 31px;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  color: #0e1c32;
}
.show-more-container .check-in .icon-tick:hover {
  color: #fff;
  background-color: #1e3e6e;
  -webkit-box-shadow: 3px 3px 4px rgba(30, 62, 110, 0.5);
  -moz-box-shadow: 3px 3px 4px rgba(30, 62, 110, 0.5);
  box-shadow: 3px 3px 4px rgba(30, 62, 110, 0.5);
}
.show-more-container .check-in.selected {
  cursor: default;
  position: relative;
}
.show-more-container .check-in.selected .icon-tick {
  color: #fff;
  background-color: #1e3e6e;
  -webkit-box-shadow: 3px 3px 4px rgba(30, 62, 110, 0.5);
  -moz-box-shadow: 3px 3px 4px rgba(30, 62, 110, 0.5);
  box-shadow: 3px 3px 4px rgba(30, 62, 110, 0.5);
}
.show-more-container .search-right-column {
  padding: 0 15px;
}
.show-more-container .search-right-column .location-search-results {
  height: auto;
  padding-top: 10px;
  overflow: hidden;
}
.show-more-container .search-right-column .location-search-results .check-in .col-xs-12 {
  padding: 0 10px !important;
}
.show-more-container .search-right-column .show-less-search-results {
  display: none;
}
.show-more-container .location-search-title {
  border-left: none;
  border-right: none;
}
.show-more-container .location-search-title input#salonSearchAutocomplete {
  padding: 3px 12px;
  height: 34px;
}
@media(min-width:992px){
  .show-more-container .location-search-title input#salonSearchAutocomplete {
 width:230px;
}
}
.show-more-container .location-search-title .navbar-toggle.collapse.in {
  display: block !important;
}
.show-more-container .location-search-title .navbar-toggle.collapse {
  display: none !important;
}
.show-more-container .location-search-title .btn {
  border-left: 1px solid #5f6167;
  background: none !important;
  color: #173E70;
  padding: 0 10px;
  margin: 0;
  min-height: 70px;
  -webkit-border-radius: 0;
  border-radius: 0;
  width: auto;
  display: block!important;
}
.show-more-container .location-search-title .btn .sr-only + span {
  vertical-align: middle;
  display: inline-table;
  margin-top: -8px;
  font-style: italic;
  margin-right: 5px;
  text-transform: none !important;
}
.show-more-container .location-search-title .btn [class^=icon-] {
  font-size: 1.2em;
}
.show-more-container .location-search-title h3 {
  padding-left: 10px;
}
.show-more-container .location-search-title h4 {
  padding-left: 10px;
  padding-top: 10px;
  text-transform: none;
}
.show-more-container .location-search-title .search-title {
  padding-top: 20px;
  font-weight: bold;
}
.show-more-container .location-search-title .search-nav {
  margin-top: 12px;
  padding-left: 10px;
  padding-right: 10px;
}
.show-more-container .location-search-title .search-nav .input-group {
  max-width: 320px;
}
.show-more-container .location-search-title .search-nav .input-group .btn {
  background: #fff !important;
  min-height: 34px;
}
.show-more-container .location-search-title .search-nav .input-group .btn-primary {
  background: #003f72!important;
  min-height: 34px;
  color: #fff;
}
.show-more-container .location-search-title div[class^=col]:last-child {
  overflow: hidden;
  height: 64px;
}
.show-more-container .location-search-title div[class^=col] {
  padding: 0;
}
.show-more-container .maps-collapsible-container {
  padding: 0 10px;
}
.show-more-container .panel-body {
  padding: 0 10px;
}
.show-more-container .panel-heading .panel-title {
  font-weight: bold !important;
  font-size: 18px;
  font-style: normal;
  text-transform: uppercase;
}
.show-more-container .panel-heading .panel-title .collapse.in {
  display: inline-block !important;
}
.show-more-container .panel-heading .panel-title .title-text-hide.collapsing {
  display: none;
}
.show-more-container .panel-heading a .accordion-trigger {
  top: -5px;
}
.show-more-container .panel-heading a .accordion-trigger.active {
  top: -5px;
}
.show-more-container .panel-heading a:hover .accordion-trigger {
  top: -5px;
}
.show-more-container .location-search .collapse.in {
  display: block !important;
}
.show-more-container .location-search .collapse.in #map-canvas .icon-tick {
  display: none;
}
.show-more-container .check-in .icon-tick:before,
.show-more-container .check-in .icon-close:before {
  content: '';
}
.added-salons-container {
  background: #F2F2F2;
  display: inline-block;
  width: 100%;
  min-height: 0;
}
.added-salons-container > h3 {
  padding-left: 20px;
  margin-bottom: 0;
}
.added-salons-container .show-more-container .locations {
  width: 100%;
  overflow: inherit;
  padding-top: 20px;
  padding-bottom: 20px;
  display: inline-block;
}
.added-salons-container .show-more-container .check-in .icon-tick {
  display: none !important;
}
.added-salons-container .show-more-container .map-directions .check-in .location-details .vcard span.location-index {
  display: none;
}
.added-salons-container .show-more-container .map-directions .check-in .location-details .vcard span.close-btn {
  width: 48px;
  height: 46px;
  background-color: #fff;
  display: inline-block;
  position: absolute;
  bottom: -10px;
  right: -12px;
  z-index: 1180;
  border-radius: 50%;
  border: 1px solid #5f6167 !important;
  box-shadow: 0px 0px 3px #888888;
  font-size: 31px;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  color: #0e1c32;
  margin: 0;
  padding: 0;
}
.added-salons-container .show-more-container .map-directions .check-in .location-details .vcard span.close-btn:hover {
  background-color: #0e1c32;
  color: #fff;
}
.added-salons-container .map-directions .check-in .location-details .vcard span.telephone {
  margin: 0;
}
.thankyou-page .added-salons-container {
  background: none;
}
.thankyou-page .added-salons-container .show-more-container .map-directions .check-in {
  position: relative;
}
.thankyou-page .added-salons-container .show-more-container .map-directions .check-in:nth-child(2n+1),
.thankyou-page .added-salons-container .show-more-container .map-directions .check-in:nth-child(3n+1) {
  clear: none;
}
.thankyou-page .added-salons-container .show-more-container .map-directions .check-in .btn-primary {
  position: absolute;
  bottom: -60px;
  left: 0;
}
.thankyou-page .added-salons-container .show-more-container .map-directions .check-in .location-details .vcard .close-btn {
  display: none;
}
.thankyou-page .btn {
  margin-left: 10px;
}
.show-more-container:before {
  clear: both;
}
.added-salons-container:after {
  clear: both;
}
.show-more-container.accordion .panel > .panel-heading {
  height: 50px;
  overflow: hidden;
  text-align: center;
}
.show-more-container .search-right-column .show-container {
  text-align: center;
}
.show-more-container .search-right-column .show-more-search-results,
.show-more-container .search-right-column .show-less-search-results {
  text-align: center;
  margin-top: -23px;
  color: #284B7A;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  background: url(../../clientlibs/sc-publish-clientlibs/resources/images/select-arrow@2x.png) right center no-repeat, url(../../clientlibs/sc-publish-clientlibs/resources/images/select-arrow@2x.png) left center no-repeat;
  padding: 0 24px;
  background-size: 10%;
}
.show-more-container .search-right-column .show-less-search-results {
  background: url(../../clientlibs/sc-publish-clientlibs/resources/images/select-arrow@2x-UP.png) right center no-repeat, url(../../clientlibs/sc-publish-clientlibs/resources/images/select-arrow@2x-UP.png) left center no-repeat;
  background-size: 10%;
}
@media (min-width: 992px) {
  .show-more-container .location-search .collapse {
    display: none !important;
  }
  .show-more-container .location-search .collapse.in {
    display: block !important;
  }
  .show-more-container .location-search .collapse.in #map-canvas .icon-tick {
    display: none;
  }
  .show-more-container .map-directions .check-in:nth-child(4n+1) {
    position: relative;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .show-more-container .salon-type-condition-container {
    width: 50%;
  }
  .show-more-container .salon-type-condition-container .corporate-salon-conditions-container,
  .show-more-container .salon-type-condition-container .franchise-salon-conditions-container {
    min-height: 273px;
    padding: 60px 0;
    margin-right: 0px;
  }
  .show-more-container .map-directions .check-in {
    width: 47%;
  }
  .show-more-container .map-directions .map-window .check-in {
    width: 100%;
  }
  .show-more-container .map-directions .check-in:nth-child(2n+1) {
    clear: both;
    margin: 0 0 30px 0;
  }
}
@media (max-width: 768px) {
  .show-more-container .salon-type-condition-container {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 25px;
  }
  .show-more-container .map-directions {
    margin-right: 20px;
  }
  .show-more-container .map-directions .check-in {
    width: 90%;
    margin: 0 0 40px 11px;
  }
  .show-more-container .location-search-title .btn {
    width: 100%;
  }
  .show-more-container .location-search-title .search-nav {
    padding-left: 20px;
    padding-right: 20px;
  }
  .show-more-container .location-search-title .location-search-text {
    border-bottom: 1px solid #5f6167;
    padding-bottom: 10px;
  }
  .added-salons-container .added-salons {
    margin-right: 11px;
  }
  .added-salons-container .added-salons .map-directions {
    margin: 0 10px;
  }
}
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: portrait) {
  .show-more-container .location-search-title .location-search-text {
    border-bottom: none;
  }
}
@media (max-width: 400) {
  .custom-salon.franchise-salon .reminder-subscription .left-col,
  .custom-salon.corporate-salon .reminder-subscription .left-col {
    width: 20px;
  }
}
.salonselectoradvanced {
  padding-top: 0 !important;
}
.salonselectoradvanced .show-more-container .map-directions {
  padding-top: 0;
}
.salonselectoradvanced .show-more-container .map-directions .check-in {
  box-shadow: none;
  background: none;
  width: 48%;
  border: none !important;
  padding: 0;
  margin-bottom: 15px;
}
@media (max-width: 768px) {
  .salonselectoradvanced .show-more-container .map-directions .check-in {
    width: 100%;
  }
}
.salonselectoradvanced .show-more-container .map-directions .check-in .location-details .vcard {
  min-height: auto;
  width: 88%;
}
.salonselectoradvanced .show-more-container .map-directions .check-in .location-details .vcard span.store-title {
  padding-bottom: 0;
}
.salonselectoradvanced .show-more-container .map-directions .check-in .location-details .vcard .openingsoonTxt {
  text-align: left;
}
@media (max-width: 992px) and (min-width: 768px) {
  .salonselectoradvanced .show-more-container .map-directions .check-in:nth-child(2n) {
    margin-left: 0;
  }
}
.salonselectoradvanced .show-more-container .map-directions.map-window .check-in {
  width: 100%;
}
.salonselectoradvanced .show-more-container .panel-heading {
  display: none;
}
.salonselectoradvanced .added-salons-container {
  background-color: #fff;
}
.salonselectoradvanced .added-salons-container h3 {
  padding-left: 10;
}
.salonselectoradvanced .added-salons-container span {
  display: block;
}
.salonselectoradvanced .added-salons-container .added-salons .check-in {
  width: 100%;
  margin-left: 0;
}
.salonselectoradvanced .added-salons-container .added-salons .check-in .store-title {
  width: 100%;
  margin-bottom: .25ex;
  color: #1e3e6e;
  font-family: "futura-pt-condensed", Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
}
.salonselectoradvanced .added-salons-container .added-salons .check-in .css-label {
  display: none !important;
}
.salonselectoradvanced .added-salons-container .added-salons .check-in.kouponPreselect {
  border: 1px solid #5f6167!important;
  padding: 15px 0 30px 0;
  background: #fff;
  float: left;
  width: 23%;
  margin: 30px 14px 30px 5px;
  box-shadow: 2px 2px 3px #888;
  overflow: visible;
  position: relative;
}
@media (max-width: 768px) {
  .salonselectoradvanced .added-salons-container .added-salons .check-in.kouponPreselect {
    width: 90%;
  }
}
@media (max-width: 992px) and (min-width: 768px) {
  .salonselectoradvanced .added-salons-container .added-salons .check-in.kouponPreselect:nth-child(2n) {
    margin-left: 0;
  }
}
.salonselectoradvanced.kouponServed .added-salons-container {
  background-color: #f2f2f2;
}
.salonselectoradvanced.kouponServed .added-salons-container .added-salons .check-in {
  border: 1px solid #5f6167!important;
  padding: 15px 0 30px 0;
  background: #fff;
  float: left;
  width: 23%;
  margin: 30px 14px 30px 5px;
  box-shadow: 2px 2px 3px #888;
  overflow: visible;
  position: relative;
}
@media (max-width: 768px) {
  .salonselectoradvanced.kouponServed .added-salons-container .added-salons .check-in {
    width: 90%;
  }
}
@media (max-width: 992px) and (min-width: 768px) {
  .salonselectoradvanced.kouponServed .added-salons-container .added-salons .check-in:nth-child(2n) {
    margin-left: 0;
  }
}
.registration .salonselectoradvanced .added-salons-container,
.contact-us-form .salonselectoradvanced .added-salons-container {
  background-color: #f2f2f2;
}
.registration .salonselectoradvanced .added-salons-container .added-salons .check-in,
.contact-us-form .salonselectoradvanced .added-salons-container .added-salons .check-in {
  border: 1px solid #5f6167!important;
  padding: 15px 0 30px 0;
  background: #fff;
  float: left;
  width: 23%;
  margin: 30px 14px 30px 5px;
  box-shadow: 2px 2px 3px #888;
  overflow: visible;
  position: relative;
}
@media (max-width: 768px) {
  .registration .salonselectoradvanced .added-salons-container .added-salons .check-in,
  .contact-us-form .salonselectoradvanced .added-salons-container .added-salons .check-in {
    width: 90%;
  }
}
@media (max-width: 992px) and (min-width: 768px) {
  .registration .salonselectoradvanced .added-salons-container .added-salons .check-in:nth-child(2n),
  .contact-us-form .salonselectoradvanced .added-salons-container .added-salons .check-in:nth-child(2n) {
    margin-left: 0;
  }
}
.my-prefered-salon-modal .salonselectoradvanced .added-salons-container {
  background-color: #f2f2f2;
}
.my-prefered-salon-modal .salonselectoradvanced .added-salons-container .show-more-container .map-directions {
  padding-top: 20px;
}
.my-prefered-salon-modal .salonselectoradvanced .added-salons-container .show-more-container .map-directions .check-in {
  border: 1px solid #5f6167!important;
  padding: 15px 0 30px 0;
  background: #fff;
  float: left;
  margin: 10px 14px 30px 5px;
  box-shadow: 2px 2px 3px #888;
  overflow: visible;
  position: relative;
}
@media (max-width: 768px) {
  .my-prefered-salon-modal .salonselectoradvanced .added-salons-container .show-more-container .map-directions .check-in {
    width: 90%;
  }
}
@media (max-width: 992px) and (min-width: 768px) {
  .my-prefered-salon-modal .salonselectoradvanced .added-salons-container .show-more-container .map-directions .check-in:nth-child(2n) {
    margin-left: 0;
  }
}
