<div data-sly-test="${wcmmode.edit}">Dynamic Side Nav Component</div>

<aside class="dynamic-side-nav">
	<h2 class="side-nav-header">
		<a href="${properties.titleURL @ extension = 'html' || '#'}"
			title="${properties.titleLabel}">${properties.titleLabel}</a>
	</h2>
	
	<sly data-sly-use.parentPage="${'com.regis.common.util.ReturnPage' @ path = properties.parentPath}" />
	
	<!-- Natural or AEM Order -->
	<div data-sly-test="${properties.sortby == 'natural'}" data-sly-unwrap>
	<!-- Desktop view -->
		<ul class="list-unstyled hidden-xs"
			data-sly-list.child="${parentPage.pagePath.listChildren}">
			<div data-sly-test="${child.path==currentPage.path}" data-sly-unwrap>
				<li class="selected" 
				data-sly-test="${child.properties.cq:lastReplicationAction != 'Deactivate'}">
					<a href="${child.path @ extension = 'html'}" aria-current="page">${child.properties.shortTitle}</a>
				</li>
			</div>
			<div data-sly-test="${child.path!=currentPage.path}" data-sly-unwrap>
				<li data-sly-test="${child.properties.cq:lastReplicationAction != 'Deactivate'}">
					<a href="${child.path @ extension = 'html'}">${child.properties.shortTitle}</a></li>
			</div>			
		</ul>
	
	<!-- Mobile dropdown-->
	<div class="dropdown product-dropdown visible-xs"> 
           <button class="btn btn-default dropdown-toggle form-control" type="button" id="dropdownMenu1" 
           			data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
               <span id="dropdown-selected-value"></span>                        
           </button>
           <sly data-sly-use.parentPage="${'com.regis.common.util.ReturnPage' @ path = properties.parentPath}" />
           <ul class="dropdown-menu list-unstyled" aria-labelledby="dropdownMenu1"
                   data-sly-list.child="${parentPage.pagePath.listChildren}">
               <li class="${child.path==currentPage.path ? 'selected' : ''}"
                       data-sly-test="${child.properties.cq:lastReplicationAction != 'Deactivate'}"><a
                       href="${child.path @ extension = 'html'}">${child.properties.shortTitle}</a>
				<input type="hidden" id="list-selected-value" value="${child.properties.shortTitle}">
               </li>
           </ul>			
       </div> 
	</div>
	
	<!-- Artificial Sorting -->
	<div data-sly-test="${properties.sortby != 'natural'}" data-sly-unwrap>
		<!-- Desktop View -->
		<div data-sly-use.pageListing="${'com.regis.common.util.PageListing' @ 
				path = properties.parentPath, sortby = properties.sortby, reverse = properties.reverse}" data-sly-unwrap>
		    <ul class="list-unstyled hidden-xs"
					data-sly-list.keyName="${pageListing.getSideNavItems}">
				<div data-sly-test="${keyName==currentPage.path}" data-sly-unwrap>
					<li class="selected">
						<a href="${keyName @ extension = 'html'}" aria-current="page">${pageListing.getSideNavItems[keyName]}</a>
					</li>
				</div>
				<div data-sly-test="${keyName!=currentPage.path}" data-sly-unwrap>
					<li>
						<a href="${keyName @ extension = 'html'}">${pageListing.getSideNavItems[keyName]}</a>
					</li>
				</div>
			</ul>
			
			<!-- Mobile drop-down -->
			<div class="dropdown product-dropdown visible-xs"> 
	           <button class="btn btn-default dropdown-toggle form-control" type="button" id="dropdownMenu1" 
	           			data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
	               <span id="dropdown-selected-value"></span>                        
	           </button>
	           <ul class="dropdown-menu list-unstyled" aria-labelledby="dropdownMenu1"
	                   data-sly-list.keyName="${pageListing.getSideNavItems}">
					<li class="${keyName==currentPage.path ? 'selected' : ''}">
						<a href="${keyName @ extension = 'html'}">${pageListing.getSideNavItems[keyName]}</a>
					<input type="hidden" id="list-selected-value" value="${pageListing.getSideNavItems[keyName]}">
	               </li>
	           </ul>			
	       </div> 
		</div>
	</div>
</aside>