.dynamicsidenavigation{
	.dynamic-side-nav{
        .side-nav-header{
    		color:#1e3e6e;
    		text-transform:uppercase;
            a{
    			color:#1e3e6e;
                padding:5px 10px 5px 10px;
    			display:inline-block;
    			width:100%;
    			text-decoration:none; 
                font-weight: bold;
                font-family: "futura-pt-condensed", Helvetica, Arial, sans-serif;
                font-size: 18px;
                &:hover{ 
    				background-color:#F5F6F7;
    			}
                @media (max-width: 767px){
    				padding-left: 0;
                }
    		}
        }
        @media (min-width: 768px){
            ul{
        		margin-bottom: 20px;
        		li{
        			width:100%;
        			cursor:pointer;
        			font-family:"open-sans", Helvetica, Arial, sans-serif;
        			font-size:16px;
        			a{
        				color:#1e3e6e;
        				display:inline-block;
        				padding:5px 10px 5px 10px;
        				width:100%;	
        				text-decoration:none;
        				&:hover{
        					background-color:#F5F6F7;
        				}
        				&.selected{
        					background-color:#F5F6F8;
        					border-left:5px solid #48ABE1;
        					padding:5px 10px 5px 5px;
        					color: #1e3e6e;
        				}
        			}
                    &.selected{
        				background-color:#F5F6F8;
        				border-left:5px solid #48ABE1;
        				padding:5px 10px 5px 5px;
        				color: #1e3e6e;
        			}
        		}
        	}
        }   
        @media (max-width: 767px){
            .product-dropdown{
                &.dropdown{
                    button{
					   text-align: left;
                        background: url('../../clientlibs/sc-publish-clientlibs/resources/images/select-arrow@2x.png') no-repeat 97% 50% #ffffff;
                        background-size: 8%;
                        padding-right: 13%;
                        &:focus,&:hover,&:active{
						    border: 1px solid #cccccc;
                            outline: none;
                            box-shadow: none;
                        }
                        #dropdown-selected-value{
    						color: #1e3e6e;
                            font-size: 16px;
                            font-weight: bold;
                            display: block;
                            overflow: hidden;
                        }
                    }
                    &.open{
                        button{
    						background: url('../../clientlibs/sc-publish-clientlibs/resources/images/select-arrow@2x-UP.png') no-repeat 97% 50% #ffffff;
    						background-size: 8%;
                        }
                    }
                    ul.dropdown-menu{
    					width: 100%;
                        position: relative;
                        top: 0;
                        border-radius: 0;
                        padding: 10px 0; 
                        margin: 0;
                        border-top: 0;
                        -webkit-box-shadow: none;
                        -moz-box-shadow: none;
                        -o-box-shadow: none;
                        -ms-box-shadow: none;
                        box-shadow: none;
                        &.list-unstyled{
    						padding-left: 20px;
                            &>li{
                                a{
    								padding: 5px 0;
                                    display: inline-block;
                                    white-space: normal;
                                }
                                &.selected{
                                    a{
    									color: #1e3e6e;
                                        border-left: 5px solid #48ABE1;
                                        background: #F5F6F8;
                                        display: inline-block;
                                        width: 100%;
                                        padding: 5px 0 5px 3px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
	} 
}