.email-toast-component{
	width: 100%;
	color: #fff;
	padding: 24px 20px 20px;
	position:fixed;
	bottom:0;
	z-index: 100;
	left: 0;
	display: none;
	@media screen and (max-width: 767px){
		padding: 10px 15px;
	}
	.row{
        @media (max-width: 965px){
			margin-left: -10px;
            margin-right: -10px;
        }
    }
	.tips-tricks{
		font-size: 22px;
		font-weight: 500;
		margin: 9px 0 0;
		@media screen and (max-width: 767px){
			text-align: center;
			margin: 0;
		}
	}
	.offers-text{
		text-align: center;
		margin: 12px 0 24px;
		font-family: "open-sans";
		@media screen and (max-width: 767px){
			margin: 10px 0;
        }
	}
	.form-group{
		margin: 0;
		.form-control{
			background: transparent;
			border-width: 0 0 1px 0;
			border-style: solid;
			border-color: #fff;
			border-radius: 0;
			box-shadow: none;
			padding-left: 0;
			color: #fff;
			font-family: "open-sans";
			&:-moz-placeholder,
			&:-ms-placeholder,
			&:-o-placeholder{
				color: #fff !important;
				opacity: 1;
			}
			&::-moz-placeholder{
				color: #fff !important;
				opacity: 1;
			}
			&::-webkit-input-placeholder{
				color: inherit;
			}
		}
        &.has-error{
            #emailid-toast{
				border: 1px solid #fff !important;
            }
        }
	}
	.register-email{
		position: relative;
		top: 10px;
		border: 2px solid #fff;
		color: #fff;
		padding: 6px 8px;
	 font-size: 13px;
		border-radius: 14%;
		@media(max-width: 767px){
			top: 12px;
		}
        .icon-arrow:before{
			color: #fff;
            font-weight: bold;
            font-size: 20px;
        }
	}
	.dismiss-toast{
		position: absolute;
		top: 37px;
		right: 7%;
        background: url('../../clientlibs/sc-publish-clientlibs/resources/images/Close_Icon_White.svg') no-repeat;
        background-size: cover;
		width: 16px;
		height: 16px;
		@media screen and (max-width: 767px){
			right: 10px;
			top: 11px;
		}
		@media (min-width: 768px) and (max-width: 991px){
			right: 5%;
		}
	}
    .error-msg{
		color: #fff !important;
    }
	a{
		color: #fff;
		&:hover{
			color: #fff;
			text-decoration: none;
            outline: none;
		}
        &:focus {
            color: #fff;
			text-decoration: none;

        }
	}

	&.red-bg{
		background: rgba(192, 68, 68, 1);
	}
	&.grey-bg{
		background: rgba(114, 113, 115, 1);
	}
	&.teal-bg{
		background: #1e3e6e;
	}
	&.lightgreen-bg{
		background: #697674;
	}
	&.gold-bg{
		background: #6a6747;
	}
}
