@media (min-width: 1024px) {
  #map-container-list {
    display: none;
  }
}
.locationsearch.section {
  padding: 0px;
}
.locationsearch {
  margin-top: -41px;
}
/* WR5 Update */
.location-search-title {
  border-bottom: 1px solid #5f6167;
  clear: both;
  display: inline-block;
  width: 100%;
}
.location-search .errorMessage {
  padding: 10px;
}
.location-search .search-nav {
  width: 100%;
  text-align: right;
}
.location-search .search-nav > div {
  display: inline-block;
  margin-bottom: 0;
  vertical-align: middle;
  padding: 10px 0 0 0;
}
.location-search .search-nav .input-group {
  display: inline-table;
  vertical-align: middle;
}
.location-search .search-nav .input-group .location-search-btn {
  font-weight: bold;
}
.location-search .search-nav select {
  min-width: 100px;
}
.location-search .check-in {
  /*cursor: pointer; WR5 update*/
  overflow: hidden;
  /* WR5 update*/
  position: relative;
}
.location-search .check-in .wait-time {
  background: #fff;
}
.location-search .check-in .miles {
  /* float:right;
            margin-top:0;
           WR5 Update */
  float: right;
}
.location-search .check-in .miles .distance {
  /* color:#6C6A6B;
                 	WR5 Update */
  color: #5f6167;
  font-size: 14px;
  padding-left: 20px;
  background: url('../../clientlibs/sc-publish-clientlibs/resources/images/distance-pin.png') no-repeat top left;
  background-size: 17px 20px;
}
@media (max-width: 1024px) {
  .location-search .check-in .miles .distance {
    font-size: 10px;
  }
}
@media (max-width: 768px) {
  .location-search .check-in .miles .distance {
    padding-top: 4px;
  }
}
.location-search .check-in.active {
  background-color: #F5F6F7;
}
.location-search .maps-container {
  margin: 20px 0 0 0;
  width: 100%;
}
.location-search .sort-nav {
  text-align: center;
  margin: 10px 0;
  display: inline-block;
  width: 100%;
}
.location-search .sort-nav ul {
  margin: 0 auto;
  border: solid #173E70 1px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  display: inline-table;
  vertical-align: middle;
  width: 84.7%;
}
.location-search .sort-nav ul li a {
  padding: 7px 8px;
  font-size: 14px;
}
.location-search .sort-nav ul li.sortfullwidth {
  width: 100%;
}
.location-search .sort-nav ul li.sortfullwidth a {
  cursor: default;
}
.location-search .sort-nav p {
  width: 100%;
  text-align: right;
}
.location-search .sort-nav h4 {
  display: block;
}
.location-search .map-directions {
  border: none;
  padding: 0;
  display: inline-block;
  width: 100%;
}
.location-search .map-directions .check-in .vcard .message {
  color: #5f6167;
  font-size: 15px;
  margin-top: 2ex;
  margin-bottom: 0;
}
.location-search .map-directions .check-in .vcard .closing-time {
  color: #5f6167 !important;
  font-size: 13.5px !important;
  margin-top: 0.25ex;
  margin-bottom: 0;
}
.location-search .map-directions .check-in .vcard span.telephone {
  margin-top: 0;
  margin-bottom: 0;
}
.location-search .map-directions .check-in .vcard span.location-index {
  display: none !important;
}
.location-search .map-directions .check-in .action-buttons {
  /*  width: 49%; WR5 update */
  display: inline-block;
  margin: 10px 0 0;
  width: 100%;
}
.location-search .map-directions .check-in .action-buttons .btn {
  width: 100%;
}
.location-search .tab-content .map-directions .check-in {
  border-bottom: 1px solid #5f6167 !important;
  padding: 15px 0;
  /* .action-buttons{
                     @media(min-width:1024px){
                            display:none;
                        }
                    a{
                        width:48%;
                    }

                } WR5 update */
}
.location-search .miles a {
  margin-top: 10px;
}
.location-search-title {
  border-bottom: 1px solid #5f6167;
  clear: both;
  display: inline-block;
  width: 100%;
}
.location-search-title .btn {
  display: none!important;
}
.location-search .sort-nav li.active,
.location-search .sort-nav li.active a,
.location-search .sort-nav li.active a:focus,
.location-search .sort-nav li.active a:focus {
  background: #173E70 !important;
  color: #ffffff;
}
.location-search .sort-nav li a:focus,
.location-search .sort-nav li a:hover {
  background: none;
}
@media (min-width: 767px) and (max-width: 992px) {
  .location-search .search-nav {
    width: 100%;
    text-align: left;
  }
  .location-search .maps-container {
    height: 500px;
  }
  .location-search .sort-nav h4 {
    display: inline-block;
    float: left;
  }
  .location-search .collapse {
    display: none !important;
  }
  .location-search .collapse.in {
    display: block !important;
  }
}
@media (min-width: 992px) {
  .location-search .col-block {
    margin-bottom: 0 !important;
  }
  .location-search .maps-container {
    height: 580px;
  }
  .location-search .map-directions {
    width: 100%;
  }
  .location-search .map-directions .check-in .location-details {
    /*max-width: 310px;
                    width: 67%;
                    WR5 Update */
    max-width: 319px;
    width: auto;
  }
  .location-search .map-directions .check-in .location-details .vcard {
    width: 85%;
  }
  .location-search .map-directions .check-in .vcard {
    width: 100%;
  }
  .location-search .map-window .check-in .location-details {
    width: 67%;
  }
  .location-search .search-nav {
    margin-top: 10px;
  }
  .location-search .sort-nav h4 {
    float: left;
    display: inline-block;
  }
  .location-search .sort-nav ul {
    text-align: center;
  }
  .location-search .sort-nav li {
    min-width: 201px;
  }
  .location-search .search-right-column .location-search-results {
    height: 475px;
    overflow: auto;
  }
  .location-search .collapse {
    display: block !important;
  }
}
@media (max-width: 992px) {
  .location-search-title {
    padding: 0;
    margin: 0;
    border-left: 1px solid #5f6167;
    border-right: 1px solid #5f6167;
  }
  .location-search-title .navbar-toggle.collapse.in {
    display: block !important;
  }
  .location-search-title .navbar-toggle.collapse {
    display: none !important;
  }
  .location-search-title .btn:focus {
    box-shadow: none;
    outline: none;
  }
  .location-search-title .btn {
    background-color: #F5F6F7 !important;
    color: #173E70;
    width: 100%;
    border-left: 1px solid #5f6167;
    padding: 0;
    margin: 0;
    min-height: 70px;
    -webkit-border-radius: 0;
    border-radius: 0;
    text-transform: none;
  }
  .location-search-title .btn [class^=icon-] {
    font-size: 2em;
  }
  .location-search-title .btn .sr-only + span {
    vertical-align: middle;
    display: inline-table;
    margin-top: -8px;
    font-style: italic;
    margin-right: 5px;
    text-transform: capitalize;
    font-weight: normal;
  }
  .location-search-title h2 {
    padding: 15px 0;
    margin: 0;
    font-size: 32px;
  }
  .location-search-title div[class^=col] {
    padding-right: 0;
  }
  .location-search-title div[class^=col]:last-child {
    overflow: hidden;
    height: 64px;
    margin-top: 1px;
  }
  .location-search .map-directions .check-in .location-details {
    max-width: 600px;
    width: 84%;
  }
  .location-search .map-directions .check-in .location-details .vcard {
    width: 85%;
  }
  .location-search .map-window .check-in .location-details {
    width: 67%;
  }
  .location-search .miles {
    float: right;
    color: #6C6A6B;
  }
  .location-search .miles .distance {
    color: #6C6A6B;
    font-size: 14px;
  }
}
@media (max-width: 992px) and (max-width: 1024px) {
  .location-search .miles .distance {
    font-size: 10px;
  }
}
@media (max-width: 767px) {
  .locationsearch .location-search-main {
    padding: 0;
  }
  .locationsearch .col-xs-12 {
    padding: 0;
  }
  .location-search .search-nav {
    width: 100%;
    text-align: left;
  }
  .location-search .maps-container {
    height: 500px;
  }
  .location-search .map-directions .check-in .location-details {
    width: 68%;
  }
  .location-search .map-directions .check-in .action-buttons {
    width: 100%;
    float: left;
    margin-top: 10px;
  }
  .location-search .map-directions .check-in .action-buttons .btn {
    width: 100%;
  }
  .location-search .map-directions .check-in .action-buttons a {
    /*width:45% !important; WR5 update*/
    padding-right: 0;
    padding-left: 0;
  }
  .location-search .miles {
    text-align: right;
    margin: 15px 5px 0 0;
    /* WR5 update */
  }
  .location-search .miles a {
    width: 100%;
  }
  .location-search .search-right-column .location-search-results .check-in .col-xs-12 {
    padding: 0 !important;
  }
  .gm-style-iw .map-directions .check-in .location-details {
    width: 63%;
  }
}
@media (max-width: 400px) {
  .location-search .result-container ul {
    width: 100%;
  }
  .location-search .result-container ul li {
    width: 50%;
  }
  .location-search .result-container ul li a {
    width: 100%;
    padding: 7px 0;
    font-size: 13px;
  }
  .location-search .nav-pills > li + li {
    margin-left: 0;
  }
}
@media (max-width: 400px) {
  .location-search .search-nav {
    width: 100%;
    text-align: left;
  }
  .location-search .maps-container {
    height: 500px;
    width: 120%;
    margin: 20px -20px;
  }
}
@media (max-width: 768px) {
  .location-search-header .title,
  .location-search-header .textwithoutpadding {
    display: none;
  }
  .location-search .result-container ul {
    width: 100%;
  }
  .location-search .result-container ul li {
    width: 50%;
    margin-left: 0;
  }
  .location-search .result-container ul li a {
    width: 100%;
    padding: 7px 0;
    font-size: 13px;
  }
}
@media (min-width: 992px) and (max-width: 1024px) {
  #map-container-list {
    display: none;
  }
  .location-search .sort-nav ul {
    text-align: center;
    width: 87.5%;
  }
}
#chkcancelconfrimMsg .modal-body {
  text-align: center;
  padding: 25px 0;
}
#chkcancelconfrimMsg .modal-footer {
  text-align: center;
}
