
/*
.about-you{
  background-color:#e8e8e8;
  padding:30px;
  margin:0;
  form{
     padding:0;
     label{
                    font-weight:normal;
     }
  }
}

*/
.myaddresscomponent.section {
    padding-left: 15px;
}
.my-address{
    h3{
        padding-left:10px;
    }
    p.head-style{
		font-family: "futura-pt-condensed", Helvetica, Arial, sans-serif;
        font-weight: 700;
        font-size: 20px;
        line-height: 1.1;
        color: #585858;
    }
}


@media (min-width:768px) and (max-width:992px){
    .my-address{
        .form-group.col-md-6{
            padding :0;
        }
    }
}

@media(max-width:768px){
	.my-address{
		.col-md-12{
			.col-md-6{
				padding:0;
			}
		}
	}
}