.salondetailspagelocationcomp,.salondetailtitlecomp {
    overflow: hidden;
    clear:both;
    h1{
        @media(max-width:768px){
            display:none;
        }
    }
}

//changes made as part of WR5 for SDP salon offers component.

.sdp-salon-offers{
    @media(max-width:767px){
        .cta-sdp-offers{
            text-transform: uppercase;
            font-weight: 900;
            font-size: 15px;
            .icon-arrow:before{
                font-weight: 900;
                font-size: 14px;
            }
        }
    }
    .salon-offers{
        padding:0;
        >div{
            padding:0;
        }
        .media-left{
            > .media{
                img{
                    margin:0;
                }
            }
        }
    }
    padding-top:10px;
    .localpromotionmessage{
        margin-bottom:0;
    }
    .promotionmessage{
        width:50%;
        float:left;
    }
    .salonoffersparsys1>div{
        width: 49%;
        margin-right: 1%;
         @media(max-width:767px){
            width:100%;
            margin-bottom:15px;
            margin-right: 0;
        }
        float:left;
        clear:none;
        &.cq-editbar-placeholder{
            clear:both !important;
        }
    }
    h2,h3,h4{
        font-size:20px;
        margin-top:0;
        /*min-height:44px;Sudheer- commenting min height*/
    }
    .h4{
        margin:0;
    }
    img{
        @media(min-width:1024px){
            width:127px !important; 
            margin:0 !important;
        }
    }
    .img-text-comp,.salon-offers>div{
        border:none;
    }
    .img-text-comp{
        .img-container{
            text-align:left;
        }
        .imgtxt-box{
            padding:0 0 0 10px !important;
            p.imgtxt-para{
                @media (min-width: 768px){
                	min-height:54px;
                }
            }
        }
    }
    .col-md-6{
        padding-bottom:20px;
        &:last-child{
            padding-bottom:0;
        }
    }&.col-block{
        margin-bottom:0;
    }

    &.sc_offers{
        .img-text-comp{
            .img-container{
                @media (max-width: 767px){
                    width: 41.66666667% !important;
                    float: left !important;
                }
            }
            .imgtxt-box{
                @media (max-width: 767px){
                    width: 58.33333333% !important;
                    float: left !important;
                    padding-left: 10px !important;
                }
            }
        }
    }
}

.salondetails {
    display: inline-block;
    float:left;

    &:before, &:after {
        content: "";
        display: table;
    }

    &:after {
        clear: both;
    }
}

.salon-details {
    .h4{
        font-size:18px;
    }
    &:before, &:after {
        content: "";
        display: table;
    }

    &:after {
        clear: both;
    }
    .h4 a{
        color:#1e3e6e;
    }
    a {
        color: #2e6ca2;
        &:hover{
            text-decoration:none;
        }
    }
    a.btn{
        color:#ffffff;
    }
    ul li,p{
        font-size:13px;
    }
}

@media (min-width: 992px) {
    .salon-details > .col-block > section {
        border-right: 1px solid #5f6167;
        min-height: 270px;
        padding-right:20px;
    }
}

//custom promo text component


.customtextpromo{
    overflow: hidden;
    height: auto;
    clear: both;
    @media (min-width: 992px){
    	padding-top: 20px;
    }
    .custom-promo{
        padding:1px 10px;
        position:relative;
        margin-bottom:10px;
        @media (min-width: 992px){
        	padding: 10px;
        }        
        .cta-to-customPromo{
            text-align:left;
            font-weight: bold;
            text-transform: uppercase;
            a{
                color: #fff;
                span.icon-arrow:before{
                    font-weight: bolder !important;
                    font-size: 14px !important;
                }
            }
            a:hover, a:focus{
                text-decoration: none !important;
            }
        }
        .h3{
            margin-top:10px;
        }
        i{
            font-size:12px;
        }
    }
    .blue-bg{
        background-color:#1e3e6e;
        color:#fff;        
        .h3{
            color: #fff !important;
        }
        .cta-to-customPromo a.cta-arrow{
            color: #fff;
        }
        .btn{
            background-color:#fff !important;
            color:#1e3e6e !important;
            font-weight: bold;
        }
    }
    .teal-bg{
        background: #455F6C;
        color: #fff;
        .cta-to-customPromo a.cta-arrow{
            color: #fff;
            background: url(../../clientlibs/sc-publish-clientlibs/resources/images/Regis-Icons/Arrow-Link-white-bolder.svg) no-repeat center right;
        }
    }
    .red-bg{
        background: #C04444;
        color: #fff;
        .cta-to-customPromo a.cta-arrow{
            color: #fff;
            background: url(../../clientlibs/sc-publish-clientlibs/resources/images/Regis-Icons/Arrow-Link-white-bolder.svg) no-repeat center right;
        }

    }
    .white-bg{
        background: #fff;
        color: #727173;
        .h3{
            color: #1e3e6e;
        }
        .cta-to-customPromo a.cta-arrow{
            color: #1e3e6e;
        }
        .btn{
            background-color:#1e3e6e !important;
            color:#fff !important;
            font-weight: bold;
        }
    }
    .border-white-bg{
        background: #fff;
        border-top: 1px solid #1e3e6e;
        border-bottom: 1px solid #1e3e6e;
        color: #727173;
        .h3{
            color: #1e3e6e;
        }
        .cta-to-customPromo a.cta-arrow{
            color: #1e3e6e;
        }
        .btn{
            background-color:#1e3e6e !important;
            color:#fff !important;
            font-weight: bold;
        }
    }
    .lightgrey-bg{
        background: #f3f3f3;
        color: #727173;
        .cta-to-customPromo a.cta-arrow{
            color: #1e3e6e;
        }
    }
}


#sdpPage{
	display: none;
}

@media screen 
{
  #printSdpSection {
      display: none;
  }
}

#contentTemplatePrintDiv{
    display: none;
}

@media screen 
{
  #textandimage_print {
      display: none;
  }
}

@media print {
  body * {
      display: none;
        -webkit-print-color-adjust: exact;
    //visibility:hidden;
  }

    a.btn-primary,a.cta-arrow{
		display: none !important;
    }

 span[itemtype]{ 
		display: none;
  }
    a[href]:after{
		content : none !important;
    }

  #printSdpSection, #printSdpSection *, #textandimage_print, #textandimage_print * {
      display: block;
    //visibility:visible;
  }
  .header_logo{
  	float: left !important;
  	margin-bottom: 20px !important;
  	width: 50% !important;
  }
  .title-component{
  		clear: both !important;
        float: none !important;
        .main-title{
            color: #1e3e6e !important;        
        }
        &.borderTop{
			border-top: 1px solid #c8c8c8 !important;
        }
        &.borderBottom{
			border-bottom: 1px solid #c8c8c8 !important;
        }
        &.border{
			border: 1px solid #c8c8c8 !important;
			border-width: 1px 0 !important;
        }    
    }
    .textandimage{
        margin-bottom: 10px !important;
        page-break-inside: avoid !important;
        .img-container{
        	width: 33.333% !important;
            float: left !important;
            padding-top: 5px !important;
            padding-left: 5px !important;
            &.pull-right{
				float: right !important;
                padding-left: 0 !important;
                padding-right: 5px !important;
            }
        }
        .imgtxt-box{
        	width: 66.666% !important;
            float: left !important;
            .imgtxt-heading,.imgtxt-subheading{
				color: #1e3e6e !important; 
            }
        }                
        .imgtxt-url{
			a{
				display: none !important;
			}
        }
        .img-text-comp{
        	b,strong,i,em{
                display: inline !important;                    
            }
            &.theme-blue,&.theme-dark{
				color: #fff !important;
                .imgtxt-heading,.imgtxt-subheading{
					color: #fff !important;
                }                
            }
            &.theme-blue{
				background: #1e3e6e !important;
				b,strong,i,em{
					color: #fff !important;                    
				}
            }
            &.theme-dark{
				background: #59595C !important;
				b,strong,i,em{
					color: #fff !important;                    
				}
            }
            &.theme-brand{
				background: #EEEFF1 !important;
                .imgtxt-subheading,p{
					color: #6c6d6e !important;
                }
                b,strong,i,em{
					color: #6c6d6e !important;
				}
            }
        }        
    }

  #printSdpSection {
    position:absolute;
    left:0;
    top:0;
  }

    .row {
  margin-left: -10px;
  margin-right: -11px;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 11px;
  padding-right: 10px;
}

    [class*="col-sm-"], [class*="col-xs-"],  [class*="col-md-"], [class*="col-lg-"]{
        float: left;
    }

.col-md-12, .col-lg-12, .col-sm-12, .col-xs-12 { 
	width:100% !important;
}

.col-md-11, .col-lg-11,.col-sm-11, .col-xs-11 { 
	width:91.66666667% !important;
}

.col-md-10, .col-lg-10,.col-sm-10, .col-xs-10 { 
	width:83.33333333% !important;
}

.col-md-9, .col-lg-9,.col-sm-9, .col-xs-9 { 
	width:75% !important;
}

.col-md-8, .col-lg-8,.col-sm-8, .col-xs-8 { 
	width:66.66666667% !important;
}

.col-md-7, .col-lg-7, .col-sm-7, .col-xs-7 {  
	width:58.33333333% !important;
}

.col-md-6, .col-lg-6, .col-sm-6, .col-xs-6 { 
	width:50% !important;
}

.col-md-5, .col-lg-5, .col-sm-5, .col-xs-5 { 
	width:41.66666667% !important;
}

.col-md-4, .col-lg-4, .col-sm-4, .col-xs-4 { 
	width:33.33333333% !important;
}

.col-lg-3,.col-md-3,.col-sm-3, .col-xs-3 { 
	width:25% !important;
}

.col-md-2,.col-lg-2,.col-sm-2, .col-xs-2 { 
	width:16.66666667% !important;
}

.col-md-1,.col-lg-1,.col-sm-1, .col-xs-1 { 
	width:8.33333333% !important;
}
    .salondetailtitlecomp{
        .salontitle{
            .salonsmalltxt{
				color: #6a6a6a !important;
            }
            .salonlrgtxt{
				color: #1e3e6e !important;
                font-size: 20px !important;
            }
        }
    }

    .salondetailspagelocationcomp{
        .wait-time{
			display: none !important;
        }
        .vcard{
            .store-title{
				display: none !important;
            }
            .street-address{
                span{
					display: inline !important;
                }
            }
        }
    }

    .salon-offers {
        h4{
			color: #1e3e6e !important;
        }
        .promoText{
            p{
				color: #5f6167 !important;
            }
        }
	
	& > div{
		border: 1px solid #5f6167;
	}
    .media-left {
        & > .details {
           padding:0ex 1em;
		   header{
			color:#1e3e6e;
		   }
            section{
                p{
					min-height:55px;
                }
            }
        }

        & > .media {
			padding:0;
            img {
                width: 127px !important;
                margin:12px 0;
            }
        }
    }

    .media:first-child {
        margin-top: 0;
    }
}

    .custom-promo{
		page-break-inside: avoid !important;
    }

    .salondetailstitle{
        .main-title{
			color: #5f6167 !important;
        }
    }

    .salon-details{
        .h4{
			color: #1e3e6e !important;
        }
    }
    .skinny-text-component{
        page-break-inside: avoid !important;
	a{
		&:hover,&:focus{
			text-decoration: none;
		}
	}
	.skinny-msg{
		font-style: italic;
        p{
            margin-bottom: 0;
        }
	}
	.skinny-details{
		font-weight: bold;
	}
	.skinny-with-img{
		.skinny-img{
			@media screen and (max-width: 991px){
				width: 100%;
			}
			@media (min-width: 992px){
				    height: 84px !important;
    				float: right !important;
			}
		}
		.skinny-title{
			//font-family: "open-sans";
			@media screen and (max-width: 991px){
				padding-top: 24px;
				padding-bottom: 12px;
			}
		}
		.skinny-details{
			@media screen and (max-width: 991px){
				padding-top: 12px;
				padding-bottom: 24px;
			}
		}
		.skinny-title,.skinny-msg{
			.h3, h3{
				margin: 0;
                font-size: 22px;
				@media screen and (max-width: 991px){
					font-size: 1.2em;
				}
			}
		}
		.skinny-msg{
			.h3, h3{
				//font-family: "merriweather";
				@media (max-width: 767px){
					font-size: 16px;
				}
				@media (min-width: 992px){
					padding-left: 45px;
				}
			}
		}
		.skinny-details{
			@media (min-width: 992px){
                text-align: right !important; 
            }
		}
		.display-table{
            @media(max-width: 991px){
				display: table !important;
                table-layout: fixed !important;
                width: 100% !important;
            }
        }
        .table-cell{
			@media(max-width: 991px){
				display: table-cell !important;
                vertical-align: middle !important;
                float: none !important;
            }
            &:first-child{
				@media(max-width: 767px){
					padding: 0;
                }
            }
        }
	}
	.skinny-without-img{
		padding-top: 20px;
		padding-bottom: 20px;
		@media screen and (max-width: 991px){
			text-align: center !important;
		}
		.skinny-title{
			.h3, h3{
				margin: 0;
				font-size: 28px;
				font-weight: bold;
				@media screen and (max-width: 767px){
					font-size: 24px;
				}
				@media (min-width: 992px){
					text-align: center !important;
	            }
			}
		}
		.skinny-msg{
			font-size: 16px;
			@media screen and (max-width: 991px){
				padding-top: 12px;
				padding-bottom: 12px;
			}
			.h3, h3{
				margin: 0;
                font-size: 24px;
			}
		}
	}

    .icon-arrow:before{
		font-size: 14px;
        font-weight: bolder;
    }
	&.blue-bg{
		background: #1e3e6e !important;
		color: #fff !important;
        .skinny-title{
            .h3, h3{
                color: #fff !important;
            }
        }
        .skinny-msg{
            p{
                color: #fff !important;
            }
        }
        .skinny-details{
            a{
                color: #fff !important;
                text-align: right !important;
                float: right !important;
                text-transform: uppercase;
                .icon-arrow{
                    color: #fff !important;
                    float: right !important;  
                    position: relative;
                    top: 4px !important;     
                }
            }
        }
	}
	&.white-bg{
		background: #fff !important;
		color: #1e3e6e !important;
        .skinny-title{
            .h3, h3{
                color: #5f6167 !important;
            }
        }
        .skinny-msg{
            p{
                color: #1e3e6e !important;
            }
        }
        .skinny-details{
            a{
                color: #1e3e6e !important;
                text-align: right !important;
                float: right !important; 
                text-transform: uppercase;
                .icon-arrow{
                    color: #1e3e6e !important;
                    float: right !important;   
                    position: relative;
                    top: 4px !important;
                }
            }
        }
	}
	&.border-white-bg{
		background: #fff !important;
		border-top: 1px solid #5f6167 !important;
		border-bottom: 1px solid #5f6167 !important;
		color: #1e3e6e !important;
        .skinny-title{
            .h3, h3{
                color: #5f6167 !important;
            }
        }
        .skinny-msg{
            p{
                color: #1e3e6e !important;
                text-align: left !important;
            }
        }
        .skinny-details{
            a{
                color: #1e3e6e !important;
                text-align: right !important;
                float: right !important;
                text-transform: uppercase;
                .icon-arrow{
                    color: #1e3e6e !important;
                    float: right !important;
                    position: relative;
                    top: 4px !important;
                }
            }
        }
	}

    .displayTable{
        @media(min-width: 992px){
            display: table !important;
            table-layout: fixed !important;
            width: 100% !important;
        }
    }
    .tableCell{
        @media(min-width: 992px){
            display: table-cell !important;
            vertical-align: middle !important;
            float: none !important;
        }
    }
    &.medium-width{
        .skinny-with-img{
            .skinny-img{
                height: 104px !important;
                float: right !important;
            }
            .skinny-details{
				text-align: left;
            }
            .skinny-details{
                a{
                    text-align: left !important;
                    float: left !important; 
                }
            }
        }
        .skinny-without-img{
			padding-top: 10px;
            padding-bottom: 10px;
        }
    }
        
    &.full-width{
        width: 100% !important;
    }
}

    .acs-commons-resp-colctrl-col-50{
        .skinnycomponent{
            .skinny-text-component{
                &.medium-width{
                    width: 100%; 
                }
            }
        }
    }

}