.specialOffers-container{
	margin-bottom: 20px;
	.hero-image{
		position: relative;
		img{
			width: 100%;
			height: 350px;
		}
		.offers-container{
			@media (max-width: 768px){
				padding-top: 12px;

				.details{
					padding-top: 24px;
					padding-bottom: 30px;
				}
			}
			@media (min-width: 768px){
				position: absolute;
				right: 60px;
				top: 60px;
				width: 400px;
			}
			.title1{
				font-size: 48px;
				font-weight: normal;
				color:#1e3e6e;
				margin-bottom: -20px;
				@media (max-width: 767px){
					font-size: 20px;
					display: inline;
					font-weight: normal;
				}
			}
			.title2{
				font-size: 48px;
				font-weight: lighter;
				@media (max-width: 767px){
					font-size: 20px;
					
				}
			}
			.description{
				padding: 24px 0;
			}
            .cta-arrow{
                span.icon-arrow{
                    &:before {
                        font-size:14px;
                        font-weight: bolder;
                    }
                }
            }
            a.btn-default {
                        background: #1e3e6e;
                        color: #fff;
                        border-color: #1e3e6e;
							}


		}
	}
	.products-container{
		.divider{
			@media (min-width: 768px){
				border-right: 3px solid #f3f3f3;
				border-bottom: none;
			}
		}
		@media (min-width: 768px){
			margin: 48px 0;
		}
		.image-container{
            img{
                width:150px;
                height: auto;
            }
			.title{
				margin: 20px 0 0;
                font-weight:500;
				.title1{
					color: #1e3e6e;
					font-size: 36px;
					line-height: 50px;
				}
				.title2{
					color: #727173;
					font-size: 30px;
					line-height: 40px;
				}
			}
			.description{
				margin: 36px 0;
			}

		}
        .cta-arrow{
                span.icon-arrow{
                    &:before {
                        font-size:14px;
                        font-weight: bolder;
                    }
                }
            }
         a.btn-default {
                        background: #1e3e6e;
                        color: #fff;
                        border-color: #1e3e6e;
							}

	}
	.offers{
		padding: 25px 0;
		border: 4px solid #5f6167;
		border-width: 4px 0;
		text-align: center;
		@media(min-width: 768px){
			width: 65%;
			margin: auto;
		}
		.title{
			margin: 0;
            font-weight:500;
			.title1{
				line-height: 50px;
				color: #1e3e6e;
			}
		}
		.description{
			margin: 20px 0;
		}
	}
	.offers-btn{
		@media (max-width:767px){
			margin-top: 12px;
			margin-bottom: 30px;
			width: 100%;
		}
		
	}
     .cta-arrow{
                span.icon-arrow{
                    &:before {
                        font-size:14px;
                        font-weight: bolder;
                    }
                }
            }
     a.btn-default {
                        background: #1e3e6e;
                        color: #fff;
                        border-color: #1e3e6e;
							}

	.display-table{
		@media(min-width: 768px){
			display: table;
			width: 100%;
			table-layout: fixed;
		}
		.table-cell{
			@media(min-width: 768px){
				display: table-cell;
				vertical-align: middle;
				float: none;
			}
             &.divider{
                @media(max-width: 768px){
				border-bottom:none;
				}
            }
		}
	}
	.theme-default{
			background: #f3f3f3;
			color: #727173;
			position: relative;
			min-height: 400px;
			margin-bottom: 48px;
			margin-top: 30px;
			.style-image{
					padding-top: 24px;
            		  height: 150px;
                        width: 150px;
                        position: relative;
                        top: -5px;
				}
			.offer-text-content{
				padding-top: 80px;
				text-align: center;
            	height: 296px;
            	position: relative;
                &.withImage{
					padding-top: 30px;
					height: 193px;
					img{
						width:150px;
						height: auto;
					}
					.title{
						margin: 20px 0 0;
						.title1{
							color: #1e3e6e;
							font-size: 36px;

						}
						.title2{
							color: #5f6167;
							font-size: 30px;

						}
					}
				}
				.title{
					margin: 0 0 48px;
					font-size: 2.6em;
					.title1{
                    	color: #1e3e6e;
						display: block;
						font-weight: normal;
						padding: 0 0 10px 0;
					}
					.title2{
						display: block;
						font-size: 30px;
						font-weight: lighter;
						padding: 0 0 10px 0;
					}
				}
             .description{
                   	 position: absolute;
                        bottom: 0;
                		left:10px;
                		right: 10px;

                }

               /* h1{
                        margin: 0 0 48px;
                    font-family: "merriweather";

                        &.smallTxt{
                            font-size:20px;
                        }
                        &.mediumTxt{
                            font-size:30px;
                        }
                        &.largeTxt{
                            font-size:40px;
                        }

                    }*/
			}

			.next-btn{
				position: absolute;
				bottom: 35px;
				left: 38%;


		}
		}
}

//Authorable Offers
.specialOffersHCP-container{
	margin-top: 10px;
    margin-bottom: 10px;


	.sp-title{
		margin: 0 0 36px;
	}
	.offer-title{
		margin: 0 0 20px;
	}
	.bottomMargin{
		margin-bottom: 48px;
	}
	.offer-container{
		min-height: 400px;
		&>.wrap-offer{
            width: 33.33333333%;
			float: left;
            clear: none;
            padding-left: 11px;
            padding-right: 10px;
            margin-bottom: 20px;
            @media (max-width: 767px){
				width: 100%;
            }
        }

		.offer-wrapper{
			position: relative;
			.style-image{
				height: 400px;
				width: 100%;

			}
			.offer-text-content{
				position: absolute;
				left: 24px;
				top: 20%;
				width: 50%;
				color: #fff;
				.title{
					margin: 0 0 24px;
                    padding: 0;

					.title1{
						display: block;
						font-weight: normal;
						font-size: 30px;
                        line-height: 35px;
					}
					.title2{
						display: block;
						font-size: 30px;
						font-weight: lighter;
                        line-height: 35px;
                        @media (min-width: 768px) and (max-width: 991px){
							font-size: 25px;
                            line-height: 27px;
                        }
					}
				}
				.description{
					min-height: 62px;
                }
			}
			.next-btn{
				display: inline-block;
                margin-top: 10px;
                font-weight: bold;

			}
		}
		.theme-dark{
			background: #404041;
			color: #fff;
			height: 400px;
			position: relative;
			top:0;
			.style-image{
					padding-top: 14px;
					width: 145px;
				}
			.offer-text-content{
				padding-top: 105px;
				text-align: center;
                &.withImage{
					padding-top: 3px;
                    .title{
                        margin: 0 0 10px;
                        min-height: 105px;
                    }
                }
				.title{
					margin: 0 0 32px;
                    padding: 0;

                    min-height: 140px;
					.title1{
						display: block;
						font-weight: normal;
						font-size: 30px;
                        line-height: 35px;
					}
					.title2{
						display: block;
						font-size: 30px;
						font-weight: lighter;
                        line-height: 35px;
                        @media (min-width: 768px) and (max-width: 991px){
							font-size: 25px;
                            line-height: 27px;
                        }
					}
				}
				.description{
					min-height: 62px;
                }
			}
			.next-btn{
				display: inline-block;
                margin-top: 10px;
                font-weight: bold;
                          span.icon-arrow{
                    &:before{
                        font-size: 14px;
                        font-weight: bolder;
                    }
                }   
                &:hover{
                    color: #1e3e6e;
                    text-decoration: none;
                }
			}
		}
		.theme-default{
			background: #f3f3f3;
			color: #4c4d4f;
			position: relative;
			height: 400px;
            border: none;
			&.brandWidth{
				width: 480px;
				@media (max-width: 767px){
						width: 299px;
					}
				}
			.style-image{
					padding-top: 14px;
					width: 145px;
				}
			.offer-text-content{
				padding-top: 105px;
				text-align: center;
                &.withImage{
					padding-top: 3px;
                    .title{
                        margin: 0 0 10px;
                        min-height: 105px;
                    }
				}
				.title{
					margin: 0 0 32px;
                    padding: 0;
                    min-height: 140px;
					.title1{
						display: block;
						font-weight: normal;
						font-size: 30px;
                        line-height: 35px;
					}
					.title2{
						display: block;
						font-size: 30px;
						font-weight: lighter;
                        line-height: 35px;
                        @media (min-width: 768px) and (max-width: 991px){
							font-size: 25px;
                            line-height: 27px;
                        }
					}
				}
                .description{
					min-height: 62px;
                }
			}
			.next-btn{
				display: inline-block;
                margin-top: 10px;
                font-weight: bold;
			}
            a{
				text-decoration: none;
                &:hover{
					text-decoration: underline;
                }
            }
		}
        .theme-white{
            background: #fff;
            border: 1px solid #c8c8c8;
			color: #4c4d4f;
			position: relative;
			height: 400px;
			&.brandWidth{
				width: 480px;
				@media (max-width: 767px){
						width: 299px;
					}
				}
			.style-image{
					padding-top: 14px;
					width: 145px;
				}
			.offer-text-content{
				padding-top: 105px;
				text-align: center;
                &.withImage{
					padding-top: 3px;
                    .title{
                        margin: 0 0 10px;
                        min-height: 105px;
                    }
				}
				.title{
					margin: 0 0 32px;
                    padding: 0;
                    min-height: 140px;
					.title1{
						display: block;
						font-weight: normal;
						font-size: 30px;
                        line-height: 35px;
					}
					.title2{
						display: block;
						font-size: 30px;
						font-weight: lighter;
                        line-height: 35px;
                        @media (min-width: 768px) and (max-width: 991px){
							font-size: 25px;
                            line-height: 27px;
                        }
					}
				}
                .description{
					min-height: 62px;
                }
			}
			.next-btn{
				display: inline-block;
                margin-top: 10px;
                font-weight: bold;
			}
            a{
				text-decoration: none;
                &:hover{
					text-decoration: underline;
                }
            }
		}
	}
.specialOffer-more{
		margin-top:20px;
	}
}
.specialOffersHCP-container{
	margin-top: 10px;
    margin-bottom: 10px;


	.sp-title{
		margin: 0 0 36px;
	}
	.offer-title{
		margin: 0 0 20px;
	}
	.bottomMargin{
		margin-bottom: 48px;
	}
	.offer-container{
		min-height: 400px;
		&>.wrap-offer{
            width: 33.33333333%;
			float: left;
            clear: none;
            padding-left: 11px;
            padding-right: 10px;
            margin-bottom: 20px;
            @media (max-width: 767px){
				width: 100%;
            }
        }

		.offer-wrapper{
			position: relative;
			.style-image{
				height: 400px;
				width: 100%;

			}
			.offer-text-content{
				position: absolute;
				left: 24px;
				top: 20%;
				width: 50%;
				color: #fff;
				.title{
					margin: 0 0 24px;
                    padding: 0;
					.title1{
						display: block;
						font-weight: normal;
						font-size: 36px;
                        line-height: 38px;
                        min-height: 76px;
                        @media (min-width: 768px) and (max-width: 991px){
							font-size: 30px;
                            line-height: 32px;
                            min-height: 64px;
                        }
					}
					.title2{
						display: block;
						font-size: 30px;
						font-weight: lighter;
                        line-height: 32px;
                        @media (min-width: 768px) and (max-width: 991px){
							font-size: 25px;
                            line-height: 27px;
                            min-height: 27px;
                        }
					}
				}
				.description{
					min-height: 66px;
                }
			}
			.next-btn{
				display: inline-block;
                margin-top: 10px;
                font-weight: bold;
                .icon-arrow:before{
                    font-size: 14px;
                    font-weight: bold;
                    color: #1e3e6e;
                }
			}
		}
		.theme-dark{
			background: #404041;
			color: #fff;
			height: 400px;
			position: relative;
			top:0;
			.style-image{
					padding-top: 14px;
					width: 145px;
				}
			.offer-text-content{
				padding-top: 96px;
				text-align: center;
                &.withImage{
					padding-top: 3px;
                    .title{
                        margin: 0 0 10px;
                    }
                }
				.title{
					margin: 0 0 32px;
                    padding: 0;
					.title1{
						display: block;
						font-weight: normal;
						font-size: 36px;
                        line-height: 38px;
                        min-height: 76px;
                        @media (min-width: 768px) and (max-width: 991px){
							font-size: 30px;
                            line-height: 32px;
                            min-height: 64px;
                        }
					}
					.title2{
						display: block;
						font-size: 30px;
						font-weight: lighter;
                        line-height: 32px;
                        min-height: 32px;
                        @media (min-width: 768px) and (max-width: 991px){
							font-size: 25px;
                            line-height: 27px;
                            min-height: 27px;
                        }
					}
				}
                .description{
					min-height: 66px;
                }
			}
			.next-btn{
				display: inline-block;
                margin-top: 10px;
                font-weight: bold;
                .icon-arrow:before{
                    font-size: 14px;
                    font-weight: bold;
                    color: #fff;
                }
			}
		}
		.theme-default{
			background: #f3f3f3;
            color: #5f6167;
			position: relative;
			height: 400px;
			&.brandWidth{
				width: 480px;
				@media (max-width: 767px){
						width: 299px;
					}
				}
			.style-image{
					padding-top: 14px;
					width: 145px;
				}
			.offer-text-content{
				padding-top: 96px;
				text-align: center;
                &.withImage{
					padding-top: 3px;
                    .title{
                        margin: 0 0 10px;
                    }
				}
				.title{
					margin: 0 0 32px;
                    padding: 0;
					.title1{
						display: block;
						font-weight: normal;
						font-size: 36px;
                        line-height: 38px;
                        min-height: 76px;
                        @media (min-width: 768px) and (max-width: 991px){
							font-size: 30px;
                            line-height: 32px;
                            min-height: 64px;
                        }
					}
					.title2{
						display: block;
						font-size: 30px;
						font-weight: lighter;
                        line-height: 32px;
                        min-height: 32px;
                        @media (min-width: 768px) and (max-width: 991px){
							font-size: 25px;
                            line-height: 27px;
                            min-height: 27px;
                        }
					}
				}
                .description{
					min-height: 66px;
                }
			}
			.next-btn{
				display: inline-block;
                margin-top: 10px;
                font-weight: bold;
                .icon-arrow:before{
                    font-size: 14px;
                    font-weight: bold;
                    color: #1e3e6e;
                }
			}
		}
        .theme-white{
            background: #fff;
            border: 1px solid #c8c8c8;
            color: #5f6167;
			position: relative;
			height: 400px;
			&.brandWidth{
				width: 480px;
				@media (max-width: 767px){
						width: 299px;
					}
				}
			.style-image{
					padding-top: 14px;
					width: 145px;
				}
			.offer-text-content{
				padding-top: 96px;
				text-align: center;
                &.withImage{
					padding-top: 3px;
                    .title{
                        margin: 0 0 10px;
                    }
				}
				.title{
					margin: 0 0 32px;
                    padding: 0;
					.title1{
						display: block;
						font-weight: normal;
						font-size: 36px;
                        line-height: 38px;
                        min-height: 76px;
                        @media (min-width: 768px) and (max-width: 991px){
							font-size: 30px;
                            line-height: 32px;
                            min-height: 64px;
                        }
					}
					.title2{
						display: block;
						font-size: 30px;
						font-weight: lighter;
                        line-height: 32px;
                        min-height: 32px;
                        @media (min-width: 768px) and (max-width: 991px){
							font-size: 25px;
                            line-height: 27px;
                            min-height: 27px;
                        }
					}
				}
                .description{
					min-height: 66px;
                }
			}
			.next-btn{
				display: inline-block;
                margin-top: 10px;
                font-weight: bold;
                .icon-arrow:before{
                    font-size: 14px;
                    font-weight: bold;
                    color: #1e3e6e;
                }
			}
		}
	}
.specialOffer-more{
		margin-top:20px;
	}
}
