<?xml version="1.0" encoding="UTF-8"?>
<taglib  xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-jsptaglibrary_2_0.xsd"
         version="2.0">
    <tlib-version>1.0</tlib-version>
    <short-name>thebso</short-name>
    <uri>http://www.regiscorp.com/taglibs/thebsoTags</uri>
     <tag>
        <name>headerconfiguration</name>
        <tag-class>com.regis.thebso.tags.HeaderConfigurationTag</tag-class>
        <body-content>scriptless</body-content>
        <variable>
            <name-given>headerconfiguration</name-given>
            <variable-class>com.regis.thebso.tags.HeaderConfigurationTag</variable-class>
        </variable>
    </tag>
    <tag>
        <name>footerconfiguration</name>
        <tag-class>com.regis.thebso.tags.FooterConfigurationTag</tag-class>
        <body-content>scriptless</body-content>
        <variable>
            <name-given>footerconfiguration</name-given>
            <variable-class>com.regis.thebso.tags.FooterConfigurationTag</variable-class>
        </variable>
    </tag>    
</taglib>

