.advice-landing-illustratedbeauty-container{
    margin-bottom: 72px;
    .border-bottom{
        border-bottom: 1px solid #dcdcdc;
        margin-bottom: 60px;
        width:80%;
        margin-left:10%;
        .trends{
            font-size:48px;
            font-weight:lighter;
            font-style: italic;
        }
        .text2-product{
            margin-top:36px;
            margin-bottom:36px;
        }
    }
    .img{
        width:560px;
        height:290px;
    }
    .img2{
        width:351px;
        height:184px;
        margin-top:24px;
        margin-bottm:36px;
    }
    .btn1{
        width:100%;
    }
    
}