.advice-landing-getthelook-container{
    margin-bottom: 48px;
    .border-bottom{
        border-bottom: 1px solid #dcdcdc;
        margin-top:48px;
        margin-bottom: 36px;
        
    }
    .btn{
        width:100%;
    }
    
}