.advice-article2-container{
	.border-bottom{
		border-bottom: 1px solid #dcdcdc;
		margin-bottom: 36px;
	}

	.second-row-wrapper{

		margin-left: 21%;
		margin-right:15%;

		p{
			margin: 24px 0;
			padding-left: 15px;
			padding-right:40px;
		}
		.share-icons{
			height: 40px;
			width:200px;
			margin: 36px 0 48px 0;
			margin-left: 27%;
	        li{
	            display:inline;
	            
	        }
	        li a{
	            min-width:20px;
	            min-height:20px;
	            opacity:1;
	            color: grey;
	             padding: 12px;

	        }

	    }
		@media (max-width: 767px){
			img{
				width: 100%;
			}
		}
	}
	.third-row-wrapper{
		margin-left:16%;

		.left-area{
			margin-right: 12px;
			width:228px;
		}
		.right-area{
			padding-top: 3%;
			width: 80%;
			
		}

	}
}