.advice-landing-elements-container{
    
    margin-top:48px;
    margin-bottom:156px;
.table_images{
        
       display:table;
        .images{
            display:table-cell;
            vertical-align: middle;
        }
        .img{
          width:200px;
            height:200px;  
            border:0;
            }
    .img1{
        width:60px;
        height:60px;
        
    }
    .plus{
        width:32px;
        height:32px;
    }
    .plus1{
        width:16px;
        height:16px;
    }
    }    
    
    .title{
        margin-top:72px;
        margin-bottom: 48px;
    }

}