.advice-article-container{

	.title-area.text-center{
		width: 31%;
    	margin-left: 33%;

    	h1{
    		margin-top: 24px;
    		padding-bottom: 36px;
    	}
	}

	.left-area {
		float: left;
        @media(min-width:992px){
            width: 23%;
        }
		

		.text1-product{
			font: semplitica;
			font-size: 16px;
		}

		.text2-product{
			padding-top: 24px;
			padding-bottom: 48px;
		}

		.share-icons{
			padding-left: 0;
             @media(max-width:768px){
                    margin-left: 33%;
                }
			li{
	            display:inline;
	            float: left;
	            
	        }
	        li a{
	            min-width:20px;
	            min-height:20px;
	         	padding-right: 12px
               
	        }
		}
        .head{
            .text1-product1{
                text-align: center;
                
            }
        }
	}

	.hotspot-container{
		float: right;
        .product-btn{
            @media(max-width:768px){
                
            }
        }
	}
    .prev{
        margin-top:500px;
    }
    
}