.advice-landing-essentials-container{
    margin-top:84px;
    margin-bottom: :48px;
    
    .img1{
        position:relative;
        top:0;
        left:0;
        
    }
    .top{
        position:absolute;
        background-color: white;
        top:76px;
        left:245px;
        width:400px;
        height:338px;
        padding:10px;
    }
    .btn{
        margin-top:36px;
    }
    .border-bottom{
        border:1px solid #dcdcdc;
        margin-top:20px;
        margin-botom:24px;
    }
    .img2{
        width:100%;
        height:375px;
    }
    .text1-product{
        margin-top:24px;
        margin-bottom:24px;
    }
    .btn1{
        width:100%;
    }
}
