#myCarousel{
    margin-top: 20px;
}
#myCarousel .nav a small {
    display:block;
}
#myCarousel .nav {
    background:#eee;
}
#myCarousel .nav a {
    border-radius:0px;
}

#myCarousel .carousel-caption{
    right: 10%;
    position: absolute;
    left: 60%;
    top: 10%;
    text-align: right;
}

#myCarousel .carousel-caption.left{
    top: 10%;
    left: 10%;
    right: 60%;
    position: absolute;
    text-align: left;
}
#myCarousel .carousel-caption h1,
#myCarousel .carousel-caption .h1{
    margin: 0;
    font-size: 36px;
}
#myCarousel .carousel-caption h1 .title1,
#myCarousel .carousel-caption .h1 .title1{
    font-style: italic;
    text-align: center;
}
#myCarousel .carousel-caption .title1,
#myCarousel .carousel-caption .title2{
    display: block;
}
#myCarousel .carousel-caption .products-btn{
    background: transparent;
    color: #FFF;
    width: 100%;
    font-weight: bold;
    border: 1px solid #FFF;
}
#myCarousel .carousel-caption .products-btn:active,
#myCarousel .carousel-caption .products-btn:focus{
    box-shadow: none;
    outline: none;
}
#myCarousel ul.nav-pills.nav-justified>li.active a{
    background: rgba(114,113,115,1);  
    color: #FFF;
}

#myCarousel ul.nav-pills.nav-justified>li a.nav_li{
    color: #000;
}

#myCarousel ul.nav-pills.nav-justified>li.active a.nav_li{
    color: #FFF;
}

#myCarousel ul.nav-pills.nav-justified>li.active { 
    background: rgba(114,113,115,1);
}

#myCarousel .nav.nav-pills li:nth-child(1) a{
    background: rgba(114,113,115,1);  
    color: #000;
}
#myCarousel .nav.nav-pills li:nth-child(2) a{
    background: rgba(114,113,115,0.4);
    color: #000;  
}
#myCarousel .nav.nav-pills li:nth-child(3) a{
    background: rgba(114,113,115,0.3);
    color: #000; 
}
#myCarousel .nav.nav-pills li:nth-child(4) a{
    background: rgba(114,113,115,0.2);
    color: #000;  
}

/*.nav-pills>li[data-slide-to="0"] { 
    background-color: #727173;
    opacity: 1;
}
.nav-pills>li[data-slide-to="1"] { 
   background-color: #727173;
   opacity: 0.4;
}
.nav-pills>li[data-slide-to="2"] { 
    background-color: #727173;
    opacity: 0.3;
}
.nav-pills>li[data-slide-to="3"] { 
   background-color: #727173;
   opacity: 0.2;
}*/

@media (max-width:767px){
    .nav-justified > li{
        float: left;
        margin-right: 5px;
    }
    #myCarousel ul.nav-pills.nav-justified>li.active{
        width: 10px;
        height: 10px;
        border-radius: 50%;
    }
    #myCarousel .nav a{
        width: 10px;
        height: 10px;
        padding: 0;
        border-radius: 50%;
        background-color: #f00;
    }
    #myCarousel .nav li.active a{
        background-color: blue;
    }

	#myCarousel .carousel-caption{
        right: 3%;
        position: absolute;
        left: 46%;
        text-align: right;
        top:20%;
    }

    #myCarousel .carousel-caption .products-btn{
		width:auto;
        padding:10px;
        min-height:auto;
    }

     #myCarousel .nav {
        background:none;
        position: relative;
        top: -30px;
        left: 38%;
    }
    #myCarousel .carousel-caption .description{
        display: none;
    }
    #myCarousel .carousel-caption h1,
    #myCarousel .carousel-caption .h1{
        font-size: 20px;
    }
}

@media (min-width: 768px){
    #myCarousel ul.nav-pills.nav-justified>li {
        width: 1%;
    }
    #myCarousel ul.nav-pills.nav-justified>li.active{
        width:6%;
    }
}
@media (min-width: 768px) and (max-width: 991px){
    #myCarousel .carousel-caption .description{
        margin: 1em 0;
    }
}
@media (min-width: 992px){
    #myCarousel .carousel-caption .description{
        margin: 1.5em 0;
    }
}