.cocktail-mobile2-container{
    margin-top:24px;
    .border-bottom{
        border-bottom:2px solid #dbdcdc;
        width:90%;
        margin-left:5%;
        text-align:center;
        margin-top: 20px;
        margin-bottom:30px;
    }
        .head{
        margin-top:10px;
    }
    
    .title-area{
        
    
        p{
            margin-top: 72px;
            margin-bottom:20px;
        }
    }
    .share-icons{
        text-align: center;
        margin-bottom: 30px;
        margin-left:-35px;

			li{
	            display:inline-block;
	            
	            
	        }
	        li a{
	            min-width:20px;
	            min-height:20px;
	         	padding-right: 12px;

	        }
    }
    .imagestab{
        margin-top:30px;
        margin-bottom: 36px;
    }
    .img1{
        width:138px;
        height:138px;
        
    }
    .plus1{
        margin-top:12px;
        margin-bottom:12px;
    }

   
    .text1-product{
			font: semplitica;
			font-size: 14px;
            font-weight: bolder;
        @media(max-width:768px){
        margin-top: 12px;
        }
        margin-bottom: 36px;
		}
    .text2-product{
            font-size: 12px;
            font-weight: lighter;
			margin-bottom: 40px;
        
		}
    .table_images{
                display:table;
        
    .images{
          display:table-cell;
        vertical-align: middle;
        
        }
        .img{
          width:200px;
            height:200px;   
            border:0;
            
        }
    

    
    }
      
    .btn{
        width:100%;
        
    }
    
    
}