.contact-us-container select {
  margin: 10px 0;
  width: 311px;
  height: 40px;
  border: 1px solid #f3f3f3;
}
@media (max-width: 768px) {
  .contact-us-container select {
    width: 100%;
  }
}
.contact-us-container .body-2 {
  font-family: 'open-sans';
  font-size: 14px;
  font-weight: light;
}
@media (min-device-width: 768px) {
  .contact-us-container .contact-us-title {
    padding-bottom: 66px;
  }
}
.contact-us-container .contact-us-title .title {
  font-family: 'semplitica';
  font-size: 48px;
  font-weight: lighter;
  font-style: italic;
}
.contact-us-container .contact-us-form .form-question {
  font-family: 'semplitica medium';
  font-size: 24px;
  color: #404041;
}
.contact-us-container .contact-us-form .what-salon {
  font-family: 'semplitica light';
  font-size: 18px;
}
@media (min-device-width: 992px) {
  .contact-us-container .contact-us-form .search-salon {
    width: 646px;
    border: 1px solid red;
  }
}
.contact-us-container .contact-us-form input {
  border: 1px solid #f3f3f3;
}
.contact-us-container .contact-us-form .srch-row {
  border: 1px solid #f3f3f3;
  margin: 15px 0;
}
.contact-us-container .contact-us-form .srch-row .input-group-addon {
  border: none;
}
.contact-us-container .contact-us-form .srch-row input {
  width: 100%;
  height: 48px;
  border: none;
  box-shadow: none;
  background: transparent;
}
@media (max-width: 769px) {
  .contact-us-container .contact-us-form .feedback textarea {
    width: 100%;
  }
}
@media (min-device-width: 767px) {
  .contact-us-container .contact-us-form .feedback {
    margin: 36px 0 0px 0px;
  }
  .contact-us-container .contact-us-form .feedback textarea {
    width: 100%;
  }
}
