.contact-us-container{
	select{
		margin: 10px 0;
		width: 311px;
	    height: 40px;
	    border: 1px solid #f3f3f3;
	    @media (max-width: 768px){
	    	width: 100%;
	    }
	}
	.body-2 {
		font-family: 'open-sans';
		font-size: 14px;
		font-weight: light;
	}
	.contact-us-title{
		@media (min-device-width: 768px){
			padding-bottom:66px;
		}
		.title{
			font-family: 'semplitica';
			font-size: 48px;
			font-weight: lighter;
			font-style: italic;
		}

	}
	.contact-us-form{
		.form-question{
			font-family: 'semplitica medium';
			font-size: 24px;
			color: #404041;
		}
		.what-salon{
			font-family: 'semplitica light';
			font-size: 18px;
		}
		.search-salon{
			@media (min-device-width: 992px){
				width: 646px;
				border: 1px solid red;
			}
		}
		input{
			border: 1px solid #f3f3f3;
		}

		.srch-row {
		    border: 1px solid #f3f3f3;
		    margin: 15px 0;
		}
		.srch-row .input-group-addon {
		    border: none;
		}
		.srch-row input {
		    width: 100%;
		    height: 48px;
		    border: none;
		    box-shadow: none;
		    background: transparent;
		}
		@media (min-device-width: 992px){

		}
		.feedback{

			@media (max-width: 769px){
				textarea{
					width: 100%;
				}
			}
			@media (min-device-width: 767px){
				margin: 36px 0 0px 0px;
				textarea{
					width: 100%;
				}
			}
		}
	}

}