.email-toast-component{
	width: 100%;
	color: #fff;
	padding: 15px;
	position:fixed;
	bottom:0;
	z-index: 100;
	left: 0;
	display: none;
	.tips-tricks{
		margin: 9px 0 0;
		@media screen and (max-width: 767px){
			text-align: center;
		}
	}
	.offers-text{
		text-align: center;
		padding: 10px 0;
		@media(max-width: 767px){
			padding: 12px 0 24px 0;
		}
	}
	.form-group{
		margin: 0;
		.form-control{
			background: transparent;
			color: #fff;
			border-width: 0 0 1px 0;
			border-style: solid;
			border-color: #fff;
			border-radius: 0;
			box-shadow: none;
			padding-left: 0;
			&:-moz-placeholder,
			&:-ms-placeholder,
			&:-o-placeholder{
				color: #fff !important;
				opacity: 1;
			}
			&::-moz-placeholder{
				color: #fff !important;
				opacity: 1;
			}
			&::-webkit-input-placeholder{
				color: inherit;
			}
		}
	}
	.register-email{
		padding: 10px 15px;
		background: transparent;
		border: 1px solid #fff;
		border-radius: 50%;
		color: #fff;
		position: relative;
		bottom: -10px;
		img{
			width: 10px;
			height: 10px;
			position: relative;
			top: -2px;
		}
	}
	.dismiss-toast{
		position: absolute;
		top: 0;
		right: 10px;
		@media screen and (max-width: 767px){
			right: 20px;
			top: 15px;
		}
	}
	a{
		color: #fff;
		&:hover,&:focus{
			color: #fff;
			text-decoration: none;
		}
	}
}

.purple-bg{
	background: rgba(137,109,120,0.7);
}

.grey-bg{
	background: rgba(114,113,115,0.7);
	.register-email{
		background: #568391;
		border-color: transparent;
	}
}