.favourites{
    .style-template{
        height: 252px;
        margin-bottom: 40px;

        @media (max-width: 767px){

            height: 170px;
            margin-bottom: 45px;
            .fav-share{
                position: absolute;
                top: 103%;
                right: 3%;

            }
        }
        .fav-pic-holder{


            a img{
                width: 229px;
                height: 228px;
                @media (max-width: 767px){
                width: 140px;
                height: 170px;

                }
            }
        }
       
    }

    .product-template{
        height: 252px;
        margin-bottom: 40px;
        @media (max-width: 767px){
            .fav-share {
                position: absolute;
                right: 3%;
                bottom: -23%;

            }
        }

        .fav-pic-holder{
            height: 252px;
            a img{
                width: 112px;
                height: 112px;

            }
            @media (max-width: 767px){
            
            height: 170px;
            }
        }
        @media (max-width: 767px){
            
            height: 170px;
            margin-bottom: 45px;
          
            .fav-hrt{
                left: 72%;
            }
        }
    }

    .fav-img {
       position: relative;
    }
    .fav-hrt {
       position: absolute;
        top:10px;
        right: 23px;
        background: url(../images/Regis-Icons/Regis_heart.svg);
        max-width: 22px;
        padding: 13px;
        border:none;
        outline: none;
        @media (max-width: 767px){
            position: absolute;
            top: 9%;
            left: 72%;
        }

    }
    .fav-hrt-empty {
       position: absolute;
        top:10px;
        right: 23px;
        background: url(../images/Regis-Icons/Regis_heart_empty.svg);
        max-width: 22px;
        padding: 13px;
        border:none;
        outline: none;

    }
    .fav-share {
        position: absolute;
        right: 4%;
        bottom: -16%;
        width: 35px;
        height: 35px;
        float: right;
        background: url(../images/Regis-Icons/Regis_favorites_Share.svg);
        background-repeat: no-repeat;
        background-size: 25px 25px;
        
        font-weight: bold;
        font-size: 17px;
        display: block;
        a{
            text-decoration:none;
        }
    }
    .overlay-myfav{
        background: #414042;
        opacity: 0.8; 
        width: 229px;
        height: 100%;    
        display:none;
        top: 0;
        left: 10px;
        position: absolute;
        @media (max-width: 767px){
            width: 98%;
            height: 170px;
        }
    }
    .zoom{
        
        -moz-transform: scale(1.5);
    }

    .share-icons{
        width: 170px;
        position: absolute;
        top: 28%;
        left: -21%;
		zoom: 150%;
        @media (max-width: 767px){
            left: -42%;
            width: 115px;
        }

        
        li{
            display:inline;
            
        }
        li a{
            min-width:20px;
            min-height:20px;
            opacity:1;
             padding: 12px;

        }

    }
    .buttons-wrapper{
        text-align: center;
    }

    .status-message{
        margin-top: 5%;
        color: #727173;
        font-size: 17px;
    }
    .welcome-wrapper{

        margin-bottom:3%;

        .welcome-message{
            @media (max-width: 767px){
                margin-bottom: 20px;
            }
            
            float: left;
            text-align:left;
            .salutation{
                font-weight: bold;
                font-size: 24px;
                margin-bottom:0;
            }
            .welcome-text{
                font-size: 20px;
            }

        }
        .closest-salon{

            p{
                margin: 0;
            }
            .salon-name{
                font-size: 24px;
                color: #0099FF;
                margin: 0;
            }
        }
    }
    .product-btn{
        max-height: 40px;
        border: none;
        p{
            margin-top: 30px;
        }
    }
    .styles-btn{
        max-height: 40px;
        border: none;
        border-right: 1px solid grey;
        p{
            margin-top: 30px;
        }
    }
    .expired-item{
        width:100%;
        border: 1px solid grey;
        height: 100%;
        p{
            position: absolute;
            top:40%;
            width:80%;
            padding-left: 9%;
        }
        .delete-icon{
                position: absolute;
                top: 3%;
                zoom: 25%;
                left: 59%;
                width: 48%;
        }
    }

}
@-moz-document url-prefix() {
    .favourites{

        .share-icons{
            left: 0%;
            top: 35%;
        }
        .style-template{
            height:252px;
        }
        .expired-item{
            

            a.delete-icon {
                position: absolute;
                top: -23%;
                left: 60%;
                width: 48%;
                -moz-transform: scale(0.25);
            }
        }

    }
}