.favourites .style-template {
  height: 252px;
  margin-bottom: 40px;
}
@media (max-width: 767px) {
  .favourites .style-template {
    height: 170px;
    margin-bottom: 45px;
  }
  .favourites .style-template .fav-share {
    position: absolute;
    top: 103%;
    right: 3%;
  }
}
.favourites .style-template .fav-pic-holder a img {
  width: 229px;
  height: 228px;
}
@media (max-width: 767px) {
  .favourites .style-template .fav-pic-holder a img {
    width: 140px;
    height: 170px;
  }
}
.favourites .product-template {
  height: 252px;
  margin-bottom: 40px;
}
@media (max-width: 767px) {
  .favourites .product-template .fav-share {
    position: absolute;
    right: 3%;
    bottom: -23%;
  }
}
.favourites .product-template .fav-pic-holder {
  height: 252px;
}
.favourites .product-template .fav-pic-holder a img {
  width: 112px;
  height: 112px;
}
@media (max-width: 767px) {
  .favourites .product-template .fav-pic-holder {
    height: 170px;
  }
}
@media (max-width: 767px) {
  .favourites .product-template {
    height: 170px;
    margin-bottom: 45px;
  }
  .favourites .product-template .fav-hrt {
    left: 72%;
  }
}
.favourites .fav-img {
  position: relative;
}
.favourites .fav-hrt {
  position: absolute;
  top: 10px;
  right: 23px;
  background: url(../images/Regis-Icons/Regis_heart.svg);
  max-width: 22px;
  padding: 13px;
  border: none;
  outline: none;
}
@media (max-width: 767px) {
  .favourites .fav-hrt {
    position: absolute;
    top: 9%;
    left: 72%;
  }
}
.favourites .fav-hrt-empty {
  position: absolute;
  top: 10px;
  right: 23px;
  background: url(../images/Regis-Icons/Regis_heart_empty.svg);
  max-width: 22px;
  padding: 13px;
  border: none;
  outline: none;
}
.favourites .fav-share {
  position: absolute;
  right: 4%;
  bottom: -16%;
  width: 35px;
  height: 35px;
  float: right;
  background: url(../images/Regis-Icons/Regis_favorites_Share.svg);
  background-repeat: no-repeat;
  background-size: 25px 25px;
  font-weight: bold;
  font-size: 17px;
  display: block;
}
.favourites .fav-share a {
  text-decoration: none;
}
.favourites .overlay-myfav {
  background: #414042;
  opacity: 0.8;
  width: 229px;
  height: 100%;
  display: none;
  top: 0;
  left: 10px;
  position: absolute;
}
@media (max-width: 767px) {
  .favourites .overlay-myfav {
    width: 98%;
    height: 170px;
  }
}
.favourites .zoom {
  zoom: 150%;
  -moz-transform: scale(1.5);
}
.favourites .share-icons {
  width: 170px;
  position: absolute;
  top: 28%;
  left: -21%;
}
@media (max-width: 767px) {
  .favourites .share-icons {
    left: -42%;
    width: 115px;
  }
}
.favourites .share-icons li {
  display: inline;
}
.favourites .share-icons li a {
  min-width: 20px;
  min-height: 20px;
  opacity: 1;
  padding: 12px;
}
.favourites .buttons-wrapper {
  text-align: center;
}
.favourites .status-message {
  margin-top: 5%;
  color: #727173;
  font-size: 17px;
}
.favourites .welcome-wrapper {
  margin-bottom: 3%;
}
.favourites .welcome-wrapper .welcome-message {
  float: left;
  text-align: left;
}
@media (max-width: 767px) {
  .favourites .welcome-wrapper .welcome-message {
    margin-bottom: 20px;
  }
}
.favourites .welcome-wrapper .welcome-message .salutation {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 0;
}
.favourites .welcome-wrapper .welcome-message .welcome-text {
  font-size: 20px;
}
.favourites .welcome-wrapper .closest-salon p {
  margin: 0;
}
.favourites .welcome-wrapper .closest-salon .salon-name {
  font-size: 24px;
  color: #0099FF;
  margin: 0;
}
.favourites .product-btn {
  max-height: 40px;
  border: none;
}
.favourites .product-btn p {
  margin-top: 30px;
}
.favourites .styles-btn {
  max-height: 40px;
  border: none;
  border-right: 1px solid grey;
}
.favourites .styles-btn p {
  margin-top: 30px;
}
.favourites .expired-item {
  width: 100%;
  border: 1px solid grey;
  height: 100%;
}
.favourites .expired-item p {
  position: absolute;
  top: 40%;
  width: 80%;
  padding-left: 9%;
}
.favourites .expired-item .delete-icon {
  position: absolute;
  top: 3%;
  zoom: 25%;
  left: 59%;
  width: 48%;
}
@-moz-document url-prefix() {
  .favourites .share-icons {
    left: 0%;
    top: 35%;
  }
  .favourites .style-template {
    height: 252px;
  }
  .favourites .expired-item a.delete-icon {
    position: absolute;
    top: -23%;
    left: 60%;
    width: 48%;
    -moz-transform: scale(0.25);
  }
}
