.displayNone{
    display: none !important;
}

.btn-default{
	padding:12px 60px;
	min-height: 48px;
	border-radius: 0;
	&:hover{
		background: #fff;
	}
}
.btn-primary{
	padding:0 36px;
	min-height: 60px;
	border-radius: 0;
	background: #568391;
	border-color: transparent;
	color: #fff;
	&:hover{
		background: #4C6F7A;
	}
}
a{
    outline: none;
    &:hover,&:active,&:focus{
        outline: none;
    }
}
a.cta{
	color: #568391;
	font-weight: 700;
	&:hover{
		text-decoration: none;
		color: #4C6F7A;
	}
}
.nav a{
    color: #717273;
	&:hover{
        @media(min-width:992px){
		  border-bottom: 1px solid #BCBEC0;
        }
	}
	&:selected{
        @media(min-width:992px){
		  border-bottom: 1px solid #568391;
        }
	}
}

//styles added for checkboxes and radio button

input[type=checkbox].css-checkbox, input[type=radio].css-checkbox {
    position: absolute;
    z-index: -1000;
    left: -1000px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}

input[type=checkbox].css-checkbox+label.css-label, input[type=radio].css-checkbox+label.css-label {
    padding-left: 26px;
    vertical-align: middle;
    height: 26px;
    border: 1px solid #ccc;
    display: inline-block;
    line-height: 32px;
    background-repeat: no-repeat;
    background-position: 0 0;
    font-size: 16px;
    width: auto;
    cursor: pointer;
    background-size: 100%;
}

label.css-label {
    background-image: url('../images/checkbox-unchecked.png');
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
} 

input[type=checkbox].css-checkbox:checked+label.css-label, input[type=radio].css-checkbox:checked+label.css-label {
    background-image: url('../images/checkbox.png');
}

// Display Table & Table-cell

.displayTable{
	@media(min-width: 992px){
		display: table;
		table-layout: fixed;
		width: 100%;
	}
}
.tableCell{
	@media(min-width: 992px){
		display: table-cell;
		vertical-align: middle;
		float: none;
	}
}