header{
    border-bottom: 1px solid #f3f3f3 !important;
    .logo-reg {
        margin-top: 36px;
        margin-bottom: 16px;
        @media(max-width:768px){
            margin-top: 10px;
            padding: 0 15px;
            .col-xs-2{
                display: block;
            }
        }
        .navbar-toggle {
            margin-top: 0;
            .icon-bar {
	           background-color: #717273;
            }
               span.last{
               margin-bottom: -4px;
               }
            
             
            span{
                small{
                    font-size: 7.5px;
                }
            }
        }
        .logo {
	       img{
               @media(max-width:767px) and (orientation : portrait){
                    margin-top: 10px;
               }
           }
        }
        .reg-and-join{
            .show-mob{
                margin-top: 10px;
                a{
                    font-size:9px;
                }
                img{
                    width:22px;
                }
            }
            padding-right: 0;
            a{
                color:#717273;
            }
            ul{
                li{
                    a{
                        margin:0 18px ;
                        padding: 0;
                    }
                    &:last-child{
                        a{
                            margin-right: 0;
                        }
                    }
                }
            }
            .register-link{
                text-align: center;
                a{
                    margin:0;
                    color:#287add;
                    &:hover{
                        border:none;
                    }
                }
            }
            .dropdown-menu{
                padding: 30px;
                width: 350px;
                position: absolute;
                left:-130px;
                top:35px;
                 @media(max-width:768px){
                    background-color: #fff;
                    padding: 15px;
                    width: 300px;
                    left: -215px;
                    border: 1px solid #5f6167;
                }
                h4{
                    margin-bottom: 30px;
                }
                .form-group{
                    margin-bottom: 20px;
                    input{
                        width:100%;
                        border-radius: 0;
                        background-color: #F9F9F9;
                        height: 40px;
                        box-shadow: none;
                        border: none;
                    }
                    input[type="checkbox"]{
                        height: auto;
                        width: auto;
                        margin-right:5px;
                    }
                    a.btn{
                        width: 100%;
                        background-color: #EAEBEC;
                        font-weight: bold;
                        padding-top:22px;
                        margin: 0;
                        border:none;
                        &:hover,&:focus,&:active{
                            border: none;
                            outline: none;
                        }
                    }
                    label{
                        font-weight: normal;
                    }
                    .forgot-pwd {
	                   margin: 3px 0 0 0;
                       color: #287add;
                        &:hover{
                            border: none;
                        }
                    }
                }
                &:before{
                    bottom: 100%;
                    left: 50%;
                    border: solid transparent;
                    content: " ";
                    height: 0;
                    width: 0;
                    position: absolute;
                    pointer-events: none;
                    border-color: rgba(136,140,142,0);
                    border-bottom-color: #5f6167;
                    border-width: 14px;
                    margin-left: -14px;
                    @media(max-width:768px){
                        left:84%;
                    }
                }
               &:after{
                   bottom: 100%;
                    left: 50%;
                    border: solid transparent;
                    content: " ";
                    height: 0;
                    width: 0;
                    position: absolute;
                    pointer-events: none;
                    border-color: rgba(255,255,255,0);
                    border-bottom-color: #fff;
                    border-width: 13px;
                    margin-left: -13px;
                    @media(max-width:768px){
                        left:84%;
                    }
                }
            }
        }
    }
    .head-links {
        ul{
           li{
               a{
                margin: 18px;
                padding: 0;
               }
               &:first-child,&:nth-child(2){
                    a{
                        @media(min-width:992px){
                            margin-left: 0;
                        }
                    }
                }
               form{
                   padding:0 18px;
                   .input-group-addon{
                       padding: 2px 6px;
                       border-radius: 0;
                       border-left-color: transparent;
                       background-color: #568391;
                   }
               }
           }
        }
        .search-div{
            border:1px solid #f3f3f3;
            input{
                color:#717273;
                border: none;
                box-shadow: none;
                padding: 0;
            }
            .srch{
                border: 0;
                img{
                    max-width: 22px;
                }
            }
        }
    }
}