.hotspot-container{
margin:20px 0; 
    .mob-container{
        display:table;
        margin-top:24px;
        padding:0 30px;
        .img-container,.img-desc{
            display:table-cell;
            vertical-align:middle;
        }
        .img-desc{
            padding-left:20px;
            .img-title{
				margin-bottom:12px;
                font-weight:bold;
            }
            .img-desc-txt{

            }
        }
    }
	position: relative;
	width: 752px;
    @media(min-width:768px){
		height: 524px;
    }
	float: left;
	.img-holder{
	position: absolute;
	}
    img{
		width:100%;
    }
	@media (max-width: 768px){

		width: 100%;
		.img-holder{
			position: static;
			width: 100%;
		}
	}

	.product-display{
		background: url('../../images/Regis-Icons/Image_Hot_Spot_Plus.svg') no-repeat;
	    border-radius: 50%;
	    width: 28px;
	    height: 28px;
	    color: white;
	    position: absolute;
	}
	
	.active-icon{
		background: url('../../images/Regis-Icons/Image_Hot_Spot_Minus.svg') no-repeat;
	}
	
	.modal-container{
		top: 24px;
		display: none;
        position: absolute;
        width: 286px;
        height: 458px;
        background: white;
        margin-right: 24px;
        right: 12px;


		@media (max-width: 768px){
			position: static;
			top: 0;
			.close-button{
				display:none;
			}
			.product-content-wrapper{
				width: 100%;
				margin-left:0;

			}
		}
        @media(max-width:768px) and (orientation:Portrait){ 

            position: absolute;

        }
		.product-content-wrapper{

			width: 62%;
			margin-left: 19%;
			.title{
				margin-top: 60px;
                @media(max-width:768px){
                    margin-top:24px;
                }
				margin-bottom: 26px;
                line-height:24px;
			}
			.image-area{
				@media (max-width: 768px){
					.image-wrapper-left{
						width:49%;
						float:left;
					}
					.image-caption-right{
						//height: 177px;
						//padding-top: 32px;
					}
				}
			}
            figure{
                width:117px;
                height:auto;
                margin:0 auto;
                	img{width:100%;
            	}
            	figcaption{
					text-align:center;
                	margin-top:24px;
            	}
            }
			.products{
				margin-bottom: 24px;
			}
			.title-second{
				margin-top: 28px;
				
				
			}
		}
		.product-btn{
			margin-top:28px;
		}

		@media (max-width: 767px){
			position: static;
			top: 0;
			.close-button{
				display:none;
			}
			.product-content-wrapper{
				width: 100%;
				margin-left:0;

			}

		}
	}
}