.hotspot-container {
  margin: 20px 0;
  position: relative;
  width: 752px;
  float: left;
}
.hotspot-container .mob-container {
  display: table;
  margin-top: 24px;
  padding: 0 30px;
}
.hotspot-container .mob-container .img-container,
.hotspot-container .mob-container .img-desc {
  display: table-cell;
  vertical-align: middle;
}
.hotspot-container .mob-container .img-desc {
  padding-left: 20px;
}
.hotspot-container .mob-container .img-desc .img-title {
  margin-bottom: 12px;
  font-weight: bold;
}
@media (min-width: 768px) {
  .hotspot-container {
    height: 524px;
  }
}
.hotspot-container .img-holder {
  position: absolute;
}
.hotspot-container img {
  width: 100%;
}
@media (max-width: 768px) {
  .hotspot-container {
    width: 100%;
  }
  .hotspot-container .img-holder {
    position: static;
    width: 100%;
  }
}
.hotspot-container .product-display {
  background: url('../../images/Regis-Icons/Image_Hot_Spot_Plus.svg') no-repeat;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  color: white;
  position: absolute;
}
.hotspot-container .active-icon {
  background: url('../../images/Regis-Icons/Image_Hot_Spot_Minus.svg') no-repeat;
}
.hotspot-container .modal-container {
  top: 24px;
  display: none;
  position: absolute;
  width: 286px;
  height: 458px;
  background: white;
  margin-right: 24px;
  right: 12px;
}
@media (max-width: 768px) {
  .hotspot-container .modal-container {
    position: static;
    top: 0;
  }
  .hotspot-container .modal-container .close-button {
    display: none;
  }
  .hotspot-container .modal-container .product-content-wrapper {
    width: 100%;
    margin-left: 0;
  }
}
@media (max-width: 768px) and (orientation: Portrait) {
  .hotspot-container .modal-container {
    position: absolute;
  }
}
.hotspot-container .modal-container .product-content-wrapper {
  width: 62%;
  margin-left: 19%;
}
.hotspot-container .modal-container .product-content-wrapper .title {
  margin-top: 60px;
  margin-bottom: 26px;
  line-height: 24px;
}
@media (max-width: 768px) {
  .hotspot-container .modal-container .product-content-wrapper .title {
    margin-top: 24px;
  }
}
@media (max-width: 768px) {
  .hotspot-container .modal-container .product-content-wrapper .image-area .image-wrapper-left {
    width: 49%;
    float: left;
  }
}
.hotspot-container .modal-container .product-content-wrapper figure {
  width: 117px;
  height: auto;
  margin: 0 auto;
}
.hotspot-container .modal-container .product-content-wrapper figure img {
  width: 100%;
}
.hotspot-container .modal-container .product-content-wrapper figure figcaption {
  text-align: center;
  margin-top: 24px;
}
.hotspot-container .modal-container .product-content-wrapper .products {
  margin-bottom: 24px;
}
.hotspot-container .modal-container .product-content-wrapper .title-second {
  margin-top: 28px;
}
.hotspot-container .modal-container .product-btn {
  margin-top: 28px;
}
@media (max-width: 767px) {
  .hotspot-container .modal-container {
    position: static;
    top: 0;
  }
  .hotspot-container .modal-container .close-button {
    display: none;
  }
  .hotspot-container .modal-container .product-content-wrapper {
    width: 100%;
    margin-left: 0;
  }
}
