.locations-container{
.search-bar{
	margin-bottom: 24px;
	.location-image{
		border-right: 0;
	}
	#location-search{
		height: 60px;
		border-left: 0;
	}
	.find-button{
		background: #568391;
		width: 100px;
	}
}
	.thirdWrapper{
	hr.h1 { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 1px;
    color:#D3D3D3;
		}	
	}

.button{
	.all-products{
		border:3px solid #A9A9A9;
		margin-bottom:48px;
	}
}
	
}