.locations-near-you{
    margin-top: 20px;
    .srch-row {
        .input-group-addon:first-child{
            border-color: #f3f3f3;
        }
	   input{
           width:100%; 
           height: 48px;
           border: 1px solid #f3f3f3;
           border-left: none;
       }
        a{
            width:100px;
            border-color: transparent;
        }
    }
    .location-dtls{
        margin-top: 20px;
        margin-bottom: 48px;
        span{
            display:block;
            font-size: 12px;
        }
        h3{
          margin-top: 12px;  
          margin-bottom: 0;  
        }
        .salon-loc,.salon-tme {
	       margin-bottom: 21px;
        }
        .ph-no{
            margin-bottom: 12px;
        }
        .salon-distance {
	       margin-bottom: 16px;
        }
        .other-salons{
            .salon-brand,.salon-dist {
	          margin:12px 0 6px 0;
            }
            .salon-loc{
                margin-bottom: 36px;
            }
            .salon-drct {
	           margin-bottom: 24px;
            }
        }
        .checkin-badge{
            background: #f3f3f3;
            height: 70px;
            margin-top: 12px;
            width: 100%;
            padding: 5px;
            h3{
                margin: 5px 0;;
            }
        }
        .checkin-button{
            background: #404041;
            padding: 3px;
            font-size: 11px;
            color: #fff;
            border: 1px solid #404041;
            width: 100%;
            border-radius: 0;
        }
    }
}

//for back to top functionailty

#back-to-top.show {
    opacity: 1;
    visibility: visible;
}

#back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
    background-color: #4c6f7a;
    color: #fff;
    width: 70px;
    height: 60px;
    text-align: center;
    padding-bottom: 12px;
    text-decoration: none;
    transition: opacity .2s ease-out;
    opacity: 0;
    visibility: hidden;
    @media(max-width:768px){
        width: 100%;
        right: 0;
        bottom:0;
        background-color: rgba(76,111,122,0.5);
    }
    figure{
        margin:0;
        img{
            margin-top: 9px;
            margin-bottom: 9px;
            height: 20px;
        }
         figcaption{
            font-size: 10pt;
            line-height: 12px; 
        }
    }
}