.product-detail-container {
	margin-top: 60px;
	.body-1 {
		font-family: 'open-sans';
		font-size: 14px;
		font-weight: bold;
	}

	.body-2 {
		font-family: 'open-sans';
		font-size: 12px;
		font-weight: light;
	}

	.border-top {
		border-top: 1px solid #dcdcdc;
	}

	.product-share{
		padding-left: 0px;
		.social-share{
			padding-left: 0px;
		    .share-icons{
		        width: 140px;
		        padding-left: 0px;

		        li{
		            display:inline;       
		        }
		        li a{
		            min-width:20px;
		            min-height:20px;
		            opacity:1;
		            padding: 12px;

		        }
		        li a:nth-child(1){
		        	padding-left: 0px;
		        }

		    }
	    }
    }


    .product-row{
        border-bottom: 1px solid #dcdcdc;
	    padding-bottom: 72px;
	    margin-bottom: 36px;
	    .product-detail-wrap{
	    	.salontitle{
	    		margin-bottom: 24px;
	    	}
	    	p{
	    		padding-left: 0px;
	    	}
	    	.product-description{
	    		font-weight: normal;
	    	}
	    	.product-features {
	    		padding-left: 0px;
	    		padding-top: 15px;
	    		.pagetagsdisplaycomp {
		    		padding-left: 0px;
		    	}
	    		.right-padding{
	    			padding-right: 84px;
	    		}

	    	}

	    }
	}
}