.product-detail-container {
  margin-top: 60px;
}
.product-detail-container .body-1 {
  font-family: 'open-sans';
  font-size: 14px;
  font-weight: bold;
}
.product-detail-container .body-2 {
  font-family: 'open-sans';
  font-size: 12px;
  font-weight: light;
}
.product-detail-container .border-top {
  border-top: 1px solid #dcdcdc;
}
.product-detail-container .product-share {
  padding-left: 0px;
}
.product-detail-container .product-share .social-share {
  padding-left: 0px;
}
.product-detail-container .product-share .social-share .share-icons {
  width: 140px;
  padding-left: 0px;
}
.product-detail-container .product-share .social-share .share-icons li {
  display: inline;
}
.product-detail-container .product-share .social-share .share-icons li a {
  min-width: 20px;
  min-height: 20px;
  opacity: 1;
  padding: 12px;
}
.product-detail-container .product-share .social-share .share-icons li a:nth-child(1) {
  padding-left: 0px;
}
.product-detail-container .product-row {
  border-bottom: 1px solid #dcdcdc;
  padding-bottom: 72px;
  margin-bottom: 36px;
}
.product-detail-container .product-row .product-detail-wrap .salontitle {
  margin-bottom: 24px;
}
.product-detail-container .product-row .product-detail-wrap p {
  padding-left: 0px;
}
.product-detail-container .product-row .product-detail-wrap .product-description {
  font-weight: normal;
}
.product-detail-container .product-row .product-detail-wrap .product-features {
  padding-left: 0px;
  padding-top: 15px;
}
.product-detail-container .product-row .product-detail-wrap .product-features .pagetagsdisplaycomp {
  padding-left: 0px;
}
.product-detail-container .product-row .product-detail-wrap .product-features .right-padding {
  padding-right: 84px;
}
