.products-landing-container .accord-prod .product-container {
  background-color: #f9f9f9;
  width: 231px;
  padding: 10px;
}
.products-landing-container .accord-prod .product-container .product-wrap {
  margin-left: 24px;
  width: 100%;
  margin-top: 36px;
}
.products-landing-container .accord-prod .product-container .product-wrap h4 {
  margin-bottom: 24px;
  margin-left: 10px;
  font-size: 14px !important;
}
.products-landing-container .accord-prod .product-container .product-wrap h4 a {
  color: grey;
  font-size: 14px !important;
}
.products-landing-container .accord-prod .product-container .product-wrap h4 a:hover {
  text-decoration: none;
}
.products-landing-container .accord-prod .product-container .product-wrap h4.selected {
  font-size: 14px !important;
  border-bottom: 2px solid #568391;
  display: inline-block;
  padding-bottom: 4px;
  margin-top: 0;
}
.products-landing-container .accord-prod .product-container .product-wrap ul.list-unstyled {
  margin-left: 24px;
}
.products-landing-container .accord-prod .product-container .product-wrap ul.list-unstyled li {
  margin-bottom: 24px;
  padding: 0 8px 0 16px;
  font-size: 10px;
}
.products-landing-container .accord-prod .product-container .product-wrap ul.list-unstyled li a {
  color: grey;
  text-decoration: none;
  font-size: 10px;
}
.products-landing-container .accord-prod .product-container .product-wrap ul.list-unstyled li a:hover {
  text-decoration: none;
}
.products-landing-container .accord-prod .product-container .product-wrap ul.list-unstyled li.selected {
  background: url(../../images/Regis-Icons/selector-arrow.svg) no-repeat center left;
  background-size: 4%;
}
.products-landing-container .products-button {
  color: #FFF;
  font-weight: bold;
  font-size: 14px;
  border-radius: 2px;
  background: #455f6c;
}
