.salon-detail-wrap{
    margin-top: 20px;
    .map-container {
	   border:1px solid #DADBDC;
        img{
            width:100%;
        }
        .salon-details {
            h3{
                margin-bottom:3px;
            }
            .sub-brand{
                display: inline-block;
                clear: both;
                margin-bottom: 24px;
            }
            span{
                display: block;
                margin-bottom: 12px;
                font-size: 12px;
            }
            .salon-timings{
                font-size: 12px;
                .row{
                    margin-bottom: 12px;
                }
            }
        }
    }
}

.salon-connect{
    margin-top: 20px;
    h2{
        margin:0;
    }
    margin-bottom: 60px;
}

.other-locations{
    .other-loc-details {
        .other-salon{
            padding: 10px;
            margin-right:17px;
            width:315px;
            border:1px solid #DADBDC;
            h3{
                margin:0;
            }
            small{
                display:inline-block;
                margin-bottom: 20px;
            }
            &:last-child{
                margin-right:0;
            }
            &.loc-srch{
                border: none;
                .input-group {
                    span{
                        background-color: #DADBDC;
                    }
                }
                input{
                    height: 40px;
                    background-color: #DADBDC;
                }
            }
        }
    }
}