.product-page{
	background-color: #f9f9f9;
	.product-container{
		background-color: #f9f9f9;
		width: 231px;
		padding: 10px;

			.product-wrap{
				margin-left: 24px;
				width: 100%;
				margin-top: 36px;
				h4{
					margin-bottom: 24px;
					margin-left: 10px;
                	font-size :14px !important;
					a{
						color: grey;
						font-size :14px !important;
						&:hover{
                            text-decoration:none;
                        }
					}
					&.selected{
                    	font-size :14px !important;
                   		border-bottom:2px solid #568391;
						display:inline-block;
                    	padding-bottom:4px;
						margin-top:0;
                    }
				}
				ul.list-unstyled{
					margin-left: 24px;

					li{
						margin-bottom: 24px;
						padding: 0 8px 0 16px;
                    	font-size :10px;
						a{
							color: grey;
							text-decoration:none;
							font-size :10px;
                            &:hover{
                                text-decoration:none;
                            }
							
						}
						&.selected{
							background:url(../../images/Regis-Icons/selector-arrow.svg) no-repeat center left;
                        	background-size: 4%;

						}
					}
				}

			}

	}


}

