.side-nav-container .product-container {
  background-color: #f5f6f8;
  width: 231px;
}
.side-nav-container .product-container h4 {
  margin-bottom: 24px;
  margin-left: 20px;
}
.side-nav-container .product-container h4 a {
  color: grey;
  font-weight: bold;
}
.side-nav-container .product-container .product-wrap {
  margin-left: 24px;
}
.side-nav-container .product-container .product-wrap ul.list-unstyled {
  margin-left: 24px;
}
.side-nav-container .product-container .product-wrap ul.list-unstyled li {
  margin-bottom: 24px;
  font-style: semplitica-medium;
}
.side-nav-container .product-container .product-wrap ul.list-unstyled li a {
  color: grey;
}
