.sitemap-container{
    margin-top:60px;
        margin-bottom:80px;
                    @media(max-width:768px){
                        margin: 0px 12px 24px 12px;
                        padding:0;
    }
      h2{
        color:#727173;
        
    }
    .cols{
            padding:0;
        @media(min-width:768px){
            margin-right:60px;
            width:192px;
            &:last-child{
                margin-right:0px;
                
                }
            }
  
    
        
        ul{
            margin-bottom:0px;
                 .interior{
                @media(min-width:768px){
                margin-top:-8px;
                    
                }
                margin-left:16px;
                font-weight:100;
                width:100%;
            }
        .border-bottom{
            border-top:2px solid #E2E3E4;
                @media(max-width:768px){
                border-bottom:none;
                 }
            
            
        }
            a{
                color:#727173;
                 &:hover,&:focus,&:active{
                
                text-decoration: none;
            }
            
        li{

            margin-bottom:20px;
            @media(max-width:767px){
                width:100%;
                height:36px;
                line-height: 36px;
                margin:0;
            }
             h3{
                 
                 margin:0px;
                  @media(max-width:767px){
                 width:100%;
                 height:48px;
                line-height: 48px;
                
                 }
                 
        border-width: 192px;
        color:#404143;
        margin-bottom:10px;
         @media(min-width:767px){
        border-bottom:2px solid #838383;
        
        }
        @media(max-width:767px){
                  border-top:2px solid #838383;  
                    width:100%;
            
        }
                 
      
    }
              @media(max-width:767px){
                  width:100%;
            border-bottom:1px solid #DBDCDA;
                 
            }
          
                }
            
            }
           
       
        
    }
   
    .help{
        @media(max-width:767px){
             border-top:2px solid #838383;
            padding-top:24px;
             
        }
        font-size:14px;
        font-weight:600;
        
    }
        .details{
            font-size:12px;
        }
        
    }
    } 
   



