.skinny-text-component{
	@media screen and (max-width: 767px){
		padding-left: 10px;
		padding-right: 11px;
	}
	a{
		&:hover,&:focus{
			text-decoration: none;
		}
	}
	.skinny-msg{
		font-style: italic;
	}
	.skinny-details{
		font-weight: bold;
	}
	.skinny-with-img{
		.skinny-img{
			@media screen and (max-width: 991px){
				width: 100%;
			}
			@media (min-width: 992px){
				    height: 84px;
    				float: right;
			}
		}
		.skinny-title{
			@media screen and (max-width: 991px){
				padding-top: 24px;
				padding-bottom: 12px;
			}
		}
		.skinny-details{
			@media screen and (max-width: 991px){
				padding-top: 12px;
				padding-bottom: 24px;
			}
		}
		.skinny-title,.skinny-msg{
			h3{
				margin: 0;
				@media screen and (max-width: 991px){
					font-size: 0.9em;
				}
			}
		}
		.skinny-msg{
			h3{
				@media (min-width: 992px){
					padding-left: 45px;
				}
			}
		}
		.skinny-details{
			a{
				@media (min-width: 992px){
					padding-left: 129px; 
				}
			}
		}
	}
	.skinny-without-img{
		padding-top: 20px;
		padding-bottom: 20px;
		.skinny-title h3{
			margin: 0;
		}
		.skinny-msg{
			@media screen and (max-width: 991px){
				padding-top: 10px;
				padding-bottom: 10px;
				text-align: center;
			}
		}
		.skinny-title,
		.skinny-details{
			@media screen and (max-width: 991px){
				text-align: center;
			}
		}
	}
	
}
.purple-bg{
	background: #9B6764;
	color: #fff;
	a{
		color: #fff;
	}
}
.darkgrey-bg{
	background: #727173;
	color: #fff;
	a{
		color: #fff;
	}
}
.lightgrey-bg{
	background: #f3f3f3;
	color: #727173;
	a{
		color: #568391;
	}
}
.white-bg{
	background: #fff;
	color: #727173;
	a{
		color: #568391;
	}
}
.border-white-bg{
	background: #fff;
	border-top: 1px solid #727173;
	border-bottom: 1px solid #727173;
	color: #727173;
	a{
		color: #568391;
	}
}
.lightblue-bg{
	background: lightblue;
	color: #727173;
	a{
		color: #568391;
	}
}