.specialOffers-container{
	margin-bottom: 20px;
	.hero-image{
		position: relative;
		margin:0px;
		img{
			    width: 1000px;
    			height: 350px;
		}
		.offers-container{
			@media (max-width: 768px){
				padding-top: 12px;

				.details{
					padding-top: 24px;
					padding-bottom: 30px;
				}
			}
			@media (min-width: 768px){
				position: absolute;
				right: 60px;
				top: 60px;
				width: 400px;
			}
			.title1{
				font-size: 48px;
				color:#404041;
				font-weight:normal;
				margin-bottom: -20px;
				@media (max-width: 768px){
					margin: 0px;
					padding: 0px;
					font-size: 20px;
					display: inline;
					
					
				}
			}
			.title2{
				font-size: 48px;
				font-weight: lighter;
				margin-bottom:-20px;
				;
				@media (max-width: 768px){
					font-size: 20px;
					display: inline;
					
				}
			}
			.description{
				padding: 24px 0;
			}
		}
	}
	.product-container{
		.divider{
			border-right: 3px solid #f3f3f3;
		}
		margin: 48px 0;
		.image-container{
			.title{
				margin: 20px 0 0;
				.title1{
					color: #9b6764;
					font-size: 36px;
				}
				.title2{
					color: #000;
					font-size: 30px;
				}
			}
			.description{
				margin: 36px 0;
			}
		}
	}
	.offers{
		padding: 25px 0;
		border: 4px solid #727173;
		border-width: 4px 0;
		text-align: center;
		@media(min-width: 768px){
			width: 65%;
			margin: auto;
		}
		.title{
			margin: 0;
			.title1{
				line-height: 50px;
			}
		}
		.description{
			margin: 20px 0;
		}
	}
	.offers-btn{
		@media (max-width:767px){
			margin-top: 12px;
			margin-bottom: 30px;
			width: 100%;
		}
		border: 2px solid #727173;
		&:hover,&:focus{
			background: none;
			box-shadow: none;
			outline: none;
		}
	}
	.display-table{
		@media(min-width: 768px){
			display: table;
			width: 100%;
			table-layout: fixed;
		}
		.table-cell{
			@media(min-width: 768px){
				display: table-cell;
				vertical-align: middle;
				float: none;
			}
		}
	}
}