.specialOffersHCP-container{
		.titles-row{
			margin-bottom: 36px;

			@media (max-width: 768px){
				padding-bottom: 12px;
			}
			.text-left{
				width: 49%;
				float: left;
			}
			.text-right{
	    		text-decoration: underline;
	    		float: right;
	    		padding-top: 25px;
			}
		}
		.specialOffersHCP-wrapper{
			.first-column{
				
				.content{
					min-height: 400px;
					background-image : url('../images/tom1.jpg');
					margin-right: 21px;
					color: white;
					h1{
						padding-left: 24px;
						padding-top: 90px;
						width: 50%
					}
					p{
						padding-left: 24px;
						width: 55%;
					}
					.arrow-caret{
						color: black;
						background: #dcdcdc;
					    border-radius: 17px;
					    width: 29px;
					    padding-top: 3px;
					    text-align: center;
					    height: 29px;
					    position: absolute;
					    bottom: 28px;
					    left: 42%;
					}
				}

	
				
			}
			.second-column{
				
				.content{
					min-height: 400px;
					background: grey;
					margin-right: 21px;
					color: white;
					h1{
						padding-top: 96px;
						padding-bottom: 48px;
					}
					.arrow-caret{
						color: white;
						background: black;
					    border-radius: 17px;
					    width: 29px;
					    padding-top: 3px;
					    text-align: center;
					    height: 29px;
					    position: absolute;
					    bottom: 28px;
					    left: 42%;
					}

				}	
				
			}
			.third-column{
				
				.content{
					padding-top: 20px;
					margin-top: 20px;
					min-height: 400px;
					background: #F2F2F2;
					color: grey;
					.arrow-caret{
						color: white;
						background: black;
					    border-radius: 17px;
					    width: 29px;
					    padding-top: 3px;
					    text-align: center;
					    height: 29px;
					    position: absolute;
					    bottom: 28px;
					    left: 42%;
					}
				}

				
			}

		}
}