.style-detail-container{
	@media (max-width: 768px){
		margin-bottom: 30px;
	}
	.style-detail-share{
		@media (min-device-width: 768px) and (max-device-width: 1024px){
			float: right;
			border-bottom: none;
		}
		@media (max-width: 768px){
        border-bottom: none;
        }

	    padding-bottom: 72px;
	    margin-bottom: 36px;
	    img{
	    	margin: 10px 10px 0 0;
	    }
	    a{
	    	margin-top: 30px;
	    }
	}
	.product-row{
        border-bottom: none;
	    padding-bottom: 0;
	    margin-bottom: 0;	
	}
}