#style-wrap{
	margin-top:30px;
    margin-bottom:30px;
    figure{
        img{
			margin-bottom:20px;
        }
        margin-bottom:20px;
        figcaption{
            text-align:center;
        }
    }
}

.comb1{
    @media (min-width: 768px){
        display: table;
        margin: 0 auto;
    }
    img{
        @media (max-width: 767px){
            width: 100%;
        }
    }
    .img-holder1,.img-holder2{
        @media (min-width: 768px){
            display: table-cell;
        }
        figure{
            @media (min-width: 768px){
                margin-right: 30px;
            }
            figcaption{
                text-align: center;
                button{
                    padding: 10px;
                    margin: 10px 0;
                }
            }
        }
    }
}

.comb-2 {
	&.content-wrap {
        img{
            @media (max-width: 767px){
                width: 100%;
            }
        }
        @media (min-width: 768px){
            display: table;
        }
        .img-holder1{
            @media (min-width: 768px){
                display: table-cell;
                vertical-align: middle;
            }
        }
        .imgholder2 {
            @media (min-width: 768px){
                display: table;
            }
           img{ 
                @media (min-width: 768px){
                    display: table-cell;
                }
               margin-bottom: 20px;
           }
        }
    }
}

.content-wrap {
	&.comb-3{
        img{
            @media (max-width: 767px){
                width: 100%;
            }
        }
        @media(min-width: 768px){
            display: table;
        }
        .img-holder1{
            @media(min-width: 768px){
                width:300px;
                display: table-cell;
                vertical-align: middle;
            }
        }
        .imgholder2 {
            @media(min-width: 768px){
                width:300px;
                display: table;
                vertical-align: middle;
                padding-top: 20%;
            }
        }
        .small-desc {
            text-align: center;
        }
    }
}

.skinny{
    padding: 20px;
    color: #727173;
	border:1px solid #717273;
    h3{
        font-style: italic;
    }
    &.small-desc{
		width:70%;
        margin:0 auto;
        margin-bottom:20px;
        border:none;
        border-top: 2px solid #727173;
    	border-bottom: 2px solid #727173;
        @media(max-width:768px){
			width:100%;
        }
    }
}

