.stylist-spotlight-container{
    .text-center{
    
        font-weight: bold;
        margin-bottom: 48px;
    
    }
    .cwidth-container{
        width:238px;
        
    }
    .right-area2{
       /*margin-top: -80px;*/
        p{
            font-size:12px;
            display: inline-block;
            
        }
    .details{
        display:inline;
        font-weight: bold;
    }
        .what-details{
            
    
        font-weight: bold;
    }
    }
    
    
}