.style-advice-component .tab-list-stles-landing {
  margin: 36px 0;
  border-bottom: none;
}
.style-advice-component .tab-list-stles-landing li.single-tab {
  padding-left: 0;
  padding-right: 0;
  border: none;
}
.style-advice-component .tab-list-stles-landing li.single-tab a {
  border: none;
  font-style: 'open-sans';
  font-size: 16px;
}
.style-advice-component .tab-list-stles-landing li.active a {
  border-bottom: 2px solid #568391;
  width: 50%;
}
