@media (max-width: 768px) {
  .style-detail-container {
    margin-bottom: 30px;
  }
}
.style-detail-container .style-detail-share {
  padding-bottom: 72px;
  margin-bottom: 36px;
}
@media (min-device-width: 768px) and (max-device-width: 1024px) {
  .style-detail-container .style-detail-share {
    float: right;
    border-bottom: none;
  }
}
@media (max-width: 768px) {
  .style-detail-container .style-detail-share {
    border-bottom: none;
  }
}
.style-detail-container .style-detail-share img {
  margin: 10px 10px 0 0;
}
.style-detail-container .style-detail-share a {
  margin-top: 30px;
}
.style-detail-container .product-row {
  border-bottom: none;
  padding-bottom: 0;
  margin-bottom: 0;
}
