.advice-article4-container{
        
        margin-top: 36px;
        margin-bottom: 60px;
    .border-bottom{
		border-bottom: 1px solid #dcdcdc;
		margin-bottom: 36px;
	}
    
	.title-area.text-center{
		width: 31%;
    	margin-left: 33%;

    	h1{
    		margin-top: 12px;
    		padding-bottom: 24px;
    	}
	}

	.left-area {
        
		float: left;
        @media (min-width: 992px){
            width: 30%;
        }
		
        margin-right: 24px;

		.text1-product{
			font: semplitica;
			font-size: 14px;
            font-weight: bold;
            @media (max-width: 768px){
                text-align: center;
            }
		}

		.text2-product{
            font-size: 12px;
            font-weight: lighter;
			padding-top: 24px;
			padding-bottom: 48px;
		}

		.share-icons{
			padding-left: 0;
			li{
	            display:inline;
	            float: left;
	            
	        }
	        li a{
	            min-width:20px;
	            min-height:20px;
	         	padding-right: 12px;
                color:#568391;

	        }
            @media (max-width: 768px){
                margin-left: 33%;
            }
		}
	}
    .mob{
        margin-top:60px;
        margin-bottom: 60px;
        .left1area{
        
            
        }
        .right1area{
            h2{
                margin-top:-5px;
                
            }
        }
    }
    .right-area{
        .essential1{
            img{
                margin-bottom: 60px;
                margin-right:24px;
            }
        }
            .description1{
                p{
                    &:first-child{
                        font-weight:bold;
                    }
                    &:second-child{
                        margin-top:12px;
                        font-size:12px;
                        line-height:0;
                        font-weight:lighter;}
                    
                }
                a{
                    color:#568391;
                    font-size: 12px;
                }
                 
            }
        
        .essential2{
            img{
                margin-bottom: 60px;
                margin-right:24px;
            }
        }
        .description2{                   
                p{
                    &:first-child{
                        font-weight:bold;
                    }
                    &:second-child{
                        font-size:12px;
                        margin-top:12px;
                        line-height:0;
                        font-weight:lighter;}
                    
                }
                a{
                    color:#568391;
                    font-size: 12px;
                }
                
            }
        }
    }

    
