.advice-article4-container{
    .border-bottom{
		border-bottom: 1px solid #dcdcdc;
		margin-bottom: 36px;
	}
	.title-area.text-center{
		width: 31%;
    	margin-left: 33%;

    	h1{
    		margin-top: 24px;
    		padding-bottom: 36px;
    	}
	}

	.left-area {
		float: left;
		width: 23%;

		.text1-product{
			font: semplitica;
			font-size: 14px;
            font-weight: bolder;
		}

		.text2-product{
            font-size: 12px;
            font-weight: lighter;
			padding-top: 24px;
			padding-bottom: 48px;
		}

		.share-icons{
			padding-left: 0;
			li{
	            display:inline;
	            float: left;
	            
	        }
	        li a{
	            min-width:20px;
	            min-height:20px;
	         	padding-right: 12px;

	        }
		}
	}

	table.essentials {
    border: none;
        
    table.essentials tr.spaceUnder > td
{
  padding-bottom: 60px;;
}


table.essentials th, td { 
    padding: 24px;
}

    }
}
    
