.title-component{
	&.borderBottom{
		border-bottom: 1px solid #DBDCDD;
	}
	&.borderTop{
		border-top: 1px solid #DBDCDD;
	}
	&.border{
		border: 1px solid #DBDCDD;
		border-width: 1px  0;
	}
	&.borderNone{
		border: none;
	}
	.title{
		font-weight: normal;
		font-style: italic;
        a{
			color: #727173;
            h1{
                font-size: 48px;
            }
            h2{
                font-size: 36px;
            }
            h3{
                font-size: 30px;
            }
            h4{
                font-size: 24px;
            }
            h5{
                font-size: 18px;
            }
        }
		&.lake-side{
			font-family: "lakeside";
			font-style: normal;
		}
	}
	.description{
		font-family: "semplicita";
		font-size: 14px;
		font-weight: normal;
		margin: 36px 0;
	}
	.gender-links{
		a{
			font-family: "semplicita";
			font-size: 16px;
			font-weight: normal;
			padding: 0 12px;
			color: #727173;
			text-decoration: none;
			height: 35px;
			display: inline-block;
			@media (max-width: 767px){
				padding: 0 10px;
			}
			&:hover,&:focus,&:active{
				border-bottom: 2px solid #568391;
				padding-bottom: 10px;
				margin: 0;
			}
		}
	}
	.category-subtitle{
		font-family: "semplicita";
		font-size: 14px;
		font-weight: normal;
		text-align: center;
	}
	.category-title{
		font-family: "semplicita";
		font-style: normal;
		margin-top: 24px;
		margin-bottom: 36px;
		text-align: center;
		.title1,.title2{
			display: block;
		}
	}
}
