.trends-article-container{
    .trends-hero-img{
        width: 100%;
        height: 500px;
    }
    .trends-title{
        margin-bottom: 10px;
    }
    .article-content{
        margin-bottom: 5px;
        .trends-img{
            width: 100%;
        }
        .description{
            margin: 5px 0;
            font-size: 12px;
        }
        .details{
            font-size: 12px;
        }
    }
}