@import url("https://p.typekit.net/p.css?s=1&k=btk5kdd&ht=tk&f=28423.28431.28434.28435.28443.28447.28448.28449.28450.28452.28457.28462.28464.28474.28475.28477&a=17367871&app=typekit&e=css");

@font-face {
font-family:"mr-eaves-xl-modern";
src:url("https://use.typekit.net/af/332c60/00000000000000003b9adbd0/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/332c60/00000000000000003b9adbd0/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/332c60/00000000000000003b9adbd0/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:400;
}

@font-face {
font-family:"mr-eaves-xl-modern";
src:url("https://use.typekit.net/af/eaf692/00000000000000003b9adbd8/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/eaf692/00000000000000003b9adbd8/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/eaf692/00000000000000003b9adbd8/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:700;
}

@font-face {
font-family:"mr-eaves-xl-modern";
src:url("https://use.typekit.net/af/bd2066/00000000000000003b9adbdb/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff2"),url("https://use.typekit.net/af/bd2066/00000000000000003b9adbdb/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff"),url("https://use.typekit.net/af/bd2066/00000000000000003b9adbdb/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:700;
}

@font-face {
font-family:"mr-eaves-xl-modern";
src:url("https://use.typekit.net/af/220525/00000000000000003b9adbdc/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff2"),url("https://use.typekit.net/af/220525/00000000000000003b9adbdc/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff"),url("https://use.typekit.net/af/220525/00000000000000003b9adbdc/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:400;
}

@font-face {
font-family:"mr-eaves-xl-modern-narrow";
src:url("https://use.typekit.net/af/1fab22/00000000000000003b9adbe4/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/1fab22/00000000000000003b9adbe4/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/1fab22/00000000000000003b9adbe4/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:400;
}

@font-face {
font-family:"mr-eaves-xl-modern-narrow";
src:url("https://use.typekit.net/af/9804e9/00000000000000003b9adbe8/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff2"),url("https://use.typekit.net/af/9804e9/00000000000000003b9adbe8/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff"),url("https://use.typekit.net/af/9804e9/00000000000000003b9adbe8/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:400;
}

@font-face {
font-family:"mr-eaves-xl-modern-narrow";
src:url("https://use.typekit.net/af/350e8c/00000000000000003b9adbe9/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/350e8c/00000000000000003b9adbe9/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/350e8c/00000000000000003b9adbe9/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:700;
}

@font-face {
font-family:"mr-eaves-xl-modern-narrow";
src:url("https://use.typekit.net/af/c02ed9/00000000000000003b9adbea/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff2"),url("https://use.typekit.net/af/c02ed9/00000000000000003b9adbea/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff"),url("https://use.typekit.net/af/c02ed9/00000000000000003b9adbea/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:700;
}

@font-face {
font-family:"mr-eaves-xl-sans";
src:url("https://use.typekit.net/af/1801b7/00000000000000003b9adbeb/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/1801b7/00000000000000003b9adbeb/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/1801b7/00000000000000003b9adbeb/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:400;
}

@font-face {
font-family:"mr-eaves-xl-sans";
src:url("https://use.typekit.net/af/bbced3/00000000000000003b9adbed/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/bbced3/00000000000000003b9adbed/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/bbced3/00000000000000003b9adbed/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:700;
}

@font-face {
font-family:"mr-eaves-xl-sans";
src:url("https://use.typekit.net/af/163684/00000000000000003b9adbf2/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff2"),url("https://use.typekit.net/af/163684/00000000000000003b9adbf2/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff"),url("https://use.typekit.net/af/163684/00000000000000003b9adbf2/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:700;
}

@font-face {
font-family:"mr-eaves-xl-sans";
src:url("https://use.typekit.net/af/3d9923/00000000000000003b9adbf7/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff2"),url("https://use.typekit.net/af/3d9923/00000000000000003b9adbf7/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff"),url("https://use.typekit.net/af/3d9923/00000000000000003b9adbf7/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:400;
}

@font-face {
font-family:"mr-eaves-xl-sans-narrow";
src:url("https://use.typekit.net/af/639731/00000000000000003b9adbf9/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff2"),url("https://use.typekit.net/af/639731/00000000000000003b9adbf9/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff"),url("https://use.typekit.net/af/639731/00000000000000003b9adbf9/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:700;
}

@font-face {
font-family:"mr-eaves-xl-sans-narrow";
src:url("https://use.typekit.net/af/039712/00000000000000003b9adc03/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/039712/00000000000000003b9adc03/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/039712/00000000000000003b9adc03/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:400;
}

@font-face {
font-family:"mr-eaves-xl-sans-narrow";
src:url("https://use.typekit.net/af/5c13ef/00000000000000003b9adc04/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff2"),url("https://use.typekit.net/af/5c13ef/00000000000000003b9adc04/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff"),url("https://use.typekit.net/af/5c13ef/00000000000000003b9adc04/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:400;
}

@font-face {
font-family:"mr-eaves-xl-sans-narrow";
src:url("https://use.typekit.net/af/2d5340/00000000000000003b9adc06/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/2d5340/00000000000000003b9adc06/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/2d5340/00000000000000003b9adc06/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:700;
}

.tk-mr-eaves-xl-modern { font-family: "mr-eaves-xl-modern",sans-serif; }
.tk-mr-eaves-xl-modern-narrow { font-family: "mr-eaves-xl-modern-narrow",sans-serif; }
.tk-mr-eaves-xl-sans { font-family: "mr-eaves-xl-sans",sans-serif; }
.tk-mr-eaves-xl-sans-narrow { font-family: "mr-eaves-xl-sans-narrow",sans-serif; }

/* cyrillic-ext */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Source Sans Pro Regular'), local('SourceSansPro-Regular'), url(https://fonts.gstatic.com/s/sourcesanspro/v13/6xK3dSBYKcSV-LCoeQqfX1RYOo3qNa7lqDY.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Source Sans Pro Regular'), local('SourceSansPro-Regular'), url(https://fonts.gstatic.com/s/sourcesanspro/v13/6xK3dSBYKcSV-LCoeQqfX1RYOo3qPK7lqDY.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Source Sans Pro Regular'), local('SourceSansPro-Regular'), url(https://fonts.gstatic.com/s/sourcesanspro/v13/6xK3dSBYKcSV-LCoeQqfX1RYOo3qNK7lqDY.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Source Sans Pro Regular'), local('SourceSansPro-Regular'), url(https://fonts.gstatic.com/s/sourcesanspro/v13/6xK3dSBYKcSV-LCoeQqfX1RYOo3qO67lqDY.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Source Sans Pro Regular'), local('SourceSansPro-Regular'), url(https://fonts.gstatic.com/s/sourcesanspro/v13/6xK3dSBYKcSV-LCoeQqfX1RYOo3qN67lqDY.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Source Sans Pro Regular'), local('SourceSansPro-Regular'), url(https://fonts.gstatic.com/s/sourcesanspro/v13/6xK3dSBYKcSV-LCoeQqfX1RYOo3qNq7lqDY.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Source Sans Pro Regular'), local('SourceSansPro-Regular'), url(https://fonts.gstatic.com/s/sourcesanspro/v13/6xK3dSBYKcSV-LCoeQqfX1RYOo3qOK7l.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
font-family: mr-eaves-xl-modern, sans-serif;
font-style: normal;
font-weight: 100;
}
mainbody,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li,
html,
nav-itemnav-itembody {
	font-family: "Source Sans Pro", sans-serif;
}
 footer, header, main, nav, section {
    display: block;
    max-width: 1440px;
    margin: auto;
}
body {


    max-width: 1440px;
    margin: auto;

}

.container {
	max-width: 70%;
}

#main-content{
	background-image: url("/content/dam/procuts/bg2.png");
	background-repeat: no-repeat;
    background-size: 100%;
}
/*------------------NAVIGATION STYLES-----------*/

.navbar {
	padding: 0px;
	background-color: rgba(255, 255, 255, 1.0) !important;
}

.navbar-brand {
	width: 15%
}

.navbar-brand img {
	width: 100%
}

.navbar-light .navbar-nav .nav-link {
	font-family: "Source Sans Pro", sans-serif;
	color: #303234 !important;
	font-weight: 600 !important;
}

.navbar-dark .navbar-nav .nav-link {
	color: rgba(255, 255, 255, 1.0) !important;
}

.nav-link {
	padding: 8px !important;
	font-size: 18px;
	font-family: "Source Sans Pro", sans-serif;
	font-weight: 100 !important;
}

.nav-item {
	margin-left: 1.0rem;
	line-height: 3.2rem;
}

.navbar-light .navbar-nav .nav-link {
	border-bottom: 3px solid #ffffff;
	;
}

.navbar-light .navbar-nav .nav-link:hover {
	color: #007298 !important;
	border-bottom: 3px solid #007298;
}


/*-------**********************-----------------*/


/*----------------FOOTER STYLES-----------*/

.CopyRightText {
	clear: both;
	font-size: 16px;
	color: #494B4E;
	margin-top: 40px;
	padding-bottom: 10px;
	font-family: "Source Sans Pro", sans-serif;
	text-align: center;
}

.CopyRightText a {
	color: #017197;
	font-size: 16px;
	font-family: "Source Sans Pro", sans-serif;
}

.footer_cont {
	padding: 0;
	margin: 0px auto;
	width: 100%;
	margin-top: 0rem;
	background-color: #F1F1F0 !important;
	overflow: auto;
	margin-top: 100px;
}

.footer_cont>.container {
	background-color: #F1F1F0;
	overflow: auto;
	border-bottom: 1px solid rgba(116, 126, 128, 0.3);
}

.footer_cont .ft_nav {
	text-align: left;
	padding: 30px 15px 30px 15px;
	font-size: 12px;
	color: #666;
	float: left;
	width: 60%;
}

.footer_cont .ft_nav a {
	font-family: "Source Sans Pro", sans-serif;
	text-decoration: none;
	font-size: 18px;
	color: #494B4E;
	text-transform: uppercase;
	display: inline-block;
	padding: 0 15px 0 15px;
	border-left: 1px solid rgba(255, 255, 255, 0.2);
	font-weight: 100 !important;
	;
}

.footer_cont .ft_nav a:hover {
	text-decoration: underline;
}

.footer_cont small {
	font-size: 12px !important;
	clear: both;
	float: left
}

.footer_cont small a {
	color: #71888d !important;
}

.footer_cont .ft_nav a:nth-of-type(1) {
	border: none;
	padding-left: 0px;
}

.footer_cont .botFoot {
	border-top: 1px solid #d7d9d8;
	padding: 1.2rem;
	text-align: center;
	font-size: 0.75rem;
	color: #7a7d87;
	border: none;
}

.footer_cont .ft_nav .FootSub, .footer_cont .FootBot .FootSub{ font-family:mr-eaves-xl-modern,sans-serif; color: #303234; font-size: 13px; text-transform: uppercase; margin-bottom: 10px; font-weight: bold; text-align:left}

.SocialIcon {
	border-radius: 100px;
	width: 2.2rem;
	height: 2.2rem;
	border: 1px solid #6a6e79;
	color: #6a6e79;
	text-align: center;
	line-height: 2.2rem;
	font-size: 1.0rem;
	margin: 0.5rem;
	margin-top: 15px;
}

.SocialIcon:hover {
	background-color: #6a6e79;
	color: #ffffff;
}

.FootBot {
	    width: 16%;
        float: right;
        text-align: left;
        border: none;
        margin-top: 30px;
}
.FootBot img{
    width: 20%;
}


/*-------**********************-----------------*/

.Mainheader {
	margin-top: 4rem !important;
}

.Procard {
	background-color: #fafafa;
	border: none;
	text-align: center;
	display: flex;
}

.Procard h3.card-title {
	font-size: 1.25rem
}

.Procard h3.card-title a {
	font-size: 20px;
	color: #000000;
	font-family: "calluna";
	text-decoration: none;
	margin-bottom: 5px !important;
	line-height: 20px;
}

.Procard h3.card-title a:hover {
	color: #ce0f2e;
}

.Procard h4 {
	font-size: 18px;
	color: rgba(0, 0, 0, 0.4);
	margin: 0px;
}

.Procard .strike {
	color: rgba(0, 0, 0, 0.4);
	text-decoration: line-through;
	padding-left: 5px;
}

.Procard h3 {
	font-size: 0.8rem
}

.Procard .card-text {
	font-size: 14px;
	font-family: "Kobenhavn";
	line-height: 14px;
	color: #86939e;
}

.login.active {
	background-color: #ce0f2e;
	color: #ffffff !important;
}

#hover {
	position: relative;
}

#hover a.login {
	border-radius: 5px;
	line-height: normal;
	margin-top: 1.2rem;
	color: #ffffff !important;
	border: none !important;
	font-family: "Source Sans Pro", sans-serif;
	font-size: 15px;
	padding: 6px 20px !important;
	background-color: #007298;
}

#hover a.login:hover {
	border: none;
	line-height: normal;
	color: #ffffff !important;
	font-size: 15px;
	color: #ffffff !important;
}

.SearchShop {
	width: 275px;
	background-color: #ffffff;
	padding: 15px;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
	margin-top: 12px;
	right: 0px;
}

.SearchShop h5 {
	font-size: 14px;
	font-family: "Source Sans Pro", sans-serif;
	padding: 0px;
	line-height: 10px;
}

.SearchShop .smalltext {
	font-family: "Source Sans Pro", sans-serif;
	font-size: 12px;
	padding: 0px;
	line-height: 10px;
	color: rgba(0, 0, 0, 0.5);
}

.SearchShop input[type="text"] {
	font-family: "Source Sans Pro", sans-serif;
	width: 100%;
	padding: 7px 8px;
	border: 1px solid #E1E8EE;
	line-height: normal;
}

.MainTitle {
	border-top: 1px solid #e9e9e9;
}


/*.redBut {
    background-color: #ce0f2e;
    color: #ffffff;
    width: 100%;
    border-radius: 0px !important;
}*/

.ThemeBut {
	background-color: #71888d;
	color: #ffffff;
	width: 100%;
	border-radius: 0px !important;
}

.card-type {
	position: absolute;
	top: 10px;
	right: 10px;
	padding: 3px 10px;
	color: #fff;
	z-index: 1;
	font-size: 0.9rem;
}

.card-type img {
	max-width: 100%;
}

.new {
	background-color: #f2ae1b;
}

.disc {
	background-color: #bf2c34;
}

.sale {
	background-color: #e74c38;
}

.DivbelowNav {
	margin-top: 60px;
	overflow: auto;
	overflow-x: hidden;
}

.dropdown-menu {
	background-color: #ffffff;
	padding: 5px;
	/*border-top: 2px solid #ce0f2e;*/
	border-radius: 0px;
}

.dropdown-menu .dropdown-item {
	font-size: 12px;
	padding: 5px;
	line-height: normal;
}


/*-----------HOME CARAOUSEL-----------*/

.HeaderBox {
	display: -webkit-flex;
	/* Safari */
	display: flex;
	-webkit-flex-grow: 1;
	/* Safari 6.1+ */
	-webkit-flex-shrink: 1;
	/* Safari 6.1+ */
	-webkit-flex-basis: 100px;
	/* Safari 6.1+ */
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 100px;
	margin-top: 70px;
}

.HeaderBox div.HeadItem {
	width: 25%;
}

.HeaderBox h3 {
	font-family: "calluna";
	color: rgba(255, 255, 255);
	font-size: 24px;
	margin: 0px;
}

.HeaderBox small {
	font-family: "Kobenhavn";
	color: rgba(255, 255, 255, 0.5);
	font-size: 1.0rem;
}

.HeaderBox h4 {
	font-family: "Kobenhavn";
	color: rgba(255, 255, 255, 1.0);
	font-size: 1.4rem;
}

.HeaderBox a {
	font-family: "Kobenhavn";
	color: rgba(255, 255, 255, 0.7) !important;
	font-size: 1.0rem;
	text-decoration: underline !important
}

.HeaderBox a:hover {
	text-decoration: none !important
}

.HeaderBox .imgBox {
	max-width: 100%;
	padding: 0px 2rem;
}

.HeaderBox .TxtBox {
	padding: 0.5rem;
}

.CoverImage {
	background-size: cover;
}

.HeadBox-Orange {
	background-color: #e1652c;
}

.HeadBox-Red {
	background-color: #bf2c34;
}

.HeadBox-Pink {
	background-color: #fe729c;
}

.HeadBox-Yellow {
	background-color: #d9960b;
}


/*-----------------END--------*/

.MainHead,
.imgtxt-heading.h2,
.PageHead,.sub-brand {
	font-family: mr-eaves-xl-modern, sans-serif;
	font-size: 42px;
	color: #235A4E;
	margin: 30px 0px;
	font-weight: 900;
}

.SubHead {
	font-family: "Mr Eaves XL";
	font-size: 22px;
	color: #235A4E;
	font-weight: 200;
}

.BigHead {
	font-family: "Mr Eaves XL", sans-serif;
	font-size: 38px;
	color: #235A4E;
	margin: 30px 0px;
	font-weight: 700;
}

.ThemeColor {
	color: #ebbd4a !important;
}

.SmallHead {
	font-family: "Source Sans Pro", sans-serif;
	font-size: 22px;
	color: #ebbd4a;
	margin: 30px 0px;
	font-weight: 300;
}

.Content,
.imgtxt-para, .salon-timings, .salondetails {
	font-family: "Source Sans Pro", sans-serif;
	font-size: 20px;
	color: #747E80;
	font-weight: 100;
}
.salon-timings h2{
	color: #343a40 !important;
}

.Content strong,
.imgtxt-para b {
	font-weight: 600 !important
}

.Content-sm {
	font-family: "Source Sans Pro", sans-serif;
	font-size: 16px;
	color: #747E80;
	font-weight: 100 !important;
}

.Content-sm strong {
	font-weight: 600 !important
}

.MainHead .icon {
	width: 86px;
	margin-right: 20px;
}

.MainHead .icon img {
	max-width: 100px;
}

.SiteLink {
	color: #EBBD4A;
	text-decoration: none
}

.SiteLink:hover {
	color: #ffffff;
	text-decoration: underline;
}

.RedLink-big {
	color: #ce0f2e;
	text-decoration: none;
	font-size: 24px;
}

.RedLink-big:hover {
	color: #747C83;
	text-decoration: underline;
}

.ProductsListText {
	font-family: "Kobenhavn";
	font-size: 22px;
	color: #747C83;
	font-weight: 100 !important;
	line-height: 34px;
}

.low-alpha {
	list-style-type: lower-alpha;
	font-family: "Kobenhavn";
	font-size: 22px;
	color: #747C83;
	font-weight: 100 !important;
}

.low-alpha li,
.low-roman li {
	font-family: "Gill Sans", "Gill Sans MT";
	font-size: 18px;
	font-weight: inherit;
	color: white;
}

.low-roman {
	list-style-type: lower-roman;
	font-family: "Source Sans Pro", sans-serif;
	font-size: 22px;
	color: #747C83;
	font-weight: 100 !important;
}

.disc-style {
	list-style-type: disc;
	font-family: "Source Sans Pro", sans-serif;
	font-size: 18px;
	font-weight: inherit;
	color: #747E80;
}

.disc-style li {
	font-family: "Source Sans Pro", sans-serif;
	font-size: 22px;
	font-weight: inherit;
	color: #747E80;
}

.clear {
	clear: both !important;
}

.ProForm {
	margin: 40px 0px;
}

.ProForm label {
	font-size: 18px;
	color: #303234;
	font-weight: 100;
	font-family: mr-eaves-xl-modern,sans-serif;
}

.ProForm input[type="text"],
.ProForm input[type="email"],
.ProForm input[type="tel"],
.ProForm textarea,
.ProForm input[type="file"] {
	border: 3px solid #e1e8ee !important;
	border-radius: 0px;
	font-family: "Source Sans Pro", sans-serif;
	font-size: 16px;
	color: #5E6977
}

.ProForm select {
	border: 3px solid #e1e8ee;
	border-radius: 0px;
	font-family: "Source Sans Pro", sans-serif;
	font-size: 18px;
	color: #5E6977;
	background-color: #F3F3F3;
}

.ProForm-But {
	background-color: #007292;
	color: #ffffff;
	width: 100%;
	border-radius: 0px !important;
	padding: 10px;
	font-family: "Source Sans Pro", sans-serif;
	font-size: 24px;
	font-weight: 200 !important;
	margin-bottom: 10px;
}

.redBut {
	background-color: #007292;
	color: #ffffff;
	width: 100%;
	border-radius: 5px !important;
	font-family: "Source Sans Pro", sans-serif;
	font-size: 15px;
	font-weight: 200 !important;
	border: none !important;
	margin-left: 20px;
	padding: 3px 10px;
	height: 34px;
}

.added-salons-container {
	background: transparent !important;
}

.displayNone {
	display: none !important;
}

.TipsBut {
	border: 2px solid #ce0f2e;
	color: #ce0f2e;
	width: 100%;
	border-radius: 0px !important;
	padding: 6px 10px;
	font-family: "Kobenhavn";
	font-size: 24px;
}

.TipsBut:hover {
	border: 2px solid #ce0f2e;
	background-color: #ce0f2e;
	color: #ffffff;
	width: 100%;
	border-radius: 0px !important;
	padding: 6px 10px;
	font-family: "Source Sans Pro", sans-serif;
	font-size: 24px;
}

.hidDiv {
	display: none;
}

.checkbox-inline {
	min-width: 25% !important;
	position: relative;
	padding-left: 30px;
}

.checkbox-inline input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
	margin-right: 30px;
}

.checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 25px;
	width: 25px;
	background-color: #eff3f6;
	border: 2px solid #e1e8ee
}


/* On mouse-over, add a grey background color */

.checkbox-inline:hover input~.checkmark {
	background-color: #e1e8ee;
}

.checkbox-inline input:checked~.checkmark {
	background-color: #71888d;
	border: 2px solid #71888d;
}

.checkmark:after {
	content: "";
	position: absolute;
	display: none;
	font-family: "Kobenhavn";
}

.checkbox-inline input:checked~.checkmark:after {
	display: block;
}

.checkbox-inline .checkmark:after {
	left: 9px;
	top: 3px;
	width: 5px;
	height: 15px;
	border: solid white;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.ContactBg {
	background-image: url("../images/contactus.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: bottom right;
	background-size: 40%;
}

.RedText {
	color: #ce0f2e;
}

.Find-outlet {
	background-color: #000000;
	background-image: url("../images/map.jpg");
}

.HeaderImageBox {
	margin-top: 70px;
	width: 100%;
	overflow: auto;
}

.HeaderImageBox .HeadColumn {
	width: 25%;
	float: left;
	clear: none;
	overflow: auto;
}

.ThreeTips {
	border-top: 1px solid #f1f1f1;
	margin-top: 10px;
}


/*----------Carausel----------------*/

.carousel {
	position: relative !important;
	margin-top: 65px;
}

.carousel-inner {
	height: 100vh;
}

.carousel-inner .carousel-caption {
	position: absolute !important;
	top: 30%;
	bottom: auto;
	left: 15%;
	background-color: #ffffff;
	width: 35%;
	text-align: left;
	padding: 40px;
}

.carousel-inner h5 {
	font-size: 42px;
	color: #017197;
	font-family: "Mr Eaves XL";
	font-weight: 900;
	width: auto;
}

.carousel-inner p {
	font-family: "Source Sans Pro", sans-serif;
	font-size: 18px;
	color: #383838;
}

.carousel-inner .btn-blue {
	background-color: #007298;
	color: #ffffff;
	font-family: "Source Sans Pro", sans-serif;
	font-size: 18px;
	border-radius: 5px;
	padding: 6px 15px;
	margin-top: 20px;
	text-transform: uppercase
}

.DarkPanel {
	background-color: rgba(0, 0, 0, 0.9);
	padding: 20px 50px 50px 50px;
	overflow: auto
}

.YellowPil {
	font-family: "Source Sans Pro", sans-serif;
	font-size: 20px;
	color: #ffffff;
	font-weight: 100 !important;
	background-color: #EBBD4A;
	padding: 3px 20px;
	width: auto;
	float: left;
	margin-bottom: 20px;
}

.card-body h4 {
	font-size: 20px;
	font-family: "Mr Eaves XL";
	color: #1A174A;
}

.card-text {
	font-family: "Source Sans Pro", sans-serif;
	font-size: 16px;
	color: #444B5C;
}

.zeroRadius {
	border-radius: 0px !important;
	min-height: 18.5rem;
}

.card a {
	font-family: "Source Sans Pro", sans-serif;
	font-size: 16px;
	color: #007298 !important;
}
.card-title, .card a {
	color: #007298;
}
.LocationHeader {
	top: 50%;
	left: 5%;
}

.LocationHeader h1 {
	font-size: 2.5rem;
}

.MobileMar {
	margin-top: 0px;
}

.showhide {
	display: block;
}

section {
	overflow-x: hidden;
}

.ThemeLink {
	color: #007298;
	font-size: 14px;
	font-family: "Source Sans Pro", sans-serif;
	font-weight: 200;
	text-decoration: none;
}

.ThemeLink:hover {
	color: #ffffff;
	text-decoration: none;
}

.ThemeLink2, .salondetails a {
	color: #007298;
	font-family: "Source Sans Pro", sans-serif;
	font-weight: 500;
	text-decoration: none;
}
.salondetails a{
    font-size: 22px;
}

.ThemeLink2:hover {
	color: #000000;
	text-decoration: none;
}

.mobilecarousel {
	display: none;
}

.desktopcarousel {
	display: block;
}

.textandimage img {
	max-width: 100% !important;
}

.DivbelowNavHome{
	margin-top: 48px;
	overflow: hidden;

}

.contentDiv {
	margin-top: 48px;
}
#procutshover a.login{
	border-radius: 5px;
    line-height: normal;
    margin-top: 1.2rem;
    color: #ffffff !important;
    border: none !important;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 18px;
    padding: 6px 20px !important;
    background-color: #007298;
}
.Twitter, .Facebook, .Instagram{
    padding: 5px;
    margin-left: 0px;

}
.searchBut{
	background-color: #007298 !important;
    border-color: transparent;
    margin-left: 20px;
}
.store-title {
	font-size: 1.5rem !important;
	color: #007298 !important;
}
.store-title:hover {
	color: #007298;
}
.icon-tick {
    z-index: 0 !important;
}

.vcard a{
	color: #747E80;
    font-weight: 100;
}
.location-search{
	width: 100%;
}
.img-text-comp .txtalign-left{
  text-align: left;
  padding-left: 15px;
}
.img-text-comp .txtalign-center{
  text-align: center;
}
.carousel-indicators{
    padding-bottom: 50px;
}
.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg%20viewBox='0%200%2030%2030'%20xmlns='http://www.w3.org/2000/svg'%3e%3cpath%20stroke='rgba(0,%200,%200,%200.5)'%20stroke-width='2'%20stroke-linecap='round'%20stroke-miterlimit='10'%20d='M4%207h22M4%2015h22M4%2023h22'/%3e%3c/svg%3e") !important;
}

.HeroImg{
    margin-top:0px;
    position: relative;
}

.img-caption {
    position: absolute !important;
    top: 30%;
    bottom: auto;
    left: 15%;
    background-color: #ffffff;
    width: 35%;
    text-align: left;
    padding: 40px;
    font-family: "Source Sans Pro", sans-serif;
    color: #383838;
    font-size: 18px;

}
.img-caption h5 {
    font-size: 42px;
    color: #017197;
    font-family: mr-eaves-xl-modern, sans-serif;
    font-weight: 900;
    width: auto;
}



.img-caption .btn-blue {
    background-color: #007298;
    color: #ffffff;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 18px;
    border-radius: 5px;
    padding: 6px 15px;
    margin-top: 20px;
    text-transform: uppercase;
}

.btn:hover {
  color: #ffffff;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.imgtxt-para a:hover{
	color: #007298 !important;
}
.maps-container{
    height: 450px;
    width: 110%;
    margin: 220px 20px;
    margin-bottom: 10px;
}

.salon-address {
	font-family: "Source Sans Pro", sans-serif;
	font-size: 16px !important;
	color: #212529;
	font-weight: 100 !important;
}
.card-title:hover{
	color: #0056b3;
    text-decoration: underline;
}
a {
	color: #007298;
}
.responsivegrid .DivbelowNav {
      margin-top: 0px;
}
.salon-timings h2{
    font-size: 22px;
    font-family: "Source Sans Pro",sans-serif;
    font-weight: 500;
}
.shadow {
    box-shadow: 0 .25rem .25rem rgba(0,0,0,0.15) !important;
}
.footer_cont .Carrot{position:absolute; margin-top: -100px; left: 50%; z-index: -999;}

.each-state {
	padding: 0px;
}

.state-name {
	max-width: 100%;
	text-transform: uppercase;
	padding-left: 0px !important;
}

.return-to-top {
	color: #000000;
}

.salon-group {
	background-color: rgba(0, 0, 0, 0.03);
	padding: 10px;
	max-width: 100%;
}

.salon-group a {
	font-size: 14px;
	line-height: 25px;
}

.breadcrumb {
	background-color: transparent;
}

.jump-links-wrap h1,.jump-links-wrap h2, .jump-links{
	text-transform: capitalize;
}

.state-name a{
	color: #d79a2b !important
}
.listsalonsonpage .salon-group a{
	color: #303234 !important;
}
.listsalonsonpage .h4{
    white-space: nowrap;
}

.each-state{ overflow:auto;}

.jump-links-wrap{padding:0px;}

.jump-links-wrap h1, .jump-links-wrap h2, .jump-links{color: black;}

.jump-links-wrap .h4{
	padding:0px;
}

.state-city-alphaSet{
	padding-right: 20px;
}

.jump-links{
	margin-top: 20px;
}

#stateUrlForCity {
	text-transform: capitalize;
}

.salon-list-head{
	padding-left:0px !important;
}
@media only screen and (min-device-width: 1680px){
   .contentDiv {
		margin-top: 80px;
    }

}
@media only screen and (min-device-width: 1366px){
    #procutshover a.login {
        margin-top: 1.0rem !important;
    }
}
/*-------------End-----------------*/
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) {
    .maps-container {
            margin: 220px 20px !important;
    }
    .salondetailspagelocationcomp{
		margin-left: 25px !important;
	}
    .contentDiv {
        margin-top: 100px;
    }
    .maps-container {
        width: 100%;
    }
    .zeroRadius {
        min-height: 21.5rem;
    }
    .navbar-brand {
        width: 15% !important;
    }
    .navbar-brand img{
        width: 100%;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
	.showhide {
		display: block;
	}
	.navbar-brand img {
		width: 60%;
	}
	#hover a.login {
		margin-top: 0px;
	}
	.SearchShop {
		width: 100%;
		background-color: transparent;
		padding: 0px;
		box-shadow: 0px;
		margin-top: 0px;
		right: 0px;
		margin-bottom: 20px;
	}
	.SearchShop h5 {
		font-size: 14px;
		font-family: "Source Sans Pro", sans-serif;
		padding: 0px;
		line-height: 10px;
		color: #ffffff;
	}
	.MobileMar {
		margin-top: 180px;
	}
	.carousel-inner {
		height: auto !important;
	}
	.LocationHeader {
		top: 20%;
		left: 0%;
	}
	.LocationHeader h1 {
		font-size: 2.0rem;
	}
	.carousel-indicators {
		margin-bottom: 0rem !important;
	}
	.carousel-inner .carousel-caption {
		position: relative !important;
		top: auto;
		bottom: auto;
		left: 0px;
		background-color: #ffffff;
		width: 100%;
		text-align: left;
		padding: 10px;
	}
	.carousel-inner h5 {
		font-size: 30px;
		color: #212121;
		font-family: "Source Sans Pro", sans-serif;
		font-weight: 900;
		width: auto;
	}
	.HeaderBox div.HeadItem {
		width: 50% !important;
	}
	.footer_cont .ft_nav {
		width: 72% !important;
	}
	.FootBot {
		text-align: left;
		border-bottom: 1px solid rgba(255, 255, 255, 0.3);
		margin-bottom: 10px;
		padding-bottom: 10px;
		width: 16%;
	}
	.footer_cont .ft_nav a{
    	padding: 0 10px 0 10px;
    }
	.CopyRightText {
		clear: both;
		font-size: 18px;
		color: #494B4E;
		width: 100%;
		margin-top: 40px;
		padding-bottom: 10px;
		font-family: "Gill Sans", "Gill Sans MT";
	}
	.CopyRightText a {
		font-size: 18px;
	}
	.navbar {
		padding: 10px;
	}
	.navbar-brand {
		width: 50%;
	}
	.checkbox-inline {
		min-width: 50% !important;
	}
	.navbar-light .navbar-nav .nav-link {
		font-size: 18px;
		border: none;
		text-align: center;
		line-height: 25px;
	}
	.navbar-dark .navbar-nav .nav-link {
		font-size: 14px;
		border: none;
		text-align: center;
		line-height: 25px;
	}
	.MobileMar {
		margin-top: 5px;
	}
	.container {
		max-width: 100%;
		padding: 10px 30px !important;
	}
	.DivbelowNav {
		padding: 0px;
	}
	.mobilecarousel {
		display: none;
	}
	.desktopcarousel {
		display: block;
	}
	.DivbelowNavHome {
    	padding: 15px;
    	margin-top: 85px;
    }
    .show-more-container .map-directions .check-in {
        width: 46% !important;
        margin: 0px 0 40px 20px !important;
    }

    .imgtxt-para {
        padding: 15px;
    }
    .img-caption {
        position: relative !important;
        top: auto;
        bottom: auto;
        left: 0px;
        background-color: #ffffff;
        width: 100%;
        text-align: left;
        padding: 10px;
    }
    .salondetailspagelocationcomp{
    	margin-left: 15px !important;
    }

    #procutshover a.login {
         margin-top: 0.5rem !important;
    }
    .maps-container {
         width: 100%;
    }
}

@media screen and (max-width: 767px) {
	.navbar-expand-lg>.container,
	.navbar-expand-lg>.container-fluid {
		padding-right: 30px;
		padding-left: 30px;
	}
	body {
		background-image: none !important;
	}
	.mobilecarousel {
		display: none;
	}
	.desktopcarousel {
		display: block;
	}
	 .img-caption {
        position: relative !important;
        top: auto;
        bottom: auto;
        left: 0px;
        background-color: #ffffff;
        width: 100%;
        text-align: left;
        padding: 10px;
    }
    .footer_cont .Carrot:{display:none}
}


/*Mobile Landscape*/

@media only screen and (min-device-width: 375px) and (max-device-width: 825px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
	.carousel-inner h5 {
		font-size: 25px;
	}
	.heroImageCarousel {
		margin-bottom: 0px;
	}
	.carousel-inner .carousel-caption {
		width: 40%;
		padding: 10px;
		top: 10%;
	}
	.carousel-inner p {
		font-size: 14px;
	}
	.carousel-inner .btn-blue {
		font-size: 14px;
		padding: 4px 10px;
		margin-top: 0px;
	}/*.DivbelowNav {
     		padding: 15px;
     	}*/

	.navbar-light .navbar-nav .nav-link {
		font-size: 18px;
		border: 0;
		text-align: center;
		line-height: 25px;
		color: #303234 !important;
	}
	.dropdown-menu .dropdown-item,
	.navbar-light .navbar-nav .nav-link {
		border: none !important;
	}
	#hoverroosters a.login {
		margin-bottom: 30px;
	}
	.show-more-container .map-directions .check-in {
		width: 42% !important;
		height: 220px;
		margin: 0px 0 40px 23px;
	}
	.store-title {
		font-size: 1.2rem !important;
	}
	.searchBut {
		width: 15% !important;
	}
	.acs-commons-resp-colctrl-col:first-child {
		padding-right: 0px;
		display: block;
	}
	.acs-commons-resp-colctrl-col:only-child {
		padding-right: 0px;
		display: block;
	}
	.CopyRightText,
	.CopyRightText div,
	.footer_cont .ft_nav,
	.FootBot {
		width: auto;
	}
	.FootBot img {
        width: 4% !important;
    }
    .FootBot{
        float: none;
        text-align: left;
        margin-top: 22px;
    }
	.DivbelowNav {
		margin-top: 20px;
	}
	.container {
		max-width: 100%;
	}
	.DivbelowNav .container {
		max-width: 94% !important;
	}
	.navbar-light,
	.bg-light {
		background: white !important;
		box-shadow: none !important;
		padding: 10px;
	}
	body {
		background-image: none;
	}
	.mobilecarousel {
		display: none;
	}
	.desktopcarousel {
		display: block;
	}
	/*.DivbelowNavHome {
    		padding: 15px;
    }*/
     .img-caption {
        position: relative !important;
        top: auto;
        bottom: auto;
        left: 0px;
        background-color: #ffffff;
        width: 100%;
        text-align: left;
        padding: 10px;
    }
    .maps-container {
        width: 100%;
    }
    .footer_cont .Carrot:{display:none;}
    .FootBot img {
        width: 8%;
    }
    .footer_cont .ft_nav a{
    	font-size: 15px;
    }
}

@media (min-width: 300px) and (max-width: 568px) {
	body {
		background-position: 70% bottom;
	}
	.container {
		max-width: 100%;
	}
	.carousel-control-next-icon,
	.carousel-control-prev-icon {
		display: none
	}
	.showhide {
		display: none;
	}
	.SearchShop {
		width: 100%;
		background-color: transparent;
		padding: 0px;
		box-shadow: 0px;
		margin-top: 0px;
		right: 0px;
		margin-bottom: 20px;
	}
	.SearchShop h5 {
		font-size: 14px;
		font-family: "Source Sans Pro", sans-serif;
		padding: 0px;
		line-height: 10px;
		color: #ffffff;
	}
	.MobileMar {
		margin-top: 40px;
	}
	.carousel-inner {
		height: auto !important;
	}
	.LocationHeader {
		top: 20%;
		left: 0%;
	}
	.LocationHeader h1 {
		font-size: 2.0rem;
	}
	.carousel-indicators {
		margin-bottom: 0rem !important;
		display: none;
	}
	.carousel-inner .carousel-caption {
		position: relative !important;
		top: auto;
		bottom: auto;
		left: 0px;
		background-color: #ffffff;
		width: 100%;
		text-align: left;
		padding: 10px;
	}
	.w-100 {
		width: 160%!important;
		margin-left: -50% !important;
	}
	.carousel-inner h5 {
		font-size: 30px;
		color: #212121;
		font-family: "Source Sans Pro", sans-serif;
		font-weight: 900;
		width: auto;
	}
	.HeaderBox div.HeadItem {
		width: 50% !important;
	}
	.footer_cont .ft_nav {
		width: 100%;
	}
	.footer_cont .ft_nav a {
		font-family: "Source Sans Pro", sans-serif;
		text-decoration: none;
		font-size: 18px;
		color: #494b4e;
		display: flex;
		padding: 5px 0px;
		border-left: none;
		font-weight: 100;
	}
	.FootBot {
		text-align: left;
		border-top: 1px solid rgba(255, 255, 255, 0.3);
		border-bottom: 1px solid rgba(255, 255, 255, 0.3);
		width: 100%;
		margin-bottom: 10px;
		padding-bottom: 10px;
	}
	.CopyRightText {
		clear: both;
		font-size: 18px;
		width: 100%;
		margin-top: 40px;
		padding-bottom: 10px;
		font-family: "Source Sans Pro", sans-serif;
		text-align: left;
        padding-left: 18px;
        padding-right: 18px;
	}
	.CopyRightText a {
		font-size: 18px;
	}
	.navbar-brand {
		width: 50%;
	}
	.checkbox-inline {
		min-width: 50% !important;
	}
	.navbar-light .navbar-nav .nav-link {
		font-size: 18px;
		border: none;
		text-align: center;
		line-height: 25px;
	}
	.navbar-dark .navbar-nav .nav-link {
		font-size: 18px;
		border: none;
		text-align: center;
		line-height: 25px;
	}
	.redButSpan{
    	width: 100%;
    }
    .redBut{
        margin-left: 0 !important;
        margin-top: 10px;
    }

    .searchBut {
        margin-left: 0px;
        width: 100%;
        margin-top: 10px;
    }
     .img-caption {
        position: relative !important;
        top: auto;
        bottom: auto;
        left: 0px;
        background-color: #ffffff;
        width: 100%;
        text-align: left;
        padding: 10px;
    }
    .maps-container {
        width: 100%;
        margin: 20px 15px;
        height: 400px;
    }
    .responsivegrid .DivbelowNav {
        margin-top: 0px;
        padding: 0px;
    }
    .contentDiv{
        margin-top: 84px;
    }
    .footer_cont .Carrot{
        left: 35%;
    }
    .FootBot img {
        width: 8%;
    }
	.imgtxt-box{
    	padding-left: 30px !important;
        padding-right: 30px !important;
    }

}

@media (min-width: 992px) and (max-width: 1365px) {
.acs-commons-resp-colctrl-col-30{width:45%;}

.showhide {
		display: block;
	}
	.navbar-brand img {
		width: 60%;
	}
	#hover a.login {
		margin-top: 0px;
	}
	.SearchShop {
		width: 100%;
		background-color: transparent;
		padding: 0px;
		box-shadow: 0px;
		margin-top: 0px;
		right: 0px;
		margin-bottom: 20px;
	}
	.SearchShop h5 {
		font-size: 14px;
		font-family: "Source Sans Pro", sans-serif;
		padding: 0px;
		line-height: 10px;
		color: #ffffff;
	}
	.MobileMar {
		margin-top: 180px;
	}
	.carousel-inner {
		height: auto !important;
	}
	.LocationHeader {
		top: 20%;
		left: 0%;
	}
	.LocationHeader h1 {
		font-size: 2.0rem;
	}
	.carousel-indicators {
		margin-bottom: 0rem !important;
	}
	.carousel-inner .carousel-caption {
		position: relative !important;
		top: auto;
		bottom: auto;
		left: 0px;
		background-color: #ffffff;
		width: 100%;
		text-align: left;
		padding: 10px;
	}
	.carousel-inner h5 {
		font-size: 30px;
		color: #212121;
		font-family: "Source Sans Pro", sans-serif;
		font-weight: 900;
		width: auto;
	}
	.HeaderBox div.HeadItem {
		width: 50% !important;
	}
	.footer_cont .ft_nav {
		width: 72% !important;
	}
	.FootBot {
		text-align: left;
		border-bottom: 1px solid rgba(255, 255, 255, 0.3);
		margin-bottom: 10px;
		padding-bottom: 10px;
		width: 16%;

	}
	.footer_cont .ft_nav a{
    	padding: 0 10px 0 10px;
    }
	.CopyRightText {
		clear: both;
		font-size: 18px;
		color: #494B4E;
		width: 100%;
		margin-top: 40px;
		padding-bottom: 10px;
		font-family: "Gill Sans", "Gill Sans MT";
	}
	.CopyRightText a {
		font-size: 18px;
	}
	.navbar {
		padding: 10px;
	}
	.navbar-brand {
		width: 50%;
	}
	.checkbox-inline {
		min-width: 50% !important;
	}
	.navbar-light .navbar-nav .nav-link {
		font-size: 18px;
		border: none;
		text-align: center;
		line-height: 25px;
	}
	.navbar-dark .navbar-nav .nav-link {
		font-size: 14px;
		border: none;
		text-align: center;
		line-height: 25px;
	}
	.MobileMar {
		margin-top: 5px;
	}
	.container {
		max-width: 100%;
		padding: 10px 30px !important;
	}
	.DivbelowNav {
		padding: 0px;
	}
	.mobilecarousel {
		display: none;
	}
	.desktopcarousel {
		display: block;
	}
	.DivbelowNavHome {
    	padding: 15px;
    	margin-top: 85px;
    }
    .show-more-container .map-directions .check-in {
        width: 46% !important;
        margin: 0px 0 40px 20px !important;
    }

    .imgtxt-para {
        padding: 15px;
    }
    .img-caption {
        position: relative !important;
        top: auto;
        bottom: auto;
        left: 0px;
        background-color: #ffffff;
        width: 100%;
        text-align: left;
        padding: 10px;
    }
    .salondetailspagelocationcomp{
    	margin-left: 15px !important;
    }

    #procutshover a.login {
         margin-top: 0.5rem !important;
    }
    .maps-container {
         width: 100%;
    }
.navbar {
	padding: 0px;
	background-color: rgba(255, 255, 255, 1.0) !important;
}

.navbar-brand {
	width: 15%
}

.navbar-brand img {
	width: 100%
}

.navbar-light .navbar-nav .nav-link {
	font-family: "Source Sans Pro", sans-serif;
	color: #303234 !important;
	font-weight: 600 !important;
}

.navbar-dark .navbar-nav .nav-link {
	color: rgba(255, 255, 255, 1.0) !important;
}

.nav-link {
	padding: 8px !important;
	font-size: 16px;
	font-family: "Source Sans Pro", sans-serif;
	font-weight: 100 !important;
}

.nav-item {
	margin-left: 1.0rem;
	line-height: 3.2rem;
}

.navbar-light .navbar-nav .nav-link {
	border-bottom: 3px solid #ffffff;
	;
}

.navbar-light .navbar-nav .nav-link:hover {
	color: #007298 !important;
	border-bottom: 3px solid #007298;
}

}
@media (min-width: 767px) and (max-width: 992px) {

.acs-commons-resp-colctrl-col-30{width:45%;}
.carousel-inner h5 {
		font-size: 25px;
	}
	.heroImageCarousel {
		margin-bottom: 0px;
	}
	.carousel-inner .carousel-caption {
		width: 40%;
		padding: 10px;
		top: 10%;
	}
	.carousel-inner p {
		font-size: 14px;
	}
	.carousel-inner .btn-blue {
		font-size: 14px;
		padding: 4px 10px;
		margin-top: 0px;
	}
    .navbar-expand-lg>.container, .navbar-expand-lg>.container-fluid {
    padding-right: 30px;
    padding-left: 30px;
}
	.navbar-light .navbar-nav .nav-link {
		font-size: 18px;
		border: 0;
		text-align: center;
		line-height: 25px;
		color: #303234 !important;
	}
	.dropdown-menu .dropdown-item,
	.navbar-light .navbar-nav .nav-link {
		border: none !important;
	}
	#hoverroosters a.login {
		margin-bottom: 30px;
	}
	.show-more-container .map-directions .check-in {
		width: 42% !important;
		height: 220px;
		margin: 0px 0 40px 23px;
	}
	.store-title {
		font-size: 1.2rem !important;
	}
	.searchBut {
		width: 15% !important;
	}
	.acs-commons-resp-colctrl-col:first-child {
		padding-right: 0px;
		display: block;
	}
	.acs-commons-resp-colctrl-col:only-child {
		padding-right: 0px;
		display: block;
	}
	.CopyRightText,
	.CopyRightText div,
	.footer_cont .ft_nav,
	.FootBot {
		width: auto;
	}
    .FootBot{
    text-align: left;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    margin-bottom: 10px;
    padding-bottom: 10px;
    width: 16%;
    float: right;
    }
.FootBot img {
    width: 20% !important;
}
	.container {
		max-width: 100%;
	}
	.DivbelowNav .container {
		max-width: 94% !important;
	}
	.navbar-light,
	.bg-light {
		background: white !important;
		box-shadow: none !important;

	}
	body {
		background-image: none;
	}
	.mobilecarousel {
		display: none;
	}
	.desktopcarousel {
		display: block;
	}
	.DivbelowNavHome {
    		padding: 15px;
    }
     .img-caption {
        position: relative !important;
        top: auto;
        bottom: auto;
        left: 0px;
        background-color: #ffffff;
        width: 100%;
        text-align: left;
        padding: 10px;
    }
    .maps-container {
        width: 100%;
    }
    .footer_cont .Carrot:{display:none;}

    .footer_cont .ft_nav a{
    	font-size: 15px;
    }


}
@media (min-width: 568px) and (max-width: 767px) {
.container {
    max-width: 100%;
}
   body {
		background-position: 70% bottom;
	}

	.carousel-control-next-icon,
	.carousel-control-prev-icon {
		display: none
	}
	.showhide {
		display: none;
	}
	.SearchShop {
		width: 100%;
		background-color: transparent;
		padding: 0px;
		box-shadow: 0px;
		margin-top: 0px;
		right: 0px;
		margin-bottom: 20px;
	}
	.SearchShop h5 {
		font-size: 14px;
		font-family: "Source Sans Pro", sans-serif;
		padding: 0px;
		line-height: 10px;
		color: #ffffff;
	}
	.MobileMar {
		margin-top: 40px;
	}
	.carousel-inner {
		height: auto !important;
	}
	.LocationHeader {
		top: 20%;
		left: 0%;
	}
	.LocationHeader h1 {
		font-size: 2.0rem;
	}
	.carousel-indicators {
		margin-bottom: 0rem !important;
		display: none;
	}
	.carousel-inner .carousel-caption {
		position: relative !important;
		top: auto;
		bottom: auto;
		left: 0px;
		background-color: #ffffff;
		width: 100%;
		text-align: left;
		padding: 10px;
	}
	.w-100 {
		width: 160%!important;
		margin-left: -50% !important;
	}
	.carousel-inner h5 {
		font-size: 30px;
		color: #212121;
		font-family: "Source Sans Pro", sans-serif;
		font-weight: 900;
		width: auto;
	}
	.HeaderBox div.HeadItem {
		width: 50% !important;
	}
	.footer_cont .ft_nav {
		width: 100%;
	}
	.footer_cont .ft_nav a {
		font-family: "Source Sans Pro", sans-serif;
		text-decoration: none;
		font-size: 18px;
		color: #494b4e;
		display: flex;
		padding: 5px 0px;
		border-left: none;
		font-weight: 100;
	}
	.FootBot {
		text-align: left;
		border-top: 1px solid rgba(255, 255, 255, 0.3);
		border-bottom: 1px solid rgba(255, 255, 255, 0.3);
		width: 100%;
		margin-bottom: 10px;
		padding-bottom: 10px;
	}
	.CopyRightText {
		clear: both;
		font-size: 18px;
		width: 100%;
		margin-top: 40px;
		padding-bottom: 10px;
		font-family: "Source Sans Pro", sans-serif;
		text-align: left;
        padding-left: 18px;
        padding-right: 18px;
	}
	.CopyRightText a {
		font-size: 18px;
	}

	.navbar-brand {
		width: 15%;
	}
	.checkbox-inline {
		min-width: 50% !important;
	}
	.navbar-light .navbar-nav .nav-link {
		font-size: 18px;
		border: none;
		text-align: center;
		line-height: 25px;
	}
	.navbar-dark .navbar-nav .nav-link {
		font-size: 18px;
		border: none;
		text-align: center;
		line-height: 25px;
	}
	.redButSpan{
    	width: 100%;
    }
    .redBut{
        margin-left: 0 !important;
        margin-top: 10px;
    }
    .searchBut {
        margin-left: 0px;
        width: 100%;
        margin-top: 10px;
    }
     .img-caption {
        position: relative !important;
        top: auto;
        bottom: auto;
        left: 0px;
        background-color: #ffffff;
        width: 100%;
        text-align: left;
        padding: 10px;
    }
    .maps-container {
        width: 100%;
        margin: 20px 15px;
        height: 400px;
    }
    .responsivegrid .DivbelowNav {
        margin-top: 0px;
        padding: 0px;
    }
    .contentDiv{
        margin-top: 84px;
    }
    .footer_cont .Carrot{
        left: 35%;
    }
    .FootBot img {
        width: 8%;
    }
	.imgtxt-box{
    	padding-left: 30px !important;
        padding-right: 30px !important;
    }

}


/*-------------------HeaderBox-------------------*/