.appsolute-container{
font-family: "open-sans", Helvetica, Arial, sans-serif;
width:auto;
overflow: hidden;
	.app-details-container{
		border: 1px solid #c8c8c8;
		background: url('../../clientlibs/sc-publish-clientlibs/resources/images/global-banner-bckgnd.jpg');
		background-size: 100%;
	
		.banner-img{
			text-align: center;
			margin-bottom: 25px;
			padding-top: 18px;

			img{
				width: 100%;
			}
		}
		.app-promo{
			margin-top: 36px;
			padding: 2ex 1em;
			p{
				margin: 0;
			}
			.component-primary-heading{
				font-size: 28px;
				font-family: "futura-pt-condensed", Helvetica, Arial, sans-serif;
				font-weight: 700;
				color: #1e3e6e;
				line-height: 1.1;
			}
			.gray{
				color: #5f6167;
				font-size: 28px;
				font-family: "futura-pt-condensed", Helvetica, Arial, sans-serif;
				font-weight: 700;
				line-height: 1.1;
			}
			.component-sub-heading{
				font-family: "futura-pt-condensed", Helvetica, Arial, sans-serif;
				font-weight: 700;
				line-height: 0.9;
				margin-top: 10px;
				color: #5f6167;
                font-size: 40px;
			}
			.component-description{
				font-size: 16px;
				font-family: "open-sans", Helvetica, Arial, sans-serif;
				color: #5f6167;
			}
			.cta-to-stores{
				a{
					display: inline-block;

					&:first-child{
						margin-bottom: 10px;
					}
				}
			}
		}
	}
}
@media screen and (min-width: 768px){
.appsolute-container{
	.app-details-container{
		.banner-img{
			margin-bottom: 0px;
		}
		.app-promo{
			
			.component-primary-heading{
				font-size: 30px;
				margin-bottom: 0;
			}
			.component-sub-heading{
				
				margin-top: 0;
			}
			.component-description{
				display: inline-block;
			}
			.cta-to-stores{
				margin-top: 15px;
			}
		}
	}
}
}

@media screen and (max-width: 768px){
	.appsolute-container{
		.app-details-container{
			.banner-img{
				margin-bottom: 0px;
			}
		}
	}
}