/*for parsys alignment*/
.eventdetailcomponent{
    overflow: hidden;
    height: auto;
    a{
		color:#428bca;
    }
}
/*for parsys alignment end*/

.filterOps{
    .filterIcon {
        display: none;
    }

    h3,h4{
		 color:#1e3e6e; 
    }

    select{
		width:184px;
        font-family: "futura-pt-condensed", Helvetica, Arial, sans-serif;
    	font-size: 20px;
    	font-weight: bold;
    }

    input[type="radio"], input[type="checkbox"] {
        margin-right:5px;
    }
    
    @media(max-width:768px){
        h3,h4{
            cursor: pointer;
            font-size:20px;
        }
        h4.filterIcon{
             margin-top:0;
        }
        .filterIcon{
            display: block;
            cursor: pointer;
            img{
                 height:20px;
                width:20px;
                margin-right:10px;
                position:relative;
                top:-5px;
            }
        }
        .evt-selected{
            background-color: #f5f6f8;
            border-left: 5px solid #48abe1;
            padding-left:5px;
        }
    }
    section.location{
        .acc-cont{
            label{
				display:block;
                padding:10px 0;
            }
        }
    }
}

#filtered-events{
	border-left:1px solid #5f6167;
    margin-top:30px;
}

.event-holder{
    margin-bottom:30px;
    .evt-date{
        padding: 0;
        border: 1px solid #000;
        width: 14%;
        @media(max-width:768px){
			    width: 25%;
    			margin-right: 0;
        }
        margin-right: 20px;
        span{
            display: block;
            text-align: center;
            h2{
                margin:0;
                color: #1e3e6e;
            }
        }
    }
    .evt-info{
        h2,h3,h4,p{
            margin: 0;
            text-transform:capitalize;
        }
        p{
			text-transform:none;
        }
        span{
            margin-bottom:5px;
            display:block;
        }
        h2{
            color: #1e3e6e;
            line-height:23px;
            text-tranform:uppercase;
        }
        h3{
			font-style:italic;
            font-weight:normal;
        }
        a{
            color:#428bca;
        }
        .evt-type{
            padding-left:30px;
            &.inPerson{
				background:url('../../clientlibs/sc-publish-clientlibs/resources/images/eventicons/in-person25.png') no-repeat top left;
            }
            &.webinar{
				background:url('../../clientlibs/sc-publish-clientlibs/resources/images/eventicons/webinar.png') no-repeat top left;
            }
        }
        .evt-topic{
            h3{
				font-size:21px;
            }
        }
        .evt-loc{
			background:url(../../clientlibs/sc-publish-clientlibs/resources/images/distance-pin.png) no-repeat center left;
            background-size:20px 20px;
            padding-left:23px;
            clear:both;
            h3{
            	font-size:20px;
            	font-weight:bold;
                font-style:normal;
            }
        }
    }
    @media(max-width:768px){
		padding-left:0 !important;
    }
}

@media(max-width:768px){
	#filtered-events{
		margin-top:20px;
        border:none;
	}
}

#filtered-events{
    .pagination{
		ul.my-navigation{
            li{
                display:inline;
                padding:0;
                a{
                    border:1px solid #428bca;
                    color:#1e3e6e;
                    cursor:pointer;
                    padding:5px 10px;
                }
                &.simple-pagination-page-numbers{
                    a.simple-pagination-navigation-disabled{
						background-color:#1e3e6e;
                        color: #FFF;
                        cursor:default;
                    }
                }
            }
        }
    }
}



/*event detail pages related changes*/

.eventdetailcomponent{
    .evt-desc{
		padding-right:30px;
    }
    .evt-topic{
        padding-bottom:20px;
        h3{
			padding:0;
            color:#5f6167;
        }
        span{
			font-style:italic;
            font-weight:normal;
            font-size:16px;
            text-transform:capitalize;
            font-family:"open-sans", Helvetica, Arial, sans-serif;
        }
    }
    .evt-misc-info div{
		min-height:160px; 
        padding:0;
        .h4,h4{
			font-weight:normal;
        }
        &.training-center{
            h4{
				margin:0;
            }
        }
        &.event-type,&.event-category{
			min-height:80px;
        }
    }
    .evt-misc-info{
        padding:0;
        font-weight:normal;
		.btn{
			width:100%;
            font-size:36px;
            font-weight:bold;
            border-radius:0;
        }
        h3{
			margin-left:-8px;
        }
    }
    .evt-desc{
        h3{
			padding:0;
        }
        .participant-material{
            padding:0;
			 ul{
                padding-left:30px;
                li{
                    a{
                        color:#428bca;
                    }
                }
            }
        }
    } 
    h3{
		color:#1e3e6e;
        margin:0;
        font-size:23px;
        padding-left:30px;
    }
    .training-center h3{
		background:url('../../clientlibs/sc-publish-clientlibs/resources/images/eventicons/location25.png') no-repeat -1% 4%;
    }
    .attendees h3{
		background:url('../../clientlibs/sc-publish-clientlibs/resources/images/eventicons/attend25.png') no-repeat top left;
    }
    .event-date h3{
		background:url('../../clientlibs/sc-publish-clientlibs/resources/images/eventicons/date25.png') no-repeat top left;
    }
    .event-type h3.webinar{
		background:url('../../clientlibs/sc-publish-clientlibs/resources/images/eventicons/webinar.png') no-repeat top left;
    }
     .event-type h3.inperson{
		background:url('../../clientlibs/sc-publish-clientlibs/resources/images/eventicons/in-person25.png') no-repeat top left;
    }
    .prereq h3{
		background:url('../../clientlibs/sc-publish-clientlibs/resources/images/eventicons/prereq25.png') no-repeat top left;
    }
    .event-category h3{
		background:url('../../clientlibs/sc-publish-clientlibs/resources/images/eventicons/category25.png') no-repeat top left;
    }

}