section.check-in-info:only-of-type{
    .wait-time{
        position: relative;
        float: left;
        min-width: 75px;
        max-width: 85px;
        margin: 0 1em 0 0;
        padding: 0 2%;
        border: 1px solid #5f6167;
        border-radius: 6px;
        .vcard{
            height: 65px;
            background: url('../../clientlibs/sc-publish-clientlibs/resources/images/scissor-icon-1b.svg') no-repeat center 0px;
            .minutes{
                width: 28px;
                height: 28px;
                margin: 10px auto;
                padding: 2px;
                border-radius: 50%;
                border: 2px solid white;
                box-shadow: 0 0 6px #5f6167;
                background-color: #003f72;
                span{
                    display: block;
                    font-family: "futura-pt-condensed", Helvetica, Arial, sans-serif;
                    font-weight: 700;
                    font-size: 16px;
                    color: white;
                    text-align: center;
                    margin: 0;
                    vertical-align: middle;
                    position: relative;
                    top:-1px;
                }
            }
        }
        .h6{
            color: #5f6167;
            font-family: "open-sans", Helvetica, Arial, sans-serif;
            font-size: 11px;
            font-weight: 300;
            text-align: center;
            margin-top: 0;
            margin-bottom: 0;
        }
        .h4{
            color: #5f6167;
            font-size: 16px;
            text-align: center;
            font-weight: 700;
            margin-bottom: 8px;
            margin-top: 0;
            &:after{
                content: " ";
                right: -12px;
                 position: absolute;
                 top: 13%;
                 display: block;
                 width: 12px;
                 height: 19px;
                background: url('../../clientlibs/sc-publish-clientlibs/resources/images/nubin.svg');
                background-repeat: no-repeat;
                transform: scale(1.05);
            }
        }
    }
    .location-details {
        padding-bottom: 2ex;
        float: left;
        vertical-align: top;
        width: 69%;
        max-width: 245px;
        margin: 0;
        .vcard{
            width: 85%;
            float: left;
             span{
                    display: inline-block;
                    width: 100%;
                }
            address{
                margin-bottom: 0;
                span.store-title{
                    width: 100%;
                    margin-bottom: .25ex;
                    color: #1e3e6e;
                    font-family: "futura-pt-condensed", Helvetica, Arial, sans-serif;
                    font-weight: 700;
                    font-size: 20px;
                }
                span.street-address{
                    color: #5f6167;
                    font-size: 14px;
                    margin-top: 0ex;
                }
            }
            span.telephone{
                font-size: 14px;
				@media(max-width:1023px){
					display:none;
				}
            }
            span.closing-time{
                font-style: italic;
                font-size: 14px;
            }
        }

        .btn-group{
            width: 15%;
            .favorite {
                border: 0;
                background: transparent;
                color: #5e172d;
                &:before{
                    font-size: 26px;
                }
            }
        }
    }
    #map-canvas{
        height:220px;
        width:314px;
		border:2px solid #C7C8C9;
        margin-bottom: 11px;
		float:left;
         .gmnoprint,.scissorlabels{
            cursor:default!important;
        }
    }
	.markerDiv{
		.vcard{
            height: 65px;
			width:78px;
            background: url('../../clientlibs/sc-publish-clientlibs/resources/images/scissor-icon-1b.svg') no-repeat center 0px;
            .minutes{
                width: 28px;
                height: 28px;
                margin: 10px auto;
                padding: 2px;
                border-radius: 50%;
                border: 2px solid white;
                box-shadow: 0 0 6px #5f6167;
                background-color: #43aae0;
                span{
                    display: block;
                    font-family: "futura-pt-condensed", Helvetica, Arial, sans-serif;
                    font-weight: 700;
                    font-size: 16px;
                    color: white;
                    text-align: center;
                    margin: 0;
                    vertical-align: middle;
                    position: relative;
                    top: -1px;
                }
            }
        }
	 }
    .action-buttons{
        a{padding: 0 0.5em;}
    }
}

.cancel-reservation{
	display:inline-block;
}

.serviceinfotitle{
    display:none;
}

.add-another-guest{
	display:inline-block;
}

.checkinconfirmation{
	overflow:hidden;
}

.saloninfo{
	overflow:hidden;
}

.check-in-info{
     legend{
        border: 0;
        font-size: .85em;
    }
    .divider {
        border-bottom: 2px solid #5f6167;
        margin-bottom: 2ex;
        padding-bottom: .5ex;
    }
    .h3{
       font-size: 28px;
    }
}
p.error-msg{
    font-size: 14px;
    color: #a94442;
}


#checkinConfDiv{
	ul{
		padding:0;
		list-style-type:none;
	}
}

.checkin-user-details{
    .sc_fieldset_margin{
        margin-bottom: 0 !important;
    }
    .phone-info-text{
        font-size: 13px;
        font-style: italic;
        font-weight: normal;
    }
    input.form-control{
        font-size:14px;
    }
    .servicesCBs{
        label.checkbox-inline, label.radio-inline{
            margin-bottom: 5px !important;
        }
        .radio-inline + .radio-inline, .checkbox-inline + .checkbox-inline{
			margin-left: 0 !important;
        }
    }
    #CheckInValidationBtn{
        margin-top: 1em;
    }
    input[type=checkbox].css-checkbox + span.css-label,input[type=radio].css-checkbox + span.css-label {
      padding-left: 26px;
      vertical-align: middle;
      height: 26px;
      border: 1px solid #ccc;
      display: inline-block;
      line-height: 32px;
      background-repeat: no-repeat;
      background-position: 0 0;
      font-size: 16px;
      width: auto;
      cursor: pointer;
      background-size: 100%;
    }
    input[type=checkbox].css-checkbox:checked + span.css-label,input[type=radio].css-checkbox:checked + span.css-label {
      background-image: url('../../clientlibs/sc-publish-clientlibs/resources/images/checkbox.png');
    }
    input[type=checkbox].css-checkbox:disabled + span.css-label,input[type=radio][disabled].css-checkbox:disabled + span.css-label {
      background-image: url('../../clientlibs/sc-publish-clientlibs/resources/images/checkbox-disabled.png');
      border: none;
    }
    label {
      margin-bottom: 0;
    }
    span.css-label {
      background-image: url('../../clientlibs/sc-publish-clientlibs/resources/images/checkbox-unchecked.png');
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
    span.css-label+label{
        width: 86%;
    }
    input[type=radio].css-checkbox+span.css-label+label, input[type=radio].css-checkbox+span.css-label+span{
        width: auto;
        padding-left:10px
    }
    span.checkbox-inline,span.radio-inline{
        color: #1e3e6e;
        font-family: "futura-pt-condensed", Helvetica, Arial, sans-serif;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 24px;
    }
}
a.add-guest-information{
    display: inline-block;
}
.checkin-component{
    .title-component{
        .main-title{
            margin-top:0px;
            margin-bottom:0px;
        }
    }
    .col-block{
        margin-bottom:0px;
    }
}
@media(max-width:768px){
    .checkin-component .col-md-6, .checkin-component .col-md-12, .checkin-component .col-sm-12, .checkin-component .title, .checkin-component .titlecontent, .checkin-component .col-md-4 {
    padding: 0;
    }

    .checkin-component{
        .title{
            .divider{
				margin:0 0 5px 0;
                padding:0;
                font-size:36px;
            }
        }

        label > [class^="icon-"], label > [class*="icon-"]{
			font-size:20px;
        }

        label{
			font-size:14px;
        }
        .form-group{
			margin:10px 0;
        }
       	label.checkbox-inline, label.radio-inline{
			font-size:20px;
        }

        .col-block{
            margin:0 !important;
        }

        .col-xs-12{
            label.phone{
                display:none;
            }
        }

        .col-xs-6{
            margin:0 !important;
            label{
                display:none;
            }
        }
    }
    legend{
		padding-bottom:10px !important;
        &.contact-info-title{
			display:none;
        }
        &.serviceinfotitle{
			font-weight:bold;
            color:#092F57;
            font-size:16px;
            width:100%;
            margin:0;
        }
    }



    section.check-in-info{
		margin-top:20px;
    }

    section.check-in-info:only-of-type #map-canvas{
        width:100%;
    }

    .checkbox-inline{
        margin-left:10px;
    }

}
