.custom-salon{
	.salon-col{
		background-color: #e8ebf0;
	    padding: 4% 3%;

		.salon-col-details{
			background-color: #fff;
            border: 1px solid #5f6167;
            border-radius: 3px;
            padding: 4% 7%;
            position: relative;

			.salon-title{
				color: #1e3e6e;
	            padding-right: 20%;
	            border-bottom: 1px solid #5f6167;
	            padding-bottom: 8px;
			}
			.close-btn{
				position: absolute;
	            color: #1e3e6e;
	            font-size: 10px;
	            border: 1px solid #1e3e6e;
	            border-radius: 100%;
	            padding: 5px 5px 5px 6px;
	            font-weight: bold;
	            top: 14px;
	            right: 17px;
			}
			.salon-address{
				p{
					margin-bottom: 0;
				}
			}
		}
	}
	.reminder-subscription{
			background-color: #dde1ea;

            //min-height: 100px;

		.left-col{
			input[type=checkbox]{
				&.css-checkbox{
					position:absolute;
		            z-index:-1000;
		            left:-1000px;
		            overflow: hidden;
		            clip: rect(0 0 0 0);
		            height:1px;
		            width:1px;
		            margin:-1px;
		            padding:0;
		            border:0;

		            +label{
			            &.css-label{
			            	padding-left: 26px;
				            height: 26px;
				            border: 1px solid #ccc;
				            display: inline-block;
				            line-height: 32px;
				            background-repeat: no-repeat;
				            background-position: 0 0;
				            font-size: 16px;
				            vertical-align: middle;
				            cursor: pointer;
				            background-size: 100%;
			            }
		            }
		            &:checked{
		            	+label{
		            		&.css-label{
		            			background: url('../../clientlibs/sc-publish-clientlibs/resources/images/checkbox.png')  #eef1fd;
								background-size:100%;
		            		}
		            	}
		            }
	            }
		 	}
		 	label{
		 		&.css-label{
		 			//background-image: url('../../clientlibs/sc-publish-clientlibs/resources/images/Check_background.png');
		            -webkit-touch-callout: none;
		            -webkit-user-select: none;
		            -khtml-user-select: none;
		            -moz-user-select: none;
		            -ms-user-select: none;
		            user-select: none;
		 		}
                 &.css-label.disabled{
                     background-image: url('../../clientlibs/sc-publish-clientlibs/resources/images/checkbox-disabled.png');
                 }
		 	}
		}
		.right-col{
			padding-left: 16px;
			.title{
				padding: 0;
	            font-weight: bold;
	            font-size: 16px;
	            margin-bottom: 0;
			}
			.description{
				font-size: 14px;
			}
			.reminder-details{
				overflow: hidden;
            	//margin-top: 16px;

				.occurs{
					margin-right: 22px;
					input,select{
						display: block;
			            height: 40px;
			            width: 190px;
			            border: none;
			            padding-left: 4px;
			            background-color: #f0f4f7;
			            -webkit-appearance: none;
			            -moz-appearance: none;
					}
				}
			}
		}
	}
	&.franchise-salon{
		/*margin-bottom:20px;
        margin-top: 50px;*/
	}
	&.corporate-salon,&.franchise-salon,&.loyalty-salon{
		.reminder-subscription{
			.left-col{
				@media (max-width: 768px){
					padding-left: 10px;
                }
            }
			.right-col{
				width: 90%;
				@media (max-width: 767px){
					width: 80%;
                }
				a.terms{
					color: #1e3e6e;
					text-decoration: underline;
				}
			}
		}
	}
}
.right-col{
	.starts-on{
		position: relative;
		.icon-calendar{
		  right: 12px;
		  bottom: 12px;
		  position: absolute;
		}
	}
}
