.accordion {
    .panel {
        background: #f2f2f2;
        -webkit-box-shadow: none;
        box-shadow: none;
        border: none;

        .check-in .location-details .action-buttons{
            margin-top: 0;
        }
        &>.panel-heading{
            color: #5f6167;
            background-color: #1e3e6e;
            border-color: #5f6167;
        }
    }
        .panel-body {
        padding-top: 4ex;
        padding-bottom: 2ex;
        @media(max-width:768px){
            .locations-col{
				padding-right:0;
            }
        }
    }
    .panel-heading {
        padding-top: 0;
        padding-bottom: 0;
        border-radius: 0;
        .circle-backdrop {
            -webkit-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
            -o-transform: rotate(60deg);
            transform: rotate(0deg);
            padding: 9px;
            border-radius: 50%;
            background: #1e3e6e;
            font-size: 2.5em;
            line-height: 0;
            position: relative;
            top: 17px;
			font-size:31px;
        }
        .circle-backdrop:before {
            position: relative;
            left: 4px;
            top: -8px;
        }
        .panel-title {
            font-family: "open-sans", Helvetica, Arial, sans-serif;
            font-size: 1em;
            text-transform: none;
            font-weight: normal;
            font-style: italic;
            padding-top: 15px;
            padding-bottom: 14px;
			@media (max-width: 320px) {
				font-size:14px !important;
            }
        }
        a {
            color: #fff;
            text-decoration: none;
            outline:none;
			&:hover{
				background: #132746;
				.accordion-trigger{
					top:3px;
                    &.active{
                        top: -6px;
                    }
				}
			}
			&:focus {
            outline: 5px auto -webkit-focus-ring-color;
            }
			.accordion-trigger {
				-webkit-transition: all, 0.2s;
				-moz-transition: all, 0.2s;
				-o-transition: all, 0.2s;
				transition: all, 0.2s;
				position: relative;
				top: 0;
				font-size: 1.5em;
				margin-right: .5em;
				margin-top:-3px;
				
                &.active{
                    -webkit-transform: rotate(180deg);
                    -ms-transform: rotate(180deg);
                    -o-transform: rotate(180deg);
                    transform: rotate(180deg);
                    top: -3px;
                }
			}
        }
    }
    .panel-heading {
        color: #5f6167;
        background-color: #1e3e6e;
        border-color: #5f6167;
    }
    &.accordion-header-widget{
        .panel-heading {
            color: #5f6167;
            background-color: #1e3e6e;
            border-color: #5f6167;
        }
    }
    &.accordion-header-widget {
        .panel-body {
            padding-top: 3ex;
            border-top: 1px solid #5f6167;
        }
    }
}
#locations-accordion {
   /* margin-bottom: 8ex; WR5 Update */
    #nearbyLocations{ 
		h2 {
			text-transform: none;
		}
		@media(max-width:470px) {
			.panel-body{
				padding-left:0;
				padding-right:0;
				.locations-col{
					padding:0
				}
				.wait-time{
					width:30%;
                    max-width:78px;
                    .vcard{
                        margin: 0 auto; 
                    }
				}
				.location-details{
					width: 63%; 
					.action-buttons{
						width: 100%;
						.btn{
							padding-left: 5px!important;
							text-align: center;
							padding-right: 5px !important;
						}
					}
				}
			}
		}
	}
    .lny-header {
        border:none;
        min-height:150px;
		 @media(max-width:992px) {
            min-height:0px; 
        }
        .check-in {
            border:none;
			width:100%;
        }
        .wait-time {
            background-color:#fff;
            width:25%;
			max-width:80px;
        }
        .vcard {
            width:90%;
        }
        .location-details {
            .vcard {
                min-height: 77px;
            }
        }
    }
    .check-in {
        .wait-time.call-now .vcard .minutes{
			margin:10px 3px;
        }
        .location-details {
            .btn-group {
                width: 0;
            }
            .btn {
                font-size:16px;
                width:auto;
                border-radius:4px;
            }
            .action-buttons {
                overflow: hidden;
                display: inline-block;
                width: 95%;
            }
        }
    }
	&.locations-accordion{
		.container{
			width:100%;
			@media(max-width:768px){
				padding:0;
			}
			.locations{
				.check-in{
					.location-details{
						width:68%;
					}
				}
			}
		}
	}
}
/* WR5 Update */

.sdp-template-bottom-wrap {
    
    #locations-accordion{

        .lny-header{ 

            min-height:100px;

            .location-details{

                .vcard {

                    	min-height: 0;
                	}
            	}
            
        	}
    }
    .accordion {

        .panel-body{
            
            padding-top:2.2ex;
            padding-bottom:2.2ex;
        }

        .panel-heading{

            .circle-backdrop {
                
                padding-bottom:0;
                top:15px;
            }
            
        }
    }
    .locations {

        .check-in {

            	padding:0;
        }
    } 
}
#locations-accordion.accordion-header-widget {
    margin-bottom: 2ex;
    @media(min-width:992px) {
          margin-bottom: 0;
    }
    max-height: 100ex;
    -webkit-transition: all, 2s;
    -moz-transition: all, 2s;
    -o-transition: all, 2s;
    transition: all, 2s;
}
#locations-accordion.accordion-header-widget.fold-in {
    max-height: 0;
    overflow: hidden;
    -webkit-transition: all, 0s;
    -moz-transition: all, 0s;
    -o-transition: all, 0s;
    transition: all, 0s;
}
.search-wrapper {
    position: relative;
    input[type="search"] {
        padding-left: 2.25em;
    }
       input[type="text"] {
        padding-left: 2.25em;
    }
}
.icon-Search {
    position: absolute;
    z-index: 9;
    top: 12px;
    left: 10px;
    font-weight: bold !important;
      &:before {
        content: "\e603";
      }
}
@media(min-width:992px) {
    #locations-accordion .lny-header .check-in;
}
@keyframes scissor-cut {
  from {
    left: 10px;
  }
  to {
    left: 100px;
  }
}
/*Styles added for post-integration issue*/
.headerwidget{
    clear: both;
}

@media(max-width:767px) {
    .header-widget-title{
    	display: block;
		margin-right: 16px;
		padding-left: 49px;
		position: relative;
		top: -19px;
		width: 255px;
    }
    .accordion{
    	.panel-heading{
    		a{
    			.accordion-trigger{
    				position: absolute;
					right: -17px;
					top: 18px  !important;
					
					&.active{
						top: 18px !important;
					}
    			}
				
    		}
    	}
		.panel-title{
			position:relative;
		}
    }
	#locations-accordion .lny-header{
		float:left;
		min-height:0;
	}
	#nearbyLocations .col-sm-12.col-md-4{
		float:left;	
		@media(max-width:768px){
			padding:0;
		}
	}
	#nearbyLocations .locations-col{
		border:none !important;
	}
	#locations-accordion .lny-header .check-in{
		padding: 0;
		padding-bottom: 5px;
        margin:0.5em 0;  /* WR5 Update */
	}

    /* WR5 Update */

    .sdp-template-bottom-wrap {

        #locations-accordion{

            &.locations-accordion{
					.container{

                        .locations{
                            .check-in{
                                .location-details{
                                    width:58%;
                                }
                            }
                        }
					}
				}
        }
    }
    .sdp-template-bottom-wrap{

        .panel-body{

            padding-left:5px;
            padding-right:5px;
        }
    }
}

@media(max-width:470px) {

	.accordion.locations-accordion .panel-heading .panel-title{
			display: table;
			margin-left: 0;
    }
    .accordion.locations-accordion .panel-heading .panel-title span{

        display: table-cell;
        border-radius: 0;
        background: none;
        vertical-align: top;
        width:71%;
        top:17px;
    }
    .accordion.locations-accordion .panel-heading .panel-title span.circle-backdrop {
        width:10%;
        left: -10px;
    }
    .accordion.locations-accordion .panel-heading .panel-title span.accordion-trigger{
			width: 8%;
            right: 0;
            text-align: right;
            margin-right: 0;
    } 
} 

.no-padding{
    @media(max-width:768px){
		padding:0 !important;
    }
}