.displayNone{
    display:none;
}
#header .container .row{
  margin-right: 0px;
  margin-left: 0px;
}
#header {
    @media(max-width:480px){

    border-bottom: 1px solid #5f6167;
    }
    width: 100%;
    background: #fff;
    .container {
        margin-right: 0px;
        margin-left: 0px;
        padding-left: 0px;
        padding-right: 0px;
        .logo {
            height: 29px;
            width: 190px;
            display: block;
            float: left;
            margin: 10px 0;
            @media(max-width:767px){
                &:focus {
                  outline:  3px solid #80BDF9;
                }
            }

        }


        .icon-menu:before {
            content: "\e606";
        }

        .icon-profile:before {
            content: "\e602";
        }

        .icon-search:before {
            content: "\e603";
        }

        .search-wrapper {
            position: relative;

          .icon-Search {
                position: absolute;
                z-index: 9;
                top: 12px;
                left: 10px;
                font-weight: bold !important;
                  &:before {
                  content: "\e603";
                  }
           }

            input[type="text"] {
                 padding-left: 2.25em;
                 font-size:14px;
           }

        }
        .input-group-btn {
                .btn-default {
                    border-color: #5f6167;
                }
            }

        .input-group-btn:last-child & > .btn, .input-group-btn:last-child & > .btn-group {
                margin-left: 0;
            }
           .btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open & > .dropdown-toggle.btn-default {
                color: #1e3e6e;
                background-color: #e6e6e6;
                border-color: #11233e;
            }

        .sr-only {
            position: absolute;
            width: 1px;
            height: 1px;
            margin: -1px;
            padding: 0;
            overflow: hidden;
            clip: rect(0, 0, 0, 0);
            border: 0;
        }

        .btn {
            text-transform: uppercase;
            font-family: "futura-pt-condensed", Helvetica, Arial, sans-serif;
            font-weight: 500;
        }


        .navbar-nav {

            & > li {
                & > a {
                    @media(max-width:480px){
                        font-weight: 700;
                    }
                    font-family: "futura-pt-condensed", Helvetica, Arial, sans-serif;
                    font-size: 1.45em;
                    font-weight: 500;
                    text-transform: uppercase;
                    color: #1e3e6e;
                    line-height: 22px;
                    margin: 5px 13px;
                    float:none;
                    color: #fff;
                }

                & > a:hover {
                    @media(max-width:480px){
                        text-decoration: none;
                        color: #1c78aa;
                    }
                  text-decoration:underline;
                  background: none;
                }
                 & > a:focus {
                    @media(max-width:480px){
                        text-decoration: none;
                        color: #1c78aa;
                    }
                   text-decoration:underline;
                   background: none;


                }
                 & > a:selected {
                    @media(max-width:480px){
                        text-decoration: none;
                        color: #1c78aa;
                    }
                   text-decoration:underline;
                   background: none;


                }
            }
            li.li-navbar-4{
                margin-right:1.5em;
                &:last-child {
                    margin-right:0;
                    }
                & > a{
                    margin:5px 15px;
                }

            }
             li.li-navbar-5{
                margin:0;

                & > a{
                    margin:5px 18px;
                }

            }
              li.li-navbar-6{
                margin:0;

               & >  a{
                    margin:5px 15px;
        @media(min-width:768px) and (max-width:1023px){
                        margin:5px 10px;
                    }
                }
            }
            li.li-navbar-7{
                margin:0;
                & >  a{
                    margin:5px 10px;
                    @media(min-width:768px) and (max-width:1023px){
                        margin:5px 6px;
                    }
                }
            }

            & > li:last-child {
                margin: 0;
            }

            & > li:last-child a{
                padding-right: 0;
                margin-right: 0;
            }
        }

        .nav-tabs & > li.active & > a, .nav-tabs & > li.active & > a:hover, .nav-tabs & > li.active & > a:focus {
            color: #5f6167;
            background-color: #ffffff;
            border: 1px solid #dddddd;
            border-bottom-color: transparent;
            cursor: default;
        }

        .account-signin {
            a {
                font-size: 14px;
                color:#003f72;
                outline:none;
        &:focus{
                outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
        }
            }
        }

        .search-navbar-collapse {
            .input-group {
                margin-bottom: 2ex;
            }


        }

        .navbar-toggle {
            font-size: 1.5em;
            margin-right: 0;
            padding: 0px 13px;
        }

    }
    //TAH component Css
    .provisionTNP{
        padding: 5px 0;
        @media (max-width: 767px){
            text-align: center;
        }
        .tah-left{
            .provisionTNP-subhead{
                @media (min-width: 768px){
                    display: table;
                    width: 100%;
                    table-layout: fixed;
                }
                .provisionTNP-sub{
                    @media (min-width: 768px){
                        display: table-cell;
                        vertical-align: middle;
                        float: none;
                    }
                }
            }
        }
        .provisionTNP-subhead{
            .provisionTNP-sub{
                a.btn-primary{
                    @media (max-width: 767px){
                        margin-top: 5px;
                    }
                    &:hover,&:focus,&:active,&.active{
                        background: #fff !important;
                        border-color: #727173 !important;
                        -moz-box-shadow: none;
                        -webkit-box-shadow: none;
                        -ms-box-shadow: none;
                        -o-box-shadow: none;
                        box-shadow: none;
                    }
                }
            }
        }
        .tah-white{
            background: #fff;
            color: #1e3e6e !important;
        }
        .tah-arrowlink,.tah-link{
            text-decoration: underline;
        }
        .icon-arrow:before{
            color: #fff;
            font-size: 14px;
            font-weight: bold;
        }
        .tah-center{
            text-align: center;
            p{
                margin: 0;
                @media (min-width: 768px){
                    display: inline;
                }
            }
        }
    }
}

@media (min-width: 768px) {
    #header {
        .container {
            width: 100%;
            .account-signin {
                margin: 1ex 0 2ex;
            }
            h1{
                margin-top:0px;
                margin-bottom: 0px;
                font-size: 0px;
            }
            .logo {
                height: 27px;
                width: 260px !important;
                margin-top:10px;
                margin-bottom:0;
                 background: url(../../clientlibs/sc-publish-clientlibs/resources/images/logos/logo.svg) 0 0 no-repeat;
                    background-size: 65%;
                    display: block;
                font-size: 0px;
                @media (min-width: 992px){
                    width: 100%;
                }
                @media(max-width:768px){
                    background: url(../../clientlibs/sc-publish-clientlibs/resources/images/logos/logo_blue.svg) 0 0 no-repeat;
                }
            }
            .navbar-nav {
                & > li {
                    & > a {
                        padding-top: 7px;
                        padding-bottom: 7px;
                        margin-bottom:0;
                        margin-top: 3px;
                        margin-left:0;
                        padding-left:0;
                    }
                }
            }
            .account-signin {
                margin: 1ex 0 2ex;
            }
            .utility-wrapper {
                margin-top: 0;
                margin-bottom:0;
            }
            .header-wrapper{
                padding-bottom:0;
            }
        }
    }
}

@media (min-width: 992px) {
    #header {
        position:absolute;
        padding-bottom:0;
        z-index: 8999;
        top:0;
        &.fixed{
            position: absolute;
            top: 0;
            z-index: 8999;
        }
        .container {
            width: 100%;
            .header-wrapper {
                position: relative;

                .navbar-header {
                    position: absolute;
                    bottom: 0px;
                    z-index: 1000;
                    //padding-left:0;
                    //width:28.8%;
                     a.logo{
				 background: url(../../clientlibs/sc-publish-clientlibs/resources/images/logos/logo.svg) 0 0 no-repeat;
                    height: 24px;
                    background-size: contain;
                    font-size: 0px;
                    display: block;
                    font-size:0px;
                    margin-bottom: 10px;

					//centering smarrtstyle logo
					}
                    h1{
                        font-size: 0px;
                        margin-bottom: 7px;
                     a.logo{
				 background: url(../../clientlibs/sc-publish-clientlibs/resources/images/logos/logo.svg) 0 0 no-repeat;
                    height: 24px;
                    background-size: contain;
                    font-size: 0px;
                    display: block;
                    margin-bottom: 4px;




					//centering smarrtstyle logo
					@media (max-width: 767px) {
						margin-left: 10%;
                        height: 42px;
					}
            }
                        width:100%;
                        font-size:0px;
                    }
                }
                .utility-wrapper{
                    float: right;
                    margin-top: 10px;
                }
            }
            .navbar-nav {
                float:right;
            }
            .account-signin {
                float: right;
                //margin-right: -15px;
            }
            .utility-wrapper {
                margin-top: 0;
                width:100%;
            }

            .search-navbar-collapse {
                .input-group {
                    margin-bottom: 1ex;
                    width: 350px;
                }
            }
        }
    }
}

@media (min-width: 1200px) {
    #header {
        .container {
            width: 100%;
        }
    }
}

@media(min-width:768px) and (max-width:992px) {
 #header {
        #logoutHeader, #loginHeader{
            .account-navbar-collapse{
                padding-left:0;
            }

        }
        .container{
            .search-navbar-collapse {
                .input-group{
                    margin-bottom: 0;
                    margin-top: 10px;
                    width: 365px;
                }
            }
        }
    }
}

/*header on mobile view*/
@media (max-width: 767px) {

    #header .container .logo{
        width:160px;
    }
    #header .navbar-header{
        margin-top:15px;
        margin-bottom: 14px;
        padding:0;

    }
    #header .container .navbar-toggle.btn{
        font-size:18px;
        padding: 0px 6px;
        margin-top: 0;
    }
    .location-search-title h2{
        font-size: 30px !important;
    }
    #header{
        .col-xs-12{
            padding:0;
        }
    }

    #header{
       /* #signin-mobile{
            margin-top:15px;
        } */
        .container{
            .navbar-nav{
                float:none;
                li{
                    a{
                        margin-left:0 !important;
                    }
                    &:first-child{
                        //padding-left:15px;
                    }
                }
            }
        }
    }
}

#header .container .navbar-toggle.btn{
    @media screen and (max-width: 320px){
        padding: 0 6px 0 0;
    }
}
//adding scissor-widget gif for salon locator
.widget-salon-locations.visible-xs{
    a{
        color: #003f72;
        margin-right: 10px;
        &:hover{
            text-decoration: none;
        }
        .circle-backdrop.icon-scissor-animation{
            transform: rotate(0deg);
            padding: 7px 6px 0;
            border-radius: 50%;
            background: #ffffff;
            margin: 0 5px;
            font-size: 21px;
            display: inline-block;
        }


    }
}
.widget-locations-text{
    font-size: 10px;
    text-decoration: none;
    margin-left: 2px;
    color: #003f72;
    display: block;
}
.navbar-toggle.visible-xs{
    .icon-menu{
        color: #003f72;
    }

}
.hamburger-menu-text{
    font-size: 10px;
    text-transform: uppercase;
    text-decoration: none;
    color: #003f72;
    font-family: "open-sans", Helvetica, Arial, sans-serif;
    letter-spacing: 0px;
    display: block;
    @media (max-width: 767px){
        position: relative;
        top: -3px;
    }
}
.locations-pin{
    width: 21px;
    height: 21px;
    //margin: 11px 0px 0px 10px !important;
}
//FOR NOT SIGNED IN USER
#signin-mobile {
    max-width: 55px;
    a{
        &:hover,&:focus{
            text-decoration: none;
        }
    }
    .account-signin-caption{
        font-size: 10px;
        text-transform: uppercase;
        text-decoration: none;
        color: #003f72;
        display: block;
        @media (max-width: 767px){
            position: relative;
            top: -1px;
        }
    }
}
#signin-mobile .account-mob-image{
    font-size: 21px;
    padding: 7px;
    color: #003f72;
}
a#sign-in-dropdown-mob{
    margin-top:0;
    color: #003f72;

}
//FOR SIGNED IN USER
#signin-mob {
    max-width: 55px;
    button.navbar-toggle.btn {
        margin-left: 0;
        padding-right: 0 !important;
        .account-signin-caption{
            font-size: 10px;
            text-transform: uppercase;
            text-decoration: none;
            font-family: "open-sans", Helvetica, Arial, sans-serif;
            letter-spacing: 0px;
            color: #003f72;
            display: block;
            @media (max-width: 767px){
                position: relative;
                top: -1px;
            }
        }
        .account-mob-image{
            font-size: 20px;
            padding: 7px;
            color: #003f72;
        }
    }
}

//centering of supercuts logo on iphone 5
@media (min-device-width : 320px) and (max-device-width : 667px) {

       .header-wrapper{
           .navbar-nav {
            & > li {
                & > a {
                    font-family: "futura-pt-condensed", Helvetica, Arial, sans-serif;
                    font-size: 1.45em;
                    font-weight: 500;
                    text-transform: uppercase;
                    color: #1e3e6e !important;
                    line-height: 22px;
                    margin: 5px 13px;
                  float:none;
                }

                & > a:hover {
                    color: #1c78aa !important;
                    background: #ffffff !important;
                }
                 & > a:focus {
                    color: #1c78aa !important;
                    background: #ffffff !important;
                }
            }
        }

        .navbar-header{
             a.logo{
                 background: url(../../clientlibs/sc-publish-clientlibs/resources/images/logos/logo_blue.svg) 0 0 no-repeat;
                    height: 24px !important;
                    background-size: 100%;
                    font-size: 0px;
                    display: block;
                    width:100%;
                    margin: 0 !important;
            }
            h1{
                margin-top: 0px;
                width:53%;
                font-size: 0px;
                margin-left: 3% !important;
                a.logo{
                    background: url(../../clientlibs/sc-publish-clientlibs/resources/images/logos/logo_blue.svg) 0 0 no-repeat;
                    height: 35px;
                    background-size: 100%;
                    font-size: 0px;
                    display: block;
                    width:100%;
                }
            }
            a{
                float:left;
                text-align: center;
        }
            }
    }
}
//centering of supercuts logo on iphone 6 and 6s
@media (min-device-width : 375px) and (max-device-width : 667px) {
   .header-wrapper{
        .navbar-header{
            a{
                img{
                    margin-left: 15%;
                }
                &.logo{
                    margin-left: 7% !important;
                }
            }
        }
    }
}
//removing alignments of anchor links on login popup on iphone 5,iphone 6 and 6s
@media (min-device-width : 320px) and (max-device-width : 667px) {
       .header-wrapper{
        .navbar-header{
            .sign-in-dropdown-wrapper{
                a{
                    float:none;

                }
            }
        }
    }

}

#header{
    .container.franchise{
        .logo{
            @media(max-width: 320px){
                margin-left: 13% !important;
            }
            @media(min-width: 375px) and (max-width: 767px){
                margin-left: 19% !important;
            }
        }
        .utility-wrapper{
            #loginHeader{
                .navbar-collapse.account-navbar-collapse{
                    @media(max-width: 767px){
                        display: block !important;
                    }
                    ul{
                        @media(max-width: 767px){
                            margin-left: 0 !important;
                        }
                    }
                }
            }
        }
    }
}
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
  /* For landscape layouts only */
#header .container .navbar-nav {
    float: right;
    margin-right: 100px;
}
}
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2)  and (orientation: portrait)  {
    #header .container .navbar-nav {
    float: right;
    margin-right: 20px;
}
}
