select.form-control{
	background:#fff;
}

/*.custom-dropdown{
    border: 1px solid #cccccc;
    display: block;
    overflow: hidden;
    position: relative;
    z-index: 0;
}
.custom-dropdown-select{
    z-index: 1;
    background: #fff !important;
	padding-top: 1px 0 0 0 !important;
}
.custom-dropdown:before{
	display:block;
    position:absolute;
    content:'';
    right:9px;
    top:0px;
    height:2em;
    width:2em;
    margin:2px;
    background: url('../../images/select-arrow@2x.png') no-repeat 96% 50% #ffffff;
    background-size: 23px 12px;
    z-index:5;
}*/