.img-text-comp{
  font-family: "open-sans";
    border:1px solid #5f6167;
  text-align: center;
  overflow: hidden;
  position:relative;
}

.no-border{
  border:none !important;
}

.img-text-comp h2{
  color: #1e3e6e;
  margin-bottom:0;
}

.img-text-comp h3{
  margin-bottom:0;
}
.img-text-comp p.imgtxt-subheading{
  margin-bottom:0;
}

.img-text-comp.shift-right{
  text-align: left;
  height: auto;
  overflow: hidden;
  display: table;
}
.img-text-comp.shift-right .img-container{
  float: left;
}

.img-text-comp.shift-right > .img-container + .imgtxt-url{
  display: table-cell;
  vertical-align: middle;
}
.img-text-comp .txtalign-right{
  text-align: right;
}
.img-text-comp .txtalign-left{
  text-align: left;
  padding-left: 0;
}
.img-text-comp .txtalign-center{
  text-align: center;
}

.img-text-comp .txtalign-left>h3{
  margin-top:20px;
}

.img-text-comp .imgtxt-box .imgtxt-subheading{
  color: #1e3e6e;
}

.img-text-comp .imgtxt-box.white .imgtxt-heading, .img-text-comp .imgtxt-box.white .imgtxt-subheading, .img-text-comp .imgtxt-box.white p{
  color: #fff;
}

.img-text-comp .imgtxt-url{
  margin-bottom: 10px;
}

.img-text-comp .imgtxt-url p{
  font-size: 13px;
  line-height: 20.8px;
  font-weight: 400;
  color: #4d4d4d;
}
.img-text-comp .imgtxt-box p b,.img-text-comp .imgtxt-box p strong{
  color: #092F57;
}

.img-text-comp .imgtxt-box p:empty{
    display: none;
}

.img-text-comp .imgtxt-box .imgtxt-para{
  margin-bottom: 10px;
}

.img-text-comp .img-container{
  padding:0;
}

.img-text-comp .img-container img{
  width:100%;
}
.img-text-comp .img-container img:focus{
  outline: 5px auto -webkit-focus-ring-color;
outline-offset: -2px;
}
.adaptiveimage+.imageAndText{
  position:relative;
  top:-50px;
}



.imageanddescription{
  overflow:hidden;
  margin-bottom: 30px;
}
.acs-commons-resp-colctrl-row .imageanddescription {
    margin: 0;
}
.imageanddescription .img-container img {
    width: 100%;
}
.img-container.pull-left+.imgtxt-box {
    padding-left: 30px;
}

.textimage{
  overflow: hidden;
    clear:both;
}

.img-text-comp .detail-overlay {
  width: 100%;
  height: auto;
  display: block;
  clear: both;
}
.img-text-comp .detail-overlay img {
  width: 100%;
  height: auto;
}
.img-text-comp .content-overlay {
  background: #1e3e6e;
  position: relative;
  bottom: 0;
  height: 75px;
  padding: 0;
  text-transform: uppercase;
  vertical-align: middle;
  width: 100%;
  display:table;
}
.img-text-comp .content-overlay .imgtxt-url{
  display:none;
}
.img-text-comp .content-overlay a{
  height: 75px;
  display: table;
  width: 100%;
  padding: 0 10px;
}
.img-text-comp .content-overlay a:hover{
  text-decoration:none;
            }
.img-text-comp .content-overlay h3, .img-text-comp .content-overlay .h3 {
  color: #ffffff;
  line-height: 23px;
  vertical-align: middle;
  width: 100%;
  display: table-cell;
}
.img-text-comp .content-overlay h3 span, .img-text-comp .content-overlay .h3 span {
  color: #ffffff;
  display: block;
  font-style: italic;
  font-weight: normal;
  margin: 0 !important;
  text-transform: none;
  font-size:16px;
  font-family: "open-sans", Helvetica, Arial, sans-serif;
}

.img-text-comp .content-bold {
  border: 1px solid #c8c8c8;
  margin-bottom: 20px;
  padding: 40px;
  color: #5f6167;
  display: table;
  font-size: 23px;
  font-style: italic;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  width: 100%;
}
.img-text-comp .imgtxt-box a{
  color:#1e3e6e;
}
.img-text-comp .imgtxt-box .imgtxt-para a{
  text-decoration: underline;
}
.img-text-comp .imgtxt-box a.btn{
  text-decoration: none;
}

.img-text-comp a.h3 {
  color: #1e3e6e;
  display: block;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 0;
  text-transform: uppercase;
}

.img-text-comp .imgtxt-box{
  padding:10px;
}
[class^="icon-"], [class*="icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon-arrow:before {
    content: "\e601";
}
.img-text-comp.theme-brand a.cta-arrow{
font-weight:bold;
color: #6c6d6e;
}
.img-text-comp.theme-brand span.icon-arrow:before{
font-weight:bold;
color: #6c6d6e;
}
.img-text-comp.theme-dark a.cta-arrow{
font-weight:bold;
color: #fff ;
}
.img-text-comp.theme-dark span.icon-arrow:before{
font-weight:bold;
color: #fff;
}
.img-text-comp.theme-blue a.cta-arrow{
font-weight:bold;
color: #fff;
}
.img-text-comp.theme-blue span.icon-arrow:before{
font-weight:bold;
 color: #fff;
}
.img-text-comp.theme-default a.cta-arrow{
font-weight:bold;
color: #1e3e6e ;
}
.img-text-comp.theme-default span.icon-arrow:before{
font-weight:bold;
 color: #1e3e6e;
}
@media (min-width: 992px) {
  .textandvideo  .img-text-comp .imgtxt-box{
    display: table-cell;
    vertical-align: middle;
    float: none;
  }
}

@media (max-width: 767px) {
.img-text-comp{
  margin: 0 10px !important;
}
  .img-text-comp .txtalign-left{
    text-align: left;
  }
  .img-text-comp .txtalign-left a{
    text-align: left;
  }
  .img-text-comp .img-container{
    float : none !important;
  }
    .img-container.pull-left+.imgtxt-box {
    padding-left: 10px !important;
    padding-top:15px;
  }
   .img-text-comp .content-overlay {
      bottom: 0;
    }
  .img-text-comp .txtalign-left .txtalign-center a{
    text-align: center;
   }
   .img-text-comp .imgtxt-box{
    padding:10px;
    }
    .img-text-comp{
    margin:0 !important;
    }

}


/*to make the text and image smaller*/

.img-text-comp.offer-small .img-container{
  width:162px;
}

.img-text-comp.offer-small .img-container img{
  width:127px;
    float:left;
}

.img-text-comp.offer-small .img-container.pull-left+.imgtxt-box{
  /* Firefox */
  width: -moz-calc(100% - 162px);
  /* WebKit */
  width: -webkit-calc(100% - 162px);
  /* Opera */
  width: -o-calc(100% - 162px);
  /* Standard */
  width: calc(100% - 162px);
    padding-left: 5px !important;
    padding-top:0;
}

.img-text-comp.offer-small h2{
  padding:0;
    margin:0;
    font-size:20px;
}

.img-text-comp.offer-small h3{
  padding:0;
    margin:0;
    font-size:20px;
}

.img-text-comp.offer-small p{
  min-height:55px;
}

@media(max-width:768px){
  .img-text-comp.offer-small .img-container{
        width:100%;
    }
  .img-text-comp.offer-small .img-container img{
        width:100%;
        float:left;
    }
    .img-text-comp.offer-small .img-container .imgtxt-box{
      padding:0 !important;
    }
    .img-text-comp.offer-small .img-container.pull-left+.imgtxt-box{
      width:100% !important;
        padding:10px 10px 0 10px  !important;
    }
}

@media(min-width:768px) and (orientation: portrait){
  .img-text-comp.offer-small .img-container{
        width:50%;
    }
    .img-text-comp.offer-small .img-container img{
        width:100%;
        float:left;
    }
  .img-text-comp.offer-small .img-container.pull-left+.imgtxt-box{
        width:50% !important;
        padding-left: 10px !important;
      padding-top:0;
    }
}
