.listicles-container{
    .listicle-item{
    	margin: 10px 0 40px 0;
        .essential-image{
            img{
            	position: relative;
                width: 100%;
            }
            .image-index{
            	position: absolute;
                font-size: 45px;
                line-height: 45px;
                color: #1e3e6e;
            	&.topRight{
            		top: 0;
                    right: 10px;
            	}
                &.topLeft{
                    top: 0;
                    left: 11px;
                }
                &.bottomRight{
                    bottom: 0;
                    right: 10px;
                }
                &.bottomLeft{
                    bottom: 0;
                    left: 11px;
                }
            }

        }
        .description-section{     
            .title{
                margin-top: 0;
                padding: 0;
                color: #1e3e6e;
                font-size: 22px;
            }       
            a{
                color:#1e3e6e;
                text-transform: uppercase;
                font-weight: bold;
                .icon-arrow{
					color: #1e3e6e;
                    font-weight: bold;
                }
            }
             
        }
    }
}