/* WR5 Update */
.sdp-template-wrap{
   padding:20px 15px 0px 0;
   margin: auto 10px;
   //border:1px solid #5f6167;
   font-size:13px;
}

.sdp-template-bottom-wrap .nearbysalons{
 overflow:hidden;
   height:auto;
}

.sdp-template-wrap:after{
   clear:both;
   content:" ";
   display:table;
}
.sdp-template-wrap {
   .col-block{
       margin-bottom:0;
       font-size:13px;
       padding: 0;
   }
}
.sdp-template-bottom-wrap {

    .col-block{
       font-size:13px;
       .ellipseslink{
           color:#43aae0;
         }
       .morecontent {
           .morelink{
       color:#43aae0;
           }
       }
   }
}
.sdp-template-wrap {

       .map-directions{

       border:none;
       padding:0;
       width:56%;
       .check-in {

           .location-details {

               .vcard {

                   width:100%;
                  a {
                       span.street-address{
                       font-size:13px;
                       width:auto;
                       color:#1c78aa;
           clear:both;
           text-transform:uppercase;
                       }
                  }
                   span.telephone{
                       font-size:13px;
                   }
                   a:hover {

                       span.street-address{
             text-decoration:underline;
                           span{

                           text-decoration:underline;
                       }
                       }
                   }

               }
           }
           .sdp-store-hours{

               font-size:15px;
               clear:both;
           }
       }
   }
}
.salontitle{
   font-size:35px;
   line-height:45px;
 margin-top:0;
}
.map-directions {
   .check-in {
       padding: 0 15px;
       border: none !important;
       display: block !important;
       width: 97%;


       .location-details {
           float: left;
           vertical-align: top;
           width: 70%;
           max-width: 245px;
           margin: 0;

           .vcard {
               width: 85%;
               float: left;
               a{
                 &:hover span.store-title{
                   text-decoration: underline;
                 }
               }

               span.store-title {
                   width: auto;
                   margin-bottom: .25ex;
                   color: #1e3e6e;
                   font-family: "futura-pt-condensed", Helvetica, Arial, sans-serif;
                   font-weight: 700;
                   font-size: 20px;
                   text-transform: uppercase;
                   cursor: pointer;
               }
               h3.store-title {
                   width: 100%;
                   margin-bottom: .25ex;
                   color: #1e3e6e;
                   font-family: "futura-pt-condensed", Helvetica, Arial, sans-serif;
                   font-weight: 700;
                   font-size: 20px;
                   text-transform: uppercase;
                    display: inline-block;
                    margin-top: 0;
                    float: left;
               }

               span {
                   display: inline-block;
                   width: 100%;
                   margin-top: 0;

                   span {
                       width: auto;
                   }
               }
       p{
                   margin-bottom:0;
               }

                    /* WR5 Update */
                   a{

                     span.street-address {

                         color:#176690;
                           font-size: 14px;
                           margin-top: 0ex;
                           float:left;
                           display:inline;
                           width:auto;
                           clear: both;
                           @media (min-width: 992px){
                               min-height: 28px;
                           }
                       span {
                           width: auto;
                           float: none;
                         }
                       &.sal-loc{
                           color: #1e3e6e;
                           @media (min-width: 992px){
                               min-height: 0px;
                           }
                           }
                     }
                   }
         a:hover {

                       span.street-address{
             text-decoration:underline;
                           span{

                           text-decoration:underline;
                       }
                       }
                   }
               span.telephone {
                   color: #5f6167;
                   font-size: 14px;
                   margin-top:0;
                   margin-bottom: 2ex;
               }
           }

           .btn-group {
               width: 15%;

               .favorite {
                   border: 0;
                   background: transparent;
                   padding:0;
               }
           }
       }
       /* WR5 Update */
       .sdp-left {
           @media(max-width:768px){
       width:69% !important;
               .store-title{
         width:87% !important;
               }
           }
           max-width:100000px;
           position:relative;

           .btn-group {

               position:absolute;
               right:0;
               top:0;
               width:auto;
           }

       }
       .wait-time {
           position: relative;
           float: left;
           min-width: 78px;
           max-width: 85px;
           margin: 0 1em 0 0;
           padding: 0 1%;
           border: 1px solid #5f6167;
           border-radius: 6px;
       }

       .action-buttons {
           .btn {
               width: 100%;
               display: block;
               float: left;
               margin-bottom: 10px;
           }
       }
   }
}



@media (min-width:767px) and (max-width:992px) {
   .map-directions {
       .check-in {
           .action-buttons {
               width: 100%;
               clear: both;

               .btn {
                  /* width: 48%;  WR5 Update*/
                   float: left;
                   margin-right: 10px;
                   margin-bottom: 0;
                   margin-top:20px;
               }
           }
       }
   }
}
.sdp-template-bottom-wrap {
   .locations{

       .check-in{
           .location-details{
       position:relative;
               height:110px;
               .miles{

                   clear:both;
                   position:absolute;
                   bottom:-10px;
               }
           }
       }
   }
}
.sdp-template-bottom-wrap {
   .locations{
       .check-in{

           margin-bottom:2.5ex;
       }
   }
}
.salondetailmap {
   #map-canvas {
       width: 100% !important;
       height: 225px !important;
       @media(max-width:767px){
           height:190px !important;
       }
       .gmnoprint,.scissorlabels{
           cursor:default!important;
       }
   }
}

/* WR5 Update */
.salondetailsocialsharing {
   width: 100%;
   float: left;

   dl {
       margin-bottom: 10px;
   }
}
/* WR5 Update */
.salondetailsocialsharing {

   .social-links {

       dl{
           margin:0;

           dd
           {
               display: inline-block;
               font-size: 1.5em;
               margin-left: 20px;
               top: 6px;
               position: relative;

               a:hover{

                   text-decoration:none;
               }
           }
       }
   }
}
@media (min-width: 992px) {
   .map-directions {
       border: 1px solid #5f6167;
       padding-top: 20px;
       padding-bottom: 20px;
       min-height: 440px;
       display: inline-block;
   }
}


@media (max-width:767px) {
   .map-directions {
        width:100% !important;
        margin-bottom: 2ex;
       .check-in {
           padding: 0;

           .location-details {
               width: 65%;
           }

           .store-hours {
               clear: both;
           }

           .action-buttons {
               width: 100%;
               clear: both;

               .btn {
                   width: 46%;
                   float: left;
                   /* WR5 Update
                   margin: 0 5px;*/
               }
           }
       }
   }
    /* WR5 Update */
   .sdp-template-wrap{

       border:none;
       padding:0;
       margin:0 0 2em 0;
       @media (max-width: 768px)
          {
              margin-bottom: 0px;
          }
   }

   #map-canvas {

       margin-top:1.5em;
       margin-bottom:1.5em;
   }

   .sdp-template-bottom-wrap{

       .salondetailsocialsharing{

           display:none;
     }
   }

}
/* WR5 Update */
.connect-social{


   position:relative;
   margin-bottom: 2ex;

   .h3, h3{
       font-size:20px;
       color:#5f6167;
       border-bottom:2px solid #5f6167;
       padding-bottom:5px;
       margin:auto 10px;
   @media (max-width:480px) {

           display:none;
       }
   }
   .social-links{
       position:absolute;
       right:20px;
       top:-15px;
      /* width:20%; */
       height:30px;

   }
}

.sdp-template-bottom-wrap {

   .h3, h3{

       font-size:20px;
       color:#5f6167;

   }
   .specialoffers{

       font-size:13px;
   }
   .panel-heading {

       h4, .h4 {
              color:#fff;

           span{
               color:#fff;
               }
       }
   }
   .panel-body{

       h4, .h4{
           font-size:16px;
           margin-top:0;
       }
   }
   .locations{

       .check-in{
           .location-details{

               .miles{

                   position:static;
         @media(min-width:1024px){
           //position:absolute;
                   }
                   color: #5f6167;
                   font-size: 13px;
                   font-family: open-sans;
                    @media (max-width:380px) {

                         position:absolute;
                       bottom:-5px;
                      }
               }
           }
       }
   }
}
@media (max-width: 800px) {

   .connect-social, .salon_text_image.textimage{

       display:none;

   }

}

.salondetailcomponent{
   .sdp-left-template{
       section{
           width:100%;
     .check-in{
               padding:10px 0;
               .sdp-left{
                   width:70%;
                   @media(max-width:768px){
                       width:68% !important;
                   }
               }
               .store-hours{
                   clear: both;
                   .store-time{
                       .dayname{
                           width:45%;
                           display:inline-block;
                           @media (max-width: 320px){
                               width: 43%;
                           }
                       }
                   }
               }
           }
       }
   }
}
  .store-hours {
           float: left;
           width: 92%;
           max-width: 320px;
           @media(min-width:992px){
               min-height: 155px;
           }

           .hours {
               float: right;
               text-align: right;
               width: 52%;
               @media(max-width:768px){
                   font-size:14px;
               }
           }

           .days {
               float: left;
               width: 48%;
               @media(max-width:768px){
                   font-size:14px;
               }
           }
       }
       .sdp-store-hours {
           @media(min-width:992px){
               min-height: 55px;
               width: 100%;
                 max-width: 420px;
           }
           .days {
               float: left;
               width: 35%;
           }
           .hours {
               float: left;
               text-align: left;
               width: 65%;
        		    line-height: 22px;
           }
           .closedNow{
                @media (min-width:767px) and (max-width:992px) {
                display:block;
                margin-left:2px !important;
                }
                @media (max-width:767px) {
                display: block;
                margin-left:2px !important;
                }

            }


       }

