.product-detail-wrap{
	margin-bottom:0ex;
	float:left;
	.product-img img{
		width:100%;
	}
	.product-info{
		padding:10px;
		h1{
			color:#5f6167;
            line-height:26px;
			.salonsmalltxt{
				font-size:22px;
				font-weight:500;
				letter-spacing:1px;
				color:#5f6167;
				padding-bottom:10px;
			}
		}
		.product-features{
			padding:10px 0;
			border-top:1px solid #adadad;
			border-bottom:1px solid #adadad;
			.features{
				padding:0;
				h4{
					margin:0;
					font-size: 22px;
					font-weight: 500;
				}
				ul{
					margin-bottom:2ex;
					font-style:italic;
					list-style-type:none;
					padding-left: 0;
				}
			}
			.usage{
				padding:0;
				h4{
					margin:0;
				}
				p{
					font-style:italic;
				}
                .imgtxt-box{
                    padding:0;
										h1,h2,h3,h4,h5,h6,div.imgtxt-heading{
											color:#5f6167;
										}
					.imgtxt-subheading{
                        color: inherit;
                        font-size: 22px;
                        font-weight:500;
                        margin:0;
                    }
                }
			}
		}
		.product-share{
			margin-top:4ex;
            padding-left: 0;
            .social-share{
                padding-left: 0;
            }
		}
		.socialsharingcomp{
			overflow: hidden;
			.footer-social-nav{
				float: left!important;
                dd:first-child{
					margin-left:0;
                }
			}
		}
	}
}

@media(min-width:992px){
	.product-detail-wrap{
		border:1px solid #adadad;
        .product-img{
            width:33%;
			img{
                width:100%;
                padding:30px 10px 10px 10px;
            }
        }
		.product-info{
            padding:30px;
            width:67%;
			h1{
				font-size:40px;
				line-height:39px;
			}
			.product-features{
				padding:3ex 0;
			}
			.product-share{
				margin-top:1ex;
                padding-right:0;
                .cta-lo-salon{
                    padding-right:0;
                    a{
						float:right;
                    }
                }
			}
		}
	}
}

@media(max-width:767px){
    .product-features{
    	padding:0;
        .usage{
            .img-text-comp{
				margin:0 !important;
            }
        }
    }
}
