.sales-attachments{
    float: left;
    .file-attachment{
        .attachment-img{
            img{
                height:25px;
                width: 25px;
            }
        }
    }
}