.stylist-spotlight-container{
    @media(max-width:768px){
        width:100%;;
    }
    .h3{
		color: #1e3e6e;
    }
    h4{
        margin-bottom: 48px;
        font-size: 28px;
        color: #1e3e6e;      
        @media(max-width:768px){
            margin-bottom: 24px;
        }
    }
    .img1{
        width: 100%;
        height: 100%;
        margin-bottom: 20px;
        @media (max-width: 767px){
            margin-top:24px;
            margin-bottom:24px;
        }
    }

    .cwidth-container{
        margin-bottom:12px;
        @media(min-width:992px){
            padding-left:21px;
            width:238px;
        }
        h1{
            font-family:Merriweather;
            font-size:34px;
             @media(max-width:768px){
                 margin-top:-12px;
                
            }
        }
        @media(min-width:992px){
            border-right: 2px solid #dcdcdc;
            border-left:2px solid #dcdcdc;
        }
        &:first-child{
            border:none;
        }
        &:last-child{
            border:none;
        }
        &:nth-child(2){
            &>.row{
                @media (max-width: 965px){
					margin-right: -10px !important;
                    margin-left: -10px !important;
                }
            }
        }
        p{
            font-weight:lighter; 
        }
        .mall-name{
            color:#568391;
            font-size:12px;
            font-weight:700;
        }
        .salon-addr{
            font-weight:lighter;
            width:238px;
            font-family: "open-sans";
        }
        .ph-no{
            margin-top: -2px;
            font-family: "open-sans";
        }
        .link{
            font-size: 16px;
            font-weight: normal;
            position: absolute;
            top: 45px;
            right: 0px;
            text-align: right;
            color:#568391;
            margin-right: 8px;
            &:hover,&:focus,&:active{
                color:#4C6F7A;
                text-decoration: none;
            }
        }
        
        .img2{
            width:60px;
            height:60px;
        }
        .des{
            font-family: "open-sans";
            @media(max-width:767px){
                margin-top:10px;
            }
        }
        .det1{
             font-size:16px;
             color: #1e3e6e;
             &:hover,&:focus,&:active{
                color: #1e3e6e;
                text-decoration: none;
             }
        }
        .det{
            font-size:16px;
            font-weight:normal;
            color: #1e3e6e;
            &:hover{
                text-decoration: none;
                color: #1e3e6e;
            }
            margin-top:10px;
            position:absolute;
            right:0px;
            margin-right:5px;
        }
        a{
            color: #1e3e6e !important;
            font-weight: bold !important;
            .icon-arrow:before{
                font-weight: bolder;
            }
        }
    }
    .details{
       margin-bottom: 12px;
       font-family: "open-sans";
      .p1{         
        font-weight:bolder;
        color: #1e3e6e;
        font-family: "futura-pt-condensed", Helvetica, Arial, sans-serif;
        @media(max-width:768px){
            display:inherit;
        }
      }
    }
}