.styledetailcomponent{
		padding-top:0 !important;
    }
.style-detail-wrap{
	margin-top:0;
	margin-bottom:2ex;
	float:left;
	padding:0px 10px 20px;
	width:100%;

	.featuredimage {
		.featuredimage.textandimage {
			.imgtxt-box {
				display: none;
			}
		}
	}
	.style-img {
		img{
			width:100%;
		}
		.csSlideOuter {
			.csPager.cSGallery li{
				opacity:1;

			}
		}
		.csPager.cSGallery {
			li{
				&:nth-child(5n+1){
					clear:left;
				}
				&:nth-child(4n+1){
					clear:none;
				}
			}
		}
		a{
			color:#428bca;
		}
	}


	.style-info{
		padding:10px;
		h1{
			color:#5f6167;
		}
		.stylesmalltxt{
				font-size:22px;
				font-weight:700;
				letter-spacing:1px;
				color:#5f6167;
				display:block;
				margin-bottom:0;
				margin-top:0;
			}
		.style-features{
			padding:10px 0;

			border-bottom:1px solid #adadad;
			a{
				font-style:italic;
			}
			h3, .h3{
					margin-top:0 !important;
				}
			.features{
				padding:0;
				h4{
					margin:0;
					font-size: 22px;
					font-weight: 500;
				}
				ul{
					margin-bottom:2ex;
					font-style:italic;
					list-style-type:none;
					padding-left: 0;
				}
                p{
                    font-style: italic;
                    margin-bottom: 2ex;
                    font-size: 16px;
                }
			}
			.usage{
				padding:0;
				h4{
					margin:0;
				}
				p{
					font-style:italic;
				}
				.imgtxt-box{
                    padding:0;
					.imgtxt-subheading{
                        color: inherit;
                        font-size: 22px;
                        font-weight:500;
                        margin:0;
                    }
                }
			}
            .img-text-comp{
                .img-container{
                    @media(min-width:1023px){
						width:20%;
                    }
                }
                .imgtxt-box{
                    @media(min-width:1023px){
						width:80%;
                    }
                }
            }
		}

		.style-share{
			margin-top:4ex;
            padding-left: 0;
            .features{
                padding-left: 0;
				font-size: 28px;
				ul{
					margin-bottom:2ex;
					font-style:italic;
					list-style-type:none;
					padding-left: 0;
				}
				.h4{
					margin:0;
					font-size: 28px;
					font-weight: 700;
				}
				 li {
					display: inline-block;
					font-size:16px;
				}
				p{
					font-size:16px;
					font-style:italic;
				}
            }
		}
		.socialsharingcomp{
			overflow: hidden;
			.footer-social-nav{
				float: right!important;
                dd:first-child{
					margin-left:0;
                }
			}
		}
	}
	.salonsmalltxt{
		padding-top: 10px;
		font-size: 22px;
	}
	.imgtxt-subheading{
		color:#5f6167;
	}
	.imgtxt-box .imgtxt-para a{
		color:#2e6ca2;
	}

	.img-text-comp .imgtxt-box h1,h2,h3,h4,h5,h6,div.imgtxt-subheading{
		color:#5f6167;
	}
}

@media(min-width:992px){
	.style-detail-wrap{
		border:1px solid #adadad;
		.style-img{
			width:34%;
			margin-top:10px;
            .csPager.cSGallery {
			li{
				width:71px !important;
				height:95px !important;
				margin-right: 13px !important;
                &:last-child{
                		margin-right:0 !important;
                	}
                }

            }
            .csSlideOuter {

				#imageGallery li{
					//width:410px !important;
				}
                 .csPager{

                    &.cSGallery{
						width: 100% !important;

                    }
                }
            }
			a{
				color:#428bca;
			}
		}
		.style-info{
			width:66%;
		}
		.style-info{
			padding-right:5px;
			padding-left:5px;
			h1{
				line-height:39px;
                margin-top:0;
                padding-left:10px;
			}
			.style-features{
				padding:2ex 0;
                margin-left:10px;
                &:nth-of-type(1){
					padding:0;
                    .img-text-comp{
                        .imgtxt-box{
							width:100%;
                            padding-left:0;
                        }
                    }
                }
			}
			.style-share{
				margin-top:2ex;
                margin-left:10px;
			}
		}
	}
}

@media(max-width: 991px){
		.style-img{
			width:100%;

        	.csSlideOuter {

                 .csPager{

                    &.cSGallery{
						width: 100% !important;

                        li{
                            width:20% !important;
                            height:auto !important;
                            margin-right: 0px !important;

                        	&:nth-child(3n+1), &:nth-child(4n+1){
                                clear:none!important;
                            }

                        }
                    img{

                        width: 93% !important;

                    }

                    }
                }
            }
			a{
				color:#428bca;
			}
		}
		.style-info{
			width:100%;
		}
}

@media(max-width:767px){
    .styledetailcomponent .col-xs-12,.style-detail-wrap{
		padding-left:0 !important;
        padding-right:0 !important;
    }
}
