#style-wrap{
    margin-top:20px;
    margin-bottom:20px;
    figure{
        img{
            margin-bottom:20px;
            width:100%;
        }
        margin-bottom:20px;
        figcaption{
            text-align:center;
        }
    }
}

.comb1{
    @media (min-width: 768px){
        display: table;
        margin: 0 auto;
    }
    img{
        @media (max-width: 767px){
            width: 100%;
        }
    }
    .img-holder1,.img-holder2{
        @media (min-width: 768px){
            display: table-cell;
            width:300px;
        }
        figure{
            @media (min-width: 768px){
                margin-right: 30px;
            }
            figcaption{
                text-align: center;
                button{
                    padding: 10px;
                    margin: 10px 0;
                }
            }
        }
    }
}

.comb-2 {
    &.content-wrap {
        img{
            @media (max-width: 767px){
                width: 100%;
            }
        }
        @media (min-width: 768px){
            display: table;
        }
        .img-holder1{
            @media (min-width: 768px){
                width:300px;
                display: table-cell;
                vertical-align: middle;
            }
        }
        .imgholder2 {
            @media (min-width: 768px){
                display: table;
                width:300px;
            }
           img{ 
                @media (min-width: 768px){
                    display: table-cell;
                }
               margin-bottom: 20px;
           }
        }
    }
}

.content-wrap {
    &.comb-3{
        img{
            @media (max-width: 767px){
                width: 100%;
            }
        }
        @media(min-width: 768px){
            display: table;
        }
        .img-holder1{
            @media(min-width: 768px){
                width:300px;
                display: table-cell;
                vertical-align: middle;
            }
        }
        .imgholder2 {
            @media(min-width: 768px){
                width:300px;
                display: table;
                vertical-align: middle;
                padding-top: 20%; 
            }
        }
        .small-desc {
            text-align: center;
        }
    }
}

.skinny{
    padding: 20px;
    color: #5f6167;
    &.large-desc{
        border:1px solid #c8c8c8;
         h3{
            display: inline-block;
             a{
                font-weight: normal;
                font-size: 22px;
                color: #1e3e6e;
                &:hover{
                        color: #1e3e6e;
                        text-decoration: underline;
                    }
                }
            .title1{
                font-weight: 500;
                display: block;
                color: #1e3e6e;
                &:hover{
                    color: #1e3e6e;
                }
            }
            .title2{
                font-weight: 500;
                display: block;
                color: #5f6167;
                &:hover{
                    color: #5f6167;
                }
            }
            
        }
     }
    h3{
        font-weight: normal;
        margin-top: 0;
         a{
            font-weight: 500;
            color: #1e3e6e;
            font-size: 22px;
            &:hover{
                    color: #1e3e6e;
                    text-decoration: underline;

                }

           }
    }
    &.small-desc{
        width:70%;
        margin:0 auto;
        margin-bottom:20px;
        border:none;
        border-top: 2px solid #c8c8c8;
        border-bottom: 2px solid #c8c8c8;
    }

    &.small-desc-withoutBorder {
        width: 70%;
        margin: 0 auto 20px;
        border: none;
    }
}

.premiumStylesAndAdvice{
    a.btn-default{
        background: #1e3e6e;
        color: #fff;
        border-color: #1e3e6e;
        &:hover{
            background: #1e3e6e;
            color: #fff;
            border-color: #1e3e6e;
        }
    }
    a.cta-arrow{
        font-weight: bold;
        span.icon-arrow{
            &:before{
                font-size: 14px;
                font-weight: bolder;
            }
        }
        &:hover{
            color: #1e3e6e;
            text-decoration: none;
        }
    }
}

.style-advice-component{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0;
    .sa-title{
        margin: 0 0 36px;
        color: #1e3e6e;
        font-size: 28px;
        @media(max-width: 767px){
            margin: 0 0 25px;
        }
    }
    .sa-item{
        border: 1px solid #c8c8c8;
        padding: 24px;
        @media(max-width: 767px){
            padding: 24px 24px 6px;
            margin-bottom: 10px;
        }
        .imageSA{
            width: 100%;
        }
       
        .title{
            margin: 12px 0;         
            line-height: 22px;            
            font-size: 22px;
            padding: 0;
            @media(max-width: 767px){
                margin: 6px 0;
                font-size: 16px;
            }
        }
        .subtitle{
            margin: 0;
            //font-family:'open-sans';
            min-height: 80px;
            color: #5f6167;
            @media(max-width: 767px){
                font-size: 14px;
            }
        }
    }
    .next-link{
        text-transform: uppercase;
        color: #1e3e6e;
        font-weight: bolder;
    }
    .icon-arrow:before{
        font-size: 14px;
        font-weight: bold;
    }
    .skinny-text{
        padding: 36px 0;
        margin: 0 36px;
        border-width: 4px 0;
        border-style: solid;
        border-color: #1e3e6e;
        &.noBorders{
            border: none;
        }
        @media (max-width: 991px){
            margin: 24px 20px;
            padding: 18px 0;
        }

        .title{
            margin: 0;
            padding: 0 17px;
            font-size: 26px;
            font-weight: normal;
            line-height: 30px;
            font-family: "futura-pt-condensed", Helvetica, Arial, sans-serif;
            a{
                font-weight: bold;
                color: #5f6167;
                &:hover{
                    text-decoration: underline;
                }
            }

            @media (max-width: 991px){
                padding: 0;
            }
            @media (min-width: 768px) and (max-width: 991px){
                font-size: 25px;
                line-height: 31px;
            }
        }
        .description{
            margin: 60px 0 48px;
            //font-family:'open-sans';
            font-size: 16px;
            @media (max-width: 767px){
                margin: 30px 0 24px; 
            }
        }
    }
    .display-table{
        @media (min-width: 768px){
            display: table;
            table-layout: fixed;
            width: 100%;
        }
        .tableCell{
            @media (min-width: 768px){
                display: table-cell;
                vertical-align: middle;
                float: none;
            }
            &:last-child{
                .sa-item{
                    @media (max-width: 767px){
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
    .styleadv-more{
        margin-top:20px;
    }
}