/*CSS specific to Styles and Advice component for CQ*/

.styles-advice {
    .style-box {

        .style-box-content {
            border: 1px solid #c8c8c8;
            margin-bottom: 20px;

            & > a + a:hover {
                text-decoration: none;
            }

            img {
                width: 100%;
            }

            .img-desc {
                padding: 0.18em;
                color: #ffffff;
                font-family: "futura-pt-condensed", Helvetica, Arial, sans-serif;
                background: rgba(22, 62, 112, 0.9);
                text-align: center;
                font-weight: normal;
                font-size: 23px;
                margin-top: -40px;
                opacity: 0.9;
                letter-spacing: 2px;

                span {
                    margin-left: 0.4em;
                    font-size: 0.8em;
                }
            }

            .style-desc {
                overflow: hidden;
                margin: 35px 4%;


                img {
                    width: 28%;
                    margin-left: 2%;
                    float: left;
                }

                .style-text {
                    float: left;
                    width: 65%;
                    margin-left: 5%;
                    ;

                    .style-desc-heading {
                        text-align: left;
                        color: #5f6167;
                        font-weight: 700;
                        font-size: 20px;
                        line-height: 1.1;
                        margin-top: 0;
                        margin-bottom: 4px;
                        text-transform: none;
                    }

                    p {
                        color:#1e3e6e !important;
                        font-size: 16px;
                        &:hover{
                          text-decoration: underline;
                        }
                    }

                }
            }
        }

        a.cta-more-styles {
            display: block;
            text-align: center;
            text-decoration: none;
            color: #003f72;
            font-size: 28px;
            letter-spacing: 1px;
            font-family: "futura-pt-condensed", Helvetica, Arial, sans-serif;

            span {
                margin-left: 0.4em;
                font-size: 0.8em;
            }
        }
    }
}

/*Css tweeks for style and advice
*/

.acs-commons-resp-colctrl-row {
    .new-container {
        margin: 0 -10px;
    }
        .acs-commons-resp-colctrl-col-33 {
            width: 50%;
            padding: 0 10px !important;
        }

}

/*Media Query for mobile version of Styles and Advice component*/
@media (min-width: 992px) {
    .acs-commons-resp-colctrl-row {
        .acs-commons-resp-colctrl-col-33 {
            width: 33.33%;
        }
    }
}


@media (max-width: 767px) {
    .styles-advice {
        .style-box {
            text-align: center;
            margin-bottom: 25px;

            .style-text p {
                text-align: left;
            }

			.style-box-content{
				 .img-desc{
					position: relative;
					background: rgba(22, 62, 112, 1);
				}
				a:hover{
					text-decoration:none;
				}
			}
        }
    }
}
/*CSS specific to Styles and Advice component ends*/
