@font-face {
    font-family: 'futura-bold';
    src: url('../../clientlibs/sc-publish-clientlibs/resources/fonts/futura/Futura-Bold.otf') format('opentype');
    font-style: normal;
    font-weight: normal
}

@font-face {
    font-family: 'futura-regular';
    src: url('../../clientlibs/sc-publish-clientlibs/resources/fonts/futura/Futura-Book-Regular.otf') format('opentype');
    font-style: normal;
    font-weight: normal
}

.locations .check-in .location-details .vcard span.store-title, .locations header h2, .homepage-wrapper h1, .homepage-wrapper h2, .homepage-wrapper h3, .homepage-wrapper h4, .homepage-wrapper h5, .homepage-wrapper h6, .homepage-wrapper .h1, .homepage-wrapper .h2, .homepage-wrapper .h3, .homepage-wrapper .h4, .homepage-wrapper .h5, .homepage-wrapper .h6 {
    font-family: "futura-bold", Helvetica, Arial, sans-serif;
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .hero .responsiveimage{
        height: 480px;
        width: 640px;
	}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .hero .responsiveimage{
        height: 480px;
        width: 640px;
	}
}

.styles-advice .style-box .style-box-content .img-desc-new {
	padding: 0.18em;
	color: #1d405b;
	font-family: "futura-bold", Helvetica, Arial, sans-serif;
	/* background: rgba(22, 62, 112, 0.9); */
	font-weight: normal;
	font-size: 23px;
	opacity: 0.9;
	letter-spacing: 2px;
	/* position: absolute; */
	bottom: 0;
	width: 100%;
	padding: .5ex .5em;
	margin-bottom: 0;
	font-weight: bolder;
}

.Box-bg {
	background-color: #f8f8f8;
}

.Box-bg a:hover {

	text-decoration: none;
}

.style-footer {
	overflow: hidden;
	margin: 0px !important;
	background-color: #DBE2EB;
	padding: 10px;
	margin-top: 20px !important;
}

.cut-type,
.Box-bg h3,
.Box-bg h4,
.cut-desc,
.locationsHead h2 {
	color: #003c71 !important;
	text-transform: none !important;
	margin: 0px;
	padding: 0px 15px;
}

.cut-title{
	color: #00ADC0 !important;
	text-transform: none !important;
	margin: 0px;
	padding: 0px 15px;
}

.cut-type {
	font-size: 24px !important;
}

.cut-title {
	font-size: 18px !important;
}

.cut-desc {
	font-size: 14px !important
}

.style-footer p {
	color: #5f6167 !important;
	font-size: 14px;
}

.locations header,
#searchBtnLabel {
	color: #003c71 !important;
}

#searchBtnLabel {
	font-size: 18px !important;
}
.hero-lny-wrap .locations {
	min-height: 480px !important;
	width: 100%;
}

.cut-type,
.cut-title,
.styles-advice .style-box .style-box-content .style-desc .style-text .style-desc-heading {
	font-family: "futura-bold", Helvetica, Arial, sans-serif;
}

.cut-desc,
.styles-advice .style-box .style-box-content .style-desc .style-text p {
	font-family: "futura-regular", Helvetica, Arial, sans-serif;
}

.search-wrapper .form-control{
	font-size: 0.75em;
}

/*.hero .responsiveimage{
    height: 480px;
    width: 640px;
}*/
.lny.locationsNearYou.integrationcomp{
	background-color: #F8F8F8;
}
.tips a.cta-more-styles-tips{
	color: #1e3e6e !important;
    text-decoration: none !important;
    outline: 0 !important;
    font-family: "futura-regular",Helvetica,Arial,sans-serif;
    font-size: 14px !important;
    padding: 0 15px;
    font-weight: bold;
}

#locationsHead #browserSubtitle{
	font-size: 14px !important;
}
.locations .check-in .wait-time .vcard{
	height: 60px;
}

.locations .check-in .location-details .vcard span.closing-time {
	font-size: 14px;
}

.locations .check-in .location-details .vcard span.store-title a{
	font-size:18px;
}

.locations header .h2 {
    font-size: 24px;
}

.style-text p{
	padding: 0px;
}

.homepage-wrapper #cta-submit-button{
	color: #003f72 !important;
    background-color: #fff;
    border-color: #003f72;
}

.homepage-wrapper .btn.btn-primary.btn-block:hover {
    color: #1e3e6e !important;
    background-color: #e6e6e6 !important;
    border-color: #11233e !important;
}

.locations header .h2 {
    text-transform: capitalize;

}

.homepage-wrapper h1, .homepage-wrapper .h1, .homepage-wrapper h2, .homepage-wrapper .h2, .homepage-wrapper h3, .homepage-wrapper .h3, .homepage-wrapper h4, .homepage-wrapper .h4 {
    text-transform: capitalize;
}

.tips h1{
	font-size: 20px !important;
}

.hairstyles h1{
	padding-top: 6px;
}

@media screen and (max-width: 767px){
    .homepage-wrapper .styles-advice .style-box {
        text-align: left !important;

    }
}