.textandvideo {
	.img-text-comp{
		.imgtxt-box{
            @media(max-width:768px){
				padding:10px !important;
            }	
			.imgtxt-heading{
				color: #5f6167;
			}
			.imgtxt-subheading{
				color: #5f6167;
			}
			.imgtxt-para{
				font-style: italic;
			}
			.imgtxt-url{
				a{
					background: none;
					color: #003F72;
					border: none;
					font-weight: bold;
                    &.btn{
						background-color: #003F72;
                    }
				}
			}
		}
		.img-container{
			.player-container{
				.outer-wrapper{
                    width:100%;
				}
			}
			a.playicon{
                background: url("../../clientlibs/sc-publish-clientlibs/resources/images/play_button.png");
                position: absolute;
                padding: 60px;
                top: 32%;
                left: 36%;
            }
            .main-outer{
				position: relative;
                height: 0;
                padding-bottom: 56.25%;
            }
            .BrightcoveExperience{
				position: relative;
                top: 0;
                left: 0;
                width: 100%;
            }
		}
	}
}

.textandvideonew {
	.img-text-comp{
		.imgtxt-box{
            @media(max-width:768px){
				padding:10px !important;
            }	
			.imgtxt-heading{
				color: #5f6167;
			}
			.imgtxt-subheading{
				color: #5f6167;
			}
			.imgtxt-para{
				font-style: italic;
			}
			.imgtxt-url{
				a{
					background: none;
					color: #1e3e6e;
					border: none;
					font-weight: bold;
                    &.btn{
						background-color: #1e3e6e;
                    }
				}
                span.icon-arrow:before{
                    font-weight: bold;
                    color: #1e3e6e; 
                }
			}
		}
		.img-container{
			.player-container{
				.outer-wrapper{
                    width:100%;
				}
			}
			a.playicon{
                background: url("../../clientlibs/sc-publish-clientlibs/resources/images/play_button.png");
                position: absolute;
                padding: 60px;
                top: 32%;
                left: 36%;
            }
            .main-outer{
				position: relative;
                height: 0;
                padding-bottom: 56.25%;
            }
            .BrightcoveExperience{
				position: relative;
                top: 0;
                left: 0;
                width: 100%;
            }
		}
	}
}