
.gradient-brand {
	// New version #2.0
  background: -ms-linear-gradient(-45deg,  #DEE0E5  0%,#ffffff  52%,#DEE0E5  100%);
  background: linear-gradient(135deg,  #DEE0E5  0%,#ffffff  52%,#DEE0E5  100%);
  background: -webkit-linear-gradient(135deg,  #DEE0E5  0%,#ffffff  52%,#DEE0E5  100%);

}

.gradient-dark {
	background: -ms-linear-gradient(-45deg,  #38373a  0%,#717275  100%); /* IE10+ */
	background: linear-gradient(135deg,  #38373a  0%,#717275  100%); /* W3C */
	background: -webkit-linear-gradient(135deg,  #38373a  0%,#717275  100%); /* Safari */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#38373a ', endColorstr='#717275 ',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

/*Themes*/
/*----------------*/

@white: #ffffff;
@blue: #173E70;
@grey: #7C7D7F;


/*Dark Theme*/
.theme-dark {
    .gradient-dark;
    color: @white !important;

    h2, h3 {
        color: @white !important;
    }

    a {
        color: @white !important;
        letter-spacing: 0;
		&.btn{
			border: 1px solid @white;
            background:@white!important;
            color:@blue!important;
            text-transform:uppercase;
            padding: 5px .5em;
            font-weight:700;
        }
        &.h3{
			font-size:28px;
        }
    }
    p{
        color:@white !important;
    }
    /*img & text with theme*/
    .img-desc{
		background: rgba(132, 186, 217, 0.9) !important; 
        color:@white !important;
    }

     .content-overlay{
         .gradient-dark;
    	  color: @white !important;
    }
    &.img-text-comp{
		.imgtxt-box{
			p{
				b,strong,i,em{
					color: #FFF;
				}
			}
		}
	}
}

/*Blue Skin*/
.theme-blue {
    background: @blue;
    color: @white !important;
    
    h2, h3 {
        color: @white !important;
    }

    a {
       
        color: @white !important;
        letter-spacing: 0;
		&.btn-primary{
			background: @white;
            color: @blue !important;
            padding: 5px .5em;
            font-weight:700;
		}
        &.h3{
			font-size:28px;
        }
    }
    p{
        color:@white !important;
    }
     .content-overlay{
         background: @blue;
    		color: @white;
    }
	&.img-text-comp{
		.imgtxt-box{
			p{
				b,strong,i,em{
					color: #FFF;
				}
			}
		}
	} 
}

/*Brand Theme*/
.theme-brand {
    .gradient-brand;
    border:1px solid #93C2DE;
    color: @grey;
    h2, h3 {
        //color: @grey !important;
    }
     a {
        color: #6c6d6e !important;
        letter-spacing: 0;
		&.btn{
			border: 1px solid @grey;
            background:@blue;
            color:@white!important;
            text-transform:uppercase;
            padding: 5px .5em;
            font-weight:700;
        }
        &.h3{
			font-size:28px;
        }
    }
    p{
        color:#6c6d6e !important;
    }

    /*img & text with theme*/
    .img-desc{
		background: rgba(113, 114, 117, 0.9) !important; 
        color:@white !important;
    }
    .content-overlay{
        .gradient-brand;
		color: @grey;
        h3, h3 span{
			color:@grey;
        }
    }  
    &.img-text-comp{
        .imgtxt-box{
            p{
                b,strong,i,em{
                    color: #6c6d6e;
                }
            }
        }
    }
}

