#table-container{
    table{
        margin-top: 15px;
        padding-bottom:20px;
        border-bottom:1px solid #000;
        tr{
            td,th{
                padding: 10px;
                border: 1px solid #0e1c32;
                text-align: center;
                font-size:13px;
                color:#0e1c32;
            }
            td:nth-child(1),td:nth-child(2),td:nth-child(3),th:nth-child(1),th:nth-child(2),th:nth-child(3){
				text-align:left;
            }
            td:nth-child(3){
				text-transform:uppercase;
            }
            @media(max-width:768px){
                td{
					padding:5px 0;
                    width:50%;
                     border:none;
                }
                td:first-child{
					font-weight: bold;
					text-align:left;
                }
                td:last-child{
					text-align:right;
                }
            }
            @media(max-width:768px){
				margin-bottom:20px;
            }
        }
        @media(max-width:768px){
			width:100%;
            float:left;
        }
    }
     @media(max-width:768px){
		width:100%
   	}
}

.showRecords{
    margin-top:20px;
    margin-bottom:10px;
    h4{
		float:left;
        margin-right:10px;
        margin-top:0;
    }
    select{

    }
    @media(max-width:768px){
		float:left;
        width:100%;
    }
}

#loyalty-pagination{
    float:left;
    ul{
        li{
            padding:0;
            a{
				border-color:#1e3e6e;
                border:1px solid #1e3e6e;
                color:#1e3e6e;
                cursor:pointer;
                padding:5px;
            }
            &.active{
                a{
					background-color:#1e3e6e;
                    color:#fff;
                }
            }
        }
    }
}