<h3>Search Component</h3>
<p>Go Button Link : ${properties.goButtonLink}</p>
<p>Go Button Link : ${properties.goButtonText}</p>
<p>Go Button Link : ${properties.searchText}</p>

<div
	data-sly-use.multifield="${'com.regis.common.tags.SearchMultifieldItemList'}"
	data-sly-unwrap>

	<div data-sly-test.result="${multifield.multifieldList.size != 0}"><p>Quick
		Links:${multifield.multifieldList.size}</p></div>
	<div data-sly-list.subsection="${multifield.multifieldList}"
		data-sly-unwrap>
		<p>${subsection.itemCTA @ extension = 'html'}</p>

	</div>
</div>


