<div data-sly-test="${wcmmode.edit}" class="cq-placeholder" data-emptytext="Configure Jobs Form Component"></div>

<script type="text/javascript">
    $(document).ready(function () {
        initBMRCPValidation();
    });
</script>

<div class="col-lg-12 col-12 mt-5">
    <h2 class="Content text-dark mb-4">${properties.formTitle}</h2>
    <form id="jobs-form" method="post" action="/bin/BMRCPemailattachment.html" enctype="multipart/form-data" role="form"
          class="BsoJobsForm">

        <input type="hidden" name="MID" value="7296545"/>
        <input type="hidden" name="EXTERNAL_KEY" value="Web_Form_JOBS"/>
        <input type="hidden" name="brandName" value="thebso"/>
        <input type="hidden" name="successpath" value="${properties.successpath}"/>
        <input type="hidden" name="failurepath" value="${properties.failurepath}"/>
        <input type="hidden" id="selectedSalonIdPicker" name="selectedSalonIdPicker">
        <input type="hidden" name="gradYearStart" id="gradYearStart" value="${properties.gradYearStart}"/>
        <input type="hidden" name="expYearStart" id="expYearStart" value="${properties.expYearStart}"/>
        <input type="hidden" name="expYearEnd" id="expYearEnd" value="${properties.expYearEnd}"/>
        <input type="hidden" id="sendEmailThroughSF" name="sendEmailThroughSF" value="${properties.emailthroughSF}"/>
        <input type="hidden" id="emailSource" name="emailSource" value="${properties.emailsubject1}"/>
        <input type="hidden" id="authorizatioToken" name="authorizatioToken" value="${properties.authorizatioToken}"/>
        <input type="hidden" id="emailoverride" name="emailoverride" value="${properties.emailoverride}">
        <input type="hidden" id="emailstooverride" name="emailstooverride" value="${properties.emailstooverride}">
        <input type="hidden" id="emailTemplatePath" name="emailTemplatePath" value="${properties.emailtemplatepath}">
        <input type="hidden" id="emailSubject" name="emailSubject" value="${properties.emailsubject}">


        <div class="messages"></div>
        <div class="controls">
            <div class="row">
                <div class="col-md-12 col-12">

                    <div class="row">
                        <div data-sly-resource="${@ path='salonselector', resourceType='/apps/regis/common/components/content/contentSection/salonselectoradvanced'}"
                             data-sly-unwrap></div>
                    </div>

                    <!--/*                    <div class="form-group">*/-->
                    <!--/*                        <label for="form_need">Find a Beauty Supply Outlet</label>*/-->
                    <!--/*                        <select id="form_need" name="need" class="form-control" required="required"*/-->
                    <!--/*                                data-error="Please choose a salon.">*/-->
                    <!--/*                            <option value="Select a salon."></option>*/-->
                    <!--/*                            <option value="none">None</option>*/-->
                    <!--/*                        </select>*/-->
                    <!--/*                        <div class="help-block with-errors"></div>*/-->
                    <!--/*                    </div>*/-->
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 flex-grow-1">
                    <div class="form-group">
                        <label for="firstname">First name *</label>
                        <input id="firstname" type="text" name="firstname" class="form-control" placeholder=""
                               required="required"
                               data-error="Firstname is required.">
                        <div class="help-block with-errors"></div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="lastname">Last name *</label>
                        <input id="lastname" type="text" name="lastname" class="form-control" placeholder=""
                               required="required" data-error="Lastname is required.">
                        <div class="help-block with-errors"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="phonenumber">Mobile *</label>
                        <input id="phonenumber" type="tel" name="phonenumber" class="form-control" placeholder=""
                               required="required" data-error="Valid email is required.">
                        <div class="help-block with-errors"></div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="email">Email *</label>
                        <input id="CUemail" type="email" name="email" class="form-control" placeholder=""
                               required="required" data-error="Valid email is required.">
                        <div class="help-block with-errors"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="address">Address *</label>
                        <input id="address" type="text" name="address" class="form-control" placeholder=""
                               required="required" data-error="Valid email is required.">
                        <div class="help-block with-errors"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="city">City *</label>
                        <input id="city" type="text" name="city" class="form-control" placeholder=""
                               required="required" data-error="Valid email is required.">
                        <div class="help-block with-errors"></div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="state">State/Province *</label>
                        <sly data-sly-use.util="com.regis.common.impl.salondetails.SalonDetailsPageUtil">
                            <select data-sly-list.stateName="${util.stateFullName}"
                                    id="state" name="state" class="form-control"
                                    required="required" data-error="Please specify your state/province.">
                                <sly data-sly-test="${stateNameList.first}">
                                    <option value="">SELECT STATE/PROVINCE</option>
                                    <option value="${stateName}">${util.stateFullName[stateName]}</option>
                                </sly>
                                <sly data-sly-test="${stateNameList.index > 0}">
                                    <option value="${stateName}">${util.stateFullName[stateName]}</option>
                                </sly>
                            </select>
                        </sly>
                        <div class="help-block with-errors"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="postalcode">Postal Code/Zip Code *</label>
                        <input id="postalcode" type="text" name="zipcode" class="form-control" placeholder=""
                               required="required" data-error="Valid email is required.">
                        <div class="help-block with-errors"></div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="country">Country *</label>
                        <select id="country" name="country" class="form-control" required="required"
                                data-error="Please specify your need.">
                            <option value="">SELECT COUNTRY</option>
                            <option value="Canada">Canada</option>
                            <option value="US">United States</option>
                        </select>
                        <div class="help-block with-errors"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group ">
                        <label for="positioncheckbox">Position of Interest *</label>
                        <div class="row">
                            <div class="col-md-12 d-flex flex-wrap position-container required">
                                <label class="checkbox-inline">
                                    <input name="positioncheckbox" type="checkbox" value="stylist">
                                    <span class="checkmark"></span> Stylist</label>
                                <label class="checkbox-inline">
                                    <input name="positioncheckbox" type="checkbox" value="receptionist">
                                    <span class="checkmark"></span> Receptionist</label>
                                <label class="checkbox-inline">
                                    <input name="positioncheckbox" type="checkbox" value="manager">
                                    <span class="checkmark"></span> Manager</label>
                                <label class="checkbox-inline">
                                    <input name="positioncheckbox" type="checkbox" value="associate">
                                    <span class="checkmark"></span> Sales Associate</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="statuscheckbox">Your Current Situation *</label>
                        <div class="row">
                            <div class="col-md-12 d-flex flex-wrap status-container required">
                                <label class="checkbox-inline">
                                    <input name="statuscheckbox" type="radio" value="in-school">
                                    <span class="checkmark"></span> In School</label>
                                <label class="checkbox-inline">
                                    <input name="statuscheckbox" type="radio" value="graduate">
                                    <span class="checkmark"></span> Recent Graduate</label>
                                <label class="checkbox-inline">
                                    <input name="statuscheckbox" type="radio" value="currently-employed">
                                    <span class="checkmark"></span> Currently Employed</label>
                                <label class="checkbox-inline">
                                    <input name="statuscheckbox" type="radio" value="returning">
                                    <span class="checkmark"></span> Returning to Career</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="availability">Work Type *</label>
                        <div class="row">
                            <div class="col-md-12 d-flex flex-wrap availability-container required">
                                <label class="checkbox-inline">
                                    <input name="availabilitycheckbox" type="checkbox" value="fulltime">
                                    <span class="checkmark"></span> Full time</label>
                                <label class="checkbox-inline">
                                    <input name="availabilitycheckbox" type="checkbox" value="parttime">
                                    <span class="checkmark"></span> Part time</label>
                                <label class="checkbox-inline">
                                    <input name="availabilitycheckbox" type="checkbox" value="temporary">
                                    <span class="checkmark"></span> Temporary</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="gradYearList">${properties.gradYearLabel}</label>
                        <span class="custom-dropdown">
							<select name="graduationYear" class="form-control icon-arrow custom-dropdown-select"
                                    id="gradYearList">
							<option value="">SELECT YEAR</option>
							</select>
						</span>
                        <div class="help-block with-errors"></div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="experienceYears">${properties.expYearLabel}</label>
                        <span class="custom-dropdown">
							<select name="experienceYears" class="form-control icon-arrow custom-dropdown-select"
                                    id="experienceYears">
                                <option value="">SELECT YEARS</option>
                            </select>
						</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="experiencestate">Licensed in State/Province *</label>
                        <sly data-sly-use.util="com.regis.common.impl.salondetails.SalonDetailsPageUtil">
                            <select data-sly-list.stateName="${util.stateFullName}"
                                    id="experiencestate" name="experiencestate" class="form-control"
                                    required="required" data-error="Please specify your province.">
                                <sly data-sly-test="${stateNameList.first}">
                                    <option value="">SELECT STATE/PROVINCE</option>
                                    <option value="${stateName}">${util.stateFullName[stateName]}</option>
                                </sly>
                                <sly data-sly-test="${stateNameList.index > 0}">
                                    <option value="${stateName}">${util.stateFullName[stateName]}</option>
                                </sly>
                            </select>
                        </sly>

                        <div class="help-block with-errors"></div>
                    </div>
                </div>
                <div class="col-md-6">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="additionalnotes">Notes</label>
                        <textarea id="additionalnotes" name="additionalnotes" class="form-control"
                                  placeholder="Message *"
                                  rows="3" required="required" data-error="Please leave us a message." maxlength="1000"></textarea>
                        <div class="help-block with-errors"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <button class="btn btn-sm BsoForm-But">SUBMIT</button>
                </div>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript">
    var ind = 2;
    $(document).ready(function () {
        /* Graduated Year and Experience */
        setGraduationYear();
        setExperienceYears();
    });
    var sc_salonId = SalonSearchGetSelectedSalonIds()[0];
    console.log('eVar3 (On Load Salon): ' + sc_salonId);

    $("#countryDD1").change(function () {
        setStatesComboposenexp();
    })

    function setGraduationYear() {
        var paeGradYearStart = 1950;
        var date = new Date();
        var paeGradYearEnd = date.getFullYear() + 1;

        $("#gradYearList").append("");

        if (document.getElementById("gradYearStart") && document.getElementById("gradYearStart").value) {
            paeGradYearStart = document.getElementById("gradYearStart").value;

        }

        for (var i = parseInt(paeGradYearStart); i < (parseInt(paeGradYearEnd) + 1); i++) {
            var year = new Option(i, i)
            $("#gradYearList").append(year);
        }
    }

    function setExperienceYears() {
        var paeExpYearStart = 1;
        var paeExpYearEnd = 50;

        $("#experienceYears").append("");

        if (document.getElementById("expYearStart") && document.getElementById("expYearStart").value) {
            paeExpYearStart = document.getElementById("expYearStart").value;
        }
        if (document.getElementById("expYearEnd") && document.getElementById("expYearEnd").value) {
            paeExpYearEnd = document.getElementById("expYearEnd").value;
        }

        for (var i = parseInt(paeExpYearStart); i < (parseInt(paeExpYearEnd) + 1); i++) {
            var year = new Option(i, i)
            $("#experienceYears").append(year);
        }
    }
</script>