// Custom Variables override
@import "../core/custom-variables";
//
// Alerts
// --------------------------------------------------

.alert {
	padding: 20px;
	//text-transform: uppercase;
	//font-style: italic;
  //border-radius: 0;
  &.alert-success {
  	border-radius: 0;
		border: none;

  }
  // &.fade {
		// .transition(max-height, .5s ease);
		// max-height: 0;
		// overflow: hidden;
		// display: block;
		// opacity: 1;

		// &.in {
		// 	max-height: 50ex;
		// 	overflow: visible;
		// }
  // }
}

.confirmation {
	border-bottom: 1px solid @brand-primary;
	color: @brand-red;
	text-transform: uppercase;
	font-style: italic;
	padding: 10px 0;
}
