// Custom Variables override
@import "../core/custom-variables";
.banner {

    // New version #2.0
  background: -ms-linear-gradient(-45deg,  #e2edd7  0%,#ffffff  52%,#e1eef4  100%);
  background: linear-gradient(135deg,  #e2edd7  0%,#ffffff  52%,#e1eef4  100%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 1px solid @brand-primary;
    margin-bottom: 3ex;
    padding-bottom: 3ex;


    .hero {
        position: relative;
        > img {
            display: block;
            position: static;
            width: 85%;
            margin-left: -25%;

        }
        .tagline {
            position: absolute;
            top: 38%;
            right: 0%;
            p {
                font-family: @font-family-futura;
                font-size: @font-size-h1;
                font-style: italic;
                color: #000;
                text-align: center;
                line-height: 1.2;
                border-bottom: 1px solid #000;
                margin-bottom: 0px;
            }
            span {
                display: inline-block;
                width: 100%;
                font-family: @font-family-futura;
                font-size: @font-size-h5;
                color: #000;
                text-align: center;
                text-transform: uppercase;
            }
        }

    }
    .location {
        position: static;
    }
    @media (min-width: @screen-md-min) {
        min-height: 500px;
        margin-bottom: 8ex;
        padding-top: 3ex;

		background: url('../../clientlibs/ss-publish-clientlibs/resources/images/hero-background-nohemi.png'), -ms-linear-gradient(-45deg,  #e2edd7  0%,#ffffff  52%,#e1eef4  100%);
      background: url('../../clientlibs/ss-publish-clientlibs/resources/images/hero-background-nohemi.png'), linear-gradient(135deg,  #e2edd7  0%,#ffffff  52%,#e1eef4  100%);

        background-size: 100%;
        background-position: center 55%;
        .hero {
            .tagline {
                right: 17%;
            }
        }

        .location {
            position: absolute;
            top: 4ex;
            left: 0;
            margin: 0 1ex;
            margin-top: 0ex;
            padding-bottom: 0;
        }
  }
}
// IE9 multiple background image fix
.ie9 {
    .banner {
        background: url('../../clientlibs/ss-publish-clientlibs/resources/images/hero-background-nohemi.png'), url('../../clientlibs/ss-publish-clientlibs/resources/images/gradient-brand.svg');
    }
}


.hero {
    img {
        display: block;
        width: 100%;
        @media(min-width:768px) and (max-width:1024px) and (orientation:portrait){
			margin-top:20px;
        }
    }
}


