// Custom Variables override
@import "../core/custom-variables";
//
// Branding
// --------------------------------------------------

.logo {
	/*background: url('../../images/logo-header.svg');
	background-size: 100%;
	background-repeat: no-repeat;*/
	display: block;
	float: left;
	width: 90%;
	margin: 10px 0;
	@media (min-width: 620px) and (max-width: 768px) {
		position: relative;
		left: 7%;
		width: 85%;
	}
	&.logo-footer {
		/*background: url('../../images/logo-header.svg');
		background-size: 100%;
		background-repeat: no-repeat;*/
		height: 7ex;
		display: block;
		float: left;
		width: 100%;
		margin: 10px 0;
	}
	img{
		width:90%;
	}
}

// Speech Bubble

.speech-bubble {
	color: @brand-primary;
	border: 1px solid;
	padding: 1ex 1.5em;
	font-style: italic;
	border-radius: 4px;
	display: inline-block;
	position: relative;
	&::before {
		content: '';
		width: 0;
		height: 0;
		border-left: 8px solid rgba(0, 0, 0, 0);
		border-right: 8px solid rgba(0, 0, 0, 0);
		border-top: 10px solid #e1eef4;
		bottom: -11px;
		left: 18px;
		position: absolute;
	}
	&::after {
		content: '';
		width: 0;
		height: 0;
		border-left: 8px solid rgba(0, 0, 0, 0);
		border-right: 8px solid rgba(0, 0, 0, 0);
		border-top: 10px solid #FFF;
		position: absolute;
		bottom: -9px;
		left: 18px;
	}
}
