// Custom Variables override
@import "../core/custom-variables";
//
// Buttons
// --------------------------------------------------
@currentBackground: @brand-secondary;
// Base styles
// --------------------------------------------------

.btn {
  text-transform: uppercase;
  font-family: commuters-sans, sans-serif;
  font-weight: 600;
  padding: 5px .5em;
  font-size: @font-size-h5;
  letter-spacing: 1px;
  border-radius: 0px;
  &.btn-large {
  	font-size: @font-size-h4;
  	padding: 6px .5em;
  }
  &.btn-padding {
		margin-bottom: 2ex;
	}
	.btn-group-sm & {
		font-size: 1em;
	}
	&.btn-primary {
		background-color: #424475;
		border-color:#424475 ;
		&.green {
			background-color: @brand-secondary;
			border-color: @brand-secondary;
		}
		&.gray {
			background-color: @gray;
			border-color: @gray;
			color: #fff;
		}
		&.white {
			background-color: #fff;
			border-color: #fff;
		}
	}

	&.btn-default {
		background-color: #424475;
		color: #fff;
		border-color: #424475;
		&.green {
			color: @brand-secondary;
			border-color: @brand-secondary;
		}
		&.gray {
			color: @gray;
			border-color: @gray;
		}
		&.white {
			color: #fff;
			border-color: #fff;
		}
	}

	&.btn-link {
		&.green {
			color: @brand-secondary;
		}
		&.gray {
			color: @gray;
		}
	}
}

.customTheme{

        color:#fff !important;
    &.search-wrapper{
		input[type="search"]{
			border:1px solid #424475;
        }
    }
    &.btn{
            background: #424475 !important;
			border-color:#424475 !important;
            font-size: 15.5px;
    }

}

.theme-brand {
	.btn {
		&.btn-primary {
			&.white {
				color: @gray-dark;
			}
		}
	}
}

.theme-blue {
	.btn {
		&.btn-primary {
			&.white {
				color: #fff;
			}
		}
	}
}
.theme-dark {
	.btn {
		&.btn-primary {
			&.white {
				color: @gray-dark;
			}
		}
	}
}
.close {
	font-size: 15px;
	margin-right: -15px;
}
