.cutoutcomponent {
  &.section {
    overflow: none;
  }
}
.mlb-cutout-component {
  height: 140px;
  &.sstTeal {
    background-color: #00ADBB;
  }
  &.left {
    .mlb-component-background {
      float: left;
      margin-right: 10px;
    }
    .mlb-component-text {
      margin-left: 10px;
    }
    .mlb-component-text {
      .left {
        position: absolute;
        margin-left: 120px;
        bottom: 6px;
      }
      .right {
        position: absolute;
        right: 0;
        bottom: 6px;
      }
      .center {
        position: absolute;
        left: 50%;
        bottom: 6px;
      }
    }
  }
  &.right {
    .mlb-component-background {
      float: right;
    }
    .mlb-component-text {
      padding: 20px 0 0 20px;
    }
    .left {
      position: absolute;
      bottom: 6px;
    }
    .right {
      position: absolute;
      right: 120px;
      bottom: 6px;
    }
    .center {
      position: absolute;
      left: 50%;
      bottom: 6px;
      transform: translateX(-50%);
    }
  }
  .mlb-component-background {
    position: relative;
    height: 100%;
    width: 120px;
    .mlb-component-image {
      position: absolute;
      height: 160px;
      width: 100%;
      bottom: 0;
    }
  }
  .mlb-component-text {
    box-sizing: border-box;
    color: #231f20;
    padding: 20px 14px 0 0;
    position: relative;
    height: 100%;
    .btn {
      padding: 5px 0.5em;
      margin-right: 10px;
    }
    .mlb-text-heading {
      margin: 0;
      font-weight: bold;
      font-family: commuters-sans, sans-serif;
      font-size: 20px;
    }
    .mlb-text-description {
      margin-top: 0;
      max-height: 48px;
      overflow: hidden;
      font-family: proxima-nova, sans-serif;
    }
    .mlb-text-description-nocta {
      margin-top: 0;
      max-height: 70px;
      overflow: hidden;
      font-family: proxima-nova, sans-serif;
    }
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .mlb-cutout-component {
    height: auto;
    .mlb-component-background {
      left: 50%;
      margin-left: -60px;
      height: 140px;
      float: none;
    }
    .mlb-component-text {
      clear: left;
      padding: 2px 0 0 0;
      .btn {
        margin-right: 0;
        margin-bottom: 5px;
      }
      .mlb-text-description {
        max-height: none;
      }
      .mlb-text-description-nocta {
        max-height: none;
      }
    }
    &.left {
      .mlb-component-background {
        float: none;
      }
      .mlb-component-text {
        padding: 0 10px 0;
        margin-left: 0;
        .mlb-text-description {
          margin: 0 0 4px 0;
        }
        .left {
          position: static;
          margin-left: 0;
          text-align: center;
        }
        .right {
          position: static;
          margin-left: 0;
          text-align: center;
        }
        .center {
          position: static;
          margin-left: 0;
          text-align: center;
        }
      }
    }
    &.right {
      .mlb-text-description {
        margin: 0 0 4px 0;
      }
      .mlb-component-background {
        float: none;
      }
      .mlb-component-text {
        padding: 0 10px 0;
        .left {
          position: static;
          margin-left: 0;
          text-align: center;
        }
        .right {
          position: static;
          margin-left: 0;
          text-align: center;
        }
        .center {
          position: static;
          margin-left: 0;
          text-align: center;
          transform: none;
        }
      }
    }
  }
}