.cutoutcomponent{

    &.section{
     overflow: none;

    }

}
.mlb-cutout-component {
    &.scColor {
        background-color: #1e3e6e;
        .mlb-text-heading {
            font-weight: bold;
            font-family: "futura-pt-condensed", Helvetica, Arial, sans-serif;
        }
        .mlb-text-description {
            font-family: proxima-nova, sans-serif;
        }
    }
    &.sstTeal {
        background-color: #00ADBB;
        .mlb-text-heading {
            font-weight: bold;
            font-family: commuters-sans, sans-serif;

        }
        .mlb-text-description {
            font-family: commuters-sans, sans-serif;
        }
        .btn-default {
            background-color: #424475;
            border-color: #424475;
            color: white;
            &:hover {
                background-color: #424475;
                border-color: #424475;
                color: white;
            }
        }

        .btn {

             font-family: commuters-sans, sans-serif;
             font-size: 16px;

        }
    }
    &.hcpTeal {
        background-color: #727173;
        .mlb-text-heading {
            font-weight: bold;
            font-family: "merriweather", Helvetica, Arial, sans-serif;
        }
        .mlb-text-description {
            font-family: "merriweather", Helvetica, Arial, sans-serif;
        }
        .btn-default {
            background:#455f6c;
            color: white;
            border-color: #455f6c;
        }
         .btn {

             font-family:  "merriweather", Helvetica, Arial, sans-serif;
                font-size: 16px;

        }
    }
    &.ccColor {
        background-color: #bd1f39;
        .mlb-text-heading {
            font-weight: bold;
            font-family: "merriweather", Helvetica, Arial, sans-serif;
        }
        .mlb-text-description {
            font-family: "merriweather", Helvetica, Arial, sans-serif;
        }
    }
    &.fchColor {
        background-color: #e8112d;
        .mlb-text-heading {
            font-weight: bold;
            font-family: "merriweather", Helvetica, Arial, sans-serif;
        }
        .mlb-text-description {
            font-family: "merriweather", Helvetica, Arial, sans-serif;
        }
    }
    height: 150px;
    &.left {
        .mlb-component-background {
            float: left;
            margin-right: 10px;
        }
        .mlb-component-text {

            margin-left: 10px;
        }

        .mlb-component-text{
          .left {

           position: absolute;
           margin-left: 120px;
           bottom: 10px;

            }
           .right {

           position: absolute;
           right: 0;
           bottom: 10px;

            }
           .center {

           position: absolute;
           left: 50%;
           bottom: 10px;

            }
        }
    }
    &.right {
        .mlb-component-background {
            float: right;
        }
        .mlb-component-text {

            padding: 12px 0 0 20px;
        }

        .left{

           position: absolute;
           bottom: 10px;

        }

          .right {

           position: absolute;
           right: 120px;
           bottom: 10px;

            }
           .center {

           position: absolute;
           left: 50%;
           bottom: 10px;
           transform: translateX(-50%);

            }

    }
    .mlb-component-background {
        position: relative;
        height: 100%;
        width: 120px;
        .mlb-component-image {
            position: absolute;
            height: 160px;
            width: 100%;
            bottom: 0;
        }
    }
    .mlb-component-text {
        box-sizing: border-box;
        color: white;
        padding: 12px 14px 0 0;
        position: relative;
        height: 100%;
        .btn {
            padding: 3px 0.3em;
        }

            .btn {
                margin-right: 10px;
            }


        .mlb-text-heading {
            margin: 0;
        }
        .mlb-text-description {
            margin-top: 0;
            max-height: 66px;
            overflow: hidden;

        }
    }
}

