.favourites{
    .style-template{
        height: 252px;
        margin-bottom: 40px;

        @media (min-device-width: 768px) and (max-device-width: 1024px){
            .items-wrapper{
                width: 67%;
                margin-left: 21%;
            }
            .fav-pic-holder{
                height: 252px;
            }
        }
        @media (max-width: 767px){
            .items-wrapper{
                width: 140px;

            }
        }

        @media (max-width: 767px){

            height: 170px;
            margin-bottom: 45px;
            .fav-share{

                a{
                    float: left;
                    display: block;
                    padding: 20px;
                    @media (min-device-width: 768px) and (max-device-width: 1024px){
                        margin-top:10px;
                        padding: 30px;
                    }

                }


            }
        }
        @media (min-device-width: 768px) and (max-device-width: 1024px){
            .fav-share {
                margin-top: 8px;
                a{
                    float: left;
                    display: block;
                    padding: 20px;


                }

            }
        }
        .fav-pic-holder{
            @media (max-width: 767px){
                position: relative;
                height: 170px;
                a.delete-icon img{
                    width:20%;
                }
            }
            a{
                float: left;
                width: 100%;

            }

            a img{
                width: 229px;
                height: 229px;
                margin-bottom: 24px;
                @media (max-width: 767px){
                width: 132px;
                height: 132px;
                margin-bottom: 0px;
                }
                @media (min-device-width: 481px) and (max-device-width: 1024px){
                    width: 100%;
                    height: 100%;
                }
            }
        }

    }

    .product-template{
        height: 252px;
        margin-bottom: 40px;
        @media (min-device-width: 768px) and (max-device-width: 1024px){
            .items-wrapper{
                width: 67%;
                margin-left: 21%;

            }
        }
        @media (max-width: 767px){
            .items-wrapper{
                width: 140px;
                .fav-pic-holder{
                    a.delete-icon img{
                        width:20%;
                    }
                    a img{
                        width: 54%;
                        height:54%;
                    }
                }
            }
        }
        @media (max-width: 767px){
            .fav-share {

                a{
                    float: left;
                    display: block;
                    padding: 20px;


                }

            }
        }
        @media (min-device-width: 768px) and (max-device-width: 1024px){
            .fav-share {
                margin-top: 8px;
                a{
                    float: left;
                    display: block;
                    padding: 20px;


                }

            }
        }


        .fav-pic-holder{
             @media (max-width: 767px){
                position: relative;
                height: 170px;
            }
            a{
                width: 100%;
                float: left;
            }
            p{
                color: #424475;
                clear: both;
            }
            height: 252px;
            padding-top: 20px;
            @media (max-width: 767px){
                padding-top: 0px;
            }
            a img{
                width: 150px;
                height: 150px;

                @media (max-width: 767px){
                    width: 132px;
                    height:132px;
                    margin-bottom: 0px;
                }


            }

        }
        @media (max-width: 767px){

            height: 170px;
            margin-bottom: 45px;

            .fav-hrt{
                right:0;
            }
        }
    }

    .fav-img {
       position: relative;
    }
    .fav-hrt {
       position: absolute;
        top:10px;
        right: 23px;
        background: url(../../clientlibs/ss-publish-clientlibs/resources/images/Regis-Icons/Regis_heart.svg);
        background-repeat: no-repeat;
        max-width: 22px;
        padding: 13px;
        border:none;
        outline: none;
        @media (max-width: 767px){
            position: absolute;
            top: 5%;
            right: 8% !important;
        }
        @media (min-device-width: 768px) and (max-device-width: 1024px){
            top: 8%;
            right: 19%;
        }

    }
    .fav-hrt-empty {
       position: absolute;
        top:10px;
        right: 23px;
        background: url(../../clientlibs/ss-publish-clientlibs/resources/images/Regis-Icons/Regis_heart_empty.svg);
        max-width: 22px;
        padding: 13px;
        border:none;
        outline: none;

        @media (max-width: 767px){
            position: absolute;
            top: 5%;
            right: 8% !important;
        }
        @media (min-device-width: 768px) and (max-device-width: 1024px){
            top: 8%;
            right: 19%;
        }
    }
    .fav-share {
        width: 35px;
        height: 35px;
        float: right;
        background: url(../../clientlibs/ss-publish-clientlibs/resources/images/Regis-Icons/Regis_favorites_Share.svg);
        background-repeat: no-repeat;
        background-size: 25px 25px;
        cursor: pointer;
        font-weight: bold;
        font-size: 17px;
        display: block;
        a{
            text-decoration:none;
        }
    }
    .overlay-myfav{
        background: #414042;
        opacity: 0.8;
        width: 229px;
        height: 100%;
        display:none;
        top: 0;
        left: 10px;
        position: absolute;
        @media (max-width: 767px){
            width: 142px;
            margin-left: 1px;
            height: 170px;
        }
        @media (min-device-width: 768px) and (max-device-width: 1024px){
            width: 61%;
            margin-left: 21%
        }
        @media (min-device-width: 481px) and (max-device-width: 1024px){
            margin-left: 20%;
            width: 62%;
        }
    }
    .zoom{
       -moz-transform: scale(1.5);
	   zoom: 150%;
    }

    .share-icons{
        width: 100%;
        position: absolute;
        top: 28%;
        left: 0;

        @media (max-width: 767px){
            left: 0;
            width: 100%;

        }
        @media (min-device-width: 768px) and (max-device-width: 1024px){
            width: 100%;
            left: 0;

        }
        @media (min-device-width: 481px) and (max-device-width: 1024px){
            left: 0;

        }


        li{

            display:inline-block;
            padding: 0 !important;

        }
        li a{
            width: 100%;
            opacity:1;
             padding: 12px;
            @media (max-width: 767px){
                padding: 2px;

            }
            @media (min-width: 768px){
                padding: 10px;
            }
            @media (min-width: 992px){
                padding: 12px;
            }
            img{
                width: 25px;
                height: 25px;
            }

        }

    }
    .buttons-wrapper{
        text-align: center;
    }

    .status-message{
        margin-top: 5%;
        color: #727173;
        font-size: 17px;
    }
    .welcome-wrapper{

        margin-bottom:3%;

        .welcome-message{
            @media (max-width: 767px){
                margin-bottom: 20px;
            }

            float: left;
            text-align:left;
            .salutation{
                font-weight: bold;
                font-size: 24px;
                margin-bottom:0;
                color: #424475;
            }
            .welcome-text{
                font-size: 20px;
            }

        }
        .closest-salon{

            p{
                margin: 0;
                font-size: 13px;
            }
            .main-title.h3 {
                color: #424475;
                margin-top: 0px;
                margin-bottom: 10px;
                font-size: 24px;
            }
            .salon-name{
                font-weight: bold;
                font-size: 13px;
                margin: 0;
            }
            p.timings{
              font-style: italic;
              font-weight: bold;
              display: inline-grid;
              span#preferredsalontimemyfav {
                font-style: normal;
                font-weight: normal;
            }
            }
        }
    }
    .product-btn{
        float: left;
        a{
            display: block;
        }


        p{
            margin-top: 30px;
            color: #3572b0;
        }
        a.btn{
            background: url(../../clientlibs/ss-publish-clientlibs/resources/images/Regis-Icons/Regis_favorites_plus_Teal.svg) no-repeat center center;
            background-size: 25px 25px;
            border: none;
            height: 28px;
            box-shadow: none;
            &:active,&.active{
                box-shadow: none;
            }
        }
    }
    .styles-btn{
        float: left;
        a{
            display: block;
        }

        border-right: 1px solid #00ADBB;
        p{
            margin-top: 30px;
            color: #3572b0;
        }
        a.btn{
            background: url(../../clientlibs/ss-publish-clientlibs/resources/images/Regis-Icons/Regis_favorites_plus_Teal.svg) no-repeat center center;
            background-size: 25px 25px;
            border: none;
            height: 28px;
            box-shadow: none;
            &:active,&.active{
                box-shadow: none;
            }
        }
    }
    .expired-item{
        width:100%;
        border: 1px solid grey;
        height: 100%;
        p{
            margin-top: 35%;
        }
        .delete-icon{
                position: absolute;
                top: 3%;
                zoom: 25%;
                left: 78%;
                width: 48%;
                @media (max-width: 767px){
                   img{
                        width: 20%;
                        height:20%;
                    }
                }
                @media (min-device-width: 481px) and (max-device-width: 1024px){
                    left: 66%;
                }
        }
    }

}
@-moz-document url-prefix() {
    .favourites{

        .share-icons{
            left: 28% !important;
            top: 35%;
        }
        .style-template{
            height:252px;
        }
        .expired-item{


            a.delete-icon {
                position: absolute;
                top: -10%;
                left: 60%;
                width: 48%;
                -moz-transform: scale(0.25);



            }
        }

    }
}
