// Custom Variables override
@import "../core/custom-variables";
@import "../components/mixins";
//
// Forms
// --------------------------------------------------

form {
	position: relative;
}

fieldset {
	margin-bottom: 2ex;
	legend {
		border: 0;
		font-size: .85em;
	}
	.divider {
		text-align: left;
	}
}

.form-control {
	box-shadow: none;
	border-radius: 0;
	font-size: .85em;
	height: 34px;
	border:1px solid #424475;
	&.green {
		/*border-color: @brand-secondary;*/
	}

	&.blue {
		border-color: @link-color;
	}

	&:focus {
		box-shadow: none;
		border:1px solid #424475;
	}
}

// Search
input[type="search"] {
	padding-left: 2.25em;
}

.search-wrapper {
	position: relative;
	&:before {
		position: absolute;
		z-index: 9;
		top: 7px;
		left: 10px;
		font-family: icomoon;
		content: "\e60c";
		color: @gray-dark;
	}

	input {
		font-family:  proxima-nova, sans-serif;
		color: @gray-dark;
		&::-webkit-input-placeholder {
			font-style: italic;
			color: @gray-dark;
		}

		&:-moz-placeholder { /* Firefox 18- */
			font-style: italic;
			color: @gray-dark;
		}

		&::-moz-placeholder {  /* Firefox 19+ */
			font-style: italic;
			color: @gray-dark;
		}

		&:-ms-input-placeholder {
			font-style: italic;
			color: @gray-dark;
		}
	}

}


// Select dropdowns
@media (max-width: 768px){
	select.form-control {
	font-size: 12px !important;
	}
}
select.form-control {
	-webkit-appearance: none;
	-moz-appearance: none;
	background: url('../../clientlibs/ss-publish-clientlibs/resources/images/select-arrow@2x.png') no-repeat 96% 50% #ffffff;
	background-size: 23px 12px;
	overflow: hidden;
}
@media (max-width: 470px){
	select.form-control {
	padding-right: 35px;
	}
}
select.form-control, label.checkbox-inline, label.radio-inline {
	color: @gray-dark;
	font-family: @font-family-sans-serif;
	font-size: 18px;
	line-height: 1;
	text-transform: uppercase;
}

label.checkbox-inline, label.radio-inline {
	line-height: 1;
}


@media (max-width: 768px){
    .checkbox-inline {
      margin-left: 10px;
    }
}

// Add New Guest

.guest-form {
	overflow: hidden;
	.transition(max-height, .5s linear);
	&.expand {
		max-height: 1000ex;
	}
}

.info-tip {
	font-style: italic;
}

input[type="radio"] {
	margin: 0;
}

input[type="date"] {
	margin: 0;
}
#selected-images {
	display: none;
}

#accordion {
	.trigger{
		width: 100%;
		text-decoration: none;
		display: inline-block;
	}
}


/*styles end for BC player in video and text component*/

input[type=checkbox].css-checkbox ,input[type=radio].css-checkbox{
  position: absolute;
  z-index: -1000;
  left: -1000px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
input[type=checkbox].css-checkbox + label.css-label,input[type=radio].css-checkbox + label.css-label {
  padding-left: 26px;
  vertical-align: middle;
  height: 26px;
  border: 1px solid #ccc;
  display: inline-block;
  line-height: 32px;
  background-repeat: no-repeat;
  background-position: 0 0;
  font-size: 16px;
  width: auto;
  cursor: pointer;
  background-size: 100%;
}
input[type=checkbox].css-checkbox:checked + label.css-label,input[type=radio].css-checkbox:checked + label.css-label {
  background-size:100%;

}
input[type=checkbox].css-checkbox:checked + label.css-label.disabled,input[type=radio].css-checkbox:checked + label.css-label.disabled {
  background-size:100%;
}
