.text{
     .form-group{
         margin-bottom: 0;
         padding-right: 30px;
    }
     .gffTextBox{
         width: 50%;
         display: block;
         height: 40px;
         padding: 6px 12px;
         font-size: .85em;
         line-height: 1.42857143;
         color: #231f20;
         background-color: #fff;
         border: 1px solid #424475;
    }
     .form-control{
         padding-right: 30px;
         width: 50%;
         display: block;
         padding: 6px 12px;
         font-size: .85em;
         line-height: 1.42857143;
         color: #231f20;
         background-color: #fff;
         border: 1px solid #424475;
    }
}
 .radio{
     margin: 0 0;
     .radio-label{
         padding:0 0 10px 0;
         font-weight: bold;
    }
     .form-group{
         margin-bottom: 0;
         &.has-error{
             .checkbox-inline {
                 color: #231f20;
            }
            .checkbox{
                 .checkbox-label{
                     color: #231f20;

                }
            }
        }
         .checkbox{
             .checkbox-label{
                 padding:0 0 5px 0;
                 font-weight: bold;

               .css-label {
                background-image: url(../../clientlibs/ss-publish-clientlibs/resources/images/checkbox-unchecked.png);
                padding-left: 26px;
                vertical-align: middle;
                height: 26px;
                border: 1px solid #424475;
                display: inline-block;
                line-height: 32px;
                background-repeat: no-repeat;
                background-position: 0 0;
                font-size: 16px;
                width: auto;
                cursor: pointer;
                background-size: 100%;

                }
                .css-checkbox:checked { 
                    +span.css-label {
                     background-image: url(../../clientlibs/ss-publish-clientlibs/resources/images/checkbox-aqua.png);
                   }
                }
            }
        }
        .checkbox-inline{

            font-weight:bold;
        }
    }
}
 .dropdown{
     .form-control{
         width: 50%;
         display: block;
         padding: 0 12px;
         font-size: 18px;
         font-weight: none;
         line-height: 1.42857143;
         color: #231f20;
         background-color: #fff;
         border: 1px solid #424475;
    }
}
 .submit {
     #cta-submit-button{
         width: 52%;
         display: block;
         line-height: 1.42857143;
         color: #fff;
         font-weight: 500;
         padding: 5px .5em;
         font-size: 20px;
         letter-spacing: 1px;

    }
}

