.hotspot-container{
margin:20px 0; 
    button{
        &:focus{
			outline:none;
        }
    }
    .mob-container{
        display:table;
        margin-top:24px;
        padding:0 30px;

        .img-container,.img-desc{
            display:table-cell;
            vertical-align:middle;
            img{
				@media(max-width:767px){
					width:100%;
                }
            }
        }
        .img-desc{
            padding-left:20px;
            .img-title{
				margin-bottom:12px;
                font-weight:bold;
            }
            .img-desc-txt{

            }
        }

    }
	position: relative;
	width: 752px;
    @media(min-width:767px){
		height: 524px;
    }
	float: left;
	.img-holder{
	position: absolute;
	}
    img{
		width:752px;
        height: 524px;
        @media(max-width:767px){
            width:100%;
            height: auto;
        }

    }
	@media (max-width: 767px){

		width: 100%;
		.img-holder{
			position: static;
			width: 100%;
		}
	}

	.product-display{
		background: url('../../clientlibs/ss-publish-clientlibs/resources/images/Regis-Icons/Image_Hot_Spot_Plus.svg') no-repeat;
	    border-radius: 50%;
	    width: 28px;
	    height: 28px;
	    color: white;
	    position: absolute;
        background-size:contain;
        margin:0;
        padding:0;
	}
	
	.active-icon{
		background: url('../../clientlibs/ss-publish-clientlibs/resources/images/Regis-Icons/Image_Hot_Spot_Minus.svg') no-repeat;
        background-size:contain;
	}
	
	.modal-container{
		top: 24px;
		display: none;
        position: absolute;
        width: 286px;
        height: 476px;
        background: white;
        margin-right: 24px;
        right: 12px;
        @media (min-width: 992px){
			right: 240px;
        }
        button.close{
			margin-right: 0px;
        }
        img{
        	height: auto;

        }

		@media (max-width: 767px){
			position: static;
			top: 0;


			.close-button{
				display:none;
			}
			.product-content-wrapper{
				width: 100%;
				margin-left:0;

			}
		}
        @media(max-width:767px) and (orientation:Portrait){ 
            width:100%;
            height: 150px;
            position: absolute;

        }
		.product-content-wrapper{

			width: 100%;
			margin-left: 0;
			.title{
				margin-top: 35px;
                @media(max-width:767px){
                    margin-top:24px;
                }
				margin-bottom: 26px;
                line-height:24px;
			}
			.image-area{
				@media (max-width: 767px){
					.image-wrapper-left{
						width:49%;
						float:left;
					}
					.image-caption-right{
						//height: 177px;
						//padding-top: 32px;
					}
				}
			}
            figure{
                width:117px;
                height:auto;
                margin:0 auto;
                	img{width:100%;
            	}
            	figcaption{
					text-align:center;
                	margin-top:24px;
            	}
            }
			.products{
				margin-bottom: 24px;
			}
			.title-second{
				margin-top: 28px;
				
				
			}
		}


		@media (max-width: 767px){
			position: static;
			top: 0;
			.close-button{
				display:none;
			}
			.product-content-wrapper{
				width: 100%;
				margin-left:0;

			}

		}
	}

	@-webkit-keyframes glowing {
      0% { background-color: #7B5E69; -webkit-box-shadow: 0 0 3px #7B5E69; }
      50% { background-color: #BAA2AB; -webkit-box-shadow: 0 0 40px #BAA2AB; }
      100% { background-color: #7B5E69; -webkit-box-shadow: 0 0 3px #7B5E69; }
    }
    
    @-moz-keyframes glowing {
      0% { background-color: #7B5E69; -moz-box-shadow: 0 0 3px #7B5E69; }
      50% { background-color: #BAA2AB; -moz-box-shadow: 0 0 40px #BAA2AB; }
      100% { background-color: #7B5E69; -moz-box-shadow: 0 0 3px #7B5E69; }
    }

    @-o-keyframes glowing {
      0% { background-color: #7B5E69; box-shadow: 0 0 3px #7B5E69; }
      50% { background-color: #BAA2AB; box-shadow: 0 0 40px #BAA2AB; }
      100% { background-color: #7B5E69; box-shadow: 0 0 3px #7B5E69; }
    }
    
    @keyframes glowing {
      0% { background-color: #7B5E69; box-shadow: 0 0 3px #7B5E69; }
      50% { background-color: #BAA2AB; box-shadow: 0 0 40px #BAA2AB; }
      100% { background-color: #7B5E69; box-shadow: 0 0 3px #7B5E69; }
    }

    .hotspot-button {
      -webkit-animation: glowing 1500ms infinite;
      -moz-animation: glowing 1500ms infinite;
      -o-animation: glowing 1500ms infinite;
      animation: glowing 1500ms infinite;
    }
}