// Custom Variables override
@import "../core/custom-variables";
//
// Icons
// --------------------------------------------------

@font-face {
	font-family: 'icomoon';
	src:url('@{icon-font-path}@{icon-font-name}.eot?-no4tmm');
	src:url('@{icon-font-path}@{icon-font-name}.eot?#iefix-no4tmm') format('embedded-opentype'),
		url('@{icon-font-path}@{icon-font-name}.woff?-no4tmm') format('woff'),
		url('@{icon-font-path}@{icon-font-name}.ttf?-no4tmm') format('truetype'),
		url('@{icon-font-path}@{icon-font-name}.svg?-no4tmm#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	label > &, p > & {
	  font-size: 1.75em;
	  margin-right: 10px;
	  top: 6px;
	  position: relative;
	}
	label > & {
	  line-height: 1.5;
	}
}


.icon-list:before {
	content: "\e600";
}
.icon-phone:before {
	content: "\e601";
}
.icon-map:before {
	content: "\e602";
}
.icon-maps:before {
	content: "\e602";
}
.icon-femaleprofile:before {
	content: "\e603";
}
.icon-maleprofile:before {
	content: "\e604";
}
.icon-email:before, .icon-mail:before {
	content: "\e605";
}
.icon-star:before {
	content: "\e606";
}
.icon-filter:before {
	content: "\e607";
}
.icon-scissor-locations-1:before {
	content: "\e608";
}
.icon-scissor-locations-2:before {
	content: "\e609";
}
.icon-scissor-locations-3:before {
	content: "\e60a";
}
.icon-chair:before {
  content: "\e626";
}
/*.icon-heart:before {
	content: "\e60b";
}*/
.icon-search:before {
	content: "\e60c";
}
.icon-arrow-left:before {
	content: "\e60d";
}
.icon-stylist:before {
	content: "\e60e";
}
.icon-close:before {
	content: "\e60f";
}
.icon-instagram:before {
	content: "\e610";
}
.icon-profile:before {
	content: "\e611";
}
.icon-time:before {
	content: "\e612";
}
.icon-twitter:before {
	content: "\e613";
}
.icon-yelp:before {
	content: "\e614";
}
.icon-arrow-down:before {
	content: "\e615";
}
.icon-arrow:before {
	content: "\e616";
}
.icon-arrow-right:before {
	content: "\e616";
}
.icon-arrow-up:before {
	content: "\e617";
}
.icon-facebook:before {
	content: "\e618";
}
.icon-googleplus:before {
	content: "\e619";
}
.icon-linkedin:before {
	content: "\e61a";
}
.icon-menu:before {
	content: "\e61b";
}
.icon-pinterest:before {
	content: "\e61c";
}
.icon-plus:before {
	content: "\e61d";
}
/*.icon-scissors:before {
	content: "\e61e";
}*/
.icon-tumblr:before {
	content: "\e61f";
}
.icon-youtube:before {
	content: "\e620";
}
.icon-guest:before {
	content: "\e621";
}
.icon-stumbleupon:before {
  content: "\e622";
}
.icon-delicious:before {
  content: "\e623";
}
.icon-googleplus-transparent:before {
  content: "\e625";
}
.icon-pinterest-transparent:before {
  content: "\e61c";
}
.icon-linkedin-transparent:before {
  content: "\e61a";
}
.icon-stumbleupon-transparent:before {
  content: "\e624";
}
.icon-tumblr-transparent:before {
  content: "\e61f"; 
}

.list-icon {
	width: 100%;
	overflow: hidden;
	li {
		float: left;
		margin: 1ex 1em;
		span {
			font-size: @font-size-h1;
			color: @gray-dark;
		}
	}
}
.icon-tick:before {
content: "\e628";
}
.icon-calendar:before {
content: "\e62d";
}
.icon-man:before {
content: "\e604";
}
.icon-woman:before {
content: "\e603";
}

.icon-scissors{
  background: url('../../clientlibs/ss-publish-clientlibs/resources/images/Regis_Scissors_BLK.png') no-repeat top left;
  height: 28px;
  width: 28px;
  float: left;
  background-size: 117%;
  top: -1px !important;
}