// Custom Variables override
@import "../core/custom-variables";
//
// Input groups
// --------------------------------------------------

.input-group + p {
	margin-top: 1em;
}

.input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group {
	margin-left: 0;
}

.input-group-addon {
	&.no-border-right {
		border-right: none;
	}
}
