// Custom Variables override
@import "../core/custom-variables";
@import "../components/mixins";
//
// MARKETING
// --------------------------------------------------

.salon-details {
	a {
		color: #428bca;
	}
	@media (min-width: @screen-md-min) {
		> .col-block {
			> section {
				border-right: 1px solid @gray;
				min-height: 270px;
			}
			&:first-of-type{
				> section {
					border-left: none;
					padding-left: 20px;
				}
			}
			&:last-of-type{
				> section {
					padding-right: 20px;
				}
			}
		}
	}
}
[class^="media-"], [class*=" media-"] {
	float: left;
	position: relative;
	//width: 100%;
	border: 1px solid @brand-primary;
	margin-bottom: 6ex;

	> .media {
		display: block;
		position: relative;
		//width: 100%;
		padding: 0;
		overflow: auto;
		background: transparent;
		img {
			display: block;
			width: 100%;
			margin: auto;
		}
	}
	> .details {
		float: left;
		position: relative;
		//width: 100%;
		padding: 2ex 1em;
		> header {
			p {
				color: @gray-dark;
				margin-top: 0;
				margin-bottom: 0;
				text-align: center;
				&.h2 {
					line-height: .9;
				}
			}
			h4 {
				margin-top: 0;
				margin-bottom: 0;
				text-align: center;
				color: @gray-dark;
				a {
					color: @gray-dark;
				}
			}
		}
		> section {
			p {
				text-align: center;
				margin-bottom: 0;
				font-family: @font-family-sans-serif;
				a {
					color: @brand-secondary;
				}
			}
			.btn {
				margin: 1ex auto 0;
				display: table;
			}
		}
		> footer {
			padding: 2ex 0;
			img {
				display: inline-block;
				height: 50px;
				margin-left: 1.9%;
				vertical-align: top;
				&:first-child {
					margin-left: 0;
				}
			}
			.btn-group {
				.btn {
					padding: .5ex 1em;
					letter-spacing: 1px;
				}
			}
		}

		> .media-left {
			border: 0;
			margin-bottom: 0;
			> .media {
	    	float: left;
	    	width: 30%;
	    	padding: 0;
	    	img {
	    		display: block;
	    		width: 100%;
	    	}
	    }
			> .details {
				float: left;
				width: 70%;
				header, section, footer {
					width: 100%;
		    }
		    header {
		    	margin-top: 0;
		    }
			}
		}
	}
	&.no-border {
		border: none;
	}
	&.no-media {
		> .details {
			width: 100%;
			overflow: hidden;
			padding: 20% 1em;
			header {
				height: 60px;
				h4 {
					a {
						color: @gray-dark;
					}
				}
			}
			section {
				height: 127px;
				.btn {
					margin-top: 3ex;
				}
			}
		}
	}
	&.theme-dark {
		.gradient-dark;

		> .details {

			> header {
				p {
					color: #fff;
					&.h2 {
						color: #fff;
					}
				}
				h4 {
					color: #fff;
					a {
						color: #fff;
					}
				}
			}
			> section {
				p {
					color: #fff;
					a {
						color: @link-color;
					}
				}
			}
		}
	}
	&.theme-blue {
		background: @brand-primary;

		> .details {

			> header {
				p {
					color: #fff;
					&.h2 {
						color: #fff;
					}
				}
				h4 {
					color: #fff;
					a {
						color: #fff;
					}
				}
			}
			> section {
				p {
					color: #fff;
					a {
						color: @brand-secondary;
					}
				}
			}
		}
	}
	&.theme-brand {
		.gradient-brand;
		> .details {

			> header {
				p {
					color: @gray-dark;
					&.h2 {
						color: @gray-dark;
					}
				}
				h4 {
					color: @gray-dark;
					a {
						color: @gray-dark;
					}
				}
			}
			> section {
				p {
					color: @gray-dark;
					a {
						color: @brand-secondary;
					}
				}
			}
		}
	}

}

.media-only {

	img {
		display: block;
		width: 100%;
	}
}

.media-top {

	&.no-border {
		> .media {
			padding: 0 ;
		}
		> .details {
			padding: 2ex 0;
		}
	}
}

.media-bottom {

	> .media {
		margin-top: 0;
	}
	> .details {
		height: 136px;
		overflow: hidden;
		> .media-left {
			border: 0;
			> .media {
	    	float: left;
	    	//width: 40%;
	    	img {
	    		display: block;
	    		width: 100%;
	    	}
	    }
			> .details {
				float: left;
				//width: 60%;
				header, section, footer {
					width: 100%;
		    }
		    header {
		    	margin-top: 0;
		    }
			}
		}
	}
	&.no-border {
		> .details {
			padding: 0;
		}
	}
	&.no-media {
		> .details {
			padding: 2ex 0 1ex;
		}
	}
}

.media-left {

	> .media {
		display: block;
		//width: 100%;
		padding: 0;
		img {
			display: block;
			width: 100%;
			margin: auto;
		}
	}
	> .details {
		//min-height: 220px;
		padding: 6ex 1em 2ex;
		> header {
			p {
				color: #424475;
				margin-top: 0;
				&.h2{
					line-height: .9;
					margin-bottom: 0;
				}
			}
			h4{
				margin-bottom: 0;
			}
		}
		> section {
			p a {
				color: @brand-secondary;
			}
		}
		> footer {
			padding: 2ex 0;
			img {
				display: inline-block;
				height: 50px;
				margin-left: 1.9%;
				vertical-align: top;
				&:first-child {
					margin-left: 0;
				}
			}
			.btn-group {
				.btn {
					padding: .5ex 1em;
					letter-spacing: 1px;
				}
			}
		}
	}
	&.no-border {
		> .media {
			padding: 0;
		}
	}
	&.no-media {
		> .details {
			padding: 0 0 2ex 0;
		}
	}


	@media (min-width: 550px) {

    > .media {
    	float: left;
    	//width: 40%;
    	img {
    		width: 100%;
    	}
    }
		> .details {
			float: left;
			//width: 60%;
			header, section, footer {
				width: 100%;
	    }
	    header {
	    	margin-top: 2ex;
	    }
		}
  }
}

.col-md-4 {
	.media-left {
		.details {
			header {
				h4 {
					font-size: 19px;
				}
			}
		}
	}
}

.media-right {

	> .media {
		float: right;
		display: block;
		width: 100%;
		padding: 0;
		img {
			display: block;
			width: 100%;
			margin: auto;
		}
	}
	> .details {
		float: right;
		padding: 6ex 1em 2ex;
		//min-height: 220px;
		> header {
			p {
				color: @gray-dark;
				margin-top: 0;
				text-align: center;
				&.h2{
					line-height: .9;
					margin-bottom: 0;
				}
			}
			h4{
				margin-bottom: 0;
				text-align: center;
			}
		}
		> section {
			p {
				text-align: center;
				margin-bottom: 0;
			}
			a {
				color: @brand-secondary;
				text-align: center;
			}
		}
		> footer {
			padding: 2ex 0;
			img {
				display: inline-block;
				height: 50px;
				margin-left: 1.9%;
				vertical-align: top;
				&:first-child {
					margin-left: 0;
				}
			}
			.btn-group {
				.btn {
					padding: .5ex 1em;
					letter-spacing: 1px;
				}
			}
		}
	}
	&.no-border {
		> .media {
			padding: 2ex 0;
		}
	}
	&.no-media {
		> .details {
			padding: 2ex 1em;
		}
	}
	@media (min-width: 550px) {

    > .media {
    	float: right;
    	//width: 40%;
    	img {
    		width: 100%;
    	}
    }
		> .details {
			float: left;
			//width: 60%;
			header, section, footer {
				width: 100%;
	    }
	    header {
	    	margin-top: 2ex;
	    }
		}
  }
}

.media-left, media-right{
	border:none;
}
