// Custom Variables override
@import "../core/custom-variables";
//
// Mixins
// --------------------------------------------------

.transition(...) {
	@props: ~`"@{arguments}".replace(/[\[\]]/g, '')`;
	-webkit-transition: @props;
	-moz-transition: @props;
	-o-transition: @props;
	transition: @props;
}
.rotate (@deg) {
	-webkit-transform: rotate(@deg);
	-moz-transform: 	 rotate(@deg);
	-ms-transform: 		 rotate(@deg);
	-o-transform: 		 rotate(@deg);
}
.box-shadow (@string) {
    -webkit-box-shadow: @string;
    -moz-box-shadow:    @string;
    box-shadow:         @string;
}

.gradient-brand {
	// New version #2.0
  background: -ms-linear-gradient(-45deg,  #e2edd7  0%,#ffffff  52%,#e1eef4  100%);
  background: linear-gradient(135deg,  #e2edd7  0%,#ffffff  52%,#e1eef4  100%);
  background: -webkit-linear-gradient(135deg,  #e2edd7  0%,#ffffff  52%,#e1eef4  100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2edd7', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 fallback on horizontal gradient */

}

.gradient-dark {
	background: -ms-linear-gradient(-45deg,  #38373a  0%,#717275  100%); /* IE10+ */
	background: linear-gradient(135deg,  #38373a  0%,#717275  100%); /* W3C */
    background: -webkit-linear-gradient(135deg,  #38373a  0%,#717275  100%); /* Safari */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#38373a', endColorstr='#717275',GradientType=0 ); /* IE6-9 fallback on horizontal gradient */
}

