// Custom Variables override
@import "../core/custom-variables";
@import "../components/mixins";
//
// Profile
// --------------------------------------------------

.profile-creation-prompt {
	height: 0;
	overflow: hidden;
	.transition(all, .75s linear);

	&.grow {
		min-height: 135px;
		max-height: 100ex;
	}
	.speech-bubble {
		width: 100%;
		color: @gray-dark;
		font-style: normal;
		border-color: @brand-primary;
		p {
			font-size: .95em;
		}
		&::before {
			content: '';
			width: 0;
			height: 0;
			border-left: 16px solid rgba(0, 0, 0, 0);
			border-right: 16px solid rgba(0, 0, 0, 0);
			border-top: 20px solid @brand-primary;
			bottom: -20px;
			left: 46%;
			position: absolute;
		}
		&::after {
			content: '';
			width: 0;
			height: 0;
			border-left: 16px solid rgba(0, 0, 0, 0);
			border-right: 16px solid rgba(0, 0, 0, 0);
			border-top: 20px solid #FFF;
			position: absolute;
			bottom: -18px;
			left: 46%;
		}
		.btn-primary {
			margin-top: 2ex;
		}
	}
}

.alt {
	.profile-creation-prompt {

		.speech-bubble {
			width: 100%;
			color: @brand-red;
			font-style: italic;
			border-color: @brand-red;
			h3 {
				font-weight: 400;
				text-transform: none;
				font-family: @font-family-sans-serif;
			}
			p {
				font-size: .95em;
			}
			&::before {
				content: '';
				width: 0;
				height: 0;
				border-left: 16px solid rgba(0, 0, 0, 0);
				border-right: 16px solid rgba(0, 0, 0, 0);
				border-top: 20px solid @brand-red;
				bottom: -20px;
				left: 46%;
				position: absolute;
			}
			&::after {
				content: '';
				width: 0;
				height: 0;
				border-left: 16px solid rgba(0, 0, 0, 0);
				border-right: 16px solid rgba(0, 0, 0, 0);
				border-top: 20px solid #FFF;
				position: absolute;
				bottom: -18px;
				left: 46%;
			}
			.btn-primary {
				margin-top: 2ex;
			}
		}
	}
	.confirmation {
		color: @gray-darker;
		font-style: normal;
		margin-bottom: 0;
		margin-top: 0;
	}
	.alert h4 {
		color: @gray-darker;
		margin-top: 1.5ex;
	}
}
