.main{
    .hero{
        img{
            width: 100%;
        }
    }
    .hero-lny-wrap{
        margin-bottom:20px;
    }
}

@media(max-width:768px){
	.hero-lny-wrap{
        margin-bottom:0;
        .col-md-7,.col-md-5{
        	padding:0;
        }
    }
}