.locations{
    header{
        border-bottom:1px solid #5f6167;
        h2{
            font-family: "futura-pt-condensed";
        }
        .h2{
            margin-bottom: 0;
            text-transform: uppercase;
            font-weight: bold;
            text-align: center;
        }
        h2,p{
            text-align: center;
            i{
                font-size: 16px;
            }
        }
        a{
			color:inherit;
            text-decoration:none;
            &:hover{
				text-decoration:none;
            }
        }
    }
    .check-in {
        float: left;
        border-bottom: 1px solid #5f6167;
        padding: 2ex 0;
        .wait-time{
            position: relative;
            float:left;
            width: 20%;
            @media(max-width: 768px){
             width: 21%;
            }
            margin: 0 1em 0 0;
            padding: 0 2%;
            border: 1px solid #5f6167;
            border-radius: 6px;
            min-width: 71px;
            .vcard{
                height: 65px;
                background: url('../../clientlibs/sc-publish-clientlibs/resources/images/scissor-icon-1b.svg') no-repeat 8px 0px;
                .minutes{
                    width: 28px;
                    height: 28px;
                    margin: 10px auto;
                    padding: 2px;
                    border-radius: 50%;
                    border: 2px solid white;
                    box-shadow: 0 0 6px #5f6167;
                    background-color: #003f72;
                   div#waitTimeSalonDetail {
                     display: block;
                      font-family: "futura-pt-condensed", Helvetica, Arial, sans-serif;
                      font-weight: 700;
                      font-size: 16px;
                      color: white;
                      text-align: center;
                      margin: 0;
                      vertical-align: middle;
                      position: relative;
                      top: -1px;

					}
                }
                span{
                    display: block;
                    font-family: "futura-pt-condensed", Helvetica, Arial, sans-serif;
                    font-weight: 700;
                    font-size: 16px;
                    color: white;
                    text-align: center;
                    margin: 0;
                }
            }
            .h4{
                color: #5f6167;
                font-size: 16px;
                text-align: center;
                text-transform: uppercase;
                margin-bottom: 8px;
                margin-top: 0;
            }
            .h6{
                color: #5f6167;
                font-family: "open-sans", Helvetica, Arial, sans-serif;
                font-size: 11px;
                font-weight: 300;
                text-align: center;
                text-transform: uppercase;
                margin-top: 0;
                margin-bottom: 0;
            }
            &.cmng-soon{
                margin-bottom:10px;
				.vcard{
                    background:none;
                    .minutes{
                          width: 60px;
                          height: 60px;
                          background: url('../../clientlibs/sc-publish-clientlibs/resources/images/list-icon-opening-soon.png');
                          margin: 10px auto;
                          -webkit-background-size: 100%;
                          box-shadow: none;
                    }
                }
            }
            &.call-now{
                .vcard{
                    background:none;
                    .minutes{
                        width: 50px;
                        height: 50px;
                        background: url('../../clientlibs/sc-publish-clientlibs/resources/images/closed_scissor.svg') #5e172d center center;
                        background-size: 58px;
                        background-position-x: -6px;
                        background-position-y: -5px;
                        margin: 10px auto;

                        /* -webkit-background-size: 100%; */
                    }
                }
            }&:after{
                content: " ";
                right: -12px;
                position: absolute;
                top: 13%;
                display: block;
                width: 12px;
                height: 19px;
                background: url('../../clientlibs/sc-publish-clientlibs/resources/images/nubin.svg');
                background-repeat: no-repeat;
                transform: scale(1.05);
            }
        }
    }
    .check-in {
        .location-details {
            display: inline-block;
            float: left;
            vertical-align: top;
            width: 69%;
            margin: 0;
            .vcard{
                width: 89%;
                @media(max-width:768px) {
                    width:84%;
                }
                float: left;
                min-height:59px;
                span{
                    display: inline-block;
                    float: left;
                    width: 100%;
                    margin-top: 0;
                    line-height:1;
                    margin-bottom:0.25em;
                }
                span.store-title {
                    width: 100%;
                    margin-bottom: .25ex;
                    color: #003f72;
                    font-family: "futura-pt-condensed", Helvetica, Arial, sans-serif;
                    font-weight: 700;
                    font-size: 20px;
                    text-transform: uppercase;
                    a{
                        color:#1e3e6e;
                    }
                    /*WR5 update */
                    a:hover{
                        text-decoration:underline;
                    }
                }
                span.closing-time{
                    color: #5f6167;
                    font-style: italic;
                    font-size: 16px;
                    @media(max-width:767px){
                        font-size:14px;
                    }
                    width:99%;
                }
                .closedNow {
                    margin-left:2px;
                 }
                span.telephone{
                    color: #5f6167;
                    font-size: 14px;
                     a:hover{
                        text-decoration:underline;
                    }

                }
                span.street-address{
                    color: #5f6167;
                    font-size: 14px;
                    margin-top: 0ex;
                }
            }

            .btn-group{
                width:11%;
                .sr-only{
                    display: none;
                }
                .favorite{
                    border: 0;
                    background: transparent;
                    color: #5e172d;
                    cursor:inherit;
                    outline:none;
                    padding:0;
                    &:before{
                        font-size: 26px;
                    }
                    /*
                    commented this section as part of WR2 to disable the hover state of favorite icon.
                    &:hover:before{
                        color: #5e172d !important;
                    }*/
                }
                button.icon-heart:before {
                    content: "\e608";
                }
            }

            .action-buttons{
                margin-top: -8px;
                .btn{
                    display: inline-block;
                    width: 49%;
                    float: left;
                    margin-bottom: 0;
                    //font-size:24px;
                    &:first-of-type{
                        margin-right:2%;
                    }
                }
                /* WR5 update*/
                .icon-chair{

                    margin-right:5px;
                }
            }
        }

    }
    .more-salons-nearby-LNY{
            float: right;
            width: 100%;
            border-bottom: 1px solid #5f6167;
            a{
                color: #1e3e6e;
                font-size: 15px;
                font-weight: 500;
                .icon-arrow{
                    font-size: 0.7em;
                }
            }
        }
    @media(max-width:1024px){
        .more-salons-nearby-LNY{
            display:block;
        }
    }
    footer{
        width: 100%;
        margin-bottom: 3ex;
        overflow: hidden;
        a{
			color:inherit;
            text-decoration:none;
            &:hover{
				text-decoration:none;
            }
        }
        .h3{
            text-align: center;
        }
        h1.h3{
            margin-top: 22px;
            margin-bottom: 11px;
            font-size: 28px;
            font-weight: 700;
            font-family: "futura-pt-condensed";
        }
        .search-wrapper {
            position: relative;

            &:before {
                position: absolute;
                z-index: 9;
                top: 8px;
                left: 10px;
                content: "\e603";
                font-family: icomoon;
            }

        }
        input[type="search"] {
                 padding-left: 2.25em;
        }
    }
    .errorMessage {
        font-size: 1.3em;
        color: #00008A;
        font-family: "futura-pt-condensed";
        text-align: center;
        margin-top: 10px;
    }
}
.sdp-left-template {
    .locations{
        .check-in{
            .location-details{
                .action-buttons{
                    margin-top:-25px;
					a{
						width:100%;
					}
                }
            }
        }

    }
}
.sdp-template-bottom-wrap {

    .locations{

        .check-in{
            .location-details{
                .vcard{

                    span.store-title{

                        font-size:16px;
                    }
                    .closing-time{
                        font-size:13px;
                    }
                    .telephone{
                        font-size:13px;
                        /*color:#43aae0;*/
                         a{
                            /*color:#43aae0;*/
                            line-height: 45px;
  							position: relative;
  							top: 15px;
                            @media (max-width:390px) {

                                line-height:25px;
                                top:0;
                            }

                        }
                        & a:visited{

                           /* color:#43aae0;*/
                        }
                        & a:hover{

                            text-decoration:underline;
                        }

                    }

                    span.street-address{
                        font-size:13px;

                        a{
                            color:#176690;
                        }
                        & a:visited{
                            color:#176690;
                        }
                        & a:hover{

                            text-decoration:underline;
                        }
                    }
                }
                .miles{

                        font-size:13px;
                        color:#1e3e6e;
                    	font-family:arial;
                    }
            }
        }

    }
}
@media (min-width: 992px){
    .locations {
       overflow: hidden;
        border: 1px solid #5f6167;
        padding-left: 10px;
        padding-right: 10px;
        min-height:520px;
         width: 100%;
    }
    /* WR5 Update */
    .sdp-left-template .locations {
     min-height:200px;
    }
    .sdp-left-template {
        .map-directions {

             min-height:200px;
        }

    }
}
@media (min-width:1199px){
   .locations {
     min-height:537px;
            width: 100%;
    }
     /* WR5 Update */
   .sdp-left-template .locations {
     min-height:200px;
    }
}

/* WR5 Update */

@media (max-width:767px){


}
