.media-gallery{
	margin-top:5ex;
	float:left;
	.prod-info{
		width:100%;
		padding:0;
		float:left;
		img{
			width:100%;
		}
		p.h3{
			text-align:center;
			margin-top:5px;
		}
	}
}


@media(min-width:992px){
	.media-gallery{
		span.prod-info{
			width:48%;
			&:nth-child(2n+1){
				margin-right:1.4em;
			}
		}
	}
		
}