// Color variables (appears count calculates by raw css)
@styletipColor: #5f0424; // Appears 4 times
.styletip{
	margin: 0 10px;
}
.style-tip {
	border-radius: 20px;
	border: 2px solid @styletipColor;
	float: left;
	height: auto;
	/*margin: 3ex 0;*/
	max-width: 795px;
	position: relative;
	width: auto;
	.style-tip-txt {
		color: @styletipColor;
		font-size: 22px;
		font-style: italic;
		font-weight: normal;
		line-height: 28px;
		padding: 20px;
		text-align: center;
		text-transform: none;

		a{
			color:@styletipColor;

			&:hover{
				text-decoration:none;
			}
		}
	}
	.style-tip-lArrow {
		//background: url('../../images/tooltip_arrow_left.png') 137px 50% no-repeat transparent;
		color: @styletipColor;
		display: none;
		font-size: 32pt;
		font-style: italic;
		height: 100%;
		left: -155px;
		line-height: 32pt;
		padding-right: 68px;
		position: absolute;
		text-align: right;
		top: 0;
		width: 155px;
		span {
			display: block;
			position: absolute;
			top: 20%;
			width: 90px;
		}
	}
	.style-tip-bArrow {
		//background: url('../../images/tooltip_arrow_down.png') 33px 0px no-repeat transparent;
		bottom: -125px;
		color: @styletipColor;
		display: none;
		font-size: 32pt;
		font-style: italic;
		height: 125px;
		left: 35%;
		line-height: 32pt;
		padding-top: 30px;
		position: absolute;
		text-align: right;
		width: 87px;
	}
}&.style-tip:after, &.style-tip:before {
	top: 100%;
	left: 55%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
&.style-tip:after {
	border-color: rgba(136, 183, 213, 0);
	border-top-color: #FFF;
	border-width: 12px;
	margin-left: -30px;
	margin-top: -1px;
}
&.style-tip:before {
	border-color: rgba(194, 225, 245, 0);
	border-top-color: @styletipColor;
	border-width: 14px;
	margin-left: -32px;
}

&.style-tip.fullWidth:after, &.style-tip.fullWidth:before {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	margin-left: -40px;
}
&.style-tip.fullWidth:after {
	border-color: rgba(136, 183, 213, 0);
	border-right-color: #fff;
	border-width: 15px;
	margin-top: -25px;
	margin-left: -41px;
	left: 13px;
}
&.style-tip.fullWidth:before {
	border-color: rgba(194, 225, 245, 0);
	border-right-color: @styletipColor;
	border-width: 14px;
	margin-top: -24px;
	left: 10px;
}
.style-tip{
	&.fullWidth {
		margin-left: 155px;
		.style-tip-txt {
			padding:20px;
			}
		.style-tip-lArrow {
			display: block;
		}
	}
	&.oneColmun {
		margin-bottom: 125px;
			margin-left:0;
			margin-top:0;
			.style-tip-lArrow {
				display: none;
			}
		.style-tip-bArrow {
			display: block;
		}
	}
}
