.title-component{
	margin: 10px 0;
	&.borderBottom{
		border-bottom: 1px solid #c8c8c8;
	}
	&.borderTop{
		border-top: 1px solid #c8c8c8;
	}
	&.border{
		border: 1px solid #c8c8c8;
		border-width: 1px  0;
	}
	&.borderNone{
		border: none;
	}
	a{
        text-decoration: none;
        color: #1e3e6e;
        &:hover{
        	text-decoration: underline;
            color: #1e3e6e;
        }
        &:focus{
            outline: 5px auto -webkit-focus-ring-color;
        }
    }
	.title{
        .h1,.h2,.h3,.h4,.h5,.h6{
            font-weight: lighter;
        }
	}
	.description{
		font-weight: lighter;
		margin: 36px 0;
        a{
            font-size: inherit;
            color: #5f6167;
            font-weight: bold;
            text-decoration: underline;
        }
	}
	.gender-links{
		a{
			font-size: 16px;
			font-weight: lighter;
			padding: 0 12px;
			height: 35px;
			display: inline-block;
			@media (max-width: 767px){
				padding: 0 10px;
			}
			color: #5f6167;
			text-decoration: none;
			&:hover,&:focus,&:active{
				border-bottom: 2px solid #5f6167;
				padding-bottom: 10px;
				margin: 0;
			}
		}
		span{
			&.selected{
				font-size: 16px;
				font-weight: lighter;
				border-bottom: 2px solid #5f6167;
				padding: 0 12px 10px;
				margin: 0;
				display: inline-block;
				height: 35px;
			}
		}
	}
	.category-title{
		font-style: normal;
		margin-top: 24px;
		margin-bottom: 36px;
		.title1,.title2{
			display: block;
		}
	}
	.main-title{
       display: inline-block;
    }
}
