.img-text-comp{
  /*border:1px solid rgba(0,0,0,.1);*/
  text-align: center;
  overflow: hidden;
  position:relative;

    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

}

.no-border{
  border:none !important;
}



.img-text-comp.shift-right{
  text-align: left;
  height: auto;
  overflow: hidden;
  display: table;
}
.img-text-comp.shift-right .img-container{
  float: left;
}

.img-text-comp .txtalign-right{
  text-align: right;
}
.img-text-comp .txtalign-left{
  text-align: left;
  padding-left: 0;
}
.img-text-comp .txtalign-center{
  text-align: center;
}

.img-text-comp .txtalign-left>h3{
  margin-top:20px;
}


.img-text-comp .img-container .number-overlay{
    position: absolute;
    right: 10px;
    top: 0px;
    font-size: 3em;
    color: #747C83;
}

.imageanddescription{
  overflow:hidden;
  margin-bottom: 30px;
}

.img-container.pull-left+.imgtxt-box {
    padding-left: 30px;
    float:left;
}

.textimage{
  overflow: hidden;
    clear:both;
}

.img-text-comp .detail-overlay {
  width: 100%;
  height: auto;
  display: block;
  clear: both;
}
.img-text-comp .detail-overlay img {
  width: 100%;
  height: auto;
}
.img-text-comp .content-overlay {
  background: #1e3e6e;
  position: relative;
  bottom: 0;
  height: 75px;
  padding: 0;
  text-transform: uppercase;
  vertical-align: middle;
  width: 100%;
  display:table;
}
.img-text-comp .content-overlay .imgtxt-url{
  display:none;
}

.img-text-comp .content-overlay h3, .img-text-comp .content-overlay .h3 {
  line-height: 23px;
  vertical-align: middle;
  width: 100%;
  display: table-cell;
}
.img-text-comp .content-overlay h3 span, .img-text-comp .content-overlay .h3 span {
  display: block;
  font-style: italic;
  font-weight: normal;
  margin: 0 !important;
  text-transform: none;
  font-size:16px;

}
.textandimage img {
	max-width: 100% !important;
}
.img-text-comp .txtalign-center{
  text-align: center;
}

.img-text-comp .txtalign-left{
  text-align: left;
  padding-left: 0;
}
.img-text-comp .txtalign-center{
  text-align: center;
}

@media (max-width: 767px) {

  .img-container.pull-left+.imgtxt-box {
    padding-left: 10px !important;
    padding-top:15px;
  }
   .img-text-comp .content-overlay {
      bottom: 0;
    }

}


/*to make the text and image smaller*/

.img-text-comp.offer-small .img-container{
  width:162px;
}

.img-text-comp.offer-small .img-container img{
  width:127px;
    float:left;
}

.img-text-comp.offer-small .img-container.pull-left+.imgtxt-box{
  /* Firefox */
  width: -moz-calc(100% - 162px);
  /* WebKit */
  width: -webkit-calc(100% - 162px);
  /* Opera */
  width: -o-calc(100% - 162px);
  /* Standard */
  width: calc(100% - 162px);
    padding-left: 5px !important;
    padding-top:0;
}

.img-text-comp .imgtxt-url {
    margin-bottom: 10px;
}
.img-text-comp .txtalign-right {
    text-align: right;
}
.img-text-comp .imgtxt-url {
    margin-bottom: 10px;
}
.img-text-comp .txtalign-left {
    text-align: left;
    padding-left: 0;
}

.img-text-comp .imgtxt-url {
    margin-bottom: 10px;
}
.img-text-comp .txtalign-center {
    text-align: center;
}


@media(max-width:768px){
  .img-text-comp.offer-small .img-container{
        width:100%;
    }
  .img-text-comp.offer-small .img-container img{
        width:100%;
        float:left;
    }
    .img-text-comp.offer-small .img-container .imgtxt-box{
      padding:0 !important;
    }
    .img-text-comp.offer-small .img-container.pull-left+.imgtxt-box{
      width:100% !important;
        padding:10px 10px 0 10px  !important;
    }
}

@media(min-width:768px) and (orientation: portrait){
  .img-text-comp.offer-small .img-container{
        width:50%;
    }
    .img-text-comp.offer-small .img-container img{
        width:100%;
        float:left;
    }
  .img-text-comp.offer-small .img-container.pull-left+.imgtxt-box{
        width:50% !important;
        padding-left: 10px !important;
      padding-top:0;
    }
}
/* Added for Offer Detail HCP */
.divwithmarginbottom{
  margin-bottom: 52px;
}
.img-text-comp h2.withmarginbottom{
  margin-bottom:24px;
}

.img-text-comp .imgtxt-url .withmarginbottom{
  margin-top: 48px;
}
