.fade.in {
	opacity: 1 !important;
}

 

.modal.in .modal-dialog {
    -webkit-transform: translate(0, 0) !important;
    -o-transform: translate(0, 0) !important;
    transform: translate(0, 0) !important;
}

 

.modal-backdrop .fade .in {
	opacity: 0.5 !important;
}

 

.modal-backdrop.fade {
	opacity: 0.5 !important;
}

.modal-header {
    min-height: 16.42857143px !important;
    padding: 15px !important;
    border-bottom: 1px solid #e5e5e5 !important;
    display: block !important;
}
.modal-header .close {
    margin-top: -2px !important;
}

.close {
    float: right !important;
    font-size: 21px !important;
    font-weight: bold !important;
    line-height: 1 !important;
    color: #000 !important;
    text-shadow: 0 1px 0 #fff!important ;
    filter: alpha(opacity=20) !important;
    opacity: .2 !important;
}

button.close {
    -webkit-appearance: none !important;
    padding: 0 !important;
    cursor: pointer !important;
    background: transparent !important;
    border: 0 !important;
}

.modal-header .close {
    margin-top: -2px;
}

.modal-body {
    position: relative !important;
    padding: 15px !important;
}

.lead {
    margin-bottom: 20px !important;
    font-size: 16px !important;
    font-weight: 300 !important;
    line-height: 1.4 !important;
}

.modal-footer {
    padding: 15px!important;
    text-align: right!important;
    border-top: 1px solid #e5e5e5 !important;
    display: block !important;
    justify-content: center;
}

@media (min-width: 768px)
.modal-dialog {
    width: 600px;
    margin: 30px auto;
}


@media (min-width: 768px)
.modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
}

@media (min-width: 768px)
.lead {
    font-size: 21px;
}

.row {
    margin-right: -10px;
    margin-left: -10px;
}

.checkinconfirmation .btn {
    text-transform: uppercase;
    font-family: "futura-pt-condensed",Helvetica,Arial,sans-serif;
    font-weight: 500;
    padding: 5px .5em;
    font-size: 20px;
    letter-spacing: 1px;
    background-color: #fff;
    border-color: #ce0f2e;
    color: #ce0f2e;
}

.checkinconfirmation .btn-block {
    display: block;
    width: 100%;
}

.checkinconfirmation .btn-default {
    color: #003f72;
    background-color: #ce0f2e;
    border-color: #ce0f2e;
    color: #fff !important;
}

.checkinconfirmation .btn-block {
    display: block;
    width: 100%;
}

button.close {
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
}

    .close {
    float: right !important ;
    font-size: 21px !important;
    font-weight: bold !important;
    line-height: 1 !important;
    color: #000 !important;
    text-shadow: 0 1px 0 #fff !important;
    filter: alpha(opacity=20) !important;
    opacity: .2 !important;
}