﻿@font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: local('Poppins Regular'), local('Poppins-Regular'), url(https://fonts.gstatic.com/s/poppins/v6/pxiEyp8kv8JHgFVrJJbecmNE.woff2) format('woff2');
	unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}


/* latin-ext */

@font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: local('Poppins Regular'), local('Poppins-Regular'), url(https://fonts.gstatic.com/s/poppins/v6/pxiEyp8kv8JHgFVrJJnecmNE.woff2) format('woff2');
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}


/* latin */

@font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: local('Poppins Regular'), local('Poppins-Regular'), url(https://fonts.gstatic.com/s/poppins/v6/pxiEyp8kv8JHgFVrJJfecg.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
	font-family: 'Didact Gothic';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: local('Didact Gothic Regular'), local('DidactGothic-Regular'), url(https://fonts.gstatic.com/s/didactgothic/v12/ahcfv8qz1zt6hCC5G4F_P4ASlUuYpg.woff2) format('woff2');
}

mainbody,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li,
html,
nav-itemnav-itembody {
	font-family: 'Poppins';
}

body {
	margin-bottom: 0px;
	background-size: 100%;
	background-attachment: fixed;
}

.container {
	max-width: 1350px;
	overflow: hidden;
}

.displayNone {
	display: none !important;
}

.location-search {
	width: 100%;
}

.heroImageCarousel {
	padding-bottom: 30px;
}


/*------------------NAVIGATION STYLES-----------*/

.navbar {
	padding: 0px;
	background-color: rgba(255, 255, 255, 1.0) !important;
}

.navbar input[type="text"] {
	font-family: "Didact Gothic";
	width: 20vw;
	padding: 5px 8px;
	border: 2px solid #E9E9E9;
	line-height: normal;
	background-color: #F5F5F5;
	font-size: 16px;
}

.navbar-brand {
	width: 12%
}

.navbar-brand img {
	width: 100%
}

.navbar-light .navbar-nav .nav-link {
	color: rgba(0, 0, 0, 1.0) !important;
	font-size: 16px;
	font-weight: 700 !important;
	text-transform: uppercase !important;
}

.navbar-dark .navbar-nav .nav-link {
	color: rgba(0, 0, 0, 1.0) !important;
}

.nav-link {
	padding: 8px !important;
	font-size: 16px;
	font-family: "Poppins";
	font-weight: 100 !important;
}

.nav-item {
	margin-left: 1.0rem;
	line-height: 3.0rem;
}

.navbar-light .navbar-nav .nav-link {
	border-bottom: 3px solid transparent;
	;
}

.navbar-light .navbar-nav .nav-link:hover {
	border-bottom: 3px solid #FF0001;
	color: #FF0001 !important;
}

.navbar-dark .navbar-nav .nav-link {
	border-bottom: 3px solid #000000;
	;
}

.navbar-dark .navbar-nav .nav-link:hover {
	border-bottom: 3px solid #71888d;
}

.navbar-light .navbar-toggler-icon {
	background-image: url("data:image/svg+xml,%3csvg%20viewBox='0%200%2030%2030'%20xmlns='http://www.w3.org/2000/svg'%3e%3cpath%20stroke='rgba(0,%200,%200,%200.5)'%20stroke-width='2'%20stroke-linecap='round'%20stroke-miterlimit='10'%20d='M4%207h22M4%2015h22M4%2023h22'/%3e%3c/svg%3e") !important;
}

.text {
	padding-bottom: 1rem!important;
	padding-top: 1rem!important;
	display: block;
	flex-wrap: wrap;
	padding-left: 15px;
	margin-right: 0px;
	margin-left: 0px;
}

.DivbelowNavHome {
	margin-top: 70px;
}


/*-------**********************-----------------*/


/*----------------FOOTER STYLES-----------*/

.CopyRightText {
	clear: both;
	font-size: 12px;
	margin-top: 40px;
	width: 25%;
	padding-bottom: 10px;
	font-family: "Gill Sans", "Gill Sans MT";
	color: #999999;
}

.CopyRightText a {
	color: #FF0001;
	font-size: 12px;
	font-family: "Gill Sans", "Gill Sans MT";
}

.footer_cont {
	padding: 0;
	margin: 0px auto;
	width: 100%;
	margin-top: 0rem;
	background-color: #000000 !important;
	overflow: auto;
	bottom: 0px;
	z-index: 99;
}

.footer_cont>.container {
	background-color: #000000;
	overflow: auto
}

.align-items-center {
	align-items: center!important;
}

.d-flex {
	display: flex!important;
}

.footer_cont .ft_nav {
	text-align: left;
	padding: 20px 10px 20px 10px;
	font-size: 12px;
	color: #666;
	float: left;
	width: 45%;
}

.footer_cont .ft_nav a:hover {
	text-decoration: underline;
}

.footer_cont small {
	font-size: 12px !important;
	clear: both;
	float: left
}

.footer_cont small a {
	color: #71888d !important;
}

.footer_cont .ft_nav a:nth-of-type(1) {
	border: none;
	padding-left: 0px;
}

.footer_cont .ft_nav a {
	font-family: "Poppins";
	text-decoration: none;
	font-size: 14px;
	color: #999999;
	display: inline-block;
	padding: 0 15px 0 15px;
	font-weight: 400 !important;
	background-color: transparent;
	;
}

.footer_cont .ft_nav a {
	font-family: "Poppins";
	text-decoration: none;
	font-size: 14px;
	color: ##999999;
	display: inline-block;
	padding: 0 15px 0 15px;
	border-left: 1px solid rgba(255, 255, 255, 0.2);
	font-weight: 400 !important;
	background-color: transparent;
	;
}

.FootBot {
	width: 50%;
	float: left;
	text-align: right;
	border: none;
	margin-top: 15px;
}

.SocialIcon {
	width: 1.2rem;
	height: 1.2rem;
	color: #999999;
	text-align: center;
	line-height: 2.2rem;
	font-size: 1.0rem;
}

.SocialIcon:hover {
	color: #FF0001;
}

.ThemeLink {
	color: #FF0001;
	font-size: 14px;
	font-family: "Poppins";
	font-weight: 200;
	text-decoration: none;
}

.ThemeLink:hover {
	text-decoration: underline;
}

.ThemeLink2 {
	color: #FF0001;
	font-family: "Poppins";
	font-weight: 500;
	text-decoration: none;
}

.ThemeLink2:hover {
	text-decoration: underline;
}


/*-------**********************-----------------*/

.ThemeBut1 {
	background-color: #ce0f2e;
	color: #ffffff;
	display: flex;
	border-radius: 0px !important;
}

.container.rc-search {
	margin-top: 0;
	margin-bottom: 1rem;
	font-family: 'Poppins';
	display: block;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
}

.btn-primary {
	background-color: #ce0f2e;
	border-color: #ce0f2e;
}

.search-result-content a {
	color: #FF0001;
}

.Mainheader {
	margin-top: 4rem !important;
}

.magiccard {
	background-color: #fafafa;
	border: none;
	text-align: center;
	display: flex;
}

.magiccard h3.card-title {
	font-size: 1.25rem
}

.magiccard h3.card-title a {
	font-size: 20px;
	color: #000000;
	font-family: "calluna";
	text-decoration: none;
	margin-bottom: 5px !important;
	line-height: 20px;
}

.magiccard h3.card-title a:hover {
	color: #ce0f2e;
}

.magiccard h4 {
	font-size: 18px;
	color: rgba(0, 0, 0, 0.4);
	margin: 0px;
}

.magiccard .strike {
	color: rgba(0, 0, 0, 0.4);
	text-decoration: line-through;
	padding-left: 5px;
}

.magiccard h3 {
	font-size: 0.8rem
}

.magiccard .card-text {
	font-size: 14px;
	font-family: "Kobenhavn";
	line-height: 14px;
	color: #86939e;
}

.login.active {
	background-color: #ce0f2e;
	color: #ffffff !important;
}

#hover {
	position: relative;
}

#hover a.login {
	font-family: "Poppins";
	width: 20vw;
	padding: 5px 8px;
	border: 2px solid #E9E9E9;
	line-height: normal;
	background-color: #F5F5F5;
	font-size: 16px;
}

#hovermagic {
	position: relative;
}

#hovermagic a.login {
	line-height: normal;
	margin-top: 1.0rem;
	background-color: #F5F5F5;
	color: #ffffff;
	border: 2px solid #E9E9E9;
	;
	font-family: "Poppins";
	font-size: 16px;
	padding: 5px 8px !important;
}


/*#hover a.login:hover {
    border: 2px solid #ce0f2e;
    border-radius: 3px;
    line-height: normal;
    margin-top: 1.0rem;
    background-color: #ce0f2e;
    color: #ffffff !important;
}*/

.SearchShop {
	width: 275px;
	background-color: #ffffff;
	padding: 15px;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
	margin-top: 12px;
	right: 0px;
}

.SearchShop h5 {
	font-size: 14px;
	font-family: "Poppins";
	padding: 0px;
	line-height: 10px;
}

.SearchShop .smalltext {
	font-family: "Poppins";
	font-size: 12px;
	padding: 0px;
	line-height: 10px;
	color: rgba(0, 0, 0, 0.5);
}

.SearchShop input[type="text"] {
	font-family: "Poppins";
	width: 100%;
	padding: 7px 8px;
	border: 1px solid #E1E8EE;
	line-height: normal;
}

.MainTitle {
	border-top: 1px solid #e9e9e9;
}

.searchBut {
	background-color: #ce0f2e;
	color: #ffffff;
	border-radius: 0px !important;
	border: none !important;
	margin-left: 20px;
	padding: 6px 10px;
	width: 18% !important;
	font-size: 18px;
}

.redBut {
	background-color: #ce0f2e;
	color: #ffffff !important;
	width: 100%;
	border-radius: 0px !important;
	border: none !important;
	margin-left: 30px;
	padding: 3px 10px;
	height: 34px;
}

.show-more-container .map-directions .check-in {
	border: 1px solid #5f6167 !important;
	height: 216px;
	padding: 15px 0 30px 0;
	background: #fff;
	float: left;
	width: 23%;
	margin: 0 14px 30px 5px;
	box-shadow: 2px 2px 3px #888888;
	overflow: visible;
	position: relative;
}

.store-title {
	color: red;
}

.street-address {
	color: #212529;
}

.icon-tick {
	z-index: 0 !important;
}

.ThemeBut {
	background-color: #71888d;
	color: #ffffff;
	width: 100%;
	border-radius: 0px !important;
}

.card-type {
	position: absolute;
	top: 10px;
	right: 10px;
	padding: 3px 10px;
	color: #fff;
	z-index: 1;
	font-size: 0.9rem;
}

.card-type img {
	max-width: 100%;
}

.disc {
	background-color: #bf2c34;
}

.sale {
	background-color: #e74c38;
}

.GalleryCard {
	border: none;
	margin-top: 2.5rem
}

.GalleryCard .card-body {
	padding: 1.25rem 0px;
}

.GalleryCard .card-title {
	font-family: "Poppins";
	color: #212121;
	font-size: 22px;
	text-align: center;
	text-transform: uppercase
}

.GalleryCard .card-text {
	font-family: "Didact Gothic";
	color: #383838;
	font-size: 16px;
	text-align: center;
	font-weight: 300;
}

.DivbelowNav {
	margin-top: 100px;
	overflow: auto;
	padding-left: 10px;
	padding-right: 25px;
	margin-bottom: 130px;
}

.DivbelowNavJob {
	margin-top: 100px;
	overflow: auto;
	margin-bottom: 130px;
}

.dropdown-menu {
	background-color: #ffffff;
	padding: 5px;
	/*border-top: 2px solid #ce0f2e;*/
	border-radius: 0px;
}

.dropdown-menu .dropdown-item {
	font-size: 12px;
	padding: 5px;
	line-height: normal;
}


/*-----------HOME CARAOUSEL-----------*/

.HeaderBox {
	display: -webkit-flex;
	/* Safari */
	display: flex;
	-webkit-flex-grow: 1;
	/* Safari 6.1+ */
	-webkit-flex-shrink: 1;
	/* Safari 6.1+ */
	-webkit-flex-basis: 100px;
	/* Safari 6.1+ */
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 100px;
	margin-top: 70px;
}

.HeaderBox div.HeadItem {
	width: 25%;
}

.HeaderBox h3 {
	font-family: "calluna";
	color: rgba(255, 255, 255);
	font-size: 24px;
	margin: 0px;
}

.HeaderBox small {
	font-family: "Kobenhavn";
	color: rgba(255, 255, 255, 0.5);
	font-size: 1.0rem;
}

.HeaderBox h4 {
	font-family: "Kobenhavn";
	color: rgba(255, 255, 255, 1.0);
	font-size: 1.4rem;
}

.HeaderBox a {
	font-family: "Kobenhavn";
	color: rgba(255, 255, 255, 0.7) !important;
	font-size: 1.0rem;
	text-decoration: underline !important
}

.HeaderBox a:hover {
	text-decoration: none !important
}

.HeaderBox .imgBox {
	max-width: 100%;
	padding: 0px 2rem;
}

.HeaderBox .TxtBox {
	padding: 0.5rem;
}

.CoverImage {
	background-size: cover;
}

.HeadBox-Orange {
	background-color: #e1652c;
}

.HeadBox-Red {
	background-color: #bf2c34;
}

.HeadBox-Pink {
	background-color: #fe729c;
}

.HeadBox-Yellow {
	background-color: #d9960b;
}


/*-----------------END--------*/

.MainHead {
	font-family: "Poppins";
	font-size: 28px;
	color: #212121;
	margin: 5px 0px;
	font-weight: 600;
}

.BigHead {
	font-family: "Poppins";
	font-size: 38px;
	color: #ebbd4a;
	margin: 30px 0px;
	font-weight: 700;
}

.ThemeColor {
	color: #ebbd4a !important;
}

.PageHead {
	font-family: "Poppins";
	font-size: 30px;
	color: #ebbd4a;
	margin: 30px 0px;
	font-weight: 300;
}

.SmallHead {
	font-family: "Poppins";
	font-size: 22px;
	color: #ebbd4a;
	margin: 30px 0px;
	font-weight: 300;
}

.Content {
	font-family: "Didact Gothic";
	font-size: 18px;
	color: #383838;
	font-weight: 300;
}

.Content strong {
	font-weight: 600;
}

.Content-sm {
	font-family: "Gill Sans", "Gill Sans MT";
	font-size: 16px;
	color: #ffffff;
	font-weight: 100 !important;
}

.Content-sm strong {
	font-weight: 600 !important
}

.MainHead .icon {
	width: 86px;
	margin-right: 20px;
}

.MainHead .icon img {
	max-width: 100px;
}

.SiteLink {
	color: #EBBD4A;
	text-decoration: none
}

.SiteLink:hover {
	color: #ffffff;
	text-decoration: underline;
}

.RedLink-big {
	color: #ce0f2e;
	text-decoration: none;
	font-size: 24px;
}

.RedLink-big:hover {
	color: #747C83;
	text-decoration: underline;
}

.ProductsListText {
	font-family: "Kobenhavn";
	font-size: 22px;
	color: #747C83;
	font-weight: 100 !important;
	line-height: 34px;
}

.low-alpha {
	list-style-type: lower-alpha;
	font-family: "Kobenhavn";
	font-size: 22px;
	color: #747C83;
	font-weight: 100 !important;
}

.low-alpha li,
.low-roman li {
	font-family: "Gill Sans", "Gill Sans MT";
	font-size: 18px;
	font-weight: inherit;
	color: white;
}

.low-roman {
	list-style-type: lower-roman;
	font-family: "Didact Gothic";
	font-size: 22px;
	color: #383838;
	font-weight: 100 !important;
}

.disc-style {
	list-style-type: disc;
	font-family: "Didact Gothic";
	font-size: 18px;
	font-weight: inherit;
	color: #383838;
}

.disc-style li {
	font-family: "Didact Gothic";
	font-size: 18px;
	font-weight: inherit;
	color: #383838;
}

.clear {
	clear: both !important;
}

.magicForm {
	font-family: "Poppins"
}

.magicForm label {
	font-size: 16px;
	color: #383838;
	font-weight: 500;
}

.magicForm input[type="text"],
.magicForm input[type="email"],
.magicForm input[type="tel"],
.magicForm textarea,
.magicForm input[type="file"] {
	border: 2px solid #e1e8ee;
	border-radius: 0px;
	font-family: "Poppins";
	font-size: 16px;
	color: #5E6977
}

.magicForm select {
	border: 2px solid #e1e8ee;
	border-radius: 0px;
	font-family: "Poppins";
	font-size: 18px;
	color: #5E6977;
	background-color: #D1D1D1;
}

.magicForm-But {
	background-color: #ce0f2e;
	color: #ffffff;
	width: 100%;
	border-radius: 0px !important;
	padding: 10px;
	font-family: "Poppins";
	font-size: 18px;
	font-weight: 500 !important;
	margin-bottom: 15px;
}

.TipsBut {
	border: 2px solid #ce0f2e;
	color: #ce0f2e;
	width: 100%;
	border-radius: 0px !important;
	padding: 6px 10px;
	font-family: "Poppins";
	font-size: 24px;
}

.TipsBut:hover {
	border: 2px solid #ce0f2e;
	background-color: #ce0f2e;
	color: #ffffff;
	width: 100%;
	border-radius: 0px !important;
	padding: 6px 10px;
	font-family: "Poppins";
	font-size: 24px;
}

.hidDiv {
	display: none;
}

.checkbox-inline {
	min-width: 25% !important;
	position: relative;
	padding-left: 30px;
}

.checkbox-inline input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
	margin-right: 30px;
}

.checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 25px;
	width: 25px;
	background-color: #eff3f6;
	border: 2px solid #e1e8ee
}


/* On mouse-over, add a grey background color */

.checkbox-inline:hover input~.checkmark {
	background-color: #e1e8ee;
}

.checkbox-inline input:checked~.checkmark {
	background-color: #ffffff;
	border: 2px solid #FF0001;
	color: #FF0001 !important;
}

.checkmark:after {
	content: "";
	position: absolute;
	display: none;
	font-family: "Kobenhavn";
}

.checkbox-inline input:checked~.checkmark:after {
	display: block;
}

.checkbox-inline .checkmark:after {
	left: 9px;
	top: 3px;
	width: 5px;
	height: 15px;
	border: solid #FF0001;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.ContactBg {
	background-image: url("../images/contactus.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: bottom right;
	background-size: 40%;
}

.RedText {
	color: #ce0f2e;
}

.Find-outlet {
	background-color: #000000;
	background-image: url("../images/map.jpg");
}

.HeaderImageBox {
	margin-top: 70px;
	width: 100%;
	overflow: auto;
}

.HeaderImageBox .HeadColumn {
	width: 25%;
	float: left;
	clear: none;
	overflow: auto;
}

.ThreeTips {
	border-top: 1px solid #f1f1f1;
	margin-top: 10px;
}


/*----------Carausel----------------*/

.carousel {
	position: relative !important;
}

.carousel-inner {
	height: auto !important;
}

.carousel-inner .carousel-caption {
	position: absolute !important;
	top: 30%;
	bottom: auto;
	left: 65%;
	background-color: #ffffff;
	width: 35%;
	text-align: left;
	padding: 40px;
}

.carousel-inner h5 {
	font-size: 30px;
	color: #212121;
	font-family: "Poppins";
	font-weight: 900;
	width: auto;
}

.carousel-inner p {
	font-family: "Didact Gothic", sans-serif;
	font-size: 16px;
	color: #383838;
}

.DarkPanel {
	background-color: rgba(0, 0, 0, 0.9);
	padding: 20px 50px 50px 50px;
	overflow: auto
}

.YellowPil {
	font-family: "Gill Sans", "Gill Sans MT";
	font-size: 20px;
	color: #ffffff;
	font-weight: 100 !important;
	background-color: #EBBD4A;
	padding: 3px 20px;
	width: auto;
	float: left;
	margin-bottom: 20px;
}

.card-body h4 {
	font-size: 20px;
	font-family: "Poppins";
	color: #1A174A;
}

.card-text {
	font-family: "Gill Sans", "Gill Sans MT";
	font-size: 16px;
	color: #444B5C;
}

.zeroRadius {
	border-radius: 0px !important;
}

.card a {
	font-family: "Gill Sans", "Gill Sans MT";
	font-size: 16px;
	color: #FF0001;
	text-decoration: none;
}

.LocationHeader {
	top: 50%;
	left: 5%;
}

.LocationHeader h1 {
	font-size: 2.5rem;
}

.MobileMar {
	margin-top: 0px;
}

.showhide {
	display: block;
}

.filter-button {
	font-family: "Didact Gothic";
	font-size: 16px;
	border: 1px solid #B2B2B2;
	border-radius: 0px;
	text-align: center;
	color: #383838;
	margin-bottom: 30px;
	padding: 5px 25px;
}

.filter-button:hover {
	font-size: 16px;
	border: 1px solid #B2B2B2;
	border-radius: 0px;
	text-align: center;
	color: #ffffff;
	background-color: #FF0001;
}

.btn-default:active .filter-button:active {
	background-color: #FF0001;
	color: white;
}

.pull-right {
	float: right !important;
}

.pull-left {
	float: left !important;
}

.locations.map-directions>div {
	color: #383838;
}

.maps-container {
	height: 600px;
	width: 110%;
	margin: 220px 20px;
	margin-bottom: 10px;
}

.salon-timings,
.salon-timings span h4,
.salon-timings h1,
.salon-timings h2,
.salon-timings .h4,
.Monday-Friday,
.salon-address {
	color: #383838 !important;
	font-family: "Didact Gothic" !important;
	font-size: 18px !important;
	padding: 0px !important;
}

.sdplcHR {
	width: 204%;
}

.salondetails .h3 a,
.salondetails .desc li,
.salondetails .action-buttons a {
	font-family: "Didact Gothic" !important;
	font-size: 18px !important;
	padding: 0px !important;
	line-height: 30px;
	color: red;

}

.salondetails .h3 a:hover,
.salondetails .h3:hover {
	color: red !important;
}

.salondetails .desc li {
	color: #383838 !important;
}

h1.sub-brand {
	font-family: "Poppins";
	font-size: 28px!important;
	color: #212121;
	margin: 5px 0px;
	font-weight: 600;
	margin-bottom: .25rem!important;
}

.map-directions .store-address {
	color: #000000;
}

.card-body {
	height: 330px !important;
}

.form-group {
	padding: 0 !important;
}
.mobilecarousel {
	display: none;
}

.desktopcarousel {
	display: block;
}
.img-text-comp .h1{
	font-family: "Poppins";
    font-size: 28px;
    color: #212121;
    margin: 5px 0;
    font-weight: 600;
}

.each-state {
	padding: 0px;
}

.state-name {
	max-width: 100%;
	/*margin-top: 25px;*/
	text-transform: uppercase;
}

.return-to-top {
	color: #000000;
}

.salon-group {
	background-color: rgba(0, 0, 0, 0.03);
	padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
	max-width: 100%;
}

.salon-group a {
	font-size: 14px;
	line-height: 25px;
}

.breadcrumb {
	background-color: transparent;
}

.breadcrumb-arrowicon, .salon-list-head{
	color: #dc3545;
}

.jump-links-wrap h1,.jump-links-wrap h2, .jump-links{
	text-transform: capitalize;
}

.jump-links-wrap .h4{
	padding:0px;
}

.each-state{ overflow:auto;}

.jump-links-wrap{padding:0px;}

.state-city-alphaSet{
    padding-right: 20px;
}

.jump-links{
	margin-top: 20px;
}

#stateUrlForCity {
	text-transform: capitalize;
}

.jump-links-wrap h1, .jump-links-wrap h2, .jump-links{color: black;}

.state-name a {
    color: rgba(0, 0, 0, 1.0) !important;
}

.checkin-details{
	display: flex;
  	align-items: center;
  	justify-content: left;
    margin-bottom:10px;
	border: 1px solid #ce0f2e;
	border-radius: 8px;
	padding: 6px;
	margin-top: 10px;
}

.checkin-component{
	margin-top: 80px;
    margin-bottom: 20px;
}

.minutes{
	margin-left: 20px;
    font-size: 30px;
}

 section.check-in-info:only-of-type .wait-time {
    position: relative;
    float: left;
    min-width: 75px;
    max-width: 85px;
    margin: 0 1em 0 0;
    padding: 0 2%;
    border: 1px solid #5f6167;
    border-radius: 6px;
}
.wait-time {
	font-family: "Gill Sans", "Gill Sans MT";
	font-size: 16px;
	color: #444B5C;
}

.checkinconfirmation > ul {
	list-style-type: none;
}
#checkInButtonID {
	background-color: #ce0f2e;
    color: #fff !important;
	margin-left: 30px;
	margin-top: -22px;
}

.check-in-details-wrapper{
    margin-bottom: 80px;
    margin-left: 80px;
}
 .error-msg {
    color: red;
 }
.magicuts-row{
	margin-right: 0px;
    display:flex;
 }

 .check-in-details-wrapper, .check-in-info {
      margin-top: 50px;
 }

.checkin-data-wrapper {
	margin-top: 50px;
}
 .checkin-data-wrapper > ul >li {
     list-style-type: none;
 }

 .check-in-info > h1 {
     font-size: 1.75rem;
 }

 .checkin-user-details . checkbox-inline {
     text-transform: uppercase;
 }

 .estimatedtime{
     font-size: 0.7rem;
 }

.servicesCBs .checkbox-inline{
    text-transform: uppercase;
}

/*-------------End-----------------*/
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) {
	.navbar-light .navbar-nav .nav-link {
        font-size: 10px!important;
    }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1023px) {
	body {
		background-size: cover;
		background-attachment: fixed;
	}
	.colouredparsys .imgtxt-para {
		padding: 10px;
	}
	.mt-nav {
		margin-top: 0rem !important;
	}
	.navbar input[type="text"] {
		width: 100%;
	}
	/*.w-100 {
		width: 160%!important;
	}*/
	.card-body {
		padding: 0.25rem !important;
		height: 300px !important;
	}
	.showhide {
		display: block;
	}
	.heroImageCarousel {
		padding-bottom: 10px;
	}
	.navbar-brand img {
		width: 60%;
	}
	#hover a.login {
		margin-top: 0px;
	}
	.SearchShop {
		width: 100%;
		background-color: transparent;
		padding: 0px;
		box-shadow: 0px;
		margin-top: 0px;
		right: 0px;
		margin-bottom: 20px;
	}
	.SearchShop h5 {
		font-size: 14px;
		font-family: "Poppins";
		padding: 0px;
		line-height: 10px;
		color: #ffffff;
	}
	.MobileMar {
		margin-top: 60px;
	}
	.carousel-inner {
		height: auto !important;
	}
	.LocationHeader {
		top: 20%;
		left: 0%;
	}
	.LocationHeader h1 {
		font-size: 2.0rem;
	}
	.carousel-indicators {
		margin-bottom: 18rem !important;
	}
	.carousel-inner .carousel-caption {
		position: relative !important;
		top: auto;
		bottom: 150px;
		left: 0px;
		background-color: #ffffff;
		width: 100%;
		text-align: left;
		padding: 2px;
	}
	.carousel-inner h5 {
		font-size: 30px;
		color: #212121;
		font-family: "Poppins";
		font-weight: 900;
		width: auto;
	}
	.HeaderBox div.HeadItem {
		width: 50% !important;
	}
	.footer_cont .ft_nav {
		width: 70% !important;
	}
	.footer_cont .ft_nav a {
		font-size: 13px;
		padding: 0 5px 0 5px;
	}
	.FootBot {
		text-align: right;
		width: 100%;
		margin-bottom: 10px;
		padding: 10px 0px;
		width: 30%;
	}
	.CopyRightText {
		clear: both;
		font-size: 12px;
		margin-top: 40px;
		width: 35%;
		padding-bottom: 10px;
		font-family: "Gill Sans", "Gill Sans MT";
		color: #999999;
	}
	.navbar {
		padding: 10px;
	}
	.navbar-brand {
		width: 30%;
	}
	.checkbox-inline {
		min-width: 50% !important;
	}
	.navbar-light .navbar-nav .nav-link {
		font-size: 8px!important;
		border: none;
		text-align: center;
		line-height: 25px;
	}
	.navbar-dark .navbar-nav .nav-link {
		font-size: 14px;
		border: none;
		text-align: center;
		line-height: 25px;
	}
	body {
		background-size: 100% 100%;
		background-attachment: scroll;
	}
	.textandimage img {
		max-width: 100% !important;
		padding-left: 170px;
		padding-right: 135px;
	}
	.mr-5 {
		margin-right: 1rem !important;
	}
	.mobilecarousel {
    	display: none;
    }

    .desktopcarousel {
    	display: block;
    }
    .check-in-details-wrapper {
        margin-left: 0;
    }
    .checkin-data-wrapper > ul{
    	padding-left: 0;
    }
}

@media (max-width: 1366px) and (min-width: 600px) {
	.navbar-light .navbar-nav .nav-link {
		font-size: 14px;
		text-align: center;
	}
	.carousel-inner .carousel-caption {
		bottom: 0px;
	}
	.colouredparsys .imgtxt-para {
		padding: 20px;
	}
	.carousel-inner .carousel-caption {
		position: relative !important;
		top: auto;
		bottom: 0px;
		left: 0px;
		background-color: #ffffff;
		width: 100%;
		text-align: left;
		padding: 20px;
	}
	.nav-item {
		margin-left: 0rem!important;
		margin-top: 2px;
	}
	.card-body {
		height: 280px !important;
	}
	.magicForm select {
		font-size: 14px;
	}
	.form-control {
		padding: 0;
	}
	.desktopcarousel{
    	display:none;
    }
    .mobilecarousel{
    	display:block;
    }
    .check-in-details-wrapper {
        margin-left: 0;
    }
    .checkin-data-wrapper > ul{
    	padding-left: 0;
    }
}

@media (max-width: 600px) and (min-width: 100px) {
	.colouredparsys .imgtxt-para {
		padding: 20px;
	}
	.carousel-indicators {
		margin-bottom: 40rem!important;
	}
	.carousel-inner .carousel-caption {
		position: relative !important;
		top: auto;
		left: 0px;
		background-color: #ffffff;
		width: 100%;
		text-align: left;
		padding: 20px;
	}
	.magicForm select {
		font-size: 14px;
	}
	.form-control {
		padding: 0;
	}
	.desktopcarousel{
        display:none;
    }
    .mobilecarousel{
        display:block;
    }
    .check-in-details-wrapper {
        margin-left: 0;
    }
    .checkin-data-wrapper > ul{
    	padding-left: 0;
    }
    .sigcancel {
        margin-bottom: 10px;
    }
}

@media (max-width: 992px) and (min-width: 768px) {
	.show-more-container .map-directions .check-in {
		width: 47%!important;
	}
	.show-more-container .map-directions .check-in:nth-child(2n+1) {
		clear: none;
	}
	.check-in-details-wrapper {
        margin-left: 0;
    }
    .sigcancel {
            margin-bottom: 10px;
    }
}

@media only screen and (max-device-width: 600px) and (min-device-width: 320px) {
	.carousel-indicators {
        visibility: hidden !important;
    }
	.colouredparsys .imgtxt-para {
		padding: 25px!important;
	}
	.imgtxt-para h1 {
		font-size: 1.3rem!important;
	}
	.MainHead {
		font-size: 18px;
	}
	.magicForm select {
		font-size: 14px;
	}
	.form-control {
		padding: 0;
	}
	.desktopcarousel{
        display:none;
    }
    .mobilecarousel{
        display:block;
    }

    .check-in-details-wrapper {
        margin-left: 0;
    }
    .sigcancel {
         margin-bottom: 10px;
    }
}

@media (min-width: 768px) {
	.footer_cont {
		position: relative;
	}
}

.wrapper{
	min-height: 768px;
}

/*@media only screen (min-device-width: 1024px) {
	.carousel-indicators {
		top: 60%;
	}
}*/

@media only screen and (max-device-width: 1366px) and (min-device-width: 1024px) {
	.textandimage img {
		max-width: 100% !important;
		padding-right: 0px;
		padding-left: 0px;
	}
	.carousel-inner {
		height: auto !important;
		touch-action: pan-y!important;
	}
	.card-body {
		padding: 0.25rem !important;
		height: 320px !important;
	}
}

@media screen and (max-width: 767px) {
	.carousel-inner {
		height: 300px;
	}
	body {
		background-size: 100% 100%;
	}
	.textandimage img {
		max-width: 100% !important;
	}
	.search-result-container .search-result-img img {
		display: none;
	}
	.search-result-container .col-md-4 {
		max-width: 0%!important;
	}
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
	.textandimage img {
		max-width: 100% !important;
		padding-left: 0px;
		padding-right: 0px;
	}
	.carousel-inner {
		height: auto !important;
		touch-action: pan-y!important;
	}
	.card-body {
		padding: 0.25rem !important;
		height: 330px !important;
	}
	.carousel-indicators {
        visibility: hidden !important;
    }
}

@media screen and (max-width: 768px) {
	.show-more-container .map-directions .check-in {
		width: 100% !important;
	}
	.carousel-indicators {
        visibility: hidden !important;
    }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 825px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
	.footer_cont {
		position: relative;
	}
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) and (max-device-width: 738px) and (min-device-width: 375px) and (orientation: landscape) {
	body {
		margin-bottom: 0px;
	}
	/*.carousel-indicators {
		margin-bottom: 0rem !important;
		top: 46%!important;
	}*/

	.carousel-indicators {
        visibility: hidden !important;
    }
	.carousel-inner {
		height: auto !important;
		touch-action: pan-y!important;
	}
	.heroImageCarousel {
		margin-bottom: 0px;
		padding-bottom: 30px;
	}
	.colouredparsys .imgtxt-para {
		padding: 25px!important;
	}
	.carousel-inner .carousel-caption {
		position: relative !important;
		top: auto;
		bottom: auto;
		left: 0px;
		background-color: #ffffff;
		width: 100%;
		text-align: left;
		padding: 20px;
	}
	.searchBut {
		width: 100% !important;
		font-size: 0.9rem;
		margin-left: 10px !important;
	}
	.navbar-light .navbar-nav .nav-link {
		font-size: 18px!important;
		border: 0;
		text-align: center;
		line-height: 25px;
	}
	.dropdown-menu .dropdown-item {
		border: none !important;
	}
	.searchBut {
		width: 15% !important;
	}
	.card-body {
		height: 265px;
	}
	.thebsoimage.mt-4 {
		max-width: 100%;
		margin-top: 0rem !important;
		height: auto;
		width: 578px;
		height: 578px;
	}
	#hovermagic a.login {
		margin-bottom: 30px;
	}
	.show-more-container .map-directions .check-in {
		width: 45% !important;
		height: 190px;
	}
	.footer_cont {
		position: relative;
	}
	.CopyRightText,
	.CopyRightText div,
	.footer_cont .ft_nav,
	.FootBot {
		width: auto;
	}
	.textandimage img {
		max-width: 100% !important;
		padding-right: 155px;
		padding-left: 155px;
	}
}

/*@media (max-width: 667px) and (min-width: 375px) {
	.carousel-indicators {
		margin-bottom: 1rem !important;
		top: 45%;
	}
}*/

/*@media (min-width: 320px) and (max-width: 568px) and (orientation: landscape) {
	.carousel-indicators {
		margin-bottom: 1rem !important;
		top: 56%!important;
	}
}*/

/*@media (min-width: 411px) and (max-width: 731px) {
	.carousel-indicators {
        visibility: hidden !important;
    }
}*/

@media (min-width: 320px) and (max-width: 480px) {
	body {
		margin-bottom: 0px;
	}
	.showhide {
		display: none;
	}
	.SearchShop {
		width: 100%;
		background-color: transparent;
		padding: 0px;
		box-shadow: 0px;
		margin-top: 0px;
		right: 0px;
		margin-bottom: 20px;
	}
	.SearchShop h5 {
		font-size: 14px;
		font-family: "Poppins";
		padding: 0px;
		line-height: 10px;
		color: #ffffff;
	}
	.searchBut {
		width: 100% !important;
		font-size: 0.9rem;
		margin-left: 0px !important;
		margin-top: 10px;
	}
	.show-more-container .map-directions .check-in {
		width: 90% !important;
		height: 195px !important;
	}
	.MobileMar {
		margin-top: 40px;
	}
	.carousel-inner {
		height: auto !important;
		touch-action: pan-y!important;
	}
	.thebsoimage.mt-4 {
		max-width: 100%;
		margin-top: 0rem !important;
		height: auto;
		width: 312px;
		height: 312px;
	}
	.LocationHeader {
		top: 20%;
		left: 0%;
	}
	.LocationHeader h1 {
		font-size: 2.0rem;
	}
	.carousel-indicators {
		margin-bottom: 17rem !important;
	}
	.carousel-inner .carousel-caption {
		position: relative !important;
		top: auto;
		bottom: auto;
		left: 0px;
		background-color: #ffffff;
		width: 100%;
		text-align: left;
		padding: 20px;
	}
	.carousel-inner h5 {
		font-size: 30px;
		color: #212121;
		font-family: "Poppins";
		font-weight: 900;
		width: auto;
	}
	.HeaderBox div.HeadItem {
		width: 50% !important;
	}
	.carousel-control-next {
		z-index: 1;
	}
	.footer_cont {
		position: relative;
	}
	.footer_cont .ft_nav {
		width: 100%;
		padding: 0px;
	}
	.footer_cont .ft_nav a {
		font-family: "Poppins";
		text-decoration: none;
		font-size: 22px;
		color: #999999;
		display: flex;
		padding: 5px 0px;
		border-left: none;
		font-weight: 100;
	}
	.FootBot {
		text-align: left;
		border-top: 1px solid rgba(255, 255, 255, 0.3);
		border-bottom: 1px solid rgba(255, 255, 255, 0.3);
		width: 100%;
		margin-bottom: 10px;
		padding: 10px 0px;
	}
	.navbar {
		padding: 10px;
	}
	.navbar-brand {
		width: 30%;
	}
	.checkbox-inline {
		min-width: 50% !important;
	}
	.navbar-light .navbar-nav .nav-link {
		font-size: 18px!important;
		border: none;
		text-align: center;
		line-height: 25px;
	}
	.navbar-dark .navbar-nav .nav-link {
		font-size: 18px;
		border: none;
		text-align: center;
		line-height: 25px;
	}
	/*.w-100 {
		width: 160%!important;
	}*/
	.CopyRightText {
		clear: both;
		font-size: 18px;
		margin-top: 40px;
		width: 100%;
		padding-bottom: 10px;
		font-family: "Gill Sans", "Gill Sans MT";
		color: #999999;
	}
	.card-body {
		height: 265px;
	}
	.SocialIcon {
		margin-left: 10%;
	}
	.sdplcHR {
		width: 100%;
	}
	.heroImageCarousel {
		padding-bottom: 20px;
	}
	.colouredparsys .imgtxt-para {
		padding: 20px;
	}
	.carousel-indicators {
        visibility: hidden !important;
    }
}


/*-------------------HeaderBox-------------------*/