/*rte styles*/

.component-primary-heading {
	font-size: 40px;
	font-family: "Rockwell";
	color: #ffffff;
	margin: 30px 0px;
}

.gray {
	color: #ffffff;
	font-size: 28px;
	font-family: "Rockwell";
	font-weight: 700;
	line-height: 1.1;
}

.component-sub-heading {
	font-family: "Gill Sans", "Gill Sans MT";
	font-size: 24px;
	color: #ffffff!important;
}

.component-description {
	font-size: 16px;
	font-family: "Gill Sans", "Gill Sans MT";
	color: #ffffff;
}

.style-advice-style {
	font-family: "Gill Sans", "Gill Sans MT";
	font-weight: normal;
	font-style: italic;
	line-height: 1.2;
	color: #ffffff;
	font-size: 24px;
	padding: 30px 30px 0;
	display: block;
}

.content {
	font-family: "Rockwell";
	font-size: 24px;
	color: #ffffff;
	font-weight: 100 !important;
}


/* rte styles end*/