.textandimage img {
    max-width: 100% !important;
    padding-bottom: 20px;
   

}

.search-result-container {
    float: left;
    width: 100%;
    padding-bottom: 20px;
    display: inherit;

}

.search-result-container .col-md-4 {
    padding: 0;
    max-width: 20%;
}

.search-result-container img{


    max-width: 100% !important;
    

}
.img-text-comp .txtalign-center{
 text-align: center;
}
.img-text-comp .txtalign-left{
 text-align: left;
 padding-left: 0;
}
.img-text-comp .txtalign-center{
 text-align: center;
}
