<div data-sly-test="${wcmmode.edit}">GIF Component</div>

<div data-sly-test="${properties.fileReference}">
	<div class="button-container">

		<div class="ff-container ff-responsive">
			<img class="freezeframe-responsive"
				alt="${properties.alttext}" src="${properties.fileReference}">

                    <button class="start freezeframe-start"><img src="/etc/designs/regis/supercuts/images/si-glyph-triangle-right.svg" alt=""/><span class="sr-only">Start GIF animation</span></button>
		<button class="stop freezeframe-stop"><img src="/etc/designs/regis/supercuts/images/si-glyph-square.svg" alt=""/><span class="sr-only">Stop GIF animation</span></button>
		</div>
	</div>
</div>
