.banner-container {
	position: relative;
	padding: 0;
	background: #000;
	&:hover {
        .banner-text-section {
            .banner-cta-section {
                .btn {
                  background-color: #9df1ff;
                  color: #28323a;
                }
            }
        }
    }
	.banner-image {
		img {
			width: 100%;
		}
	}
	.banner-text-section {
		position: absolute;
		top: 0;
		padding-left: 80px;
		padding-top: 100px;
        &.with-cta {
           padding-top: 60px;
            @media (min-width: 768px) and (max-width: 1024px) and (orientation : portrait)  {
                padding-top: 20px;
            }
            @media (min-width: 768px) and (max-width: 1024px) and (orientation : landscape)  {
                padding-top: 50px !important;
            }
            @media (min-width: 1024px) and (max-width: 1366px) and (orientation : portrait)  {
                padding-top: 35px;
                .banner-cta-section {
                    padding-top: 20px;
                }
            }
            @media (min-width: 1024px) and (max-width: 1366px) and (orientation : landscape)  {
                padding-top: 65px;
            }

        }
        @media (min-width: 768px) and (max-width: 1024px) and (orientation : portrait)  {
            padding-top: 28px;
        }
        @media (min-width: 768px) and (max-width: 1024px) and (orientation : landscape)  {
            padding-top: 65px;
        }
        @media (min-width: 1024px) and (max-width: 1366px) and (orientation : portrait)  {
            padding-top: 65px;
        }
		.banner-text {
			.banner-heading {
				height: 46px;
				font-family: Roboto;
				font-size: 36px;
        @media (min-width: 768px) and (max-width: 1024px) {
                font-size: 30px;
                height: 42px;
                margin-bottom: 0;

        }
				font-weight: 500;
				font-style: normal;
				font-stretch: normal;
				line-height: normal;
				letter-spacing: 0.2px;
				color: #ffffff;
				overflow: hidden;
			}
			h1,h2,h3 {
				margin-top: 0;
        @media (min-width: 768px) and (max-width: 1024px) {
            margin-bottom: 6px;
        }
			}

			.bannerdescription {
				width: 550px;
                @media (min-width: 768px) and (max-width: 1024px) and (orientation : portrait)  {
                    height: 50px;
                }
                height: 58px;
				font-family: Roboto;
				font-size: 20px;
         @media (min-width: 768px) and (max-width: 1024px) {
                font-size: 16px;
         }
				font-weight: normal;
				font-style: normal;
				font-stretch: normal;
				line-height: 1.45;
				letter-spacing: normal;
				color: #ffffff;
				overflow: hidden;
				a {
					font-family: Roboto;
					font-size: 20px;
                    @media (min-width: 768px) and (max-width: 1024px) {
                    font-size: 16px;
                    }
					font-weight: normal;
					font-style: normal;
					font-stretch: normal;
					line-height: 1.45;
					letter-spacing: normal;
					color: #ffffff;
					text-decoration: underline;
					text-decoration-color: #9df1ff;
				}
			}
		}
		.right {
			text-align: right;
		}
		.banner-cta-section {
			padding-top: 30px;
        @media (min-width: 768px) and (max-width: 1024px) {
            padding-top: 5px;
        }
			.btn {
				color: #fff;
				background: none;
				border: 2px solid #9df1ff;
				border-radius: 0;
				padding: 12px 16px 12px 16px;
        @media (min-width: 768px) and (max-width: 1024px) {
                padding-top: 5px;
                padding: 8px 10px 8px 10px;
        }
				font-family: Roboto;
				font-size: 14px;
				font-weight: 500;
				font-style: normal;
				font-stretch: normal;
				line-height: normal;
				letter-spacing: 0.2px;
				color: #ffffff;
				width: 134px;
			}
		}
	}
	.banner-text-section.right {
		text-align: right;
		padding-right: 80px;
		right: 0;
		padding-left: 0;
	}
	.banner-text {
		p {
			margin-bottom: 0;
		}
	}
	&:hover {
		.banner-text-section {
			.banner-cta-section {
				.banner-button  {
					background-color: #9df1ff;
					color: #000;
				}
			}
		}
	}
}
@media (max-width: 767px) {
	.banner-container {
		.banner-text-section {
			padding: 33px 40px 30px 20px;
			position: initial;
			background-color: #28323a;
			.banner-text {
				.banner-heading {
					overflow: hidden;
					width: 315px;
					height: 40px;
					font-family: Roboto;
					font-size: 30px;
					letter-spacing: 0.2px;
					color: #ffffff;
				}
				.bannerdescription {
					width: 324px;
					height: 102px;
					font-family: Roboto;
					font-size: 20px;
					line-height: 1.7;
					letter-spacing: -0.3px;
					color: #fafafa;
					overflow: hidden;
				}
				h3 {
					margin-bottom: 10px;
				}
			}
			.banner-cta-section {
				padding-top: 10px;
				.banner-button {
					padding: 10px;
					font-size: 20px;
					background-color: rgba(40,50,58,0.6);
					width: 150px;
				}
			}
		}
		.banner-text-section.right {
			padding-right: 30px;
			right: 0;
			padding-left: 20px;
		}
	}
}
