.main-container {
    margin: 10px;
}
@media (max-width: 768px) {
        .acs-commons-resp-colctrl-col-50 {
             margin-bottom: 0;
    }
            .main-container {
            margin:10px 10px 0 10px;
        }
}
.brandcard{
.card-container {
    overflow: hidden;
    background-color: white;
    padding: 30px 30px 20px 30px;
        @media (max-width: 768px) {
           padding: 30px 30px 0 30px;
        }
    height: 435px;
}

.bcfixedheight{
	 height: 435px;
}
.bclargeheight{
	 height: 550px;
}

.autoheight{
	 height: auto;
}

.component-logo {
    margin-top: 10px;
    width: 18%;
    height: 36.5px;
    margin-bottom: 40px;
}

.description-text {
    font-family: Roboto;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.3px;
    color: #1d1d1d;

  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
        p {
            margin-bottom: 20px;
            a{
                color: #28323a;
                text-decoration: underline;
                text-decoration-color: #9df1ff;
                font-size: 18px;
                font-weight: 500;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.61;
                letter-spacing: normal;
                color: #28323a;

            }
        }
}

.link {
    text-align: left;
    display: block;
}

.franchize-link {
    margin-top: 30px;
    margin-left: 1px;
    width: 311px;
    height: 29px;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.61;
    letter-spacing: normal;
    color: #28323a;
    clear: right;
    text-decoration: underline;
    text-decoration-color: #9df1ff;
}

.bottom-section {
    display: inline-block;
    margin-right: 29px;
    margin-top: 20px;
    position: absolute;
    bottom:15px;
    width: 100%;
        div{
            display:inline;
        }

}

// .btn {
//     padding: 12px 16px;
//     display: inline-block;

// }
.btn-primary {
    padding: 8.5px 16px;
    display: inline-block;
    font-size: 14px !important;

}

.visit-button {
    padding: 8px 16px 8px 16px;
    border: solid 2px #9df1ff;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    background-color: white;
    margin-right: 31.5%;
    font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
    // font-size:14px;
}

.logo-section {
    float: right;
    margin-right: 50px;
        a:nth-child(1){
            margin-right: 20px;
        }
}

.applestore-logo {
    display: inline;
    margin-right: 20px;
}

@media (max-width: 768px) {


   .bcfixedheight{
	 height: auto;
	}

	.bclargeheight{
		 height: auto;
	}
    .component-logo {
        position: relative;
        margin-top: 10px;
        margin-left: 0px;
    }
    .description {
        margin-left: 0px;
        margin-right: 0px;
    }
    .description-text {
        // text-align: justify;
        font-size: 18px;
        p {
          a{
            font-size:20px !important;
          }
        }

    }
    .link {
        text-align: start;
    }
    .bottom-section {
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        text-align: left;
        position: relative;
        bottom: 0px;
    }
    .btn {
        display: inline-block;
        text-align: left;
        margin-bottom: 40px;
        padding: 14px 22px;
        font-size:20px !important;
        font-weight:500;

    }
    .visit-button {
        margin: 0px;
        font-size: 20px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
    }
    .logo-section {
        float: none;
        position: relative;
        display: block;
        margin-bottom: 30px;
            a{
              display: block;
                img{
              width: 219.4px;
                    height: 65px;}
            }
            a:nth-child(1){
              margin-bottom: 20px;
            }
    }
    .applestore-logo {
        display: block;
        margin: 0 auto;
    }
    .applelogo {
        margin-bottom: 10px;
        margin-top: 15px;
    }
    .google-store-logo {
        margin: 0 auto;
        display: block;
    }
    .component-logo {
        margin-bottom: 30px;
    }

}
}
@media(min-width:1025px){
    .brandcard .logo-section {

    }
}
@media(min-width:769px) and (max-width:1024px){
.bcfixedheight{
	 height: 650px !important;
}
.bclargeheight{
	 height: 850px !important;
}
}
@media(min-width:1025px){

}
@media(max-width:1025px){
    .logo-section {
        float: none;
        position: relative;
        display: block;
            a{
              display: block;
                img{
              width: 180px;
                    height: 50px;}
            }
            a:nth-child(1){
              margin-bottom: 20px;
            }
    }
    .brandcard .bottom-section div {
         display: block;
    }
    .brandcard .bottom-section {
        width: inherit;
    }
}
