.contactIRparsys.iparsys.parsys {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}
.cardcomponent.section {
    //  width: 464px;
      //height: 280px;
      background-color: #ffffff;
      border: solid 1px #ededed;
      padding:30px;
      margin:6px;
  }
  .cardcomponent.section:hover{
       box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.1);
  }

  div.cardExtraSmall{
    height:150px;
    position: relative;
}
      div.cardSmall{
        height:220px;
        position: relative;
  }
    div.cardMedium{
        height:240px;
        position: relative;
  }
    div.cardLarge{
        height:300px;
        position: relative;
  }
  .cardExtraSmall .card-img{
        width: 80px;
        height: 80px;
    }
      .card-img{
          width: 88px;
          height: 88px;
      }
  .imgHolder{
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .textHolder{
      margin-top: 27px;
      position: relative;
      padding-bottom: 20px;
  }
  .cardExtraSmall .textHolder{
        margin-top: 0px;
        position: relative;
        padding-bottom: 20px
    }
        .left{

         text-align:left;
      }
      .right{
          text-align:right;
      }


          .stockDesccardLayout1{
              padding-top:10px;
          }

      a.card-primaryctatext{
          color: #28323a;
      background: none;
      border: 2px solid #9df1ff;
      border-radius: 0;
      padding: 8px 12px;
      font-family: Roboto;
      font-size: 14px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 0.2px;
      width: 134px;
  }
         a.card-primaryctatext:hover{
           color: #28323a;
      text-decoration: none;
      outline: none;
              background:#9df1ff;

  }
  .card-imagetitle {
       font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.45;
    letter-spacing: normal;
    color: #1d1d1d;
  }

    .card-title{
            font-size: 24px;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: 29px;
            letter-spacing: normal;
           color: #1d1d1d;

      }
      @media(max-width:768px){
        .card-title{
                font-size: 26px;
                line-height: 1.31;

          }
          .card-imagetitle {
               font-size: 22px;
               line-height: 1.32;
          }
      }
  .buttonContainer1{
    position: absolute;
bottom: 10px;
  }
  .buttonContainer2{
    position: absolute;
    bottom: 55px;
  }
  .buttonContainer1.buttonContainerNew1 {
    position: absolute;
    bottom: 60px;
}
.buttonContainerNew2 {
    position: absolute;
bottom: 10px;
}
  @media(max-width:768px){
    .buttonContainer1{
        margin-top:20px;
        position:relative !important;
        bottom:0px !important;
      }
      .buttonContainerNew2 {
        margin-top:37px;
         position:relative !important;
        bottom:0px !important;
      }
      .card-imagesubtitle {
          font-size: 18px !important;
          line-height: 1.61 !important;
      }
  }

  .card-imagesubtitle {
      font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.81;
    letter-spacing: normal;
    color: #545454;
  }
  .ShowCaseDivIcon {
      display: inline;
  }
  .ShowCaseDivLink {
      display: inline-block;

  }
  .ShowCaseDivLink a{
        font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.81;
    letter-spacing: normal;
  }
  .card-description {
       font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.45;
    letter-spacing: normal;
    color: #1d1d1d;
    margin-top: 10px;
  }
  .card-description p{
       font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.56;
    letter-spacing: 0.3px;
    color: #545454;
  }
  .card-description li{
   font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.56;
    letter-spacing: 0.3px;
    color: #545454;
  }
  .ShowCaseDivDate {
       font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.81;
    letter-spacing: normal;
    color: #545454;
    padding-top: 10px;
  }
  div.SECcompsection {
      padding-top:10px;
  }

  @media(max-width:767px){
      .cardcomponent.section {

          width:96%;
          margin-left: 2%;
          margin-right: 2%;
          margin-top: 2%;
          margin-bottom: 2%;

      }

a.card-primaryctatext{
padding: 11px;
font-size: 20px;
}
       .card-htmlcode{
         div{
              span{
                  display:inline-block !important;
              }
          }

      }

  }

  @media(min-width:768px) and (max-width:1024px){
    .stockDesccardLayout1 .updatedDate {
    display: none;
}

  }
  .acs-commons-resp-colctrl-col-33 {
      padding-left: 0px;
      padding-right: 0px;
  }
  .acs-commons-resp-colctrl-col-50 {
    padding-left: 0px;
    padding-right: 0px;
}
.cardImageAlignRight {
    float: right;
}
.textImagecomp {
margin-bottom: 40px;
}
@media(max-width:768px){
  .SECcompsection tr td {
    padding-bottom: 10px;
}
  .stockPriceValue span {
    font-size: 40px !important;
  }
  div.cardExtraSmall{
      height:auto;
      min-height: 100px;
}
    div.cardSmall{
        height:auto;
  }
    div.cardMedium{
        height:auto;
  }
    div.cardLarge{
        height:auto;
  }
  .textImagecomp {
    width: 100%;
    min-height: 100px;
  }
  .card-description {
       font-size: 22px;
    margin-top: 20px;
  }
  .subtitleCarddescription {
      font-size: 18px;
  }
  .acs-commons-resp-colctrl-col-33 {
     margin-bottom: 0px;
}
}
.cardImageAlignright{
    float:right;
    margin-left:10px;
}
.stockDesccardLayout1 .stockContent h4 {
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.81;
    color: #545454;
    text-align: center;
}
@media(max-width:767px){
  .stockDesccardLayout1 .stockContent h4{
      text-align: left;
  }
}
.stockDesccardLayout1 .updatedDate {
    padding-bottom: 10px;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.81;
    letter-spacing: normal;
    color: #545454;
}
@media(min-width:1024px) and (max-width:1200px){
.cardSmall{
  height:300px !important;
}
.cardMedium{
  height: 400px !important;
}
.cardLarge{
  height: 490px !important;
}
}
.AnnualReportsIR{
  padding-bottom: 50px;
}
.SECcompsection tr td{
    display: block;
}
.SECcompsection td.b2iSECTypeCell.b2iSecData,td.b2iSECFilerCell.b2iSecData
{
    display:none !important;
}
.GAAPdataclass{
    padding-bottom:75px;
}
.b2iLibraryItemDate{
    display: block;
    color: #545454;
}
.PressReleasessection{
    padding-bottom: 45px;
}
img.card-img.cardImageAlignLeft {
    float: left;
    margin-right: 10px;
}
.stockPriceValue span {
  font-size: 38px !important;
}
.stockPriceChange span, .stockPriceVolume span {
    font-size: 22px !important;
}
.stockContainer {
    padding: 0px 8px 0px 0px !important;
}
.SECcompsection tr td {
  display: block;
}
.b2iLibraryItemDate {
    display: block;
    margin-bottom: 10px;
    margin-top: 10px;
}
.subtitleCarddescription {
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.56;
    letter-spacing: 0.3px;
    color: #545454;
    margin-top: 10px;
}
span.b2iarrow {
    position: relative;
    bottom: 2px;
}
.stockPriceVolumeValue span {
    position: relative;
    bottom: 3px;
}
.SECcompsection tr td:first-child{
  color: #545454;
}
@media (max-width: 1300px) and (min-width: 767px){
.GAAPdataclass .ShowCaseDivIcon {
    position: relative;
    bottom: 0px;
}
.b2iShowCaseDiv .ShowCaseDivIcon {
    position: relative;
    bottom: 0px;
}
.textImagecomp {
    width: 100%;
}
}
.stockPriceVolume.stockContainer {margin-left: 11px;}

.stockPriceChange.stockContainer {
    margin-left: 12px;
}
@media(max-width:767px){
  .stockPriceVolume.stockContainer {margin-left: 0px;}

  .stockPriceChange.stockContainer {
      margin-left: 0px;
  }
}
@media (max-width: 1250px) and (min-width: 767px) {
  .textHolder{
    padding-left: 20px;
}
}
@media(max-width:767px){
  .stockPrice.stockContainer {
margin-right: 40%;
}
}
.cardAuto  .buttonContainer1{
    position: relative;
bottom: 0px;
  }
  .cardAuto .buttonContainerNew2{
    position: relative;
    bottom: 0px;
    margin-top:32px;
  }
