.Committee-container {
	width: 100%;
	.committe-details {
		height: 455px;
		.chair-person-details {
			margin-bottom: 10px;
			max-height: 50px;
			overflow: hidden;
			.designation {
				font-size: 20px;
				font-weight: normal;
				font-style: normal;
				font-stretch: normal;
				letter-spacing: normal;
				color: #545454;
		    }
	    }
		.member-details {
			.designation {
				font-size: 20px;
				font-weight: normal;
				font-style: normal;
				font-stretch: normal;
				letter-spacing: normal;
				color: #545454;
		    }
			margin-bottom: 10px;
			max-height: 185px;
			overflow: hidden;
			.person-details-container {
				.person-details {
					margin-bottom: 10px;
			    }
		    }
	    }
		padding: 20px 20px;
		border: solid 1px #ededed;
		background: #fff;
		h4 {
			font-family: Roboto;
			font-size: 24px;
			font-weight: 500;
			font-style: normal;
			font-stretch: normal;
			letter-spacing: normal;
			color: #1d1d1d;
			margin: 0 0 15px 0;
	    }
		.person-details {
			span {
				display: block;
		    }
			.name {
				font-family: Roboto;
				font-size: 20px;
				font-weight: normal;
				font-style: normal;
				font-stretch: normal;
				letter-spacing: normal;
				color: #1d1d1d;
		    }
			.details {
				font-family: Roboto;
				font-size: 16px;
				font-weight: normal;
				font-style: normal;
				font-stretch: normal;
				letter-spacing: normal;
				color: #545454;
		    }
	    }
    }
	.member-details-container {
		.committe-details {
			.cta-wrapper{ 
				position: absolute;
				bottom: 0;
				margin-bottom: 20px;
				.cta-link {
					color: #1d1d1d;
					margin-top: 10px;
					.btn-primary {
						margin-bottom: 0;
						font-size: 14px !important;
				    }
			    }
		    }
	    }
    }
}
@media (min-width: 1024px) and (max-width: 1200px) {
	.Committee-container {
		.committe-details {
			.chair-person-details {
			   max-height: 48px;
				.designation {
					width: 36.333333%;
					font-size: 18px;
			    } 
		    }
			.person-details {
				width: 61.333333%;
				.name {
					font-size: 16px;
			    }
		    }
			.member-details {
				max-height: 195px;
				.designation {
					width: 36.333333%;
					font-size: 16px;
			    }
				.person-details-container {
					width: 63.333333%;
					.person-details {
						width: 63.333333%;
						.name {
							font-size: 16px;
					   }
						.details {
							font-size: 14px;
					    }
				    }
			    }
		    }
	    }
    }
 }
