.contact-div-wrapper {
    margin: 10px 0 0;
    text-align: center;
    overflow: hidden;
    #b2iContact {
        .b2iEmailRow {
            #b2iNotMe {
                line-height: 1.42857143;
                color: #28323a;
                padding: 12px 16px;
                text-transform: uppercase;
                font-weight: bold;
                font-size: 14px !important;
                letter-spacing: 1px;
                background-color: #fff;
                -webkit-appearance: none;
                border: 2px solid #9df1ff;
                margin-bottom: 10px;
                &:hover {
                    background-color: #9df1ff;
                }
            }
        }
        .b2iFormRow {
            margin-bottom: 15px;
            .b2iFormLabel {
                display: inline-block;
                width: 8%;
                color: #545454;
                font-size: 16px;
                font-weight: normal;
                text-align: right;
                margin-right: 20px;
            }
            input {
                width: 50%;
                max-width: 450px;
                display: inline-block;
                height: 40px;
                padding: 6px 12px;
                font-size: 18px;
                line-height: 1.42857143;
                background-color: #fcfcfc;
                border: solid 1px #ededed;
                background-image: none;
                color: #1d1d1d;
                font-weight: 500;
                &:focus {
                    border: solid 2px #1d1d1d;
                    outline: none;
                }

            }
            textarea {
                background-color: #fcfcfc !important;
                border: solid 1px #ededed;
                width: 50%;
                max-width: 450px;
                color: #1d1d1d !important;
                font-size: 18px;
                display: inline-block;
                vertical-align: top;
                margin-bottom: 0;
                font-weight: 500;
                padding: 6px 12px;
                &:focus {
                    border: solid 2px #1d1d1d;
                    outline: none;
                }
            }
        }
        #b2iContactSave {
            #b2iContactSubmit {
                margin-left: 10%;
                line-height: 1.42857143;
                color: #28323a;
                padding: 12px 16px;
                text-transform: uppercase;
                font-weight: bold;
                font-size: 14px !important;
                letter-spacing: 1px;
                background-color: #fff;
                -webkit-appearance: none;
                border: 2px solid #9df1ff;
                width: auto;
                height: auto;
                &:hover {
                    background-color: #9df1ff;
                }
                &:focus {
                    outline: 1px solid #9df1ff;
                }
            }

        }
    }
    #B2iSaveReturn {
           color: #ff6b7c;
           text-align: left;
           margin-left: 39%;
    }
}


@media  (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
.contact-div-wrapper { 
        #b2iContact { 
            .b2iFormRow {
                .b2iFormLabel {
                    width: 14%;
                }
            }
            #b2iContactSave { 
                #b2iContactSubmit {
                    margin-left: 20%
                }
            }
        }
        #B2iSaveReturn {
            margin-left: 34%;
        }
    }
}
@media  (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
.contact-div-wrapper { 
        #b2iContact { 
            .b2iFormRow {
                .b2iFormLabel {
                    width: 14%;
                }
            }
            #b2iContactSave { 
                #b2iContactSubmit {
                    margin-left: 20%
                }
            }
        }
        #B2iSaveReturn {
            margin-left: 37%;
        }
    }
}
@media  (min-device-width : 1024px) 
and (max-device-width : 1366px) 
and (orientation : portrait) {
.contact-div-wrapper { 
        #B2iSaveReturn {
            margin-left: 37%;
        }
    }
}

@media (max-width: 767px) {
    .contact-div-wrapper {
             margin: 10px 10px 0 10px; 
        #b2iContact {
            .b2iFormRow {
                .b2iFormLabel {
                    display: block;
                    width: 100%;
                    text-align: left;
                }
                input {
                    width: 100%;
                    display: block;
                }
                textarea {

                    width: 100%;
                }
            }
            #b2iContactSave {
                #b2iContactSubmit {
                  margin-left: 38%;
                }
            }
        }
        #B2iSaveReturn {
            margin-left: 0;
        }
    }

}