.rc-search {
   padding: 0 30px 30px 30px;
   width: 100%;
   background-color: #fff;
   @media (max-width:767px) {
        padding: 0 10px !important;

  }

}

.search-result-container {
    float: left;
    width: 100%;
    padding-bottom: 20px;
    .col-md-4{
        padding: 0;
        width: 15%;
    }
    .search-result-img{
       img{
          max-width: 100%;
           @media (max-width:767px){
                display:none;
            }
       }
    }
    .search-result-content{
        padding: 10px;
        @media (max-width:767px){
            width:100%;
            padding: 0px;
            }
        h3{
            margin-top: 0;
            margin-bottom: 0;
        }
        a{
            margin-bottom:0;
            display: inline-block;
            font-size: 16px;
            &:hover {
            text-decoration: underline;
            color: #148194;
            }
        }
        .categories{
            margin-bottom: 10px;
        }
    }
    p {
      font-size: 16px;
    }
}

.search{
    h3.search-results-head{
        text-transform:capitalize;
        width: 100%;
        float: left;
        border-bottom: 2px solid #1d1d1d;


    }
}