.bio {
  margin: 20px 20px 60px;
  display: flex;
  .profile-container {
    background-color: #fcfcfc;

      .profile {
        text-align: center;
        padding: 40px 40px 72px;
        color: black;
        p {
          margin: 0;
        }
        .pic {
          display: block;
          text-align: right;
        }
        .name {
          display: block;
          font-family: Roboto;
          font-size: 28px;
          font-weight: 500;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.04;
          letter-spacing: normal;
          text-align: right;
          color: #1d1d1d;
        }
        .designation {
          display: block;
          font-family: Roboto;
          font-size: 18px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.44;
          letter-spacing: normal;
          color: #545454;
          text-align: right;
        }
      }
  }  
  .description {
    background-color: #fff;
    font-family: Roboto;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.75;
    letter-spacing: 0.3px;
    color: #1d1d1d;
    padding: 40px 88px 40px 40px;
    box-shadow: -2px 0 5px 0 rgba(0, 0, 0, 0.03);
    p {
      margin: 0 0 20px;
      &:nth-last-child(1) {
        margin-bottom: 0;
      }
    }
  }
}
@media (max-width: 767px) {
  .bio {
    margin: 0 0 20px 0;
    display: block;
    .profile-container {    
      .profile {
        padding: 0;
        .pic {
          img {
            height: auto;
            width: 100%;
            border-radius: 0;
          }
        }
        .name {
          margin: 0;
          font-family: Roboto;
          font-size: 30px;
          font-weight: 500;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: 0.2px;
          color: #1d1d1d;
          text-align: left;
          padding: 30px 35px 6px;
        }
        .designation {
          font-family: Roboto;
          font-size: 20px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.7;
          letter-spacing: -0.3px;
          color: #545454;
          margin: 0;
          text-align: left;
          padding: 0 44px 30px 35px;
        }
      }
    }
    .profile-section {
      padding: 30px 35px;
      background-color: #fcfcfc;
    }
    .description {
      font-family: Roboto;
      font-size: 18px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.78;
      letter-spacing: 0.3px;
      color: #1d1d1d;
      padding: 30px 35px 30px;
    }
  }
}
@media 
 (min-device-width : 768px) 
and (max-device-width : 1024px) 
    and (orientation : portrait) { 

  .bio {
     display: block;
    .profile-container {
      .profile {
        text-align: center;
        padding: 40px 20px 20px;
        .pic {
           text-align: center;
        }
        .name {
              text-align: center;
        }
        .designation {
            text-align: center;
        }
      }
    }
     .description {
            padding: 40px;

      }
  }
}

@media 
 (min-device-width : 768px) 
and (max-device-width : 1024px) 
    and (orientation : landscape) { 
  .bio {
    .profile-container {
      .profile {
        padding: 40px 20px 72px;
      }
    }
  }
}
@media  
 (min-device-width : 1024px) 
and (max-device-width : 1366px) 
    {
    .bio {
        display: flex;
    }

}
