
.dynamicsidenavigation{
    padding: 20px 0 0 20px;
    @media (max-width: 767px){
         padding: 10px;
    }
	.dynamic-side-nav{
        .side-nav-header{
    		color:#1e3e6e;
    		text-transform:uppercase;
            a{
                padding:5px 10px 5px 10px;
    			display:inline-block;
    			width:100%;
    			text-decoration:none; 
                font-weight: bold;
                font-family: Roboto;
                font-size: 18px;
                &:hover{ 
    				text-decoration: underline;
    			}
                @media (max-width: 767px){
    				padding-left: 0;
                }
    		}
        }
        @media (min-width: 768px){
            ul{
        		margin-bottom: 20px;
        		li{
        			width:100%;
        			cursor:pointer;
        			font-family: Roboto;
        			font-size:16px;
        			a{
        				display:inline-block;
        				padding:5px 10px 5px 10px;
        				width:100%;	
        				text-decoration:none;
        				&:hover{
        					text-decoration: underline;
        				}
        				&.selected{
        					background-color: #EDEDED;
        					border-left:5px solid #148194;
        					padding:5px 10px 5px 5px;
        					color: #148194;
        				}
        			}
                    &.selected{
        				background-color: #EDEDED;
        				border-left:5px solid #148194;
        				padding:5px 10px 5px 5px;
        				color: #148194;
        			}
        		}
        	}
        }   
        @media (max-width: 767px){
            .product-dropdown{
                &.dropdown{
                    button{
					   text-align: left;
                        background: url("../../clientlibs/regiscorp-publish-clientlibs/resources/images/icon-m-accordion-arrow-collapsed.svg") 96% no-repeat  #fff!important;
                        background-size: 8%;
                        padding-right: 13%;
                        &:focus,&:hover,&:active{
						    border: 1px solid #cccccc;
                            outline: none;
                            box-shadow: none;
                        }
                        #dropdown-selected-value{
    						color: #148194;
                            font-size: 16px;
                            font-weight: bold;
                            display: block;
                            overflow: hidden;
                        }
                    }
                    &.open{
                        button{
    						background: url("../../clientlibs/regiscorp-publish-clientlibs/resources/images/icon-m-accordion-arrow-expanded.svg") 96% no-repeat  #fff !important;
    						background-size: 8%;
                        }
                    }
                    ul.dropdown-menu{
    					width: 100%;
                        position: relative;
                        top: 0;
                        border-radius: 0;
                        padding: 10px 0; 
                        margin: 0;
                        border-top: 0;
                        -webkit-box-shadow: none;
                        -moz-box-shadow: none;
                        -o-box-shadow: none;
                        -ms-box-shadow: none;
                        box-shadow: none;
                        &.list-unstyled{
    						padding-left: 20px;
                            &>li{
                                a{
    								padding: 5px 0;
                                    display: inline-block;
                                    white-space: normal;
                                    color: #148194;
                                }
                                &.selected{
                                    a{
                                        border-left: 5px solid #148194;
                                        background: #EDEDED;
                                        display: inline-block;
                                        width: 100%;
                                        padding: 5px 0 5px 3px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
	} 
}