.earningsPage .b2iSection  {
    display: inline-block;
    width: 24%;
    background-color: #ffffff;
    border: solid 1px #ededed;
    height: 250px;
    position: relative;
    margin: 0 7px 12px;
    padding: 20px;
    float: left;
  }
.earningsPage .b2iSection:hover {
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.1);
    border: solid 1px #cfcfcf;
  }
  @media(max-width:1025px){
    .earningsPage .b2iSection  {
        width: 47%;
      }

  }
  @media(max-width:767px){
    .earningsPage .b2iSection  {
        width: 96%;
      }

  }
 .earningsPage .b2iDLText a {
    word-wrap: break-word;
    word-break: break-word;
    text-indent: 20px;
}
.earningsPage .b2iSectionTitle{
    clear: both;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 6px;
}
.earningsPage .b2iUpload{
    display: inline-flex;
    padding: 4px 0;
}
.IRearningsdiv .b2iSection  {


}
.IRearningsdiv .b2iSection:hover {

  }
.IRearningsdiv .b2iUpload{
    padding: 1px 0;
    display: block;
}
@media(max-width:767px){
    .IRearningsdiv .b2iUpload{
        padding: 4px 0;
        display: inline-flex;
    }
}
img.b2iDLimage{
    padding-right:10px;
}
span.b2iHeaderName {
    font-size:32px;
    margin-left:10px;
     font-weight:500;
}

span.b2iSpinDefault {
    font-size:0px;
}
.b2iHeader{
    margin-bottom: 10px;
    clear: both;
}
@media(min-width:1024px) and (max-width:1200px){
    .earningsPage .b2iUpload {
        display: block !important;
    }
}
@media(min-width: 1366px) and (max-width: 1400px) {
    .earningsPage .b2iSection {
      width: 23% !important;
      height:260px !important;
    }
  }
.earningsPage {
    overflow: auto !important;
}