.emaildiv-wrapper {
    margin: 20px 0 0;
    overflow: hidden;
    .b2iform {
        #b2iEmailSignUpFound {
                margin-left: 29.5%;
                #B2iSavedEmail {
                margin-bottom: 10px;                
                #b2iNotMe {
                    line-height: 1.42857143;
                    color: #28323a;
                    padding: 12px 16px;
                    text-transform: uppercase;
                    font-weight: bold;
                    font-size: 14px !important;
                    letter-spacing: 1px;
                    background-color: #fff;
                    -webkit-appearance: none;
                    border: 2px solid #9df1ff;                   
                    &:hover {
                        background-color: #9df1ff;
                    }
                }
            }
        }
        #b2iEmailSignUp{
            text-align: center;
            .b2iEmailSignupRow {
            margin-bottom: 15px;
            }
        .b2iFormLabel {
            text-align: right;
            color: #545454;
            font-size: 16px;
            font-weight: normal;
            display: inline-block;
            width: 8%;
            margin-right: 20px;

        }
            input {
                width: 50%;
                max-width: 450px;
                display: inline-block;
                height: 40px;
                padding: 6px 12px;
                font-size: 18px;
                line-height: 1.42857143;
                background-color: #fcfcfc;
                border: solid 1px #ededed;
                background-image: none;
                color: #1d1d1d;
                font-weight: 500;
                &:focus {
                    border: solid 2px #1d1d1d;
                    outline: none;
                }
            }

        }

        label {
                width: 12%;
                text-align: left;
                color: #545454;
                font-size: 16px;
                font-weight: normal;
                display: inline-block;
                margin-right: 20px;
        }
        .b2iEmailAlertCheckbox {
            float: right;
            width: 32px;
        }
        #b2iEmailAlertSubmit {
                    margin-left: 52%;
                    line-height: 1.42857143;
                    color: #28323a;
                    padding: 12px 16px;
                    text-transform: uppercase;
                    font-weight: bold;
                    font-size: 14px !important;
                    letter-spacing: 1px;
                    background-color: #fff;
                    -webkit-appearance: none;
                    border: 2px solid #9df1ff;
                    &:hover {
                        background-color: #9df1ff;
                    }
        }
        .b2iEmailAlertListText {
                margin-left: 29.5%;
        }

    }
    #B2iSaveReturn {
        color: #ff6b7c;
        margin-left: 39%;
        margin-top: 10px;

    }

}

@media (max-width: 767px) {
.emaildiv-wrapper {
margin: 20px 10px 0 10px;
    .b2iform {
            #b2iEmailSignUp {
                .b2iFormLabel {
                    width: 100%;
                    text-align: left;
                }
                input {
                width: 100%;
                }

            }
            #b2iEmailAlertSubmit {
                margin-left: 40%;
            }
            label {
            width: auto;
            }
            .b2iEmailAlertListText {
                margin-left: 0;
                margin-bottom: 20px;
            }
            #B2iSaveReturn {
                margin-left: 0;                
            }

        }
    }
}
@media only screen
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait)  {

.emaildiv-wrapper {

    .b2iform {
            #b2iEmailSignUp {
                .b2iFormLabel {
                    width: 12%;
                }
            }
            label {
                width: 19.5%;
            }
            #b2iEmailAlertSubmit {
                margin-left: 54%;

            }
            .b2iEmailAlertListText {
                margin-left: 16.5%;
            }
            #B2iSaveReturn {
                margin-left:33%;                
            }
        }
    }
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
    and (orientation : landscape) {

.emaildiv-wrapper {

    .b2iform {

            label {
                width: 14.5%;
            }

            .b2iEmailAlertListText {
                margin-left: 21%;
                width: 14.5%;           
            }
            #B2iSaveReturn {
                margin-left: 33% !important;                
            }
        }
    }

}

@media  (min-width: 1024px) and (max-width: 1366px) and (orientation : portrait){
.emaildiv-wrapper {

    .b2iform {
        label {
                width: 14.5%;
            }
            .b2iEmailAlertListText {
            margin-left: 23%;
            }
            #B2iSaveReturn {
                margin-left:36%;                
            }
        }
    }

}
@media  (min-width: 1024px) and (max-width: 1366px) and (orientation : landscape){
    .emaildiv-wrapper {

        .b2iform {
            label {
                    width: 11%;

            }
                #B2iSaveReturn {
                    margin-left:39%;                
                }
        }

    }
}