 .bg-footer{
	background: #727173;
	color: #fff;
	padding: 24px 0 7em;
	.footer-well{
		@media (min-width: 768px){
			margin-bottom: 15px;
		}
		.form-group{
			.h2{
				margin: 0;
				font-size: 24px;
			}
			.input-group{
				margin: 12px 0;
				input{
					border: 0;
					border-radius: 0;
				}
				.input-group-btn{
					button{
						border: none;
						background: #49717d;
						margin: 0;
						padding: 10px 12px;
						border-radius: 0;
						font-weight: bold;
						&:hover,&:focus{
							color: #fff;
							outline: none;
							box-shadow: none;
						}
					}
				}
			}
		}
		ul.nav-page{
			@media (min-width: 535px){
				text-align: right;
			}
			@media screen and (max-width: 767px){
				margin: 15px 0;
			}
			li{
				display: inline-block;
				@media screen and (max-width: 767px){
					width: 70px;
					font-size: 11px;
					padding: 10px 0;
				}
                @media screen and (max-width: 767px) and (orientation:portrait){
                    width:23%;
                    text-align: justify;
                    &:nth-child(4n+1){
                        text-align: left;
                    }
                    &:nth-child(4n){
                        text-align: right;
                    }
                }
				@media (min-width: 768px) and (max-width: 991px){
					padding: 10px 0 10px 6px;
				}
				&:last-child{
					padding-right: 0;
				}
			}
		}
	}
	ul.nav-page{
			margin-bottom: 24px;
			li{
				display: inline-block;
				padding: 0 9px;
                font-size: 12px;
				@media (max-width: 767px){
					padding-right: 0;
				}
				a{
					color: #fff;
					text-decoration: none;
					@media (min-width: 768px){
						font-size: 12px;
					}
					&:hover{
						color: #fff;
					}
					&:focus{
						outline: none;
					}
					img{
						width: 16px;
						height: 16px;
					}
				}
			}
		}
		.sgst-ftr-logo{
			.copyright{
				position: relative;
				@media (min-width: 992px){
					height: 37px;
				}
				small{
					a{
						color: #fff;
						&:hover,&:focus{
                            text-decoration: underline;
                        }
					}
					font-size: 12px;
					@media(min-width: 992px){
						position: absolute;
						bottom: 0;
					}
				}
			}
			.regis-logo{
				@media(min-width: 768px) and (max-width: 991px){
					height: 40px;
				}
				a{
					@media(min-width: 768px) and (max-width: 991px){
						position: relative;
						bottom: -14px;
					}	
				}
			}
		}
    .footer-well{
        p.error-msg{
			color:#fff;
        }
    }
}

//for back to top functionailty
.bt-mob{
    display:none;
}

#back-to-top.show {
    opacity: 1;
    visibility: visible;
}

#back-to-top {
    position: fixed;
    bottom: 40%;
    right: 0;
    z-index: 99;
    background-color: #4c6f7a;
    color: #fff;
    width: 70px;
    height: 60px;
    text-align: center;
    padding-bottom: 12px;
    text-decoration: none;
    transition: opacity .2s ease-out;
    opacity: 0;
    visibility: hidden;
    @media(max-width:768px){
        width: 100%;
        right: 0;
        bottom:0;
        background-color: rgba(76,111,122,0.5);
    }
    figure{
        margin:0;
        img{
            margin-top: 9px;
            margin-bottom: 9px;
            height: 20px;
        }
         figcaption{
            font-size: 10pt;
            line-height: 12px; 
        }
    }
}


.footer {
	background-color: #f6f6f6;
	.footer-bottom {
		padding: 70px 0 20px;
		.bottom-logo {
			padding-left: 42px;
			float: left;
			img {
				height: auto;
			}
			p {
				margin-top: 10px;
				margin-bottom: 0;
				font-family: Roboto;
				font-size: 11px;
				font-weight: 300;
				font-style: normal;
				font-stretch: normal;
				line-height: normal;
				letter-spacing: normal;
				color: #1d1d1d;
			}
		}
		.bottom-links {
			float: right;
			a {
				margin-right: 42px;
				font-family: Roboto;
				font-size: 18px;
				font-weight: 500;
				font-style: normal;
				font-stretch: normal;
				line-height: normal;
				letter-spacing: normal;
				text-align: right;
				color: #1d1d1d;
                @media (min-width:768px) and (max-width: 1023px) { 
                  margin-right: 12px;
				  font-size: 12px;
                }
                @media (min-width: 1024px) and (max-width: 1200px) { 
                  margin-right: 20px;
				  font-size: 18px;
                }
			}
		}
	}
}

@media (max-width:767px) {
	.footer {
	    padding: 0;
		.footer-bottom {
			padding: 40px 0 30px 0;
			.bottom-links {
				padding: 20px 0;
				float: none;
				margin: 0;

				a {
		         	margin: 0 60px 30px;
                    font-size: 22px;
					&:nth-last-child(1) {
						margin-bottom: 0;

					}
					display: block;
					text-align: center;
				}
			}
			.bottom-logo {
				margin: 40px 60px 0;
				text-align: center;
				float: none;
				padding: 0;
				p {
                font-size: 13px;
				}
			}

		}
	}
}
