.ff-container .ff-canvas.ff-responsive,
.ff-container.ff-responsive,
.ff-container.ff-responsive .ff-canvas-ready,
.ff-container.ff-responsive .ff-image {
    display:table;
}

.ff-container {
    display:table;
	width:100%;
    position: relative;

}

.ff-container .ff-image {
    z-index: 0;
    vertical-align: top;
    background: rgba(0, 0, 0, .5);
    opacity: 0
}

.ff-container .ff-image.ff-image-ready {
    opacity: 1
}

.ff-container .ff-canvas {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 1;
    vertical-align: top;
    opacity: 0
}

.ff-container .ff-canvas.ff-canvas-ready {
    transition: opacity .3s;
    opacity: 1
}

.ff-container .ff-canvas.ff-canvas-active {
    transition: none;
    opacity: 0
}
.button-container{
    text-align: center;
    }