
#genericform {
    margin: 10px 0 0 30px;
    overflow: hidden;
}
.form-group {
    margin-bottom: 15px;
    label {
        margin-right: 15px;
        display: inline-block;
        width: 18%;
        text-align: right;
    }
}
.text {
    .form-group {
        padding-right: 30px;
        label {
            text-align: right;
            color: #545454;
            font-size: 16px;
            font-weight: normal;
            display: inline-block;
            width: 18%;
            margin-right: 20px;
            line-height: 1;
            vertical-align: middle;
        }
        input {
            display: inline-block;
        }
        ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
              font-family: Roboto;
              font-size: 18px;
              font-weight: normal;
              font-style: normal;
              font-stretch: normal;
              line-height: normal;
              letter-spacing: 0.2px;
              color: #545454; /* Firefox */
        }
        :-ms-input-placeholder { /* Internet Explorer 10-11 */
              font-family: Roboto;
              font-size: 18px;
              font-weight: normal;
              font-style: normal;
              font-stretch: normal;
              line-height: normal;
              letter-spacing: 0.2px;
              color: #545454; 
        }

        ::-ms-input-placeholder { /* Microsoft Edge */
              font-family: Roboto;
              font-size: 18px;
              font-weight: normal;
              font-style: normal;
              font-stretch: normal;
              line-height: normal;
              letter-spacing: 0.2px;
              color: #545454; 
        }
        .error-msg {
            margin-left: 22%;
        }
        &.has-success {
            textarea {
                &.form-control{
                    border-color: #ededed;
                }
            }
        }
    }
    .gffTextBox{
        width: 50%;
        max-width: 450px;
        display: block;
        height: 40px;
        padding: 6px 12px;
        font-size: 18px;
        line-height: 1.42857143;
        background-color: #fcfcfc;
        border: solid 1px #ededed;
        background-image: none;
        color: #1d1d1d;
        font-weight: 500;
        &:focus {
            border: solid 2px #1d1d1d;
            outline: none;
        }
    }
}
textarea {
    &.form-control {
        background-color: #fcfcfc !important;
        border: solid 1px #ededed;
        width: 50%;
        max-width: 450px;
        color: #1d1d1d !important;
        font-size: 18px;
        display: inline-block;
        vertical-align: middle;
        margin-bottom: 0;
        font-weight: 500;
        &:focus {
            border: solid 2px #1d1d1d;
            outline: none;
        }

        &::-webkit-input-placeholder {
              color:     #545454 !important;
        }

        &:-moz-placeholder {
              color:      #545454 !important;
        }

        &:-ms-input-placeholder  {
              color:    #545454 !important;
        }
    }
}


.radio{
    margin: 0 0;
    .radio-label {
        padding: 10px 0 5px 0;
        font-weight: bold;
    }
    .form-group {
        margin-bottom: 10px;
        &.has-error {
            .checkbox-inline {
                color: #545454;
            }
            .checkbox {
                .checkbox-label {
                    color: #545454;
                }
            }
        }
        &.has-success {
            .checkbox-inline {
                color: #545454;
            }
            .checkbox {
                .checkbox-label {
                    color: #545454;
                }
            }
        }
        .checkbox {
            .checkbox-label {
                padding:0 0 5px 0;
                font-weight: bold;
                text-transform: uppercase;
                .css-label {
                    background-image: url(../../clientlibs/regiscorp-publish-clientlibs/resources/images/checkbox-unchecked.png);
                    padding-left: 26px;
                    vertical-align: middle;
                    height: 26px;
                    border: solid 1px #e0e0e0;
                    display: inline-block;
                    line-height: 32px;
                    background-repeat: no-repeat;
                    background-position: 0 -1px;
                    font-size: 18px;
                    width: auto;
                    cursor: pointer;
                    background-size: 100%;
                    &:focus {
                        border: solid 2px #1d1d1d;
                        outline: none;
                    }
                }
                .css-checkbox:checked {
                    +span.css-label {
                        background-image: url(../../clientlibs/regiscorp-publish-clientlibs/resources/images/checkbox.png) !important;
                    }
                }
            }
        }
        .checkbox-inline {
            font-weight:bold;
            input{
                margin-top: 0px;
            }
        }
    }
}
.dropdown {
    .form-control {
        width: 48%;
        max-width: 450px;
        display: inline-block;
        padding: 0 12px;
        font-size: 18px;
        font-weight: normal;
        line-height: 1.42857143;
        color: #545454 !important;
        background-color: #fcfcfc !important;
        border: 1px solid #ededed !important;
        font-weight: 500;
        text-transform: uppercase;
        &:focus {
            border: solid 2px #1d1d1d !important;
            outline: none;
        }
   }
    .has-error {
        .form-control {
            border: solid 2px #ff6b7c !important;
        }
    }
    .dropdowncolor {
        color: #1d1d1d !important;

    }
   .form-group{
     .error-msg {
            margin-left: 21%;
        }
    }
}
select{
    &.form-control {
        background: url("../../clientlibs/regiscorp-publish-clientlibs/resources/images/icon-desktop-dropdown-collapsed.png") 96% no-repeat !important;
    }
}
.submit {
    clear: both;
    padding-top: 10px;
    #cta-submit-button {
        width: 52%;
        max-width: 125px;
        margin-left: 44.5%;
        display: block;
        line-height: 1.42857143;
        color: #28323a;
        padding: 12px 16px;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 14px !important;
        letter-spacing: 1px;
        background-color: #fff;
        &:hover {
            background-color: #9df1ff;
        }
    }
}
@media (max-width : 767px) {
    #genericform {
        margin: 10px 0 0 10px;
    }
    .form-group {
        margin-bottom: 0;
        label {
            width: 100%;
            text-align: left;
        }
    }
    .text {
        .form-group {
            padding-right: 10px;
            width: 100%;
            text-align: left;
            .error-msg {
                margin-left: 0%;
            }
            label {
                width: 100%;
                text-align: left;
            }
        }
        .gffTextBox {
            width: 100%;
            max-width: 450px;
        }
    }
    textarea {
        &.form-control {
            width: 100%;
        }
    }
    .dropdown {
        .form-group {
            padding-right: 10px;
            .error-msg {
                margin-left: 0;
            }  
        }

        .form-control {
            width: 100%;
        }
    }
    .submit {
        clear: both;
        padding-top: 10px;
        #cta-submit-button {
            width: 100%;
            margin-left: 35%;
            margin: 0 auto;
        }
    }
}
@media (min-width: 768px)and( max-width: 1300px) {
    .form-group {
        label {
            width: 18%;
        }
   }
    .text {
        .form-group {
            padding-right: 30px;
            label {
                width: 18%;
            }
            .error-msg {
                margin-left: 21.5%;
            }
        }
    }
  .submit {
     #cta-submit-button {
            margin-left: 40.5%px;
        }
    }
}
@media (min-width: 768px)and( max-width: 1024px) {
    .dropdown{
        .form-control {
            width: 48%;
        }
    }
    .submit {
     #cta-submit-button {
            margin-left: 37%;
        }
    }
    .acs-commons-resp-colctrl-col-50 {
        margin-bottom: 0;
    }
        .text {
        .form-group {

            label {
                margin-bottom: 0;
            }
           .error-msg {
                margin-left: 21.5%;
           }
        }
    }
}


