* {
    box-sizing: border-box;
}

body {
  margin: 0;
}

.navbar {
  background-color:white;

}
.no-scroll {
  overflow: hidden;
  position: fixed;
  width: 100% !important;
}


.navbar a img{
width:350px;
margin:10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
      width: 100%;
      height: auto;
  }
}

body {
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  position: absolute;
  width: 100%;
  font-size: 16px;
}

/* first stage */
@media(min-width:768px){
nav > ul {
  position: relative;
  display: flex;
  justify-content: flex-end;
  margin: 0 auto;
  padding: 0;
    padding-top: 10px;
}
}
nav a {
  display: block;
  color: #fff;
  text-decoration: none;
}

nav ul li {
  color: #fff;
  list-style: none;
  transition: 0.5s;
}

nav > ul > li > a {
  padding: 15px 25px;
    margin-right: 30px;
    color: #1d1d1d;
    padding-left:5px;
}

nav ul > li.submenu > a:after {
/*   position: relative;
  float: right;
  content: '';
  margin-left: 10px;
  margin-top: 8px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #fff;
  border-bottom: 5px solid transparent; */
}

nav ul > li.submenu:hover > a:after {
/*   margin-top: 2px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid #fff; */
}

nav > ul > li:hover {
/*   background: #4096ee; */
}

/* second stage (the mega-menu) */

nav ul.megamenu {
position: absolute;
display: none;
flex-wrap: wrap;
width: 100%;
top: -9999px;
left: -1px;
padding: 4% 12%;
padding-top: 10px;
background: #231f20;
text-align: left;
box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
z-index: 1;
margin: 0 auto;
}

nav ul li:hover ul.megamenu {
  top: 100%;
  display: flex;
}
nav ul li a + ul.megamenu.expanded {
  top: 100%;
  display: flex;
}
nav ul li:hover a.headerLinks{
  text-decoration: underline !important;
  font-weight: bolder;
}
/* third stage (child-menus in the mega-menu) */

nav ul.megamenu ul {
  margin-bottom: 40px;
  color: #fff;
  box-shadow: none;
  margin: 0 auto;
}
nav ul.megamenu ul.col-md-3{
  width:33.3%;
}

nav ul.megamenu h4 {
  margin-bottom: 15px;
  text-transform: uppercase;
}

nav ul.megamenu ul li {
  display: block;
  padding:30px;
}

nav ul.megamenu ul li a {
  margin-top: -4px;
  transition: 0.5s;
  color: #fff !important;
  font-size: 18px;
  letter-spacing: 0.3px;
}


nav ul.megamenu ul li a:hover {
 text-decoration: underline;
 color: #fff !important;
}
.fa-navicon:before, .fa-reorder:before, .fa-bars:before {
  content: "\f0c9";
  font-size: 35px;
  color: #231f20;
}
.navbar a {
float: left;
font-size: 20px;
font-weight: 500;
font-style: normal;
font-stretch: normal;
line-height: normal;
letter-spacing: 0.6px;
color: #1d1d1d !important;

}
.navbar a:active{
  text-decoration: underline;
  font-weight: bolder;
  color: #1d1d1d !important;
}
.navbar a:hover{
  text-decoration: underline;
  color: #1d1d1d !important;
  font-weight: bolder;
}
a.headerLinks:visited {
  text-decoration: underline;
  color: #1d1d1d !important;
  font-weight: bolder;
}
#homePage_logo h1 a{
  background: url(../../clientlibs/regiscorp-publish-clientlibs/resources/images/regis-corp-logo-color-light.svg) no-repeat;
    width: 275px;
    margin: 30px;
    height: 20px;
    background-size: contain;
  position: relative !important;
    z-index: 2;
    font-size: 0px;
     background-position: 0px !important;
}
#homePage_logo  a{
  background: url(../../clientlibs/regiscorp-publish-clientlibs/resources/images/regis-corp-logo-color-light.svg) no-repeat;
     width: 275px;
    margin: 30px;
    height: 20px;
    background-size: contain;
  position: relative !important;
    z-index: 2;
}
.searchmegamenu{
  background: url(../../clientlibs/regiscorp-publish-clientlibs/resources/images/search.svg) no-repeat;
box-shadow: none;
  border: 0;
  padding: 20px 25px;
      margin-top: 17px;
  margin-left: 45px;
}
@media(min-width:1024px) and (max-width:1300px){
    nav > ul > li > a {
  padding: 15px !important;
    margin-right: 0px !important;
    color: #1d1d1d;
}
}
@media(min-width:768px) and (max-width:968px){

  .searchmegamenu{
    margin-top: 7px !important;
  }
}
@media(min-width:768px) and (max-width:1024px){
  nav ul.megamenu {
    padding: 4% 8%;
  }
  nav ul.megamenu ul li a {
    font-size: 16px;
    letter-spacing: 0.3px;
}
  #homePage_logo h1 a{
   background: url(../../clientlibs/regiscorp-publish-clientlibs/resources/images/regis-corp-logo-color-light.svg) no-repeat;
  width: 185px;
  background-size: contain;
      margin-left: 10px !important;
        margin-top: 26px;

}
#homePage_logo  a{
  background: url(../../clientlibs/regiscorp-publish-clientlibs/resources/images/regis-corp-logo-color-light.svg) no-repeat;
 width: 185px;
 background-size: contain;
    margin-left: 10px !important;
    margin-top: 26px;

}
  nav > ul > li > a {
  padding: 10px;
  margin-right: 0px;
  color: #1d1d1d;
}
  .searchmegamenu {
  background: url(../../clientlibs/regiscorp-publish-clientlibs/resources/images/search.svg) no-repeat;
  box-shadow: none;
  border: 0;
  padding: 20px 25px;
  margin-top: 15px;
  margin-left: 10px;
}
  .navbar a{
      text-align:left !important;
      font-size: 16px;
      letter-spacing: 0.3px;

  }
}
input[type=search]{
  background: transparent;
  border: 1px solid #fff;
  width: 250px !important;
  height: 51px;
}
@media(max-width:520px){
  input[type=search]{
  width: 205px !important;
}
}
.input-group-addon{
  border: none !important;
  background: transparent;
  border-radius:0 !important;

}
.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
    width:250px;
    padding-top: 30px;
}
@media(max-width: 440px){
  .input-group{
    padding: 20px;
    padding-top: 0px;
  }

}
.input-group-btn{
    display:table-cell;
        position: relative;
    width: 1% !important;
    white-space: nowrap !important;
    vertical-align: middle !important;

}
.input-group-btn .btn{
    border: 1px solid #fff !important;
     background:transparent !important;
}
.input-group-btn .btn-default:hover{
  color:#fff !important;
}
#homePage_logo h1{
  font-size: 0px !important;
  margin: 0px !important;
}
.form-control::-webkit-input-placeholder {
  color: #f6f6f6 !important;
}
.form-controlinput::-moz-placeholder {
  color: #f6f6f6 !important;
}
.form-control{
  background-color: transparent !important;
  color: #f6f6f6 !important;
}
.quick-link-title{
  font-size: 20px;
    padding-top: 30px;
    margin-bottom: -20px;
}
@media(max-width:451px){
    .quick-link-title{
 text-indent: 20px;
        margin-bottom: 0px;
        padding-top: 0px;
        background: #000;
    }
}
@media(max-width:768px){
  .input-group {
 margin: 0 auto;
}
}

 @media screen and (max-width: 768px)
    {
        .collapsing
        {
            position: absolute !important;
            z-index: 20;
            width: 100%;

        }
        .collapse.in {
            display: block;
            position: absolute;
            z-index: 20;
            width: 100%;

        }
        .collapse.in .collapse.in{
          position: relative !important;
           overflow-y: scroll !important;
          height: auto;
      }
      .dropdown-container{
             overflow-y: scroll !important;
         }

    }
    .navbar-nav{
      background-color: #141414;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
     overflow-y: hidden !important;
  }
  @media(max-width:767px){
    #searchDropdown a{
      padding-left:40px;
    }
      ul.navbar-nav.col-sm-12 li a {
        background: #000 !important;
      }
      .row.search-wrapper {
      padding-top: 16px;
      background: #000;
   }
   .dropdown-container li a{
      padding-left:40px;
      font-size: 18px !important;
  letter-spacing: 0.3px !important;
  box-shadow: 2px 1px 1px 1px rgb(72, 72, 72);
    }
      .navbar{
          padding-top: 8px !important;
          padding-bottom: 8px !important;
      }
    .navbar-collapse{
      padding-left: 0px !important;
      padding-right: 0px !important;
    }
    .navbar a:active{
      text-decoration: none !important;
      font-weight: bolder;
      color: #fff !important;
    }
    .navbar a:hover{
      text-decoration: none !important;
      font-weight: bolder;
      color: #fff !important;
    }
    .navbar a:visited{
      text-decoration: none !important;
      font-weight: bolder;
      color: #fff !important;
    }
    .searchmegamenu {
    background: url(../../clientlibs/regiscorp-publish-clientlibs/resources/images/search.svg) no-repeat;
    box-shadow: none;
    border: 0;
    padding: 16px !important;
  margin-left: 0px !important;
    float: right !important;
    margin-right: 12px !important;
    margin-top: 2% !important;
  }
    .navbar-collapse.in {
    overflow-y: visible !important;
  }
    nav ul li {
    color: #fff;
    list-style: none;
    transition: 0.5s;
    padding-left: 0px;
    background: #000000;
  }
  nav ul li:active{
    background-color: #212121 !important;
    box-shadow:  2px 1px 1px 1px rgb(72, 72, 72) !important;
  }
  nav ul li:hover{
    background-color: #212121 !important;
    box-shadow: 0 2px 0 0 rgba(72, 72, 72, 0.5) !important;
  }
  nav ul li:active li{
    background-color: #171717;
      box-shadow: 0 2px 0 0 rgba(72, 72, 72, 0.5) !important;
  }

    #mobilelogo{
     background: url(../../clientlibs/regiscorp-publish-clientlibs/resources/images/regis-corp-logo-color-light.svg) no-repeat;
    width: 200px !important;
    display: inline-block !important;
    background-size: 100%;
        height:30px !important;
        margin: 0px !important;
        margin-left:15px !important;
        position: relative;
      z-index: 2;
      font-size: 0px !important;
          box-shadow: none !important;

  }
  a#mobilelogo {
      position: absolute !important;
      top: 20px !important;
  }
  .navbar {
    color: #fff ;
    margin-bottom: 0px !important;
  }
  .navbar-toggler.toggler-example {
  cursor: pointer;
  margin-left: 10px;
  width: 25px;
  background: url(../../clientlibs/regiscorp-publish-clientlibs/resources/images/hamburger.svg) no-repeat;
  border: none !important;
  height: 19px;
          margin-top:10px;
  }

  .navbar-nav > li:first-child > a {
    background:none !important;

  }
    .navbar-nav > li > a.nav-link {
      text-indent: 30px;
    background: url(../../clientlibs/regiscorp-publish-clientlibs/resources/images/Regiscorp_down_arrow.svg)  no-repeat 92% 50%;
    background-size: 17px;
    padding-top: 25px;
  padding-bottom: 25px !important;
  color: #fff !important;


  }
      .navbar-nav > li > a.nav-linkOn  {

    background: url(../../clientlibs/regiscorp-publish-clientlibs/resources/images/Regiscorp_up_arrow.svg)  no-repeat 92% 50%;
    background-size: 17px;
    color: #fff !important;

}

 .navbar-nav > li > a.nav-link-withoutarrow {
    text-indent: 30px;
 
  background-size: 17px;
  padding-top: 25px;
padding-bottom: 25px !important;
color: #fff !important;
  background-color: #000000;


}
  
.navbar-nav {
margin: 7.5px -2px !important;
background: #231f20;
}
.navbar a {
  float: none !important;
  font-size: 22px !important;
  color: #fff !important;
  letter-spacing: 0.4px !important;
  text-align: left !important;
  text-decoration: none;
  padding: 15px 0px;
  background-color: #171717;
  padding-top: 18px;
padding-bottom: 18px !important;
}
.navbar div#homePage_logo  img{
width:250px;
height:30px;
margin: 0px;
margin-left: 6%;
  margin-bottom: 6%;
}
.navbar a img{
width:230px;
margin:10px;
}
}
@media(min-width:768px){
  nav ul li:nth-of-type(1){
    padding-left:200px;
  }
}

