.container{
	font-family: Roboto;
}
.specialOffers-container {
	margin-bottom: 0px;
	}
 .specialOffers-container .hero-image {
	position: relative;
	margin: 0px;
	background: #000;
	}
	.specialOffers-container .hero-image img {
		width: 100%;
	}
   .specialOffers-container .imghoverclass:hover .btn-default{
	   background-color: #9df1ff;
	   color: #000;
	}
	@media (max-width: 768px) {
		.specialOffers-container  a.btn.btn-default {
			font-size: 20px !important;
			margin-top: 22px;
			margin-right:10px;
		}
	.specialOffers-container .hero-image .offers-container {
		padding-top: 12px;
	}
	.specialOffers-container .hero-image .offers-container .details {
		padding-top: 24px;
		padding-bottom: 30px;
	}
	}
	@media (min-width: 768px) {
	.specialOffers-container .hero-image .offers-container {
		position: absolute;
		left: 100px;
		top: 100px;
		width: 400px;

	}
	}
	.specialOffers-container .hero-image .offers-container .title1 {
	  /*font-family: Roboto-Regular;*/
		font-size: 32px;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		line-height: 42px;
		letter-spacing: 0.7px;
		color: #ededed;
	}
	.specialOffers-container .offers-container .title1 {
		/*font-family: Roboto-Regular;*/
		  font-size: 32px;
		  font-weight: normal;
		  font-style: normal;
		  font-stretch: normal;
		  line-height: 42px;
		  letter-spacing: 0.7px;
		  color: #ededed;
	  }
	@media (max-width: 768px) {
	.specialOffers-container .title1 {
		margin: 0px;
		padding: 0px;
		font-size: 26px;
		font-weight: normal;
		  font-style: normal;
		  font-stretch: normal;
		  line-height: 42px;
		  letter-spacing: 0.7px;
		  color: #ededed;
		  margin-top: -10px;
	}
	}
	.specialOffers-container .hero-image .offers-container .title2 {
		font-size: 36px;
		font-weight: bold;
		line-height: 42px;
		color: #ffffff;
		margin-bottom: 30px;

		/*font-family: Roboto-Bold;*/
	}
	.specialOffers-container .offers-container .title2 {
		font-size: 36px;
		font-weight: bold;
		line-height: 42px;
		color: #ffffff;
		margin-bottom: 30px;
		/*font-family: Roboto-Bold;*/
	}
	@media (max-width: 768px) {
	.specialOffers-container .title2 {
		font-size: 30px;
		color: #fff !important;
		font-weight: bold;
		margin-top: -10px;
	}
	}
	.specialOffers-container .hero-image .offers-container .description {
	padding: 24px 0;
	}
	.specialOffers-container .product-container {
	margin: 0px 0;
	}
	.specialOffers-container .product-container .divider img{
		width: 100%;
	}
	.specialOffers-container .product-container .image-container .title {
	margin: 20px 0 0;
	}
	.specialOffers-container .product-container .image-container .title .title1 {
	font-size: 36px;
	}
	.specialOffers-container .product-container .image-container .title .title2 {
	color: #000;
	font-size: 30px;
	}
	.specialOffers-container .product-container .image-container .description {
	margin: 36px 0;
	}
	.specialOffers-container .offers {
	padding: 25px 0;
	border: 4px solid #727173;
	border-width: 4px 0;
	text-align: center;
	}
	@media (min-width: 768px) {
	.specialOffers-container .offers {
		width: 65%;
		margin: auto;
	}
	}
	.specialOffers-container .offers .title {
	margin: 0;
	}
	.specialOffers-container .offers .title .title1 {
	line-height: 50px;
	}
	.specialOffers-container .offers .description {
	margin: 20px 0;
	}
	.specialOffers-container .offers-btn {
	border: 2px solid #727173;
	}
	@media (max-width: 767px) {
	.specialOffers-container .offers-btn {
		margin-top: 12px;
		margin-bottom: 30px;
		width: 100%;
	}
	}
	.specialOffers-container .offers-btn:hover,
	.specialOffers-container .offers-btn:focus {
	background: none;
	box-shadow: none;
	outline: none;
	}
	@media (min-width: 768px) {
	.specialOffers-container .display-table {
		display: table;
		width: 100%;
		table-layout: fixed;
		background: #000;
	}
	}
	@media (min-width: 768px) and (max-width:1024px) {
	.specialOffers-container .display-table .table-cell {
		display: table-cell;
		vertical-align: middle;
		float: none;
		width:inherit;
	}

	.specialOffers-container .display-table .table-cell img{

	}
	.specialOffers-container .hero-image img {

		}
		.divider .offers-container{
			position:absolute;
			right:20% !important;
			font-size:40px;
			color:#fff;
			top:20% !important;
	}
	}
	.divider .offers-container{
		position:absolute;
		right:90px;
		font-size:40px;
		color:#fff;
		top:100px;
}
.text-left{
	text-align: left !important;
}
.text-right{
	text-align: right !important;
}
.media{
	margin-top:0px;
	position: relative;

}
.media img{
	width:100%;
}
.media .img-desc{
	background: #28323a !important;
		text-align: center;
		font-weight: 600;
		font-size: 19px;
		opacity: .9;
		letter-spacing: 2px;
		position: absolute;
		bottom: 0;
		width: 100%;
	margin-bottom: 0;
	height:110px;

}
.media .img-desc .col-xs-6{
	padding: 22px 30px;
	text-align: left;
	padding-right: 0px;
	padding-left: 15px;
}
.media .img-desc .col-xs-5{
	padding: 28px 22px;
	padding-left: 0px;
}
.media .img-desc h3{
	color: #fff;
	padding-right:50px;
}
@media(min-width:768px) and (max-width:1024px){
	.specialOffers-container .hero-image .offers-container {
	  top: 50px;

  }
}
@media(min-width: 768px){
	a.btn.btn-default {
		height: 45px;
		padding: 7px 16px;
	}

}
.hero-image a{
text-decoration:none !important;
}
.divider a{
text-decoration:none !important;
}
