.investor-service-wrapper {
    margin: 20px 0 0;
    overflow: hidden;
    .b2iform {
        #b2iProfileSignUpFound {
            text-align: center;
            #B2iSavedEmail {
                margin-bottom: 10px;
                #b2iNotMe {
                    line-height: 1.42857143;
                    color: #28323a;
                    padding: 12px 16px;
                    text-transform: uppercase;
                    font-weight: bold;
                    font-size: 14px !important;
                    letter-spacing: 1px;
                    background-color: #fff;
                    -webkit-appearance: none;
                    border: 2px solid #9df1ff;
                    width: auto;
                    height: auto;
                    &:hover {
                        background-color: #9df1ff;
                    }
                    &:focus {
                        outline: -webkit-focus-ring-color auto 5px !important;
                    }
                }
            }
        }
        #b2iProfileSignUp{
            text-align: center;
            .b2iProfileSignupRow b2iFormRow {
                margin-bottom: 15px;
            }
            .b2iFormLabel {
                text-align: right;
                color: #545454;
                font-size: 16px;
                font-weight: normal;
                display: inline-block;
                width: 8%;
                margin-right: 20px;
            }
            input {
                width: 50%;
                max-width: 450px;
                display: inline-block;
                height: 40px;
                padding: 6px 12px;
                font-size: 18px;
                line-height: 1.42857143;
                background-color: #fcfcfc;
                border: solid 1px #ededed;
                background-image: none;
                color: #1d1d1d;
                font-weight: 500;
                &:focus {
                    border: solid 2px #1d1d1d;
                    outline: none;
                }
            }
        }
            .b2iProfileSignupRow {
                margin-bottom: 15px;
                .a-input-select {
                    width: 31.7%;
                    padding: 0 12px;
                    font-size: 18px;
                    font-weight: normal;
                    line-height: 1.42857143;
                    color: #1d1d1d !important;
                    background-color: #fcfcfc !important;
                    border: 1px solid #ededed !important;
                    font-weight: 500;
                    text-transform: uppercase;
                    height: 40px;
                    -webkit-appearance: none;
                    border-radius: 0;
                    background: url(../../images/icon-desktop-dropdown-collapsed.png) 96% no-repeat 

                }
            }
            .b2iFormLabel {
                text-align: right;
                color: #545454;
                font-size: 16px;
                font-weight: normal;
                display: inline-block;
                width: 8%;
                margin-right: 20px;
            }
            input {
                width: 50%;
                max-width: 450px;
                display: inline-block;
                height: 40px;
                padding: 6px 12px;
                font-size: 18px;
                line-height: 1.42857143;
                background-color: #fcfcfc;
                border: solid 1px #ededed;
                background-image: none;
                color: #1d1d1d;
                font-weight: 500;
                &:focus {
                    border: solid 2px #1d1d1d;
                    outline: none;
                }
           }
        label {
            width: 12%;
            text-align: left;
            color: #545454;
            font-size: 16px;
            font-weight: normal;
            display: inline-block;
            margin-right: 20px;
        }
        .b2iProfileCheckbox{
            float: right;
            width: 32px;
        }
        #b2iProfileSubmit {
            margin-left: 10%;
            height: auto !important;
            width: auto !important;
            line-height: 1.42857143;
            color: #28323a !important;;
            padding: 12px 16px !important;
            text-transform: uppercase;
            font-weight: bold !important;
            font-size: 14px !important;
            letter-spacing: 1px;
            background-color: #fff;
            -webkit-appearance: none;
            border: 2px solid #9df1ff !important;
            &:hover {
                background-color: #9df1ff;
            }
            &:focus {
               outline: -webkit-focus-ring-color auto 5px !important;
            }
        }
        .b2iProfileListText {
            margin-left: 29.5%;
        }
    }
    #B2iSaveReturn {
        color: #ff6b7c;
        margin-left: -12%;
        margin-top: 10px;
    }

}
@media (max-width: 767px) {
    .investor-service-wrapper {
        margin: 20px 10px 0 10px;
        .b2iform {
            #b2iProfileSignUp{
                .b2iFormLabel {
                    width: 100%;
                    text-align: left;
                }
                input {
                    width: 100%;
                }
            }
                .b2iFormLabel {
                    width: 100%;
                    text-align: left;
                }
                input {
                    width: 100%;
                }
                .b2iProfileSignupRow {
                    .a-input-select {
                        width: 100%;
                    }
                }
            #b2iProfileSubmit{
                margin-left: 0%;
            }
            label {
                width: auto;
            }
            .b2iProfileListText{
                margin-left: 0;
                margin-bottom: 20px;
            }
            #B2iSaveReturn {
                margin-left: 0;
                text-align: left;
            }
        }
    }
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    .investor-service-wrapper {
        .b2iform {
            #b2iProfileSignUp {
                .b2iFormLabel {
                    width: 15%;
                }
            }
            label {
                width: 19.5%;
            }
                .b2iFormLabel {
                    width: 15%;
                }
                .b2iProfileSignupRow {
                    .a-input-select {
                        width: 50%;
                    }
                }
            #b2iProfileSubmit {
                margin-left: 17%;
            }
            .b2iProfileListText{
                margin-left: 18.5%;
            }
            #B2iSaveReturn {
                margin-left: -13%;
            }
        }
    }
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    .investor-service-wrapper {
        .b2iform {
            #b2iProfileSignUp {
                .b2iFormLabel {
                    width: 12%;
                }
            }
                .b2iFormLabel {
                    width: 12%;
                }
                .b2iProfileSignupRow {
                    .a-input-select {
                        width: 44% !important;
                    }
                }
            label {
                width: 15% !important;
            }
            .b2iProfileListText {
                margin-left: 24.5% !important;
                width: 14.5% !important;
            }
            #b2iProfileSubmit {
                margin-left: 18%;
            }
            #B2iSaveReturn {
                margin-left: -13% !important;
            }
        }
    }
}
@media (min-width: 1024px) and (max-width: 1366px) and (orientation : portrait){
    .investor-service-wrapper{
            .b2iform {
                label {
                    width: 14.5%;
                }
                    .b2iProfileSignupRow {
                        .a-input-select {
                            width: 44%;
                        }
                    }
                .b2iProfileListText {
                    margin-left: 24.5%;
                }
                #B2iSaveReturn {
                    margin-left: -13%;
                }
            }
        }
    }
@media (min-width: 1024px) and (max-width: 1366px) and (orientation : landscape){
    .investor-service-wrapper {
        .b2iform {
            label {
                width: 11%;
            }
                .b2iProfileSignupRow {
                    .a-input-select {
                        width: 33%;
                    }
                }
            #B2iSaveReturn {
                margin-left: -13%;
            }
        }
   }
}
