.htmlcoder {
	h1 {
		padding: 0 6px;
	}
}

.non-gaap-wrapper {
	padding: 0 6px;
	@media (max-width: 767px){
		#b2iShowCasediv100 {
			.ShowCaseDivItem {
			height: 120px;
			}
		}
    }
	.ShowCaseDivItem {
		display: inline-block;
		width: 32.50%;
		background-color: #ffffff;
		border: solid 1px #ededed;
		height: 100px;
		position: relative;
		margin: 0 4px 12px;
		padding: 10px 30px 10px;
		&:hover {
			box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.1);
			border: solid 1px #cfcfcf;
		}
        .ShowCaseDivDate {
          padding-top: 0;
        } 
	}
	.ShowCaseDivLink {
            position: absolute;
            top: 50px;
            left: 70px;

		a {
			font-family: Roboto;
			font-size: 20px;
			font-weight: normal;
			font-style: normal;
			font-stretch: normal;
			line-height: 1.4;
			letter-spacing: normal;
            color: #148194;

		}
	}
	.ShowCaseDivIcon {
		position: absolute;
		top: 50px;
	}
	#b2iShowNav {
		margin-top: 40px;
		text-align: center;
		font {
			font-family: Roboto;
			font-size: 20px;
			font-weight: normal;
			font-style: normal;
			font-stretch: normal;
			line-height: 1.45;
			letter-spacing: normal;
			color: #3e3c3c;
		}
		span {
            font-family: Roboto;
            font-size: 20px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.45;
            letter-spacing: normal;
            color: #3e3c3c;
        }
		a {
			font-family: Roboto;
			font-size: 20px;
			font-weight: normal;
			font-style: normal;
			font-stretch: normal;
			line-height: 1.45;
			letter-spacing: normal;
			text-align: center;
			color: #055867;
		}
	}
}

@media (min-width: 768px) and (max-width: 1023px) {
.non-gaap-wrapper {
	padding: 0 6px;
        .ShowCaseDivItem {
            width: 48.50%;

        }
    }
} 
@media (min-width: 1024px) and (max-width: 1366px) {
.non-gaap-wrapper {
	padding: 0 6px;
        .ShowCaseDivItem {
            width: 48.50%;
        }
    }
}

@media (max-width: 767px) {
	.non-gaap-wrapper {
		padding: 8px;

		.ShowCaseDivItem {
			width: 100%;
			margin: 0 0 8px 0;
		}
		#b2iShowNav {
			text-align: center;
			font {
				padding: 6px;
				font-size: 22px;
			}
			a {

				font-size: 22px;
			}
		}

	}
}