.press-release-wrapper {
    padding: 0 6px;
    margin-top: 10px;
    .b2iLibraryItem {
        background: #fff;
        width: 32.70%;
        padding: 20px 20px;
        height: 220px;
        position: relative;
        float: left;
        margin: 0 4px 12px;
        border: solid 1px #ededed;
        &:hover {
            box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.1);
            border: solid 1px #cfcfcf;
        }
    }
    .b2iLibraryItem {
        .b2iLibraryItemDate {
          position: absolute;
          bottom: 20px;
          font-family: Roboto;
          font-size: 16px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.81;
          letter-spacing: normal;
          color: #545454;
        }
       .b2iLibraryItemHeadline {
            a {
              font-family: Roboto;
              font-size: 20px;
              font-weight: normal;
              font-style: normal;
              font-stretch: normal;
              line-height: 1.4;
              letter-spacing: normal;              
            }
        }
    }

    #b2iLibNav {
		margin-top: 10px;
		text-align: center;
        float: left;
        width: 100%;
		span {
			font-family: Roboto;
			font-size: 20px;
			font-weight: normal;
			font-style: normal;
			font-stretch: normal;
			line-height: 1.45;
            letter-spacing: normal;
            margin-right: 10px;
		}
		a {
			font-family: Roboto;
			font-size: 20px;
			font-weight: normal;
			font-style: normal;
			font-stretch: normal;
			line-height: 1.45;
			letter-spacing: normal;
            text-align: center;
            color: #055867;
		}
	}
}
@media (min-width: 768px)and( max-width: 1300px) {
   .press-release-wrapper {
        .b2iLibraryItem {
            width: 48.9%;
           .b2iLibraryItemDate { 
              bottom: 10px;
           }   
        }
    }
}
@media (max-width: 767px) {
  .press-release-wrapper {
    padding: 8px;
    .b2iLibraryItem {
        width: 100%;
        margin: 0 0 10px 0;
        float: none;
       .b2iLibraryItemDate { 
          bottom: 10px;
       } 


    }
  }

}
@media (min-width: 320px) and (max-width: 374px) {
 .press-release-wrapper {

        .b2iLibraryItem {
            padding: 10px 10px;
            .b2iLibraryItemDate {
             bottom: 0;
            }
        }
    }
}

.press-release-wrapper {
    overflow: auto !important;
}


