.productbrowsersidenav {
	float: left;
	width: 100%;
	background-color: unset;
	padding-left: 30px;
}

.product-page {
	width: 100%;
	padding-right: 10px;
    @media (max-width: 767px) {
        padding-right: 0;
    }
	.filter-txt {
		cursor: pointer;
		padding: 10px 5px;
		color: #1e3e6e;
		font-weight: bold;
		img {
			padding-right: 10px;
			margin-left: 5px;
			height: 25px;
			width: 25px;
		}
	}
	.product-wrap {
		width: 100%;
		.h4,
		h4 {
			text-transform: uppercase;
			padding-left: 10px;
			display: block;
			color: #148194;
			a {
				padding: 0;
				display: inline-block;
				width: 100%;
				text-decoration: none;
				margin-left: 0;
				&:hover {
					text-decoration: underline;
				}
			}
			&.selected {
				background-color: #EDEDED;
				border-left: 5px solid #148194;
				padding: 5px 10px 5px 5px;
				color: #148194;
			}
		}
		ul {
			@media(max-width: 767px) {
				display:block !important;
			}
			li {
				width: 100%;
				cursor: pointer;
				font-family: Roboto;
				font-size: 16px;
				a {
					display: inline-block;
					padding: 5px 10px 5px 10px;
					width: 100%;
					text-decoration: none;
					&:hover {
						text-decoration: underline;
					}
					&.selected {
						background-color: #EDEDED;
						border-left: 5px solid #148194;
						padding: 5px 10px 5px 5px;
						color: #1e3e6e;
					}
				}
				&.selected {
					background-color: #EDEDED;
					border-left: 5px solid #148194;
					padding: 5px 10px 5px 5px;
					color: #148194;
				}
			}
		}
	}
	/*.media-banner{
		position:relative;
		img{
			position:absolute;
			width:100%;
			
		}
		.banner-cont{
			position:relative;
			padding:10px;
			text-align:center;
			h1{
				color:#fff;
				font-size:35px;
				margin-top:0;
				.h3{
					color:#fff;
					font-weight:normal;
					display:block;
					margin:0;
					letter-spacing:2px;
				}
			}
			p{
				display:none;
			}
			.btn{
				background-color:transparent;
				border-color:#fff;
				margin-top:0;
				font-size:16px;
			}
		}
	}*/
	.media-gallery {
		margin-top: 5ex;
		float: left;
		span.prod-info {
			width: 100%;
			padding: 0;
			float: left;
			img {
				width: 100%;
			}
			p.h3 {
				text-align: center;
				margin-top: 5px;
			}
		}
	}
}

@media(min-width:992px) {
	.product-page {
		width: 100%;
		.product-wrap {
			ul {
				margin-bottom: 35px;
			}
		}
		.media-gallery {
			span.prod-info {
				width: 48%;
				&:nth-child(2n+1) {
					margin-right: 1.4em;
				}
			}
		}
	}
}

@media(max-width:767px) {
	.productbrowsersidenav {
		width: 100%;
		margin-left: 0;
		padding: 10px;
	}
	.product-page {
		.product-dropdown {
			&.dropdown {
				button {
					background: url("../../images/icon-m-accordion-arrow-collapsed.svg") 96% no-repeat #fff!important;
				}
				&.open {
					button {
						background: url("../../images/icon-m-accordion-arrow-expanded.svg") 96% no-repeat #fff !important;
					}
				}
				ul {
					&.dropdown-menu {
						li {
							a {
								color: #148194;
							}
						}
						ul {
							&.list-unstyled {
								li {
									a {
										color: #148194;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}