.productbrowsersidenav{
    float:left;
    width:100%;
    }
    .product-list{
        overflow:hidden;
        .titlecontent{
            padding-right:0;
        }
        .col-md-12{
            padding-right:0;
        }
        h3.category-title{
            width:100%;
            border-bottom:2px solid #bebebe;
            padding-bottom:5px;
            font-size:22px;
        }
        h2.category-title{
            width:100%;
            border-bottom:2px solid #bebebe;
            padding-bottom:5px;
            font-size:22px;
        }
    }
    .product-list-wrap{
            padding-bottom:25px;
            padding-right:0;
            margin-top:5px;
            float:left;

            div.prod-info{
                width:100%;
                padding:0;
                margin-top:20px;
                float:left;
                min-height: 280px;

                a{
                    float:left;
                width:100%;
                }
                img{
                    width:100%;
                    border:1px solid #eaeaea;
                    margin-bottom:10px;
                    padding:10px;
                    &:hover{
                        background:rgba(232, 232, 232, .4);
                    }
                }
                p.h4{
                    text-align:center;
                    margin-top:5px;
                    width:100%;
                    float:left;
                                &:hover{
                                    text-decoration: underline;
                                }
                    a{
                        color:#148194;;
                    }
                }
            }
            .prod-2 div.prod-info{
                width: 48%;

                &:nth-child(2n+1){
                     margin-right: 1.4em;
                }
            }

            .prod-3 div.prod-info{
                width: 31%;
                &:nth-child(3n+2){
                     margin-left:1.4em;
                     margin-right:1.4em;
                    @media(max-width:992px){
                         margin-left:1em;
                         margin-right:1em;
                    }
                }
            }

            .prod-bullet{
                li{
                    a{
                        color:#148194;;
                        line-height:3ex;
                    }
                }
            }

        }

    .productshowcase{
        .prod-4{
            div.prod-info{
                margin-top:0;
                width: 23%;
                margin-right: 1.4em;
                min-height:initial;
                float:left;
                &:nth-child(4n){
                    margin-right: 0;
                }
                .h4 a{
                    color: #148194;;
                    text-align: center;
                    display: block;
                }
            }
        }
        .product-list-wrap  img {
            width: 100%;
            border: 1px solid #eaeaea;
            margin-bottom: 10px;
        }
        .product-list-wrap div.prod-info img:hover {
            background: rgba(232, 232, 232, 0.4);
        }
        .product-list-wrap div.prod-info p.h3 {
            text-align: center;
            margin-top: 5px;
        }
    }


    @media(min-width:992px){
        .product-list{
            .product-wrap{
                ul{
                    margin-bottom:35px;
                }
            }&.col-md-9{
                padding-right:0;
            }
        }

    }
    @media (max-width: 992px) and (min-width: 767px) {
        .product-list-wrap{
                div.prod-info{
                    min-height: 250px;
                }
                .prod-4 div.prod-info{
                    width: 22%;

                    &:nth-child(-n+3){
                     margin-right: 1.4em;
                }
                }
                .prod-2 div.prod-info{
                    width: 48%;

                    &:nth-child(2n+1){
                         margin-right: 1em;
                    }
                }

        }
    }

    @media (max-width: 767px) {

        .product-list-wrap div.prod-info{
            width:43% !important;
            padding: 30px 0;
            &:nth-child(even){
                margin: 0 10px 0 10px !important;
                float: right;
            }
            &:nth-child(odd){
                margin: 0 10px 0 10px !important;
            }
            img{
                padding:0;
            }
        }

        .product-list-wrap{
            padding-right: 10px;
        }
    }
    .media-gallery{
            border:none;
        margin-bottom:0;
    }
