.acs-commons-resp-colctrl-col-75 {
    .request-info-wrapper {
        .b2iform {
            #b2iRequestSignUp {
                .b2iFormLabel {
                    width: 13%;
                }
            }
            #b2iRequestSignUpAddress { 
                .b2iFormLabel {
                    width: 13%;
                }
            }
            #b2iRequestSignUpAddress {
                .b2iRequestSignupRow {
                    .a-input-select {
                        width: 43%;
                    }
                }
            }
            .b2iRequestListText {
                margin-left: 23%;
            }
            label {
                width: 16%;
            }
            #B2iSaveReturn {
                    margin-left: 37%;
            }
        }
    }

}
.request-info-wrapper {
    margin: 20px 0 0;
    overflow: hidden;
    .b2iform {
        #b2iRequestSignUpFound {
            text-align: center;
            #B2iSavedEmail {
                margin-bottom: 10px;
                #b2iNotMe {
                    line-height: 1.42857143;
                    color: #28323a;
                    padding: 12px 16px;
                    text-transform: uppercase;
                    font-weight: bold;
                    font-size: 14px !important;
                    letter-spacing: 1px;
                    background-color: #fff;
                    -webkit-appearance: none;
                    border: 2px solid #9df1ff;
                    &:hover {
                        background-color: #9df1ff;
                    }
                }
            }
        }
        #b2iRequestSignUp{
            text-align: center;
            .b2iRequestSignupRow {
                margin-bottom: 15px;
            }
            .b2iFormLabel {
                text-align: right;
                color: #545454;
                font-size: 16px;
                font-weight: normal;
                display: inline-block;
                width: 8%;
                margin-right: 20px;
            }
            input {
                width: 50%;
                max-width: 450px;
                display: inline-block;
                height: 40px;
                padding: 6px 12px;
                font-size: 18px;
                line-height: 1.42857143;
                background-color: #fcfcfc;
                border: solid 1px #ededed;
                background-image: none;
                color: #1d1d1d;
                font-weight: 500;
                &:focus {
                    border: solid 2px #1d1d1d;
                    outline: none;
                }
            }
        }
        #b2iRequestSignUpAddress{
            text-align: center;
            .b2iRequestSignupRow {
                margin-bottom: 15px;
                .a-input-select {
                    width: 31.7%;
                    padding: 0 12px;
                    font-size: 18px;
                    font-weight: normal;
                    line-height: 1.42857143;
                    color: #1d1d1d !important;
                    background-color: #fcfcfc !important;
                    border: 1px solid #ededed !important;
                    font-weight: 500;
                    text-transform: uppercase;
                    height: 40px;
                    -webkit-appearance: none;
                    border-radius: 0;
                    background: url(../../images/icon-desktop-dropdown-collapsed.png) 96% no-repeat 

                }
            }
            .b2iFormLabel {
                text-align: right;
                color: #545454;
                font-size: 16px;
                font-weight: normal;
                display: inline-block;
                width: 8%;
                margin-right: 20px;
            }
            input {
                width: 50%;
                max-width: 450px;
                display: inline-block;
                height: 40px;
                padding: 6px 12px;
                font-size: 18px;
                line-height: 1.42857143;
                background-color: #fcfcfc;
                border: solid 1px #ededed;
                background-image: none;
                color: #1d1d1d;
                font-weight: 500;
                &:focus {
                    border: solid 2px #1d1d1d;
                    outline: none;
                }
            }
        }
        label {
            width: 12%;
            text-align: left;
            color: #545454;
            font-size: 16px;
            font-weight: normal;
            display: inline-block;
            margin-right: 20px;
        }
        .b2iRequestCheckbox{
            float: right;
            width: 32px;
        }
        #b2iRequestSubmit {
            margin-left: 52%;
            line-height: 1.42857143;
            color: #28323a;
            padding: 12px 16px;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 14px !important;
            letter-spacing: 1px;
            background-color: #fff;
            -webkit-appearance: none;
            border: 2px solid #9df1ff;
            &:hover {
                background-color: #9df1ff;
            }
        }
        .b2iRequestListText {
            margin-left: 29.5%;
        }
    }
    #B2iSaveReturn {
        color: #ff6b7c;
        margin-left: 39%;
        margin-top: 10px;
    }
}
@media (max-width: 767px) {
.acs-commons-resp-colctrl-col-75 {
        padding: 0;
    .request-info-wrapper {
        margin: 20px 10px 0 10px;
        .b2iform {
            #b2iRequestSignUp{
                .b2iFormLabel {
                    width: 100%;
                    text-align: left;
                }
                input {
                    width: 100%;
                }
            }
            #b2iRequestSignUpAddress{
                .b2iFormLabel {
                    width: 100%;
                    text-align: left;
                }
                input {
                    width: 100%;
                }
                .b2iRequestSignupRow {
                    .a-input-select {
                        width: 100%;
                    }
                }
            }
            #b2iRequestSubmit{
                margin-left: 40%;
            }
            label {
                width: auto;
            }
            .b2iRequestListText{
                margin-left: 0;
                margin-bottom: 20px;
            }
            #B2iSaveReturn {
                margin-left: 0;
            }
        }
    }
}
    .request-info-wrapper {
        margin: 20px 10px 0 10px;
        .b2iform {
            #b2iRequestSignUp{
                .b2iFormLabel {
                    width: 100%;
                    text-align: left;
                }
                input {
                    width: 100%;
                }
            }
            #b2iRequestSignUpAddress{
                .b2iFormLabel {
                    width: 100%;
                    text-align: left;
                }
                input {
                    width: 100%;
                }
                .b2iRequestSignupRow {
                    .a-input-select {
                        width: 100%;
                    }
                }
            }
            #b2iRequestSubmit{
                margin-left: 40%;
            }
            label {
                width: auto;
            }
            .b2iRequestListText{
                margin-left: 0;
                margin-bottom: 20px;
            }
            #B2iSaveReturn {
                margin-left: 0;
            }
        }
    }
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {

    .acs-commons-resp-colctrl-col-75 {
    .request-info-wrapper {
        .b2iform {
            #b2iRequestSignUp {
                .b2iFormLabel {
                    width: 16%;
                }
            }
                #b2iRequestSignUpAddress { 
                    .b2iFormLabel {
                    width: 16%;
                    }
                }
            #b2iRequestSignUpAddress {
                    .b2iRequestSignupRow {
                        .a-input-select {
                        width: 50%;
                        }
                    }
                }
            label {
                width: 20%;
            }
            .b2iRequestListText {
                    margin-left: 18.5%;
            }
        }
    }
}
    .request-info-wrapper {
        .b2iform {
            #b2iRequestSignUp {
                .b2iFormLabel {
                    width: 15%;
                }
            }
            label {
                width: 19.5%;
            }
            #b2iRequestSignUpAddress {
                .b2iFormLabel {
                    width: 15%;
                }
                .b2iRequestSignupRow {
                    .a-input-select {
                        width: 50%;
                    }
                }
            }
            #b2iRequestSubmit {
                margin-left: 54%;
            }
            .b2iRequestListText{
                margin-left: 18.5%;
            }
            #B2iSaveReturn {
                margin-left:35%;
            }
        }
    }
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    .acs-commons-resp-colctrl-col-75 {
    .request-info-wrapper {
        .b2iform {
            #b2iRequestSignUp {
                .b2iFormLabel {
                    width: 17% !important;
                }
            }
                #b2iRequestSignUpAddress { 
                    .b2iFormLabel {
                    width: 17% !important;
                    }
                }
            #b2iRequestSignUpAddress {
                    .b2iRequestSignupRow {
                        .a-input-select {
                        width: 50% !important;
                        }
                    }
                }
                label {
                    width: 20.5% !important;
                }
                .b2iRequestListText {
                    margin-left: 18.5% !important;
                }
        }
    }
}
    .request-info-wrapper {
        .b2iform {
            #b2iRequestSignUp {
                .b2iFormLabel {
                    width: 12%;
                }
            }
            #b2iRequestSignUpAddress {
                .b2iFormLabel {
                    width: 12%;
                }
                .b2iRequestSignupRow {
                    .a-input-select {
                        width: 44% !important;
                    }
                }
            }
            label {
                width: 15% !important;
            }
            .b2iRequestListText {
                margin-left: 24.5% !important;
                width: 14.5% !important;
            }
            #B2iSaveReturn {
                margin-left: 37% !important;
            }
        }
    }
}
@media (min-width: 1024px) and (max-width: 1366px) and (orientation : portrait){
.acs-commons-resp-colctrl-col-75 {
.request-info-wrapper {
        .b2iform {
            #b2iRequestSignUp {
                .b2iFormLabel {
                    width: 17%;
                }
            }
            #b2iRequestSignUpAddress { 
                .b2iFormLabel {
                    width: 17%;
                }
            }
            #b2iRequestSignUpAddress {
                .b2iRequestSignupRow {
                    .a-input-select {
                        width: 50%;
                    }
                }
            }
            .b2iRequestListText {
                margin-left: 17.5%;
            }
            label {
                width: 21%;
            }
            #B2iSaveReturn {
                    margin-left: 35%;
            }
        }
    }

}
    .request-info-wrapper{
            .b2iform {
                label {
                    width: 14.5%;
                }
                #b2iRequestSignUpAddress {
                    .b2iRequestSignupRow {
                        .a-input-select {
                            width: 44%;
                        }
                    }
                }
                .b2iRequestListText {
                    margin-left: 24.5%;
                }
                #B2iSaveReturn {
                    margin-left:37%;
                }
            }
        }
    }
@media (min-width: 1024px) and (max-width: 1366px) and (orientation : landscape){
.acs-commons-resp-colctrl-col-75 {
    .request-info-wrapper {
            .b2iform {
            #b2iRequestSignUpAddress {
                .b2iRequestSignupRow {
                    .a-input-select {
                        width: 45%;
                    }
                }
            }
                .b2iRequestListText {
                margin-left: 21.5%;
                }
            }
        }
    }
    .request-info-wrapper {
        .b2iform {
            label {
                width: 11%;
            }
            #b2iRequestSignUpAddress {
                .b2iRequestSignupRow {
                    .a-input-select {
                        width: 33%;
                    }
                }
            }
            #B2iSaveReturn {
                margin-left:39%;
            }
        }
    }
}
