
.sec-div-wrapper {
	padding-top: 10px;
	#b2iSecForm {
		margin-bottom: 10px;
		table {
			display: block;
			tr {
				td {
					position: relative;
                    padding-left: 30px;
                    font-size: 26px;
                    font-family: roboto;
                    text-align: left !important;
					.b2iTextBox {
						position: absolute;
						right: -935px;
						width: 300px;
						height: 48px;
						background-color: #fcfcfc;
						border: solid 1px #ededed;
                        font-size: 20px;
                        font-family: Roboto;
                        font-weight: normal;
                        padding-left: 5px;
                        &:focus {
                          box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.03);
                          background-color: #ffffff;
                          outline: solid 2px #1d1d1d;
                        }

					}
					.b2iButton {
						position: absolute;
						right: -1015px;
						color: #28323a;
						font-size: 14px;
						border-radius: 0;
						background-color: #fff;
						border: solid 2px #9df1ff;
						padding: 12px 16px 12px 16px;
						font-family: Roboto;
						font-size: 14px;
                        font-weight: bold;
					}
					#sType {
						font-family: Roboto;
						font-size: 20px;
						font-weight: bold;
						font-style: normal;
						font-stretch: normal;
						line-height: 1.45;
						letter-spacing: normal;
						color: #1d1d1d;
                        height: 48px;
                        background: #fff;
                        box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.03);
                        border: none;
                        &:focus {
                          box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.03);
                          background-color: #ffffff;
                          outline: solid 2px #1d1d1d;
                        }
					}
				}
			}
		}
	}
	#b2iSecTop {
		display: table;
		width: 100%;
		padding: 0 20px;
        .SecTitleHeading {
           display: table-row;
           background-color: #ffffff;
           box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.03);
            .b2iSecDateHeader {
                width: 11%;
            }
            .b2iSecTypeHeader {
                width: 9%;
            }
            .b2iSecFormNameHeader {
                width: 37%;
                text-align: left;
            }
            .b2iSecFilerHeader {
                width: 18%;
                text-align: left;
            }
            .b2iSecLinkHeader {
                width: 18%;
            }
            div {
                  padding: 13px 20px;
				  display: table-cell;
                  font-family: Roboto;
                  font-size: 18px;
                  font-weight: 500;
                  font-style: normal;
                  font-stretch: normal;
                  line-height: 1.56;
                  letter-spacing: 0.3px;
                  text-align: center;
                  color: #1d1d1d;
                  border: solid 1px #f2f2f2;
			}
        }
		.SecFiling {
			display: table-row;
			&:nth-child(2n+1) {
				background-color: #fcfcfc;
			}
			&:nth-child(2n+2) {
				background-color: #fafafa;
			}
			&:hover {
				background-color: #fff;
				box-shadow: 0 0 11px 0 rgba(0, 0, 0, 0.06);
				border: solid 1px #ebebeb;
			}
			div {
				display: table-cell;
				text-align: center;
				padding: 13px 20px;
				border-right: 1px solid #f7f7f7;
				font-family: Roboto;
				font-size: 16px;
				font-weight: normal;
				font-style: normal;
				font-stretch: normal;
				line-height: 1.75;
				letter-spacing: 0.3px;
				text-align: center;
				color: #1d1d1d;
			}
			.b2iSecFilingDate {
				width: 11%;
			}
			.b2iSecFilingType {
				width: 9%;
                a {
                  color: #055867;
                }
			}
			.b2iSecFilingFormName {
				width: 37%;
				text-align: left;
				a {
					font-family: Roboto;
					font-size: 16px;
					font-weight: 500;
					font-style: normal;
					font-stretch: normal;
					line-height: 1.75;
					letter-spacing: 0.3px;
                    color: #055867;
                    &:hover {
                        text-decoration: underline !important;
                    }  
				}
			}
			.b2iSECFilingFiler {
				width: 18%;
                text-align: left;
			}
			.b2iSecLinks {
				width: 18%;
			}
		}
	}
	#b2iSecFilingNav {
		margin-top: 40px;
		text-align: center;
		a {
			font-family: Roboto;
			font-size: 20px;
			font-weight: normal;
			font-style: normal;
			font-stretch: normal;
			line-height: 1.45;
			letter-spacing: normal;
			text-align: center;
            color: #055867;
		}
		span {
			font-family: Roboto;
			font-size: 20px;
			font-weight: normal;
			font-style: normal;
			font-stretch: normal;
			line-height: 1.45;
			letter-spacing: normal;
            color: #3e3c3c !important;
		}
	}
}


@media (max-width: 767px) {
	.sec-div-wrapper {
		#b2iSecForm {
			margin-bottom: 10px;
			table {
				display: block;
				tr {
					td {

                         font-size: 25px;
                         font-family: roboto;
                         padding-left: 8px;
						.b2iTextBox {
							width: 77%;
							float: left;
							height: 50px;
							margin-top: 10px;
							display: inline-block;
							position: relative;
							top: 0;
							right: 0;
							margin-left: 0;
                            font-size: 24px;
						}
						.b2iButton {
							float: right;
							padding: 10px;
							width: 20.7%;
							border-radius: 0;
							background-color: white;
							margin-top: 10px;
							position: relative;
							top: 0;
							right: 0;
							font-size: 18px;
							font-weight: 500;
							font-family: Roboto;
							margin-right: 8px;
						}
						#sType {
							font-family: Roboto;
							font-size: 22px;
							font-weight: bold;
							font-style: normal;
							font-stretch: normal;
							line-height: 1.45;
							letter-spacing: normal;
							color: #1d1d1d;
                            width: 74%;
                            height: 38px;
						}
					}
				}
			}
		}
		#b2iSecTop {
            .SecTitleHeading {
                display: none;
            }
			padding: 0 8px;
			display: block;
			.SecFiling {
				display: block;
				margin-bottom: 8px;
				border: solid 1px #ededed;
				&:nth-child(2n+1) {
					background-color: #fff;
				}
				&:nth-child(2n+2) {
					background-color: #fff;
				}
				.b2iSecFilingDate {
					width: auto;
					text-align: left;
					font-size: 20px;
					font-weight: normal;
					font-style: normal;
					font-stretch: normal;
					line-height: normal;
					letter-spacing: normal;
					color: #545454;
				}
				div {
					display: block;
				}
				.b2iSecFilingType {
					width: auto;
					font-size: 18px;
					font-weight: 500;
					font-style: normal;
					font-stretch: normal;
					line-height: 1.61;
					letter-spacing: normal;
					color: #1d1d1d;
					text-align: left;
				}
				.b2iSecFilingFormName {
					width: auto;
					text-align: left;
					font-size: 24px;
					font-weight: 500;
					font-style: normal;
					font-stretch: normal;
					line-height: 1.42;
					letter-spacing: 0.4px;
					color: #1d1d1d;
					a {
						text-decoration: none !important;
                        font-size: 24px;
					}
				}
				.b2iSECFilingFiler {
					width: auto;
					text-align: left;
					font-size: 18px;
					font-weight: 500;
					font-style: normal;
					font-stretch: normal;
					line-height: 1.61;
					letter-spacing: normal;
					color: #1d1d1d;
				}
				.b2iSecLinks {
					width: auto;
					text-align: left;
				}
			}
		}

	}
}

@media (min-width: 320px) and (max-width: 374px) {

.sec-div-wrapper {
	#b2iSecForm {
		margin-bottom: 10px;
		table {
			display: block;
			tr {
                    td {
                        font-size: 22px;
                        .b2iTextBox {
                                width: 72%;
                        }
                        .b2iButton {
                                width: 24.7%;
                        }
                        #sType {
                             width: 73%;
                             font-size: 18px;
                        }
                    }
                }
            }
        }
    }

}

@media (min-width: 414px) and (max-width: 736px) {
 .sec-div-wrapper {
		#b2iSecForm {

			table {

				tr {
					td {
                        #sType {
                           width: 77%;
                           height: 38px;
                        }
                    }
                }
            }
        }
    }

}

@media (min-width: 768px) and (max-width: 1024px) { 
 .sec-div-wrapper {
	#b2iSecForm {

		table {

			tr {
				td {
                    font-size: 18px; 


					.b2iTextBox {
						 right: -338px;
                         width: 250px;
					}
                        .b2iButton {
                            right: -418px;

                        }
                        #sType { 
                           font-size: 18px; 

                        }
                    }
                }
            }
        }
    }
}


@media (min-width: 1024px) and (max-width: 1365px) {
 .sec-div-wrapper {
	#b2iSecForm {

		table {

			tr {
				td {


					.b2iTextBox {
						right: -595px;
					}
                        .b2iButton {
                            right: -675px;
                        }
                    }
                }
            }
        }
    }
}
@media (min-width: 1365px) and (max-width: 1400px) {
 .sec-div-wrapper {
	#b2iSecForm {

		table {

			tr {
				td {


					.b2iTextBox {
						right: -884px;
					}
                        .b2iButton {
                            right: -964px;
                        }
                    }
                }
            }
        }
    }
}