.skinny-text-component{
	@media screen and (max-width: 767px){
		padding-left: 0;
        padding-right: 11px;
        overflow: hidden;
	}
	a{
		&:hover,&:focus{
			text-decoration: none;
		}
	}
	.skinny-msg{
		font-style: italic;
        @media (min-width: 768px) and (max-width: 1024px) {
            margin-bottom: 10px;
        }
        @media screen and (max-width: 767px){
            margin-bottom: 10px;
        }
        p{
            margin-bottom: 0;
            margin-left: 20px;
        }
	}
	.skinny-details{
		font-weight: bold;
	}
	.skinny-with-img{
		.skinny-img{
			@media screen and (max-width: 991px){
				width: 100%;
			}

			@media (min-width: 992px){
				    height: 84px;
    				float: right;
                    margin-right: 15px;
			}
		}
		.skinny-title{
			font-family: Roboto;
			@media screen and (max-width: 991px){
				padding-top: 20px;
				padding-bottom: 12px;
			}
            @media (min-width: 768px) and (max-width: 1024px) {
                margin-left: 20px;
            }
            @media(max-width: 767px) {
                margin-left: 20px;
            }

		}
		.skinny-details{
			@media screen and (max-width: 991px){
				padding-top: 12px;
				padding-bottom: 24px;
			}
		}
		.skinny-title,.skinny-msg{
			.h3, h3{
				margin: 0;
				@media screen and (max-width: 991px){
					font-size: 0.9em;
				}
			}
		}
		.skinny-msg{
			.h3, h3{
				font-family: Roboto;
				font-size: 16px;
				@media (max-width: 767px){
					font-size: 12px;
				}
				@media (min-width: 992px){
					padding-left: 45px;
				}
			}
		}
		.skinny-details{
			@media (min-width: 992px){
                text-align: right;
                padding-right: 20px;
            }
		}
		.display-table{
            @media(max-width: 991px){
				display: table;
                table-layout: fixed;
                width: 100%;
            }
        }
        .table-cell{
			@media(max-width: 991px){
				display: table-cell;
                vertical-align: middle;
                float: none;
            }
            &:first-child{
				@media(max-width: 767px){
					padding: 0;
                }
            }
        }
	}
	.skinny-without-img{
		padding-top: 20px;
		padding-bottom: 20px;
		@media screen and (max-width: 991px){
			text-align: center;
		}
		.skinny-title{
			.h3, h3{
				margin: 0;
				font-family: Roboto;
				font-size: 28px;
				font-weight: bold;
				@media screen and (max-width: 767px){
					font-size: 18px;
				}

				@media (min-width: 992px){
					text-align: center;
	            }
			}
		}
		.skinny-msg{
			font-family: Roboto;
			font-size: 16px;
			@media screen and (max-width: 767px){
				font-family: Roboto;
			}
			@media screen and (max-width: 991px){
				padding-top: 12px;
				padding-bottom: 12px;
			}
			.h3, h3{
				margin: 0;
			}
		}
	}

	&.red-bg{
		background: #fff;
		color: #1D1D1D;
		.cta-arrow {
            border: solid 2px #9df1ff;
            color: #28323a;
            font-size: 14px;
            font-weight: bold;
            padding: 12px 16px;
            &:hover {
              background-color: #9df1ff;
            }
            @media (min-width: 768px) and (max-width: 1024px){
              margin-left: 20px;
            }
            @media (max-width: 767px){
                margin-left: 20px;
            }
		}
	}
	&.darkgrey-bg{
		background: #fff;
		color: #1D1D1D;
		.cta-arrow {
            border: solid 2px #9df1ff;
            color: #28323a;
            font-size: 14px;
            font-weight: bold;
            padding: 12px 16px;
            &:hover {
              background-color: #9df1ff;
            }
            @media (min-width: 768px) and (max-width: 1024px){
              margin-left: 20px;
            }
            @media (max-width: 767px){
                margin-left: 20px;
            }
		}
	}
	&.teal-bg{
		background: #1D1D1D;
		color: #fff;
		.cta-arrow {
            border: solid 2px #9df1ff;
            color: #fff;
            font-size: 14px;
            font-weight: bold;
            padding: 12px 16px;
            &:hover {
			  background-color: #9df1ff;
			  color: #1d1d1d;
            }
            @media (min-width: 768px) and (max-width: 1024px){
              margin-left: 20px;
            }
            @media (max-width: 767px){
                margin-left: 20px;
            }
		}
	}
	&.lightgrey-bg{
		background: unset;
		color: #1D1D1D;
		.cta-arrow {
            border: solid 2px #9df1ff;
            color: #28323a;
            font-size: 14px;
            font-weight: bold;
            padding: 12px 16px;
            &:hover {
              background-color: #9df1ff;
			}
			@media (min-width: 768px) and (max-width: 1024px){
				margin-left: 20px;
			  }
			  @media (max-width: 767px){
				  margin-left: 20px;
			}
		}
	}
	&.white-bg{
		background: #fff;
		color: #1D1D1D;
		.cta-arrow {
            border: solid 2px #9df1ff;
            color: #28323a;
            font-size: 14px;
            font-weight: bold;
            padding: 12px 16px;
            &:hover {
              background-color: #9df1ff;
            }
            @media (min-width: 768px) and (max-width: 1024px){
              margin-left: 20px;
            }
            @media (max-width: 767px){
                margin-left: 20px;
            }
		}

	}
	&.border-white-bg{
		background: #fff;
		border-top: 1px solid #1D1D1D;
		border-bottom: 1px solid #1D1D1D;
		color: #1D1D1D;
		.cta-arrow {
            border: solid 2px #9df1ff;
            color: #28323a;
            font-size: 14px;
            font-weight: bold;
            padding: 12px 16px;
            &:hover {
              background-color: #9df1ff;
            }
            @media (min-width: 768px) and (max-width: 1024px){
              margin-left: 20px;
            }
            @media (max-width: 767px){
                margin-left: 20px;
            }
		}
	}
	&.lightblue-bg{
		background: #1D1D1D;
		color: #fff;
		.cta-arrow {
            border: solid 2px #9df1ff;
            color: #fff;
            font-size: 14px;
            font-weight: bold;
            padding: 12px 16px;
            &:hover {
              background-color: #9df1ff;
            }
            @media (min-width: 768px) and (max-width: 1024px){
              margin-left: 20px;
            }
            @media (max-width: 767px){
                margin-left: 20px;
            }
		}
	}
    &.medium-width{
        @media (min-width: 992px){
			width: 50%;
        }
        .skinny-with-img{
            .skinny-img{
                @media (min-width: 992px){
					height: 104px;
                }
            }
            .skinny-title{
                .h3, h3{
					font-size: 28px;
                    font-family: Roboto;
                }
            }
            .skinny-details{
				text-align: left;
                margin-bottom: 10px;
            }
        }
        .skinny-without-img{
			padding-top: 10px;
            padding-bottom: 10px;
        }
    }
	
}

.acs-commons-resp-colctrl-col-50{
    .skinnycomponent{
        .skinny-text-component{
            &.medium-width{
				width: 100%; 
                &.white-bg{
                    .cta-arrow {
                       border: unset;
                       color: #148194;
                       padding: 0;
                        &:hover {
                           background-color: unset;
                           text-decoration: underline;
                        }
                        &:after {
                            content: '';
                            width: 0; 
                            height: 0;
                            border-top: 7px solid transparent;
                            border-bottom: 7px solid transparent;
                            border-left: 7px solid #148194;
                            display: inline-block;
                            position: relative;
                            top: 2px;
                        }
                    }
                    .skinny-msg {
                        p {
                            margin-left: 0;
                            @media (max-width: 1300px){
                                margin-left: 20px;
                            }
                        }
                    }
                }
                &.lightblue-bg{
                    .cta-arrow {
                        border: unset;
                        color: #fff;
                        padding: 0;
                        &:hover {
                            background-color: unset;
                            text-decoration: underline;
                        }
                        &:after {
                            content: '';
                            width: 0; 
                            height: 0;
                            border-top: 7px solid transparent;
                            border-bottom: 7px solid transparent;
                            border-left: 7px solid #fff;
                            display: inline-block;
                            position: relative;
                            top: 2px;
                        }
                    }
                    .skinny-msg {
                        p {
                            margin-left: 0;
                            @media (max-width: 1300px){
                                margin-left: 20px;
                            }
                        }
                    }
                }
                &.border-white-bg{
                    .cta-arrow {
                        border: unset;
                        color: #148194;
                        padding: 0;
                        &:hover {
                            background-color: unset;
                            text-decoration: underline;
                        }
                        &:after {
                            content: '';
                            width: 0; 
                            height: 0;
                            border-top: 7px solid transparent;
                            border-bottom: 7px solid transparent;
                            border-left: 7px solid #148194;
                            display: inline-block;
                            position: relative;
                            top: 2px;
                        }
                    }
                    .skinny-msg {
                        p {
                            margin-left: 0;
                            @media (max-width: 1300px){
                                margin-left: 20px;
                            }
                        }
                    }
                }
                &.lightgrey-bg {
                    .cta-arrow {
                        border: unset;
                        color: #148194;
                        padding: 0;
                        &:hover {
                            background-color: unset;
                            text-decoration: underline;
                        }
                        &:after {
                            content: '';
                            width: 0; 
                            height: 0;
                            border-top: 7px solid transparent;
                            border-bottom: 7px solid transparent;
                            border-left: 7px solid #148194;
                            display: inline-block;
                            position: relative;
                            top: 2px;
                        }
                    }
                    .skinny-msg {
                        p {
                            margin-left: 0;
                            @media (max-width: 1300px){
                                margin-left: 20px;
                            }
                        }
                    }
                }
                &.red-bg {
                    .cta-arrow {
                        border: unset;
                        color: #148194;
                        padding: 0;
                        &:hover {
                            background-color: unset;
                            text-decoration: underline;
                        }
                        &:after {
                            content: '';
                            width: 0; 
                            height: 0;
                            border-top: 7px solid transparent;
                            border-bottom: 7px solid transparent;
                            border-left: 7px solid #148194;
                            display: inline-block;
                            position: relative;
                            top: 2px;
                        }
                    }
                    .skinny-msg {
                        p {
                            margin-left: 0;
                            @media (max-width: 1300px){
                                margin-left: 20px;
                            }
                        }
                    }
                }
                &.teal-bg {
                    .cta-arrow {
                        border: unset;
                        color: #fff;
                        padding: 0;
                        &:hover {
                            background-color: unset;
                            text-decoration: underline;
                        }
                        &:after {
                            content: '';
                            width: 0; 
                            height: 0;
                            border-top: 7px solid transparent;
                            border-bottom: 7px solid transparent;
                            border-left: 7px solid #fff;
                            display: inline-block;
                            position: relative;
                            top: 2px;
                        }
                    }
                    .skinny-msg {
                        p {
                            margin-left: 0;
                            @media (max-width: 1300px){
                                margin-left: 20px;
                            }
                        }
                    }
                }
            }
        }
    }
}

.skinnycomponent{
    &.section{
		padding: 15px 0;
    }
}
