.social-links{
            dl{
                margin: 0;
                dd{
                    margin-left:10px;
                    display: inline-block;
                    @media (max-width: 767px){
                      margin-bottom: 20px;
                    }


                }
            }
        }