.stock-chart-wrapper {
	margin-top: 30px;
	.b2iQuoteTitle {
		background-color: #fff;
		td {
			padding: 20px 15px !important;
		}
		.b2iTblTtl {
			font-family: Roboto;
			font-size: 30px;
			font-weight: normal;
			font-style: normal;
			font-stretch: normal;
			line-height: normal;
			letter-spacing: 0.7px;
		}
	}
	.b2iQuoteContent {
		td {
			border-bottom: solid 1px #e6e6e6 !important;
			padding: 15px 20px !important;
		}
		.b2iQuoteRow {
			background-color: #fcfcfc;
			.b2iQuoteCellLeft {
				background-color: #fcfcfc !important;
				.b2iQuoteLabel {
					font-family: Roboto;
					font-size: 16px;
					font-weight: normal;
					font-style: normal;
					font-stretch: normal;
					line-height: 1.81;
					letter-spacing: normal;
					color: #545454;
				}
			}
			.b2iQuoteCellRight {
				.b2iPrice {
					font-family: Roboto;
					font-size: 16px;
					font-weight: 500;
					font-style: normal;
					font-stretch: normal;
					line-height: 1.81;
					letter-spacing: normal;
					color: #1d1d1d;
				}
				.b2iQuoteValue {
					font-family: Roboto;
					font-size: 16px;
					font-weight: 500;
					font-style: normal;
					font-stretch: normal;
					line-height: 1.81;
					letter-spacing: normal;

				}
			}
		}
	}
	.b2iQuoteSubTxtRow {
		font-family: roboto;
		font-size: 24px;
		color: #1d1d1d;
		.b2iQuoteSubTxt {
			color: #1D1D1D;
			a {
                color: #055867;
            }
		}
	}
}

.stock-chart-table-wrapper {
	padding: 0 20px;
	#b2iHistoricQuoteForm {
		padding-bottom: 20px;
		padding-top: 10px;
		position: relative;
		#FrD {
			padding: 10px 14px;
			font-family: Roboto;
			font-size: 20px;
			font-weight: normal;
			font-style: normal;
			font-stretch: normal;
			line-height: 1.45;
			letter-spacing: normal;
			color: #1d1d1d;
			background-color: #fcfcfc;
			border: solid 1px #ededed;
			&:focus {
				border: solid 2px #1d1d1d;
				background-color: #fff;
				outline: none;
			}
		}
		#ToD {
			padding: 10px 14px;
			padding: 10px 14px;
			font-family: Roboto;
			font-size: 20px;
			font-weight: normal;
			font-style: normal;
			font-stretch: normal;
			line-height: 1.45;
			letter-spacing: normal;
			color: #1d1d1d;
			background-color: #fcfcfc;
			border: solid 1px #ededed;
			&:focus {
				border: solid 2px #1d1d1d;
				background-color: #fff;
				outline: none;
			}
		}
		input[type=button] {
			border: solid 2px #9df1ff;
			background-color: #fff;
			padding: 16px 16px 12px 16px;
			color: #1d1d1d;
			font-family: Roboto;
			font-size: 14px;
            font-weight: 500;
			&:hover {
				background-color: #9df1ff;
			}
		}
	}
	.b2iHistoricalQuote {
		tr {
			&:hover {
				box-shadow: 0 0 11px 0 rgba(0, 0, 0, 0.06);
				background-color: #ffffff !important;
			}
		}
		.b2iHistoricalHeadRow {
			background-color: #ffffff !important;
			box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.03);
			font-family: Roboto;
			font-size: 18px;
			font-weight: 500;
			font-style: normal;
			font-stretch: normal;
			line-height: 1.56;
			letter-spacing: 0.3px;
			text-align: center;
			color: #1d1d1d;
		}
		td {
			padding: 16px 20px;
			text-align: center;
		}
		.b2iHoldersRow {
			background-color: #fcfcfc;
			font-family: Roboto;
			font-size: 16px;
			font-weight: 500;
			font-style: normal;
			font-stretch: normal;
			line-height: 1.75;
			letter-spacing: 0.3px;
			color: #28323a;
			&:nth-child(odd) {
				background-color: #fcfcfc;
			}
			&:nth-child(even) {
				background-color: #fafafa;
			}
		}
	}
}

@media (max-width: 767px) {
	.stock-chart-wrapper {
		.b2iQuoteContent {
            .b2iQuoteTitle {
                .b2iTblTtl {
                    .change {
                        display: block;
                    }
                }
            }
			.b2iQuoteRow {
				.b2iQuoteCellLeft {
					.b2iQuoteLabel {
						font-size: 18px;
					}
				}
				.b2iQuoteCellRight {
					.b2iPrice {
						font-size: 18px;
					}
					.b2iQuoteValue {
						font-size: 18px;
					}
				}
			}
		}
	}
	.stock-chart-table-wrapper {
        #b2iHistoricQuoteForm {
            #FrD {
              width: 100%;
              text-align: center;
              padding: 10px 14px 10px 44px;
            }
            #ToD { 
              width: 100%;
              text-align: center;
              padding: 10px 14px 10px 44px;
            }
            input[type=button] {
              width: 100%;
			  font-size: 18px;

            }
        }   

		padding: 0 20px;
		.b2iHistoricalQuote {
			.b2iHistoricalHeadRow {
				display: none;
			}
			td {
				text-align: right;
				&:nth-child(odd) {
					background-color: #fff;
				}
				&:last-child {
					margin-bottom: 10px;
				}
			}
			td:last-child {
				padding-right: 20px;
			}
			.b2iHoldersRow {
				&:nth-child(odd) {
					background-color: #f6f6f6;
				}
				&:nth-child(even) {
					background-color: #f6f6f6;
				}
				.b2iHistoricalCell {
					background-color: #fff;
				}
			}
		}
	}
}
@media (min-width: 1024px) and (max-width: 1300px) {
	.stock-chart-wrapper {
		.b2iQuoteContent {
            .b2iQuoteTitle {
                .b2iTblTtl {
                    .change {
                        display: block;
                    }
                }
            }
        }
    }


}