.textandvideonew {
.img-text-comp .imgtxt-box a.btn.btn-primary{
    background: transparent ;

}
.img-text-comp .imgtxt-box a.btn.btn-primary:hover {

    background-color:#9df1ff !important;
}

}

@media(max-width:768px){

.textandvideonew {
    .img-text-comp  {
        
            margin:0 !important ;
        
    }
}

}


