
.text-over-image,.textoverresponsiveimage{
    margin:15px 0;
    float:left;
    width:100%;
    .h3,h2,h3{
        margin:0;
    }
    .text-container{
        color:#fff;
        .grey{
            @media (min-width: 768px){
                color: #324e56;
            }
        }
        .black{
            @media (min-width: 768px){
                color: #000;
            }
        }
        @media(max-width:767px){
            color:#414243;
        }
        background-color: transparent !important;
        float:left;
        margin:15px;
        padding:15px;
        @media(max-width:767px){
            float: left !important;
            margin-left:0 !important;
        }
        .category-title{
            font-size: 14px;
            font-family: "open-sans";
            margin-bottom: 24px;
        }
        h2.title1{
            font-weight:100;
            font-style:italic;
            @media(max-width:767px){
                color:#414243;
            }

        }
        h2.title2{
            font-weight:500;
            margin-bottom:25px;
        }
        .h3, h3{
            font-size:14px;
            color:#fff;
            @media(max-width:767px){
                color:#414243;
            }
        }
        .btn-primary{
            padding: 10px 20px;
            min-height: 40px;
            margin-top: 10px;
            color: #fff;
            text-decoration: none !important;
            &:hover,&:focus{
                border-color: transparent;
                background: #4c6f7a;
                outline: none;
                color: #fff;
            }
        }
        a{
            margin-top: 10px;
            font-family: Roboto;
            color: #467085;
            font-weight: bold;
            text-decoration: underline;
            &:hover{
                color: #344651;
            }
        }
        .btn-default{
            background: #fff;
            &:hover,&:focus{
                background: #fff;
                box-shadow: none;
            }
        }
    }
    position: relative;
    img{
       @media(min-width:768px){
            position:absolute;
            //height:300px;
        }
        width:100%;
        &.cq-dd-image{
            position:static;
            height:74px;
        } 
    }
    &.top-left{
        .text-container{
            float:left;
        }
    }
    &.top-right{
        .text-container{
            float:right;
        }
    }
    &.middle-right{
        .text-container{
            float:right;
        }
    }
    &.bottom-right{
        .text-container{
            float:right;
        }
    }
}

.extendedparsys{
    .text-over-image, .textoverresponsiveimage{
        margin: 0;
        float: none;
    }
}

.text-over-image, .textoverresponsiveimage{
    float: none;
}
.textoverimage{
    .media-banner{
        img{
            @media (max-width: 767px){
                width: 100%;
            }
        }
    }
}