//TAH component Css
.provisionTNP{
        margin-bottom:10px;
        padding: 5px 0;
        @media (max-width: 767px){
            text-align: center;
            padding: 5px 15px;
        }
        .tah-left{
            .provisionTNP-subhead{
                @media (min-width: 768px){
                    display: table;
                    width: 100%;
                    table-layout: fixed;
                }
                .provisionTNP-sub{
                    @media (min-width: 768px){
                        display: table-cell;
                        vertical-align: middle;
                        float: none;
                        padding-left: 25px;
                    }
                }
                @media (min-width: 768px) and (max-width: 991px){
		            margin-left: 1px;
		        }
            }
        }
        .provisionTNP-subhead{
            .provisionTNP-sub{
                a.btn-primary{
                    @media (max-width: 767px){
                        margin-top: 5px;
                    }
                    &:hover,&:focus,&:active,&.active{
                     
                        -moz-box-shadow: none;
                        -webkit-box-shadow: none;
                        -ms-box-shadow: none;
                        -o-box-shadow: none;
                        box-shadow: none;
                    }
                &.tah-white{
					&:hover,&:focus,&:active,&.active{
                    
                    }
                }
                }
            }
        }
        .tah-white{
            background: transparent;
            border: 1px solid #fff;
            color: #fff !important;
            height: 35px;
            font-size: 14px !important;
            margin-top: 5px;
            padding: 6px 16px !important;
            font-weight: 900;
        }
        .tah-brand{
            background: transparent;
            border: 1px solid #333;
            color: #333 !important;
            height: 35px;
            font-size: 14px !important;
            margin-top: 5px;
            padding: 6px 16px !important;
            font-weight: 900;
        }
        .tah-arrowlink,.tah-link{
            text-decoration: underline;
        }
        a.cta-arrow{
        	&.tah-link{
        		background: none !important;
        	}
            &.tah-arrowlink{
	            background: url('../../images/Regis-Icons/Arrow-Link-white-bolder.svg') no-repeat center right;
	        }
        }
        .tah-center{
            text-align: center;
            p{
                margin: 0;
                @media (min-width: 768px){
                    display: inline;
                }
            }
            a.btn-primary{
                @media (min-width: 768px) and (max-width: 991px){
                    width: 107px;
                    padding: 12px;
                }
            }
        }
    .tah-left{
        a.btn-primary{
            @media (min-width: 768px){
                width: 100%;
                padding: 12px;
            }
        }
    }
}