
  .textoverresponsiveimage {
    margin: 0 -10px;
    background: #000;
  }
.tori-container {
  position: relative;
  padding: 0;
  @media (min-width: 1024px) {
    img{
        width: 100%;
        height: 320px;
    }
  }
  .tori-image {
      background-color:#28323a;
  }
  .tori-text-section {
    .tori-text {
      position: absolute;
      top: 0;
      padding-left: 80px;
      padding-top: 60px;
      padding-right: 25px;
      .tori-heading {
        font-family: Roboto;
        font-size: 32px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.31;
        letter-spacing: 0.7px;
        color: #ffffff;
        height: 42px;
        overflow: hidden;
      }
      h1,
      h2,
      h3 {
        margin-top: 0;
      }
      .tori-description {
        font-family: Roboto;
        font-size: 24px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.1px;
        color: #ffffff;
        height: 64px;
        overflow: hidden;
      }
    }
    .tori-cta-section {
      position: absolute;
      bottom: 0;
      padding: 50px 60px 60px 80px;
              .tori-button {
                   font-size: 14px !important;
                    padding: 12px 16px;
                }

    }
  }
  .tori-text-section {
    &.no-img {
      .tori-text {
        position: relative;
        top: 0;
        .tori-heading {
          height: 42px;
        }
        h1,
        h2,
        h3 {
          margin-top: 0;
        }
        .tori-description {
          height: 30px;
        }
      }
      .tori-cta-section {
        position: relative;
        padding: 73px 60px 60px 80px;
      }
    }
  }
  .tori-text-section {
    &.right {
      .tori-text {
        right: 0;
        padding-top: 60px;
        padding-right: 80px;
        text-align: right;
      }
      .tori-cta-section {
        position: absolute;
        bottom: 0;
        right: 0;
        padding: 50px 80px 60px 0;

      }
      &.no-img {
        .tori-text {
          position: relative;
          top: 0;
          .tori-heading {
            height: 42px;
          }
          h1,
          h2,
          h3 {
            margin-top: 0;
          }
          .tori-description {
            height: 30px;
          }
        }
        .tori-cta-section {
          position: relative;
          padding: 73px 80px 60px 80px;
          text-align: right;
        }
      }
    }
  }
  .tori-text {
    p {
      margin-bottom: 0;
    }
  }
  &:hover {
    .tori-text-section {
      .tori-cta-section {
        .tori-button {
          background-color: #9df1ff;
          color: #000;
        }
      }
    }
  }
}
@media (min-width: 768px) and (max-width: 991px) {
   .tori-container {
     .tori-image {
        img {
          width: 100%;
    }
   }
  }
}
@media (max-width:767px) {
  .tori-container {
     .tori-image {
        img {
          width: 100%;
    }
  }
    .tori-text-section {
      .tori-text {
        padding-left: 30px;
        padding-top: 30px;
        padding-right: 20px;
        .tori-heading {
          height: 80px;
          overflow: hidden;
          font-size: 30px;
        }
        .tori-description {
          height: 96px;
          overflow: hidden;
        }
        h1,h2,h3 {
          margin-bottom: 6px;
        }
      }
      .tori-cta-section {
        padding: 40px 20px 30px 30px;
        bottom: 0;
        .tori-button {
          background-color: rgba(40, 50, 58, 0.6);
          font-size: 20px !important;
          padding: 14px 22px;
        }
      }
      &.right {
        .tori-text {
          padding: 30px 30px 0 20px;
        }
        .tori-cta-section {
          padding: 30px 30px 30px 20px;
          right: 0;
        }
        &.no-img {
          .tori-text {
            position: relative;
            top: 0;
            .tori-heading {
              height: 42px;
            }
            h1,
            h2,
            h3 {
              margin-top: 0;
            }
            .tori-description {
              height: 62px;
            }
          }
          .tori-cta-section {
            position: relative;
            padding: 30px 30px 30px 20px;
          }
        }
      }
    }
    .tori-text-section {
      &.no-img {
        .tori-text {
          position: relative;
          top: 0;
          .tori-heading {
            height: 42px;
          }
          h1,
          h2,
          h3 {
            margin-top: 0;
          }
          .tori-description {
            height: 62px;
          }
        }
        .tori-cta-section {
          position: relative;
          padding: 40px 20px 30px 30px;
        }
      }
    }
  }
}