@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Poppins Regular'), local('Poppins-Regular'), 
  url(https://fonts.gstatic.com/s/poppins/v6/pxiEyp8kv8JHgFVrJJfecg.woff2) format('woff2');
}

@font-face {
  font-family: 'Didact Gothic';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Didact Gothic Regular'), local('DidactGothic-Regular'), url(https://fonts.gstatic.com/s/didactgothic/v12/ahcfv8qz1zt6hCC5G4F_P4ASlUuYpg.woff2) format('woff2');
  
}

mainbody, h1, h2, h3, h4, h5, h6, p, a, li, html, nav-itemnav-itembody {
    font-family: 'Poppins';
}

body{margin-bottom:50px;}
.container {
    max-width: 95%;
}
/*------------------NAVIGATION STYLES-----------*/
.navbar {
    padding: 0px;
    background-color: rgba(255, 255, 255, 1.0) !important;
}
.navbar input[type="text"] {
    font-family: "Didact Gothic";
    width: 20vw;
    padding: 5px 8px;
    border: 2px solid #E9E9E9;
    line-height: normal;
    background-color: #F5F5F5;
    font-size: 16px;
}
.navbar-brand {
    width: 12%
}
.navbar-brand img {
    width: 100%
}
.navbar-light .navbar-nav .nav-link {
    color: rgba(0, 0, 0, 1.0) !important;
    font-size: 16px;
    font-weight: 700 !important;
    text-transform: uppercase !important;
}
.navbar-dark .navbar-nav .nav-link {
    color: rgba(0, 0, 0, 1.0) !important;
}
.nav-link {
    padding: 8px !important;
    font-size: 16px;
    font-family: "Poppins";
    font-weight: 100 !important;
}
.nav-item {
    margin-left: 1.0rem;
    line-height: 3.0rem;
}
.navbar-light .navbar-nav .nav-link {
    border-bottom: 3px solid transparent;
    ;
}
.navbar-light .navbar-nav .nav-link:hover {
    border-bottom: 3px solid #FF0001;
    color: #FF0001 !important;
}
.navbar-dark .navbar-nav .nav-link {
    border-bottom: 3px solid #000000;
    ;
}.container
.navbar-dark .navbar-nav .nav-link:hover {
    border-bottom: 3px solid #71888d;
}
/*-------**********************-----------------*/

/*----------------FOOTER STYLES-----------*/


.CopyRightText {

    font-size: 14px;
	margin-top: 20px;
    padding-bottom: 10px;
    font-family: "Gill Sans", "Gill Sans MT";
    color: rgba(255, 255, 255, 0.5);
    margin-right: 30px;
    text-transform: uppercase;
	float:left;
	width: 25%
}
.CopyRightText a {
    color: #FF0001;
    font-size: 12px;
    font-family: "Gill Sans", "Gill Sans MT";
}
footer.footer_cont {
    padding: 0;
    margin: 0px auto;
    width: 100%;
    margin-top: 0rem;
    background-color: #000000 !important;
    overflow: auto;
	position: fixed;
	bottom: 0px;
	z-index: 99;
}

.footer_cont> .container {
    background-color: #000000;
    overflow: auto
}
.align-items-center {
   align-items: center!important;
}
.d-flex {
    display: flex!important;
}


.footer_cont .ft_nav {
    text-align: left;
    padding: 20px 10px 20px 10px;
    font-size: 12px;
    color: #666;
    float: left;
    width: 45%;

}

.footer_cont .ft_nav a:hover {
    text-decoration: underline;
}
.footer_cont small {
    font-size: 12px !important;
    clear: both;
    float: left
}
.footer_cont small a {
    color: #71888d !important;
}
.footer_cont .ft_nav a:nth-of-type(1) {
    border: none;
    padding-left: 0px;
}
.footer_cont .ft_nav a {
    font-family: "Poppins";
    text-decoration: none;
    font-size: 14px;
    color: #737373;
    display: inline-block;
    padding: 0 15px 0 15px;
    font-weight: 400 !important;
    background-color: transparent;
    ;
}

.footer_cont .ft_nav a {
    font-family: "Poppins";
    text-decoration: none;
    font-size: 14px;
    color: #737373;
    display: inline-block;
    padding: 0 15px 0 15px;
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    font-weight: 400 !important;
    background-color: transparent;
    ;
}

.footer_cont .FootBot {
    width: 25%;
    float: left;
    text-align: right;
    border: none;
    margin-top: 15px;
}
.SocialIcon {
    width: 2.2rem;
    height: 2.2rem;
    color: #737373;
    text-align: center;
    line-height: 2.2rem;
    font-size: 1.0rem;
}
.SocialIcon:hover {
    color: #FF0001;
}
.ThemeLink {
    color: #FF0001;
    font-size: 14px;
    font-family: "Poppins";
    font-weight: 200;
    text-decoration: none;
}
.ThemeLink:hover {
    color: #ffffff;
    text-decoration: none;
}


.ThemeLink2 {
    color: #FF0001;
   
    font-family: "Poppins";
    font-weight: 500;
    text-decoration: none;
}
.ThemeLink2:hover {
    color: #000000;
    text-decoration: none;
}
/*-------**********************-----------------*/



.Mainheader {
    margin-top: 4rem !important;
}
.magiccard {
    background-color: #fafafa;
    border: none;
    text-align: center;
    display: flex;
}
.magiccard h3.card-title {
    font-size: 1.25rem
}
.magiccard h3.card-title a {
    font-size: 20px;
    color: #000000;
    font-family: "calluna";
    text-decoration: none;
    margin-bottom: 5px !important;
    line-height: 20px;
}
.magiccard h3.card-title a:hover {
    color: #ce0f2e;
}
.magiccard h4 {
    font-size: 18px;
    color: rgba(0, 0, 0, 0.4);
    margin: 0px;
}
.magiccard .strike {
    color: rgba(0, 0, 0, 0.4);
    text-decoration: line-through;
    padding-left: 5px;
}
.magiccard h3 {
    font-size: 0.8rem
}
.magiccard .card-text {
    font-size: 14px;
    font-family: "Kobenhavn";
    line-height: 14px;
    color: #86939e;
}
.login.active {
    background-color: #ce0f2e;
    color: #ffffff !important;
}
#hover {
    position: relative;
}
#hover a.login {
   font-family: "Poppins";
   width: 20vw;
    padding: 5px 8px;
    border: 2px solid #E9E9E9;
    line-height: normal;
    background-color: #F5F5F5;
    font-size: 16px;
}

#hovermagic {
	position: relative;
}

#hovermagic a.login {

	line-height: normal;
    margin-top: 1.0rem;
	background-color: #F5F5F5;
	color: #ffffff;
	border: 2px solid #E9E9E9;;
	font-family: "Poppins";
	font-size: 16px;
	padding: 5px 8px !important;
}
/*#hover a.login:hover {
    border: 2px solid #ce0f2e;
    border-radius: 3px;
    line-height: normal;
    margin-top: 1.0rem;
    background-color: #ce0f2e;
    color: #ffffff !important;
}*/
.SearchShop {
    width: 275px;
    background-color: #ffffff;
    padding: 15px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    margin-top: 12px;
    right: 0px;
}
.SearchShop h5 {
    font-size: 14px;
    font-family: "Poppins";
    padding: 0px;
    line-height: 10px;
}
.SearchShop .smalltext {
    font-family: "Poppins";
    font-size: 12px;
    padding: 0px;
    line-height: 10px;
    color: rgba(0, 0, 0, 0.5);
}
.SearchShop input[type="text"] {
    font-family: "Poppins";
    width: 100%;
    padding: 7px 8px;
    border: 1px solid #E1E8EE;
    line-height: normal;
}
.MainTitle {
    border-top: 1px solid #e9e9e9;
}
.redBut {
    background-color: #ce0f2e;
    color: #ffffff;
    width: 100%;
    border-radius: 0px !important;
}
.ThemeBut {
    background-color: #71888d;
    color: #ffffff;
    width: 100%;
    border-radius: 0px !important;
}
.card-type {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 3px 10px;
    color: #fff;
    z-index: 1;
    font-size: 0.9rem;
}
.card-type img {
    max-width: 100%;
}
.disc {
    background-color: #bf2c34;
}
.sale {
    background-color: #e74c38;
}

.GalleryCard{ border:none; margin-top: 2.5rem}
.GalleryCard .card-body{ padding:1.25rem 0px;}
.GalleryCard .card-title{ font-family: "Poppins"; color: #212121; font-size: 22px; text-align: center; text-transform: uppercase}
.GalleryCard .card-text{ font-family: "Didact Gothic"; color: #383838; font-size: 16px; text-align: center; font-weight: 300; }


.DivbelowNav {
    margin-top: 100px;
    overflow: auto; margin-bottom: 100px;
}
.dropdown-menu {
    background-color: #ffffff;
    padding: 5px;
    /*border-top: 2px solid #ce0f2e;*/
    border-radius: 0px;
}
.dropdown-menu .dropdown-item {
    font-size: 12px;
    padding: 5px;
    line-height: normal;
}
/*-----------HOME CARAOUSEL-----------*/
.HeaderBox {
    display: -webkit-flex; /* Safari */
    display: flex;
    -webkit-flex-grow: 1; /* Safari 6.1+ */
    -webkit-flex-shrink: 1; /* Safari 6.1+ */
    -webkit-flex-basis: 100px; /* Safari 6.1+ */
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 100px;
    margin-top: 70px;
}
.HeaderBox div.HeadItem {
    width: 25%;
}
.HeaderBox h3 {
    font-family: "calluna";
    color: rgba(255, 255, 255);
    font-size: 24px;
    margin: 0px;
}
.HeaderBox small {
    font-family: "Kobenhavn";
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.0rem;
}
.HeaderBox h4 {
    font-family: "Kobenhavn";
    color: rgba(255, 255, 255, 1.0);
    font-size: 1.4rem;
}
.HeaderBox a {
    font-family: "Kobenhavn";
    color: rgba(255, 255, 255, 0.7) !important;
    font-size: 1.0rem;
    text-decoration: underline !important
}
.HeaderBox a:hover {
    text-decoration: none !important
}
.HeaderBox .imgBox {
    max-width: 100%;
    padding: 0px 2rem;
}
.HeaderBox .TxtBox {
    padding: 0.5rem;
}
.CoverImage {
    background-size: cover;
}
.HeadBox-Orange {
    background-color: #e1652c;
}
.HeadBox-Red {
    background-color: #bf2c34;
}
.HeadBox-Pink {
    background-color: #fe729c;
}
.HeadBox-Yellow {
    background-color: #d9960b;
}
/*-----------------END--------*/


.MainHead {
    font-family: "Poppins";
    font-size: 28px;
    color: #212121;
    margin: 5px 0px;
    font-weight: 600;
	
}
.BigHead {
    font-family: "Poppins";
    font-size: 38px;
    color: #ebbd4a;
    margin: 30px 0px;
    font-weight: 700;
}
.ThemeColor {
    color: #ebbd4a !important;
}
.PageHead {
    font-family: "Poppins";
    font-size: 30px;
    color: #ebbd4a;
    margin: 30px 0px;
    font-weight: 300;
}
.SmallHead {
    font-family: "Poppins";
    font-size: 22px;
    color: #ebbd4a;
    margin: 30px 0px;
    font-weight: 300;
}
.Content {
    font-family: "Didact Gothic";
    font-size: 18px;
    color: #383838;
    font-weight: 300;
}

.Content strong{font-weight: 600;}
.Content-sm {
    font-family: "Gill Sans", "Gill Sans MT";
    font-size: 16px;
    color: #ffffff;
    font-weight: 100 !important;
}
.Content-sm strong {
    font-weight: 600 !important
}
.MainHead .icon {
    width: 86px;
    margin-right: 20px;
}
.MainHead .icon img {
    max-width: 100px;
}
.SiteLink {
    color: #EBBD4A;
    text-decoration: none
}
.SiteLink:hover {
    color: #ffffff;
    text-decoration: underline;
}
.RedLink-big {
    color: #ce0f2e;
    text-decoration: none;
    font-size: 24px;
}
.RedLink-big:hover {
    color: #747C83;
    text-decoration: underline;
}
.ProductsListText {
    font-family: "Kobenhavn";
    font-size: 22px;
    color: #747C83;
    font-weight: 100 !important;
    line-height: 34px;
}
.low-alpha {
    list-style-type: lower-alpha;
    font-family: "Kobenhavn";
    font-size: 22px;
    color: #747C83;
    font-weight: 100 !important;
}
.low-alpha li, .low-roman li {
    font-family: "Gill Sans", "Gill Sans MT";
    font-size: 18px;
    font-weight: inherit;
    color: white;
}
.low-roman {
    list-style-type: lower-roman;
    font-family: "Didact Gothic";
    font-size: 22px;
    color: #383838;
    font-weight: 100 !important;
}
.disc-style {
    list-style-type: disc;
    font-family: "Didact Gothic";
    font-size: 18px;
    font-weight: inherit;
    color: #383838;
}
.disc-style li {
    font-family: "Didact Gothic";
    font-size: 18px;
    font-weight: inherit;
    color: #383838;
}
.clear {
    clear: both !important;
}
.magicForm {
    font-family: "Poppins"
}
.magicForm label {
    font-size: 16px;
    color: #383838;
    font-weight: 500;
}
.magicForm input[type="text"], .magicForm input[type="email"], .magicForm input[type="tel"], .magicForm textarea, .magicForm input[type="file"] {
    border: 2px solid #e1e8ee;
    border-radius: 0px;
    font-family: "Poppins";
    font-size: 16px;
    color: #5E6977
}
.magicForm select {
    border: 2px solid #e1e8ee;
    border-radius: 0px;
    font-family: "Poppins";
    font-size: 18px;
    color: #5E6977;
    background-color: #D1D1D1;
}
.magicForm-But {
    border:2px solid  #FF0001;
    color: #FF0001;
    width: 100%;
    border-radius: 0px !important;
    padding: 10px;
    font-family: "Poppins";
    font-size: 18px;
    font-weight: 500 !important;
}
.TipsBut {
    border: 2px solid #ce0f2e;
    color: #ce0f2e;
    width: 100%;
    border-radius: 0px !important;
    padding: 6px 10px;
    font-family: "Poppins";
    font-size: 24px;
}
.TipsBut:hover {
    border: 2px solid #ce0f2e;
    background-color: #ce0f2e;
    color: #ffffff;
    width: 100%;
    border-radius: 0px !important;
    padding: 6px 10px;
    font-family: "Poppins";
    font-size: 24px;
}
.hidDiv {
    display: none;
}
.checkbox-inline {
    min-width: 25% !important;
    position: relative;
    padding-left: 30px;
}
.checkbox-inline input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    margin-right: 30px;
}
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eff3f6;
    border: 2px solid #e1e8ee
}
/* On mouse-over, add a grey background color */
.checkbox-inline:hover input ~ .checkmark {
    background-color: #e1e8ee;
}
.checkbox-inline input:checked ~ .checkmark {
    background-color: #ffffff;
    border: 2px solid #FF0001;
	color: #FF0001 !important;
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
    font-family: "Kobenhavn";
	
}
.checkbox-inline input:checked ~ .checkmark:after {
    display: block;
}
.checkbox-inline .checkmark:after {
    left: 9px;
    top: 3px;
    width: 5px;
    height: 15px;
    border: solid #FF0001;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
	
}
.ContactBg {
    background-image: url( "../images/contactus.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 40%;
}
.RedText {
    color: #ce0f2e;
}
.Find-outlet {
    background-color: #000000;
    background-image: url("../images/map.jpg");
}
.HeaderImageBox {
    margin-top: 70px;
    width: 100%;
    overflow: auto;
}
.HeaderImageBox .HeadColumn {
    width: 25%;
    float: left;
    clear: none;
    overflow: auto;
}
.ThreeTips {
    border-top: 1px solid #f1f1f1;
    margin-top: 10px;
}
/*----------Carausel----------------*/


.carousel {
    position: relative !important;
}
.carousel-inner {
    height: 100vh;
}
.carousel-inner .carousel-caption {
    position: absolute !important;
    top: 30%;
    bottom: auto;
    left: 65%;
    background-color: #ffffff;
    width: 35%;
    text-align: left;
    padding: 40px;
}
.carousel-inner h5 {
    font-size: 30px;
    color: #212121;
    font-family: "Poppins";
    font-weight: 900;
    width: auto;
}

.carousel-inner p {
    font-family: "Didact Gothic", sans-serif;
    font-size: 18px;
    color: #383838;
}
.DarkPanel {
    background-color: rgba(0, 0, 0, 0.9);
    padding: 20px 50px 50px 50px;
    overflow: auto
}
.YellowPil {
    font-family: "Gill Sans", "Gill Sans MT";
    font-size: 20px;
    color: #ffffff;
    font-weight: 100 !important;
    background-color: #EBBD4A;
    padding: 3px 20px;
    width: auto;
    float: left;
    margin-bottom: 20px;
}
.card-body h4 {
    font-size: 20px;
    font-family: "Poppins";
    color: #1A174A;
}
.card-text {
    font-family: "Gill Sans", "Gill Sans MT";
    font-size: 16px;
    color: #444B5C;
}
.zeroRadius {
    border-radius: 0px !important;
}
.card a {
    font-family: "Gill Sans", "Gill Sans MT";
    font-size: 16px;
    color: #FF0001;
}
.LocationHeader {
    top: 50%;
    left: 5%;
}
.LocationHeader h1 {
    font-size: 2.5rem;
}
.MobileMar {
    margin-top: 0px;
}
.showhide {
    display: block;
}

.filter-button
{
	font-family: "Didact Gothic";
    font-size: 16px;
    border: 1px solid #B2B2B2;
    border-radius: 0px;
    text-align: center;
    color: #383838;
    margin-bottom: 30px;
	
	padding: 5px 25px;

}
.filter-button:hover
{
    font-size: 16px;
       border: 1px solid #B2B2B2;
    border-radius: 0px;
    text-align: center;
    color: #ffffff;
    background-color: #FF0001;

}
.btn-default:active .filter-button:active
{
    background-color: #FF0001;
    color: white;
}
.carousel-control-next{z-index:9999;

}






/*-------------End-----------------*/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
	
	.carousel-control-next{z-index:1;

}


	.navbar input[type="text"] {
    
    width: 100%;
    
}
.showhide {
    display: block;
}
.navbar-brand img {
    width: 60%;
}
#hover a.login {
    margin-top: 0px;
}
.SearchShop {
    width: 100%;
    background-color: transparent;
    padding: 0px;
    box-shadow: 0px;
    margin-top: 0px;
    right: 0px;
    margin-bottom: 20px;
}
.SearchShop h5 {
    font-size: 14px;
    font-family: "Poppins";
    padding: 0px;
    line-height: 10px;
    color: #ffffff;
}
.MobileMar {
    margin-top: 60px;
}
.carousel-inner {
    height: 100vh !important;
}
.LocationHeader {
    top: 20%;
    left: 0%;
}
.LocationHeader h1 {
    font-size: 2.0rem;
}
.carousel-indicators {
    margin-bottom: 0rem !important;
}
.carousel-inner .carousel-caption {
    position: relative !important;
    top: auto;
    bottom: auto;
    left: 0px;
    background-color: #ffffff;
    width: 100%;
    text-align: left;
    padding: 10px;

}
	
		.w-100 {
    width: 160%!important;
}
.carousel-inner h5 {
    font-size: 30px;
    color: #212121;
    font-family: "Poppins";
    font-weight: 900;
    width: auto;
}
.HeaderBox div.HeadItem {
    width: 50% !important;
}

	
.footer_cont .ft_nav {
    width: 70% !important;
}
	
	.footer_cont .ft_nav a{ font-size:13px;
	padding: 0 5px 0 5px;
	}

.navbar {
    padding: 10px;
}
.navbar-brand {
    width: 30%;
}
.checkbox-inline {
    min-width: 50% !important;
}
.navbar-light .navbar-nav .nav-link {
    font-size: 18px;
    border: none;
    text-align: center;
    line-height: 25px;
}
.navbar-dark .navbar-nav .nav-link {
    font-size: 14px;
    border: none;
    text-align: center;
    line-height: 25px;
}
	.carousel-control-next-icon, .carousel-control-prev-icon{ display:none}
}

@media (min-width: 320px) and (max-width: 480px) {
	
	.carousel-control-next{z-index:1;

}
	
	
	.SocialIcon {
    width: 2em;
    height: 2rem;
    color: #737373;
    text-align: center;
    line-height: 3rem;
    font-size: 1.4rem;
}
.SocialIcon:hover {
    color: #FF0001;
}
	.carousel-control-next-icon, .carousel-control-prev-icon{ display:none}
	body{margin-bottom:0px;}
		.footer_cont{position:relative;}
		.navbar input[type="text"] {
    
    width: 100%;
    
}
.showhide {
    display: none;
}
.SearchShop {
    width: 100%;
    background-color: transparent;
    padding: 0px;
    box-shadow: 0px;
    margin-top: 0px;
    right: 0px;
    margin-bottom: 20px;
}
.SearchShop h5 {
    font-size: 14px;
    font-family: "Poppins";
    padding: 0px;
    line-height: 10px;
    color: #ffffff;
}
.MobileMar {
    margin-top: 40px;
}
.carousel-inner {
    height: 100vh !important;
}
.LocationHeader {
    top: 20%;
    left: 0%;
}
.LocationHeader h1 {
    font-size: 2.0rem;
}
.carousel-indicators {
    margin-bottom: 0rem !important;
}
.carousel-inner .carousel-caption {
    position: relative !important;
    top: auto;
    bottom: auto;
    left: 0px;
    background-color: #ffffff;
    width: 100%;
    text-align: left;
    padding: 10px;

}
	
	.w-100 {
    width: 160%!important;
}
.carousel-inner h5 {
    font-size: 30px;
    color: #212121;
    font-family: "Poppins";
    font-weight: 900;
    width: auto;
}
.HeaderBox div.HeadItem {
    width: 50% !important;
}
.footer_cont .ft_nav {
    width: 100%;
	padding: 0px;
}
.footer_cont .ft_nav a {
    font-family: "Poppins";
    text-decoration: none;
    font-size: 22px;
    color: #696E79;
    display: flex;
    padding: 5px 0px;
    border-left: none;
    font-weight: 100;
}

	.FootBot a{ color: #007bff;
    text-decoration: none;
    background-color: transparent;}

.navbar {
    padding: 10px;
}
.navbar-brand {
    width: 30%;
}
.checkbox-inline {
    min-width: 50% !important;
}
.navbar-light .navbar-nav .nav-link {
    font-size: 18px;
    border: none;
    text-align: center;
    line-height: 25px;
}
.navbar-dark .navbar-nav .nav-link {
    font-size: 18px;
    border: none;
    text-align: center;
    line-height: 25px;
}
}
/*-------------------HeaderBox-------------------*/
