@font-face {
    font-family: "Kobenhavn";
    src: url("//db.onlinewebfonts.com/t/9eb76028d6e168a3bf7cef0f0806eb45.eot"); /* IE9*/
    src: url("//db.onlinewebfonts.com/t/9eb76028d6e168a3bf7cef0f0806eb45.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */ url("//db.onlinewebfonts.com/t/9eb76028d6e168a3bf7cef0f0806eb45.woff2") format("woff2"), /* chrome firefox */ url("//db.onlinewebfonts.com/t/9eb76028d6e168a3bf7cef0f0806eb45.woff") format("woff"), /* chrome firefox */ url("//db.onlinewebfonts.com/t/9eb76028d6e168a3bf7cef0f0806eb45.ttf") format("truetype"), /* chrome firefox opera Safari, Android, iOS 4.2+*/ url("//db.onlinewebfonts.com/t/9eb76028d6e168a3bf7cef0f0806eb45.svg#Kobenhavn") format("svg"); /* iOS 4.1- */
}

@font-face {
    font-family: "Calluna";
    src: url("//db.onlinewebfonts.com/t/ae62d3f53ea6f4b79f16ec3383c443a4.eot"); /* IE9*/
    src: url("http://db.onlinewebfonts.com/t/ae62d3f53ea6f4b79f16ec3383c443a4.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */ url("//db.onlinewebfonts.com/t/ae62d3f53ea6f4b79f16ec3383c443a4.woff2") format("woff2"), /* chrome firefox */ url("//db.onlinewebfonts.com/t/ae62d3f53ea6f4b79f16ec3383c443a4.woff") format("woff"), /* chrome firefox */ url("//db.onlinewebfonts.com/t/ae62d3f53ea6f4b79f16ec3383c443a4.ttf") format("truetype"), /* chrome firefox opera Safari, Android, iOS 4.2+*/ url("//db.onlinewebfonts.com/t/ae62d3f53ea6f4b79f16ec3383c443a4.svg#Calluna") format("svg"); /* iOS 4.1- */
}



p,
a,
li,
html,
.nav-item,.nav-itembody {
   font-family: "Kobenhavn";
    color: #323A45;
}

.btn, .nav-link {
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

mainbody,
h1,
h2,
h3,
h4,
h5,
h6
 {
    font-family: "calluna";
     color: #323A45;

}





h1{
	font-family: "calluna";
    font-size: 40px !important;

}

h2{
	font-family: "calluna";
    font-size: 24px !important;


}

h3{
	font-family: "calluna";
    font-size: 18px !important;


}


h4{
	font-family: "calluna";
    font-size: 15px !important;


}


h5{
	font-family: "calluna";
    font-size: 14px !important;


}

h6{
	font-family: "calluna";
    font-size: 12px !important;


}

.main-title.h2 {
	font-size: 24px;
    font-family: "calluna";
}

.main-title.h3 {
	font-size: 18px;
    font-family: "calluna";
}

.main-title.h4 {
	font-size: 15px;
    font-family: "calluna";
}
.main-title.h5 {
	font-size: 14px;
    font-family: "calluna";
}
.main-title.h6 {
	font-size: 12px;
    font-family: "calluna";
}
.category-subtitle{
	font-family: "calluna";
}

/*body {*/
/*    overflow-x:hidden;*/
/*}*/

.masthead {
    height: 100vh;
    min-height: 500px;
    background-image: url('https://source.unsplash.com/BtbjCFUvBXs/1920x1080');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


/*------------------NAVIGATION STYLES-----------*/

.navbar {
    padding: 0px;
}

.navbar-brand {
    width: 17%
}

.navbar-brand img {
    width: 100%
}

.nav-link,
.external {
    padding: 8px !important;
    font-size: 16px !important;
}

.nav-item {
    margin-left: 0rem !important;
    line-height: 4.0rem;
}

.navbar-light .navbar-nav .nav-link {
    border-bottom: 3px solid transparent;
    color: #000000 !important;
}

.navbar-light .navbar-nav .nav-link:hover {
    border-bottom: 3px solid #ce0f2e;
}

.navbar-light .navbar-nav .nav-link:current {
    border-bottom: 3px solid #ce0f2e;
}

.external {
    border-bottom: 3px solid #ffffff;
    color: #000000 !important;
}

.external:hover {
    border-bottom: 3px solid #ce0f2e;
}


/*-------**********************-----------------*/


/*----------------FOOTER STYLES-----------*/

.footer_cont {
    padding: 0;
    margin: 0px auto;
    margin-top: 0px;
    width: 100%;
    border-top: 1px solid #e2e2e2;
    overflow: hidden;
    /*    margin-top: 20px;*/
    /*    position: absolute;*/
    /*    bottom: 0;*!*/
    margin-top: 3rem;
}

.footer_cont .ft_nav {
    background: #f5f5f7;
    text-align: center;
    /*padding: 20px 10px 20px 10px;*/
    font-size: 12px;
    color: #666;
}

.panel-footer li > a {
    font-family: "Kobenhavn";
    text-decoration: none;
    font-size: 14px;
    color: #696E79;;
    display: inline-block;
    padding: 0 15px 0 15px;
    /*border-left: 1px solid rgba(0, 0, 0, 0.2);;*/
}

.footer_cont .ft_nav a:hover {
    text-decoration: underline;
}

.footer_cont .botFoot {
    border-top: 1px solid #d7d9d8;
    padding: 1.2rem;
    text-align: center;
    font-size: 0.75rem;
    color: #7a7d87;
}

.panel-footer li {
    display: inline-block;
}

.footer-divider {
    color: #eeeeee;
}

.SocialIcon {
    border-radius: 100px;
    width: 2.5rem;
    height: 2.5rem;
    border: 1px solid #6a6e79;
    color: #6a6e79;
    text-align: center;
    line-height: 2.5rem;
    font-size: 1.25rem;
    margin: 0.5rem;
}

.SocialIcon:hover {
    background-color: #6a6e79;
    color: #ffffff;
}


/*-------**********************-----------------*/

.Mainheader {
    margin-top: 4rem !important;
}

.bsocard {
    background-color: #fafafa;
    border: none;
    text-align: center;
    display: flex;
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 25px;
    /*height: 370px;*/
}

/*.bsocard h3.card-title {
    font-size: 1.25rem
}*/

.bsocard h3.card-title{
    font-size: 20px !important;
    color: #000000;
    font-family: "calluna";
    text-decoration: none;
    margin-bottom: 5px !important;
    line-height: 20px;
}
.bsocard h3.card-title a {
    font-size: 24px;
    color: #000000;
    font-family: "calluna";
    text-decoration: none;
    margin-bottom: 5px !important;
    line-height: 20px;
    height: 420px;
}

.bsocard h3.card-title a:hover {
    color: #ce0f2e;
}

.bsocard h4 {
    font-size: 20px !important;
    color: rgba(0, 0, 0, 0.4);
    margin: 0px;
    font-family: "Kobenhavn" !important;
}

.bsocard h5 {
    font-size: 22px !important;
    font-family: "Kobenhavn" !important;

}

.bsocard .strike {
    color: rgba(0, 0, 0, 0.4);
    text-decoration: line-through;
    padding-left: 5px;
}

.bsocard h3 {
    font-size: 0.8rem
}

.bsocard .card-text, .bsocard .card-body p {
    font-size: 16px;
    font-family: "Kobenhavn";
    line-height: 16px;
    color: #86939e;
}
.card-imgbox {
	height: 220px;
}
.card-imgbox a img{
    width: 100%;
    max-height: 100%;
}
.login.active {
    background-color: #ce0f2e;
    color: #ffffff !important;
}

#hover {
    position: relative;
}

#hover a.login {
    border: 2px solid #ce0f2e !important;
    border-radius: 3px;
    line-height: 1em;
    margin-top: 22px;
    background-color: #ce0f2e;
    color: #ffffff !important ;
}

#hover a.login:hover {
    border: 2px solid #ce0f2e;
    border-radius: 3px;
    line-height: 1em;
    background-color: #ffffff;
    color: #000000 !important;

}

#login-box {
    width: 275px;
    background-color: #ffffff;
    padding: 15px;
    position: absolute;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    border-top: 2px solid #ce0f2e;
    margin-top: 12px;
    right: 0px;
    display: none;
}

#login-box h5 {
    font-size: 0.8rem;
    padding: 0px;
    line-height: 10px;
}

#login-box .smalltext {
    font-size: 0.65rem;
    padding: 0px;
    line-height: 10px;
    color: rgba(0, 0, 0, 0.5);
}

#login-box input[type="text"] {
    width: 100%;
    padding: 5px 8px;
    border: 1px solid #e1e8ee;
    line-height: normal;
}

.MainTitle {
    border-top: 1px solid #e9e9e9;
}

.redBut {
    margin: 0px 10px 10px 10px;
    border-radius: 3px;
    background-color: #ce0f2e;
    border-color: transparent;
    color: #fff;
    height: 34px;
    font-size: 1rem;
}
.redBut:hover{
    border:2px solid #ce0f2e !important;
    background-color:#fff;
    color:#000 !important
}
.redButSpan {
    padding: 0px;
}

.card-type {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 6px 10px;
    color: #fff;
    z-index: 1;
    font-size: 0.9rem;
    border-radius: 2px
}

.card-type img {
    max-height: 100%;
}

.new {
    background-color: #f2ae1b;
}

.disc {
    background-color: #bf2c34;
}

.sale {
    background-color: #e74c38;
}

.DivbelowNav {
    margin-top: 100px;
    overflow: auto;
    /*padding-left: 120px;*/
    /*padding-right: 120px;*/
}

.DivbelowNavHome {
    margin-top: 70px;
}

.dropdown-menu {
    background-color: #ffffff;
    padding: 5px;
    /*border-top: 2px solid #ce0f2e;*/
    border-radius: 0px;
}

.dropdown-menu .dropdown-item {
    font-size: 16px;
    padding: 5px;
    line-height: normal;
}


/*-----------HOME CARAOUSEL-----------*/

.HeaderBox {
    display: -webkit-flex;
    /* Safari */
    display: flex;
    -webkit-flex-grow: 1;
    /* Safari 6.1+ */
    -webkit-flex-shrink: 1;
    /* Safari 6.1+ */
    -webkit-flex-basis: 100px;
    /* Safari 6.1+ */
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 100px;
    margin-top: 70px;
}

.HeaderBox div.HeadItem {
    width: 25%;
}

.HeaderBox h3 {
    font-family: "calluna";
    color: rgba(255, 255, 255, 1.0);
    font-size: 24px;
    margin: 0px;
}

.HeaderBox small {
    font-family: "Kobenhavn";
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.0rem;
}

.HeaderBox h4 {
    font-family: "Kobenhavn";
    color: rgba(255, 255, 255, 1.0);
    font-size: 1.4rem;
}

.HeaderBox a {
    font-family: "Kobenhavn";
    color: rgba(255, 255, 255, 0.7) !important;
    font-size: 1.0rem;
    text-decoration: underline !important
}

.HeaderBox a:hover {
    text-decoration: none !important
}

.HeaderBox .imgBox {
    max-width: 100%;
    padding: 0px 2rem;
}

.HeaderBox .TxtBox {
    padding: 0.5rem;
}


/*----------UpdatedClasses-----*/

.HeadItem {
    /*margin-top:70px;*/
    text-align: center;
    height: 32rem;
}

.heroimagepanel .HeadItem h3 {
    font-family: "calluna";
    color: rgba(255, 255, 255, 1.0);
    font-size: 20px !important;
    margin: 0px;
}

.HeadItem small {
    font-family: "Kobenhavn";
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.5rem;
}

.HeadItem h4 {
    font-family: "Kobenhavn";
    color: rgba(255, 255, 255, 1.0);
    font-size: 2.0rem;
}

.HeadItem a {
    font-family: "Kobenhavn";
    color: rgba(255, 255, 255, 0.7) !important;
    font-size: 1.2rem;
    text-decoration: underline !important
}

.HeadItem a:hover {
    text-decoration: none !important
}

.HeadItem .imgBox {
   max-width: 90%;
   padding: 25PX 15px;
   text-align: center;
   margin: auto;
}

.HeadItem .imgBox img {
    max-width: 80% !important;
}

.HeadItem .TxtBox {
    padding: 0.5rem;
}

/*-----*/
.CoverImage {
    background-size: cover;
    background-position: center;
}

.HeadBox-Orange {
    background-color: #e1652c;
}

.HeadBox-Red {
    background-color: #bf2c34;
}

.HeadBox-Pink {
    background-color: #fe729c;
}

.HeadBox-Yellow {
    background-color: #d9960b;
}

/*-----------------END--------*/
.FootBot {
    text-align: center;
}

.MainHead {
    font-family: "calluna";
    font-size: 40px;
    color: #323A45;
    margin: 30px 0px;
}

.Content,.textwithoutpadding,.textwithoutpadding p,.imgtxt-para,.imgtxt-para p{
    font-family: "Kobenhavn";
    font-size: 24px;
    color: #747C83;
    font-weight: 100 !important;
    line-height: 30px;
}
.textwithoutpadding{
	padding: 0px !important;
}

.Content-sm {
    font-family: "Kobenhavn";
    font-size: 18px;
    color: #5E6977;
    font-weight: 100 !important;
}

.MainHead .icon {
    width: 86px;
    margin-right: 20px;
}

.MainHead .icon img {
    max-width: 100px;
}

.RedLink {
    color: #ce0f2e;
    text-decoration: none
}

.RedLink:hover {
    color: #747C83;
    text-decoration: underline;
}

.RedLink-big {
    color: #ce0f2e;
    text-decoration: none;
    font-size: 24px;
}

.RedLink-big:hover {
    color: #747C83;
    text-decoration: underline;
}

.ProductsListText {
    font-family: "Kobenhavn";
    font-size: 22px;
    color: #747C83;
    font-weight: 100 !important;
    line-height: 34px;
}

.low-alpha {
    list-style-type: lower-alpha;
    font-family: "Kobenhavn";
    font-size: 22px;
    color: #747C83;
    font-weight: 100 !important;
}

.low-roman {
    list-style-type: lower-roman;
    font-family: "Kobenhavn";
    font-size: 22px;
    color: #747C83;
    font-weight: 100 !important;
}

.disc-style {
    list-style-type: disc;
    font-family: "Kobenhavn";
    font-size: 22px;
    color: #747C83;
    font-weight: 100 !important;
}

.clear {
    clear: both !important;
}

.BsoForm {
    font-family: "calluna"
}

.BsoForm label {
    font-size: 18px;
    color: #747C83;
    font-weight: 200;
}

.BsoForm input[type="text"],
.BsoForm input[type="email"],
.BsoForm input[type="tel"],
.BsoForm textarea,
.BsoForm input[type="file"] {
    border: 2px solid #e1e8ee;
    border-radius: 0px;
    font-family: "Kobenhavn";
    font-size: 18px;
    color: #5E6977
}

.BsoForm select {
    border: 2px solid #e1e8ee;
    border-radius: 0px;
    font-family: "Kobenhavn";
    font-size: 18px;
    color: #5E6977;
    background-color: #eff3f6;
}

.BsoForm-But {
    background-color: #ce0f2e;
    color: #ffffff;
    width: 100%;
    border-radius: 0px !important;
    padding: 10px;
    font-family: "Kobenhavn";
    font-size: 24px;
}

.TipsBut {
    border: 2px solid #ce0f2e;
    color: #ce0f2e;
    width: 100%;
    border-radius: 0px !important;
    padding: 6px 10px;
    font-family: "Kobenhavn";
    font-size: 24px;
}

.TipsBut:hover {
    border: 2px solid #ce0f2e;
    background-color: #ce0f2e;
    color: #ffffff;
    width: 100%;
    border-radius: 0px !important;
    padding: 6px 10px;
    font-family: "Kobenhavn";
    font-size: 24px;
}

.hidDiv {
    display: none;
}

.checkbox-inline {
    min-width: 25% !important;
    position: relative;
    padding-left: 30px;
}

.checkbox-inline input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    margin-right: 30px;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eff3f6;
    border: 2px solid #e1e8ee
}

/* On mouse-over, add a grey background color */
.checkbox-inline:hover input ~ .checkmark {
    background-color: #e1e8ee;
}

.checkbox-inline input:checked ~ .checkmark {
    background-color: #ce0f2e;
    border: 2px solid #ce0f2e
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
    font-family: "Kobenhavn";
}

.checkbox-inline input:checked ~ .checkmark:after {
    display: block;
}

.checkbox-inline .checkmark:after {
    left: 9px;
    top: 3px;
    width: 5px;
    height: 15px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.ContactBg {
    background-image: url("/content/dam/thebso/images/contactus.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 40%;
}

.RedText, .RedText p {
    color: #ce0f2e;
}

.Find-outlet {
    background-color: #000000;
    background-image: url("/content/dam/thebso/images/map.png");
}

.HeaderImageBox {
    margin-top: 70px;
    width: 100%;
    overflow: auto;
}

.HeaderImageBox .HeadColumn {
    width: 25%;
    float: left;
    clear: none;
    overflow: auto;
}

.ThreeTips {
    border-top: 1px solid #f1f1f1;
    margin-top: 10px;
}

.ft_nav {
    background-color: #f5f5f7;
}

.MobPad {
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 15px;
}

.component-primary-heading img{
	width: 86px;
    margin-right: 20px;
}
.component-sub-heading {

    font-family: "Kobenhavn";
    font-size: 24px;
    color: #747C83 !important;
    font-weight: 100 !important;
    line-height: 25px;
}
p img {
	max-width: 100%;
}
.component-primary-heading{
	font-family: "calluna";
    font-size: 40px;
    color: #323A45;
    margin: 30px 0px;
}
.thebsoimage, .textandimage img{
	max-width: 100%;
}
.bg-light{
	background-color: #ffffff!important;
}

.component-description{
	font-family: "Kobenhavn";
    font-size: 24px;
    color: #747C83;
    font-weight: 100 !important;
    line-height: 25px;
}
.component-sub-heading{
	font-family: "Kobenhavn";
    font-size: 24px;
    color: #343a40!important;
    font-weight: 100 !important;
    line-height: 25px;
}

.text ul > li{
	list-style-type: disc;
    font-family: "Kobenhavn";
    font-size: 22px;
    color: #747C83;
    font-weight: 100 !important;
}

.main-title{
	font-family: "calluna";
    font-size: 40px;
    color: #323A45;
    margin: 30px 15px;
}

.description{
	font-family: "Kobenhavn";
    font-size: 24px;
    color: #747C83;
    font-weight: 100 !important;
}

.bluePrimaryCTA{
    font-family: "Kobenhavn";
    font-size: 24px;
    color: blue !important;
    font-weight: 100 !important;
    line-height: 25px;
}

.title-component .row{
	margin: 0px !important;
}

.textwithoutpadding .top-border{
	border-top:1px solid rgba(0,0,0,.1);
    padding: 3rem 0rem !important;
}

.textwithoutpadding .bottom-border{
	border-bottom:1px solid rgba(0,0,0,.1);
    padding: 3rem 0rem !important;
}

.textwithoutpadding .left-border{
	border-left:1px solid rgba(0,0,0,.1);
	padding-right: 15px;
}

.textwithoutpadding .right-border{
	border-right:1px solid rgba(0,0,0,.1);
	padding-left: 15px;
}
.acs-commons-resp-colctrl-col:nth-of-type(2){padding-right:0px !important;}
.acs-commons-resp-colctrl-col:nth-of-type(3){padding-right:0px !important;}
.acs-commons-resp-colctrl-col:nth-of-type(4){padding-right:0px !important;}
.acs-commons-resp-colctrl-col:nth-of-type(5){padding-right:0px !important;}
.acs-commons-resp-colctrl-col .component-sub-heading {padding-right:20px; display:block;}

/*.img-container{
	max-width: 100% !important;
    margin: 20px 0px !important;
    padding: 0px !important;
}*/

.imgtxt-box{
	padding-left: 0px !important;
}
.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg%20viewBox='0%200%2030%2030'%20xmlns='http://www.w3.org/2000/svg'%3e%3cpath%20stroke='rgba(0,%200,%200,%200.5)'%20stroke-width='2'%20stroke-linecap='round'%20stroke-miterlimit='10'%20d='M4%207h22M4%2015h22M4%2023h22'/%3e%3c/svg%3e") !important;
}
.show-more-container .map-directions .check-in {
    border: 1px solid rgba(0,0,0,0.125) !important;
    padding: 15px 0 30px 0;
    background: #fff;
    float: left;
    width: 23%;
    margin: 0 14px 30px 5px;
    box-shadow: none !important;
    overflow: visible;
    position: relative;
    width: 23% !important;
    height: 200px;
}

.location-search .search-right-column .result-container{max-height:auto !important; overflow:hidden !important;}

.location-search {
    width:100%;
    display: block;
    border: none !important;
}
.icon-tick{z-index:0 !important;}

.added-salons-container{background: transparent !important;}
.show-more-container .map-directions .check-in{border: 1px solid rgba(0,0,0,0.125) !important;  padding:20px;}
.imgtxt-para a {
    color: #ce0f2e;
    text-decoration: none;
}

.imgtxt-para a:hover {
    color: #747C83;
    text-decoration: underline;
}

.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}

.HeadItem h3 {
    font-size: 22px;
    }

.HeadItem small {
    font-size: 1.3rem;
}

.HeadItem h4 {
    font-size: 1.5rem;
}
.FBO {
    margin-left: 50px !important;
}

/* Skinny Message Component Stylings*/
.skinnycomponent .displayTable {
    display: flex !important;
    table-layout: fixed;
    width: 100%;
    align-items: center;
  justify-content: center;
}
.skinnycomponent .tableCell {
    display: table-cell;
    vertical-align: middle;
    float: none;
}
.skinny-text-component.red-bg,
.skinny-text-component.red-bg a,
.skinny-text-component.red-bg p,
.skinny-text-component.red-bg h1,
.skinny-text-component.red-bg h2,
.skinny-text-component.red-bg h3,
.skinny-text-component.red-bg h4,
.skinny-text-component.red-bg h5,
.skinny-text-component.red-bg h6,
.skinny-text-component.red-bg span,
.skinny-text-component.red-bg div,
.skinny-text-component.teal-bg,
.skinny-text-component.teal-bg a,
.skinny-text-component.teal-bg p,
.skinny-text-component.teal-bg h1,
.skinny-text-component.teal-bg h2,
.skinny-text-component.teal-bg h3,
.skinny-text-component.teal-bg h4,
.skinny-text-component.teal-bg h5,
.skinny-text-component.teal-bg h6 {
    color: #fff !important;
}
a.cta-arrow {
    text-decoration: none;
    color: #455f6c;
    font-family: 'Kobenhavn';
    font-weight: bold;
    background: url('/content/dam/thebso/www/club/Arrow-Link-red-bolder.svg') no-repeat center right;
    padding-right: 12px;
}
.skinnycomponent .container{
    width: 80%;
}
.skinnycomponent {
    padding: 15px 5px !important;
}
.sdplcHR{
	width:220%;
}

.each-state {
	padding: 0px;
}

.state-name {
	max-width: 100%;
	padding-left: 0px !important;
	text-transform: uppercase;
}

.return-to-top {
	color: #000000;
}

.salon-group {
	background-color: rgba(0, 0, 0, 0.03);
	padding: 10px;
	max-width: 100%;
}

.salon-group a {
	font-size: 14px;
	line-height: 25px;
}

.breadcrumb {
	background-color: transparent;
}

.jump-links-wrap h1,.jump-links-wrap h2, .jump-links{
	text-transform: uppercase;
}

.state-name a{
	color: #323A45 !important;
}

.listsalonsonpage .h4{
    white-space: nowrap;
}

.jump-links-wrap{padding:0px;}

.jump-links-wrap .h4{
	font-size: 18px !important;
    padding:0px;
}
.each-state{ overflow:auto;}

.state-city-alphaSet{
	padding-right: 20px;
}

.jump-links{
	margin-top: 30px;
	padding-left: 0px !important;
}

#stateUrlForCity {
	text-transform: capitalize;
}

.salon-list-head{
	padding-left:0px !important;
}
/*Ipad Pro*/

@media only screen and (min-width: 1024px) and (orientation: portrait) {
	/*.bsocard {
		height: 350px;
	}*/
	.card-imgbox {
		height: 140px !important;
	}
	.acs-commons-resp-colctrl-col .component-sub-heading {padding-right:20px; display:block;}
	.component-description{	
		font-size: 20px !important;    
	}
}



/*Iphone5*/

@media screen and (device-aspect-ratio: 40/71) {

    .show-more-container .map-directions .check-in{width:100% !important}
    .FBO {
        margin-left: 0px !important;
    }
	.bsocard {
		margin-right: 5px;
		margin-left: 5px;
	}
	.card-type {
		padding: 3px 5px;
		color: #fff;
		z-index: 1;
		font-size: 0.7rem;
		border-radius: 2px;
	}
	.bsocard .card-text {
		font-size: 12px;
		line-height: 12px;
	}
	.HeadItem h3 {
		font-size: 20px;
		margin: 0px;
	}
	.HeadItem h4 {
		font-size: 1.1rem
	}
	.acs-commons-resp-colctrl-col .component-sub-heading {padding-right:0px; display:block;}
	.dropdown-menu{
        display:block !important;
        text-align: center;
        border:none !important;
        background-color: transparent;
        }
    .dropdown-toggle::after {
        content:none;
    }
    .dropdown-menu .dropdown-item{
        line-height: 25px;
    }

    .dropdown-menu .dropdown-item, .navbar-light .navbar-nav .nav-link{
        border:none !important;
    }
    .HeadItem h3 {
        font-size: 22px;
    }

    .HeadItem small {
        font-size: 1.0rem;
        line-height: 0.9rem;
    }

    .HeadItem h4 {
        font-size: 1.5rem;
    }
	.hidden-xs {
	    display: none !important;
	}
    .text .h1 img{
        width: 20% !important;
    }
    .component-primary-heading {
        font-size: 30px;
    }
	.skinnycomponent .container{
	    width: 100%;
	}
	.maps-container {
        height: 500px !important;
        width: 100% !important;
        margin: 30px 0px !important;
    }
    .salon-timings .h4,
    .salondetails .h4{
    	font-size: 1.1rem;
    }
	
	.salondetailspagelocationcomp .sub-brand{
    	font-size: 30px !important;
    }
	.salondetailspagelocationcomp .salon-address.h1{
    	font-size: 1.5rem !important;
    }
	.imgtxt-para p{		
		font-size: 20px;
	}
	.component-description{	
		font-size: 20px !important;    
	}
}

@media screen and (max-width: 768px){
    .show-more-container .map-directions .check-in{width:100% !important}
    .FBO {
        margin-left: 0px !important;
    }
    .thebsoimage {
        width: 100% !important;
    }
    .hidden-xs {
    	display: none !important;
	}
    .DivbelowNav {
        margin-top: 100px;
        overflow: hidden;
        padding-left: 10px;
        padding-right: 10px;
    }

    /*.HeadItem {
        height: 50vh;
    }*/

    .mob-view, .acs-commons-resp-colctrl-col {
        width: 50% !important;
    	margin-bottom: 0px !important;
    }
	.DivbelowNav .mob-view,.DivbelowNav .acs-commons-resp-colctrl-col {
        width: 100% !important;
    	margin-bottom: 0px !important;
    }
    .HeaderBox div.HeadItem {
        width: 50% !important;
    }

    .footer_cont .ft_nav a {
        font-family: "Kobenhavn";
        text-decoration: none;
        font-size: 16px;
        color: #696E79;;
        display: flex;
        padding: 5px 0px;
        border-left: none;;
    }

    .FootBot {
        text-align: left;
    }

    .navbar {
        padding: 10px;
    }

    .navbar-brand {
        width: 30%;
    }

    .checkbox-inline {
        min-width: 50% !important;
    }

    .navbar-light .navbar-nav .nav-link {
        font-size: 18px;
        border: none;
        text-align: center;
        line-height: 25px;
    }
    /*.bsocard{
        height:45vh;
    }*/

    .card-imgbox {
        height: auto;
    }
    .acs-commons-resp-colctrl-col .component-sub-heading {padding-right:0px; display:block;}
    .dropdown-menu{
        display:block !important;
        text-align: center;
        border:none !important;
        background-color: transparent;
        }
     .dropdown-toggle::after {

        content:none;

        }
    .dropdown-menu .dropdown-item{
        line-height: 25px;
    }

    .dropdown-menu .dropdown-item, .navbar-light .navbar-nav .nav-link{ border:none !important;}
    .text h1 img{
        width: 20% !important;
    }
	.component-primary-heading {
        font-size: 30px;
    }
	.skinnycomponent .container{
	    width: 100%;
	}
	.maps-container {
        height: 500px !important;
        width: 100% !important;
        margin: 30px 0px !important;
    }
    .salon-timings .h4,
    .salondetails .h4{
        font-size: 1.1rem;
    }
	
	.salondetailspagelocationcomp .sub-brand{
    	font-size: 30px !important;
    }
	.salondetailspagelocationcomp .salon-address.h1{
    	font-size: 1.5rem !important;
    }
	
	.imgtxt-para p{		
		font-size: 20px;
	}
	
	.component-description{	
		font-size: 20px !important;    
	}

}
/*Mobile Landscape*/
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 740px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

    .HeadItem {
        height:28rem;
    }
	
	.salondetailspagelocationcomp .sub-brand{
    	font-size: 30px !important;
    }
	
	.component-description{	
		font-size: 20px !important;    
	}
}

/*@media (min-width: 320px) and (max-width: 480px) {
    .thebsoimage {
        width: 100% !important;
    }
    .DivbelowNav {
        margin-top: 55px;
        overflow: auto;
        padding-left: 10px;
        padding-right: 10px;
    }

    .HeadItem {
        height: 50vh;
    }

    .mob-view {
        width: 50% !important;
    	margin-bottom: 0px !important;
    }

    .HeaderBox div.HeadItem {
        width: 50% !important;
    }

    .footer_cont .ft_nav a {
        font-family: "Kobenhavn";
        text-decoration: none;
        font-size: 16px;
        color: #696E79;;
        display: flex;
        padding: 5px 0px;
        border-left: none;;
    }

    .FootBot {
        text-align: left;
    }

    .navbar {
        padding: 10px;
    }

    .navbar-brand {
        width: 30%;
    }

    .checkbox-inline {
        min-width: 50% !important;
    }

    .navbar-light .navbar-nav .nav-link {
        font-size: 18px;
        border: none;
        text-align: center;
        line-height: 25px;
    }
    .bsocard{
        height:45vh;
    }

    .card-imgbox {
        height: auto;
    }

}*/

.copyright {
    font-size: 12px;
}


.Twitter,.Facebook,.LinkedIn,.Instagram {
    filter: grayscale(0%) brightness(100%) contrast(100%);
    -webkit-filter: grayscale(0%) brightness(100%) contrast(100%);
}

.Twitter:hover,.Facebook:hover,.LinkedIn:hover,.Instagram:hover {
    filter: grayscale(100%) brightness(10%) contrast(2);
    -webkit-filter: grayscale(100%) brightness(10%) contrast(2);
}
/*-------------------HeaderBox-------------------*/

.displayNone{
    display: none !important;
}

.vcard { min-height:23rem; }

.maps-container {
    height: 500px;
    width: 120%;
    margin: 220px 20px;
}


.locSearchNoSalonsFound p {
    color: #ce0f2e;
    text-decoration: none;
}

.bsoasl {
    width: 90% !important;
}

.show-more-container .check-in .icon-tick {
    width: 48px;
    height: 46px;
    background-color: #fff;
    display: inline-block;
    position: absolute;
    bottom: -6px;
    right: -15px;
    z-index: 1180;
    border-radius: 50%;
    border: 1px solid #5f6167 !important;
    box-shadow: 0px 0px 3px #888888;
    font-size: 31px;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    color: #ce0f2e;
}
.show-more-container .map-directions .check-in:hover .icon-tick {
    color: #fff;
    background-color: #ce0f2e;
    -webkit-box-shadow: 3px 3px 4px rgba(30, 62, 110, 0.5);
    -moz-box-shadow: 3px 3px 4px rgba(30, 62, 110, 0.5);
    box-shadow: 3px 3px 4px rgba(30, 62, 110, 0.5);
}

.show-more-container .check-in .icon-tick:hover {
    color: #fff;
    background-color: #ce0f2e;
    -webkit-box-shadow: 3px 3px 4px rgba(30, 62, 110, 0.5);
    -moz-box-shadow: 3px 3px 4px rgba(30, 62, 110, 0.5);
    box-shadow: 3px 3px 4px rgba(30, 62, 110, 0.5);
}
.show-more-container .check-in.selected {
    cursor: default;
    position: relative;
}
.show-more-container .check-in.selected .icon-tick {
    color: #fff;
    background-color: #ce0f2e;
    -webkit-box-shadow: 3px 3px 4px rgba(30, 62, 110, 0.5);
    -moz-box-shadow: 3px 3px 4px rgba(30, 62, 110, 0.5);
    box-shadow: 3px 3px 4px rgba(30, 62, 110, 0.5);
}

.jobsformspacer {
    margin-top: 2rem;
}

.show-more-container .location-search-title .search-nav {
    margin-top: 12px;
    padding-left: 10px;
    padding-right: 10px;
    float:left;
}

@media screen and (min-width: 768px){
    .ph-no a{
		pointer-events: none;
  		cursor: default;
	}
}