/*
 * #%L
 * ACS AEM Commons Package
 * %%
 * Copyright (C) 2014 Adobe
 * %%
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 * 
 *      http://www.apache.org/licenses/LICENSE-2.0
 * 
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 * #L%
 */
.acs-commons-resp-colctrl-row
{
 box-sizing: border-box;
 margin-left: 0px;
 margin-right: 0px;
 moz-box-sizing: border-box;
 webkit-box-sizing: border-box;
}
.acs-commons-resp-colctrl-row:after
{
 clear: both;
 content: " ";
 display: table;
}

/**
@numOfDivisionsOfContainer -  This variable will divide the container div by that many divisions.
For example, we have taken @numOfDivisionsOfContainer as 100.This would mean, if a columns' width is set as 50, then it will have 50% width of the container.
This value can take any number.
This basically loops and creates that many number of classes
**/
 @numOfDivisionsOfContainer: 100;

// helper class, will never show up in resulting css
// will be called as long the index is above 0
.loopingClass (@index) when (@index > 0) {
    .acs-commons-resp-colctrl-col-@{index} {
        position: relative;
        min-height: 1px;
        padding-left:  0px;
        padding-right: 0px;
        width: percentage((@index / @numOfDivisionsOfContainer));
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        float:left;
    }

    // next iteration
    .loopingClass(@index - 1);
}

// end the loop when index is 0
.loopingClass (0) {}


.loopingClass (@numOfDivisionsOfContainer);
@media screen and (max-width: 768px){
    .loopingClass (@index) when (@index > 0) {
        .acs-commons-resp-colctrl-col-@{index}{
        width: 100%;
        margin-bottom: 16px;
        padding-right: 0px;
    }
        // next iteration
    .loopingClass(@index - 1);
}

// end the loop when index is 0
.loopingClass (0) {}


.loopingClass (@numOfDivisionsOfContainer);
}