.location-dtls{
      .vcard{
        	margin-left:63px;
            span{
                display:block;
                font-size: 12px;
            }
            h3{
              margin-top: 12px;
              margin-bottom: 0;
            }
            .salon-loc,.salon-tme {
               margin-bottom: 21px;
            }
			.openingsoon{
				margin-bottom:12px;
				font-size: 12px;
				width: 70%;
            }
            .ph-no{
                margin-bottom: 12px;
                a{
					color:#727173;
                }
            }
            .salon-distance {
               margin-bottom: 16px;
              	background:url('../../clientlibs/publish-clientlibs/resources/images/distance.svg') no-repeat center left;
                padding-left: 35px;
            }

             .salon-addr{
                width:70%;
                margin-bottom:12px;
            }

           .salon-drct,.salon-details{
            	display: inline;
                a{
                    padding-right: 10px;
                    font-weight: bold;
                    display:inline-block;
                    margin-bottom:36px;
               		margin-right: 40px;
                @media(max-width: 767px){
					margin-right: 30px;
                }
                    font-size: 12px;
                }
            }
            .other-salons{
                .salon-brand,.salon-dist {
                  margin:12px 0 6px 0;
                }
                .salon-loc{
                    margin-bottom: 36px;
                }
                .salon-drct {
                   margin-bottom: 24px;
                }
            }
            .checkin-badge{
                background: #f3f3f3;
                height: 70px;
                margin-top: 12px;
                width: 100%;
                padding: 5px;
                h3{
                    margin: 5px 0;;
                }
            }
            .checkin-button{
                background: #404041;
                padding: 3px;
                font-size: 11px;
                color: #fff;
                border: 1px solid #404041;
                width: 100%;
                border-radius: 0;
            }
        .checkin-details{
            margin-bottom: 15px;
            .wait-time,.location-details{
                display: inline-block;
            }
            .wait-time{
				font-size: 18px;
                font-family: "merriweather";
                margin-right: 10px;
                span{
					font-size: 12px;
                    font-family: "open-sans";
                }
                .measure{
					display: inline;
                    font-size: 10px;
                }
            }
            .location-details{
                font-family: "open-sans";
                position: relative;
   				top: -11px;
                .action-buttons{
                   a{
                        font-size: 14px;
                        padding: 5px;
                        -moz-border-radius: 0;
                        -webkit-border-radius: 0;
                        -o-border-radius: 0;
                        -ms-border-radius: 0;
                        border-radius: 0;
                     }
                }
            }
        }

        }
		.siteName{
            display: inline-block;
            margin-top: 6px;
        	margin-left:50px;
            color:#727173;
        }
        .loc-count{
            display: inline-block;
            margin-right: 20px;
            border-right: 1px solid #DADADA;
            padding-right: 20px;
        }
     }
.location-search{
    @media(min-width:768px){
        .errorMessage {
           clear: both;
           text-align:center;
        }

    }
    .search-right-column,.search-left-column{
        padding:0;
    }
    .search-right-column{
        .result-container{
            overflow: auto;
            //max-height: 561px;
             @media(max-width:767px){
				max-height:none;
                width:100%;
            }
        }
    }
    #map-canvas{
        height: 561px;
		//width: 100%; changes made for map alignment
    }
    width: 96.8%;
    float: left;
    border: 1px solid #dadada;
	@media(max-width:767px){
        width:100%;
	 	display:flex;
        height:auto;
        border: none;
        flex-direction:column;
        .search-right-column{
			display:flex;
            order:2;
        }
        .search-left-column{
			display:flex;
            order:1;
            #map-canvas{
                height:400px;
            }
        }
    }
    @media (min-width: 992px){
        margin-left: 10px;

    }
}

.location-search-main{
	.srch-row {
        border:1px solid #cf0000;
        margin:15px 0;
        .input-group-addon{
            border:none;
            font-weight: bold;
            font-size:14px;

        }
        input{
            width:100%;
            height: 48px;
            border: none;
            box-shadow: none;
            background:transparent;
        }
        a{
            width:100px;
            border-color: transparent;
        }
    }
}

#accordion1,#accordion{
    .panel{
		background-color:#F9F9F9;
        border:none;
        &.active{
			background:none;
        }
        a{
            &.accordion-toggle{
				color:#404041;
                text-decoration:none;
            }
            .panel-heading{
                background-color:transparent;
                border-color:transparent;
                padding-top: 12px;
                padding-bottom: 12px;
                min-height:48px;
                .store-title{
					font-family:'merriweather';
					@media (max-width: 767px){
						font-size: 14px;
                    }
                    span.loc-count{
						max-width: 28px;
                    }
                }
            }
            small{
                margin-left:48px;
                color:#727173;
                &.favorite{
                   position:relative;
                   top:-5px;
                   margin-left:10px;
                }
                &.subbrand{
                    display:block;
                    clear: both;
                }
            }
        }

        .panel-body{
			padding:0;
        }
    }
}


.btn-primary {
  margin: 15px 10px 10px 10px;
  border-radius: 3px;
  background-color: #ce0f2e;
  border-color: transparent;
  color: #fff;
  max-height: 2.25rem;
  font-size: 1rem;

  &:hover {
    border: 2px solid #ce0f2e !important;
    background-color: #ffffff;
    color: #000000 !important;
  }
}

.store-address, .salon-timings, .ph-no {
  font-family: 'Kobenhavn';
}

.locator-icon {
  margin: 20px;

  @media (max-width: 767px){
    display: none;
  }
}


