@media screen and (max-width: 767px) {
  .skinny-text-component {
    padding-left: 10px;
    padding-right: 11px;
  }
}
.skinny-text-component a:hover,
.skinny-text-component a:focus {
  text-decoration: none;
}
.skinny-text-component .skinny-msg {
  font-style: italic;
}
.skinny-text-component .skinny-msg p {
  margin-bottom: 0;
}
.skinny-text-component .skinny-details {
  font-weight: bold;
}
@media screen and (max-width: 991px) {
  .skinny-text-component .skinny-with-img .skinny-img {
    width: 100%;
  }
}
@media (min-width: 992px) {
  .skinny-text-component .skinny-with-img .skinny-img {
    height: 84px;
    float: right;
  }
}
.skinny-text-component .skinny-with-img .skinny-title {
  font-family: "calluna";
}
@media screen and (max-width: 991px) {
  .skinny-text-component .skinny-with-img .skinny-title {
    padding-top: 24px;
    padding-bottom: 12px;
  }
}
@media screen and (max-width: 991px) {
  .skinny-text-component .skinny-with-img .skinny-details {
    padding-top: 12px;
    padding-bottom: 24px;
  }
}
.skinny-text-component .skinny-with-img .skinny-title .h3,
.skinny-text-component .skinny-with-img .skinny-msg .h3,
.skinny-text-component .skinny-with-img .skinny-title h3,
.skinny-text-component .skinny-with-img .skinny-msg h3 {
  margin: 0;
}
@media screen and (max-width: 991px) {
  .skinny-text-component .skinny-with-img .skinny-title .h3,
  .skinny-text-component .skinny-with-img .skinny-msg .h3,
  .skinny-text-component .skinny-with-img .skinny-title h3,
  .skinny-text-component .skinny-with-img .skinny-msg h3 {
    font-size: 0.9em;
  }
}
.skinny-text-component .skinny-with-img .skinny-msg .h3,
.skinny-text-component .skinny-with-img .skinny-msg h3 {
  font-family: "calluna";
  font-size: 16px;
}
@media (max-width: 767px) {
  .skinny-text-component .skinny-with-img .skinny-msg .h3,
  .skinny-text-component .skinny-with-img .skinny-msg h3 {
    font-size: 12px;
  }
}
@media (min-width: 992px) {
  .skinny-text-component .skinny-with-img .skinny-msg .h3,
  .skinny-text-component .skinny-with-img .skinny-msg h3 {
    padding-left: 45px;
  }
}
@media (min-width: 992px) {
  .skinny-text-component .skinny-with-img .skinny-details {
    text-align: right;
  }
}
@media (max-width: 991px) {
  .skinny-text-component .skinny-with-img .display-table {
    display: table;
    table-layout: fixed;
    width: 100%;
  }
}
@media (max-width: 991px) {
  .skinny-text-component .skinny-with-img .table-cell {
    display: table-cell;
    vertical-align: middle;
    float: none;
  }
}
@media (max-width: 767px) {
  .skinny-text-component .skinny-with-img .table-cell:first-child {
    padding: 0;
  }
}
.skinny-text-component .skinny-without-img {
  padding-top: 20px;
  padding-bottom: 20px;
}
@media screen and (max-width: 991px) {
  .skinny-text-component .skinny-without-img {
    text-align: center;
  }
}
.skinny-text-component .skinny-without-img .skinny-title .h3,
.skinny-text-component .skinny-without-img .skinny-title h3 {
  margin: 0;
  font-family: "calluna";
  font-size: 28px;
  font-weight: bold;
}
@media screen and (max-width: 767px) {
  .skinny-text-component .skinny-without-img .skinny-title .h3,
  .skinny-text-component .skinny-without-img .skinny-title h3 {
    font-size: 18px;
  }
}
@media (min-width: 992px) {
  .skinny-text-component .skinny-without-img .skinny-title .h3,
  .skinny-text-component .skinny-without-img .skinny-title h3 {
    text-align: center;
  }
}
.skinny-text-component .skinny-without-img .skinny-msg {
  font-family: "Kobenhavn";
  font-size: 16px;
}
@media screen and (max-width: 767px) {
  .skinny-text-component .skinny-without-img .skinny-msg {
    font-family: "open-sans";
  }
}
@media screen and (max-width: 991px) {
  .skinny-text-component .skinny-without-img .skinny-msg {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}
.skinny-text-component .skinny-without-img .skinny-msg .h3,
.skinny-text-component .skinny-without-img .skinny-msg h3 {
  margin: 0;
}
.skinny-text-component.red-bg {
  background: #c04444;
  color: #fff !important;
}
.skinny-text-component.red-bg a {
  color: #ce0f2e;
}
.skinny-text-component.red-bg a.cta-arrow {
  background: url('/content/dam/thebso/www/club/Arrow-Link-white-bolder.svg') no-repeat center right;
}
.skinny-text-component.red-bg a.cta-arrow:hover {
  color: #fff;
  background: url('/content/dam/thebso/www/club/Arrow-Link-white-bolder.svg') no-repeat center right;
}
.skinny-text-component.lightgrey-bg a.cta-arrow{
	background: url('/content/dam/thebso/www/club/Arrow-Link-teal-bolder.svg') no-repeat center right;
}
.skinny-text-component.darkgrey-bg {
  background: #727173;
  color: #fff;
}
.skinny-text-component.darkgrey-bg a {
  color: #fff;
}
.skinny-text-component.darkgrey-bg a.cta-arrow {
  background: url('/content/dam/thebso/www/club/Arrow-Link-white-bolder.svg') no-repeat center right;
  padding-right: 12px;
}
.skinny-text-component.darkgrey-bg a.cta-arrow:hover {
  color: #fff;
  background: url('/content/dam/thebso/www/club/Arrow-Link-white-bolder.svg') no-repeat center right;
  padding-right: 12px;
}
.skinny-text-component.teal-bg {
  background: #455f6c;
  color: #fff;
}
.skinny-text-component.teal-bg a {
  color: #fff;
}
.skinny-text-component.teal-bg a.cta-arrow {
  background: url('/content/dam/thebso/www/club/Arrow-Link-white-bolder.svg') no-repeat center right;
  padding-right: 12px;
}
.skinny-text-component.teal-bg a.cta-arrow:hover {
  color: #fff;
  background: url('/content/dam/thebso/www/club/Arrow-Link-white-bolder.svg') no-repeat center right;
  padding-right: 12px;
}
.skinny-text-component.lightgrey-bg {
  background: #f3f3f3;
  color: #636264;
}
.skinny-text-component.lightgrey-bg a {
  color: #455f6c;
}
.skinny-text-component.white-bg {
  background: #fff;
  color: #636264;
}
.skinny-text-component.white-bg a {
  color: #ce0f2e;
}
.skinny-text-component.border-white-bg {
  background: #fff;
  border-top: 1px solid #e2e2e2;
  border-bottom: 1px solid #e2e2e2;
  color: #636264;
}
.skinny-text-component.border-white-bg a {
  color: #ce0f2e;
}
.skinny-text-component.lightblue-bg {
  background: lightblue;
  color: #636264;
}
.skinny-text-component.lightblue-bg a {
  color: #455f6c;
}
@media (min-width: 992px) {
  .skinny-text-component.medium-width {
    width: 50%;
  }
}
@media (min-width: 992px) {
  .skinny-text-component.medium-width .skinny-with-img .skinny-img {
    height: 104px;
  }
}
.skinny-text-component.medium-width .skinny-with-img .skinny-title .h3,
.skinny-text-component.medium-width .skinny-with-img .skinny-title h3 {
  font-size: 28px;
  font-family: "calluna";
}
.skinny-text-component.medium-width .skinny-with-img .skinny-details {
  text-align: left;
}
.skinny-text-component.medium-width .skinny-without-img {
  padding-top: 10px;
  padding-bottom: 10px;
}
.acs-commons-resp-colctrl-col-50 .skinnycomponent .skinny-text-component.medium-width {
  width: 100%;
}
.skinnycomponent.section {
  padding: 15px 0;
}
