.artworkspecifications{
    textarea{
		resize:none;
    }
	.form-group{
		input#dimensionWidth{
	    	width: 66.6%;
		}
		input#dimensionHeight{
			width: 66.6%;
		}

		&.adtype-content{
	    	display: none;
		}
		&.directions-desc{
			display: none;
		}
	}
}

.artworksadditionalinformation{
    textarea{
		resize:none;
    }

}

.imagelist {

    .imgList_select{
		float: left;
		position: relative;
        width:100%;

        .icon-tick{
            display:none;
            border: solid 2px green;
            width: 30px;
            padding: 0;
            border-radius: 15px;
            margin: 0;
            font-size: 25px;
            position: absolute;
            right: 20px;
            top: 20px;
            color: green;
			z-index:10;

            &:before {
    			content: "\e61d";
			}
        }
    }

    .shownImage {
        img{
   	 		width:100%;
        }
        .icon-tick{
            width: 28px;
            position: absolute;
            right: 20px;
            top: 20px;
            border: solid 2px #3E5581;
            padding: 3px;
            display: block;
            border-radius: 14px;
            color: #3E5581;
            font-weight: bold;
            font-size: 15px;
            z-index:10;

            &:before{
				content: "\e617";
    			padding-left: 2px;
			}
        }
 	}

    #selected-images{
 		display: none;
   		float:left;
        .row{
			&.showSeletedImage{
				margin-top: -4em;
                margin-bottom:2em;
                .outer-link{
					display:none;
                }
            }
        }
    }
    #imageSection {
        display: none;
   		float:left;
        hr{
    		padding-top:35px;
        }
	}
    .nopadding{
		padding:0px;
    }
    .imgSelected{
		width: 100%;
        height: 100%;
        background: rgba(255,255,255,0.7);
        position: absolute;
    }
    .showSeletedImage .imgSelected{
		display:none;
    }
}

#artwork {
	.mycontactinformation {
		padding-top: 0;
		padding-left:0;
		.contact-info {
			padding-left: 0;
			.form-group{
				padding-left: 0;
				padding-right: 0;
			}
			&>div{
				padding-left: 0;
			}
			&>div>div{
				padding-left: 0;
				padding-right: 0;
			}
			&>div>p{
				margin:0;
			}
			&>div>h3{
				margin:0;
			}
		}
	}
	.myaddresscomponent{
		.my-address{
			padding-left: 0;
			.form-group{
				padding-left: 0;
                p{
					margin:0;
                }
			}
            .nopadding{
                padding:0px;
            }
            .nomargin{
                margin:0px;
            }
            &>.col-md-6{
            	&>.col-md-12{
            		padding: 0;
            		&>.row{
            			margin-left: 0;
            		}
            	}
            }
		}
	}
	.artworkgeneral{
		padding-bottom: 0;
		fieldset{
			margin-bottom: 0;
		}
	}
    .margin-top{
		margin-top:20px;
    }

}
label[for='dimensionWidth'], label[for='dimensionHeight']{
    padding-top: 8px;
}
.artworkcoupons {
    .couponWrap{
		padding-top:10px;
    }
    .coupons-subheading{
		font-style: italic;
		display: inline-block;
		margin-bottom: 10px;
    }
    #accordion-1{
		margin-top:20px;
    }
}
.artwork-general-error.error-msg{
    text-align: center;
}

#selected-images{
    .artwork-general-error.error-msg{
        width: 100%;
        float: left;
    }
}
#imageSection aside{
	border:1px solid #adadad;
	.h3{
		text-align:left;
        padding:0 15px;
	}

}
/*Store hours section CSS*/
#artwork{
	.storehours{
		&.section{
			padding: 0 0 15px 0;
			.col-md-push-3.col-md-9{
				&.form-group{
					margin-bottom: 0;
				}
			}
		}
	}
}



#dimensionWidth ~ p.error-msg,#dimensionHeight ~ p.error-msg{
	margin-left:70px;
}

.artworkheadline{
    .radio-inline + .radio-inline, .checkbox-inline + .checkbox-inline{
	 margin-left:0px !important;
    }
}


@media(max-width:992px){

	.artworkgeneral{
		.col-md-6,.col-md-12{
			padding:0;
		}
	}

	.artworkspecifications{
		.col-md-6, .col-md-12{
			padding:0;
		}
	}

	.artworksadditionalinformation{
		.col-md-6,.col-md-12{
			padding:0;
		}
    }

	.artworkspecifications .form-group input#dimensionHeight,.artworkspecifications .form-group input#dimensionWidth{
		width:100%;
	}
	#dimensionWidth ~ p.error-msg,#dimensionHeight ~ p.error-msg{
		margin-left:70px;
	}
}

@media(max-width:767px){
	#artwork{
		.col-md-6,.col-md-12{
			padding:0;
		}
	}
}
