.cancel-reservation{
	display:inline-block;
}

.add-another-guest{
	display:inline-block;
}

.checkinconfirmation{
	overflow:hidden;
}

.estimatedtime{
    color: #5e172d;
    font-style: italic;
    font-weight: bold;
    text-transform: none;
    font-size: 14px;
}

#checkinConfDiv{
    ol{
		padding-left:40px;
		list-style-type:decimal;
    }
	.alert-success{
		font-size:25px;
		p.check-in-conf-ins{
			color: #5e172d;
			font-style: italic;
			font-weight: bold;
			text-transform:none;
			font-size:18px;
		}
	}
    .col-block{
        h3{
            word-wrap: break-word;
        }
    }
    a{	
        &:hover,&:active{
            text-decoration:none;
        }
    }
}

.display-only-for-adding-guest{
	display:none;
}