.text{
     .form-group{
         margin-bottom: 0;
         padding-right: 30px;
    }
     .gffTextBox{
         width: 50%;
         display: block;
         height: 40px;
         padding: 6px 12px;
         font-size: .85em;
         line-height: 1.42857143;
         color: #5f6167;
         background-color: #fff;
         border: 1px solid #ccc;
    }
     .form-control{
         padding-right: 30px;
         width: 50%;
         display: block;
         padding: 6px 12px;
         font-size: .85em;
         line-height: 1.42857143;
         color: #5f6167;
         background-color: #fff;
         border: 1px solid #ccc;
    }
}
 .radio{
     margin: 0 0;
     .radio-label{
         padding:0 0 10px 0;
         font-weight: bold;
    }
     .form-group{
         margin-bottom: 0;
         &.has-error{
             .checkbox-inline {
                 color: #1e3e6e;
            }
            .checkbox{
                 .checkbox-label{
                     color: #5f6167;

                }
            }
        }
         .checkbox{
             .checkbox-label{
                 padding:0 0 5px 0;
                 font-weight: bold;
            }
        }
    }
}
 .dropdown{
     .form-control{
         width: 50%;
		 @media (max-width: 767px) {
		    width: 100%;
		 }
         display: block;
         padding: 0 12px;
         font-size: 24px;
         font-weight: 700;
         line-height: 1.42857143;
         color: #1e3e6e;
         background-color: #fff;
         border: 1px solid #ccc;
    }
}
 .submit {
     #cta-submit-button{
         width: 52%;
         display: block;
         line-height: 1.42857143;
         color: #5f6167;
         font-weight: 500;
         padding: 5px .5em;
         font-size: 20px;
         letter-spacing: 1px;
         border: 1px solid #ccc;
    }
}
