/*Includes styles for body tag, anchor tag, button styles and icomoon fonts */
*:before,
*:after {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}
html {
font-size: 10px;
-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
font-family: "open-sans", Helvetica, Arial, sans-serif;
font-size: 16px;
line-height: 1.42857143;
color: #5f6167;
background-color: #ffffff;
}

a {
color: #1e3e6e;
text-decoration: none;
outline:none;
}
a:hover,
a:focus {
color: #0e1c32;
text-decoration: underline;
}
a:focus {
outline: thin dotted;
outline: 5px auto -webkit-focus-ring-color;
outline-offset: -2px;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
position: relative;
min-height: 1px;
padding-left: 10px;
padding-right: 10px;
}

.btn {
display: inline-block;
margin-bottom: 0;
font-weight: bold;
text-align: center;
vertical-align: middle;
cursor: pointer;
background-image: none;
border: 1px solid transparent;
white-space: nowrap;
padding: 6px 12px;
font-size: 16px;
line-height: 1.42857143;
border-radius: 4px;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus {
outline: thin dotted;
outline: 5px auto -webkit-focus-ring-color;
outline-offset: -2px;
}
.btn:hover,
.btn:focus {
color: #003f72;
text-decoration: none;
}
.btn:active,
.btn.active {
outline: 0;
background-image: none;
-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
cursor: not-allowed;
pointer-events: none;
opacity: 0.65;
filter: alpha(opacity=65);
-webkit-box-shadow: none;
box-shadow: none;
}
.btn-default {
color: #003f72;
background-color: #ffffff;
border-color: #003f72;
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
color: #1e3e6e;
background-color: #e6e6e6;
border-color: #11233e;
}
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
background-image: none;
}
.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
background-color: #ffffff;
border-color: #003f72;
}
.btn-default .badge {
color: #ffffff;
background-color: #003f72;
}
.btn-primary {
color: #ffffff !important;
background-color: #003f72;
border-color: #003159;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
color: #ffffff;
background-color: #00233f;
border-color: #000f1b;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
background-image: none;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
background-color: #003f72;
border-color: #003159;
}
.btn-primary .badge {
color: #003f72;
background-color: #ffffff;
}
.btn-success {
color: #ffffff;
background-color: #5cb85c;
border-color: #4cae4c;
}
.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success {
color: #ffffff;
background-color: #449d44;
border-color: #398439;
}
.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success {
background-image: none;
}
.btn-success.disabled,
.btn-success[disabled],
fieldset[disabled] .btn-success,
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled:active,
.btn-success[disabled]:active,
fieldset[disabled] .btn-success:active,
.btn-success.disabled.active,
.btn-success[disabled].active,
fieldset[disabled] .btn-success.active {
background-color: #5cb85c;
border-color: #4cae4c;
}
.btn-success .badge {
color: #5cb85c;
background-color: #ffffff;
}
.btn-info {
color: #ffffff;
background-color: #5bc0de;
border-color: #46b8da;
}
.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active,
.open > .dropdown-toggle.btn-info {
color: #ffffff;
background-color: #31b0d5;
border-color: #269abc;
}
.btn-info:active,
.btn-info.active,
.open > .dropdown-toggle.btn-info {
background-image: none;
}
.btn-info.disabled,
.btn-info[disabled],
fieldset[disabled] .btn-info,
.btn-info.disabled:hover,
.btn-info[disabled]:hover,
fieldset[disabled] .btn-info:hover,
.btn-info.disabled:focus,
.btn-info[disabled]:focus,
fieldset[disabled] .btn-info:focus,
.btn-info.disabled:active,
.btn-info[disabled]:active,
fieldset[disabled] .btn-info:active,
.btn-info.disabled.active,
.btn-info[disabled].active,
fieldset[disabled] .btn-info.active {
background-color: #5bc0de;
border-color: #46b8da;
}
.btn-info .badge {
color: #5bc0de;
background-color: #ffffff;
}
.btn-warning {
color: #ffffff;
background-color: #43aae0;
border-color: #2da0dc;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active,
.open > .dropdown-toggle.btn-warning {
color: #ffffff;
background-color: #2293ce;
border-color: #1d7daf;
}
.btn-warning:active,
.btn-warning.active,
.open > .dropdown-toggle.btn-warning {
background-image: none;
}
.btn-warning.disabled,
.btn-warning[disabled],
fieldset[disabled] .btn-warning,
.btn-warning.disabled:hover,
.btn-warning[disabled]:hover,
fieldset[disabled] .btn-warning:hover,
.btn-warning.disabled:focus,
.btn-warning[disabled]:focus,
fieldset[disabled] .btn-warning:focus,
.btn-warning.disabled:active,
.btn-warning[disabled]:active,
fieldset[disabled] .btn-warning:active,
.btn-warning.disabled.active,
.btn-warning[disabled].active,
fieldset[disabled] .btn-warning.active {
background-color: #43aae0;
border-color: #2da0dc;
}
.btn-warning .badge {
color:#1e3e6e;
background-color: #ffffff;
}
.btn-danger {
color: #ffffff;
background-color: #be1e2d;
border-color: #a81b28;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.open > .dropdown-toggle.btn-danger {
color: #ffffff;
background-color: #921723;
border-color: #73121b;
}
.btn-danger:active,
.btn-danger.active,
.open > .dropdown-toggle.btn-danger {
background-image: none;
}
.btn-danger.disabled,
.btn-danger[disabled],
fieldset[disabled] .btn-danger,
.btn-danger.disabled:hover,
.btn-danger[disabled]:hover,
fieldset[disabled] .btn-danger:hover,
.btn-danger.disabled:focus,
.btn-danger[disabled]:focus,
fieldset[disabled] .btn-danger:focus,
.btn-danger.disabled:active,
.btn-danger[disabled]:active,
fieldset[disabled] .btn-danger:active,
.btn-danger.disabled.active,
.btn-danger[disabled].active,
fieldset[disabled] .btn-danger.active {
background-color: #be1e2d;
border-color: #a81b28;
}
.btn-danger .badge {
color: #be1e2d;
background-color: #ffffff;
}
.btn-link {
color:#1e3e6e;
font-weight: normal;
cursor: pointer;
border-radius: 0;
}
.btn-link,
.btn-link:active,
.btn-link[disabled],
fieldset[disabled] .btn-link {
background-color: transparent;
-webkit-box-shadow: none;
box-shadow: none;
}
.btn-link,
.btn-link:hover,
.btn-link:focus,
.btn-link:active {
border-color: transparent;
}
.btn-link:hover,
.btn-link:focus {
color: #1e83b8;
text-decoration: underline;
background-color: transparent;
}
.btn-link[disabled]:hover,
fieldset[disabled] .btn-link:hover,
.btn-link[disabled]:focus,
fieldset[disabled] .btn-link:focus {
color: #f2f2f2;
text-decoration: none;
}
.btn-lg,
.btn-group-lg > .btn {
padding: 10px 16px;
font-size: 20px;
line-height: 1.33;
border-radius: 6px;
}
.btn-sm,
.btn-group-sm > .btn {
padding: 5px 10px;
font-size: 12px;
line-height: 1.5;
border-radius: 3px;
}
.btn-xs,
.btn-group-xs > .btn {
padding: 1px 5px;
font-size: 12px;
line-height: 1.5;
border-radius: 3px;
}
.btn-block {
display: block;
width: 100%;
}
.btn-block + .btn-block {
margin-top: 5px;
}
input[type="submit"].btn-block,
input[type="reset"].btn-block,
input[type="button"].btn-block {
width: 100%;
}
.btn {
text-transform: uppercase;
font-family: "futura-pt-condensed", Helvetica, Arial, sans-serif;
font-weight: 500;
padding: 5px .5em;
font-size: 20px;
letter-spacing: 1px;
}
.btn.btn-lg {
font-size: 20px;
}
.btn.btn-large{
font-size: 28px;
padding: 6px 0.5em;
}
/*.btn-group .btn,
.action-buttons .btn {
padding: .25ex .5em;
}*/
@font-face {
font-family: 'icomoon';
src: url('../../fonts/icomoon/icomoon.eot?-no4tmm');
src: url('../../fonts/icomoon/icomoon.eot?#iefix-no4tmm') format('embedded-opentype'), url('../../fonts/icomoon/icomoon.woff?-no4tmm') format('woff'), url('../../fonts/icomoon/icomoon.ttf?-no4tmm') format('truetype'), url('../../fonts/icomoon/icomoon.svg?-no4tmm#icomoon') format('svg');
font-weight: normal;
font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
font-family: 'icomoon';
speak: none;
font-style: normal;
font-weight: normal;
font-variant: normal;
text-transform: none;
line-height: 1;
/* Better Font Rendering =========== */
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
/*not needed Bharat*/
 /* font-size: 1.75em;*/
}
.icon-scissors:before {
content: "\e600";
}
.icon-arrow:before {
content: "\e601";
}
.icon-profile:before {
content: "\e602";
}
.icon-search:before {
content: "\e603";
}
.icon-time:before {
content: "\e604";
}
.icon-yelp:before {
content: "\e605";
}
.icon-menu:before {
content: "\e606";
}
.icon-chair:before {
content: "\e607";
}
.icon-heart:before {
content: "\e608";
}
.icon-googleplus:before {
content: "\e609";
}
.icon-facebook:before {
content: "\e60a";
}
.icon-instagram:before {
content: "\e60b";
}
.icon-pinterest:before {
content: "\e60c";
}
.icon-twitter:before {
content: "\e60d";
}
/*.icon-youtube:before {
content: "\e60e";
}*/
.icon-linkedin:before {
content: "\e60f";
}
.icon-stumbleupon:before {
content: "\e610";
}
.icon-delicious:before {
content: "\e611";
}
.icon-tumblr:before {
content: "\e612";
}
.icon-scissor-locations-1:before {
content: "\e613";
}
.icon-scissor-locations-2:before {
content: "\e614";
}
.icon-scissor-locations-3:before {
content: "\e615";
}
.icon-plus:before {
content: "\e616";
margin-right: 8px;
}
.icon-close:before {
content: "\e617";
}
.icon-arrow-up:before {
content: "\e618";
}
.icon-arrow-left:before {
content: "\e619";
}
.icon-arrow-down:before {
content: "\e61a";
}
.icon-maps:before {
content: "\e61b";
}
.icon-list:before {
content: "\e61c";
}
.icon-tick:before {
content: "\e61d";
}
.icon-googleplus-transparent:before {
content: "\e616";
}
.icon-pinterest-transparent:before {
content: "\e61f";
}
.icon-linkedin-transparent:before {
content: "\e620";
}
.icon-stumbleupon-transparent:before {
content: "\e621";
}
.icon-tumblr-transparent:before {
content: "\e622";
}
.icon-star:before {
content: "\e623";
}
.icon-play:before {
content: "\e624";
}
.icon-man:before {
content: "\e625";
}
.icon-woman:before {
content: "\e626";
}
.icon-guest:before {
content: "\e627";
}
.icon-mail:before {
content: "\e628";
}
.icon-mobile:before {
content: "\e629";
}
.icon-youtube:before {
content: "\e62a";
}
.icon-calendar:before {
content: "\e62b";
}
.content .title.section{
padding: 0;
}

.title a{
outline:none;
}

.hero-lny-wrap{
overflow:hidden;
}

legend {
  display: block;
  padding: 0;
  padding-bottom: 22px;
  margin-bottom:0;
  font-size: inherit;
  line-height: inherit;
  color: #5f6167;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
}

fieldset legend {
border: 0;
font-size: .85em;
}

label > [class^="icon-"], label > [class*=" icon-"] {
  font-size: 1.75em;
  line-height: 1.5;
  margin-right: 10px;
  top: 6px;
  position: relative;
}

label.checkbox-inline, label.radio-inline {
  line-height: 1;
}


select.form-control, label.checkbox-inline, label.radio-inline {
  color: #1e3e6e;
  font-family: "futura-pt-condensed", Helvetica, Arial, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 24px;
}

select.form-control {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url('../../clientlibs/sc-publish-clientlibs/resources/images/select-arrow@2x.png') no-repeat 96% 50% #ffffff;
  background-size: 23px 12px;
  overflow: hidden;
text-transfrom:uppercase;
}
@media(max-width:470px) {
select.form-control {
  padding-right:30px;
  font-size:18px;
}
}

h1, .h1{
  font-size: 40px;
}


h2, .h2 {
font-size: 36px;
}

h3, .h3 {
  font-size: 28px;
}

h4, .h4{
font-size:20px;
}

h5 , .h5{
font-size:16px;
}

h6, .h6{
font-size:14px;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
  text-transform: uppercase;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "futura-pt-condensed", Helvetica, Arial, sans-serif;
  font-weight: 700;
  line-height: 1.1;
  color: inherit;
}

.divider {
  border-bottom: 2px solid #5f6167;
  margin-bottom: 1ex;
  padding-bottom: .5ex;
}
h2.divider{
  margin-bottom: 0;
}

.col-block {
  margin-bottom: 2em;
}

fieldset {
  margin-bottom: 2ex;
}

.form-control {
  display: block;
  width: 100%;
  height: 40px;
  padding: 6px 12px;
  font-size: 0.85em;
  line-height: 1.42857143;
  color: #5f6167;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  /*border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);*/
  border-radius: 0;
  box-shadow: none;
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.displayNone{
display:none;
}

.content .section{
padding:15px 0;
}


@media(min-width: 1200px){
.container{
  width:1000px;
}
}


/*foundation main overide*/
div.image{
  margin-bottom:0px;
}

/* for displaying markers */

.scissorlabels {
 color: white;
font-size: 20px;
text-align: center;
font-weight: bold;
white-space: nowrap;
margin-top: -100px!important;
margin-left: -22px!important;
}
.other-marker-labels {
 color: white;

 font-size: 28px;
 text-align: center;
 white-space: nowrap;
 margin-top: -51px!important;
 margin-left: -10px!important;
}

.labelContent,.other-marker-labels div,.scissorlabels div{
  width:35px;
  text-align:center;
font-family:"futura-pt-condensed", Helvetica, Arial, sans-serif;
}
.labelContent{
background: #1e3e6e;
  border-radius: 30%;
}
.Added-labelContent{
  background-color:#173E70;
  color: white;
  padding:12px;

}
.select-labelContent{
  display:none;
}
.Added-marker-labels{
font-size:14px;
margin-top: -50px!important;
margin-left: -50px!important;
height:50px;
}
.Added-marker-labels:after{
  border-left: 6px solid transparent;
border-right: 6px solid transparent;
position: absolute;
border-top: 6px solid #173E70;
top: 44px;
left: 48%;
content:'';
}

.Added-labelContent:after{
border:solid 2px #fff;
border-radius:10px;
position:relative;
margin-left:10px;
font-size:14px;
content: "\e61d";
font-family: 'icomoon';
}

/* for displaying markers End */

/*For line separator- hr tag styles*/
hr {
border: 0;
margin: 10px 0 0;
}

/*Map popup windows*/
.map-window .check-in .action-buttons .btn {
          width: 46%!important;
          margin:0 5px;
          margin-bottom:10px!important;

      }

.map-window .check-in .location-details{
  width:69%;
}

      .map-window .check-in .action-buttons {
         width: 100%!important;
display: inline-block;
text-align: center;
margin-top:10px;

      }
       .map-window .check-in {
           border:none!important;
           padding:0!important;
           margin-bottom:0!important;
           cursor:default;
      }
.map-window  {
  min-height:150px!important;
  padding:0!important;
  border:none!important;
  margin-top:10px;
  margin-left:10px;
  width:auto!important;
   font-family: "open-sans", Helvetica, Arial, sans-serif;
   overflow:hidden;


}
.map-window .check-in .wait-time {
          text-align:center;
          max-width:80px;
          min-width: 80px;
          margin-bottom:10px;
      }

.map-window.check-in .location-details .vcard span.closing-time,.map-window .miles{
  margin-top:1.5ex;
}

.map-window .check-in .location-details .vcard span.closing-time{
/*  font-size: 12.5px!important;*/
}

.map-window .miles .distance{
  color:#6C6A6B;
}


.map-window h3,.map-window h4{
  margin-top:5px;
  margin-bottom:5px;
}
main[role="main"].main-home{
    padding-top: 130px;
    padding-bottom:3em;
    margin-top: 0px !important;
}


@media(max-width:992px) {
  .map-window .check-in .location-details {
      width: 66%;
  }
   .show-more-container .map-directions.map-window .check-in{
      width:100%
  }
main[role="main"].main-home{
  margin-top: 3ex !important;
  background: none !important;
    padding-top:0px !important;
}
}
@media(max-width:400px){
  .map-window .check-in .location-details {
      width: 62%;
  }
}
@media(max-width:350px){
  .map-window .check-in .location-details {
      width: 60%;
  }
}
@media(max-width:320px){
  .map-window .check-in .location-details {
      width: 58%;
  }
}


.localpromotiondatacomponent.section {
margin-bottom: 50px;
}

/*Column control*/



@media (max-width: 992px) and (min-width: 767px) {
  .acs-commons-resp-colctrl-row .acs-commons-resp-colctrl-col-25{
  width:50%;
  padding:0 10px
}
.acs-commons-resp-colctrl-row .acs-commons-resp-colctrl-col-25:last-child{
  width:50%;

}
}

@media (min-width: 992px) {
.acs-commons-resp-colctrl-row .acs-commons-resp-colctrl-col-25{
  padding:0 10px
}
}


.saloncheckindetails{
overflow:hidden;
height:auto;
}

.saloncheckindetails h1{
margin-top:0;
}

/*Bug fix for styled drop down in firefox*/
@supports (pointer-events: none) and
        ((-webkit-appearance: none) or
        (-moz-appearance: none) or
        (appearance: none)) {
@-moz-document url-prefix() {
select.custom-dropdown-select option{
  padding-left: 12px;
font-weight:normal;
}
.has-error .custom-dropdown {
  border-color: #a94442;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}
.has-success .custom-dropdown {
  border-color: #5f6167;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}
.custom-dropdown:before{
  background-color: white;
  bottom: 0;
  top: 0;
  right: 0;
  width: 1.1em;
}
.custom-dropdown:before, .custom-dropdown:after{
  content: "";
  pointer-events: none;
  position: absolute;
}
.custom-dropdown{
  display: block;
  position: relative;
  vertical-align: middle;
  border: 1px solid #cccccc;
  background: url('../../clientlibs/sc-publish-clientlibs/resources/images/select-arrow@2x.png') no-repeat 91% 50% #ffffff;
  background-size: 23px 12px;
}
.storehours .custom-dropdown{
  background: url('../../clientlibs/sc-publish-clientlibs/resources/images/select-arrow@2x.png') no-repeat 85% 50% #ffffff;
  background-size: 23px 12px;
}
.checkbox-container.haircutreminder .custom-dropdown{
  background: url('../../clientlibs/sc-publish-clientlibs/resources/images/select-arrow@2x.png') no-repeat 86% 50% #ffffff;
  background-size: 23px 12px;
}
.reminder-subscription .custom-dropdown{
  background: url('../../clientlibs/sc-publish-clientlibs/resources/images/select-arrow@2x.png') no-repeat 86% 50% #ffffff;
  background-size: 23px 12px;
}
.custom-dropdown-select{
 -moz-appearance: none;
  border: 0 !important;
  background: none !important;
}
}
}
/*Bug fix for styled drop down in IE*/
select::-ms-expand {
display: none; /* to ie 10 */
}

.title{
overflow:hidden;
height:auto;
width:100%;
 padding: 0 10px;
}
.new.section{
  padding:0;
}

.section{
  overflow:hidden;
  clear:both;
}

.salontitle{
color: #1e3e6e;
}

.salonsmalltxt{
color: #6a6a6a;
font-size: 19px;
line-height: 80%;
font-weight:bold;
display:block;
}

/*styles added for customizing bootstrap dropdown*/

.form-group .btn-group{
width:100%;
}

.form-group button.form-control{
color: #1e3e6e;
font-family: "futura-pt-condensed", Helvetica, Arial, sans-serif;
font-weight: 700;
text-transform: uppercase;
font-size: 22px;
text-align:left;
padding:6px 17px;
}

.form-group button.form-control span.caret{
background: url('../../clientlibs/sc-publish-clientlibs/resources/images/select-arrow@2x.png') no-repeat 96% 50%;
  background-size: 23px 12px;
float:right;
border:none;
width:23px;
height:18px;
}
li.ddOptions{
font-family: "futura-pt-condensed", Helvetica, Arial, sans-serif;
text-transform: uppercase;
font-size: 22px;
text-align: left;
padding: 6px 17px;
}
#dup-dwn{
width:100%;
}
/*Alert success changes*/
.alert.alert-success {
border-radius: 0;
border: none;
border-bottom: 1px solid #1e3e6e;
padding: 10px 0;
text-transform: uppercase;
color: #1e3e6e;
font-size: 20px;
font-family: "futura-pt-condensed", Helvetica, Arial, sans-serif;
font-weight: 700;
}

.titlecontent{
padding:0 10px;
}
@media (min-width: 992px) {
.border-right-md {
  border-right: 1px solid #5f6167;
}
}
/*Profile prompt*/

.profile-creation-prompt {
max-height: 0;
overflow: hidden;
-webkit-transition: all, 0.75s linear;
-moz-transition: all, 0.75s linear;
-o-transition: all, 0.75s linear;
transition: all, 0.75s linear;
}
.profile-creation-prompt.grow {
max-height: 15.6ex;
}
.profile-creation-prompt.grow.overflow-prop{
  overflow: visible;
}
.profile-creation-prompt .alert.alert-success{
  /*background-color: #f2f2f2;
  border-color: #e5e5e5;*/
  color: #5f6167;
  font-style: normal;
  text-transform: none;
  font-weight: normal;
  padding: 20px;
  font-family: "open-sans", Helvetica, Arial, sans-serif;
  font-size: 16px;
  border: 0;
}
.profile-creation-prompt .alert.alert-success.arrow-box {
  position: relative;
  background: #fff;
  border: 1px solid #00233f;
  border-radius: 6px;
}
@media (max-width: 480px) {
.profile-creation-prompt .alert.alert-success.arrow-box .col-md-5{
  width:50%;
}
}
.profile-creation-prompt .alert.alert-success.arrow-box:after, .profile-creation-prompt .alert.alert-success.arrow-box:before {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.profile-creation-prompt .alert.alert-success.arrow-box:after {
  border-color: rgba(255, 255, 255, 0);
  border-top-color: #fff;
  border-width: 20px;
  margin-left: -20px;
}
.profile-creation-prompt .alert.alert-success.arrow-box:before {
  border-color: rgba(0, 35, 63, 0);
  border-top-color: #00233f;
  border-width: 21px;
  margin-left: -21px;
}

.profile-creation-prompt btn{
margin-top:3ex;
}
.profile-creation-prompt h3{
margin-top: 0;
}
.profile-creation-prompt .col-md-7{
width: 67%;
padding-right: 0;
}

@media(max-width:768px){
  .profile-creation-prompt .col-md-7{
      width:100%;
  }
}

.profile-creation-prompt .col-md-5{
width: 33%;
float: right;
}
.profile-prompt-wrapper{
min-height: 200px;
}

.panel-group .panel-heading + .panel-collapse > .panel-body {
border-top: none;
}

/*rte styles*/

.component-primary-heading{
font-size: 28px;
font-family: "futura-pt-condensed", Helvetica, Arial, sans-serif;
font-weight: 700;
color: #1e3e6e;
line-height: 1.1;
}
.gray{
color: #5f6167;
font-size: 28px;
font-family: "futura-pt-condensed", Helvetica, Arial, sans-serif;
font-weight: 700;
line-height: 1.1;
}
.component-sub-heading{
font-family: "futura-pt-condensed", Helvetica, Arial, sans-serif;
font-weight: 700;
line-height: 0.9;
margin-top: 10px;
color: #5f6167;
  font-size: 40px;
}
.component-description{
font-size: 16px;
font-family: "open-sans", Helvetica, Arial, sans-serif;
color: #707070;
}
.style-advice-style{
  font-family: "open-sans", Helvetica, Arial, sans-serif;
font-weight: normal;
font-style: italic;
line-height: 1.2;
color: #5f6167;
font-size: 24px;
padding: 30px 30px 0;
display: block;
  }


/* rte styles end*/

/* For FRC pages*/

.googleauthentication {
padding:10px 20px;
}

/*styles end for FRC pages*/

/*for BC player in video and text component

.img-container .video-wrapper {
width:500px !important;
}

.img-container .video-wrapper .BrightcoveExperience{
width:500px !important;
}
styles end for BC player in video and text component*/

input[type=checkbox].css-checkbox ,input[type=radio].css-checkbox{
position: absolute;
z-index: -1000;
left: -1000px;
overflow: hidden;
clip: rect(0 0 0 0);
height: 1px;
width: 1px;
margin: -1px;
padding: 0;
border: 0;
}
input[type=checkbox].css-checkbox + span.css-label,input[type=radio].css-checkbox + span.css-label {
padding-left: 26px;
vertical-align: middle;
height: 26px;
border: 1px solid #ccc;
display: inline-block;
line-height: 32px;
background-repeat: no-repeat;
background-position: 0 0;
font-size: 16px;
width: auto;
cursor: pointer;
background-size: 100%;
}
input[type=checkbox].css-checkbox:checked + span.css-label,input[type=radio].css-checkbox:checked + span.css-label {
background-image: url('../../clientlibs/sc-publish-clientlibs/resources/images/checkbox.png');
}
input[type=checkbox].css-checkbox:disabled + span.css-label,input[type=radio][disabled].css-checkbox:disabled + span.css-label {
background-image: url('../../clientlibs/sc-publish-clientlibs/resources/images/checkbox-disabled.png');
border: none;
}
.vcard label {
width: 86%;
}
span.css-label {
background-image: url('../../clientlibs/sc-publish-clientlibs/resources/images/checkbox-unchecked.png');
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

.css-label+ label{
  width: 86%;
}
input[type=radio].css-checkbox+span.css-label+label, input[type=radio].css-checkbox+span.css-label+span{
  width: auto;
  padding-left:10px
}
input[type=checkbox].css-checkbox + label.css-label,input[type=radio].css-checkbox + label.css-label {
padding-left: 26px;
vertical-align: middle;
height: 26px;
border: 1px solid #ccc;
display: inline-block;
line-height: 32px;
background-repeat: no-repeat;
background-position: 0 0;
font-size: 16px;
width: auto;
cursor: pointer;
background-size: 100%;
}
input[type=checkbox].css-checkbox:checked + label.css-label,input[type=radio].css-checkbox:checked + label.css-label {
background-image: url('../../clientlibs/sc-publish-clientlibs/resources/images/checkbox.png');
}
input[type=checkbox].css-checkbox:disabled + label.css-label,input[type=radio][disabled].css-checkbox:disabled + label.css-label {
background-image: url('../../clientlibs/sc-publish-clientlibs/resources/images/checkbox-disabled.png');
border: none;
}
label {
/*width: 86%*/;
}
label.css-label {
background-image: url('../../clientlibs/sc-publish-clientlibs/resources/images/checkbox-unchecked.png');
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

label.css-label+label{
  width: 86%;
}
input[type=radio].css-checkbox+label.css-label+label, input[type=radio].css-checkbox+label.css-label+span{
  width: auto;
  padding-left:10px
}
.btn-page-submit{
  width: 200px;
margin: 0 auto;
}

.additional-info{
padding:15px 0;
}
.outer-link .btn-link {
  display: inline-block;
  color: #1E3E6E;
  width: 100%;
  font-size: 28px;
  font-family: "futura-pt-condensed",Helvetica,Arial,sans-serif;
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
}
/*Styles for Stylist application p tag */
.aboutyou-title-desc {
  padding-left: 10px;
}
.posexp-title-desc {
  padding-left: 30px;
}
/*Remove auto-fill user-agent CSS for chrome*/
input:-webkit-autofill {
  -webkit-box-shadow: inset 0 0px 0px 1000px white inset !important;
}

@media (max-width: 965px) {
  .row{
  margin-right: 0px;
      margin-left: 0px
      }

}
/*change the z-index for google maps auto complete dropdown*/

.pac-container{
z-index:10000;
}

/*for warning msg in maximum salons selected*/

p.warning-msg{
font-size: 14px;
color: #a94442;
}

/*styles and advices for column control*/

@media(max-width:767px){
.acs-commons-resp-colctrl-row .new-row .acs-commons-resp-colctrl-row {
  padding-bottom:0;
}
}

/*changes made for dropdowns to work in IE9*/

/*changes for iphone login popup*/

.iph-fix.in.navbar-collapse{
overflow:visible;
}
@media (max-width:480px){
.gm-style-iw{
      max-width:180px !important;
     }
.gm-style-iw > div{
  overflow: hidden !important;
  width: 200px !important;
  }
  .gm-style-iw > div > div{
  overflow: hidden !important;
  width: 200px !important;
  }
.map-window{
  margin-left:0;
  min-width: 200px;
  }
.map-window .check-in .action-buttons .btn{
          margin: 0;
          padding: 5px 5px;
          font-size: 18px;
          width: 48% !important;
      }
  .map-window .check-in .action-buttons .btn.btn-primary {
          margin-right:5px
      }
  .map-window .check-in .wait-time{
          min-width: 60px;
      }
.map-window .check-in .wait-time .vcard{
    background-position:0px 0px;
      }
.map-window .check-in .wait-time .minutes{
          margin-left: 0;
      }
}



::-ms-clear { display: none; }

.pac-container
{
  min-width:200px!important;
}

/*changes made as part of wr3*/

@media(max-width:768px){
.salon_text_image {
  display:none;
}
}

/*for overlay and loader*/

.overlay{
position:fixed;
  background-color:#000;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index:9999;
  opacity: 0.5;
}

.overlay .loader-img{
background: url('../../clientlibs/sc-publish-clientlibs/resources/images/loader.GIF');
 padding: 27px 38px;
  position: relative;
  top: 50%;
  left: 50%;
}


/*for only text component with out padding*/

.textwithoutpadding.section{
padding:0;
}

.textwithoutpadding.section p{
margin:0;
}

.textwithoutpadding h2{
  color:#1e3e6e;
}

.textwithoutpadding p a,.textwithoutpadding a{
  color: #1e3e6e;
  text-decoration: underline;
}

.textwithoutpadding .top-border{
border-top:1px solid #5f6167;
}

.textwithoutpadding .bottom-border{
border-bottom:1px solid #5f6167;
}

.textwithoutpadding .left-border{
border-left:1px solid #5f6167;
padding-right: 15px;
}

.textwithoutpadding .right-border{
border-right:1px solid #5f6167;
padding-left: 15px;
}

.textwithoutpadding p b,.textwithoutpadding b,
.textwithoutpadding p strong,.textwithoutpadding strong{
  color: #092f57;
}
/*for ajax loaders*/

#ajaxloader1{
position: absolute;
width: 60px;
height: 60px;
left: 50%;
top: 50%;
margin: 0 0 0 -15px;
border: 8px solid #fff;
border-right-color: transparent;
border-radius: 50%;
box-shadow: 0 0 25px 2px #eee;
-webkit-animation: spin 1s linear infinite;
-moz-animation: spin 1s linear infinite;
-ms-animation: spin 1s linear infinite;
-o-animation: spin 1s linear infinite;
animation: spin 1s linear infinite;
}

@-webkit-keyframes spin
{
from { -webkit-transform: rotate(0deg); opacity: 0.4; }
50%  { -webkit-transform: rotate(180deg); opacity: 1; }
to   { -webkit-transform: rotate(360deg); opacity: 0.4; }
}

@-moz-keyframes spin
{
from { -moz-transform: rotate(0deg); opacity: 0.4; }
50%  { -moz-transform: rotate(180deg); opacity: 1; }
to   { -moz-transform: rotate(360deg); opacity: 0.4; }
}

@-ms-keyframes spin
{
from { -ms-transform: rotate(0deg); opacity: 0.4; }
50%  { -ms-transform: rotate(180deg); opacity: 1; }
to   { -ms-transform: rotate(360deg); opacity: 0.4; }
}

@-o-keyframes spin
{
from { -o-transform: rotate(0deg); opacity: 0.4; }
50%  { -o-transform: rotate(180deg); opacity: 1; }
to   { -o-transform: rotate(360deg); opacity: 0.4; }
}

@keyframes spin
{
from { transform: rotate(0deg); opacity: 0.2; }
50%  { transform: rotate(180deg); opacity: 1; }
to   { transform: rotate(360deg); opacity: 0.2; }
}

div.visible-md a{
color:#1c78aa;
}

/*breadcrumb styles*/
.breadcrumb{
padding:0 !important;
  margin-bottom:10px;
  font-size: 13px;
float:left;
  width: 100%;
}

@media(max-width:768px){
.breadcrumb{
  margin-top:10px;
}
}

.breadcrumb div{
float:left;
color:#1c78aa;
}

.breadcrumb div span{
color:#5f6167;
}


.breadcrumb div a span{
color:#1c78aa;
}

/*iframe for coupon related pages
.kouponmediaoffercomp  iframe{
  margin-top:-138px;
}*/

@media(min-width:1024px){
  .kouponmediaoffercomp {
      width:1006px;
      border-top:0;
      margin:0 auto;
  }
  .kouponmediaoffercomp  iframe{
      /*min-height:1000px !important; */
      /*margin-top:-138px;*/
  }
}

.input-group-btn .coupon-search-btn{
text-align: center !important;
display: block;
width: 33%;
margin: 10px auto !important;
border-radius: 5px !important;
}

@media(max-width:768px){
  .input-group-btn .coupon-search-btn{
  width:100%;
  }
}


/*JUMP LINKS IN STYLES LANDING PAGES */
.jumpLinks{
  position:relative;
  top:-4px;
}

/*for scrolltop functionality*/

#back-to-top {
  position: fixed;
  bottom: 60%;
  right: 0;
  z-index: 9999;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 30px;
  background: url('../../clientlibs/sc-publish-clientlibs/resources/images/back-to-top-circleSC.png') no-repeat 96% 50%;
  cursor: pointer;
  border: 0;
  border-radius: 2px;
  text-decoration: none;
  transition: opacity 0.2s ease-out;
  opacity: 0;
  visibility:hidden;
  color: transparent;
}

#back-to-top.show {
  opacity: 1;
  visibility:visible;
}

.bt-mob{
      text-align:center;
      display:none;
}

@media(max-width:768px){
  #back-to-top{
      display: none !important;
   }
   .bt-mob{
      display:block;
      padding-top:5px;
  }
}

/*iframe for coupon related pages*/
.regisiframe  iframe{
  margin-top:-138px;
}


@media(min-width:1024px){
  .regisiframe  {
      width:924px;
      border-top:1px solid #e6e6e6;
      margin:0 auto;
  }
  .regisiframe   iframe{
      min-height:1000px !important;
      margin-top:-138px;
  }
}

/* Promotion Skeleton */
.promotionskeleton{
padding: 0 !important;
}
.promotionskeleton .sdp-salon-offers{
height: 100%;
padding: 0 !important;
}
.promotionskeleton .sdp-salon-offers .img-text-comp{
  height: 100%;
  border: none;
}
.promotionskeleton .sdp-salon-offers .img-text-comp.theme-default{
background: #f3f3f3;
color: #626264;
position: relative;
}
.promotionskeleton .sdp-salon-offers .img-text-comp.theme-default p{
margin-bottom: 0 !important;
  min-height: 0;
}

/* Top Image */
.promotionskeleton .sdp-salon-offers .img-text-comp.theme-default.topimage img{
width: 145px !important;
margin: 0 auto 10px !important;
padding-top: 14px;
display: block;
}
.promotionskeleton .sdp-salon-offers .img-text-comp.theme-default .imgtxt-box{
padding: 0 !important;
text-align: center;
}
.promotionskeleton .sdp-salon-offers .img-text-comp.theme-default.topimage .imgtxt-box .title{
font-weight: normal !important;
font-size: 30px;
  line-height: 32px;
  min-height: 64px;
  padding: 0;
margin-bottom: 10px;
}
.promotionskeleton .sdp-salon-offers .img-text-comp.theme-default .imgtxt-box .description{
color: #404041;
  min-height: 66px !important;
}
.promotionskeleton .sdp-salon-offers .img-text-comp.theme-default.topimage .next-btn{
display: inline-block;
  background: none;
  border: none;
  font-size: 16px;
  font-weight: bold;
  color: #1e3e6e !important;
  padding: 0;
  position: relative;
  top:25px;
}
.promotionskeleton .sdp-salon-offers .img-text-comp.theme-default .next-btn .icon-arrow:before{
font-size: 16px;
  font-weight: bold;
}

/* Bigger Image */
.promotionskeleton .sdp-salon-offers .img-text-comp.theme-default.biggertopimage img{
width: 100% !important;
}
.promotionskeleton .sdp-salon-offers .img-text-comp.theme-default.biggertopimage .imgtxt-box .title{
font-weight: normal !important;
font-size: 30px;
  line-height: 31px;
  padding: 0;
  min-height: 62px;
}
.promotionskeleton .sdp-salon-offers .img-text-comp.theme-default.biggertopimage .next-btn{
display: inline-block;
  background: none;
  border: none;
  font-size: 16px;
  font-weight: bold;
  color: #1e3e6e !important;
  padding: 0;
}

/* Noimage */
.promotionskeleton .sdp-salon-offers .img-text-comp.theme-default.noimage .imgtxt-box{
padding-top: 100px !important;
margin-bottom: 40px;
}
.promotionskeleton .sdp-salon-offers .img-text-comp.theme-default.noimage .imgtxt-box .title{
font-size: 30px;
font-weight: normal !important;
line-height: 32px;
min-height: 64px;
padding: 0;
  margin-bottom: 20px;
}
.promotionskeleton .sdp-salon-offers .img-text-comp.theme-default.noimage .next-btn{
display: inline-block;
  background: none;
  border: none;
  font-size: 16px;
  font-weight: bold;
  color: #1e3e6e !important;
  padding: 0;
position: relative;
top: 30px;
}
.promotionskeleton .sdp-salon-offers .img-text-comp.theme-default .next-btn,
.promotionskeleton .sdp-salon-offers .img-text-comp.theme-default .next-btn:focus,
.promotionskeleton .sdp-salon-offers .img-text-comp.theme-default .next-btn:active{
  outline: none !important;
  box-shadow: none !important;
}

.gm-style-pbt{
background: #1e3e6e !important;
}

/* styles for modal popup  */
.onload-page-modal .modal-dialog .modal-content{
  border-radius: 0px;
}
.onload-page-modal .modal-dialog .modal-content .modal-body{
padding: 0;
}
.onload-page-modal .modal-dialog .modal-content .modal-body .modalDescDiv{
position: relative;
}
@media (max-width: 767px){
.onload-page-modal .modal-dialog .modal-content .modal-body{
      padding: 25px 10px 10px;
  }
}
.onload-page-modal .modal-dialog .modal-content .modal-body .emailtoast-modalfield{
  margin-right: 10px;
}
.onload-page-modal .modal-dialog .modal-content .modal-body button{
background: url('../../clientlibs/sc-publish-clientlibs/resources/images/Close_Icon_Teal.svg') no-repeat;
background-size: cover;
width: 16px;
height: 16px;
  opacity: 1 !important;
position: absolute;
  top: 15px;
  right: 25px;
}
@media (max-width: 767px){
.onload-page-modal .modal-dialog .modal-content .modal-body button{
      top: 3px;
      right: 5px;
  }
}
@media (max-width: 965px){
.onload-page-modal .modal-dialog .modal-content .modal-body .row{
      margin-left: -10px;
      margin-right: -10px;
  }
}
.onload-page-modal .modal-dialog .modal-content .modal-body button:focus{
outline: none !important;
}
.onload-page-modal .modal-dialog .modal-content .modal-body a.cta-arrow{
padding-bottom: 35px;
}
.onload-page-modal .modal-dialog .modal-content .modal-body a.cta-arrow,
.onload-page-modal .modal-dialog .modal-content .modal-body a.cta-arrow span.icon-arrow:before{
font-weight: bold;
}
.onload-page-modal .modal-dialog .modal-content .modal-body a.cta-arrow:hover{
text-decoration: none;
}
@media (min-width: 768px){
  .onload-page-modal .modal-dialog .modal-content .modal-body .display-modal-table{
      display: table;
      width: 100%;
      table-layout: fixed;
  }
  .onload-page-modal .modal-dialog .modal-content .modal-body .display-modal-tablecell{
      display: table-cell;
      vertical-align: middle;
      float: none;
  }
}
.onload-page-modal .modal-dialog .modal-content .modal-body .modal-title{
  color: #1e3e6e;
}
.onload-page-modal .modal-dialog .modal-content .modal-body .modal-title,
.onload-page-modal .modal-dialog .modal-content .modal-body .description{
margin-bottom: 10px;
  margin-right: 5px;
}

/*Products page custom dropdown css*/
.product-page .product-dropdown.dropdown button{
text-align: left;
  background: url('../../clientlibs/sc-publish-clientlibs/resources/images/select-arrow@2x.png') no-repeat 97% 50% #ffffff;
  background-size: 8%;
}
.product-page .product-dropdown.dropdown.open button{
background: url('../../clientlibs/sc-publish-clientlibs/resources/images/select-arrow@2x-UP.png') no-repeat 97% 50% #ffffff;
background-size: 8%;
}
.product-page .product-dropdown.dropdown button:focus,
.product-page .product-dropdown.dropdown button:hover,
.product-page .product-dropdown.dropdown button:active{
border: 1px solid #cccccc;
outline: none;
box-shadow: none;
}
.product-page .product-dropdown.dropdown button #dropdown-selected-value{
color: #1e3e6e;
  font-size: 16px;
  font-weight: bold;
}
.product-page .product-dropdown.dropdown ul.dropdown-menu{
width: 100%;
  position: relative;
  top: 0;
border-radius: 0;
padding: 10px 0;
margin: 0;
  border-top: 0;
  -webkit-box-shadow: none;
-moz-box-shadow: none;
-o-box-shadow: none;
-ms-box-shadow: none;
box-shadow: none;
}
.product-page .product-dropdown.dropdown ul.dropdown-menu ul.list-unstyled{
padding-left: 40px;
}
.product-page .product-dropdown.dropdown ul.dropdown-menu > li > span{
  color: #1e3e6e;
padding: 5px 20px 5px 15px;
  display: inline-block;
  font-weight: bold;
  border-left: 5px solid #48ABE1;
  background: #F5F6F8;
  width: 100%;
font-family: "futura-pt-condensed";
font-size: 18px;
}
.product-page .product-dropdown.dropdown ul.dropdown-menu > li > a{
color: #1e3e6e;
  padding: 5px 20px;
  font-weight: bold;
  font-family: "futura-pt-condensed";
  font-size: 18px;
}
.product-page .product-dropdown.dropdown ul.dropdown-menu ul.list-unstyled > li > a{
padding: 5px 0;
display: inline-block;
}
.product-page .product-dropdown.dropdown ul.dropdown-menu ul.list-unstyled > li > span{
  color: #1e3e6e;
border-left: 5px solid #48ABE1;
  background: #F5F6F8;
  display: inline-block;
  width: 100%;
  padding: 5px 0 5px 3px;
}
.salontitle_salonsmalltxt{
  color: #6a6a6a;
  font-size: 19px;
  line-height: 80%;
  font-weight: bold;
  display: block;
  margin: 0px;
}
.salontitle_salonlrgtxt{
          color: #1e3e6e;
  margin: 0px;
  font-size: 35px;
  line-height: 45px;
  margin-bottom: 10px;
}
.row.provisionTNP-subhead{
margin-right:0px;
margin-left:0px;
}
.provisionTNP.row{
margin-left:0px;
margin-right:0px;
}
.registration .flowwrapper .h1 {
  font-size: 24px;
  margin-bottom: 0px;
}
.registration .flowwrapper .h2 {
  font-size: 20px;
  margin-bottom: 0px;
}
.registration .flowwrapper .h3 {
  font-size: 18px;
  margin-bottom: 0px;
}
.registration .flowwrapper .h4 {
  font-size: 16px;
  margin-bottom: 0px;
}
.imageslidercomponent a {
color: #fff;
text-decoration: none;
outline:none;
}
.imageslidercomponent a:hover,
.imageslidercomponent a:focus {
color: #fff;
text-decoration: underline;
}
@media (max-width: 320px){
  .brightcoveplayer .vjs-menu ul.vjs-menu-content{
      height: 105px !important;
      width: 9em !important;
          left: -2em !important;
  }
  .brightcoveplayer .vjs-menu ul.vjs-menu-content .vjs-menu-item{
      padding: 0.2em !important;
  }
}
@media (min-width: 321px) and (max-width: 767px){
  .brightcoveplayer .vjs-menu ul.vjs-menu-content{
      height: 140px !important;
      width: 9em !important;
      left: 1em !important;
  }
}

/*hairlinecomponent styles*/

.hairlinecomponent.section{
padding: 0;
}
.hairlinecomponent hr{
border-top: 1px solid #DADBDC;
}
.hairlinecomponent hr.margin5{
margin:5px 0;
}
.hairlinecomponent hr.margin10{
margin:10px 0;
}
.hairlinecomponent hr.margin15{
margin:15px 0;
}
.locations .check-in .wait-time .vcard span {
display: block;
font-family: "futura-pt-condensed", Helvetica, Arial, sans-serif;
font-weight: 700;
font-size: 16px;
color: white;
text-align: center;
margin: 0;
vertical-align:middle;
position:relative;
top:-1px;
}
p.showOpen {
  display: inline-block;
  color:#a94442;
}
.overlay-component-modal .modal-body a{

  }
.overlay-component-modal .modal-body  .icon-arrow:before {
      content: "\e601";
      font-size: 13px;
      color:#1e3e6e;

  }
.overlay-component-modal .modal-body a.cta-arrow {

  }
.overlay-component-modal .modal-body{
  text-align: center;
}
.pagetagsdisplaycomp h2.h3{

  font-weight: 700;
  line-height: 1.1;
  color: inherit;
  font-size: 28px;
  text-transform: uppercase;
  margin-top: 0px;
}
.product-features .pagetagsdisplaycomp h2.h3{

  font-weight: 700;
  line-height: 1.1;
  color: inherit;
  font-size: 20px;
  margin-top: 0px;
}
.button-container{
  text-align: center;
  width: fit-content !important;
  width:-moz-fit-content;
  width:-webkit-fit-content;
  width:-ms-fit-content;
  float:left;
 clear:left;
}
.ff-container{
  display: table !important;
  background: none !important;

}
button.start{
  width: 12px;
  height: 12px;
  padding: 0px;
  border: 1px solid #000;
  margin-top:2px;
  background-color: #fff;
}
button.start img{
width: 9px;
height: 9px;
margin-top: -15px;
padding: 1px 0px;
}
button.stop img{
width: 6px;
height: 6px;
margin-top: -15px;
margin-left: .5px;
}
button.stop{
  width: 12px;
  height: 12px;
  padding: 0px;
  margin-left: 3px;
  border: 1px solid #000;
  margin-top:2px;
   background-color: #fff;
}
.aboutyoucomponent fieldset legend {
padding-bottom: 0px !important;
padding-left: 0px !important;
padding-right: 0px !important;
font-size: inherit;
margin-bottom: 0px !important;



}

.aboutyoucomponent fieldset{
margin-bottom: 0px !important;
padding-left: 0px !important;
padding-right: 0px !important;
font-size: inherit;

}
.experience fieldset legend{
padding-bottom: 0px !important;
padding-left: 0px !important;
padding-right: 0px !important;
font-size: inherit;
margin-bottom: 0px !important;
}
.experience fieldset{
margin-bottom: 0px !important;
padding-left: 0px !important;
padding-right: 0px !important;
font-size: inherit;
}
.salondetailcomponent #sdcName:hover{
text-decoration:none;
}

@media(max-width:768px){
  .registration label.gender {
      display: block;
      float: none;
  }
.registration .phone-section .col-md-12 {
      margin-bottom: 5px;
      padding: 0 10px !important;
  }
.registration .phone-section .col-md-6 {
      padding: 0 10px !important;
  }
}
@media(min-width:768px){
/*{
  background: url(../../clientlibs/sc-publish-clientlibs/resources/images/supercuts-mlb-strips-4x3.png) 0px 0px repeat;
}*/
#bluemlb{
  background: #1e3e6e;
}
.container_blue{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  }
}
@media(min-width:1200px){
  .container_blue{
    width: 1000px;
  }
}
@media(min-width:1200px) and (max-width:1299px){
.homepage-wrapper{
  padding-left: 9%;
    padding-right:9%;
}
}
@media(min-width:1300px) and (max-width:1399px){
.homepage-wrapper{
  padding-left: 13%;
    padding-right:13%;
}
}
@media(min-width:1400px) and (max-width:1499px){
.homepage-wrapper{
  padding-left: 16%;
    padding-right:16%;
}
}
@media(min-width:1500px) and (max-width:1599px){
.homepage-wrapper{
  padding-left: 18%;
    padding-right:18%;
}
}
@media(min-width:1600px) and (max-width:1699px){
.homepage-wrapper{
  padding-left: 20%;
    padding-right:20%;
}
}
@media(min-width:1700px) and (max-width:1799px){
.homepage-wrapper{
  padding-left: 21%;
    padding-right:21%;
}
}
@media(min-width:1800px) and (max-width:1899px){
.homepage-wrapper{
  padding-left: 24%;
    padding-right:24%;
}
}
@media(min-width:1900px) and (max-width:2199px){
  .homepage-wrapper{
    padding-left:25%;
    padding-right:25%;
  }
}
@media(min-width:2100px) and (max-width:2399px){
  .homepage-wrapper{
    padding-left:27.2%;
    padding-right:27.2%;
  }
}
@media(min-width:1028px){
.homepage-wrapper{
        width: 100%;
}
.mlb-wrapper{
  background: url(../../clientlibs/sc-publish-clientlibs/resources/images/supercuts-mlb-stripes-1x1.png) 0px 0px round;
}
.homepage-wrapper div#main-content{
  background:#fff;
}
}
.show-more-container .map-directions .check-in .location-details .vcard button.close-btn {
  display: none;
}
.added-salons-container .show-more-container .map-directions .check-in .location-details .vcard button.close-btn {
    width: 48px;
    height: 46px;
    background-color: #fff;
    display: inline-block;
    position: absolute;
    bottom: -10px;
    right: -12px;
    z-index: 1180;
    border-radius: 50%;
    border: 1px solid #5f6167 !important;
    box-shadow: 0px 0px 3px #888888;
    font-size: 31px;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    color: #0e1c32;
    margin: 0;
    padding: 0;
}
legend.h4{
  padding-bottom: 0px;
}
.login-main .login-wrapper h1.h4{
  margin-top: 0px !important;
  margin-bottom: 15px !important;
 font-size: 1.45em !important;
}
legend.guestLegend {
  font-family: "open-sans", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.42857143;
    color: #5f6167;
    font-weight: bold;
}
#onload_modal{
  visibility: hidden;
}
.dismiss_modal{
  visibility: hidden;
}

/* Fix for breadcrumb edit issue */
.breadcrumb-align {
    padding-right: 0px;
    padding-left: 0px;
}
