/* styles for special offers */
.specialoffers {
    margin: 0 -10px;

    .special-offers {

        .main {
            padding-top: 0;
            

            .special-offers-container {
                margin: 0;
                padding: 0 10px 20px 10px;
                text-align: left;

                .offer-container {
                    width: 99%;
                    margin-left: 1px;
                    padding:0;
                    border: 1px solid #c8c8c8;
                    text-align: left;

                    .offer-product-img {
                        display: flex;
						display: inline-block;
						display:-ms-flex;
						display:-o-flex;
						display:-moz-flex;
                        height: auto;
                        align-items: center;
                        justify-content: center;
                        text-align:center;
                        padding:10px 10px 0 10px;
                        img {
                            height: 200px;
                        }
                    }
                    .offer-description {
                        padding:2ex 1em;
                        h4 {
                            margin: 0;
                            padding: 0;
                            font-family: "futura-pt-condensed", Helvetica, Arial, sans-serif;
                            font-size: 20px;
                            font-weight: 700;
                            text-align: left;

                            a{
                                color: #1e3e6e;
                            }
                        }
                        .cta-to-offer-details  {
                           margin-top:11px;
                           font-weight: 700;
                        }
                    }
                }
            }
        }		
    }
		.error-msg{
			margin-left:10px;
		}
}

@media (max-width: 768px) {
    .special-offers-container {
        margin-top: 30px;
    }
}

.specialoffers {
    a.more-offers {
        display: inline-block;
        width: 100%;
        color: #003f72;
        font-size: 28px;
        font-family: "futura-pt-condensed", Helvetica, Arial, sans-serif;
        text-transform: none;
        letter-spacing: 2px;
        text-align: center;
        margin-top: 0.4em;

        &:hover {
            text-decoration: none;
        }

        span {
            font-size: 0.8em;
            margin-left: 0.5em;
        }
    }
}

.two-offers, .three-offers {
    margin: 0;
    padding: 0;
}
.two-offers{
    .offer-container{
        height:242px;
		.offer-product-img{
            min-height: 229px;
            img{
                margin: 0;
                width:auto;
            }
        }
        .offer-description{
            top: 50%;
            transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            p{
                overflow: hidden;
            }
        }
    }
}

.one-offer{
    .offer-container{
		height:242px;
        .offer-description{
			top: 50%;
            transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
        }
    }
}

.three-offers{
   .offer-container{
	 display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    /* optional*/
        .offer-product-img{
            img{
				width:auto;
            }
            &.pull-bottom{
                 -webkit-box-ordinal-group: 2;
                -moz-box-ordinal-group: 2;
                -ms-flex-order: 2;
                -webkit-order: 2;
				order:2;
                padding : 0 10px 10px 10px !important;
            }
        }
       .offer-description{
             p{
                    min-height:66px;
             }
       }
  	} 

}

@media(min-width:330px) and (max-width:700px) and (orientation:landscape){
    .specialoffers .special-offers .main .special-offers-container .offer-container .offer-product-img{
        img{
			width:50%;
        }
    }
}


@media(max-width:767px){
    .one-offer,.two-offers{
        .offer-container{
			height:auto;
            .offer-product-img{
				width:100%;
            }
            .offer-description{
				float:left;
                transform: translateY(-50%);
                -webkit-transform: initial;
                -moz-transform:initial;
                -ms-transform: initial;
            }
        }
    }
}
