<!--/* @author: Adarsh*/-->
<div data-sly-test="${wcmmode.edit}" class="cq-placeholder" data-emptytext="Configure Hero Image Panel">Configure Hero Image Panel</div>
<sly data-sly-test="${properties.isImage == 'false'}">
    <div class="HeadItem HeadBox-${properties.backgroundskin}">
        <div class="imgBox ">
            <img src=${properties.fileReference} class="img-fluid" alt=${properties.alttext}>
        </div>
        <div class="TxtBox text-center">
              <h3>${properties.title}</h3>
              <small>${properties.subtitle}</small>
              <h4>${properties.price}</h4>
              <a href=${properties.ctalink}.html>${properties.ctatitle}</a>
        </div>
    </div>
</sly>

<sly data-sly-test="${properties.isImage == 'true'}">
  <div class="HeadItem HeadBox-${properties.backgroundskin} CoverImage" style="background-image:url('${properties.fileReference @ context='unsafe'}');"></div>
</sly>