.my-account-info{
    a{
        font-size:14px !important;
		&.btn{
			font-size: 14px !important;
		}
    }
    margin-bottom:40px;
    margin-top: 20px;
    @media(max-width:767px){
        .left-hand-nav{
            width:94%;
            margin: 0 10px;
            background: transparent;
            margin-top: 20px;
            .productbrowsersidenav{
				background:transparent;
            }
        }
    }
	 .title{
			font-style:normal;
			h1,h2,h3,h4,h5,h6{
				font-size: 24px;
				font-family: inherit;
				line-height: 1.1;
				color: inherit;
				font-style: normal;
				font-weight: 500;
			}
		}
	 p.success-msg{
		float:left;
        margin-top:12px;
        margin-left:5px;
    }
    select{
		border:none;
        width:98%;
        height:40px;
        border-bottom:1px solid #727173;
        &:focus{
			outline:none;
        }
    }
    select::-ms-expand {
       display: none;
    }
    .aboutyoucomponent{
        .form-control{
			border-bottom:1px solid #727173;
            background:none;
        }
    }
    .gender-chk{
		margin-top:10px;
        label{
			margin-right:10px;
            &.css-label{
                margin-right:10px;
                 line-height: 16px !important;
                font-size: 12px !important;
                background-size: auto !important;
                padding-top: 4px !important;
            }
        }
	}
    .bday{
        #birthdaydateupdate-personal{
            display: none;
        }
        label[for="birthdaydateupdate-personal"]{
            display: block;
        }
        label[for="bd_months"],label[for="bd_days"]{
            display: inline;
        }
        #bd_months,#bd_days{
            width: 48%;
            display: inline-block;
        }
    }

    .mypreferredsalon{
        @media(max-width:767px){
            width: 100%;
        }
        .show-more-container{
            .check-in{
				width:100%;
                margin:0 0 9px 0;
                padding:0;
            }

            .pull-left{
				display:none;
            }
            .pull-left.success-msg{
				display:block;
            }
            .h4{
                display: inline;
            }
            .vcard{
				margin-left:0;
                .locations{
                    .check-in{
                        padding-top: 20px;
                    }
                }
                .salon-drct{
					display:none;
                }
                .salon-distance{
					display:none;
                }
                .salon-addr{
                    margin-bottom: 0;
                }
                .salon-loc{

                    .store-title{
						font-size:15px;
                        color:#404041;
                        font-weight:500;
                        display:inline-block;
                        background:url(../../clientlibs/signaturestyle-publish-clientlibs/resources/images/Regis-Icons/Regis_heart.svg) no-repeat center right;
                        padding-right:30px;
                    }
                    small{
						display:block;
                        font-size: 13px;
                    }
                }
            }
            .preferrd-salon-btns-container{
				display:inline-block;
                margin-left:20px;
                @media(max-width:767px){
                         float: right;
                     }
                 #changeLocation{
                    padding: 0 20px;
                    font-weight:bold;
                }
            }

            .act-btn-container{
                padding:0;
                padding-bottom: 20px;
                .preferrd-salon-btns-container{
                    display: inline;
                    margin-left:0;
                    margin-top: 10px;
    				padding-left: 0;
                    #directions-myaccount{
                        padding-left: 20px;
                    }
                }
            }
            .modal-content{
				.pull-left{
                    display:block;
                }
                .check-in{
					width:33.3333%;
                    @media(max-width:767px){
                        width: 100%;
                    }
                    .vcard{
                        margin-left:37px;
                        .salon-distance{
                            display:block;
                        }
                        .salon-loc{
                            .store-title{
								background:none;
                            }
                        }
                    }
                }
                .salon-type-condition-container{
					display:none !important;
                }
                .modal-footer {
                    .btn{
                        @media(max-width:767px){
                            padding: 10px 30px;
                        }
                    }
                }
            }
        }
    }
    .nav-tabs{
        > li{
			width: 50%;
            a{
				color:#727173;

            }
            &.active{
                a{
					background: #727173;
                    border-radius: 0;
                    color: #fff;
                    text-align: center;
                }
            }
        }
    }
}

.emailandnewsletters{
    float:left;
    width: 100%;
	.email-and-newsletter-container{
        clear:both;
        margin:20px 0;
        .css-label{
                margin: 5px 20px 0 0;
        }
        input[type=checkbox].css-checkbox:checked+label.css-label{
            //background-image: url('../../clientlibs/signaturestyle-publish-clientlibs/resources/images/check-teal.svg');
        }
        a{
            font-weight:bold;
            color: #455f6c;
            background: url('../../clientlibs/signaturestyle-publish-clientlibs/resources/images/Regis-Icons/Arrow-Link-teal-bolder.svg') no-repeat center right;
            padding-right:12px;
            font-size: 12px;
            &:hover{
                text-decoration:underline;
                color: #344651;
            }
        }
        .left-col{
            width:7%;
        }
        .right-col{
            width:93%;
        }
        @media(max-width:767px){
            .emailsubscription, .haircutreminder,.transactionemails  {
                .right-col{
                    width : 87%;
                    margin-left: 17px;
                }
            }
        }
        .btn-update{
            float:left;
            margin-right:10px;
            clear: both;
            margin-top:20px;
        }
        .occurs {
           margin-right: 20px;
        }
        .checkbox-container {
            margin-bottom: 10px;
            //float: left;
        }
        .subscription-message{
			clear: both;
        }
    }
}
