heroImageCarousel-bg{
	background: #757575;
}
#myCarousel{
    /*margin-top: 20px;*/
}

#myCarousel .carousel-inner .hero-accessibility-link{
    color: #fff;
}

#myCarousel .carousel-control{
    background: url(../../clientlibs/signaturestyle-publish-clientlibs/resources/images/Regis-Icons/carousel_next.svg) no-repeat;
    padding: 23px 0px;
    width: 25px;
    margin: 0 10px;
    bottom:initial;
    top:47%;
    opacity: 1;
}

#myCarousel .carousel-control.right{
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    transform: scaleX(-1);
}

#myCarousel .nav a small {
    display:block;
}
#myCarousel .nav {
    background:none;
    position: absolute;
    top:10%;
    left:60px;
}
#myCarousel .carousel-inner img{
	width:100%;
}

#myCarousel .nav li{
    margin-bottom: 12px;
    margin-left: 0;
    color: #fff;
    width: 250px;
}
#myCarousel .carousel-caption{
    right: 10%;
    position: absolute;
    left: 60%;
    top: 20%;
    text-align: right;
    text-shadow: none;
}
#myCarousel .carousel-caption.left{
    top: 10%;
    left: 10%;
    right: 60%;
    position: absolute;
}
#myCarousel .carousel-caption .title{
    margin: 0;
    font-weight: 400;
}
#myCarousel .carousel-caption .title1,
#myCarousel .carousel-caption .title2{
    display: block;
}
#myCarousel .carousel-caption .description{
    margin: 24px 0;
    font-size: 14px;
    font-family: "open-sans";
}
#myCarousel .carousel-caption .products-btn{
    color: #FFF;
    font-weight: bold;
    font-size: 14px;
    border-radius: 2px;
    background: #455f6c;
}
#myCarousel .carousel-caption .products-btn:hover,
#myCarousel .carousel-caption .products-btn:active,
#myCarousel .carousel-caption .products-btn:focus{
    box-shadow: none;
    outline: none;
    background: #344651;
}
#myCarousel .nav li a{
    width: 100%;
    padding: 20px 48px;
    font-size: 16px;
    //background: rgba(136,150,148,0.5);
    background: #697674;
    text-align: left;
    color: #fff;
    font-family: "merriweather";
}
#myCarousel .nav li.active{
    width: 300px;
    margin-bottom: 7px;
}
#myCarousel .nav li.active a{
    background: rgba(255,255,255,1);
    color: #404041;
    font-size: 24px;
    padding: 17px 48px;
    text-align: left;
    border-bottom: 5px solid #b7b493;
}

@media (max-width:767px){
    #myCarousel ul.nav-pills.nav-justified > li{
        width: 10px;
        height: 10px;
        margin-right: 10px;
        float: left;
        padding: 0;
    }
    #myCarousel .nav li a{
        padding: 0;
        background: #fff;
         width: 10px;
        height: 10px;
        border-radius: 50%;
    }
    #myCarousel .nav li.active a{
        padding: 0;
        background: #49717d;
        border: 0;
    }
    #myCarousel .carousel-caption{
        position: absolute;
        text-align: center;
        left: 60%;
        top: 20%;
        padding-top: 0;
        width: 100px;

    }
    #myCarousel .carousel-caption .products-btn{
        width:auto;
        padding:10px;
        min-height:auto;
    }
     #myCarousel .nav {
        background:none;
        position: relative;
        top: -30px;
        left: 38%;
        float: left;
        width: auto;
    }
    #myCarousel .carousel-caption .description{
        display: none;
    }
    #myCarousel .carousel-caption .title{
        font-size: 1.5em;
    }
}

@media (min-width: 768px){
    #myCarousel .nav {
        width: 300px;
    }
    #myCarousel ul.nav-pills.nav-justified > li{
        display: block;
    }
    #myCarousel ul.nav-pills.nav-justified > li a{
        border-radius: 0;
    }
}
@media (min-width: 768px) and (max-width: 991px){
    #myCarousel .carousel-caption .title{
        font-size: 1.5em;
    }
    #myCarousel .nav li a{
        padding: 10px 48px;
    }
	#myCarousel .carousel-caption h1,
    #myCarousel .carousel-caption .h1{
       margin-bottom:20px;
    }
	#myCarousel .nav {
    background:none;
    position: absolute;
    top:2%;
    left:60px;
	}
	#myCarousel .nav li.active a{
    padding: 10px 25px;
		}
	#myCarousel .nav li a{
    padding: 10px 25px;
	}
}
@media (min-width: 992px){
    #myCarousel .carousel-caption .title{
        line-height: 50px;
    }
	#myCarousel .carousel-caption{
    right: 60px;
    position: absolute;
    left: 70%;
    top: 20%;
    text-align: center;
    width:300px;
    text-shadow: none;
    }
}
