.dynamicsidenavigation{
    @media (min-width: 768px){
        background: #f9f9f9;
    }
    .dynamic-side-nav{
        @media (min-width: 768px){
            padding: 36px 0 20px 34px;
        }
        .side-nav-header{
			margin-bottom: 10px;
            a{
                font-size: 14px;
                font-weight: 500;
                color: #515151;
                @media (min-width: 768px){
					padding-bottom: 4px;
                    border-bottom: 2px solid #568391;
                    display: inline-block;
                }
                @media (max-width: 767px){
                    font-family: "merriweather",Helvetica,Arial,sans-serif;
                    font-weight: 600;
                }
            }
        }
        @media (min-width: 768px){
            ul.list-unstyled{
                li{
                        padding: 0 8px 0 16px;
                        margin-bottom: 10px;
                    a{
                      	color: #515151;
                        font-size: 12px;
                    }
                    &.selected{
    					background: url('../../clientlibs/signaturestyle-publish-clientlibs/resources/images/Regis-Icons/selector-arrow.svg') no-repeat center left;
                        background-size: 10px;
                    }
                }
            }
        }
		.product-dropdown{
            &.dropdown{
                button{
                    text-align: left;
                    background: url('../../clientlibs/signaturestyle-publish-clientlibs/resources/images/Regis-Icons/Regis_down_arrow_teal.svg') no-repeat 97% 50% #ffffff;
                    background-size: 8%;
                    padding: 6px 12px;
                    padding-right: 13%;
                    min-height: 0;
                    border: 1px solid #455f6c;
                    &:focus,&:hover,&:active{
                        border: 1px solid #455f6c;
                        outline: none;
                        box-shadow: none;
                    }
                    #dropdown-selected-value{
                        color: #727173;    
                        font-weight: bold;
                        font-size: 14px; 
                        font-family: "merriweather",Helvetica,Arial,sans-serif;
                        display: block;
                        overflow: hidden;
                    }
                }
                &.open{
                    button{
                        background: url('../../clientlibs/signaturestyle-publish-clientlibs/resources/images/Regis-Icons/Regis_up_arrow_teal.svg') no-repeat 97% 50% #ffffff;
                        background-size: 8%;
                    }
                }
                ul.dropdown-menu{
                    width: 100%;
                    position: relative;
                    top: -1px;
                    border-radius: 0;
                    padding: 10px 0; 
                    margin: 0;                               
                    background: #fff;
                    -webkit-box-shadow: none;
                    -moz-box-shadow: none;
                    -o-box-shadow: none;
                    -ms-box-shadow: none;
                    box-shadow: none;
                    border: 1px solid #455f6c;
                    &.list-unstyled{
                        padding-left: 20px;
                        &>li{
                            &>a{
                                padding: 5px 0;
                                display: inline-block;
                                color: #515151;
                                font-size: 13px;
                                font-family: "open-sans";
                            }
                            &.selected{
                                color: #515151;                                                                                             
                                padding: 5px 0 5px 15px;                            
                                background: url('../../clientlibs/signaturestyle-publish-clientlibs/resources/images/Regis-Icons/selector-arrow.svg') no-repeat center left;
                                background-size: 10px;
                                background-position: 0 53%; 
                                font-size: 13px;
                                font-family: "open-sans";
                                a{
									padding: 0;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}