.emailcouponcomponent{
    margin-top: 20px;
}
#coupon-holder-1 {
    margin:0 auto;
	width: 278px;
    border: 1px dashed;
    text-align: center;
    color:#000;
    .coupon-header{
        padding: 0 5px;
        h3{
            font-size: 32px;
            padding: 10px;
            margin: 0;
            font-weight:bold;
        }
        .price-subhead{
            font-size: 20px;
            margin: 2px 0;
            text-align: center;
        }
        .brand-logo {
            img{
                width:100%;
                padding: 20px;
            }
	   }
		border-bottom: 1px solid #ddd;
    }
    .valid-terms {
        font-size: 12px;
        padding: 10px;
        border-bottom: 1px solid #ddd;
        .salon-address {
	       margin:10px 0;
        }
    }
    .coupon-barcode{
        padding: 10px;
        font-size: 11px;
        border-bottom: 1px solid #ddd;
        .discount-code{
            padding: 10px 0;
        }
        .discount-number {
	       padding: 10px 0;
            #couponCodeBCImage{
                margin: 0 auto;
            }
        }
        #discountCodeBCImage{
            margin: 0 auto 5px;
        }
    }
    .coupon-footer {
        padding: 10px 0;
        font-size: 11px;
    }
}
#coupon-holder-2 {
    margin:0 auto;
	width: 278px;
    border: 1px dashed;
    text-align: center;
    color:#000;
    .coupon-header{
        padding: 0 5px;
        h3{
            font-size: 32px;
            padding: 10px;
            margin: 0;
            font-weight:bold;
        }
        .price-subhead{
            font-size: 20px;
            margin: 2px 0;
            text-align: center;
        }
        .brand-logo {
            img{
                width:100%;
                padding: 20px;
            }
	   }
		border-bottom: 1px solid #ddd;
    }
    .valid-terms {
        font-size: 12px;
        padding: 10px;
        border-bottom: 1px solid #ddd;
        .salon-address {
	       margin:10px 0;
        }
    }
    .coupon-barcode{
        padding: 10px;
        font-size: 11px;
        border-bottom: 1px solid #ddd;
        .discount-code{
            padding: 10px 0;
        }
        .discount-number {
	       padding: 10px 0;
        }
        #discountCodeBCImage2{
            margin: 0 auto 5px;
        }
    }
    .coupon-footer {
        padding: 10px 0;
        font-size: 11px;
    }
}
#coupon-holder-3 {
    margin:0 auto;
	width: 278px;
    border: 1px dashed;
    text-align: center;
    color:#000;
    .coupon-header{
        padding: 0 5px;
        h3{
            font-size: 32px;
            padding: 10px;
            margin: 0;
            font-weight:bold;
        }
        .price-subhead{
            font-size: 20px;
            margin: 2px 0;
            text-align: center;
        }
        .brand-logo {
            img{
                width:100%;
                padding: 20px;
            }
	   }
		border-bottom: 1px solid #ddd;
    }
    .valid-terms {
        font-size: 12px;
        padding: 10px;
        border-bottom: 1px solid #ddd;
        .salon-address {
	       margin:10px 0;
        }
    }
    .coupon-barcode{
        padding: 10px;
        font-size: 11px;
        border-bottom: 1px solid #ddd;
        .discount-code{
            padding: 10px 0;
        }
        .discount-number {
	       padding: 10px 0;
        }
        #discountCodeBCImage3{
            margin: 0 auto 5px;
        }
    }
    .coupon-footer {
        padding: 10px 0;
        font-size: 11px;
    }
}
#coupon-holder-4 {
    margin:0 auto;
	width: 278px;
    border: 1px dashed;
    text-align: center;
    color:#000;
    .coupon-header{
        padding: 0 5px;
        h3{
            font-size: 32px;
            padding: 10px;
            margin: 0;
            font-weight:bold;
        }
        .price-subhead{
            font-size: 20px;
            margin: 2px 0;
            text-align: center;
        }
        .brand-logo {
            img{
                width:100%;
                padding: 20px;
            }
	   }
		border-bottom: 1px solid #ddd;
    }
    .valid-terms {
        font-size: 12px;
        padding: 10px;
        border-bottom: 1px solid #ddd;
        .salon-address {
	       margin:10px 0;
        }
    }
    .coupon-barcode{
        padding: 10px;
        font-size: 11px;
        border-bottom: 1px solid #ddd;
        .discount-code{
            padding: 10px 0;
        }
        .discount-number {
	       padding: 10px 0;
        }
        #discountCodeBCImage4{
            margin: 0 auto 5px;
        }
    }
    .coupon-footer {
        padding: 10px 0;
        font-size: 11px;
    }
}
.wallet{
    text-align:center;
    margin-top: 10px;
	@media (max-width: 767px){
                a.add-to-wallet-button{
                    background: url("../../clientlibs/signaturestyle-publish-clientlibs/resources/images/addToAppleWallet.svg") no-repeat;
                    background-size: 100% 100%;
                    display: block;
                    width: 150px;
                    height: 50px;
                    margin: 0 auto;
                }
            }
}
#androidAppOfferSave1,#androidAppOfferSave2,#androidAppOfferSave3,#androidAppOfferSave4{
	text-align: center;
	margin-top: 20px;
}
.print{
    text-align: center;
    clear: both;
    margin-top: 20px;
    .btn{
		background: #455f6c;
        border-color: #455f6c;
        color: #fff;
        &:hover,&:active,&:focus{
            color: #fff;
            background: #344651;
			border-color: #344651;
            outline: none;
        }
    }
}
@media screen
{
  #printSection {
      display: none;
  }
}
@media print {
  body * {
      display: none;
    //visibility:hidden;
  }
  #printSection, #printSection * {
      display: block;
    //visibility:visible;
  }
  #printSection {
    position:absolute;
    left:0;
    top:0;
  }
    #printSection {
        .webcoupon-wrapper{
          @media (max-width:767px) {
            width:100% !important;
          }
            #coupon-holder-1,#coupon-holder-2,#coupon-holder-3,#coupon-holder-4{
				width: 240px !important;
                margin-right: 10px !important;
            }
            .coupon-header{
                .brand-logo{
                    img{
						padding: 5px 20px;
                    }
                }
                .coupon-value{
					padding: 5px 10px;
                }
            }
            #coupon-holder-1,#coupon-holder-2,#coupon-holder-3,#coupon-holder-4{
                &.coupon_wrapper{
                    width: 278px !important;
					margin: auto !important;
                }
            }
            #coupon-holder-3.coupon_wrapper, #coupon-holder-4.coupon_wrapper{
				page-break-inside: avoid;
            }
            #coupon-holder-1,#coupon-holder-2,#coupon-holder-3,#coupon-holder-4{
                &.coupon_wrapper_mobile{
					page-break-inside: avoid;
                }
            }
        }
        .wallet{
            text-align:center;
            margin-top: 10px;
            @media (max-width: 767px){
                a.add-to-wallet-button{
                    background: url("../../clientlibs/signaturestyle-publish-clientlibs/resources/images/addToAppleWallet.svg") no-repeat;
                    background-size: 100% 100%;
                    display: block;
                    width: 150px;
                    height: 50px;
                    margin: 0 auto;
                }
            }
        }
    }
}

//salon detail component css

.locations{
    &.map-directions{
        @media (min-width: 768px) and (max-width: 991px){
            width: 100%;
        }
        &.webcoupon-salondetails{
            min-height: 0 !important;
            padding: 10px !important;
            @media (min-width: 768px){
				border: 1px solid #5f6167
            }
            @media (max-width: 767px){
                padding: 10px 0 !important;
            }
            .check-in{
                width: 100%;
                padding: 0;
                .wait-time{
                    @media (min-width: 992px){
						padding: 0 1% !important;
                    }
                }
                .location-details{
                    @media screen and (max-width: 320px){
						width: 66% !important;
                        float: right;
                    }
                    @media screen and (max-width: 767px){
						margin-bottom: 10px;
                    }
                    @media (min-width: 768px) and (max-width: 991px){
						width: 30% !important;
                    }
                    width: 30% !important;
                    .vcard{
                        word-wrap: break-word;
                        @media (max-width: 768px){
                            width: 100% !important;
                        }
                        a {
							span.street-address{
								min-height: 0;
                        	}
                        }
                        span.telephone{
							margin-bottom: 0;
                        }
                        .store-title,.street-address{
							width: 100% !important;
                        }
                    }
                }
                .store-hours-heading{
                    display: inline-block;
                    word-wrap: break-word;
                    @media screen and (max-width: 320px){
						width: 66%;
                        float: right;

                    }
                    @media (min-width: 768px) and (max-width: 991px){
						padding: 0 10px;
                        width: 28%;
                    }
                    @media (min-width: 992px){
						padding: 0 10px;
                        width: 30%;
                    }
                    @media(max-width: 767px){
                      display: block;
                      word-wrap: normal;
                    }
                }
                span#todays-checkin-salon-timings{
					float: left;
                    word-wrap: break-word;
                    @media screen and (max-width: 320px){
						width: 66%;
                        float: right;
                    }
                    @media (min-width: 768px) and (max-width: 991px){
						padding: 0 10px;
                        width: 28%;
                    }
                    @media (min-width: 992px){
						padding: 0 10px;
                        width: 30%;
                    }
                }
                .location-details,.store-hours-heading,span#todays-checkin-salon-timings{
					@media (min-width: 375px) and (max-width: 413px){
                        width: 72% !important;
                        float: right;
                    }
                    @media (min-width: 414px) and (max-width: 767px){
                        width: 75% !important;
                        float: right;
                    }
                }
                .action-buttons{
                    @media screen and (max-width: 320px){
                        width: 66%;
                    }
                    @media (min-width: 375px) and (max-width: 413px){
                        width: 72%;
                    }
                    @media (min-width: 414px) and (max-width: 767px){
                        width: 75%;
                    }
                    @media (max-width: 767px){
						margin-top: 10px;
                        float: right;
                    }
                    @media (min-width: 768px){
						width: 27%;
                        float: left;
                        position: relative;
                        top: -20px;
                        clear: none;
                    }
                    .btn{
						width: 100%;
                        margin: 0;
                    }
                    #sdcGetDirectionsButton{
                        @media (min-width: 768px){
							margin-bottom: 5px;
                        }
                    }
                }
            }
        }
        .location-details{
            @media (min-width: 768px) and (max-width: 991px){
                width: 85% !important;
            }
        }
    }
}
