.email-toast-component{
	width: 100%;
	color: #fff;
	padding: 24px 20px 20px;
	position:fixed;
	bottom:0;
	z-index: 100;
	left: 0;
	display: none;
	@media screen and (max-width: 767px){
		padding: 10px 15px;
    }
	.tips-tricks{
		font-size: 18px;
		font-weight: 500;
		margin: 9px 0 0;
		color:white;
		@media screen and (max-width: 767px){
			text-align: center;
			margin: 0;
		}
	}
	.offers-text{
		text-align: center;
		margin: 12px 0 24px;
		font-family: "open-sans";
		@media screen and (max-width: 767px){
			margin: 10px 0;
		}
	}
	.form-group{
		margin: 0;
		.form-control{
			background: transparent;
			border-width: 0 0 1px 0;
			border-style: solid;
			border-color: #fff;
			border-radius: 0;
			box-shadow: none;
			padding-left: 0;
			color: #fff;
			font-family: "open-sans";
			&:-moz-placeholder,
			&:-ms-placeholder,
			&:-o-placeholder{
				color: #fff !important;
				opacity: 1;
			}
			&::-moz-placeholder{
				color: #fff !important;
				opacity: 1;
			}
			&::-webkit-input-placeholder{
				color: inherit;
			}
		}
        &.has-error{
            #emailid-toast{
				border: 1px solid #fff !important;
            }
        }
        .email-input::-ms-clear{
            display: none;
        }
	}
	.register-email{
		position: relative;
		top: 7px;
		padding: 6px 8px;
        border: 2px solid #fff;
        height: 34px;
		border-radius: 14%;
        float: left;
		text-transform: uppercase;
        font-size:13px;
	}
	.dismiss-toast{
		position: absolute;
		top: 37px;
		right: 7%;
        background: url('../../clientlibs/signaturestyle-publish-clientlibs/resources/images/Regis-Icons/Close_Icon_White.svg') no-repeat;
        background-size: cover;
		width: 16px;
		height: 16px;
		@media screen and (max-width: 767px){
			right: 10px;
			top: 11px;
		}
		@media (min-width: 768px) and (max-width: 991px){
			right: 5%;
		}
	}
    .error-msg{
		color: #fff !important;
    }
	a{
		color: #fff;
		&:hover,&:focus{
			color: #fff;
			text-decoration: none;
		}
	}

	&.red-bg{
		background: rgba(192, 68, 68, 1);
		a.register-email{
			/*background: url('../../images/Regis-Icons/Circle_Arrow_CTA_All_White.svg') no-repeat;
            background-size: cover;*/
        }
	}
	&.grey-bg{
		background: rgba(114, 113, 115, 1);
		a.register-email{
			/*background: url('../../images/Regis-Icons/Circle_Arrow_CTA_Teal.svg') no-repeat;
            background-size: cover;*/
        }
	}
	&.teal-bg{
		background: rgba(69, 95, 108, 1);
		a.register-email{
			/*background: url('../../images/Regis-Icons/Circle_Arrow_CTA_All_White.svg') no-repeat;
            background-size: cover;*/
        }
	}
	&.lightgreen-bg{
		background: #697674;
		a.register-email{
			/*background: url('../../images/Regis-Icons/Circle_Arrow_CTA_All_White.svg') no-repeat;
            background-size: cover;*/
        }
	}
	&.gold-bg{
		background: #6a6747;
		a.register-email{
			/*background: url('../../images/Regis-Icons/Circle_Arrow_CTA_All_White.svg') no-repeat;
            background-size: cover;*/
        }
	}
}
