.reset-wrapper{
    width: 350px;
    border: 1px solid;
    border-radius: 4px;
    padding: 30px;
    margin: 0 auto;
    .reset_getEmail{
        display:block;
        p{
            a{
                text-decoration: underline;
            }
        }
    }
    .reset_emailConfirm, .reset_password{
        display:none;
    }
    .reset_emailConfirmation_password_changed{
        p{
            a{
                text-decoration: underline;
            }
        }
    }


}