.text{
     .form-group{
         margin-bottom: 0;
         padding-right: 30px;
         margin-top: 10px;
    }

     .gffTextBox{
         width: 50%;
         max-width: 450px;
         display: block;
         height: 40px;
         padding: 6px 12px;
         font-size: .85em;
         line-height: 1.42857143;
         color: #959597;
         background-color: #f9f9f9;
         background-image: none;
         border: 1px solid transparent;
    }

}
 .radio{
     margin: 0 0;
     .radio-label{
        padding: 10px 0 5px 0;
        font-weight: bold;
    }
     .form-group{
         margin-bottom: 10px;

         &.has-error{
             .checkbox-inline {
                 color: #727173;
            }
            .checkbox{
                 .checkbox-label{
                     color: #727173;

                }
            }
        }

        &.has-success{
             .checkbox-inline {
                 color: #727173;
            }
            .checkbox{
                 .checkbox-label{
                     color: #727173;

                }
            }
        }
         .checkbox{
             .checkbox-label{
                 padding:0 0 5px 0;
                 font-weight: bold;
                 text-transform: uppercase;

               .css-label{
                background-image: url(../../clientlibs/signaturestyle-publish-clientlibs/resources/images/checkbox-unchecked.png);
                padding-left: 26px;
                vertical-align: middle;
                height: 26px;
                border: 1px solid #959597;
                display: inline-block;
                line-height: 32px;
                background-repeat: no-repeat;
                background-position: 0 -1px;
                font-size: 16px;
                width: auto;
                cursor: pointer;
                background-size: 100%;

                }
               .css-checkbox:checked {
                    +span.css-label {
                     background-image: url(../../clientlibs/signaturestyle-publish-clientlibs/resources/images/checkbox.png) !important;
                   }
                }
            }

        }
        .checkbox-inline{

            font-weight:bold;
            input{
                  margin-top: 0px;
            }
        }
    }
}
 .dropdown{
     .form-control{
         width: 50%;
	     @media (max-width: 767px) {
		    width: 93%;
        margin-left: 10px;
		 }
         max-width: 450px;
         display: block;
         padding: 0 12px;
         font-size: 14px;
         font-weight: none;
         line-height: 1.42857143;
         color: #959597;
         background-color: #fff;
         border: 1px solid #959597;
    }
}
 .submit {
    clear: both;
    padding-top: 10px;
     #cta-submit-button{
         width: 52%;
         max-width: 125px;
         margin-left: 180px;
         display: block;
         line-height: 1.42857143;
         color: #fff;
         font-weight: 500;
         padding: 14px 36px;
         text-transform: uppercase;
         font-weight: bold;
         font-size: 20px;
         letter-spacing: 1px;

    }
}
