.displayNone{
    display: none;
}

main{
    min-height: 500px;
    width:1200px;
    margin:0 auto;
    padding-bottom: 20px;
    @media(max-width:1024px){
        width:100%;
    }
}

.container{
	margin:0 auto;
}

.no-border {
	border: none;
}

span.closedNow{
    display: inline-block !important;
    margin-left:2px;
    margin-bottom:0 !important;
    @media(min-width: 768px) and (max-width: 1024px){
    display:block !important;
    }
}

.btn-default{
	padding:14px 60px;
	border-radius: 0;
    font-size: 14px !important;
    font-weight: bold;
    font-family:'open-sans';
    border-color: transparent;
    color: #656365;
	&:hover{
		background: #D2D3D3;
	}
    span.def-btn-arrow{
        background: url(../../clientlibs/signaturestyle-publish-clientlibs/resources/images/Regis-Icons/Regis_arrow_direction-btn.svg);
        height: 14px;
        width: 9px;
        display: inline-block;
        position: relative;
        top: 3px;
        left: 12px;
    }
}

.btn-default_white{
	padding:12px 60px;
	min-height: 48px;
	border-radius: 0;
    font-size: 14px !important;
    font-weight: bold;
	color: #727173;
    background-color: #fff;
    border-color: #535354;
	&:hover{
		background: #fff;
	}
}

.btn-primary{
	padding:14px 36px;
	border-radius: 0;
	background: #455f6c;
    font-size: 14px !important;
    font-weight: bold;
	border-color: transparent;
	color: #fff;
    font-family:'open-sans';
	&:hover{
		background: #344651;
        border-color: transparent;
	}
}
a{
    outline: none;
    font-family:'open-sans';
    font-size:12px;
    &:hover,&:active,&:focus{
        outline: none;
    }
}

a.cta-arrow{
    text-decoration: none;
    color: #455F6c;
    font-family: 'open-sans';
    font-size: 12px;
    font-weight: bold;
    background: url(../../clientlibs/signaturestyle-publish-clientlibs/resources/images/Regis-Icons/Arrow-Link-teal-bolder.svg) no-repeat center right;
    padding-right: 12px;
    &:hover{
        color: #344651;
        background: url(../../clientlibs/signaturestyle-publish-clientlibs/resources/images/Regis-Icons/Arrow-Link-teal-hover-bolder.svg) no-repeat center right;
    }
}

a.text-link{
    text-decoration: none;
    color:#727173;
    border-bottom: 2px solid #727173;
    font-size:12px;
    font-family:'open-sans';
    font-weight: bold;
    &:hover{
        color: #39393A;
    }
}

a.cta{
	color: #455f6c;
	font-weight: 700;
    font-family:'open-sans';
	&:hover{
		text-decoration: none;
		color: #344651;
	}
}
.nav a{
    color: #727173;
	&:hover{
        @media(min-width:992px){
            border-bottom: 1px solid #BCBEC0;
        }
	}
	&:active{
        @media(min-width:992px){
            border-bottom: 1px solid #568391;
        }
	}
}
a:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
a:hover{
  text-decoration: underline;
}
//styles added for checkboxes and radio button and background colors for text boxes

.title,.head-style{
    font-weight:bold;
    .h2,h2,.h3,h3{
		font-weight:bold;
    }
}

fieldset{
    padding-right: 12px !important;
}

legend{
    font-size: inherit;
}

.form-group{
    label{
		font-size:8pt;
    }
}

.form-control.gray-bg{
	background-color:#f9f9f9;
}

.form-control.white-bg{
	border-bottom:1px solid #717273;
}

.input-focus{
	padding-left:5px;
    border-left:2px solid #287ADD;
}

.form-control:focus{
    box-shadow: none;
    -webkit-box-shadow:none;
}
.nearbysalons .form-control:focus{
  border-left: none !important;
   border-right: none !important;
}
input[type=checkbox].css-checkbox, input[type=radio].css-radiobtn,input[type=checkbox].css-radiobtn,input[type=radio].css-checkbox {
    position: absolute;
    z-index: -1000;
    left: -1000px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}

input[type=checkbox].css-checkbox+label.css-label, input[type=radio].css-radiobtn+label.css-label,input[type=checkbox].css-radiobtn+label.css-label,input[type=radio].css-checkbox+label.css-label {
    padding-left: 26px;
    vertical-align: middle;
    height: 31px;
    display: inline-block;
    line-height: 32px;
    background-repeat: no-repeat;
    background-position: 0 0;
    font-size: 16px;
    width: auto;
    cursor: pointer;
    background-size: 100%;
}

label.css-label {
    background-image: url('../../clientlibs/signaturestyle-publish-clientlibs/resources/images/checkbox-unchecked.png');
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

input[type=radio].css-radiobtn+label.css-label{
    border:none;
    background-image: url(../../clientlibs/signaturestyle-publish-clientlibs/resources/images/Regis-Icons/Regis_radio.svg);
}

input[type=radio].css-radiobtn:checked+label.css-label{
    background-image: url(../../clientlibs/signaturestyle-publish-clientlibs/resources/images/Regis-Icons/Regis_radio-selected.svg);
}

input[type=checkbox].css-checkbox:checked+label.css-label, input[type=radio].css-checkbox:checked+label.css-label {
    background-image: url('../../clientlibs/signaturestyle-publish-clientlibs/resources/images/checkbox.png');
}

.btn-block-xs{
    @media(max-width:767px){
        width: 99%;
    }
}

// Display Table & Table-cell

.displayTable{
    @media(min-width: 992px){
        display: table;
        table-layout: fixed;
        width: 100%;
    }
}
.tableCell{
    @media(min-width: 992px){
        display: table-cell;
        vertical-align: middle;
        float: none;
    }
}

.form-control{
    &[disabled]{
		background:#eee;
    }
    &[readonly]{
		background:#f9f9f9;
    }
}

//padding added for forgot password

.forgotpassword{
    margin-top: 30px;
}


//styles added for parsys alignment

.textandimage,.logininfo,.aboutyoucomponent,.textoverresponsiveimage,.emailandnewsletters,.offerdetailcomponent,.customtextpromo  {
    overflow: hidden;
    height: auto;
    clear: both;
}

#map-canvas{
    height:400px;
}

.pac-container{
    min-width: 200px;
    z-index: 9999;
}

.overlay {
    position: fixed;
    background-color: #fff;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    opacity: .7;
}

.session-alert {
    padding: 20px;
    background-color: #455f6c;
    color: white;
    margin-bottom: -30px;
    margin-top: 20px;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}

#loader-img {
    background: url('../../clientlibs/signaturestyle-publish-clientlibs/resources/images/loader.gif') no-repeat center center;
    background-size: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100px;
    width: 100px;
    margin-left: -25px;
    margin-top: -25px;
    @media(max-width:767px){
        top:44%;
        left:44%;
        background-size: 50%;
    }
}

/*for only text component with out padding*/

.textwithoutpadding.section{
	padding:0;
}

.textwithoutpadding.section p{
	margin:0;
}

.textwithoutpadding a{
    font-size: inherit;
    font-family: "merriweather";
    font-weight: bold;
    color: #467085;
    text-decoration: underline;
    &.btn{
		color: #fff;
        text-decoration: none;
    }
}

.textwithoutpadding p a{
    text-decoration: underline;
}

.textwithoutpadding .top-border{
	border-top:1px solid #f3f3f3;
}

.textwithoutpadding .bottom-border{
	border-bottom:1px solid #f3f3f3;
}

.textwithoutpadding .left-border{
	border-left:1px solid #f3f3f3;
	padding-right: 15px;
}

.textwithoutpadding .right-border{
	border-right:1px solid #f3f3f3;
	padding-left: 15px;
}

.textwithoutpadding p b,.textwithoutpadding b,
.textwithoutpadding p strong,.textwithoutpadding strong{
    color: #092f57;
}

.textwithoutpadding .twp-bg{
    padding: 10px;
}

p{
    a{
        font-size: inherit;
    }
}

/* for displaying markers */

.scissorlabels {
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    white-space: nowrap;
    margin-top: -34px !important;
    margin-left: -17px !important;
}
.other-marker-labels {
   font-size: 28px;
   text-align: center;
   white-space: nowrap;
   margin-top: -51px!important;
   margin-left: -10px!important;
}

.labelContent,.other-marker-labels div,.scissorlabels div{
    width:32px;
    text-align:center;
	font-family:"futura-pt-condensed", Helvetica, Arial, sans-serif;
}
.labelContent{
    color: #636264;
}
.Added-labelContent{
    background-color:#173E70;
    color: white;
    padding:12px;

}
.select-labelContent{
    display:none;
}
.Added-marker-labels{
    font-size:14px;
    margin-top: -50px!important;
    margin-left: -50px!important;
    height:50px;
}
.Added-marker-labels:after{
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    position: absolute;
    border-top: 6px solid #173E70;
    top: 44px;
    left: 48%;
    content:'';
}

.Added-labelContent:after{
border:solid 2px #fff;
border-radius:10px;
position:relative;
margin-left:10px;
font-size:14px;
content: "\e61d";
font-family: 'icomoon';
}

/* for displaying markers End */

/*hairlinecomponent styles*/

.hairlinecomponent hr{
    border-top: 1px solid #DADBDC;
    @media(max-width:768px){
        margin:5px 10px;
    }
     &.margin5{
        margin:5px 0;
        @media(max-width:768px){
            margin:5px 10px;
        }
    }
    &.margin10{
        margin:10px 0;
        @media(max-width:768px){
            margin:10px 10px;
        }
    }
    &.margin15{
        margin:15px 0;
        @media(max-width:768px){
            margin:15px 10px;
        }
    }
}

/*hairlinecomponen styles*/

/*filter icon size fix*/

.filter-txt img{
	padding-right: 10px;
    margin-left: 5px;
    height: 25px;
    width: 25px;
}

/*filter icon size fix*/

/* Social Sharing Generic Component*/

.socialsharinggenericcomp{
    margin: 10px 0;
    h3{
        margin-top: 0;
    }
    .h3{
        margin-top: 0;
    }
    dl{

        dd{
            display: inline-block;
        }
    }
    .text-right{
        dl{
            dd{
                margin-left: 20px;
            }
        }
    }
    .text-left{
        dl{
            dd{
                margin-right: 20px;
            }
        }
    }
    .text-center{
        dl{
            dd{
                margin: 0 10px;
            }
        }
    }
}

/* Social Sharing Generic Component*/

/*filter icon size fix*/

/*breadcrumb styles*/
.breadcrumb{
	padding:0 !important;
    font-size: 12px;
	float:left;
    width: 100%;
    background-color:transparent;
    margin-top:10px;
    margin-bottom:10px;
}

@media(max-width:768px){
	.breadcrumb{
		margin-top:10px;
        margin-bottom:10px;
        padding: 0 10px !important;
	}
}

.breadcrumb div{
	float:left;
}

.breadcrumb div span{
	font-weight: 500;
    color:#404041;
}


.breadcrumb div a span{
	font-weight: lighter;
    color:#404041;
}

/*breadcrumb styles*/

/*brightcove styles*/

.player-container{
    .outer-wrapper{
        width:100%;
    }
}
a.playicon{
    background: url("../../clientlibs/signaturestyle-publish-clientlibs/resources/images/play_button.png");
    position: absolute;
    padding: 60px;
    top: 32%;
    left: 36%;
}
.main-outer{
    position: relative;
    height: 0;
    padding-bottom: 56.25%;
}
.BrightcoveExperience{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
}
/*brightcove styles*/

/*styles added for fav-hrt*/

.fav-hrt{
    background:url(../../clientlibs/signaturestyle-publish-clientlibs/resources/images/Regis-Icons/Regis_heart.svg) no-repeat top left;
    padding:12px;
    position: relative;
    top: -2px;
    border: none;
}

//Accessibility regis location icon background

.loc-bg-icon{
	background: url('../../clientlibs/signaturestyle-publish-clientlibs/resources/images/Regis-Icons/Regis_location.svg') no-repeat center right;
    padding:12px;
}

.salonselectoradvanced.kouponServed{
    margin-bottom: 20px;
    .added-salons-container{
        background-color: #f2f2f2;
        padding: 10px 20px 20px;
        margin-bottom: 20px;
        .added-salons .check-in{
            border: 1px solid #5f6167!important;
              padding: 15px;
              background: #fff;
              width: 30%;
                @media (max-width: 767px){
                    width: 100%;
                }
                @media (min-width: 768px) and (max-width: 991px){
                    width: 40%;
                }
              margin: 30px 14px 30px 5px;
              box-shadow: 2px 2px 3px #888;
              overflow: visible;
              position: relative;
              span.salon-loc{
                display: block;
                margin-bottom: 20px;
            }
            span.store-title{
                display: block;
                font-size: 18px;
                color: #404041;
                font-weight: 500;
            }
            a span{
                display: block;
                margin-bottom: 5px;
            }
            button.close-btn {
                width: 48px;
                height: 46px;
                background-color: #fff;
                display: inline-block;
                position: absolute;
                bottom: -10px;
                right: -12px;
                z-index: 1180;
                border-radius: 50%;
                border: 1px solid #5f6167 !important;
                box-shadow: 0px 0px 3px #888888;
                font-size: 31px;
                text-align: center;
                font-weight: bold;
                text-decoration: none;
                color:#455f6c;
                margin:0;
                padding:0;
                &:hover{
                    background-color:#455f6c;
                    color:#fff;
                }
            }
        }
    }
}

@media (min-width: 992px){
	.kouponmediaoffercomp #kouponMediaFrame{
        width: 992px;
    }
}

/* Promotion Skeleton*/
.promotionskeleton{
    padding: 0 !important;
    .sdp-salon-offers{
		height: 100%;
		padding: 0 !important;
        .img-text-comp{
			height: 100%;
    		border: none;
            &.theme-default{
				background: #f3f3f3;
                color: #626264;
                position: relative;
                p{
					margin-bottom: 0 !important;
                }
                .imgtxt-box{
					padding: 0 !important;
					text-align: center;
                    .description{
						color: #404041;
                    }
                }
                &.topimage{
                    img{
                        width: 145px !important;
                        margin: 0 auto 10px !important;
                        padding-top: 14px;
                        display: block;
                    }
                    .imgtxt-box{
                        .title{
							font-weight: normal !important;
                            font-size: 30px;
                            line-height: 36px;
                            min-height: 72px;
                            padding: 0;
                            margin-bottom: 10px;
                        }
                    }
                }
                &.biggertopimage{
                    img{
						width: 100%;
                    }
                    .imgtxt-box{
                        .title{
							font-size: 30px;
                            line-height: 35px;
                            min-height: 70px;
                            font-weight: normal !important;
                        }
                    }
                }
                &.noimage{
                    .imgtxt-box{
						padding-top: 100px !important;
                        .title{
							font-size: 30px;
                            line-height: 36px;
                            min-height: 72px;
                            margin-bottom: 20%;
                            font-weight: normal !important;
                        }
                    }
                }
                .next-btn{
					background: url('../../clientlibs/signaturestyle-publish-clientlibs/resources/images/Regis-Icons/Circle_Arrow_CTA_Teal.svg') no-repeat;
                    background-size: cover;
                    position: absolute;
                    bottom: 10px;
                    left: 45%;
                    width: 37px;
                    height: 37px;
                    padding: 0;
                    &:active,&:focus{
						outline: none !important;
                        border: none !important;
                        box-shadow: none !important;
                    }
                }
            }
        }
    }
}

//Birthday Update Css

.birthdayupdatecomp{
    margin: 20px 0;
    .login-main{
        .reset-wrapper{
            .h4{
                margin-bottom: 10px !important;
            }
        }
    }
    #birthdaydateupdate-personal{
        display: none;
    }
    label[for="birthdaydateupdate-personal"]{
        display: block;
    }
    label[for="bd_months"],label[for="bd_days"]{
        display: inline;
    }
    #bd_months,#bd_days{
        width: 49%;
        display: inline-block;
    }
}

.year-hidden .ui-datepicker-year{
    display: none !important;
}

#birthdayModal{
    .modal-content{
        -webkit-border-radius: 0;
        -ms-border-radius: 0;
        -moz-border-radius: 0;
        -o-border-radius: 0;
        border-radius: 0;
        text-align: center;
    }
    .modal-footer{
        border-top: 0;
        text-align: center;
    }
}

.gm-style-pbt{
    background: #49717d !important;
}
/* styles for modal popup  */
.onload-page-modal{
    .modal-dialog{
        .modal-content{
            border-radius: 0px;
            .modal-body{
                padding: 0;
                @media (max-width: 767px){
                    padding: 25px 10px 10px;
                }
                .modalimageDiv{
                    padding-left: 10px;
                }
                .modalDescDiv{
                    position: relative;
                }
                button{
                    background: url('../../clientlibs/signaturestyle-publish-clientlibs/resources/images/Close_Icon_Teal.svg') no-repeat;
                    background-size: cover;
                    width: 16px;
                    height: 16px;
                    opacity: 1 !important;
                    position: absolute;
                    top: 15px;
                    right: 25px;
                    @media (max-width: 767px){
                        top: 3px;
                        right: 5px;
                    }
                    &:focus{
                        outline: none !important;
                    }
                }
                @media (min-width: 768px){
                    .display-modal-table{
                        display: table;
                        width: 100%;
                        table-layout: fixed;
                    }
                    .display-modal-tablecell{
                        display: table-cell;
                        vertical-align: middle;
                        float: none;
                    }
                }
                .modal-title,.description{
                    margin-bottom: 10px;
                    margin-right: 5px;
                }
                .emailtoast-modalfield{
                    margin-right: 10px;
                }
                .modal-title{
                    font-size: 20px;
                }
                a.cta-arrow{
                    font-size: 16px;
                    background-position-y: 5px;
                }
                a.btn-primary{
                    @media (max-width: 767px){
                        padding: 10px;
                    }
                }
            }
        }
    }
}

select.form-control{
    border: 1px solid #455f6c !important;
    -moz-appearance: none;
    -webkit-appearance: none;
    -o-appearance: none;
    appearance: none;
    background: url('../../clientlibs/signaturestyle-publish-clientlibs/resources/images/Regis-Icons/Regis_down_arrow_teal.svg') 96% no-repeat !important;
    border-radius: 0;
}
.aboutyoucomponent{
    select{
        border-width: 0 0 1px 0 !important;
        border-color: #727173 !important;
        background: none !important;
        -webkit-appearance: menulist !important;
        -moz-appearance: menulist !important;
        -o-appearance: menulist !important;
        appearance: menulist !important;
    }
}
#CQ{
    .x-toolbar{
        select{
            border: 0 !important;
            background: #fff !important;
            -webkit-appearance: menulist !important;
            -moz-appearance: menulist !important;
            -o-appearance: menulist !important;
            appearance: menulist !important;
        }
    }
}

/*Products page custom dropdown css*/
.product-page{
    .product-dropdown{
        &.dropdown{
            button{
                text-align: left;
                background: url('../../clientlibs/signaturestyle-publish-clientlibs/resources/images/Regis-Icons/Regis_down_arrow_teal.svg') no-repeat 97% 50% #ffffff;
                background-size: 8%;
                padding: 6px 12px;
                min-height: 0;
                border: 1px solid #455f6c;
                &:focus,&:hover,&:active{
                    border: 1px solid #455f6c;
                    outline: none;
                    box-shadow: none;
                }
                #dropdown-selected-value{
                    color: #727173;
                    font-weight: bold;
                    font-size: 14px;
                    font-family: "merriweather",Helvetica,Arial,sans-serif;
                }
            }
            &.open{
                button{
                    background: url('../../clientlibs/signaturestyle-publish-clientlibs/resources/images/Regis-Icons/Regis_up_arrow_teal.svg') no-repeat 97% 50% #ffffff;
                    background-size: 8%;
                }
            }
            ul.dropdown-menu{
                width: 100%;
                position: relative;
                top: -1px;
                border-radius: 0;
                padding: 10px 0;
                margin: 0;
                background: #fff;
                -webkit-box-shadow: none;
                -moz-box-shadow: none;
                -o-box-shadow: none;
                -ms-box-shadow: none;
                box-shadow: none;
                border: 1px solid #455f6c;
                &>li{
                    &>span{
                        color: #515151;
                        padding: 5px 0 5px 20px;
                        font-weight: 500;
                        display: inline-block;
                        font-size: 14px;
                        background: url('../../clientlibs/signaturestyle-publish-clientlibs/resources/images/Regis-Icons/selector-arrow.svg') no-repeat center left;
                            background-size: 10px;
                            background-position: 9px 53%;
                    }
                    &>a{
                        color: #515151;
                        padding: 5px 20px;
                        font-weight: 500;
                        font-family: "merriweather",Helvetica,Arial,sans-serif;
                        font-size: 14px;
                    }
                }
                ul.list-unstyled{
                    padding-left: 40px;
                    &>li{
                        &>a{
                            padding: 5px 0;
                            display: inline-block;
                            color: #515151;
                            font-size: 13px;
                        }
                        &>span{
                            color: #515151;
                            padding: 5px 0 5px 15px;
                            background: url('../../clientlibs/signaturestyle-publish-clientlibs/resources/images/Regis-Icons/selector-arrow.svg') no-repeat center left;
                            background-size: 10px;
                            background-position: 0 53%;
                            font-size: 13px;
                            font-family: "open-sans";
                            display: inline-block;
                        }
                    }
                }
            }
        }

    }
}
/*styles added for iframe border issue in PROD*/
iframe[name="google_conversion_frame"] {
    display: none !important;
}
.singleDropdownDeciderClass .custom-dropdown{
    outline: 1px solid #fff;
    border: 1px solid #fff;
}
.salontitle_salonsmalltxt{
        font-size: 20px;
    margin: 0;
    margin-top: 20px;
    display: block;
}
.salontitle_salonlrgtxt{
            font-size: 36px;
    margin: 0px;
    margin-bottom: 10px;

        }
.row.provisionTNP-subhead{
  margin-right:0px;
  margin-left:0px;
}
.provisionTNP.row{
  margin-left:0px;
  margin-right:0px;
}
select::-ms-expand {
        display: none;
}
.imageslidercomponent a {
  color: #fff;
  text-decoration: none;
  outline:none;
}
.imageslidercomponent{
    a{
        color: #fff;
        text-decoration: none;
        outline:none;
    }
}
.imageslidercomponent{
    a{
        &:hover{
                color: #fff;
                text-decoration: underline;
                }
            }
}
.brightcoveplayer{
    .vjs-menu{
        ul.vjs-menu-content{
            @media (max-width: 320px){
                height: 110px !important;
                width: 9em !important;
                left: -2em !important;
                .vjs-menu-item{
                    padding: 0.2em !important;
                }
            }
            @media (min-width: 321px) and (max-width: 767px){
                height: 140px !important;
                width: 9em !important;
                left: 1em !important;
            }
        }
    }
}
.overlay-component-modal{
    .modal-body{
        text-align: center;
          a.btn{
              text-decoration: none;
              font-size: 14px;
              font-family: "merriweather";
              font-weight: bold;
            }
            a{
                text-decoration: underline;
              font-size: 14px;
              font-family: "merriweather";
              font-weight: bold;
            }
a.cta-arrow {
    text-decoration: underline;
    color: #455F6c;
    font-size: 12px;
    font-weight: bold;
    padding-right: 12px;
}


    }

    }

.pagetagsdisplaycomp h2.h3{
		font-weight: 700;
		line-height: 1.1;
		color: inherit;
		font-size: 28px;
    margin-top: 0px;
}
.product-features .pagetagsdisplaycomp h2.h3{
		font-weight: 500;
		line-height: 1.1;
		color: inherit;
		font-size: 16px;
    text-transform: none;
    margin-top: 0px;
}
.button-container{
    text-align: center;
    width: fit-content !important;
    width:-moz-fit-content;
    width:-webkit-fit-content;
    width:-ms-fit-content;
    float:left;
   clear:left;
}
.ff-container{
    display: table !important;
    background: none !important;

}
button.start{
    width: 20px;
    height: 20px;
    padding: 0px;
    margin-right: 10px;
    border: 1px solid #000;
    margin-top:2px;
    background-color: #fff;
}
button.start img{
   width: 15px;
    height: 15px;
    margin-top: -6px;
}
button.stop img{
      width: 10px;
    height: 10px;
        margin-top: -6px;
}
button.stop{
    width: 20px;
    height: 20px;
    padding: 0px;
    border: 1px solid #000;
    margin-top:2px;
     background-color: #fff;
}
.aboutyoucomponent fieldset legend{
    padding-bottom: 0px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
      font-size: inherit;
      margin-bottom: 0px !important;
  }
  .aboutyoucomponent fieldset{
    margin-bottom: 0px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    font-size: inherit;

  }
  .experience fieldset legend{
    padding-bottom: 0px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
      font-size: inherit;
      margin-bottom: 0px !important;
  }
  .experience fieldset{
    margin-bottom: 0px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    font-size: inherit;

  }
  legend.h4{
    padding-bottom: 0px;
  }
  .login-main .login-wrapper h1.h4{
    margin-top: 0px !important;
    margin-bottom: 15px !important;
   font-size: 1.45em !important;
  }
  legend.guestLegend {
    font-size: 16px;
    line-height: 1.42857143;
    color: #5f6167;
    font-weight: bold;
}
/* Fix for HAIR-3190 - START */
.new.section{
  padding:0;
}

.section{
  overflow:hidden;
  clear:both;
}

/* Fix for HAIR-3190 - END */


/* Fix for Salon Details Title component edit issue*/
.salon-details-title-edit {
    float: none !important;
}

/* Fix for Near by Salons component edit issue */
.nearby-salons-edit {
    float: none !important;
}
@media(min-width:992px){
.loc-details-edit{
    width:50%;
    display:inline;
    margin-right:10%;
    margin-left:10px;

}
.salon-timings{
    width:50%;
    display:inline-table;
    margin-left:5%;
}
.salondetailspagelocationcomp{
    display:flex;

}
}
@media(max-width:768px){
  .loc-details-edit{
      margin-left:10px;
  }
  .salon-timings{
      margin-left:10px;
  }
  .sigcancel{
  	margin-bottom: 20px;
    }
}
