header{
    @media (min-width: 1200px){
        width: 1200px;
        margin: 0 auto;
    }
    border: 0 !important;
    border-bottom: 1px solid #f3f3f3 !important;
    margin-bottom: 0 !important;
    .logo-reg {
        margin-top: 36px;
        @media(max-width:767px){
            margin-top: 12px;
            margin-bottom: 12px;
            padding:0 12px 0 1px;
            max-height: 40px;
        }
        .navbar-toggle {
            margin: 0;
            padding: 0;
            @media (max-width: 767px){
                float: left;
            }
            .icon-bar {
               background-color: #727173;
            }
            .icon-menu,.hamburger-menu-text{
                display: block;
            }
            .icon-menu{
                font-size: 8px;
                font-family: "open-sans";
                img{
                    width: 100%;
                    max-height: 20px;
                }
            }
            figure{
                font-size: 8px;
                img{
                    width: 100%;
                    max-height: 20px;
                }
            }
        }
        .logo{
            h1{
                font-size: 0px;
                margin:0;
            }
            a{
                position: relative;
                top: -9px;
                background: url(../../clientlibs/signaturestyle-publish-clientlibs/resources/images/logos/signature-style-logo-2017-header.png) 0 0 no-repeat;
                height:72px;
                display: block;
                background-size: 100%;
                font-size:0px;
                @media(max-width:768px){
                    height:50px;
                    background-size: cover;
                }
            }
        }
        .signOutPop{
            a{
                margin:0;
                figure{
                    width:24px;
                    img{
                        width:34px !important;
                    }
                    figcaption{
                        font-size:1em;
                    }
                }
            }
        }
        .reg-and-join{
            .show-mob{
                .locations,.account{
                    figure{
                        img{
                            max-height: 22px;
                        }
                    }
                }
                img{
                    width:22px;
                }
                .signPop,.locations{
                    padding-left: 0;
                    padding-right: 12px;
                    a{
                        figcaption{
                            font-size: 8px;
                        }
                    }
                }
            }
            a{
                color:#727173;
            }
            ul{
                li{
                    a{
                        margin:0 18px 18px;
                        padding: 0;
                        font-size: 12px;
                        color: #3d3d3d;
                        font-family: "merriweather";
                        @media(min-width: 768px) and (max-width: 991px){
                            margin: 0 8px 18px 3px;
                        }
                    }
                }
            }
            #logoutHeader{
                ul.account-signin{
                    @media (min-width: 992px){
                        margin-bottom: 7px;
                    }
                    li{
                        a{
                            @media (min-width: 992px){
                                margin-bottom: 0;
                                margin:0 !important;
                            }
                        }
                    }
                }
                .show-fav-feature {
                    padding-top: 10px !important;
                    position: relative;
                    top: 0px;
                    padding-bottom: 10px !important;
                }
            }
            .register-link{
                text-align: center;
                font-size: 12px;
                a{
                    margin:0;
                    color:#455F6C;
                    font-weight: bold;
                    &:hover,&:focus,&:active{
                        border:none !important;
                        color: #344651;
                        text-decoration: none;
                    }
                }
            }
            .dropdown-menu{
                padding: 36px 24px 24px;
                width: 350px;
                position: absolute;
                left:-140px;
                top:42px;
                font-family: "open-sans";
                 @media(max-width:768px){
                    background-color: #fff;
                    padding: 15px;
                    width: 300px;
                    left: inherit;
                    right: 0;
                    border: 1px solid #5f6167;
                }
                @media (min-width: 992px) and (max-width: 1024px){
                    left: -243px;
                }
                .h4{
                    margin-bottom: 24px;
                    font-size: 36px;
                    font-family: "merriweather";
                }
                .form-group{
                    margin-bottom: 24px;
                    input{
                        width:100%;
                        border-radius: 0;
                        background-color: #F9F9F9;
                        height: 40px;
                        box-shadow: none;
                        border: none;
                    }
                    input[type="checkbox"]{
                        height: auto;
                        width: auto;
                        margin-right:5px;
                    }
                    a.btn{
                        width: 100%;
                        font-weight: bold;
                        border-radius: 3px;
                        padding: 14px 36px;
                        margin: 0;
                        border:none;
                        color: #fff;
                        &:hover,&:focus,&:active{
                            border: none;
                            outline: none;
                        }
                    }
                    label{
                        font-weight: normal;
                        font-size: 12px;
                    }
                    .rem-me-txt{
                        font-size: 12px;
                    }
                    .forgot-pwd {
                       margin: 9px 0 0 0;
                       color: #455F6C;
                        font-family: 'open-sans';
                        font-weight: bold;
                        text-transform: uppercase;
                        &:hover{
                            border: none;
                            color: #344651;
                        }
                    }
                    #sign-in-btn{
                        &:hover,&:focus,&:active{
                            background: #344651;
                        }
                    }
                }
                &:before{
                    bottom: 100%;
                    left: 50%;
                    border: solid transparent;
                    content: " ";
                    height: 0;
                    width: 0;
                    position: absolute;
                    pointer-events: none;
                    border-color: rgba(136,140,142,0);
                    border-bottom-color: #5f6167;
                    border-width: 14px;
                    margin-left: -14px;
                    @media(max-width:768px){
                        left:89%;
                    }
                    @media (min-width: 992px) and (max-width: 1024px){
                        left: 78%;
                    }
                }
               &:after{
                   bottom: 100%;
                    left: 50%;
                    border: solid transparent;
                    content: " ";
                    height: 0;
                    width: 0;
                    position: absolute;
                    pointer-events: none;
                    border-color: rgba(255,255,255,0);
                    border-bottom-color: #fff;
                    border-width: 13px;
                    margin-left: -13px;
                    @media(max-width:768px){
                        left:89%;
                    }
                    @media (min-width: 992px) and (max-width: 1024px){
                        left: 78%;
                    }
                }
            }
        }
    }
    .head-links {
        position: relative;
        @media (min-width: 768px) and (max-width: 991px){
            top: -13px;
        }
        #navbar{
            overflow: hidden;
            @media screen and (max-width: 767px){
                background: #f3f3f3;
                padding: 0;
                max-height: 400px;
            }
            @media (min-width: 768px){
                position: absolute;
                bottom: 0;
            }
        }
        ul{
            margin-left: 0;
            width: 100%;
            &>li{
                &>a{
                    @media (max-width: 767px){
                        font-size: 14px;
                        font-family: "merriweather";
                    }
                }
            }
           li{
               &#hcp_brands{
                    &>a{
                        background: rgba(0, 0, 0, 0) url("../../clientlibs/signaturestyle-publish-clientlibs/resources/images/Regis-Icons/Regis_arrow_direction-btn.svg") no-repeat scroll right center / 17% auto;
                        display: inline-block;
                        margin-bottom: 0;
                        padding-right: 11px;
                    }
                }
               a{
                margin: 18px;
                padding: 0;
                font-size: 12px;
                color: #3d3d3d;
                @media (max-width: 767px){
                    margin-left: 12px;
                }
                &:hover,&:active,&:focus{
                    background: none;
                    @media (min-width: 768px){
                        margin-bottom: 13px;
                        padding-bottom: 3px;
                    }
                }
                &:hover{
                    @media (min-width: 768px){
                        border-bottom: 2px solid #b7b493;
                    }
                }
                &:active,&:focus{
                    @media (min-width: 768px){
                        border-bottom: 2px solid #455f6c;
                    }
                }
               }
               &:nth-child(3){
                    a{
                        @media (min-width: 992px){
                            margin-left: 0;
                        }
                    }
                }
               form{
                    .input-group{
                        @media (max-width: 767px){
                            padding: 0 12px;
                            width: 100%;
                        }
                        input{
                            @media (max-width: 767px){
                                font-family: "merriweather";
                                padding-top: 5px;
                                font-size: 12px;
                            }
                        }
                    }
                   .input-group-addon{
                       padding: 2px 15px;
                       border-radius: 0;
                       border-left-color: transparent;
                       background-color: #568391;
                   }
               }
               ul.submenu{
                    padding: 46px 20px 20px 42px;
                    background: #fff;
                    height: 409px;
                    li{
                        width: 49%;
                        display: inline-block;
                        margin-bottom: 2.5em;
                        font-size: 12px;
                        &:first-child,&:nth-child(2){
                            width: 100%;
                            display: block;
                            margin-bottom: 2em;
                        }
                        .back-menu{
                            background: rgba(0, 0, 0, 0) url("../../clientlibs/signaturestyle-publish-clientlibs/resources/images/Regis-Icons/Regis_left_arrow.svg") no-repeat scroll center center;
                            padding: 1px 8px;
                        }
                        .close-submenu{
                            background: rgba(0, 0, 0, 0) url("../../clientlibs/signaturestyle-publish-clientlibs/resources/images/Regis-Icons/Close_Icon.svg") no-repeat scroll center center;
                            padding: 3px 11px 2px;
                        }
                        &:nth-child(2){
                            a{
                                font-size: 14px;
                                font-family: "merriweather";
                            }
                        }
                        a{
                            margin: 0;
                        }
                    }
                }
           }
        }
        .srch-wrap{
            @media (min-width: 992px){
                width: 34%;
            }
            ul.navbar-nav{
                width: auto;
                li{
                    a{
                        margin: 0 5px 8px 5px;
                        &:hover,&:focus,&:active{
                            @media (min-width: 768px){
                                margin-bottom: 3px;
                                padding-bottom: 3px;
                                border-bottom: 2px solid #b7b493;
                            }
                        }
                    }
                    &.dtp-menu{
                        a{
                            margin-right: 0;
                        }
                    }
                }
            }
        }
        .search-div{
            border:1px solid #f3f3f3;
            input{
                color:#727173;
                border: none;
                box-shadow: none;
                padding: 0 0 0 3px;
                background: #fff;
            }
            .srch{
                border: 0;
                padding: 0;
                width:50px;
                button{
                    background: url(../../clientlibs/signaturestyle-publish-clientlibs/resources/images/Regis-Icons/Regis_search.svg) no-repeat center center;
                    box-shadow: none;
                    border: none;
                    padding: 20px 25px;
                    .sr-only{
                        color: #767678;
                    }
                    @media (max-width: 767px){
                        background: url(../../clientlibs/signaturestyle-publish-clientlibs/resources/images/Regis-Icons/Regis_search_white.svg) no-repeat center center;
                    }
                }
            }
        }

    }
    .sub-navbar{
        @media(min-width: 768px){
            margin-top: 6px;
            margin-right: 0;
            margin-left: 0;
        }
        background: #727173;
    }
    .sub-head-links{
        #navbar2{
            @media (min-width: 992px){
                min-height: 40px;
                width: 100%;
            }
            @media (min-width: 992px) and (max-width: 1024px){
				padding-left: 30px;
            }
            @media (min-width: 1025px){
                padding-left: 118px;
            }
        }
        ul{
            @media (min-width: 992px){
                width: 100%;
            }
           li{
                display: inline-block;
               a{
                    margin: 10px 13px;
                    padding: 0;
                    color: #fff;
                    font-size: 10px;
                    font-family: 'open-sans';
                    &:hover,&:focus{
                        background: none;
                        font-weight:bold;
                        border-bottom: 2px solid #fff;
                        padding-bottom: 7px;
                        margin-bottom: 1px;
                    }
                    &:after{
                        display:block;
                        content:attr(title);
                        font-weight:bold;
                        height:1px;
                        color:transparent;
                        overflow:hidden;
                        visibility:hidden;
                    }
               }
           }
        }
    }
    &.franchise{
        .header-wrapper{
        	@media(min-width: 768px) and (orientation : landscape){
				padding-left: 10px;
                padding-right: 10px;
            }
            .navbar-header{
                .btn.navbar-toggle{
                    margin-bottom: 0;
                    margin-right: 0;
                    margin-top: 0;
                    -moz-box-shadow: none;
                    -webkit-box-shadow: none;
                    -ms-box-shadow: none;
                    -o-box-shadow: none;
                    box-shadow: none;
                    outline: none;
                    &.menu{
						float: left !important;
                    }
                    &.search{
						float: right !important;
                    }
                    img{
						width: 28px;
                        height: 20px;
                    }
                }
                .franchise-logo-5{
					background: url('../../clientlibs/signaturestyle-publish-clientlibs/resources/images/logos/costcutters_logo.png') no-repeat;
                    background-position: 0 -5px;
                    height: 70px;
                    display: inline-block;
                    @media screen and (max-width: 991px){
						height: 45px;
                        background-position-y: -25px;
                    }
					@media screen and (max-width: 1024px){
                        background-size: cover;
                    }
            	}
                .franchise-logo-7{
                    background: url('../../clientlibs/signaturestyle-publish-clientlibs/resources/images/logos/brand-landing-logo-first-choice-300.png') no-repeat;
                    background-position: 0 -5px;
                    height: 70px;
                    display: inline-block;
                    @media screen and (max-width: 991px){
						          height: 45px;
                      background-position-y: -10px;
                    }
                    @media screen and (max-width: 1024px){
                        background-size: cover;
                    }
            	}
            }
            @media (max-width: 767px){
				#menu-group{
                    margin: 0;
                    li{
                        a{
                            margin: 5px 15px 15px !important;
                        }
                    }
                }
            }
        }
        .utility-wrapper{
            @media (max-width: 767px){
				padding-top: 0 !important;
            }
            .navbar-collapse{
                .input-group{
                    border: 1px solid #f3f3f3;
                    .search-wrapper{
                        input{
                            background: #fff;
                            border: 0;
                        }
                    }
                    .input-group-btn{
                        border: 0;
                        &:focus{
                            outline: transparent;
                        }
                        button{
                            background: url(../../clientlibs/signaturestyle-publish-clientlibs/resources/images/Regis-Icons/Regis_search.svg) no-repeat center center;
                            box-shadow: none;
                            border: none;
                            padding: 25px;
                        }
                    }
                }
            }
            #loginHeader{
                .navbar-collapse.account-navbar-collapse{
                    @media (max-width: 767px){
                        display: block !important;
                    }
                }
            }
            .account-signin{
                li{
                    a{
                        font-family: "merriweather";
                        padding: 0;
                        margin: 15px;
                        color: #3d3d3d;
                        &:hover{
                            border-bottom: 2px solid #b7b493;
                            padding-bottom: 3px;
                            margin-bottom: 10px;
                        }
                        &:active,&:focus{
                            border-bottom: 2px solid #455f6c;
                            padding-bottom: 3px;
                            margin-bottom: 10px;
                        }
                        &:focus{
                                outline: 5px auto -webkit-focus-ring-color;
                    outline-offset: -2px;
                        }
                    }
                }
            }
        }

        nav.main-navbar-collapse{
            @media (min-width: 768px){
                float: right;
            }
            #menu-group{
                li{
                    a{
                        font-family: "merriweather";
                        padding: 0;
                        margin: 15px;
                        color: #3d3d3d;
                        &:hover{
                            border-bottom: 2px solid #b7b493;
                            padding-bottom: 3px;
                            margin-bottom: 10px;
                        }
                        &:active,&:focus{
                            border-bottom: 2px solid #455f6c;
                            padding-bottom: 3px;
                            margin-bottom: 10px;
                        }
                    }
                    &:last-child{
                        a{
                            margin-right: 0;
                        }
                    }
                }
            }
        }
    }
    .show-fav-feature{
     @media (min-width: 1023px){
            background: url(../../clientlibs/signaturestyle-publish-clientlibs/resources/images/Regis-Icons/Regis_heart.svg) no-repeat center left !important;
        padding-left: 30px !important;
        margin: 0 !important;
        margin-left: 12px !important;

        }
        &:hover{
            border:none !important;
            padding-bottom: 0 !important;
        }
    }
}


.moveLeft{
    position: relative;
    left: -767px;
    -webkit-transition: transform linear 0.5s;
    -moz-transition: transform linear 0.5s;
    transition: transform linear 0.5s;
    transform: translate3d(-400px,0,0);
}
.moveRight{
    position: relative;
    left: 767px;
    top: -98px;
    transform: translate3d(400px,0,0);
}
.positionLeft{
    left: 0;
    -webkit-transition: transform linear 0.5s;
    -moz-transition: transform linear 0.5s;
    transition: transform linear 0.5s;
    transform: translate3d(0,0,0);
}

.login .login{
    margin-top:40px;
    .login-main{
        .login-wrapper{
            width: 350px;
            @media (max-width: 767px){
                width: 100%;
            }
            border: 1px solid;
            border-radius: 4px;
            padding: 30px;
            margin: 0 auto;
            margin-bottom:30px;
            .h4{
                margin-bottom: 30px;
            }
            .form-group{
                margin-bottom: 20px;
                input{
                    width:100%;
                    border-radius: 0;
                    background-color: #F9F9F9;
                    height: 40px;
                    box-shadow: none;
                    border: none;
                }
                input[type="checkbox"]{
                    height: auto;
                    width: auto;
                    margin-right:5px;
                }
                a.btn{
                    width: 100%;
                    font-weight: bold;
                    margin: 0;
                    border:none;
                    &:hover,&:focus,&:active{
                        border: none;
                        outline: none;
                    }
                }
                label{
                    font-weight: normal;
                }
                .forgot-pwd {
                   margin: 3px 0 0 0;
                   color: #287add;
                    &:hover{
                        border: none;
                    }
                }
            }
            .register-link{
                text-align: center;
                a{
                    margin:0;
                    color:#287add;
                    &:hover{
                        border:none;
                    }
                }
            }
        }
    }
}

main.franchise{
    p{
        font-family: "open-sans";
    }
    h1,h2,h3,h4,h5,h6{
        font-family: "merriweather";
    }
    ul{
        li{
            font-family: "open-sans";
        }
    }
    .btn-primary{
        font-family: "open-sans";
        font-weight: bold;
        font-size: 12px;
    }
}

//TAH component Css
.provisionTNP{
        margin-bottom:10px;
        padding: 5px 0;
        @media (max-width: 767px){
            text-align: center;
            padding: 5px 15px;
        }
        .tah-left{
            .provisionTNP-subhead{
                @media (min-width: 768px){
                    display: table;
                    width: 100%;
                    table-layout: fixed;
                }
                .provisionTNP-sub{
                    @media (min-width: 768px){
                        display: table-cell;
                        vertical-align: middle;
                        float: none;
                    }
                }
                @media (min-width: 768px) and (max-width: 991px){
		            margin-left: 1px;
		        }
            }
        }
        .provisionTNP-subhead{
            .provisionTNP-sub{
                a.btn-primary{
                    @media (max-width: 767px){
                        margin-top: 5px;
                    }
                    &:hover,&:focus,&:active,&.active{
                        background: #455f6c !important;
                        border-color: #455f6c !important;
                        -moz-box-shadow: none;
                        -webkit-box-shadow: none;
                        -ms-box-shadow: none;
                        -o-box-shadow: none;
                        box-shadow: none;
                    }
                &.tah-white{
					&:hover,&:focus,&:active,&.active{
                        background: #fff !important;
                        border-color: #fff !important;
                    }
                }
                }
            }
        }
        .tah-white{
            background: #fff;
            color: #455f6c !important;
        }
        .tah-arrowlink,.tah-link{
            text-decoration: underline;
        }
        a.cta-arrow{
        	&.tah-link{
        		background: none !important;
        	}
            &.tah-arrowlink{
	            background: url('../../clientlibs/signaturestyle-publish-clientlibs/resources/images/Regis-Icons/Arrow-Link-white-bolder.svg') no-repeat center right;
	        }
        }
        .tah-center{
            text-align: center;
            p{
                margin: 0;
                @media (min-width: 768px){
                    display: inline;
                }
            }
            a.btn-primary{
                @media (min-width: 768px) and (max-width: 991px){
                    width: 107px;
                    padding: 12px;
                }
            }
        }
    .tah-left{
        a.btn-primary{
            @media (min-width: 768px){
                width: 100%;
                padding: 12px;
            }
        }
    }
}

.login{
    .login-main{
        .login-wrapper{
            input[type=checkbox].css-checkbox ,input[type=radio].css-checkbox{
              position: absolute;
              z-index: -1000;
              left: -1000px;
              overflow: hidden;
              clip: rect(0 0 0 0);
              height: 1px;
              width: 1px;
              margin: -1px;
              padding: 0;
              border: 0;
            }
            input[type=checkbox].css-checkbox + span.css-label,input[type=radio].css-checkbox + span.css-label {
              padding-left: 26px;
                padding-bottom: 26px;
              vertical-align: middle;
              height: 26px;
              border: 1px solid transparent;
              display: inline-block;
              line-height: 32px;
              background-repeat: no-repeat;
              background-position: 0 0;
              font-size: 16px;
              width: auto;
              cursor: pointer;
              background-size: 100%;
            }
            input[type=checkbox].css-checkbox:checked + span.css-label,input[type=radio].css-checkbox:checked + span.css-label {
              background-image: url('../../clientlibs/signaturestyle-publish-clientlibs/resources/images/checkbox.png');
            }
            input[type=checkbox].css-checkbox:disabled + span.css-label,input[type=radio][disabled].css-checkbox:disabled + span.css-label {
              background-image: url('../../clientlibs/signaturestyle-publish-clientlibs/resources/images/checkbox-disabled.png');
              border: none;
            }
            span.css-label {
              background-image: url('../../clientlibs/signaturestyle-publish-clientlibs/resources/images/checkbox-unchecked.png');
              -webkit-touch-callout: none;
              -webkit-user-select: none;
              -khtml-user-select: none;
              -moz-user-select: none;
              -ms-user-select: none;
              user-select: none;
            }
            span.rem-me-txt{
                position: relative;
                top: 5px;
            }

        }
    }
}
header .signOutPop figure img {
  width: 100%;
  max-height: 21px !important;
}
