.img-text-comp{
  border:1px solid #5f6167;
  text-align: center;
  overflow: hidden;
  position:relative;
}
/* CC Brand Specific starts*/
.franchise.franchise-subbrand-5 .img-text-comp.theme-blue, .franchise .img-text-comp.theme-default, .franchise .img-text-comp.theme-dark, .franchise .img-text-comp.theme-brand{
  border: 1px solid #bd1f39;
}
.franchise.franchise-subbrand-5 .img-text-comp.theme-blue{
    background: #ffffff !important;
}
.franchise.franchise-subbrand-5 .img-text-comp.theme-blue .imgtxt-box h3.imgtxt-subheading{
  color: #bd1f39 !important;
}
.franchise.franchise-subbrand-5 .img-text-comp.theme-default .imgtxt-box h3.imgtxt-subheading{
  color: #bd1f39 !important;
}
.franchise.franchise-subbrand-5 .img-text-comp.theme-blue .imgtxt-box h2.imgtxt-heading{
  color: #bd1f39 !important;
}
.franchise.franchise-subbrand-5 .img-text-comp.theme-default .imgtxt-box h2.imgtxt-heading{
  color: #bd1f39 !important;
}
.franchise.franchise-subbrand-5 .img-text-comp.theme-dark{
    background: #bd1f39 !important;
    color: #ffffff !important;
}
.franchise.franchise-subbrand-5 .img-text-comp.theme-dark p a{
    color: #ffffff !important;
}
.franchise.franchise-subbrand-5 .img-text-comp.theme-brand{
    background: #bd1f39 !important;
    color: #ffffff !important;
}
.franchise.franchise-subbrand-5 .img-text-comp .btn.btn-primary {
    background: #bd1f39 !important;
    border: 3px solid #ffffff !important;
    color: #ffffff !important;
}
.franchise.franchise-subbrand-5 .img-text-comp.theme-blue .btn.btn-primary {
    background: #ffffff !important;
    border: 3px solid #bd1f39 !important;
    color: #bd1f39 !important;
}
.franchise.franchise-subbrand-5 .img-text-comp.theme-default .btn.btn-primary {
    background: #bd1f39 !important;
    border: 3px solid #ffffff !important;
    color: #ffffff !important;
}
.franchise.franchise-subbrand-5 .img-text-comp.theme-brand .btn.btn-primary {
  background: #ffffff !important;
    color: #bd1f39 !important;
}
/* CC Brand Specific ends */

/* FCH Brand Specific starts */
.franchise.franchise-subbrand-7 .img-text-comp.theme-blue, .franchise .img-text-comp.theme-default, .franchise .img-text-comp.theme-dark, .franchise .img-text-comp.theme-brand{
  border: 1px solid #e8112d;
}
.franchise.franchise-subbrand-7 .img-text-comp.theme-blue{
    background: #ffffff !important;
}
.franchise.franchise-subbrand-7 .img-text-comp.theme-blue .imgtxt-box h3.imgtxt-subheading{
  color: #e8112d !important;
}
.franchise.franchise-subbrand-7 .img-text-comp.theme-default .imgtxt-box h3.imgtxt-subheading{
  color: #e8112d !important;
}
.franchise.franchise-subbrand-7 .img-text-comp.theme-blue .imgtxt-box h2.imgtxt-heading{
  color: #e8112d !important;
}
.franchise.franchise-subbrand-7 .img-text-comp.theme-default .imgtxt-box h2.imgtxt-heading{
  color: #e8112d !important;
}
.franchise.franchise-subbrand-7 .img-text-comp.theme-dark{
    background: #e8112d !important;
    color: #ffffff !important;
}
.franchise.franchise-subbrand-7 .img-text-comp.theme-dark p a{
    color: #ffffff !important;
}
.franchise.franchise-subbrand-7 .img-text-comp.theme-brand{
    background: #e8112d !important;
    color: #ffffff !important;
}
.franchise.franchise-subbrand-7 .img-text-comp .btn.btn-primary {
    background: #e8112d !important;
    border: 3px solid #ffffff !important;
    color: #ffffff !important;
}
.franchise.franchise-subbrand-7 .img-text-comp.theme-blue .btn.btn-primary {
    background: #ffffff !important;
    border: 3px solid #e8112d !important;
    color: #e8112d !important;
}
.franchise.franchise-subbrand-7 .img-text-comp.theme-default .btn.btn-primary {
    background: #e8112d !important;
    border: 3px solid #ffffff !important;
    color: #ffffff !important;
}
.franchise.franchise-subbrand-7 .img-text-comp.theme-brand .btn.btn-primary {
  background: #ffffff !important;
    color: #e8112d !important;
}
/* FCH Brand Specific ends*/
.franchise .sub-head-links ul li a{
  font-size: 14px !important;
}
.franchise .img-text-comp .imgtxt-url a.btn{
  font-size: 14px;
}
.no-border{
  border:none !important;
}

.img-text-comp h2{
  margin-bottom:0;
    margin-top: 0;
}

.img-text-comp h3{
  margin-bottom:0;
}

.img-text-comp p.imgtxt-subheading{
  margin-bottom:0;
}

.img-text-comp a.white-without-borders{
    color: #467085;
    background-color: #ffffff;
    border-color: #727173;
}

.img-text-comp a.white-without-borders:hover{
    background-color: none;
}

.img-text-comp.shift-right{
  text-align: left;
  height: auto;
  overflow: hidden;
  display: table;
}
.img-text-comp.shift-right .img-container{
  float: left;
}

.img-text-comp.shift-right > .img-container + .imgtxt-url{
  display: table-cell;
  vertical-align: middle;
}
.img-text-comp .txtalign-right{
  text-align: right;
}
.img-text-comp .txtalign-left{
  text-align: left;
  padding-left: 0;
}
.img-text-comp .txtalign-center{
  text-align: center;
}

.img-text-comp .txtalign-left>h3{
  margin-top:20px;
}

.img-text-comp .imgtxt-box .imgtxt-subheading{
}

.img-text-comp .imgtxt-box.white .imgtxt-heading, .img-text-comp .imgtxt-box.white .imgtxt-subheading, .img-text-comp .imgtxt-box.white p{
}

.img-text-comp .imgtxt-url{
  margin-bottom: 10px;
}

.img-text-comp .imgtxt-url p{
  line-height: 20.8px;
  font-weight: 400;
}
.img-text-comp .imgtxt-url a{
    text-decoration: underline;
    color: #467085;
    font-weight: bold;
    font-family: "merriweather";
}
.img-text-comp .imgtxt-url a.btn{
  text-decoration: none;
    color: #fff;
}
.img-text-comp .imgtxt-box p b{
}

.img-text-comp .imgtxt-box p:empty{
    display: none;
}

.img-text-comp .imgtxt-box .imgtxt-para{
  margin-bottom: 10px;
}

.img-text-comp .img-container{
  padding:0;
}

.img-text-comp .img-container img{
  width:100%;
}
.img-text-comp .img-container img:focus{
  outline: 5px auto -webkit-focus-ring-color;
outline-offset: -2px;
}
.adaptiveimage+.imageAndText{
  position:relative;
  top:-50px;
}

.img-text-comp .img-container .number-overlay{
    position: absolute;
    right: 10px;
    top: 0px;
    font-size: 3em;
    color: #404041;
}

.imageanddescription{
  overflow:hidden;
  margin-bottom: 30px;
}
.acs-commons-resp-colctrl-row .imageanddescription {
    margin: 0;
}
.imageanddescription .img-container img {
    width: 100%;
}
.img-container.pull-left+.imgtxt-box {
    padding-left: 30px;
}

.textimage{
  overflow: hidden;
    clear:both;
}

.img-text-comp .detail-overlay {
  width: 100%;
  height: auto;
  display: block;
  clear: both;
}
.img-text-comp .detail-overlay img {
  width: 100%;
  height: auto;
}
.img-text-comp .content-overlay {
  background: #1e3e6e;
  position: relative;
  bottom: 0;
  height: 75px;
  padding: 0;
  text-transform: uppercase;
  vertical-align: middle;
  width: 100%;
  display:table;
}
.img-text-comp .content-overlay .imgtxt-url{
  display:none;
}
.img-text-comp .content-overlay a{
  height: 75px;
  display: table;
  width: 100%;
  padding: 0 10px;
    color: #467085;
    text-decoration: underline;
    font-weight: bold;
    font-family: "merriweather";
}
.img-text-comp .content-overlay a:hover{
  text-decoration:none;
            }
.img-text-comp .content-overlay h3, .img-text-comp .content-overlay .h3 {
  line-height: 23px;
  vertical-align: middle;
  width: 100%;
  display: table-cell;
}
.img-text-comp .content-overlay h3 span, .img-text-comp .content-overlay .h3 span {
  display: block;
  font-style: italic;
  font-weight: normal;
  margin: 0 !important;
  text-transform: none;
  font-size:16px;
  font-family: "open-sans", Helvetica, Arial, sans-serif;
}

.img-text-comp .content-bold {
  border: 1px solid #c8c8c8;
  margin-bottom: 20px;
  padding: 40px;
  display: table;
  font-size: 23px;
  font-style: italic;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  width: 100%;
}
.img-text-comp .imgtxt-box a{
  font-size: 14px;
  color: #467085;
  font-family: "merriweather";
  font-weight: bold;
}
.img-text-comp .imgtxt-box .imgtxt-para a{
  text-decoration: underline;
}

.img-text-comp .imgtxt-box a.btn{
  color: #fff;
  text-decoration: none;
}
.img-text-comp .imgtxt-box a:hover{

}

.img-text-comp a.h3 {
  display: block;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 0;
  text-transform: uppercase;
  color: #467085;
  text-decoration: underline;
}

.img-text-comp .imgtxt-box{
  padding:10px;
}

@media (min-width: 992px) {
  .textandvideo  .img-text-comp .imgtxt-box{
    display: table-cell;
    vertical-align: middle;
    float: none;
  }
}

@media (max-width: 767px) {
.img-text-comp{
  margin: 0 10px !important;
}
  .img-text-comp .txtalign-left{
    text-align: left;
  }
  .img-text-comp .txtalign-left a{
    text-align: center;
  }
  .img-text-comp .img-container{
    float : none !important;
  }
    .img-container.pull-left+.imgtxt-box {
    padding-left: 10px !important;
    padding-top:15px;
  }
   .img-text-comp .content-overlay {
      bottom: 0;
    }
  .img-text-comp .txtalign-left .txtalign-center a{
    text-align: center;
   }
   .img-text-comp .imgtxt-box{
    padding:10px;
    }

}


/*to make the text and image smaller*/

.img-text-comp.offer-small .img-container{
  width:162px;
}

.img-text-comp.offer-small .img-container img{
  width:127px;
    float:left;
}

.img-text-comp.offer-small .img-container.pull-left+.imgtxt-box{
  /* Firefox */
  width: -moz-calc(100% - 162px);
  /* WebKit */
  width: -webkit-calc(100% - 162px);
  /* Opera */
  width: -o-calc(100% - 162px);
  /* Standard */
  width: calc(100% - 162px);
    padding-left: 5px !important;
    padding-top:0;
}

.img-text-comp.offer-small h2{
  padding:0;
    margin:0;
    font-size:20px;
}

.img-text-comp.offer-small h3{
  padding:0;
    margin:0;
    font-size:20px;
}

.img-text-comp.offer-small p{
  min-height:55px;
}

.img-text-comp .imgtxt-url a.btn.font-openSans{
    font-family:"Open-sans" !important;
}
.img-text-comp .imgtxt-url a.h3.font-openSans{
    font-family:"Open-sans" !important;
}
.img-text-comp .imgtxt-url a.font-openSans{
    font-family:"Open-sans" !important;
}
.img-text-comp .imgtxt-url a.cta-arrow.font-openSans{
    font-family:"Open-sans" !important;
}

@media(max-width:768px){
  .img-text-comp.offer-small .img-container{
        width:100%;
    }
  .img-text-comp.offer-small .img-container img{
        width:100%;
        float:left;
    }
    .img-text-comp.offer-small .img-container .imgtxt-box{
      padding:0 !important;
    }
    .img-text-comp.offer-small .img-container.pull-left+.imgtxt-box{
      width:100% !important;
        padding:10px 10px 0 10px  !important;
    }
}

@media(min-width:768px) and (orientation: portrait){
  .img-text-comp.offer-small .img-container{
        width:50%;
    }
    .img-text-comp.offer-small .img-container img{
        width:100%;
        float:left;
    }
  .img-text-comp.offer-small .img-container.pull-left+.imgtxt-box{
        width:50% !important;
        padding-left: 10px !important;
      padding-top:0;
    }
}
/* Added for Offer Detail HCP */
.divwithmarginbottom{
  margin-bottom: 52px;
}
.img-text-comp h2.withmarginbottom{
  margin-bottom:24px;
}

.img-text-comp .imgtxt-url .withmarginbottom{
  margin-top: 48px;
}
