/*changes for salonlistonpage*/
.listsalonsonpage,.openingsoonsalonslistcomponent {
    @media(max-width:768px){
        padding:0 !important;
    }
    .salon-list-head{
        .jump-links-wrap{
            padding-left:0;
        }
        margin-bottom:30px;
        @media(max-width:768px){
            margin-bottom: 15px;
        }
        padding:0;
         h1{
            text-transform:uppercase;
            font-size:35px;
            margin:0;
            @media(max-width:768px){
                margin:0;
                font-size:20px;
            }
        }
        .search-section{
            h4{
                margin:0 0  10px 0;
            }
            .input-group{
                .search-wrapper{
                    input.form-control {
                        min-height: 48px;
                    }
                }
                .input-group-btn{
                   button.location-search-btn{
                    padding: 10px 20px;
                    min-height: 48px;
                   }
                }
            }
        }
        .jump-link-head{
            padding-left:0;
            font-size: 13px;
        }
        .jump-link-alpha{
            span{
                margin-right:20px;
                @media(max-width:768px){
                    margin-right:11px;
                }
                font-weight:bold;

            }
        }
    }
    .state-wrap{
        .each-state{
            .jump-links{
                padding:0;
                .h2{
                    margin:0;
                    line-height:40px;
                    text-transform: uppercase;
                }
                a{
                    position:absolute;
                    bottom:0;
                    left:50px;
                    @media(max-width:768px){
                        left:30px;
                    }

                    font-size: 13px;
                }
            }
            padding:0;
            .state-name{
                padding:0;
                h3{
                    text-transform:uppercase;
                    margin:0;
                    color:#1e3e6e;
                    padding:10px 0;
                    font-size:16px;
                    font-weight: bold;
                    @media(max-width:768px){
                        padding-bottom:0;
                    }
                }
            }
            .salon-group{
                table{
                     width:100%;
                    tr{
                        border-bottom:1px solid #5f6167;
                        td{
                            width:100%;
                            padding:10px;
                            @media(max-width:768px){
                                padding:10px 0;
                            }
                            font-size:14px;

                        }
                        &:last-child{
                            //border-bottom:none;
                        }
                        &:first-child{
                            border-bottom:1px solid #5f6167;
                        }
                    }
                }
                @media(max-width:768px){
                    padding:0;
                }
            }
        }
    }
}


.openingsoonsalonslistcomponent{
    .each-state{
        .pull-left{
            width:100%;
        }
    }
}
@media(max-width:768px) {
  .listsalonsonpage{
    .errorMessage{
      display: inline-block;
    }
  }
}
