.listicles-container{
    .listicle-item{
    	margin: 10px 0 40px 0;
        .essential-image{
            img{
            	position: relative;
                width: 100%;
            }
            .image-index{
            	position: absolute;
                font-size: 45px;
                line-height: 45px;
            	&.topRight{
            		top: 0;
                    right: 10px;
            	}
                &.topLeft{
                    top: 0;
                    left: 11px;
                }
                &.bottomRight{
                    bottom: 3px;
                    right: 10px;
                }
                &.bottomLeft{
                    bottom: 3px;
                    left: 11px;
                }
            }

        }
        .description-section{     
            .title{
                margin-top: 0;
            }
            .description{
                a{
					font-family: "merriweather";
                    color: #467085;
                    font-weight: bold;
                    text-decoration: underline;
                }
            }
            a.cta-arrow{
                color:#455f6c;
            }  
        }
    }
}

    
