.product-detail-wrap{
    .popover-content {
        width: 240px;
        font-size: 14px;
        p,a{
            font-size: 14px;
        }
    }
	margin-bottom:0ex;
	float:left;
	.product-img {
		 position: relative;
        img{
            width:100%;
        }
		.fav-hrt{
            background:url(../../clientlibs/signaturestyle-publish-clientlibs/resources/images/Regis-Icons/Regis_heart.svg) no-repeat top left;
            padding:13px;
            top:10px;
            right:10px;
            position:absolute;
            box-shadow: none;
            &:focus,&:active{
                box-shadow: none;
            }
        }
        .fav-hrt-empty{
            background:url(../../clientlibs/signaturestyle-publish-clientlibs/resources/images/Regis-Icons/Regis_heart_empty.svg) no-repeat top left;
            padding:13px;
            top:10px;
            right:10px;
            position:absolute;
            box-shadow: none;
            &:focus,&:active{
                box-shadow: none;
            }
        }
	}
	.product-info{
		padding:10px;
		h1{
			color:#5f6167;
            line-height:26px;
			.salonsmalltxt{
				font-size:22px;
				font-weight:500;
				letter-spacing:1px;
				color:#5f6167;
				display:block;
                margin-bottom:20px;

			}
		}
        p{
			font-weight:lighter;
            a{
				font-family: "merriweather";
                font-weight: bold;
                color: #467085;
                text-decoration: underline;
            }
        }
		.product-features{
			padding:10px 0;
			border-top:1px solid #adadad;
			.features{
				padding:0;
				h4{
					margin:0;
					font-size: 14px;
					font-weight: 800;
				}
				ul{
					margin-bottom:2ex;
					list-style-type:none;
					padding-left: 0;
                    li{
                        font-style: italic;
                    }
				}
                > div{
					width:50%;
                    float:left;
                         @media(max-width:767px){
                            width:100%;
                        }
                }
			}
			.usage{
				padding:0;
				h4{
					margin:0;
				}
				p{
					font-weight:lighter;
				}
                .imgtxt-box{
                    padding:0;
    										h1,h2,h3,h4,h5,h6,div.imgtxt-heading{
    											color:#5f6167;
    										}
					.imgtxt-subheading{
                        color: inherit;
                        font-size: 13px;
                        font-weight:500;
                        margin:0;
                    }
                }
			}
		}
		.product-share{
			margin-top:4ex;
            padding-left: 0;
            .social-share{
                padding-left: 0;
            }
		}
		.socialsharingcomp{
			overflow: hidden;
			.footer-social-nav{
				float: left!important;
                dd:first-child{
					margin-left:0;
                }
			}
		}
	}
}

@media(min-width:992px){
	.product-detail-wrap{
		border:1px solid #adadad;
        .product-img{
            width:33%;
			img{
                width:100%;
                padding:30px 10px 10px 10px;
            }
        }
		.product-info{
            padding:0 30px 30px 30px;
            width:67%;
			h1{
				font-size:40px;
				line-height:50px;
                margin-top:9px;
			}
			.product-features{
				padding:3ex 0;
			}
			.product-share{
				margin-top:1ex;
                padding-right:0;
                .cta-lo-salon{
                    padding-right:0;
                    a{
						float:right;
                    }
                }
			}
		}
	}
}

@media(max-width:767px){
    .product-features{
    	padding:0;
        .usage{
            .img-text-comp{
				margin:0 !important;
            }
        }
    }
    .product-detail-wrap{
        .product-info{
            h1{
                line-height: 125%;
            }
        }
    }
}
