.productbrowsersidenav{
float:left;
    @media (min-width: 768px){
        width:100%;
        background: #f9f9f9;
    }
    @media (max-width: 767px){
        width: 93%;
        margin-left: 10px;
        margin-bottom: 20px;
    }
}
.account-description{
    .productbrowsersidenav{
        @media (max-width: 767px){
            width: 100%;
            margin-left: 0;
            margin-bottom: 10px;
        }
    }
}
.product-list{
	overflow:hidden;
    @media (max-width: 767px){
        clear: both;
    }
    .titlecontent{
		padding-right:0;
    }
    .col-md-12{
		padding-right:0;
    }
    h3.category-title{
        width:100%;
        border-bottom:2px solid #bebebe;
        padding-bottom:5px;
        font-size:22px;
    }
}
.product-list-wrap{
        padding-bottom:25px;
		float:left;

		div.prod-info{
			width:100%;
			padding:0;
			margin-top:20px;
			float:left;
			img{
				width: 100%;
                height: auto;
				border:1px solid #eaeaea;
				padding: 0;
				&:hover{
					background:rgba(232, 232, 232, .4);
				}
			}
			p.h4{
				text-align:center;
				margin-top:5px;
				width:100%;
            	float:left;
              &:hover{
                text-decoration: underline;
              }
			}
		}
		.prod-2 div.prod-info{
			width: 48%;

			&:nth-child(2n+1){
				 margin-right: 1.4em;
			}
		}

		.prod-3 div.prod-info{
			width: 31%;
			&:nth-child(3n+2){
				 margin-left:1.4em;
				 margin-right:1.4em;
            	@media(max-width:992px){
 					margin-left:1em;
				 	margin-right:1em;
            	}
			}
		}

        .prod-bullet{
        	li{
            	a{
                	color:#428bca;
                	line-height:3ex;
            	}
        	}
        }

	}


.productshowcase{
    .prod-4{
        div.prod-info{
            margin: 30px 100px 30px 0;
            width: 150px;
            img{
                width: 100%;
            }
            min-height:initial;
            float:left;
            text-align: center;
            &:nth-child(4n){
                margin-right: 0 !important;
            }
            .h4{
            	font-weight: lighter;
                font-size: 14px;
                margin-top: 10px;
                margin-bottom: 15px;
                min-height: 34px;
            	a{
                    font-size: 14px;
	                text-align: center;
	                display: block;
                    line-height: 17px;
                    &:hover{
                        text-decoration: underline;
                    }
	            }
            }
        }
    }
    .product-list-wrap div.prod-info img {
        //width: 100%;
        border: 1px solid #eaeaea;
    }
    .product-list-wrap div.prod-info img:hover {
        background: rgba(232, 232, 232, 0.4);
    }
    .product-list-wrap div.prod-info p.h3 {
        text-align: center;
        margin-top: 5px;
    }
}

.my-account-info{
    .productshowcase{
        .prod-4{
            div.prod-info{
                margin: 30px 38px 30px 0;
            }
            &:nth-child(4n){
                margin-right: 0 !important;
            }
        }
    }
}

@media(min-width:992px){
	.product-list{
		.product-wrap{
			ul{
				margin-bottom:35px;
			}
		}&.col-md-9{
            padding-right:0;
        }
	}

}
@media (max-width: 992px) and (min-width: 767px) {
	.product-list-wrap{
			div.prod-info{
            	min-height: 250px;
        	}
			.prod-4 div.prod-info{
				width: 22%;

				&:nth-child(-n+3){
				 margin-right: 1.4em;
			}
			}
			.prod-2 div.prod-info{
				width: 48%;

				&:nth-child(2n+1){
					 margin-right: 1em;
				}
			}

	}
}

@media (max-width: 767px) {

    .product-list-wrap div.prod-info{
		width: 110px !important;
		padding: 30px 0;
        &:nth-child(even){
            margin: 0 15px 0 25px !important;
            float: right;
        }
        &:nth-child(odd){
			margin: 0 25px 0 14px !important;
        }
    }
}
.media-gallery{
		border:none;
    margin-bottom:0;
}
