.products-container{
    width: 100%;

    .products-heading{
        margin: 0 34.69%; 
        padding-bottom: 10px;
        text-align: center;       
        
        .products-heading-text{

            max-width: 300px;
            border-bottom: 2px solid;

            p{
                font-size: 24px;
            }
        }
    }
    .products-carousal{
        width: 100%;
        margin-top: 60px;
        padding-left: 8%;
        min-height: 300px;
        text-align: center;
     
        .first-each-image{
            margin-right: 100px;
            margin-bottom: 10px;
        }
        .second-each-image{
            margin-right: 100px;
            margin-bottom: 10px;
        }
        .third-each-image{
            margin-right: 100px;
            margin-bottom: 10px;
        }

        .each-image{
            max-width: 150px;
            
        }

        p{
            font-size: 14px;
            margin-bottom: -12px;
            padding-top: 36px;
        }

        .details-caret{
            font-style: bold;
            color: #009999;
        }
 
    }               
      
    .all-products{
        text-align: center;
        margin-bottom: 5%;
    }      
}

@media (max-width:767px) {
    .products-container{
        
        .products-carousal{
            min-height: 1050px;
            padding-left: 12%;
            p{
                width: 52%;
                margin-left: 25%;
            }

            .first-each-image{
                margin-right: 0px;
                margin-bottom: 10px;
            }
            .second-each-image{
                margin-right: 0px;
                margin-bottom: 10px;
            }
            .third-each-image{
                margin-right: 0px;
                margin-bottom: 10px;
            }

            .each-image{
                max-width: 100%;
                margin-bottom: 20px;
                
            }
     
        }               
          
        .all-products{
            text-align: center;
            margin-bottom: 5%;
        }      
    }

}
