.registration{
    select{
            border:none;
            width:100%;
            height:40px;
            border-bottom:1px solid #727173;
            &:focus{
                outline:none;
            }
        }
    .aboutyoucomponent{
        .form-control{
            border: none;
            box-shadow: none;
			border-bottom:1px solid #727173;
            background:none;
        }
    }
    .gender-chk{
		margin-top:10px;    
        label{
			margin-right:10px;
            &.css-label{
                margin-right:10px;
                line-height: 16px !important;
                font-size: 12px !important;
                background-size: auto !important;
                padding-top: 4px !important;
            }
        }
	}
}

/* Css exclusively for checkboxes in positionandexperience component*/
.aboutyoucomponent{
    input[type=checkbox].css-checkbox + span.css-label,input[type=radio].css-checkbox + span.css-label {
      padding-left: 26px;
      padding-bottom: 26px;
      vertical-align: middle;
      height: 26px;
      border: 1px solid #ccc;
      display: inline-block;
      line-height: 32px;
      background-repeat: no-repeat;
      background-position: 0 0;
      font-size: 16px;
      width: auto;
      cursor: pointer;
      background-size: 100%;
      margin-left: 5px;
    }
    input[type=checkbox].css-checkbox:checked + span.css-label,input[type=radio].css-checkbox:checked + span.css-label {
      background-image: url('../../clientlibs/signaturestyle-publish-clientlibs/resources/images/checkbox.png');
    }
    input[type=checkbox].css-checkbox:disabled + span.css-label,input[type=radio][disabled].css-checkbox:disabled + span.css-label {
      background-image: url('../../clientlibs/signaturestyle-publish-clientlibs/resources/images/checkbox-disabled.png');
      border: none;
    }
    span.css-label {
      background-image: url('../../clientlibs/signaturestyle-publish-clientlibs/resources/images/checkbox-unchecked.png');
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    span.css-label+label{
        width: 86%;
    }
    input[type=radio].css-checkbox+span.css-label+label, input[type=radio].css-checkbox+span.css-label+span{
        width: auto;
        padding-left:10px
    }
}
