.saloncheckindetails{
	clear: both;
	.salon-checkin{
	.salon-title{
		margin-bottom: 36px;
		font-weight: normal;
		font-size: 16px;
	}
	
	.appointment-section{
		background: #f1f0e9;
		padding: 40px 36px 36px;
		margin-bottom: 48px;
		@media (max-width: 767px){
			padding: 36px 12px;
			margin-bottom: 44px;
		}
		.client-name{
			font-size: 16px;
			color: #4c4c4c;
			margin-bottom: 32px;
			@media (max-width: 767px){
				margin-bottom: 36px;
			}
		}
		.category-wrapper{
			@media (min-width: 768px){
				border-left: 1px solid #ccc;
				padding-left: 36px;
			}
		}
		.category{
			font-family: "open-sans";
			font-size: 10px;
			color: #333;
			@media (max-width: 767px){
				margin-bottom: 12px;
			}
		}
		.name,.time,.service{
			font-family: "open-sans";
			font-size: 16px;
			color: #4c4c4c;
		}
		.name,.service{
			@media (max-width: 767px){
				margin-bottom: 36px;
			}
		}
		.links-wrapper{
			position: relative;
			.links{
				@media (min-width: 768px){
					position: absolute;
					bottom: 0;
					right: 10px;
				}
			}
		}
	}
	.add-guest-section{
		position: relative;
		.add-guest-title{
			font-size: 16px;
			color: #4c4c4c;
			border-bottom: 1px solid #ccc;
			margin-bottom: 24px;
			@media (min-width: 768px){
				display: inline-block;
			}
		}
		.guest-close{
			@media (max-width: 767px){
				padding-bottom: 24px;
			}
		}
		.close-icon{
			width: 20px;
			height: 20px;
		}
        ul.nav-tabs{
			border: 0;
			@media (max-width: 767px){
				margin-bottom: 44px;
			}
			li{
				padding: 0 14px;
				a{
					padding: 10px 0 0;
					height: 30px;
					padding-bottom: 3px;
					border: 0;
					color: #4c4c4c;
					&:hover{
						border-bottom: 3px solid #455f6c;
						padding-bottom: 0;
						color: #4c4c4c;
					}
				}
				&.active{
					a{
						height: 30px;
						border: 0;
						border-bottom: 3px solid #455f6c;
						padding-bottom: 0px;
						color: #4c4c4c;
						&:hover,&:focus{
							border-bottom: 3px solid #455f6c;
							padding-bottom: 0;
							color: #4c4c4c;
						}
					}
				}
			}
		}
		#next-btn{
			outline: none;
			border-radius: 3px;
			&:focus{
				outline: none;
			}
		}
	}
	.checkin-user-details{
		.guest-step{
			&.contact{
				.phone-info-text{
                    font-size: 12px;
                    font-style: italic;
                    font-weight: lighter;
                }
            }
		
			.title{
				font-size: 12px;
				color: #455f6c;
				font-family: open-sans;
			}
			.subtitle{
				font-size: 16px;
				color: #4c4c4c;
				margin: 24px 0 44px;
			}
			.select-service{
				.form-group{
					label{
						//margin-right: 44px;
						margin-bottom: 20px;
						margin-left: 0px;
                        font-size: 14px;
					}
				}
			}
			.select-stylist{
				.form-group{
					margin-bottom: 44px;
                    @media(min-width:1023px){
                        width: 80%;
                    }
                    .custom-dropdown{
                         .custom-dropdown-select{
                                box-shadow: none;
                                -moz-border-radius: 0;
                                -webkit-border-radius: 0;
                                -ms-border-radius: 0;
                                -o-border-radius: 0;
                                border-radius: 0;
                                background: none;
                                border-color: #ccc;
                                border-width: 0 0 1px;
                         }
					}
                }
			}
			.checkin{
				.form-group{
					margin-bottom: 44px;
					input{
						-moz-border-radius: 0;
						-webkit-border-radius: 0;
						-ms-border-radius: 0;
						-o-border-radius: 0;
						border-radius: 0;
					}
				}
				.cancel-btn{
					padding: 14px 30px;
					display: inline-block;

				}
				.cancel-btn,.checkin-btn{
					width: 100%;
					border-radius: 3px;
                    font-weight: bold;
				}
                #CheckInValidationBtn{
                    @media (min-width: 768px){
						padding: 14px;
                    }
                }
			}
		}
	}

	}	
}