.checkin-confirmation-wrapper{

    padding: 0;
	.checkin-data-wrapper{
        background: #f1f0e9;
        margin-bottom: 10px;
        .alert-success{
			background: none;
            border: 0;
            padding: 0;
        }
        ul{
			padding: 0;
            list-style: none;
            margin: 0;
        }
        li{
            list-style: none;
            //padding: 40px 36px 36px;
            border-color: #f1f0e9;
            color: #4c4c4c;
            background: transparent;
            margin-bottom: 0;
            border: 1px solid transparent;
            border-radius: 4px;
            @media (max-width: 767px){
                padding: 36px 12px;
            }
            .col-block{
                h3{
                    //margin: 0 0 32px;
                    font-family: "merriweather";
                    font-size: 16px;
                    color: #4c4c4c;
                    word-wrap: break-word;
                    @media (max-width: 767px){
                        margin-bottom: 36px;
                    }
                }
                 &>span{
                        display: block;
                        margin-bottom: 32px; 
                    }
                     strong{

							display: block;
                            font-size: 10px;
                            color: #333;
                            font-weight: normal; 
                        &.phonenumber{
							display: inline;
                        	}
                        }
                p{
                    display: inline-block;
                    width: 24%;
                    font-family: "open-sans";
                    font-size: 16px;
                    color: #4c4c4c;
                    font-weight: normal;
                    @media (max-width: 767px){
                        width: 49%;
                        margin-bottom: 36px;
                    }
                    @media (min-width: 768px){
                        border-left: 1px solid #ccc;
                        padding-left: 36px;
                    }
                    &:nth-child(3),&:nth-child(6){
                        padding-left: 0;
                        border-left: 0;
                    }
					
					&.cancel-reservation{
						text-align: right;
						margin-top: 15px;
						@media (max-width: 767px){
							text-align: left;
							margin-top: 0;
						}
						a.btn-default{
							text-decoration: none;
							color: #455F6c;
							font-family: 'open-sans';
							font-size: 12px;
							font-weight: bold;
							background: url(../../clientlibs/signaturestyle-publish-clientlibs/resources/images/Regis-Icons/Arrow-Link-teal-bolder.svg) no-repeat center right;
							padding: 0;
							padding-right: 12px;
							border: 0;
							&:hover{
								color: #344651;
								border: 0;
								padding: 0;
								padding-right: 12px;
								background: url(../../clientlibs/signaturestyle-publish-clientlibs/resources/images/Regis-Icons/Arrow-Link-teal-hover-bolder.svg) no-repeat center right;
							}
							&:active,&.active{
								outline: 0 !important;
								box-shadow: none;
							}
						}
					}
                   
                }

            }
            
        }
    }
    a.add-guest-information{
		display: inline;
		float: right;
		width: auto;
    }
}