h1{
    &.salontitle{
        font-size:32px;

        span{
            &.salonsmalltxt{
                display: block;
                font-size:20px
            }
        }
    }
}
.salon-detail-wrap{
    margin-top: 20px;

    @media (max-width: 767px){
        margin-top: 0px;
    }
    .map-container {
        @media (min-width: 768px){
          //  border:1px solid #DADBDC;
        }
        #map-canvas{
            width:478px;
            height:228px;
            @media (max-width: 991px){
                width: 100%;
                height: 263px;
            }
        }
        .salon-details {
            h3{
                margin-bottom:3px;
                color:#404041;
            }

            .sub-brand{
                display: inline-block;
                clear: both;
                margin-bottom: 24px;
                @media (max-width: 767px){
                    margin-bottom: 5px;
                }
            }
            span{
                display: inline;
                margin-bottom: 12px;
                font-size: 12px;
                @media (max-width: 767px){
                    margin-bottom: 5px;
                }
            }
            .salondetailspagelocationcomp{
                .ph-no,.store-address,.salon-dist{
                    display: block;
                }
                .store-address, .salon-timings{
                    font-family: 'open-sans';
                }

                .salon-checkin-sdp{
                    .checkin-sgst{
                        margin-top: 8px;
                        margin-bottom: 10px;
                        @media (max-width: 767px){
                            margin-top: 0;
                        }
                        .wait-time{
                            .minutes{
                                span{
                                    font-size: 18px;
                                    font-family: "merriweather";
                                    margin: 0;
                                }

                                small{
                                    font-family: "open-sans";
                                    font-size: 10px;
                                }
                            }
                            .h6, h6{
                                margin: 0;
                                font-family: "open-sans";
                                font-size: 12px;
                            }
                        }
                        .action-buttons{
                            margin-top: 10px;
                            @media (max-width: 767px){
                                margin-top: 5px;
                            }
                            .btn-primary{
                                span{
                                    font-size: 14px;
                                }

                                -moz-border-radius: 0;
                                -webkit-border-radius: 0;
                                -o-border-radius: 0;
                                -ms-border-radius: 0;
                                border-radius: 0;
                            }
                        }
                    }
                }

            }
            .salon-timings{
                font-size: 12px;
                .row{
                    margin-bottom: 12px;
                }
            }
        }
    }
}


.salondetailsocialsharing {
    overflow:hidden;
    height:auto;
    margin:20px 0;
    .h3, h3{
            margin:0;
       }

     .social-links{
            dl{
                margin: 0;
                dd{
                    margin-left:10px;
                    display: inline-block;
                    @media (max-width: 767px){
                      margin-bottom: 20px;
                    }


                }
            }
        }
}
.salon-connect{
    @media (max-width: 767px){
        margin-top: -10%;
    }
    .salon-connect-img{
        @media (max-width: 767px){
            display:none;
        }
    }
}

.salon_text_image{
    p{
        font-family: 'open-sans';
        font-size: 16px;
        a{
            font-size: 16px;
            font-family: "merriweather";
            font-weight: bold;
            color: #467085;
            text-decoration: underline;
        }
    }

    img{
        width: 100%;
    }

}

.other-locations{
    .other-loc-details {
        .other-salon{
            padding: 10px;
            margin-right:17px;
            width:315px;
            border:1px solid #DADBDC;
            min-height: 162px;
            h3{
                margin:0;
                a{
                    &:hover{
                        text-decoration: none;
                        color:#455f6c;
                    }
                }

            }
            #storeDistance1, #storeDistance2 {
                font-family: 'open-sans';
                font-size: 12px;
            }
            small{
                display:block;
                font-family: 'open-sans';
                font-size:12px;
                margin-bottom: 5px;
            }
            &:last-child{
                margin-right:0;
            }
            &.loc-srch{
                p{
                    font-family: 'open-sans';
                    font-size: 12px;
                }
                border: none;
                min-height: 0;
                .input-group {
                    span{
                        background-color: #DADBDC;
                    }
                }
                input{
                    height: 44px;
                    background-color: #DADBDC;
                    border-top: 1px solid #ccc;
                    border-bottom: 1px solid #ccc;
                }
            }
            .store-loc{
                min-height: 70px;
            }
            .wait-time{
            margin-top: 10px;
                .vcard{
                    .minutes{
                        font-size: 10px;
                        font-family: "open-sans";
                        #waitingTimeHeader,#waitingTimeHeader2{
                            font-size: 18px;
                            font-family: "merriweather";
                            margin-right: 5px;
                        }
                    }
                }
            }
            .action-buttons{
                margin-top: 15px;
                text-align: center;
                .btn-primary{
                     span{
                        font-size: 14px;
                     }
                    -moz-border-radius: 0;
                    -webkit-border-radius: 0;
                    -o-border-radius: 0;
                    -ms-border-radius: 0;
                    border-radius: 0;
                }
            }
            .col-xs-12{
            font-size:12px;
        }
        a.cta-arrow{
           margin-top:18px;
        }
        }
    }
}

.serv-prod-car{
    margin-top: 10px;
    margin-bottom: 40px;
    .services{
        .h2{
            margin: 0;
            margin-bottom: 24px;
            color: #404041;
            a{
                &:hover{
                    text-decoration: none;
                    color:#455f6c;
                }
            }
        }
        p{
            margin-bottom: 20px;
            a{
                font-size: 14px;
                font-family: "merriweather";
                font-weight: bold;
                color: #467085;
                text-decoration: underline;
            }
        }
        .desc{
            font-family: 'merriweather';
            font-size: 14px;
            ul{
                padding-left:20px;
                &>li{
                    width: 45%;
                    float: left;
                    margin-bottom: 8px;
                    font-weight: bold;
                    font-family: "merriweather";
                    color: #727173;
                    &>a{
                        color: #455f6c;
                        font-weight: bold;
                        font-size: 14px;
                        font-family: "merriweather";
                        &:hover{
                            color: #344651;
                        }
                    }
                    @media (max-width: 767px){
                        width: 100%;
                    }
                    &:nth-child(odd){
                        @media (min-width: 768px){
                            margin-right: 22px;
                        }
                    }
                }
            }
        }
        &:first-child{
            ul{
                li{
                    width: 100%;
                    &:nth-child(odd){
                        @media (min-width: 768px){
                            margin-right: 0;
                        }
                    }
                }
            }
        }
    }
    .careers {
            div.h2{
            margin-top: 10px;
            margin-bottom: 24px;
        }
        p{
            margin-bottom: 20px;
            font-size: 14px;
            a{
                font-family: "merriweather";
                font-weight: bold;
                color: #467085;
                text-decoration: underline;
            }
        }
        img{
            width:100%;
        }
    }
    .btn{
        margin-top:10px;
        margin-bottom: 20px;
    }
}


.sgst-special-offers{
    .offer-container{
        .container{
            width:auto;
            padding:0;
        }

    .homepageglobalofferscomponent {
        .col-sm-6{
            width:100%;
        }
    }
}

.specialOffersHCP-container{
        margin:0;
        width:100%;
        .col-sm-10{
            width:100%;
        }


    }

    .offer-container{
        .offer-wrapper{


            .offer-text-content{
                width:100%;
                background-color:transparent;
                top:0;
                left:0;
                padding-top: 170px;
                color: #727173;
                a.next-btn{
                    color:transparent;
                }
                p{
                 font-family: 'open-sans';
                }
            }
        }
        .theme-default{
            .next-btn{

                    bottom: 15px;
                }
            .style-image{
                    padding: 20px 0;
                    width: 145px;
                }
            .style-image-lg{
                    width: 100%;
                    height: auto;
                    @media(max-width: 767px){
                      height:180px;
                    }
                }
            .offer-text-content{
                padding-top: 120px;
                text-align: center;
                &.withImage{
                    padding-top: 3px;
                }


                .title{
                    margin: 0 0 10px;
                    .title1{
                        display: block;
                        font-weight: normal;
                        font-size: 30px;
                    }
                    .title2{
                        display: block;
                        font-family: "open-sans";
                        font-size: 30px;
                        font-weight: lighter;
                    }
                }
                .description{
                    color: #404041;
                }

            }
        }
        .theme-dark{
            .next-btn{
                   bottom: 15px;
             }
            .style-image{
                padding: 20px 0;
                width: 145px;
            }
            .style-image-lg{
                width: 100%;
                height: auto;
                @media(max-width: 767px){
                  height:180px;
                }

            }
            .offer-text-content{
                padding-top: 120px;
                text-align: center;
                &.withImage{
                    padding-top: 3px;
                }
                .title{
                    margin: 0 0 10px;
                    .title1{
                        display: block;
                        font-weight: normal;
                        font-size: 30px;
                    }
                    .title2{
                        display: block;
                        font-family: "open-sans";
                        font-size: 30px;
                        font-weight: lighter;
                    }
                }

            }
        }
    }

}
.purple-bg{
    background: #7b5e69;
    color: #fff;
    .cta-to-customPromo a.cta-arrow{
        color: #fff;
        background: url(../../clientlibs/signaturestyle-publish-clientlibs/resources/images/Regis-Icons/Arrow-Link-white-bolder.svg) no-repeat center right;
    }
}
.teal-bg{
    background: #fff;
    color: #727173;
    border-top: 1px solid #455F6c;
    border-bottom: 1px solid #455F6c;
    .cta-to-customPromo a.cta-arrow{
        color: #455F6c;
        background: url(../../clientlibs/signaturestyle-publish-clientlibs/resources/images/Regis-Icons/Arrow-Link-teal-bolder.svg) no-repeat center right;
    }
}
.gold-bg{
    background: #B7B493;
    color: #fff;
    .cta-to-customPromo a.cta-arrow{
        color: #455F6c;
    }
}

.red-bg{
    background: #fff;
    color: #727173;
    border-width: 1px 0 !important;
    border: 1px solid #C04444;
    .cta-to-customPromo a.cta-arrow{
        color: #C04444;
        background: url(../../clientlibs/signaturestyle-publish-clientlibs/resources/images/Regis-Icons/Arrow-Link-red-bolder.svg) no-repeat center right;
    }
    .btn{
		background: #C04444;
        color: #fff;
        &:focus,&:hover,&:active{
			background: #C04444;
            border-color: #C04444;
            color: #fff;
        }
    }
}
.light-green-bg{
    background: #889694;
    color: #fff;
    .cta-to-customPromo a.cta-arrow{
        color: #455F6c;
    }
}
.darkgrey-bg{
    background: #727173;
    color: #fff;
    .cta-to-customPromo a.cta-arrow{
        color: #fff;
        background: url(../../clientlibs/signaturestyle-publish-clientlibs/resources/images/Regis-Icons/Arrow-Link-white-bolder.svg) no-repeat center right;
    }
}
.lightgrey-bg{
    background: #f3f3f3;
    color: #727173;
    .cta-to-customPromo a.cta-arrow{
        color: #455F6c;
    }
}
.white-bg{
    background: #fff;
    color: #727173;
    .cta-to-customPromo a.cta-arrow{
        color: #455F6c;
    }
}
.border-white-bg{
    background: #fff;
    border-top: 1px solid #455F6c;
    border-bottom: 1px solid #455F6c;
    color: #727173;
    .cta-to-customPromo a.cta-arrow{
        color: #455F6c;
    }
}
.lightblue-bg{
    background: lightblue;
    color: #727173;
    .cta-to-customPromo a.cta-arrow{
        color: #455F6c;
    }
}

.customtextpromo{
	display: inline-block;
    margin-top: 10px;
    @media (min-width: 992px){
		width: 100%;
    }
    .custom-promo{
            position: relative;
            margin-bottom: 20px;
            text-align: center;
            width: 100%;
            padding: 10px;
    }
}


#sdpPage{
    display: none;
}

@media screen
{
  #printSdpSection {
      display: none;
  }
}

#contentTemplatePrintDiv{
    display: none;
}

@media screen
{
  #textandimage_print {
      display: none;
  }
}

@media print {
  body * {
      display: none;
        -webkit-print-color-adjust: exact;
    //visibility:hidden;
  }

 span[itemtype]{
        display: none;
  }
    a[href]:after{
        content : none !important;
    }

    a.next-btn,a.cta-arrow{
        display: none !important;
    }

  #printSdpSection, #printSdpSection *,#textandimage_print, #textandimage_print * {
      display: block;
    //visibility:visible;
  }
  .header_logo{
  	float: left !important;
  	margin-bottom: 20px !important;
  	width: 50% !important;
  }
  .title-component{
  	clear: both !important;
    float: none !important;
  	.main-title{
  		color: #474747 !important;
  	}
  	&.borderTop{
        border-top: 1px solid #DBDCDD !important;
    }
    &.borderBottom{
        border-bottom: 1px solid #DBDCDD !important;
    }
    &.border{
        border: 1px solid #DBDCDD !important;
        border-width: 1px 0 !important;
    }
  }

    .textandimage{
    	margin-bottom: 10px !important;
    	page-break-inside: avoid !important;
        .img-container{
			width: 33.333% !important;
            float: left !important;
            padding-top: 5px !important;
            padding-left: 5px !important;
            &.pull-right{
				float: right !important;
                padding-left: 0 !important;
                padding-right: 5px !important;
            }
            img{
				//width: 100% !important;
            }
        }
        .imgtxt-box{
			width: 66.666% !important;
            float: left !important;
            .imgtxt-heading,.imgtxt-subheading{
				color: #727173 !important;
            }
        }
        .imgtxt-url{
			a{
				display: none !important;
			}
        }
        .img-text-comp{
            b,strong,i,em{
                display: inline !important;
            }
        }
    }

  #printSdpSection {
    position:absolute;
    left:0;
    top:0;
  }

    .salondetailtitlecomp{
        .salontitle{
            .salonsmalltxt{
                color: #727173 !important;
            }
            .salonlrgtxt{
                color: #727173 !important;
                font-size: 20px !important;
            }
        }
    }

    .salondetailspagelocationcomp{
        a.cta-arrow{
            display: none !important;
        }
        .salon-address{
            .store-address{
                span{
                    display: inline !important;
                }
            }
        }
    }

.specialOffersHCP-container{
    page-break-after: always !important;
    .offer-container{
        min-height: 400px;
        &>.wrap-offer{
            width: 33.33333333% !important;
            float: left;
            clear: none;
            padding-left: 11px;
            padding-right: 10px;
            margin-bottom: 20px;
            @media (max-width: 767px){
                width: 100%;
            }
        }

        .offer-wrapper{
            position: relative;
            .style-image{
                height: 400px;
                width: 100%;

            }
            .offer-text-content{
                position: absolute;
                left: 24px;
                top: 20%;
                width: 50%;
                color: #fff;
                .title{
                    margin: 0 0 24px;
                    .title1{
                        display: block;
                        font-weight: normal;
                        font-size: 36px;
                    }
                    .title2{
                        display: block;
                        font-family: "open-sans";
                        font-size: 30px;
                        font-weight: lighter;
                    }
                }
            }
            .next-btn{
                background: url('../../clientlibs/signaturestyle-publish-clientlibs/resources/images/Regis-Icons/Circle_Arrow_CTA_Teal.svg') no-repeat !important;
                background-size: cover;
                position: absolute;
                bottom: 28px;
                left: 45%;
                width: 37px;
                height: 37px;
                &.accentColor{
                    background: url('../../clientlibs/signaturestyle-publish-clientlibs/resources/images/Regis-Icons/Circle_Arrow_CTA_Accent.svg') no-repeat !important;
                }

            }
        }
        .theme-dark{
            background: #404041 !important;
            color: #fff !important;
            height: 400px;
            position: relative;
            top:0;
            .style-image{
                    padding-top: 24px;
                    width: 145px;
                }
            .offer-text-content{
                padding-top: 96px;
                text-align: center;
                &.withImage{
                    padding-top: 3px;
                    .title{
                        margin: 0 0 10px;
                    }
                }
                .title{
                    margin: 0 0 48px;
                    .title1{
                        display: block;
                        font-weight: normal;
                        font-size: 36px
                            color: #fff !important;
                    }
                    .title2{
                        display: block;
                        font-family: "open-sans";
                        font-size: 30px;
                        font-weight: lighter;
                        color: #fff !important;
                    }
                }
            }
            .next-btn{
                background: url('../../clientlibs/signaturestyle-publish-clientlibs/resources/images/Regis-Icons/Circle_Arrow_CTA_White.svg') no-repeat !important;
                background-size: cover;
                position: absolute;
                bottom: 28px;
                left: 45%;
                width: 37px;
                height: 37px;
                &.accentColor{
                    background: url('../../clientlibs/signaturestyle-publish-clientlibs/resources/images/Regis-Icons/Circle_Arrow_CTA_Accent.svg') no-repeat !important;
                }
            }
        }
        .theme-default{
            background: #f3f3f3 !important;
            color: #626264 !important;
            position: relative;
            height: 400px;
            &.brandWidth{
                width: 480px;
                @media (max-width: 767px){
                        width: 299px;
                    }
                }
            .style-image{
                    padding-top: 24px;
                    width: 145px;
                }
            .offer-text-content{
                padding-top: 96px;
                text-align: center;
                &.withImage{
                    padding-top: 3px;
                    .title{
                        margin: 0 0 10px;
                    }
                }
                .title{
                    margin: 0 0 48px;
                    .title1{
                        display: block;
                        font-weight: normal;
                        font-size: 36px;
                    }
                    .title2{
                        display: block;
                        font-family: "open-sans";
                        font-size: 30px;
                        font-weight: lighter;
                    }
                }
            }
            .next-btn{
                background: url('../../clientlibs/signaturestyle-publish-clientlibs/resources/images/Regis-Icons/Circle_Arrow_CTA_Teal.svg') no-repeat !important;
                background-size: cover;
                position: absolute;
                bottom: 28px;
                left: 45%;
                width: 37px;
                height: 37px;


            }
        }
    }

    }
    .container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 10px;
  padding-right: 11px;
}
@media (min-width: 768px) {
  .container {
    width: 741px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 980px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 980px;
  }
}

    .container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 10px;
  padding-right: 11px;
}
.row {
  margin-left: -10px;
  margin-right: -11px;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 11px;
  padding-right: 10px;
}

    [class*="col-sm-"], [class*="col-xs-"],  [class*="col-md-"], [class*="col-lg-"]{
        float: left;
    }

.col-md-12, .col-lg-12, .col-sm-12, .col-xs-12 {
    width:100% !important;
}

.col-md-11, .col-lg-11,.col-sm-11, .col-xs-11 {
    width:91.66666667% !important;
}

.col-md-10, .col-lg-10,.col-sm-10, .col-xs-10 {
    width:83.33333333% !important;
}

.col-md-9, .col-lg-9,.col-sm-9, .col-xs-9 {
    width:75% !important;
}

.col-md-8, .col-lg-8,.col-sm-8, .col-xs-8 {
    width:66.66666667% !important;
}

.col-md-7, .col-lg-7, .col-sm-7, .col-xs-7 {
    width:58.33333333% !important;
}

.col-md-6, .col-lg-6, .col-sm-6, .col-xs-6 {
    width:50% !important;
}

.col-md-5, .col-lg-5, .col-sm-5, .col-xs-5 {
    width:41.66666667% !important;
}

.col-md-4, .col-lg-4, .col-sm-4, .col-xs-4 {
    width:33.33333333% !important;
}

.col-lg-3,.col-md-3,.col-sm-3, .col-xs-3 {
    width:25% !important;
}

.col-md-2,.col-lg-2,.col-sm-2, .col-xs-2 {
    width:16.66666667% !important;
}

.col-md-1,.col-lg-1,.col-sm-1, .col-xs-1 {
    width:8.33333333% !important;
}

.custom-promo{
    page-break-inside: avoid !important;
}

.skinny-text-component{
    page-break-inside: avoid !important;
    @media screen and (max-width: 767px){
        padding-left: 10px;
        padding-right: 11px;
    }
    a{
        &:hover,&:focus{
            text-decoration: none;
        }
    }
    .skinny-msg{
        font-style: italic;
        p{
            margin-bottom: 0;
        }
    }
    .skinny-details{
        font-weight: bold;
    }
    .skinny-with-img{
        .skinny-img{
            @media screen and (max-width: 991px){
                width: 100%;
            }
            height: 84px !important;
            float: right !important;
        }
        .skinny-title{
            font-family: "open-sans";
            @media screen and (max-width: 991px){
                padding-top: 24px;
                padding-bottom: 12px;
            }
        }
        .skinny-details{
            @media screen and (max-width: 991px){
                padding-top: 12px;
                padding-bottom: 24px;
            }
        }
        .skinny-title,.skinny-msg{
            .h3, h3{
                margin: 0;
                @media screen and (max-width: 991px){
                    font-size: 0.9em;
                }
            }
        }
        .skinny-msg{
            .h3, h3{
                font-family: "merriweather";
                font-size: 16px;
                @media (max-width: 767px){
                    font-size: 12px;
                }
                @media (min-width: 992px){
                    padding-left: 45px;
                }
            }
        }
        .skinny-details{
            a{
                @media (min-width: 992px){
                    text-align: right !important;
                }
            }
        }
        .display-table{
            @media(max-width: 991px){
                display: table !important;
                table-layout: fixed !important;
                width: 100% !important;
            }
        }
        .table-cell{
            @media(max-width: 991px){
                display: table-cell !important;
                vertical-align: middle !important;
                float: none !important;
            }
            &:first-child{
                @media(max-width: 767px){
                    padding: 0;
                }
            }
        }
    }
    .skinny-without-img{
        padding-top: 20px;
        padding-bottom: 20px;
        @media screen and (max-width: 991px){
            text-align: center !important;
        }
        .skinny-title{
            .h3, h3{
                margin: 0;
                font-family: "merriweather";
                font-size: 28px;
                font-weight: bold;
                @media screen and (max-width: 767px){
                    font-size: 18px;
                }
                @media (min-width: 992px){
                    text-align: center!important;
                }
            }
        }
        .skinny-msg{
            font-family: "merriweather";
            font-size: 16px;
            @media screen and (max-width: 767px){
                font-family: "open-sans";
            }
            @media screen and (max-width: 991px){
                padding-top: 12px;
                padding-bottom: 12px;
            }
            .h3, h3{
                margin: 0;
            }
        }
    }

    &.red-bg{
        background: #c04444 !important;
        .skinny-title .h3,.skinny-title h3,.skinny-msg p{
            color: #fff !important;
        }
        .skinny-details{
            a{
                color: #fff !important;
                text-align: right !important;
                float: right !important;
                &.cta-arrow{
                    background: url(../../clientlibs/signaturestyle-publish-clientlibs/resources/images/Regis-Icons/Arrow-Link-white-bolder.svg) no-repeat center right !important;
                    &:hover{
                        color: #fff;
                        background: url(../../clientlibs/signaturestyle-publish-clientlibs/resources/images/Regis-Icons/Arrow-Link-white-bolder.svg) no-repeat center right;
                    }
                }
            }
        }
    }
    &.teal-bg{
        background: #455f6c !important;
        .skinny-title .h3,.skinny-title h3,.skinny-msg p{
            color: #fff !important;
        }
        .skinny-details{
            a{
                color: #fff !important;
                text-align: right !important;
                float: right !important;
                &.cta-arrow{
                    background: url(../../clientlibs/signaturestyle-publish-clientlibs/resources/images/Regis-Icons/Arrow-Link-white-bolder.svg) no-repeat center right !important;
                    &:hover{
                        color: #fff;
                        background: url(../../clientlibs/signaturestyle-publish-clientlibs/resources/images/Regis-Icons/Arrow-Link-white-bolder.svg) no-repeat center right;
                    }
                }
            }
        }
    }
    &.lightgrey-bg{
        background: #f3f3f3 !important;
        .skinny-title .h3,.skinny-title h3,.skinny-msg p{
            color: #636264 !important;
        }
        .skinny-details{
            a{
                color: #455f6c !important;
                text-align: right !important;
                float: right !important;
                &.cta-arrow{
                    background: url(../../clientlibs/signaturestyle-publish-clientlibs/resources/images/Regis-Icons/Arrow-Link-teal-bolder.svg) no-repeat center right !important;
                }
            }
        }
    }
    &.white-bg{
        background: #fff !important;
        .skinny-title .h3,.skinny-title h3,.skinny-msg p{
            color: #636264 !important;
        }
        .skinny-details{
            a{
                color: #455f6c !important;
                text-align: right !important;
                float: right !important;
                &.cta-arrow{
                    background: url(../../clientlibs/signaturestyle-publish-clientlibs/resources/images/Regis-Icons/Arrow-Link-teal-bolder.svg) no-repeat center right !important;
                }
            }
        }
    }
    &.border-white-bg{
        background: #fff !important;
        border-top: 1px solid #000 !important;
        border-bottom: 1px solid #000 !important;
        .skinny-title .h3,.skinny-title h3,.skinny-msg p{
            color: #636264 !important;
        }
        .skinny-details{
            a{
                color: #455f6c !important;
                text-align: right !important;
                float: right !important;
                &.cta-arrow{
                    background: url(../../clientlibs/signaturestyle-publish-clientlibs/resources/images/Regis-Icons/Arrow-Link-teal-bolder.svg) no-repeat center right !important;
                }
            }
        }
    }
    &.medium-width{
        .skinny-with-img{
            .skinny-img{
                height: 104px !important;
                float: right !important;
            }
            .skinny-title{
                .h3, h3{
                    font-size: 28px;
                    font-family: "merriweather";
                }
            }
            .skinny-details{
                a{
                    text-align: left !important;
                    float: left !important;
                    &.cta-arrow{
                        background: url(../../clientlibs/signaturestyle-publish-clientlibs/resources/images/Regis-Icons/Arrow-Link-teal-bolder.svg) no-repeat right !important;
                    }
                }
            }
        }
        .skinny-without-img{
            padding-top: 10px;
            padding-bottom: 10px;
        }
        &.red-bg,&.teal-bg{
            .skinny-details{
                a{
                    color: #fff !important;
                    text-align: left !important;
                    float: left !important;
                    &.cta-arrow{
                        background: url(../../clientlibs/signaturestyle-publish-clientlibs/resources/images/Regis-Icons/Arrow-Link-white-bolder.svg) no-repeat right !important;
                    }
                }

            }
        }
    }

    &.full-width{
        width: 100% !important;
    }
}

.acs-commons-resp-colctrl-col-50{
    .skinnycomponent{
        .skinny-text-component{
            &.medium-width{
                width: 100% !important;
            }
        }
    }
}

}
