.check-in-info{
    .saloninfoImage{
        width: 100%;
    }

		margin-bottom: 24px;
    @media (max-width: 767px){
        margin-bottom: 10px;
    }
		.location-details{

			.subtitle{
				font-size: 12px;
				font-family: "open-sans";
				margin-bottom: 12px;
			}
			.salon-title{
				font-size: 20px;
				color: #333;
				margin-bottom: 12px;
            	a{
					font-size: 20px;
                	color: #333;
					font-family: "merriweather";
                &:hover{
					text-decoration: underline;
                    color: #333;
                }
            }
			}
			.salon-brand{
				font-size: 12px;
				font-family: "open-sans";
				color: #4c4c4c;
				font-weight: bold;
				margin-bottom: 8px;
			}
			.salon-address1, .salon-address2{

				font-size: 12px;
				font-family: "open-sans";
				@media (max-width: 767px){
					margin-bottom: 0;
				}
				span{
					display: block;
				}
			}
        .salon-address2{
            @media (min-width: 768px){
                margin-bottom: 48px;
            }
        }

    }
}

.hcp-checkin-registration{
    margin-bottom: 24px;
    .register-section{
        position: relative;
        .register-content{
            border-left: 2px solid #ccc;
            padding-left: 14px;
            @media (min-width: 768px){
                left: 11px;
                bottom: 0;
                padding-left: 34px;
            }
            .subtitle{
                font-size: 16px;
                color: #4c4c4c;
                margin-bottom: 18px;
            }
            .description{
                font-family: "open-sans";
                @media (min-width: 768px){
                    margin-bottom: 24px;
                }
            }
        }
    }

}

.salon-table{
		display: table;
		width: 100%;
		table-layout: fixed;
	}
	.salon-tableCell{
		display: table-cell;
		vertical-align: middle;
		float: none;
	}