.services-component{
	margin: 10px 0;
	.services-header{
		margin-bottom: 36px;
		.service-title{
			margin: 0;
		}
		a{
			line-height: 1.9;
		}
	}
	.services-description{
		font-size: 14px;
		font-family: 'merriweather';
		.description{
			p{
				margin-bottom: 24px;
				&:last-child{
					margin-bottom: 36px;
				}
                a{
					font-family: "merriweather";
                    font-weight: bold;
                    color: #467085;
                    text-decoration: underline;
                }
			}
		}
	}
	.services-list{
		ul{
			padding-left: 20px;
			overflow: hidden;
    		width: 100%;
    		margin: 0;
			&>li{
				margin-bottom: 12px;
				float: left;
				width: 46%;
				font-family: "merriweather";
				font-weight: bold;
				color: #727173;
				&>a{
                    color: #455f6c;
                    font-weight: bold;
                    font-family: "merriweather";
                    font-size: 14px;
                    &:hover{
                        color: #344651;
                    }
                }
				@media (max-width: 767px){
					width: 100%;
				}
				@media (min-width: 768px){
                    min-height: 40px;
                }
                &:nth-child(odd){
                    @media (min-width: 768px){
                        margin-right: 22px;
                    }
                }
			}
		}
	}
	a.cta-arrow{
	    text-decoration: none;
	    font-family: 'open-sans';
	    background: url(../../clientlibs/signaturestyle-publish-clientlibs/resources/images/Regis-Icons/Regis_arrow_direction-btn.svg) #eaebec no-repeat center right;
	    background-position: 71% 50%;
	    color: #727173;
	    padding-right: 60px;
	}
}