.product-page{
	.product-container{
		background-color: #f9f9f9;
			.product-wrap{
				margin-left: 24px;
				width: 91%;
				margin-top: 36px;
                @media (min-width: 768px) and (max-width: 991px){
                    width: 94%;
                    margin-left: 10px;
                }
				.h4, h4{
					margin-bottom: 10px;
					margin-left: 10px;
                	font-size :14px !important;
					a{
						color: #515151;
						font-size :14px !important;
						&:hover{
                            text-decoration:none;
                        }
					}
					&.selected{
                   		border-bottom:2px solid #568391;
						display:inline-block;
                    	padding-bottom:4px;
						font-family: 'open-sans';
                    	font-size :14px !important;
						margin-top:0;
                    }
				}
				ul.list-unstyled{
					margin-left: 7px;

					li{
						margin-bottom: 10px;
						padding: 0 8px 0 16px;
                    	font-size :12px;
						a{
							color: #515151;
							text-decoration:none;
                        	font-size :12px;
                            &:hover{
                                text-decoration:none;
                            }
						}
						
						&.selected{
							font-family: 'open-sans';
							background:url(../../clientlibs/signaturestyle-publish-clientlibs/resources/images/Regis-Icons/selector-arrow.svg) no-repeat center left;
                        	background-size: 4%;

						}
					}
				}

			}

	}


}

@media(max-width:767px){
    .my-account-info{
        .product-page{
            padding:0;
            background:none;
        }
    
        .product-container{
            li{
                width:50%;
                float: left;
                margin-bottom: -1px;
                position: relative;
                display: block;
                text-align:center;
                a{
					position: relative;
                    display: block;
                    margin-right: 2px;
    				line-height: 1.42857143;
                }
                &.active{
					background-color:#404041;
                    color:#fff;
                }
            }
            width:auto;
            background-color:transparent;
            padding:0;
        }
    
        .product-page .product-container .product-wrap{
            margin-top:0;
            margin-left:0;
            .h4, h4{
                margin:0;
                border:none;
                padding: 10px 15px;
                &.selected{
					padding-bottom:14px;
                }
            }
        }
    }
}
