.skinny-text-component{
	@media screen and (max-width: 767px){
		padding-left: 10px;
		padding-right: 11px;
	}
	a{
		&:hover,&:focus{
			text-decoration: none;
		}
	}
	.skinny-msg{
		font-style: italic;
        p{
            margin-bottom: 0;
        }
	}
	.skinny-details{
		font-weight: bold;
	}
	.skinny-with-img{
		.skinny-img{
			@media screen and (max-width: 991px){
				width: 100%;
			}
			@media (min-width: 992px){
				    height: 84px;
    				float: right;
			}
		}
		.skinny-title{
			font-family: "open-sans";
			@media screen and (max-width: 991px){
				padding-top: 24px;
				padding-bottom: 12px;
			}
		}
		.skinny-details{
			@media screen and (max-width: 991px){
				padding-top: 12px;
				padding-bottom: 24px;
			}
		}
		.skinny-title,.skinny-msg{
			.h3, h3{
				margin: 0;
				@media screen and (max-width: 991px){
					font-size: 0.9em;
				}
			}
		}
		.skinny-msg{
			.h3, h3{
				font-family: "merriweather";
				font-size: 16px;
				@media (max-width: 767px){
					font-size: 12px;
				}
				@media (min-width: 992px){
					padding-left: 45px;
				}
			}
		}
		.skinny-details{
			@media (min-width: 992px){
                text-align: right; 
            }
		}
		.display-table{
            @media(max-width: 991px){
				display: table;
                table-layout: fixed;
                width: 100%;
            }
        }
        .table-cell{
			@media(max-width: 991px){
				display: table-cell;
                vertical-align: middle;
                float: none;
            }
            &:first-child{
				@media(max-width: 767px){
					padding: 0;
                }
            }
        }
	}
	.skinny-without-img{
		padding-top: 20px;
		padding-bottom: 20px;
		@media screen and (max-width: 991px){
			text-align: center;
		}
		.skinny-title{
			.h3, h3{
				margin: 0;
				font-family: "merriweather";
				font-size: 28px;
				font-weight: bold;
				@media screen and (max-width: 767px){
					font-size: 18px;
				}
				@media (min-width: 992px){
					text-align: center;
	            }
			}
		}
		.skinny-msg{
			font-family: "merriweather";
			font-size: 16px;
			@media screen and (max-width: 767px){
				font-family: "open-sans";
			}
			@media screen and (max-width: 991px){
				padding-top: 12px;
				padding-bottom: 12px;
			}
			.h3, h3{
				margin: 0;
			}
		}
	}

	&.red-bg{
		background: #c04444;
		color: #fff;
		a{
			color: #fff;
            &.cta-arrow{
                background: url(../../clientlibs/signaturestyle-publish-clientlibs/resources/images/Regis-Icons/Arrow-Link-white-bolder.svg) no-repeat center right;
                &:hover{
                    color: #fff;
					background: url(../../clientlibs/signaturestyle-publish-clientlibs/resources/images/Regis-Icons/Arrow-Link-white-bolder.svg) no-repeat center right;
                }
            }
		}
	}
	&.darkgrey-bg{
		background: #727173;
		color: #fff;
		a{
			color: #fff;
            &.cta-arrow{
                background: url(../../clientlibs/signaturestyle-publish-clientlibs/resources/images/Regis-Icons/Arrow-Link-white-bolder.svg) no-repeat center right;
                &:hover{
                    color: #fff;
					background: url(../../clientlibs/signaturestyle-publish-clientlibs/resources/images/Regis-Icons/Arrow-Link-white-bolder.svg) no-repeat center right;
                }
            }
		}
	}
	&.teal-bg{
		background: #455f6c;
		color: #fff;
		a{
			color: #fff;
            &.cta-arrow{
                background: url(../../clientlibs/signaturestyle-publish-clientlibs/resources/images/Regis-Icons/Arrow-Link-white-bolder.svg) no-repeat center right;
                &:hover{
                    color: #fff;
					background: url(../../clientlibs/signaturestyle-publish-clientlibs/resources/images/Regis-Icons/Arrow-Link-white-bolder.svg) no-repeat center right;
                }
            }
		}
	}
	&.lightgrey-bg{
		background: #f3f3f3;
		color: #636264;
		a{
			color: #455f6c;
		}
	}
	&.white-bg{
		background: #fff;
		color: #636264;
		a{
			color: #455f6c;
		}
	}
	&.border-white-bg{
		background: #fff;
		border-top: 1px solid #000;
		border-bottom: 1px solid #000;
		color: #636264;
		a{
			color: #455f6c;
		}
	}
	&.lightblue-bg{
		background: lightblue;
		color: #636264;
		a{
			color: #455f6c;
		}
	}
    &.medium-width{
        @media (min-width: 992px){
			width: 50%;
        }
        .skinny-with-img{
            .skinny-img{
                @media (min-width: 992px){
					height: 104px;
                }
            }
            .skinny-title{
                .h3, h3{
					font-size: 28px;
                    font-family: "merriweather";
                }
            }
            .skinny-details{
				text-align: left; 
            }
        }
        .skinny-without-img{
			padding-top: 10px;
            padding-bottom: 10px;
        }
    }
	
}

.acs-commons-resp-colctrl-col-50{
    .skinnycomponent{
        .skinny-text-component{
            &.medium-width{
				width: 100%; 
            }
        }
    }
}

.skinnycomponent{
    &.section{
		padding: 15px 0;
    }
}
