#style-wrap{
    margin-top:20px;
    margin-bottom:20px;
    figure{
        img{
            margin-bottom:20px;
            width:100%;
        }
        margin-bottom:20px;
        figcaption{
            text-align:center;
        }
    }
}

.comb1{
    @media (min-width: 768px){
        display: table;
        margin: 0 auto;
    }
    img{
        @media (max-width: 767px){
            width: 100%;
        }
    }
    .img-holder1,.img-holder2{
        @media (min-width: 768px){
            display: table-cell;
            width:300px;
        }
        figure{
            @media (min-width: 768px){
                margin-right: 30px;
            }
            figcaption{
                text-align: center;
                button{
                    padding: 10px;
                    margin: 10px 0;
                }
            }
        }
    }
}

.comb-2 {
    &.content-wrap {
        img{
            @media (max-width: 767px){
                width: 100%;
            }
        }
        @media (min-width: 768px){
            display: table;
        }
        .img-holder1{
            @media (min-width: 768px){
                width:300px;
                display: table-cell;
                vertical-align: middle;
            }
        }
        .imgholder2 {
            @media (min-width: 768px){
                display: table;
                width:300px;
            }
           img{
                @media (min-width: 768px){
                    display: table-cell;
                }
               margin-bottom: 20px;
           }
        }
    }
}

.content-wrap {
    &.comb-3{
        img{
            @media (max-width: 767px){
                width: 100%;
            }
        }
        @media(min-width: 768px){
            display: table;
        }
        .img-holder1{
            @media(min-width: 768px){
                width:300px;
                display: table-cell;
                vertical-align: middle;
            }
        }
        .imgholder2 {
            @media(min-width: 768px){
                width:300px;
                display: table;
                vertical-align: middle;
                padding-top: 20%;
            }
        }
        .small-desc {
            text-align: center;
        }
    }
}

.skinny{
    padding: 20px;
    color: #727173;
    &.large-desc{
        border:1px solid #dbdcdd;
         h3{
            display: inline-block;
             a{
                font-weight: normal;
                font-size: 18px;
                color: #455f6c;
                &:hover{
                        color: #455f6c;
                        text-decoration: underline;
                    }
                }
            .title1{
                font-weight: normal;
                display: block;
                color: #455f6c;
                &:hover{
                    color: #455f6c;
                }
            }
            .title2{
                font-weight: normal;
                display: block;
                color: #727173;
                &:hover{
                    color: #727173;
                }
            }

        }
     }
    h3{
        font-weight: normal;
        font-family: "merriweather";
        margin-top: 0;
         a{
            font-weight: normal;
            font-family: "merriweather";
            color: #455f6c;
            font-size: 18px;
            &:hover{
                    color: #455f6c;
                    text-decoration: underline;

                }

           }
    }
    &.small-desc{
        width:70%;
        margin:0 auto;
        margin-bottom:20px;
        border:none;
        border-top: 2px solid #dbdcdd;
        border-bottom: 2px solid #dbdcdd;
    }

    &.small-desc-withoutBorder {
        width: 70%;
        margin: 0 auto 20px;
        border: none;
    }
}

.premiumStylesAndAdvice{
    a.btn-default{
        background: #455f6c;
        color: #fff;
        border-color: transparent;
        &:hover{
            background: #344651;
            color: #fff;
            border-color: transparent;
        }
    }
}
.style-advice-component{
    margin-top: 10px;
    margin-bottom: 10px;
    .sa-title{
        margin: 0 0 36px;
        @media(max-width: 767px){
            margin: 0 0 12px;
            text-align: center;
        }
    }
    .sa-item{
        background: #f3f3f3;
        padding: 24px;
        @media(max-width: 767px){
            padding: 24px 24px 6px;
            margin-bottom: 10px;
        }
        .imageSA{
            width: 100%;
        }

        .sa-table{
            display: table;
            table-layout: fixed;
            width: 100%;
            .sa-tableCell{
                display: table-cell;
                vertical-align: middle;
                float: none;
                a{
                    &:hover{
                        &.titleLink{
                        text-decoration: underline;
                    }
                    }

                }
            }
        }
        .title{
            margin: 12px 0;
            font-weight:normal;
            line-height: 22px;
            @media(max-width: 767px){
                margin: 6px 0;
            }
        }
        .subtitle{
            margin: 0;
            font-family:'open-sans';
            min-height: 80px;
            color: #333;
        }
        .next-btn{
            border-radius: 50%;
            background: url('../../clientlibs/signaturestyle-publish-clientlibs/resources/images/Regis-Icons/Circle_Arrow_CTA_Teal.svg') no-repeat;
            background-size: cover;
            width: 37px;
            height: 37px;
            padding: 10px 15px;
            img{
                width: 10px;
                height: 10px;
                vertical-align: 0;
            }
        }
    }
    .skinny-text{
        padding: 36px 0;
        margin: 0 36px;
        border-width: 4px 0;
        border-style: solid;
        border-color: #b7b493;
        &.noBorders{
            border: none;
        }
        @media (max-width: 991px){
            margin: 24px 20px;
            padding: 18px 0;
        }

        .title{
            margin: 0;
            padding: 0 17px;
            font-size: 2.6em;
            font-weight: normal;
            line-height: 46px;

            a{
                font-size: 1em;
                font-weight: normal;
                font-family: "merriweather";
                color: #727173;
                &:hover{
                    text-decoration: underline;
                }
            }

            @media (max-width: 991px){
                padding: 0;
            }
            @media (min-width: 768px) and (max-width: 991px){
                font-size: 25px;
                line-height: 31px;
            }
        }
        .description{
            margin: 60px 0 48px;
            font-family:'open-sans';
            font-size: 12px;
            @media (max-width: 767px){
                margin: 30px 0 24px;
            }
        }
    }
    .display-table{
        @media (min-width: 768px){
            display: table;
            table-layout: fixed;
            width: 100%;
        }
        .tableCell{
            @media (min-width: 768px){
                display: table-cell;
                vertical-align: middle;
                float: none;
            }
            &:last-child{
                .sa-item{
                    @media (max-width: 767px){
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
    .styleadv-more{
        margin-top:20px;
    }
}
