.stylist-spotlight-container{
    @media(max-width:768px){
        width:100%;;
    }
    h4{
        margin-bottom: 48px;
        font-size: 14px;
        font-family: "open-sans";
        @media(max-width:768px){
            margin-bottom: 24px;
        }
    }
    .img1{
        width: 100%;
        height: 100%;
        margin-bottom: 20px;
        @media (max-width: 767px){
            margin-top:24px;
            margin-bottom:24px;
        }
    }

    .cwidth-container{
        padding-left:21px;
        margin-bottom:12px;
        @media(min-width:992px){
            width:238px;
        }
        h1{
            font-family:Merriweather;
            font-size:34px;
             @media(max-width:768px){
                 margin-top:-12px;
            }
        }
        @media(min-width:992px){
            border-right: 2px solid #dcdcdc;
            border-left:2px solid #dcdcdc;  
        }
       
         &:first-child{
            border:none;
        }
         &:last-child{
            border:none;
        }
                          
        p{
           font-size:12px;
            font-weight:lighter; 
        }
        a{
            font-size:12px;
            color:#49717D;
        }    
        .mall-name{
            color:#568391;
            font-size:12px;
            font-weight:700;
        }
        .salon-addr{
          /* font-size:12px;*/
            font-weight:lighter;
            width:238px;
            font-family: "open-sans";
        }
        .ph-no{
            margin-top: -2px;
            font-family: "open-sans";
        }
        .link{
            font-size: 16px;
            position: absolute;
            top: 45px;
            right: 0px;
            margin-right:10px;
            text-align: right;
            color:#568391;
            &:hover,&:focus,&:active{
                color:#4C6F7A;
                text-decoration: none;
            }
        }
        
        .img2{
            width:60px;
            height:60px;
        }
        .des{
            font-family: "open-sans";
            @media(max-width:768px){
                margin-top:10px;
            }
        }
        .det1{
             font-size:16px;
            &:hover,&:focus,&:active{
                color:#4C6F7A;
                text-decoration: none;
            }
        }
        .det{
              font-size:16px;         
            &:hover{
                text-decoration: none;
                color:#4C6F7A;
            }
            margin-top:10px;
            position:absolute;
            right:0px;
            margin-right:5px;
        }
    }
  .details{
      font-size:12px;
       margin-bottom: 12px;
       font-family: "open-sans";
      .p1{         
          font-weight:bolder;
          font-family: "merriweather";
          @media(max-width:768px){
              display:inherit;
          }
      }
   }
}