.textandvideo {
	.img-text-comp{
		.imgtxt-box{
            @media(max-width:768px){
				padding:10px !important;
            }	
			.imgtxt-heading{
				//color: #5f6167;
			}
			.imgtxt-subheading{
				//color: #5f6167;
			}
			.imgtxt-para{
				font-style: italic;
			}
			.imgtxt-url{
			}
		}
		.img-container{
		}
	}
}

.textandvideonew {
    padding: 15px 0;
    overflow: hidden;
	.img-text-comp{
        border: 1px solid #DBDCDD;
		.imgtxt-box{
            @media(max-width:768px){
				padding:10px !important;
            }	
			.imgtxt-heading{
				//color: #5f6167;
			}
			.imgtxt-subheading{
				//color: #5f6167;
			}
			.imgtxt-para{
				font-style: italic;
			}
			.imgtxt-url{
                a{
					text-decoration: none;
                }
			}
		}
		.img-container{
		}
	}
}