.title-component{
	margin: 10px 0;
	&.borderBottom{
		border-bottom: 1px solid #DBDCDD;
	}
	&.borderTop{
		border-top: 1px solid #DBDCDD;
	}
	&.border{
		border: 1px solid #DBDCDD;
		border-width: 1px  0;
	}
	&.borderNone{
		border: none;
	}
	a{
        text-decoration: none;
        &:hover{
        	text-decoration: underline;
        }
    }
	.title{
		font-family: "merriweather";
        .h1{
            font-size: 36px;
            font-weight: lighter;
        }
        .h2{
            font-size: 24px;
            font-weight: lighter;
        }
        .h3{
            font-size: 18px;
            font-weight: lighter;
        }
        .h4{
            font-size: 15px;
            font-weight: lighter;
        }
        .h5{
            font-size: 14px;
            font-weight: lighter;
        }
	}
	.description{
		font-family: "open-sans";
		font-size: 14px;
		font-weight: lighter;
		margin: 36px 0;
        a{
            font-size: inherit;
            font-family: "merriweather";
            color: #467085;
            font-weight: bold;
            text-decoration: underline;
        }
	}
	.gender-links{
		a{
			font-family: "open-sans";
			font-size: 16px;
			font-weight: lighter;
			padding: 0 12px;
			height: 35px;
			display: inline-block;
			@media (max-width: 767px){
				padding: 0 10px;
			}
			color: #727173;
			text-decoration: none;
			&:hover,&:focus,&:active{
				border-bottom: 2px solid #727173;
				padding-bottom: 10px;
				margin: 0;
			}
		}
		span{
			&.selected{
				font-family: "open-sans";
				font-size: 16px;
				font-weight: lighter;
				border-bottom: 2px solid #727173;
				padding: 0 12px 10px;
				margin: 0;
				display: inline-block;
				height: 35px;
			}
		}
	}
	.category-subtitle{
		font-size: 14px;
		font-weight: normal;
	}
	.category-title{
		font-style: normal;
		margin-top: 24px;
		margin-bottom: 36px;
		.title1,.title2{
			display: block;
		}
	}
}
