.trends-article-container{
    margin: 10px 0;
    .trends-hero-img{
        width: 100%;
    }
    .trends-title{
        margin-bottom: 10px;
        @media (max-width: 767px){
            margin-top: 15px;
        }
    }
    .article-content{
        &.content-section{
			margin-bottom: 15px;
        }
        .trends-img{
            width: 100%;
        }
        .description{
            margin: 5px 0;
            font-family: "open-sans";
        }
        a.cta-arrow{
            color:#455f6c;
        }
    }
}