.media-resume{
	input[type=file] {
		display:inline-block;
	}
	margin-bottom:30px;
	.resume-upload{
		.btn{
			margin:15px 0;
		}
		form{
			padding:0;
			margin-top:20px;
			label{
				font-weight:normal;
			}
		}
		background-color:#fff;
		padding:20px;
		textarea{
			width:100%;
			margin-bottom:20px;
		}
		ol{
            padding-left: 20px;
        }
	}
    
}


#SupercutsStylistApp {
    .wrapperpar{
        background: #fff;
    }
}
@media(min-width:992px){
	.media-resume{
		.resume-upload{
			padding:30px;
		}
        
	}
}

@media(max-width:767px){
    .media-resume{
		.resume-upload{
            a{
				width:100%;
            }
		}
        
	}
}

.resume-upload input[type="file"]{
    visibility: hidden;
    width: 0;
    height:0;
}
#SupercutsStylistApp #cta-submit-button{
    text-align: center;
    display: block;
    margin: 0 auto;
}

@media(max-width:767px){
    .media-resume{
		.resume-upload{
            a{
				width:100%;
            }
		}
        
	}
	#SupercutsStylistApp #cta-submit-button{
		width:100%;
	}
}