div.image {
    margin-bottom: 20px;
    overflow: hidden;
}

div.image img {
    display: block;
}
div.image small {
    display: block;
}

.spotText{
    position: absolute;
    color: white;
    background: #222;
    padding: 5px;
    font-family: verdana;
    font-size: 10px;
    font-weight: bold;
    opacity:0.6;
}