<sly data-sly-use.CDNModel="com.regis.common.sling.CDNClearingModel"/>
<div class="col-md-6 col-xs-12 nopadding">
    <div class="h2"> CDN Cache Clear Console</div>
    <div class="col-md-12">
        <div class="row">
            <div class="form-group col-md-6">
                <label for="envDD">Environment</label> <span class="custom-dropdown">
					<select name="environment"
                            class="form-control  icon-arrow custom-dropdown-select"
                            placeholder="-select-" id="envDD">
						<option value="">Select</option>
                        <sly data-sly-repeat.env="${CDNModel.environmentList}">
						    <option value="${env.value}">${env.label}</option>
                        </sly>
				</select>
				</span>
            </div>
            <div class="form-group col-md-6">
                <label for="brandDD">Brand</label> <span class="custom-dropdown">
					<select name="brand"
                            class="form-control  icon-arrow custom-dropdown-select"
                            placeholder="-select-" id="brandDD">
						<option value="">Select</option>
						<sly data-sly-list.brand="${CDNModel.brandList}">
						    <option value="${brand.value}">${brand.label}</option>
                        </sly>
				</select>
				</span>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="form-group">
            <label>Path</label> <input type="text" name="pathtobecleared"
                                       class="form-control" id="pathDD" />
        </div>
    </div>
    <div class="col-md-12">
        <input class="btn btn-primary btn-block left" type="button"
               value="Clear CDN Cache" id="cdn-cache-clear-btn"
               onclick="clearCacheFunction()" />
        <div class="cdnButton"></div>
    </div>
</div>
