.footer {
	margin-top: 200px;
	background-color: #9e9e9e30;
}

.footer .divider {
	border: 1px solid #9e9e9ead;
	margin-top: 15px;
}

.footer .footer-bottom {
	padding: 10px 0;
}

.footer .footer-bottom .bottom-logo {
	padding-left: 120px;
	float: left;
}
.footer .footer-bottom .bottom-logo img{
	height: 25px;
}

.footer .footer-bottom .bottom-links {
	float: right;
}

.footer .footer-bottom .bottom-links a {
	margin-right: 135px;
	color: #428bca;
}
@media (max-width:767px) {
    .footer .footer-bottom {
	    padding: 25px 0;
    }
    .footer .footer-bottom .bottom-links {
    	margin: 40px 0;
    }
    .footer .footer-bottom .bottom-links a {
        margin: 0 60px;
    }
    .footer .footer-bottom .bottom-logo {
    	text-align: center;
    	float: none;
    	padding: 0;
    	margin: 0;
    }
}