.navbar {
    padding: 0px;
}
.navbar-brand {
    width: 15%
}
.navbar-brand img {
    width: 100%
}
.nav-link {
    padding: 0px 20px 0px 20px !important;
}
.nav-link {
    padding: 8px !important;
    font-size: 14px;
}
.nav-item {
    margin-left: 1.0rem;
    line-height: 3.2rem;
}
.navbar-light .navbar-nav .nav-link {
    border-bottom: 3px solid #ffffff;
    ;
}
.navbar-light .navbar-nav .nav-link:hover {
    border-bottom: 3px solid #ce0f2e;
}