.media-banner{
	position:relative;
	img{
		position:absolute;
		width:100%;	
	}
	.banner-cont{
		position:relative;
		padding:10px;
		h1{
			color:#fff;
			font-size:35px;
			margin-top:0;
			.h3{
				color:#fff;
				font-weight:normal;
				display:block;
				margin:0;
				letter-spacing:2px;
			}
		}
		p{
			display:none;
			color:#707070;
		}
		.btn{
			background-color:transparent;
			border-color:#fff;
			margin-top:0;
			font-size:16px;
		}
		&.cont-center{
				text-align:center;
			}&.cont-left{
				text-align:left;
			}&.cont-right{
				text-align:right;
			}
	}
}
@media(min-width:992px){
	.media-banner{
		img{
			position:absolute;
			width:99%;
		}
		.banner-cont{
			padding:30px 120px;
			h1{
				font-size:56px;
			}
			p{
				display:block;
			}
			.btn{
			   font-size:20px;
			   margin-top:5ex;
			}
		}
	}
}