<div data-sly-test="${wcmmode.edit}" class="cq-placeholder" data-emptytext="Configure Hero Image ">Configure Hero Image</div>
<div class="HeroImg">
	<img src="${properties.file}" class="img-fluid" alt="${properties.alt}"/>
    <sly data-sly-test="${properties.title}">
        <div class="img-caption">
              <h5>${properties.title}</h5>
              <p>${properties.description}</p>
              <a href="${properties.ctaurl}.html" class="btn btn-blue">${properties.ctatext}</a>
        </div>
    </sly>
</div>