<div data-sly-test="${wcmmode.edit}" class="cq-placeholder" data-emptytext="${component.title}"></div>

<div data-sly-test="${wcmmode.edit}" class="cq-placeholder" data-emptytext="Horizontal Icon Card"></div>

<div class="card bsocard">
    <div class="card-body">

        <sly data-sly-test="${properties.isnew =='yellow'}">
            <div class="card-type new">${properties.numberOverlay}</div>
        </sly>

        <sly data-sly-test="${properties.isnew =='red'}">
            <div class="card-type disc">${properties.numberOverlay}</div>
        </sly>

        <sly data-sly-test="${properties.isnew =='orange'}">
            <div class="card-type sale">${properties.numberOverlay}</div>
        </sly>

        <div class= "card-imgbox">
            <sly data-sly-test="${properties.ctalink}">
                <a href="${properties.ctalink}.html"><img class="card-img-top p-2" src="${properties.fileReference}" alt="${properties.alttext}"></a>
            </sly>
            <sly data-sly-test="${!properties.ctalink}">
                <img class="card-img-top p-2" src="${properties.fileReference}" alt="${properties.alttext}">
            </sly>
        </div>
        <sly data-sly-test="${properties.ctalink}">
            <h3 class="card-title"> <a href="${properties.ctalink}.html">${properties.title}</a> </h3>
            <h4>${properties.brand}</h4>
            <h5>${properties.price}</h5>
            <p>${properties.description@context='html'}</p>
        </sly>
        <sly data-sly-test="${!properties.ctalink}">
            <h3 class="card-title">${properties.title}</h3>
            <h4>${properties.brand}</h4>
            <h5>${properties.price}</h5>
            <p>${properties.description@context='html'}</p>
        </sly>
    </div>
</div>