.feature-box{
    overflow: hidden;
    .media-top{
        float: left;
        width: 100%;
        position: relative;
        margin-bottom: 6ex;
        border: 1px solid #5f6167;
        min-height: 44ex;
        .media{
            width: 100%;
            position: relative;
            img{
                width: 100%;
            }
        }
        .details{
            float: left;
            position: relative;
            width: 100%;
            padding: 2ex 1em;
                header{
                    border: none;
                }
        }
        h3{
            a{
                color: #1e3e6e;
            }
        }
    }
}