<!--/*<head>*/-->
<!--/*<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html">*/-->
<!--/*    <sly data-sly-call="${clientlib.js @ categories='regis.thebso.clientlibs'}"/>*/-->
<!--/*</sly>*/-->
<!--/*    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">*/-->
<!--/*	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" id="style-css">*/-->
<!--/*	<link href="css/bso-styles.css" rel="stylesheet" id="bso-css">*/-->
<!--/*	<link href="css/bso-products.css" rel="stylesheet" id="products-css">*/-->
<!--/*	<link href="https://db.onlinewebfonts.com/c/9eb76028d6e168a3bf7cef0f0806eb45?family=Kobenhavn" rel="stylesheet" type="text/css"/>*/-->
<!--/*	<link href="https://db.onlinewebfonts.com/c/ae62d3f53ea6f4b79f16ec3383c443a4?family=Calluna" rel="stylesheet" type="text/css"/>*/-->
<!--/*	<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.1.1.min.js"></script>*/-->
<!--/*	<script  src="js/bootstrap.min.js"></script>*/-->
<!--/*</head>*/-->
<br/>
<h1>${properties.pageTitle}</h1>
<h2 class="gray">${properties.pageSubtitle}</h2>
<br/>

<div class="accordion" id="accordion">
    <hr/>

    <div class="row accordion py-3 d-flex flex-wrap" id="headingOne">
        <div class="col-lg-3 col-3"><img src="${properties.fileReference1}" class="img-fluid" alt=""></div>
        <div class="col-lg-8 col-8">
            <h1>${properties.tiptitle1}</h1>
            <p class="Content">${properties.tipdescription1}</p>
            <div id="${properties.uid1}Link1">
                <a href="javascript:void(0);" class="RedLink-big" data-toggle="collapse" data-target="#${properties.uid1}"
                   aria-expanded="false" aria-controls="${properties.uid1}"
                   data-parent="#accordion">${properties.learnmoretext1}</a>
            </div>
            <div id="${properties.uid1}" class="collapse" aria-labelledby="${properties.uid1}Link1">
                ${properties.learnmoredesc1 @context="html"}
            </div>
        </div>
    </div>

    <hr/>

    <div class="row accordion py-3 d-flex flex-wrap" id="headingTwo">
        <div class="col-lg-3 col-3"><img src="${properties.fileReference2}" class="img-fluid" alt=""></div>
        <div class="col-lg-8 col-8">
            <h1>${properties.tiptitle2}</h1>
            <p class="Content">${properties.tipdescription2}</p>
            <div id="${properties.uid1}Link2">
                <a href="javascript:void(0);" class="RedLink-big" data-toggle="collapse" data-target="#${properties.uid2}"
                   aria-expanded="false" aria-controls="${properties.uid2}"
                   data-parent="#accordion">${properties.learnmoretext2}</a>
            </div>
            <div id="${properties.uid2}" class="collapse" aria-labelledby="${properties.uid1}Link2">
                ${properties.learnmoredesc2 @context="html"}
            </div>
        </div>
    </div>

    <hr/>

    <div class="row accordion py-3 d-flex flex-wrap" id="headingThree">
        <div class="col-lg-3 col-3"><img src="${properties.fileReference3}" class="img-fluid" alt=""></div>
        <div class="col-lg-8 col-8">
            <h1>${properties.tiptitle3}</h1>
            <p class="Content">${properties.tipdescription3}</p>
            <div id="${properties.uid1}Link3">
                <a href="javascript:void(0);" class="RedLink-big" data-toggle="collapse" data-target="#${properties.uid3}"
                   aria-expanded="false" aria-controls="${properties.uid3}"
                   data-parent="#accordion">${properties.learnmoretext3}</a>
            </div>
            <div id="${properties.uid3}" class="collapse" aria-labelledby="${properties.uid3}Link3">
                ${properties.learnmoredesc3 @context="html"}
            </div>
        </div>
    </div>


</div>
