<div data-sly-test="${wcmmode.edit}">Committee Component</div>
<div
	data-sly-use.committee="com.regis.common.use.CommitteeComponentPojo">
	<div class="Committee-container  col-lg-4 col-md-6 col-sm-6">
		<div class="member-details-container clearfix">
			<div class="committe-details col-md-12 col-sm-12">
				<h4 data-sly-test="${properties.committeetitle}"
					class="committeeTitle">${properties.committeetitle}</h4>
				<div class="chair-person-details row">
					<div data-sly-test="${properties.chairpersonlabel}"
						class="designation col-md-4 col-sm-5 col-xs-5">
						<div data-sly-test="${properties.chairpersonlabel}"
							class="chairpersonLabel">${properties.chairpersonlabel}</div>
					</div>
					<div
						data-sly-test="${properties.chairpersonname || properties.chairpersonrole}"
						class="person-details col-md-8 col-sm-7 col-xs-7">
						<span class="name" data-sly-test="${properties.chairpersonname}">${properties.chairpersonname}</span>
						<span class="details"
							data-sly-test="${properties.chairpersonrole}">${properties.chairpersonrole}</span>
					</div>
				</div>
				<div class="member-details row">
					<div data-sly-test="${properties.memberlabel}"
						class="designation col-md-4 col-sm-5 col-xs-5">
						<div data-sly-test="${properties.memberlabel}" class="memberLabel">${properties.memberlabel}</div>
					</div>
					<div class="person-details-container  col-md-8  col-sm-7 col-xs-7">
						<div
							data-sly-list.committeeMembersList="${committee.committeeMemberList}">
							<div
								data-sly-test="${committeeMembersList.title || committeeMembersList.description}"
								class="person-details">
								<span class="name" data-sly-test="${committeeMembersList.title}">
									${committeeMembersList.title} </span> <span class="details"
									data-sly-test="${committeeMembersList.description}">
									${committeeMembersList.description} </span>
							</div>
						</div>
					</div>
				</div>
                <div class="cta-wrapper">
                    <div class="cta-link">
                        <a
                            data-sly-test="${properties.primaryctatext && properties.primaryctalink}"
                            class="btn btn-primary" target="_self"
                            href="${properties.primaryctalink @ extension = 'html'}">${properties.primaryctatext}
                        </a> 
                    </div>
                    <div class="cta-link">
                        <a
                            data-sly-test="${properties.secondaryctatext && properties.secondaryctalink}"
                            class="btn btn-primary" target="_blank"
                            href="${properties.secondaryctalink @ extension = 'html'}">${properties.secondaryctatext}
                        </a>
                    </div>
                </div>
			</div>
		</div>
	</div>
</div>

