
.colouredparsyscomponent{
    .responsivegrid{
        .container{
            padding: 0;
        }
        .textandimage{
            .imgtxt-box {
                padding: 0;
            }
        }
    }
}
.responsivegrid:nth-child(2){
    .container{
        .acs-commons-resp-colctrl-col-60{
            padding: 0;
			padding-left: 5px;
            .imgtxt-box {
                padding-left: 10px;
                
            }
        }
    }
}