//for careers page
.colouredparsyscomponent + .responsivegrid:nth-child(2){
    margin: 75px auto 45px;
}
.colouredparsyscomponent + .responsivegrid + .responsivegrid:nth-child(3){
    //background: black;
    .heroImageCarousel + .text{
        margin-top: 50px;
        h2{
            //font-family: Roboto;
            font-size: 46px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: left;
            color: #464646;
        }
        h3{
            font-size: 20px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: left;
            color: #464646;
        }
        
    }
}
.careers-cta{
    font-size: 30px;
    width: 338px;
    height: 54px;
    padding: 9px 75px;
}
.nav-justified{
    width: 60px;
    margin: auto;
    margin-top: -27px;
    display: block !important;
    li{
        a.nav_li {
            width: 12px;
            height: 12px;
            padding: 0 !important;
            margin: auto;
            border-radius: 50% !important;
            background-color: #c0c0c0;
            /* margin-top: 50px; */
        }
    }
    li:first-child{
        a.nav_li {
            margin-right: 0;
            margin-left: auto;
        }
    }
    li:last-child{
        a.nav_li {
            margin-left: 0;
            margin-right: auto;
        }
    }
    li.active{
        a.nav_li {
           background-color: #e60f1a !important;
        }
    }
}
.title-component{
    .col-xs-12{
        padding: 0;
    }
}