
//salon_detail check in component
.checkin-component{
    margin-top: 30px;
    .fieldset.col-block.sc_fieldset_margin{
        label {
            display: block;
        }
    }
    .fieldset.col-block.sc_fieldset_margin + fieldset{
        padding: 0 15px;
    }	
    .row{
        .col-md-6.col-block + .col-md-4.col-md-offset-2 {
            //display: none;
        }
        .col-md-6.col-block{
            //float:right;
            .checkinregistrationprompt.section {
                display: none;
            }
        }
    }
    //map, address details and for container
    .row:nth-child(2){
        //from container
        .col-md-6.col-block {
            padding-left: 0;
            width: 42%;
            //float: right;
            @media(max-width: 1100px ){
                width: 50%;
            }
            @media(max-width: 768px ){
                width: 100%;
            }
        }
        //map and address container
        .col-md-4.col-md-offset-2 {
            margin-left: 0;
            width: 57%;
            margin-right: auto;
            padding-left: 0;
            padding-right: 7px;
            @media (max-width: 768px){
                width: 100%;
                //modal display in mobile
                /* height: max-content;
                display: contents;	*/
            }
            //map size
           /* #map-canvas{
                position: relative;
                overflow: hidden;
                height: 220px;
                width: 100%;
                margin: 0px 0px;
            }*/
            //get direction button in map
            button#getDirectionsBtn {
                height: 43px;
                width: 292px;
                border: 1px solid #3E3E3E;
                border-radius: 42px;
                background: white;
                display: block;
                margin: 21px auto 20px;
            }
        }
    }
    //heading stylings...
    .row:nth-child(1){
        .col-md-12.col-block {
            padding-left: 0;
        }
        //heading saloninfo component
        .salonInfo.saloninfo{
            .check-in-info{
                .wait-time{
                    display:none;
                }
                .location-details{
                    .vcard{
                        padding: 0;
                    }
                    //hide extra details from heading
                    a#gotodirectedplace, .telephone, .closing-time {
                        display: none;
                    }
                    //heading of check-in page
                    a#checkinstoreinfoid {
                        margin: 30px 0;
                        font-family: Montserrat;
                        font-size: 49px;
                        font-weight: 700;
                        letter-spacing: 0;
                        line-height: 59px;
                        color: #c8102e;
                        pointer-events: none; //heading anchor tag removal
                    }
                }
            }
        }
    }
    //address container in checkinn page
    .rightcontent{
        .saloninfo.section{
            address {
                margin-bottom: 8px;
            }
            //address contaier store title hidden
            .store-title{
                display: none;
            }
            .telephone{
                background: url(/content/dam/firstchoice/checkinIcons/phone.png) no-repeat;
                padding-left: 30px;
                line-height: 20px;
            }
            .closing-time {
                //  background: url(/content/dam/costcutters/general-resources/cc-clock-20x20.png) no-repeat;
                padding-bottom: 3px;
                line-height: 25px;
                padding-bottom: 10px;
                padding-left: 30px;
            }
            .distance {
                //margin-left: 20px;
                // background: url(/content/dam/costcutters/general-resources/cc-map-pin-20x20.png) no-repeat;
                background-position: bottom left;
                padding-left: 30px;
            }
            span.street-address1, span.street-address2{
                
                margin-top: 6px;
                display: block;
                
                color: black;
                font-family: Montserrat;
                font-size: 12px;
                letter-spacing: 0;
                font-weight: 500;
                &:before {
                    content: "\e61b";
                    padding-right: 15px;
                    color: #727173;
                    font-family: 'icomoon';
                    speak: none;
                    font-style: normal;
                    font-weight: normal;
                    font-variant: normal;
                    text-transform: none;
                    line-height: 1;
                    -webkit-font-smoothing: antialiased;
                }
            }
            /* [class^="icon-"], [class*=" icon-"] {
            font-family: 'icomoon',Montserrat;
        }*/
        }
        .wait-time {
            display: none;
        }
        span.telephone {
            display: block;
        }
        
        .location-details {
            padding-bottom: 2ex;
            float: left;
            vertical-align: top;
            width: 69%;
            max-width: 285px;
            margin: 0;
            @media (max-width: 768px){
                width: 100%;
            }
        }
    }
}
.checkinconfirmation.section {
    width: 98%;
    margin-right: auto;
    margin-left: 0;
    padding: 0;
    //background-color: #f3f3f3;
    @media(max-width: 768px){
        width: 100%;
    }
    .checkin-confirmation-wrapper{
        padding: 0;
        //padding-bottom: 45px;
        #checkinConfDiv{
            ul {
                padding: 0px !important;
            }
            .alert-info {
                background-color: #f3f3f3;
                border: 0px;
                ///padding-bottom: 0;
            }
        }
    }
    .alert.alert-success.first-checkin{
        color: #e60f1a;
        font-family: 'Roboto';
        font-size: 30px;
        font-weight: 700;
        letter-spacing: 0;
        line-height: 44px;
        padding: 0;
        text-align: center;
        background: transparent;
        .check-in-conf-ins{
            display:none;
        }
    }
    //check in form
    .alert.alert-success.first-checkin + .col-block{
	
        h3, p {
            height: 43px !important;
            width: 97%;
            line-height: 1;
            margin: auto;
            background: transparent;
            color: #464646;
            font-family: 'Roboto';
            font-size: 21px;
            font-weight: 500;
            letter-spacing: 0;
            padding-bottom: 0px !important;
            padding-top: 0px !important;
            border-bottom: 1px solid #464646;
            line-height: 2.5 !important;
            text-transform: uppercase;
            margin-bottom: 10px;
            strong{
                display:none;
            }
            @media (max-width: 768px){
                white-space: nowrap;// text in same container
                overflow: hidden;
                padding-right: 7px;
            }
            [class^="icon-"]{
                padding-left: 10px;
                margin-right: 20px;
                font-size: 17px;
                font-weight: 600;
            }
            .glyphicon{
                padding-left: 15px;
                margin-right: 15px;
            }
            strong {
                font-weight: 650;
            }
            .estimatedtime{
                display: none;
            }
        }
        h3{
             padding-left: 50px;
            font-weight: 650;
            
        }
        p {
            .glyphicon{
                padding-left: 15px;
                margin-right: 15px;
            }
            
        }
        //phone no hidden
        p:nth-child(2) {
         //   display: none;
        }
        p:nth-child(3) {
            white-space: revert;
            line-height: 20px;
            padding: 5px;
            height: max-content;
            min-height: 43px;
        }
        
    }
    a.btn.btn-default.cancel-reservation, a.btn.btn-primary.add-guest-information.btn-block.btn-large {
        height: 43px;
       min-width: 292px;
        width: max-content;
        color: #e60f1a;
        background: transparent;
        font-family: 'Roboto';
        margin: auto;
       // font-size: 15px;
        font-size: 26px;
        border: 2px solid #e60f1a;
        display: block;
        font-weight: 600;
        letter-spacing: 0;
        line-height: 29px;
        text-transform: uppercase;
        border-radius: 0;
        text-align: center;
        margin-bottom: 30px;
        padding: 5px 10px;
    }
    .cancel-reservation {
        margin-top: 20px;
    }
    .modal{
        h4#myModalLabel {
            font-size: 24px;
            font-family: Montserrat;
            text-transform: uppercase;
            color: #e60f1a;
            font-weight: 600;
        }
        .close{
            margin-top: 5px;
            span.icon-close {
                color: #e60f1a;
                font-weight: 600;
                opacity: 1;
            }
        }
        .lead {
            font-size: 17px;
            line-height: 24px;
            margin: 20px;
        }
        
    }
    .check-inStylist {
        padding-left: 40px !important;
        background: transparent no-repeat left center !important;
        background-image: url(/content/dam/firstchoice/checkinIcons/stylist-chair.png)	!important ;
    }
    .check-inDate{
        padding-left: 40px !important;
        background: transparent no-repeat left center !important;
        background-image: url(/content/dam/firstchoice/checkinIcons/date.png)	!important ;
    }
    .check-inService {
        padding-left: 40px !important;
        background: transparent no-repeat left center !important;
        background-image: url(/content/dam/firstchoice/checkinIcons/searchIcon.png)	!important ;
        position:relative;
        #ddServicesFCH-cont.clickedDiv{
            margin-left: 0;
            left: 0;
            width: 100%;
        }
    }
    .check-inTime{
        padding-left: 40px !important;
        background: transparent no-repeat left center !important;
        background-image: url(/content/dam/firstchoice/checkinIcons/time.png)	!important ;
    }
    .check-inName{
        padding-left: 40px !important;
        background: transparent no-repeat left center !important;
        background-image: url(/content/dam/firstchoice/checkinIcons/firstName.png)	!important ;
    }
   
    input&#firstName:-internal-autofill-selected {
        background-image: url(/content/dam/firstchoice/checkinIcons/firstName.png)	!important ;
        background-color: transparent !important;
        
    }
    .check-inEmail{
        padding-left: 40px !important;
        background: transparent no-repeat left center !important;
        background-image: url(/content/dam/firstchoice/checkinIcons/email.png)	!important ;
    }
    .check-inPhone{
        padding-left: 40px !important;
        background: transparent no-repeat left center !important;
        background-image: url(/content/dam/firstchoice/checkinIcons/phone.png)	!important ;
    }
}
.saloncheckindetails{
    //width: 479px;
    margin-right: 0;
    padding: 0;
    margin-left: auto;
    margin-bottom: 88px;
    width:452px;
    @media(max-width: 768px){
        width: 98%;
        margin:auto;
    }
    .checkin-user-details{
        padding: 0;
        padding-top: 20px;
        background-color: #f3f3f3;
        padding-bottom: 20px;
        .select-group{
            height: 43px;
            padding: 0 36px;
            .form-group.col-md-12.clearfix {
                padding: 0;
                margin-bottom: 12px;
            }
        }
        .custom-dropdown{
            position: relative;
            display:block;
            //height: 40px;
        }
        .custom-dropdown:after {
            // content: "\e61a";
            font-family: 'icomoon';
            speak: none;
            font-style: normal;
            font-weight: 700;
            font-variant: normal;
            font-size: 15px;
            color: #c8102e;
            text-transform: none;
            line-height: 1;
            right: 30px;
            top: 1px;
            left: auto;
            height: 22px;
            padding: 15px 0px 0px 8px;
            //border-left: 1px solid #0ebeff;
            position: absolute;
            pointer-events: none;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            //!* font-size: 1.75em; *!
            display:none;
        }
        .select-group.form-group:nth-child(1){
            .custom-dropdown:after {
                top: 55px;
            }
        }
        .multiselect{
            border: 0;
            border-bottom: 2px solid #555;
            border-radius: 0;
            height: 40px;
            width: 100%;
            font-family: Roboto;
            font-size: 21px;
            font-weight: 500;
            text-transform: capitalize;
            font-stretch: normal;
            font-style: normal;
            line-height: 2;
            letter-spacing: normal;
            text-align: left;
            color: #464646;
            background: transparent;
            appearance: none;
            -webkit-appearance:none;
            
            &:focus{
                outline: 0;
                box-shadow: 0px 1px 1px 0px;
            }
            span.text {
                font-weight: 600;
            }
        }
        select{
            padding-left: 30px;
        }
        /*input#servicedOn, .multiselect {
        box-sizing: border-box;
        height: 43px;
        width: 450px;
        font-weight: 500;
        border: 1px solid #C8102E;
        border-radius: 42px;
        background-color: #FFFFFF;
        margin: auto;
        padding-left: 46px;
        color: #C8102E;
        text-transform: Uppercase;
        font-family: Montserrat;
        font-size: 13px;
        &:focus{
        outline: 0;
    }
        @media (max-width: 768px){
        width: 96%;
    }
        option[value=""][disabled] {
        display: none;
    }
        
    }*/
        /*  select#ddTimingsCC {
        background: url(/content/dam/costcutters/general-resources/time.png) no-repeat left center;
        background-position-x: 15px;
        appearance: none;
        background-color: white;
        -webkit-appearance: none;
    }
        select#ddCC {
        background: url(/content/dam/costcutters/general-resources/services.png) no-repeat left center;
        background-position-x: 15px;
        appearance: none;
        -webkit-appearance: none;
        margin-top: 12px;
        background-color: white;
    }
        select#ddServices, .multiselect{
        background: url(/content/dam/costcutters/general-resources/stylist.png) no-repeat left center;
        background-position-x: 15px;
        appearance: none;
        -webkit-appearance: none;
        background-color: white;
    }
        input#servicedOn{
        background: url(/content/dam/costcutters/general-resources/date.png) no-repeat left center;
        background-position-x: 15px;
        appearance: none;
        -webkit-appearance: none;
        background-color: white;
    }
        input {
        height: 44px;
        width: 446px;
        border-radius: 2px;
        padding-left: 14px;
        background-color: #FFFFFF;
        /* @media (max-width: 768px){
        width: 98%;
    }*/
        //}
        label{
            display: none;
            
        }
        .phone-info-text {
            display: none;
        }
        button.btn.btn-sm.BsoForm-But.magicForm-But {
            width: 298px;
            height: 44px;
            border: solid 2px #e60f1a;
            background-color: #f5f5f5;
            font-family: Roboto;
            font-size: 26px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: 0;
            letter-spacing: normal;
            text-align: center;
            display: block;
            border-radius: 0;
            color: #e60f1a;
            margin: 57px auto 49px;
        }
        .magicuts-row {
            height: max-content;
            min-height: 44px;
            display: flow-root;
        }
        .magicuts-row:nth-child(3){
            // display: flex;
            padding: 0 36px;
            .col-xs-12.col-sm-12.form-group {
                // width: 50%;
                padding: 0;
                input {
                    height: 44px;
                    width: 100%;
                    margin: auto;
                }
            }
        }
        //field parent element alignment in mobile view
        .magicuts-row{
            padding: 0 19px;
            @media(max-width: 767px){
                padding: 0 15px;
            }
            .col-xs-12.col-sm-12.form-group {
                @media(max-width: 767px){
                    padding: 0 !important;
                }
            }
            input#checkinemail,input#phone {
                @media (max-width: 767px){
                    width: 100%;
                    margin: auto;
                }
            }
            
        }
        .magicuts-row:nth-child(5){
            .col-xs-6{
                @media(max-width: 767px){
                    width: 100%;
                }
            }
        }
        .select-group.form-group:nth-child(1){
            .form-group.col-md-12.clearfix {
                padding: 0;
                
            }
        }
    }
    .check-inStylist {
        padding-left: 40px !important;
        background: transparent no-repeat left center !important;
        background-image: url(/content/dam/firstchoice/checkinIcons/stylist-chair.png)	!important ;
    }
    .check-inDate{
        padding-left: 40px !important;
        background: transparent no-repeat left center !important;
        background-image: url(/content/dam/firstchoice/checkinIcons/date.png)	!important ;
    }
    .check-inService {
        padding-left: 40px !important;
        background: transparent no-repeat left center !important;
        background-image: url(/content/dam/firstchoice/checkinIcons/searchIcon.png)	!important ;
        position:relative;
        #ddServicesFCH-cont.clickedDiv{
            margin-left: 0;
            left: 0;
            width: 100%;
        }
    }
    .check-inTime{
        padding-left: 40px !important;
        background: transparent no-repeat left center !important;
        background-image: url(/content/dam/firstchoice/checkinIcons/time.png)	!important ;
    }
    .check-inName{
        padding-left: 40px !important;
        background: transparent no-repeat left center !important;
        background-image: url(/content/dam/firstchoice/checkinIcons/firstName.png)	!important ;
    }
   
    input&#firstName:-internal-autofill-selected {
        background-image: url(/content/dam/firstchoice/checkinIcons/firstName.png)	!important ;
        background-color: transparent !important;
        
    }
    .check-inEmail{
        padding-left: 40px !important;
        background: transparent no-repeat left center !important;
        background-image: url(/content/dam/firstchoice/checkinIcons/email.png)	!important ;
    }
    .check-inPhone{
        padding-left: 40px !important;
        background: transparent no-repeat left center !important;
        background-image: url(/content/dam/firstchoice/checkinIcons/phone.png)	!important ;
    }
    div#map-canvas {
        width: 100%;
        height: 411px;
    }
    .salondetailspagelocationcomp {
        height: 280px;
        padding: 47px 47px 37px;
        background-color: #707070;
    }
}
//salon data alignment with header
.salondetailspagelocationcomp{
    section.locations.map-directions.pull-left{
        .check-in.col-md-6 {
            padding-left: 0;
            .vcard{
                padding-left: 0;
            }
        }
    }
    //salon address data icons added
    .telephone{
        background: url(/content/dam/costcutters/general-resources/cc-phone-20x20.png) no-repeat;
        padding-left: 30px;
    }
    .closing-time {
        background: url(/content/dam/costcutters/general-resources/cc-clock-20x20.png) no-repeat;
        padding-bottom: 3px;
        line-height: 35px;
        padding-bottom: 10px;
        padding-left: 30px;
    }
    .distance {
        //margin-left: 20px;
        background: url(/content/dam/costcutters/general-resources/cc-map-pin-20x20.png) no-repeat;
        background-position: bottom left;
        padding-left: 30px;
    }
    span.street-address {
        margin-top: 6px;
        display: block;
        &:before {
            content: "\e61b";
            padding-right: 15px;
        }
    }
    [class^="icon-"], [class*=" icon-"] {
        font-family: 'icomoon',Montserrat;
    }
    
}
//check in page add another guest form alignment
.checkinconfirmation + .saloncheckindetails{
    margin: auto;
    
}
//salon offers title
.salonofferstitle + .hcpStylesAndAdvice{
    .sa-item{
        .imageSA {
            @media (max-width: 768px){
                width: 100%;
                max-width: 270px;
            }
        }
        .row{
            .title {
                @media (max-width: 768px){
                    margin: 6px 0;
                    max-width: 270px;
                }
            }
        }
    }
}
.saloncheckindetails{
//stylist Field icon
select#ddFCH {
    padding-left: 40px !important;
    background: transparent no-repeat left center !important;
    background-image: url(/content/dam/firstchoice/checkinIcons/stylist-chair.png)	!important ;
}
select#servicedOnFCH{
    padding-left: 40px !important;
    background: transparent no-repeat left center !important;
    background-image: url(/content/dam/firstchoice/checkinIcons/date.png)	!important ;
}
div#ddServicesFCH {
    padding-left: 40px !important;
    background: transparent no-repeat left center !important;
    background-image: url(/content/dam/firstchoice/checkinIcons/searchIcon.png)	!important ;
    position:relative;
     #ddServicesFCH-cont.clickedDiv{
        margin-left: 0;
        left: 0;
        width: 100%;
    }
}
select#ddTimingsCC{
    padding-left: 40px !important;
    background: transparent no-repeat left center !important;
    background-image: url(/content/dam/firstchoice/checkinIcons/time.png)	!important ;
}
input#firstName {
        margin-top: 0 !important;
    padding-left: 40px !important;
    background: transparent no-repeat left center !important;
    background-image: url(/content/dam/firstchoice/checkinIcons/firstName.png)	!important ;
}
input#lastName {
    padding-left: 40px !important;
    background: transparent no-repeat left center !important;
    background-image: url(/content/dam/firstchoice/checkinIcons/firstName.png)	!important ;
}
input&#firstName:-internal-autofill-selected {
background-image: url(/content/dam/firstchoice/checkinIcons/firstName.png)	!important ;
    background-color: transparent !important;

}
input#checkinemail{
    padding-left: 40px !important;
    background: transparent no-repeat left center !important;
    background-image: url(/content/dam/firstchoice/checkinIcons/email.png)	!important ;
}
input#phone{
    padding-left: 40px !important;
    background: transparent no-repeat left center !important;
    background-image: url(/content/dam/firstchoice/checkinIcons/phone.png)	!important ;
}
}
.check-in-details-wrapper{
    span.custom-dropdown {
        background: url(/content/dam/firstchoice/checkinIcons/dropdownArrow.png) right center no-repeat;
    }
    p.error-msg {
        color: #e60f1a;
        font-size: 13px;
    }
}
.checkin-component{
    @media screen and (max-width: 1200px) and (min-width:768px){
        width: 90%;
        margin: auto;
    }

    .titlecontent {
        @media(max-width:768px){
            padding-left: 10px;
        }
    }
    .rightcontent + div#map-canvas {
        width: 655px;
        height: 280px;
        margin-left: 0;
        @media screen and (max-width: 1200px) and (min-width:768px){
            min-width: 276px;
            width: 100%;
            max-width: 293px;
        }
        @media(max-width:768px){
            width: 97%;
            margin: auto;
            height: 567px;
        }
    }
    div#map-canvas {
        width: 100%;
       // height: 355px;
        height: 333px;
    }
    .salondetailspagelocationcomp {
        height: 280px;
        background-color: #e60f1a;
        padding-top: 11px;
        .sdp-left-template {
            padding: 20px 40px 37px;
            background-color: #707070;
            height: 100%;
            margin-bottom: 0;
            margin-top: 11px;
            display: flex;
            flex-wrap: wrap;
            @media screen and (max-width: 1200px) and (min-width:768px){
                padding: 30px 15px;
            }
        }
        a.btn.btn-primary.btn-lg {
            display: none;
        }
        section.locations.map-directions.pull-left {
            @media screen and (max-width: 1200px) and (min-width:768px){
                width: 100%;
            }
             @media screen and (max-width:768px){
                width: 100%;
            }
            //width: 100%;
        }
        section.col-sm-12.col-md-5.col-block {
            width: 55%;
            float: right;
            @media screen and (max-width: 1200px) and (min-width:768px){
                width: 62%;
                display: none;
            }
            @media(max-width:768px){
              //  width: 62%;
                display: none;
            }
            .store-hours.sdp-store-hours {
                font-family: Roboto;
                font-size: 18px;
                font-weight: 500;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: normal;
                text-align: justify;
                color: #f5f5f5;
            }
        }
    }
    div#waittimecallnow {
        display: none !important;
    }
    span#checkClosednowSDPFriday {
        font-size: 11px;
        position: absolute;
        font-weight: 500;
        right: -10px;
        color: #e60f1a !important;
        line-height: 2;
    }
}
.checkin-component{
    .row:nth-child(2) {
        @media screen and (max-width: 1200px) and (min-width:768px){
            display: flex;
        }
        .col-md-6.col-block {
            @media screen and (max-width: 1200px) and (min-width:768px){
                width: 50%;
            }
            .saloncheckindetails {
                @media screen and (max-width: 1200px) and (min-width:768px){
                    width: 277px;
                }
            }
        }
        .checkin-component .row:nth-child(2) .col-md-4.col-md-offset-2 {
            /* margin-left: 0; */
            @media screen and (max-width: 1200px) and (min-width:768px){
                width: 50%;
            }
            div#map-canvas {
                @media screen and (max-width: 1200px) and (min-width:768px){
                    min-width: 276px;
                }
            }
        }
        .col-md-4.col-md-offset-2 + .row{
            margin: 0;
        }
    }
}
@media(max-width: 768px){
    .magicuts-row:nth-child(4), .magicuts-row:nth-child(5) {
        padding: 0 30px !important;
    }
}
//hero text alignment with header
.contentColoredParsys.parsys:nth-child(1) {
    .container {
        padding: 0;
        .textandimage .imgtxt-box.txtalign-center{
            padding: 0;
        }
        .alert-message{
        text-align: center;
        }
    }
}
.salondetailspagelocationcomp{
    section.locations.map-directions.pull-left {
        width: 45%;
        .check-in.col-md-6 {
            width: 100%;
        }
        span#store-title-fch {
            display: block !important;
            font-family: Roboto;
            font-size: 18px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: left;
            color: #f5f5f5;
            padding: 0;
            height: max-content;
            margin-bottom: 28px;
        }
        .vcard {
            padding-top: 0;
            a {
                color: #f5f5f5;
            }
        }
        span#store-title-fch + p{
            margin-bottom: 0px;
        }
        span.street-address {
            font-family: Roboto;
            font-size: 18px;
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: left;
            color: #f5f5f5;
            display: unset;
            &:before{
                content: '';
                padding-right: 0;
            }
        }
        .telephone{
            background: none;
            padding-left: 0;
        }
        a#sdp-phonefch {
            font-family: Roboto;
            font-size: 18px;
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: left;
            color: #f5f5f5;
        }
    }
    .checkinCTA {
        width: 100%;
        a.checkinLink {
            font-family: Roboto;
            font-size: 18px;
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: left;
            color: #f5f5f5;
            text-decoration: underline;
            @media screen and (max-width: 1200px) and (min-width:768px){
               font-size: 18px;
            }
             @media screen and (max-width:768px){
                font-size: 20px;
            }
        }
        .col-sm-12.col-md-6{
            padding: 0;
        }
        a#checkinDir,#salonDetailsGetDirections{
            background-image: url(/content/dam/firstchoice/checkinIcons/directions_iconfch.png);
            background-position: left;
            padding-left: 25px;
            background-repeat: no-repeat;
        }
        a#checkinLoc{
            background-image: url(/content/dam/firstchoice/checkinIcons/location_iconfch.png);
            background-position: left;
            padding-left: 25px;
            background-repeat: no-repeat;
        }
    }
}
span.emailfch, span.phonefch {
    font-family: Roboto;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    display: block;
    max-width: 228px;
    margin-right: 0;
    margin-left: auto;
    color: #707070;
    margin-top: -35px;
    
}
span.phonefch {
    max-width: 190px;
}
span.emailfch, span.phonefch {
    @media(max-width: 1200px) and (min-width: 768px){
        width: 120px;
        margin-top: -40px;
        line-height: 1;
    }
    @media(max-width: 767px){
        width: 190px
    }
}
input#checkinemail.focus-visible span.emailfch {
    display: none;
}
.has-success{
    span.emailfch, span.phonefch {
        display: none !important;
    }
}
//selected service font size
.saloncheckindetails .checkin-user-details .multiselect span.text.checkedText {
    font-weight: 600;
    font-size: 21px;
    line-height: 1;
}
@media(max-width: 1200px) and (min-width: 768px){
    .saloncheckindetails .checkin-user-details .magicuts-row:nth-child(3) {
        padding: 0 15px;
    }
    .saloncheckindetails .checkin-user-details .magicuts-row {
        padding: 0 19px;
        padding: 0 !important;
    }
    .saloncheckindetails .checkin-user-details .select-group {
        height: 43px;
        padding: 0 15px;
    }
    .saloncheckindetails .checkin-user-details .magicuts-row:nth-child(3) .col-xs-12.col-sm-12.form-group {
        padding: 0 15px;
    }
    .saloncheckindetails .checkin-user-details button.btn.btn-sm.BsoForm-But.magicForm-But {
    width: 248px;
    }
}
@media (max-width: 767px){
    .checkin-component .row:nth-child(2) .col-md-6.col-block {
        width: 100%;
        padding: 0;
    }
}
//139 -- additional dropdownn appearing
select#checkinGuestList {
    display: none;
}
//hiding title info
.checkin-user-details legend.contact-info-title {
    display: none;
}