.contact-us.container, .products-container .container {
    max-width: 1140px;

    height: max-content;
    @media(max-width: 768px){
        max-width: 100%;
        width: 100%;
        margin: auto;
    }

}
.contact-us-form {
    max-width: 1140px;
    width: 100%;
    margin: auto;
    @media(max-width: 768px){
        max-width: 100%;
        width: 100%;
        margin: auto;
    }
    select , input{
        border: 0;
        border-bottom: 2px solid #555;
        border-radius: 0;
        height: 40px;
        width: 100%;
        font-family: Roboto;
        font-size: 21px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: #464646;
        // padding: 6px 35px 0px 10px;
        appearance: none;
        -webkit-appearance:none;
        &:focus{
            outline: 0;
            box-shadow: 0px 1px 1px 0px;
        }
    }
    .has-success .form-control {
        border-color: #5f6167;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    p.error-msg {
        color: #e6041a;
    }
    select {
        background: url(/content/dam/firstchoice/arrow-down.png) right center no-repeat;
        padding: 6px 35px 0px 10px;
    }
    .title2 {
        font-size: 25px;
        text-transform: capitalize;
    }

    textarea {
        resize: none;
    }

    select {
        line-height: 1;
        padding: 6px 12px;
    }
    select::-ms-expand {
        display: none;
    }
    .contactusdropdown, .salonselector,
    .textandimage, .servicedetails, .stylistfeedback, .mycontactinformation,
    .myaddresscomponent {
        margin-bottom: 20px;
        overflow: hidden;
        height: auto;
    }

    .salonselector {
        padding: 0 20px;
    }

    .salonselectoradvanced{
        .added-salons-container{
            background:none;
        }
    }

    .mycontactinformation, .myaddresscomponent {
        background-color: none;
    }

    .servicedetails {
        .form-control {
            img {
                width: 100%;
            }
        }
        .ui-datepicker-trigger {
            display: none;
        }
    }

    .img-text-comp {
        .img-container {
            padding-left: 10px;
            text-align: left;
        }

        .txtalign-left {
            padding-left: 10px;
        }

        img {
            width: auto;
        }
    }

    .added-salons-container {
        background-color: transparent;
    }

    .show-more-container .salon-type-condition-container {
        display: none !important;
    }

    .show-more-container .salon-type-condition-container .corporate-salon-conditions-container, .show-more-container .salon-type-condition-container .franchise-salon-conditions-container {
        display: none;
    }

    form > row > .col-md-12 {
        padding: 0;
    }

    .mycontactinformation .contact-info > .col-md-6 {
        padding-right: 20px;
        @media (max-width:992px) {
            padding-right: 10px;
        }
        h3 {
            padding-left: 0;
        }

        & > .col-md-12 {
            padding: 0;
        }
    }
}

@media (max-width:992px) {
    .contact-us-form {
        .salonselector{
            padding:0 20px;
        }
        .mycontactinformation, .myaddresscomponent {
            .form-group.col-md-6 {
                padding: 0;
            }
        }
    }
}

@media (min-width:320px) and (max-width:768px) {
    .contact-us-form {
        .salonselector{
            padding:0;
        }
    }
}
.contact-us-form .location-search-results.tab-content section.check-in{
    @media (max-width: 768px){
        display: contents;
    }
}
//section -- which salon do you visiit
//.contact-us-form + .row{ -- c1
.contactusdropdown + .title2 + .row{
    max-width: 1140px;
    margin: auto !important;
    .show-more-container.panel-group.accordion.salonselector-container-sa{
        background-color: #f5f5f5;
        div#salon-selector-module {
            border: 0;
        }
        div#show-more-Content {
            background-color: #f5f5f5;
            border: 0px;
        }
        //looking for locarion.. text
        .col-xs-12.col-sm-12.col-md-6.searchtxt{
            p {
                font-family: Roboto;
                font-size: 15.5px;
                font-weight: bold;
                height: 20px;
                font-stretch: normal;
                font-style: normal;
                line-height: 2.1;
                letter-spacing: normal;
                text-align: right;
                color: #464646;
                margin: 0px;
                @media(max-width: 768px){
                    text-align: left;
                    color: #464646;
                    margin: 10px 0;
                }
            }
        }
        //search field
        .col-xs-12.col-sm-12.col-md-6.searchfield{
            //saerch button
            span.input-group.srch-row .input-group-addon:last-child {
                display: table-cell;
                height: 30px;
                width: 164px;
                border: solid 2px #fb0000;
                font-family: Roboto;
                font-size: 17.5px;
                font-weight: bold;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: normal;
                padding: 0;
                text-align: center;
                color: #fb0000;
                background-color: #ffffff;
                @media(max-width: 768px){
                    width: 125px;
                    display: block;
                    margin: 10px auto 0;
                }
            }
            span.input-group-addon:nth-child(2) {
                display: none;
            }
            input#salonSearchAutocomplete {
                width: 322px;
                height: 30px;
                opacity: 0.6;
                font-family: Roboto;
                font-size: 13px;
                font-weight: 500;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: normal;
                text-align: left;
                color: #464646;
                border: solid 2px #707070;
                @media(max-width: 768px){
                    width: 100%;
                    display: block;
                }
            }

        }
        .location-search {
            position: relative;
            margin-top: 10px;
            margin-bottom: 10px;
            border: 0;
            BORDER-TOP: 1px solid black;
            p#salonSearchNoSalonsFound {
                color: #e6041a;
            }
        }

        .input-group {
            @media(max-width: 768px){
                position: relative;
                display: flex;
                flex-wrap: wrap;
                border-collapse: separate;
            }
        }
    }
    //location search salons alignment.. -- brgin
    .salonselectoradvanced .location-search div#salon-boxes section.check-in{
        width: 27.3%;
        margin: 0 20px;
    }
    .location-dtls .vcard .salon-distance{
        background: url(/apps/regis/clientlibs/firstchoice/clientlibs/publish-clientlibs/resources/images/Regis-Icons/Regis_distance.svg) no-repeat center left;
    }
    .salonselectoradvanced input[type=checkbox].css-radiobtn+label.css-label {
        margin-bottom: 0;
        border: 0;
        background-image: url(/apps/regis/clientlibs/firstchoice/clientlibs/publish-clientlibs/resources/images/Regis-Icons/Regis_radio.svg);
    }
    //location search salons alignment.. -- end
    //for selected salon close button.. 
    button.btn.close-btn.icon-close:before {
        content: '';
    }
}
div#main-content{
    .row{
        max-width: 1140px;
        margin: auto !important;
        select , input{
            border: 0;
            border-bottom: 2px solid #555;
            border-radius: 0;
            height: 40px;
            width: 100%;
            font-family: Roboto;
            font-size: 21px;
            font-weight: 600;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: left;
            color: #464646;
            background: transparent;
            appearance: none;
            -webkit-appearance:none;

            &:focus{
                outline: 0;
                box-shadow: 0px 1px 1px 0px;
            }
        }
        .multiselect #ddServicesFCH-cont input[type="checkbox"] {
            width: 20px;
            height: 20px;
            border: 2px solid;
            margin-top: 15px;
            appearance: auto;
        }
        select {
            // background: url(/content/dam/firstchoice/arrow-down.png) right center no-repeat;
            padding: 6px 35px 0px 10px;
        }
    }
    .servicedetails {
        padding: 20px 0;
        .form-group.col-md-12.clearfix:nth-child(1) {
            position: relative;
            button.ui-datepicker-trigger {
                position: absolute;
                top: 26px;
                left: 14px;
                border: 0;
                width: 40px;
                padding: 0;
                background: transparent;
                height: 30px;
                img {
                    width: 100%;
                    display: none;
                }
            }
        }
    }
    input#cta-submit-button {
        width: 332px;
        height: 44px;
        border: solid 2px #fb0000;
        background-color: #ffffff;
        font-family: Roboto;
        font-size: 26px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 0;
        letter-spacing: normal;
        text-align: center;
        color: #fb0000;
        margin: 10px auto;
        @media(max-width: 768px){
            width: 90%;
        }
    }
    .my-address{
        .col-md-12:nth-child(4) {
            .form-group.col-md-6 {
                @media(max-width: 768px){
                    padding: 0;
                }
            }
            .form-group.col-md-6:nth-child(1){
                padding-left: 0;
            }
            .form-group.col-md-6:nth-child(3){
                padding-right: 0;
            }
        }
    }
    .contact-info{
        .col-md-6.col-xs-12 {
            padding-left: 0;
        }
    }
}

//calendar UI
div#ui-datepicker-div {
    background: white;
    border: 2px solid #ddd;
    background: #fff;
    border-radius: 3px;
    color: #333;
    padding: 5px;
    width: 200px;
}
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
    position: absolute;
    top: 4px;
    width: 1.4em;
    height: 1.6em;
    color: transparent;
    border: 2px solid black;
}
a.ui-datepicker-next.ui-corner-all.ui-state-disabled {
    margin-right: 0;
    margin-left: auto;
    right: 4px;
    color: transparent;
    border: 2px solid black;
}
table.ui-datepicker-calendar {
    width: 100%;
    td{
        border: 0;
        padding: 1px;
    }
    .ui-state-default {
        border: 1px solid #c5c5c5;
        background: #f6f6f6;
        font-weight: normal;
        color: #454545;
        display: block;
        padding: .2em;
        text-align: right;
        text-decoration: none;
    }
    .ui-state-highlight {
        border: 1px solid #dad55e;
        background: #fffa90;
        color: #777620;
    }
    .ui-state-disabled {
        opacity: .35;
        filter: Alpha(Opacity=35);
        background-image: none;
    }
}
button.ui-datepicker-close.ui-state-default.ui-priority-primary.ui-corner-all {
    float: right;
    margin: .5em .2em .4em;
    cursor: pointer;
    padding: .2em .6em .3em .6em;
    width: auto;
    overflow: visible;

}
.ui-datepicker-title {
    width: max-content;
    margin: auto;
}
.ui-widget-header {
    border: 1px solid #ddd;
    background: #e9e9e9;
    color: #333;
    font-weight: bold;
}

//Registration page styling
.registration {
    width: 100%;
    max-width: 1440px !important;
    .new-container {
        margin: auto;
        max-width: 1140px;
        input{
            border: 0;
            border-bottom: 2px solid #555;
            border-radius: 0;
            height: 40px;
            font-family: Roboto;
            font-size: 21px;
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: left;
            color: #464646;
            -webkit-appearance:none;
            &:focus{
                outline: 0;
                box-shadow: 0px 1px 1px 0px;
            }
        }
        input#confirmPassword {
            &:focus{
                border: 0;
                border-bottom: 2px solid #555;
            }
        }
        p#emailErrorAD {
            color: #e60f1a;
        }
        label {
            display: none;
        }
        .col-md-12.form-group {
            padding-left: 0;
        }
        .col-md-7.form-group.phone-chk label.col-md-6 {
            display: block;
        }
        .gender-chk label{
            display: block;
        }
        fieldset.col-md-12.custom-width {
            padding-left: 0;
        }
        select#gender-sel, select#phone-sel {
            border: 0;
            border-bottom: 2px solid #555;
            border-radius: 0;
            height: 40px;
            width: 100%;
            font-family: Roboto;
            font-size: 21px;
            font-weight: 600;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: left;
            color: #464646;
            appearance: none;
            -webkit-appearance:none;
            &:focus{
                outline: 0;
                box-shadow: 0px 1px 1px 0px;
            }
        }
        select {
            background: url(/content/dam/firstchoice/arrow-down.png) right center no-repeat;
            padding: 6px 35px 0px 10px;
        }
        .has-success .form-control {
            border-color: #5f6167;
            -webkit-box-shadow: none;
            box-shadow: none;
        }
        p.error-msg {
            color: #e6041a;
        }
        .phone-section{
            .col-md-5.form-group {
                padding-left: 0;
            }
        }
    }
    .flowwrapper.section {
        .col-md-12.col-xs-12{
            max-width: 1440px;
            margin: auto;
            padding: 0;
        }
        .row {
            max-width: 1440px !important;
            margin: auto !important;
            display: grid;
        }
        h2.h2.col-md-12.col-xs-12 {
            font-size: 46px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: left;
            color: #464646;
            max-width: 1140px;
            margin: auto;
            padding: 0;
            @media(max-width: 1200px) and (min-width:768px){
                font-size: 30.5px;
                margin-left: 35px;
            }
            @media(max-width: 767px){
                font-size: 26px;
            }
        }
        h4.h4.col-md-12.col-xs-12 {
            font-size: 14px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: left;
            color: #464646;
            max-width: 1140px;
            margin: 30px auto;
            padding: 0;
        }
        div#salon-selector-module{
            background-color: #f5f5f5;
            margin-top: 27px;
        }
        div#show-more-Content {
            max-width: 1140px;
            margin: auto;

            .search-title {
                font-family: Roboto;
                font-size: 16px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: normal;
                text-align: left;
                color: #464646;
            }
        }
        input#salonSearchAutocomplete {
            width: 325px;
            height: 40px;
            opacity: 0.6;
            border: solid 2px #707070;

            border-radius: 4px 0 0 4px;
            border-right: 0;
            font-size: 18px;
            font-weight: 500;
            background: white;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: left;
            color: #464646;
            @media(max-width: 768px){
                width: 100%;
                margin: auto;
                border: solid 2px #707070;
                border-radius: 4px ;
            }
        }
        input#salonSearchAutocomplete::placeholder {
            color: black;
        }
        span.input-group.srch-row {
            width: 100%;
        }
        span.input-group.srch-row .input-group-addon:last-child {
            /* display: none; */
            height: 40px;
            border: solid 2px #e60f1a;
            background-color: #ffffff;
            display: grid;
            width: 175px;
            font-family: Roboto;
            font-size: 24px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            letter-spacing: normal;
            text-align: center;
            color: #e60f1a;
            border-radius: 0 4px 4px 0;
            @media (max-width: 768px){
                margin: auto;
                margin-top: 50px;
                border-radius: 4px;
            }
        }
        span.input-group-addon {
            display: none;
        }
        .searchtxt p {
            text-align: right;
            font-family: Roboto;
            font-size: 21px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: 40px;
            letter-spacing: normal;
            color: #464646;
            text-transform: uppercase;
            @media(max-width: 1200px) and (min-width: 768px){
                font-size: 15.5px;
            }
            @media (max-width: 767px){
                font-size: 26px;
                text-align: left;
            }
        }
    }
    .salonselectoradvanced .location-search div#salon-boxes section.check-in{
        width: 30%;
        margin: 0px 25px 0 0;
        margin-right: auto;
    }
    .location-dtls .vcard .salon-distance{
        background: url(/apps/regis/clientlibs/firstchoice/clientlibs/publish-clientlibs/resources/images/Regis-Icons/Regis_distance.svg) no-repeat center left;
        display: none;
    }
    .salonselectoradvanced input[type=checkbox].css-radiobtn+label.css-label {
        margin-bottom: 0;
        border: 0;
        width: 21px;
        height: 21px;
        padding: 0;
        border: solid 2px #707070;
        background-image: none;
        margin: 0;
    }
    .location-search-results.tab-content {
        margin-top: 30px;
    }
    .location-dtls .vcard {
        margin-left: 30px;
        padding-top: 4px !important;
        padding: 0;
    }
    .cta-arrow{
        display: none !important;
    }
    .panel-body {
        padding-top: 2.2ex;
        padding-bottom: 32px !important;
    }
    button.btn.close-btn.icon-close{
        &:before{
            content: '';
        }
    }
    .aboutyoucomponent{
        .custom-width {
            padding-left: 0;
            padding-right: 0;
        }
        .form-group {
            padding-left: 0;
            background: url(/content/dam/firstchoice/arrow-down.png) right no-repeat;
            background-position-y: 10px;
            background-position-x: 98%;
            padding-right: 0;
            input#phone {
                padding-right: 20px !important;
            }
        }

        .col-md-12.form-group.gender-chk{
            background-position-x: 94%;
        }
        .col-md-12.form-group.firstName_div {
            background-position-y: 35px;
        }
        .col-md-7.form-group.phone-chk {
            background-position-x: 94% !important;
        }
        .col-md-5.form-group {
            padding-right: 15px;
        }
        //phone section
        legend.col-md-12.form-group {
            margin: 0 !important;
        }
    }
    .location-search {
        margin-bottom: 63px;
        border: 0;
        padding-left: 6px;
    }
    .show-more-container.added-salons {
        max-width: 1140px;
        margin: auto;
        .locations.map-directions {
            padding: 11px;
        }
    }
    .aboutyoucomponent.integrationcomp.section {
        margin-bottom: 80px;
    }
    //login info text and about you text
    .acs-commons-resp-colctrl-col-50{
        @media(max-width: 1200px) and (min-width: 768px){
            width: 50%;
        }
        h2.h2.col-md-12.col-xs-12 {
            margin-bottom: 40px !important;
        }
    }
    .acs-commons-resp-colctrl-row.section {
        @media(max-width: 1200px) and (min-width: 768px){
            padding: 0 35px;
        }
    }
    .phone-section{
        fieldset{
            @media(max-width: 1200px){
                display : flex;
            }
            .col-md-5.form-group {
                width: 60%;
            }
            .col-md-7.form-group.phone-chk {
                width: 40%;
            }
        }
        legend.col-md-12.form-group{
            background: none;
        }


    }
}
div#show-more-Content{
    .panel-body{
        @media(max-width: 1200px) and (min-width: 768px){
            display: flex;
            flex-wrap: wrap;
        }
        .row{
            @media(max-width: 1200px) and (min-width: 768px){
                width: 100%;
            }

        }
        .searchtxt{
            @media(max-width: 1200px) and (min-width: 768px){
                width: max-content;
            }
        }
        .searchfield{
            @media(max-width: 1200px) and (min-width: 768px){
                width: auto;
                padding-right: 0;;
            }
            span.input-group.srch-row {
                input#salonSearchAutocomplete {
                    width: 240px;
                    border-radius: 4px 0 0 4px;
                    border-right: 0;
                }
                .input-group-addon:last-child{
                    width: 164px;
                    margin-top: 0;
                    border-radius: 0 4px 4px 0;
                }
            }
        }
    }
}

.submitBTN.ctabutton {
    max-width: 1440px;
    margin: auto;
    input#cta-submit-button {
        width: 298px;
        margin: auto;
        height: 44px;
        border: solid 2px #e60f1a;
        background-color: #ffffff;
        font-family: Roboto;
        font-size: 21px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        letter-spacing: normal;
        color: #e60f1a;
        margin-bottom: 10px;
    }
}
div#salon-boxes {
    flex-wrap: wrap;
    display: flex;
}
.has-error .form-control{
    box-shadow: 0 0 black;
}
input:focus {
    outline: 0;
    box-shadow: 0 0 black;
}
.displayLabel, .phone-label{
    display: block !important;
    font-family: Roboto;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #464646;
    margin-bottom: 20px;
    @media(max-width: 1200px) and (min-width: 768px){
        font-size: 14.5px;
    }
    @media(max-width: 768px){
        font-size: 14px;
    }
}
.phone-label{
    margin-top: 32px;

}
input#firstName {
    margin-top: 26px !important;
    @media(max-width: 1200px) and (min-width: 768px){
        margin-top: 35px !important;
    }
    @media(max-width: 767px){
        margin-top: 0px !important;

    }
}
.reminder-subscription {

    display: flex;
    margin: 0 5px;
    padding: 21px 28px 25px;
    border: solid 2px #707070;
    background-color: #ffffff;
    margin-bottom: 40px;
    input#reminder-check {
        position: inherit;
        width: 21px !important;
        height: 21px !important;
        border: solid 2px #707070 !important;
        background-color: #ffffff !important;

    }
}
@media(max-width: 1200px) and(min-width: 768px){

    .registration{
        .flowwrapper.section{
            //login information text alignment
            h2.h2.col-md-12.col-xs-12 {
                // font-size: 30.5px;
                margin-left: 0;
            }
            h4.h4.col-md-12.col-xs-12{
                margin-left: 35px;
            }
        }

        .logininfo{
            //login field alignment
            .col-md-12{
                padding-left: 0;
            }
        }
        .flowwrapper.section:nth-child(4){
            //your preffered salon alignment
            h2.h2.col-md-12.col-xs-12 {
                // font-size: 30.5px;
                margin-left: 35px;
            }
            .location-search-text.col-xs-12.col-sm-5.col-md-12 {
                width: 100%;
            }

        }
        div#show-more-Content .panel-body {
            display: flex;
            flex-wrap: wrap;
            padding: 20px 35px;
            .searchtxt{
                padding: 0;
                p {
                    font-size: 15.5px;
                    text-align: left;
                }
            }
        }
        div#salon-boxes section.check-in {
            width: 50% !important;
            margin: 0px 25px 0 0;
            margin-right: auto;
        }
    }
}
@media(max-width: 767px){
    .contentColoredParsys{
        .colouredparsyscomponent{
            .img-text-comp.theme-default {
                padding: 0 2px 0 5px;
            }
            .imgtxt-box .h2 {
                font-family: "roboto", sans-serif;
                font-size: 21px !important;
                font-weight: bold;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: -0.21px;
                text-align: left;
                color: #e60f1a;
            }
            .imgtxt-para p{
                font-family: Roboto;
                font-size: 16px !important;
                font-weight: normal !important;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: normal;
                text-align: left;
                color: #464646;
            }
        }
    }
    .registration{
        .flowwrapper.section h4.h4.col-md-12.col-xs-12 {
            padding: 0 17px;
        }
        .logininfo{
            //login field alignment
            .col-md-12{
                padding: 0 !important;
                .col-md-12.form-group {
                    padding-right: 20px !important;
                }
            }
        }
        .aboutyoucomponent{
            .row.grey-background {
                .row {
                    .col-md-12{
                        padding: 0 17px 0 0;
                        .col-md-12.form-group {
                            padding-right: 0px;
                        }
                    }
                }
                .phone-section.col-md-12 {
                    padding: 0 17px 0 0;
                }
                .col-md-12.form-group.gender-chk{
                    fieldset.col-md-12 {
                        padding: 0 ;
                    }
                }
            }
        }
        .flowwrapper.section:nth-child(4){
            //your preffered salon alignment
            h2.h2.col-md-12.col-xs-12 {
                // font-size: 30.5px;
                padding: 0 17px;
            }
            .location-search {
                padding-left: 0;
            }

        }
        div#show-more-Content .panel-body {
            padding: 0;
            padding: 17px;
            .searchtxt{
                text-align: center;
                p {
                    font-size: 15.5px;
                    text-align: left;
                }
            }
        }
        .searchfield{
            padding: 0;
        }
        div#show-more-Content .panel-body .searchfield span.input-group.srch-row input#salonSearchAutocomplete{
            width: 240px;
            border-radius: 4px;
            // border-right: 0;
            width: 328px;
            height: 40px;
            border: solid 2px #e60f1a;
            margin-bottom: 26px;
        }
        div#show-more-Content .panel-body .searchfield span.input-group.srch-row .input-group-addon:last-child{
            border-radius: 4px;
            width: 219px;
            height: 40px;
        }


    }
    .registration .salonselectoradvanced .location-search div#salon-boxes section.check-in {
        width: 100%;
        .vcard {
            .store-title {
                color: #464646;
                font-family: 'roboto', 'sans-serif';
                letter-spacing: 0;
                font-weight: bold;
                font-size: 21px;
            }
            span.ph-no.ph-no{
                a{
                    font-family: 'roboto', 'sans-serif';
                    font-size: 18px;
                    font-weight: 600;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: normal;
                    letter-spacing: normal;
                    text-align: left;
                    color: #464646;
                }
            }
            span.street-address.salon-addr {
                font-family: 'roboto', 'sans-serif';
                font-weight: 600;
                font-size: 18px;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: normal;
                text-align: left;
                color: #464646;
            }
        }
    }
}
input#reminder-check {
    appearance: auto !important;
}
//locations card alignment.
.added-salons-container .check-in{
    margin: 10px 14px 30px 5px; 
    @media(max-width:767px){
        width: 80%;
        margin: 30px 14px 30px 30px;
    }
}
.contact-us.container{
    margin-top:100px;
    margin-bottom: 50px;
    padding: 0;
    @media(max-width: 767px){
        margin-bottom: 50px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .form-group.col-md-6.singleDropdownDeciderClass {
        padding: 0;
    }
    .salonselector.salonselectoradvanced {
        padding: 0;
        .location-search div#salon-boxes section.check-in{
            width: 30%;
            margin: 0px 25px 0 0;
            margin-right: auto;
        }
        .location-dtls .vcard .salon-distance{
            background: url(/apps/regis/clientlibs/firstchoice/clientlibs/publish-clientlibs/resources/images/Regis-Icons/Regis_distance.svg) no-repeat center left;
            display: none;
        }
        input[type=checkbox].css-radiobtn+label.css-label {
            margin-bottom: 0;
            border: 0;
            width: 21px;
            height: 21px;
            padding: 0;
            border: solid 2px #707070;
            background-image: none;
            margin: 0;
        }
        .location-search-results.tab-content {
            margin-top: 30px;
        }
        .location-dtls .vcard {
            margin-left: 30px;
            padding-top: 4px !important;
            padding: 0;
        }
        .cta-arrow{
            display: none !important;
        }
        .panel-body {
            padding-top: 2.2ex;
            padding-bottom: 32px !important;
        }
        button.btn.close-btn.icon-close{
            &:before{
                content: '';
            }
        }
        .added-salons-container .check-in {
            margin: 10px 14px 30px 5px;
            width: 35%;
            @media(max-width: 767px){
                width: 95%;
            }
        }
        
    }
    .img-text-comp .txtalign-left {
        padding-left: 0;
    }
    .col-md-6{
        padding: 0;
        .form-group{
            padding: 0;
        }
    }
    .col-md-12{
        padding: 0;
    }
    .myaddresscomponent{
        .col-md-12{
            padding: 0;
        }
    }
    div#show-more-Content {
        background-color: #f5f5f5;
        border: 0px;
        @media(max-width: 767px){
            padding: 0 10px;
        }
    }
    .panel-body  {
        width: 100%;
        margin-top: 0px !important;
        // display: flex;
        @media(max-width: 768px){
            flex-wrap: wrap;
            padding: 0;
        }
        .searchtxt p{
            font-family: Roboto !important;
            font-size: 30px !important;
            font-weight: bold !important;
            font-stretch: normal !important;
            font-style: normal !important;
            line-height: normal !important;
            letter-spacing: normal;
            // text-align: right;
            
            padding-right: 20px;
            text-align: left;
            color: #464646;
            width: 45%;
            margin-top: 0;
            width: max-content;
            margin-left: auto;
            margin-right: 0;
            @media(max-width: 1200px) and (min-width: 768px){
                width: 100%;
                //order: 2;
                font-size: 24px;
                line-height: 2;
                text-align: center;
            }
            @media(max-width: 767px){
                //  flex-wrap: wrap;
                width: 100%;
                font-size: 20px !important;
                text-align: center;
            }
        }
        .input-group{
            @media(max-width: 1200px) and (min-width: 768px){
                margin: auto;
                margin-top: 16px;
            }
            @media(max-width: 767px){
                width: 100%;
            }
           /* .search-wrapper{
                @media(max-width: 767px){
                    width: 100%;
                    display: flex;
                }*/
                input#salonSearchAutocomplete {
                    width: 339px !important;
                    font-size: 18px !important;
                    height: 40px !important;
                    background: #fcfcfc !important;
                    border: 2px solid #7070707d !important;
                    border-right: 0 !important;
                    border-radius: 4px 0 0 4px !important;
                    @media(max-width: 1200px) and (min-width: 768px){
                        width: 368px !important;
                    }
                    @media(max-width: 767px){
                        width: 100% !important;
                        font-size: 14px !important;
                        border: solid 2px #707070 !important;
                        margin: auto;
                        //border-right: initial !important;
                    }
                }

         	  /* .input-group-btn{
                @media(max-width: 767px){
                    width: 100%;
                    display: flex;
                }*/
               .location-search-bt {
                    width: 226px;
                    font-size: 24px;
                    font-weight: bold;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 0;
                    height: 40px;
                    letter-spacing: normal;
                    text-align: center;
                    border: solid 2px #e60f1a;
                    color: #e60f1a;
                    border-radius: 0 4px 4px 0;
                    @media(max-width: 1200px) and (min-width: 768px){
                        width: max-content;
                    }
                    @media(max-width: 767px){
                        width: max-content;
                        font-size: 16px;
                        margin: auto;
                    margin-top: 27px !important;
                    }
                }

        }
    }
}
@media (max-width: 1200px) and (min-width: 768px){
.contact-us-form {
    max-width: 94% !important;
}
}

//Alignment of field in registration page. 
.registration .aboutyoucomponent .col-md-12.form-group.firstName_div {
    background-position-y: 35px;
    margin-top: 16px;
}
//input checkbox >> register page>> lakeland location. 
.reminder-subscription input.css-checkbox {
    position: inherit;
    width: 21px !important;
    height: 21px !important;
    border: solid 2px #707070 !important;
    background-color: #ffffff !important;
    appearance: auto !important;
}

//143 -- salon card
.contact-us.container .salonselector.salonselectoradvanced .added-salons-container .check-in{
    border: 1px solid #e60f1e !important;
    padding: 15px 0 26px 0;
    background: #fff;
    float: left;
    width: 23%;
    margin: 30px 14px 30px 5px;
    box-shadow: 2px 2px 3px #888;
    overflow: visible;
    position: relative;
    max-width: 218px;
    .vcard{
        padding: 0 10px;
        width: 88%;
        .store-title{
            line-height: 20px;
            margin-bottom: .25ex;
            min-height: 35px;
            display: inline-block;
            text-transform: uppercase;
            cursor: pointer;
            font-size: 18px;
        }
        span.street-address, span.telephone {
            color: black;
            font-size: 14px;
            margin-top: 0;
            float: left;
            display: inline;
            width: auto;
            line-height: 1;
            display: inline-block;
            margin-bottom: .25em;
            clear: both;
        }
        .miles {
            float: left;
            width: 100%;
            .distance {
                float: none;
                text-align: left;
                color: #5f6167;
                font-size: 14px;
                background: 0;
                padding-left: 0;
                display: inline-block;
                margin-top: 0;
                line-height: 1;
                margin-bottom: .25em;
            }
        }
        .btn:focus, .btn:active:focus, .btn.active:focus {
            outline: thin dotted;
            outline: 0;
            outline-offset: -2px;
        }
    }
}