.acs-commons-resp-colctrl-col-50.mob-view{
    @media screen and (max-width: 1200px) and (min-width:768px){
        width: 100%;
    }
}
.styles-advice{
    p.img-desc {
        padding: 20px 20px 0;
        color: white;
        font-size: 16px;
        min-height: 85px;
    }
    .media{
        a:hover, a:focus {
            //color: #c8102e;
            text-decoration: none;
        }
        img{
            max-height: 420px;
            width: 100%;
            height: 100%;
            min-height: 380px;
            @media(max-width: 1000px){
                max-height: none;
                width: 100%;
                min-height: unset;
                max-height: 340px;
            }
            @media(max-width: 768px){
                max-height: none;

            }
            @media screen and (max-width: 1200px) and (min-width:768px){
                height: 384px;
            }
        }
    }
    .style-desc{
        padding: 0 0px 25px;
        border-top: 2px solid;
        border-image: linear-gradient(to right, rgb(234, 238, 239), 90%, transparent);
        border-image-slice: 1;
        max-width: 90%;
        margin: auto;
        //margin:
        a:hover, a:focus {
            //color: #c8102e;
            text-decoration: none;
        }
        a {
            display: flex;
            img {
                vertical-align: middle;
                order: 2;
                width: auto;
                margin-right: 0;
                background: white;
                margin-left: auto;
                padding: 10px 15px;
                border-radius: 0 12px;
                max-width:110px;
            }
            .style-text{
                color: white;
                width: 70%;
                padding: 20px 0;
                min-height: 130px;
                @media(max-width: 1000px){
                    min-height: 145px;
                }
                @media(max-width: 800px){
                    min-height: 165px;
                }
                @media(max-width: 768px){
                    min-height: auto;
                }
                .h4 {
                    font-size: 15px;
                    font-weight: 700;
                }
                p {
                    margin: 0 0 10px;
                    font-size: 15px;
                }
            }
        }
    }
}
//hairstyle- 33- padding alignment
//.heroImageCarousel +.section + .section +.section + .acs-commons-resp-colctrl-row.section{
.heroImageCarousel +.section + .section  + .acs-commons-resp-colctrl-row.section{
    //.textoverresponsiveimage +.section + .section + .acs-commons-resp-colctrl-row.section{
    .acs-commons-resp-colctrl-col-33{
        padding : 0px;
        @media screen and (max-width: 1200px) and (min-width:768px){
            width: 50%;
        }
    }
    .acs-commons-resp-colctrl-col-33:first-child{
        padding-left : 15px;
    }
    .acs-commons-resp-colctrl-col-33:last-child{
        padding-left : 0px;
        @media screen and (max-width: 1200px) and (min-width:768px){
            display:none;
        }
    }
    .styles-advice .media img {
        max-height: 420px;
        width: 100%;
        height: 100%;
        min-height: 382px;
        @media(max-width: 768px){
            min-height: 270px;
        }
    }
    p.img-desc {
        font-size: 28px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: #ffffff;
    }
    a .style-text .h4 {
        font-size: 15px;
        font-weight: 700;
        font-size: 14px;
        font-weight: 900;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: #ffffff;
    }
    a .style-text p {
        margin: 0 0 10px;
        font-size: 15px;
        font-size: 16px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: #ffffff;
    }
}
//carrers-- col-6-, col-40 padding: alignment
/*.textoverresponsiveimage + .section +.section + .acs-commons-resp-colctrl-row.section   +.htmlcoder.section+ .responsivegrid + .htmlcoder.section+ .text.section+ .acs-commons-resp-colctrl-row.section{
.acs-commons-resp-colctrl-col-60 {
padding: 0px !important;
}
.acs-commons-resp-colctrl-col-40 {
padding: 0px !important;
}
}*/
.fchcontent {
    .new-row {
        margin: 0;
    }
    .acs-commons-resp-colctrl-col-60 {
        padding: 0px;
        .htmlcoder{
            div{
                min-height: 507px !important;
                background: black;
                padding: 0;
                @media(max-width:768px){
                    min-height: unset !important;
                }
            }
        }
        iframe {
            //  min-height: 507px !important;
            // background: black;
            @media screen and (max-width: 1300px) and (min-width:1200px){

                padding: 40px 0;
            }
            @media(max-width:768px){
                min-height: unset !important;
            }
        }
        //for ipad view
        @media screen and (max-width: 1200px) and (min-width:768px){
            width: 100%;
        }
    }
    .acs-commons-resp-colctrl-col-40 {
        padding: 0px;
        //for ipad view
        @media screen and (max-width: 1200px) and (min-width:768px){
            width: 100%;
            margin-top: 0rem!important;
        }
        .colouredparsyscomponent{
            padding-top: 15px;
            @media screen and (max-width: 1200px) and (min-width:768px){
                padding-top: 0px;

            }

        }
        //html code button at career section
        .acs-commons-resp-colctrl-col-50 {
            @media(max-width: 768px){
                width: 50%;
                margin: 0;
                padding: 0;
            }
        }
        .colouredparsys.parsys {
            padding: 10px 55px 29px;
            max-height: 507.1px;
            @media screen and (max-width: 1300px) and (min-width:1200px){
                padding: 10px 35px 29px;

            }
            @media (max-width: 768px){
                height: auto;
                max-height: unset;
                padding: 36px 37px;
            }
            .text.section{
                padding: 10px 0px 10px;
                @media screen and (max-width: 1200px) and (min-width:768px){
                    display: flex;
                }
                h1{
                    font-size: 30px;
                }
                h3{
                    min-height: 250px;
                    //height: 250px;
                    font-size: 20px;
                    @media screen and (max-width: 1300px) and (min-width:1200px){
                        min-height: 215px;
                    }
                    @media screen and (max-width: 1200px) and (min-width:768px){
                        width: 50%;
                    }
                }
                h1{
                    @media screen and (max-width: 1200px) and (min-width:768px){
                        width: 50%;
                        min-height: auto;
                    }
                }
            }
            //for careers button display in ipad
            .text.section + .acs-commons-resp-colctrl-row{
                .acs-commons-resp-colctrl-col-50{
                    @media screen and (max-width: 1200px) and (min-width:768px){
                        width: 25%;
                        // min-height: auto;
                    }
                }
            }
            .htmlcoder.section {
                height: 80px;
                h4{
                    text-align: left;
                    @media(max-width: 767px){
                        text-align: center;
                    }
                }
            }
            .acs-commons-resp-colctrl-row{
                .acs-commons-resp-colctrl-col-50{
                    //  border-top: 1px solid white;
                }
            }
        }
    }
}
//careeers -- apply now button
span.cta-to-stores {
    background: white;
    padding: 6px 45px;
    color: #e60f1a;
    font-weight: 600;
    white-space: nowrap;
    @media(max-width: 970px){
        padding: 10px 39px;
    }
    @media(max-width: 768px){
        width: 135px;
        padding: 10px 15px;
        font-family: Roboto;
        font-size: 14.5px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: #fb0000;
    }
}
//careeers -- learn more button
span.cta-to-storesbg {
    padding: 5px 30px;
    background: transparent;
    border: 2px solid white;
    color: white;
    white-space: nowrap;
    @media(max-width: 970px){
        margin-left: 20px;
    }
    @media(max-width: 970px){
        padding: 8px 25px;
        margin-left: 0px;
    }
    @media(max-width: 768px){
        width: 135px;
        padding: 10px 15px;
        font-family: Roboto;
        font-size: 14.5px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        //color: #fb0000;
    }
}
//text and video && text and image in homepage.

.textandimage{
    // padding: 10px 0;
    //added for text and image alignment in hairtalk page-->prosuct guide
    /*  height: max-content;
    display: flex;
    .img-text-comp.theme-default {
    position: relative;
    height: max-content;
    .imgtxt-url.txtalign-center {
    position: absolute;
    bottom: 0;
    top: auto;
}
}*/
    //end ht-->product guide

    .img-text-comp{
        img{
            min-width: 100%;
        }
    }
    .imgtxt-url{
        .btn{
            border: 2px solid #464646;
            background: none;

            font-weight: 600;
            width: max-content;
            padding: 7px 20px;
            border-radius: 0px;
            font-size: 16px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            // text-align: left;
            color: #464646;
        }
    }
    .imgtxt-box.txtalign-center{
        width: 100%;
        text-align:center;
        h2, .h2 {
            font-weight: bold;
            font-size: 28px;
            color: #e60f1a;
        }
        .alert-message{
                text-align: center;
                }
        p {
            font-weight: bold;
            color: #464646;
            font-size: 18px;
        }
    }
    .imgtxt-box.txtalign-right, .img-container{
        width: 50%;
        @media(max-width: 768px){
            width: 100%;
        }

        img {
            @media(max-width: 768px){
                vertical-align: middle;
                width: 100%;
            }
        }
        h2, .h2 {
            font-weight: bold;
            font-size: 28px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: 1;
            letter-spacing: normal;
            text-align: left;
            color: #e60f1a;
            margin-top: 0;
        }
        p {
            font-size: 16px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: left;
            color: #464646;
        }
    }

}

.textandvideonew{
    margin-bottom: 20px;
    h2, .h2 {
        font-size: 28px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1;
        letter-spacing: normal;
        text-align: left;
        margin-top: 15px;
        color: #e60f1a;
        margin-bottom: 0px;
    }
    p {
        font-weight: 700;
        font-size: 16px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: #464646;
    }
    p.imgtxt-para {
        display: none;
        margin: 0;
    }
    .imgtxt-url {
        a.cta-arrow{
            font-size: 16px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: left;
            color: #464646;
            text-decoration: underline;
        }
    }

}

//cta button
.cta-buttonhtm {
    padding: 20px;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    color: #464646;
    // background: url(/content/dam/firstchoice/arrow-down.png) right no-repeat;
    a:hover{
        color: #464646;
        text-decoration:none;
    }
    span.icon-arrow {
        // display:none;
        color: #e60f1a;
        font-weight: bold;
        padding-left: 10px;
        font-size: 15px;
        //background: url(/content/dam/firstchoice/arrow-down.png) right no-repeat;
        //transform: rotate(30deg);
        &:before{
            // content: '';

        }
    }
}
.cta-btnCommon{
    padding: 10px 30px;
    background: transparent;
    border: 2px solid black;
    color: black;
}
//for gray border cta button
.cta-gray{
    border: 2px solid #464646;
    background: none;
    color: #464646;
    font-weight: 600;
    width: max-content;
    padding: 7px 20px;
}
//previous cta-red
/*.cta-red{
border: 2px solid #e60f1a;
background: none;
color: #e60f1a;
font-weight: 600;
width: max-content;
padding: 7px 20px;
}*/
//updated cta-red
.cta-red{
    border: 2px solid #e60f1a;
    background: none;
    color: #e60f1a;
    font-weight: 600;
    width: max-content;
    display: block;
    padding: 7px 20px;
    margin: auto;
    min-width: 200px;
    text-align: center;
}
//hairtalk tabs..
h3.hairtalk-tab {
    display: block;
    height: 43px;
}
.hairtalk-tab span {
    margin: 10px 20px;
    border-bottom: 2px solid #e60f1a;
}
//hairtalk text and image-- setting text height for style guide.
.fchcontent.parsys {
    .txtalign-center.imgtxt-box.col-md-12.col-xs-12.col-sm-12 {
        min-height: 75px;
        margin-top: 15px;

    }
    .img-container{
        img{
            @media (max-width: 768px){
                width: 100%;
            }
        }
    }
}
//hairtalk--> Book ahead to save time
.acs-commons-resp-colctrl-col-40 .text.section {
    padding: 0 10px;
}
.ee-components-style-global.ee-components-view {
    min-height: 507.1px;
}

//book now button in check form >> homepage
section.col-md-12.checkBtnDiv {
    display: flow-root;
}
//hairtalk text and image section.
.htmlcoder + .responsivegrid.section {

    .img-text-comp.theme-default {
        @media screen and (max-width: 1200px) and (min-width:768px){
            width: 100% ;
            display: flex;
            margin: auto;
        }
        @media (max-width: 768px){
            width: 100% ;
            display: flex;
            margin: auto;
            flex-wrap: wrap;
        }
        .img-container {
            @media screen and (max-width: 1200px) and (min-width:768px){
                width: 50%;
            }
            @media (max-width: 768px){
                width: 100%;
                padding: 0;
            }
        }
        h2, .h2{
            color: #d3312a;
        }
        .btn{
            border: 2px solid #464646;
            background: none;

            font-weight: 600;
            width: max-content;
            padding: 7px 20px;
            border-radius: 0px;
            font-size: 14px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            // text-align: left;
            color: #464646;
        }
    }
    //90s hairstyle comeback section
    .acs-commons-resp-colctrl-col.acs-commons-resp-colctrl-col-40{
        padding-left: 0;
        @media screen and (max-width: 1200px) and (min-width:768px){
            width: 100%;
            // min-height: auto;
        }
        .img-container {
            @media screen and (max-width: 1200px) and (min-width:768px){
                width: 100%;
            }
            img {
                @media screen and (max-width: 1200px) and (min-width:768px){
                    width: 100%;
                }
            }
            imgtxt-box.txtalign-center{
                padding-left: 0;
                @media screen and (max-width: 1200px) and (min-width:768px){
                    width: 50%;
                }
                @media (max-width: 768px){
                    width: 50%;
                }
            }
        }
    }
    .acs-commons-resp-colctrl-col-60{
        @media screen and (max-width: 1200px) and (min-width:768px){
            width: 100%;
            // min-height: auto;
        }
        .img-container {

            @media (max-width: 768px){
                width: 100%;
            }
        }
    }

}

.heroImageCarousel:nth-child(1){
    position: relative;
    ul.nav.nav-pills.nav-justified {
        position: absolute;
        bottom: 18px;
        left: 85%;
        @media(max-width: 768px){
            display:flex !important;
            bottom: 5px;
        }
        li.active{
            a.nav_li {
                background-color: #ffffff;
            }
        }
        li{
            a{
                margin-right: 12px;
            }
        }
    }
}
//hero image button
a.cta-to-hero {
    width: 154px;
    height: 35px;
    border: solid 2px #ffffff;
    background-color: #cd4e4c;
    font-family: Roboto;
    font-size: 13.5px;
    font-weight: bold;
    font-stretch: normal;
    padding: 12px 29px;
    font-style: normal;
    line-height: 0.5;
    letter-spacing: 0.41px;
    text-align: center;
    color: #ffffff;
    display: block;
    z-index: 1000;
}
.heroImageCarousel + .htmlcoder{
    h4{
        position: absolute;
        top: 315px;
        left: 657px;
        left: 44%;
    }
}
.video_data {
    min-height: 507px !important;
    background: black;
    padding: 0;
    @media(max-width:768px){
        min-height: unset !important;
    }
    .ee-components-view-center{
        padding: 20px 0;
    }
}
a#sign-in-dropdown:hover, a.reg_text:hover, a#greetlabel:hover, a#signoutlabel:hover{
    color: #464646;
}
.ee-components-style-global.ee-components-view {
    padding: 0px;
}
h1, .h1{
    font-size: 46px;
    @media(max-width: 1200px) and (min-width:768px){
        font-size: 30px;
    }
    @media(max-width: 768px){
        font-size: 36px;
    }
}
h2, .h2{
    font-size: 38px;
    @media(max-width: 1200px) and (min-width:768px){
        font-size: 30px;
    }
    @media(max-width: 768px){
        font-size: 26px;
    }
}

.new-row {
    @media(max-width: 1200px) and (min-width:768px){
        // font-size: 30px;
    }
    @media(max-width: 767px){
        margin: 0 !important;
    }
}
/************ FCC page *********/
.responsivegrid:nth-child(3){
    .acs-commons-resp-colctrl-col.acs-commons-resp-colctrl-col-60 {
        margin-top: 0 !important;
        .htmlcoder.section {
            padding-top: 0;
        }
    }
}
.colouredparsyscomponent.section:nth-child(4){
    .colouredparsys{
        padding: 61px 0;
    }
}
.heroImageCarousel + .responsivegrid{
    .acs-commons-resp-colctrl-col-50{
        padding: 0;
    }
}
.responsivegrid:nth-child(9){
    .acs-commons-resp-colctrl-col-40{
        padding: 0;
    }
}
//for about us page
.responsivegrid:nth-child(2){
    .acs-commons-resp-colctrl-col.acs-commons-resp-colctrl-col-60 {
        @media(max-width: 768px){
            padding: 0;
            margin-top: 0 !important;
        }
    }
}
.fch_lnycomp{
    @media(max-width: 1000px){
        padding-top: 15px !important;
    }
    .location-details {
        @media(max-width: 767px){
            height: 230px !important;
            display: grid;
        }
    }
    .store-title{
        font-family: Roboto;
        font-size: 21px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: #464646;
        @media(max-width: 1200px){
            font-size: 14.5px;
            margin-bottom: 12px
        }
        @media(max-width: 767px){
            font-size: 14.5px;
        }
    }
    section#location-addressHolder1 {
        padding: 0;
    }
    section.col-sm-6.col-md-6.locations.lnyedit {
        padding: 0px;
    }
    #searchBtnLabel{
        font-size: 21px;
        line-height: 24px;
        text-transform: uppercase;
        @media (max-width: 1000px){
            // padding: 10px;
            //display: none;
            // padding: 0;
            position: absolute;
            top: -35px;
            width: 630px;
            text-align: center !important;
            margin: auto;
        }
        @media(max-width: 767px){
            width: 320px;
        }
    }
    span#storeAddress1, a#storeContactNumber1 {
        display: block;
        font-family: Roboto;
        font-size: 18px !important;
        font-weight: 500 !important;
        font-stretch: normal;
        font-style: normal;
        line-height: 18px;
        letter-spacing: normal;
        text-align: left;
        color: #464646;
        margin-top: 0;
        text-transform: uppercase;
        @media(max-width: 1200px){
            font-size: 21px;
        }
        @media(max-width: 767px){
            font-size: 14.5px !important;
        }
    }
    span#storeAddress1{
        @media(max-width: 767px){
            margin-top: 0;
            font-size: 14.5px !important;
            margin-bottom: 24px;
        }
    }

    span#storeContactNumberLbl1 {
        display: block;
        font-family: Roboto;
        font-size: 18px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: #464646;
        @media(max-width: 1200px){
            font-size: 18px;
        }
        @media(max-width: 767px){
            font-size: 16px;
        }
    }
    span#distance1, span#storeavailabilityInfo1 {
        display: none !important;
    }
    a#getDirection1 {
        background: url(/content/dam/firstchoice/directions_icon_gray.png) no-repeat center left;
        padding-left: 27px;
        border: 0;
        text-decoration: 2px solid underline;
        text-decoration-thickness: from-font;
        text-decoration-thickness: auto;
    }
    a#gotoLocation{
        background: url(/content/dam/firstchoice/location_icon.png) no-repeat center left;
        padding-left: 27px;
        border: 0;
        text-decoration: 2px solid underline;
        text-decoration-thickness: from-font;
        text-decoration-thickness: auto;
    }
    .location-details {
        height: 180px;
        display: grid;
        @media(max-width: 1000px){
            height: 230px;
        }
        .vcard{
            @media(max-width: 767px){
                width: 35%;
            }
        }
    }
    .action-buttons {
        margin-bottom: 0 !important;
        margin-top: 0 !important;
        @media(max-width: 1200px) and (min-width: 768px){
            display: contents;
        }
        @media(max-width: 1200px){
            margin-bottom: -30px !important;
            margin-top: 25px !important;
            display: flex;
            width: 320px;
            margin: auto;
        }
        .lny_link {

            @media (max-width: 1000px){

                display: inline-block !important;
            }
        }
        a#getDirection1 {
            @media(max-width: 1200px) and (min-width: 768px){
                background: url(/content/dam/firstchoice/directions_icon_gray.png) no-repeat center left;
                padding-left: 27px;
                border: 0;
                text-decoration: 2px solid underline;
                text-decoration-thickness: from-font;
                width: max-content;
                text-decoration-thickness: auto;
            }
        }
        a#gotoLocation {
         /*   @media(max-width: 1200px) and (min-width: 768px){
                display: none !important;
            }
            */

            @media(max-width: 767px){
                margin-right: 0;
                margin-left: 40px;
            }
        }
    }
    .fch_select {
        a#gotoLocation {
            @media(max-width: 1200px) and (min-width: 768px){
                background: url(/content/dam/firstchoice/location_icon.png) no-repeat center left;
                padding-left: 27px;
                padding-bottom: 1px;
                border: 0;
                text-decoration: 2px solid underline;
                text-decoration-thickness: from-font;
                text-decoration-thickness: auto;
                width: max-content;
                display: block !important;
                margin: auto;

            }
            @media(max-width: 767px){
                display: none !important;
            }

        }
    }
    .checkBtnDiv{
        width: 100%;
        .action-buttons{
            @media(max-width: 1000px){
                width: 100%;
            }
        }
    }
    a#checkInBtnLNY {
        font-size: 26px !important;
        width: 333px !important;
        height: 44px;
        line-height: 28px !important;
        @media(max-width: 1000px){
            font-size: 21px !important;
            width: 217px !important;
            height: 41px;
        }
    }
}
