footer#footer {
    max-width: 1440px;
    margin: auto;
    height: 338px;
    background: #707070;
    padding: 55px 15px 83px;
    @media(max-width: 767px){
        height: max-content;
        padding-top: 42px;
        padding-bottom: 24px;
    }
    li.footer-divider{
        @media(max-width: 768px){
            display:none;
        }
    }
    .container{
        width: 100%;
        max-width: 1140px;
        padding: 0;
        .row.footer-block:nth-child(1){
            .clearfix{
                .col-xs-12.col-sm-3.col-block{
                    //display: flex;
                    padding-right: 50px;
                    width: 23.7%;
                    padding-left: 0;
                    div{
                        order:1;
                        width:100%;
                        //display:block;
                    }
                    .form-group{
                        order:2;
                        width:100%;
                        margin-top: 24px;
                        input#email-signup {
                            /* font-size: 12px;
                            height: 30px;
                            color: #707070;
                            font-weight: 700;*/
                           // font-family: Roboto;
                            font-size: 14px;
                            font-weight: 600;
                            font-stretch: normal;
                            font-style: normal;
                            line-height: normal;
                            letter-spacing: normal;
                            text-align: left;
                            color: #464646;
                            height: 30px;
                            width: 225px;
                            opacity: 0.6;
                           border-radius: 4px 0 0 4px;
                            border: solid 2px #ffffff;
                            appearance: none;
                        }
                        button#email-signup-btn {
                            height: 30px;
                            border: 0;
                            width: 74px;
                            font-family: 'roboto';
                            font-size: 14px;
                            font-weight: bold;
                            font-stretch: normal;
                            font-style: normal;
                            line-height: normal;
                            letter-spacing: normal;
                            text-align: left;
                           // border-radius: 0;
                            border-radius: 0 4px 4px 0;
                            color: #707070;
                            @media(max-width: 768px){
                                height: 30px;
                                color: #707070;
                                font-weight: 700;
                                line-height: 0;
                                border: 0;
                            }
                        }
                    }
                    
                }
            }
        }

        .footerEmaildiv{
            color: white;

        }
        .footerEmail{
            p{
                color: white;
                white-space: nowrap;
                white-space: nowrap;
                font-size: 18px;
                font-weight: bold;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: -0.09px;
                text-align: right;
                color: #ffffff;
                @media(max-width:767px){
                    text-align: center;
                }
            }
        }
        .col-xs-12.col-sm-3.col-block.footerLogoBlock{
            min-height: 110px;
            //background: url('/etc.clientlibs/regis/clientlibs/firstchoice/clientlibs/publish-clientlibs/resources/images/footer-logo.png') no-repeat center;
        }
        .row.footer-block{
            
            .col-xs-12.col-sm-3{
                //display: flex;
                padding-right: 0px;
            }
            
        }
        .col-xs-12.col-sm-4.col-block{
            display: flex; 
            flex-wrap: wrap;
            .form-group{
                order: 2; 
                margin-top: 24px;
                width: 100%;
            }
            div:nth-child(2){
                order: 1;
                width: 100%;
            }
        }
    }
    .col-sm-6.pull-left.footerNav{
        .col-xs-6.col-sm-4:nth-child(2) {
            padding-left: 0;
            padding-right: 0;
        }
        .col-xs-6.col-sm-4:nth-child(3) {
            padding-left: 0;
            // padding-right: 0;
        }
        .col-xs-12.col-sm-12{
            @media(max-width:767px){
                padding-right: 0;
            }
        }
    }
    dl{
        h3.footer-heading {
            font-family: "roboto",sans-serif;
            font-weight: 600;
            color: #f0f1f0;
            margin-top: 0;
            font-size: 16px;
        }
        dd{
            a {
                color: #f0f1f0;
                font-family: "roboto",sans-serif;
                line-height: 28px;
                @media(max-width: 767px){
                    line-height: 20px;
                }
            }
        }
    }
    dl.footer-social-nav {
        display: flex;
        width: max-content;
        margin-right: 0;
        margin-left: auto;
        @media(max-width: 767px){
            display: flex;
            flex-wrap: wrap;
            width: 98px;
            margin-left: auto;
            margin-top: 11px;
            margin-bottom: 43px;
          //  margin-left: 10px;
            margin-right: 0;
            margin-right: 0;
            padding-left: 2px;
            padding-bottom: 43px;
            border-bottom: 1px solid #ffffff;
        }
        @media(max-width: 380px){
            margin-left: auto;
            margin-right: 0;
        }
        [class^="icon-"]{
            font-family: 'icomoon';
            speak: none;
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            text-transform: none;
            line-height: 1;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            font-size: 2em;
            padding: 10px;
            color: white;
            &:hover{
                text-decoration: none;
            }
            @media(max-width: 767px){
                //font-size: 2.75em;
                font-size: 2.5em;
    			display: block;
    			padding: 10px 6px;
                }
        }
        .icon-youtube[class^="icon-"]{
            font-size: 2.7em;
            line-height: 0.7;
            padding-right: 0;
            @media(max-width: 767px){
                //font-size: 2.75em;
                font-size: 2.5em;
    			display: block;
    			padding: 10px 6px;
            }
        }
        icon-twitter[class^="icon-"]{
            font-size: 2.4em;
            line-height: 0.8;
            @media(max-width: 767px){
                //font-size: 2.75em;
                font-size: 2.5em;
                display: block;
                padding: 10px 6px;
            }
        }
    }
    .footer-social-nav {
        h3.footer-heading {
            display: none;
        }
    }
  

    .displayResponsive{
        display: none;
        @media(max-width: 767px){
            display: block; 
        }
        .col-sm-6{
            @media(max-width: 767px){
                width: 85%;
            }
        }
        .row.footer-block:nth-child(2) {
            display: flex;
        }
    }
    .displayMedium{
        display: block;
        .row.footer-block:nth-child(3) .col-xs-12.col-sm-3.col-block {
            padding-left: 0;
        }
        @media(max-width: 767px){
            display: none; 
        }
    }

    ul.list-inline.pull-left.terms-nav{
        @media(max-width: 767px){
            display: grid;
            width: max-content;
            margin-left: auto;
            margin-right: 0;
        }
        li{
            margin-bottom: 5px;
        }
        a{
            color: white;
            border-bottom: 1px solid;
            margin-right: 51px;
            @media(max-width: 768px){
                margin-right: 0;
            }
        }
    }
    li.footer-divider {
    display: none;
}
    
}
p.pull-left.copyright+ p{
    color: white;
    font-size: 12px;
    font-family: "roboto",sans-serif;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #dcdcdc;
    @media(max-width:767px){
        margin-left:auto;
        text-align: left;
    }
}
p.pull-left.copyright p{
    color: white;
    font-size: 12px;
    font-family: "roboto",sans-serif;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #dcdcdc;
    @media(max-width:767px){
        margin-left:auto;
        text-align: left;
    }
}
a#back-to-top-mobile {
    visibility: hidden;
}
@media(max-width: 768px){
    .displayResponsive .col-sm-6 {
        padding: 0;
    }
}
.footerLogoBlock{
    display:flex;
    @media(max-width: 768px){
        padding: 20px;
    }
}
.footer_txt{
    @media(max-width: 768px){
        display: grid;
        width:10px;
        position: relative;
    }
    .copyright-txt{
        @media(max-width: 768px){
            order: 2;
            display: flex;
        }
        p{
            color: white;
        }
    }
    .small{
        @media(max-width: 768px){
            order: 1;
            display: flex;
            margin-bottom: 10px;
        }
    }
}
.go-btn-footer{
    @media(max-width: 768px){
        padding: 7px 12px;
        height: 30px;
        color: #707070 !important;
        font-weight: 700 !important;
        line-height: 0;
        border: 0 !important;
        border-radius: 0 4px 4px 0 !important ;
    }
}
input#email-signup {
    @media(max-width: 768px){
        /* font-size: 12px;
        height: 30px;
        color: #707070;
        font-weight: 700;*/
        background: #bebebe;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #464646;
    height: 30px;
    border-radius: 4px 0 0 4px;
    appearance: none;
       // width: 160px;
    }
}
.footerEmaildiv{
font-family: Roboto;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.09px;
  text-align: right;
    color: #ffffff;
    p{
        @media(max-width:767px){
            text-align: center;
        }
    }
}
@media(max-width: 1200px) and (min-width: 767px){
    footer#footer{
        height: max-content;
        padding-bottom: 0;
        padding-top: 36px;
        .footerLogoBlock{
            width: 27% !important;
        }
        .col-sm-6.pull-left.footerNav{
            width: 33% !important;
            nav{
                flex-wrap: wrap;
                .col-xs-6.col-sm-4 {
                    width: 100%;
                    padding: 0;
                    height:125px !important;
                }
            }
        }
        .footerEmail{
            width: 40% !important;
            padding-right: 0 !important;
        }
        .footer-social-nav{
            margin-top: -260px;
        }
        .row.footer-block:nth-child(2) {
            width: 100%;
            .col-xs-12.col-sm-3{
                width: 100%;
            }
        }
        .row.footer-block:nth-child(3) {
            .small{
                ul{
                    
                    margin-right: 0;
                    margin-left: auto;
                }
            }
            .col-xs-12.col-sm-9 {
                padding-right: 0;
            }
        }
    }
    footer#footer dl dd a {
        color: #f0f1f0;
        line-height: 22px;
    }
    input#email-signup{
        float: right;
    }
}

.fch-logo-mobile{
@media(max-width:767px){
            width: 80%;
        }
}