header .navbar-collapse.collapse.loc_div{
    display: flex !important;
    width: max-content;
    margin-left: auto;
    //margin-top: 14px;
    //margin-right: 10px;
    margin-top: 2px;
    margin-right: 0;
    height: 25px !important;
    @media(max-width: 767px){
        padding: 0;
        margin-top: 13px;
        margin-left: 0;
    }
    .locations-div {
        padding-right: 20px;
        height: 25px;
        @media(max-width: 1200px) and (min-width: 768px){
            // display: block;
        }
        a {
            //font-size: 20px;
            font-family: Roboto;
            font-size: 16px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: left;
            color: #464646;
            background: url('/content/dam/firstchoice/location_pin.png') no-repeat right center;
            padding-right: 22px;
            background-size: 14px;
            span.icon-maps:before{
                content: ' ';
            }
        }
    }
}
header .navbar-collapse.collapse{
    display: flex !important;
    width: 100%;
}
header#header {
    position: fixed;
    z-index: 1000;
    top: 0;
    background: transparent;
    width: -webkit-fill-available;
    width: -moz-available;
    padding-top: 20px;
    font-size: 11px;
    @media(max-width: 768px){
        padding: 0px !important;
    }
    .container{
        max-width: 1140px;
        transition: .5s ease-in-out;
        padding: 0;
        @media(max-width: 1200px)and (min-width: 768px){
            width: 95%;
        }
        @media(max-width: 767px){
            padding: 0px;
        }
    }
    .row.utility-wrapper {
        background: white;
        // padding: 5px 7px;
        padding: 4px 0;
    }
    nav.navbar-collapse.main-navbar-collapse.fch_nav {
        position: fixed;
        width: 0px;
        //display: grid;
        background: white;
        z-index: 1000;
        height: -webkit-fill-available;
        left: 0;
        top:0;
        transition: width 1s;
        //display: none;
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s, opacity 0.5s linear;
        height: -moz-available;
        min-height: 100%;
        ul#menu-group {
            display: grid;
            width: 100%;
            font-size: 18px;
            padding: 0px 0;
        }
        .closeFchnav {
            text-align: right;
            .closeNavBtn{
                // background: url('/etc.clientlibs/regis/clientlibs/firstchoice/clientlibs/publish-clientlibs/resources/images/cross-hamburger.png') no-repeat !important;
                height: 30px;
                width: 30px;
                background: transparent;
                border: 0px;
                color: black;
                margin-right: 0;
                &:focus{
                    outline: 0;
                }
            }
        }
    }


    div#bluemlb {
        display: none;
    }
    h1.pull-left{
        //background: url(/content/dam/firstchoice/logo.png) no-repeat;
        margin: 0;
        background-size: contain;
        color: transparent;
        font-size: 35px;
        padding-left: 45px;
        @media(max-width: 1000px) and (min-width: 768px){
            padding-left: 0;
            width: 100%;
        }
        @media(max-width: 767px){
            // width:100%;
            // font-size: 40px;
            width: 100%;
            font-size: 33px;
            padding: 0;
            line-height: 1.5;
        }
        a{
            color: transparent;
            display: block;
            width: 281px;
            height: 44px;
            margin:auto;
            @media(max-width: 1000px){
                max-height: 60px;
                display: block;
            }
            @media(max-width: 768px){
                //   display:block;
                width: max-content;
                max-height: 45px;
            }
        }
    }
    button#hamburger {
        background: transparent;
        width: 46px;
        color: black;
        outline: 0;
        height: 45px;
        border: 0;
        margin-top: 0px;
        padding-top: 0px;
        margin-left: 5px;
        background-position: center bottom;
        margin-top: 2px;
        background: url(/content/dam/firstchoice/menu1.png) no-repeat center right;
        @media(max-width:768px){
            margin-top: 4px;
        }
        span.icon-menu:before {
            content: '';
            // font-size: 40px;
            @media(max-width: 768px){
                font-size: 32px;
            }
        }
        span.hamburger-menu-text {
            display: none;
        }
    }
    ul.list-inline.account-signin {
        width: max-content;
        height: 20px;
        margin: auto;
        margin-top: 13px;
        font-size: 15px;
        @media(max-width: 767px){
            margin-top: 15px;
        }
        @media(min-width: 768px) and (max-width: 1024px){
            margin-top: 5px;
            padding-left: 15px;
        }
        span.icon-man.user_icon-page {
            display: none;
            @media(max-width: 767px){
                font-size: 1.75em;
                color: transparent;
                display: block;
                background: url(/content/dam/firstchoice/user_icon.png) no-repeat;
            }
        }
    }
    .menu_div + .col-sm-3.col-md-3.col-xs-12.hidden-xs {
        @media(max-width: 1000px){
            padding: 0px;
        }
    }
    .search-wrapper + .input-group-btn {
        display: none;
    }
    input#search{
        width: 0px;
        border: 0px;
        padding: 0;
        //transition: width 2s;
        float: right;

    }
    button.btn.btn-default.book_now {
        width: 100%;
        background: #e60f1a;
        color: white;
        font-weight: 700;
        font-size: 20px;
        margin-top: 4px;
        width: 135px;
        font-family: Roboto;
        font-size: 18px;
        font-weight: 900;
        font-stretch: normal;
        font-style: normal;
        line-height: 1;
        letter-spacing: normal;
        text-align: center;
        height: 40px;
        color: #ffffff;
        &:hover {
            outline: 0;
            border: 0;
            z-index: 0;
        }
        @media(max-width: 1200px) and (min-width: 768px){
            padding: 0 10px;
        }
        @media(max-width: 767px){
            letter-spacing: 1px;
            width: inherit;
            background: #e60f1a;
            color: white;
            font-weight: 700;
            padding: 5px 5px;
            font-size: 11px;
            height: 34px;
            margin-top: 8px;
            padding: 0;
            line-height: 1.3;
            white-space: initial;
        }
    }
    span.user_icon-text, .reg_text {
        font-size: 16px;
        font-family: Roboto;
        font-weight: normal;
        color: #464646;
    }
    .search-wrapper {
        padding-top: 3px;
        display: flex;
        @media(max-width: 1200px) and (min-width: 768px){
            display: block !important;
        }
        span.icon-search{
            // background: url(/content/dam/firstchoice/search_icon-header.png) no-repeat center;
            // background: #e60f1a;
            width: 30px;
            height: 40px;
            // color: white;
            font-size: 20px;
            text-align: center;
            order: 2;
            padding: 10px 2px;
            display: block;
            background-size: 16px 19px;

        }
    }
    .input-group-btn{
        @media(max-width: 767px){
            position: relative;
            font-size: 0;
            white-space: nowrap;
            //width: 100%;
            width: max-content;
            display: block;
            margin-right: 0;
            margin-left: auto;
        }
        .book_now {
            @media(max-width: 767px){
                letter-spacing: 1px;
                width: 80px;
            }
        }
    }


    //search button.. 
    .searchExpand{
        display: flex !important;
        width: 100%;
        margin-top: 2px;
        position: relative;
        margin-right: 0;
        margin-left: auto;
        .input-group{
            width: 100%;
            position: absolute;
            z-index: 1000;
            background: white;
            .search-wrapper{
                @media(max-width: 1200px) and (min-width: 768px){
                    display: flex !important;
                }
                span.icon-search{
                    // background: url(/content/dam/firstchoice/search_icon-header.png) no-repeat center;
                    background: #e60f1a;
                    width: 30px;
                    height: 38px;
                    color: white;
                    font-size: 20px;
                    text-align: center;
                    order: 2;
                    padding: 10px 2px;
                    display: block;
                    background-size: 16px 19px;
                    border-radius: 0 4px 4px 0;

                }
                input#search{
                    width: 247px;
                    height: 38px;
                    border: 1px solid #e60f1a;
                    display: block;
                    border-radius: 4px 0 0 4px !important;
                    padding: 0 5px;
                    order: 1;
                    transition: width 1s;
                    margin-left: auto;
                    margin-right: 0;
                    &:focus{
                        outline: 0;
                        box-shadow: 0 0 black;
                    }
                    @media(max-width: 1200px) and (min-width: 1001px){
                        width: 115px;
                        height: 38px;
                        border: 1px solid #e60f1a;
                        display: block;
                        border-radius: 4px 0 0 4px !important;
                        padding: 0 5px;
                        order: 1;
                        transition: width 1s;
                        margin-left: auto;
                        margin-right: 0;
                    }
                    @media(max-width: 1000px) and (min-width: 768px){

                        width: 115px;
                    }
                }
                span.icon-search {
                    // font-size: 20px;
                    // display: none;
                }
            }
            .search-wrapper + span.input-group-btn {
                display: none;
            }
        }
    }
    .loc-search_div{
        @media(max-width: 767px){
            padding: 0;
            display: none;
        }

    }
    #mobile-header{
        @media(max-width: 768px){
            display: none !important;
        }
    }
    a#logo{
        @media(max-width: 1000px) and (min-width: 768px){
            padding-left: 0;
            width: 100%;
        }
        img{
            //width: 100%;
            width: 281px;
            // height: 49px;
            height: 45px;
            // margin-top: 15px;
            @media(max-width: 1200px) and (min-width: 768px){
                width: 100%;
                height: auto;
            }
            @media(max-width: 767px){
                width: 140px;
                height: 26px;
            }
        }
    }
}

.cl-header{
    nav.navbar-collapse.main-navbar-collapse.fch_nav{
        visibility: visible;
        opacity: 1;
        display: grid ;
        width: 301px !important;
        @media(max-width: 768px){
            width: 100% !important;
        }
        li > a {
            padding-top: 15px;
            padding-bottom: 15px;
            text-align: left;
            padding: 0;
            margin: auto;
            width: 100px;
            margin-bottom: 66px;
            font-weight: 600;

            @media(max-width: 768px){
                text-align: center ;
            }
        }
    }
    .container{
        // padding-left: 100px;

    }
}
.col-sm-1.col-md-1.col-xs-2.menu_div {
    @media(max-width: 768px){
        padding: 0px;
    }
}
span.icon-man.account-mob-image[class^="icon-"] {
    @media (max-width: 768px){
        font-size: 1.75em;
    }
}
span.account-signin-caption {
    @media (max-width: 768px){
        display: none;
    }
}
.utility_div{
    @media(max-width: 767px){
        display: flex;
    }
    .signin_div{
        order: 4;
        width: 20%;
        padding: 0;
        @media(max-width: 1000px) and (min-width: 768px){
            width: 22%;
        }
    }
    .menu_div{
        order:1;
        @media(max-width: 1200) and (min-width: 768px){
            padding: 0;
            //  height: auto;
        }
    }
    .logo_div{
        order: 2;
        width: 30%;
        @media(max-width: 1200px) and (min-width: 1001px){
            //order: 3;
            width: 37%;

        }
        @media(max-width: 1000px) and (min-width: 768px){
            width: 28%;
        }
        @media(max-width: 767px){
            width: 39%;
            padding: 0;
        }
    }
    .loc-search_div{
        order: 3;
        width: 27%;
        padding: 0;
        padding: 0;
        @media(max-width: 1200px) and (min-width: 1001px){
            order: 3;
            width: 18%;
            padding: 0;
        }
        @media(max-width: 1000px) and (min-width: 768px){
            //  width: 16%;
            width: 19%;
        }
    }
    .book_btn-div{
        order: 5;
        // padding-left: 0;
        padding-right: 0px;
        width: 14%;
        @media(max-width: 1000px) and (min-width: 768px){
            //  width: 16%;
            width: 19%;
        }
        .input-group-btn{
            width: max-content;
            margin-left: auto;
            margin-right: 0;
            display: block;
            @media(max-width: 1200px) and (min-width: 768px){
                width: max-content !important;
                display: block;
                margin-right: 0;
                margin-left: auto;
            }
        }
        @media(max-width: 767px){
            padding: 0 15px;
        }
    }
}
header .navbar-collapse.collapse{
    @media(max-width:768px){
        padding: 0px;
    }
}
header .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 300px;
    padding: 5px 30px;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    @media(max-width: 767px){
        position: absolute;
        top: 100%;
        right: 0;
        left: -165px;
        z-index: 1000;
        display: none;
        float: left;
        min-width: 270px;
        padding: 6px 14px;
        margin: 2px 0 0;
        font-size: 14px;
        text-align: left;
        list-style: none;
        background-color: #fff;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        border: 1px solid #ccc;
        border: 1px solid rgba(0, 0, 0, .15);
        border-radius: 4px;
        -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
        box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    }
}
.effect6{
    &:before{
        display: none;
    }
}
a#sign-out-dropdown{
    width: 29px;
    height: 29px;
    width: max-content;
    margin: auto;
    margin-top: 12px;
    font-size: 20px;
}
header .navbar-collapse.collapse.sign-outDiv{
    display: none !important;
    @media(max-width: 767px){
        display: flex !important;

    }
    a#sign-out-dropdown {
        width: 29px;
        height: 29px;
        width: max-content;
        margin: auto;
        margin-top: 12px;
        font-size: 20px;
    }
}
header .navbar-collapse.collapse.signoutdivHidden{
    display: flex !important;
    @media(max-width: 767px){
        display: none !important;
    }
}

//Loader state
.overlay{
   position:fixed;
   background-color:#000;
   top:0;
   left:0;
   width:100%;
   height:100%;
   z-index:9999;
   opacity: 0.5;
   #ajaxloader1{
       position: absolute;
       width: 60px;
       height: 60px;
       left: 50%;
       top: 50%;
       margin: 0 0 0 -15px;
       border: 8px solid #fff;
       border-right-color: transparent;
       border-radius: 50%;
       box-shadow: 0 0 25px 2px #eee;
       -webkit-animation: spin 1s linear infinite;
       -moz-animation: spin 1s linear infinite;
       -ms-animation: spin 1s linear infinite;
       -o-animation: spin 1s linear infinite;
       animation: spin 1s linear infinite;
}
   @-webkit-keyframes spin
       {
           from { -webkit-transform: rotate(0deg); opacity: 0.4; }
           50%  { -webkit-transform: rotate(180deg); opacity: 1; }
           to   { -webkit-transform: rotate(360deg); opacity: 0.4; }
    }

   @-moz-keyframes spin
       {
           from { -moz-transform: rotate(0deg); opacity: 0.4; }
           50%  { -moz-transform: rotate(180deg); opacity: 1; }
           to   { -moz-transform: rotate(360deg); opacity: 0.4; }
    }

   @-ms-keyframes spin
       {
           from { -ms-transform: rotate(0deg); opacity: 0.4; }
           50%  { -ms-transform: rotate(180deg); opacity: 1; }
           to   { -ms-transform: rotate(360deg); opacity: 0.4; }
    }

   @-o-keyframes spin
       {
           from { -o-transform: rotate(0deg); opacity: 0.4; }
           50%  { -o-transform: rotate(180deg); opacity: 1; }
           to   { -o-transform: rotate(360deg); opacity: 0.4; }
    }

   @keyframes spin
       {
           from { transform: rotate(0deg); opacity: 0.2; }
           50%  { transform: rotate(180deg); opacity: 1; }
           to   { transform: rotate(360deg); opacity: 0.2; }
    }
}