@font-face {
    font-family: 'icomoon';
    src: url('../../../../firstchoice/clientlibs/publish-clientlibs/resources/fonts/icons/icomoon.eot?-no4tmm');
    src: url('../../../../firstchoice/clientlibs/publish-clientlibs/resources/fonts/icons/icomoon.eot?#iefix-no4tmm') format('embedded-opentype'), url('../../../../firstchoice/clientlibs/publish-clientlibs/resources/fonts/icons/icomoon.woff?-no4tmm') format('woff'), url('../../../../firstchoice/clientlibs/publish-clientlibs/resources/fonts/icons/icomoon.ttf?-no4tmm') format('truetype'), url('../../../../firstchoice/clientlibs/publish-clientlibs/resources/fonts/icons/icomoon.svg?-no4tmm#icomoon') format('svg');
   /*
	src: url('../../../../costcutters/clientlibs/publish-clientlibs/resources/fonts/icons/icomoon.eot?-no4tmm');
    src: url('../../../../costcutters/clientlibs/publish-clientlibs/resources/fonts/icons/icomoon.eot?#iefix-no4tmm') format('embedded-opentype'), url('../../../../costcutters/clientlibs/publish-clientlibs/resources/fonts/icons/icomoon.woff?-no4tmm') format('woff'), url('../../../../costcutters/clientlibs/publish-clientlibs/resources/fonts/icons/icomoon.ttf?-no4tmm') format('truetype'), url('../../../../costcutters/clientlibs/publish-clientlibs/resources/fonts/icons/icomoon.svg?-no4tmm#icomoon') format('svg');
    */font-weight: normal;
    font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
font-family: 'icomoon';
speak: none;
font-style: normal;
font-weight: normal;
font-variant: normal;
text-transform: none;
line-height: 1;
/* Better Font Rendering =========== */
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
/*not needed Bharat*/
 /* font-size: 1.75em;*/
}
.icon-scissors:before {
content: "\e600";
}
.icon-arrow:before {
content: "\e601";
}
.icon-profile:before {
content: "\e602";
}
.icon-search:before {
content: "\e603";
}
.icon-time:before {
content: "\e604";
}
.icon-yelp:before {
content: "\e605";
}
.icon-menu:before {
content: "\e606";
}
.icon-chair:before {
content: "\e607";
}
.icon-heart:before {
content: "\e608";
}
.icon-googleplus:before {
content: "\e609";
}
.icon-facebook:before {
content: "\e60a";
}
.icon-instagram:before {
/*content: "\e60b";*/
    content: "\ea92";
}
.icon-pinterest:before {
content: "\e60c";
}
.icon-twitter:before {
content: "\e60d";
}
.icon-youtube:before {
content: "\e60e";
}
.icon-linkedin:before {
content: "\e60f";
}
.icon-stumbleupon:before {
content: "\e610";
}
.icon-delicious:before {
content: "\e611";
}
.icon-tumblr:before {
content: "\e612";
}
.icon-scissor-locations-1:before {
content: "\e613";
}
.icon-scissor-locations-2:before {
content: "\e614";
}
.icon-scissor-locations-3:before {
content: "\e615";
}
.icon-plus:before {
content: "\e616";
margin-right: 8px;
}
.icon-close:before {
content: "\e617";
}
.icon-arrow-up:before {
content: "\e618";
}
.icon-arrow-left:before {
content: "\e619";
}
.icon-arrow-down:before {
content: "\e61a";
}
.icon-maps:before {
content: "\e61b";
}
.icon-list:before {
content: "\e61c";
}
.icon-tick:before {
content: "\e61d";
}
.icon-googleplus-transparent:before {
content: "\e616";
}
.icon-pinterest-transparent:before {
content: "\e61f";
}
.icon-linkedin-transparent:before {
content: "\e620";
}
.icon-stumbleupon-transparent:before {
content: "\e621";
}
.icon-tumblr-transparent:before {
content: "\e622";
}
.icon-star:before {
content: "\e623";
}
.icon-play:before {
content: "\e624";
}
.icon-man:before {
content: "\e625";
}
.icon-woman:before {
content: "\e626";
}
.icon-guest:before {
content: "\e627";
}
.icon-mail:before {
content: "\e628";
}
.icon-mobile:before {
content: "\e629";
}
.icon-youtube:before {
/*content: "\e62a";*/
    content: "\ea9d";
}
.icon-calendar:before {
content: "\e62b";
}