hr, .line-separator {
    box-sizing: border-box;
    height: 1px;
    /*width: 980px;
    margin: auto;*/
    background: #AFAFAF;
    border-top: 1px solid #AFAFAF;
}
.margin5 {
    margin: 0;
    width: 100%;
}
@media (max-width: 980px)
    {
hr, .line-separator {
width: 98%;
}
}