.locationsNearYou {
    margin-top: 20px;
    background: #f5f5f5;
    padding: 25px 0px 30px;
    @media(max-width: 768px){
        margin: 20px 0;
        padding: 25px 5px 30px;
        height: 401px;
    }
    header#locationsHead {
        display: none !important;
    }
    a#callicon1, .row.location-cta {
        display: none;
    }
    .vcard{
        padding: 0px;
        @media(max-width: 768px){
            min-height: 163px;
        }
    }
    .waitnum.h4 {
        display: none !important;
    }
    .location-details{
        .btn-group{
            display: none !important;
        }
    }
    //91-end 
//added id checkInBtnLNY
    a#checkInBtn1, a#checkInBtn2, a#checkInBtnLNY{
        color: #e60f1a;
        display: block;
        width: max-content;
        margin: auto;
        border: 3px solid #e60f1a;
        background: transparent;
        min-width: 255px;
        font-size: 17px;
        margin-top: 20px;
        font-weight: 800;
        font-family: Roboto;
    }
    .lny_link{
        @media(max-width: 768px){
            display: none !important;
            // padding: 25px 5px 30px;
        }
    }
    div#NoSalonsDetectedHeader{
        max-width: 298px;
        margin: auto;
        text-align: center;
    }
    a#storeTitle1 {
        color: #464646;
        font-size: 18px;
        display:block;
        text-transform: uppercase;
        @media(max-width: 768px){
            font-size: 14.5px;
            margin-bottom: 12px;
        }
    }
    section.col-sm-6.col-md-6.locations.lnyedit {
        padding: 0px;
    }
    select#slct {
        width: -webkit-fill-available;
        border: 0;
        border-bottom: 1px solid #464646;
        padding: 6px 10px;
        font-size: 20px;
        color: #464646;
        font-family: Roboto;
        margin-bottom: 15px;
        background: none;
        appearance: none;
        font-weight: 600;
        @media(max-width: 768px){
            width: 100%;
            border: 0;
            border-bottom: 1px solid #464646;
            padding: 6px 10px;
            font-size: 16px;
            color: #464646;
            font-family: Roboto;
            margin-bottom: 15px;
            background: none;
            appearance: none;
            font-weight: 600;
        }
    }
}
.locationsNearYou {
    #searchBtnLabel {
        margin-top: 20px;
    }

    #location-addressHolder2 {
        @media (min-width: 992px) {
            border-bottom: 2px solid #f3f3f3;
        }
    }

    .find-salon-title {
        @media (max-width: 768px) {
            margin-bottom: 10px;
        }
    }

    .LNY-img img {
        width: 100%;
        position: relative;
        top: -4px;

    }

    .SGST-dtp-show {
        margin-bottom: 10px;
    }

    #searchBtnLabel {
        padding: 10px;

        > div {
            float: none;
            margin: 0 auto;

            a {
                background-color: #f3f3f3;
            }
        }
    }

    margin-top: 20px;

    .srch-row {
        .input-group-addon {
            background-color: #f3f3f3;
            border: none;

            &.btn {
                background-color: #49717d;
                font-size: 14px;
                font-weight: bold;
            }
        }

        input {
            width: 100%;
            height: 48px;
            border: 1px solid #f3f3f3;
            border-left: none;
            background-color: #f3f3f3;
        }

        a {
            width: 100px;
            border-color: transparent;
            min-height: auto;
        }
    }

    .location-dtls {
        margin-top: 20px;
        margin-bottom: 48px;

        .main-salon, .other-salons {
            .salon-loc, .ph-no, .salon-addr {
                line-height: 12px;
                margin-bottom: 24px;
            }

            .ph-no {
                margin-top: 12px;
            }

            .salon-loc {
                @media (max-width: 768px) {
                    margin-bottom: 0;
                }
            }

            .salon-brand {
                margin: 12px 0 6px 0;
                display: block;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        span {
            display: block;
            font-size: 12px;
            font-family: 'open-sans';
            line-height: 12px;
        }

        .closedNow {
            font-style: italic;
            @media (min-width: 1024px)and (max-width: 1366px) {
                display: inline !important;
            }
        }

        h3 {
            margin-top: 12px;
            margin-bottom: 5px;
        }

        .salon-loc, .salon-tme {
            margin-bottom: 21px;
        }

        .salon-tme {
            @media (max-width: 767px) {
                text-align: left;
            }
        }

        .ph-no {
            margin-bottom: 12px;
            line-height: 12px;
        }

        .salon-distance {
            margin-bottom: 16px;
        }

        .hcp-store-title {
            font-size: 12px;
            color: #727173;

            &:hover {
                text-decoration: underline;
                color: #727173;
            }
        }

        .favorite.icon-heart {
            position: relative;
            top: -4px;
            margin-left: 4px;
        }

        .salon-drct {
            a {
                background: url('../../clientlibs/signaturestyle-publish-clientlibs/resources/images/Regis-Icons/Arrow-Link-teal-bolder.svg') no-repeat center right;
                padding-right: 10px;
                font-weight: bold;

                &:hover {
                    text-decoration: none;
                    background: url('../../clientlibs/signaturestyle-publish-clientlibs/resources/images/Regis-Icons/Arrow-Link-teal-hover-bolder.svg') no-repeat center right;
                }
            }
        }

        .distance-away span {
            background: url('../../clientlibs/signaturestyle-publish-clientlibs/resources/images/Regis-Icons/Regis_distance.svg') no-repeat left center;
            padding-left: 30px;
        }

        .other-salons {
            .salon-brand, .salon-dist {
                margin: 12px 0 6px 0;
            }

            .salon-loc {
                margin-bottom: 12px;
                @media (max-width: 768px) {
                    margin-bottom: 0;
                }
            }

            .hcp-store-title {
                font-size: 12px;
                color: #727173;

                &:hover {
                    text-decoration: underline;
                    color: #727173;
                }
            }

            .ph-no {

                margin-top: 12px;
            }

            .salon-drct {
                margin-bottom: 12px;
            }
        }

        .checkin-badge {
            background: #f3f3f3;
            height: 70px;
            margin-top: 12px;
            width: 100%;
            padding: 5px;

            h3 {
                margin: 5px 0;;
            }
        }

        .hcp-salon-lny {
            padding-right: 0;

            .salon-brand {
                &.favHeartButton {
                    background: url('../../clientlibs/signaturestyle-publish-clientlibs/resources/images/Regis-Icons/Regis_heart.svg') no-repeat right top;
                    background-size: 19px 19px;
                    background-position-y: -1px;
                }
            }
        }

        .checkin-sgst {
            margin-top: 12px;

            .checkin-waittime-hcp {
                padding-left: 0;
                padding-right: 5px;

                .h4 {
                    margin: 0;
                    margin-top: -3px;
                }

                .waitnum {
                    .est-wait-time {
                        font-size: 14px;
                        display: inline;
                        font-family: "merriweather";

                    }

                    small {
                        font-size: 10px;
                        font-family: "open-sans";
                        color: #727173;
                    }
                }

                .est-wait-txt {
                    font-size: 12px;
                    margin-top: 2px;
                    font-family: "open-sans";
                }

            }

            .checkin-sec {
                padding-left: 0;

                .checkin-btn {
                    .btn-primary {
                        -moz-border-radius: 0;
                        -webkit-border-radius: 0;
                        -o-border-radius: 0;
                        -ms-border-radius: 0;
                        border-radius: 0;
                        padding: 5px;
                    }

                    a {

                        .checkin-btn-txt {
                            font-size: 0.9em;

                        }
                    }
                }

            }
        }
    }
}

span.input-group.srch-row {
    .input-group-addon:first-child {
        display: none;
    }

    input#autocompleteLNY {
        height: 43px;
        width: 472px;
        padding-left: 38px;
        border-radius: 42px;
        background: url(/content/dam/costcutters/general-resources/search-icon.png) no-repeat;
        background-size: 24.5px;
        background-color: white;
        background-position: 9px 10px;
        @media (max-width: 768px) {
            width: 320px;
        }
    }

    .input-group-addon:last-child {
        display: none;
    }

}


.regissalonsLNY.integrationcomp.section
{
    .locationsNearYou{
        .col-xs-12 {
            padding-left: 0px !important;
        }
    }
}
//go to location search button 
.lnyclickanc{
    display: block;
    margin-left: -30px;
    z-index: 1000;
    position: absolute;
    right: 0;
    width: 54px;
    height: 43px;
    border-radius: 0 42px 42px 0;
    background: #d81f37;
    &:hover {
        border: 1px solid darkolivegreen;
        border-left: 0px;
        height: 40px;
        cursor: pointer;
    }
    @media(max-width: 768px){
        right: 0;
        top: 0px;
    }
    img{
        background: #d81f37;
        height: 40px;
        width: 43px;
        margin: auto;
        display: table-column-group;
        border-radius: 0 50% 50% 0;
        float: left;
        z-index: 1000;

    }
}
.fch_select.icon-arrow:before {
    color: #e60f1a;
    position: absolute;
    right: 7px;
    font-weight: 800;
    top: 10px;
    transform: rotate(90deg);
}
.select.fch_select.icon-arrow {
    position: relative;
}
.lny_link {
    background-color: transparent;
    border: 0px;
    border-bottom: 2px solid #464646;
    border-radius: 0;
    padding: 10px 0 0px;
    font-size: 15.5px;
    font-weight: 600;
    color: #464646;
}

.row.location-cta{
    @media(max-width: 768px){
        margin: -10px !important;
    }
}
.col-xs-12.fch_lnycomp {
    @media(max-width: 768px){
        display: flex;
        flex-wrap: wrap;
        padding: 0;
    }

}
section.col-sm-6.col-md-6.locations.lnyedit {
    @media(max-width: 768px){
        padding: 0px;
        width: 50%;
    }
}
section.dropdown_sec.col-sm-6.col-md-6 {
    @media(max-width: 768px){
        width: 50%;
        padding: 0;
    }
}

.checkBtnDiv{
    @media(max-width: 768px) {

        width: 100%;
    }
}
.dropdown_sec{
    select{
        border: 0;
        border-bottom: 2px solid #555;
        border-radius: 0;
        height: 40px;
        width: 100%;
        font-family: Roboto;
        font-size: 17px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: #464646;
        background: none !important;
        // padding: 6px 35px 0px 10px;
        appearance: none;
        -webkit-appearance:none;
        &:focus{
            outline: 0;
            box-shadow: 0px 1px 1px 0px;
        }
    }
    select {
        line-height: 1;
        padding: 6px 12px;
    }
    select::-ms-expand {
        display: none;
    }
    select#servicedOnFCH{
        padding-left: 15px !important;
        background: transparent no-repeat left center !important;
        background-image: url(/content/dam/firstchoice/checkinIcons/date.png)	!important ;
        appearance:none;
        // border: 0;
    }
    select#ddFCH{
        //padding-left: 15px !important;
        background: transparent no-repeat left center !important;
        background-image: url(/content/dam/firstchoice/checkinIcons/stylist-chair.png)	!important ;
        appearance:none;
        // border: 0;
    }
    select#ddTimingsCC{
        //padding-left: 15px !important;
        background: transparent no-repeat left center !important;
        background-image: url(/content/dam/firstchoice/checkinIcons/time.png)	!important ;
        appearance:none;
        // border: 0;
    }
    .custom-dropdown{
        position: relative;
        display:block;
        //height: 40px;
    }
    .custom-dropdown:after {
        // content: "\e61a";
        font-family: 'icomoon';
        speak: none;
        font-style: normal;
        font-weight: 700;
        font-variant: normal;
        font-size: 15px;
        color: #c8102e;
        text-transform: none;
        line-height: 1;
        right: 30px;
        top: 1px;
        left: auto;
        height: 22px;
        padding: 15px 0px 0px 8px;
        //border-left: 1px solid #0ebeff;
        position: absolute;
        pointer-events: none;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        //!* font-size: 1.75em; *!
        display:none;
    }
    .custom-dropdown {
        background: url(/content/dam/firstchoice/checkinIcons/dropdownArrow.png) right center no-repeat;
    }
    .multiselect{
        border: 0;
        border-bottom: 3px solid #555;
        border-radius: 0;
        height: 40px;
        width: 100%;
        font-family: Roboto;
        font-size: 21px;
        font-weight: 500;
        text-transform: capitalize;
        font-stretch: normal;
        font-style: normal;
        line-height: 2;
        letter-spacing: normal;
        text-align: center;
        color: #464646;
        background: transparent no-repeat left center !important;
        appearance: none;
        -webkit-appearance:none;
        background-image: url(/content/dam/firstchoice/checkinIcons/searchIcon.png) !important;
        &:focus{
            outline: 0;
            box-shadow: 0px 1px 1px 0px;
        }
        span.text {
            font-family: Roboto;
            font-size: 17px;
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: left;
            color: #464646;
            padding-left: 15px;
        }
    }
    label{
        display: none !important;
    }
    option {
        font-family: Roboto;
        font-size: 21px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #464646;
    }



}
.locationsNearYou #searchBtnLabel {
    margin-top: 5px;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #464646;
    padding: 0 10px !important;
    padding-left: 0 !important;
    padding-top: 5px;
    margin-bottom: 0;
}
.fch_lnycomp {
    .action-buttons {
        margin-bottom: 20px;
        margin-top: auto;
        @media (min-width: 1200px)and (max-width: 768px) {
            position:relative;
            a#getDirection1 {
                position: absolute;
                left: 0;
            }
            a#gotoLocation {
                position: absolute;
                right: 0;
            }
        }

    }
    div#ddServicesFCH-cont{
        overflow: auto;
        margin-top: 4px;
        width: 100% !important;
        padding: 2px;
        left: 0 !important;
        margin-left: 0 !important;
        top: 35px;
        transition: 0.2s;
        position: absolute;
        z-index: 99;
        padding-left: 10px !important;
        background: #f5f5f5;
        border: 1px solid transparent;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
    }
    .check-in{
        .lny_link{
            display: inline-table !important;
        }
    }
}