//location-search
.location-dtls {
    .vcard {
        margin-left: 63px;
        span {
            display: block;
            font-size: 12px;
        }
        h3 {
            margin-top: 12px;
            margin-bottom: 0;
        }
        .salon-loc,
            .salon-tme {
            margin-bottom: 21px;
        }
        .openingsoon {
            margin-bottom: 12px;
            font-size: 12px;
            width: 70%;
        }
        .ph-no {
            margin-bottom: 12px;
            a {
                color: #727173;
            }
        }
        .salon-distance {
            margin-bottom: 16px;
            background: url('../../clientlibs/signaturestyle-publish-clientlibs/resources/images/Regis-Icons/Regis_distance.svg') no-repeat center left;
            padding-left: 35px;
        }
        .salon-addr {
            width: 70%;
            margin-bottom: 12px;
        }
        .salon-drct,
            .salon-details {
            display: inline;
            a {
                padding-right: 10px;
                font-weight: bold;
                display: inline-block;
                margin-bottom: 36px;
                margin-right: 40px;
                @media(max-width: 767px) {
                    margin-right: 30px;
                }
                font-size: 12px;
            }
        }
        .other-salons {
            .salon-brand,
                .salon-dist {
                margin: 12px 0 6px 0;
            }
            .salon-loc {
                margin-bottom: 36px;
            }
            .salon-drct {
                margin-bottom: 24px;
            }
        }
        .checkin-badge {
            background: #f3f3f3;
            height: 70px;
            margin-top: 12px;
            width: 100%;
            padding: 5px;
            h3 {
                margin: 5px 0;
                ;
            }
        }
        .checkin-button {
            background: #404041;
            padding: 3px;
            font-size: 11px;
            color: #fff;
            border: 1px solid #404041;
            width: 100%;
            border-radius: 0;
        }
        .checkin-details {
            margin-bottom: 15px;
            .wait-time,
                .location-details {
                display: inline-block;
            }
            .wait-time {
                font-size: 18px;
                font-family: "merriweather";
                margin-right: 10px;
                span {
                    font-size: 12px;
                    font-family: "open-sans";
                }
                .measure {
                    display: inline;
                    font-size: 10px;
                }
            }
            .location-details {
                font-family: "open-sans";
                position: relative;
                top: -11px;
                .action-buttons {
                    a {
                        font-size: 14px;
                        padding: 5px;
                        -moz-border-radius: 0;
                        -webkit-border-radius: 0;
                        -o-border-radius: 0;
                        -ms-border-radius: 0;
                        border-radius: 0;
                    }
                }
            }
        }
    }
    .siteName {
        display: inline-block;
        margin-top: 6px;
        margin-left: 50px;
        color: #727173;
    }
    .loc-count {
        display: inline-block;
        margin-right: 20px;
        border-right: 1px solid #DADADA;
        padding-right: 20px;
    }
}

.location-search {
    margin-bottom: 63px;
    width: 99%;
    @media(min-width: 768px) {
        .errorMessage {
            clear: both;
            text-align: center;
        }
    }
    .search-right-column,
        .search-left-column {
        padding: 0;
    }
    .search-right-column {
        .result-container {
            overflow: auto;
            max-height: 561px;
            display: block;
            @media(max-width: 767px) {
                max-height:none;
                width: 100%;
            }
            .nav {
                li {
                    a.btn-default {
                        background: transparent;
                        font-weight: 600;
                        font-family: Montserrat;
                        margin: 8px;
                        padding: 10px;
                        &:hover {
                            border: 0px;
                        }
                    }
                }
                .active {
                    border: 0px;
                }
                li.active {
                    a {
                        background: #c8102e;
                        font-weight: 600;
                        font-family: Montserrat;
                        padding: 10px;
                    }
                }
            }
        }
    }
    #map-canvas {
        height: 561px;
        //width: 100%; changes made for map alignment
    }
    width: 100%;
    float: left;
    border: 1px solid #dadada;
    @media(max-width:767px) {
        width: 100%;
        display: flex;
        height: auto;
        border: none;
        flex-direction: column;
        .search-right-column {
            display: flex;
            order: 2;
        }
        .search-left-column {
            display: flex;
            order: 1;
            #map-canvas {
                height: 400px;
            }
        }
    }
    @media (min-width: 992px) {
      //  margin-left: 10px;
    }
}

.location-search-main {
    .srch-row {
        border: 1px solid #f3f3f3;
        margin: 15px 0;
        .input-group-addon {
            border: none;
            font-weight: bold;
            font-size: 14px;
        }
        input {
            width: 100%;
            height: 48px;
            border: none;
            box-shadow: none;
            background: transparent;
        }
        a {
            width: 100px;
            border-color: transparent;
        }
    }
}

#accordion1,
#accordion {
    .panel {
        background-color: #F9F9F9;
        border: none;
        &.active {
            background: none;
        }
        a {
            &.accordion-toggle {
                color: #404041;
                text-decoration: none;
            }
            .panel-heading {
                background-color: transparent;
                border-color: transparent;
                padding-top: 12px;
                padding-bottom: 12px;
                min-height: 48px;
                .store-title {
                    font-family: 'merriweather';
                    @media (max-width: 767px) {
                        font-size: 14px;
                    }
                    span.loc-count {
                        max-width: 28px;
                    }
                }
            }
            small {
                margin-left: 48px;
                color: #727173;
                &.favorite {
                    position: relative;
                    top: -5px;
                    margin-left: 10px;
                }
                &.subbrand {
                    display: block;
                    clear: both;
                }
            }
        }
        .panel-body {
            padding: 0;
        }
    }
}

.location-search .col-xs-12.col-md-6.col-sm-12.search-right-column.col-block.pull-right {
    //float: left !important;
    //width: 30% !important;
    position: unset;
    @media(max-width: 1200px) and (min-width: 768px){
        width: 100%;
    }
    @media (max-width: 768px) {
        width: 100% !important;
        order: 2 !important;
    }
    .search-nav {
        position: absolute;
        top: -400px;
        right: 0;
        height: 117px;
        width: max-content;
        //background: #c8102e;
        @media(max-width: 1200px) and (min-width: 768px){
            position: absolute;
            top: -240px;
            right: 0;
            height: 117px;
            width: 768px;
            margin: auto;
        }
        @media (max-width: 768px){
            position: absolute;
            top: -260px;
            right: 0;
            left: 0;
            height: 117px;
            width: 100%;
        }
        .input-group {
            width: max-content;
            height: 100%;
            display: flex;
            @media(max-width: 768px){
                width: 100%;
            }
            .search-wrapper {
                width: max-content;
                height: max-content;
                margin: auto;
                display: flex;
                @media (max-width: 768px){
                    width: 95%        
                }
                input {
                    width: 339px !important;
                    height: 40px !important;
                    padding-left: 20px;
                    font-family: 'roboto' !important;
                    margin: auto;
                    font-size: 18px !important;
                    background: url('/content/dam/costcutters/general-resources/search-icon.png') no-repeat right center;
                    background-color: white !important;
                    border: 2px solid #BEBEBE !important;
                    background-size: 15px 15px !important;
                    background-position-x: 345px !important;
                    padding-right: 30px;
                    border-right: 0 !important;
                    border-radius: 4px 0 0 4px !important;
                    @media (max-width: 767px) {
                        width: 217px !important;

                    }
                    @media (max-width: 374px) {
                        width: 210px !important;

                    }
                    &:focus {
                        outline: 0;
                    }
                }
                a{
                    
                    button.lnyclick {
                        width: max-content;
                        min-width: 226px;
                        border: 2px solid #e60f1a;
                        height: 40px;
                        border-radius: 0;
                        color: #e60f1a;
                        font-weight: 800;
                        padding: 0 20px;
                        text-transform: uppercase;
                        font-size: 17px;
                        background: transparent;
                        margin-left: 0;
                        outline: 0;
                        border-radius: 0 4px 4px 0;
                        @media (max-width: 767px) {
                            width: 124px !important;
                            font-size: 16px;
                            padding: 0;
                            min-width: unset;
                        }
                    }
                }
            }
            .input-group-btn {
                display: none;
            }
        }
    }
}

.location-search .col-xs-12.col-md-6.col-sm-12.col-block.search-left-column.pull-left {
    height: 100%;
    // width: 70% !important;
    //float: right !important;
    @media (max-width: 768px){
        height: max-content;
        width: 100% !important;
        float: right !important;
    }
    
}
.maps-collapsible-container.collapse {
    @media (max-width: 768px){
        display: block !important;
        width: inherit;
        margin-top: 20px;
    }
}
.activeOnClickOnly {
    display: none !important;
}
@media (min-width: 576px) {
    .container.main-wrapper.main.location-search-main {
        max-width: 100% !important;
    }
}

@media (min-width: 768px) {
    .container.main-wrapper.main.location-search-main {
        max-width: 748px !important;
    }
    .location-search .col-xs-12.col-md-6.col-sm-12.col-block.search-left-column.pull-left {
        //width: 100%;
        order: 2;
    }
}

@media (min-width: 992px) {
    .container.main-wrapper.main.location-search-main {
        max-width: 960px !important;
    }
}

@media (min-width: 1200px) {
    .container.main-wrapper.main.location-search-main {
        max-width: 1140px !important;
    }
}

.locations.map-directions {
    section {
        .col-md-12.col-sm-12.col-xs-12 {
            flex-wrap: wrap;
            display: flex;
            padding: 10px;
            .action-buttons a {
                //book now button 
                order: 2;
                width: 100%;
                border-radius: 0;
                font-family: 'Roboto';
                width: 180px;
                font-size: 24px !important;
                font-weight: 500;
                padding: 8px 11px 11px;
                height: 38px;
                border: solid 2px #e60f1a;
                background-color: #f5f5f5;
                &:hover{
                    color: #e60f1a;
                }
                .wait-time.call-now {
                    .h4 {
                        background: #e60f1a;
                        padding: 10px 0;
                        text-align: center;
                        color: white;
                        margin-top: 19px;
                        border-radius: 0 0 7px 7px;
                    }
                }
            }
            a.phone-no {
                height: 17px;
                display: block;
            }
            .location-details {
                order: 1;
                width: 100%;
                .vcard {
                    p {
                        a {
                            color: black;
                            font-family: Montserrat;
                            font-size: 20px;
                            font-weight: 600;
                            span.street-address.sal-loc,
                                span.street-address.sal-loc {
                                font-size: 12px;
                                display: block;
                                font-weight: 500;
                            }
                        }
                    }
                    span.telephone {
                        width: 100%;
                        display: block;
                        margin-top: 5px;
                    }
                }
                .btn-group {
                    display: none;
                }
            }
        }
    }
    a.btn.btn-primary.btn-lg.list-window-checkin {
        font-size: 15px;
        font-weight: 600;
        line-height: 19px;
        margin-top: 10px;
    }
    .phoneBtn {
        color: #c8102e;
        background: white;
        //pointer-events: none;
    }
}


/*.locations.map-directions section .col-md-12.col-sm-12.col-xs-12 div.col-md-12.col-sm-12.col-xs-12:last-child {
position: absolute;
top: 73px;
}*/

button.btn.btn-default.location-search-btn.customTheme {
    background: #c8102e;
    border: 1px solid #c8102e;
    color: white;
}

.location-search-title {
    .col-xs-8.col-sm-10 {
        padding: 0;
        @media (max-width: 767px) {
            width: 100%;
        }
        h2 {
            margin-bottom: 30px;
            font-family: Roboto;
            font-size: 46px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: left;
            color: #464646;
            //margin-top: 70px;
            margin-top: 0px;
            @media (max-width: 767px) {
                font-family: Roboto;
                font-size: 28px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: normal;
                text-align: center;
                color: #464646;
            }
        }
    }
}

.container.main-wrapper.main.location-search-main {
    padding-top: 0px;
    position: unset;
    @media(max-width: 767px){
        padding: 0;
    }
}

.locationsearch.integrationcomp.section {
    position: relative;
    max-width: 1440px;
    margin: auto;
}
@media(max-width: 767px){
    .locationsearch.integrationcomp.aem-GridColumn.aem-GridColumn--default--12 {
        margin: 0;
    }
}
span.location-index {
    display: none;
}

.distance,
.telephone,
.closing-time {
    color: #3E3E3E;
    font-family: Montserrat;
    font-size: 12px;
    letter-spacing: 0;
    font-weight: 500;
    line-height: 1px;
}

.location-search-results.tab-content {
    section.check-in {
        display: flex;
        position: relative;
        height: max-content;
        width: 100%;
        // background: #F3F3F3;
        padding: 7px 0 0;
        .col-md-12.col-sm-12.col-xs-12 {
            flex-wrap: wrap;
            display: flex;
            width: 95%;
            margin: auto;
            padding: 0px;
            .col-md-12.col-sm-12.col-xs-12 {
                flex-wrap: wrap;
                display: flex; //flex --
                background: transparent;
                width: 100%;
                margin: auto;
                padding: 0px;
                &:hover{
                    //border: 1px solid #c8102e;
                    //border-radius: 8px;
                }
                .distance,
                    .telephone,
                    .closing-time {
                    color: #464646;
                    font-family: Roboto;
                    font-size: 12px;
                    letter-spacing: 0;
                    font-weight: 500;
                    line-height: 20px;
                    padding-left: 25px;
                }
                .telephone{
                    //background: url(/content/dam/costcutters/general-resources/cc-phone-20x20.png) no-repeat;
                    margin-top: 0px !important;
                    
                    font-family: Roboto;
                    font-size: 17px;
                    padding: 0px;
                }
                .closing-time {
                    background: url(/content/dam/costcutters/general-resources/cc-clock-20x20.png) no-repeat;
                    padding-bottom: 3px;
                    line-height: 35px;
                }
                .distance {
                    // margin-left: 20px;
                    background: url(/content/dam/costcutters/general-resources/cc-map-pin-20x20.png) no-repeat;
                }
            }
        }
    }
    .location-details {
        .vcard {
            padding-bottom: 0px;
            .col-md-12{
                padding:0px;
                .col-sm-6{
                    padding: 0px;
                    padding-right: 40px;
                    margin-top: 10px;
                }
            }
            p.showOpen {
                margin: 0px;
            }
            .store-title {
                color: #464646;
                font-family: 'roboto','sans-serif';
                letter-spacing: 0;
                font-weight: bold;
                font-size: 21px;
                line-height: 24px;
            }
            span.street-address.sal-loc {
                color: #464646;
                font-family: Roboto;
                font-size: 20px;
                letter-spacing: 0;
                font-weight: 500;
                font-size: 18px;
                font-weight: 500;
                line-height: 18px;
            }
        }
    }
    .wait-time.call-now {
        .vcard {
            padding-top: 0px;
            padding-bottom: 0;
            height: max-content;
        }
        .h4 {
            background: #C8102E;
            padding: 14px 0;
            text-align: center;
            color: white;
            line-height: 25px;
            margin-top: 8px;
            height: 49px;
            border-radius: 0 0 7px 7px;
            margin-bottom: 0px;
        }
    }
    .check-in.active {
        border-bottom: 0;
        border: 2px solid #e60f1a;
        border-radius: 8px;
        box-shadow: 1px 2px 4px;
        .col-md-12.col-sm-12.col-xs-12 .col-md-12.col-sm-12.col-xs-12{
           // border: 1px solid #e60f1a;
           // border-radius: 8px;
           // box-shadow: 1px 2px 4px;
        }
    }
    
}
.location-search-results.tab-content section.check-in .col-md-12.col-sm-12.col-xs-12 .col-md-12.col-sm-12.col-xs-12:nth-child(2) {
    position: absolute;
    top: 100px;
    display:none;
}
.locations.map-directions section .col-md-12.col-sm-12.col-xs-12 .location-details .vcard span.telephone {
    width: 100%;
    display: block;
    margin-top: 10px;
}
.locationsearch.integrationcomp.section{
    button.btn.navbar-toggle.btn-map.collapse.in {
        display: none; //location page-- navigation map button
    }
}
.locations .check-in .wait-time:not(.call-now){
    .vcard, .h6, .h4{
        display:none;
    }
    
}
.locationsearch.integrationcomp.section{
    .result-container.collapse {
        display: block !important;
        ul.nav.nav-pills {
            display: none;
        }
    }
}
.location-search {
    position: relative;
}
//FCH button group. 
.col-md-12.fchBtn_grp {
    padding: 10px 0;
    .action-buttons{
        a{
            width: 100% ;

            @media(max-width: 768px){
			width: max-content !important;
    min-width: 190px;
            }

        }
    }
}
a.direction_btn, a.salon-det_btn {
    display: block;
    height: 43px;
    line-height: 3.5;
    font-size: 18px;
    color: #464646;
    font-weight: 600;
}
.salon-det_btn{
    position: relative;
    overflow: hidden;
    padding-right: 20px;
    width: max-content;
     background: url(/content/dam/firstchoice/checkinIcons/dropdownArrowright.png) center no-repeat;
    background-position: right;
    background-position-y: 21px;
   /* &:after{
        content: "";
        position: absolute;
        width: 200%;
        height: 200%;
        top: -50%;
        left: -7px;
        right: auto;
        z-index: -1;
        transform: rotate(-90deg);
        background: url(/content/dam/firstchoice/checkinIcons/dropdownArrow.png) center no-repeat;
    }*/
}
.fch_chkin{
    background: #f5f5f5;
    a.direction_btn {
        background: url(/content/dam/firstchoice/directions_icon_gray.png) no-repeat bottom left;
        padding-left: 27px;
    }
    .col-md-12.fchBtn_grp {
        padding: 10px 0;
        border-bottom: 2px solid #464646;
    }
}
//.fch_chkin:nth-child(even){
.fch_chkin.active{
    background: #e60f1a;
    border: 0 !important;
    .col-md-12.col-sm-12.col-xs-12 {
        flex-wrap: wrap;
        display: flex;
        width: 100% !important;
        margin: auto;
        padding: 0px;
        background: #707070;
         .col-md-12.col-sm-12.col-xs-12 {
            width: 95% !important;
        }
    }
    .col-md-12.col-sm-12.col-xs-12 {
        flex-wrap: wrap;
        display: flex;
        padding: 10px;
        a{
            color: white;
            @media(max-width: 768px){
               // color: #464646 !important;
                background-color: transparent !important;
            }
        }
        .action-buttons a {
            //book now button 
            order: 2;
            width: 100%;
            // border: 0;
            border-radius: 0;
            border: solid 2px #e60f1a;
            background-color: #e60f1a !important;
            &:hover{
                color: white !important;
            }
             @media(max-width: 768px){
                color: #e60f1a !important;
                background-color: transparent !important;
            }
            
        }
        .action-buttons   a.btn.btn-primary.btn-lg.list-window-checkin.phoneBtn{
           // border: solid 2px #464646 !important;
          //  color: #464646 !important;
          //  background-color: transparent !important;
            color: white !important;
            line-height: 1;
            border: 0px !important;
               background-color: #e60f1a !important;

        }
    }
    .store-title {
        color: white !important;
        @media(max-width: 768px){
            //color: #464646 !important;
        }
    }
    span.street-address.sal-loc{
       color: white !important;
        @media(max-width: 768px){
           // color: #464646 !important;
        }
    }
    .telephone{
       color: white !important;
        @media(max-width: 768px){
           // color: #464646 !important;
        }
    }
    @media(max-width: 768px){
        background: #f5f5f5;
    }
    a.direction_btn {
        background: url(/content/dam/firstchoice/directions_icon_white.png) no-repeat bottom left;
        padding-left: 27px;
    }
}
.locationsearch + .textandimage{
    margin-bottom: 65px;
    display: inline-block;
    .img-container{
        img {
            width: 100%;
        }
        
    }
    .imgtxt-url a{
        font-family: Roboto;
        font-size: 16px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: #464646;
    }
}
a.btn.btn-primary.btn-lg.list-window-checkin.phoneBtn{
    border: solid 2px #464646 !important;
    color: #464646 !important;
    background-color: #f5f5f5 !important;
}
@media(min-width: 768px){
    div#locSearchNoSalonsFound {
        display: none !important;
    }
    .location-search-title button.btn.navbar-toggle.btn-map.collapse.in{
        display: none !important;
    }
}
ul.nav.nav-pills {
    display: none;
}
.locationsearch button.btn.navbar-toggle.btn-map.collapse.in {
    display: none;
}
div#locSearchNoSalonsFound {
    display: none !important;
}
input#locSearchAutocomplete + a{
width: 226px;
}
.locationsearch + .textandimage {
    .img-container.col-md-4.col-sm-6.col-xs-12.pull-left {
        padding-left: 0;
    }
}
@media(max-width: 1200px) and (min-width: 768px){
    .colouredparsyscomponent{
        .text + .responsivegrid:nth-child(3){
            .acs-commons-resp-colctrl-col-49{
                width: 100%;
            }
        }
    }
    .location-search .col-xs-12.col-md-6.col-sm-12.col-block.search-left-column.pull-left {
        order: 2;
        display: none;
    }
    div#main-content{
        .text +  .responsivegrid:nth-child(3) .new-row{
         padding: 0px;   
        }
    }
    .imgtxt-box {
        padding: 0px;
    }
    input#locSearchAutocomplete {
        width: 405px !important;
        margin-right: 0;
    }
    .location-search .col-xs-12.col-md-6.col-sm-12.search-right-column.col-block.pull-right .search-nav .input-group .search-wrapper {
        width: max-content;
    }
    .location-search {
        margin-bottom: 63px;
        width: 96.8%;
        float: left;
        border: 0px;
        //margin: 0 90px;
        // width: 75%;
    }
    .locations.map-directions section .col-md-12.col-sm-12.col-xs-12 .location-details {
        order: 1;
        width: 98%;
        margin: auto;
        border-bottom: 2px solid #464646;
        padding-bottom: 15px;
    }
    .result-container.collapse.in {
        border:2px solid #dadada;
        margin: 0 40px 0 70px;
    }
}

@media(max-width: 767px){
    .acs-commons-resp-colctrl-col-49{
        padding-left: 5px;
    }
    .location-search .col-xs-12.col-md-6.col-sm-12.search-right-column.col-block.pull-right .search-nav {
        position: absolute;
        top: -220px;
        right: 0;
        left: 0;
        height: 117px;
        width: 100%;
    }
    .imgtxt-box {
        padding: 0px;
    }
    input#locSearchAutocomplete + a{
        width: 124px;
    }
    input#locSearchAutocomplete {
        width: 217px !important;
        margin-right: 0;
    }
    .location-search .col-xs-12.col-md-6.col-sm-12.search-right-column.col-block.pull-right .search-nav .input-group .search-wrapper {
        width: max-content;
    }
    .locations.map-directions section .col-md-12.col-sm-12.col-xs-12 .location-details {
        order: 1;
        width: 98%;
        margin: auto;
        border-bottom: 2px solid #464646;
        padding-bottom: 15px;
    }
}