/*main-home*/
main.container.main-wrapper.main.main-home, .container.main-wrapper.main main-home {
	height: max-content;
	padding: 0;
    min-height: 448px;
	/*margin-top: 100px;*/
}
main.container.main-wrapper.homepage-wrapper.main.main-home.mlb-wrapper,.container.main-wrapper.main main-home {
	height: max-content;
	//margin-top: 100px;
}
.displayNone {	
	display: none;	
}
.container {		
	/*width: 1440px;*/	
    width: 100%;
	margin: auto;		
}
.content.parsys {
	width: 1440px;
	margin: auto;
}
.btn{
    border-radius: 0;
    border: 1px solid #e60f1a;
    color: #e60f1a;
    font-weight: 800;
    font-size: 18px;
    background: white;
}
btn:hover{
    background: #e60f1a;
    //border: 0;
    border: 1px solid #e60f1a;
    color: white;
}

.content{
	font-family: "roboto",sans-serif;
}
.product-details-container{	
	width:1000px;	
}
.text-left.title-component.borderBottom
.main-title.h3 {
	margin-top: 0 !important;

}
.section {	
    overflow: hidden;	
    clear: both;
}


.acs-commons-resp-colctrl-col-60 .htmlcoder.section {
	padding-top: 15px;
}

.ee-components-view {
	max-width: 100%;
}

a#back-to-top {

    text-align: center;
    position: fixed;
    bottom: 60%;
    right: 20px;
    
    border: 1px solid #e60f1a;
    z-index: 9999;
    width: 70px;
    padding: 15px 0;
    height: 70px;
    top:300px;
    cursor: pointer;
    text-decoration: none;
    transition: opacity 0.2s ease-out;
    opacity: 0;
    visibility: hidden;
    color: #e60f1a;
	width: 57px;
  height: 55px;
  box-shadow: 0px 4px 7px 0 rgba(0, 0, 0, 0.35);
  border: solid 2px #e60f1a;
  background-color: #f5f5f5;
  border-radius: 10px 10px 0 0;
}
a#back-to-top[class^="icon-"]{
font-size: 1.75em;
    transform: rotate(-90deg);
    font-weight: 800;
}
#back-to-top.show {
    opacity: 1;
    visibility: visible;
}
.DivbelowNav .container {
    width: 100% !important;
    height: max-content !important;
    padding: 0;
}
@media (max-width: 1440px){
.container {
    width: 100%;
    }
	.content.parsys {
		width: 100%;
		margin-top: 40px !important;
		margin: auto;
	}
	main.container.main-wrapper.homepage-wrapper.main.main-home.mlb-wrapper {
		padding-left: 0px;
	}
	.container .content.parsys {
		margin-top: 0px !important;
        margin-bottom: 25px;
	}
}
@media (max-width: 768px){
main.container.main-wrapper.homepage-wrapper.main.main-home.mlb-wrapper, .container.main-wrapper.main main-home {
    margin-top: 80px;
}

}
@media(min-width: 768px){
#back-to-top.show {
    display: none !important;
    
}
}