.my-account-info {
    input::-webkit-input-placeholder {
        font-style: italic;
    }
    input::-moz-placeholder {
        font-style: italic;
    }
    input:-ms-input-placeholder {
        font-style: italic;
    }
    .login-informtion-title {
        font-weight: bold;
    }
    .welcome-img {
        float: left;
        font-size: 72px;
        margin-right: 20px;
        margin-top: 30px;
        display: none;
        &.margin-loyalty {
            margin-top: -7px;
        }
        @media(max-width:768px) {
            margin-top: 0;
        }
    }
    .welcome-name {
        margin-bottom: 40px;
        p {
            margin-left: 10px;
            width: 100%;
            clear: both;
            margin-bottom: 0;
        }
        &>p:after {
            content: '';
            display: block;
            clear: both;
        }
    }
    .welcome-name:after {
        content: "";
        display: block;
        clear: both;
    }
    .welcome-msg {
        display: inline-block;
        margin-left: 15px;
        font-family: 'futura-pt-condensed', Helvetica, Arial, sans-serif;
        font-size: 40px;
        font-weight: bold;
        float: left;
        margin-top: 8px;
        text-transform: uppercase;
    }
    .progressbar {
        overflow: hidden;
    }
    .account-summary {
        border-left: 1px solid #f1f1f1;
        padding-left: 30px;
        a {
            color: #1c78aa;
        }
        h2.divider {
            margin-bottom: 15px;
            padding-left: 0;
        }
        input[disabled] {
            background-color: #eee;
        }
        .aboutyoucomponent.section {
            margin-top: -2ex;
        }
        .section-header {
            border-bottom: 2px solid #5f6167;
            width: 100%;
            margin-top: -25px;
            .update-btn-container {
                .btn {
                    margin-top: 18px;
                }
            }
        }
        .section-header:after {
            clear: both;
            content: '';
        }
    }
    .phone-chk {
        input,
            label {
            padding: 0;
        }
    }
    .account-description {
        ul {
            padding-left: 0;
            li {
                list-style: none;
                color: #e60f1a;
                padding: 8px 8px 8px 12px;
                margin-bottom: 6px;
                a {
                    color: #e60f1a;
                    &:hover {
                        color: #e60f1a;
                        text-decoration: underline;
                    }
                }
            }
        }
    }
    .left-hand-nav {
        padding-left: 0;
        padding-right: 30px;
    }
    li.active-nav {
        background-color: #f3f3f3;
        border-left: 3px solid #e60f1a;
    }
    .progress-bar-component {
        margin-bottom: 30px;
        .panel-heading {
            background-color: #F3F3F3;
            padding-right: 0;
            a#progress-bar-anchor {
                &:hover {
                    color: #e60f1a;
                    text-decoration: underline;
                }
            }
        }
        .accordion {
            .panel-heading {
                .panel-title {
                    span.title {
                        font-style: normal;
                        font-weight: 500;
                        color: #e60f1a;
                        font-family: 'futura-pt-condensed', Helvetica, Arial, sans-serif;
                        font-size: 22px;
                        text-transform: uppercase;
                    }
                    span.icon-arrow-down {
                        margin-right: 0;
                        font-weight: bold;
                    }
                    span.arrow-background {
                        //background-color: #dde1ea;
                        padding: 16px;
                        margin-right: 0;
                        position: absolute;
                        right: 10px;
                        top: 0;
                        color: #1e3e6e;
                    }
                }
            }
        }
    }
    .progress-bar-content {
        background-color: #f3f3f3;
        overflow: hidden;
        padding-top: 12px;
        margin-top: 2px;
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }
    }
    .progress-state {
        width: 14%;
        float: left;
        margin: 0 1.32%;
        text-align: center;
        a {
            display: block;
            text-decoration: none;
            span {
                color: #43aae0;
                background-color: #FFF;
                border-color: #FFF;
            }
            p {
                color: #545658;
            }
            &#bday {
                p {}
            }
        }
        span {
            border: 2px solid #1e3e6e;
            border-radius: 100%;
            background-color: #1e3e6e;
            color: #fff;
            padding: 6px 1px 9px;
            display: inline-block;
            font-size: 16px;
            margin-bottom: 6px;
        }
        p {
            font-size: 14px;
            color: #545658;
        }
        span.icon-tick {
            padding: 8px;
            border: 2px solid #e60f1a;
            background-color: #e60f1a;
            color: #fff;
            +p {
                color: #545658;
            }
        }
        span.icon-tick:before {
            margin-left: 0px;
            font-size: 28px;
        }
        span.icon-star {
            padding: 8px;
            color: #1e3e6e;
            background-color: #fff;
            border-radius: 100%;
            border: 2px solid #fff;
        }
        span.icon-star:before {
            margin-left: 0px;
            font-size: 28px;
        }
        span.icon-scissor-locations-1 {
            padding: 8px;
            color: #43aae0;
            background-color: #fff;
            border-radius: 100%;
            border: 2px solid #fff;
        }
        span.icon-scissor-locations-1:before {
            margin-left: 0px;
            font-size: 28px;
        }
        span.icon-mail {
            padding: 8px;
            color: #43aae0;
            background-color: #fff;
            border-radius: 100%;
            border: 2px solid #fff;
        }
        span.icon-mail:before {
            margin-left: 0px;
            font-size: 28px;
        }
        span:before {
            margin-left: 15px;
            font-size: 35px;
        }
        span.icon-user-birthday {
            padding: 8px;
            border-radius: 100%;
            border: 2px solid #fff;
            background: #fff url("../../clientlibs/sc-publish-clientlibs/resources/images/birthdayicon-blue.svg") no-repeat;
            background-position: 50% 50%;
            background-size: 28px 28px;
            /*height: 42px;
            width: 42px;*/
        }
    }
    .progress-state.progress-state-custom-width {
        width: 18%;
        margin: 0 1%;
    }
    .account-summary-added-salons {
        .locations {
            width: 100%;
            height: max-content;
            display: block;
        }
        .preferrd-salon-btns-container {
            display: block;
            width: 100%;
            height: max-content;
            padding: 15px 0;
            a#changeLocation {
                width: 222px;
                padding: 7px 15px;
                background: #e60f1a;
                color: white;
                text-align: center;
                display: block;
                text-transform: uppercase;
                font-weight: 400;
                border-radius: 3px;
            }
            .btn {
                width: 100%;
                max-width: 222px;
                margin-left: 15px;
                border: 0px;
                @media (max-width: 768px){
                    min-width: 155px;
                }
                span.icon-chair {
                    display: none;
                }
            }
        }
        .map-directions {
            .check-in {
                .location-details {
                    .vcard {
                        span.telephone {
                            margin: 0;
                        }
                    }
                }
                span.location-index {
                    display: none;
                }
                span {
                    /*  padding: 0;*/
                }
            }
            .check-in + .col-md-4.col-xs-12.col-sm-3.pull-right {
                width: 100%;
                display: block;
            }
            
        }
        h4:before {
            content: "\e608";
        }
    }
    .show-more-container {
        .gm-style-iw {
            margin: 0;
        }
        .map-directions {
            .check-in {
                width: 252px;
            }
        }
    }
    .modal {
        z-index: 9000;
        .show-more-container {
            .map-directions {
                .check-in {
                    width: 252px;
                    margin-right: 20px;
                    margin-bottom: 10px;
                    &:nth-child(4n+1) {
                        clear: none;
                    }
                    &:nth-child(3n+1) {
                        clear: both;
                    }
                }
            }
            &.panel-group {
                margin-bottom: 0;
            }
            .search-right-column {
                .show-more-search-results {
                    margin-top: -9px;
                }
                .show-less-search-results {
                    margin-top: -9px;
                }
            }
        }
        .modal-body {
            background-color: #F2F2F2;
            padding-top: 0;
            /*padding-bottom: 0;*/
            .salonselectoradvanced {
                .vcard {
                    width: 95% !important;
                }
            }
        }
    }
    .account-component {
        #preferred-subscribe-email-heading {
            display: inline-block;
        }
        border-bottom: 2px solid #5f6167;
        padding: 20px 0 15px 0;
        &>div {
            padding: 10px 0;
        }
        &>h2.h4 {
            padding: 10px 0;
        }
        &>div.btn {
            padding: 5px .5em;
            margin-left: 0;
            border: 1px solid #e60f1a;
            float: left;
            letter-spacing: 1px;
            font-weight: 600;
            background: white;
            text-transform: uppercase;
            color: #e60f1a;
            &:hover {
                background-color: #e60f1a;
                color: white;
                font-weight: 600;
                letter-spacing: 1px;
            }
        }
        &.account-summary-added-salons {
            .locations {
                .check-in {
                    .vcard {
                        label {
                            display: block;
                        }
                    }
                    label {
                        display: none;
                    }
                }
            }
            .modal {
                .locations {
                    .check-in {
                        label {
                            display: block;
                        }
                    }
                }
            }
        }
    }
    h2 {
        color: #e60f1a;
    }
    h2.h2.col-md-12.col-xs-12,
        .main-title.h3 {
        padding-left: 20px;
        color: #e60f1a;
    }
    h4:before {
        font-family: icomoon;
        margin-right: 10px;
        padding: 5px;
    }
    .email-and-newsletter-container {
        h4:before {
            content: "\e628";
        }
        h4+div {
            padding-top: 20px;
            padding-bottom: 10px;
        }
        .subscription-message {
            padding-bottom: 20px;
        }
        .right-col {
            width: 85%;
        }
    }
    .my-prefered-services {
        h4:before {
            content: "\e600";
        }
        .prefered-services-checkbox-container {
            padding-bottom: 20px;
            padding-top: 10px;
            .left-col.prefered-service-checkbox {
                /* Css exclusively for checkboxes in positionandexperience component*/
                input[type=checkbox].css-checkbox+span.css-label,
                    input[type=radio].css-checkbox+span.css-label {
                    padding-left: 26px;
                    padding-bottom: 26px;
                    vertical-align: middle;
                    height: 26px;
                    border: 1px solid #ccc;
                    display: inline-block;
                    line-height: 32px;
                    background-repeat: no-repeat;
                    background-position: 0 0;
                    font-size: 16px;
                    width: auto;
                    cursor: pointer;
                    background-size: 100%;
                    margin-bottom: 5px;
                }
                input[type=checkbox].css-checkbox:checked+span.css-label,
                    input[type=radio].css-checkbox:checked+span.css-label {
                    background-image: url('../../publish-clientlibs/resources/images/checkbox.png');
                }
                input[type=checkbox].css-checkbox:disabled+span.css-label,
                    input[type=radio][disabled].css-checkbox:disabled+span.css-label {
                    background-image: url('../../clientlibs/sc-publish-clientlibs/resources/images/checkbox-disabled.png');
                    border: none;
                }
                span.css-label {
                    background-image: url('../../clientlibs/sc-publish-clientlibs/resources/images/checkbox-unchecked.png');
                    -webkit-touch-callout: none;
                    -webkit-user-select: none;
                    -khtml-user-select: none;
                    -moz-user-select: none;
                    -ms-user-select: none;
                    user-select: none;
                }
                span.css-label+label {
                    width: 86%;
                }
                input[type=radio].css-checkbox+span.css-label+label,
                    input[type=radio].css-checkbox+span.css-label+span {
                    width: auto;
                    padding-left: 10px
                }
                .prefered-service-label {
                    margin-right: 30px;
                    padding-left: 10px;
                }
            }
            @media(max-width:768px) {
                .left-col {
                    width: 100%;
                }
            }
        }
    }
    .prefered-services-checkbox-container:after {
        clear: both;
        content: '';
        display: block;
    }
    .my-guests {
        .guest-details {
            border-bottom: 1px solid #5f6167;
            padding-bottom: 10px;
            margin-bottom: 15px;
        }
        .prefered-services-checkbox-container {
            padding-bottom: 10px;
        }
        h4:before {
            content: "\e627";
        }
        .guest-form {
            .form-group {
                padding-left: 0;
            }
        }
        p.guest-error.success-msg {
            float: left;
            margin: 10px 0 10px 7px;
        }
    }
    .prefered-services-checkbox-container {
        label+label,
            label+span {
            margin-right: 30px;
        }
    }
    .loyalty-program {
        h4:before {
            content: "\e623";
        }
        .show-more-container-loyalty {
            .right-col {
                width: 85%;
            }
        }
        .learn-more-loyalty {
            padding-bottom: 20px;
        }
        &>.checkbox-container {
            .right-col img {
                max-width: 245px;
            }
        }
    }
    .right-col {
        padding-left: 16px;
        .title {
            padding: 0;
            font-weight: bold;
            font-size: 16px;
            margin-bottom: 0;
        }
        .description {
            font-size: 14px;
        }
        .reminder-details {
            overflow: hidden;
            //margin-top: 16px;
            select {
                width: 150px;
            }
            .occurs {
                margin-right: 22px;
            }
        }
    }
    label.css-label+label,
        label.css-label+span {
        width: auto;
        padding-left: 10px;
    }
    .show-more-container.account-component {
        .map-directions {
            .check-in {
                margin-left: 0;
                margin-bottom: 0;
            }
        }
        .modal {
            .map-directions {
                .check-in {
                    margin-bottom: 20px;
                }
            }
        }
    }
    .mypreferredsalon {
        .salon-type-condition-container {
            display: none !important;
        }
        .container {
            width: 100%;
        }
    }
    //location regis_distance.svg icon in fav salon card
    .location-dtls .vcard{
        .salon-distance{
            background: url(/etc.clientlibs/regis/clientlibs/costcutters/clientlibs/publish-clientlibs/resources/images/Regis-Icons/Regis_distance.svg) no-repeat center left;
        }
        .salon-drct a{
            margin-bottom: 0px;
        }
    }
    //for mobile view
    .logininfo.integrationcomp.section , .aboutyoucomponent{
        fieldset.col-md-12.custom-width {
            @media(max-width: 768px){
                padding: 0;
            }
        }
        .col-md-12 {
            @media(max-width: 768px){
                padding: 0;
            }
        }
        .phone-section.col-md-12{
            .col-md-5.form-group {
                @media(max-width: 768px){
                    padding: 0;
                }
            }
            .col-md-7.form-group.phone-chk {
                @media(max-width: 768px){
                    padding: 0;
                }
            }
        }
    }
}

.modal-backdrop {
    z-index: 8999 !important;
}

.my-account-info .checkbox-container:after,
.my-account-info .checkbox-container:before,
.my-account-info .account-summary-added-salons:after,
.my-account-info .account-component:after {
    clear: both;
    content: '';
    display: table;
}

.email-and-newsletter-container:before,
email-and-newsletter-container:after {
    clear: both;
}

@media (min-width:768px) and (max-width:992px) {
    .my-account-info {
        .show-more-container.account-component {
            .map-directions {
                .check-in {
                    width: 50%;
                    width: 48%;
                    min-width: 244px;
                }
            }
        }
        .account-summary {
            padding: 0;
            border: none;
        }
    }
}

@media (max-width:768px) {
    .my-account-info {
        .account-description {
            padding: 0;
        }
        .account-summary {
            padding: 0 5px;
            border: none;
            .section-header {
                margin-top: 0;
            }
            a {
                padding-left: 10px;
            }
        }
        .progress-bar-component {
            display: none;
        }
        .show-more-container.account-component {
            .map-directions {
                .check-in {
                    width: 93%;
                    margin-bottom: 10px;
                }
            }
        }
        .account-component {
            &>div {
                padding: 10px 0;
                margin-left: 0px;
            }
            &>div.btn {
                margin-left: 0px;
            }
            .checkbox-container {
                padding: 0;
            }
        }
        .account-summary-added-salons {
            .preferrd-salon-btns-container {
                .btn {
                    min-width: 100px;
                }
            }
            .preferrd-salon-btns-container.pull-right {
                float: none !important;
                text-align: left;
                padding-bottom: 10px;
                margin-left: -10px;
            }
        }
        .left-hand-nav {
            padding-left: 0;
            padding-right: 0;
        }
    }
}


/*Added CSS for Silhoutte component*/

.my-account-info {
    .silhouette {
        overflow: hidden;
        clear: both;
        .welcome-col {
            float: left;
            .welcome-msg {
                line-height: 34px;
                margin-bottom: 10px;
            }
        }
    }
}


/*Error and success msg style*/

.account-summary {
    .btn+.success-msg {
        margin-left: 10px;
        margin-top: 7px;
        float: left;
    }
    .btn+.error-msg {
        margin-top: 5px;
        margin-left: 40px;
    }
    .personal-error {
        margin-top: 5px;
    }
    .custom-width {
        @media (min-width: 768px) {
            width: 65%;
        }
        p.head-style {
            font-family: 'roboto';
            font-weight: 700;
            font-size: 20px;
            line-height: 1.1;
            color: black;
        }
        .bday label[for="birthdaydateupdate-personal"] {
            display: block;
        }
        select.form-control {
            -webkit-appearance: none;
            -moz-appearance: none;
            background: url(/apps/regis/clientlibs/costcutters/clientlibs/publish-clientlibs/resources/images/select-arrow@2x.png) no-repeat 96% 50% #ffffff;
            background-size: 23px 12px;
            overflow: hidden;
            text-transfrom: uppercase;
        }
        .bday label[for="bd_months"],
            .bday label[for="bd_days"] {
            display: inline;
        }
        .bday #bd_months,
            .bday #bd_days {
            width: 49%;
            display: inline-block;
        }
    }
}

@media (max-width:400px) {
    .my-account-info {
        .account-summary {
            .modal-dialog {
                margin: 0;
                .modal-body {
                    padding: 0 5px;
                }
            }
        }
    }
}

.my-account-info.row {
    margin: auto !important;
    width: 100%;
    height: max-content;
    @media (min-width: 768px) {
        max-width: 748px !important;
    }
    @media (min-width: 992px) {
        max-width: 960px !important;
    }
    @media (min-width: 1200px) {
        max-width: 1140px !important;
    }
    @media(max-width:768px) {
        max-width: 85%;
        width: 100%;
    }
    input#mobile-type,
        input#home-type,
        input#gender-male,
        input#gender-female {
        display: none;
    }
    .col-md-12.form-group fieldset.col-md-12 legend.col-md-2 {
        padding: 0px;
        label.gender.col-md-2.col-xs-12 {
            padding: 0px;
        }
    }
}

fieldset.col-md-6.custom-width {
    width: 70%;
    @media (max-width: 767px) {
        width: 100%;
    }
    .row {
        .col-md-12 {
            padding-left: 0;
            .form-group {
                padding-left: 0;
            }
        }
    }
}

.myacountdata {
    div#updatePasswordForPI {
        border: 1px solid #e60f1a;
        color: #e60f1a;
        font-weight: 600;
        background: white;
        letter-spacing: 1px;
        &:hover {
            background-color: #e60f1a;
            color: white;
            font-weight: 600;
            letter-spacing: 1px;
        }
    }
    .ctabutton.section {
        width: 100%;
        input#cta-submit-button {
            width: 100% !important;
            margin: 10px auto;
            -webkit-appearance: button;
            background-color: white;
            border: 1px solid #e60f1a;
            color: #e60f1a;
            font-size: 16px;
            text-transform: uppercase;
            text-align: center;
            &:hover {
                background-color: #e60f1a;
                color: white;
                font-weight: 600;
                letter-spacing: 1px;
            }
        }
    }
    input#supercut_preferred_services,
        input#supercut_with_shampoo_preferred_services,
        input#supercolor_preferred_services,
        {
        display: none;
    }
    .has-success .form-control:focus,
        .form-control:focus,
        .has-error .form-control:focus {
        border: 1px solid #e60f1a;
        outline: none;
    }
}

.my-guests {
    .btn.btn-default.btn-cancel-guest {
        color: #e60f1a;
        background-color: #fff;
        border-color: #e60f1a;
        font-weight: 600;
        letter-spacing: 1px;
        text-transform: uppercase;
        &:hover {
            color: white;
            background-color: #e60f1a;
            border-color: #e60f1a;
        }
    }
}

.mypreferredsalon.integrationcomp .location-dtls .vcard {
    margin-left: auto;
    border: 1px solid #e60f1a;
    .store-title {
        color: #e60f1a;
    }
}

.myacountdata.parsys .col-md-12.form-group label {
    padding: 0px;
} 
//prefernece center guest checkbox in stack view in mobile
@media(max-width: 768px){
    .guest-details .left-col.pull-left.prefered-services-checkbox-guests {
        width: 100%;
    }
}
.silhouette {
    display: block;
    .welcome-name {
        margin-bottom: 40px;
        padding: 0;
        .welcome-col {
            float: left;
            display: block;
            width: 100%;
        }
    }
}

//preference center select option 
.prefSelectModal{
    display: none;
}
.prefSelect1 {
    line-height: 35px;
    font-size: 16px;
    border: 1px solid;
    //s border-radius: 5px;
    padding: 5px 15px;
    font-weight: 400;
}
.prefSelect1.selectedPref {
   // background: #e60f1a;
}
.prefSelect.icon-arrow-down:before {
    content: "\e61a";
    float: right;
}
div#accountsideNav {
    margin-top: 30px;
}
//modal designing...
.modal.fade.my-prefered-salon-modal.in{
    .location-search-title {
        .input-group-addon.btn.btn-primary.location-search-bt {
            display: table-cell;
            color: white;
        }
        input#salonSearchAutocomplete {
            border: 1px solid;
        }
        span.input-group-addon {
            border: 1px solid black;
        }
    }
    .location-search{
        .vcard {
            margin-left: auto;
            border: 0px;
            span.store-title {
                min-height: 70px;
            }
            .salon-drct a.cta-arrow{
                color: #727173;
            }
        }
        div#closer-to-you{
		border: 0px;
        }
    }
    //for selected salon in modal..
    .added-salons-container {
        min-height: 290px;
        .change-salon-warning.h4.displayNone, .franch2corp-chng.displayNone {
            padding-top: 30px;
        }
    }
}

//login page
.login.integrationcomp.section{
    .login-main .login-wrapper, .login-main .reset-wrapper {
        width: 350px;
       border: 1px solid #e60f1a;
        border-radius: 4px;
        padding: 30px;
        //border: 0;
        margin: 0 auto;
        select , input{
            border: 0;
            border-bottom: 2px solid #555;
            border-radius: 0;
            height: 40px;
            width: 100%;
            font-family: Roboto;
            font-size: 21px;
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: left;
            color: #464646;
            // padding: 6px 35px 0px 10px;
            //appearance: none;
            //-webkit-appearance:none;
            &:focus{
                outline: 0;
                box-shadow: 0px 1px 1px 0px;
            }
        }
        select {
            background: url(/content/dam/firstchoice/arrow-down.png) right center no-repeat;
            padding: 6px 35px 0px 10px;
        }
        p.error-msg {
            color: #e6041a;
        }
        input#login-persist-credentials {
            border: 1px solid;
            width: 12.8px;
            border-radius: 4px;
            height: 12.8px;
        }
        a.pull-right.forgot-pwd {
            line-height: 25px;
            color: #1e3e6e;
        }
        a#sign-in-btn {
            background-color: white;
            color: #e60f1a;
            font-weight: 900;
            font-size: 17px;
            &:hover{
                background: #e60f1a;
                border: 1px solid #e60f1a;
                color: white;
            }
        }
    }
}
.emailandnewsletters.integrationcomp, .myloyaltyprogram, .mypreferredservices, .myguests {
    width: 100%;
    margin-left: auto;
    padding-left: 45px;
    @media(max-width: 992px){
        width: 100%;
        padding-left: 15px;
    }
}
.emailandnewsletters{
    #preferred-subscribe-email-heading {
        display: inline-block;
        font-family: 'futura-pt-condensed';
        text-transform: uppercase;
        font-weight: 600;
        color: #464646;
        font-size: 24px;
        padding-left: 45px;
    }
    input#haircutReminder_my-account, input#transemails_my_accounts {
        position: inherit;
        border: 1px solid #464646 !important;
        width: 28px !important;
        margin: auto;
        height: 28px !important;
        cursor: pointer;
        display: block;
    }
}
.account-description {
    .emailandnewsletters.integrationcomp, .myloyaltyprogram, .mypreferredservices, .myguests {
        input[type=checkbox]{
            position: inherit;
            border: 1px solid #464646 !important;
            width: 28px !important;
            margin: auto;
            height: 28px !important;
            cursor: pointer;
            display: inline-block;
            appearance: auto !important;
            
        }
        .css-label{
            display: none !important;
        }
    }
}

// my - profile page
.account-description{
    .aboutyoucomponent.integrationcomp.section:nth-child(4){
        .col-md-12.custom-width{
            padding: 0;
            .col-md-12{
                padding-left: 5px;
            }
            .col-md-12.form-group {
                // padding: 0;
                padding-left: 15px;
                padding-right: 15px;
                @media(max-width: 767px){
                    padding: 0;
                }
            }
        } 
        .col-md-12.form-group {
            padding: 0;
            padding-left: 5px;
        }
        .phone-section.col-md-12 {
            //padding: 0;
            //padding-left: 5px;
            fieldset{
                display: flex;
            }
            .col-md-5.form-group {
                padding: 0;
                padding-left: 15px;
                width: 58.33%;
                @media(max-width: 767px){
                    padding: 0;
                    padding-right: 15px;
                }
            }
            .col-md-7.form-group.phone-chk {
                width: 41.6666%;
               // padding-right: 0;
                padding-right: 15px;
                 @media(max-width: 767px){
                  //  padding: 0;
                    padding-right: 0px;
                }
            }
        }
        .col-md-12.form-group.gender-chk{
            padding-left: 15px;
            padding-right: 15px !important;
            @media(max-width: 767px){

                padding-right: 15px;
                padding: 0 !important;
            }
            .fieldset.col-md-12{
                padding-right: 15px !important;
                @media(max-width: 767px){
                    
                    padding-right: 15px;
                    padding: 0px !important;
                }
            }
            fieldset{
                // padding: 0;
                padding-right: 15px !important;
                padding-left: 5px;
                @media(max-width: 767px){
                    
                    padding-right: 15px;
                    padding: 0px !important;
                }
            }
        }
    }
    .personalinformation{
        .my-address{
            @media(max-width: 767px){
                
                // padding-right: 15px;
                padding: 0px !important;
            }
            .col-md-6.col-xs-12.custom-width.row{
                @media(max-width: 767px){
                    
                    // padding-right: 15px;
                    padding: 0px !important;
                }
            }
            .head-style{
                padding: 0;
                padding-left: 5px;
            }
            p#introTextPersonal{
                padding: 0;
                padding-left: 5px;
            }
            .form-group.col-md-12 {
                padding-left: 5px;
                @media(max-width: 767px){
                    padding-right: 0;
                }
            }
        }
    }
    .logininfo.integrationcomp.section{
        .login-informtion-title , .col-md-12.form-group{
            padding-left: 5px;
        }
    }
    .logininfo + .title{
        padding-left: 15px;
        @media(max-width: 767px){
            
            // padding-right: 15px;
            padding: 0px !important;
        }
        .title-component{
            padding-left: 15px;
            @media(max-width: 767px){

                // padding-right: 15px;
                padding: 0px !important;
            }
            .col-xs-12{
                padding-left: 5px;
                .main-title.h3{
                    padding: 0;
                }
            }
        }
    }
    
}
.myacountsidenavigation{
    ul + .clearfix + .visible-xs{
        span.custom-dropdown{

        }
    }
    select#accountsideNav {
        @media(max-width: 767px){
            width: 92% !important;
            margin: auto;
            appearance: none;
            background: url(/content/dam/firstchoice/arrow-down.png) right center no-repeat !important;
        }
        option {
            width: 90% !important;
        }
    }
    div#accountsideNav{
        border: 0;
        border-bottom: 2px solid #555;
        border-radius: 0;
        height: 40px;
        width: 100%;
        font-family: Roboto;
        font-size: 21px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: #464646;
        appearance: none;
        -webkit-appearance:none;
        background: url(/content/dam/firstchoice/arrow-down.png) right center no-repeat;
        padding: 6px 35px 0px 10px;
        &:focus{
            outline: 0;
            box-shadow: 0px 1px 1px 0px;
        }
        &:before{
            display: none;
        }
        
    }
}
.progress-bar-component.col-md-12 {
    padding: 0;
}
.account-description.col-md-12 {
    padding: 0;
}
//preference page - change salon
.modal.fade.my-prefered-salon-modal.in {
    .location-search-title{
        span.input-group.srch-row {
            margin-top: -20px;
        }
        span.input-group-addon {
            display: none;
        }
        input#salonSearchAutocomplete {
            width: 325px;
            height: 40px;
            opacity: .6;
            border: solid 2px #707070;
            border-radius: 4px 0 0 4px;
            border-right: 0;
            font-size: 18px;
            font-weight: 500;
            background: white;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: left;
            color: #464646;
        }
        .input-group-addon:last-child {
            height: 40px;
            border: solid 2px #e60f1a;
            background-color: #fff;
            display: grid;
            width: 175px;
            font-family: Roboto;
            font-size: 24px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            letter-spacing: normal;
            text-align: center;
            color: #e60f1a;
            border-radius: 0 4px 4px 0;
            width: 164px;
            margin-top: 0;
            border-radius: 0 4px 4px 0;
        }
        .input-group-addon.btn.btn-primary.location-search-bt {
            display: table-cell;
            color: #e60f1a;
        }
        
    }
    .salonselectoradvanced input[type=checkbox].css-radiobtn+label.css-label {
        margin-bottom: 0;
        border: 0;
        width: 21px;
        height: 21px;
        padding: 0;
        border: solid 2px #707070;
        background-image: none;
        margin: 0;
    }
    .location-search-results.tab-content {
        margin-top: 30px;
    }
    .location-search .vcard {
        margin-left: auto;
        border: 0px;
        padding-top: 0;
    }
    .show-more-search-results, .show-less-search-results {
        margin-top: -9px;
        margin-bottom: 10px;
        color: #e60f1a;
    }
    .location-search .search-right-column .result-container{
        padding: 0 10px;
    }
    .show-more-container .map-directions .check-in {
    width: 300px;
    }
    .vcard .close-btn.icon-close:before{
        content: "";
    }
    .locations.map-directions {
        display: flex;
    }
    .salon-type-condition-container {
        display: block !important;
        width: auto;
        margin-top: 10px;
    }
    /*.location-dtls .vcard {
    margin-left: 30px;
    padding-top: 4px !important;
    padding: 0;
}
    .cta-arrow{
    display: none !important;
}
    .panel-body {
    padding-top: 2.2ex;
    padding-bottom: 32px !important;
}
    button.btn.close-btn.icon-close{
    &:before{
    content: '';
}*/
    
}

@media screen (min-width:768px) and (max-width:1024px) {
            .collapse{
                font-size:14px;
            }
}
