
.displayNone {
    display: none;
}

.container {
    font-family: "roboto",sans-serif;
}

.product-details-container {
    width: 1000px;
}

.product-details.container{
    width: 1000px;
}
.product-details .title-component .title .h3{
    font-weight: bold !important;
    color: #5f6167 !important;
    text-transform: capitalize;
    font-family: "roboto",sans-serif !important;
}
@media (min-width: 1200px) {
    .costcutters-container {
        width: 1170px;
    }
}
@media (min-width: 768px) {
    .costcutters-container {
        padding-right: 0px;
        padding-left: 0px;
    }
}

.costcutters-container {
    padding-right: 10px;
    padding-left: 10px;
    margin-right: auto;
    margin-left: auto;
    margin-top : 100px;
    /*width: 1000px;*/
}

/*.product-container .h4.selected {
font-size: 24px;
text-align: left;
line-height: 36px;

font-family: "roboto",sans-serif, sans-serif;
font-weight: 800;
font-style: normal;
border-bottom: 1px solid #5f6167;
padding-bottom: 15px;
}
*/
.product-container li > a {
    font-family: "roboto",sans-serif, sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #3e3e3e;
    font-size: 13px;
}
.product-wrap .h4 {
    border-bottom: 2px solid #464646;
    padding-bottom: 10px;
    margin-top: 30px;
    font-size: 19px;
    color: #e60f1a;
    font-weight: 700;
    padding-right: 20px;
    font-family: Roboto;
    font-size: 30px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #e60f1a;
    /*background: url(/content/dam/firstchoice/arrow-down.png) no-repeat right center;*/
    /*font-family: "icomoon";*/
}
/*.product-wrap .h4:after {
content:"\e601";
}*/
.product-wrap .h4 > a {
    font-size: 19px;
    text-align: left;
    line-height: 30px;
    color: #e60f1a;
    font-weight: 700;
    font-family: "roboto",sans-serif, sans-serif;

    font-style: normal;
    border-bottom: 0px;
    padding-bottom: 12px;
    font-size: 30px;
    
}
}

.product-wrap .list-unstyled {
    padding-top: 6px;

}

.prod-desc {
    font-family: "roboto",sans-serif, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 15px;
    text-align: left !important;
    line-height: 15px;
    color: #2d2a26;
}

.productshowcase .product-list-wrap div.prod-info img {
    background: rgba(243, 243, 243, 255);
}

/*.heroimage {
margin-right: 30px;
margin-left: 30px;
}*/

.title1 {
    font-family: "roboto",sans-serif, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 72px;
    text-align: left;
    line-height: 72px;
    color: #ffffff;
    margin-left: 100px;
}

.top-left .title1, .top-left .title2 {
    margin-left: 100px;
}

.top-right .title1, .top-right .title2 {
    margin-right: 100px;

}

.title2 {
    font-family: "roboto",sans-serif, sans-serif;
    font-size: 33px;
    font-weight: 400;
    font-style: normal;
}

/*Products page custom dropdown css*/
.product-page .product-dropdown.dropdown button {
    text-align: left;
    background: url('../../../../supercuts/clientlibs/sc-publish-clientlibs/resources/images/select-arrow@2x.png') no-repeat 97% 50% #ffffff;
    background-size: 8%;
}

.product-page .product-dropdown.dropdown.open button {
    background: url('../../../../supercuts/clientlibs/sc-publish-clientlibs/resources/images/select-arrow@2x-UP.png') no-repeat 97% 50% #ffffff;
    background-size: 8%;
}

.product-page .product-dropdown.dropdown button:focus,
.product-page .product-dropdown.dropdown button:hover,
.product-page .product-dropdown.dropdown button:active {
    border: 1px solid #cccccc;
    outline: none;
    box-shadow: none;
}

.product-page .product-dropdown.dropdown button #dropdown-selected-value {
    color: #c8102e;
    font-size: 16px;
    font-weight: bold;
}

.product-page .product-dropdown.dropdown ul.dropdown-menu {
    width: 100%;
    position: relative;
    top: 0;
    border-radius: 0;
    padding: 10px 0;
    margin: 0;
    border-top: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none;
}

.product-page .product-dropdown.dropdown ul.dropdown-menu ul.list-unstyled {
    padding-left: 40px;
}

.product-page .product-dropdown.dropdown ul.dropdown-menu > li > span {
    color: #c8102e;
    padding: 5px 20px 5px 15px;
    display: inline-block;
    font-weight: bold;
    border-left: 5px solid #c8102e;
    background: #F5F6F8;
    width: 100%;
    font-family: "roboto",sans-serif, sans-serif;
    font-weight: 600;
}

.product-page .product-dropdown.dropdown ul.dropdown-menu > li > a {
    color: #3e3e3e;
    padding: 5px 20px;
    font-weight: bold;
    font-family: "futura-pt-condensed";
    font-size: 18px;
}

.product-page .product-dropdown.dropdown ul.dropdown-menu ul.list-unstyled > li > a {
    padding: 5px 0;
    display: inline-block;
    color: #3e3e3e;
}

.product-page .product-dropdown.dropdown ul.dropdown-menu ul.list-unstyled > li > span {
    color: #3e3e3e;
    border-left: 5px solid #c8102e;
    background: #F5F6F8;
    display: inline-block;
    width: 100%;
    padding: 5px 0 5px 3px;
}

.productshowcase.section, .htmlcoder.section, .ctabutton.section {
    overflow: inherit;
    clear: both;
}
.productshowcase.section .row{
    margin-right: -20px !important;
    margin-left: -20px !important;
    margin-top: -20px !important;
    margin-bottom: -20px !important;
}
.product-wrap li.selected {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.9;
    margin-left: 35px;
    letter-spacing: normal;
    text-align: left;
    color: #464646;
}
@media(max-width: 1200px){
.product-wrap .h4, .product-wrap .h4 > a { 
            font-size: 28px;
        }
        .product-wrap li.selected {
font-size: 18px;
            }
    }
    @media (max-width: 768px) {
    .product-wrap .h4 , .product-wrap .h4 > a { 
                    font-size: 24px;
                }

            .prod-desc {
            font-weight: 600;
            font-style: normal;
            font-size: 10px;
            
        }
            .product-wrap li.selected {
font-size: 16.5px;
                }
    }

.contact-us-form .accordion .panel{
    background: #ffffff;
}