
.product-detail-wrap {
    margin-top: 0px;
}
.product-detail-wrap {
    margin-bottom: 0ex;
    float: left;
}
.product-detail-wrap .product-img img {
    width: 100%;
}
.product-detail-wrap .product-info {
    padding: 10px;
}
.product-detail-wrap .product-info h1 {
    color: #5f6167;
    line-height: 26px;
}
.product-detail-wrap .product-info h1 .salonsmalltxt {
    font-size: 22px;
    font-weight: 500;
    letter-spacing: 1px;
    color: #5f6167;
    display: block;
    margin-bottom: 20px;
}
.product-detail-wrap .product-info .product-features .features > div {
    width: 50%;
    float: left;
}
.product-detail-wrap .product-info .product-features {
    padding: 10px 0;
    border-top: 1px solid #adadad;
    border-bottom: 1px solid #adadad;
}
.product-detail-wrap .product-info .product-features .features {
    padding: 0;
}
.product-detail-wrap .product-info .product-features .features h4 {
    margin: 0;
    font-size: 22px;
    font-weight: 500;
}
.product-detail-wrap .product-info .product-features .features ul {
    margin-bottom: 2ex;
    font-style: italic;
    list-style-type: none;
    padding-left: 0;
}
.product-detail-wrap .product-info .product-features .usage {
    padding: 0;
}
.product-detail-wrap .product-info .product-features .usage h4 {
    margin: 0;
}
.product-detail-wrap .product-info .product-features .usage p {
    font-style: italic;
}
.product-detail-wrap .product-info .product-features .usage .imgtxt-box {
    padding: 0;
}
.product-detail-wrap .product-info .product-features .usage .imgtxt-box h1,
.product-detail-wrap .product-info .product-features .usage .imgtxt-box h2,
.product-detail-wrap .product-info .product-features .usage .imgtxt-box h3,
.product-detail-wrap .product-info .product-features .usage .imgtxt-box h4,
.product-detail-wrap .product-info .product-features .usage .imgtxt-box h5,
.product-detail-wrap .product-info .product-features .usage .imgtxt-box h6,
.product-detail-wrap .product-info .product-features .usage .imgtxt-box div.imgtxt-heading {
    color: #5f6167;
}
.product-detail-wrap .product-info .product-features .usage .imgtxt-box .imgtxt-subheading {
    color: inherit;
    font-size: 13px;
    font-weight: 500;
    margin: 0;
    text-transform: capitalize;
}
.product-detail-wrap .product-info .product-share {
    margin-top: 4ex;
    padding-left: 0;
}
.product-detail-wrap .product-info .product-share .social-share {
    padding-left: 0;
    width: 100%;
    .socialsharingcomp{
        .col-xs-12.col-sm-12.col-md-12{
            width: 50%;
        }
        .social-links.col-xs-12 {
            width: 50%;
            dl {
                margin-top: 15px;
            }
        }
    }
}

.product-detail-wrap .product-info .socialsharingcomp {
    overflow: hidden;
}
.product-detail-wrap .product-info .socialsharingcomp .footer-social-nav {
    float: left!important;
}
.product-detail-wrap .product-info .socialsharingcomp .footer-social-nav dd:first-child {
    margin-left: 0;
}
@media (min-width: 992px) {
    .product-detail-wrap {
        border: 0px;
    }
    .product-detail-wrap .product-img {
        width: 33%;
    }
    .product-detail-wrap .product-img img {
        width: 100%;
        padding: 30px 10px 10px 10px;
    }
    .product-detail-wrap .product-info {
        padding: 30px;
        width: 67%;
    }

    .product-detail-wrap .product-info .product-features {
        padding: 3ex 0;
    }
    .product-detail-wrap .product-info .product-share {
        margin-top: 1ex;
        padding-right: 0;
    }
    .product-detail-wrap .product-info .product-share .cta-lo-salon {
        padding-right: 0;
    }
    .product-detail-wrap .product-info .product-share .cta-lo-salon a {
        float: right;
    }
}
@media (max-width: 767px) {
    .product-features {
        padding: 0;
    }
    .product-features .usage .img-text-comp {
        margin: 0 !important;
    }
}

.product-detail-wrap .product-info .product-share .social-share {
    padding-left: 0;
}
.product-detail-wrap .product-info .socialsharingcomp {
    overflow: hidden;
}
.product-detail-wrap .product-info .socialsharingcomp .footer-social-nav {
    float: left!important;
}
.product-detail-wrap .product-info .socialsharingcomp .footer-social-nav dd:first-child {
    margin-left: 0;
}

.product-features .pagetagsdisplaycomp h2.h3 {
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
    font-size: 16px;
    text-transform: none;
    margin-top: 0px;
}

dl {
    margin-top: 0;
    margin-bottom: 20px;
}
dt,
dd {
    line-height: 1.42857143;
}
dt {
    font-weight: bold;
}
dd {
    margin-left: 0;
}
.dl-horizontal dt {
    float: left;
    width: 160px;
    clear: left;
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.dl-horizontal dd {
    margin-left: 180px;
}

.socialsharinggenericcomp .text-center dl dd {
    margin: 0 10px;
}
.socialsharinggenericcomp dl dd {
    display: inline-block;
}
.socialsharinggenericcomp .h3{
    font-size: 18px !important;
}
.col-md-6.col-xs-12.cta-lo-salon, a.fav-heart.fav-hrt-empty.btn {
    display: none;
}
.product-details.container{
    max-width: 1440px !important;
    width: 100%;
    @media(max-width: 768px){
        padding: 0;
    }
}
.locationsearch.integrationcomp {
    padding-top: 73px;
    background-color: #f5f5f5;
}
.contentColoredParsys  + div{
    .breadcrumb {
        //  max-width: 1140px !important;
        margin: auto;
        margin-top: 26px;
        margin-bottom: 10px;
        .breadcrumbEle {
            a{
                font-family: Roboto;
                font-size: 16px;
                font-weight: 500;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: normal;
                text-align: left;
                color: #464646;
            }
        }
        .breadcrumbEle:nth-child(9) {
            a{
                font-family: Roboto;
                font-size: 16px;
                font-weight: 500;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: normal;
                text-align: left;
                color: #e60f1a;
            }
        }
    }
}
.productdetailscomponent.productdetailcomponent.integrationcomp {
    max-width: 1140px;
    margin: auto;
    @media(max-width: 1200px) and (min-width: 768px){
        height: 500px;
    }
    @media(max-width: 768px){
        height: 860px;
    }
}


//.productdetailscomponent + .nearbysalons{
.nearbysalons{
    max-width: 1440px;
    margin: auto;
    .panel-heading {
        width: 45%;
        background-color: #707070;
        display: none;
    }
    .panel-expand.expand .panel-body.row .col-sm-12.col-md-4.pull-left {
        width: 100%;
        margin-top: 0px !important;
        display: flex;
        height: max-content;
        @media(max-width: 768px){
            flex-wrap: wrap;
            padding: 0;
        }
        div#searchBtnLabelHeader{
            font-family: Roboto;
            font-size: 30px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            padding-right: 20px;
            text-align: left;
            color: #464646;
            width: 45%;
            margin-top: 0;
            width: max-content;
            margin-left: auto;
            margin-right: 0;
            height: max-content;
            @media(max-width: 1200px) and (min-width: 768px){
                width: 100%;
                //order: 2;
                font-size: 24px;
                line-height: 2;
                text-align: center;
            }
            @media(max-width: 767px){
                //  flex-wrap: wrap;
                width: 100%;
                font-size: 26px;
                text-align: center;
            }
        }
        .input-group{
            margin: auto;
    		margin-left: 0;
			display: inline-flex;
            @media(max-width: 1200px) and (min-width: 768px){
                margin: auto;
                margin-top: 16px;
            }
            @media(max-width: 767px){
                width: 100%;
				display: block;
            }
            .search-wrapper{
                @media(max-width: 767px){
                    width: 100%;
                    display: flex;
                }
                input#autocompleteHeaderWidget {
                    width: 332px !important;
                    font-size: 14px !important;
                    height: 40px !important;
                    background: #fcfcfc !important;
                    border: 2px solid #7070707d !important;
                    border-right: 0 !important;
                    border-radius: 4px 0 0 4px !important;
                    @media(max-width: 1200px) and (min-width: 768px){
                        width: 368px !important;
                    }
                    @media(max-width: 767px){
                        width: 100% !important;
                        font-size: 14px !important;
                        border: solid 2px #707070 !important;
                        margin: auto;
                        //border-right: initial !important;
                    }
                }
            }
            .input-group-btn{
                @media(max-width: 767px){
                    width: 100%;
                    display: flex;
                }
                button.btn.btn-default.customTheme {
                    width: 204px;
                    font-size: 24px;
                    font-weight: bold;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 0;
                    height: 40px;
                    letter-spacing: normal;
                    text-align: center;
                    border: solid 2px #e60f1a;
                    color: #e60f1a;
                    border-radius: 0 4px 4px 0;
                    @media(max-width: 1200px) and (min-width: 768px){
                        width: max-content;
                    }
                    @media(max-width: 767px){
                        width: max-content;
                        font-size: 16px;
                        margin: auto;
                        margin-top: 27px;
                    }
                }
            }
        }
    }
    div#locations-accordion {
        background: #f5f5f5;
        padding: 48px 39px;
        @media(max-width: 768px){
            padding: 10px;
        }
        .panel {
            background: transparent;
            .panel-expand.expand {
                width: 100%;
                background: #f5f5f5;
            }
        }
    }
    input#autocompleteHeaderWidget {
        width: 217px;
        font-size: 14px;
        border-radius: 4px 0 0 4px !important;
    }
    .panel-body.row .col-sm-12.col-md-4.pull-left button.btn.btn-default.customTheme {
        //width: 110px;
        font-size: 16px;
        border-radius: 0 4px 4px 0;
    }
    /* .container.main-wrapper.main.location-search-main{
    max-width: 1140px !important;
    width: 100%;
    .row.location-search-header + .row{
    max-width: 1440px !important;
            width: 100%;
            .location-search-title{
                .col-xs-8.col-sm-10{
                    width: 45%;
                    @media(max-width: 1200px) and (min-width: 768px){
                        width: 100%;
                    }
                    @media(max-width: 768px){
                        width: 100%;
                    }
                    h2{
                        font-size: 30px;
                        text-align: right;
                        font-weight: bold;
                        margin-top: 0 !important;
                        @media(max-width: 1200px) and (min-width: 768px){
                           // height: 500px;
                            text-align: center;
                        }
                        @media(max-width: 768px){
                           text-align: center;
                        }
                    }
                }
            }
        }
        .search-nav {
            position: absolute;
            top: -110px;
            right: 0;
            height: 117px;
            width: max-content;
            @media(max-width: 1200px) and (min-width: 768px){
                top: -50px;
            }
            @media(max-width: 768px){
                top: -50px;
                margin: auto;
            }
        }
    }*/
}
.productdetailscomponent + .nearbysalons + .content.parsys {
    max-width: 1140px;
}
.product-detail-wrap .product-info{
    @media(max-width: 1200px) and (min-width:768px){
        position: unset;
    }
    h1, .h1{
        font-size: 28px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: #e60f1a;
        margin-top: 0;
        @media(max-width: 1200px) and (min-width:768px){
            font-size: 28px;
        }
        @media(max-width: 767px){
            font-size: 21px;
        }
        .salonsmalltxt{
            font-size: 46px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 0.8;
            letter-spacing: normal;
            text-align: left;
            color: #464646;
            @media(max-width: 1200px) and (min-width:768px){
                font-size: 30px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: normal;
                text-align: left;
                color: #464646;
            }
            @media(max-width: 768px){
                font-size: 26px;
            }
        }
    }
    p{
        font-family: Roboto;
        font-size: 20px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: #464646;
        @media(max-width: 1200px) and (min-width:768px){
            font-size: 18px;
        }
        @media(max-width: 767px){
            font-size: 16px;
        }
    }
    .product-features{
        border: 0;
        @media(max-width: 1200px) and (min-width:768px){
            position: absolute;
            width: 95%;
            margin: auto;
            left: 7%;
        }
        .usage{
            @media(max-width: 1200px) and (min-width:768px){
                width: 45%;
            }
        }
        .usage .imgtxt-box {
            .imgtxt-subheading {
                font-family: Roboto;
                font-size: 21px;
                font-weight: bold;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: normal;
                text-align: left;
                color: #464646;
                margin-bottom:29px;
                @media(max-width: 1200px){
                    font-size: 18px;
                }
            }
            .imgtxt-para{
                font-family: Roboto;
                font-size: 20px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: normal;
                text-align: left;
                color: #464646;
                @media(max-width: 1200px) and (min-width: 768px){
                    font-size: 18px;
                }
                @media(max-width: 768px){
                    font-size: 16px;
                }
            }
        }
    }
    .features{
        width: 47%;
        margin-left: 15px;
        @media(max-width: 767px){
            width: 100%;
            margin: 0;
            margin-top: 31px;
        }
    }
    .pagetagsdisplaycomp{
        h2.h3 {
            font-family: Roboto;
            font-size: 21px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: left;
            color: #464646;
            margin-bottom: 29px;
            @media(max-width: 1200px){
                font-size: 18px;
            }
            @media(max-width: 768px){
                font-size: 16px;
            }
        }
        ul li{
            font-family: Roboto;
            font-size: 21px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: left;
            color: #464646;
            @media(max-width: 1200px){
                font-size: 18px;
            }
            @media(max-width: 768px){
                font-size: 16px;
            }
        }
    }
    .product-share {
        @media(max-width: 1200px) and (min-width:768px){
            position: absolute;
            right: 0;
            margin-top: 110px;
        }
    }
    .socialsharinggenericcomp {
        .col-xs-12.col-sm-12.col-md-12{
            padding: 0;
        }
        .h3 {
            font-family: Roboto;
            font-size: 16px !important;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: left;
            color: #464646;
            position: relative;
            overflow: hidden;
            padding-right: 20px;
            width: max-content;
            &:after{
                content: "";
                position: absolute;
                width: 200%;
                height: 200%;
                top: -50%;
                left: -7px;
                right: auto;
                z-index: -1;
                transform: rotate(-90deg);
                background: url(/content/dam/firstchoice/checkinIcons/dropdownArrow.png) center no-repeat;
            }
            @media(max-width: 1200px){
                font-size: 16px;
            }
            @media(max-width: 768px){
                font-size: 14px;
            }

        }
        .social-links{
            padding: 0;
            a{
                img{
                    width: auto;
                    height: 29px;
                    margin-left: 25px;
                }
            }
            @media(max-width:768px){
                width: 100% !important;
            }
            dl {
                margin-top: 15px;
                width: max-content;
                margin-left: auto;
            }
        }
    }
}
.product-detail-wrap  .product-img img {
    width: 100%;
    @media(max-width: 1200px) and (min-width:768px){
        max-width: 264px;
    }
}
.productshowcase{
    .product-list-wrap {
        padding: 0;
    }
    .media-gallery.prod-4 {
        display: flex;
        flex-wrap: wrap;
    }
    .prod-4 div.prod-info .h4{
        font-family: Roboto;
        font-size: 21px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center !important;
        color: #464646;
        @media(max-width: 1200px){
            font-size: 16px;
        }
    }
    .prod-4 div.prod-info {
        margin: auto;
        width: 25%;
        min-height: initial;
        padding: 0px;
        float: none;
        text-align: center;
        @media (max-width: 1200px) and (min-width: 767px){

            width: 25%;
            margin: auto;
            padding: 10px;
            height: 275px !important;
        }
        @media(max-width: 768px){
            min-height: initial;
            float: none;
            text-align: center;
            width: 100% !important;
            height: auto !important;
            max-width: 232px;
            margin: auto !important;
        }
        img {
            width: 100%;
            max-width: 232px !important;
            height: 100%;
            max-height: 232px !important;
            margin-left: 0;
            @media(max-width: 768px){
                width: 100%;
                max-height: 232px !important;
            }
        }
    }
    .prod-4  div.prod-info:nth-child(4n) {
        margin: inherit;

        @media(max-width: 768px){
            // margin-right: 0 !important;
            margin: auto !important;
        }
    }
    .product-list-wrap .prod-4 div.prod-info:nth-child(-n+3) {
        @media (max-width: 992px) and (min-width: 767px){

            margin-right: 0;
        }
    }
}
//Product page sidenav. >> 
.costcutters-container{
    .col-sm-6.col-md-3.col-xs-12 {
        width: 27%;
       padding-left: 4px;
        @media(max-width: 767px){
width: 100%;
        }
        .product-page.col-md-12.col-xs-12.hidden-xs {
            padding: 0;
            
        }
    }
    .product-list.col-sm-6.col-md-9 {
        width: 73%;
        @media(max-width: 767px){
            width: 100%;
        }
        .textandimage .imgtxt-url .btn{
            @media(max-width: 767px){
                display: block;
                margin: auto;
            }
        }
        
    }
}
.product-wrap li a{
    font-family: Roboto;
    font-size: 20px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.9;
    margin-left: 35px;
    letter-spacing: normal;
    text-align: left;
    color: #464646;
    @media(max-width: 1200px) and (min-width: 768px){
        font-size: 18px;
    }
    @media(max-width: 767px){
       font-size: 16.5px;  
    }
}
@media(max-width: 767px){
    .col-md-6.col-xs-12.social-share{
        padding: 0;
        .socialsharingcomp{
            .social-links {
                width: 50% !important;
            }
            .row{
                display: flex;
                dl{
                    //  margin-left:
                    img{
                        height: 25px;
                        margin-left: 0; 
                    }
                    
                }
            }
        }
    }
}
.productdetailscomponent .container{
    padding: 0;
    .product-detail-wrap .product-img{
        padding-left: 0;
        img{
            padding: 0;
        }
    }
}