.salon-detail_div {
  max-width: 1140px;
  margin: auto;
  position: relative;
  .salondetailspagelocationcomp {
    height: 250px;
  }
  @media (max-width: 768px) {
    width: 100%;
    max-width: 768px;
    margin: auto;
    position: relative;
  }
  @media (max-width: 992px) {
    width: 100%;
    max-width: 992px;
    margin: auto;
    position: relative;
  }
  .check-in.col-md-6 .vcard {
    padding-top: 0;
    padding-left: 15px !important;
    border-left: 2px solid black;
    line-height: 0;
    //ipad alignment
    @media (max-width: 767px) {
      border: 0px;
      padding-left: 0px !important;
    }
  } //override negative margin
  .new-row {
    margin: 0px auto !important;
    //ipad alignment
    @media (max-width: 768px) and (min-width: 767px) {
      display: block;
    }
  }
  //promotional message section
  .promotionmessage {
    .salon-offers {
      @media (max-width: 768px) {
        width: max-content;
        margin: auto;
      }
      .col-md-12.col-xs-12.col-sm-12.theme-default {
        padding: 0;
        width: max-content;
        max-width: 360px;
        @media (max-width: 768px) {
          max-width: 218px;
          margin: auto;
        }
      }
      .media.col-md-12.col-sm-12.col-xs-12.pull-left {
        img {
          vertical-align: middle;
          width: 100%;
          @media (max-width: 768px) {
            max-width: 216px;
            // margin: auto;
          }
        }
      }
      .details {
        p.h4 {
          font-family: Roboto;
          font-size: 36px;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: normal;
          letter-spacing: normal;
          text-align: left;
          margin: 27px auto 11px;
          color: #e60f1a;
        }
        .promoText p {
          font-family: Roboto;
          font-size: 21px;
          font-weight: 500;
          font-stretch: normal;
          font-style: normal;
          line-height: normal;
          letter-spacing: normal;
          margin: 0;
          text-align: left;
          color: #464646;
        }
        a.cta-to-offer-details.btn.btn-primary {
          height: 38px;
          border: solid 2px #e60f1a;
          background-color: #e60f1a;
          width: 100%;
          margin: 22px auto;
          border-radius: 0;
          font-size: 24px;
          font-family: "roboto";
          font-weight: bold;
          font-stretch: normal;
          font-style: normal;
          line-height: 0.9;
          letter-spacing: normal;
          text-align: center;
          color: #ffffff;
        }
      }
      aside.row.media-left {
        border: solid 2px #464646;
        background-color: #ffffff;
        padding: 0;
        .media.col-md-12.col-sm-12.col-xs-12.pull-left {
          padding: 0;
          padding-top: 15px;
          background-color: #464646;
        }
      }
    }
  }
  .salondetailspagelocationcomp
    section.locations.map-directions.pull-left
    .vcard
    a {
    color: #464646;
  }
}

//breadcrumb
.salon-detail-breadcrumb.hidden-xs {
  max-width: 1440px;
  margin: auto;
  background-color: #f5f5f5;
  display: block !important;
  @media (max-width: 767px) {
    padding-left: 15px;
  }
  .breadcrumbsalondetail.breadcrumb {
    display: flex;
    width: 100%;
    margin: auto;
    margin-bottom: 0;
    max-width: 1140px;
    // margin-top: 105px;
    padding-top: 110px !important;
    float: initial;
    margin-bottom: 0px;
    div.breadcrumbEle {
      font-family: Roboto;
      font-size: 16px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      color: #464646;
    }
    div:nth-child(7) {
      span {
        font-family: Roboto;
        font-size: 16px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: #e60f1a;
      }
    }
  }
}

//for all salon detail div
.salon-detail-breadcrumb.hidden-xs + .salon-detail_div {
  max-width: 1440px;
  margin: auto;
  background-color: #f5f5f5;
}

//salondetails section
.acs-commons-resp-colctrl-row.aem-GridColumn.aem-GridColumn--default--12.sal-details {
  max-width: 1440px;
  margin: auto;
  width: 100%;
  background-color: #f5f5f5;
  @media (min-width: 1200px) {
    height: 300px;
    padding-top: 45px;
  }
  @media (max-width: 1200px) {
    height: 300px;
    padding-top: 45px;
  }
  .new-container {
    @media (max-width: 1200px) and (min-width: 768px) {
      width: 94%;
      margin: auto;
    }
  }
  //direction button
  .salon_dirDiv {
    // margin-top: -100px;
    padding-left: 20px;
    a.salon_direction {
      font-family: Roboto;
      font-size: 18px;
      font-weight: 600;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      color: #464646;
      background: url(/content/dam/firstchoice/directions_icon_gray.png)
        no-repeat bottom left;
      padding-left: 27px;
    }
  }
  .new-row {
    max-width: 1140px;
    margin: auto;
    .acs-commons-resp-colctrl-col-30 {
      padding: 0;
      .col-sm-12.salon-details-title-edit {
        padding: 0;
        margin-top: -60px;
      }
    }
    .acs-commons-resp-colctrl-col-10 {
      padding: 0;
    }
  }
  section.locations.map-directions.pull-left {
    width: max-content;
    max-width: 300px;
    @media (max-width: 1200px) and (min-width: 768px) {
      max-width: 230px;
    }
    .check-in.col-md-6 {
      padding: 0;
      width: 90%;
    }
  }
  .salon-details-title-edit {
    padding: 0;
    width: 376px;
    @media (max-width: 767px) {
      margin-bottom: 0px;
            width: 100%;
    }
  }
  //added for salon address line height.
  h1.hidden-xs.salontitle_salonsmalltxt {
    font-size: 28px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.1;
    letter-spacing: normal;
    text-align: left;
    color: #464646;
    display: block !important;
  }
  .salontitle_salonlrgtxt {
    font-size: 38px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: #464646;
    margin-top: 25px;
    display: block !important;
    @media (max-width: 767px) {
      border-bottom: 2px solid #464646;
      padding-bottom: 40px;
      margin-bottom: 26px;
    }
  }
  .locations {
    div#waittimecallnow {
      display: none !important;
    }
    span.store-title.hidden-md.hidden-lg {
      font-family: Roboto;
      font-size: 26px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: 1;
      letter-spacing: normal;
      text-align: left;
      color: #464646;
      display: none !important;
      @media (max-width: 768px) {
        padding-bottom: 40px;
        border-bottom: 2px solid #464646;
        font-family: Roboto;
        font-size: 26px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1;
        letter-spacing: normal;
        text-align: left;
        display: block;
        min-height: 85px;
        color: #464646;
        margin-bottom: 26px;
      }
    }
    .location-details {
      span.street-address,
      span.telephone {
        font-family: Roboto;
        font-size: 18px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        width: 236px;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: #464646;
        padding-right: 5px;
        margin-top: 0;
        color: #464646;
        padding-right: 5px;
        line-height: 1.5;
        &:before {
          content: " ";
          @media (max-width: 768px) {
            padding: 0;
          }
        }
      }
      span.telephone {
        background: none;
        padding-left: 0;
        margin-top: 22px;
        font-weight: 600;
        line-height: 36px;
        text-decoration: underline;
        @media (max-width: 768px) {
          padding-left: 0;
        }
      }
      span.street-address:nth-child(1) {
        @media (max-width: 768px) {
          //border-top: 2px solid #464646;
          margin-top: 22px;
          padding-top: 28px;
        }
      }
      a#salonDetailsGetDirections {
        display: table-row;
      }
    }
    //FCH-104: heart icon and book now button alignment..
    //button#salonIDSalonDetailPageLocationComp {
    .btn-group {
      position: absolute;
      left: -472px;
      color: #e60f1a;
      //top: -15px;
      bottom: 30px;
      @media (max-width: 1200px) and (min-width: 1024px) {
        position: absolute;
        left: -400px;
        //top: -30px;
      }
      @media (max-width: 1023px) and (min-width: 768px) {
        left: -125%;
      }
      /*@media(max-width: 768px) and (min-width: 767px){

                left: -375px;
            }*/
      @media (max-width: 767px) {
        position: relative;
        margin-bottom: 33px;
        bottom: 0;
        //position: absolute;
        left: 0;
      }
    }

    .action-buttons {
      //  bottom: -70px;
      bottom: -20px; //FCH-104: book now button alignment..
      position: absolute;
      left: -472px;
      @media (max-width: 1200px) and (min-width: 1024px) {
        bottom: -20px; //FCH-104: book now button alignment..
        position: absolute;
        left: -400px;
      }
      @media (max-width: 1023px) and (min-width: 768px) {
        left: -125%;
      }
      /* @media(max-width: 768px) and (min-width: 767px){

                left: -375px;
            }*/
      @media (max-width: 767px) {
        position: relative;
        margin-bottom: 33px;
        bottom: 0;
        //position: absolute;
        left: 0;
      }
      a#callNowButtonID,
      a#checkInButtonID {
        width: 194px;
        height: 38px;
        border: solid 2px #e60f1a;
        background-color: #f5f5f5;
        font-size: 24px;
        font-weight: bold;
        font-family: "roboto";
        font-stretch: normal;
        font-style: normal;
        letter-spacing: normal;
        padding: 0;
        text-align: center;
        color: #e60f1a;
        span:before {
          content: " ";
        }
      }
    }
  }
  section.col-sm-12.col-md-5.col-block {
    float: right;
    width: max-content;
    @media (max-width: 768px) {
      float: left;
      padding-left: 0;
    }
  }
  .store-hours.sdp-store-hours {
    width: 275px;
    display: grid;
    span.days {
      float: left;
      font-family: Roboto;
      font-size: 18px;
      font-weight: 600;
      width: 100px;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.4;
      //date and time alignment
      margin-right: auto;
      margin-left: 0;
      letter-spacing: normal;
      color: #464646;
    }
    span.hours {
      text-align: right;
      //date and time alignment
      width: 145px;
      float: right;
      font-family: Roboto;
      font-size: 15px;
      font-weight: 600;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.6;
      letter-spacing: normal;
      text-align: justify;
      color: #464646;
    }
  }
}

//product and service section
//div#main-content + .salon-detail_div{
.salon-detail-breadcrumb.hidden-xs + .salon-detail_div + span {
  .salon-detail_div:nth-child(5) {
    .salondetails {
      width: 100%;
    }
    .salon-details > .col-block > section {
      border: 0px;
    }
    .salon-details {
      display: flex;
      @media (max-width: 768px) {
        display: block;
      }
      .h4 a {
        font-family: Roboto;
        font-size: 28px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: #e60f1a !important;
      }
      .h4 + p {
        font-family: Roboto;
        font-size: 18px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: #464646;
      }
      .col-xs-12.col-sm-6.col-md-4.col-block {
        @media (max-width: 768px) {
          padding-top: 0 !important;
        }
      }
      .col-xs-12.col-sm-6.col-md-4.col-block:nth-child(1) {
        order: 2;
        width: 60%;
        @media (max-width: 768px) {
          width: 100%;
          padding: 25px;
        }
        ul.list-unstyled {
          max-height: 344px;
          column-count: 2;
          list-style-type: none;
          @media (max-width: 992px) {
            max-height: 405px;
          }
          @media (max-width: 768px) {
            column-count: unset;
            max-height: fit-content;
          }
          li {
            font-family: Roboto;
            font-size: 20px;
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.5;
            letter-spacing: normal;
            text-align: left;
            color: #464646;
          }
        }
      }
      .col-xs-12.col-sm-6.col-md-4.col-block:nth-child(2) {
        order: 1;
        width: 40%;
        @media (max-width: 768px) {
          width: 100%;
          padding: 25px;
        }
        li {
          font-family: Roboto;
          font-size: 20px;
          font-weight: 500;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.5;
          letter-spacing: normal;
          text-align: left;
          color: #464646;
        }
      }
      .col-xs-12.col-sm-6.col-md-4.col-block:last-child {
        display: none;
      }
    }
    .salondetailsparsys5.parsys {
      width: 35%;
      @media (max-width: 767px) {
        width: 100%;
      }
      .img-container {
        width: 100%;
        padding-left: 0;
        @media (max-width: 1200px) and (min-width: 768px) {
          padding-left: 10px;
        }
        @media (max-width: 767px) {
          padding: 0;
        }
      }
    }
  }
}

//join the smart center section..
//div#main-content + .salon-detail_div + .salondetailsparsys3 {
.salondetailsparsys3:nth-child(6) {
  max-width: 1440px;
  margin: 55px auto 52px;
  @media (max-width: 768px) {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .new-row {
    margin: 40px 0px 38px !important;
    @media (max-width: 768px) {
      margin-top: 0px !important;
      margin-bottom: 0px !important;
    }
  }
  .acs-commons-resp-colctrl-col {
    padding: 0 !important;
    .textandimage {
      @media (max-width: 768px) {
        display: none;
      }
    }
  }
  .acs-commons-resp-colctrl-col.acs-commons-resp-colctrl-col-50 {
    padding: 0 !important;
    width: 100%;
  }
  .img-container.col-md-4.col-sm-6.col-xs-12.pull-left {
    width: 100%;
    padding: 0;
    img {
      min-width: 100%;
      width: 100%;
      height: 492px;
      @media (max-width: 1300px) {
        max-height: 472px;
      }
    }
  }
  .acs-commons-resp-colctrl-col.acs-commons-resp-colctrl-col-60 {
    padding: 0 !important;
    width: 57.7%;
    @media (max-width: 768px) {
      display: none;
    }
  }
  .acs-commons-resp-colctrl-col.acs-commons-resp-colctrl-col-40 {
    padding: 0 !important;
    width: 42.3%;
    @media (max-width: 768px) {
      width: 100%;
    }
  }
  .colouredparsyscomponent {
    .colouredparsys.parsys {
      padding: 49px 105px 47px 33px;
      max-height: 492px;
      @media (max-width: 1300px) {
        max-height: 472px;
        padding: 49px 25px 47px 33px;
      }
      @media (max-width: 768px) {
        padding: 49px 20px;
        max-height: unset;
      }
    }
    .text {
      h1 {
        font-family: Roboto;
        font-size: 30px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1;
        letter-spacing: normal;
        text-align: left;
        margin: 0px;
        color: #ffffff;
      }
      h3 {
        font-family: Roboto;
        font-size: 20px;
        font-weight: 500;
        height: 210px;
        font-stretch: normal;
        font-style: normal;
        line-height: 1;
        letter-spacing: normal;
        text-align: left;
        color: #ffffff;
        @media (max-width: 1300px) {
          height: 208px;
        }
        @media (max-width: 768px) {
          height: auto;
        }
      }
    }
    span.cta-to-stores {
      background: white;
      padding: 10px 45px;
      font-family: Roboto;
      font-size: 18px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: #e60f1a;
      width: 190px;
      margin-left: 10px;
      @media (max-width: 768px) {
        margin: 20px;
      }
    }
  }
}

//your perfect stylist section..
.salondetailsparsys4.parsys {
  max-width: 1140px;
  margin: 80px auto 71px;
  @media (max-width: 768px) {
    display: none;
  }
}

.bodywrapper + .salon-detail_div {
  margin: 20px auto;
}

//salon detail title and image section
.titleImg-section.salon-detail_div {
  position: relative;
  margin: 67px auto 57px;
  @media (max-width: 992px) {
    display: grid;
    margin: 48px auto 34px;
  }
  .col-md-5 {
    position: unset;
    .salon_text_image.textimage {
      position: unset;
      .salon-connect-img {
        padding: 0;
        img {
          width: 100%;
          max-width: 452px;
          margin-left: 0;
          @media (max-width: 768px) {
            width: 100%;
          }
        }
      }
      .col-xs-12.col-block:nth-child(3) {
        position: absolute;
        top: 50px;
        width: 58.333%;
        right: 0;
        @media (max-width: 992px) {
          position: unset;
          top: 0;
          width: 100%;
          right: 0;
        }
        p {
          font-family: "roboto", sans-serif;
          font-size: 18px;
          font-weight: 500;
          font-stretch: normal;
          font-style: normal;
          line-height: normal;
          letter-spacing: normal;
          text-align: left;
          color: #464646;
        }
      }
    }
  }
  .col-md-5.img-section {
    padding: 0; //image alignments
    @media (max-width: 992px) {
      order: 2;
      width: 100%;
    }
  }
  .col-md-7.title-section {
    @media (max-width: 992px) {
      order: 1;
      width: 100%;
    }
    .salondetailstitle.title {
      .col-xs-12 {
        padding: 0;
      }
      .main-title.h3 {
        font-family: "roboto", sans-serif;
        font-size: 28px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        text-transform: capitalize;
        letter-spacing: normal;
        border: 0;
        margin: 0;
        text-align: left;
        color: #e60f1a;
      }
    }
  }
}

.saloncheckindetails {
  .checkin-user-details {
    .custom-dropdown {
      position: relative;
      display: block;
      //height: 40px;
    }
    .custom-dropdown:after {
      content: "\e61a";
      font-family: "icomoon";
      speak: none;
      font-style: normal;
      font-weight: 700;
      font-variant: normal;
      font-size: 15px;
      color: #c8102e;
      text-transform: none;
      line-height: 1;
      right: 30px;
      top: 1px;
      left: auto;
      height: 22px;
      padding: 15px 0px 0px 8px;
      //border-left: 1px solid #0ebeff;
      position: absolute;
      pointer-events: none;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      //!* font-size: 1.75em; *!
    }
    input select,
    .multiselect {
      box-sizing: border-box;
      height: 43px;
      width: 450px;
      font-weight: 500;
      border: 1px solid #c8102e;
      border-radius: 42px;
      background-color: #ffffff;
      margin: auto;
      padding-left: 46px;
      color: #c8102e;
      text-transform: Uppercase;
      font-family: Montserrat;
      font-size: 13px;
      &:focus {
        outline: 0;
      }
      @media (max-width: 768px) {
        width: 96%;
      }
      option[value=""][disabled] {
        display: none;
      }
    }
  }
}

.multiselect > #ddServicesFCH-cont.clickedDiv {
  //max-height: 200px;
  margin-top: 4px;
  width: 85%;
  padding: 2px;
  left: 33%;
  margin-left: -120px;
  top: 35px;
  transition: 0.2s;
  position: absolute;
  z-index: 99;
  background: #fff;
  border: 1px solid transparent;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  max-height:255px;

  font-size: 15px;
  text-align: left;
  overflow: scroll;
  padding-bottom:20px;
}

.ddOptions {
  width: max-content;
  margin-right: auto;
  margin-left: 10px;
  margin-top: 5px;
  margin-bottom:-3px;
}

.multiselect.active > #ddServicesFCH-cont {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-top: 0;
}

.multiselect:hover > #ddServicesFCH-cont {
  border-top-color: rgba(0, 0, 0, 0.3);
}

.multiselect.active:hover > #ddServicesFCH-cont {
  border-color: rgba(0, 0, 0, 0.3);
}

.multiselect > #ddServicesFCH-cont > .ddOptions {
  padding: 5px;
  cursor: pointer;
  transition: 0.2s;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
}

.multiselect > #ddServicesFCH-cont > .optionDiv {
  display: none;
}

.multiselect #ddServicesFCH-cont input[type="checkbox"] {
  width: unset;
  height: unset;
  border: 2px solid;
  margin-top: 15px;
}

.multiselect > #ddServicesFCH-cont > .ddOptions.selected {
  background: rgb(122, 175, 233);
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  color: #fff;
}

.multiselect > #ddServicesFCH-cont > option:hover {
  background: rgba(0, 0, 0, 0.1);
  color: #000;
}

.multiselect.active > #ddServicesFCH-cont > .ddOptions {
  display: block;
}

.multiselect > .title .checkedText {
  font-size: 11px;
  line-height: 2.7em;
}

.multiselect > #ddServicesFCH-cont > .optionDiv.flexoption {
  display: flex !important;
  display: -webkit-flex !important;
}

@media (max-width: 768px) {
  .center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
  }
}

.full-width-cond-wrapper + .salon-detail_div:nth-child(4) {
  display: flex;
  flex-wrap: wrap;
  .fch-social-icons {
   z-index:99999;
   margin-top: -40px;
    width: 100%;
    @media (max-width: 992px) {
      order: 3;
      margin-top: 0;
    }
    .salondetailsocialsharing {
      margin-right: 0;
      margin-left: auto;
      display: flex;
      width: 58.333%;
      padding-left: 15px;
      @media (max-width: 992px) {
        //   width: 58.333%;
        margin-top: 0px;
      }
      @media (max-width: 767px) {
        border-bottom: 2px solid #464646;
        margin-left: 15px;
        margin-right: auto;
        padding-left: 0;
        width: 90%;
      }
      .col-xs-12.col-sm-12.col-md-12.no-padding {
        width: max-content;
      }
      .h3 {
        text-transform: uppercase;
        font-family: Roboto;
        font-size: 16px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        width: max-content;
        padding-right: 30px;
        line-height: normal;
        background: url(/content/dam/firstchoice/arrow.png) center right
          no-repeat;
        letter-spacing: normal;
        text-align: left;
        color: #464646;
        display: flex;
      }
      .social-links {
        margin-left: auto;
        .dl {
          @media (max-width: 1200px) {
            margin-top: 10px;
            margin-bottom: 0;
          }
          @media (max-width: 767px) {
            display: flex;
            margin-top: 15px;
            margin-bottom: 0;
          }
        }
      }
      dd {
        img {
          width: 29px;
          height: 29px;
        }
      }
    }
  }
}

.salon-detail_div {
  //for location section
  .nearbysalons.parbase {
    width: 100%;
    .accordion {
      background: none !important;
      .panel {
        background: white;
      }
    }
    .row {
      display: flex;
      flex-wrap: wrap;
      .panel-heading {
        //.panel-expand.expand{
        width: 45% !important;
        background-color: #707070 !important;
        height: 77px !important;
        display: block !important;
        @media (max-width: 1200px) and (min-width: 768px) {
          width: 100% !important;
        }
        @media (max-width: 768px) {
          width: 100% !important;
        }
        .panel-title.h4 {
          span {
            font-family: Roboto;
            font-size: 21px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: 1;
            letter-spacing: normal;
            text-align: left;
            color: #ffffff important;
            @media (max-width: 768px) {
              width: 100%;
              line-height: 1;
            }
          }
          span.circle-backdrop.icon-scissor-animation.icon-scissor-locations-1 {
            display: none;
          }
        }
      }
      .panel-expand.expand {
        width: 55% !important;
        background: none !important;
        @media (max-width: 1200px) and (min-width: 768px) {
          width: 100% !important;
        }
        @media (max-width: 768px) {
          width: 100% !important;
        }
        .panel-body.row {
          .col-sm-12.col-md-4.pull-left {
            width: 100%;
            margin-top: -50px !important;
            display: flex;
            flex-wrap: wrap;
            @media (max-width: 1200px) and (min-width: 768px) {
              margin-top: 0px !important;
            }
            @media (max-width: 768px) {
              margin-top: 0px !important;
            }
            div#searchBtnLabelHeader {
              font-family: Roboto;
              font-size: 21px;
              font-weight: bold;
              font-stretch: normal;
              font-style: normal;
              line-height: normal;
              letter-spacing: normal;
              text-align: center;
              color: #464646;
              width: 100%;
              @media (max-width: 768px) {
                font-size: 18px;
              }
            }
            .input-group {
              input#autocompleteHeaderWidget {
                width: 339px;
                height: 40px;
                opacity: 0.6;
                border: solid 2px #707070;
                font-family: Roboto;
                font-size: 18px;
                font-weight: 500;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: normal;
                text-align: left;
                color: #464646;
                border-right: 0;
                border-radius: 0;
                @media (max-width: 768px) {
                  width: 217px;
                  font-size: 14px;
                }
              }
            }
            button.btn.btn-default.customTheme {
              width: 204px;
              height: 40px;
              border: solid 2px #e60f1a;
              background-color: #ffffff;
              font-family: Roboto;
              font-size: 24px;
              font-weight: bold;
              font-stretch: normal;
              font-style: normal;
              line-height: 0;
              letter-spacing: normal;
              text-align: center;
              color: #e60f1a;
              @media (max-width: 768px) {
                //width: 110px;
                font-size: 16px;
              }
            }
          }
        }
      }
    }
  }
}

.salon-detail_div {
  @media (max-width: 1200px) and (min-width: 767px) {
    padding: 0 10px;
  }
}

@media (max-width: 1023px) and (min-width: 768px) {
  .acs-commons-resp-colctrl-row.aem-GridColumn.aem-GridColumn--default--12.sal-details {
    height: max-content;
    min-height: 425px;
    padding-top: 45px;
    .acs-commons-resp-colctrl-col-60 {
      width: 50%;
      margin-left: auto;
      .salondetailspagelocationcomp {
        height: 98%;
        .sdp-left-template {
          display: flex;
          flex-wrap: wrap;
          section.locations.map-directions.pull-left {
            max-width: unset;
            width: 100%;
          }
          section.col-sm-12.col-md-5.col-block {
            float: right;
            width: 100%;
          }
        }
      }
    }
    .salon_dirDiv {
      margin-top: 0;
      padding-left: 20px;
    }
  }
}
@media (max-width: 768px) {
  .acs-commons-resp-colctrl-row.aem-GridColumn.aem-GridColumn--default--12.sal-details {
    height: max-content;
    padding-top: 45px;
    .salondetailspagelocationcomp {
      height: 385px;
      height: 210px; // salondetailspagelocationcomp alignment in responsive >> mobile view
      margin-bottom: 20px;
    }
    .salon_dirDiv {
      padding-left: 20px;
      height: 30px;
      bottom: 0;
      margin-bottom: 0;
      margin-top: auto;
    }
  }
}

div.title.noselect {
   overflow: hidden;
   width: 100%;
   white-space: nowrap;
   text-overflow: ellipsis !important;
}

//favourite salon button ..

button#salonIDSalonDetailPageLocationComp {
  border: 0px !important;
  span {
    font-family: "roboto";
  }
}