
.search.section, .container.rc-search{
    @media (min-width: 768px){
        max-width: 748px !important;
    }
    @media (min-width: 992px){
        max-width: 960px !important;
    }
    @media (min-width: 1200px){
        max-width: 1140px !important;
    }
    @media screen and (max-width: 768px){
        /* margin-top: 100px;*/
        overflow: hidden;
        padding-left: 10px;
        padding-right: 10px;
    }
}

.container.rc-search{
    .divider {
        border-bottom: 2px solid #5f6167;
        margin-bottom: 1ex;
        padding-bottom: .5ex;
    }
    h2.divider {
        margin-bottom: 0;
    }
    .row {
        margin-right: -10px;
        margin-left: -10px;
    }
    .search-result-container {
        float: left;
        width: 100%;
        padding-bottom: 20px;
        margin-top: 20px;
        .col-md-4 {
            padding: 0;
            width: 20%;
            img{
                
                max-width: 100%;
            }
        }
        .search-result-content{
            a{
                margin-bottom: 0;
                display: inline-block;
                color: #e60f1a;
                text-decoration: none;
                outline: 0;
                &:hover{
                    
                    text-decoration: underline;
                }   
            }
            
        }
    }
}