.colouredparsyscomponent.section {
    max-width: 1440px;
    margin: auto;
    //margin-bottom: -70px;
}
div#main-content{
    .content.parsys{
        //1st section -- haitcuts
        .colouredparsyscomponent.section + .responsivegrid{
            //haircuts title text in responsive view. 
            .title{
                .col-xs-12{
                    padding-left: 0px;
                }
            }
            .new-row{
                @media(max-width: 1200px) and (min-width:768px){
                    padding: 0px 50px;
                }
            }
            .acs-commons-resp-colctrl-col-50.mob-view{
                //padding :0px;
                padding-left: 15px;
                @media(max-width: 1200px) and (min-width:768px){
                    width: 50% !important;
                }
                @media(max-width: 768px){
                    padding: 0px;
                }
                .text{
                    h1{
                        margin-bottom: 25px;
                        margin-left: 5px;
                        margin-top: 0;
                    }
                }

                .textandimage{
                    .imgtxt-box {
                        margin-bottom: 9px;
                        padding-left: 0px;
                        @media(max-width: 1200px) and (min-width:768px){
                            margin-bottom: 0px;
                        }
                        @media(max-width: 767px){
                            // margin-bottom: 27px;
                            margin-bottom: 5px;
                        }
                    }
                    h2.imgtxt-heading.h2 {
                        margin-top: 7px;
                        font-family: Roboto;
                        font-size: 28px;
                        font-weight: bold;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: 1.5;
                        letter-spacing: normal;
                        text-align: left;
                        color: #e60f1a;
                        margin-bottom: 0;
                        @media (max-width: 768px){
                            font-size: 21.5px;
                            line-height: 1.38;
                        }
                    }
                    .imgtxt-para p{

                        font-family: Roboto;
                        font-size: 20px;
                        font-weight: 500;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: 1.5;
                        letter-spacing: normal;
                        text-align: left;
                        color: #464646;
                        @media(max-width: 1200px) and (min-width:768px){
                            margin-bottom: 2px;
                        }
                        @media (max-width: 768px){
                            font-size: 16px;
                            line-height: 1.38;
                        }
                    }

                }
            }
            .acs-commons-resp-colctrl-col.acs-commons-resp-colctrl-col-50.mob-view:nth-child(2){
                .textandimage + .acs-commons-resp-colctrl-row{
                    .new-row{
                        margin: 0 !important;
                    }
                    .textandimage{
                        @media(max-width: 768px){
                            max-width: 217px;
                            margin: auto;
                        }
                        .txtalign-center{
                            p{
                                @media(max-width: 768px){
                                    text-align: center;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    //for 2nd section ---- colour and hightlights text and image mobile view
    .responsivegrid:nth-child(3){
        .new-row{

            @media(max-width: 1200px) and (min-width:768px){
                margin: 0px !important;
                padding: 0px 50px;
            }
        }
        //colour and hightlights title text in responsive view. 
        .container{
            padding: 0;
        }
        .title{
            .col-xs-12{
                padding-left: 0px;
            }
        }
        .text.aem-GridColumn.aem-GridColumn--default--12{

            @media(max-width: 1200px) and (min-width:768px){
                //   margin: 0px !important;
                padding: 0px 50px;
            }
        }
        .acs-commons-resp-colctrl-col.acs-commons-resp-colctrl-col-50.mob-view{
            margin-top: 0 !important;
            padding-left: 15px;
            .textandimage{
                @media(max-width: 1200px) and (min-width:768px){
                    margin-bottom: 0px;
                }
                @media(max-width: 768px){
                    // margin-bottom: 35px;
                    margin-bottom: 5px;
                }
                .imgtxt-heading.h2 , .imgtxt-para, .imgtxt-para p {
                    @media(max-width: 768px){
                        font-family: Roboto;
                        font-size: 16px;
                        font-weight: normal;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: 1.38;
                        letter-spacing: normal;
                        text-align: left;
                        color: #464646;

                    }
                }
                .imgtxt-heading.h2{
                    margin-top: 0 !important;
                    margin-bottom: 0;

                    @media(max-width: 768px){
                        font-size: 21px;
                        font-weight: bold;
                        color: #e60f1a;
                        margin: 0;
                    }
                }
                .imgtxt-para p {
                    font-size: 20px;
                    margin-bottom: 16px;
                }
                .img-container , .imgtxt-box{
                    padding-left: 0;
                }
                .imgtxt-box{
                    margin-bottom: 15px;
                }
            }
        }
        .acs-commons-resp-colctrl-col-50.mob-view:nth-child(1){
            .textandimage:first-child{
                @media(max-width: 768px){
                    display: none;
                }
            }
        }
        .acs-commons-resp-colctrl-col-50.mob-view:nth-child(2){
            .textandimage:last-child{
                @media(max-width: 768px){
                    display: none;
                }
            }
        }
    }
}
//for 4th section ---- colour and highlights.. 
main.container.main-wrapper.main.main-home{
    //.row + .colouredparsyscomponent + .responsivegrid{
    .colouredparsyscomponent + .responsivegrid.section:nth-child(6){
        .title.aem-GridColumn.aem-GridColumn--default--12{
            .main-title.h2{
                font-size:46px;
                text-align: center;
            }
        }
        .new-row{
            @media(max-width: 768px){
                display: flex;
                // flex-wrap: nowrap;
                margin-right: -15px;
                overflow-y: scroll;
                max-width: 10000px;
                /* width: 1000px; */
                margin-left: -15px;
            }
            .img-text-comp.theme-default {
                @media(max-width: 768px){
                    width: 217px;
                    margin: auto;
                }
            }
            .img-container {
                @media(max-width: 768px){
                    width: 100%;
                    width: 217px;
                    margin: auto;

                }
            }
            .acs-commons-resp-colctrl-col-5.mob-view{

                @media(max-width: 1200px) and (min-width:768px){
                    //margin: 0px !important;
                    // padding: 0px 50px;
                    width: 0% !important;
                    min-width: unset;
                }
            }
            .acs-commons-resp-colctrl-col-30.mob-view{
                padding: 0;
                @media(max-width: 1200px) and (min-width:768px){
                    //margin: 0px !important;
                    // padding: 0px 50px;
                    width: 30% !important;
                }
                @media(max-width: 767px){
                    min-width: 300px;
                }
                .textandimage{
                    .img-container{
                        padding: 0;
                    }
                    .imgtxt-heading.h2 , .imgtxt-para, .imgtxt-para p {
                        font-family: Roboto;
                        font-size: 21px;
                        font-weight: bold;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: 1.43;
                        letter-spacing: normal;
                        text-align: center !important;
                        color: #464646;
                        text-transform: uppercase;
                        @media(max-width:768px){
                            font-size: 16px;
                        }
                    }
                    img{
                        @media(max-width: 768px){
                            width: 100%;
                        }
                    }
                    .imgtxt-heading.h2{
                        color: #e60f1a;
                        margin-top: 20px;
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}
//for 5th section -- GEt inspired...  && An amazing---  image and text component

// added for get Inspired section 
.responsivegrid.section:nth-child(6){
    // background: black;
    .acs-commons-resp-colctrl-row.aem-GridColumn.aem-GridColumn--default--12:nth-child(4){
        .new-row{
            flex-wrap: wrap;
            /* @media(max-width: 768px) {
            margin: 0px !important;
        }*/
            .acs-commons-resp-colctrl-col.acs-commons-resp-colctrl-col-50.mob-view{
                padding: 0;
                .colouredparsys.parsys {
                    padding: 50px 35px 43px;
                    min-height: 332px;
                    @media(max-width: 1200px) and (min-width: 768px){
                        padding: 29px 23px 27px;
                        min-height: 322px;
                    }
                    @media(max-width: 767px){
                        padding: 50px 20px 43px;
                    }
                    h2 {
                        margin-top: 0;
                        color: white;
                        //font-weight: 400;
                        padding-bottom: 15px;
                        //font-size: 28px;
                        border-bottom: 1px solid;
                        font-family: "roboto",sans-serif;
                        font-size: 30px;
                        font-weight: normal;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: normal;
                        letter-spacing: normal;
                        text-align: left;
                        color: #ffffff;

                        @media(max-width: 1200px) and (min-width:768px){
                            font-size: 20px;
                        }
                        @media(max-width:767px){
                            font-size: 24px;
                        }
                    }
                    p {
                        margin: 0 0 10px;
                        color: white;
                        font-family: "roboto",sans-serif;
                        font-size: 20px;
                        font-weight: 500;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: normal;
                        letter-spacing: normal;
                        text-align: left;
                        color: #ffffff;
                        min-height: 80px;
                        @media(max-width: 1200px) and (min-width:768px){
                            font-size: 18px;
                        }
                        @media(max-width:767px){
                            font-size: 16px;
                        }
                        b{
                            font-weight: normal;
                        }
                    }
                }
                .textandimage {
                    height: max-content;
                    .img-text-comp.theme-default {
                        height: max-content;
                        display: flex;
                        @media(max-width: 768px){
                            width: 100%;
                            margin: auto;
                        }
                        .img-container {
                            padding: 0;
                            width: 100%;
                            @media(max-width: 767px){
                                width: 100%;
                            }
                            img {
                                @media(max-width: 767px){
                                width: 100%;
                                min-width: 347px;
                                height: unset;
                            }
                            }
                        }
                        .txtalign-center.imgtxt-box.col-md-12.col-xs-12.col-sm-12 {
                            @media(max-width: 767px){
    						display: none;
							}
                        }
                    }
                }
                // html coder button >> get inspird..
                .text + .acs-commons-resp-colctrl-row{
                    .new-row {
                        margin: 0px !important;
                        @media(max-width: 1200px) and (min-width:768px){
                            padding: 0 !important;
                        }
                        @media(max-width:768px){
                            font-size: 24px;
                        }
                        .acs-commons-resp-colctrl-col.acs-commons-resp-colctrl-col-50.mob-view{
                            width: 50% !important;
                            @media(max-width: 768px){
                                width: 50% !important;
                            }
                        }

                        a:hover, a:focus {
    						color: #c8102e;
                            text-decoration: none;
                        }
                        span.cta-to-storesbg {
                            padding: 10px 22px;
                            width: max-content;
                            margin-right: auto;
                            display: block;
                            background: transparent;
                            border: 2px solid white;
                            color: white;
                            text-align:center;
                            // font-size: 15px;
                            font-family: "roboto",sans-serif;
                            font-size: 18px;
                            font-weight: bold;
                            font-stretch: normal;
                            font-style: normal;
                            line-height: normal;
                            letter-spacing: normal;
                            text-align: right;
                            color: #ffffff;
                            @media(max-width: 1200px) and (min-width:768px){
                                font-size: 14px ;
                                width: max-content;
                                padding: 11px 6px;
                            }
                            @media(max-width: 767px){
                                font-size: 14px ;
                                padding: 10px;

                            }
                            @media(max-width: 360px){
                                font-size: 13px ;
                                padding: 10px;

                            }
                            /* @media(max-width: 768px){
                            text-align: center;
                        }*/
                        }

                    }
                }
                //get inspired.. padding-left
                .acs-commons-resp-colctrl-col.acs-commons-resp-colctrl-col-50.mob-view:nth-child(1){
                    .textandimage + .colouredparsyscomponent{
                        padding: 0 0 0 15px;

                    }
                }
            }
            //html coder >> An amazing... 
            .acs-commons-resp-colctrl-col.acs-commons-resp-colctrl-col-50.mob-view:nth-child(2){
                .colouredparsyscomponent{
                    a:hover, a:focus {
    				    text-decoration: none;
                    }
                    span.cta-to-storesbg {
                        padding: 10px 22px;
                        width: 80%;
                        margin-right: auto;
                        display: block;
                        background: transparent;
                        border: 2px solid white;
                        color: white;
                        text-align:center;
                        font-size: 15px;
                        margin: auto;
                        margin-top: 25px;
                        @media(max-width: 1200px) and (min-width:768px){
                            padding: 11px 6px;
                            width: 247px;
                        }
                        @media(max-width: 767px){
                            width: 100%;
                        }
                        /* @media(max-width: 768px){
                        text-align: center;
                    }*/
                    }
                }
            }
        }
    }
}

//3rd section --- for deep conditioning treatment section.
main.container.main-wrapper.main.main-home{
    //deep conditioning treatment title
    .row{
        div#main-content+ .responsivegrid{
            .title{
                .col-xs-12{
                    padding: 0;
                }
            }
        }
    }
    //deep conditioning treatment text and image
    .colouredparsyscomponent:nth-child(5) {
        .new-row{

            @media(max-width: 1200px) and (min-width:768px){
                margin: 0px !important;
                //padding: 0px 50px;
            }
        }
        .acs-commons-resp-colctrl-col-50.mob-view {
            margin-top: 0 !important;
            .textandimage .img-container {
                width: 100%;
                padding: 0;
            }
        }
        .acs-commons-resp-colctrl-col-38.mob-view{

            @media(max-width: 1200px) and (min-width:768px){
                //  margin: 0px !important;
                padding: 0px 35px;
            }
            @media(max-width:768px){
                padding: 0 15px;
            }
        }
    }
}
.responsivegrid + .responsivegrid:nth-child(4){
    .container{
        padding-left: 0;
    }
    .new-row{

        @media(max-width: 1200px) and (min-width:768px){
            margin: 0px !important;
            //padding: 0px 50px;
        }
    }
    .text.aem-GridColumn.aem-GridColumn--default--12:first-child h1 {
        font-size: 46px !important;
        margin-top: 43px !important;
        margin-bottom: 34px !important;
        @media(max-width: 1200px) and (min-width:768px){
            font-size: 30px !important;
        }
        @media(max-width: 768px){
            font-size: 35px !important;
        }
    }
}
.responsivegrid + .colouredparsyscomponent:nth-child(5) {
    .acs-commons-resp-colctrl-col{
        padding: 0;
    }
    .acs-commons-resp-colctrl-col-12{
        width:11%;
    }
    .acs-commons-resp-colctrl-col-38{
        .textandimage .imgtxt-box.txtalign-center {
            padding-left: 0px;
        }
        .imgtxt-box.txtalign-center .h2 {
            font-weight: bold;
            font-size: 28px;
            color: #e60f1a;
            margin-bottom: 0;
            @media(max-width: 1200px) and (min-width:768px){
                font-size: 21px;
            }
            @media(max-width: 768px){
                font-size: 21.5px ;
            }
        }
    }
}
//added for mobile view..
.acs-commons-resp-colctrl-col.acs-commons-resp-colctrl-col-50.mob-view{
    @media(max-width: 768px){
        padding-left: 0;
    }
}
//text section and button -- book ahead to save time
.text + .colouredparsyscomponent{
    @media(max-width:768px){
        // padding: 0 20px;
    }.DivbelowNav {
    @media(max-width: 768px){
        padding: 0 8px !important;
    }
}
    .textandimage{
        @media(max-width: 768px){
            max-width: 100%;
            margin: auto;
        }
    }
    .text.section{
        padding-left: 0px;
        h1{
            font-family: Roboto;
            font-size: 32px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: left;
            color: #464646;
            @media(max-width:1200px){
			text-align: center;
            }
            @media(max-width:768px){
                font-family: Roboto;
                font-size: 26px;
                font-weight: bold;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: normal;
                text-align: left;
                color: #464646;
            }
        }
        h4{
            font-family: Roboto;
            font-size: 24px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: left;
            color: #464646;
			@media(max-width:1200px){
			text-align: center;
            }
            @media(max-width:768px){
                font-family: Roboto;
                font-size: 18px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: normal;
                text-align: left;
                color: #464646;
            }
        }
    }
    .htmlcoder{
        .cta-red{
            @media(max-width:768px){
                // width: 335px;
                width: 295px;
                height: 47px;
                border: solid 2px #fb0000;
                background-color: #f5f5f5;
                line-height: 1.5;
            }
        }
    }
    .acs-commons-resp-colctrl-col.acs-commons-resp-colctrl-col-50.mob-view{
        padding-left: 0px;
    }
}
//for title component
.title-component .gender-links a{

    font-size: 21px !important;
    font-weight: bold !important ;
    font-stretch: normal;
    font-style: normal;
    line-height: 1 !important ;
    letter-spacing: normal !important;
    text-align: left;
    padding-bottom: 7px;
    color: #e60f1a !important;
    border-bottom: 2px solid !important;
    border-radius: 0;
    @media(max-width: 768px){
        font-size: 21px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1;
        letter-spacing: normal;
        text-align: center;
        color: #e60f1a;
        border: 0;
        text-decoration: none;
        border-radius: 0;
        padding: 0;
        padding-bottom: 9px;
        margin-bottom: 23px;
        border-bottom: 2px solid #e60f1a;
    }
}


//hairtalk page:
//latest trends
.text.aem-GridColumn.aem-GridColumn--default--12 h1 {
    font-size: 46px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #464646;
    margin: 0px 0 40px 0;
    @media(max-width: 768px){
        font-size: 36px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: #464646;
    }
}
//style guide -- top 5 easy-- subtext
.container.aem-GridColumn.aem-GridColumn--default--12:nth-child(7){
    .acs-commons-resp-colctrl-col-48{
        p {
            font-family: Roboto;
            font-size: 20px !important;
            font-weight: normal !important;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: left;
            color: #464646 !important;
        }
    }
}
//colourderparsys --- next time section
.colouredparsyscomponent.section:nth-child(3){
    .acs-commons-resp-colctrl-col-40{
        h1 {
            font-size: 32px !important;
            font-weight: bold !important;
            font-stretch: normal;
            font-style: normal;
            line-height: normal !important;
            letter-spacing: normal;
            text-align: left;
            color: #464646 !important;
        }
        h3 {
            font-size: 24px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: left;
            color: #464646;
        }
    }
    .acs-commons-resp-colctrl-col-30{
        .cta-red {
            border: 2px solid #e60f1a;
            background: none;
            color: #e60f1a;
            font-weight: bold;
            display: block;
            margin: auto;
            font-size: 30px;
            height: 54px;
            padding: 10px 0;
            min-width: 200px;
            width: 338px;
            text-align: center;
        }
    }
}
//latest trends text and image section..
.responsivegrid:nth-child(2){
    .text.aem-GridColumn.aem-GridColumn--default--12 + .textandimage{
        .img-text-comp.theme-default {
            height: max-content;
            display: flex;
            @media(max-width: 768px){
                flex-wrap: wrap;
            }
        }
        .img-container.col-md-4.col-sm-6.col-xs-12.pull-left {
            padding-left: 0;
            margin-bottom: 35px;
            @media(max-width: 1200px) and (min-width: 768px){
                width: 50%;
            }
        }
        .imgtxt-box {
            @media(max-width: 1200px) and (min-width: 768px){
                width: 50%;
            }
        }
        h2.imgtxt-heading.h2 {
            font-size: 30px !important;
            font-weight: bold !important;
        }
        imgtxt-para{
            p {
                font-size: 20px !important;
                font-weight: normal !important;
            }
        }
    }
}
.text.aem-GridColumn.aem-GridColumn--default--12 + .textandimage  + .htmlcoder {
    .cta-buttonhtm{
        // margin-top: -80px !important;
        @media(max-width: 768px){
            display: none;
        }
    }
}
.responsivegrid:nth-child(4){
    .text.aem-GridColumn.aem-GridColumn--default--12 h1 {
        margin-top: 55px;
    }
    .container.aem-GridColumn.aem-GridColumn--default--12:nth-child(7) {
        margin-bottom: 44px;
    }
}
hr, .line-separator {
    box-sizing: border-box;
    height: 2px;
    background: #c6c6c6;
    border-top: 1px solid #c6c6c6;
}
//latest trends section +  text and image
.responsivegrid:nth-child(2), .responsivegrid:nth-child(4) {
    .container.aem-GridColumn.aem-GridColumn--default--12:nth-child(5){
        .acs-commons-resp-colctrl-col-25{
            @media(max-width: 1200px) and (min-width: 768px){
                width: 25% !important;
                padding: 0 15px !important;
            }
        }
    }
    .container.aem-GridColumn.aem-GridColumn--default--12:nth-child(7){
        .acs-commons-resp-colctrl-col-25{
            @media(max-width: 1200px) and (min-width: 768px){
                width: 50% !important;
                // padding: 0 15px !important;
            }
            .img-container {
                @media(max-width: 1200px) and (min-width: 768px){
                    width: 50%;
                }
                img {
                    @media(max-width: 1200px) and (min-width: 768px){
                        width: 100%;
                    }
                }
            }
            .imgtxt-box {
                @media(max-width: 1200px) and (min-width: 768px){
                    width: 50%;
                }
            }
        }
        .acs-commons-resp-colctrl-col-48{
            @media(max-width: 1200px) and (min-width: 768px){
                width: 48% !important;
                // padding: 0 15px !important;
            }
        }
    }
}
@media(max-width:767px){
    .responsivegrid:nth-child(2) , .responsivegrid:nth-child(4){
        .container.aem-GridColumn.aem-GridColumn--default--12:nth-child(7){
            padding: 0 !important;
            .acs-commons-resp-colctrl-col {
                padding: 0 !important;
                .img-container.col-md-12.col-sm-12.col-xs-12 , .txtalign-center{
                    padding: 0 !important;
                }
            }
        }
        .container.aem-GridColumn.aem-GridColumn--default--12:nth-child(5){
            padding: 0 !important;
            .acs-commons-resp-colctrl-col {
                padding: 0 !important;
                .img-container.col-md-12.col-sm-12.col-xs-12 , .txtalign-center{
                    padding: 0 !important;
                }
            }
        }
    }
}
.responsivegrid.section:nth-child(6){
    .acs-commons-resp-colctrl-row.aem-GridColumn.aem-GridColumn--default--12:nth-child(4){
        .textandimage .img-text-comp img {
            width: 100%;
            height: 395px;
            min-width: 580px;
            @media(max-width: 1200px) and (min-width: 768px){
                width: 100%;
                height: auto;
            }
            @media(max-width: 767px)
            {
                width: 100%;
                height: unset;
                min-width: 347px;
            }
        }
    }
}
/* hairtalk page */
.hairlinecomponent + .container.aem-GridColumn.aem-GridColumn--default--12:nth-child(5){
    padding: 0;
    .acs-commons-resp-colctrl-col-25{
        padding: 0;
    }
    .textandimage .img-container {
        width: 100%;
        padding: 0;
    }
    .acs-commons-resp-colctrl-col-25:nth-child(1){
        padding: 0;
        padding-right: 20px;
    }
    .acs-commons-resp-colctrl-col-25:nth-child(2), .acs-commons-resp-colctrl-col-25:nth-child(3){
        padding-left: 20px;
        padding-right: 20px;
    }
    .acs-commons-resp-colctrl-col-25:nth-child(4){
        padding: 0;
        padding-left: 20px;
    }

}
.hairlinecomponent + .container + .text + .container.aem-GridColumn.aem-GridColumn--default--12:nth-child(7){
    padding: 0;
    .acs-commons-resp-colctrl-col-48{
        padding: 0;
        padding-right: 15px;

        .textandimage {
            .img-container {
                width: 100%;
                padding: 0;
            }
            .imgtxt-box{
                padding-left: 0;
            }
        }
    }
    .acs-commons-resp-colctrl-col-25{
        //  padding: 0;
        padding-left: 42px;
        padding-right: 0px;
        .textandimage .img-container {
            width: 100%;
            padding: 0;
        }
    }
    .acs-commons-resp-colctrl-col-25:nth-child(2){
        margin-left: auto;
        border-left: 2px solid #c6c6c6;
    }
}
.text.aem-GridColumn.aem-GridColumn--default--12 + .textandimage{
    .img-container {
        //width: 100%;
        padding-right: 30px;
        padding-left: 0;
    }
}
.cta-buttonhtm{
    padding-left: 0;
}