
 
.row {
	margin: 0px !important;
}

#style-wrap {
	margin-top: 20px;
	margin-bottom: 20px;
	figure {
		img {
			margin-bottom: 20px;
			width: 100%;
		}
		margin-bottom: 20px;
		figcaption {
			text-align: center;
		}
	}
}

.textoverresponsiveimage.section {
	position: relative;
	.text-over-image.top-left {
		@media (max-width: 767px) {
			height: max-content !important;
		}
		img {
			width: 100%;
		}
	}
	.text-container.col-md-3.col-sm-4.col-xs-12 {
		position: absolute !important;
		top: 40px;
		@media (max-width: 767px) {
			top: 26px;
			margin: 0 !important;
		}
		.h3.text-center.white {
			@media (max-width: 767px) {
				margin: 0;
			}
			p {
				color: #C8102E;
				font-family: "roboto",sans-serif;
				font-size: 72px;
				width: 423px;
				font-weight: 400;
				letter-spacing: 0;
				line-height: 72px;
				@media (max-width: 767px) {
					font-size: 38px;
					width: 180px;
					font-weight: 300;
					letter-spacing: 0;
					line-height: 42px;
					margin: 0;
				}
			}
		}
	}
}

.comb1 {
	@media (min-width: 768px) {
		display: table;
		margin: 0 auto;
	}
	img {
		@media (max-width: 767px) {
			width: 100%;
		}
	}
	.img-holder1,
	.img-holder2 {
		@media (min-width: 768px) {
			display: table-cell;
			width: 300px;
		}
		figure {
			@media (min-width: 768px) {
				margin-right: 30px;
			}
			figcaption {
				text-align: center;
				button {
					padding: 10px;
					margin: 10px 0;
				}
			}
		}
	}
}

.comb-2 {
	&.content-wrap {
		img {
			@media (max-width: 767px) {
				width: 100%;
			}
		}
		@media (min-width: 768px) {
			display: table;
		}
		.img-holder1 {
			@media (min-width: 768px) {
				width: 300px;
				display: table-cell;
				vertical-align: middle;
			}
		}
		.imgholder2 {
			@media (min-width: 768px) {
				display: table;
				width: 300px;
			}
			img {
				@media (min-width: 768px) {
					display: table-cell;
				}
				margin-bottom: 20px;
			}
		}
	}
}

.content-wrap {
	&.comb-3 {
		img {
			@media (max-width: 767px) {
				width: 100%;
			}
		}
		@media (min-width: 768px) {
			display: table;
		}
		.img-holder1 {
			@media (min-width: 768px) {
				width: 300px;
				display: table-cell;
				vertical-align: middle;
			}
		}
		.imgholder2 {
			@media (min-width: 768px) {
				width: 300px;
				display: table;
				vertical-align: middle;
				padding-top: 20%;
			}
		}
		.small-desc {
			text-align: center;
		}
	}
}

.skinny {
	padding: 20px;
	color: #727173;
	&.large-desc {
		border: 1px solid #dbdcdd;
		h3 {
			display: inline-block;
			a {
				font-weight: normal;
				font-size: 18px;
				color: #455f6c;
				&:hover {
					color: #455f6c;
					text-decoration: underline;
				}
			}
			.title1 {
				font-weight: normal;
				display: block;
				color: #455f6c;
				&:hover {
					color: #455f6c;
				}
			}
			.title2 {
				font-weight: normal;
				display: block;
				color: #727173;
				&:hover {
					color: #727173;
				}
			}
		}
	}
	h3 {
		font-weight: normal;
		font-family: "merriweather";
		margin-top: 0;
		a {
			font-weight: normal;
			font-family: "merriweather";
			color: #455f6c;
			font-size: 18px;
			&:hover {
				color: #455f6c;
				text-decoration: underline;
			}
		}
	}
	&.small-desc {
		width: 70%;
		margin: 0 auto;
		margin-bottom: 20px;
		border: none;
		border-top: 2px solid #dbdcdd;
		border-bottom: 2px solid #dbdcdd;
	}
	&.small-desc-withoutBorder {
		width: 70%;
		margin: 0 auto 20px;
		border: none;
	}
}

.premiumStylesAndAdvice {
	a.btn-default {
		background: #455f6c;
		color: #fff;
		border-color: transparent;
		&:hover {
			background: #344651;
			color: #fff;
			border-color: transparent;
		}
	}
}

.style-advice-component {
	margin-top: 10px;
	margin-bottom: 10px;
	height: max-content;
	@media (max-width: 767px) {
		padding: 0px;
	}
	.row {
		margin: 0px !important;
	}

	.sa-title {
		margin: 0 0 36px;
		@media (max-width: 767px) {
			margin: 0 0 12px;
			text-align: center;
		}
	}
	.sa-table {
        min-height: 208px;
    }
    .sa-item {
        /*background: #f3f3f3;
        padding: 24px;*/
        @media (max-width: 767px) {
            padding: 5px 0 6px;//24px 0 6px
            margin-bottom: 10px;
        }
        .col-xs-12 {
            padding: 0;
        }
        .imageSA {
            width: 100%;
        }
        a {
            &:hover {
                text-decoration: none;
            }
        }
        .sa-table {
            display: table;
            table-layout: fixed;
            width: 100%;
            padding: 5px 20px 10px;
            .sa-tableCell {
                display: contents;
                vertical-align: middle;
                float: none;
                a {
                    &:hover {
                        &.titleLink {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
        
        .title {
            margin: 12px 0;
            color: #2D2A26;
            font-family: "roboto",sans-serif;
            font-size: 28px;
            font-weight: normal;
            letter-spacing: 0;
            line-height: 1;
            min-height: 28px;// salon-deatail -- salon offers -- 2nd image
            height: max-content;
            @media (max-width: 767px) {
                margin: 6px 0;
            }
        }
        .subtitle {
            margin: 0;
            min-height: 90px;
            color: #282828;
            font-family: "roboto",sans-serif;
            font-size: 18px;
            font-weight: 300;
            letter-spacing: 0;
            line-height: 16px;
            @media (max-width: 767px) {
                height: max-content;
               // min-height: 0px;
            }
        }

    }
    //FCH specific col style
    .col-sm-4.tableCell.highlighted{
        .sa-item {
            .sa-table {
                display: table;
                table-layout: fixed;
                width: 100%;
                background: #e60f1a;
                min-height: 207.5px;
                .title {
                    margin: 12px 0;
                    color: white;
                }
                .subtitle{
                    color: white;
                    //font-size: 16px;
                    padding-bottom: 10px;
                }
                
            }
            .next-btn {
                padding: 10px 15px;
                border: 2px solid white;
                background: none;
                color: white;
                
                img {
                    width: 10px;
                    height: 10px;
                    vertical-align: 0;
                }
            }
        }
    }
    .col-sm-4.tableCell.dark{
        .sa-item {
            .sa-table {
                display: table;
                table-layout: fixed;
                width: 100%;
                background: #464646;
                .title {
                    margin: 12px 0;
                    color: white;
                }
                .subtitle {
                    color: white;
                    font-size: 16px;
                    padding-bottom: 10px;
                }
            }
            .next-btn {
                padding: 10px 15px;
                border: 2px solid white;
                background: none;
                color: white;
                
                img {
                    width: 10px;
                    height: 10px;
                    vertical-align: 0;
                }
            }
        }
    }
    .col-sm-4.tableCell{
        .sa-item {
            .sa-table {
                display: table;
                table-layout: fixed;
                width: 100%;
                background: #f5f5f5;
                .title {
                    margin: 12px 0;
                    color: #e60f1a;
                }
                .subtitle {
                    color: #464646;
                    font-size: 16px;
                    padding-bottom: 10px;
                }
            }
            .next-btn {
                padding: 10px 15px;
                border: 2px solid #464646;
                background: none;
                color: #e60f1a;
                
                img {
                    width: 10px;
                    height: 10px;
                    vertical-align: 0;
                }
            }
        }
    }

    a.btn.next-btn {
        min-width: 167px;
    }

    .skinny-text {
        padding: 36px 0;
        margin: 0 36px;
        border-width: 4px 0;
        border-style: solid;
        border-color: #b7b493;
		&.noBorders {
			border: none;
		}
		@media (max-width: 991px) {
			margin: 24px 20px;
			padding: 18px 0;
		}
		.title {
			margin: 0;
			padding: 0 17px;
			font-size: 2.6em;
			font-weight: normal;
			line-height: 46px;
			a {
				font-size: 1em;
				font-weight: normal;
				font-family: "merriweather";
				color: #727173;
				&:hover {
					text-decoration: underline;
				}
			}
			@media (max-width: 991px) {
				padding: 0;
			}
			@media (min-width: 768px) and (max-width: 991px) {
				font-size: 25px;
				line-height: 31px;
			}
		}
		.description {
			margin: 60px 0 48px;
			font-family: 'open-sans';
			font-size: 12px;
			@media (max-width: 767px) {
				margin: 30px 0 24px;
			}
		}
	}
	.display-table {
		@media (min-width: 768px) {
			display: table;
			table-layout: fixed;
			width: 100%;
		}
		.tableCell {
			@media (min-width: 768px) {
				display: table-cell;
				vertical-align: middle;
				float: none;
				padding-top: 11px;
			}
			&:last-child {
				.sa-item {
					@media (max-width: 767px) {
						margin-bottom: 0;
					}
				}
			}
		}
	}
	.styleadv-more {
		margin-top: 20px;
	}
}


/* description text--------*/

.title-component .description {
    color: #2D2A26;
    font-family: "roboto",sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding-top: 13px;
    width: 100%;
    letter-spacing: 0;
    line-height: 20px;
    text-align: left;
	@media (max-width: 767px) {
		width: 97%;
		margin: auto;
	}
}

.title-component {
    .gender-links {
        padding-left: 11px;
        margin-bottom: 20px;
        margin-top: 20px; //gap b/w gender links and text
        span.selected {
            font-size: 20px;
            margin: 0 15px;
            color: #e60f1a;
            font-weight: 600;
            padding-bottom: 5px;
            border-bottom: 2px solid #e60f1a;
        }
        a {//style page -gender links
            width: max-content; 
            margin-right: 43px;
            color: #2D2A26;
            font-family: "roboto",sans-serif;
            font-size: 18px;
            font-weight: 600;
            letter-spacing: 0;
			line-height: 22px;
			border: 2px solid transparent;
			display: inline-block;
			/*@media (max-width: 768px) {
				height: 35px;
				font-size: 16px;
				width: 100%;
				border: 1px solid #c92436;
				border-radius: 20px;
				padding-left: 20px;
				margin-top: 10px;
				height: 40px;
				line-height: 40px;
				color: #c92436;
			}*/
			&:active {
				border-bottom: 2px solid #C8102E;
			}
			&:hover {
				text-decoration: none;
				border-bottom: 2px solid #C8102E;
			}
		}
	}
}

/*.DivbelowNav {
	.title-component {
		.col-xs-12 {
			padding: 0px !important;
		}
	}
}*/

.DivbelowNav {
	@media (max-width: 768px) {
		padding: 0px !important;
	}
	/*.container.style-advice-component {
		.col-sm-4.tableCell {
			padding: 0px !important;
		}
	}*/
}

.hcpStylesAndAdvice.section .style-advice-component .display-table .tableCell {
	padding: 0px !important;
}