.container.cont1{
    //find a salon near you section
    .colouredparsyscomponent.section + .responsivegrid.section+.colouredparsyscomponent.section{
        .acs-commons-resp-colctrl-col.acs-commons-resp-colctrl-col-28.mob-view{
            @media(max-width: 1280px){
                width: 40%;
            }
            @media(max-width: 768px){
                width: 100%;
            }

            .text.section{
                h3{
                    font-family: Roboto;
                    font-size: 28px;
                    font-weight: bold;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1;
                    letter-spacing: normal;
                    text-align: left;
                    color: #464646;
                }
            }
        }
        .new-row{
            margin: 0px !important;
        }
        .acs-commons-resp-colctrl-col-12{
            //padding-right: 15px;
            @media(max-width: 1280px){
                display:none;
            }
        }
        .acs-commons-resp-colctrl-col-48{
            padding-right: 15px;
            @media(max-width: 1280px){
                width: 60%;
            }
            @media(max-width: 768px){
                width: 100%;
            }

        }
        .locationsNearYou{
            margin-top: 0px !important;
            padding-top: 0 !important;
            .input-group{
                @media(max-width: 768px){
                    display: block;
                }
                .search-wrapper {
                    @media(max-width: 768px){
                        width: 100%;
                        display: flex;
                    }
                }
            }
            span.input-group-btn {
                width: max-content;
                @media(max-width:768px){
                    width: 100%;
                    display: flex;
                    margin-top: 27px;
                }
            }
            div#locationsNotDetectedMsg {
                display: none !important;
                padding-top: 0px !important;
            }
            button.btn.btn-default.customTheme {
                width: 226px;
                height: 40px;
                border: solid 2px #e60f1a;
                background-color: #f5f5f5;
                font-family: Roboto;
                font-size: 21px;
                font-weight: bold;
                font-stretch: normal;
                font-style: normal;
                line-height: 0;
                letter-spacing: normal;
                text-align: center;
                color: #e60f1a;
                @media(max-width:768px){
                    width: 219px;
                    margin: auto;
                }
            }
            input#autocompleteLNY {
                width: 340px;
                height: 40px;
                opacity: 0.6;
                border-radius: 0;
                border: solid 2px #707070;
                font-family: Roboto;
                font-size: 17px;
                font-weight: 500;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: normal;
                text-align: left;
                color: #464646;
                @media(max-width:768px){
                    width: 328px;
                    margin: auto;
                }
            }
        }
    }
    //lob with face framing section
    .colouredparsyscomponent.section + .responsivegrid.section{
        .acs-commons-resp-colctrl-col.acs-commons-resp-colctrl-col-40 {
            @media(max-width:768px){
                padding: 0px;
            }
            .img-container.col-md-12.col-sm-12.col-xs-12 {
                @media(max-width:768px){
                    padding: 0px;
                }
            }
            .txtalign-center.imgtxt-box.col-md-12.col-xs-12.col-sm-12 {
                @media(max-width:768px){
                    padding: 0;
                }
            }
        }
        .acs-commons-resp-colctrl-col.acs-commons-resp-colctrl-col-60 {
            @media(max-width:768px){
                padding-left: 10px;
            }
            .textandimage .imgtxt-box.txtalign-center{
                @media(max-width:768px){
                    padding-left: 0px;
                }
            }
            .socialsharing.section{
                color: transparent;
                float: right;
                @media(max-width: 768px){
                    margin-right: 15px;
                    margin-top: 10px;
                }
                h4{
                    display: none;
                }
                hr {
                    display: none;
                }
                [class^="icon-"]{
                    color: #e60f1a;
                    width: 15px;
                    height: 29px;
                    font-size: 20px;
                }
            }
        }
    }
}
.cta-buttonhtmleft {
    font-weight: 700;
    color: #464646;
    padding: 20px;
    font-size: 15px;
    text-align: left;
    span.icon-arrow {
        color: #e60f1a;
        font-weight: bold;
        padding-left: 10px;
        font-size: 15px;
    }
}
//style page -- 
.responsivegrid.section:nth-child(4), .responsivegrid.section:nth-child(5){
    .aem-Grid .parsys.aem-GridColumn .text h1 {
        margin-top: 70px;
        @media(max-width:1200px) and (min-width:768px){
            margin-top: 25px;
        }
    }
}
.responsivegrid.section:nth-child(6){
    .aem-Grid.aem-Grid--12.aem-Grid--default--12{
        margin-top: 70px;
        @media(max-width:1200px) and (min-width:768px){
            margin-top: 10px;
        }
    }
}
.hcpStylesAndAdvice:nth-child(2){
    margin-bottom: 28px;
}
@media(max-width:1200px) and (min-width:768px){
    .style-advice-component .col-sm-4.tableCell .sa-item .sa-table {

        min-height: 220.5px !important;
    }
}
//style sub page

.acs-commons-resp-colctrl-col-60{
    .text.section + .textandimage{
        .imgtxt-box.txtalign-center .h2 {
            font-weight: bold;
            font-size: 28px;
            color: #e60f1a;
        }
        .imgtxt-box p {
            font-weight: normal;
            color: #464646;
            font-size: 18px;
            @media(max-width: 768px){
                font-size: 16px;
            }
        }
    }
    .text.section + .textandimage + .hairlinecomponent + .section{
        .textandimage{
            .imgtxt-box.txtalign-center .h2 {
                font-weight: bold;
                font-size: 28px;
                color: #e60f1a;
            }
            .imgtxt-box p {
                font-weight: normal;
                color: #464646;
                font-size: 18px;
                @media(max-width: 768px){
                    font-size: 16px;
                }
            }
        }
    }
}
.locationsNearYou #searchBtnLabel {
    padding: 10px;
    display: none;
}
.responsivegrid.section:nth-child(4){
    .acs-commons-resp-colctrl-row.aem-GridColumn.aem-GridColumn--default--12:nth-child(3){
        .acs-commons-resp-colctrl-col-25{
            .textandimage{
                .imgtxt-para{
                    font-family: Roboto;
                    font-size: 21px;
                    font-weight: bold;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: normal;
                    letter-spacing: normal;
                    text-align: center;
                    color: #464646;
                    @media(max-width: 1200px){
                        font-size: 16px;
                    }
                }
            }
        }
    }
    //haritalk page >> Product guide
    .text.aem-GridColumn.aem-GridColumn--default--12:first-child{
        h1{
            font-family: Roboto;
            // font-size: 28px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: left;
            color: #464646;
            // margin-bottom: 0;

        }
    }
    .htmlcoder:nth-child(2) ,.htmlcoder:nth-child(6){
        p.cta-buttonhtm {
            // margin-top: -44px;
            @media(max-width: 768px){
                margin-top: 0;
                text-align: left;
            }
        }
    }
    .hairlinecomponent + .text.aem-GridColumn.aem-GridColumn--default--12:nth-child(5){
        h1{
            font-family: Roboto;
            font-size: 28px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: left;
            color: #464646;
            margin-bottom: 0;
        }
    }
    .hairlinecomponent + .text.aem-GridColumn.aem-GridColumn--default--12:nth-child(5)+.htmlcoder + .acs-commons-resp-colctrl-row.aem-GridColumn.aem-GridColumn--default--12:last-child{
        margin-bottom: 119px;
        .acs-commons-resp-colctrl-col-25{
            .textandimage{
                .imgtxt-para{
                    font-family: Roboto;
                    font-size: 21px;
                    font-weight: bold;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: normal;
                    letter-spacing: normal;
                    text-align: center;
                    color: #464646;
                    @media(max-width: 1200px){
                        font-size: 16px;
                    }
                }
            }
        }
    }
}
.styledetailcomponent{
    .container {
        padding: 0;
        @media(max-width:767px){
            padding: 0;
        }
    }
    .style-detail-wrap{
        display: flex;
        margin: 52px auto 65px;
        @media(max-width:767px){
            flex-wrap: wrap;
        }
        .col-xs-12.style-img {
            width: 40%;
            padding: 0;
            @media(max-width:767px){
                width: 100%;
            }
            .featuredimage{
                img{
                    @media(max-width:1200px){
                        width: 100%;
                    }
                }
            }
        }
        .col-xs-12.style-info {
            width: 60%;
            @media(max-width:767px){
                width: 100%;
            }
            .salontitle{
                padding-left: 25px;
                font-family: Roboto;
                font-size: 38px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: 1;
                letter-spacing: normal;
                text-align: left;
                color: #464646;
                margin-top: 0;
                @media(max-width:1200px) and (min-width:768px){
                    font-size: 30px;
                }
                @media(max-width:767px){
                    font-size: 26px;
                    padding-left: 0;
                }
            }
            p.imgtxt-subheading.h3 {
                font-size: 28px;
                font-weight: bold;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: normal;
                text-align: left;
                color: #e60f1a;
                @media(max-width:767px){
                    font-size: 21px;
                }
            }
            .style-features{
                @media(max-width:767px){
                    padding: 0;
                }
            }
            .style-features:nth-child(3){
                .textandimage{
                    .img-text-comp.theme-default.no-border {
                        display: flex;
                        border-top: 2px solid #f5f5f5;
                        padding-top: 20px;
                        margin-top: 20px;
                        @media(max-width:767px){
                            display: block;
                        }
                        .img-container{
                            order: 2;
                        }
                        .imgtxt-box{
                            order: 1;
                            @media(max-width: 1200px)and (min-width: 768px){
                                width: 75%;
                            }
                            @media(max-width:767px){
                                width: 100%;
                            }
                            p.imgtxt-subheading.h3 {
                                font-size: 28px;
                                font-weight: bold;
                                font-stretch: normal;
                                font-style: normal;
                                line-height: normal;
                                letter-spacing: normal;
                                text-align: left;
                                color: #e60f1a;
                                @media(max-width:767px){
                                    font-size: 21px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .favicondiv {
        display: flex;
        margin-top: 31px;
        p.favicontext {
            font-family: Roboto;
            font-size: 16px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: right;
            color: #464646;
            position: relative;
            overflow: hidden;
            padding-right: 20px;
            // width: max-content;
            @media(max-width: 1200px) and (min-width: 768px){
                width: 154px;
                text-align: left;
            }
            @media(max-width: 767px){

            }
            &:after{
                content: "";
                position: absolute;
                width: 200%;
                height: 200%;
                top: -50%;
                left: -7px;
                right: auto;
                z-index: -1;
                transform: rotate(-90deg);
                background: url(/content/dam/firstchoice/checkinIcons/dropdownArrow.png) center no-repeat;
            }

        }
        a.fav-heart.fav-hrt-empty.btn.faviconimage.icon-heart {
            float: right;
            border: 0px;
            padding: 0;
            line-height: 0.5;
            margin-right: 10px;
            margin-left: auto;
            width: 33px;
            height: 30px;
            display: block;
            font-size: 30px;
        }
    }
    .style-share{
        @media(max-width: 767px){
            padding: 0;
        }
    }
    .col-md-7.col-xs-12.usage {
        width: 100%;
        display: flex;
        @media(max-width: 767px){
            padding: 0;
        }
        .socialsharingcomp{
            width: 100%;
            .col-xs-12.col-sm-12.col-md-12 {
                width: 50%;
                @media(max-width: 768px){
                    padding-left: 0;
                    // padding: 25px 5px 30px;
                }
                .h3 {
                    font-family: Roboto;
                    font-size: 16px !important;
                    font-weight: bold;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: normal;
                    letter-spacing: normal;
                    text-align: left;
                    color: #464646;
                    position: relative;
                    overflow: hidden;
                    padding-right: 20px;
                    width: max-content;
                    &:after{
                        content: "";
                        position: absolute;
                        width: 200%;
                        height: 200%;
                        top: -50%;
                        left: -7px;
                        right: auto;
                        z-index: -1;
                        transform: rotate(-90deg);
                        background: url(/content/dam/firstchoice/checkinIcons/dropdownArrow.png) center no-repeat;
                    }
                }
            }
            .social-links.col-xs-12 {
                width: 50%;
                padding: 0;
                a{
                    img{
                        width: auto;
                        height: 29px;
                        margin-left: 25px;
                    }
                }
                @media(max-width:768px){
                    width: 50% !important;
                }
                dl {
                    margin-top: 15px;
                    width: max-content;
                    margin-left: auto;
                }
            }
        }

    }

}
.contentColoredParsys + .responsivegrid + .container.cont1{
.productshowcase{
        .product-list-wrap {
            padding-bottom: 25px;
            float: left;
            padding: 0;
            img {
                margin-left: 0;
            }
            @media(max-width: 1024px) and (min-width: 768px){
                margin-bottom: 25px;
            }
        }
        .prod-4 div.prod-info {
        /* margin: auto; */
        width: 25%;
        min-height: initial;
        padding: 10px;
        float: none;
        text-align: center;
        margin: 0;
        padding-left: 0;
    }
}
}
.nearbysalons + .content {
    .title{
        .col-xs-12{
            padding: 0;
        }
    }
}
.colouredparsyscomponent + .responsivegrid {
    .title + .acs-commons-resp-colctrl-row{
        .new-row {
            display: flex;
            flex-wrap: wrap;
            margin-right: -15px !important;
            margin-left: -15px !important;
        }
    }
}
.colouredparsyscomponent + .responsivegrid + .responsivegrid{
    .style-advice-component .display-table {
        display: table;
        table-layout: fixed;
        width: auto;
        margin: 0 -15px;
        .tableCell {
            padding-left: 0px !important;
            padding-right: 15px !important;
        }
    }
}
.colouredparsyscomponent + .responsivegrid + .responsivegrid + .responsivegrid{
    .style-advice-component .display-table {
        display: table;
        table-layout: fixed;
        width: auto;
        margin: 0 -15px;
        .tableCell {
            padding-left: 0px !important;
            padding-right: 15px !important;
        }
    }
}
.colouredparsyscomponent + .responsivegrid + .responsivegrid + .responsivegrid{
    .acs-commons-resp-colctrl-col-50{
        padding-left: 0;
    }
}