.textandimagefch{
    margin-bottom: 10px !important;
    page-break-inside: avoid !important;
.img-container{
    width: 33.333% !important;
    float: left !important;
    padding-top: 5px !important;
    padding-left: 5px !important;
&.pull-right{
     float: right !important;
     padding-left: 0 !important;
     padding-right: 5px !important;
 }
}
.imgtxt-box{
    width: 66.666% !important;
    float: left !important;
.imgtxt-heading,.imgtxt-subheading{
    color: #1e3e6e !important;
}
}
.imgtxt-url{
a{
    display: none !important;
}
}
.img-text-comp{
b,strong,i,em{
    display: inline !important;
}
&.theme-blue,&.theme-dark{
                  color: #fff !important;
.imgtxt-heading,.imgtxt-subheading{
    color: #fff !important;
}
}
&.theme-blue{
     background: #1e3e6e !important;
b,strong,i,em{
    color: #fff !important;
}
}
&.theme-dark{
     background: #59595C !important;
b,strong,i,em{
    color: #fff !important;
}
}
&.theme-brand{
     background: #EEEFF1 !important;
.imgtxt-subheading,p{
    color: #6c6d6e !important;
}
b,strong,i,em{
    color: #6c6d6e !important;
}
}
}
}