.hcp-advice-article{
	.desc-font{
		font-size: 16px;
		font-family: "open-sans";
	}
	.love-your-hair{
		.article1{
			.title{
				color: #455f6c;
				font-weight: normal;
				font-family: "merriweather";
			}
			.subtitle{
				margin-top: 18px;
				margin-bottom: 40px;
				font-size: 28px;
				font-weight: normal;
				font-family: "merriweather";
			}
			ul.social-icons{
				margin-bottom: 48px;
				padding: 0;
				li{
					display: inline;
					margin-right: 21px;
					a{
						img{
							height: 20px;
						}
					}
				}
			}
		}
		.article2{
			figure{
				figcaption{
					margin-top: 28px;
					margin-bottom: 44px;
					font-size: 12px;
					font-family: "open-sans";
				}
			}
			.article-description{
				font-family: "open-sans";
				@media(max-width: 767px){
					margin-top: 20px;
					margin-bottom: 20px;
				}
			}
		}
	}

	.everyday-indulgence{
		.article-header{
			.title{
				color: #455f6c;
				font-weight: normal;
				font-family: "merriweather";
			}
			.subtitle{
				margin-top: 18px;
				margin-bottom: 40px;
				font-size: 28px;
				font-weight: normal;
				font-family: "merriweather";
			}
			ul.social-icons{
				margin-bottom: 48px;
				padding: 0;
				li{
					display: inline;
					margin-right: 21px;
					a{
						img{
							height: 20px;
						}
					}
				}
			}
		}
		.article-description{
			font-family: "open-sans";
		}
		.article-image{
			margin-top: 24px;
			margin-bottom: 24px;
			@media (max-width: 767px){
				margin-bottom: 14px;
				margin-top: 14px;
			}
		}
		.short-description{
			margin-bottom: 26px;
			@media (max-width: 767px){
				margin-bottom: 10px;
			}
			.article-section{
				font-family: "open-sans";
				@media (max-width: 767px){
					padding-bottom: 14px;
				}
				.title{
					font-size: 15px;
					color: #333333;
					margin-bottom: 12px;
					@media (max-width: 767px){
						margin-bottom: 6px;
					}
				}
				.description{
					font-size: 12px;
				}
			}
		}
	}
    
    .essentials{
        .article-header{
			.title{
				color: #455f6c;
				font-weight: normal;
				font-family: "merriweather";
			}
			.subtitle{
				margin-top: 18px;
				margin-bottom: 40px;
				font-size: 28px;
				font-weight: normal;
				font-family: "merriweather";
			}
			ul.social-icons{
				margin-bottom: 48px;
				padding: 0;
				li{
					display: inline;
					margin-right: 21px;
					a{
						img{
							height: 20px;
						}
					}
				}
			}
		}
		.article-body{
			.article-description{
				font-family: "open-sans";
			}
			.short-description{
				.article-section{
					&:first-child{
						margin-bottom: 58px;
						@media (max-width: 767px){
							margin-bottom: 30px;
						}
					}
					img{
						@media (max-width: 767px){
							min-width: 150px;
						}
					}
					.title{
						font-size: 15px;
						color: #333333;
					}
					.font-desc{
						@media (max-width: 767px){
							font-size: 12px;
						}
					}
				}
			}
		}
    }

    .stylist-interview{
    	.article-header{
    		margin-bottom: 48px;
    		@media (max-width: 767px){
    			margin-bottom: 24px;
    		}
    		.title{
    			font-family: "open-sans";
    			@media (max-width: 767px){
	    			border-bottom: 1px solid #f3f3f3;
	    		}
    		}
    	}
    	.article-body{
    		.article-img{
    			@media (max-width: 767px){
    				width: 100%;
    				height: 288px;
    			}
    		}
    		.article-section{
    			.subtitle{
    				font-weight: lighter;
    				font-size: 12px;
    				margin-bottom: 24px;
    			}
    			.name{
    				margin-bottom: 12px;
    				margin-top: 0;
    				@media (max-width: 767px){
    					margin: 0;
    				}
    			}
    			.salon-address{
    				.location,.ph-no{
    					display: block;
    					margin-bottom: 12px;
    					font-size: 12px;
    				}
    			}
    			.product-section{
    				.title{
    					margin-top: 24px;
    					margin-bottom: 12px;
    				}
    			}
    		}
    		.designer-profile{
    			@media (max-width: 767px){
    				margin-top: 24px;
    				margin-bottom: 36px;
    			}
    			.subtitle{
    				@media (max-width: 767px){
    					margin-bottom: 12px;
    				}
    			}
    		}
    		.salon-details{
    			@media (max-width: 767px){
    				margin-bottom: 36px;
    			}
    		}
    		.specialities-section{
    			margin-top: 36px;
    			.specialities{
    				margin-bottom: 36px;
    			}
				span{
					font-weight: 600;
					font-size: 12px;
				}
			}
    	}
    }
}