#myCarousel{
    margin-top: 20px;
}
#myCarousel .nav a small {
    display:block;
}
#myCarousel .nav {
    background:none;
    position: absolute;
    top:10%;
    left:10%;
}
#myCarousel .nav li{
    margin-bottom: 12px;
    margin-left: 0;
    color: #fff;
    width: 250px; 
}
#myCarousel .carousel-caption{
    right: 10%;
    position: absolute;
    left: 60%;
    top: 20%;
    text-align: right;
}
#myCarousel .carousel-caption.left{
    top: 10%;
    left: 10%;
    right: 60%;
    position: absolute;
}
#myCarousel .carousel-caption .title{
    margin: 0;
}
#myCarousel .carousel-caption .description{
    margin: 24px 0;
    font-size: 14px;
}
#myCarousel .carousel-caption .products-btn{
    color: #FFF;
    font-weight: bold;
    padding: 15px 20px 10px;
    border-radius: 2px;
    background: #455f6c;
}
#myCarousel .carousel-caption .products-btn:hover,
#myCarousel .carousel-caption .products-btn:active,
#myCarousel .carousel-caption .products-btn:focus{
    box-shadow: none;
    outline: none;
    background: #344651;
}
#myCarousel .nav li a{
    width: 100%;
    padding: 20px 48px;
    font-size: 16px;
    background: rgba(136,150,148,0.5);
    text-align: left;
    color: #fff;
}
#myCarousel .nav li.active{
    width: 300px;
    margin-bottom: 7px;
}
#myCarousel .nav li.active a{
    background: rgba(255,255,255,0.5);
    color: #000;
    font-size: 24px;
    padding: 17px 48px;
    text-align: left;
    border-bottom: 5px solid #b7b493;
}

@media (max-width:767px){
    #myCarousel ul.nav-pills.nav-justified > li{
        width: 10px;
        height: 10px;
        margin-right: 10px;
        float: left;
        padding: 0;
    }
    #myCarousel .nav li a{
        padding: 0;
        background: #fff;
         width: 10px;
        height: 10px;
        border-radius: 50%;
    }
    #myCarousel .nav li.active a{
        padding: 0;
        background: #c04444;
        border: 0;
    }
	#myCarousel .carousel-caption{
        position: absolute;
        text-align: center;
        left: 60%;
        top: 20%;
        padding-top: 0;
        width: 100px;

    }
    #myCarousel .carousel-caption .products-btn{
		width:auto;
        padding:10px;
        min-height:auto;
    }
     #myCarousel .nav {
        background:none;
        position: relative;
        top: -30px;
        left: 38%;
    }
    #myCarousel .carousel-caption .description{
        display: none;
    }
    #myCarousel .carousel-caption .title{
        font-size: 1.5em;
    }
}

@media (min-width: 768px){
    #myCarousel .nav {
        width: 400px;
    }
    #myCarousel ul.nav-pills.nav-justified > li{
        display: block;
    }
    #myCarousel ul.nav-pills.nav-justified > li a{
        border-radius: 0;
    }
}
@media (min-width: 768px) and (max-width: 991px){
    #myCarousel .carousel-caption .title{
        font-size: 1.5em;
    }
    #myCarousel .nav li a{
        padding: 10px 48px;
    }
}