.email-component .remember-text label input{margin-right:20px}.email-component .privacy-policy{margin-left:30px;margin-bottom:20px}.email-component .privacy-policy a{padding:0 10px;color:#568391;font-size:11px;font-weight:600}