.email-toast-component{
	width: 100%;
	color: #fff;
	padding: 24px 20px 20px;
	position:fixed;
	bottom:0;
	z-index: 100;
	left: 0;
	display: none;
	min-height: 80px;
	.tips-tricks{
		font-size: 18px;
		font-weight: 500;
		@media screen and (max-width: 767px){
			text-align: center;
		}
	}
	.offers-text{
		text-align: center;
		margin: 12px 0 24px;
		font-family: "open-sans";
	}
	.form-group{
		margin: 0;
		.form-control{
			background: transparent;
			border-width: 0 0 1px 0;
			border-style: solid;
			border-color: #fff;
			border-radius: 0;
			box-shadow: none;
			padding-left: 0;
			color: #fff;
			font-family: "open-sans";
			&:-moz-placeholder,
			&:-ms-placeholder,
			&:-o-placeholder{
				color: #fff !important;
				opacity: 1;
			}
			&::-moz-placeholder{
				color: #fff !important;
				opacity: 1;
			}
			&::-webkit-input-placeholder{
				color: inherit;
			}
		}
	}
	.register-email{
		padding: 10px 15px;
		border: 1px solid #fff;
		border-radius: 50%;
		color: #fff;
		position: relative;
		bottom: -5px;
	}
	.dismiss-toast{
		position: absolute;
		top: 30px;
		right: 10%;
		width: 16px;
		height: 16px;
		@media screen and (max-width: 767px){
			width: 7px;
			height: 7px;
			right: 20px;
			top: 15px;
		}
		@media (min-width: 768px) and (max-width: 991px){
			right: 10px;
		}
	}
	a{
		color: #fff;
		&:hover,&:focus{
			color: #fff;
			text-decoration: none;
		}
	}
}
.purple-bg{
	background: rgba(192, 68, 68, 0.7);
}
.grey-bg{
	background: rgba(114, 113, 115, 0.7);
}
.teal-bg{
	background: rgba(69, 95, 108, 0.7);
}
.lightgreen-bg{
	background: rgba(136, 150, 148, 0.7);
}
.gold-bg{
	background: rgba(183, 180, 147, 0.7);
}