.bg-footer {
  background: #404041;
  color: #fff;
  padding-top: 24px;
}
@media (max-width: 991px) {
  .bg-footer {
    padding-bottom: 24px;
  }
}
@media (min-width: 768px) {
  .bg-footer .footer-well {
    margin-bottom: 36px;
  }
}
.bg-footer .footer-well .form-group .h2 {
  margin: 0;
}
.bg-footer .footer-well .form-group .input-group {
  margin: 12px 0;
}
.bg-footer .footer-well .form-group .input-group input {
  border: 0;
  border-radius: 0;
}
.bg-footer .footer-well .form-group .input-group .input-group-btn button {
  border: none;
  background: #568391;
  margin: 0;
  height: 34px;
  border-radius: 0;
  font-weight: bold;
}
.bg-footer .footer-well .form-group .input-group .input-group-btn button:hover,
.bg-footer .footer-well .form-group .input-group .input-group-btn button:focus {
  color: #fff;
  outline: none;
  box-shadow: none;
}
@media screen and (max-width: 767px) {
  .bg-footer .footer-well ul.nav-page {
    margin: 36px 0;
  }
}
.bg-footer .footer-well ul.nav-page li {
  display: inline-block;
}
@media screen and (max-width: 767px) {
  .bg-footer .footer-well ul.nav-page li {
    width: 69px;
    font-size: 11px;
    padding: 10px 0;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .bg-footer .footer-well ul.nav-page li {
    padding: 10px 6px 10px 0;
  }
}
.bg-footer ul.nav-page {
  margin-bottom: 24px;
}
.bg-footer ul.nav-page li {
  display: inline-block;
  padding: 0 12px;
}
.bg-footer ul.nav-page li:last-child {
  padding-right: 0;
}
.bg-footer ul.nav-page li a {
  color: #fff;
  text-decoration: none;
}
@media (min-width: 768px) {
  .bg-footer ul.nav-page li a {
    font-size: 12px;
  }
}
.bg-footer ul.nav-page li a:hover {
  color: #fff;
}
.bg-footer ul.nav-page li a:focus {
  outline: none;
}
@media (min-width: 992px) {
  .bg-footer .sgst-ftr-logo {
    position: relative;
    top: -22px;
  }
}
.bg-footer .sgst-ftr-logo .copyright {
  position: relative;
}
@media (min-width: 992px) {
  .bg-footer .sgst-ftr-logo .copyright {
    height: 37px;
  }
}
.bg-footer .sgst-ftr-logo .copyright small a {
  color: #fff;
}
@media (min-width: 992px) {
  .bg-footer .sgst-ftr-logo .copyright small {
    position: absolute;
    bottom: 0;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .bg-footer .sgst-ftr-logo .regis-logo {
    height: 40px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .bg-footer .sgst-ftr-logo .regis-logo a {
    position: relative;
    bottom: -14px;
  }
}
.bt-mob {
  display: none;
}
#back-to-top.show {
  opacity: 1;
  visibility: visible;
}
#back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
  background-color: #4c6f7a;
  color: #fff;
  width: 70px;
  height: 60px;
  text-align: center;
  padding-bottom: 12px;
  text-decoration: none;
  transition: opacity 0.2s ease-out;
  opacity: 0;
  visibility: hidden;
}
@media (max-width: 768px) {
  #back-to-top {
    width: 100%;
    right: 0;
    bottom: 0;
    background-color: rgba(76, 111, 122, 0.5);
  }
}
#back-to-top figure {
  margin: 0;
}
#back-to-top figure img {
  margin-top: 9px;
  margin-bottom: 9px;
  height: 20px;
}
#back-to-top figure figcaption {
  font-size: 10pt;
  line-height: 12px;
}
