.bg-footer{
	background: #404041;
	color: #fff;
	padding-top: 24px;
	@media (max-width: 991px){
		padding-bottom: 24px;
	}
	.footer-well{
		@media (min-width: 768px){
			margin-bottom: 36px;
		}
		.form-group{
			.h2{
				margin: 0;
			}
			.input-group{
				margin: 12px 0;
				input{
					border: 0;
					border-radius: 0;
				}
				.input-group-btn{
					button{
						border: none;
						background: #568391;
						margin: 0;
						height: 34px;
						border-radius: 0;
						font-weight: bold;
						&:hover,&:focus{
							color: #fff;
							outline: none;
							box-shadow: none;
						}
					}
				}
			}
		}
		ul.nav-page{
			@media screen and (max-width: 767px){
				margin: 36px 0;
			}
			li{
				display: inline-block;
				@media screen and (max-width: 767px){
					width: 69px;
					font-size: 11px;
					padding: 10px 0;
				}
				@media (min-width: 768px) and (max-width: 991px){
					padding: 10px 6px 10px 0;
				}
			}
		}
	}
	ul.nav-page{
			margin-bottom: 24px;
			li{
				display: inline-block;
				padding: 0 12px;
				&:last-child{
					padding-right: 0;
				}
				a{
					color: #fff;
					text-decoration: none;
					@media (min-width: 768px){
						font-size: 12px;
					}
					&:hover{
						color: #fff;
					}
					&:focus{
						outline: none;
					}
				}
			}
		}
		.sgst-ftr-logo{
			@media (min-width: 992px){
				position: relative;
				top: -22px;
			}
			.copyright{
				position: relative;
				@media (min-width: 992px){
					height: 37px;
				}
				small{
					a{
						color: #fff;
					}
					@media(min-width: 992px){
						position: absolute;
						bottom: 0;
					}
				}
			}
			.regis-logo{
				@media(min-width: 768px) and (max-width: 991px){
					height: 40px;
				}
				a{
					@media(min-width: 768px) and (max-width: 991px){
						position: relative;
						bottom: -14px;
					}	
				}
			}
		}
}

//for back to top functionailty
.bt-mob{
    display:none;
}

#back-to-top.show {
    opacity: 1;
    visibility: visible;
}

#back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
    background-color: #4c6f7a;
    color: #fff;
    width: 70px;
    height: 60px;
    text-align: center;
    padding-bottom: 12px;
    text-decoration: none;
    transition: opacity .2s ease-out;
    opacity: 0;
    visibility: hidden;
    @media(max-width:768px){
        width: 100%;
        right: 0;
        bottom:0;
        background-color: rgba(76,111,122,0.5);
    }
    figure{
        margin:0;
        img{
            margin-top: 9px;
            margin-bottom: 9px;
            height: 20px;
        }
         figcaption{
            font-size: 10pt;
            line-height: 12px; 
        }
    }
}