.displayNone{
    display: none;
}

main{
    min-height: 980px;
    width:1200px;
    margin:0 auto;
    padding-bottom: 20px;
    @media(max-width:1024px){
        width:100%;
    }
}

.container{
	margin:0 auto;
}

.no-border {
	border: none;
}

.btn-default{
	padding:14px 60px;
	border-radius: 0;
    font-size: 12px;
    font-weight: bold;
    font-family:'open-sans';
    border-color: transparent;
	&:hover{
		background: #D2D3D3;
	}
    span.def-btn-arrow{
        background: url(../images/Regis-Icons/Regis_arrow_direction-btn.svg);
        height: 14px;
        width: 9px;
        display: inline-block;
        position: relative;
        top: 3px;
        left: 12px;
    }
} 
.btn-primary{
	padding:14px 36px;
	border-radius: 0;
	background: #455f6c;
    font-size: 12px;
	border-color: transparent;
	color: #fff;
    font-family:'open-sans';
	&:hover{
		background: #344651;
        border-color: transparent;
	}
}
a{
    outline: none;
    font-family:'open-sans';
    font-size:12px;
    &:hover,&:active,&:focus{
        outline: none;
    }
}

a.cta-arrow{
    text-decoration: none;
    color: #455F6c;
    font-family: 'open-sans';
    font-size: 12px;
    font-weight: bold;
    background: url(../images/Regis-Icons/Arrow-Link-teal-bolder.svg) no-repeat center right;
    padding-right: 12px;
    &:hover{
        color: #344561;
    }
}

a.text-link{
    text-decoration: none;
    color:#727173;
    border-bottom: 1px solid #727173;
    font-size:12px;
    font-family:'open-sans';
    &:hover{
        color: #39393A;
    }
}

a.cta{
	color: #455f6c;
	font-weight: 700;
    font-family:'open-sans';
	&:hover{
		text-decoration: none;
		color: #344651;
	}
}
.nav a{
    color: #717273;
	&:hover{
        @media(min-width:992px){
            border-bottom: 1px solid #BCBEC0;
        }
	}
	&:active{
        @media(min-width:992px){
            border-bottom: 1px solid #568391;
        }
	}
}

//styles added for checkboxes and radio button and background colors for text boxes

.title,.head-style{
    font-weight:bold;
    .h2,h2,.h3,h3{
		font-weight:bold;
    }
}

fieldset{
    padding-right: 12px !important;
}

.form-group{
    label{
		font-size:8pt;
    }
}

.form-control.gray-bg{
	background-color:#f9f9f9;
}

.form-control.white-bg{ 
	border-bottom:1px solid #e6e7e8;
}

.input-focus{
	padding-left:5px;
    border-left:2px solid #287ADD;
}

.form-control:focus{
    box-shadow: none;
    -webkit-box-shadow:none;
}

input[type=checkbox].css-checkbox, input[type=radio].css-radiobtn,input[type=checkbox].css-radiobtn {
    position: absolute;
    z-index: -1000;
    left: -1000px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}

input[type=checkbox].css-checkbox+label.css-label, input[type=radio].css-radiobtn+label.css-label,input[type=checkbox].css-radiobtn+label.css-label  {
    padding-left: 26px;
    vertical-align: middle;
    height: 31px;
    display: inline-block;
    line-height: 32px;
    background-repeat: no-repeat;
    background-position: 0 0;
    font-size: 16px;
    width: auto;
    cursor: pointer;
    background-size: 100%;
}

label.css-label {
    background-image: url('../images/checkbox-unchecked.png');
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

input[type=radio].css-radiobtn+label.css-label{
    border:none;
    background-image: url(../images/Regis-Icons/Regis_radio.svg);
}

input[type=radio].css-radiobtn:checked+label.css-label{
    background-image: url(../images/Regis-Icons/Regis_radio-selected.svg);
}

input[type=checkbox].css-checkbox:checked+label.css-label, input[type=radio].css-checkbox:checked+label.css-label {
    background-image: url('../images/checkbox.png');
}

.btn-block-xs{
    @media(max-width:767px){
        width: 99%;
    }
}

// Display Table & Table-cell

.displayTable{
    @media(min-width: 992px){
        display: table;
        table-layout: fixed;
        width: 100%;
    }
}
.tableCell{
    @media(min-width: 992px){
        display: table-cell;
        vertical-align: middle;
        float: none;
    }
}

.form-control{
    &[disabled]{
		background:#eee;
    }
    &[readonly]{
		background:#f9f9f9;
    }
}

//styles added for parsys alignment

.textandimage,.logininfo,.aboutyoucomponent,.textoverresponsiveimage,emailandnewsletters {
    overflow: hidden;
    height: auto;
}

#map-canvas{
    height:400px;
}

.pac-container{
    min-width: 200px;
    z-index: 9999;
}

.overlay {
    position: fixed;
    background-color: #fff;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    opacity: .7;
}

#loader-img {
    background: url('../../images/loader.gif') no-repeat center center;
    position: absolute;
    top: 39%;
    left: 40%;
    height: 100px;
    width: 100px;
}

/*for only text component with out padding*/

.textwithoutpadding.section{
	padding:0;
}

.textwithoutpadding.section p{
	margin:0;
}

.textwithoutpadding .top-border{
	border-top:1px solid #f3f3f3;
}

.textwithoutpadding .bottom-border{
	border-bottom:1px solid #f3f3f3;
}

.textwithoutpadding .left-border{
	border-left:1px solid #f3f3f3;
	padding-right: 15px;
}

.textwithoutpadding .right-border{
	border-right:1px solid #f3f3f3;
	padding-left: 15px;
}

.textwithoutpadding p b,.textwithoutpadding b{
    color: #092f57;
}

/* for displaying markers */

.scissorlabels {
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    white-space: nowrap;    
    margin-top: -36px !important;
    margin-left: -18px !important;
}
.other-marker-labels {    
   font-size: 28px;
   text-align: center;
   white-space: nowrap;
   margin-top: -51px!important;
   margin-left: -10px!important;
}

.labelContent,.other-marker-labels div,.scissorlabels div{
    width:35px;
    text-align:center;
	font-family:"futura-pt-condensed", Helvetica, Arial, sans-serif;
}
.Added-labelContent{
    background-color:#173E70;
    color: white;   
    padding:12px;
    
}
.select-labelContent{
    display:none;
}
.Added-marker-labels{
    font-size:14px;
    margin-top: -50px!important;
    margin-left: -50px!important;
    height:50px;
}
.Added-marker-labels:after{
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    position: absolute;
    border-top: 6px solid #173E70;
    top: 44px;
    left: 48%;
    content:'';
}

.Added-labelContent:after{
border:solid 2px #fff;
border-radius:10px;
position:relative;
margin-left:10px;
font-size:14px;
content: "\e61d";
font-family: 'icomoon';
}
	
/* for displaying markers End */

/*hairlinecomponent styles*/

.hairlinecomponent hr{
    border-top: 1px solid #DADBDC;
    margin:5px 0;
    @media(max-width:768px){
        margin:5px 10px;
    }
}

/*hairlinecomponen styles*/

/*filter icon size fix*/

.filter-txt img{
	padding-right: 10px;
    margin-left: 5px;
    height: 25px;
    width: 25px;
}

/*filter icon size fix*/

/* Social Sharing Generic Component*/

.socialsharinggenericcomp{
    margin: 10px 0;
    h3{
        margin-top: 0;
    }
    dl{

        dd{
            display: inline-block;
        }
    }
    .text-right{
        dl{
            dd{
                margin-left: 20px;
            }
        }
    }
    .text-left{
        dl{
            dd{
                margin-right: 20px;
            }
        }
    }
    .text-center{
        dl{
            dd{
                margin: 0 10px;
            }
        }
    }
}

/* Social Sharing Generic Component*//*filter icon size fix*/

/*breadcrumb styles*/
.breadcrumb{
	padding:0 !important;
    margin-bottom:10px;
    font-size: 13px;
	float:left;
    width: 100%;
    font-family: semplitica;
}

@media(max-width:768px){
	.breadcrumb{
		margin-top:10px;
	}
}

.breadcrumb div{
	float:left;
}

.breadcrumb div span{
	font-weight: normal;
}


.breadcrumb div a span{
	font-weight: lighter;
}

/*breadcrumb styles*/