header{
    @media (min-width: 1200px){
        width: 1200px;
        margin: 0 auto;
    }
    border: 0 !important;
    border-bottom: 1px solid #f3f3f3 !important;
    margin-bottom: 0 !important;
    .logo-reg {
        margin-top: 36px;
        @media(max-width:767px){
            margin-top: 12px;
            margin-bottom: 12px;
            padding:0 12px 0 1px;
            max-height: 40px;
        }
        .navbar-toggle {
            margin: 0;
            padding: 0;
            @media (max-width: 767px){
                float: left;
            }
            .icon-bar {
               background-color: #717273;
            }
            figure{
                font-size: 8px;
                img{
                    width: 100%;
                    max-height: 20px;
                }
            }
        }
        .logo{
            a{
                position: relative;
                top: -9px;
            }
        }
        .signOutPop{
            a{
                margin:0;
                figure{
                    width:24px;
                    img{
                        width:22px;
                    }
                    figcaption{
                        font-size:1em;
                    }
                }
            }
        }
        .reg-and-join{
            .show-mob{
                .locations,.account{
                    figure{
                        img{
                            max-height: 22px;
                        }
                    }
                }
                img{
                    width:22px;
                }
                .signPop,.locations{
                    padding-left: 0;
                    padding-right: 12px;
                    a{
                        figcaption{
                            font-size: 8px;
                        }
                    }
                }
            }
            a{
                color:#717273;
            }
            ul{
                li{
                    a{
                        margin:0 18px 18px;
                        padding: 0;
                        font-size: 12px;
                        color: #3d3d3d;
                        font-family: "merriweather";
                        @media(min-width: 768px) and (max-width: 991px){
                            margin: 0 8px 18px;
                        }
                    }
                }
            }
            .register-link{
                text-align: center;
                font-size: 12px;
                a{
                    margin:0;
                    color:#455F6C;
                    font-weight: bold;
                    &:hover{
                        border:none;
                        color: #344651;
                    }
                }
            }
            .dropdown-menu{
                padding: 36px 24px 24px;
                width: 350px;
                position: absolute;
                left:-140px;
                top:42px;
                font-family: "open-sans";
                 @media(max-width:768px){
                    background-color: #fff;
                    padding: 15px;
                    width: 300px;
                    left: inherit;
                    right: 0;
                    border: 1px solid #5f6167;
                }
                h4{
                    margin-bottom: 24px;
                    font-size: 36px;
                    font-family: "merriweather";
                }
                .form-group{
                    margin-bottom: 24px;
                    input{
                        width:100%;
                        border-radius: 0;
                        background-color: #F9F9F9;
                        height: 40px;
                        box-shadow: none;
                        border: none;
                    }
                    input[type="checkbox"]{
                        height: auto;
                        width: auto;
                        margin-right:5px;
                    }
                    a.btn{
                        width: 100%;
                        font-weight: bold;
                        border-radius: 3px;
                        padding-top:22px;
                        margin: 0;
                        border:none;
                        color: #fff;
                        &:hover,&:focus,&:active{
                            border: none;
                            outline: none;
                        }
                    }
                    label{
                        font-weight: normal;
                        font-size: 12px;
                    }
                    .rem-me-txt{
                        font-size: 12px;
                    }
                    .forgot-pwd {
                       margin: 7px 0 0 0;
                       color: #455F6C;
                        font-family: 'open-sans';
                        font-weight: bold;
                        text-transform: uppercase;
                        &:hover{
                            border: none;
                            color: #344651;
                        }
                    }
                }
                &:before{
                    bottom: 100%;
                    left: 50%;
                    border: solid transparent;
                    content: " ";
                    height: 0;
                    width: 0;
                    position: absolute;
                    pointer-events: none;
                    border-color: rgba(136,140,142,0);
                    border-bottom-color: #5f6167;
                    border-width: 14px;
                    margin-left: -14px;
                    @media(max-width:768px){
                        left:89%;
                    }
                }
               &:after{
                   bottom: 100%;
                    left: 50%;
                    border: solid transparent;
                    content: " ";
                    height: 0;
                    width: 0;
                    position: absolute;
                    pointer-events: none;
                    border-color: rgba(255,255,255,0);
                    border-bottom-color: #fff;
                    border-width: 13px;
                    margin-left: -13px;
                    @media(max-width:768px){
                        left:89%;
                    }
                }
            }
        }
    }
    .head-links {
        position: relative;
        #navbar{
            overflow: hidden;
            @media screen and (max-width: 767px){
                background: #f3f3f3;
                padding: 0;
                max-height: 400px;
            }
            @media (min-width: 768px){
                position: absolute;
                bottom: 0;
            }
        }
        ul{
            margin-left: 0;
            width: 100%;
           li{
               #brands{
                    background: rgba(0, 0, 0, 0) url("../images/Regis-Icons/Regis_right_arrow.svg") no-repeat scroll right center / 20% auto;
                    display: inline-block;
                    margin-bottom: 0;
                    padding-right: 17px;
                }
               a{
                margin: 18px;
                padding: 0;
                font-size: 12px;
                color: #3d3d3d;
                @media (max-width: 767px){
                    margin-left: 12px;
                }
                &:hover,&:active,&:focus{
                    @media (min-width: 768px){
                        margin-bottom: 13px;
                        padding-bottom: 3px;
                    }
                }
                &:hover{
                    @media (min-width: 768px){
                        border-bottom: 2px solid #b7b493;
                    }
                }
                &:active,&:focus{
                    @media (min-width: 768px){
                        border-bottom: 2px solid #455f6c;
                    }
                }
               }
               &:nth-child(3){
                    a{
                        @media (min-width: 992px){
                            margin-left: 0;
                        }
                    }
                }
               form{
                    .input-group{
                        @media (max-width: 767px){
                            padding: 0 12px;
                        }
                    }
                   .input-group-addon{
                       padding: 2px 15px;
                       border-radius: 0;
                       border-left-color: transparent;
                       background-color: #568391;
                   }
               }
               ul.submenu{
                    padding: 46px 20px 20px 42px;
                    background: #fff;
                    li{
                        width: 49%;
                        display: inline-block;
                        margin-bottom: 2.5em;
                        font-size: 12px;
                        &:first-child,&:nth-child(2){
                            width: 100%;
                            display: block;
                            margin-bottom: 2em;
                        }
                        .back-menu{
                            img{
                                height: 16px;
                            }
                        }
                        .close-submenu{
                            font-size: 16px;
                            color: #727173;
                            position: relative;
                            top: -4px;
                        }
                        a{
                            margin: 0;
                        }
                    }
                }
           }
        }
        .srch-wrap{
            ul.navbar-nav{
                width: auto;
                li{
                    a{
                        margin: 0 10px 8px 11px;
                        font-family: "open-sans";
                        &:hover,&:focus,&:active{
                            @media (min-width: 768px){
                                margin-bottom: 3px;
                                padding-bottom: 3px;
                                border-bottom: 2px solid #b7b493;
                            }
                        }
                    }
                    &.dtp-menu{
                        a{
                            margin-right: 0;
                        }
                    }
                }
            }
        }
        .search-div{
            border:1px solid #f3f3f3;
            input{
                color:#717273;
                border: none;
                box-shadow: none;
                padding: 0 0 0 3px;
            }
            .srch{
                border: 0;
                padding: 0;
                button{
                    background: none;
                    border: none;
                    box-shadow: none;
                    padding: 6px 12px;
                    img{
                        max-width: 22px;
                    }
                }
            }
        }
        
    }
    .sub-navbar{
        @media(min-width: 768px){
            margin-top: 6px;
            margin-right: 0;
            margin-left: 0;
        }
        background: #727173;
    }
    .sub-head-links{
        #navbar{
            @media (min-width: 992px){
                min-height: 40px;
                width: 100%;
            }
        }
        ul{
            @media (min-width: 992px){
                width: 100%;
            }
           li{
                display: inline-block;
               a{
                    margin: 10px 18px;
                    padding: 0;
                    color: #fff;
                    font-size: 10px;
                    font-family: 'open-sans';
                    &:hover,&:focus{
                        background: none;
                        border-bottom: 2px solid #fff;
                        font-weight: bold;
                        padding-bottom: 7px;
                        margin-bottom: 1px;
                    }
                    &:after{
                        display:block;
                        content:attr(title);
                        font-weight:bold;
                        height:1px;
                        color:transparent;
                        overflow:hidden;
                        visibility:hidden;
                    }
               }
           }
        }
    }
}


.moveLeft{
    position: relative;
    left: -767px;
    -webkit-transition: transform linear 0.5s;
    -moz-transition: transform linear 0.5s;
    transition: transform linear 0.5s;
    transform: translate3d(-400px,0,0);
}
.moveRight{
    position: relative;
    left: 767px;
    top: -98px;
    transform: translate3d(400px,0,0);
}
.positionLeft{
    left: 0;
    -webkit-transition: transform linear 0.5s;
    -moz-transition: transform linear 0.5s;
    transition: transform linear 0.5s;
    transform: translate3d(0,0,0);
}

.login .login{
    margin-top:40px;
    .login-main{
        .login-wrapper{
            width: 350px;
            border: 1px solid;
            border-radius: 4px;
            padding: 30px;
            margin: 0 auto;
            margin-bottom:30px;
            h4{
                margin-bottom: 30px;
            }
            .form-group{
                margin-bottom: 20px;
                input{
                    width:100%;
                    border-radius: 0;
                    background-color: #F9F9F9;
                    height: 40px;
                    box-shadow: none;
                    border: none;
                }
                input[type="checkbox"]{
                    height: auto;
                    width: auto;
                    margin-right:5px;
                }
                a.btn{
                    width: 100%;
                    font-weight: bold;
                    padding-top:22px;
                    margin: 0;
                    border:none;
                    &:hover,&:focus,&:active{
                        border: none;
                        outline: none;
                    }
                }
                label{
                    font-weight: normal;
                }
                .forgot-pwd {
                   margin: 3px 0 0 0;
                   color: #287add;
                    &:hover{
                        border: none;
                    }
                }
            }
            .register-link{
                text-align: center;
                a{
                    margin:0;
                    color:#287add;
                    &:hover{
                        border:none;
                    }
                }
            }
        }
    }
}