

.mlb-component {
	background-color: #1e3e6e;
    width: 400px;
     height: 150px;

}

.mlb-component .mlb-component-background {
   position: relative;
   height: 100%;
   float: left;
   width: 150px;
 

}
.mlb-component .mlb-component-background .mlb-component-image{
	position: absolute;
    height: 160px;
	width: 150px;
	bottom: 0;
	
}
.mlb-component  .mlb-component-text {
    float: left;
    box-sizing: border-box;
    width: 230px;
    padding-left: 10px;
    color: white;
    font-family: italic;
    padding: 50px 20px 0 20px;

}
.mlb-component  .mlb-component-text .mlb-text-heading {

  margin:0;
  font-weight: bold;
  font-family: "open-sans";
}


.mlb-component  .mlb-component-text .mlb-text-description {
     margin-top: 0;
     font-family: "open-sans";
}