.products-container{
	
	h2.underline{
		border-bottom: 1px solid #717273;
		width: 300px;
		margin: 0 auto;
		margin-bottom: 60px;
	}

	.each-image {

		figcaption{
			padding: 36px 50px 24px;
		}
		
	}
	.all-products-text {
		margin: 60px 0px;
	}

}