.salon-checkin{
	.salon-title{
		margin-bottom: 36px;
		font-weight: normal;
		font-size: 16px;
	}
	.selected-salon-section{
		margin-bottom: 24px;
		.salon-location-details{
			.subtitle{
				font-size: 12px;
				font-family: "open-sans";
				margin-bottom: 12px;
			}
			.salon-location{
				font-size: 20px;
				color: #333;
				margin-bottom: 12px;
			}
			.salon-category{
				font-size: 12px;
				font-family: "open-sans";
				color: #4c4c4c;
				font-weight: bold;
				margin-bottom: 8px;
			}
			.salon-address{
				font-size: 12px;
				font-family: "open-sans";
				margin-bottom: 48px;
				@media (max-width: 767px){
					margin-bottom: 24px;
				}
				span{
					display: block;
				}
			}
		}
		.register-section{
			position: relative;
			.register-content{
				border-left: 2px solid #ccc;
				padding-left: 14px;
				@media (min-width: 768px){
					left: 11px;
					bottom: 0;
					padding-left: 34px;
				}
				.subtitle{
					font-size: 16px;
					color: #4c4c4c;
					margin-bottom: 18px;
				}
				.description{
					font-family: "open-sans";
					@media (min-width: 768px){
						margin-bottom: 24px;
					}
				}
			}
		}
	}
	.appointment-section{
		background: #f1f0e9;
		padding: 40px 36px 36px;
		margin-bottom: 48px;
		@media (max-width: 767px){
			padding: 36px 12px;
			margin-bottom: 44px;
		}
		.client-name{
			font-size: 16px;
			color: #4c4c4c;
			margin-bottom: 32px;
			@media (max-width: 767px){
				margin-bottom: 36px;
			}
		}
		.category-wrapper{
			@media (min-width: 768px){
				border-left: 1px solid #ccc;
				padding-left: 36px;
			}
		}
		.category{
			font-family: "open-sans";
			font-size: 10px;
			color: #333;
			@media (max-width: 767px){
				margin-bottom: 12px;
			}
		}
		.name,.time,.service{
			font-family: "open-sans";
			font-size: 16px;
			color: #4c4c4c;
		}
		.name,.service{
			@media (max-width: 767px){
				margin-bottom: 36px;
			}
		}
		.links-wrapper{
			position: relative;
			.links{
				@media (min-width: 768px){
					position: absolute;
					bottom: 0;
					right: 10px;
				}
			}
		}
	}
	.add-guest-section{
		position: relative;
		margin-bottom: 10px;
		.add-guest-title{
			font-size: 16px;
			color: #4c4c4c;
			border-bottom: 1px solid #ccc;
			margin-bottom: 30px;
			@media (min-width: 768px){
				display: inline-block;
				margin-bottom: 24px;
			}
		}
		.guest-close{
			@media (max-width: 767px){
				padding-bottom: 24px;
			}
		}
		.close-icon{
			width: 20px;
			height: 20px;
		}
		ul.nav-tabs{
			border: 0;
			@media (max-width: 767px){
				margin-bottom: 44px;
			}
			li{
				padding: 0 15px;
				a{
					padding: 10px 0 0;
					height: 30px;
					padding-bottom: 3px;
					border: 0;
					color: #4c4c4c;
					&:hover{
						border-bottom: 3px solid #455f6c;
						padding-bottom: 0;
						color: #4c4c4c;
					}
				}
				&.active{
					a{
						height: 30px;
						border: 0;
						border-bottom: 3px solid #455f6c;
						padding-bottom: 0px;
						color: #4c4c4c;
						&:hover,&:focus{
							border-bottom: 3px solid #455f6c;
							padding-bottom: 0;
							color: #4c4c4c;
						}
					}
				}
			}
		}
		#next-btn{
			outline: none;
			border-radius: 3px;
			&:focus{
				outline: none;
			}
		}
		.guest-step{
			.title{
				font-size: 12px;
				color: #4c4c4c;
			}
			.subtitle{
				font-size: 16px;
				color: #4c4c4c;
				margin: 24px 0 44px;
				@media (max-width: 767px){
					margin-top: 0;
				}
			}
			form.select-service{
				.form-group{
					.service-label{
						margin-right: 44px;
						margin-bottom: 44px;
						font-weight: normal;
						position: relative;
						top: -4px;
						padding-left: 5px;
						@media (max-width: 767px){
							margin-right: 74px;
						}
						@media (min-width: 768px) and (max-width: 991px){
							margin-right: 36px;
						}
					}
				}
			}
			form.select-stylist{
				.form-group{
					margin-bottom: 44px;
					select{
						border-width: 0 0 1px;
						box-shadow: none;
						-moz-border-radius: 0;
						-webkit-border-radius: 0;
						-ms-border-radius: 0;
						-o-border-radius: 0;
						border-radius: 0;
					}
				}
			}
			form.checkin{
				.form-group{
					margin-bottom: 44px;
					input{
						-moz-border-radius: 0;
						-webkit-border-radius: 0;
						-ms-border-radius: 0;
						-o-border-radius: 0;
						border-radius: 0;
					}
				}
				.cancel-btn{
					padding: 14px 30px;
					display: inline-block;
				}
				.cancel-btn,.checkin-btn{
					width: 100%;
					border-radius: 3px;
				}
			}
		}
	}

	.salon-table{
		display: table;
		width: 100%;
		table-layout: fixed;
	}
	.salon-tableCell{
		display: table-cell;
		vertical-align: middle;
		float: none;
	}	
}