h1{
    &.salontitle{
        font-size:32px;

        span{
            &.salonsmalltxt{
                display: block;
                font-size:20px
            }
        }
    }
}
.salon-detail-wrap{
    margin-top: 20px;
    .map-container {
	   border:1px solid #DADBDC;
        #map-canvas{
			width:478px;
            height:228px;
        }
        .salon-details {
            h3{
                margin-bottom:3px;
                color:#404041;
            }
            .sub-brand{
                display: inline-block;
                clear: both;
                margin-bottom: 24px;
            }
            span{
                display: block;
                margin-bottom: 12px;
                font-size: 12px;
            }
            .salon-timings{
                font-size: 12px;
                .row{
                    margin-bottom: 12px;
                }
            }
        }
    }
}


.salondetailsocialsharing {
    overflow:hidden;
    height:auto;
    margin:20px 0;
    h3{
            margin:0;
        }
     .social-links{
            dl{
                margin: 0;
                dd{
                    margin-left:10px;
                    display: inline-block;
                }
            }
        }
}


.salon_text_image{
    img{
        width: 100%;
    }
}

.other-locations{
    .other-loc-details {
        .other-salon{
            padding: 10px;
            margin-right:17px;
            width:315px;
            border:1px solid #DADBDC;
            h3{
                margin:0;
            }
            small{
                display:inline-block;
                margin-bottom: 20px;
            }
            &:last-child{
                margin-right:0;
            }
            &.loc-srch{
                border: none;
                .input-group {
                    span{
                        background-color: #DADBDC;
                    }
                }
                input{
                    height: 42px;
                    background-color: #DADBDC;
                }
            }
            .store-loc{
				min-height:75px;
            }
        }
    }
}

.serv-prod-car{
    margin-top: 40px;
    margin-bottom: 40px;
    .services{
        h2{
            margin: 0;
            margin-bottom: 24px;
        }
        p{
            margin-bottom: 20px;
        }
        .desc{
            ul{
				padding-left:20px;
                li{
					width:49%;
                    float:left;
                    margin-bottom:24px;
                }
            }
        }
    }
    .careers {
            h2{
            margin: 0;
            margin-bottom: 24px;
        }
        p{
            margin-bottom: 20px;
        }
        img{
			width:100%;
        }
    }
    .btn{
        margin-top:10px;
        margin-bottom: 20px;
    }
}


.sgst-special-offers{
    .offer-container{
        .container{
            width:auto;
            padding:0;
        }

    .homepageglobalofferscomponent {
        .col-sm-6{
			width:100%;
    	}
    }
}

.specialOffersHCP-container{
        margin:0;
        width:100%;
        .col-sm-10{
            width:100%;
        }
    }

    .offer-container{
        .offer-wrapper{
            .style-image{
                width:auto;
                height:auto;
            }
            .offer-text-content{
                width:80%;
                background-color:transparent;
            }
        }
    }

}

