.services-component{
	margin: 10px 0;
	.services-header{
		margin-bottom: 36px;
		.service-title{
			margin: 0;
		}
		a{
			line-height: 1.9;
		}
	}
	.services-description{
		font-size: 14px;
		font-family: 'open-sans';
		.description{
			p{
				margin-bottom: 24px;
				&:last-child{
					margin-bottom: 36px;
				}
			}
		}
	}
	.services-list{
		ul{
			padding: 0;
			overflow: hidden;
    		width: 100%;
    		margin: 0;
			li{
				margin-bottom: 36px;
				float: left;
				width: 50%;
				font-family: "merriweather";
				font-weight: normal;
				font-size: 14px;
				color: #455f6c;
				list-style-type: none;
				@media (max-width: 767px){
					width: 100%;
					margin-bottom: 18px;
				}
				&:before{
					content: "\2022";
					padding-right: 6px;
				}
				
			}
		}
	}
	a.cta-arrow{
	    text-decoration: none;
	    font-family: 'open-sans';
	    background: url(../images/Regis-Icons/Regis_arrow_direction-btn.svg) #eaebec no-repeat center right;
	    background-position: 71% 50%;
	    color: #727173;
	    padding-right: 60px;
	}
}