.specialOffersHCP-container{
	margin-top: 10px;
    margin-bottom: 10px;
	
		&.authorableOfferWidth{
		width: 400px;
		@media (max-width: 767px){
				width: 299px;
			}
		}
	.sp-title{
		margin: 0 0 36px;
		
	}
	.offer-title{
			margin: 0 0 20px;
		}
	.offer-container{
		min-height: 400px;
		
		.offer-wrapper{
			position: relative;
			.style-image{
				min-height: 400px;
				width: 100%;
				height: 100%;
			}
			.offer-text-content{
				position: absolute;
				left: 24px;
				top: 20%;
				width: 50%;
				color: #fff;
				.title{
					margin: 0 0 24px;
					font-size: 2.6em;
					.title1{
						display: block;
						font-weight: normal;
					}
					.title2{
						display: block;
						font-family: "open-sans";
						font-size: 30px;
						font-weight: lighter;
					}
				}
				/*h1{
                        margin: 0 0 24px;
                        
                        &.smallTxt{
                            font-size:20px;
                        }
                        &.mediumTxt{
                            font-size:30px;
                        }
                        &.largeTxt{
                            font-size:40px;
                        }

                    }*/
			}
			.next-btn{
				background: url('../../images/Regis-Icons/Circle_Arrow_CTA_Teal.svg') no-repeat;
				background-size: cover;
				position: absolute;
				bottom: 28px;
				left: 45%;
				width: 37px;
				height: 37px;
				&.accentColor{
					background: url('../../images/Regis-Icons/Circle_Arrow_CTA_Accent.svg') no-repeat;
				}

			}
		}
		.theme-dark{
			background: #404041;
			color: #fff;
			min-height: 400px;
			
			position: relative;
			top:0;
			.style-image{
					padding-top: 24px;
				}
			.offer-text-content{
				padding-top: 96px;
				text-align: center;
                &.withImage{
					padding-top: 48px;

                }
				.title{
					margin: 0 0 48px;
                    font-size: 2.6em;
					.title1{
						display: block;
						font-weight: normal;
					}
					.title2{
						display: block;
						font-family: "open-sans";
						font-size: 30px;
						font-weight: lighter;
					}
				}
				/*h1{
                        margin: 0 0 48px;
                        
                        &.smallTxt{
                            font-size:20px;
                        }
                        &.mediumTxt{
                            font-size:30px;
                        }
                        &.largeTxt{
                            font-size:40px;
                        }

                    }*/
			}
			.next-btn{
				background: url('../../images/Regis-Icons/Circle_Arrow_CTA_White.svg') no-repeat;
				background-size: cover;
				position: absolute;
				bottom: 28px;
				left: 45%;
				width: 37px;
				height: 37px;
				&.accentColor{
					background: url('../../images/Regis-Icons/Circle_Arrow_CTA_Accent.svg') no-repeat;
				}
			}
		}
		.theme-default{
			background: #f3f3f3;
			color: #727173;
			position: relative;
			min-height: 400px;
			&.brandWidth{
				width: 480px;
				@media (max-width: 767px){
						width: 299px;
					}
				}
			.style-image{
					padding-top: 24px;
				}
			.offer-text-content{
				padding-top: 96px;
				text-align: center;
                &.withImage{
				padding-top: 48px;
				}
				.title{
					margin: 0 0 48px;
					font-size: 2.6em;
					.title1{
						display: block;
						font-weight: normal;
					}
					.title2{
						display: block;
						font-family: "open-sans";
						font-size: 30px;
						font-weight: lighter;
					}
				}

               /* h1{
                        margin: 0 0 48px;
                    font-family: "merriweather";
                        
                        &.smallTxt{
                            font-size:20px;
                        }
                        &.mediumTxt{
                            font-size:30px;
                        }
                        &.largeTxt{
                            font-size:40px;
                        }

                    }*/
			}
			.next-btn{
				background: url('../../images/Regis-Icons/Circle_Arrow_CTA_Teal.svg') no-repeat;
				background-size: cover;
				position: absolute;
				bottom: 28px;
				left: 45%;
				width: 37px;
				height: 37px;
				&.accentColor{
					background: url('../../images/Regis-Icons/Circle_Arrow_CTA_Accent.svg') no-repeat;
				}
				
			}
		}
	}
.specialOffer-more{
		margin-top:20px;
	}
}
