.style-advice-component{
    margin-top: 10px;
    margin-bottom: 10px;
    .sa-title{
        margin: 0 0 36px;
        @media(max-width: 767px){
            margin: 0 0 12px;
			text-align: center;
        }
    }
    .sa-item{
        background: #f3f3f3;
        padding: 24px;
        @media(max-width: 767px){
            padding: 24px 24px 6px;
        }
        &>img{
            @media (max-width: 767px){
                width: 100%;
            }
            @media (min-width: 768px) and (max-width: 991px){
                display: block;
                height: auto;
                max-width: 100%;
            }
        }
        .sa-table{
            display: table;
            table-layout: fixed;
            width: 100%;
            .sa-tableCell{
                display: table-cell;
                vertical-align: middle;
                float: none;
            }
        }
        .title{
            margin: 12px 0;
			font-weight:normal;
            @media(max-width: 767px){
                margin: 6px 0;
            }
        }
        .subtitle{
            margin: 0;
			font-family:'open-sans';
        }
        .next-btn{
            border-radius: 50%;
            padding: 15px 15px;
            background: #455f6c;
            img{
                width: 10px;
                height: 10px;
                vertical-align: 0;
            }
        }
    }
    .skinny-text{
        padding: 36px 0;
        margin: 0 44px;
		border-width: 4px 0;
		border-style: solid;
		border-color: #b7b493;
		&.noBorders{
			border: none;
			
		}
        @media (max-width: 767px){
            margin: 24px 44px;
            padding: 18px 0;
        }
        .title{
            margin: 0;
			padding: 0 17px;
			font-weight: normal;
            @media (min-width: 768px) and (max-width: 991px){
                font-size: 25px;
            }
        }
        .description{
            margin: 60px 0 48px;
			font-family:'open-sans';
            @media (max-width: 767px){
                margin: 30px 0 24px; 
            }
        }
    }
    .display-table{
        @media (min-width: 768px){
            display: table;
            table-layout: fixed;
        }
        @media (min-width: 768px) and (max-width: 991px){
            width: 100%;
        }
        .tableCell{
            @media (min-width: 768px){
                display: table-cell;
                vertical-align: middle;
                float: none;
            }
        }
    }
	.styleadv-more{
		margin-top:20px;
	}
}