/*rte styles*/

.component-primary-heading{
font-size: 28px;
font-family: "futura-pt-condensed", Helvetica, Arial, sans-serif;
font-weight: 700;
color: #1e3e6e;
line-height: 1.1;
}
.gray{
color: #5f6167;
font-size: 28px;
font-family: "futura-pt-condensed", Helvetica, Arial, sans-serif;
font-weight: 700;
line-height: 1.1;
}
.component-sub-heading{
font-family: "futura-pt-condensed", Helvetica, Arial, sans-serif;
font-weight: 700;
line-height: 0.9;
margin-top: 10px;
color: #5f6167;
  font-size: 40px;
}
.component-description{
font-size: 16px;
font-family: "open-sans", Helvetica, Arial, sans-serif;
color: #707070;
}
.style-advice-style{
  font-family: "open-sans", Helvetica, Arial, sans-serif;
font-weight: normal;
font-style: italic;
line-height: 1.2;
color: #5f6167;
font-size: 24px;
padding: 30px 30px 0;
display: block;
  }


/* rte styles end*/