<div data-sly-test="${wcmmode.edit}">Configure Listicle Component</div>
<div data-sly-use.brandName="${'../getBrandName.js'}"></div>
<div
	class="listicles-container">
	<div class="row">
		<div class="col-xs-12">
			<div
				data-sly-use.multifield="${'com.regis.common.tags.MultifieldItemsList'}"
				data-sly-unwrap>
				<div data-sly-list.subsection="${multifield.multifieldList}"
					data-sly-unwrap>
					<div class="row listicle-item">
						<div
							data-sly-test="${subsection.itemNumber || subsection.itemImageRenditionedImgPath}"
							data-sly-unwrap>
							<div class="col-sm-3 col-xs-5 essential-image">
								<a
									data-sly-test="${subsection.itemCTA}"
									href="${subsection.itemCTA @ extension = 'html'}"> <img
									src="${subsection.itemImageRenditionedImgPath ? subsection.itemImageRenditionedImgPath : '/etc/designs/regis/supercuts/images/listicles-empty-image.png'}"
									alt="${subsection.itemImageAltText}"/>
								</a> <img
									data-sly-test="${!subsection.itemCTA}"
									src="${subsection.itemImageRenditionedImgPath ? subsection.itemImageRenditionedImgPath : '/etc/designs/regis/supercuts/images/listicles-empty-image.png'}"
									alt="${subsection.itemImageAltText}"/>
								<div class="image-index ${subsection.itemNumberPosition}">${subsection.itemNumber}</div>
							</div>
							<div class="col-sm-9 col-xs-7 description-section">
								<h3 class="title">${subsection.itemTitle}</h3>
								<p class="description">${subsection.itemDescription @context='html'}</p>
								<a
									data-sly-test="${subsection.itemCTA && subsection.itemCTAText}"
									class="${(brandName == 'signaturestyle') ? 'cta-arrow' : ''}"
									href="${subsection.itemCTA @ extension = 'html'}">${subsection.itemCTAText}
									<div
										data-sly-test="${brandName == 'supercuts' || brandName == 'smartstyle'}"
										data-sly-unwrap>
										<span
											class="${brandName == 'supercuts' ? 'icon-arrow' : 'right-arrow'}"></span>
									</div>
								</a>
							</div>
						</div>
						<div
							data-sly-test="${!subsection.itemNumber && !subsection.itemImageRenditionedImgPath}"
							data-sly-unwrap>
							<div class="col-md-12 col-sm-12 col-xs-12 description-section">
								<h3 class="title">${subsection.itemTitle}</h3>
								<p class="description">${subsection.itemDescription @
									context='html'}</p>
								<a
									data-sly-test="${subsection.itemCTA && subsection.itemCTAText}"
									class="${(brandName == 'signaturestyle') ? 'cta-arrow' : ''}"
									href="${subsection.itemCTA @ extension = 'html'}">${subsection.itemCTAText}
									<div
										data-sly-test="${brandName == 'supercuts' || brandName == 'smartstyle'}"
										data-sly-unwrap>
										<span
											class="${brandName == 'supercuts' ? 'icon-arrow' : 'right-arrow'}"></span>
									</div>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
