section.locations.lnyedit{
    #locationsHead{
        a{
            display:none;
        }
    }
    .navbar-toggle{
        position: relative;
        float: right;
        padding: 9px 10px;
        margin-top: 8px;
        margin-right: 15px;
        margin-bottom: 8px;
        background-color: transparent;
        background-image: none;
        border: 1px solid transparent;
        border-radius: 4px;
    }
    section.check-in {
        width: 40%;// banner search card
        //border: 1px solid #c8102e;
        min-width: 230px;
        margin: 0 9px;
        background: white;
        min-height: 236px;
        border-radius: 7px;
        padding: 27px 14px 0 23px;
        float: left;
        margin-left: 0px;
        @media(max-width: 768px){
            width: 200px;
            margin-right: 9px;
            margin-left: 0;
        }
        div.wait-time {
            display: none !important;
            .vcard{
                height: 0px !important;
                .minutes{
                    display: none !important;
                }
                
            }
            div.h6{
                display: none !important;
            }
            .waitnum{
                display: none !important;
            }
        }
        .callicon{
            .wait-time.call-now {
                display: block !important;
            }
        }
    }
    .calnw-txt.h4 {
        width: 100%;
        left: 0;
        position: absolute;
        border: 0px;
        background: white;
        padding: 10px;
        bottom: -10px;
        border-radius: 0 0 7px 7px;
        color: #C8102E;
        font-family: Montserrat;
        font-size: 15px;
        font-weight: 600;
        letter-spacing: 0;
        line-height: 27px;
        text-align: center;
        height: 49px;
    }
    a#checkInBtn1,     a#checkInBtn2,     a#checkInBtn3,a#checkInBtn4,a#checkInBtn5,a#checkInBtn6,a#checkInBtn7 {
        -webkit-appearance: button;
        width: 100%;
        position: absolute;
        left: 0;
        text-transform: uppercase;
        border-radius: 0 0 7px 7px;
        bottom: 0;
        padding: 8px;
        border: 0px;
        color: #FFFFFF;
        font-family: Montserrat;
        font-size: 15px;
        font-weight: 600;
        height: 49px;
        letter-spacing: 0;
        line-height: 35px;
        text-align: center;
    }
    .action-buttons a.btn.btn-default  {
        display: none !important;
    }
    
    
    .store-title{
        
        font-family: Montserrat;
        font-size: 20px;
        line-height: 24px;
        color: #c8102e;
    }
    span.street-address {
        color: #3E3E3E;
        font-family: Montserrat;
        font-size: 12px;
        font-weight: 400;
        letter-spacing: 0;
        line-height: 18px;
    }
    .vcard{
        padding: 0;
        span.store-title {
            width: 100%;
            margin-bottom: .25ex;
            color: #c8102e;
            font-family: "futura-pt-condensed",Helvetica,Arial,sans-serif;
            font-weight: 700;
            font-size: 20px;
            text-transform: uppercase;
            a {
                font-size: 20px;
                font-weight: 600;
                color: black;
            }
            span.closing-time {
                color: black;
                font-style: italic;
                font-size: 16px;
                width: 99%;
            }
        }
        span.closing-time {
            font-size: 12px !important;
            width: 100%;
            padding-top: 0px;
            padding-left: 30px;
            padding-right: 0;
            padding-bottom: 10px;
            margin-top: 8px;  
        }
        span.distance{
            font-size: 12px !important;
            width: 100%;
            padding: 10px;
            padding-left: 30px;
            padding-right: 0;
            padding-bottom: 0px;
            margin-top: 8px;
            @media (max-width: 768px){
                padding-top: 0px;
            }
            
        }
        .telephone {
            font-size: 12px;
            width: 100%;
            padding-left: 20px;
        }
        .telephone{
            background: url(/content/dam/costcutters/general-resources/cc-phone-20x20.png) no-repeat;
        }
        .closing-time {
            background: url(/content/dam/costcutters/general-resources/cc-clock-20x20.png) no-repeat;
            padding-bottom: 3px;
            line-height: 35px;
            padding-bottom: 10px;
        }
        .distance {
            //margin-left: 20px;
            background: url(/content/dam/costcutters/general-resources/cc-map-pin-20x20.png) no-repeat;
            background-position: bottom left;
        }
        span {
            display: block;
        }
        .distance, .telephone, .closing-time {
            color: #3E3E3E;
            font-family: Montserrat;
            font-size: 12px;
            letter-spacing: 0;
            font-weight: 500;
            line-height: 17px !important;
            padding-left: 30px;
        }
    }
    footer {
        width: 100%;
        display: grid;
        #searchBtnLabel{
            color: #c8102e;
        }
    }
    footer .input-group{
        @media (max-width: 768px ){
            width: 100%;
        }
    }
    h2.h2.titleLNYLU{
        color: #c8102e;
    }
    p#ipSubtitle{
        color: black;
        @media (max-width: 768px){
            visibility: hidden;
        }
    }
    div#NoSalonsDetectedHeader{
        color: #c8102e;
    }
    button.btn.btn-default.customTheme{
        color: #c8102e;
        border: 1px solid #c8102e;
        display: none;
    }
    input#autocompleteLNY {
        border: 0px ;
        height: 43px;
        margin-left: 0;
        width: 472px;
        padding-left: 38px;
        border-radius: 42px 0 0 42px !important;
        background: url(/content/dam/costcutters/general-resources/search-icon.png) no-repeat left center;
        background-color: white;
        background-size: 15px 15px;
        background-position-x: 20px;
        padding-left: 50px;
        @media(max-width: 768px){
            width: 100%;
            margin-left: 0;
            border-radius: 42px !important;
        }
    }
    header#locationsHead{
        margin-top:10px;
    }
    
}
.locations .check-in .wait-time .vcard {
    height: max-content;
    padding: 0px;
}
.locations{
    .check-in {
        
        .wait-time.call-now{
            
            height: max-content;
            .vcard{
                
                height: 0px;
            }
            div.h6{
                margin: 0 !important;
            }
        }
    }
}

.locations .check-in .location-details .vcard span.closing-time {
    font-size: 14px;
    line-height:20px; //closing hours
}
.locationsNearYou.integrationcomp.section{
    position: relative;
    width: 100%;
    overflow: visible;
    width: 520px;//520px
    @media (max-width: 520px){
        
        
        width: 98%;
        min-width: 380px;
        display: grid;
        margin: auto;
    }
    @media (max-width: 380px){
        width: 98%;
        min-width: 320px;
        display: grid;
        margin: auto;
        
        
    }
    section.locations.lnyedit{
        padding-top: 50px; // space beteween search and "based on your location"
        min-height: 335px;
        @media (max-width: 768px){
            overflow-x: scroll;
        }
        footer {
            width: 100%;
            display: rid;
            position: absolute;
            top: 5px;
            .search-wrapper {
                width: 100%;
                margin: auto;
            }
        }
    }
}
.check-in_div{
    
    max-width: 1000px;
    position: relative;
    margin: auto;
    //padding-left: 25px;
    display: flex;
    @media (max-width: 768px){
        width: max-content;
        padding-left:0px;
        margin-top: 30px;
    }
    .prev, .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        left: -28px;
        width: auto;
        width: 20px;
        text-align: center;
        height: 25px;
        margin-top: -22px;
        color: black;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
        &:hover{
            color: white;
            background-color: rgba(0,0,0,0.8);
        }
        @media (max-width: 768px){
            display: none;
        }
    }
    
    /* Position the "next button" to the right */
    .next {
        right: 25px;
        left: auto;
        position: absolute;
        border-radius: 3px 0 0 3px;
        @media(max-width: 760px){
            left: 250px;
            right: auto;
        }
    }
    
}
.colouredparsys.parsys{
    .locationsNearYou.integrationcomp.section{
        .location-search-title .col-xs-4.col-sm-2 {// toggle icon 
            position: absolute;
            top: 62px;
            right: 40px;
            display: none;
            @media (max-width: 768px){
                top: 64px;
                right: -32px;
            }
        }
        footer .input-group-btn{
            @media (max-width: 768px){
                width: 0%;
            }
        }
    }
}
.colouredparsyscomponent .colouredparsys.parsys .acs-commons-resp-colctrl-row.section{
    .new-container .new-row .acs-commons-resp-colctrl-col-42 .par2.parsys .text.section {
        @media (max-width: 768px){
            padding: 0 10px;
            width: 70%;
        }
        h1 {
            @media (max-width: 768px){
                font-size: 36px !important;//home page banner s
            }
        }
    }
}
/* home page banner image responsive view*/
.textandimage.section{
    .img-text-comp.home-gi.theme-default.no-border {
        @media(max-width: 768px){
            display: none;
        }
    }
    
}
.colouredparsyscomponent .colouredparsys.parsys {
.acs-commons-resp-colctrl-col-10 + .acs-commons-resp-colctrl-col-50 .par2.parsys .text.section{
@media(max-width : 768px){
        width: 70% !important;
            padding-left: 10px;
        }
    h1, h2, h3, h4, h5{
        @media(max-width : 768px){
            font-size: 40px !important;
                padding-top: 25px !important;
        }
    }
}
}
//welcome to costcutter section --
.acs-commons-resp-colctrl-col-50 + .acs-commons-resp-colctrl-col-5 + .acs-commons-resp-colctrl-col-45{
.textandimage.section {
    width: 94%;
    margin: auto;
    padding-bottom: 20px;
        h1,h2,h3,h4,h5{
            //welcome to costcutter text in mobile view
            @media (max-width: 768px){
                font-size: 33px !important;
            }
        }
    }
}