.bsocard {
	/*background-color: #fafafa;*/
	border: none;
	text-align: center;
	display: flex;
	margin-right: 15px;
	margin-left: 15px;
	margin-bottom: 25px;
	/*height: 370px;*/
}

.deals.section {
	width: 100%;
	height: 100%;
}

.bsocard h3.card-title {
	font-size: 18px !important;
	color: #000000;
	font-family: "calluna";
	text-decoration: none;
	margin-bottom: 5px !important;
	line-height: 20px;
}

.bsocard h3.card-title a {
	font-size: 19px;
	color: #000000;
	font-family: Montserrat;
	text-decoration: none;
	margin-bottom: 5px !important;
	line-height: 20px;
	height: 420px;
}

.bsocard h3.card-title a:hover {
	color: #ce0f2e;
}

.bsocard h4 {
	font-size: 20px !important;
	color: rgba(0, 0, 0, 0.4);
	margin: 0px;
	font-family: "Kobenhavn" !important;
}

.bsocard h5 {
	font-size: 22px !important;
	font-family: "Kobenhavn" !important;
}

.bsocard .strike {
	color: rgba(0, 0, 0, 0.4);
	text-decoration: line-through;
	padding-left: 5px;
}

.bsocard h3 {
	font-size: 0.8rem
}

.bsocard .card-text,
.bsocard .card-body p {
	font-size: 16px;
	font-family: Montserrat;
	line-height: 16px;
	color: #86939e;
}

.card-imgbox {
	height: 220px;
}

.card-imgbox a img {
	width: 100%;
	max-height: 100%;
}


/*------------------- card batch --------------------*/

.card-type.disc {
	min-width: 100px;
	height: 30px;
	color: white;
	position: absolute;
	top: 1.4rem;
	font-family: Montserrat;
	font-size: 15px;
	font-weight: 500;
	padding: 5px;
	border-radius: 0px;
	left: 1.25rem;
	width: max-content;
}

.card-body {
	-ms-flex: 1 1 auto;
	position: relative;
	width: 100%;
	flex: 1 1 auto;
	padding: 1.25rem;
	padding-top: 1.4rem !important;
	padding-bottom: 31px !important;
}

.card.bsocard {
	border: 0px;
	margin: 0;
}

.card-imgbox {
	height: max-content;
	margin-bottom: 14.4px;
}

.card.bsocard {
	border: 0px;
	/*   min-height: max-content !important;
    height: max-content !important;*/
}

.bsocard .card-text,
.bsocard h4,
.bsocard h5,
.bsocard h3.card-title,
.bsocard .card-body p {
	color: #2D2A26;
	font-family: Montserrat;
	font-size: 18px;
	font-weight: 600;
	width: 100%;
	/*min-height: 66px;*/
	letter-spacing: 0;
	line-height: 22px;
	margin: 0;
	text-align: left;
	/*  padding-top: 6px;*/
}

.bsocard .card-body p {
	color: #282828;
	font-family: Montserrat;
	font-size: 13px;
	font-weight: 300;
	letter-spacing: 0;
	line-height: 16px;
}

.bsocard h3.card-title {
	margin-bottom: 6px;
	font-weight: 690;
	text-transform: uppercase;
}

.card-img-top.p-2 {
	padding: 0 !important;
	width: 100%;
	border-radius: 0px !important;
}

.deals.section .cq-placeholder,
.new {
	height: max-content !important;
	margin: 0 !important;
}

@media and (max-width: 768px) {
	.acs-commons-resp-colctrl-col-40 {
		width: 100%;
		height: max-content;
		margin-top: 0px !important;
	}
	.deals.section .cq-placeholder,
	.new {
		height: max-content !important;
		margin: 0;
	}
	.card-body {
		padding: 1.4rem 9px 0 11px;
	}
	.card-type.disc {
		left: 11px;
	}
}

.sale {
	background-color: #E74C38;
}

.disc {
	background-color: #bf2c34;
}

.btn-primary {
	color: #fff;
	background-color: #ca4242;
	border-color: #ca4242;
}


/*Contact-us page styles*/

/*
.contact-us-form .form-group {
	float: none !important;
}
*/

.added-salons-container .check-in {
	border: 1px solid #c8102e!important;
	padding: 15px 0 26px 0;
	background: #fff;
	float: left;
	width: 23%;
	margin: 30px 14px 30px 5px;
	box-shadow: 2px 2px 3px #888;
	overflow: visible;
	position: relative;
}

@media only screen and (max-width: 600px) {
	.added-salons-container .check-in {
		width: 80%;
		margin: 30px 14px 30px 30px;
	}
}

.vcard {
	padding: 20px;
}

.vcard .close-btn {
	width: 48px;
	height: 46px;
	background-color: #fff;
	display: inline-block;
	position: absolute;
	bottom: -10px;
	right: -12px;
	z-index: 1180;
	border-radius: 50%;
	border: 1px solid #c8102e !important;
	box-shadow: 0px 0px 3px #888888;
	font-size: 31px;
	text-align: center;
	font-weight: bold;
	text-decoration: none;
	color: #C8102E;
	margin: 0;
	padding: 0;
}

.contact-us.container .content.parsys {
	width: 100% !important;
}

.store-title {
	font-weight: 600;
	font-size: 24px;
	color: #2D2A26;
}

.vcard a {
	color: #727173;
}

input[type=checkbox].css-checkbox,
input[type=radio].css-radiobtn,
input[type=checkbox].css-radiobtn,
input[type=radio].css-checkbox {
	position: absolute;
	z-index: -1000;
	left: -1000px;
	overflow: hidden;
	clip: rect(0 0 0 0);
	height: 1px;
	width: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
}

input[type=checkbox].css-checkbox+label.css-label,
input[type=radio].css-radiobtn+label.css-label,
input[type=checkbox].css-radiobtn+label.css-label,
input[type=radio].css-checkbox+label.css-label {
	padding-left: 26px;
	vertical-align: middle;
	height: 31px;
	display: inline-block;
	line-height: 32px;
	background-repeat: no-repeat;
	background-position: 0 0;
	font-size: 16px;
	width: auto;
	cursor: pointer;
	background-size: 100%;
	margin-top: 20px;
	margin-left: 20px;
}


}
label.css-label {
	background-image: url('../../clientlibs/signaturestyle-publish-clientlibs/resources/images/checkbox-unchecked.png');
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
input[type=radio].css-radiobtn+label.css-label {
	border: none;
	background-image: url(../../publish-clientlibs/resources/images/Regis-Icons/Regis_radio.svg);
}
input[type=radio].css-radiobtn:checked+label.css-label {
	background-image: url(../../publish-clientlibs/resources/images/Regis-Icons/Regis_radio-selected.svg);
}
input[type=checkbox].css-checkbox:checked+label.css-label,
input[type=radio].css-checkbox:checked+label.css-label {
	background-image: url('../../publish-clientlibs/resources/images/checkbox.png');
}
.contact-us.container,
.products-container .container {
	width: 1140px;
	height:max-content;
}
@media (max-width: 768px){
.card-body{
padding-left: 0;
        padding-right: 0;
    }
    .card-type.disc{
left: 0;
            }
}