#coupon-holder-1 {
    margin:0 auto;
    width: 278px;
    border: 1px dashed;
    font-family:arial;
    text-align: center;
    color:#000;
    .coupon-header{
        padding: 0 5px;
        h3{
            font-size: 32px;
            padding: 10px;
            margin: 0;
            font-weight:bold;
        }
        .price-subhead{
            font-size: 20px;
            margin: 2px 0;
            text-align: center;
        }
        .brand-logo {
            img{
                width:100%;
                padding: 20px;
            }
        }
        border-bottom: 1px solid #ddd;
    }
    .valid-terms {
        font-size: 12px;
        padding: 10px;
        border-bottom: 1px solid #ddd;
        .salon-address {
            margin:10px 0;
        }
    }
    .coupon-barcode{
        padding: 10px;
        font-size: 11px;
        border-bottom: 1px solid #ddd;
        .discount-code{
            padding: 10px 0;
        }
        .discount-number {
            padding: 10px 0;
            #couponCodeBCImage{
                margin: 0 auto;
            }
        }
        #discountCodeBCImage{
            margin: 0 auto 5px;
        }
    }
    .coupon-footer {
        padding: 10px 0;
        font-size: 11px;
    }
}
#coupon-holder-2 {
    margin:0 auto;
    width: 278px;
    border: 1px dashed;
    font-family:arial;
    text-align: center;
    color:#000;
    .coupon-header{
        padding: 0 5px;
        h3{
            font-size: 32px;
            padding: 10px;
            margin: 0;
            font-weight:bold;
        }
        .price-subhead{
            font-size: 20px;
            margin: 2px 0;
            text-align: center;
        }
        .brand-logo {
            img{
                width:100%;
                padding: 20px;
            }
        }
        border-bottom: 1px solid #ddd;
    }
    .valid-terms {
        font-size: 12px;
        padding: 10px;
        border-bottom: 1px solid #ddd;
        .salon-address {
            margin:10px 0;
        }
    }
    .coupon-barcode{
        padding: 10px;
        font-size: 11px;
        border-bottom: 1px solid #ddd;
        .discount-code{
            padding: 10px 0;
        }
        .discount-number {
            padding: 10px 0;
        }
        #discountCodeBCImage2{
            margin: 0 auto 5px;
        }
    }
    .coupon-footer {
        padding: 10px 0;
        font-size: 11px;
    }
}
#coupon-holder-3 {
    margin:0 auto;
    width: 278px;
    border: 1px dashed;
    font-family:arial;
    text-align: center;
    color:#000;
    .coupon-header{
        padding: 0 5px;
        h3{
            font-size: 32px;
            padding: 10px;
            margin: 0;
            font-weight:bold;
        }
        .price-subhead{
            font-size: 20px;
            margin: 2px 0;
            text-align: center;
        }
        .brand-logo {
            img{
                width:100%;
                padding: 20px;
            }
        }
        border-bottom: 1px solid #ddd;
    }
    .valid-terms {
        font-size: 12px;
        padding: 10px;
        border-bottom: 1px solid #ddd;
        .salon-address {
            margin:10px 0;
        }
    }
    .coupon-barcode{
        padding: 10px;
        font-size: 11px;
        border-bottom: 1px solid #ddd;
        .discount-code{
            padding: 10px 0;
        }
        .discount-number {
            padding: 10px 0;
        }
        #discountCodeBCImage3{
            margin: 0 auto 5px;
        }
    }
    .coupon-footer {
        padding: 10px 0;
        font-size: 11px;
    }
}
#coupon-holder-4 {
    margin:0 auto;
    width: 278px;
    border: 1px dashed;
    font-family:arial;
    text-align: center;
    color:#000;
    .coupon-header{
        padding: 0 5px;
        h3{
            font-size: 32px;
            padding: 10px;
            margin: 0;
            font-weight:bold;
        }
        .price-subhead{
            font-size: 20px;
            margin: 2px 0;
            text-align: center;
        }
        .brand-logo {
            img{
                width:100%;
                padding: 20px;
            }
        }
        border-bottom: 1px solid #ddd;
    }
    .valid-terms {
        font-size: 12px;
        padding: 10px;
        border-bottom: 1px solid #ddd;
        .salon-address {
            margin:10px 0;
        }
    }
    .coupon-barcode{
        padding: 10px;
        font-size: 11px;
        border-bottom: 1px solid #ddd;
        .discount-code{
            padding: 10px 0;
        }
        .discount-number {
            padding: 10px 0;
        }
        #discountCodeBCImage4{
            margin: 0 auto 5px;
        }
    }
    .coupon-footer {
        padding: 10px 0;
        font-size: 11px;
    }
}
.wallet{
    text-align:center;
    margin-top: 10px; 
    @media (max-width: 767px){
        a.add-to-wallet-button{
            background: url("../../clientlibs/sc-publish-clientlibs/resources/images/addToAppleWallet.svg") no-repeat;
            background-size: 100% 100%; 
            display: block;
            width: 150px;
            height: 50px;
            margin: 0 auto;
        }
    }   
}
#androidAppOfferSave1,#androidAppOfferSave2,#androidAppOfferSave3,#androidAppOfferSave4{
    text-align: center;
    margin-top: 20px;
}
.print{
    text-align: center;
    clear: both;
    margin-top: 20px;
    .btn{
        color:#fff !important;
        background-color:#c8102e !important;
        border-color:#003159 !important;
    }
}
@media screen 
    {
    #printSection {
        display: none;
    }
}
@media print {
    body * {
        display: none;
        //visibility:hidden;
    }
    #printSection, #printSection * {
        display: block;
        //visibility:visible;
    }
    #printSection {
        position:absolute;
        left:0;
        top:0;
    }
    #printSection {
        .webcoupon-wrapper{
            #coupon-holder-1,#coupon-holder-2,#coupon-holder-3,#coupon-holder-4{
                width: 240px !important;
                margin-right: 10px !important;
            }
            .coupon-header{
                .brand-logo{
                    img{
                        padding: 5px 20px;
                    }
                }
                .coupon-value{
                    padding: 5px 10px;
                }
            }
            #coupon-holder-1,#coupon-holder-2,#coupon-holder-3,#coupon-holder-4{
                &.coupon_wrapper{
                    width: 278px !important;
                    margin: auto !important;
                }
            }
            #coupon-holder-3.coupon_wrapper, #coupon-holder-4.coupon_wrapper{
                page-break-inside: avoid; 
            }
            #coupon-holder-1,#coupon-holder-2,#coupon-holder-3,#coupon-holder-4{
                &.coupon_wrapper_mobile{
                    page-break-inside: avoid;
                }
            }
        }
        .wallet{
            text-align:center;
            margin-top: 10px;
            @media (max-width: 767px){
                a.add-to-wallet-button{
                    background: url("../../clientlibs/sc-publish-clientlibs/resources/images/addToAppleWallet.svg") no-repeat;
                    background-size: 100% 100%; 
                    display: block;
                    width: 150px;
                    height: 50px;
                    margin: 0 auto;
                }
            }
        }
    }
}


//salon detail component css

.locations{
    &.map-directions{
        &.webcoupon-salondetails{
            min-height: 0;
            padding: 10px;
            @media (min-width: 768px){
                border: 1px solid #5f6167 
            }
            .check-in{
                width: 100%;
                padding: 0;
                .wait-time{
                    @media (min-width: 992px){
                        padding: 0 1%;
                    }
                }
                .location-details{
                    @media screen and (max-width: 320px){
                        width: 65% !important;
                        float: right;
                    }
                    @media screen and (max-width: 767px){
                        margin-bottom: 10px;
                    }
                    @media (min-width: 768px) and (max-width: 991px){
                        width: 30% !important;
                    }
                    width: 30%;
                    .vcard{
                        word-wrap: break-word;
                        @media (max-width: 768px){
                            width: 100% !important;
                        }
                        a {
                            span.street-address{
                                min-height: 0;
                            }
                        }
                        span.telephone{
                            margin-bottom: 0;
                        }
                        .store-title,.street-address{
                            width: 100% !important;
                        }
                    }
                }
                .store-hours-heading{
                    display: inline-block;
                    word-wrap: break-word;
                    @media screen and (max-width: 320px){
                        width: 65%;
                        float: right;
                    }
                    @media (min-width: 768px) and (max-width: 991px){
                        padding: 0 10px;
                        width: 28%;
                    }
                    @media (min-width: 992px){
                        padding: 0 10px;
                        width: 30%;
                    }
                }
                span#todays-checkin-salon-timings{
                    float: left;
                    word-wrap: break-word;
                    @media screen and (max-width: 320px){
                        width: 65%;
                        float: right;
                    }
                    @media (min-width: 768px) and (max-width: 991px){
                        padding: 0 10px;
                        width: 28%;
                    }
                    @media (min-width: 992px){
                        padding: 0 10px;
                        width: 30%;
                    }
                }
                .location-details,.store-hours-heading,span#todays-checkin-salon-timings{
                    @media (min-width: 375px) and (max-width: 413px){
                        width: 70% !important;
                        float: right;
                    }
                    @media (min-width: 414px) and (max-width: 767px){
                        width: 73% !important;
                        float: right;
                    }
                }
                .action-buttons{
                    @media screen and (max-width: 320px){
                        width: 65%;
                    }
                    @media (min-width: 375px) and (max-width: 413px){
                        width: 70%;
                    }
                    @media (min-width: 414px) and (max-width: 767px){
                        width: 73%;
                    }
                    @media (max-width: 767px){
                        margin-top: 10px;
                        float: right;
                    }
                    @media (min-width: 768px){
                        width: 27%;
                        float: left;
                        position: relative;
                        top: -20px;
                        clear: none;
                    }
                    .btn{
                        width: 100%;
                        margin: 0;
                        @media (max-width: 768px){
                            padding: 5px;
                        }
                    }
                    #sdcGetDirectionsButton{
                        @media (min-width: 768px){
                            margin-bottom: 5px;
                        }
                    }
                }
            }
        }
    }
}

.salonselectoradvanced.aem-GridColumn.aem-GridColumn--default--12.kouponServed{
    .salonselector-container-sa{
        
        //matrix view
        
        .show-more-container.panel-group {
            div#show-more-Content {
                background: #e8e8e8;
                .srch-row {
                    margin: 15px auto;
                    width: 100%;
                    .input-group-addon,
                        input {
                        border: 1px solid #c8102e;
                        background: white;
                        width: max-content;
                    }
                    input.form-control + .input-group-addon{
                        background: #c8102e;
                    }
                    input{
                        height: 40px;
                        @media (max-width: 768px){
                            width: 145px;
                        }
                    }
                }
                input#salonSearchAutocomplete {
                    width: 100%;
                    @media (max-width: 768px){
                        width: 200px;
                    }
                }
                span.input-group-addon:nth-child(2) {
                    max-width: 50px;
                    width: 1%;
                }
            }
        }
        .location-search div#salon-boxes {
            display: flex;
            flex-wrap: wrap;
            section.check-in {
                
                width: 33.3%;
                @media(max-width:768px){
                    width: 100%;
                }
            }
        }
    }
    .added-salons-container{
        //get coupon button styling
        
        
        .show-more-container.added-salons {
            height: 230px;
        }
    }
    span.input-group-btn {
        display: block;
        margin-right: 0;
        button.btn.btn-primary.coupon-search-btn {
            margin-left: 0;
            display: block;
            width: max-content;
        }
    }
}