/*footer*/
@font-face {
    font-family:"montserrat";
    src:url("https://use.typekit.net/af/2d988a/00000000000000003b9b1338/27/l?subset_id=2&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/2d988a/00000000000000003b9b1338/27/d?subset_id=2&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/2d988a/00000000000000003b9b1338/27/a?subset_id=2&fvd=n4&v=3") format("opentype");
    font-display:auto;font-style:normal;font-weight:400;
}
footer .footer-block:last-child li:nth-child(8) {
    visibility: hidden;
}
footer .clearfix {
    display: grid;
    width: 100%;
}
footer#footer{
max-width: 1440px;
}
footer .col-sm-8.pull-left {
    order: 2;
}
footer .col-xs-12.col-sm-4.col-block {
    order: 1;
    width: 100%;  
    flex: auto;
    padding: 0 0px 24px;
    margin: -15px 0 22px auto;
}
dl.footer-social-nav dd {
    float: left;
    margin-right: 19px;
}
footer .form-group {
    margin-bottom: 1rem;
    float: right;
    /*for safari */
    width:36%;
    min-width:414px;
}
footer .container {
    width: 100%;
    max-width: 1440px;
    background: #C8102E;
    height: 96px;
    margin:auto;
    padding: 43.1px 0px 41px;
}
footer .row.footer-block{
    width: 100%;
    margin: auto !important;
    padding: 0;
    position:relative;
}
h3.footer-heading {
    min-height: 29px;
    color: rgba(0,0,0,0.85);
    font-family: Montserrat;
    font-size: 17px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 30px;
}
dd a {
    text-decoration: none;
    height: 18px;
    width: 127px;
    color: #2D2A26;
    font-weight: 500;
    font-family: Montserrat;
    font-size: 15px;
    letter-spacing: 0;
    line-height: 18px;
}
/*sign up and email footer bottom*/
footer .col-xs-10.col-xs-offset-1.col-sm-offset-0.col-sm-12.col-md-offset-1.col-md-10 {
    display: none;
}
button#email-signup-btn {
    height: 44px;
    width: 115px;
    color: #FFFFFF;
    font-family: Montserrat;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 18px;
    text-align: center;
    background: transparent;
    border-radius: 20px;
    margin-left: 13px;
    border: 2px solid white;
}
.footer-social-nav a {  
    color: #000000;
    text-decoration: none;  
}

footer a.icon-googleplus {  
    font-family: 'icomoon'; 
    speak: none;    
    font-style: normal; 
    font-weight: normal;    
    font-variant: normal;   
    text-transform: none;   
    line-height: 1; 
    -webkit-font-smoothing: antialiased;    
}

footer a.icon-facebook, a.icon-twitter, a.icon-instagram, a.icon-youtube{   
    font-family: 'icomoon'; 
    speak: none;    
    font-style: normal; 
    font-weight: normal;    
    font-variant: normal;   
    text-transform: none;   
    line-height: 1; 
    -webkit-font-smoothing: antialiased;
    font-size: 28px;
}

footer a.icon-facebook:before { 
    content: "\e60a";   
}
a.icon-googleplus {
    width: 36px;
    
    height: 36px;
    display: inline-block;
}
a.icon-facebook{
    width: 36px;
    
    height: 36px;
    display: inline-block;
    
}
a.icon-twitter{
    width: 36px;
    
    height: 36px;
    display: inline-block;
    
}
a.icon-instagram{
    width: 36px;
    
    height: 36px;
    display: inline-block;
    
}
footer input#email-signup {
    height: 44px;
    
    border-radius: 2px;
    padding: 0 10px;
    border: 0px;
    width: 286px;
    font-size: 12px;
    background-color: #FFFFFF;
}
footer .col-xs-12.col-sm-4.col-block p {
    height: 20px;
    color: #FFFFFF;
    font-weight: 520;
    font-family: Montserrat;
    font-size: 16px;
    
    margin: 12px auto;
    letter-spacing: 0;
    line-height: 20px;
}

/*footer  nth child(2) social icons selector*/
footer .row.footer-block:nth-child(2) .col-xs-12.col-sm-4 {
    position: absolute;
    left: 0;
    top: -140px;
    padding-left: 0px;
    width: 330px;
}
footer .col-sm-8.pull-left {
    order: 2;
    width: 75%;
    /* width: 703px; */
    margin-left: auto;
}
/*nav .col-xs-6.col-sm-4 {
width: 330px;
}*/
.row.footer-block:nth-child(2) ul.footer-social-nav {
    list-style: none;
    padding: 0;
    display: flex;
}
li.footer-heading {
    height: 29px;
    color: rgba(0,0,0,0.85);
    font-family: Montserrat;
    font-size: 17px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 30px;
}
/* footer bottom*/
footer .row.footer-block:last-child .col-xs-12.col-sm-8.col-block {
    width: 100%;
    flex: auto;
    order: 2;
    padding: 0;
}
footer .row.footer-block:last-child {
    padding: 0;
    padding-left: 5px;
}
footer .row.footer-block:last-child p {
    float: right;
    order: 2;
    margin-left: auto;
    width: 316px;
    padding-right: 0px;
    color: rgba(0,0,0,0.85);
    font-family: Montserrat;
    font-size: 11px;
    letter-spacing: 0;
    font-weight: 520;
    padding-top: 17px;
    line-height: 16px;
    text-align: right;
    min-width: 500px;
}
li.footer-divider:nth-child(10) {
    display: none;
}
/* terms of service*/
footer .row.footer-block:last-child ul.list-inline.pull-left.terms-nav {
    /* width: 385px;
    float: left;
    min-width: 325px;*/
    width: 343px;
    float: left;
    padding-left: 0px;
    min-width: 325px;
}
footer .footer-block:last-child li {
    display: contents;
}
footer p.pull-left.copyright {
    width: 0;
    min-width: 0 !important;
}
.footer-block:last-child a {
    height: 32px;
    color: rgba(0,0,0,0.85);
    font-family: Montserrat;
    font-size: 11px;
    font-weight: 520;
    letter-spacing: 0;
    line-height: 16px;
}
.small {
    display: flex;
    height: max-content;
    margin: 20px auto;
}
.small p:nth-child(3) {
    display: none;
}
/*Download links */
footer .row.footer-block:nth-child(2) .col-xs-12.col-sm-8.col-block {
    max-width: 100%;
    flex: auto;
    display: flex;
}
footer .row.footer-block:nth-child(2)  .list-inline.app-store-icons {
    padding-left: 0;
    display: contents;
    list-style: none;
}
.row.footer-block:last-child .col-xs-12.col-sm-4 {
    position: absolute;
    right: 0;
    top: -50px;
    text-align: right;
}
footer#footer {
    position: relative;
    height: 360px;
    margin: auto;
    width: 100%;
    
    background: #f3f3f3;
    padding: 0px !important;
}
p#email-signupErrorAD {
    margin: 2px auto;
}
.bt-mob {
    text-align: center;
    display: none;
}
@media(max-width:768px){
    #back-to-top{
        display: none !important;
    }
    .bt-mob{
        display:block;
        padding-top:5px;
    }
}
@media(max-width: 1440px){

footer#footer{
    width: 100%;
}
footer .row.footer-block:nth-child(2) .col-xs-12.col-sm-4{
    width: 300px;
    
}
nav .col-xs-6.col-sm-4 {
    width: 33.33333333%;
}
}
/*@media (max-width: 1200px){

footer .col-sm-8.pull-left{
margin-left: auto;
}

}*/
@media (max-width: 900px){
footer .col-sm-8.pull-left {
    order: 2;
    /*min-width: 80%;*/
}
footer .row.footer-block:nth-child(2) .col-xs-12.col-sm-4 {
    width: 235px;
}
dl.footer-social-nav dd{
    margin: 0px;
}
}


@media (min-width: 768px){
footer .row.footer-block {
    max-width: 748px !important;
}
}
@media (min-width: 992px){
footer .row.footer-block {
    max-width: 960px !important;
}

}
@media (min-width: 1200px){
footer .row.footer-block {
    max-width: 1140px !important;
}
}
@media(max-width: 768px){
footer .col-xs-12.col-sm-4.col-block{
    display: grid;
}
footer .row.footer-block:nth-child(2) .col-xs-12.col-sm-4 {
    width: 100%;
}
dl.footer-social-nav dd {
    float: left;
    margin-right: 19px;
}
footer .col-xs-12.col-sm-4.col-block p {
    width: 98%;
    height: max-content;
    margin: auto;
    order: 1;
    font-weight: 400;
}
footer .form-group {
    width: 100%;
    height: max-content;
    float: unset;
    order: 2;
    /*for safari*/
    min-width: unset;
}
button#email-signup-btn{
    font-weight: 500;
    border: 1px solid white;
}
footer .container{
    height: 155px;
}
footer .col-sm-8.pull-left {
    max-width: 100%;
    margin-top: 50px;
    width: 100%;
    margin-left: 0;
}
footer .col-sm-8.pull-left:nth-child(1) .col-xs-6.col-sm-4:nth-child(1), footer .col-sm-8.pull-left:nth-child(1) .col-xs-6.col-sm-4:nth-child(2) {
    max-width: 50%;
    width: 50%;
    height: max-content;
    flex:auto;
    min-height: 100px;
}
footer .row.footer-block:nth-child(2) .col-xs-12.col-sm-4 {
    position: absolute;
    left: 13px;
    top: -360px;
    width:96%;
}
footer .col-sm-8.pull-left nav.row {
   margin-top: 35px !important;
    margin-right: 0;
}
footer .col-sm-8.pull-left:nth-child(1) .col-xs-6.col-sm-4 {
    padding: 0px;
}
footer .row.footer-block:last-child {
    width: 100%;
    
}
footer .small {
    display: grid;
    margin : 20px auto 0;
}
footer .row.footer-block:last-child p {
    text-align: left;
    float: none;
    width: 100%;
    padding-left: 0px;
    padding-top: 0px;
    min-width: 0;
}
footer .row.footer-block:last-child p small {
    width: 100%;
    display: inherit;
    word-break: break-word;
}
.row.footer-block:last-child .col-xs-12.col-sm-4{
    text-align:left;
}
footer .row.footer-block:nth-child(2) .col-xs-12.col-sm-8.col-block{
    display:block;
}
footer .row.footer-block:nth-child(2) .list-inline.app-store-icons{
    display: flex;
}

input#email-signup {
    width: 260px !important;
    height: 40px;
    font-size: 12px;
    display: block;
}
span.dismiss_modal, div#smartbanner {
    display: none;
}footer .col-xs-12.col-sm-4.col-block {
    
    height: 125px;
}
footer#footer{
    height: 640px;
}
footer .input-group {
    position: relative;
    width: max-content;
    display: flex;
    margin: auto;
    margin-top: 10px;
    border-collapse: separate;
}
footer .col-sm-8.pull-left:nth-child(1) .col-xs-6.col-sm-4:last-child{
    width: 96%;
}
footer .footer-block:last-child li:nth-child(8) {
    visibility: hidden;
    display: table-column;
}
}

@media (max-width: 400px){
footer .col-xs-12.col-sm-4.col-block {
    height: max-content;
    padding: 0 10px 40px;
}
footer .container{
    height: 170px;
}
input#email-signup {
    width: 65% !important;
}
footer .input-group-btn{
width: 35%;
}
button#email-signup-btn{
width: 92%;
}
footer .input-group {
    width: 100%;
    margin: auto;
    margin-top:20px;
}
footer .col-sm-8.pull-left{
    width: 100%;
}
footer .col-sm-8.pull-left:nth-child(1) .col-xs-6.col-sm-4:nth-child(1), footer .col-sm-8.pull-left:nth-child(2) .col-xs-6.col-sm-4:nth-child(2) {
    max-width: 50%;
    width: 50%;
}
footer .row.footer-block:last-child ul.list-inline.pull-left.terms-nav{
    width: auto;
    min-width: 290px;
}
footer .row.footer-block:nth-child(2) .col-xs-12.col-sm-4{
top: -380px;
}
footer#footer {
    height: 670px;
}
}
@media(max-width: 340px){
footer .row.footer-block:nth-child(2) .col-xs-12.col-sm-4 {
    top: -390px;
}
footer .row.footer-block:last-child ul.list-inline.pull-left.terms-nav {
    width: auto;
    min-width: 290px;
}
footer#footer {
    height: 685px;
}
footer .footer-block:last-child li:nth-child(8) {
    visibility: visible;
    display: contents;
}
}