.acs-commons-resp-colctrl-col-50 img.cq-dd-image.thebsoimage.mt-4.filter {
    width: 100%;
}
@media (max-width: 767px){
img.cq-dd-image.thebsoimage.mt-4.filter {
    width: 100%;
}
img.cq-dd-image.home-gi.thebsoimage.mt-4.filter.Men {
    width: 0%;
}
}
