/*Contact-us page styles local*/

.added-salons-container .check-in {
    border: 1px solid #5f6167!important;
    padding: 15px 0 26px 0;
    background: #fff;
    float: left;
    width: 23%;
    margin: 30px 14px 30px 5px;
    box-shadow: 2px 2px 3px #888;
    overflow: visible;
    position: relative;
}
@media (max-width: 768px) {
.contact-us.container {
            width: 95%;
        }
    }
    @media (max-width: 400px) {
    .contact-us.container .input-group {
                    width: 300px;
                }
            }
            @media only screen and (max-width: 600px) {
                .added-salons-container .check-in {
                            width: 80%;
                            margin: 30px 14px 30px 30px;
                        }
                    }
                    .vcard {
                    padding: 20px;
                }
                .vcard .close-btn {
            width: 48px;
            height: 46px;
            background-color: #fff;
            display: inline-block;
            position: absolute;
            bottom: -10px;
            right: -12px;
            z-index: 1180;
            border-radius: 50%;
            border: 1px solid #5f6167 !important;
            box-shadow: 0px 0px 3px #888888;
            font-size: 31px;
            text-align: center;
            font-weight: bold;
            text-decoration: none;
            color: #C8102E;
            margin: 0;
            padding: 0;
        }
        .store-title {
        font-weight: 600;
        font-size: 24px;
        color: #2D2A26;
    }
    .vcard a {
    color: #727173;
}
input[type=checkbox].css-checkbox,
input[type=radio].css-radiobtn,
input[type=checkbox].css-radiobtn,
input[type=radio].css-checkbox {
    position: absolute;
    z-index: -1000;
    left: -1000px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}
input[type=checkbox].css-checkbox+label.css-label,
input[type=radio].css-radiobtn+label.css-label,
input[type=checkbox].css-radiobtn+label.css-label,
input[type=radio].css-checkbox+label.css-label {
    padding-left: 26px;
    vertical-align: middle;
    height: 28px;
    border: 1px solid #3d3d847a;
    display: inline-block;
    line-height: 32px;
    background-repeat: no-repeat;
    background-position: 0 0;
    font-size: 16px;
    width: auto;
    cursor: pointer;
    background-size: 100%;
    margin-top: 20px;
    margin-left: 20px;
}
}
label.css-label {
    background-image: url('../../publish-clientlibs/resources/images/checkbox-unchecked.png');
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
input[type=radio].css-radiobtn+label.css-label {
    border: none;
    background-image: url(../../publish-clientlibs/resources/images/Regis-Icons/Regis_radio.svg);
}
input[type=radio].css-radiobtn:checked+label.css-label {
    background-image: url(../../publish-clientlibs/resources/images/Regis-Icons/Regis_radio-selected.svg);
}
input[type=checkbox].css-checkbox:checked+label.css-label,
input[type=radio].css-checkbox:checked+label.css-label {
    background-image: url('../../publish-clientlibs/resources/images/checkbox.png');
}
/*preference center page --- my guest section*/
.left-col.pull-left.prefered-services-checkbox-guests label.css-label{
    margin-top: 0px;
    margin-left: 0px;
}
/*Product page styles*/

.costcutters-container .productshowcase.section .col-xs-12.product-list-wrap {
    width: 100% !important;
    padding-bottom: 25px;
    float: left;
}
/*Contactus*/

.form-control.icon-arrow.custom-dropdown-select {
    text-transform: uppercase;
}
.location-search-title .input-group-addon.btn.btn-primary.location-search-bt {
    display: table-cell;
}
.contact-us-form .form-control > option,
.contact-us-form .form-control {
    font-family: Montserrat;
}
.location-details .icon-close:before {
    display: none;
}
.costcutters-container .error-msg {
    color: #d31313;
}
.contact-us.container .textandimage.section {
    overflow: inherit;
}
p.error-msg {
    font-size: 14px;
    color: #a94442;
}
.basepageparsys.container {
    height: max-content;
}
/*Session Logout*/

.session-alert {
    padding: 20px;
    background-color: #c8102e;
    color: white;
    margin-bottom: 10px;
    margin-top: 0px;
}
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}
.closebtn:hover {
    color: black;
}
.contact-us-form section.check-in.col-md-4 {
    width: 33.3%;
    margin: 0;
    background: white !important;
    /* background: white; */
    height: 236px;
    border-radius: 7px;
    padding: 0;
    float: left;
}


/* text --section*/
.text h1{
    font-size: 49px;
    margin: 0;
}   
.text.section h2, .text h2{
    font-size: 36px;
    margin: 0;
}
.text h3{
    font-size: 20px;
    font-weight: 600;
    margin: 0;
}
.text h5{
    font-weight: 300;
    margin: 0;
    font-size: 22px;
    line-height: 20px;
}
@media (max-width: 768px){
.text.section h1{
            font-size: 30px; 
        }   
        .text.section h2, .text h2{
    font-size: 26px;
    margin: 0;
    margin-top: 0;
    margin-bottom: 5px;
}
.DivbelowNav .text.aem-GridColumn.aem-GridColumn--default--12 h1 {
    font-size: 33px;
    margin: 0;
}
.text h5{
    font-weight: 300;
    font-size: 13px;
    margin: 0;
    line-height: 13px;
}
.text h3{
    font-size: 18px;
    margin: 0;
    font-weight: 600;
}
/* home page video*/
.responsivegrid .acs-commons-resp-colctrl-col-60 .htmlcoder.section{

    padding-top: 0;
    /*advice page recent tips and homepage styling advice*/                }
.responsivegrid .acs-commons-resp-colctrl-col-60,  .responsivegrid .acs-commons-resp-colctrl-col-1,.responsivegrid .acs-commons-resp-colctrl-col-33, .responsivegrid .acs-commons-resp-colctrl-col-50{
    margin-top: 0 !important; 
}
/* careeers page text after html coder*/
.colouredparsyscomponent .colouredparsys.parsys .acs-commons-resp-colctrl-row.section .new-container .new-row .acs-commons-resp-colctrl-col-50 .par2.parsys .text.section{
width: 90%;
                                                }
.acs-commons-resp-colctrl-col-5 , .acs-commons-resp-colctrl-col-45{
margin-top: 0 !important;
                }
         .acs-commons-resp-colctrl-col-60 + .acs-commons-resp-colctrl-col-35{
margin-top: 50px !important;
                }
/*more styling advice*/
.responsivegrid .acs-commons-resp-colctrl-col-20{
    margin-top: 0 !important; 
}
.reminder-check-label{
    padding-left:0px !important;
    margin-top:0px !important;
    margin-left:0px !important;
}

}