/*header.css---- local updated*/
header#header {
    background: white;
    position: fixed;
    width: 100%;
    top: 0;
    margin: 0;
    z-index: 1500;
}
div#bluemlb {
    padding-right: 0;
    padding-left: 0;
}
.row{
    
    margin: 0px !important;
}
header .row.utility-wrapper{
    
    display: flex;
}

header .row.utility-wrapper .col-sm-6.col-md-7.col-xs-12{
    padding-right: 20px;  
}

header .row.utility-wrapper .input-group .form-control:last-child{
    margin-left: 0px;
    min-width: 250px;
    font-size: 14px;
    border-radius: 0;
}
header .row.utility-wrapper  .input-group-btn:last-child > .btn{
    color: #c8102e;
    font-family: montserrat;
    padding: 7px;
    border-radius: 0;
    
}
header .row.utility-wrapper  .input-group-btn:last-child > .btn:hover{
    background: #c8102e;
    color: white;
    
}
header .row.utility-wrapper .collapse.navbar-collapse.iph-fix.account-navbar-collapse .list-inline.account-signin li {
    padding: 8px 10px;
}
.container{
    width: 100%;
    height: 64px;
    margin: auto;
    margin-top: 20px;
    
    padding: 6px;
    padding-left: 0;
    padding-right: 0;
    background: none;
}
.navbar-header h1.pull-left {
    float: left !important;
    font-size: 55px;
    margin-top: 0px;
}
.navbar-collapse {
    width: auto;
    border-top: 0;
    padding-right: 0px;
    padding-left: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
}
ul#menu-group {
    float: right;
    flex-direction: inherit;
}
/*----- changed css----------------
a#logo {
color: transparent;
background: url("/content/dam/costcutters/general-resources/cost-cutter-logo.png") no-repeat;
height: 55px;
}h1.pull-left.hidden-xs.hidden-sm.hidden-md {
color: transparent;
background: url(../../../../../content/dam/costcutters/general-resources/cost-cutter-logo.png) no-repeat;
height: 55px;
position: absolute;
top: auto;
margin-bottom: 0;
bottom: 1px;
}
------*/
a#logo {
    color: transparent;
    background: url("/content/dam/costcutters/logos/cost-cutters-logo-header.png") no-repeat;
    height: 76px;
}
button#hamburger {
    display: none;
}
.row.header-wrapper {
    background: none !important;
}
.nav > li > a.external {
    text-align: center;
}
a.external {
    height: 27px;
    color: #2D2A26;
    font-family: Montserrat;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 18px;
    text-align: right;
    display: inline-block;
    padding: 10px 10px 13px 10px;
    text-decoration: none;
}
.container_blue {
    width: 100%;

}
.col-sm-12.col-xs-12.col-md-3.navbar-header, .col-sm-6.col-md-7.col-xs-12 {
    width: 100%;
    max-width: 100%;
    flex: auto;
    padding: 0;
}
div#mobile-header {
    float: right;
}
.visible-xs.widget-salon-locations.pull-left {
    float: right;
    display: none !important;
}
.col-sm-12.col-xs-12.col-md-3.navbar-header {
    display: none;
    margin-top: 20px;
    padding: 0 10px;
}
.logo.hidden-xs {
    position: absolute;
    top: auto;
    bottom: 4px;
    text-decoration: none;
}
.collapse:not(.in) {
    display: block;
}
.row.utility-wrapper {
    width: 100%;
}
.list-inline.account-signin {
    padding-left: 0;
    display: flex;
    float: right;
    position:relative;
    list-style: none;
    margin-bottom: 0;
}
.list-inline.account-signin li {
    padding: 0 10px;
}
.account-signin li:last-child:focus input {
    width: 100%;
    border: 1px solid red;
    position: absolute;
    left: 0;
    border-radius: 20px;
}
.list-inline.account-signin li:last-child:focus {
    outline: 0;
    position: unset;
}
.list-inline.account-signin li:last-child {
    padding-right: 0;
    position: relative;
    padding-left: 20px;
    color: #C8102E;
    background: url(/content/dam/costcutters/general-resources/search1.png) no-repeat;
}
.list-inline.account-signin li:last-child input {
    width: 100%;
    position: absolute;
    border: 0px solid;
    background: transparent;
}
.list-inline.account-signin li a {
    height: 17px;
    color: #C8102E;
    font-family: Montserrat, 'FontAwesome';
    font-size: 14px;
    border: 0px;
    background-color: transparent;
    letter-spacing: 0;
    line-height: 15px;
    text-align: right;
}
.nav > li > a {
    position: relative;
    display: block;
    padding: 0;
    border-bottom: 0px;
    width: max-content;
}
.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: transparent;
    /* text-decoration: underline; */
    border-bottom: 1px solid black;
}
.nav > li > a:selected {
    text-decoration:underline;
    background-color: transparent;
    /* text-decoration: underline;
    border-bottom: 1px solid black; */
}
/*& > a:selected {
@media(max-width:480px){
text-decoration: none;
color: #1c78aa;
}
text-decoration:underline;
background: none;


} */
.nav > li {
    position: relative;
    display: block;
    padding: 15px 0 0px 30px;
}
header .sign-in-dropdown-wrapper.dropdown-menu {
    padding: 0;
    left: -140px;
    margin-top: 20px;
    font-size: inherit;
    border: none;
    z-index: 8999;
}
.login-wrapper.arrow-up .form-group a#sign-in-btn {
    height: 40px;
    color: #c8102e;
    text-align: center;
    padding: 12px 0;
    border: 1px solid #c8102e;
}

.active{
    border-bottom: 2px solid black;

}
div#logoutHeader .list-inline.account-signin li {
    padding: 8px 10px;
}
span.icon-man.user_icon-page{

    display: none;
}
.sm_div .small {
    display: block;
}
.sm_div a.icon-facebook,.sm_div a.icon-twitter,.sm_div a.icon-instagram,.sm_div a.icon-youtube {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    font-size: 28px;
    width: 36px;
    height: 36px;
}
.sm_div   dl.footer-social-nav {
    text-align: center;
    width: max-content;
    margin: auto;
}
.sm_div .col-xs-12.col-sm-12.col-block{
    padding: 0;
}
.sm_div li a{
    font-size: 12px;
}
.sm_div li{
    padding: 0px;
}

.displayAccDetails{
display: block !important;
    }
/*@media (min-width: 576px){
.container {
max-width: 540px !important;
}
}
*/@media (min-width: 768px){
header .container {
    max-width: 748px !important;
}
header .navbar-collapse.collapse{
    width: 795px;
}
}
@media (min-width: 992px){
header .container {
    max-width: 960px !important;
}

}
@media (min-width: 1200px){
header .container {
    max-width: 1140px !important;
}
}
@media (max-width: 1200px){
header .navbar-collapse.collapse{
    width: 600px;
}
}
@media (max-width: 1023px){
header .navbar-collapse.collapse{
    width: 400px;
    float: right;
}
}
@media (max-width: 768px){
span.icon-man.user_icon-page{
    display: block;
    font-size: 40px;
}
.col-sm-12.col-xs-12.col-md-3.navbar-header, button#hamburger {
    display: block;
}
.logo.hidden-xs.hidden-sm.hidden-md {
    display: none;
}
header .row.utility-wrapper .col-sm-6.col-md-7.col-xs-12{
    display: flex;

}
header .collapse.in{
    display: none;
}
header .clicked-container .collapse.in{
    display: block;
}
.row.utility-wrapper{
    display: flex;

}
.clicked-container .row.utility-wrapper{

    position: absolute;
    top: 115px;
    left: 50%;
    margin-left: -160px !important;
}
.container_blue {
    width: 100%;
    display: none;
}
button#hamburger {
    float: right !important;
    width: 46px;
    outline: 0;
    height: 45px;
    margin-top: 0px;
    padding-top: 0px;
    background: url(/content/dam/costcutters/general-resources/hamburger.png.png) 0 0 no-repeat;
    background-position: center bottom;
}
.clicked-hamburger{
    background: url(/content/dam/costcutters/general-resources/cross-hamburger.png) no-repeat !important;
    background-position: bottom !important;
    padding-right: 0px;
    padding-bottom: 0px;
}
.clicked-container{
    position: fixed !important;
    z-index: 1000;
    background: white;
    overflow-y: scroll;
    overflow-x: hidden;
    /*min-height: 700px;*/
    width: 100%;
    height: 100% !important;
    padding-top: 20px;
    margin-top: -74px !important;
}
/*background menu*/
span.hamburger-menu-text, span.icon-menu {
    display: none;
}
#header .container .icon-menu:before {
    content: "\e606";
}
.navbar-toggle.visible-xs .icon-menu {
    color: #003f72;
}
#header .container .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}
.collapse:not(.in) {
    display: none;
}
.clicked-container    .collapse:not(.in) {
    display: block;
}
.collapsing {
    position: relative;
    height: 0;
    overflow: hidden;
    transition: height 0.35s ease;
}
ul#menu-group {
    float: inherit;
    flex-direction: column;
    margin: 0px;
    margin-top: 30px;
}
.container {

    height: max-content;
    position: relative !important;
}

li.li-navbar-6 {
    text-align: center;
    padding: 5px 0 10px 15px;
}
.collapse.navbar-collapse.iph-fix.account-navbar-collapse {

    padding: 0;
}
/*
site search mobile view*/
ul.list-inline.account-signin {
    display: none;

}
button#hamburger:focus{
    box-shadow: none;
}

main.container.main-wrapper.homepage-wrapper.main.main-home.mlb-wrapper {
    min-height: 0px;
}
div#mobile-header{
    display:block !important;
}
div#signin-mob{
    display:none !important;
}
div#signin-mobile {
    position: absolute;
    top: 90px;
    left: 50%;
    margin-left: -160px;
}
div#signin-mob.displayUl {
    display: flex !important;
    /*height: max-content;
    width: 40px;
    padding: 25px 0 0px;
    margin-top: 25px;
    text-align: center;*/
}
span.icon-man.account-mob-image {
    font-size: 35px;
}
span.account-signin-caption {
    display: none;
}
.col-sm-12.col-xs-12.col-md-3.navbar-header {

    margin-top: 0px;
    height: max-content;
    padding: 0 10px;
}
.list-inline.account-signin li{
    padding: 0;
    width: 20px;
}
.list-inline.account-signin li:last-child{
    margin-top: 35px;
    width: auto;
    font-size: 21px;
    font-weight: 600;
    letter-spacing: 0;
    font-family: Montserrat, 'FontAwesome';
    line-height: 25px;
    background-position: left center;
}
.list-inline.account-signin li a {
    height: 25px;
    font-size: 21px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 25px;
}

a.external {
    font-size: 21px;
    margin: 0px auto 20px;
}
.collapse.navbar-collapse.search-navbar-collapse{
    position: relative;
    top: 65px;
    padding: 0px;
    margin-left: 0px;
    height: max-content;
}

btn:active ul.list-inline.account-signin{
    display:block
}
.container.clicked-container .col-sm-12.col-xs-12.col-md-3.navbar-header{
    margin-top: 70px;
}

header.cl-header .navbar-header h1.pull-left {

    width: 300px;
}
header .row.utility-wrapper .col-sm-6.col-md-7.col-xs-12 {
    display: flex;
    width: 60px;
    padding: 0px;
    max-width: 60px;
}

header .sign-in-dropdown-wrapper.dropdown-menu {
    padding: 0;
    /*display: block;*/
    left: 0;
    margin-top: 20px;
    width: 300px;
    font-size: inherit;
    border: none;
    z-index: 8999;
}
header .login-main .login-wrapper.arrow-up:before, .login-main .reset-wrapper.arrow-up:before {
    left: 20px;
}
.sign-in-dropdown-wrapper.dropdown-menu.displayUl{
    display: block;
}
header .signin-mob button.btn.navbar-toggle.displayNone {
    position: absolute;
    top: 75px;
    left: 50%;
    margin-left: -160px;
}
.cl-header{
    height: -webkit-fill-available;
}

.sm_div li.footer-divider:nth-child(10) {
    display: inline-block;
}
header .collapse:not(.in) {
    display: none !important;
}
.clicked-container .collapse:not(.in) {
    display: block !important;
}
button#hamburger {
    display: block !important;
}
header .clicked-container .collapse.in a#logo{
    display: none !important;
}
li.li-navbar-6 {
    text-align: center;
    padding: 5px 0 10px 0px;
    width: 100%;
}
.input-group{
    width: 320px;
}
.sm_div{
    display: block !important;
    padding: 0 0px 0 5px;
}
.small ul.list-inline.pull-left.terms-nav {
    margin-left: 0;
}
.small{
    padding-left: 11px;
}
.clicked-container div#bluemlb{
    margin-top: 40px;
}
.clicked-container .col-sm-12.col-xs-12.col-md-3.navbar-header {
    margin-top: 0px;
    height: 90px;
    padding: 0 10px;
}
header .navbar-header h1.pull-left {
    width: 300px;
    height: 45px;
    margin-top: 5px;
    font-size: 47px;
    margin-left: 5px;
}
header .clicked-container .row.utility-wrapper .input-group-btn:last-child > .btn{
    -webkit-appearance: button;
        display: table-cell;
}
 div#logoutHeader {
        position: absolute;
        z-index: 2000;
        top: 0;
        height: 60px;
        display: block;
    }
    .clicked-container .collapse:not(.in) {
    display: block !important;
    order: 1;
    height: 100% !important;
}
.clicked-container ul.list-inline.account-signin {
    display: flex;
    width: 100%;
}
 div#logoutHeader .list-inline.account-signin li {
    padding: 0;
    width: auto;
}
 div#logoutHeader .list-inline.account-signin li:last-child {
    margin-top: 0;
    margin-left: 20px;
}
 div#logoutHeader  ul.list-inline.account-signin {
    display: flex;
    width: 100%;
    margin-top: 25px;
}
div#loginHeader {
display: none !important;
}
}
@media (max-width: 450px){
header .navbar-header h1.pull-left {
   width: 75%;
    font-size: 36px;
}
a#logo {
    background: url("/content/dam/costcutters/general-resources/cost-cutter-logo.png") no-repeat;
    background-size: 210px 46px;
}
header .clicked-container .navbar-header h1.pull-left {
   width: 240px;
    height: 120px;
}
header .row.utility-wrapper .input-group .form-control:last-child{
    min-width: 200px;
    
}
div#loginHeader, #logoutHeader {
    margin: auto;
}
.input-group{
    width: 280px;
}
div#loginHeader, #logoutHeader {
    margin: auto;
}
ul#menu-group {

    margin-top: 30px;
}

}

@media (max-width: 400px){
header .row.utility-wrapper .input-group .form-control:last-child {
    min-width: 175px;
}
.input-group {
    width: 245px;
}
}

//Loader state
.overlay {
   position: fixed;
   background-color: #000;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: 9999;
   opacity: .5
}

.overlay #ajaxloader1 {
   position: absolute;
   width: 60px;
   height: 60px;
   left: 50%;
   top: 50%;
   margin: 0 0 0 -15px;
   border: 8px solid #fff;
   border-right-color: transparent;
   border-radius: 50%;
   box-shadow: 0 0 25px 2px #eee;
   -webkit-animation: spin 1s linear infinite;
   -moz-animation: spin 1s linear infinite;
   -ms-animation: spin 1s linear infinite;
   -o-animation: spin 1s linear infinite;
   animation: spin 1s linear infinite
}

@-webkit-keyframes spin {
   from {
       -webkit-transform: rotate(0);
       opacity: .4
   }

   50% {
       -webkit-transform: rotate(180deg);
       opacity: 1
   }

   to {
       -webkit-transform: rotate(360deg);
       opacity: .4
   }
}

@-moz-keyframes spin {
   from {
       -moz-transform: rotate(0);
       opacity: .4
   }

   50% {
       -moz-transform: rotate(180deg);
       opacity: 1
   }

   to {
       -moz-transform: rotate(360deg);
       opacity: .4
   }
}

@-ms-keyframes spin {
   from {
       -ms-transform: rotate(0);
       opacity: .4
   }

   50% {
       -ms-transform: rotate(180deg);
       opacity: 1
   }

   to {
       -ms-transform: rotate(360deg);
       opacity: .4
   }
}

@-o-keyframes spin {
   from {
       -o-transform: rotate(0);
       opacity: .4
   }

   50% {
       -o-transform: rotate(180deg);
       opacity: 1
   }

   to {
       -o-transform: rotate(360deg);
       opacity: .4
   }
}

@keyframes spin {
   from {
       transform: rotate(0);
       opacity: .2
   }

   50% {
       transform: rotate(180deg);
       opacity: 1
   }

   to {
       transform: rotate(360deg);
       opacity: .2
   }
}
