/* changes for salonlistonpage*/

.listsalonsonpage,
.openingsoonsalonslistcomponent {
	@media(max-width: 768px) {
		padding:0 !important;
	}
	.salon-list-head {
		.jump-links-wrap {
			padding-left: 0;
			.disableAlpha {
				text-decoration: none;
				cursor: default;
				color: #666;
			}
		}
		margin-bottom:30px;
		@media(max-width:768px) {
			margin-bottom: 15px;
		}
		padding:0;
		h1 {
			text-transform: uppercase;
			color: #C8102E;
			font-size: 35px;
			margin: 0;
			@media(max-width: 768px) {
				margin:0;
				font-size: 20px;
			}
			h2 {
				text-transform: uppercase;
				color: #2D2A26;
				font-size: 20px;
				margin: 0;
			}
		}
		.search-section {
			h4 {
				margin: 0 0 10px 0;
			}
		}
		.jump-link-head {
			padding-left: 0;
			font-size: 13px;
		}
		.jump-link-alpha {
			span {
				margin-right: 20px;
				@media(max-width: 768px) {
					margin-right:11px;
				}
				font-weight:bold;
				a {
					color: #1e3e6e;
				}
			}
		}
	}
	.state-wrap {
		.each-state {
			.jump-links {
				padding: 0;
				.h2 {
					margin: 0;
					line-height: 40px;
					text-transform: uppercase;
				}
				a {
					position: absolute;
					bottom: 0;
					left: 50px;
					@media(max-width: 768px) {
						left:30px;
					}
					color:#1e3e6e;
					font-size: 13px;
				}
			}
			padding:0;
			.state-name {
				padding: 0;
				h3 {
					text-transform: uppercase;
					margin: 0;
					color: #1e3e6e;
					padding: 10px 0;
					font-size: 20px;
					@media(max-width: 768px) {
						padding-bottom:0;
					}
				}
			}
			.salon-group {
				table {
					width: 100%;
					tr {
						border-bottom: 1px solid #5f6167;
						td {
							width: 100%;
							padding: 10px;
							@media(max-width: 768px) {
								padding:10px 0;
							}
							font-size:14px;
							a {
								color: #1c78aa;
							}
						}
						&:last-child {
							//border-bottom:none;
						}
						&:first-child {
							border-bottom: 1px solid #5f6167;
						}
					}
				}
				@media(max-width:768px) {
					padding: 0;
				}
			}
		}
	}
}

a#stateUrlForCity {
	text-transform: uppercase;
	font-size: 17px;
	font-weight: 700;
}

.openingsoonsalonslistcomponent {
	.each-state {
		.pull-left {
			width: 100%;
		}
	}
}

@media(max-width:768px) {
	.listsalonsonpage {
		.errorMessage {
			display: inline-block;
		}
	}
}
 
.breadcrumb {
	padding: 0 !important;
	margin-bottom: 10px;
	font-size: 13px;
	float: none;
	display: flex;
	width: 100%;
	list-style: none;
	border-radius: 4px;
	@media (min-width: 768px) {
		max-width: 748px !important;
	}
	@media (min-width: 992px) {
		max-width: 960px !important;
	}
	@media (min-width: 1200px) {
		max-width: 1140px !important;
		margin: auto;
		margin-bottom: 10px;
	}
	@media (max-width: 768px) {
		width: 95%;
		margin: auto;
		margin-bottom: 10px;
	}
}

.listsalonsonpage.section {
	@media (min-width: 768px) {
		max-width: 748px !important;
	}
	@media (min-width: 992px) {
		max-width: 960px !important;
	}
	@media (min-width: 1200px) {
		max-width: 1140px !important;
		margin: auto;
	}
	@media (max-width: 768px) {
		width: 95%;
		margin: auto;
	}
}


/* Location > __> __> ___ styling start  */

.salondetailspagelocationcomp,
.salondetailtitlecomp,
.sdp-template-bottom-wrap {
    margin: auto;
	@media (min-width: 768px) {
		max-width: 748px !important;
	}
	@media (min-width: 992px) {
		max-width: 960px !important;
	}
	@media (min-width: 1200px) {
		max-width: 1140px !important;
		margin: auto;
	}
	@media (max-width: 768px) {
		width: 95%;
		margin: auto;
	}
}
//salon detail page heading text
.salondetailheadertitlecomp{
.col-sm-12.salon-details-title-edit {
    padding: 0;
}

}
.salonofferstitle.title {
	.main-title.h3 {
		font-weight: 700;
		text-transform: uppercase;
		padding-left: 0px;
		border-bottom: 2px solid #5f6167;
	}
	.title-component.borderBottom {
		border-bottom: 0px;
	}
}

.salondetailstitle.title {
	.main-title.h3 {
		font-weight: 700;
		text-transform: uppercase;
		padding-left: 0px;
		border-bottom: 2px solid #5f6167;
	}
	.title-component.borderBottom {
		border-bottom: 0px;
	}
}

.salondetailssocialshareing.salondetailsocialsharing {
	.h3 {
		font-weight: 700;
		text-transform: uppercase;
		border-bottom: 2px solid #ffffff;
		color: #C8102E;
	}
	.hidden-xs salontitle_salonsmalltxt,
	.salontitle_salonlrgtxt {
		color: #c8102e;
    }
    
}

.skinny-text-component {
	background: #fff;
	border-top: 1px solid #5f6167;
	border-bottom: 1px solid #5f6167;
	color: #1e3e6e;
	.skinny-with-img {
		.skinny-img {
			@media (min-width: 992px) {
				height: 84px;
				float: right;
			}
			@media screen and (max-width: 991px) {
				width: 100%;
			}
		}
		.display-table {
			@media (max-width: 991px) {
				display: table;
				table-layout: fixed;
				width: 100%;
			}
		}
		.tableCell {
			@media (min-width: 992px) {
				display: table-cell;
				vertical-align: middle;
				float: none;
			}
		}
		.table-cell {
			@media (max-width: 991px) {
				display: table-cell;
				vertical-align: middle;
				float: none;
			}
		}
		.table-cell:first-child {
			@media (max-width: 767px) {
				padding: 0;
			}
		}
		.skinny-title {
			padding: 0px;
			@media screen and (max-width: 991px) {
				padding-top: 24px;
				padding-bottom: 12px;
			}
			h3 {
				font-size: 20px;
				font-weight: 700;
				@media screen and (max-width: 991px) {
					font-size: 1.2em;
				}
			}
		}
		.skinny-msg {
			font-style: italic;
		}
		.skinny-details {
			text-align: right;
			font-weight: bold;
			@media screen and (max-width: 991px) {
				padding-top: 12px;
				padding-bottom: 24px;
			}
		}
	}
}

.sdp-template-bottom-wrap {
	.col-block {
		font-size: 13px;
		margin-bottom: 2em;
	}
}

.salon-details>.col-block>section {
	@media (min-width: 992px) {
		border-right: 1px solid #5f6167;
		min-height: 270px;
		padding-right: 20px;
	}
}

.salondetails {
	display: inline-block;
	float: left;
}

.store-hours.sdp-store-hours span {
	display: flex;
}

.store-hours {
	float: left;
	width: 92%;
	max-width: 320px;
	@media (min-width: 992px) {
		min-height: 155px;
	}
}

.sdp-store-hours {
	@media (min-width: 768px) {
		min-height: 55px;
		width: 100%;
		max-width: 420px;
	}
	.days {
		float: left;
		width: 35%;
	}
}

.sdp-template-wrap {
	.map-directions {
		border: none;
		padding: 0;
		width: 56%;
		@media (min-width: 992px) {}
		@media (max-width: 767px) {
			width: 100% !important;
			margin-bottom: 2ex;
		}
		.check-in {
			padding: 0 15px;
			border: none !important;
			display: block !important;
			width: 97%;
			@media (max-width: 767px) {
				padding: 0;
				width: 100%;
			}
			.location-details {
				float: left;
				vertical-align: top;
				width: 70%;
				max-width: 245px;
				margin: 0;
				.vcard {
					padding: 0px;
				}
			}
			.sdp-left {
				max-width: 100000px;
				position: relative;
			}
			.wait-time {
				position: relative;
				float: left;
				min-width: 78px;
				max-width: 85px;
				margin: 0 1em 0 0;
				padding: 0 1%;
				border: 1px solid #5f6167;
				border-radius: 6px;
			}
		}
	}
}

.locations {
	.check-in {
		.wait-time.call-now {
			.vcard {
				background: none;
			}
		}
		.wait-time {
			.vcard {
				height: 60px;
			}
			.h4 {
				color: #5f6167;
				font-size: 16px;
				text-align: center;
				text-transform: uppercase;
				margin-bottom: 8px;
				margin-top: 0;
			}
			.h6 {
				color: #5f6167;
				font-family: "open-sans", Helvetica, Arial, sans-serif;
				font-size: 11px;
				font-weight: 300;
				text-align: center;
				text-transform: uppercase;
				margin-top: 0;
				margin-bottom: 0;
			}
		}
	}
}

#locations-accordion.locations-accordion .container {
	width: 100%;
	padding: 0px 10px;
	height: max-content;
	@media (max-width: 768px) {
		padding: 0;
	}
}

.accordion {
	.panel {
		background: #f2f2f2;
		-webkit-box-shadow: none;
		box-shadow: none;
		border: none;
		margin-bottom: 0;
		border-radius: 4px;
	}
	.panel-heading {
		color: #5f6167;
		background-color: #c8102e;
		border-color: #5f6167;
		.panel-title {
			font-family: "open-sans", Helvetica, Arial, sans-serif;
			font-size: 1em;
			text-transform: none;
			font-weight: normal;
			font-style: italic;
			padding-top: 15px;
			padding-bottom: 14px;
			@media (max-width: 470px) {
				display: table;
				margin-left: 0;
			}
			@media (max-width: 320px) {
				font-size: 14px !important;
			}
			span {
				@media (max-width: 470px) {
					display: table-cell;
					border-radius: 0;
					background: none;
					vertical-align: top;
					width: 71%;
					top: 17px;
				}
			}
			span.circle-backdrop {
				@media (max-width: 470px) {
					width: 10%;
					left: -10px;
				}
			}
			span.accordion-trigger {
				@media (max-width: 470px) {
					width: 8%;
					right: 0;
					text-align: right;
					margin-right: 0;
				}
			}
		}
		.h4 {
			span {
				color: white;
			}
		}
		.circle-backdrop {
			padding-bottom: 0;
			top: 15px;
		}
		.panel-body {
			padding-top: 2.2ex;
			padding-bottom: 2.2ex;
			@media (max-width: 767px) {
				padding-left: 5px;
				padding-right: 5px;
			}
		}
	}
	.panel-body {
		padding-top: 2.2ex;
		padding-bottom: 2.2ex;
		@media (max-width: 767px) {
			padding-left: 5px;
			padding-right: 5px;
		}
		div#firstNearbySalon,
		div#secondNearbySalon {
			display: none;
		}
		.h4 {
			font-size: 16px;
		}
	}
}

h1.hidden-xs.salontitle_salonsmalltxt,
h2.hidden-xs.salontitle_salonlrgtxt,
a.more,
a.less {
	color: #c8102e;
}

h1.hidden-xs.salontitle_salonsmalltxt {
	font-size: 19px;
	line-height: 80%;
	font-weight: bold;
	display: block;
	margin: 0px;
}

.salontitle_salonlrgtxt {
	margin: 0px;
	font-size: 35px;
	line-height: 45px;
	margin-bottom: 30px;
}

.salon-details .h4 a {
	color: #c8102e !important;
	font-weight: 700;
}
.salon-details a {
    color: black !important;
}
.sdp-salon-offers .promotionmessage {
	width: 50%;
	float: left;
	@media (max-width: 767px) {
		width: 100% !important;
		margin-bottom: 15px;
		margin-right: 0;
	}
}

.sdp-template-bottom-wrap .salondetailsocialsharing {
	@media (max-width: 767px) {
		display: none;
	}
}

.no-padding {
	padding: 0px;
}

.sdp-salon-offers {
	.salonoffersparsys1>div {
		@media (max-width: 767px) {
			width: 100%;
			margin-bottom: 15px;
			margin-right: 0;
		}
	}
}