.locations-near-you {
  #searchBtnLabel {
    margin-top: 20px;
  }

  #location-addressHolder2 {
    @media (min-width: 992px) {
      border-bottom: 2px solid #f3f3f3;
    }
  }

  .find-salon-title {
    @media (max-width: 768px) {
      margin-bottom: 10px;
    }
  }

  .LNY-img img {
    width: 100%;
    position: relative;
    top: -4px;

  }

  .SGST-dtp-show {
    margin-bottom: 10px;
  }

  #searchBtnLabel {
    padding: 10px;

    > div {
      float: none;
      margin: 0 auto;

      a {
        background-color: #f3f3f3;
      }
    }
  }

  margin-top: 20px;

  .srch-row {
    .input-group-addon {
      background-color: #f3f3f3;
      border: none;

      &.btn {
        background-color: #49717d;
        font-size: 14px;
        font-weight: bold;
      }
    }

    input {
      width: 100%;
      height: 48px;
      border: 1px solid #f3f3f3;
      border-left: none;
      background-color: #f3f3f3;
    }

    a {
      width: 100px;
      border-color: transparent;
      min-height: auto;
    }
  }

  .location-dtls {
    margin-top: 20px;
    margin-bottom: 48px;

    .main-salon, .other-salons {
      .salon-loc, .ph-no, .salon-addr {
        line-height: 12px;
        margin-bottom: 24px;
      }

      .ph-no {
        margin-top: 12px;
      }

      .salon-loc {
        @media (max-width: 768px) {
          margin-bottom: 0;
        }
      }

      .salon-brand {
        margin: 12px 0 6px 0;
        display: block;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    span {
      display: block;
      font-size: 12px;
      font-family: 'open-sans';
      line-height: 12px;
    }

    .closedNow {
      font-style: italic;
      @media (min-width: 1024px)and (max-width: 1366px) {
        display: inline !important;
      }
    }

    h3 {
      margin-top: 12px;
      margin-bottom: 5px;
    }

    .salon-loc, .salon-tme {
      margin-bottom: 21px;
    }

    .salon-tme {
      @media (max-width: 767px) {
        text-align: left;
      }
    }

    .ph-no {
      margin-bottom: 12px;
      line-height: 12px;
    }

    .salon-distance {
      margin-bottom: 16px;
    }

    .hcp-store-title {
      font-size: 12px;
      color: #727173;

      &:hover {
        text-decoration: underline;
        color: #727173;
      }
    }

    .favorite.icon-heart {
      position: relative;
      top: -4px;
      margin-left: 4px;
    }

    .salon-drct {
      a {
        background: url('../../clientlibs/signaturestyle-publish-clientlibs/resources/images/Regis-Icons/Arrow-Link-teal-bolder.svg') no-repeat center right;
        padding-right: 10px;
        font-weight: bold;

        &:hover {
          text-decoration: none;
          background: url('../../clientlibs/signaturestyle-publish-clientlibs/resources/images/Regis-Icons/Arrow-Link-teal-hover-bolder.svg') no-repeat center right;
        }
      }
    }

    .distance-away span {
      background: url('../../clientlibs/signaturestyle-publish-clientlibs/resources/images/Regis-Icons/Regis_distance.svg') no-repeat left center;
      padding-left: 30px;
    }

    .other-salons {
      .salon-brand, .salon-dist {
        margin: 12px 0 6px 0;
      }

      .salon-loc {
        margin-bottom: 12px;
        @media (max-width: 768px) {
          margin-bottom: 0;
        }
      }

      .hcp-store-title {
        font-size: 12px;
        color: #727173;

        &:hover {
          text-decoration: underline;
          color: #727173;
        }
      }

      .ph-no {

        margin-top: 12px;
      }

      .salon-drct {
        margin-bottom: 12px;
      }
    }

    .checkin-badge {
      background: #f3f3f3;
      height: 70px;
      margin-top: 12px;
      width: 100%;
      padding: 5px;

      h3 {
        margin: 5px 0;;
      }
    }

    .hcp-salon-lny {
      padding-right: 0;

      .salon-brand {
        &.favHeartButton {
          background: url('../../clientlibs/signaturestyle-publish-clientlibs/resources/images/Regis-Icons/Regis_heart.svg') no-repeat right top;
          background-size: 19px 19px;
          background-position-y: -1px;
        }
      }
    }

    .checkin-sgst {
      margin-top: 12px;

      .checkin-waittime-hcp {
        padding-left: 0;
        padding-right: 5px;

        .h4 {
          margin: 0;
          margin-top: -3px;
        }

        .waitnum {
          .est-wait-time {
            font-size: 14px;
            display: inline;
            font-family: "merriweather";

          }

          small {
            font-size: 10px;
            font-family: "open-sans";
            color: #727173;
          }
        }

        .est-wait-txt {
          font-size: 12px;
          margin-top: 2px;
          font-family: "open-sans";
        }

      }

      .checkin-sec {
        padding-left: 0;

        .checkin-btn {
          .btn-primary {
            -moz-border-radius: 0;
            -webkit-border-radius: 0;
            -o-border-radius: 0;
            -ms-border-radius: 0;
            border-radius: 0;
            padding: 5px;
          }

          a {

            .checkin-btn-txt {
              font-size: 0.9em;

            }
          }
        }

      }
    }
  }
}

span.input-group.srch-row {
  .input-group-addon:first-child {
    display: none;
  }

  input#autocompleteLNY {
    height: 43px;
    width: 472px;
    padding-left: 38px;
    border-radius: 42px;
    background: url(/content/dam/costcutters/general-resources/search-icon.png) no-repeat;
    background-size: 24.5px;
    background-color: white;
    background-position: 9px 10px;
    @media (max-width: 768px) {
      width: 320px;
    }
  }

  .input-group-addon:last-child {
    display: none;
  }

}


.regissalonsLNY.integrationcomp.section 
{
    .locations-near-you{
        .col-xs-12 {
            padding-left: 0px !important;
        }
    }
}
//go to location search button 
.lnyclickanc{
   display: block;
    margin-left: -30px;
    z-index: 1000;
    position: absolute;
    right: 0;
    width: 54px;
    height: 43px;
    border-radius: 0 42px 42px 0;
    background: #d81f37;
    &:hover {
            border: 1px solid darkolivegreen;
    border-left: 0px;
    height: 43px;
    cursor: pointer;
        }
	@media(max-width: 768px){
	right: 0;
        top: 0px;
    }
    img{
        background: #d81f37;
        height: 40px;
        width: 43px;
        margin: auto;
        display: table-column-group;
        border-radius: 0 50% 50% 0;
        float: left;
        z-index: 1000;

    }
}