//location-search
.location-dtls {
    .vcard {
        margin-left: 63px;
        span {
            display: block;
            font-size: 12px;
        }
        h3 {
            margin-top: 12px;
            margin-bottom: 0;
        }
        .salon-loc,
        .salon-tme {
            margin-bottom: 21px;
        }
        .openingsoon {
            margin-bottom: 12px;
            font-size: 12px;
            width: 70%;
        }
        .ph-no {
            margin-bottom: 12px;
            a {
                color: #727173;
            }
        }
        .salon-distance {
            margin-bottom: 16px;
            background: url('../../clientlibs/signaturestyle-publish-clientlibs/resources/images/Regis-Icons/Regis_distance.svg') no-repeat center left;
            padding-left: 35px;
        }
        .salon-addr {
            width: 70%;
            margin-bottom: 12px;
        }
        .salon-drct,
        .salon-details {
            display: inline;
            a {
                padding-right: 10px;
                font-weight: bold;
                display: inline-block;
                margin-bottom: 36px;
                margin-right: 40px;
                @media(max-width: 767px) {
                    margin-right: 30px;
                }
                font-size: 12px;
            }
        }
        .other-salons {
            .salon-brand,
            .salon-dist {
                margin: 12px 0 6px 0;
            }
            .salon-loc {
                margin-bottom: 36px;
            }
            .salon-drct {
                margin-bottom: 24px;
            }
        }
        .checkin-badge {
            background: #f3f3f3;
            height: 70px;
            margin-top: 12px;
            width: 100%;
            padding: 5px;
            h3 {
                margin: 5px 0;
            
            }
        }
        .checkin-button {
            background: #404041;
            padding: 3px;
            font-size: 11px;
            color: #fff;
            border: 1px solid #404041;
            width: 100%;
            border-radius: 0;
        }
        .checkin-details {
            margin-bottom: 15px;
            .wait-time,
            .location-details {
                display: inline-block;
            }
            .wait-time {
                font-size: 18px;
                font-family: "merriweather";
                margin-right: 10px;
                span {
                    font-size: 12px;
                    font-family: "open-sans";
                }
                .measure {
                    display: inline;
                    font-size: 10px;
                }
            }
            .location-details {
                font-family: "open-sans";
                position: relative;
                top: -11px;
                .action-buttons {
                    a {
                        font-size: 14px;
                        padding: 5px;
                        -moz-border-radius: 0;
                        -webkit-border-radius: 0;
                        -o-border-radius: 0;
                        -ms-border-radius: 0;
                        border-radius: 0;
                    }
                }
            }
        }
    }
    .siteName {
        display: inline-block;
        margin-top: 6px;
        margin-left: 50px;
        color: #727173;
    }
    .loc-count {
        display: inline-block;
        margin-right: 20px;
        border-right: 1px solid #DADADA;
        padding-right: 20px;
    }
}

.location-search {
    margin-bottom: 63px;
    @media(min-width: 768px) {
        .errorMessage {
            clear: both;
            text-align: center;
        }
    }
    .search-right-column,
    .search-left-column {
        padding: 0;
    }
    .search-right-column {
        .result-container {
            overflow: auto;
            max-height: 561px;
            @media(max-width: 767px) {
                max-height:none;
                width: 100%;
            }
            .nav {
                li {
                    a.btn-default {
                        background: transparent;
                        font-weight: 600;
                        font-family: Montserrat;
                        margin: 8px;
                        padding: 10px;
                        &:hover {
                            border: 0px;
                        }
                    }
                }
                .active {
                    border: 0px;
                }
                li.active {
                    a {
                        background: #c8102e;
                        font-weight: 600;
                        font-family: Montserrat;
                        padding: 10px;
                    }
                }
            }
        }
    }
    #map-canvas {
        height: 561px;
        //width: 100%; changes made for map alignment
    }
    width: 96.8%;
    float: left;
    border: 1px solid #dadada;
    @media(max-width:767px) {
        width: 100%;
        display: flex;
        height: auto;
        border: none;
        flex-direction: column;
        .search-right-column {
            display: flex;
            order: 2;
        }
        .search-left-column {
            display: flex;
            order: 1;
            #map-canvas {
                height: 400px;
            }
        }
    }
    @media (min-width: 992px) {
        margin-left: 10px;
    }
}

.location-search-main {
    .srch-row {
        border: 1px solid #f3f3f3;
        margin: 15px 0;
        .input-group-addon {
            border: none;
            font-weight: bold;
            font-size: 14px;
        }
        input {
            width: 100%;
            height: 48px;
            border: none;
            box-shadow: none;
            background: transparent;
        }
        a {
            width: 100px;
            border-color: transparent;
        }
    }
}

#accordion1,
#accordion {
    .panel {
        background-color: #F9F9F9;
        border: none;
        &.active {
            background: none;
        }
        a {
            &.accordion-toggle {
                color: #404041;
                text-decoration: none;
            }
            .panel-heading {
                background-color: transparent;
                border-color: transparent;
                padding-top: 12px;
                padding-bottom: 12px;
                min-height: 48px;
                .store-title {
                    font-family: 'merriweather';
                    @media (max-width: 767px) {
                        font-size: 14px;
                    }
                    span.loc-count {
                        max-width: 28px;
                    }
                }
            }
            small {
                margin-left: 48px;
                color: #727173;
                &.favorite {
                    position: relative;
                    top: -5px;
                    margin-left: 10px;
                }
                &.subbrand {
                    display: block;
                    clear: both;
                }
            }
        }
        .panel-body {
            padding: 0;
        }
    }
}

.location-search .col-xs-12.col-md-6.col-sm-12.search-right-column.col-block.pull-right {
    float: left !important;
    width: 30% !important;
    position: unset;
    @media (max-width: 768px) {
        width: 100% !important;
        order: 2 !important;
    }
    .search-nav {
        position: absolute;
        top: 0;
        left: 0;
        height: 117px;
        width: 100%;
        background: #c8102e;
        .input-group {
            width: 100%;
            height: 100%;
            display: flex;
            .search-wrapper {
                width: max-content;
                height: max-content;
                margin: auto;
                display: flex;
                @media (max-width: 768px){
                    width: 95%
                }
                input {
                    width: 464px;
                    height: 43px;
                    padding-left: 45px;
                    margin: auto;
                    border-radius: 42px;
                    background: url(/content/dam/costcutters/general-resources/search-icon.png) no-repeat left center;
                    background-color: white;
                    background-size: 15px 15px;
                    background-position-x: 20px;
                    @media (max-width: 767px) {
                        width: 100%;
                    }
                    &:focus {
                        outline: 0;
                    }
                }
                a{
                    
                    button.lnyclick {
                        width: 100px;
                        border: 2px solid white;
                        height: 43px;
                        border-radius: 42px;
                        color: white;
                        font-size: 17px;
                        background: transparent;
                        margin-left: 13px;
                        outline: 0;
                    }
                }
            }
            .input-group-btn {
                display: none;
            }
        }
    }
}

.location-search .col-xs-12.col-md-6.col-sm-12.col-block.search-left-column.pull-left {
    height: 100%;
    width: 70% !important;
    float: right !important;
    @media (max-width: 768px){
        height: max-content;
        width: 100% !important;
        float: right !important;
    }

}
.maps-collapsible-container.collapse {
    @media (max-width: 768px){
        display: block !important;
        width: inherit;
        margin-top: 20px;
    }
}
@media (min-width: 576px) {
    .container.main-wrapper.main.location-search-main {
        max-width: 100% !important;
    }
}

@media (min-width: 768px) {
    .container.main-wrapper.main.location-search-main {
        max-width: 748px !important;
    }
    .location-search .col-xs-12.col-md-6.col-sm-12.col-block.search-left-column.pull-left {
        width: 100%;
        order: 2;
    }
}

@media (min-width: 992px) {
    .container.main-wrapper.main.location-search-main {
        max-width: 960px !important;
    }
}

@media (min-width: 1200px) {
    .container.main-wrapper.main.location-search-main {
        max-width: 1140px !important;
    }
}

.locations.map-directions {
    section {
        .col-md-12.col-sm-12.col-xs-12 {
            flex-wrap: wrap;
            display: flex;
            padding: 10px;
            a {
                //book now button 
                order: 2;
                width: 100%;
                border: 0;
                border-radius: 0 0 7px 7px;

                .wait-time.call-now {
                    .h4 {
                        background: #C8102E;
                        padding: 10px 0;
                        text-align: center;
                        color: white;
                        margin-top: 19px;
                        border-radius: 0 0 7px 7px;
                    }
                }
            }
            a.phone-no {
                height: 17px;
                display: block;
            }
            .location-details {
                order: 1;
                width: 100%;
                .vcard {
                    p {
                        a {
                            color: black;
                            font-family: Montserrat;
                            font-size: 20px;
                            font-weight: 600;
                            span.street-address.sal-loc,
                            span.street-address.sal-loc {
                                font-size: 12px;
                                display: block;
                                font-weight: 500;
                            }
                        }
                    }
                    span.telephone {
                        width: 100%;
                        display: block;
                        margin-top: 5px;
                    }
                }
                .btn-group {
                    display: none;
                }
            }
        }
    }
    a.btn.btn-primary.btn-lg.list-window-checkin {
        font-size: 15px;
        font-weight: 600;
        line-height: 19px;
        margin-top: 10px;
    }
    .phoneBtn {
        color: #c8102e;
        background: white;
       //pointer-events: none;
    }
}


/*.locations.map-directions section .col-md-12.col-sm-12.col-xs-12 div.col-md-12.col-sm-12.col-xs-12:last-child {
position: absolute;
top: 73px;
}*/

button.btn.btn-default.location-search-btn.customTheme {
    background: #c8102e;
    border: 1px solid #c8102e;
    color: white;
}

.location-search-title {
    .col-xs-8.col-sm-10 {
        @media (max-width: 767px) {
            width: 100%;
        }
        h2 {
            color: #c8102e;
            font-weight: 700;
            font-size: 72px;
            font-family: Montserrat;
            margin-bottom: 30px;
            @media (max-width: 767px) {
                font-size: 38px;
                margin-bottom: 0px;
            }
        }
    }
}

.container.main-wrapper.main.location-search-main {
    padding-top: 130px;
    position: unset;
}

.locationsearch.integrationcomp.section {
    position: relative;
    max-width: 1440px;
    margin: auto;
}

span.location-index {
    display: none;
}

.distance,
.telephone,
.closing-time {
    color: #3E3E3E;
    font-family: Montserrat;
    font-size: 12px;
    letter-spacing: 0;
    font-weight: 500;
    line-height: 1px;
}

.location-search-results.tab-content {
    section.check-in {
        display: flex;
        position: relative;
        height: max-content;
        width: 100%;
        background: #F3F3F3;
        padding: 7px 0 0;
        .col-md-12.col-sm-12.col-xs-12 {
            flex-wrap: wrap;
            display: flex;
            width: 95%;
            margin: auto;
            padding: 0px;
            .col-md-12.col-sm-12.col-xs-12 {
                flex-wrap: wrap;
                display: flex; //flex --
                background: white;
                width: 100%;
                margin: auto;
                padding: 0px;
                &:hover{
                    //border: 1px solid #c8102e;
                    //border-radius: 8px;
                }
                .distance,
                .telephone,
                .closing-time {
                    color: #3E3E3E;
                    font-family: Montserrat;
                    font-size: 12px;
                    letter-spacing: 0;
                    font-weight: 500;
                    line-height: 20px;
                    padding-left: 25px;
                }
                .telephone{
                    background: url(/content/dam/costcutters/general-resources/cc-phone-20x20.png) no-repeat;
                    margin-top: 0px !important;
                }
                .closing-time {
                    background: url(/content/dam/costcutters/general-resources/cc-clock-20x20.png) no-repeat;
                    padding-bottom: 3px;
                    line-height: 35px;
                }
                .distance {
                    // margin-left: 20px;
                    background: url(/content/dam/costcutters/general-resources/cc-map-pin-20x20.png) no-repeat;
                }
            }
        }
    }
    .location-details {
        .vcard {
            padding-bottom: 0px;
            p.showOpen {
                margin: 0px;
            }
            .store-title {
                color: #2D2A26;
                font-family: Montserrat;
                font-size: 20px;
                font-weight: 600;
                letter-spacing: 0;
                line-height: 24px;
            }
            span.street-address.sal-loc {
                color: #3E3E3E;
                font-family: Montserrat;
                font-size: 12px;
                letter-spacing: 0;
                line-height: 18px;
            }
        }
    }
    .wait-time.call-now {
        .vcard {
            padding-top: 0px;
            padding-bottom: 0;
            height: max-content;
        }
        .h4 {
            background: #C8102E;
            padding: 14px 0;
            text-align: center;
            color: white;
            line-height: 25px;
            margin-top: 8px;
            height: 49px;
            border-radius: 0 0 7px 7px;
            margin-bottom: 0px;
        }
    }
    .check-in.active {
        border-bottom: 0;
        .col-md-12.col-sm-12.col-xs-12 .col-md-12.col-sm-12.col-xs-12{
            border: 1px solid #c8102e;
            border-radius: 8px;
            box-shadow: 1px 2px 4px;
        }
    }

}
.location-search-results.tab-content section.check-in .col-md-12.col-sm-12.col-xs-12 .col-md-12.col-sm-12.col-xs-12:nth-child(2) {
    position: absolute;
    top: 100px;
    display:none;
}
.locations.map-directions section .col-md-12.col-sm-12.col-xs-12 .location-details .vcard span.telephone {
    width: 100%;
    display: block;
    margin-top: 10px;
}
.locationsearch.integrationcomp.section{
    button.btn.navbar-toggle.btn-map.collapse.in {
        display: none; //location page-- navigation map button
    }
}
.locations .check-in .wait-time:not(.call-now){
    .vcard, .h6, .h4{
        display:none;
    }

}
.locationsearch.integrationcomp.section{
    .result-container.collapse {
        display: block !important;
        ul.nav.nav-pills {
            display: none;
        }
    }
}
.map-pointer-section {
    display: none;
    margin-left: 10px;
    margin-bottom: 15px;
    .pointer {
        filter: contrast(0.5);
        height: 15px;
        width: 15px;
    }
    .address {
        height: 28px;
        width: 253.08px;
        color: #3E3E3E;
        font-family: Montserrat;
        font-size: 12px;
        letter-spacing: 0;
        line-height: 18px;
        font-weight: 600;
        text-transform: uppercase;
    }
}
