/*Temporary*/
.headerlogin.section{
	height: 1000px;
}
.cq-element-data .headerlogin.section{
    height: auto;
}
/*Temporary ends*/

.sign-in-dropdown-wrapper{
    &.dropdown-menu {
        padding: 0;
        @media(min-width:768px){
			left:65%;
        }
				@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2)  and (orientation: portrait)  {
    left: 50%;

}
        left: 134px;
        margin-top: 20px;
        font-size: inherit;
        border: none;
        z-index: 8999;
    }
    .login{
        &.section{
			overflow: visible;
			clear: none;
        }
    }
}

.login-main{

	.login-wrapper, .reset-wrapper{
		width: 350px;
        border: 1px solid;
        border-radius: 4px;
        padding: 30px;
        border: 1px solid #c8102e;
        margin: 0 auto;

        &.arrow-up{
        	position: relative;
		    background: #fff;
		    border: 1px solid #5f6167;

		    &:before{
		    	bottom: 100%;
			    left: 50%;
			    border: solid transparent;
			    content: " ";
			    height: 0;
			    width: 0;
			    position: absolute;
			    pointer-events: none;
			    border-color: rgba(136, 140, 142, 0);
			    border-bottom-color: #5f6167;
			    border-width: 21px;
			    margin-left: -21px;
		    }
		    &:after{
		    	bottom: 100%;
			    left: 50%;
			    border: solid transparent;
			    content: " ";
			    height: 0;
			    width: 0;
			    position: absolute;
			    pointer-events: none;
			    border-color: rgba(255, 255, 255, 0);
			    border-bottom-color: #fff;
			    border-width: 20px;
			    margin-left: -20px;
		    }
        }
		h4{
			margin-top: 0;
            margin-bottom: 30px;
            color: #585858;
			font-size:1.45em;
		}
		.h4{
			margin-top: 0;
            margin-bottom: 30px;
            color: #585858;
			font-size:1.45em;
		}
		.form-group{
			margin-bottom: 20px;
			label{
				margin-bottom: 10px;
            	font-weight: normal;
			}
			input{
                &::-webkit-input-placeholder{
                    font-style: italic;
                }
                &:-moz-placeholder{
                    font-style: italic;
                }
                &::-moz-placeholder {
                    font-style: italic;
                }
                :-ms-input-placeholder {
                    font-style: italic;
                }
            }
		}
		.checkbox-links{
			margin-bottom: 20px;
            overflow: hidden;
			label{
				font-weight: normal;
				span{
					padding-left: 8px;
				}
                span.rem-me-txt{
                    font-size: 13px;
                    position: relative;
                    top: -3px;
                }
			}
            a.forgot-pwd{
                font-size: 13px !important;
				color:#1e3e6e;
            }
		}
		a#sign-in-btn{
			font-size: 1.45em;
			color: #ffffff;
		}
		.register-link{
			margin: 20px 0 0;
            text-align: center;
            font-size: 13px;
            a{
                font-size: 13px !important;
				color:#1e3e6e;
            }
		}
	}
	.reset-wrapper{


		.reset_getEmail{
			display:block;
			p{
				a{
					color:#1e3e6e;
    				text-decoration: underline;
				}
			}

			&>a{
				font-size: 1.45em;
            }


		}
		.reset_emailConfirm, .reset_password{
			display:none;
		}
		.reset_emailConfirmation_password_changed{
			p{
				a{
					color:#1e3e6e;
    				text-decoration: underline;
				}
			}
		}


	}
}
/*For Title-desc inside about you and login component*/
.title-desc{
	margin-bottom: 20px;
	margin-top: 0;
	text-transform: none;
}
/*Login popup for Iphone 4 & 5*/
@media (max-width: 320px) {
.login-main{

	.login-wrapper, .reset-wrapper{
		width: 100%;
        }
    }
}
@media (max-width: 991px) {
	.sign-in-dropdown-wrapper{
	    &.dropdown-menu {
	    	left: -1px;
	    }
	}
	.login-main{
		.login-wrapper, .reset-wrapper{
			&.arrow-up{
				&:before{
					left: 14%;
				}
				&:after{
					left: 14%;
				}
			}
		}
	}
}

@media (max-width: 480px){
	.login-main{
		.login-wrapper, .reset-wrapper{
			&.arrow-up{
				&:before{
					left: 92%;
				}
				&:after{
					left: 92%;
				}
			}
		}
	}
}
@media (min-device-width : 414px) and (max-device-width : 736px) {
	.sign-in-dropdown-wrapper{
	    &.dropdown-menu {
	    	left: 35px;
	    }
	}
}
//Birthday Update Css

.birthdayupdatecomp{
    margin: 20px 0;
    .login-main{
        .reset-wrapper{
            h4{
                margin-bottom: 10px !important;
            }
        }
    }
    #birthdaydateupdate-personal{
		display: none;
	}
	label[for="birthdaydateupdate-personal"]{
		display: block;
    }
    label[for="bd_months"],label[for="bd_days"]{
		display: inline;
    }
    #bd_months,#bd_days{
		width: 49%;
        display: inline-block;
    }
}

.year-hidden .ui-datepicker-year{
	display: none !important;
}

#birthdayModal{
    .modal-content{
        -webkit-border-radius: 0;
        -ms-border-radius: 0;
        -moz-border-radius: 0;
        -o-border-radius: 0;
		border-radius: 0;
        text-align: center;
    }
    .modal-footer{
		border-top: 0;
        text-align: center;
    }
}

//login-popup arrows aligning for all iphones
//iphone 5 and 5s
@media (min-device-width : 320px) and (max-device-width : 568px) {
	.sign-in-dropdown-wrapper{
	    &.dropdown-menu {
	    	left: 20px;
	    }
	}
}
//iphone 6
@media (min-device-width : 375px) and (max-device-width : 667px) {
	.sign-in-dropdown-wrapper{
	    &.dropdown-menu {
	    	left: 12px;
	    }
	}
}
//iphone 6s
@media (min-device-width : 414px) and (max-device-width : 736px) {
	.sign-in-dropdown-wrapper{
	    &.dropdown-menu {
	    	left: 52px;
	    }
	}
}
@media (max-width: 768px){
.login-main .login-wrapper, .login-main .reset-wrapper{
width: 100%;
    }

}
.basepageparsys{
h1.main-title {
    color: #C8102E;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: 1px;
    word-spacing: 1px;
    font-family: motserrat;
}


}
.login.integrationcomp.section{
    margin: auto;
    @media (min-width: 768px){
    max-width: 748px !important;
}
@media (min-width: 992px){
    max-width: 960px !important;
}
@media (min-width: 1200px){
    max-width: 1140px !important;
}
    @media(max-width:768px){
		max-width: 85%;
    width: 100%;
    }
    a#sign-in-btn {
        background: white;
    color: #c8102e !important;
        border: 1px solid #c8102e;
    font-size: 18px !important;
    font-weight: 600;
    font-family: Montserrat;
    }
        a#sign-in-btn:hover{
		 background: #c8102e !important;
    color: white !important;

}

}
.forgotpassword{
.login-main 
        {
        .reset-wrapper{
            .reset_getEmail {
                a#get-email-btn{

                 border: 1px solid #c8102e;
    float: left;
    background: white;
            text-transform: uppercase;
    color: #c8102e;
            &:hover{

background-color: #c8102e;
    color: white;
    font-weight: 600;
    letter-spacing: 1px;
            }
			}
        }
    }
}
}