/*main-home*/
main.container.main-wrapper.main.main-home, .container.main-wrapper.main main-home {
	height: max-content;
	padding: 0;
    max-width: 1440px;
	margin-top: 100px;
}
main.container.main-wrapper.homepage-wrapper.main.main-home.mlb-wrapper,.container.main-wrapper.main main-home {
	height: max-content;
	margin-top: 100px;
}
.displayNone {	
	display: none;	
}
.container {		
	/*width: 1440px;*/		
	margin: auto;		
}
.content.parsys {
	width: 1440px;
	margin: auto;
}
.content{
	font-family: Montserrat;
}
.product-details-container{	
	width:1000px;	
}
.text-left.title-component.borderBottom
.main-title.h3 {
	margin-top: 0 !important;

}
.section {	
    overflow: hidden;	
    clear: both;
}


.acs-commons-resp-colctrl-col-60 .htmlcoder.section {
	padding-top: 15px;
}

.ee-components-view {
	max-width: 100%;
}

a#back-to-top {
    text-align: center;
    position: fixed;
    bottom: 60%;
    right: 20px;
    border-radius: 50%;
    border: 1px solid #c8102e;
    z-index: 9999;
    width: 70px;
    padding: 15px 0;
    height: 70px;
    top:300px;
    cursor: pointer;
    text-decoration: none;
    transition: opacity 0.2s ease-out;
    opacity: 0;
    visibility: hidden;
    color: #c8102e;
}
#back-to-top.show {
    opacity: 1;
    visibility: visible;
}
@media (max-width: 1440px){
.container {
    width: 100%;
    }
	.content.parsys {
		width: 100%;
		margin-top: 40px !important;
		margin: auto;
	}
	main.container.main-wrapper.homepage-wrapper.main.main-home.mlb-wrapper {
		padding-left: 0px;
	}
	.container .content.parsys {
		margin-top: 0px !important;
	}
}
@media (max-width: 768px){
main.container.main-wrapper.homepage-wrapper.main.main-home.mlb-wrapper, .container.main-wrapper.main main-home {
    margin-top: 80px;
}
#back-to-top.show {
    display: none !important;
}
} 