
h1.main-title {
    color: #C8102E;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 40px;
}
.title-component .gender-links a{
                height: 35px;
            font-size: 16px;
        }
        .title-component .gender-links {
    padding-left: 11px;
   /* border-bottom: 1px solid #AFAFAF;*/
}
.imgtxt-para {
    font-size: 17px;
    color: black;
    font-weight: 300;
    font-family: Montserrat;
}
.imgtxt-para b {
    font-weight: 500;
}
.main-title.h3 {
    padding-left: 13px;
}
.main-title.h3 {
    color: black;
    font-weight: 500;
}