.product-detail-wrap {
  margin-bottom: 0ex;
  float: left;
}
.product-detail-wrap .product-img img {
  width: 100%;
}
.product-detail-wrap .product-info {
  padding: 10px;
}
.product-detail-wrap .product-info h1 {
  color: #5f6167;
  line-height: 26px;
}
.product-detail-wrap .product-info h1 .salonsmalltxt {
  	font-size: 22px;
    font-weight: 500;
    letter-spacing: 1px;
    color: #5f6167;
    display: block;
    margin-bottom: 20px;
}
.product-detail-wrap .product-info .product-features .features > div {
    width: 50%;
    float: left;
}
.product-detail-wrap .product-info .product-features {
  padding: 10px 0;
  border-top: 1px solid #adadad;
  border-bottom: 1px solid #adadad;
}
.product-detail-wrap .product-info .product-features .features {
  padding: 0;
}
.product-detail-wrap .product-info .product-features .features h4 {
  margin: 0;
  font-size: 22px;
  font-weight: 500;
}
.product-detail-wrap .product-info .product-features .features ul {
  margin-bottom: 2ex;
  font-style: italic;
  list-style-type: none;
  padding-left: 0;
}
.product-detail-wrap .product-info .product-features .usage {
  padding: 0;
}
.product-detail-wrap .product-info .product-features .usage h4 {
  margin: 0;
}
.product-detail-wrap .product-info .product-features .usage p {
  font-style: italic;
}
.product-detail-wrap .product-info .product-features .usage .imgtxt-box {
  padding: 0;
}
.product-detail-wrap .product-info .product-features .usage .imgtxt-box h1,
.product-detail-wrap .product-info .product-features .usage .imgtxt-box h2,
.product-detail-wrap .product-info .product-features .usage .imgtxt-box h3,
.product-detail-wrap .product-info .product-features .usage .imgtxt-box h4,
.product-detail-wrap .product-info .product-features .usage .imgtxt-box h5,
.product-detail-wrap .product-info .product-features .usage .imgtxt-box h6,
.product-detail-wrap .product-info .product-features .usage .imgtxt-box div.imgtxt-heading {
  color: #5f6167;
}
.product-detail-wrap .product-info .product-features .usage .imgtxt-box .imgtxt-subheading {
    color: inherit;
    font-size: 13px;
    font-weight: 500;
    margin: 0;
    text-transform: capitalize;
}
.product-detail-wrap .product-info .product-share {
  margin-top: 4ex;
  padding-left: 0;
}
.product-detail-wrap .product-info .product-share .social-share {
  padding-left: 0;
}
.product-detail-wrap .product-info .socialsharingcomp {
  overflow: hidden;
}
.product-detail-wrap .product-info .socialsharingcomp .footer-social-nav {
  float: left!important;
}
.product-detail-wrap .product-info .socialsharingcomp .footer-social-nav dd:first-child {
  margin-left: 0;
}
@media (min-width: 992px) {
  .product-detail-wrap {
    border: 1px solid #adadad;
  }
  .product-detail-wrap .product-img {
    width: 33%;
  }
  .product-detail-wrap .product-img img {
    width: 100%;
    padding: 30px 10px 10px 10px;
  }
  .product-detail-wrap .product-info {
    padding: 30px;
    width: 67%;
  }
  .product-detail-wrap .product-info h1 {
    font-size: 40px;
    line-height: 39px;
  }
  .product-detail-wrap .product-info .product-features {
    padding: 3ex 0;
  }
  .product-detail-wrap .product-info .product-share {
    margin-top: 1ex;
    padding-right: 0;
  }
  .product-detail-wrap .product-info .product-share .cta-lo-salon {
    padding-right: 0;
  }
  .product-detail-wrap .product-info .product-share .cta-lo-salon a {
    float: right;
  }
}
@media (max-width: 767px) {
  .product-features {
    padding: 0;
  }
  .product-features .usage .img-text-comp {
    margin: 0 !important;
  }
}

.product-detail-wrap .product-info .product-share .social-share {
  padding-left: 0;
}
.product-detail-wrap .product-info .socialsharingcomp {
  overflow: hidden;
}
.product-detail-wrap .product-info .socialsharingcomp .footer-social-nav {
  float: left!important;
}
.product-detail-wrap .product-info .socialsharingcomp .footer-social-nav dd:first-child {
  margin-left: 0;
}

.product-features .pagetagsdisplaycomp h2.h3 {
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
    font-size: 16px;
    text-transform: none;
    margin-top: 0px;
}

dl {
  margin-top: 0;
  margin-bottom: 20px;
}
dt,
dd {
  line-height: 1.42857143;
}
dt {
  font-weight: bold;
}
dd {
  margin-left: 0;
}
.dl-horizontal dt {
    float: left;
    width: 160px;
    clear: left;
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .dl-horizontal dd {
    margin-left: 180px;
  }

.socialsharinggenericcomp .text-center dl dd {
    margin: 0 10px;
}
.socialsharinggenericcomp dl dd {
    display: inline-block;
}
.socialsharinggenericcomp .h3{
	font-size: 18px !important;
}
