.displayNone {
    display: none;
}

.container {
    font-family: Montserrat;
}

.product-details-container {
    width: 1000px;
}

.product-details.container{
     width: 1000px;
}
.product-details .title-component .title .h3{
    font-weight: bold !important;
    color: #5f6167 !important;
    text-transform: capitalize;
    font-family: Montserrat !important;
}
@media (min-width: 1200px) {
    .costcutters-container {
        width: 1170px;
    }
}
@media (min-width: 768px) {
    .costcutters-container {
        padding-right: 0px;
        padding-left: 0px;
    }
}

.costcutters-container {
    padding-right: 10px;
    padding-left: 10px;
    margin-right: auto;
    margin-left: auto;
    margin-top : 30px;
    /*width: 1000px;*/
}

.product-container .h4.selected {
    font-size: 24px;
    text-align: left;
    line-height: 36px;
    color: #c8102e;
    font-family: montserrat, sans-serif;
    font-weight: 800;
    font-style: normal;
    border-bottom: 1px solid #5f6167;
    padding-bottom: 15px;
}

.product-container li > a {
    font-family: montserrat, sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #3e3e3e;
    font-size: 13px;
}

.product-wrap .h4 > a {
    font-size: 19px;
    text-align: left;
    line-height: 17px;
    color: #2d2a26;
    font-family: montserrat, sans-serif;
    font-weight: 500;
    font-style: normal;
    border-bottom: 1px solid #5f6167;
    padding-bottom: 12px;
}

.product-wrap .list-unstyled {
    padding-top: 6px;
}

.prod-desc {
    font-family: montserrat, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 15px;
    text-align: left !important;
    line-height: 15px;
    color: #2d2a26;
}

.productshowcase .product-list-wrap div.prod-info img {
    background: rgba(243, 243, 243, 255);
}

/*.heroimage {
    margin-right: 30px;
    margin-left: 30px;
}*/

.title1 {
    font-family: montserrat, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 72px;
    text-align: left;
    line-height: 72px;
    color: #ffffff;
    margin-left: 100px;
}

.top-left .title1, .top-left .title2 {
    margin-left: 100px;
}

.top-right .title1, .top-right .title2 {
    margin-right: 100px;

}

.title2 {
    font-family: montserrat, sans-serif;
    font-size: 33px;
    font-weight: 400;
    font-style: normal;
}

/*Products page custom dropdown css*/
.product-page .product-dropdown.dropdown button {
    text-align: left;
    background: url('../../../../supercuts/clientlibs/sc-publish-clientlibs/resources/images/select-arrow@2x.png') no-repeat 97% 50% #ffffff;
    background-size: 8%;
}

.product-page .product-dropdown.dropdown.open button {
    background: url('../../../../supercuts/clientlibs/sc-publish-clientlibs/resources/images/select-arrow@2x-UP.png') no-repeat 97% 50% #ffffff;
    background-size: 8%;
}

.product-page .product-dropdown.dropdown button:focus,
.product-page .product-dropdown.dropdown button:hover,
.product-page .product-dropdown.dropdown button:active {
    border: 1px solid #cccccc;
    outline: none;
    box-shadow: none;
}

.product-page .product-dropdown.dropdown button #dropdown-selected-value {
    color: #c8102e;
    font-size: 16px;
    font-weight: bold;
}

.product-page .product-dropdown.dropdown ul.dropdown-menu {
    width: 100%;
    position: relative;
    top: 0;
    border-radius: 0;
    padding: 10px 0;
    margin: 0;
    border-top: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none;
}

.product-page .product-dropdown.dropdown ul.dropdown-menu ul.list-unstyled {
    padding-left: 40px;
}

.product-page .product-dropdown.dropdown ul.dropdown-menu > li > span {
    color: #c8102e;
    padding: 5px 20px 5px 15px;
    display: inline-block;
    font-weight: bold;
    border-left: 5px solid #c8102e;
    background: #F5F6F8;
    width: 100%;
    font-family: montserrat, sans-serif;
    font-weight: 600;
}

.product-page .product-dropdown.dropdown ul.dropdown-menu > li > a {
    color: #3e3e3e;
    padding: 5px 20px;
    font-weight: bold;
    font-family: "futura-pt-condensed";
    font-size: 18px;
}

.product-page .product-dropdown.dropdown ul.dropdown-menu ul.list-unstyled > li > a {
    padding: 5px 0;
    display: inline-block;
    color: #3e3e3e;
}

.product-page .product-dropdown.dropdown ul.dropdown-menu ul.list-unstyled > li > span {
    color: #3e3e3e;
    border-left: 5px solid #c8102e;
    background: #F5F6F8;
    display: inline-block;
    width: 100%;
    padding: 5px 0 5px 3px;
}

.productshowcase.section, .htmlcoder.section, .ctabutton.section {
    overflow: inherit;
    clear: both;
}
.productshowcase.section .row{
	margin-right: -20px !important;
    margin-left: -20px !important;
    margin-top: -20px !important;
    margin-bottom: -20px !important;
}

@media (max-width: 768px) {
   .prod-desc {
       font-weight: 600;
       font-style: normal;
       font-size: 10px;

   }
}

.contact-us-form .accordion .panel{
	background: #ffffff;
}

.overlay {
   position: fixed;
   background-color: #000;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: 9999;
   opacity: .5
}

.overlay #ajaxloader1 {
   position: absolute;
   width: 60px;
   height: 60px;
   left: 50%;
   top: 50%;
   margin: 0 0 0 -15px;
   border: 8px solid #fff;
   border-right-color: transparent;
   border-radius: 50%;
   box-shadow: 0 0 25px 2px #eee;
   -webkit-animation: spin 1s linear infinite;
   -moz-animation: spin 1s linear infinite;
   -ms-animation: spin 1s linear infinite;
   -o-animation: spin 1s linear infinite;
   animation: spin 1s linear infinite
}

@-webkit-keyframes spin {
   from {
       -webkit-transform: rotate(0);
       opacity: .4
   }

   50% {
       -webkit-transform: rotate(180deg);
       opacity: 1
   }

   to {
       -webkit-transform: rotate(360deg);
       opacity: .4
   }
}

@-moz-keyframes spin {
   from {
       -moz-transform: rotate(0);
       opacity: .4
   }

   50% {
       -moz-transform: rotate(180deg);
       opacity: 1
   }

   to {
       -moz-transform: rotate(360deg);
       opacity: .4
   }
}

@-ms-keyframes spin {
   from {
       -ms-transform: rotate(0);
       opacity: .4
   }

   50% {
       -ms-transform: rotate(180deg);
       opacity: 1
   }

   to {
       -ms-transform: rotate(360deg);
       opacity: .4
   }
}

@-o-keyframes spin {
   from {
       -o-transform: rotate(0);
       opacity: .4
   }

   50% {
       -o-transform: rotate(180deg);
       opacity: 1
   }

   to {
       -o-transform: rotate(360deg);
       opacity: .4
   }
}

@keyframes spin {
   from {
       transform: rotate(0);
       opacity: .2
   }

   50% {
       transform: rotate(180deg);
       opacity: 1
   }

   to {
       transform: rotate(360deg);
       opacity: .2
   }
}