.registration {
	fieldset {
		margin-bottom: 5px;
	}
    .row {
		margin-right: -10px !important;
		margin-left: -10px !important;
        @media (max-width: 768px){
            margin: 0px !important;
        }
    }
    h2 {
		margin-bottom: 0;
		font-size: 20px;
		padding-left: 22px;
	}
	.row.grey-background {
		background: #e8e8e8;
		padding: 1em 20px 0 20px;
		margin-top: 10px;
		overflow: hidden;
		@media (max-width: 768px) {
			padding: 1em 0 0;
            margin: 0px !important;
		}
	}
	.added-salons-container {
		.locations.map-directions {
			display: flex;
			background: #e8e8e8;
			.salon-type-condition-container {
				width: 100%;
				margin-top: 20px;
			}
		}
	}
	.form-control {
		padding: 3px 12px;
		height: 34px;
	}
	input {
		&:focus {
			border: 1px solid #43aae0;
			box-shadow: none;
		}
	}
	input::-webkit-input-placeholder {
		font-style: italic;
	}
	input::-moz-placeholder {
		font-style: italic;
	}
	input:-ms-input-placeholder {
		font-style: italic;
	}
	label {
		font-weight: normal;
		font-size: 14px;
		margin-bottom: 3px;
		padding: 0px;
		&.col-md-3 {
			width: 100px;
		}
		&.phone-label {
			display: block;
			padding-left: 10px;
			@media (max-width: 768px) {
				padding-left: 0px;
			}
			&+input {
				display: inline-block;
				width: 50%;
				@media (max-width: 480px) {
					width: 100%;
					margin-bottom: 15px;
				}
			}
		}
		&.gender {
			display: block;
		}
	}
	input {
		&.phone-option {
			margin-left: 16px;
			&+label {
				margin-left: 10px;
			}
		}
		&#gender-female {
			margin-left: 16px;
		}
		&.gender-option {
			display: inline-block;
			&+label {
				margin-left: 10px;
			}
		}
	}
	#cta-submit-button {
		width: 200px !important;
		margin: 10px auto;
	}
	.general-submit-error {
		&.error-msg {
			text-align: center;
		}
	}
	.duplicate-error {
		&.error-msg {
			text-align: center;
		}
	}
	.phone-section {
		.col-md-12 {
			margin-bottom: 5px;
		}
		.col-md-6 {
			@media(max-width: 768px) {
				padding:0;
			}
		}
		.phone-chk {
			input,
			label {
				margin-top: 3px;
				padding: 0 !important;
			}
		}
	}
	.salonselector {
		margin-top: 15px;
	}
}

@media(max-width:768px) {
	.registration {
		.flowwrapper {
			.col-md-12 {
				padding: 0;
			}
		}
	}
}

.registerandjoin {
	width: 100%;
	padding: 0 0 20px 0!important;
}

.reg-and-join {
	padding: 0 !important;
	margin: 0 auto !important;
	clear: none !important;
	float: none !important;
	a {
		color: #43aae0;
	}
	.login-main {
		.login-wrapper {
			width: auto;
			float: left;
			padding: 0;
			.form-group label {
				margin-bottom: 5px;
			}
			.header {
				background: url('../../clientlibs/sc-publish-clientlibs/resources/images/supercuts-club-logo-landing.png') #003f72 no-repeat 99% 48%;
				background-size: 20%;
				height: 65px;
				h2,
				h3 {
					font-size: 42px;
					color: #fff;
					margin-top: 10px;
					float: left;
					margin-right: 10px;
				}
				h2 {
					@media(max-width: 768px) {
						margin-left:10px;
					}
				}
				h3 {
					font-size: 20px;
					@media(max-width: 768px) {
						display:none;
					}
				}
				img {
					float: right;
					height: auto;
					width: 115px;
					margin-top: 17px;
				}
			}
			.sign-and-enroll {
				padding: 0 20px;
				margin: 20px 0;
				border-right: 1px solid #cccccc;
				h4 {
					margin-bottom: 10px;
					font-size: 20px;
				}
				h6 {
					margin: 0;
					font-size: 13px;
					font-weight: normal;
					font-family: sans-serif;
					margin-bottom: 10px;
				}
				.confirm-age {
					margin-bottom: 10px;
					label {
						color: #585858;
						font-size: 14px;
						font-weight: normal;
						width: 83%;
						&.css-label {
							width: auto;
							margin-top: -20px;
							margin-right: 10px;
							@media(max-width: 767px) {
								margin-top:-60px;
							}
						}
					}
				}
				@media(max-width:768px) {
					width: 93%;
					margin-left: 10px;
					border: none;
				}
			}
			.reg-and-enrol {
				margin: 20px 0;
				padding: 0 20px;
				h4 {
					margin-bottom: 5px;
					font-size: 20px;
				}
				h6 {
					margin: 0;
					font-size: 13px;
					font-weight: normal;
					font-family: sans-serif;
					margin-bottom: 20px;
				}
				@media(max-width:768px) {
					width: 93%;
					margin-left: 10px;
				}
			}
			#sign-in-btn {
				margin-bottom: 10px;
			}
			.checkbox-links {
				margin-bottom: 0;
			}
		}
	}
}


/* Css exclusively for checkboxes in positionandexperience component*/

.aboutyoucomponent {
	input[type=checkbox].css-checkbox+span.css-label,
	input[type=radio].css-checkbox+span.css-label {
		padding-left: 26px;
		padding-bottom: 26px;
		vertical-align: middle;
		height: 26px;
		border: 1px solid #ccc;
		display: inline-block;
		line-height: 32px;
		background-repeat: no-repeat;
		background-position: 0 0;
		font-size: 16px;
		width: auto;
		cursor: pointer;
		background-size: 100%;
		margin-left: 5px;
	}
	input[type=checkbox].css-checkbox:checked+span.css-label,
	input[type=radio].css-checkbox:checked+span.css-label {
		background-image: url('/apps/regis/clientlibs/costcutters/clientlibs/publish-clientlibs/resources/images/checkbox.png');
	}
	input[type=checkbox].css-checkbox:disabled+span.css-label,
	input[type=radio][disabled].css-checkbox:disabled+span.css-label {
		background-image: url('../../clientlibs/sc-publish-clientlibs/resources/images/checkbox-disabled.png');
		border: none;
	}
	span.css-label {
		background-image: url('/apps/regis/clientlibs/costcutters/clientlibs/publish-clientlibs/resources/images/checkbox-unchecked.png');
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}
	span.css-label+label {
		width: 86%;
	}
	input[type=radio].css-checkbox+span.css-label+label,
	input[type=radio].css-checkbox+span.css-label+span {
		width: auto;
		padding-left: 10px
	}
}

p.gender-option-error.error-msg {
	margin-left: 10px;
}

p.contact-error.error-msg {
	display: inline-block;
}

.row.registration {
	margin: auto !important;
	width: 100%;
	height: max-content;

	@media (min-width: 768px) {
		max-width: 748px !important;
	}
	@media (min-width: 992px) {
		max-width: 960px !important;
	}
	@media (min-width: 1200px) {
		max-width: 1140px !important;
	}
	@media(max-width:768px) {
		max-width: 85%;
		width: 100%;
	}
	input#mobile-type,
	input#home-type,
	input#gender-male,
	input#gender-female {
		display: none;
	}
    .formelements{
        h2.h2.col-md-12.col-xs-12 {
            font-weight: 600;
        }
        .title-component .col-xs-12{
            //registration page heading text
            @media (max-width: 768px){
                padding: 0px !important;
            }
            .main-title {
                font-weight: 600;
                font-family: Montserrat;
                @media (max-width: 768px){
                    //registration page heading text-- font-weight
                    font-size: 36px;
                    line-height: 36px;
                    color: #C8102E;

                }
            }
        }
    }
    #cta-submit-button {
		width: 200px !important;
		margin: 10px auto;
		-webkit-appearance: button;
		background-color: white;
		border: 1px solid #c8102e;
		color: #c8102e;
		font-size: 16px;
		text-transform: uppercase;
		text-align: center;
		&:hover {
			background-color: #c8102e;
			color: white;
			font-weight: 600;
			letter-spacing: 1px;
		}
	}
	.col-md-12.form-group fieldset.col-md-12 legend.col-md-2 {
		padding: 0px;
		label.gender.col-md-2.col-xs-12 {
			padding: 0px;
		}
	}
	a.show-less-search-results,
	a.show-more-search-results {
		border: 1px solid #c8102e;
		color: #c8102e;
		font-weight: 600;
		background: white;
		letter-spacing: 1px;
		&:hover {
			background-color: #c8102e;
			color: white;
			font-weight: 600;
			letter-spacing: 1px;
		}
	}
	.salonselectoradvanced {
		.show-more-container.panel-group {
			div#show-more-Content {
                background: #e8e8e8;
                .srch-row {
                    margin: 15px auto;
                    width: 100%;
                    .input-group-addon,
                        input {
                        border: 1px solid #c8102e;
                        background: white;
                        width: max-content;
                    }
                    input.form-control + .input-group-addon{
                        background: #c8102e;
                    }
                    input{
                        height: 40px;
                        @media (max-width: 768px){
                            width: 145px;
                        }
                    }
                }
                input#salonSearchAutocomplete {
                    width: 100%;
                    @media (max-width: 768px){
                            width: 200px;
                        }
                }
                span.input-group-addon:nth-child(2) {
                    max-width: 50px;
                    width: 1%;
                }
            }
        }
        .location-search div#salon-boxes {
            display: flex;
            flex-wrap: wrap;
            section.check-in {
                
                width: 33.3%;
                @media(max-width:768px){
					width: 100%;
                }
            }
        }
    }
}