.responsivegrid, .DivbelowNav {

    margin:auto;
    width:100%;
    height: max-content;

    /*margin-top: 100px;
    overflow: auto;
    padding-left: 120px;*/
    /*padding-right: 120px;*/
}
    .DivbelowNav .container {
    width: 100% !important;
    height: max-content !important;
    }
@media (min-width: 768px){
.responsivegrid, .DivbelowNav {
    max-width: 748px !important;
}
}
@media (min-width: 992px){
.responsivegrid, .DivbelowNav {
    max-width: 960px !important;
}

}
@media (min-width: 1200px){
.responsivegrid, .DivbelowNav {
    max-width: 1140px !important;
}
}
@media screen and (max-width: 768px){
    .responsivegrid, .DivbelowNav {
       /* margin-top: 100px;*/
        overflow: hidden;
        padding-left: 10px;
        padding-right: 10px;
    }
    .DivbelowNav .mob-view,.DivbelowNav .acs-commons-resp-colctrl-col {
        width: 100% !important;
    	margin-bottom: 0px !important;
    }
}