/*rte styles*/

.component-primary-heading{
font-size: 40px;
font-family: "calluna";
color: #323A45;
margin: 30px 0px;
}
.gray{
max-width: 100%;
height: auto;
}
.component-sub-heading{
font-family: "Kobenhavn";
font-size: 24px;
color: #343a40!important;
}
.component-description{
font-size: 16px;
font-family: "open-sans", Helvetica, Arial, sans-serif;
color: #707070;
}
.style-advice-style{
  font-family: "open-sans", Helvetica, Arial, sans-serif;
font-weight: normal;
font-style: italic;
line-height: 1.2;
color: #5f6167;
font-size: 24px;
padding: 30px 30px 0;
display: block;
  }
/*
.content{
font-family: "Kobenhavn";
font-size: 24px;
color: #747C83;
font-weight: 100 !important;
 }
 
 */
/* css added*/
.text.section{
    position: relative;
    }
    .text.section h4, .text.section h1, .text.section p{
        font-family: Montserrat;
    font-weight: 300;
    color: black;
    }
 .text.section h1{
    font-size: 36px;
}
 .text.section h4{
    font-size: 14px;
}
    .text.section p{
        margin: 0;
    font-size: 15px;
    }
.new-container .new-row{
            margin: 0px !important;
            }
                /*styling for image tab*/
/*.galleryimage.parbase.section div {
    text-align: center;
}*/
.acs-commons-resp-colctrl-col {
    padding-left: 0 !important;
}


@media (max-width: 768px){
.text.section p{
        margin: 0;
    font-size: 15px;
    }

.acs-commons-resp-colctrl-col-40 .galleryimage.parbase.section img {
    width: 100%;
}
                .text.section h4, .text.section h1, .text.section p{
        width: 100% !important;
    }
                .acs-commons-resp-colctrl-row.section .acs-commons-resp-colctrl-col {
    width: auto;
        margin: auto;
}
                .acs-commons-resp-colctrl-col.acs-commons-resp-colctrl-col-40,.acs-commons-resp-colctrl-col.acs-commons-resp-colctrl-col-50 {
    width: 100% !important;
}
        .acs-commons-resp-colctrl-row.section .acs-commons-resp-colctrl-col.acs-commons-resp-colctrl-col-1,.acs-commons-resp-colctrl-row.section .acs-commons-resp-colctrl-col.acs-commons-resp-colctrl-col-10 {
    display: none;
}
}
/* rte styles end*/