/*salon_ detail*/
.checkin-component{
    @media (min-width: 768px) {
        max-width: 748px !important;
    }
    @media (min-width: 992px) {
        max-width: 960px !important;
    }
    @media (min-width: 1200px) {
        max-width: 1140px !important;
        margin: auto;
    }
    @media (max-width: 768px) {
        width: 95%;
        margin: auto;
    }
}
.acs-commons-resp-colctrl-row.aem-GridColumn.aem-GridColumn--default--12.salon-detail_div{

    width: 100% !important;
    height: max-content !important;
    margin: auto;
    @media (min-width: 768px){
        max-width: 748px !important;
    }
    @media (min-width: 992px){
        max-width: 960px !important;
    }

    @media (min-width: 1200px){

        max-width: 1140px !important;
    }
    .new-container {
        margin-bottom: 17px;
    }
    .action-buttons {
        display: none;
    }
    .salon-details .h4 a {
        color: black !important;//salon details ul text
        font-weight: 400;
    }
    .salon-details a {
        color: black !important;
    }
    .col-md-12.col-xs-12.checkin-user-details {
        // height: 574px;
        width: 479px;
        padding: 0;
        padding-bottom: 20px;
        background-color: #F3F3F3;
        @media (max-width: 768px){
            width: 100%;
        }
        .form-group{
            @media (max-width: 768px){
                padding: 0;
            }
        }
    }
    //map size
    #map-canvas{
        position: relative;
        overflow: hidden;
        height: 220px;
        width: 100%;
        margin: 0px 0px;
    }
    //get direction button in map
    button#getDirectionsBtn {
        height: 43px;
        width: 292px;
        border: 1px solid #3E3E3E;
        border-radius: 42px;
        background: white;
        display: block;
        margin: 21px auto 20px;
    }
    //salon details in mobile view
    .salondetailpage-mobile{
        display:none;
        @media(max-width: 768px){
            display: block;
        }
    }
    //remove salon detail -- b/w map and form in mobile view
    .hairlineComp + .salondetailspagelocationcomp{
        @media(max-width: 768px){
            display: none;
        }
    }
    //hairline tag - mobile view - b/w map and form
    #map-canvas + .row + .hairlineComp {
        @media(max-width: 768px){
            display: none;
        }
    }
    .new-row:first-child {
        @media (max-width: 1016px){
            display: block;
        }
        @media (max-width: 768px){
            display: flex;
        }
        //mobile view form and data alignment
        .acs-commons-resp-colctrl-col-55{
            @media (max-width: 768px){
                order: 2;
            }
        }
        .acs-commons-resp-colctrl-col-1{
            @media (max-width: 768px){
                order: 3;
            }
        }
        .acs-commons-resp-colctrl-col-43{
            @media (max-width: 768px){
                order: 1;
            }
        }
    }
    select {
        box-sizing: border-box;
        height: 43px;
        width: 450px;
        font-weight: 500;
        border: 1px solid #C8102E;
        border-radius: 42px;
        background-color: #FFFFFF;
        margin: auto;
        padding-left: 46px;

        color: #C8102E;
        text-transform: Uppercase;
        font-family: Montserrat;
        font-size: 13px;
        &:focus{
            outline: 0;
        }
        @media (max-width: 768px){
            width: 96%;
        }
        option[value=""][disabled] {
            display: none;
        }
    }
    input {
        height: 44px;
        width: 446px;
        border-radius: 2px;
        padding-left: 14px;
        background-color: #FFFFFF;
        /* @media (max-width: 768px){
             width: 98%;
         }*/
    }
    legend.contact-info-title {
        margin: 0;
        padding-left: 14px;
        padding-top: 30px;
        padding-bottom: 22px;
        h2{
            color: #2D2A26;
            font-family: Montserrat;
            font-size: 17px;
            font-weight: 300;
            letter-spacing: 0;
            line-height: 20px;
            margin-top: 0;
            margin-bottom: 0;
            @media (max-width: 768px){
                width: 100%;
            }
        }
    }
    label{
        display: none;
    }
    .phone-info-text {
        display: none;
    }
    button#CheckInValidationBtn {
        height: 43px;
        width: 292px;
        margin: auto;
        border-radius: 42px;
        background-color: #C8102E;
        color: #FFFFFF;
        font-family: Montserrat;
        font-size: 15px;
        font-weight: 600;
        letter-spacing: 0;
        display: block;
        line-height: 19px;
        text-transform: Uppercase;
        text-align: center;
    }
    .col-block.salon-details{
        .col-xs-12.col-sm-6.col-md-4.col-block:nth-child(3) {
            display: none;
        }
        .col-xs-12.col-sm-6.col-md-4.col-block {
            width: 50%;
            @media (max-width: 768px){
                width: 100%;
            }
            section {
                border-right: none;
                min-height: 270px;
                padding-right: 20px;
            }
            .list-unstyled {
                padding-left: 15px;
                list-style: disc;
                @media (max-width: 768px){
                    padding-left: 30px;
                }
            }
        }
        .col-xs-12.col-sm-6.col-md-4.col-block:first-child ul.list-unstyled li:last-child {
            list-style: none;
        }
    }
    .sdp-left-template {
        display: flex;
        padding-top: 30px;
        @media (max-width: 768px){
            display: block;
        }
        section.locations.map-directions.pull-left {
            width: 60%;
            @media (max-width: 768px){
                width: 100%;
            }
            .col-md-6 {
                width: 100%;
                div#waittime {
                    display: none !important;
                }
                .location-details.sdp-left{
                    .vcard{
                        padding-top: 0;
                    }
                }
            }
        }
        .col-md-5 {
            width: 45%;
            margin-right: 0;
            padding-right: 0;
            margin-left: auto;
            @media (max-width: 768px){
                width: 100%;
            }
            span.hours {
                text-align: right;
                margin-right: 0;
                margin-left: auto;
            }
        }
        .locations .check-in .wait-time.call-now{
            display:none !important;
        }
    }
    .salon_text_image.textimage{
        div.visible-md {
            @media (max-width: 768px){
                display: block !important;
                max-height: none;
            }

        }
    }
    //salon detail heading text
    .title-component .main-title {
        font-size: 36px;
        line-height: 36px;
        color: #C8102E;
        font-weight: 650;
        border: 0px;
        margin-top: 40px;
        text-align: center;
        @media (max-width:768px){
            font-size:26px;
        }
    }

    input::placeholder{
        color: #828282;
        font-family: Montserrat;
        font-size: 12px;
        font-weight: 500;
        text-transform: Uppercase;
    }
    select#servicedOn::placeholder{

        color: #C8102E;
        font-weight: 500;
        text-transform: Uppercase;
        font-family: Montserrat;
        font-size: 13px;
    }

    //salon check in detail right side alignment with header
    .acs-commons-resp-colctrl-col-55+ .acs-commons-resp-colctrl-col-1 +.acs-commons-resp-colctrl-col-43 {
        padding-right: 0 !important;
        @media (max-width:1023px){

        }
        @media (max-width:768px){
            order: 1;
        }
    }
    .acs-commons-resp-colctrl-col-55{
        padding-right: 0 !important;
    }
    .col-xs-12.col-block.salon-connect-img{
        img.center-block {
            @media (max-width: 768px ){
                width: 99%;
            }
        }
    }
    .salon_text_image{
        p{
            font-size: 13px;
        }
    }
    .style-advice-component .sa-item .title{
        min-height: 46px;
        height: max-content;
    }
    .acs-commons-resp-colctrl-col-65{
        .col-block.salon-details{
            .col-xs-12.col-sm-6.col-md-4.col-block section {
                @media(max-width: 768px){
                    min-height: unset;
                    padding-right: 20px;
                }
            }
        }
    }
    .acs-commons-resp-colctrl-col-30 + .acs-commons-resp-colctrl-col-5{
        @media(max-width: 768px){
            display: none;
        }
    }
    //salon details left image and text left padding
    .col-xs-12.col-block.salon-connect-img, .col-xs-12.col-block.salon-connect-img+.col-xs-12.col-block {
        padding-left: 0;
    }
}
.salon-detail_wrap{
    .style-advice-component .row{
        @media (max-width: 768px){
            overflow-x: scroll;

        }
        /*.display-table {
            @media (max-width: 768px){


                display: flex;
                max-width: 1000px;
                width: max-content;
            }
        }*/
    }
}
h1.hidden-xs.salontitle_salonsmalltxt{
    display: none;
}
.salontitle_salonlrgtxt {
    margin: 30px 0;
    font-family: Montserrat;
    font-size: 49px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 59px;
    @media (max-width: 768px){
        margin: 0;
        font-family: Montserrat;
        font-size: 33px;
        line-height: 40px;
    }
}
//salon offer heading text
.salonofferstitle.title .title-component .main-title {
    font-size: 36px;
    line-height: 36px;
    color: #C8102E;
    font-weight: 650;
    border: 0;
    margin-top: 31px;
    text-align: center;
    @media (max-width: 768px){
        font-size: 26px;
    }
}
//salon_detail check in component
.checkin-component{

    .row{
        .col-md-6.col-block + .col-md-4.col-md-offset-2 {
            //display: none;
        }
        .col-md-6.col-block{
            //float:right;
            .checkinregistrationprompt.section {
                display: none;
            }
        }
    }
    //map, address details and for container
    .row:nth-child(2){
        //from container
        .col-md-6.col-block {
            padding-left: 0;
            width: 42%;
            float: right;
            @media(max-width: 1100px ){
                width: 50%;
            }
            @media(max-width: 768px ){
                width: 100%;
            }
        }
        //map and address container
        .col-md-4.col-md-offset-2 {
            margin-left: 0;
            width: 57%;
            margin-right: auto;
            padding-left: 0;
            padding-right: 7px;
            @media (max-width: 768px){
                width: 100%;
                //modal display in mobile
                /* height: max-content;
                 display: contents;	*/
            }
            //map size
            #map-canvas{
                position: relative;
                overflow: hidden;
                height: 220px;
                width: 100%;
                margin: 0px 0px;
            }
            //get direction button in map
            button#getDirectionsBtn {
                height: 43px;
                width: 292px;
                border: 1px solid #3E3E3E;
                border-radius: 42px;
                background: white;
                display: block;
                margin: 21px auto 20px;
            }
        }
    }
    //heading stylings...
    .row:nth-child(1){
        .col-md-12.col-block {
            padding-left: 0;
        }
        //heading saloninfo component
        .salonInfo.saloninfo{
            .check-in-info{
                .wait-time{
                    display:none;
                }
                .location-details{
                    .vcard{
                        padding: 0;
                    }
                    //hide extra details from heading
                    a#gotodirectedplace, .telephone, .closing-time {
                        display: none;
                    }
                    //heading of check-in page
                    a#checkinstoreinfoid {
                        margin: 30px 0;
                        font-family: Montserrat;
                        font-size: 49px;
                        font-weight: 700;
                        letter-spacing: 0;
                        line-height: 59px;
                        color: #c8102e;
                        pointer-events: none; //heading anchor tag removal
                    }
                }
            }
        }
    }
    //address container in checkinn page
    .rightcontent{
        .saloninfo.section{
            address {
                margin-bottom: 8px;
            }
            //address contaier store title hidden
            .store-title{
                display: none;
            }
            .telephone{
                background: url(/content/dam/costcutters/general-resources/cc-phone-20x20.png) no-repeat;
                padding-left: 30px;
                line-height: 20px;
            }
            .closing-time {
                background: url(/content/dam/costcutters/general-resources/cc-clock-20x20.png) no-repeat;
                padding-bottom: 3px;
                line-height: 25px;
                padding-bottom: 10px;
                padding-left: 30px;
            }
            .distance {
                //margin-left: 20px;
                background: url(/content/dam/costcutters/general-resources/cc-map-pin-20x20.png) no-repeat;
                background-position: bottom left;
                padding-left: 30px;
            }
            span.street-address1, span.street-address2{

                margin-top: 6px;
                display: block;

                color: black;
                font-family: Montserrat;
                font-size: 12px;
                letter-spacing: 0;
                font-weight: 500;
                &:before {
                    content: "\e61b";
                    padding-right: 15px;
                    color: #727173;
                    font-family: 'icomoon';
                    speak: none;
                    font-style: normal;
                    font-weight: normal;
                    font-variant: normal;
                    text-transform: none;
                    line-height: 1;
                    -webkit-font-smoothing: antialiased;
                }
            }
            /* [class^="icon-"], [class*=" icon-"] {
                 font-family: 'icomoon',Montserrat;
             }*/
        }
        .wait-time {
            display: none;
        }
        span.telephone {
            display: block;
        }

        .location-details {
            padding-bottom: 2ex;
            float: left;
            vertical-align: top;
            width: 69%;
            max-width: 285px;
            margin: 0;
            @media (max-width: 768px){
                width: 100%;
            }
        }
    }
}
.checkinconfirmation.section {
    width: 479px;
    margin-right: auto;
    margin-left: 0;
    padding: 0;
    //background-color: #f3f3f3;
    @media(max-width: 768px){
        width: 100%;
    }
    .checkin-confirmation-wrapper{
        padding: 0;
        //padding-bottom: 45px;
        #checkinConfDiv{
            ul {
                padding: 0px !important;
            }
            .alert-info {
                background-color: #f3f3f3;
                border: 0px;
                ///padding-bottom: 0;
            }
        }
    }
    .alert.alert-success.first-checkin{
        color: #C8102E;
        font-family: Montserrat;
        font-size: 30px;
        font-weight: 700;
        letter-spacing: 0;
        line-height: 44px;
        padding: 0;
        text-align: center;
        background: transparent;
        .check-in-conf-ins{
            display:none;
        }
    }
    //check in form
    .alert.alert-success.first-checkin + .col-block{
        h3, p {
            height: 43px;
            width: 100%;
            margin: auto;
            background: white;
            //padding-left: 25px;
            color: #C8102E;
            font-family: Montserrat;
            font-size: 14px;
            letter-spacing: 0;
            line-height: 43px;
            text-transform: uppercase;
            margin-bottom: 10px;
            @media (max-width: 768px){
                white-space: nowrap;// text in same container
                overflow: hidden;
                padding-right: 7px;
            }
            [class^="icon-"]{
                padding-left: 10px;
                margin-right: 20px;
                font-size: 17px;
                font-weight: 600;
            }
            .glyphicon{
                padding-left: 15px;
                margin-right: 15px;
            }
            strong {
                font-weight: 650;
            }
            .estimatedtime{
                display: none;
            }
        }
        h3{
            // padding-left: 43px;
            font-weight: 650;

        }
        p {
            .glyphicon{
                padding-left: 15px;
                margin-right: 15px;
            }

        }
        //phone no hidden
        p:nth-child(2) {
            display: none;
        }
        p:nth-child(3) {
            white-space: revert;
            line-height: 20px;
            padding: 5px;
            height: max-content;
            min-height: 43px;
        }

    }
    a.btn.btn-default.cancel-reservation, a.btn.btn-primary.add-guest-information.btn-block.btn-large {
        height: 43px;
        width: 292px;
        color: #FFFFFF;
        background: #c8102e;
        font-family: Montserrat;
        margin: auto;
        font-size: 15px;
        display: block;
        font-weight: 600;
        letter-spacing: 0;
        line-height: 29px;
        border: 0px;
        text-transform: uppercase;
        border-radius: 42px;
        text-align: center;
    }
    .cancel-reservation {
        margin-top: 20px;
    }
    .modal{
        h4#myModalLabel {
            font-size: 24px;
            font-family: Montserrat;
            text-transform: uppercase;
            color: #c8102e;
            font-weight: 600;
        }
        .close{
            margin-top: 5px;
            span.icon-close {
                color: #c8102e;
                font-weight: 600;
                opacity: 1;
            }
        }
        .lead {
            font-size: 17px;
            line-height: 24px;
            margin: 20px;
        }

    }
}
.saloncheckindetails{
    width: 479px;
    margin-right: 0;
    padding: 0;
    margin-left: auto;

    @media(max-width: 768px){
        width: 98%;
        margin:auto;
    }
    .checkin-user-details{
        padding: 0;
        background-color: #f3f3f3;
        padding-bottom: 20px;
        .select-group{
            height: 43px;
            .form-group.col-md-12.clearfix {
                padding: 0;
                margin-bottom: 12px;
            }
        }
        .custom-dropdown{
            position: relative;
            display:block;
            //height: 40px;
        }
        .custom-dropdown:after {
            content: "\e61a";
            font-family: 'icomoon';
            speak: none;
            font-style: normal;
            font-weight: 700;
            font-variant: normal;
            font-size: 15px;
            color: #c8102e;
            text-transform: none;
            line-height: 1;
            right: 30px;
            top: 1px;
            left: auto;
            height: 22px;
            padding: 15px 0px 0px 8px;
            //border-left: 1px solid #0ebeff;
            position: absolute;
            pointer-events: none;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            //!* font-size: 1.75em; *!
        }
        .select-group.form-group:nth-child(0){
            .custom-dropdown:after {
                top: 55px;
            }
        }
        select, .multiselect {
            box-sizing: border-box;
            height: 43px;
            width: 450px;
            font-weight: 500;
            border: 1px solid #C8102E;
            border-radius: 42px;
            background-color: #FFFFFF;
            margin: auto;
            padding-left: 46px;
            color: #C8102E;
            text-transform: Uppercase;
            font-family: Montserrat;
            font-size: 13px;
            &:focus{
                outline: 0;
            }
            @media (max-width: 768px){
                width: 96%;
            }
            option[value=""][disabled] {
                display: none;
            }

        }
        select#ddTimingsCC {
            background: url(/content/dam/costcutters/general-resources/time.png) no-repeat left center;
            background-position-x: 15px;
            appearance: none;
            background-color: white;
            -webkit-appearance: none;
        }
        select#ddCC {
            background: url(/content/dam/costcutters/general-resources/services.png) no-repeat left center;
            background-position-x: 15px;
            appearance: none;
            -webkit-appearance: none;
            margin-top: 12px;
            background-color: white;
        }
        select#ddServices, .multiselect{
            background: url(/content/dam/costcutters/general-resources/stylist.png) no-repeat left center;
            background-position-x: 15px;
            appearance: none;
            -webkit-appearance: none;
            background-color: white;
        }
        select#servicedOn{
            background: url(/content/dam/costcutters/general-resources/date.png) no-repeat left center;
            background-position-x: 15px;
            appearance: none;
            -webkit-appearance: none;
            background-color: white;
        }

        input {
            height: 44px;
            width: 446px;
            border-radius: 2px;
            padding-left: 14px;
            background-color: #FFFFFF;
            /* @media (max-width: 768px){
                 width: 98%;
             }*/
        }
        label{
            display: none;

        }
        .phone-info-text {
            display: none;
        }
        button#CheckInValidationBtn {
            height: 43px;
            width: 292px;
            margin: auto;
            border-radius: 42px;
            background-color: #C8102E;
            color: #FFFFFF;
            font-family: Montserrat;
            font-size: 15px;
            font-weight: 600;
            letter-spacing: 0;
            display: block;
            line-height: 19px;
            text-transform: Uppercase;
            text-align: center;
        }
        .magicuts-row {
            height: max-content;
            min-height: 44px;
            display: flow-root;
        }
        .magicuts-row:nth-child(3){
            // display: flex;
            padding: 0 15px;
            .col-xs-12.col-sm-12.form-group {
                // width: 50%;
                padding: 0;
                input {
                    height: 44px;
                    width: 100%;
                    margin: auto;
                }
            }
        }
        //field parent element alignment in mobile view
        .magicuts-row{
            @media(max-width: 768px){
                padding: 0 15px;
            }
            .col-xs-12.col-sm-12.form-group {
                @media(max-width: 768px){
                    padding: 0 !important;
                }
            }
            input#checkinemail,input#phone {
                @media (max-width: 768px){
                    width: 100%;
                    margin: auto;
                }
            }

        }
        .magicuts-row:nth-child(5){
            .col-xs-6{
                @media(max-width: 768px){
                    width: 100%;
                }
            }
        }
        .select-group.form-group:nth-child(1){
            .form-group.col-md-12.clearfix {
                padding: 0;

            }
        }
    }

}
//salon data alignment with header
.salondetailspagelocationcomp{
    section.locations.map-directions.pull-left{
        .check-in.col-md-6 {
            padding-left: 0;
            .vcard{
                padding-left: 0;
            }
        }
    }
    //salon address data icons added
    .telephone{
        background: url(/content/dam/costcutters/general-resources/cc-phone-20x20.png) no-repeat;
        padding-left: 30px;
    }
    .closing-time {
        background: url(/content/dam/costcutters/general-resources/cc-clock-20x20.png) no-repeat;
        padding-bottom: 3px;
        line-height: 35px;
        padding-bottom: 10px;
        padding-left: 30px;
    }
    .distance {
        //margin-left: 20px;
        background: url(/content/dam/costcutters/general-resources/cc-map-pin-20x20.png) no-repeat;
        background-position: bottom left;
        padding-left: 30px;
    }
    span.street-address {
        margin-top: 6px;
        display: block;
        &:before {
            content: "\e61b";
            padding-right: 15px;
        }
    }
    [class^="icon-"], [class*=" icon-"] {
        font-family: 'icomoon',Montserrat;
    }

}
//check in page add another guest form alignment
.checkinconfirmation + .saloncheckindetails{
    margin: auto;
}
//salon offers title
.salonofferstitle + .hcpStylesAndAdvice{
    .sa-item{
        .imageSA {
            @media (max-width: 768px){
                width: 100%;
                max-width: 270px;
            }
        }
        .row{
            .title {
                @media (max-width: 768px){
                    margin: 6px 0;
                    max-width: 270px;
                }
            }
        }
    }
}
//hide salon detail heading text in mobile view
.salondetailspagelocationcomp{
    span.store-title.hidden-md.hidden-lg {
        @media(max-width: 768px){
            display: none !important;
        }
    }
}
//display salon detail  heading text in mobole view
h2.hidden-xs.salontitle_salonlrgtxt {
    @media (max-width: 768px){
        display: block !important;
    }
}
//salon offers image padding
.salon-detail_div + .sdp-template-wrap + .salon-detail_wrap{
    .row {
        margin-right: -10px;
        margin-left: -10px;
        @media (max-width: 768px){
            margin: 0px;
        }
        .display-table .tableCell {
            display: table-cell;
            vertical-align: middle;
            float: none;
            padding-top: 11px;
            padding-left: 5px;
            .sa-item .col-xs-12 {

                p.subtitle {
                    margin: 0;
                    min-height: 18px;
                }
                .title {
                    min-height: 0px;
                    height: max-content;
                }

            }
            .row {
                margin-right: -10px;
                min-height: 87px;
                margin-left: -10px;
            }
        }
        //salon offers middle image alignment
        .col-sm-4.tableCell:first-child {
            padding-top: 10px !important;

            .sa-item .title {
                min-height: 0px;
                height: max-content;
            }
        }
        //style offers last image not displayed
        .col-sm-4.tableCell:nth-child(3) {
            display: none !important;
        }
    }
    //prmotional component styling..
    .promotionmessage{
        .media.col-md-12.col-sm-12.col-xs-12.pull-left{
            img {
                max-width: 100%;
                @media (max-width: 1200px){
                    max-width: none;
                    width: 297px;
                    height: 343px;
                }
                @media (max-width: 768px){
                    max-width: none;
                    width: 343px;
                    height: 343px;
                    margin-right: 13px;
                }
            }
        }
    }
    //promotional message image styling
    .acs-commons-resp-colctrl-col.acs-commons-resp-colctrl-col-32{
        padding: 0;
        @media(max-width: 768px){
            width: max-content;
        }
        .localpromotionmessage1.promotionmessage {
            margin-top: 26px;
        }
        .theme-default {
            padding: 0;
            .media:first-child {
                //margin-top: 0;
                padding: 0;
                height: 343px;
            }
            //promotional image text
            .details.col-md-12.col-sm-12.col-xs-12 {
                padding: 0;
                p.h4 {
                    color: #2D2A26;
                    font-family: Montserrat;
                    font-size: 18px;
                    font-weight: 650;
                    letter-spacing: 0;
                    line-height: 22px;
                }
            }
        }
    }
    //style advice images styling..
    .acs-commons-resp-colctrl-col.acs-commons-resp-colctrl-col-66 {
        padding-left: 0 !important;
        padding-right: 0;
        @media(max-width: 768px){
            width: max-content;
        }
        //salon offers image padding right side
        .col-sm-4.tableCell:nth-child(2) {
            padding-right: 0;
        }
        img.imageSA {
            width: 100%;
            height: 343px;
            //alignment -np
            @media (max-width: 768px){
                //max-width: none;
                width: 343px;
                height: 343px;
            }
        }
    }

}
.salon-detail_div + .sdp-template-wrap + .salon-detail_wrap{
    //for horizontal scroll view..
    .new-row:first-child {
        @media(max-width: 768px){
            display: flex;
            flex-wrap: inherit;
            max-width: 1000px;
            width: max-content;
        }
    }
    //horizontal scroll
    .new-container {
        @media(max-width: 768px){
            overflow-x: scroll;
        }
    }
}
//padding between salon details and hairline component
.acs-commons-resp-colctrl-row.aem-GridColumn.aem-GridColumn--default--12.salon-detail_div:nth-child(4) {
    padding-bottom: 45px;
    @media(max-width: 768px){
        padding-bottom: 0;
    }
}
body {
    font-family: sans-serif;
}
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/*.multiselect {
    width: 170px;
    font-size: 15px;
    padding-bottom: 4px;
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: 0.2s;
    outline: none;
}
.multiselect:hover {
    border: 1px solid rgba(0, 0, 0, 0.3);
}
.multiselect.active {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom: 1px solid transparent;
}
*/
.multiselect > .title {
    cursor: pointer;
    height: 100%;
    padding: 6px;
}
.multiselect > .title > .text {
    max-width: unset;
    max-height: unset;
    height: 100%;
    display: block;
    float: left;
    overflow: hidden;
    line-height: 2.3em;
}
/*.multiselect > .title > .expand-icon,
.multiselect > .title > .close-icon {
    float: right;
    border-radius: 50%;
    padding: 0 4px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    font-weight: 700;
    transition: 0.2s;
    display: none;
}
.multiselect.selection > .title > .expand-icon {
    display: none;
}
.multiselect > .title > .expand-icon,
.multiselect.selection > .title > .close-icon {
    display: block;
}
.multiselect > .title > .close-icon:hover {
    border: 1px solid rgba(0, 0, 0, 0.3);
    background: rgb(203, 32, 32);
    color: #fff;
}
*/
.multiselect > #ddServices-cont.clickedDiv {
    //max-height: 200px;
    overflow: auto;
    margin-top: 4px;
    width: 85%;
    padding: 2px;
    left: 33%;
    margin-left: -120px;
    top: 35px;
    transition: 0.2s;
    position: absolute;
    z-index: 99;
    background: #fff;
    border: 1px solid transparent;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.ddOptions {
    width: max-content;
    margin-right: auto;
    margin-left: 10px;
    margin-top: 5px;
}
.multiselect.active > #ddServices-cont {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top: 0;
}
.multiselect:hover > #ddServices-cont {
    border-top-color: rgba(0, 0, 0, 0.3);
}
.multiselect.active:hover > #ddServices-cont {
    border-color: rgba(0, 0, 0, 0.3);
}
.multiselect > #ddServices-cont > .ddOptions {

    padding: 5px;
    cursor: pointer;
    transition: 0.2s;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
}
.multiselect > #ddServices-cont > .optionDiv{
    display: none;
}
.multiselect #ddServices-cont  input[type="checkbox"]{
    width: 20px;
    height: 20px;
}
.multiselect > #ddServices-cont > .ddOptions.selected {
    background: rgb(122, 175, 233);
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    color: #fff;
}
.multiselect > #ddServices-cont > option:hover {
    background: rgba(0, 0, 0, 0.1);
    color: #000;
}
.multiselect.active > #ddServices-cont > .ddOptions {
    display: block;
}
.multiselect > .title  .checkedText{
    font-size: 11px;
    line-height: 2.7em;;
}
//last seetction of salon detail page--salon_detail div
.salon-detail_wrap .salon-detail_div{
    .salondetailsparsys1{
        .img-container{
            padding: 0;
            img {
                padding: 0;
            }
        }

        p {
            margin: 0 0 10px;
            font-size: 15px;
            font-weight: 400;
            font-family: Montserrat;
        }
    }
    a.btn.btn-primary {
        border-radius: 42px;
    }
}
.multiselect > #ddServices-cont > .optionDiv.flexoption{
    display: flex !important;
    display: -webkit-flex !important;
}
//close salon message UI
.closeSalonMessage{
    .salondetailsparsysCloseSalonMessage.parsys {
        max-width: 450px;
        background: #F3F3F3;
        padding: 20px 10px;
        @media (max-width: 768px){
            max-width: 98%;
            margin: auto;
        }
        .title-component{
            .main-title {
                font-size: 28px !important;
                margin-top: 0 !important;
                text-align: center;
            }
        }
        .imgtxt-para {
            font-size: 18px;
            color: black;
            font-weight: 400;
            text-align: center;
            font-family: Montserrat;
        }
        .btn{
            height: 40px;
            width: 292px;
            margin: auto;
            border-radius: 42px;
            background-color: #C8102E;
            color: #FFFFFF;
            font-family: Montserrat;
            font-size: 15px;
            font-weight: 600;
            letter-spacing: 0;
            display: block;
            line-height: 27px;
            border: 0px;
            text-transform: Uppercase;
            text-align: center;
        }
    }
}