.parsys.aem-GridColumn.aem-GridColumn--default--12 .new-row {
    padding-left: 40px;
}
                .acs-commons-resp-colctrl-col-25 .parsys a.btn.btn-primary {
    border: 0px;
}
                        .twpDiv-responsivegrid-content-textwithoutpadding {
    font-family: Montserrat;
    font-weight: 300;
                            font-size: 16px;
}
                        .jump-links h2 {
    text-transform: uppercase;
                            color: #3e3e3e;
}
                        h2.col-md-10.col-xs-12.jump-link-alpha.h4 a:hover{
                                text-decoration: underline #c91432;
                            }
                            h2.col-md-10.col-xs-12.jump-link-alpha.h4 a{
                            color: black;
                            }
                            .each-state.col-md-12.col-xs-12 .state-name a {
    color: #c8102e;
    font-size: 18px;
    font-weight: 600;
}
                      .each-state.col-md-12.col-xs-12  .salon-group a {
    color: #3E3E3E !important;
    font-weight: 500;
}
.each-state.col-md-12.col-xs-12 .salon-group a:hover{
 text-decoration: underline #c91432;
                    }
                                        a.return-to-top {
    color: black !important;
    font-weight: 400;
}
                                        .aem-Grid.aem-Grid--12.aem-Grid--default--12 .parsys.aem-GridColumn.aem-GridColumn--default--12 .breadcrumb.section {
    display: flex;
}
                                      .breadcrumb.section  span {
    color: black;
    font-weight: 300;
}
                                                .disableAlpha {
    color: gray !important;
}
                                                .disableAlpha {
    color: gray !important;
}
                                                .disableAlpha:hover {
    text-decoration: none !important;
}