/*services*/
.DivbelowNav .text.aem-GridColumn.aem-GridColumn--default--12, .acs-commons-resp-colctrl-col-70 .par2.parsys .text.section {
    /*width: 647px;*/
    margin: auto;
    display: block;
}

.text.aem-GridColumn.aem-GridColumn--default--12 p, .acs-commons-resp-colctrl-col-70 .par2.parsys .text.section {
    text-align: left !important;
    color: #2D2A26;
    font-family: Montserrat;
    font-size: 17px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 20px;
}

.acs-commons-resp-colctrl-col-70 .par2.parsys .acs-commons-resp-colctrl-col-45 .text.section {
    width: 100%;
}

.acs-commons-resp-colctrl-col-70 .par2.parsys .new-row {
    width: 100%;
    margin: auto !important;
    max-width: 647px;
}

.DivbelowNav .hairlinecomponent.aem-GridColumn.aem-GridColumn--default--12 {
    margin: 30px auto;
}

.acs-commons-resp-colctrl-col-16 .galleryimage.parbase.section a:-webkit-any-link:active img, a:-webkit-any-link:active .acs-commons-resp-colctrl-col-16 .galleryimage.parbase.section h5 {
    border: 2px solid;
}

@media (max-width: 768px) {

    .acs-commons-resp-colctrl-row.aem-GridColumn.aem-GridColumn--default--12 .acs-commons-resp-colctrl-col.acs-commons-resp-colctrl-col-16 {
        width: 33.33% !important;
    }

    .DivbelowNav .text.aem-GridColumn.aem-GridColumn--default--12, .acs-commons-resp-colctrl-col-70 .par2.parsys .text.section {
        width: 100%;
        display: block;
    }

    .colouredparsyscomponent .colouredparsys.parsys .acs-commons-resp-colctrl-row.section {
        width: 50%;
        display: table-cell;/* home page brands and careers*/
    }
/* careers page display table*/
.htmlcoder.section + .acs-commons-resp-colctrl-row.section {
    width: 100% !important;
    display: none;
}

}