.salonselectoradvanced {
    .location-search{
        height: auto;
        width: auto;
        float: none;
        border: none;
        margin: 0 auto;
    }
      .salonselector-container-sa{
        &>section.check-in{
            span{
				display: block;
            }
            .store-brand{
				font-weight: 500;
                font-size: 18px;
                color: #404041;
            }
            .telephone{
                margin-bottom: 12px;
                font-size: 12px;
                font-family: 'open-sans';
            }
            .store-title-sa-hcp{
                font-size: 10px;
                margin-bottom: 21px;
            }
            .street-address,.state-address{
				font-family: "open-sans";
                font-size: 12px;
            }
            .state-address{
				margin-bottom: 30px;
            }
        }
        .input-group-btn{
            .coupon-search-btn{
                margin-top: 15px;
                margin-bottom: 15px;
            }
        }
        span.salon-loc{
            @media (min-width: 992px){
                min-height: 66px;
            }
        }
    }
    input[type=checkbox].css-radiobtn+label.css-label{
        margin-bottom: 0;
        border:none;
        background-image: url(../../publish-clientlibs/resources/images/Regis-Icons/Regis_radio.svg);
    }
    
    input[type=checkbox].css-radiobtn:checked+label.css-label{
        background-image: url(../../publish-clientlibs/resources/images/Regis-Icons/Regis_radio-selected.svg);
    }

    .navbar-toggle{
		margin:0;
    }

    .panel{
		padding-left:0;
        padding-right:0;
        border:none;
        box-shadow: none;
    }
    .srch-row {
        border:1px solid #f3f3f3;
        margin:15px 0;
        .input-group-addon{
            border:none;
            font-weight: bold;
            font-size: 14px;
        }
        input{
            width:100%; 
            height: 48px;
            border: none;
            box-shadow: none;
            background:transparent;
        }
        a{
            width:100px;
            border-color: transparent;
        }
    }
    .location-dtls.location-details.front{
         @media(min-width:992px){
        height: 240px;
        }
    }
    .location-dtls{
        @media(min-width:992px){
        //min-height: 276px;
        }
        .vcard{
           margin-left:40px;
            span{
                display:block;
                font-size: 12px;
            }
            h3{
              margin-top: 12px;  
              margin-bottom: 0;  
            }
            .salon-loc,.salon-tme {
                &.store-title {
	               font-size: 14px;
                    font-weight: bold;
                }
               margin-bottom: 21px;
            }            
            .store-title {
                font-weight: 500;
                font-size: 18px;
                color: #404041;
            }
			.openingsoonTxt{
				width:70%;
                margin-bottom:12px;
				font-size: 12px;
            }
            .ph-no{
                margin-bottom: 12px;
                a{
					color:#727173;
                }
            }
            .salon-distance {
               margin-bottom: 16px;
              	background:url('../../publish-clientlibs/resources/images/Regis-Icons/Regis_distance.svg') no-repeat center left;
                padding-left: 35px;     
                font-family: 'open-sans';
            }
    
             .salon-addr{
                width:70%;
                margin-bottom:12px;
                font-family: 'open-sans';
                 @media (min-width: 992px){
                     height: 60px;
                 }
            }
    
            .salon-drct{
                a{
                    padding-right: 10px;     
                    font-weight: bold;
                    display:inline-block;
                    margin-bottom:36px;
                }
            }
            .other-salons{
                .salon-brand,.salon-dist {
                  margin:12px 0 6px 0;
                }
                .salon-loc{
                    margin-bottom: 36px;
                }
                .salon-drct {
                   margin-bottom: 24px;
                }
            } 
            .checkin-badge{ 
                background: #f3f3f3;
                height: 70px;
                margin-top: 12px;
                width: 100%;
                padding: 5px;
                h3{
                    margin: 5px 0;;
                }
            }
            .checkin-button{
                background: #404041;
                padding: 3px;
                font-size: 11px;
                color: #fff;
                border: 1px solid #404041;
                width: 100%;
                border-radius: 0;
            }
        }
             &.selected {
                pointer-events: none;
                cursor: default;
        }
     }

    .location-search-title-navbtn-container{
        .listmaptog{
            color:transparent;
			//background:url(../../clientlibs/signaturestyle-publish-clientlibs/resources/images/Regis-Icons/Toggle_Background.svg) no-repeat center center;
            height:32px;
            width:52px;
            margin-left:5px;
            overflow:hidden;
            margin-top:-10px;
            padding:0;
            btn{
				margin:0;
            }
            .btn-map{
				background:url(../../clientlibs/signaturestyle-publish-clientlibs/resources/images/Regis-Icons/Toggle_Background_left.svg) no-repeat center left;
                width:52px;
                height:32px !important;
                &:hover{
					color:transparent;
                }
            }
            .btn-list{
				background:url(../../clientlibs/signaturestyle-publish-clientlibs/resources/images/Regis-Icons/Toggle_Background_right.svg) no-repeat center right;
                width:52px;
                height:32px !important;
                &:hover{
					color:transparent;
                }
            }
        }
        .list{
			padding:0;
            text-align:right;
            position: relative;
            top: -4px;
        }
        .map{
			padding:0;
            position: relative;
            left: 5px;
            top: -4px;
            @media(max-width:767){
            	text-align:right;
            }
        }
    }
    #map-loc-dtls-container{
        @media(min-width:768px){
            height: 561px;
            overflow-y: scroll;
        }
        .check-in{
            width:100%;
            margin-bottom:20px;
            input[type=radio].css-radiobtn+label.css-label{
				height:26px;
            }
            .loc-count{
				display:inline-block;
                padding:0 9px;
                border-right:1px solid #d3d3d3;
                max-width: 29px;
                @media (max-width: 767px){
                    max-width: 25px;
                }
            }
            h3{
                margin-left:10px;
            }
            .panel-heading{
				background-color:transparent;
                .store-title,.loc-count {
	               font-size: 15px !important;
	               @media (max-width: 767px){
						font-size: 11px !important;
                        font-weight: bold; 
                    }
                }
                input[type=checkbox].css-radiobtn+label.css-label{
					position: relative;
                    top: 3px;
                    @media (max-width: 767px){
                        top: 8px;
                        background-size: 80%;
                    }
                }
            }
            
        }
        #accordion {
            .vcard{
           		margin-left:100px;
           		@media (max-width: 767px){
           			margin-left: 97px;
           		}
            }
            .panel{
                margin-bottom:0;
                .panel-title {
                    a{
                        span{
                            float: none;
                        }
                    }
                }
                small{
                    clear: both;
                    display: block;
                    margin-left: 86px;
                    @media (max-width: 767px){
						margin-left: 82px;
                    }
                }
            }
            .panel-group .panel + .panel{
				margin-top:0;
            }
        }
    }
    &.mypreferredsalon{
        .salonselector-container-sa{
            #map-loc-dtls-container{
                .check-in{
                    .panel-heading{
                        padding: 10px 6px;
                        h3.panel-title{
							margin-left: 0;
                        }      
                        small{
							margin-left: 77px !important;
                            @media (max-width: 767px){
								margin-left: 72px !important;
                            }
                        }
                    }
                    .panel-collapse{
                        .vcard{
							margin-left: 83px !important;
                            @media (max-width: 767px){
								margin-left: 78px !important;
                            }
                        }
                    }
                    .loc-count{
						padding: 0 10px;
                    }
                }
            }
            .location-search-title-navbtn-container{
                @media (max-width: 767px){
					padding: 0;
                }
            }
        }
    }
    .salon-type-condition-container{
		width:100%;
        .loyalty-salon-conditions-container,.corporate-salon-conditions-container,.franchise-salon-conditions-container{
            .custom-salon{
                .reminder-subscription{
                    .right-col{
                        width: 90%;
                        @media (max-width: 767px){
                             width: 80%;
                            
                        }
                    }
                }
            }
        }

        .reminder-subscription label{
			margin-right:20px;
        }
    }
    .reminder-subscription {
        .occurs {
	       margin-right: 20px;
        }
    }
    .location-search {
	   .search-right-column {
           .result-container{
               overflow: inherit;
               max-height: none;
               border-top:1px solid #DADBDC;
               padding-top:20px;
           }
        }
    }
    @media(max-width:767px){
        #map-canvas , .maps-collapsible-container{
            width:100%;
        }
        #map-loc-dtls-container{
            padding: 0;
        }
    }
}

.thankyou-page {
    .added-salons-container {
        background: none;

        .show-more-container {
            .map-directions {
                .check-in {
                    margin:20px 0;
                    display:inline-block;
                    &:nth-child(2n+1),&:nth-child(3n+1){
                       clear:none;
                    }
                    position:relative;
                     @media (min-width:768px) and (max-width:1024px) {
                       width: 33%;
                       float: left;
                     
                      }
                    .btn-primary{
                        position: absolute;
						bottom: -60px;
						left: 0;
                    }
                    .location-details {
                        .vcard {
                            .close-btn {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }
    .btn{
        margin-left: 10px;
    }
    .additional-info { 
       margin-top:15px;
    }
}

.show-more-container .location-search-title .navbar-toggle.collapse.in {
  display: block !important;
}
.show-more-container .location-search-title .navbar-toggle.collapse {
  display: none !important;
}