stage .styledetailcomponent {
	padding-top: 0 !important;
}


/*--- style detail container -- */

.styledetailcomponent.integrationcomp {
	.container {
		width: 100%;
		@media (max-width: 767px) {
			padding: 0px;
		}
	}
}

.container.cont1 {
	height: max-content;
}

.img-container.col-md-4.col-sm-6.col-xs-12.pull-left {
	img {
		vertical-align: middle;
		width: 100%;
		padding: 30px;
	}
}

.style-detail-wrap {
	font-family: Montserrat;
	.salontitle h1 {
		font-family: Montserrat;
		font-size: 36px;
		color: #2D2A26;
	}
	.popover-content {
		width: 240px;
	}
	margin-top: 0;
	margin-bottom: 2ex;
	float: left;
	padding: 0px 10px 20px;
	width: 100%;
	@media (max-width: 767px) {
		padding: 0 0 20px;
	}
	.style-img {
		position: relative;
		width: 34%;
		margin-top: 10px;
		img {
			width: 100%;
		}
		.fav-hrt {
			background: url(../../../../signaturestyle/clientlibs/signaturestyle-publish-clientlibs/resources/images/Regis-Icons/Regis_heart.svg) no-repeat center center;
			top: 10px;
			right: 20px;
			position: absolute;
			padding: 13px;
			box-shadow: none;
			color: #2e6ca2 !important;
		}
		.fav-hrt-empty {
			background: url(../../../../signaturestyle/clientlibs/signaturestyle-publish-clientlibs/resources/images/Regis-Icons/Regis_heart_empty.svg) no-repeat center center;
			top: 10px;
			right: 20px;
			position: absolute;
			padding: 13px;
			box-shadow: none;
			border: none;
			color: #2e6ca2 !important;
		}
		.csSlideOuter {
			.csPager.cSGallery li {
				opacity: 1;
			}
		}
		.csPager.cSGallery {
			li {
				&:nth-child(5n+1) {
					clear: left;
				}
				&:nth-child(4n+1) {
					clear: none;
				}
			}
		}
		a {
			color: #428bca;
			font-size: 14px;
		}
	}
	.style-info {
		padding: 10px;
		width: 66%;
		h1 {
			color: #5f6167;
		}
		.stylesmalltxt {
			font-size: 22px;
			font-weight: 700;
			letter-spacing: 1px;
			color: #5f6167;
			display: block;
			margin-bottom: 0;
			margin-top: 0;
		}
		.style-features {
			padding: 10px 0;
			a {
				font-style: italic;
			}
			h3,
			.h3 {
				margin-top: 0 !important;
				font-family: Montserrat;
			}
			.features {
				padding: 0;
				h4 {
					margin: 0;
					font-size: 22px;
					font-weight: 500;
				}
				ul {
					margin-bottom: 2ex;
					font-style: italic;
					list-style-type: none;
					padding-left: 0;
				}
				p {
					font-style: italic;
					margin-bottom: 2ex;
					font-size: 16px;
				}
			}
			.usage {
				padding: 0;
				h4 {
					margin: 0;
				}
				p {
					font-style: italic;
				}
				.imgtxt-box {
					padding: 0;
					.imgtxt-subheading {
						color: inherit;
						font-size: 22px;
						font-weight: 500;
						margin: 0;
					}
				}
			}
			.img-text-comp {
				.img-container {
					@media (min-width: 1023px) {
						width: 20%;
					}
				}
				.imgtxt-box {
					@media (min-width: 1023px) {
						width: 80%;
					}
				}
			}
		}
		.style-share {
			margin-top: 4ex;
			padding-left: 0;
			.features {
				padding-left: 0;
				font-size: 28px;
				ul {
					margin-bottom: 2ex;
					font-style: italic;
					list-style-type: none;
					padding-left: 0;
				}
				h4 {
					margin: 0;
					font-size: 28px;
					font-weight: 700;
				}
				li {
					display: inline-block;
					font-size: 16px;
				}
				p {
					font-size: 16px;
					font-style: italic;
				}
			}
		}
		.socialsharingcomp {
			overflow: hidden;
			.footer-social-nav {
				float: right !important;
				dd:first-child {
					margin-left: 0;
				}
			}
		}
		.ctaBtnDiv {
			margin-top: 20px;
		}
	}
	.salonsmalltxt {
		padding-top: 10px;
		font-size: 22px;
	}
	.imgtxt-subheading {
		color: #5f6167;
	}
	.imgtxt-box .imgtxt-para a {
		color: #467085;
	}
	.img-text-comp .imgtxt-box h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	div.imgtxt-subheading {
		font-size: 18px;
		font-weight: 500;
		color: #2D2A26;
	}
}


/*.title-component.borderBottom {
    .main-title.h3 {
    text-align: center;
    }
}*/


/*image tab styling*/

.col-xs-12.product-list-wrap {
	width: max-content !important;
	margin: auto;
	float: unset;
	@media (max-width: 980px) {
		width: 100% !important;
	}
	.prod-info {
		height: max-content;
		.h4 {
			color: #2D2A26;
		}
	}
}

@media (min-width: 992px) {
	.style-detail-wrap {
		font-family: Montserrat;
		.salontitle {}
		.style-img {
			width: 34%;
			margin-top: 10px;
			.csPager.cSGallery {
				li {
					width: 71px !important;
					height: 95px !important;
					margin-right: 13px !important;
					&:last-child {
						margin-right: 0 !important;
					}
				}
			}
			.csSlideOuter {
				#imageGallery li {
					//width:410px !important;
				}
				.csPager {
					&.cSGallery {
						width: 100% !important;
					}
				}
			}
			a {
				color: #428bca;
			}
		}
		.style-info {
			width: 66%;
		}
		.style-info {
			padding-right: 5px;
			padding-left: 5px;
			h1 {
				line-height: 39px;
				margin-top: 0;
				padding-left: 10px;
				font-size: 36px;
				color: #2D2A26;
			}
			.style-features {
				padding: 2ex 0;
				margin-left: 10px;
				&:nth-of-type(1) {
					padding: 0;
					.img-text-comp {
						.imgtxt-box {
							width: 100%;
							padding-left: 0;
						}
					}
				}
			}
			.style-share {
				margin-top: 0;
				height: 0;
				padding-left: 0;
			}
			.socialsharingcomp {
				overflow: hidden;
				.footer-social-nav {
					float: right !important;
					dd:first-child {
						margin-left: 0;
					}
				}
			}
			.ctaBtnDiv {
				margin-top: 25px;
				float: right;
			}
		}
	}
}

@media (max-width: 991px) {
	.style-img {
		width: 100%;
		.csSlideOuter {
			.csPager {
				&.cSGallery {
					width: 100% !important;
					li {
						width: 20% !important;
						height: auto !important;
						margin-right: 0px !important;
						&:nth-child(3n+1),
						&:nth-child(4n+1) {
							clear: none !important;
						}
					}
					img {
						width: 93% !important;
					}
				}
			}
		}
		a {
			font-family: Montserrat;
			font-size: 15px;
			color: #2D2A26;
		}
	}
	.style-info {
		width: 100%;
	}
}

@media (max-width: 767px) {
	style-detail-wrap {
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
}

.styledetailcomponent {
	.container {
		@media (max-width: 767px) {
			padding: 0px;
		}
	}
	.style-detail-wrap {
		@media (max-width: 767px) {
			padding: 0;
			margin: 0;
		}
		.style-info {
			.style-share {
				@media (max-width: 767px) {
					margin-top: 0;
				}
			}
			.style-features {
				.textandimage {
					.img-text-comp {
						h2 {
							margin-top: 0;
							margin-bottom: 10px;
						}
					}
				}
			}
		}
	}
}

@media (min-width: 992px) {
	.style-detail-wrap .style-info h1 {
		font-family: Montserrat;
	}
}

.style-img {
	position: relative;
	width: 34%;
	margin-top: 10px;
	@media (max-width: 768px) {
		width: 100% !important;
	}
}

.style-info {
	width: 66%;
	@media (max-width: 768px) {
		width: 100% !important;
	}
	.h3 {
		font-family: Montserrat;
		font-size: 18px;
	}
	.textandimage {
		font-family: Montserrat;
		h1 {
			font-size: 36px;
			color: #2D2A26;
		}
		h2,
		h3,
		h4,
		h5,
		h6 {
			color: #2D2A26;
		}
		.imgtxt-box {
			.imgtxt-para {
				p {
					font-family: Montserrat;
					font-size: 15px;
					color: #2D2A26;
				}
			}
			p {
				font-family: Montserrat;
				font-size: 22px;
				color: #2D2A26;
				font-weight: 400;
			}
		}
	}
}
.hairlinecomponent + .title .title-component.borderNone{
    @media (max-width: 768px){
        margin-top: 0;
    }
    .title-component .main-title {
        @media (max-width: 768px){
            display: none;
        }
        .gender-links a:first-child {
            @media (max-width: 768px){
                margin-top: 5px;
            }
        }
    }
} 