.btn-primary{
    color: #fff;
    background-color: #C8102E;
    border-color: #2D2A26;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #2D2A26;
  border-color: #C8102E;
}

#contentTemplatePrintDiv {
    display: none;
}