
.text-over-image,.textoverresponsiveimage{
    margin:15px 0;
    float:left;
    width:100%;
    .h3,h2,h3{
        margin:0;
        color:#ffffff;
    }
    .text-container{
        background-color: transparent !important;
        float:left;
        margin:15px;
        padding:15px;
        @media(max-width:767px){
            float: left !important;
            margin-left:0 !important;
        }
        a{
            span.icon-arrow:before{
                color: #1e3e6e;
            }
        }
    }
    position: relative;
    img{
        @media(min-width:768px){
            position:relative;g
        }
        width:100%;
        &.cq-dd-image{
            position:static;
            height:74px;
        }
    }
    &.top-left{
        .text-container{
            float:left;
        }
    }
    &.top-right{
        .text-container{
            float:right;
        }
    }
    &.middle-right{
        .text-container{
            float:right;
        }
    }
    &.bottom-right{
        .text-container{
            float:right;
        }
    }
}

.textoverresponsiveimage > img{
    position: relative;
    width:auto;
}

.text-over-image, .textoverresponsiveimage{
    @media (max-width: 767px){
        float: none;
    }
}