/*  home page colouredd parsysy textover responsice image*/
.colouredparsyscomponent.section{
    
    .textoverresponsiveimage.section{
        .text-over-image{
            height: max-content !important;
            @media (max-width: 767px){
                height: max-content !important;
                display: grid;
            }
        }
        .text-container.col-md-3.col-sm-4.col-xs-12 {
            
            position: absolute !important;
            top: 90px;
            width: 560px;
            @media (max-width: 1280px){
                width: 460px;
                
            }
            @media (max-width: 1000px){
                width: 400px;
                
            }
            @media (max-width: 767px){
                position: unset !important;
                top: 0;
                width: 98%;
                margin-top: 49px !important;
                padding: 0px 5px;
            }
            h2 {
                color: #c8102e;
                font-family: Montserrat;
                text-transform: uppercase;
                font-weight: 700;
                font-size: 51px;
                letter-spacing: 1px;
                margin-left: 0px;
                margin: 0;
                margin-right: 100px;
                @media (max-width: 1280px){
                    
                    font-size: 30px;
                }
                @media (max-width: 767px){
                    
                    width: 100%;
                    text-align: left;
                    margin-left: 0;
                    height: max-content;
                    font-size: 33px;
                    font-family: Montserrat;
                    font-weight: 700;
                    letter-spacing: 0;
                    line-height: 33px;
                }
            }
            .h3{ 
                font-size: 20px;
                width: 380px;
                margin-top: 55px;
                @media (max-width: 767px){
                    width: 100%;
                    margin-top: 35px;
                }
                p{
                    font-size: 17px;
                    color: black;
                    font-weight: 300;
                    font-family: Montserrat;
                    @media (max-width: 1100px){
                        
                        font-size: 18px;
                    }
                    @media (max-width: 767px){
                        font-size: 15px;
                    }
                }
            }
            
        }
        img{
            max-width: 100%;
        }
    }
}
.colouredparsys.parsys{
    
    .acs-commons-resp-colctrl-col.acs-commons-resp-colctrl-col-40{
        .text.section {
            position: relative;
            @media (max-width: 768px){
                width: 95%;
                margin: auto;
            }
            p {
                @media (max-width: 768px){
                    width: 75% !important;
                }
            }
        }
    }
}