// Custom Variables override
@import "../core/custom-variables";
//
// Grid
// --------------------------------------------------

// add bottom margin space to a column
.col-block {
	margin-bottom: 2em;
}

.divider {
	margin-top: 1.5ex;
	margin-bottom: 2ex;
	padding-bottom: .5ex;
	text-align: center;
}

a.divider {
	font-family: @font-family-futura;
	margin-top: 4ex;
	margin-bottom: 2ex;
	padding-bottom: .5ex;
	font-style: italic;
	line-height: 1.1;
}

.divided {
	margin-bottom: 0;
	padding-bottom: .5ex;
	text-align: left;
}

.full {
	display: block;
	width: 100%;
}

.gray {
	color: @gray-dark;
}

.blue {
	color: @brand-primary;
}
.fake-map {
	overflow: hidden;
	max-height: 340px;
}


// .breadcrumbx {
// 	> a {
// 		font-size: @font-size-h6;
// 		font-style: italic;
// 	}
// }
