// Custom Variables override
@import "../core/custom-variables";
//
// HELPERS
// --------------------------------------------------

.border-right-md {
	@media (min-width: @screen-md-min) {
		border-right: 1px solid @gray;
	}
}

.border-right-white {
	@media (min-width: @screen-md-min) {
		border-right: 1px solid #fff;
	}
}

.invis {
	display: none;
	visibility: none;
}
