// Custom Variables override
@import "../core/custom-variables";
// Scaffolding
// --------------------------------------------------

body {
	letter-spacing: .5px;
}
p, li {
	a {
		color: #231f20;
	}
}
