// Custom Variables override
@import "../core/custom-variables";
//
// Typography
// --------------------------------------------------


h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
	text-transform: normal;
	color: @gray-dark;
}


p.lead {
  font-size: floor((@font-size-base * 1.25));
  font-weight: 400;

  @media (min-width: @screen-sm-min) {
    font-size: (@font-size-base * 1.25);
  }
}

address {
	margin-bottom: 2ex;
}

h2, .h2 {
	@media (min-width: @screen-md-min) {
		font-size: 40px;
	}
}

.has-sub-heading {
	// margin-top: 30px;
	h1:first-of-type {
		margin-bottom: 0;
		color: @gray-dark;
	}
	h1:last-of-type {
		margin-top: 0;
		// .blue;
		color: @gray-dark;
	}
}

blockquote {
	footer {
		color: @gray-dark;
		font-style: italic;
		cite {
			font-style: italic;
			color: @link-color;
		}
	}
}

