#footer {
    padding: 3em 0 1em;
    margin-top:3em;
    .input-group-btn {
        button {
            margin-left: 0px;
        }
    }
    input#email-signup {
        height: 36px;
    }
    small {
        font-size: 75%;
    }
}
.footer-block {
    margin-bottom: 1em;
}
.footer-nav {
    float: left;
   
    dd {
        font-size: .95em;
        a {
            width: 100%;
            display: inline-block;
            padding: 5px 0;
        }
    }
}
.footer-heading {
    font-size: 1.75em;
    font-family: "futura-pt-condensed", Helvetica, Arial, sans-serif;
    font-weight: 100;
    margin-bottom: .125em;
    display: inline-block;
    margin-top: 0;
}
.footer-social-nav {
    float: none;
    li {
        display: inline-block;
        font-size: 1.5em;
        margin-left: 7px;
        top: 6px;
        position: relative;
        list-style-type: none;
    }
    a {
        color: #1e3e6e;
    }
}
@media {
    (min-width: {
        768px) {
            .footer-social-nav;
        }
    }
}
.app-store-icons {
    li {
        margin-bottom: 10px;
    }
}
.copyright {
    margin-right: 1em;
}
.terms-nav {
    a {
        color: #003f72;
    }
    a:hover {
        color: #001526;
    }
}
