#footer {
  padding: 3em 0 4em;
}

@media (max-width: 767px){
    #footer{
      padding-bottom: 7em;
    }
}

#footer nav[role="navigation"]{
  min-height:130px;
}

.footer-block {
  margin-bottom: 0;
}
.footer-nav {
  float: left;
}
#footer dl.footer-nav{
  margin-bottom: 10px;
}
#footer .footer-block .col-block{
  margin-bottom: 10px;
}
.footer-nav dd {
  font-size: .95em;
}
.footer-nav h3{
  margin-top:0;
}
.footer-nav dd a {
  width: 100%;
  display: inline-block;
  padding: 5px 0;
}
.footer-heading {
  font-size: 1.75em !important;
  font-family: "futura-pt-condensed", Helvetica, Arial, sans-serif;
  font-weight: 100 !important;;
  margin-bottom: .125em !important;;
  display: inline-block;
  top: 0 !important;
  line-height: 1.1;
}
.footer-social-nav {
  float: none;
  padding: 0;
}
@media (min-width: 768px) {
  .footer-social-nav {
    float: right !important;
    margin-bottom: 10px;
  }
}
.footer-social-nav li {
  display: inline-block;
  font-size: 1.5em;
  margin-left: 7px;
  top: 6px;
  position: relative;
  list-style-type: none;
}
.footer-social-nav dd {
  display: inline-block;
  font-size: 1.5em;
  margin-left: 7px;
  top: 6px;
  position: relative;
}
.footer-social-nav a {
  color: #1e3e6e;
  text-decoration: none;
}
.footer-social-nav h3 {
 margin-top: 0;
}
.footer-social-nav a:visited{
  color: #1e3e6e;
  text-decoration: none;
}
.footer-social-nav a:hover{
  color: #0e1c32;
  text-decoration: none;
}
.footer-social-nav a:focus{
  text-decoration: none;
  outline:thin dotted;
  outline:5px auto -webkit-focus-ring-color;
  outline-offset:-2px;
}
.app-store-icons{
  margin-bottom: 10px;
}
@media (max-width: 767px){
.app-store-icons{
  margin-bottom: 0;
}
}
.app-store-icons li {
  margin-bottom: 0;
}
@media (max-width: 767px){
.app-store-icons li {
  margin-bottom: 10px;
}
}
.copyright {
  margin-right: 1em;
}
#footer .footer-block ul.terms-nav{
  margin-bottom: 0;
}
.terms-nav a {
  color: #003f72;
}
.terms-nav a:hover {
  color: #001526;
}
#footer .input-group-btn button {
    margin-left: 0px;
}
#footer .small {
    font-size: 0.95em;
}
#footer .footer-block ul.terms-nav li.footer-divider{
  padding: 0;
}
