.ext-strict #CQ .x-form-text{
	height:22px !important; 
}

#CQ .x-form-label-left label.x-form-item-label{
	font-weight:normal;
}
.DivbelowNavHome, .contentDiv{
	margin-top: 70px !important;
}
.carousel-inner {
	height: auto !important;
}